[2019-07-20 16:09] #4186 closed

[2019-07-20 16:09] #691 closed

[2019-07-20 16:11] #494 closed

[2019-07-20 16:12] jjgao commented on #4366
We are considering replace the network tab with new pathway mapper viz, so we may not need to work on this any more.

[2019-07-20 16:12] #4366 closed

[2019-07-22 11:49] jjgao opened #6409 "issue with co-expression"
reported by [a user](https://groups.google.com/forum/#!msg/cbioportal/3gpkOqKTvbQ/slV2M8zKDgAJ), the query below does not return any co-expression data, but expression data for these samples exist.

https://www.cbioportal.org/results/coexpression?session_id=5d3528e0e4b0ab413787c9b6

[2019-07-22 15:20] adamabeshouse commented on #6409
looks like server issue. also if I change one of the profiles it causes a 500 server error

[2019-07-22 15:23] #6321 closed

[2019-07-22 15:23] #6218 closed

[2019-07-22 16:08] jjgao commented on #6409
adding @n1zea144 to this.

[2019-07-22 16:10] jjgao commented on #6409
@n1zea144 will look into this.

[2019-07-22 16:11] #6004 closed

[2019-07-22 16:11] adamabeshouse commented on #4646
whats the plan for this? what should we put into this menu?

[2019-07-22 16:16] #6133 closed

[2019-07-22 16:21] kalletlak commented on #6409
@jjgao looks like there is no expression for queried gene `IGF2BP2`

[2019-07-22 16:35] adamabeshouse commented on #6011
can we close this? @alisman

[2019-07-22 18:06] #6395 closed

[2019-07-22 19:35] jjgao commented on #6409
@kalletlak if you look at the Plots tab, there are expression data for IGF2BP2...

[2019-07-22 20:42] jjgao commented on #4646
@adamabeshouse I am thinking of doing #6300 first.

[2019-07-22 20:45] jjgao commented on #6407
I mean can we move "Annotating with OncoKB and Cancer Hotspots" into the same line? :)

![image](https://user-images.githubusercontent.com/840895/61664066-03341300-aca0-11e9-8662-b9118f3fb609.png)

[2019-07-22 20:47] kalletlak commented on #6409
@jjgao yeah, seems like an issue whenever sampleId's are passed to the api

[2019-07-22 20:47] jjgao commented on #6011
It seems fine to me... @alisman  please reopen if it is still a problem.

[2019-07-22 20:47] #6011 closed

[2019-07-22 20:52] adamabeshouse commented on #4646
lets just go straight to #6300, this implementation is close but is there a point in making two changes to our UI?

[2019-07-22 21:23] jjgao commented on #4646
@adamabeshouse good point. Let's go #6300 straight. It's not urgent to have the global settings button yet.

[2019-07-22 21:47] #6409 closed

[2019-07-22 21:58] adamabeshouse commented on #4646
sounds good. then i'll close this

[2019-07-23 01:26] jjgao opened #6412 "create a unit test to cover #6409"
https://github.com/cBioPortal/cbioportal/issues/6409

Maybe screenshot test too?

[2019-07-23 12:05] jjgao commented on #5189
Should we also add this to the forked interface? ... but it should not be a big button like the other two.

[2019-07-23 14:23] alisman commented on #5189
JJ, I think the problem with forked interface is that, in download mode, you can only select a single study.   We could have a button but it would be disabled if there was more than one study selected?

[2019-07-23 15:57] adamabeshouse commented on #6407
oh lol, yes 😄

[2019-07-23 15:59] adamabeshouse opened #6414 "unclear group comparison overlap message"
from @jjgao:

@adamabeshouse quick question: for [this query](https://cbioportal-frontend-pr-2534.herokuapp.com/comparison/overlap?sessionId=5cf89323e4b0ab413787436c) with overlapping patients but no overlapping samples, whencomparing samples for Mutations, are all samples included? When switching to patients, are the overlapping patients excluded?

I find the message below confusing...

![image](

[2019-07-23 18:01] #6393 closed

[2019-07-23 18:40] #6407 closed

[2019-07-23 18:40] adamabeshouse commented on #6407
https://github.com/cBioPortal/cbioportal-frontend/pull/2564

[2019-07-23 21:32] jjgao commented on #5189
@alisman good point. Let's keep it separate. I might be a good idea to get rid of the Download Data tab and enable the functionality in the Download tab in Results page.

![image](https://user-images.githubusercontent.com/840895/61749026-b586db80-ad6f-11e9-969e-d18118802b9a.png)

That way, we can clean up a lot of code, I think.

[2019-07-23 21:34] jjgao commented on #5189
Maybe @dippindots can help with this once https://github.com/cBioPortal/cbioportal-frontend/pull/2197 is done?

[2019-07-23 21:37] jjgao commented on #5189
@cBioPortal/product any objections if we remove "DOWNLOAD DATA" form and move the functionality to Download tab in the Results page?

[2019-07-23 22:13] n1zea144 commented on #6391
Just a quick update - I cannot get as far as you.  I'm running into an exception from another call into the web service when the coexpression tab is selected:

`ERROR org.cbioportal.web.util.InvolvedCancerStudyExtractorInterceptor - exception thrown during extraction o
f genePanelSampleMolecularIdentifiers: com.fasterxml.jackson.databind.exc.MismatchedInputException: Cannot deserialize instance of

[2019-07-24 14:56] inodb opened #6416 "Add list of external dependencies to Docs"
It's not clear that by default we are using:

- public OncoKB
- public Genome Nexus

For hotspots in mutations table genome nexus calls VEP as well

- we should note somewhere that hotspots only works when having genomic locations

Then also there are the custom visible columns in the mutations table that pull from genome nexus which in turn pulls from

myvariant.info:

- clinvar
- gnomad
- dbsnp

[2019-07-24 16:26] n1zea144 opened #6418 "Variant allele frequency rounding issue?"
We've recently released MSK-ACCESS (cfDNA) data into the portal. Unlike existing clinical bioinformatic assays, very low VAF mutations will be reported with ACCESS.  Currently, some ACCESS samples are appearing with an Allele Freq of 0.00 which we think is due to a rounding down of the quotient Variant Reads / Ref Reads [P-0036946](https://cbioportal.mskcc.org/patient?studyId=mskimpact&caseId=P-00

[2019-07-24 19:04] n1zea144 commented on #6391
@pvannierop I bypassed the jackson issue for the moment by rolling my own coexpression endpoint request.  The following PR should address this issue:
[PR-6420](https://github.com/cBioPortal/cbioportal/pull/6420)

[2019-07-25 19:51] alisman opened #6423 "Fix http errors project"

[2019-07-25 19:54] alisman opened #6424 "Erron on co-expression service"
Following request returns 500 error.  Error occurs if you go to  https://bit.ly/2JSyzqf
and change the right side molecular profile dropdown.

curl 'https://www.cbioportal.org/api/molecular-profiles/co-expressions/fetch?molecularProfileIdA=kirc_tcga_pub_mrna&molecularProfileIdB=kirc_tcga_pub_rna_seq_v2_mrna&threshold=0' -H 'origin: https://www.cbioportal.org' -H 'accept-encoding: gzip, deflate, br

[2019-07-25 20:06] alisman commented on #6424
@kalletlak turns out the error occurs whenever the the profileIds A and B are different.  If they are the same, which is true on coexpression tab by default, request succeeds.

[2019-07-25 20:34] n1zea144 commented on #6424
Should be fixed with this PR:

[PR-6426](https://github.com/cBioPortal/cbioportal/pull/6426)

[2019-07-25 20:35] n1zea144 commented on #6391
Quick upd - fix was merged into master:

[PR-6424](https://github.com/cBioPortal/cbioportal/issues/6424)

[2019-07-25 22:35] jjgao commented on #6418
It was logged #5864 and there was a merge pull request https://github.com/cBioPortal/cbioportal-frontend/pull/2155. @alisman would you please check why this was fixed?

[2019-07-25 22:40] onursumer commented on #6418
@jjgao Because the fix is attempted in the wrong legacy file: `src/pages/resultsView/network/files/mutationMapper.js`.

This legacy file is only included because we have the legacy network tab in a separate iframe. I am not sure if the network tab uses the legacy mutation mapper at all.

[2019-07-25 22:44] jjgao commented on #6418
got it. How come the code was merge! Could you take of this? @onursumer

[2019-07-25 22:50] onursumer commented on #6418
@jjgao apparently, it's been approved by multiple reviewers and then merged. Yet another reason to retire the network tab as soon as possible :)

I'll apply the fix to the correct file and open a PR.

[2019-07-25 22:53] jjgao commented on #6418
thanks, @onursumer

[2019-07-26 12:58] jharenza opened #6430 "oncotree updates"
PNET is no longer a recognized entity and additional subtypes have been created, but are not reflected in the current oncotree - is there a plan to update this? Medulloepithelioma was also removed and CNS embryonal tumour with rhabdoid features, CNS embryonal tumor, NOS added.

Similarly, ependymomas and high grade gliomas were further molecularly characterized, so would be great to add all of the

[2019-07-26 13:30] anthony-cros opened #6431 "Excessively long expression number in profile nbl_target_2018_pub_rna_seq_mrna"
Genetic profile `nbl_target_2018_pub_rna_seq_mrna` (internal ID: 8082) contains a slightly concerningly long expression value (310 digits long):

`1797690000000001061150459688749332263116686882756136395879740050620035092762684118012098930803998986934320909520978289006072021096712533396735505113524175079313498556241533208030965303073430888505232551606853417695522818385730682491772681615967263263021

[2019-07-26 13:35] anthony-cros commented on #6431
(Note that this is per dump `public-portal-dump.20190601.v2.8.2.sql.gz`)

[2019-07-26 13:36] kalletlak commented on #6412
Looks like unit test is already covered. It did not catch the error because backend call is mocked. Adding screenshot test should cover it

[2019-07-26 14:27] anthony-cros opened #6432 "243 incorrect `GENETIC_ENTITY_ID`s in `genetic_alteration`?"
Though all values in `genetic_alteration.GENETIC_ENTITY_ID` do correctly refer to an existing `genetic_entity.ID` (as expected from the FK), there are 243 of these `genetic_alteration.GENETIC_ENTITY_ID` values which refer to `genetic_entity.ID`s for which there is no corresponding `gene.ENTREZ_GENE_ID`. Example value: `147756` (I put the full list in this [gist](https://gist.github.com/anthony-cro

[2019-07-26 16:21] #6291 closed

[2019-07-26 16:30] anthony-cros opened #6433 "Unexpected distribution for all_phase2_target_2018_pub_methylation_hm27 (or wrong description)"
While all 63 other methylation profiles essentially are essentially distributed in this manner (beta-values): ![3203](https://user-images.githubusercontent.com/1139265/61966452-a63aa480-afa0-11e9-83f3-ca5e59cf96d5.png). Profile `all_phase2_target_2018_pub_methylation_hm27` (8382) looks as follows:
![8382](https://user-images.githubusercontent.com/1139265/61966474-b05ca300-afa0-11e9-8428-a3ae13156a

[2019-07-26 18:18] anthony-cros opened #6435 ""Orphan" GENETIC_PROFILE_IDs found in genetic_alteration"
13 IDs (8374, 3357, 7505, 8113, 2826, 8346, 7878, 3396, 8376, 6902, 8295, 7796, 3412) do not belong to `genetic_profile.GENETIC_PROFILE_ID`.

The odd thing is that there's supposed to be an FK preventing that (maybe added later?):
[code]

This may not create problems per se, but if they are are obsolete it's probably best to remove them

PS: per `public-portal-dump.20190601.v2.8.2.sql.gz` dump

[2019-07-26 20:19] #5634 closed

[2019-07-26 20:34] jjgao commented on #5189
@alisman @dippindots let's remove the DOWNLOAD DATA interface (ideally also clean up the code), and implement it in the Download tab in the Results page.

![image](https://user-images.githubusercontent.com/840895/61749026-b586db80-ad6f-11e9-969e-d18118802b9a.png)

[2019-07-26 22:52] onursumer opened #6991 "Add Civic and MyCancerGenome support for the react-mutation-mapper annotation column"
Current annotation column of the react-mutation-mapper library only supports OncoKB and Cancer Hotspots

[2019-07-27 16:17] jjgao commented on #6431
Thanks, @anthony-cros . I am moving this to datahub.

[2019-07-27 16:22] jjgao commented on #6189
related issue https://github.com/cBioPortal/cbioportal/issues/6432

[2019-07-27 16:31] jjgao commented on #1088
I am closing this. Please create a new issue if there are remaining issues.

[2019-07-27 16:31] #1088 closed

[2019-07-27 16:33] #2184 closed

[2019-07-27 16:33] #2539 closed

[2019-07-27 21:29] jjgao commented on #5798
session service is required now.

[2019-07-27 21:29] #5798 closed

[2019-07-27 21:32] #1446 closed

[2019-07-27 21:37] jjgao commented on #1830
we have rewritten the code in python and will remove the requirement of using CNA data.

@yichaoS @rmadupuri please update documentation about zscores for using python script once it's done.

[2019-07-27 21:37] #1830 closed

[2019-07-27 21:48] jjgao commented on #6189
Once we switch, it is also an opportunity to switch to `previous symbols` instead of `synonyms` and hopefully remove manny ambiguity, e.g. mll2. We maybe able too remove this file too: https://github.com/cBioPortal/cbioportal/blob/master/core/src/main/resources/gene_symbol_disambiguation.txt.

[2019-07-27 21:49] jjgao commented on #1870
we should aim to remove the file: https://github.com/cBioPortal/cbioportal/issues/6189#issuecomment-515715857

[2019-07-27 22:00] #4606 closed

[2019-07-27 22:14] #4805 closed

[2019-07-27 22:20] #3104 closed

[2019-07-27 22:21] jjgao commented on #5005
seems working now.

[2019-07-27 22:21] #5005 closed

[2019-07-27 22:21] #5536 closed

[2019-07-27 22:23] #5650 closed

[2019-07-27 22:26] #2406 closed

[2019-07-28 23:13] jjgao opened #6438 "lollipop plot: adding tracks to the downloaded pdf/svg"

[2019-07-29 15:06] anthony-cros opened #6439 "Inconsistencies between _all sample lists and actual samples in studies"
I found the following inconsistencies between the two:

[code]

eg the first row shows that sample 705002 is part of the study (818 samples) but not included in the `_all` sample_list (817 samples).

Oddly enough though, the mismatch is always this way around, that is: it's always the sample list that is missing a sample (as opposed to a sample list listing an extra sample). It made me wonder if t

[2019-07-29 15:08] anthony-cros commented on #6439
Note: there are also quite a few discrepancies between actual sample counts and the sample count provided in some list `DESCRIPTION` fields (eg `All samples with methylation (HM450) data (NNN samples)`

[2019-07-29 15:10] anthony-cros commented on #6439
Here's a less detailed version of the list provide above (ordered by the size of the difference):
[code]

[2019-07-29 19:12] anthony-cros opened #6441 "Only 1 sample does not appear in clinical_sample"
Sample `342599` is the only one (out of 77K others) not to appear in `clinical_sample` table (suscipicious)

[2019-07-29 20:41] onursumer opened #6442 "proxy is not working for Mutations tab"
https://groups.google.com/forum/#!topic/cbioportal/zAPq0BXCw1Q

This is a bug due to the way API clients are initialized in `react-mutation-mapper`

[2019-07-29 20:47] kalletlak commented on #4975
@fedde-s @sheridancbio any updates on this?

[2019-07-29 21:37] anthony-cros opened #6443 "Wrong classification for miRNA data?"
It looks like miRNA data is classified as `MRNA_EXPRESSION`. Is this a known limitation? There doesn't seem to be a `MIRNA_EXPRESSION` value for GENETIC_ALTERATION_TYPE

[code]

Incidentally, the `DESCRIPTION` for row for _8084_ explicitly refers to mRNA

[2019-07-29 23:36] anthony-cros commented on #6443
actually, it looks like there's an enum value for it: `GeneticAlterationType.MICRO_RNA_EXPRESSION`

[2019-07-30 02:22] jjgao opened #6444 "Adding clinical trials matching in patient view"
One option is bu match clinical trials based on curated trials using MatchMiner https://github.com/cBioPortal/cbioportal-frontend/pull/2532.

Another strategy is to matching trials based on matched drugs (per OncoKB or other resources) and cancer types: https://github.com/genome-nexus/genome-nexus/issues/302

[2019-07-30 02:26] jjgao opened #6445 "Standalone Patient View/Report tool"
It would be useful to develop a standalone tool to allow user to update data for patient view/report visualization. The uploaded data can be

- Patient clinical data, e.g. cancer type
- A VCF / MAF of mutations
- Copy number alterations
- Fusions

[2019-07-30 02:27] jjgao opened #6446 "PDF of patient view page"
It would be nice if we can export the patient view page to be a PDF similar to a patient repoort.

[2019-07-30 02:42] jjgao commented on #6443
@anthony-cros it's known. GeneticAlterationType.MICRO_RNA_EXPRESSION is not being used currently.

[2019-07-30 02:42] #6443 closed

[2019-07-30 02:56] jjgao opened #6447 "Filter mutations based on annotation in mutation mapper"
We should be able to filter data based on any annotation/track.

[2019-07-30 02:59] jjgao commented on #6113
@leexgh is this solved?

[2019-07-30 03:02] jjgao opened #6448 "Adding tables of copy number alterations and fusions into Mutations tab"
- [ ] create two additional tables for copy number alterations (?) and fusions
- [ ] add annotations
- [ ] visualize fusions in the lollipop diagram

[2019-07-30 03:04] jjgao opened #6449 "Filtering mutated genes table for only oncogenic mutations"
... initially based on OncoKB.

[2019-07-30 03:07] jjgao opened #6451 "Looking for oncogenic mutations / CNAs / fusions in comparison analysis"

[2019-07-30 03:09] jjgao opened #6452 "Combining oncogenic alteration on gene level for comparison"
Currently, we separately look for mutations, oncogenic mutations, CNAs, fusions in enrichment analysis. It would be a great enhancement if we can combine oncogenic alterations of all different alteration types and do an enrichment analysis on the gene level.

[2019-07-30 03:15] n1zea144 commented on #6391
There was another issue with various executions paths leading to molecular data that is related to this issue.  The following PR should be tested before closing this issue:
[6450](https://github.com/cBioPortal/cbioportal/pull/6450)

[2019-07-30 03:16] zhx828 opened #6453 "OncoKB Analysis in Study View"
**Background**:
The Study View (e.g. [MSK-IMPACT 2017 study](https://www.cbioportal.org/study?id=msk_impact_2017)) of cBioPortal provides a powerful interactive way for exploring clinical and genomic data in a study (cohort of samples).

[OncoKB](https://oncokb.org/) is a precision oncology knowledge base and contains information about the effects and treatment implications of specific cancer gene

[2019-07-30 08:36] fedde-s commented on #4975
As for me, I don't plan to work on it any time soon. As for peope in my office who may be running into it or working with adjacent code: @SRodenburg, @oplantalech or @pvannierop, do any of you think that potentially making study removal more performant/robust would fit something you're working on?

[2019-07-30 09:29] SRodenburg opened #6454 "Missing PROTEIN_LEVEL test case in study_es_0"
There is no test dataset in study_es_0 of type PROTEIN_LEVEL, such as RPPA or MS data.

[2019-07-30 16:31] tmazor opened #6455 "co-expression tab fails for user-defined sample set"
User reported bug: https://groups.google.com/forum/#!topic/cbioportal/wOdcVXdbLbs

Co-expression tab shows no data when a query is run on a user-defined sample set.

The plots tab shows that these samples do have expression data, and co-expression works when querying the whole study.

Examples:
https://www.cbioportal.org/results/coexpression?session_id=5d3fa77be4b0ae75b0adb011
https://www.cbioport

[2019-07-30 16:34] kalletlak commented on #6455
@tmazor fixed in https://github.com/cBioPortal/cbioportal/pull/6411.
Latest master needs to be deployed to public instance

[2019-07-30 23:36] #6442 closed

[2019-07-31 03:12] jjgao opened #6459 "integration of Genome Nexus API 2.0 in cBioPortal"

[2019-07-31 14:42] alisman opened #6460 "Please investigate/fix this test"
https://circleci.com/gh/cBioPortal/cbioportal-frontend/43716?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-07-31 17:25] jjgao opened #6461 "performance issue for genie"
GENIE study view is slow. Query is also kind of slow. I am wondering if it’s due to all the gene panels in genie. The implementation on gene panels are not optimized.

[2019-07-31 19:07] jjgao commented on #6455
duplicate with #6409

[2019-07-31 19:33] leexgh commented on #6113
@jjgao yes it's done, maybe we can close this issue?

[2019-07-31 19:50] #6112 closed

[2019-07-31 19:51] #6111 closed

[2019-07-31 19:52] leexgh commented on #6460
see fix here: https://github.com/cBioPortal/cbioportal-frontend/pull/2574

[2019-07-31 20:12] alisman commented on #6455
@tmazor @jjgao 6411 deployed today.  i verified on the links above.  please test and close.

[2019-08-01 02:42] #6113 closed

[2019-08-01 02:43] jjgao commented on #6460
@leexgh it would be good if you can link issues in pull request (with Zennhub) so that issues can be closed automatically when the pr is merged.

[2019-08-01 02:47] jjgao commented on #6455
@alisman Thanks. it's fixed. Somehow the coexpression tab seems very slow...

[2019-08-01 02:55] jjgao commented on #6455
the slowness might be due to my slow internet at home today -- will test tomorrow.

[2019-08-01 15:19] tmazor commented on #6455
Agreed, looks like this is fixed. Co-expression seems slow for me too, but also could be due to my internet right now. @jjgao I'm going to close this issue but if you are still seeing slowness on a good internet connection can you open a new issue about that?

[2019-08-01 15:19] #6455 closed

[2019-08-01 15:31] alisman opened #6465 "Mobx issue awaiting the promised returned by function"
If you look at @khzhu  [PR](https://github.com/cBioPortal/cbioportal-frontend/pull/2180) , there's a function makeEnrichmentDataPromise in resultsViewPagetStoreUtils which makes use of hugoGeneSymbolToReferenceGene.  (This is new code introduced by PR).  This would seem to require that we add hugoGeneSymbolToReferenceGene to the await collection of the remoteData which the function is returning. B

[2019-08-01 15:32] leexgh commented on #6460
@jjgao no problem, this issue was open after my fix PR had been merged, so I didn't have a chance to link them before

[2019-08-01 15:33] onursumer opened #6466 "IGV viwever fails to load the selected locus"
The error seems to be related to CORS settings on the IGV web service:
[code]

[2019-08-01 19:13] adamabeshouse commented on #6465
makeEnrichmentDataPromise depends on hugoGeneSymbolToReferenceGene
which depends on referenceGenes
which depends on mutationEnrichmentData
which is a makeEnrichmentDataPromise, thus depends on hugoGeneSymbolToReferenceGene

[2019-08-01 20:56] #6412 closed

[2019-08-01 21:52] khzhu commented on #6465
followed Adam proposal and got the issue resolved. Huge thanks to @alisman and @adamabeshouse!

and our final enrichment data uses referenceGenes, we had to break this codependence apart
thus we have _mutation...WithoutCytoband, which does all the enrichment data stuff, but doesnt add cytoband
i.e., doesnt need referenceGenes
now referenceGenes can safely depend on that
finally, mutationEnrichment

[2019-08-01 21:52] #6465 closed

[2019-08-01 22:09] jjgao opened #6467 "co-expression is slow?"
The co-expression seems slower than before. I am wondering if we can find a way to test?

[2019-08-01 22:09] jjgao commented on #6455
It still feels slow. I created an issue: https://github.com/cBioPortal/cbioportal/issues/6467

[2019-08-01 23:13] n1zea144 commented on #6467
Its pretty clear that fetching gene information provides a great deal of overhead when processing coexpression requests.  I think we should reconsider this issue after discussing this one -

[PR-6456](https://github.com/cBioPortal/cbioportal/pull/6456)

[2019-08-02 02:27] jjgao commented on #6460
Got it. Thanks for the explanation! Is this fixed now?

[2019-08-02 02:27] #6460 closed

[2019-08-02 02:28] jjgao commented on #6466
@onursumer maybe contact Jim?

[2019-08-02 10:56] j-hudecek opened #6468 ""Can't create table data_access_tokens (errno: 150)" cannot migrate DB from 2.7.3 to 2.9.0"
I would like to upgrade our private instance from v2.7.3 to v2.9.0 (for v3.0.3) but when running the db migration script I get the following error:

     $ python3.6 cbioportal/core/src/main/scripts/migrate_db.py -p  cbioportal/src/main/resources/portal.properties --sql cbioportal/db-scripts/src/main/resources/migration.sql
     ...
     Executing statement: CREATE TABLE `data_access_tokens` ( `TO

[2019-08-02 16:20] leexgh commented on #6460
@jjgao yes it's fixed

[2019-08-02 16:22] zhx828 opened #6470 "OncoKB Annotation causes blank page"
I think this is related to the recent react-mutation-mapper moves.
https://www.cbioportal.org/patient?sampleId=TCGA-DK-A1A3-01&studyId=blca_tcga_pub
MYB gene, variant G510E

[2019-08-02 19:39] #6470 closed

[2019-08-05 08:38] xiangxingze opened #6471 "What JS draws a lollipop chart?"
What JS draws a lollipop chart?

[2019-08-05 14:40] zhx828 opened #6996 "The long text should have a tooltip in oncokb treatment table"
![Screen Shot 2019-08-05 at 10 39 40 AM](https://user-images.githubusercontent.com/5400599/62472773-7001df80-b76d-11e9-8a77-b16f5f669d87.png)

[2019-08-05 17:44] zhx828 opened #6473 "Fix checkbox misalignment issue"
![Screen Shot 2019-08-05 at 1 42 24 PM](https://user-images.githubusercontent.com/5400599/62483938-ef4fdd00-b786-11e9-9c08-401ef14d464a.png)

@adamabeshouse maybe the top alignment is intentional? You can test on genie portal.
Feel free to reassign it to me since I'm fixing some other issues on study view

[2019-08-05 18:03] adamabeshouse commented on #6473
@zhx828 is this after your 'block' fix? that would cause it

[2019-08-05 18:07] zhx828 commented on #6473
@adamabeshouse nope. The block element has a flex parent. The issue is already in production.

[2019-08-05 18:09] adamabeshouse commented on #6473
ohh okay. should be a quick fix, put the checkbox in the same flex as the text. it's definitely not intentional

[2019-08-05 18:23] jjgao commented on #6471
@xiangxingze please send you questions to cbioportal@googlegroups.com. Thanks!

[2019-08-05 18:23] #6471 closed

[2019-08-05 18:26] jjgao commented on #6414
@adamabeshouse is this fixed? I still see the same message on production.

[2019-08-05 18:31] zhx828 opened #6474 "Results view should give error message when molecular-profile is not available"
Currently when the call to `https://cbioportal.mskcc.org/api/molecular-profiles/{molecularProfile}/molecular-data/fetch` is failing(404), the page shows a loading bar.

Suggestion: Give an error message instead.

https://cbioportal.mskcc.org/results/plots?Action=Submit&cancer_study_list=crc_jga_msk_2019&case_set_id=crc_jga_msk_2019_all&clinicallist=NUM_SAMPLES_PER_PATIENT&gene_list=TP53&genetic_pr

[2019-08-05 18:37] jjgao commented on #6474
@alisman this falls in the same category of issues related to error handling.

[2019-08-05 18:46] #6418 closed

[2019-08-05 19:54] adamabeshouse commented on #6414
oh I thought that after further discussion it was actually correct and the problem was the tab analysis wasn't in agreement.

It's correct because all analyses are done on either sample level or patient level, never together. So the message still is correct. Should it be phrased in a better way?

[2019-08-05 20:17] adamabeshouse opened #6476 "look at tests failing in frontend release-3.1.0"

[2019-08-05 20:26] mandawilson commented on #6468
Hi @j-hudecek.  Can you login to MySQL and check what the default storage engine is, as well as what your users table storage engine is?  E.G.
[code]

[2019-08-05 20:46] jjgao commented on #6414
I think the message itself is confusing. We should rephrase it.

[2019-08-06 17:16] adamabeshouse commented on #6414
any ideas?

[2019-08-06 18:09] alisman commented on #6404
@jjgao right now we determine overlap purely based on study name.   That study name is not related any of the studies you cite (e.g. stes_tcga_pub vs. esca_tcga) and that's why it's not highlighted here.   I think we've concluded that the only robust solution to this issue is precalculated overlap pairs delivered in meta data.   Lets open an new ticket for a project of that nature.

[2019-08-06 18:09] #6404 closed

[2019-08-06 18:11] alisman commented on #6265
study name was fixed

[2019-08-06 18:11] #6265 closed

[2019-08-06 18:23] alisman commented on #6403
@dippindots @zhx828  i think we should solve this in the same was as we handle cohorts on patient view. list of ids are put in the url hash.

[2019-08-06 18:24] alisman commented on #5608
Lets wait until these portals are hosted on aws.  Much easier to deal with re-configuration

[2019-08-06 18:42] adamabeshouse commented on #6476
looks like the group comparison enrichments tests are failing because cytoband no longer appears. not sure if this is due to API change relating to @khzhu 's changes for varying reference genes

[2019-08-06 18:47] tmazor commented on #6414
How about:

Overlapping samples (10) are excluded from sample-level analysis on other tabs.
Overlapping patients (2) are excluded from patient-level analysis on other tabs.

We could show just one of those sentences if only samples or patients are overlapping, or both sentences if both are overlapping.

@jjgao is that more clear?

[2019-08-06 18:49] adamabeshouse commented on #6414
that sounds good to me. should we show a message for 0 or just omit it?

[2019-08-06 18:51] tmazor commented on #6414
I would vote to omit the message for 0

[2019-08-06 19:06] adamabeshouse commented on #6476
the oncoprint tests are failing because the gene panel API is returning null responses

[2019-08-06 20:23] khzhu commented on #6476
@adamabeshouse , I will take a look at it as well.

[2019-08-06 20:29] jjgao commented on #6476
@adamabeshouse Thanks. Maybe create separate issues for them? I think we can ask @n1zea144's team to look at the second one. Please slack them.

[2019-08-06 20:37] alisman commented on #5468
@kalletlak can you research why this is happening?   Most likely reason is that we are doing some computation inside of a mobxpromise invoke.  When we change log scale state, that promise recomputes and automatically passes through a pending->complete cycle even though there is no actual asychronous operation.   This is a result of our use of facade mobxpromises which just process the result of un

[2019-08-06 20:38] kalletlak commented on #5179
@jjgao @alisman should we just do https://www.cbioportal.org/results?cancer_study_id=5bdc9f43498eb8b3d5689cc9

[2019-08-06 20:40] j-hudecek commented on #6468
Default is InnoDB but the table was on MyISAM for some reason. Also it used latin1 instead of utf8 like users, but running

    ALTER TABLE users ENGINE = InnoDB;
    ALTER TABLE data_access_tokens CONVERT TO CHARACTER SET utf8;

fixed it and I could add the constraint. Thanks, Manda

[2019-08-06 20:40] #6468 closed

[2019-08-06 20:44] alisman commented on #5179
@kalletlak that one shows the list of sample ids and selected physical studies but i think what we want is to have the actual virtual study selected.

[2019-08-06 21:04] alisman opened #6478 "Re-enable all skipped tests in e2e and troubleshoot them"
We may find that some of these tests should be deleted.  Lets unskip them and research whether they can be fixed. @adamabeshouse can help advise you.

[2019-08-06 21:09] adamabeshouse opened #6479 "release-3.1.0: cytoband not appearing in group comparison enrichments tabs"
![image](https://user-images.githubusercontent.com/636232/62577305-a8d4ae00-b86c-11e9-971c-89840075b94b.png)

maybe fixed by https://github.com/cBioPortal/cbioportal-frontend/pull/2180?

[2019-08-06 21:11] adamabeshouse opened #6480 "release-3.1.0: gene panel API seems to be returning null"
e.g. https://beta.cbioportal.org/results/oncoprint?=&Action=Submit&RPPA_SCORE_THRESHOLD=2&Z_SCORE_THRESHOLD=1&cancer_study_list=coadread_tcga_pub&case_set_id=coadread_tcga_pub_nonhypermut&clinicallist=0%2C2%2CMETHYLATION_SUBTYPE&data_priority=0&gene_list=KRAS%20NRAS%20BRAF&geneset_list=%20&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=coadread_tcga_pub_gistic&genetic_profile_ids_PROFILE_MRNA_

[2019-08-06 21:11] adamabeshouse commented on #6476
https://github.com/cBioPortal/cbioportal/issues/6480
https://github.com/cBioPortal/cbioportal/issues/6479

[2019-08-06 21:17] alisman commented on #5189
@dippindots, as JJ's last comment shows, in order to replace the download data feature on homepage, the results view donwload tab needs to give the user a chance to select a molecular profile (which may not be the same profile as was submitted in query).   That's what the dropdown above shows.   I would implement this as a modal.  When user clicks a download in this list, we should show them a dia

[2019-08-06 21:26] alisman opened #6481 "Upgrade typescript and react"

[2019-08-06 21:45] kalletlak commented on #5179
@alisman if its a shared virtual study then physical studies would be selected. if its a saved virtual study then actual virtual study would be selected

[2019-08-07 04:22] #6354 closed

[2019-08-07 09:35] mandawilson commented on #6468
Excellent!  MySQL < 5.5.5 had MyISAM as the default storage engine, but for versions >= 5.5.5 InnoDB is the default storage engine.  Some cBioPortal databases set up on older MySQL versions that have been upgraded to >= 5.5.5 sometimes do have a mix of MyISAM and InnoDB tables, which as you saw is not a very good idea or just plain doesn't work.  We spent some time changing all of our tables to In

[2019-08-07 12:43] Sjoerd-van-Hagen commented on #494
@jjgao is this implemented, or just made part of the design of future implementation work?

[2019-08-07 14:10] kalletlak commented on #6403
@jjgao how about when querying single study with cases subset(user defined cases or it can be any case list) except `All Samples`? do we want same behavior even for this?

[2019-08-07 15:03] tmazor opened #6482 "add save for hidden custom charts & delete functionality in study view"
As of https://github.com/cBioPortal/cbioportal-frontend/pull/2174, custom charts that are visible in study view will be saved for logged in users.

Custom charts that are currently hidden should also be saved. Since custom charts will then be permanently saved for a user, we should also add the ability to delete a custom chart.

[2019-08-07 15:25] kalletlak opened #6484 "sv: toggling log scale on one chart adds back all removed bar charts"

[2019-08-07 17:06] #6357 closed

[2019-08-07 18:29] khzhu commented on #6479
@adamabeshouse @jjgao , all fixed. The changes have been merged into **_enrichments-merge-lock_**.

[2019-08-07 18:29] #6479 closed

[2019-08-07 20:45] n1zea144 commented on #6480
Hi @adamabeshouse.  When I run this query against release-3.1.0, I see the following exception thrown on the backend:
`
ERROR org.cbioportal.web.util.InvolvedCancerStudyExtractorInterceptor - exception thrown during extraction of genePanelSampleMolecularIdentifiers: com.fasterxml.jackson.databind.exc.MismatchedInputException: Cannot deserialize instance of `org.cbioportal.web.parameter.SampleMolec

[2019-08-07 20:50] leexgh commented on #6476
the mutation table tests are failing because the mutation structure was changed (see https://github.com/cBioPortal/cbioportal/pull/5891 and https://github.com/pughlab/cbioportal/blob/a46a54aa4873979ce7ae9170e2b68fcbfad09bd9/model/src/main/java/org/cbioportal/model/Mutation.java#L17).
See quick fix here - https://github.com/cBioPortal/cbioportal-frontend/pull/2587
But we need to update the cBioPort

[2019-08-08 04:18] jjgao commented on #5189
Instead of a moodel diagram, how about just have the dropdown in the page, as in the mock-up above?

[2019-08-08 04:23] jjgao commented on #6403
@kalletlak yes, we do. I think the link to study view should alway open exactly the same set of samples in the query.

[2019-08-08 04:27] jjgao commented on #6482
Maybe we can add the functionality in the Custom Data sub-menu? Once custom data is submitted, it will be listed in a table with the option to delete?

[2019-08-08 05:50] lakhujanivijay opened #6485 "Cancer type of study is neither known to the portal nor defined in a cancer_type file"
Hi

I am trying to import data into cbioportal and my command is this:
[code]
I encounter the following error:

[code]
my `meta_study.txt` file looks like this:

[code]

It is weird that I was able to upload the exact same data set with `mixed` cancer type and now it says that "_Cancer type of study is neither known to the portal nor defined in a cancer_type file"_

[2019-08-08 15:06] #5468 closed

[2019-08-08 15:07] #6484 closed

[2019-08-08 15:11] onursumer commented on #6466
This works fine now. Probably the IGV service was temporarily down.

Maybe we should add a screenshot test for the CN Segments tab, so that we can catch service errors earlier.

[2019-08-08 19:09] dippindots commented on #6485
Hi @lakhujanivijay, have you imported the seed database before this step? If not, you probably want to do that first: [import seed database](https://docs.cbioportal.org/2.1.2-deploy-without-docker/import-the-seed-database.). The mixed cancer type has been defined in it.

[2019-08-08 19:46] adamabeshouse commented on #6480
got it. that makes sense. I'll check that out, thanks

[2019-08-08 22:07] adamabeshouse commented on #6414
what about in "include mode", where the message just explains what the overlap is? should we keep the format as-is now?

[2019-08-09 06:55] lakhujanivijay commented on #6485
Hi @dippindots

I reinstalled cbioportal using docker which resolved the issue. Many thanks :+1:

[2019-08-09 06:57] lakhujanivijay opened #6487 "Why cBioportal can be accessed after machine restart ?"
Hi,

I have installed cBioPortal using docker and it is working fine till the time I restart my machine. Every time I do that, I can no longer access the local instance.  Is it something related with mounting volumes using docker; like it is being unmounted on restart. Any guesses ?

[2019-08-09 06:57] lakhujanivijay opened #6488 "Why cBioportal cannot be accessed after machine restart ?"
Hi,

I have installed cBioPortal using docker and it is working fine till the time I restart my machine. Every time I do that, I can no longer access the local instance.  Is it something related with mounting volumes using docker; like it is being unmounted on restart. Any guesses ?

[2019-08-09 16:38] kalletlak opened #6491 "Blank results page when querying a saved virtual study with case set other than "All""
ex https://www.cbioportal.org/results/oncoprint?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=5d4da0cde4b0ae75b0adbf72&case_set_id=w_mut&data_priority=0&gene_list=ALK%2520MYC%2520TP53&geneset_list=%20&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=acc_tcga_gistic&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=acc_tcga_mutations&tab_index=tab_visualize

[2019-08-09 18:06] kalletlak commented on #6487
duplicate of https://github.com/cBioPortal/cbioportal/issues/6488

[2019-08-09 18:06] #6487 closed

[2019-08-09 21:29] adamabeshouse commented on #6480
fixed now in frontend release-3.1.0

[2019-08-09 21:29] #6480 closed

[2019-08-09 21:32] adamabeshouse commented on #6476
looks like we're down to around 3 failing tests!

[2019-08-10 14:18] jjgao commented on #5819
@zhx828 https://github.com/cBioPortal/cbioportal/issues/5468 has been fixed.

[2019-08-10 14:19] jjgao commented on #6466
@onursumer ok, let's close this for now unless this happens again.

[2019-08-10 14:19] #6466 closed

[2019-08-12 09:44] Unberath commented on #6353
The ClinVar column could be added to the patient view mutation table as well.
Or is there a reason why the column was only added to the results view?

[2019-08-12 13:43] tmazor commented on #6414
I think we can probably update those as well. How about a similar set of sentences, and once again only show the applicable sentence(s). @adamabeshouse @jjgao ?

Overlapping samples (10) are included in sample-level analysis on all tabs.
Overlapping patients (2) are included in patient-level analysis on all tabs.

[2019-08-12 14:59] kalletlak commented on #6488
@lakhujanivijay looks like an existing issue with docker.
What version of docker and machine are you using?
And what command did you use to run the application?

[2019-08-12 15:01] alisman commented on #5328
@jjgao we now show a warning message and the populated query form for invalid studyIds.  Do you think this is sufficient or should we follow through with showing results but with a warning and perhaps a link to modify query.

![image](https://user-images.githubusercontent.com/186521/62875081-5eca4d00-bcf0-11e9-89ad-c6f36f5aad28.png)

[2019-08-12 17:45] adamabeshouse commented on #6414
sounds good. how do you want to phrase it for a message about "this" tab?

[2019-08-12 18:09] kalletlak opened #6495 "Querying virtual study from study view shows underlying physical studies in results page"
Steps to reproduce
1. open a saved virtual study in study view
2. add some genes to gene box and click query
3. look at the study name -> which is a physical study instead of a virtual study

[2019-08-12 18:11] alisman commented on #5830
@jjgao @inodb @n1zea144, I did a test of study view with 150 studies on master.cbioportal.org.  This instance uses the production db.  It looks very much like it crashed the database and brought down the entire portal for a minute or so.   So I don't think we should remove this limit with further investigation by backend team.

[2019-08-12 18:27] jjgao commented on #6353
@Unberath good catch. It should be available in the patient view.

[2019-08-12 18:32] jjgao commented on #5328
@alisman this is good enough. But when I try to submit, it still gives me the same error message. I was expecting I would be able to submit the query without the two studies.

[2019-08-12 18:33] leexgh commented on #6353
@jjgao @Unberath I will work on it

[2019-08-12 18:37] alisman commented on #5328
@jjgao ah.  that's not good.  i will figure it out

[2019-08-12 18:37] #5179 closed

[2019-08-12 18:38] jjgao commented on #5830
@alisman Thanks. Let's hold off then.

[2019-08-12 20:08] schultzn opened #6496 "Feature request for Download tab: Cases not affected"
Can we add a new option on the download tab:
"Cases not affected: Only samples without alterations that match the query are included"

![image](https://user-images.githubusercontent.com/11892704/62894734-53404b80-bd1b-11e9-9c62-8d3b70b578d2.png)

[2019-08-12 20:46] alisman commented on #5633
@schultzn can we close this?

[2019-08-12 20:48] #6319 closed

[2019-08-12 21:46] tmazor commented on #6414
ohhh like the clinical tab screenshot above? How about:

Overlapping samples (10) are included in this sample-level analysis.
Overlapping patients (2) are included in this patient-level analysis.

We can just show the sentence that's relevant depending on if the analysis on the tab is sample or patient level. Although I guess clinical tab maybe needs both sentences?

Although I'm realizing now tha

[2019-08-12 21:51] adamabeshouse commented on #6414
@tmazor keep in mind also that when a group is excluded, theres extra text that comes up ("between ... "):

![image](https://user-images.githubusercontent.com/636232/62901034-be911a00-bd29-11e9-84ed-bfc290732d94.png)

[2019-08-13 09:19] SRodenburg commented on #6326
Can be closed

[2019-08-13 13:16] schultzn commented on #5633
Yes!

[2019-08-13 13:16] #5633 closed

[2019-08-13 14:21] #6326 closed

[2019-08-13 15:06] jjgao commented on #4620
duplicate with #5528

[2019-08-13 15:06] #4620 closed

[2019-08-13 15:45] alisman commented on #5751
@tmazor could you do a final check on this:
https://cbioportal-frontend-pr-2575.herokuapp.com/

[2019-08-13 17:20] #5665 closed

[2019-08-13 17:59] zhx828 opened #6499 "Bring back the survival plot in study view"
Per requested by production team and few other users but with following updates:
- [x] Show both survival plots for all studies, OS and DFS when available
- [x] Only one curve showing the currently selected samples

[2019-08-13 18:48] inodb opened #6500 "treatment data is not always showing up on heatmap"
Try e.g.:

https://beta.cbioportal.org/results/oncoprint?session_id=5d5305bbe4b0d777deb04b71

Then add IC50 to heatmap

Somehow it does sometimes show up when changing the case list to only include cases with treatment data

[2019-08-13 18:49] #6368 closed

[2019-08-13 18:52] inodb opened #6501 "Rename Treatment to Treatment Response in UI"
Good to be more explicit about the name. It's treatment response data

[2019-08-13 20:26] tmazor commented on #5751
Looks much better!

However, we do still have columns for data types that are not queried. They are hidden on the site, which helps, but they are still an option to view and they are part of the downloaded table. Can we remove those? @dippindots @alisman

[2019-08-13 20:36] dippindots commented on #5751
@tmazor Thanks! I will remove those unnecessary columns.

[2019-08-13 20:45] tmazor commented on #6414
ahhh so many messages!

I think the first message ("Primary is completely...") is fine.

In general, I think the confusing part about these messages is when we lump patients & samples together. So the message in your screenshot seems fine to me because it's only about patients.

![image](https://user-images.githubusercontent.com/10508276/62975775-2b1f1e00-bde9-11e9-8f98-a833c3cc5017.png)

In the c

[2019-08-13 20:58] inodb commented on #6353
@Unberath it is enabled on the patient view now as well. Thanks for fixing that @leexgh !

[2019-08-13 21:35] adamabeshouse commented on #6414
So combine them into one sentence only when we have the "between..." part?

[2019-08-13 22:12] inodb opened #6503 "Oncoprint treatment_list parameter in URL does not show treatments"
E.g.
https://beta.cbioportal.org/results/oncoprint?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=mixed_broad_ccle_2018&case_set_id=mixed_broad_ccle_2018_cnaseq&clinicallist=MUTATION_COUNT&data_priority=0&gene_list=TP53%2520PIK3CA&geneset_list=%20&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=mixed_broad_ccle_2018_cna&genetic_profile_ids_PROFILE_MUTATION_EXTEND

[2019-08-14 15:59] #6121 closed

[2019-08-14 16:00] #6105 closed

[2019-08-14 17:53] khzhu opened #6504 "Null point exception from Expression Web Service when queried mitochondrial genes not found from Reference Genome Genes DB table"
Currently Enrichment Expression Web Service throws a null point exception when queried genes such as mitochondrial genes are not found in the reference genome gene table.
![Screen Shot 2019-08-08 at 4 29 33 PM](https://user-images.githubusercontent.com/17375786/63043688-bb696b80-be9a-11e9-987f-0d818853ce79.png)

[2019-08-14 19:35] tmazor commented on #6414
I think so? I slightly prefer having separate sentences in general, but it just feels too long/redundant to do that when we list out the group names. I don't feel super strongly though - we could combine all those other 2 sentence options into a single sentence of this structure if you prefer.

[2019-08-14 20:13] tmazor commented on #5751
Looks good @dippindots !

One final request - let me know how feasible this would be:
I understand the desire to have a single column reflecting the full track information, and then individual columns for each data type. However, I still worry that the individual column names could be confusing since they don't explicitly reference the OQL. So - can the column names for the individual data types i

[2019-08-15 02:28] lakhujanivijay commented on #6488
Hi @kalletlak

My docker version is:
[code]
-----

It has to be noted that after running the following steps, I can have the access cBioportal again.

[code]
and

[code]
and then re-started the containers

[2019-08-15 15:17] #6403 closed

[2019-08-15 15:28] #5892 closed

[2019-08-15 17:39] #6495 closed

[2019-08-15 21:16] inodb commented on #6488
@lakhujanivijay

Do you see anything in the logs after restarting your machine ?

And do you see things running when running `docker ps`?

[2019-08-15 21:18] onursumer opened #6509 "Using alias react-select2 causes problems for the cbioportal-frontend-commons lib"
`CheckedSelect` is depending on an alias `react-select2`. This causes problems when `cbioportal-frontend-commons` is included as a dependency in other projects.

Here is an example warning message from a heroku build:

[code]

[2019-08-16 16:50] #6509 closed

[2019-08-16 17:42] adamabeshouse commented on #6414
I think we should stick with separate sentences. Clinical is the only tab that has both sample and patient analysis, and maybe we could even only show a warning based on whether the currently selected attribute is sample or patient. That would probably be clearer, actually.

So the only tab that would show both sentences is overlap, and I think it's fine there. Phew!

[2019-08-16 18:03] tmazor commented on #6414
Great! Except, I think we probably should show both sample & patient messages on clinical, because regardless of which attribute is selected, the table is always visible with both sample & patient attributes.

[2019-08-16 18:43] adamabeshouse commented on #6414
sounds good!

[2019-08-16 20:49] jjgao opened #6511 "Making genomic change columns required for MAF"
Currently, genomic change columns are optional in [our MAF specification](https://docs.cbioportal.org/5.1-data-loading/data-loading/file-formats#mutation-data), but they are really critical fields and should always be required, including `NCBI_Build`, `Chromosome`, `Start_Position`, `End_Position`, `Reference_Allele`, `Tumor_Seq_Allele1`

One complication is that we hack some non-classic mutationa

[2019-08-16 23:06] dippindots commented on #6496
@jjgao Is it has been solved by this merged pr already?
![image](https://user-images.githubusercontent.com/15748980/63202655-c669fa80-c058-11e9-818d-298d05f8c40d.png)
We have `Altered samples` and `Unaltered samples` options now.

[2019-08-17 14:58] schultzn commented on #6496
Thanks!

One small change that needs to be made: "Visual Study" needs to be renamed to "Virtual Study" in the altered and unaltered samples selection options.

[2019-08-18 23:58] khzhu opened #6512 "NETWORK gives different results for same queried genes"
Ovary/Fallopian Tube was selected for Select Studies, then the Ovarian Serous Cystadenocarcinoma (TCGA, Nature 2011) dataset was chosen for analysis. For the section labeled Select Genomic Profiles, the mRNA Expression was selected, and finally its profile mRNA expression Z-scores (all genes). For the section Select Patient/Case Set, the Samples with mRNA data (Agilent microarray) (489) option was

[2019-08-19 11:28] SRodenburg commented on #6136
Can this be closed, or do you want to test further? @oplantalech

[2019-08-19 16:00] zhx828 commented on #6499
@cBioPortal/product I have an instance running here to bring back the survival plot. There are few things have been updated if you could take a look https://cbioportal-frontend-pr-2608.herokuapp.com/study/summary?id=acc_tcga_pan_can_atlas_2018

- [ ] Survival plot is always shown for single tumor type study and will be available through adding charts for mix studies.
- [ ] There will be only one c

[2019-08-19 16:04] schultzn commented on #6499
Looks great!

[2019-08-19 19:39] onursumer opened #6514 "Transcript Dropdown menu is too narrow for standalone mutation mapper"
![TranscriptDropdownMenu ](https://user-images.githubusercontent.com/3604198/63294088-79279c00-c297-11e9-8e9a-07c2c01e6c82.png)

https://www.cbioportal.org/mutation_mapper

[2019-08-19 20:17] dippindots commented on #6496
@schultzn Sorry I thought I corrected all these typos in the pr, created a pr to fix that.

[2019-08-19 22:47] #6514 closed

[2019-08-19 23:39] onursumer opened #6515 "POST method caching does not work for Genome Nexus API client"
Current regex to match `POST` methods on generated API clients is `/UsingPOST$/`: https://github.com/cBioPortal/cbioportal-frontend/blob/97cf6e59ae054f25fe4ed615a6856b43bcc77581/src/public-lib/lib/proxyPost.ts#L125

But Genome Nexus API has custom method nicknames ending with `POST`, but not `UsingPost`. We should either update the regex, or remove the custom names from the Genome Nexus API.

[2019-08-20 03:42] lakhujanivijay commented on #6488
hi @inodb

where do i find the logs? also, the containers remain in `running status` when i do `docker ps`

[2019-08-20 07:52] oplantalech commented on #6136
@SRodenburg let's close this issue. If I encounter the problem again, I will raise a new issue

[2019-08-20 07:52] #6136 closed

[2019-08-20 16:34] alisman commented on #4983
@kalletlak, @jjgao and i decided that the best way to do this is to encode json in url hash (e.g. results/?blah#{json}.   When json gets long, we offer a url shortening button.

[2019-08-20 22:22] #6515 closed

[2019-08-21 19:25] #6274 closed

[2019-08-22 00:03] inodb opened #6522 "serve frontend code from war not working when served from /path/"
When serving from e.g. genie.cbioportal.org/genie/ it will try to include frontend from:

genie.cbioportal.org/reactapp

instead of

genie.cbioportal.org/genie/reactapp

we should prolly have some test for this

[2019-08-22 13:18] #6499 closed

[2019-08-22 15:08] kalletlak commented on #4983
@alisman you mean json of complete StudyViewFIlter object?

[2019-08-22 15:31] #5819 closed

[2019-08-22 18:57] dippindots commented on #6496
The feature and fix are merged to the website now, so closed this issue.

[2019-08-22 18:57] #6496 closed

[2019-08-22 21:51] inodb commented on #6373
done

[2019-08-22 21:51] #6373 closed

[2019-08-22 23:06] inodb opened #6524 "Can we remove the numbers from the treatment data?"
It seems that in the UI the drug numbers are used in:

- the oncoprint heatmap dropdown to indicate which one has been selected
- the plots tab on the x and/or y axis

I guess this was done b/c the drug name can be too long? Maybe better to list the drug name with `...` when it is too long?

[2019-08-22 23:08] inodb opened #6525 "Ordered Samples default on treatment response selection in plots"
On the plots tab maybe good to make the other axis automatically go to Ordered Samples when selecting treatment response in one of them? Would save a click in most cases. I get that sometimes it might be not what you expect, but I imagine the most common use case is to show ordered samples on the other axis?

[2019-08-22 23:12] inodb opened #6526 "plots tab `ordered samples` axis label?"
Maybe good to have some label on the ordered samples label? Not sure what it should be `Sample #` or something maybe?

[2019-08-22 23:16] inodb opened #6527 "Indicate that study has treatment response data on data sets page"
Currently it is hard to figure out which studies have treatment data

[2019-08-23 02:19] schultzn opened #6528 "Treatments feature UI improvement ideas"
Some suggestions that would make the treatments feature less confusing:

- [x] 1 - remove numbers from drug names.
- [x] 2 - after selecting a drug, show the actual drug name in the breadcrumb list
- [ ] 3 - but why do we have the breadcrumbs anyway? Why not follow the model we have for gene symbols? We seem to already allow users to type in drug names.
- [x] 4 - the descriptions of the available

[2019-08-23 02:22] schultzn opened #6529 "Treatments feature - gradient issues"
The sort by IC50 feature does not seem to work.. see screenshot below.
Also, the color gradient in the example below seems to be completely distorted by maybe a data outlier?

https://beta.cbioportal.org/results/oncoprint?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=mixed_broad_ccle_2018&case_set_id=mixed_broad_ccle_2018_cnaseq&data_priority=0&gene_list=BRAF&genes

[2019-08-23 02:37] schultzn opened #6530 "Treatment tooltip: Sample ID can extend past the tooltip boundary"
![image](https://user-images.githubusercontent.com/11892704/63562930-53b3c000-c52d-11e9-9147-bdf27d69d9cc.png)

[2019-08-23 02:40] schultzn opened #6531 "Treatments: Not clear which treatment track is shown"
There are 3 choices for treatment heatmaps in CCLE: AUC, IC50, and z-score of ln-transformed IC50. It is not clear to me which one is selected, nothing seems to change and the legend at the bottom always states "IC50".

![image](https://user-images.githubusercontent.com/11892704/63563032-b7d68400-c52d-11e9-839b-3c3c80134840.png)

[2019-08-23 03:04] schultzn opened #6532 "Treatment waterfall plot: change style slightly"
The waterfall plot seems a little taller than necessary - can it be a little shorter so that the plot plus legend fit on a 13" screen.

Also the y-axis should start at 0 and end at 1 - currently it extends below and above.

![image](https://user-images.githubusercontent.com/11892704/63563932-ee61ce00-c530-11e9-9daf-572f9cfee290.png)

[2019-08-23 03:05] schultzn opened #6533 "Treatment waterfall plot: Log does not work for AUC"
![image](https://user-images.githubusercontent.com/11892704/63564013-56181900-c531-11e9-994b-db9345691e4c.png)

[2019-08-23 05:09] Sjoerd-van-Hagen commented on #6500
This one should now be fixed by @pvannierop and @adamabeshouse . Let us know if it still occurs.

[2019-08-23 10:41] #6500 closed

[2019-08-23 16:08] alisman opened #6534 "Use new CheckedSelect component for treatment dropdown in Oncoprint"
@pvannierop we decided to do away with react-checked-select.  We have a new component ReactChecked which handles this using react-select.  You can see an example of it being used: src/pages/resultsView/enrichments/ExpressionEnrichmentsContainer.tsx.

Could you switch to this component for the treatment dropdown in OncoprintControls.tsx?   Right now this is causing a conflict with master because we

[2019-08-26 06:38] pvannierop commented on #6524
No, this is a behavior determined by the study. I will update CCLE 2018 study data so that the stable ids of the drugs are the actual names of the compounds.

[2019-08-26 07:13] pvannierop commented on #6528
@schultzn Thank you for your report. I will go through your points below.

This is determined by the study data, not the frontend feature. I am currently working with Sander and Navetika to correct this. We will update the numbers to reflect the treatment names. In addition, the profile categories will be renamed.

The reason for this is are:
1) different form genes, names of treatments may differ

[2019-08-26 07:43] pvannierop commented on #6529
@schultzn You are right. I will look into this behavior.

[2019-08-26 07:47] pvannierop commented on #6531
@schultzn We agree. However, this behavior is not related to the treatment feature. Also for molecular profiles it is unclear which profile is represented in a particular oncoprint track group. I propose to remove this from the 3.1.0 milestone and create a new issue for the 3.1.1 milestone.

[2019-08-26 07:56] pvannierop commented on #6532
@schultzn I will update the y-axis. Due to the nature of the plot we cannot control the size of the plot in the horizontal dimension; it depends on the number of samples presented. I will tweak the layout of the plot so that the legend will be presented below the plot when the plot is wider than a 13' screen.

[2019-08-26 10:30] pvannierop commented on #6533
@schultzn @alisman @adamabeshouse @inodb This issue is fixed in [cbioportal-frontend PR #2631](https://github.com/cBioPortal/cbioportal-frontend/pull/2631).

[2019-08-26 13:51] schultzn commented on #6532
I am not concerned about the width of the plot. I think it is too tall - and the legend is always pushed “below the fold”. The plot would look much better anyway if it were less tall.

[2019-08-26 14:00] pvannierop commented on #6532
@schultzn @inodb I have tidied up the layout of the waterfall plot in the y-dimension. I removed the padding from on the y-axis and reduced the overall height. I also moved the legend more to the right so that keeps right of the y-axis (see screenshots below). I looked for options to move the gene selection menu on view on a small screen, but this is rather hard to do when we do not want to change

[2019-08-26 14:19] schultzn commented on #6532
I think that is fine… I am not concerned about the width, more the height. Even your new version seems a little too tall.

And what about the “Style samples by” menu - should that be left-justified so that it is always visible?

[2019-08-26 14:25] Sjoerd-van-Hagen commented on #6534
Isn't this exactly why such a change needs to be applied to RC first? That way we would have noticed it immediately when rebasing.

@inodb thoughts?

[2019-08-26 15:04] pvannierop commented on #6530
@schultzn @inodb I have updated the css of the oncoprint tooltip to accomodate long sample names.

# Before
![Screenshot from 2019-08-26 16-54-49](https://user-images.githubusercontent.com/745885/63700583-7a227580-c823-11e9-847b-1290627bfcdb.png)

# After
![Screenshot from 2019-08-26 16-51-39](https://user-images.githubusercontent.com/745885/63700580-78f14880-c823-11e9-869d-8591f9c6d8da.png)

[2019-08-26 15:28] pvannierop commented on #6532
I have further reduced the y-dimension. But please notice that many other plottypes are much larger in y-dimension than the waterfall plot (see screenshots below).
![smaller_y](https://user-images.githubusercontent.com/745885/63701699-b656d580-c825-11e9-906f-b409a15d29a0.png)

It would easy to pin this menu to a fixed offset right next to the axis-menu (left justified). However, at the moment the

[2019-08-26 16:15] alisman opened #6535 "Issue with PDF download of oncoprinter with large sample count"
User reports:
I entered my own data into the oncoprinter application and it spit out the data I desired, but when I go to save it to a pdf, it create a pdf that appears completely blank because the image are so small. Have other people had this issue before? I tried to save it as one of the other file options and they did not work either. Do you have any suggestions?

https://groups.google.com/for

[2019-08-26 17:02] pvannierop commented on #6534
@alisman @Sjoerd-van-Hagen @Sjoerd-van-Hagen decided to keep the react-select-checked dependency for release 3.1.0 using a forked version that has a different exported name to prevent name collisions. For update 3.1.1 @pvannierop will update the treatment selection menu to the new react-select-checked.

[2019-08-27 08:36] pvannierop commented on #6529
@schultzn @inodb I fixed the oncoprint sort (see screenshot below). This is fixed in [cbioportal-frontend PR #2637](https://github.com/cBioPortal/cbioportal-frontend/pull/2637). I confirm that value 869.23 is indeed an outlier.
![fixed_oncoprint_sort](https://user-images.githubusercontent.com/745885/63754704-9e2e9700-c8b5-11e9-9f78-3a146ec4ba04.png)

[2019-08-27 10:14] Sjoerd-van-Hagen commented on #6308
@inodb I don't think this has to be in 3.1, does it?

[2019-08-27 10:19] Sjoerd-van-Hagen commented on #6366
The current behaviour is consistent with genesets and genes where also not the whole list is shown but only the genesets and genes that were selected earlier. We should change the behaviour for all of them, and of course you would need some search box instead of the dropdown we have now.

We should not implement this for 3.1.0.

[2019-08-27 10:19] pvannierop opened #6536 "401 error when using data access token."
I experience a problem when using the jwt data access token when accessing the api. Using the token I get a `HTTP Status 401 – Unauthorized` error.

## System
- backend-commit: d17b29020a000bd412154fbd0a950b968d1d4cf6
- frontend-commit: c3862fe9baf5c74c9292ad17c04e3781f30ac7a6
- Local dockerized cbioportal, proxy and keycloak. The cbioportal landing page can be accessed with https://localhost.
-

[2019-08-27 10:20] Sjoerd-van-Hagen commented on #6527
Let's not include this in the 3.1.0 release.

[2019-08-27 12:10] Sjoerd-van-Hagen commented on #6272
@zhx828 Thanks!

[2019-08-27 13:42] pvannierop commented on #6536
Some testing. The problem arises in `AbstractUserDetailsAuthenticationProvider.class` where my user is not recognized and an error is thrown:
[code]

[2019-08-27 14:24] pvannierop commented on #6501
I have updated the menu label as per your suggestion. Fix is in [cbioportal-frontend PR #2638](https://github.com/cBioPortal/cbioportal-frontend/pull/2638).

[2019-08-27 14:27] pvannierop commented on #6261
Issue was resolved by the google group thread started.

[2019-08-27 14:27] #6261 closed

[2019-08-27 14:29] pvannierop commented on #6503
Has been fixed.

[2019-08-27 14:29] #6503 closed

[2019-08-27 18:44] alisman opened #6538 "Two genes match COX2 hugo symbol"
![image](https://user-images.githubusercontent.com/186521/63798943-03e04a80-c8d9-11e9-8aa3-b6811d77f26c.png)

This is resulting in a frontend error.

[2019-08-28 18:22] kalletlak opened #6541 "Result view multi-study expression tab is not visible"
Result view multi-study expression tab is not visible when studies only contain `_rna_seq_mrna` profiles.

Note: seems working if atleast one queried studies have `_rna_seq_v2_mrna` profile

[2019-08-29 07:29] pvannierop commented on #6536
@n1zea144 Thank you for looking into this. Let's continue this discussion in the engineer meeting.

[2019-08-29 07:29] #6536 closed

[2019-08-29 08:39] pvannierop commented on #6524
@inodb I have updated the CCLE 2018 study to not have numbers used for the stable_id (see screenshots below).

### Treatment selection menu
![Screenshot from 2019-08-29 10-36-50](https://user-images.githubusercontent.com/745885/63924728-0eb9ed00-ca49-11e9-8abf-b94a7579a2b6.png)

### Treatment response heatmap tracks
![Screenshot from 2019-08-29 10-38-17](https://user-images.githubusercontent.com/7

[2019-08-29 10:20] zhanxw commented on #4400
Where can I find this file `webapps/frontend/WEB-INF/web.xml`?

I tried to edit `portal/src/main/webapp/WEB-INF/web.xml` instead, packaged it `mvn -DskipTests install`, and deployed it, but the response header still failed:

[code]

It seems webapp-runner does not pick up the settings.
Do  you have suggestions?

[2019-08-29 14:35] n1zea144 commented on #6189
Hi @jjgao - @inodb and I met yesterday to discuss this effort and we have some thoughts about this that I will outline in a google doc / rfc.  I'll link back once I have a draft.

[2019-08-29 19:37] tmazor opened #6542 "update "saved layout" text"
![image](https://user-images.githubusercontent.com/10508276/63970500-4e48ff00-ca72-11e9-9ed1-188c79f82caf.png)

There's a typo: "You" should be "Your"

It's not immediately clear to me what clicking "Yes" or "No" will do. How about dropping "Undo?" and changing the "Yes" "No" button text to say:
"Keep Saved Layout"
"Revert to Previous Layout"

[2019-08-29 19:42] tmazor opened #6543 "when should "save layout" text appear?"
![image](https://user-images.githubusercontent.com/10508276/63970807-09719800-ca73-11e9-8ada-2f68e4fd4d09.png)

As best I can tell, this text only appears when I go to study view while not logged in, and then log in while on study view.

If I log in from the homepage, and then click on study view, I don't see this message. I find this un-intuitive. I think the message should appear anytime I click

[2019-08-29 19:56] tmazor commented on #6543
Ahhh... I just realized why this works the way it does.

While not logged in on study view, I might have altered the layout. If I then log in, the layout changes to the saved layout (or back to the default layout if no layout is previously saved), but clicking "Yes" reverts back to whatever I had done prior to logging in. This is very useful.

Forget my original comment - I think this functionalit

[2019-08-29 20:09] tmazor opened #6544 "when plots tab is wide, it extends off screen and takes part of the header & plot with it"
![image](https://user-images.githubusercontent.com/10508276/63972440-c1ed0b00-ca76-11e9-9b26-9e0cd1144cf6.png)

When plots tab is wider than window, the "Queried in..." text & bookmark query button move offscreen. There should be a horizontal scroll for this plot so that the header, the download button in the upper right of the plot, and the gene selection/other controls above the plot all stay on

[2019-08-29 20:20] tmazor opened #6545 ""CNA type" should be "Copy Number Alteration""
Text for treatment response plots:
![image](https://user-images.githubusercontent.com/10508276/63973408-b26ec180-ca78-11e9-924c-095d904f203f.png)

Text on production:
![image](https://user-images.githubusercontent.com/10508276/63973415-b7337580-ca78-11e9-93f1-77a48639f080.png)

Did we change this on purpose? I think "Copy Number Alteration" is much clearer than "CNA Type"

[2019-08-30 01:28] onursumer opened #6546 "Germline mutation rates mismatch for some queries"
Germline mutation rate reported in the Mutation Mapper tab doesn't match the one in the Oncoprint tab.

Example: https://cbioportal.mskcc.org/results/mutations?session_id=5d680a7ce4b0ab413787e5f4

This is most likely related to the fact that we rely on germline consented samples for `msk-impact` studies: https://github.com/cBioPortal/cbioportal-frontend/blob/4e4230483e563c18bd11670b618df2f6ef9176a

[2019-08-30 03:00] zhanxw commented on #4400
I found it is related to the settings in portal/src/main/webapp/WEB-INF/web.xml:
Comment the lines below will make it work.

     <filter>
         <filter-name>springSecurityFilterChain</filter-name>
         <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
     </filter>

     <filter-mapping>
       <filter-name>springSecurityFilterChain</filter-name>
       <ur

[2019-08-30 10:51] #6308 closed

[2019-08-30 15:01] #6533 closed

[2019-08-30 15:09] inodb commented on #6501
Thanks @pvannierop 	! There is also `Treatment` in the Heatmap menu of oncoprint. Probably good to change that to `Treatment Response` as well. I think the `search for treatments..` is fine. But the button should prolly say `Add Treatment Response to heatmap`

[2019-08-30 17:29] schultzn opened #6547 "Treatments in Plots tab: Mutation and CNA option should not be available when no gene is selected"
When no gene is selected on the Plots tab, like in the example below (Treatments vs Clinical), the "Style samples by" option should not be available and all dots should be in the standard darker blue.

![image](https://user-images.githubusercontent.com/11892704/64040126-464c9600-cb2a-11e9-977e-a0056e0296a1.png)

[2019-08-30 18:12] schultzn commented on #6547
Or we use the same functionality as in the waterfall plot.

But for both cases, should we give the user the option to select no gene?

![image](https://user-images.githubusercontent.com/11892704/64042598-3041d400-cb30-11e9-8840-272aeff461bd.png)

[2019-08-30 19:14] tmazor opened #6548 ""add to query" button on enrichments tab doesn't work"
If I select a gene on the enrichments tab and click "add checked genes to query", the page  freezes and essentially crashes.

It does appear to update the URL, so if I copy that URL and load it in a new window, it loads the revised query with the gene added.

[2019-08-30 19:42] tmazor opened #6549 "update text on plots tab when no treatments selected"
![image](https://user-images.githubusercontent.com/10508276/64047190-1efec480-cb3c-11e9-96c0-15e622f3d64b.png)

I think this text would be clearer:
To visualize treatment response data, you must first visit the OncoPrint tab and use the "Heatmap" menu to add treatment response tracks to the OncoPrint. Any treatments added to the OncoPrint will then be available on this tab for visualization.

[2019-08-30 19:45] inodb opened #6550 "treatment radio buttons should not be able to be "unselected""
currently to not color by anything you can click on the radio button again:

![image](https://user-images.githubusercontent.com/1334004/64047438-cbd94180-cb3c-11e9-8c9e-90b6831e0de8.png)

- [x] Maybe better to allow one to select `None` in the dropdown of the gene

- [ ] On the plots tab when displaying clinical attribute, we might want to reuse that component. Currently it's unclear what gene the

[2019-08-30 19:53] tmazor opened #6551 "plots - after search, tooltips are misplaced"
When I search for a mutation, a red cross appears next to samples that match, but when I hover over the red cross, the tooltip appears in the middle of nowhere:

![image](https://user-images.githubusercontent.com/10508276/64047955-38a10b80-cb3e-11e9-8ace-f5c225b67d39.png)

https://beta.cbioportal.org/results/plots?session_id=5d697d3ce4b0d777deb063ea

[2019-08-30 19:58] tmazor opened #6552 "plots - make mutation search case insensitive"
If I search for "r132c", nothing is found. If I search for "R132C" then it works. This search functionality should be case insensitive.

![image](https://user-images.githubusercontent.com/10508276/64048152-e90f0f80-cb3e-11e9-924d-660e4ad1752b.png)

![image](https://user-images.githubusercontent.com/10508276/64048169-f5936800-cb3e-11e9-89b5-fd3e0ef28a46.png)

http://bit.ly/2TpXe70

[2019-08-30 20:33] schultzn opened #6553 "Color of CNA diploid in waterfall plot"
We usually use gray for no data, so can we consider swapping colors to indicate diploid in the waterfall plots?

![image](https://user-images.githubusercontent.com/11892704/64049744-db0fbd80-cb43-11e9-8046-f54be21725ab.png)

[2019-08-30 20:59] tmazor opened #6554 "group comparison survival tab: group names formatted like a list"
The table sometimes shows the group names in brackets & quotes:
![image](https://user-images.githubusercontent.com/10508276/64050898-6b033680-cb47-11e9-9385-e3370695a59f.png)

As best I can tell, this happens when overlapping cases are included and the plot includes lines that represent combinations of groups.

Rather than showing the list, let's combine the list elements with "and" or "&"

https:

[2019-08-30 22:10] inodb commented on #6546
To add to this:

oncoprint does not have the concept of germline/somatic mutation rate. Only overall mutation rate

[2019-08-30 22:18] #6546 closed

[2019-08-31 06:49] lakhujanivijay commented on #6052
Hi @inodb and @jjgao

Thanks for your response. We wanted to add few documents associated with our samples.

This should work for us. Is this has been already implemented?

[2019-08-31 14:42] zhanxw opened #6555 "x-frame-option for the network tab"
This issue is about how to config cbioportal within the spring framework.
The same phenomenon was previously discussed (https://github.com/cBioPortal/cbioportal/issues/4400),
but after I followed the instruction there, the iframe response header still had  `x-frame-option` to be `deny`.

Here is my setting for `portal/src/main/webapp/WEB-INF/web.xml`:

<filter>
     <filter-name>springSecurityFilt

[2019-09-03 06:29] lakhujanivijay commented on #6488
hi @inodb

is there any update on this one ?

[2019-09-03 14:20] adamabeshouse commented on #6500
I dont even see IC50 in the treatments list

[2019-09-03 14:28] inodb commented on #6500
@adamabeshouse check the dropdown for `Area under the curve`, 	it's a measurement rather than a treatment

![Screen Shot 2019-09-03 at 10 27 39 AM](https://user-images.githubusercontent.com/1334004/64182027-874bef80-ce35-11e9-9a99-2f3cf2a6aa8c.png)

[2019-09-03 14:29] adamabeshouse commented on #6500
oh I see

[2019-09-03 14:43] adamabeshouse opened #6556 "issue with oncoprint vertical scrolling"
https://www.cbioportal.org/results/oncoprint?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=acc_tcga_pan_can_atlas_2018&case_set_id=acc_tcga_pan_can_atlas_2018_cnaseq&data_priority=0&gene_list=AKR1C3%2520AR%2520CYB5A%2520CYP11A1%2520CYP11B1%2520CYP11B2%2520CYP17A1%2520CYP19A1%2520CYP21A2%2520HSD17B1%2520HSD17B10%2520HSD17B11%2520HSD17B12%2520HSD17B13%2520HSD17B14%25

[2019-09-03 14:43] adamabeshouse commented on #6535
interesting. hard to test without example, ive never run into it myself.

@khzhu can you paste here the fake data you generated so we can try to fix this?

[2019-09-03 17:25] inodb opened #6557 "treatment from url does not show up in heatmap dropdown"
When using a URL with treatment in it, the heatmap dropdown does not get populated:

https://beta.cbioportal.org/results/oncoprint?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=mixed_broad_ccle_2018&case_set_id=mixed_broad_ccle_2018_cnaseq&data_priority=0&gene_list=RB1&geneset_list=%20&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=mixed_broad_ccle_2018_cna&gen

[2019-09-04 02:22] jjgao commented on #6556
@adamabeshouse what's the issue?

[2019-09-04 02:29] jjgao commented on #6052
@lakhujanivijay not yet. We just supported link out to any URLs. Would that be helpful?

[2019-09-04 13:42] lakhujanivijay opened #6558 "Cannot find migration.sql while deploying with docker"
I am following [this](https://github.com/cBioPortal/cbioportal/tree/master/docs/docker
) link to deploy cbioportal with docker and I am running below command

[code]
And I see the following

[code]

It says `sql file /cbioportal/db-scripts/src/main/resources/migration.sql cannot be found`

Can someone please help?

[2019-09-04 13:58] kalletlak commented on #6543
@tmazor that message only appears if the user tries to login in study-view page and the current layout is different from saved layout (not from default layout)

@jjgao @zhx828 any suggestion on where to add `Revert to Default Layout` button?

[2019-09-04 16:06] jjgao opened #6560 "Delay showing the priority_studies"
Currently the priority_studies are showing before we get the list of studies from backend. Can we show all studies at the same time including: priority studies, other studies, and virtual studies?

[2019-09-04 16:11] jjgao commented on #6543
Maybe the message is not clear. @tmazor any suggestions to improve the text?

I couldn't think of a good place to put the `Revert to Default Layout` button. Maybe in `Add Chart` menu?

[2019-09-04 18:16] pvannierop commented on #6558
I confirm that the /cbioportal/db-scripts path is absent from the image. @inodb Should the docker/web-and-data/Dockerfile image be rebuilt and put on dockerhub?

[2019-09-04 18:29] n1zea144 commented on #6189
@jjgao Per our discussion, we will revisit the utility of Entrez, or Ensembl id's in a later effort.  With that, we can build out the roadmap of work to be done on this issue.  cc: @inodb

[2019-09-04 19:49] zhanxw opened #6562 "Mismatched mutation count?"
Hello,

In https://www.cbioportal.org/study/clinicalData?id=acc_tcga_pan_can_atlas_2018 ,
the mutation count for sample TCGA-OR-A5J1-01 is 24.

but in page https://www.cbioportal.org/patient?sampleId=TCGA-OR-A5J1-01&studyId=acc_tcga_pan_can_atlas_2018 ,
mutation , it reported 64 mutations for the same sample.

Why these two numbers are different?

[2019-09-04 21:19] jjgao commented on #6526
Maybe `Sample`?

[2019-09-04 21:22] jjgao commented on #6130
as discussed, profiled samples per gene should be used.

[2019-09-04 21:28] jjgao commented on #6366
@Sjoerd-van-Hagen In general I agree. I think Plots tab really belongs to study view instead of the query/results page. That's a direction we will explore.

That said, for the Pltos tab in the result page, I would compare the response data with clinical data (all clinical attributes are available in Plots tab). The query/results page is centered around querying genes and other data types currently

[2019-09-04 21:31] jjgao commented on #6527
I don't think we should do that unless we have response data in multiple studies. Otherwise we'll just have an almost empty column.

[2019-09-04 21:31] jjgao commented on #6527
@inodb is there a ticket about adding a case list or attribute to indicate whether a sample has response data?

[2019-09-04 21:33] jjgao commented on #5910
@alisman we will fix the issue (duplicated gene symbols) with https://github.com/cBioPortal/cbioportal/issues/5910.

[2019-09-04 21:40] jjgao commented on #6562
@sheridancbio could you help look into this? Please also check if it occurs to other samples.

[2019-09-04 22:01] tmazor commented on #6543
@jjgao i proposed updated text in another issue: #6542

The Add Chart menu could work for a "revert" button! I can't really think of anywhere else that makes much sense.

[2019-09-05 05:20] lakhujanivijay commented on #6558
@pvannierop Thanks for prompt response. Looking forward to a resolution.

[2019-09-05 06:49] pvannierop commented on #6501
I have done as suggested. Fix is in [cbioportal-frontend PR #2661](https://github.com/cBioPortal/cbioportal-frontend/pull/2661).

[2019-09-05 09:12] Sjoerd-van-Hagen commented on #6526
Does that not suggest that it is ordered on sample id?

[2019-09-05 09:18] Sjoerd-van-Hagen commented on #6548
@tmazor can you add some more details? I tried this and it worked.

[2019-09-05 09:37] Sjoerd-van-Hagen commented on #6366
@jjgao I think we agree. My main point is that we should release 3.1 as soon as possible by focusing on fixing bugs and postponing improvements to a later time.

When I was testing the waterfall plot I found that adding a gene is a bit of a pain, because if you do this, the plots tab gets reinitiated and you have to make the same selections again. This is not really a problem of the gene not appea

[2019-09-05 10:36] pvannierop commented on #6544
Fix is in [cbioportal-frontend PR #2662](https://github.com/cBioPortal/cbioportal-frontend/pull/2662)

[2019-09-05 10:38] pvannierop commented on #6532
@alisman I have changed the position of the utilities menu and added an overscroll-x styling in [cbioportal-frontend PR #2662](https://github.com/cBioPortal/cbioportal-frontend/pull/2662).

[2019-09-05 11:58] pvannierop commented on #6545
@tmazor Thank you for this issue report. Fix for this is proposed in [cbioportal-frontend PR #2662](https://github.com/cBioPortal/cbioportal-frontend/pull/2662)

[2019-09-05 12:42] tmazor commented on #6548
Go here: https://beta.cbioportal.org/results/enrichments?session_id=5d7101dfe4b058f36688a5a8
Check the box next to CIC
Click "Add checked genes to query"
Nothing happens. The page gets stuck like this:
![image](https://user-images.githubusercontent.com/10508276/64342546-be96d980-cfb8-11e9-886f-d06623bf12b5.png)
The URL does change, and if I copy the URL to a new window, it loads the updated query

[2019-09-05 15:01] jjgao commented on #6543
Sounds good! Thanks, @tmazor

How about having a "Default" button at the up-right corner? We can add a tooltip to it: "Revert to the default list and order of the selected clinical and genomic attributes/charts."

 When a user clicks it, there should be a confirmation dialog: "Are you sure you want to override the list and order of the selected charts with the default setting? This is irreversible

[2019-09-05 17:34] khzhu commented on #6535
Hi @adamabeshouse , here is the file.
[oncoprint_sample_test.txt](https://github.com/cBioPortal/cbioportal/files/3580541/oncoprint_sample_test.txt)

[2019-09-05 18:11] adamabeshouse commented on #6556
oh looks like the issue is only in my new PR

[2019-09-05 18:21] adamabeshouse commented on #6130
@jjgao what visualization do you have in mind for the denominators (by which you mean the number profiled, right?)

[2019-09-05 18:36] jjgao commented on #6526
@Sjoerd-van-Hagen not to me, but not sure if it's just me.

[2019-09-05 18:40] jjgao commented on #6366
@Sjoerd-van-Hagen agreed. We are thinking of changing the Modify Query interface and make it a left panel for a more interactive interface, which will allow users to add to remove genes easily. We will do some mockup and get back to the community for feedback.

[2019-09-05 18:43] jjgao commented on #6535
I am not sure if OncoPrinter is so useful when there are two many genes. @adamabeshouse we could consider add a limit on the number of genes if it's nto easy to support too many genes.

[2019-09-05 18:45] jjgao commented on #6556
should this be closed?

[2019-09-05 18:52] jjgao commented on #6130
We could use it in the tooltip of `(A)`, `(B)`, ... columns. Also it should be reflected in the Co-occurrence pattern, e.g. the NA cases can have a white background with a strikethrough just like oncoprint.

![image](https://user-images.githubusercontent.com/840895/64370573-b789be80-cfec-11e9-960d-89eca57f79a6.png)

[2019-09-05 19:28] adamabeshouse commented on #6556
Ill add it as a comment to the PR instead and close it

[2019-09-05 19:28] #6556 closed

[2019-09-06 08:53] Sjoerd-van-Hagen commented on #6526
I would put something like 'Ordered by IC50'.

[2019-09-06 10:28] Sjoerd-van-Hagen commented on #6548
Now I can reproduce the issue. When I used a different study it did not occur.

[2019-09-06 15:02] pvannierop commented on #6551
The fix for this issue has been submitted in [cbioportal-frontend PR #2667](https://github.com/cBioPortal/cbioportal-frontend/pull/2667).

[2019-09-06 15:58] n1zea144 commented on #6562
@jjgao Looks like mutation count does not take into account reported Fusions.  How do you want to proceed?

[2019-09-06 16:07] sheridancbio opened #6566 "Multiple Reference Genome Migration - defaults and warnings"
The 3.1.0-release includes multiple reference genome support —  part of this support includes migrating the database to include a reference genome for existing studies. The studies are assigned a reference genome id depending on the NCBI_BUILD present in mutation event records associated with the study.

The migration assumes only one NCBI_BUILD to be returned; however, this is not always the case

[2019-09-06 16:33] khzhu commented on #6566
thanks, @sheridancbio! working on it will let you know once I am done or have any issues.

[2019-09-06 16:48] inodb opened #6568 "Logging in shows blank screen for particular virtual studies"

[2019-09-06 18:30] jjgao commented on #6526
Or maybe we don't need a label? There is usually no x-axis labels in waterfall plot.

[2019-09-06 19:17] inodb opened #6569 "sorting of treatment tracks not working"
See screenshot:

![image](https://user-images.githubusercontent.com/11892704/64454638-790e0580-d0b9-11e9-9506-24d71d50f254.png)

Link:

https://beta.cbioportal.org/results/oncoprint?Action=Submit&cancer_study_list=mixed_broad_ccle_2018&case_set_id=mixed_broad_ccle_2018_all&clinicallist=PROFILED_IN_mixed_broad_ccle_2018_cna%2CPROFILED_IN_mixed_broad_ccle_2018_mutations&gene_list=BRAF%0AEGFR&genetic

[2019-09-06 19:17] schultzn commented on #6569
![image](https://user-images.githubusercontent.com/11892704/64454638-790e0580-d0b9-11e9-9506-24d71d50f254.png)

[2019-09-06 19:18] schultzn commented on #6569
Link:
https://beta.cbioportal.org/results/oncoprint?Action=Submit&cancer_study_list=mixed_broad_ccle_2018&case_set_id=mixed_broad_ccle_2018_all&clinicallist=PROFILED_IN_mixed_broad_ccle_2018_cna%2CPROFILED_IN_mixed_broad_ccle_2018_mutations&gene_list=BRAF%0AEGFR&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=mixed_broad_ccle_2018_cna&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=mixed_broad_cc

[2019-09-06 19:19] schultzn commented on #6569
Another observation: The color gradient / scale works well for the z-scores, but not for AUC and IC50. Any ideas how to fix that?

[2019-09-06 19:20] jjgao commented on #6562
@n1zea144 I see. Fusions should not be counted as mutations and we will separate the fusions into a fusion table.

[2019-09-06 19:20] #6562 closed

[2019-09-06 19:30] inodb opened #6570 "Change Heatmap Button based on available data"
Heatmap button on oncoprint shows up when there is:

- Treatment Response (Tx Response)
- mRNA Expression (mRNA)
- Methylation (Methylation)
or
- Gene sets (?) (GSVA)

Let's change the button text based on available data, e.g.:

`mRNA Heatmap`

or

`Tx Response Heatmap`

If multiple use `/`, e.g.:

`mRNA / Tx Response Heatmaps`

See the text above in parenthesis, e.g. `(Tx Response)`, for what to

[2019-09-06 19:34] inodb commented on #6569
@adamabeshouse 	regarding Niki's last point, how hard would it be to add a logarithmic colorscale to oncoprint? Another option might be to make the min & max colors span a larger range

[2019-09-06 19:44] Sjoerd-van-Hagen commented on #6526
I don't think we do. The user picked ordered from the drop down, and it is pretty obvious that it is sorted.

[2019-09-06 19:44] adamabeshouse commented on #6569
@inodb I think its already an option in the library, so it wouldn't be hard at all

[2019-09-06 20:23] jjgao commented on #6526
@inodb maybe we can leave it out?

[2019-09-06 20:58] khzhu commented on #6566
@sheridancbio , I got migration script updated and would like to know which branch should the PR based from (release 3.1.0)? thanks!

[2019-09-06 21:30] khzhu commented on #6566
@sheridancbio @n1zea144 , PR is ready for your review. Please let me know anything I might have missed or needed to be changed. Thank you!

[2019-09-07 07:13] lakhujanivijay opened #6573 "How to change the right logo on cbioportal which has been installed using docker?"
Hi

I am wondering how to I change the right hand side logo on my local cbioportal instance installed using docker ?

Right now, I am able to change the logo using an already available image (oncokb.png) but as soon as I put a new image, it does not work. Here is what I did to get the oncokb image logo on the right hand side of the cbioportal instance:

1. `docker exec -it cbioportal-container bas

[2019-09-09 08:41] pvannierop commented on #6569
@schultzn Fix of the sort functionality in oncoprint is in [cbioportal-frontend PR #2647](https://github.com/cBioPortal/cbioportal-frontend/pull/2647).

On the color gradients: they work fine.The AUC profile has a pivot-threshold of 0, so all samples are considered effective and shown in blue. The IC50 profile is completely colored in blue since all tested concentrations are considered ineffective

[2019-09-09 08:43] Sjoerd-van-Hagen commented on #6526
@inodb let's close this one. We can reconsider when users find it unclear.

[2019-09-09 09:02] pvannierop commented on #6550
The unselecting of the radiobuttons was a bug, not a feature. It is corrected in [cbioportal-frontend PR #2675](https://github.com/cBioPortal/cbioportal-frontend/pull/2675).

For the other requests I would propose to add these to the 3.1.1 milestone since not covered in the RFC for the treatment feature.

[2019-09-09 09:10] pvannierop commented on #6549
The message was updated to your proposed content. The fix is proposed in [cbioportal-frontend PR #2676](https://github.com/cBioPortal/cbioportal-frontend/pull/2676).

[2019-09-09 09:20] pvannierop commented on #6547
The utilities/styling menu appearing when styling based on gene mutation/CNA makes no sense is fixed with the [cbioportal-frontend PR #2665](https://github.com/cBioPortal/cbioportal-frontend/pull/2665).

The use of the gene selection menu for these situations is a very good idea. Also we agree that selection of _no gene_ for styling makes sense. Considering the timeline of release we propose that

[2019-09-09 09:23] pvannierop commented on #6530
Fix for this issue has been merged. I am closing this issue.

[2019-09-09 09:23] #6530 closed

[2019-09-09 09:29] pvannierop commented on #6570
@inodb I propose to add this to the 3.1.1 milestone.

[2019-09-09 09:33] pvannierop commented on #6529
P has been merged. Discussion on styling of treatment response heatmap tracks is continuing in #6569. I am closing this issue.

[2019-09-09 09:33] #6529 closed

[2019-09-09 09:35] pvannierop commented on #6526
I am closing this issue. When can revisit when needed.

[2019-09-09 09:35] #6526 closed

[2019-09-09 09:36] pvannierop commented on #6501
Code change has been accepted. I close this issue.

[2019-09-09 09:36] #6501 closed

[2019-09-09 14:42] Luke-Sikina opened #6574 "Step 4 of Docker install assumes db-scripts is in container when it is not"
## Steps to Reproduce
I was using the [documentation](https://docs.cbioportal.org/2.1.1-deploy-with-docker-recommended/docker) to install the cBioportal. I got to step 4 successfully and ran this:
[code]
I expected this to migrate the database. Instead, it reported this error:

## Confirmation
I stepped into the container using this command:
[code]
and confirmed that the file was in fact not in th

[2019-09-09 18:41] adamabeshouse commented on #6535
I don't think theres a bug, it's just incredibly slow because huge file, as indicated over e-mail. I added a warning when there's a huge oncoprinter.

[2019-09-09 18:41] #6535 closed

[2019-09-09 19:33] jjgao opened #6577 "update faq regard z-score calculation"
... now that the reference population is all samples:

https://github.com/cBioPortal/cbioportal/blob/master/docs/FAQ.md

[2019-09-09 20:18] #5751 closed

[2019-09-09 21:13] jjgao opened #6578 "quick way to add/delete query gene in Results"
Ideally also support OQL. The state of page should be kept as much as possible.

[2019-09-09 21:14] jjgao opened #6579 "Keep the state after Modify Query"
Currently, most states got lost. Can we try to keep as much as possible?

[2019-09-09 21:15] jjgao commented on #4646
Reopened this b/c we will close #6300.

[2019-09-09 21:16] jjgao commented on #6300
After discussion, we will not implement the left panel and try to make the current page more interactive: #6578, #6579, #2573.

[2019-09-09 21:16] #6300 closed

[2019-09-09 21:24] jjgao opened #6580 "Comparison page: switching back and forth between tab will reload/render data"
Can we remember the state and not rerender a tab?

[2019-09-09 21:25] jjgao commented on #6568
It was found to be related to some virtual studies.

[2019-09-09 21:34] alisman opened #6581 "Why do comparison page tabs re-render every time tab switched"

[2019-09-09 21:56] adamabeshouse commented on #6581
duplicate? https://github.com/cBioPortal/cbioportal/issues/6580

[2019-09-09 21:56] #6581 closed

[2019-09-09 21:58] #6414 closed

[2019-09-10 09:40] pvannierop commented on #6557
This lacking functionality is added in [cbioportal-frontend PR #2681](https://github.com/cBioPortal/cbioportal-frontend/pull/2681).

[2019-09-10 09:46] pvannierop commented on #6574
This is the same issue as reported in #6558.

[2019-09-10 16:36] #6558 closed

[2019-09-10 16:36] #6574 closed

[2019-09-10 20:13] alisman commented on #6542
@Luke-Sikina please make this a PR to release-3.1.0 branch, thanks

[2019-09-10 20:40] alisman commented on #5942
@Luke-Sikina to reproduce this, go [here](https://www.cbioportal.org/results/coexpression?Z_SCORE_THRESHOLD=2.0&cancer_study_id=coadread_tcga_pub&cancer_study_list=coadread_tcga_pub&case_ids=&case_set_id=coadread_tcga_pub_nonhypermut&gene_list=KRAS%20NRAS%20BRAF&gene_set_choice=user-defined-list&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=coadread_tcga_pub_gistic&genetic_profile_ids_PROFILE

[2019-09-10 20:45] alisman commented on #5942
@Luke-Sikina we use the library VictoryJS for our charts.  Victory is pretty good for this kind of customization.

[2019-09-11 10:42] ngocnn1104 commented on #6553
I have looked for other plots and it seems that we have been using color gray for Diploid, so the example you presented is actually correct and consistent with the general styles. Please provide other cases you can find where Diploid is indicated with a different color.

![plot1](https://user-images.githubusercontent.com/31291004/64690781-7df40000-d491-11e9-9378-c7947335de8d.png)

![plot2](https:/

[2019-09-11 13:31] pvannierop commented on #6553
@schultzn If there is still a desire to change the color of the CNA diploid value, I propose to attach this to a different milestone. I remove this issue from the 3.1.0 milestome.

[2019-09-11 13:44] schultzn commented on #6553
Ok... it looks like the other plots do not have a color for "not profiled". We should probably revisit this for all plots.

[2019-09-11 19:39] inodb commented on #6558
@lakhujanivijay 	i updated the docs to use the latest docker image - thanks again for reporting !

[2019-09-11 20:41] inodb opened #6586 "Add verbose option to validateStudies.py"
acc_2019 study currently fails with a timeout on cirlceci because no output is written to the screen for more than 10 minutes:

https://circleci.com/gh/cBioPortal/datahub/2730#artifacts/containers/0

Update the `validateStudies.py` script to be more verbose:

-  Add a new parameter `--verbose`
- pipe to both stdout and the log file (like `tee`). See: https://github.com/cBioPortal/cbioportal/blob/m

[2019-09-12 02:36] #6568 closed

[2019-09-12 02:38] inodb commented on #6560
I think this fixes that (CC @dippindots ): https://github.com/cBioPortal/cbioportal-frontend/pull/2684

[2019-09-12 02:38] #6560 closed

[2019-09-12 02:39] inodb commented on #6568
@schultzn ☝️ this should be fixed now on https://beta.cbioportal.org

[2019-09-12 11:59] ngocnn1104 opened #6590 "Overlapping contents in Plots tab when there is no data to plot"
In Plots tab, the filter menu and the alert "No data to plot" overlap each other where they should display separately.

![issue](https://user-images.githubusercontent.com/31291004/64782122-d7792f00-d564-11e9-89ee-7c6550d992f3.png)

[2019-09-12 17:25] alisman opened #6591 "Getting rid of legacy jQuery"
Please investigate what it would take to get rid of legacy jquery/jquery migrate.  There are legacy libraries (timeline?) which still require this but perhaps we can update it.

This keeps coming up as a security vulernatibilty, so we may need to suck it up and do it.

[2019-09-12 20:58] schultzn opened #6593 "Need better error message for gene lists that include a comma"

[2019-09-12 21:05] schultzn opened #6594 "Need for links to single study query from Cancer Type Summary in a multi-study query"
It would be nice to have two direct links in the tooltip of each study:
1 - Link to the study view of that study
2 - Link to the same query but only in the single study selected from the bar chart

![image](https://user-images.githubusercontent.com/11892704/64820866-54190700-d57f-11e9-9a6b-55184ae17307.png)

[2019-09-12 21:07] schultzn opened #6595 "Expression tab in pan-cancer query should only show TCGA studies"
![image](https://user-images.githubusercontent.com/11892704/64821052-d99cb700-d57f-11e9-8019-8e596fafff68.png)

[2019-09-12 23:43] sheridancbio opened #6598 "unit test function not renamed (minor)"
There is a unit test in the release-3.1.0 branch which appears to have not been renamed when the function under test was renamed.

The function is DiscreteCopyNumberMyBatisRepositoryTest.getPatientCountByGeneAndAlterationAndPatientIds()

The function tested is getPatientCountInMultipleMolecularProfiles()

[2019-09-13 10:57] lakhujanivijay commented on #6488
@xpivarc I observed that when I restart the machine , my hard disk name changes every time. for e.g.

if right now it is:
`/media/bioinfo/primary8`

after machine restart it becomes
`/media/bioinfo/primary9`

again if I restart, it will be
`/media/bioinfo/primary10` and so on! I don't understand what's going on.

[2019-09-13 10:59] lakhujanivijay commented on #6573
Hi @xpivarc That was informative however can you help me with more details as to how to use volume in that case such that I can have the logo permanently set up?

[2019-09-13 11:01] lakhujanivijay commented on #6558
Hi @inodb

Thanks for that ! I will try installing that again and get back with this. Again, thanks so much !

[2019-09-13 12:35] xpivarc commented on #6573
@lakhujanivijay simplest way (but also depends on your "startup process") is to add " -v /<path_to_image>:/<where_to_mount_in_container> " to your docker run command.

[2019-09-13 12:50] xpivarc commented on #6488
@lakhujanivijay That will be the problem. As far I know "/media/..." are used for removable media. So that`s probably cause of the changing name (don`t use it). And another good practice IMHO is not to use $PWD, just use relative paths.

[2019-09-13 18:54] #6541 closed

[2019-09-14 09:52] zhanxw commented on #6562
Hello, I still find discrepancy on cBioportal 3.0.1 hosted on my server. Please see the screenshot:
https://imgur.com/gallery/zhjUKLX

The reported mutation count for this sample is 1.
But this sample has 18 mutations including 4 missense mutations.
Can you please resolve the discrepancy? Thanks.

[2019-09-14 12:25] zhanxw commented on #6562
I checked the `clinical_sample` in MySQL database, and the MUTATION_COUNT is 1, and that is incorrect.

I doubt the study import script/program has some problem.
Can you point out where the relevant codes to calculate MUTATION_COUNT?

[2019-09-14 21:25] jjgao opened #6604 "removing text_cache table"
`text_cache` table was used to store sample IDs for custom case list query. Now that we requires session service, can we try to remove all the dependencies to this table?

[2019-09-14 21:25] jjgao opened #8994 "removing text_cache table"
`text_cache` table was used to store sample IDs for custom case list query. Now that we requires session service, can we try to remove all the dependencies to this table?

[2019-09-14 21:33] jjgao commented on #6593
A gene list
![image](https://user-images.githubusercontent.com/840895/64913850-d4717080-d715-11e9-9556-0f9a172f5a4b.png)

[2019-09-14 21:34] jjgao commented on #6593
Maybe we should just support comma as a valid delimiter?

[2019-09-14 21:45] jjgao commented on #6595
@alisman If pancan studies are selected, let's only show the pancan ones by default.

[2019-09-14 21:56] jjgao commented on #6573
@lakhujanivijay I am closing this. Please comment if you have additional questions.

[2019-09-14 22:01] jjgao commented on #6562
@zhanxw the code is here: https://github.com/cBioPortal/cbioportal/blob/master/core/src/main/java/org/mskcc/cbio/portal/dao/DaoMutation.java#L134

[2019-09-14 22:08] jjgao commented on #6590
We should hide "Style samples by" menu when there is no data to plot.

[2019-09-14 22:17] zhanxw commented on #6562
I guess that the reason is that I did not provide enough mutation information (chromosome name, position et al). I will report back if I found solutions. Thanks!

Sent from my iPhone

[2019-09-15 14:36] inodb opened #6605 "some errors in frontend build process that pass CI"
I noticed some errors when running `yarn run build` that are only showing up as warnings:

[code]

[2019-09-15 15:08] inodb opened #6606 "bean wiring exception when running scripts jar"
Seems to only be a problem in 3.1.0 branch:

See: https://circleci.com/gh/cBioPortal/cbioportal-frontend/47633?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

Try e.g.:

[code]

[2019-09-16 12:59] schultzn commented on #6593
Yes!

[2019-09-16 13:43] #6143 closed

[2019-09-16 15:51] jjgao opened #6607 "Study view: Is it possible to display the number of sample early?"
Sometimes, I just want to click the View button but I have to wait for all data to be loaded.

![image](https://user-images.githubusercontent.com/840895/64972707-bfacee00-d877-11e9-858c-be3f68c98c3c.png)

[2019-09-16 16:16] zhx828 opened #6608 "Bar chart tick format needs to be adjusted"
We do have an algorithm to calculate whether the ticks should be tiled, but it seems not working for some attributes, like the one below

![Screen Shot 2019-09-16 at 12.10.53 PM.png](https://images.zenhubusercontent.com/568a9ed4638e718c995fc581/87604828-e116-4416-b4de-2eb65c6f2dd3)

http://genie.cbioportal.org/genie-private/study/summary?id=genie_private

[2019-09-16 17:08] kalletlak commented on #6130
@jjgao is this part of release-3.1.0?
and @adamabeshouse are you going to take care of frontend changes?

[2019-09-16 17:49] adamabeshouse commented on #6130
@kalletlak yes, just let me know when the API is merged

[2019-09-16 20:31] #6593 closed

[2019-09-16 22:11] jjgao opened #6610 "retire Network tab"
With PathwayMapper feature coming (https://cbio-pm.herokuapp.com/), maybe it's time to retire the current Network view? ... because:

- The data is really old (7 years old!) and we don't have a pipeline to update the data.
- The code is old and will be expensive to refactor and maintain.
- We can point users who like to current Network veiw to PCViz (http://www.pathwaycommons.org/pcviz/) which can

[2019-09-16 22:26] jjgao opened #6611 "Switch to structure_variant table data for fusions"
# Backend
- [ ] remove fusions from the mutation_event table and leave existing fetch mutations endpoints un-touched.
- [x] add a new web service endpoint to pull fusions out from the new structural-variants table, e.g . `/structuralvariant-genes/fetch`
- [x] a new web API to fetch structural variants
- [x] a new web API to fetch structural variant enrichments
- [ ] cleanup unnecessary code(tempor

[2019-09-17 02:02] schultzn commented on #6610
Sounds good. Should we start giving users a warning, maybe by adding a message on the Network tab in the 3.1 release? That way they can get used to going to PCViz instead.

[2019-09-17 12:32] alisman commented on #6607
@jjgao just want to confirm that you mean the "View Selected Cases" button, correct?

[2019-09-17 12:50] alisman commented on #6595
@jjgao how do studies which are TCGA, but NOT PanCan Atlas fit in?   Which category?

[2019-09-17 13:11] schultzn commented on #6595
I think this tab should only ever show TCGA PanCancer Atlas studies, none of the other TCGA studies, or any other studies.

That is an easy decision to make for the public portal. But in certain local instances with uniformly processed mRNA data from other sources, some people might want to change that behavior.

Maybe we should discuss this in more detail in person?

[2019-09-17 13:25] alisman commented on #6579
@jjgao there is further question about whether to keep state in url so it is persisted across page loads (and shareable).   Shall we just keep ALL state in url?   And fur ther, do we want to add subtabs for genes into the path.  e.g. results/cancerTypesSummary/TP53

[2019-09-17 13:29] alisman commented on #5830
@zhx828 @kalletlak want to get you input on whether this is practical.

[2019-09-17 14:09] kalletlak commented on #6543
@jjgao @tmazor user will lose all the custom data charts that were created. is that ok?

@jjgao is this feature for release-3.1.0?

[2019-09-17 14:21] zhx828 commented on #5830
@alisman with the recent added Ehcache, it would definitely help to increase the limit. In terms of completely removing the limit, I'm skeptical on that. We should do more testing and monitor the memory/cpu usage. There is no easy way to select all studies now, but they can still do it if they manage to use the url. So on the safe said, a limit should still in place especially considering the MSK

[2019-09-17 14:49] alisman commented on #5608
@inodb what is ETA for these portals to be on AWS?

[2019-09-17 15:26] alisman commented on #5328
@dippindots
If when I see this error message, I check another study in list, the page will submit, but only if I select another study.  I should be able to submit without making any selection.  Clearly the invalid studyIds are being resubmitted.  Lets filter out the invalid studyIds on submission.

[2019-09-17 15:40] Sjoerd-van-Hagen commented on #6610
+1 for replacing the old network view and +1 for giving the user proper warning.

[2019-09-17 17:38] kalletlak commented on #5830
May be Limit the number of attributes that should be visible by default and can be added until api performance is improved.

[2019-09-17 17:38] jjgao commented on #6610
@alisman could you add a warning in Network tab for the 3.1.0 release?

[2019-09-17 17:55] jjgao commented on #6607
Yes, and also the numbers of samples if possible.

[2019-09-17 18:14] inodb commented on #6606
Fixed in https://github.com/cBioPortal/cbioportal/pull/6614

[2019-09-17 18:14] #6606 closed

[2019-09-17 18:30] #6608 closed

[2019-09-17 19:16] jjgao commented on #6595
Initially we were only showing TCGA studies, but later there was a request to make it available for immunogenomcis studies (immunotherapy portal).

I think we should give the user option to select non-pancan studies, but by default only display PanCan studies if at least one PanCan study is selected.

[2019-09-17 20:10] jjgao commented on #6579
@alisman I don't think we need to keep all states in the url, e.g. search term in the mutations table is not necessary to be persisted across page loads.

Maybe we should have a separate discussion about what to save in the url?

[2019-09-17 20:31] jjgao commented on #6543
@kalletlak that's ok as long as we ask them to confirm.

Let's do it in the master branch.

[2019-09-17 20:46] alisman commented on #6595
Do regular TCGA studies (non pancan) get treated just like all other non-pancan studies?

[2019-09-17 20:54] jjgao commented on #6595
yes.

I think we can have the same logic for all insances of portals. If they don't have any pancan studies in their databbase, all selected studies with expression data should be shown.

(if no pancan studies are selected, we should just show all studies in the tab.)

[2019-09-17 21:26] jjgao commented on #6595
@alisman: had some discuss with @schultzn - let's not make any change and fix the data. the pancreas study should probably have V1 rna seq profile.

[2019-09-17 21:42] #6398 closed

[2019-09-17 21:51] jjgao commented on #6595
Filed issue on datahub: https://github.com/cBioPortal/datahub/issues/830

[2019-09-17 21:51] #6595 closed

[2019-09-17 22:14] khzhu commented on #5853
Hi @JJ, @Hongxing, finally got the bug fixed 🙂 . Can give a quick demo tomorrow at our standup.

[2019-09-18 12:43] #6139 closed

[2019-09-18 13:02] Sjoerd-van-Hagen commented on #6139
@jjgao can we now put the data back?

[2019-09-18 15:39] adamabeshouse commented on #6187
I feel like someone from the hyve fixed this, right @Sjoerd-van-Hagen ?

[2019-09-18 15:43] inodb opened #6616 "session data of old format being returned as null"
old issue seems to be back where session data in old format is returned as null

Was previously solved with:

https://github.com/cBioPortal/cbioportal/pull/6583

but somehow not working anymore

[2019-09-18 15:44] Sjoerd-van-Hagen commented on #6187
Yes, @pvannierop has fixed it.

[2019-09-18 15:47] Sjoerd-van-Hagen commented on #6187
If it indeed is the same issues as this one: https://github.com/cBioPortal/cbioportal/issues/6530

[2019-09-18 16:35] #6616 closed

[2019-09-18 18:04] inodb opened #6618 "Mutation Mapper Standalone Fixes for Genome Nexus"
- [x] allow default tracks to show up
- [x] disable plots control panel
- [x] allow 100% width
- [x] Disable y axis
- [x] Disable click event on lollipop

[2019-09-18 18:16] #5066 closed

[2019-09-18 18:20] alisman commented on #3697
@dippindots what's status of this?

[2019-09-18 18:36] Neelrayal commented on #5357
Can I work on this issue?

[2019-09-18 18:46] alisman commented on #5910
@jjgao it's my understanding that a single hugo can legitimately map to multiple entrez, no?

[2019-09-18 18:49] alisman commented on #3473
@adamabeshouse this is done, yes?

[2019-09-18 18:50] #3473 closed

[2019-09-18 18:50] dippindots commented on #3697
@alisman Not started yet, I can work on this next.

[2019-09-18 18:51] #5737 closed

[2019-09-18 18:53] alisman commented on #3989
@jjgao @n1zea144 seems like this issue is

[2019-09-18 18:53] #3989 closed

[2019-09-18 19:00] alisman commented on #5127
@Luke-Sikina please add link to release notes on news page.  On News.tsx, you'll see we just render a <StaticContent> component which pulls in news markdown from remote source.  You can Just insert the link above it and us some css hackery to put it in top right, inline with the page title (News)

[2019-09-18 19:06] alisman commented on #5182
duplicate #5357

[2019-09-18 19:06] #5182 closed

[2019-09-18 19:11] #5389 closed

[2019-09-18 19:15] onursumer commented on #6618
Maybe just `showFilterResetPanel` to false, instead of disabling the click event.

[2019-09-18 20:01] #6542 closed

[2019-09-18 20:19] Luke-Sikina opened #6620 "Highlighting errors in gene query in study view causes unintended deltions"
# Reproduction
1. Go to: https://www.cbioportal.org/study/summary?id=msk_impact_2017
2. Focus on the gene query text area at the far right
3. Type "BRAF:" and then pause for at least 1 second
4. Continue typing a valid OQL query, like " MUT"
5. Note that you ended up typing "BRAF MUT" instead of "BRAF: MUT"

# Problem
When you pause for more than half a second after typing a colon, the colon will

[2019-09-18 20:39] alisman commented on #5314
@dippindots please evaluate
A. What are the remaining charts for which we don't offer data download
B. Is there a generic solution?

[2019-09-18 20:50] #5942 closed

[2019-09-18 21:30] alisman commented on #3635
@inodb i believe this is a frontend issue, can you confirm?

[2019-09-18 21:39] alisman opened #6621 "Error when switching between patients in patient cohort"
Click next/prev patient buttons and you will see error in console

https://bit.ly/2MuciPl

[2019-09-18 22:41] #6580 closed

[2019-09-19 11:05] #6586 closed

[2019-09-19 11:54] pvannierop opened #6622 "New CheckedSelect component does not adhere to cBioPortal style"
While incorporating the CheckedSelect component in the OncoPrint tab treatment selection menu we found that the CheckedSelect does not style consistent with other select menu's in cBioPortal (see screenshot below). There are several problems:

1. The there is a blue background color for currently selected items. This blue color is not constitent with cBioPortal blue. I propose to not assign a back

[2019-09-19 14:44] inodb opened #6623 "treatment data gets 403 error on mskcc authenticated portal"
Not sure if this issue is for any authenticated portal or just mskcc. Fix here for erroneous treatment response (oncoprint controls wouldn't show): https://github.com/cBioPortal/cbioportal-frontend/pull/2719.

[2019-09-19 14:45] inodb commented on #6623
@pvannierop have you by any chance seen this when using an authenticated portal? Or is this limited to our mskcc portal auth?

[2019-09-19 14:50] jjgao opened #6624 "missing oncoprint menu on msk portal"
https://cbioportal.mskcc.org/results/oncoprint?session_id=5d83951ee4b0616a4480aa3e

![image](https://user-images.githubusercontent.com/840895/65255075-41488a00-dacb-11e9-9e61-f773d26f6f5a.png)

[2019-09-19 15:06] alisman commented on #6624
@jjgao this is now fixed.  it was due to permissions problem with new treatment service.  the temporary fix ignores this error.

[2019-09-19 15:06] #6624 closed

[2019-09-19 15:19] jjgao commented on #5910
@alisman that's a data bug that we need to fix. A single hugo should only map to one entrez once that's fixed.

[2019-09-19 15:48] jjgao commented on #6624
thanks, @alisman . Could you open another ticket to fix it properly?

[2019-09-19 15:48] jjgao commented on #6624
I saw it: https://github.com/cBioPortal/cbioportal/issues/6623.

[2019-09-19 15:51] jjgao commented on #6622
notifying @alisman

[2019-09-19 16:04] jjgao commented on #6620
@Luke-Sikina good catch. Instead of using selection to highlight, I am wondering if we could use something similar to spell check? Maybe there is a custom spellcheck library we can use?

(this is a minor issue and let's fix it only if it does not require much time.)

[2019-09-19 16:22] #6187 closed

[2019-09-19 17:37] schultzn opened #6625 "Download tab: Somatic vs germline information is missing from downloads"
We should include in the downloads information about germline vs somatic - our default could be somatic, in which case we don't add the information, but we would label germline variants as "germline"

[2019-09-19 18:18] pvannierop commented on #6624
@n1zea144 Obviously fetch of treatments works on a public portal. Would you be able to provide a clue on why an endpoint might deny access when authentication is used? AFAIK all end points are open.

[2019-09-19 18:21] alisman commented on #6543
@jjgao I don't think it's intuitive that the default button be inside the "add chart" dropdown.  Also, I think button text should be "Reset charts"
![image](https://user-images.githubusercontent.com/186521/65270218-b080a700-dae8-11e9-90e9-5c9040f5969a.png)

[2019-09-19 19:50] timchu90 opened #6627 "SAML response error"
Hi,

We're having an issue with keycloak authentication in our local cbioportal instance.
We previously had it working but when we moved domains the SAML responses keep referring to the old domain.
As a result, even if a user successfully logs into cbioportal, they get sent to https://[cbioportal-host]/login.jsp?login_error=true
How is the SAML response generated? How does it decide which hostname

[2019-09-19 21:44] jjgao commented on #6543
@alisman Changing text to "Reset charts" sounds good, but I don't think it deserves to be on the page upfront (it may be even distractive).

If you think about "+ Add Chart", it is really actually "Charts Management" and I think the button belongs there. (Maybe we should change Add Chart to Charts?)

[2019-09-19 21:46] jjgao commented on #6627
@timchu90 thanks for contacting us. Also saw your question on Google Groups. We will answer there.

[2019-09-19 21:52] onursumer commented on #6438
duplicate of #6044

[2019-09-19 21:52] #6438 closed

[2019-09-19 21:59] inodb opened #6628 "Study view sample+patient count should not wait for session service"
we should always display the sample + patient count at the top of study view even when session service fails:

<img width="415" alt="Screen Shot 2019-09-19 at 6 10 15 PM" src="https://user-images.githubusercontent.com/1334004/65284818-c2724200-db08-11e9-8f30-0d081aa29a06.png">

[2019-09-19 22:01] inodb commented on #6628
Do you think you could look at this @kalletlak ? Feel free to unassign yourself if  you're busy

[2019-09-19 22:03] jjgao commented on #6628
@Luke-Sikina you can help with this since you just make some change to it?

[2019-09-19 22:04] jjgao commented on #6628
notifying @alisman

[2019-09-20 05:59] pvannierop commented on #6623
@ino No we see it also on other authenticated portals. I have to investigate why this happens. @n1zea144 Obviously fetch of treatments works on a public portal. Would you be able to provide a clue on why an endpoint might deny access when authentication is used? AFAIK all end points are open; it's only at the level of visible studies that there is a limit. Is that correct? I think that what goes w

[2019-09-20 06:04] pvannierop commented on #6590
I think this an oversight from a code update from my hand. I will pick this up.

[2019-09-20 07:04] pvannierop commented on #6590
Fix for this issue is proposed in [cbioportal-frontend PR #6590](https://github.com/cBioPortal/cbioportal/issues/6590).

[2019-09-20 17:35] ritikakundra opened #6629 "Plots tab does not load"
The plot tab keeps loading for studies in the triage and MSK portals. And it looks like its looking for treatment data even though it's not there. It works in the public portal:
![Screen Shot 2019-09-20 at 1 35 05 PM](https://user-images.githubusercontent.com/12007862/65346760-7b895880-dbab-11e9-9efd-71eb50fc7a0f.png)

[2019-09-20 18:55] n1zea144 commented on #6629
@pvannierop Maybe this may be related to issue [6623](https://github.com/cBioPortal/cbioportal/issues/6623), but why would a fetch for treatment info be executed if the study does not contain treatment info?

[2019-09-20 19:02] kalletlak commented on #6543
@jjgao should this button be available even for clinical tab?

[2019-09-20 19:08] n1zea144 commented on #6623
@pvannierop After some thought, yes.  You need to update [CancerStudyExtractorInterceptor](https://github.com/cBioPortal/cbioportal/blob/master/web/src/main/java/org/cbioportal/web/util/InvolvedCancerStudyExtractorInterceptor.java) to process fetch requests for treatment data.

[2019-09-20 21:04] alisman commented on #5910
@dippindots we need to change validation api to catch this condition (2 genes with same hugo symbol)

[2019-09-20 21:08] #5709 closed

[2019-09-20 21:15] #6285 closed

[2019-09-20 21:25] alisman commented on #6628
@Luke-Sikina let discuss Monday about how to reproduce this

[2019-09-20 21:32] #5200 closed

[2019-09-20 21:35] sheridancbio commented on #6623
We are not sure how to handle permissions when the filter contains only treatmentIds ... how can we know which samples the user has access to?

[2019-09-20 21:40] dippindots commented on #6621
@alisman Is this the correct URL? I haven't seen the `next/prev patient buttons`...

[2019-09-20 21:47] jjgao commented on #6590
@pvannierop I think you put the wrong link to the pr :)

BTW, could you use keywords in the pull requests for closing issues so that issues will be automatically closed when a pr gets merged?

Also if you use zenhub, it would be great if you can link the issue in the pr.

![image](https://user-images.githubusercontent.com/840895/65360625-9c16da00-dbce-11e9-8246-6ac68bca9090.png)

[2019-09-20 21:53] jjgao commented on #6629
@pvannierop would you have time to help with this? We need to fix it soon. Thanks.

[2019-09-20 21:54] jjgao commented on #6543
@kalletlak let's not worry about the clinical data tab.

[2019-09-20 21:56] jjgao commented on #6629
It looks like @sheridancbio has started working on this. https://github.com/cBioPortal/cbioportal/pull/6630

[2019-09-20 21:58] onursumer commented on #6621
@dippindots seems not. this should be an issue on the patient view page.

[2019-09-20 21:58] n1zea144 commented on #6629
Yeah, working on a PR now, but we are not sure what is suppose to happen when treatment ids are passed via the request instead of cancer study ids:
[fetchTreatments](https://beta.cbioportal.org/api/swagger-ui.html#/Treatments/fetchTreatmentsUsingPOST)

[2019-09-20 22:03] sheridancbio commented on #6623
We now are thinking that querying /api/treatments/fetch and supplying a TreatmentFilter containing only TreatmentIds may only be returning meta information about the treatments themselves rather than any sample data. But we are not sure. For now the endpoint will reject all calls that provide only TreatmentId arguments ... but we can probably allow such calls to pass through and always be responde

[2019-09-23 10:05] pvannierop commented on #6623
@sheridancbio

Treatments are like genes. Treatments are not tied to a sample or study. When treatments are fetched by the treatmentId, this is allowed.

[2019-09-23 10:17] pvannierop commented on #6629
I refer to my comment in the primary issue --> https://github.com/cBioPortal/cbioportal/issues/6623#issuecomment-534036295

[2019-09-23 14:14] #5127 closed

[2019-09-23 14:18] inodb commented on #6059
@mrswagbhinav 	yes that would be great !

[2019-09-23 14:46] sheridancbio commented on #6623
will do ... we were thinking that would be appropriate as we understood the endpoint better.

[2019-09-23 15:28] inodb opened #6631 "ehcache parameters don't work as runtime config (need to recompile)"
Some ehcache properties currently only work when included during compile time. This should all be runtime config that can be set using both

`-Dproperty_name=something`

and

`$PORTAL_HOME/portal.properties`

[2019-09-23 16:10] inodb opened #6632 "non-default ehcache.xml does not work"
Getting

`Provider org.redisson.jcache.JCachingProvider not a subtype`

when using non default ehcache.xml location, e.g.:

[code]

[2019-09-23 16:23] inodb commented on #6632
Assigned a few people that I thought might be able to help, feel free to unassign

[2019-09-23 17:45] sheridancbio commented on #6461
@jjgao wasn't this issue addressed with the rollout of cbioportal release 3.1.0?  We had a PR which essentially duplicated work which was part of the release branch we believe.

[2019-09-23 17:49] pvannierop commented on #6623
@sheridancbio Thank you very much for your assistance.

[2019-09-23 18:20] #6461 closed

[2019-09-23 18:21] n1zea144 commented on #6461
Closed issue - this was resolve in PR by Hongxin/Kelsey which treats sv differently than mutattions on the study view.

[2019-09-23 19:39] inodb commented on #6632
was an error related to using the non-default compiled `ehcache.xml`

[2019-09-23 20:07] inodb commented on #6632
This issue can prolly be dropped if the included `ehcache.xml` in the war can be changed using runtime config

[2019-09-23 20:09] sheridancbio commented on #6566
Issues have been addressed

[2019-09-23 20:09] #6566 closed

[2019-09-23 21:07] sheridancbio opened #6633 "Defaults for portal.properties ignored in favor of empty value"
When recently deploying the current code using the content of portal.properties.EXAMPLE as portal.properties, we see that lines which show a property setting without a value, such as:
- dat.uuid.max_number_per_user=
- dat.uuid.revoke_other_tokens=
can cause errors during application startup. Rather than using default values as specified in java code, such as:
    @Value("${dat.uuid.max_number_per_

[2019-09-23 21:58] jjgao commented on #5576
@adamabeshouse I am closing this since it's been so long. Please reopen if still relevant.

[2019-09-23 21:58] #5576 closed

[2019-09-23 21:58] #5623 closed

[2019-09-23 22:23] jjgao commented on #5760
@Luke-Sikina maybe you can help fix this?

[2019-09-23 22:26] #5761 closed

[2019-09-23 22:27] jjgao commented on #5786
closing this since we will retire network tab: https://github.com/cBioPortal/cbioportal/issues/6610

[2019-09-23 22:27] #5786 closed

[2019-09-23 22:30] #5838 closed

[2019-09-23 22:30] inodb commented on #5691
Hi @zbozoky - the PFAM data comes from Genome Nexus (https://www.genomenexus.org).

Our latest PFAM data dump was from February 2018, so it's from before the v32 release (that one is from April):

https://github.com/genome-nexus/genome-nexus-importer/releases/tag/v0.1

I created an issue to update PFAM info:

https://github.com/genome-nexus/genome-nexus-importer/issues/26

Thanks for letting us kn

[2019-09-23 22:30] #5691 closed

[2019-09-23 22:32] jjgao commented on #5852
I am closing this. These links seem no long exist in google search.

[2019-09-23 22:32] #5852 closed

[2019-09-23 22:32] #5854 closed

[2019-09-23 22:32] #5864 closed

[2019-09-23 22:33] #5867 closed

[2019-09-23 22:33] #5875 closed

[2019-09-23 22:35] jjgao commented on #5918
please email cbioportal@googlegroups.com if you have more questions.

[2019-09-23 22:35] #5918 closed

[2019-09-23 22:35] #5919 closed

[2019-09-23 22:36] #5930 closed

[2019-09-23 22:36] #5940 closed

[2019-09-23 22:38] #5950 closed

[2019-09-24 14:57] #6362 closed

[2019-09-24 17:36] #6543 closed

[2019-09-24 18:53] inodb opened #6634 "only save order and visibility of charts on study view not exact coordinates"
When using a small screen the charts exact positions are saved. Then when switching back to using a big screen only half of the page or so is used. Maybe we can only save the order and visibility instead of exact coordinates?

[2019-09-24 18:54] alisman opened #6635 "reference genome genes endpoint is a bottleneck"
This endpoint shows up in monitoring as a performance drain on db.

https://www.cbioportal.org/api/reference-genome-genes/hg19

It returns all ~143,000 genes in public portal.   Is it necessary to return all of them or could we instead return just genes which are queried?

@jjgao @inodb

[2019-09-24 22:16] inodb opened #6636 "add screenshot test for sample without mutations"
Create a screenshot test for:

https://www.cbioportal.org/patient?sampleId=P-0000053-T01-IM3&studyId=msk_impact_2017

Similar to:

https://github.com/cBioPortal/cbioportal-frontend/blob/master/end-to-end-test/remote/specs/core/screenshot.spec.js#L203-L213

Ideally this would use the local test db for a sample without mutations

[2019-09-25 13:30] patidarr commented on #5864
@jjgao, is this issue fixed? I am still on v2.1.0 but would migrating to latest version solve it?

Thanks,
@patidarr

[2019-09-25 15:48] #6636 closed

[2019-09-25 18:46] tmazor opened #6637 "mutex doesn't show full OQL when using "datatypes""
When submitting OQL using DATATYPES, the MutEx tab shows the OQL for just one of the two queried genes:

![image](https://user-images.githubusercontent.com/10508276/65630301-2bdbd000-dfa3-11e9-89c6-c7c0a4ab72b5.png)

![image](https://user-images.githubusercontent.com/10508276/65630323-372efb80-dfa3-11e9-92fb-61ea27f43503.png)

http://bit.ly/2nhcAjO

[2019-09-25 18:55] tmazor opened #6638 "add "one sided" to MutEx fisher exact tooltip"
Change tooltip text to:
Derived from one-sided Fisher Exact Test

[2019-09-25 20:26] inodb commented on #5326
@pieterlukasse actually just ran into this issue during the hackathon when we moved our first authenticated portal to the cloud. We'll prioritize this

[2019-09-25 20:35] tmazor opened #6639 "remove SV data documentation until front end code is released"
Currently file format documentation includes sections for both the existing fusion format and the upcoming SV format. This is very confusing because the SV format isn't fully supported yet. Let's remove that documentation until the code supporting it is fully released.

[2019-09-25 21:02] schultzn opened #6640 "Visualization issue with Waterfall plot when axes are swapped"
Bars overlap the axis

https://beta.cbioportal.org/results/plots?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=mixed_broad_ccle_2018&case_set_id=mixed_broad_ccle_2018_cnaseq&data_priority=0&gene_list=BRAF&geneset_list=%20&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=mixed_broad_ccle_2018_cna&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=mixed_broad_ccle_2018_

[2019-09-25 22:08] alisman opened #6641 "Restore loading state in StudyResultsSummary"
The patient/sample counts should still show a loading animation while loading (and fade in when they are finished).   This PR  https://github.com/cBioPortal/cbioportal-frontend/pull/2715/files undid that behavior as @schultzn reported.

![image](https://user-images.githubusercontent.com/186521/65643235-3015e680-dfbf-11e9-88ce-fffc1c6ecffe.png)

[2019-09-26 14:35] tmazor opened #6642 "link in file format documentation doesn't work"
In the second paragraph of the Clinical Data section (https://docs.cbioportal.org/5.1-data-loading/data-loading/file-formats#clinical-data), there's a link to bring you a bit further down the page to the section on custom columns. However, that link doesn't work:
https://docs.cbioportal.org/5.1-data-loading/data-loading/file-formats#custom-columns-in-clinical-data

[2019-09-26 15:39] jjgao commented on #6634
@kalletlak let's make this a priority. cc'ing @kalletlak

[2019-09-26 15:40] jjgao commented on #6635
We discussed about caching the data in frontend.

[2019-09-26 16:03] jjgao commented on #6642
@tmazor I assigned this to you :) Please feel free to reassign.

[2019-09-26 18:26] jjgao opened #6645 "Too many genes/proteins in the RPPA results of Enrichments tab"
We should only have about 150 dots... Based on the results below, we might have pulled the expression data here.

http://bit.ly/2nwfy3W

![image](https://user-images.githubusercontent.com/840895/65714595-6f990d00-e069-11e9-9030-594a978e9be8.png)

Note: there is no RPPA data in

[2019-09-26 18:36] jjgao opened #6646 "select samples in igv view"
In the Copy Number tab of Study View page, it would be very used if we can select samples in the IGV view directly. We may need support from IGV team on this.

[2019-09-26 19:57] inodb opened #6647 "copy number alterations not showing up in oncoprint that are on study view"
See e.g. CCND1 in study view: https://www.cbioportal.org/study/summary?id=breast_msk_2018.

<img width="400" alt="Screen Shot 2019-09-26 at 3 56 25 PM" src="https://user-images.githubusercontent.com/1334004/65720590-4763db00-e076-11e9-8a24-acba9c0bb5f9.png">

Then query for CCND1 in the same study. You'll notice no CNAs are shown:

<img width="1369" alt="Screen Shot 2019-09-26 at 3 56 48 PM" src="

[2019-09-26 19:58] inodb commented on #6647
@adamabeshouse @zhx828 assigned u to this for now, but feel free to reassign

[2019-09-26 20:09] #5328 closed

[2019-09-26 20:17] inodb commented on #5758
we decided to make session service a requirement

[2019-09-26 20:17] #5758 closed

[2019-09-26 20:30] tmazor commented on #6642
I can't figure this one out... @alisman can you help?

[2019-09-26 20:45] adamabeshouse commented on #6647
the molecular data API is returning empty array, no CNA in it. Something's going on in the backend
@kalletlak ?

[2019-09-26 21:26] alisman commented on #6642
This looks like a markdown problem. The target title has no id corresponding to the links (custom-columns-in-clinical-data).   We need to figure out if the markup is missing.

[2019-09-26 21:36] #6645 closed

[2019-09-26 21:44] alisman commented on #6555
@zhanxw We are going to retire the network tab in about 1 month due to obsolete data.  For this reason it may not make sense to invest time understanding this.  @jjgao ?

[2019-09-27 09:17] fedde-s commented on #5758
Yep, that resolved this, several releases ago already :+1:

[2019-09-27 17:49] dippindots commented on #6638
@tmazor Should we update the tooltip on enrichment tab also?
![image](https://user-images.githubusercontent.com/15748980/65790433-a2a4d480-e12d-11e9-9a24-745883db9e6c.png)

[2019-09-27 20:26] tmazor commented on #6638
@dippindots if it's a one-sided test on enrichments also, then yes, we should definitely update.

[2019-09-29 21:03] khzhu commented on #6611
use fetchStructuralVariantsUsingPOST to fetch only fusions then merge with mutations from fetchStructuralVariantsInMultipleMolecularProfilesUsingPOST in the frontend might be difficult since  return sets from two apis have complete different attributes? add a new endpoint to fetch structure variants might be easier.
[code]

[2019-09-30 14:15] kalletlak opened #6649 "Migration scripts is missing in docs when application is deployed without docker"

[2019-09-30 14:31] kalletlak commented on #6649
Looks like its in https://docs.cbioportal.org/3.-cbioportal-maintenance/updating-your-cbioportal-installation

[2019-09-30 14:31] #6649 closed

[2019-09-30 15:20] khzhu commented on #6611
here is the development plan for using the new structural variants table:
# Backend:
- [ ] remove fusions from the mutation_event table and leave existing fetch mutations endpoints un-touched.
- [ ] add a new web service endpoint to pull fusions out from the new structural-variants table
e.g . /fusion-genes/fetch
- [ ] a new web API getSampleCountInMultipleMolecularProfilesForFusions to collect fu

[2019-09-30 17:19] jjgao opened #6650 "support clinical data in oncoprinter"

[2019-09-30 18:04] #6639 closed

[2019-09-30 18:08] jjgao commented on #6642
@alisman the md file is here: https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md

[2019-09-30 18:09] jjgao commented on #6555
@zhanxw we will replace it with a pathway view.

[2019-09-30 18:09] #6555 closed

[2019-09-30 18:26] jjgao commented on #6611
thanks, @khzhu! I update the to-do list in the description.

[2019-09-30 18:28] jjgao commented on #6611
It is a fairly big task. It would be a good idea to turn this into an epic and create separate issues for the tasks.

[2019-09-30 18:30] khzhu commented on #6611
thanks, @jjgao ! It is much clear now what I suppose to do. I will break down to a few sub tasks.

[2019-09-30 18:31] jjgao opened #6651 "quick links in Plots tab"
- IF copy-number & mRNA → expression vs copy-number box plot [mRNA vs CNA]
- IF methylation & mRNA → expression vs methylation scatter plot [mRNA vs methyl.]
- IF available → Mutation count vs FGA [Mut# vs FGA]
- IF cancer type detailed >1 and <=15 → Mutation count vs cancer type detailed [Mut# vs Dx]
- ELSIF cancer type detailed >15 → Mutation count vs cancer type [Mut# vs Dx]
- IF mRNA & cancer

[2019-09-30 18:31] jjgao commented on #6651
Notifying @tmazor @schultzn @cBioPortal/product

[2019-09-30 19:16] zhanxw commented on #6555
Thank you. I look forward to the new version.

Sent from my iPhone

[2019-09-30 19:52] adamabeshouse commented on #4882
can we discuss this more? I don't really know what to do

[2019-09-30 19:54] adamabeshouse commented on #3635
bump @inodb

[2019-09-30 19:55] adamabeshouse commented on #6650
duplicate https://github.com/cBioPortal/cbioportal/issues/5941

[2019-09-30 19:55] #6650 closed

[2019-09-30 19:55] #6476 closed

[2019-09-30 19:56] adamabeshouse opened #6652 "add typescript typings to oncoprintjs"

[2019-09-30 20:37] #6623 closed

[2019-09-30 20:50] Luke-Sikina opened #6657 "OncoPrint takes too long to render for large sample sets"
# Problem
For large data sets, the OncoPrint tab can take minutes to load, if it loads at all. During this time it consumes a lot of CPU resources and memory.

# Example
Link: https://www.cbioportal.org/results/oncoprint?clinicallist=CANCER_STUDY%2CNUM_SAMPLES_PER_PATIENT%2CPROFILED_IN_COPY_NUMBER_ALTERATION%2CPROFILED_IN_MUTATION_EXTENDED&session_id=5d9268aae4b0656ac4cf2938&show_samples=false
Num

[2019-09-30 21:15] sheridancbio commented on #6629
The issue related to the treatment endpoints have been fixed and merged. There are additional fixes to other API PreAuthorize tag use problems in the works. (#6656)  When these are merged and authenticated portals are built and tested we may be able to close this issue.

[2019-09-30 22:10] #6618 closed

[2019-09-30 22:32] jjgao commented on #3635
@adamabeshouse the problem is that Plots tab and Co-expression tab are not listing all available mRNA profiles.

http://bit.ly/2ncxRva

Co-expression only lists one RNA seq profile but not microarray:
![image](https://user-images.githubusercontent.com/840895/65921319-edce1a00-e3af-11e9-887c-d3d09bcf7284.png)

Plot tab only lists RNA seq and its zscore but not microarray:
![image](https://user-imag

[2019-10-01 14:41] inodb commented on #6642
@alisman https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md

[2019-10-01 16:42] kalletlak commented on #6647
@adamabeshouse @jjgao @inodb looks like data loading issue. somehow this data is missing in `genetic_alteration` table. Similarly gene data which is present in `genetic_alteration` is missing in `sample_cna_event`. Example gene `CCT5` which show alterations in oncoprint is missing in CNA table in study view

[2019-10-01 16:51] kalletlak commented on #6647
@inodb re-importing study might fix this error

[2019-10-01 19:25] sheridancbio opened #6665 "treatments API endpoint output includes internal identifiers"
#6623 has been resolved, but a related issue was noticed during the work ... there are two internal identifiers reported in the output model for treatments:
- internalId
- geneticEntityId

Other endpoints filter internal identifiers such as these through use of Mixin annotations.

[2019-10-01 20:57] jjgao commented on #6647
@ritikakundra @yichaoS @rmadupuri would you please schedule a re-import of the study?

[2019-10-02 08:51] Sjoerd-van-Hagen commented on #6550
@inodb can this be closed?

[2019-10-02 11:53] inodb commented on #6550
The second point still needs to be addressed but should be in a separate issue

[2019-10-02 12:28] Sjoerd-van-Hagen commented on #6550
@inodb Yes, that would be a general improvement.

Will you make the separate issue and close this one?

[2019-10-02 14:25] inodb opened #6668 "Reuse radio buttons component on plots tab for all plots"
On the plots tab when displaying clinical attributes, we should reuse the treatment component radio buttons:

![image](https://user-images.githubusercontent.com/1334004/64047438-cbd94180-cb3c-11e9-8c9e-90b6831e0de8.png)

Currently it's unclear what gene the dots are colored by:

![image](https://user-images.githubusercontent.com/1334004/64047551-1d81cc00-cb3d-11e9-92cb-bf450ff7c184.png)

Let's als

[2019-10-02 14:25] inodb commented on #6550
@Sjoerd-van-Hagen done: https://github.com/cBioPortal/cbioportal/issues/6668

[2019-10-02 14:25] #6550 closed

[2019-10-02 14:48] Sjoerd-van-Hagen commented on #6668
It is colored based on all query genes, right?

[2019-10-02 14:48] Sjoerd-van-Hagen commented on #6651
I like the idea of having examples. My main concern is how we will implement this in a way that does not clutter up the interface, which already has a considerable number of bells and whistles.

[2019-10-02 14:53] inodb commented on #6668
Another thing I guess here is that it's using checkboxes vs radio buttons. Maybe it makes sense to make treatment use this component? Or we can unify the component in some other way perhaps that allows for both use cases?

[2019-10-02 14:55] inodb commented on #6668
Clearing the milestone until we've agreed on the spec

[2019-10-02 14:55] Sjoerd-van-Hagen commented on #6668
With the waterfall plot using both the border and inside coloring would not work, unless you have a very small number of samples. This is why we color either by mutated or cna, not both.

[2019-10-02 14:57] pvannierop opened #6670 "Discussion of gene panel tab mockup for Patient View"
For RFC45 there is the need for a UI component that displays information on a gene panel. I would like to get feedback on the mockup that I have created for this new component. Features of this component:
- Is shown as a new tab in Patient View when gene panel link is clicked in Summary tab.
- Shows name of gene panel, the number of genes in the panel and an interactive multicolumn table that can

[2019-10-02 15:02] alisman commented on #5595
Network tab will be taken down 11/1. Closing this issue.

[2019-10-02 15:02] #5595 closed

[2019-10-02 15:56] jjgao commented on #6670
@pvannierop thanks for the mockup.

I don't think if we should have a `Gene panel` tab in the patient view. Another option is to implement a Gene Panel page for display information about a panel. In different places (patient view, study view, oncoprint, and maybe more) that refer to gene panels, we can than have a link to the gene panel page to open another window (or tooltip).

For the table, may

[2019-10-02 15:58] jjgao commented on #6670
BTW, I don't think we should have an RFC45 label. Instead, it may be better to use Zenhub to create an epic for RFC45 and assign the issues to the epic.

[2019-10-02 16:04] jjgao commented on #6668
For plots other than waterfall, we only overlay the currently selected gene(s). I think it could be useful to allow users to select a different gene.

The checkbox vs radio box, I am leaning towards keeping it consistent.

Maybe we can reuse the waterfall options (including the gene dropdown and radio buttons) and add a new radio button `both` for non-waterfall plots?

[2019-10-02 16:29] schultzn commented on #6651
Here is a suggestion

![image](https://user-images.githubusercontent.com/11892704/66062870-38ff3e80-e510-11e9-9755-f45a752b04be.png)

[2019-10-02 16:45] alisman commented on #6628
@inodb, @Luke-Sikina and I tried to reproduce this in many different ways.   i threw error, put sleep in fetchUserSettings promise, used http rewriting (CHarles proxy) to return 503 response.  nothing kept the counts from showing up.  gonna close this unless we see it again

[2019-10-02 16:45] #6628 closed

[2019-10-02 16:54] alisman commented on #6651
@schultzn i think that works.  i do think they need a label ("Quick links?").  We have Quick Filters in study page.  Perhaps we can reuse the white bar under the nav.   @Luke-Sikina this can be your ticket.  i will work on making a more descriptive spec.

[2019-10-02 17:09] alisman commented on #6651
exactly.   i don't think it essential, but nice to follow convention.  they're also centered on study page.  could go either way on this.  and we don't have to decide now to start implementation.

[2019-10-02 17:13] ritikakundra commented on #6647
@jjgao @kalletlak reimport did the trick, CCND1 is now 19% altered (majorly amp):
http://www.cbioportal.org/results/oncoprint?Action=Submit&cancer_study_list=breast_msk_2018&case_set_id=breast_msk_2018_all&gene_list=CCND1&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=breast_msk_2018_cna&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=breast_msk_2018_mutations&tab_index=tab_visualize&show_sample

[2019-10-02 17:21] tmazor commented on #6670
I agree with @jjgao  - I think that rather than a tab in patient view, it would be better to come up with a standardized gene panel page that can be linked to (as a pop-up or modal or ...) from all of the many places where we refer to gene panels.

Also, I believe this would be the only place in the UI that we show entrez gene IDs - is there a reason that is necessary here? I would vote to simplif

[2019-10-02 17:27] tmazor commented on #6668
I agree about having consistency of checkbox vs radio, and I think a third radio button for "both" makes sense.

Can we also add an option of "Same gene (xxx)", like what we have for the Vertical Axis Gene selector? I think that should be the default and a user can always choose to change it to another gene.

I got a bit lost above... what's the question about coloring samples by two genes?

[2019-10-02 17:57] jjgao commented on #6668
@tmazor when there are different genes for x/y axes, the coloring is based on the two genes.

[2019-10-02 18:09] #6638 closed

[2019-10-02 18:22] tmazor commented on #6668
ohhh thanks @jjgao that makes sense  - in that case, yes, I agree it's ok to only color by one gene

[2019-10-02 18:30] #6548 closed

[2019-10-02 19:00] kalletlak commented on #6647
@jjgao @ritikakundra @yichaoS @rmadupuri here are remaining studies which have similar issue
[code]

@jjgao @inodb noticed one more thing, there are some records in `genetic_alteration` and `sample_cna_event` which are not mapped to any `genetic_profile`. here are some of them GENETIC_PROFILE_ID -> 6902, 7286, 7300

[2019-10-02 19:07] ritikakundra commented on #6647
Scheduled these for import

[2019-10-02 19:30] timchu90 opened #6672 "migration script fails to set user when something other than localhost is set as the db_host"
It seems a bug in the migrate_db.py script in the latest branch is causing incorrect logic when initializing the PortalProperties class.

[code]
Setting database_host to anything with a ':' will cause self.database_user, self.database_pw, etc to not be set and throw:
```AttributeError: 'PortalProperties' object has no attribute 'database_user'```

[2019-10-02 20:22] inodb opened #6674 "It seems like continuous profiles are not checked in the report?"
based on this https://github.com/cBioPortal/cbioportal/pull/6661

only the zscore profiles are included in the test report. Maybe that's on purpose? Not sure

It is also a little clunky that one needs to update the `test_report.html` whenever new `allowed_data_types.txt` are added. It might be better to test particular parts of the report instead of a raw HTML string comparison?

[2019-10-02 20:34] inodb opened #6675 "Documentation for updating the frontend commons"
We recently had a genome nexus API update but for multiple devs it was unclear how to update the API clients in the frontend commons library. Maybe a few lines in the `README.md` suffice

See: https://github.com/cBioPortal/cbioportal-frontend/pull/2752

[2019-10-02 21:29] jjgao commented on #6607
@alisman @Luke-Sikina I am reopening this. I think we are displaying it too early now. Can we hide it before the numbers are ready?

![image](https://user-images.githubusercontent.com/840895/66083135-b2f7ed80-e539-11e9-83f9-868c6539653f.png)

[2019-10-02 21:33] jjgao commented on #6670
Good idea to just show gene symbols. There was some discussion about moving away from entrez gene IDs anyway.

[2019-10-02 21:36] jjgao commented on #6668
@inodb @Sjoerd-van-Hagen I added the milestones back. Who should take this?

[2019-10-02 21:39] adamabeshouse commented on #6651
@jjgao I think putting it in the URL would be definitely doable and wouldn't go stale so easily - we can use the data type enum, profile id, and gene id? the issue I think would be the URL would get really long..

[2019-10-02 21:39] jjgao commented on #6672
@timchu90 would you please email cbioportal@googlegroups.com for support? Thanks.

[2019-10-02 21:44] alisman commented on #6607
@jjgao yes, we have a PR to fix this already.  should be merged very shortly.

[2019-10-02 21:48] jjgao commented on #6651
@adamabeshouse @alisman we should look into options for storing states in url and in session service. Maybe it's time to work it out? https://github.com/cBioPortal/cbioportal/issues/5525

Maybe for this ticket here, we don't have to worry about it as long as the users can click and get to the plots? Or is it a good opportunity to make saving state happen?

[2019-10-02 21:49] jjgao commented on #5525
@adamabeshouse let's discuss this.

[2019-10-02 21:54] #6641 closed

[2019-10-02 21:55] jjgao opened #6676 "Expression tab -> Custom list -> hide studies with no expr. data"
![image](https://user-images.githubusercontent.com/840895/66084862-a70e2a80-e53d-11e9-8722-24bb4981ade6.png)

[2019-10-02 21:56] alisman commented on #5525
worth noting that with URLWrapper, we can now distinguish between core
params that should be in session and those that should not

On Wed, Oct 2, 2019 at 5:49 PM JianJiong Gao <notifications@github.com>
wrote:

[2019-10-02 22:09] adamabeshouse commented on #6651
my sense is lets just focus on the feature, I think. saving state is more in depth and I think will take a while to shake out.

[2019-10-02 22:48] dippindots commented on #6394
@adamabeshouse Seems like this issue has already been fixed?
![image](https://user-images.githubusercontent.com/15748980/66087353-2ce1a400-e545-11e9-81b6-54b9651cab58.png)

[2019-10-03 06:15] pvannierop commented on #6670
I appreciate that most users will know the HUGO symbol. However, I personally think relying on HUGO symbols only, is bad practice in light of the unstable/inconsistent reference (name changes over time, etc.) these indicators provide.

[2019-10-03 08:21] pvannierop commented on #6670
This is the modal mockup.

![image](https://user-images.githubusercontent.com/745885/66109478-082d1100-e5c5-11e9-8e34-3d59ffc19e7c.png)

[2019-10-03 13:35] kalletlak commented on #6130
Frontend still needs to be implemented. @adamabeshouse API changes are merged.

[2019-10-03 13:51] jjgao commented on #6651
@adamabeshouse that sounds good to me.

[2019-10-03 14:00] jjgao commented on #6670
@pvannierop

ZenHub is free for public repos on GitHub: https://www.zenhub.com/pricing

About hugo vs entrez, I got your point, but I think it should be a separate decision for exposing the entrez IDs. I don't think we should only expose it here but not anywhere else. Maybe we can table it and further discussion but not expose it for this round?

I also don't like modal dialog, maybe we can have a

[2019-10-03 14:29] Sjoerd-van-Hagen commented on #6670
@jjgao what is wrong with the modal dialog? A separate page will be more clunky I think.

[2019-10-03 14:44] ngocnn1104 commented on #6640
This issue will be fixed by pending PR [#2753](https://github.com/cBioPortal/cbioportal-frontend/pull/2753).

[2019-10-03 14:54] jjgao commented on #6670
A modal dialog will be blocking and cannot be opened separately. But I don't feel strongly about it as long as we do it consistently across the site.

Why a separate page is clunky?

[2019-10-03 15:21] Luke-Sikina commented on #6651
Just starting this issue. Here's my summary after reading through this.
- create all valid quick links, as described in the main issue
- style the quick links similar to the study page, but also refer to the mock
- don't bother with the url for now, feature has value without it and there seems to be ongoing discussion about if / how

Please let me know if I missed anything.

[2019-10-03 17:21] khzhu opened #6677 "AttributeError: 'PortalProperties' object has no attribute 'database_user' throws when including a port number in database_host property"
[code]

[2019-10-03 17:32] adamabeshouse commented on #6394
@tmazor can you confirm its working on your end as well?

[2019-10-03 17:51] jjgao opened #6679 "Plots tab: RPPA data missing"
In [this query](http://bit.ly/2pIuLQG), the RPPA data exists in OncoPrint, but not in Plots tab. It happens to other studies as well.

[2019-10-03 18:11] tmazor commented on #6394
yes it's working for me @adamabeshouse

[2019-10-03 18:11] #6394 closed

[2019-10-03 18:20] #6647 closed

[2019-10-03 21:49] khzhu commented on #6672
@timchu90 , this has been resolved by PR
[https://github.com/cBioPortal/cbioportal/pull/6678](https://github.com/cBioPortal/cbioportal/pull/6678)

[2019-10-03 21:49] #6672 closed

[2019-10-03 21:49] jjgao commented on #6647
@kalletlak could you please post the sql query you made? @ritikakundra do we have database tests? If so, we can add Karthik's script.

[2019-10-03 21:59] #6677 closed

[2019-10-03 22:03] ritikakundra commented on #6647
@kalletlak Is CCND1 for:
urcc_mskcc_2016
egc_msk_2017
nsclc_pd1_msk_2018
lung_msk_2017
ucec_msk_2018

And second: Why do these genes go missing?

[2019-10-03 22:24] khzhu commented on #6627
@timchu90 ,
to answer your questions:
1. please read this [document](https://www.keycloak.org/docs/6.0/server_admin/#saml-bindings). It explains how saml response is generated.
2. **_Valid Redirect URIs_** defines URL pattern for Keycloak to use upon a successful authentication.
3. did you set both **_Force POST Binding_** and **_Front Channel Logout_** to OFF and **_Force Name ID Format_** to ON?

[2019-10-04 07:06] Sjoerd-van-Hagen commented on #6651
Looks good but I would change 'Quick links' to 'Examples' or 'Example plots'.

[2019-10-04 07:14] Sjoerd-van-Hagen commented on #6670
@jjgao in a single page app opening a separate page feels a bit 'off' to me.

What is the use case for showing the gene panel information? Imo, the user would want to check on a particular gene quickly and close it again. I do not think someone would go and look at all the genes in the panel. Perhaps the user is looking at the mutations in a patient and is thinking something like: wait, is there n

[2019-10-04 07:44] Sjoerd-van-Hagen commented on #6668
We can put it on our backlog but if you would like to do this short term it is better if you can take it up.

[2019-10-04 11:53] alisman commented on #6651
👍

On Fri, Oct 4, 2019 at 3:06 AM Sjoerd-van-Hagen <notifications@github.com>
wrote:

[2019-10-04 14:19] kalletlak commented on #6647
@ritikakundra No, in general. I was looking for Studies which has records in CNA table in study view but doesn't show-up in oncoprint for same genes.

Not sure why those are not added into genetic_alteration table.

[2019-10-04 15:35] #6676 closed

[2019-10-04 18:02] kalletlak commented on #4637
Implemented in https://github.com/cBioPortal/cbioportal-frontend/pull/2534. closing

[2019-10-04 18:02] #4637 closed

[2019-10-04 19:30] #6634 closed

[2019-10-05 17:12] jjgao commented on #6670
@Sjoerd-van-Hagen thanks for the explanation.

I was thinking of the gene panel page more as an informational page for the user to study the gene list.

@tmazor @schultzn since you have requested this page for a couple of times, how/when would you use it?

[2019-10-05 17:14] jjgao commented on #6668
Thanks, @Sjoerd-van-Hagen . I assign it to you :)

[2019-10-06 20:35] khzhu commented on #5809
Hi @zisimo , in order to use **_https_**. you will have to set up a SSL for both your tomcat and the keycloak server.
1. please follow this [article](https://tomcat.apache.org/tomcat-8.0-doc/ssl-howto.html) to set up a SSL for your tomcat server if you are using tomcat 8.
2. Steps to set up a SSL for keycloak can be found [here](https://www.keycloak.org/docs/latest/server_installation/index.html#s

[2019-10-06 20:38] khzhu commented on #5809
please note you can not use port 80 for https, port 443 is reserved for https.

[2019-10-07 20:26] alisman opened #6686 "Improve expression tab loading behavior"
When you load expression tab currently, you two weird small loaders on left.  Lets make this page like rest of site and just have one big loader in center.

![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/d05fea4f-cd94-40bc-8f2c-b5d0e62989af)

[2019-10-08 16:07] alisman opened #6687 "Improve centering of titles in expression tab controls"
![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/e13ceea5-c78f-4958-8b50-287d78e94d65)

can be achieved just by putting margin-bottom:0 on the <h5> tags
there's existing:
.expression-controls .form-group h5

[2019-10-08 18:02] #6686 closed

[2019-10-08 18:02] #6687 closed

[2019-10-08 19:56] #5378 closed

[2019-10-09 11:10] radzikp opened #6689 "Data load when ehcache filesystem cache is set (v3.1.0)"
When run this command metaImport.py -s . -o -n -v -jar /.../scripts/target/scripts-3.1.0.jar ****

[code]

Reason:
If ehcache settings are set to use filesystem cache when portal is up and running in the same time  you import data by scripts-3.1.0.jar then you've got the exception.

[2019-10-09 13:19] #6631 closed

[2019-10-09 16:52] Luke-Sikina opened #6691 "Gene Query Limit Not Being Shown"
Previously, when you made a query of more than 100 genes, there was a white text red background error message in place of the green one in the screen shot.

![Screenshot from 2019-10-09 12-50-23](https://user-images.githubusercontent.com/20069833/66502606-97d63200-ea93-11e9-91a6-48d93d898e1d.png)

Luke: I found this, it's my fault and I'm fixing it. Just wanted to document it's existence in case s

[2019-10-09 18:13] #6384 closed

[2019-10-09 18:23] jjgao commented on #6679
The rppa data is working in another query: https://www.cbioportal.org/results/plots?session_id=5d9e257ce4b0656ac4cf36e2

[2019-10-09 19:56] adamabeshouse commented on #6679
im not seeing a problem, theres just no protein alterations for kras. if you change the gene to nras you'll see the plot.

[2019-10-10 03:19] jjgao commented on #6689
@mandawilson would #6666 solve this one?

[2019-10-10 03:31] jjgao commented on #6679
ah, I see. Sorry.

[2019-10-10 03:31] #6679 closed

[2019-10-10 07:27] Sjoerd-van-Hagen commented on #6670
@tmazor @schultzn can you give some input on this?

Would you like to have a separate gene panel page? Would you want to go there instead of seeing a quick popup, or would it better to have both?

[2019-10-10 12:31] #6691 closed

[2019-10-10 13:18] onursumer opened #6989 "Set an explicit option to enable/disable annotation"
Currently the only way to enable annotation with Genome Nexus is to set the `filterMutationsBySelectedTranscript` to `true`. This is pretty confusing. We should add an explicit option like `annotateMutations` instead. And we should probably annotate mutations even if `filterMutationsBySelectedTranscript` is set to `false`.

[2019-10-10 17:32] #6491 closed

[2019-10-10 17:32] #5189 closed

[2019-10-10 18:07] alisman commented on #6621
![image](https://user-images.githubusercontent.com/186521/66594466-3a131a00-eb67-11e9-9999-60ab8e308844.png)

[2019-10-10 18:13] #5613 closed

[2019-10-11 03:10] schultzn commented on #6670
Sorry for the delay.

I think both would be useful. In addition to a popup, it would be nice to have a centralized page that lists all gene panels used in a given instance of cBioPortal. The table could have the following entries:
 - Name of list
 - any meta data fields we have for the list
 - number of genes
 - number of samples using this gene list
 - number of studies that contain samples with

[2019-10-11 06:42] Sjoerd-van-Hagen commented on #6670
It does make sense.

We will implement the modal popup as we planned, and perhaps improve it a bit.

For the gene panel page, I suggest we make a design. It would not be part of the current project we are running but I can try to float it with the sponsor to see if we can do it in a follow up project.

[2019-10-11 06:49] AswathyPaul opened #6696 "Oncoprint result difference"
I had accessed cBioPortal a month ago looking for expression of genes (mRNA Expression z-Scores (RNA Seq V2 RSEM)) in different cancer such as Breast Invasive Carcinoma (TCGA, Provisional), Ovarian Serous Cystadenocarcinoma (TCGA, Provisional) and endometrial. But when was were cross verifying the expression once again today I found the result was different. The change was for breast and ovarian b

[2019-10-11 13:56] tmazor opened #6697 "plots - treatment data - samples are not properly colored by copy number alteration"
http://bit.ly/2AZO7D8

Note here that samples with an amplification called are labeled as not profiled for copy number:
![image](https://user-images.githubusercontent.com/10508276/66657066-3043f200-ec0d-11e9-9d02-3d14debf58ab.png)

The same data when plotted with mRNA instead of treatment correctly colors samples by copy number:
![image](https://user-images.githubusercontent.com/10508276/66657088-

[2019-10-11 14:00] tmazor opened #6698 "plots - horizontal scrolling is very difficult"
On other tabs, e.g. OncoPrint, I can just have my mouse anywhere over the plot and scroll horizontally.

On a waterfall plot (which will often be wider than the screen), I have to use a very narrow scrollbar above the plot to scroll. This is less intuitive and much harder to use.

Let's use the same scrolling mechanisms on plots as we have used on OncoPrint and elsewhere.

![image](https://user-im

[2019-10-11 14:01] Sjoerd-van-Hagen commented on #6697
@pvannierop can you have a look at this. Interestingly, it only occurs with treatment on the horizontal axis, which is why I did not notice this before.

[2019-10-11 18:04] Luke-Sikina opened #6699 "Standard unit test command only runs 2 unit tests"
![Screenshot from 2019-10-11 14-02-05](https://user-images.githubusercontent.com/20069833/66673970-c5f07900-ec2f-11e9-9ec1-a8d74fa8e9cd.png)

This is caused by a `describe.only`

[2019-10-11 18:29] #6699 closed

[2019-10-11 20:49] jjgao commented on #6696
@AswathyPaul we have been recalculating all z-scores. We decided to use all samples instead of just the diploid samples as the reference population. We haven't finished updating all studies yet. Please let us know (cbioportal@googlegroups.com) if you have any questions or concerns.

[2019-10-11 20:49] #6696 closed

[2019-10-11 20:50] jjgao commented on #6698
And why the scroll bar is on the top.

cc'ing @alisman as well.

[2019-10-11 21:15] tmazor opened #6702 "co-expression is too slow"
Co-expression tab has become un-usably slow.

This query, with just 283 samples, takes 2 minutes to load: http://bit.ly/31n4tSi

I know we've talked about this and there were some theories about how to improve on this, but we need to get those fixes deployed soon.

[2019-10-12 21:52] jjgao commented on #6702
duplicated with https://github.com/cBioPortal/cbioportal/issues/6467.

[2019-10-12 21:53] jjgao commented on #6702
@n1zea144 it'd be great if we can prioritize this one.

[2019-10-12 21:53] #6702 closed

[2019-10-14 06:43] pvannierop commented on #6698
@tmazor @jjgao This behavior is default to cBioPortal (implementd by @alisman in [PR #1345](https://github.com/cBioPortal/cbioportal-frontend/pull/1345)) and not modified by me.

[2019-10-14 09:28] j-hudecek opened #6704 "Network tab crashes on mouseover of a gene"
Opening the network tab and mousing over a gene highlights but the whole view freezes
![image](https://user-images.githubusercontent.com/5654699/66741324-8d41e100-ee75-11e9-899d-8d3c64863b36.png)

Selecting genes from the list works

An error appears in console:

    cytoscape.renderer.canvas.portal-renderer.js:164 Uncaught DOMException: Failed to execute 'addColorStop' on 'CanvasGradient': The pr

[2019-10-14 11:58] j-hudecek opened #6705 "Can't hide Example queries"
Our private portal doesn't have all TCGA studies loaded so the example queries don't work. We wanted to hide them but it's not possible. We set these in portal.properties:

    skin.examples_right_column=
    skin.right_nav.show_examples=false

and window.frontendConfig.serverConfig.skin_right_nav_show_examples is false when inspecting in console, however the examples are still there. Looking at t

[2019-10-14 13:20] pvannierop opened #6706 "ResultsViewPage not showing tabs after update of incorrect gene symbols"
I came across this problem with component logic in ResultsViewPage the user enters an incorrect gene symbol via the URL. To recreate this behavior:

# Reproduction
1. Go to cbioportal with this url that contains an invalid gene symbol __RB__: https://www.cbioportal.org/results/oncoprint?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=mixed_pipseq_2017&case_set_id=mix

[2019-10-14 14:28] alisman commented on #6706
@dippindots could you write an e2e test for this?

[2019-10-14 15:53] dippindots commented on #6706
@alisman Sure!

[2019-10-15 11:03] Sjoerd-van-Hagen commented on #6139
@jjgao see above

[2019-10-15 13:23] inodb commented on #6277
@alisman aren't the existing logical tests more secure?

[2019-10-15 13:36] tmazor opened #6709 "fusion tables"
The new fusion tables in study view are a great addition, but I suspect that they are currently misleading.

I visited study view for a random sampling of studies, and most have an empty fusion table:
![image](https://user-images.githubusercontent.com/10508276/66836384-3862a100-ef2f-11e9-97b2-48c6a2badaef.png)
https://www.cbioportal.org/study/summary?id=cesc_tcga

I suspect that for many of these

[2019-10-15 13:40] zhx828 commented on #6709
Just quick note on this. We don't have a case list for fusion yet. There is an structural variant effort undergoing which is supposed to address the issue. We should find a temporary solution for tcga studies.

[2019-10-15 14:04] inodb opened #6710 "screenshot of plots tab mutations changed on rc"
This might have been an intentional change:

https://github.com/cBioPortal/cbioportal-frontend/pull/2790/commits/3ab754b466276c353599bd18ebf4d403fcd17b2e?short_path=401ab1c#diff-401ab1c2bf57eec42cd5ea1b2969c4a8

[2019-10-15 17:17] #6621 closed

[2019-10-15 18:15] zhx828 commented on #6709
@tmazor @schultzn The frontend team discussed the issue during the weekly meeting. We are going to modify one API to record whether the study has fusion. If yes, then the table will show up. I will keep you posted when that's available.

[2019-10-15 18:45] ChrisWakefield commented on #6306
Here I am months later.
@jjgao @zhx828 Is there (what is) a preferred way to display a modal confirmation dialog?  Recall that I am to show a disclaimer message before opening the NGCHM.

I've found some existing use of <Modal ...> and been trying to get that to do what I need, but I'm trying to avoid creating whole new files and new classes just for this.  It seems like it should be simple, but m

[2019-10-15 21:17] adamabeshouse commented on #6402
duplicate https://github.com/cBioPortal/cbioportal/issues/6401

[2019-10-15 21:17] #6402 closed

[2019-10-16 11:18] #6632 closed

[2019-10-16 11:20] inodb opened #6712 "using `-Dehcache.cache_type=hybrid` throws error"
Getting this error when using `-Dehcache.cache_type=hybrid`:

[code]

It works fine when using disk only with `-Dehcache.cache_type=disk`

[2019-10-16 14:58] jjgao opened #6713 "mutations table - variant linkout column"
genome nexus

- oncokb?
- clinvar
- clingen allele registry
- cosmic
- myvariantinfo

[2019-10-16 15:58] #6534 closed

[2019-10-16 16:30] #6640 closed

[2019-10-16 19:31] #6706 closed

[2019-10-16 20:46] #4090 closed

[2019-10-16 20:58] adamabeshouse commented on #5941
@jjgao just realized thats not going to work because that would only allow a single clinical track, right?

[2019-10-17 13:24] Luke-Sikina commented on #6594
Documenting why this may take a minute:
This is a bit more difficult than just adding two links because of the current behavior of the tool tip. Right now, the tool tip follows your mouse and disappears when you leave your current bar. This means that with the current implementation, the tool tip is impossible to click. That's problematic when you're adding clickable links.

[2019-10-17 14:46] jjgao commented on #6306
adding @alisman to this and see he has suggestions.

[2019-10-17 14:51] jjgao commented on #5941
@adamabeshouse not sure if I follow, but the format above will support multiple attributes - one attribute per column.

[2019-10-17 14:54] jjgao commented on #6698
@pvannierop got it. Thanks. I assign this to @alisman

[2019-10-17 14:56] jjgao commented on #6704
@j-hudecek we will remove the network tab very soon and replace it with a pathway view.

[2019-10-17 14:56] #6704 closed

[2019-10-17 16:54] adamabeshouse commented on #5941
right, sorry i got confused for a second.

[2019-10-17 17:50] Sjoerd-van-Hagen commented on #6139
@jjgao Why do you want to turn off the feature? It is useful and it works.

[2019-10-17 18:10] #6130 closed

[2019-10-17 18:53] #6607 closed

[2019-10-17 18:53] Luke-Sikina commented on #6607
Fixed with: https://github.com/cBioPortal/cbioportal-frontend/pull/2748

[2019-10-17 20:50] ChrisWakefield commented on #6306
@jjgao @zhx828 @alisman Thanks.  I think I've found a solution that should be ok.  It did require more head-banging.

[2019-10-17 21:07] jjgao commented on #6139
@Sjoerd-van-Hagen I thought that was the agreement - We would not release the feature until the changes to the query page are reverted. And I think we need more data for releasing this feature, e.g. for all pancan studies.

[2019-10-17 22:09] Sjoerd-van-Hagen commented on #6139
@jjgao There is an option to not show the gene sets on the query page.

The pancan studies do not have expression so that would not work. We only have TCGA provisional for gbm. Let's load that and see how it works without showing them on the query page. We can then do the other TCGA provisional studies.

[2019-10-17 23:31] #6652 closed

[2019-10-17 23:31] #6554 closed

[2019-10-18 13:00] inodb opened #6716 "Difficult to only import API clients for cbioportal-frontend-commons"
Currently you need to download all dependencies to only use the API clients. Say for instance one would like to use the Genome Nexus API for a Node command line client but one need to include all of react etc.

Would be nice to have some better documentation as well on how to use the clients (maybe for official cBioPortal API release?)

[2019-10-18 13:58] Luke-Sikina commented on #5425
Closing this. The code is merged into master and deployed on cbioportal.org.
PR: https://github.com/cBioPortal/cbioportal-frontend/pull/2724

[2019-10-18 13:58] #5425 closed

[2019-10-18 14:02] schultzn opened #6717 "Treatments: Select treatments that match search term"
Can we change the button here to allow the user to select all treatments that match the search term? I thought we had that in the first version, but I might be wrong.

![image](https://user-images.githubusercontent.com/11892704/67100826-685baf80-f18e-11e9-88f2-4be2c5172266.png)

[2019-10-18 15:32] Luke-Sikina commented on #5760
I don't think this can be done right now. I put a question in SpringFox's glitter, but from what I can tell, `Docket.properties` is a HashSet, which blows away any ordering on the submitted list. There are a few outcomes here:
1. I am wrong, someone in the chat tells me what to do. I do it, it works, we rejoice.
2. I am right, but they are fine with me submitting a PR. I do that, we upgrade when i

[2019-10-18 15:44] jjgao commented on #5760
@Luke-Sikina maybe at least submit this issue to them?

[2019-10-18 15:59] Luke-Sikina commented on #5760
@jjgao Honestly, if I don't get a reply soon on their chat, I'm just going to put up a PR. It's a pretty small change, and a similar one went through recently.

[2019-10-18 16:54] khzhu opened #6718 "moving from older version of cbioportal to latest causes redirect loop upon logging in"
[code]

[2019-10-18 18:11] tmazor commented on #6651
@Luke-Sikina can we try this order?

IF cancer type detailed >1 and <=15 → Mutation count vs cancer type detailed [Mut# vs Dx]
ELSIF cancer type detailed >15 → Mutation count vs cancer type [Mut# vs Dx]
IF available → Mutation count vs FGA [Mut# vs FGA]
IF mRNA & cancer type detailed >1 → mRNA vs cancer type detailed [mRNA vs Dx]
IF mRNA and mutation count > 0 → mRNA vs mutation type [mRNA vs mut

[2019-10-18 18:15] tmazor opened #6720 "plots tab: when y-axis label is long, it overlaps "style samples by""
![image](https://user-images.githubusercontent.com/10508276/67117889-b0d89480-f1b1-11e9-9536-871d2fb0289c.png)
https://www.cbioportal.org/results/plots?session_id=5daa012fe4b05f1dfb8a74cf

[2019-10-18 18:27] zhx828 opened #6721 "Custom bins should be remembered for user preference"
The custom bins is currently not saved in the session, but we should.

[2019-10-18 18:30] alisman commented on #6252
In study view, for numerical charts, we want to add a submenu on the group comparison option in dropdown allowing user to choose the grouping logic (quartiles or current bins).

[2019-10-18 18:31] alisman commented on #6278
@kalletlak, we decided to assign this ticket solely to you (@dippindots  will focus elsewhere).

[2019-10-18 19:01] tmazor opened #6723 "issues with plots tab gene selection memory"
Go here:  http://bit.ly/2J2E0BY

- Click over to plots tab. The default plot is Copy Number (KRAS) vs mRNA (same gene = KRAS).
- Change copy number gene to EGFR. mRNA changes to "same gene=EGFR". This is fine.
- Change copy number to clinical. mRNA reverts back to KRAS. This is confusing - the gene should remain EGFR.
- Swap axes. Now mRNA is showing EGFR again. This is even more confusing. Swappi

[2019-10-18 19:06] tmazor opened #6724 "plots tab - remember profile for each data type"
If I change the profile for a datatype, it would be good for that to be remembered.

For example, go to plots tab here: http://bit.ly/31sZX3i
Change mRNA from RNA-seq to microarray. Click on Mut vs Dx, and then on mRNA vs mut type. The mRNA profile will be changed back to RNA-seq.

It would be much better to have the plots remember the last selected profile for a given data type.

[2019-10-19 13:50] schultzn commented on #6651
And maybe add FGA vs Cancer Type, so:

IF cancer type detailed >1 and <=15 → Mutation count vs cancer type detailed [Mut# vs Dx]
ELSIF cancer type detailed >15 → Mutation count vs cancer type [Mut# vs Dx]
IF cancer type detailed >1 and <=15 → FGA vs cancer type detailed [FGA vs Dx]
ELSIF cancer type detailed >15 → FGA vs cancer type [FGA vs Dx]
IF available → Mutation count vs FGA [Mut# vs FGA]
IF

[2019-10-19 15:17] Sjoerd-van-Hagen opened #6726 "Bug in the adding of treatments to the heatmap"
There is a bug in the adding of treatments to the heatmap that has recently been introduced. It is easy to reproduce:
- go to the add treatment menu in the oncoprint heatmap menu
- use the search box to search for something, say braf
- note that the number in the select all button is not updated
- if you click the select all button all the treatments are selected, not just the ones that match the

[2019-10-19 15:47] Sjoerd-van-Hagen commented on #6139
The pan can expression data is not yet available in cBioPortal is what I
meant.

I have spoken to our client recently and they plan to release the scripts
for computing all the scores. They are switching the algorithm from GSVA to
ssGSEA, as this has some nice properties.  After that it is simply a matter
of running the scripts against the public datasets.

--

E.   sjoerd@thehyve.nl

T.   +31(0)3

[2019-10-19 15:55] jjgao commented on #6635
- [ ] add `last_updated_genes` into [info table](https://github.com/cBioPortal/cbioportal/blob/master/db-scripts/src/main/resources/cgds.sql#L844)
- [ ] increase the database schema version
- [ ] update [migration.sql](https://github.com/cBioPortal/cbioportal/blob/master/db-scripts/src/main/resources/migration.sql)
- [ ] add to the [import gene script](https://github.com/cBioPortal/cbioportal/blob

[2019-10-21 02:29] schultzn commented on #6139
But the mRNA data are there for all PanCan Atlas studies…

[2019-10-21 12:06] pvannierop commented on #6726
Duplicate of #6717

[2019-10-21 12:52] pvannierop commented on #6717
@schultzn We have put this issue on our to do list.

[2019-10-21 12:52] #6726 closed

[2019-10-21 12:53] Sjoerd-van-Hagen commented on #6726
@pvannierop Provided the second bit also gets fixed!

[2019-10-21 12:54] pvannierop commented on #6697
@tmazor We have put this issue on our todo-list.

[2019-10-21 13:29] kalletlak commented on #6718
Resolved in https://github.com/cBioPortal/cbioportal/pull/6719. Closing it for now.

[2019-10-21 13:29] #6718 closed

[2019-10-21 15:36] jjgao commented on #6721
Should we also have a "default bins" option in the "custom bin" menu so that one can reset it?

[2019-10-21 15:41] jjgao commented on #6723
@tmazor good catch. @Luke-Sikina could you make sure a selected gene should not change unless a user decides to?

[2019-10-21 15:50] alisman opened #6727 "Expression tab chart doesn't have vertical line"
![image](https://user-images.githubusercontent.com/186521/67221027-cab7e880-f3f8-11e9-8bf7-d44803ed21d9.png)

Look at how the first study doesn't have a vertical line in background.

Following [study](https://www.cbioportal.org/results/expression?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=laml_tcga_pan_can_atlas_2018%2Cacc_tcga_pan_can_atlas_2018%2Cblca_tcga_pan

[2019-10-21 18:52] khzhu commented on #6709
@zhx828 , which existing API to modify. I am not sure if we have one already.

[2019-10-21 19:10] zhx828 commented on #6709
@khzhu  you could modify the `/sample-counts/` under `StudyViewController` to include `numberOfFusionProfiledSamples/numberOfFusionUnprofiledSamples` in the `MolecularProfileSampleCount` model. The api call in the study view to this endpoint is before all charts are rendered, so you can include fusion table only if the `numberOfFusionProfiledSamples` is bigger than 0.

[2019-10-21 19:16] khzhu commented on #6709
@zhx828 , I see. Sounds like a good plan. I will get the API modified. Thanks!

[2019-10-21 19:57] n1zea144 commented on #4983
@jjgao I'm looking at [PR6585](https://github.com/cBioPortal/cbioportal/pull/6585) which is a supporting PR for this effort.  I wonder why GraphQL was not considered (and maybe should still be) as a means to filter/query.

[2019-10-21 20:12] khzhu commented on #6709
@zhx828 , the problem now is we can not get Fusion sample Ids from the molecularProfileService, since Fusion is not a type of genetic profiling.

[2019-10-21 22:07] jjgao commented on #4983
@n1zea144 I think PR #6585 is just change some of the format of the currant API. The decision of using JSON based REST api was during the refactoring effort.

We can consider GraphQL implementation if needed, but it probably should be implemented as separate effort across the API. (But I am not sure if there is a reason to prioritize that though.)

[2019-10-21 22:16] jjgao commented on #6709
@khzhu I guess we need to query the data to see if there are any fusions, you can do a `limit 1` or `exists` for performance: https://stackoverflow.com/questions/10598935/select-exists-vs-limit-1

[2019-10-22 16:40] khzhu commented on #6709
Hi @jj, we will need a new web service endpoint then.

[2019-10-22 17:20] khzhu commented on #6709
@jjgao @zhx828 , what do you think this plan?

- [ ] 1. add a new fusion case list
- [ ] 2. add a new flag **_fusionPresent_** to sample model
- [ ] 3. add a new property **numberOfFusionProfiledSamples** in MolecularProfileSampleCount
- [ ] 4. count number of Fusion Profiled in Samples if sample is marked as **fusionPresent**.

[2019-10-22 17:34] n1zea144 commented on #6717
This came up in a parallel conversation, I would suggest we only show treatments in this list that are available in the chosen molecular profile.  This will be easier to implement once we have the generic assay code in place.

[2019-10-22 19:07] alisman commented on #6724
@tmazor could you verify that the above PR solves the issues you raised?   U can use this:

https://cbioportal-frontend-pr-2804.herokuapp.com/

[2019-10-22 21:00] tmazor commented on #6724
Awesome! Looks like this and #6723 are fixed.

[2019-10-22 21:56] #6723 closed

[2019-10-22 21:56] #6724 closed

[2019-10-23 10:49] ngocnn1104 commented on #6717
This issue is fixed by pending PR [#2807](https://github.com/cBioPortal/cbioportal-frontend/pull/2807).

[2019-10-23 11:55] a-nayden opened #6729 "Documentation on multiple reference genomes"
Hello,

I'm the author of [this question](https://groups.google.com/forum/#!topic/cbioportal/FCAQDS7H-4Q).

Is it possible to add some documentation on how to reconfigure a cBioPortal instance so both human and mouse data can be uploaded. [This one](https://github.com/cBioPortal/cbioportal/blob/master/docs/Import-reference-genome.md) does not seem to be relevant.

Thank you,
Anastasia

[2019-10-23 13:39] kalletlak commented on #6721
@zhx828 @jjgao how about the log-scale option. should we remember even this?

[2019-10-23 14:08] zhx828 commented on #6721
I think so. Every chart should have a setting object to record all relevant features.

[2019-10-23 16:26] jjgao commented on #6278
@kalletlak for multiple studies, we can group the profiles based on profile name, similar to what @dippindots did in the Download tab. http://bit.ly/32GITID

[2019-10-23 16:35] sheridancbio commented on #6712
I have commented on this via slack. We believe the problem is due to disk resource limits not being larger than heap resource limits (as the Ehcache cache manager requires). A PR was merged recently which detected and reported such errors in the logs (#6715).
We plan to redeploy kubernetes public portals this week with adjusted resource limits and see if that corrects this problem completely.

[2019-10-23 17:35] timchu90 commented on #6627
Thanks for your help, we managed to trace down the issue to Tomcat. Enabling SSL to Tomcat fixed that problem.

[2019-10-23 17:35] #6627 closed

[2019-10-23 18:21] ao508 commented on #6675
@inodb Is this still unresolved?

[2019-10-23 18:26] ao508 commented on #6180
Following up on this with @averyniceday @sheridancbio

[2019-10-23 18:31] sheridancbio commented on #6712
Adjustment of disk usage limit properties to be larger than heap usage limit properties allowed the public portal to be successfully redeployed under kubernetes with cache_type hybrid.  So this appears to not require and code fixes.

[2019-10-23 18:31] #6712 closed

[2019-10-23 19:50] khzhu commented on #6729
hi @a-nayden ,
to answer your questions:

yes, is possible.

you might want to go through the document on [how updating gene and gene alias tables](https://docs.cbioportal.org/3.-cbioportal-maintenance/updating-gene-and-gene_alias-tables) to load genes from other species such as mouse

those perl scripts can be found at
[code]

here is how it works.
1. assume all reference genomes already loaded i

[2019-10-23 21:51] jjgao commented on #6627
@timchu90 if you think there is anything that the documentation can be improved, we welcome pull requests :)

[2019-10-23 22:00] alisman opened #6735 "Refactor oncoprint sort mode in ResultsViewOncoprint.tsx"
https://github.com/cBioPortal/cbioportal-frontend/pull/2726

In my URLWrapper branch, we need to make oncoprint sort mode driven by URL.   It seems a bit messy how it's handled now so this may require a little refactoring.

As you probably already understand, the basic flow is
1. Mutation to a setting is always done via urlWrapper.updateRoute
2. Application state must then derive from urlWrapper.

[2019-10-23 22:15] alisman opened #6736 "Fix for tooltip related e2etest failures"
We have a stylesheet that is e2e test only.  We had previously dealt with plots tab tooltips by just hiding them.  (src/globalStyles/e2etest.scss).
This stopped working because we started mounting the tooltips on body node, outside of .plotsTab div.  The css was not applied.

So ... we need to figure out nice way to fix this.   We probably don't want to just hide all tooltips in e2e tests because

[2019-10-24 08:29] pvannierop opened #6737 "treatment_list url parameter lost when going from Oncoprint to Plots Tab"
# Current behavior
Selecting a treatment response profile in oncoprint sets the _treatment_list_ url parameter. Navigation to Plots Tab updates the url to be handled by session service.
[code]
Because the  the _treatment_list_ parameter is not available for Plots Tab this components gives an error that notify the user has not selected treatments in oncoprint even though the treatments were added i

[2019-10-24 11:35] pvannierop commented on #6726
@Sjoerd-van-Hagen Ah ok. I did not read until that line. I will add this to our todo list.

[2019-10-24 15:34] jjgao commented on #6729
Thanks, @khzhu! Would it be useful to have some of your answers in the documentation?

[2019-10-24 15:34] #6729 closed

[2019-10-24 15:41] tmazor opened #6739 "oncoprint tooltip issues"
1) Text extends beyond the right border of the tooltip
2) The word "profiles" is split mid-word

![image](https://user-images.githubusercontent.com/10508276/67501911-11088400-f653-11e9-89b1-c419b6adaf75.png)

http://genie.cbioportal.org/results/oncoprint?clinicallist=NUM_SAMPLES_PER_PATIENT%2CPROFILED_IN_genie_public_cna&session_id=5db1c548e4b0616a4480b517&show_samples=false

[2019-10-24 16:59] jjgao commented on #4804
@n1zea144 @sheridancbio this may be worth looking into.

[2019-10-24 17:03] jjgao commented on #5475
The Mutated Genes and CNA Genes tables are still very slow.

[2019-10-24 17:05] #3180 closed

[2019-10-24 17:21] jjgao commented on #4034
@adamabeshouse @zhx828 do you know what @ersinciftci is talking about here?

[2019-10-24 17:26] #4018 closed

[2019-10-24 17:27] jjgao commented on #4253
Looks like this is done!

[2019-10-24 17:27] #4253 closed

[2019-10-24 17:36] jjgao opened #6740 "Enrichments: remove message of "The results below do not reflect gene panel data""
Now that we are considering gene panel data in this tab.

http://bit.ly/2JklipE

![image](https://user-images.githubusercontent.com/840895/67510523-21285f80-f663-11e9-88d3-3ca1ef0c2e21.png)

[2019-10-24 17:40] #5015 closed

[2019-10-24 17:43] #6019 closed

[2019-10-24 17:51] jjgao commented on #6051
There are more tabs using gene panel data now, e.g. mutex and enrichments.

I like @tmazor's idea to add an option to exclude any samples that are not profiled in all query genes. Maybe we can add it to the global setting once that's implemented.

[2019-10-24 17:52] #6052 closed

[2019-10-24 17:53] jjgao commented on #6080
closing this since the user didn't respond.

[2019-10-24 17:53] #6080 closed

[2019-10-24 17:54] jjgao commented on #6109
@inodb should this remain open?

[2019-10-24 17:57] jjgao commented on #6122
this seems fixed.

[2019-10-24 17:57] #6122 closed

[2019-10-24 17:59] jjgao commented on #6131
@inodb is this done?

[2019-10-24 18:00] #6697 closed

[2019-10-24 18:23] #5760 closed

[2019-10-24 18:23] jjgao commented on #6317
@alisman any update?

[2019-10-24 19:08] adamabeshouse commented on #4034
it appears to be done already

[2019-10-24 19:08] #4034 closed

[2019-10-24 19:14] #6377 closed

[2019-10-24 19:22] #6424 closed

[2019-10-24 19:22] #6423 closed

[2019-10-24 19:24] #6485 closed

[2019-10-24 19:24] khzhu commented on #6392
Hi @jjgao , I think @BigBallerDan23 had two problems:
1. get keycloak working with mysql
2. get docker version of portal working with SAML authentication.
nygc's problems was caused by tomcat SSL setting, it is a bit different.

[2019-10-24 19:25] #6488 closed

[2019-10-24 19:26] jjgao commented on #6512
network tab will be removed soon.

[2019-10-24 19:26] #6512 closed

[2019-10-24 19:26] #6524 closed

[2019-10-24 19:29] jjgao commented on #6525
I am closing this since now we have Tx Waterfall quick links.

[2019-10-24 19:29] #6525 closed

[2019-10-24 19:29] #6527 closed

[2019-10-24 19:31] jjgao commented on #6531
This seems fixed...

[2019-10-24 19:31] #6531 closed

[2019-10-24 19:33] jjgao commented on #6569
What's the plan on this?

[2019-10-24 19:40] jjgao commented on #6710
@inodb what's the difference?

[2019-10-24 20:21] sheridancbio opened #6741 "Fusion tab crashes on mixed structural variant types"
The Fusion tab of the results page appears to operate in two modes ... an enhanced visualization mode which renders exon structure diagrams to show fused transcripts, and a basic mode which renders a pie chart with a textual list of fused gene pairings.

Two levels of detail are permitted for the structural variant file format, one which requires exon numbers and transcript ids for site1 and site2

[2019-10-24 20:25] #6740 closed

[2019-10-24 20:26] adamabeshouse commented on #6737
@alisman lets address this with URLWrapper work

[2019-10-24 20:48] alisman commented on #6737
@adamabeshouse i agree.    i wonder if it only happens when URL length is near threshold for conversion to session.

[2019-10-24 20:49] adamabeshouse commented on #6735
https://github.com/alisman/cbioportal-frontend/pull/25

[2019-10-24 20:50] tmazor opened #6742 "plots: include driver categorization as option"
When plotting mutations on plots, we currently have options to group by mutation type or mutated vs. wild type. It would be great to add an option that includes driver status -- so rather than just mutated vs wild type, we could have a grouping with 3 categories:
Mutated (driver)
Mutated (vus)
Wild type

[2019-10-24 20:55] inodb opened #6743 "remove mutation mapper dependency on getMutationAligner.json"
To make react-mutation-mapper more standalone

[2019-10-25 09:48] pvannierop commented on #6569
Well, exactly as stated in my last message. The problem has been fixed with merge of PR 2647. In addition I asked for feedback on a proposal from Niki that never had followup.

[2019-10-25 09:53] pvannierop commented on #6531
@jjgao I do not think so. Or mabe I misunderstood the problem. As I understood it Niki pointed out that it is not clear to which treatment profile a heatmap track group belongs. Only gene names are show for each heatmap track group.

[2019-10-25 09:59] fedde-s commented on #6123
Given who's currently working on what in our team, I think @SRodenburg or @oplantalech would be the most likely to have the opportunity to resolve this. Maybe @pvannierop.

[2019-10-25 10:08] Sjoerd-van-Hagen commented on #6123
@jjgao why do you assign this to us?

[2019-10-25 10:11] Sjoerd-van-Hagen commented on #6139
Hm, you are right. I must have looked at a wrong study. When were they
added?

--

E.   sjoerd@thehyve.nl

T.   +31(0)30 700 9713

W.  www.thehyve.nl

On Mon, Oct 21, 2019 at 4:29 AM schultzn <notifications@github.com> wrote:

[2019-10-25 14:21] schultzn commented on #6139
I thought they were their from the beginning, with the first release of the data…

[2019-10-25 15:32] #6252 closed

[2019-10-25 18:06] #6736 closed

[2019-10-25 18:20] alisman opened #6744 "ResultsViewOncoprint.spec.tsx tests need fixing in urlWrapper branch"

[2019-10-25 18:56] Luke-Sikina opened #6745 "Quick Search Displays No Results w/ Auth"
Results are not displayed because the samples endpoint 403s.

[2019-10-25 21:02] jjgao commented on #6392
@BigBallerDan23 since this has been open for a while (sorry we didn't get back to you earlier), I am going to close this. Please feel free to open if you still have the problem.

[2019-10-25 21:02] #6392 closed

[2019-10-25 21:04] jjgao commented on #6741
This seems like a frontend issue. Maybe @khzhu can help resolve?

[2019-10-25 21:06] jjgao commented on #6742
good idea

[2019-10-25 21:14] jjgao commented on #6569
@pvannierop how were the pivot thresholds decided? I have an naive idea: would it make sense to use the median value as the default pivot threshold?

[2019-10-25 21:27] khzhu commented on #6741
Hi @jj @sheridancbio , I will take a look at next week.

[2019-10-25 21:30] jjgao opened #6747 "adding headers and sub-menus for heatmaps"
![image](https://user-images.githubusercontent.com/840895/67605661-fadeee80-f74c-11e9-96d9-6ddd0be14346.png)

[2019-10-25 21:33] jjgao commented on #6531
This is a problem of all heatmaps. I have just created another issue for this: https://github.com/cBioPortal/cbioportal/issues/6747

[2019-10-25 21:35] jjgao commented on #6123
@Sjoerd-van-Hagen I think you are the maintainer of the python code and we should replace the perl code with python code...

[2019-10-25 21:38] jjgao opened #6748 "GSVA: removing the change to the query interface"

[2019-10-25 21:42] jjgao commented on #6139
I created two issues for the remaining gsva work.

https://github.com/cBioPortal/cbioportal/issues/6748

https://github.com/cBioPortal/datahub/issues/859

[2019-10-25 21:45] jjgao opened #6749 "property to turn on/off GSVA features"
Can we have a setting in portal.properties or frontend config to turn on GSVA features (off by default)? Hiding the GSVA component in Query page might be enough.

That way, we can set show_profile_in_analysis_tab to true so that we will be able to use the data for screenshot tests and at the same time they will not show up in the public portal.

[2019-10-25 21:45] jjgao commented on #6139
And another one: https://github.com/cBioPortal/cbioportal/issues/6749

[2019-10-26 00:02] jjgao opened #6750 "update to open api 3.0"
should we update to open api 3.0?

It looks like SpringFox is not upgrading (https://github.com/springfox/springfox/issues/2022) but there are two other projects:

- https://github.com/springdoc/springdoc-openapi
- https://github.com/jrcodeza/spring-openapi

[2019-10-28 14:37] alisman opened #6751 "Need to track patient view with events"
We use google analytics to track usage.   We get page views out of box, but we also fire events on certain user events because events seem to provide better meta property support.  For example, when I submit query, i want to know A) what study, B) what genes etc.

We need to fire an event every time the patient page is loaded with a label equal to study to which patient belongs.    Note that patie

[2019-10-28 18:04] jjgao opened #6752 "Mutsig and Gistic tooltips"
The tooltips of MutSig and GISTIC icons are not very informative - see below.

Let's add some description:

- MutSig: [gene] is detected as a significantly mutated gene (q=xxx) in [study] by MutSig.
- GISTIC: [gene] is detected as a significantly copy number altered gene (q=xxx) in [study] by GISTIC.

![image](https://user-images.githubusercontent.com/840895/67704295-336c0b80-f98b-11e9-9925-5009e5

[2019-10-29 13:10] Sjoerd-van-Hagen commented on #6549
PR was merged.

[2019-10-29 13:10] #6549 closed

[2019-10-29 16:36] ndfriedman opened #6755 "feature request: add column 'reference trinucleotide' to patient view"
If possible it would be very useful to have an additional column in the patient view that lists the reference trinucleotide (ie TCT) of alls SNPs in the tumor.  This would be useful for assigning mutations to mutation signatures that likely caused them.  Alternatively you could have a column which combines the mutation trinucleotide and mutation information (ie T(C>A)T).

[2019-10-29 18:30] #6594 closed

[2019-10-29 18:31] adamabeshouse commented on #6747
this will be awesome. typescript will make doing stuff like this so much less stressful :D

[2019-10-29 20:02] schultzn opened #6756 "Group comparison: Need numbers in tooltips on clinical tab"
For some comparisons, especially when there are a lot of samples plotted in a box plot, it is hard to interpret a difference without seeing averages. Can we add tooltips to each category in the boxplot that would summarize the cohort, including average, min, max, etc.?

![image](https://user-images.githubusercontent.com/11892704/67804455-5f5bbf80-fa65-11e9-84f9-7c10155b5701.png)

[2019-10-30 13:36] Sjoerd-van-Hagen commented on #6366
@jjgao so you want to use the same menu as is used in the oncoprint to select the treatments, correct? Otherwise it does not make sense because the list will be to long to use a simple drowndown menu.

[2019-10-30 15:01] Sjoerd-van-Hagen commented on #6749
As discussed with JJ, we will add a configuration option to hide the GSVA in the query page. This way we can load data for GSVA for testing purposes and have a portal that shows the GSVA, while cbioportal.org does not.

[2019-10-30 17:08] jjgao commented on #6749
notifying @alisman

[2019-10-30 17:12] adamabeshouse commented on #6167
looks like this is no longer the case since generic assay and waterfall plot functionality

[2019-10-30 17:13] adamabeshouse commented on #4882
can we close? @alisman @inodb @jjgao

[2019-10-30 17:15] #6739 closed

[2019-10-30 21:24] #6727 closed

[2019-10-31 09:55] ngocnn1104 commented on #6749
Hi @jjgao, just to clarify, do you want to turn on GSVA in test mode and turn it off in production mode?

[2019-10-31 10:04] ngocnn1104 commented on #6749
@Sjoerd-van-Hagen ok, so that option should be `false` by default, `true` in test mode and when deploying to different clients we would manually change the default value to either `true` or `false` based on request?

[2019-10-31 10:09] Sjoerd-van-Hagen commented on #6749
False by default in both production and test mode, and we can set it for individual front ends.

[2019-10-31 13:01] jjgao commented on #6366
I think that makes sense.

[2019-10-31 13:35] jjgao commented on #5804
This one is about enrichments and survival. Adding Comparison to Results page is another one: https://github.com/cBioPortal/cbioportal/issues/5802

@adamabeshouse I am not sure which one we should do first. Thoughts?

[2019-10-31 13:39] jjgao commented on #4646
@adamabeshouse I can think of the two below but I might have missed some.

- driver vs vus
- Show patients vs samples

What did you include in your previous implementation?

[2019-10-31 13:50] jjgao commented on #6755
@ndfriedman Thanks for the feature request. It's a great idea. We are working on visualizing mutational signature data and will consider this as part of the feature.

[2019-10-31 13:56] jjgao commented on #6756
and the values of the whiskers (median, 75%, 25%) in the box plots?

[2019-10-31 14:09] Sjoerd-van-Hagen commented on #6366
And then use that to populate the dropdown? Because you may be interested in looking at multiple treatments, which have a common target maybe, but you can only plot them one at a time.

[2019-10-31 15:03] jjgao commented on #6366
@Sjoerd-van-Hagen I think having two steps is not ideal. Maybe it's ok to have this drop of the long list and allow them select one treatment only as long as the user can search?

![image](https://user-images.githubusercontent.com/840895/67958673-ecba2380-fbcd-11e9-9446-3efd27daf28f.png)

[2019-10-31 15:36] inodb opened #6758 "slide viewer not working"
e.g.:

https://www.cbioportal.org/patient/tissueImage?caseId=TCGA-02-0001&studyId=gbm_tcga

shows a blank page

[2019-10-31 16:23] inodb commented on #6758
just not working in `Brave` browser

[2019-10-31 16:23] #6758 closed

[2019-10-31 16:52] adamabeshouse commented on #5804
@jjgao just for enrichments and survival is a lot easier. If we just want that feature and the whole comaparison is not a priority, then we should just do that. what do you think?

[2019-10-31 16:56] jjgao opened #6759 "Adding mutations, CNA, SV gene charts to study view"
https://github.com/cBioPortal/cbioportal/issues/6278 addresses pulling gene-level continuous data into study view. Let's also support categorical data, ie. mutations, discrete CNAs, and SVs. A pie chart will be displayed.

The slices for CNAs:
- Amplification
- Gain
- Diploid
- Shallow deletion
- Deep deletion

The slices for mutations (option 1):
- Mutated (the samples with one or more mutations

[2019-10-31 17:08] adamabeshouse commented on #4646
oh wait no actually it also had driver annotation settings, and show/hide germline mutations. should we just do that?
![image](https://user-images.githubusercontent.com/636232/67969352-7de5c600-fbdf-11e9-8dbd-68dca71e4c69.png)
https://github.com/cBioPortal/cbioportal-frontend/pull/2213

[2019-10-31 17:12] adamabeshouse commented on #5804
@jjgao also where do we put this dropdown? in global settings?

[2019-10-31 18:31] khzhu commented on #6741
Hi @sheridancbio , which dataset can be used to reproduce the error? msk_impact_2017? thanks!