[2019-01-15 15:59] #5517 closed

[2019-01-15 16:00] zhx828 commented on #5537
@jjgao this issue has been solved and deployed. Tested on Chrome, Safari and Firefox

[2019-01-15 18:41] #5597 closed

[2019-01-15 18:42] adamabeshouse commented on #5599
merged to `master`

[2019-01-15 18:42] #5599 closed

[2019-01-15 18:56] inodb opened #5606 "Tags endpoint called for each study on homepage"
The `/tags` endpoint is called for each study on the homepage: www.cbioportal.org/beta . Seems a little heavy? Not sure if this was on purpose?

CC: @oplantalech @alisman @ersinciftci

[2019-01-15 20:43] jjgao commented on #5560
@n1zea144 will add an additional MSK_SLIDE_ID attribute. Once we have that, @dippindots please change your code. Then we can delete the current attribute.

[2019-01-15 22:35] adamabeshouse commented on #5596
merged to `master`

[2019-01-15 22:35] #5596 closed

[2019-01-15 23:03] onursumer opened #5607 "Add a menu for the Mutations tab, similar to the Oncoprint menu"
It would be nice to generalize and move some of the Oncoprint menu items under the shared components, so that we can reuse them.

Might be better to wait for cBioPortal/cbioportal-frontend/pull/1847 to be merged

[2019-01-15 23:03] jjgao opened #5608 "turn on bitly for private portals"
e.g. msk, genie, and private.

[2019-01-15 23:07] jjgao opened #5609 "add exon number into Mutations table"
- [x] We need to make it available in Genome Nexus first: https://github.com/genome-nexus/genome-nexus/issues/240
- [x] Let's just pull from GN on the fly instead of saving them into cBioPortal db (which would require db migration).
- [x] By default, Exon Number can be hidden.

[2019-01-15 23:08] onursumer opened #5610 "Add annotation tracks for the Mutation Lollipop Diagram"
- [x] Cancer Hotspots
- [x] OncoKB

[2019-01-16 05:11] schultzn opened #5612 "Study view: "Select samples" button is missing the last "s" in "samples""
It should be "Select Samples", not "Select Sample" in the blue button that appears after selecting genes.

[2019-01-16 05:14] schultzn opened #5613 "Mutated Genes table does not calculate frequencies correctly"
I see this issue in the AACR GENIE study when selecting samples that have mutations in multiple different genes. I see frequencies greater than 100% sometimes.

I think this happens when selecting genes that are only covered in some samples.

![image](https://user-images.githubusercontent.com/11892704/51227745-aee05d00-1923-11e9-8902-cc82ce472dbb.png)

[2019-01-16 08:09] oplantalech commented on #5606
It is done on purpose. The endpoint is only being called once you hover the "i" icon and the tooltip needs to be displayed: https://github.com/cBioPortal/cbioportal-frontend/pull/1709/files#diff-5c2cfb79ecda2a8ec518e588e2491ff4R46

[2019-01-16 14:23] tmazor opened #5615 "skml_tcga has NA for z-scores of some genes"
In skml_tcga, EIF2A, AHNAK and DDX3Y are all "NA" for z-scores, even though all 3 genes have expression data.

This issue was flagged by a user: https://groups.google.com/forum/#!topic/cbioportal/RPEBkuhIgus

[2019-01-16 14:36] kalletlak commented on #5553
@jjgao How should we deal with groups with overlapping samples in survival plots?

[2019-01-16 15:41] alisman commented on #5606
@oplantalech it would seem Ino is right:
![image](https://user-images.githubusercontent.com/186521/51259964-34432c00-197b-11e9-85e8-ccb46224d91d.png)
Tags endpoint gets called three times without any interaction with the icons at all.

[2019-01-16 16:32] oplantalech commented on #5606
@alisman @inodb That's interesting. According to the code I wrote, the endpoint should only be called when hovering the tooltip... It is not called anywhere else

[2019-01-16 16:43] #5566 closed

[2019-01-16 18:04] adamabeshouse commented on #5226
I implemented it but I'm not sure it looks very good..

![image](https://user-images.githubusercontent.com/636232/51268956-3ca56200-198f-11e9-916e-3c22b54f367a.png)

[2019-01-16 18:09] jjgao opened #5617 "Adding clinical data on GENIE is slow"
From Chrome Network, I can see that we are only loading the clinical data for the selected clinical attribute. Is that right? @adamabeshouse

If so, I guess it is b/c the backend API to load clinical data is slow?

BTW, maybe we can change the message when only loading clinical data?

![image](https://user-images.githubusercontent.com/840895/51269100-986feb00-198f-11e9-8f83-1bdcdf568ec9.png)

[2019-01-16 18:38] jjgao commented on #2996
Yes, I think we are ready to do this now.

Maybe @onursumer or @leexgh can help with this?

It might be also a good idea to do the exon number together with this: https://github.com/cBioPortal/cbioportal/issues/5609

[2019-01-16 18:42] adamabeshouse commented on #5588
merged to `master`

[2019-01-16 18:42] #5588 closed

[2019-01-16 18:52] tmazor opened #5618 "add gene columns to sample matrix"
With recent updates to the downloads tab, we have made it more complicated for a user to determine if a gene is altered (by any type of alteration) in a particular sample. Let's add that information to the sample matrix.

We can add columns to the sample matrix that summarize the alteration status of each gene -- so one column per queried gene, with 0 or 1 to indicate if the sample has any alterat

[2019-01-16 18:56] jjgao opened #5619 "User-defined Case List: support sample IDs only w/o study ID when there is no ID collision"
Currently, if multiple studies are selected, you have to add study Id.

![image](https://user-images.githubusercontent.com/840895/51271619-03bcbb80-1996-11e9-9d39-7d0579766a6d.png)

If it possible to allow using sample/patient IDs that only exist once in the selected study?

It's the same for study view.

[not a priority]

[2019-01-16 18:59] jjgao opened #5620 "redirect old oql page"
The old OQL page was http://www.cbioportal.org/onco_query_lang_desc.jsp, but now it's not working. We may have this link in other places, e.g. google groups. Can we redirect it to the current oql page

[2019-01-16 20:44] onursumer commented on #4983
- [ ] remove the `clinicalDataType`: Decide the data type on backend
- [ ] support hugo symbols in addition to `entrezGeneIds`: Map hugo symbol to entrezGeneId on backend
- [ ] unify `clinicalDataEqualityFilters` and `clinicalDataIntervalFilters` into `clinicalDataFilters`

[2019-01-16 20:54] jjgao opened #5621 "support single filter parameters for study view"
http://www.cbioportal.org/beta/newstudy?id=msk_impact_2017#filterAttributeId=CANCER_TYPE&filterValues=Pancreatic Cancer;Breast Cancer

Q: what if there is a `;` in the value?

[2019-01-16 20:56] jjgao commented on #5621
This is a simple solution to support one filter. Multiple filters will be supported in #4983.

[2019-01-16 22:01] adamabeshouse commented on #5617
@jjgao yes, it does look like we're just loading data for the selected attribute. I guess the API is slow for that many samples. I'll make a change to just say clinical data if that's all thats loading

[2019-01-16 22:22] jjgao commented on #5550
@kalletlak I think we will need backend support to do this. Ideally all processed by backend with one call.

[2019-01-16 22:22] jjgao commented on #5550
But people may abuse it, for example, build a virual study of all studies, and download the data...

[2019-01-16 22:23] jjgao commented on #5603
@zhx828 is it creating issues for frontend? Do we need to fix it soon?

[2019-01-16 22:30] zhx828 commented on #5603
@jjgao we need to fix it soon. The CNA table does not get any information.

[2019-01-16 22:35] #5615 closed

[2019-01-16 22:35] jjgao commented on #5615
Issue moved to [cBioPortal/datahub #534](https://github.com/cBioPortal/datahub/issues/534) via [**ZenHub**](https://www.zenhub.com/)

[2019-01-16 22:38] jjgao commented on #5553
As discussed, we will handle overlapping samples on the page level, ie. the page will only decide whether to send non-overlapping groups (by default, we should do that). The survival component can take the groups of samples (overlapping or not), and pull data, and visualize.

The same for other tab.

[2019-01-16 22:40] jjgao commented on #5606
@oplantalech why can't we just return the tag data together with the study meta data? It's useful for search too.

[2019-01-16 22:47] jjgao commented on #5226
@adamabeshouse maybe we can combine them? e.g.

Mutation: KRAS G12D (xx samples), KRAS G12E (xx samples)
Gene Panels: IMPACT410 (xx samples), IMPACT467 (xx samples)
View these patient [link to patient view page with navIds]

[2019-01-16 22:49] jjgao commented on #5618
It maybe a good idea to add additional columns, one gene per column in this file:

![image](https://user-images.githubusercontent.com/840895/51283705-0f6caa00-19b7-11e9-8823-8f4dc0d993f9.png)

@dippindots it's not urgent.

[2019-01-16 22:51] jjgao commented on #5617
Thanks, @adamabeshouse.

@ersinciftci do you think there is any obvious way to further improve the performance of the clinical API?

Also adding @n1zea144 to this.

[2019-01-16 22:52] jjgao commented on #5603
@ersinciftci do you think you'll have time to handle this?

[2019-01-16 22:56] jjgao opened #5622 "download study files button missing in study view"
Please add it back: "Download study files" (after the study name?)

The link should be the same as in [datasets page](http://www.cbioportal.org/datasets): http://download.cbioportal.org/paac_jhu_2014.tar.gz

Please note that it's not necessary that every study has a file so you would need to test first. Please use the same code (ideally not duplicate the code) as Datasets page to decide the logic.

[2019-01-16 22:58] jjgao opened #5623 "What are we tracking in study view for GA"
@alisman could you list?

[2019-01-16 23:11] jjgao opened #5624 "support token based authentication to MSK Slide Viewer"

[2019-01-17 05:42] #5586 closed

[2019-01-17 06:13] #5590 closed

[2019-01-17 14:32] sandertan opened #5625 "Unknown cBioPortal version in validation report"
Command line output:
`INFO: -: Running validation from cBioPortal version 0-unknown-version-SNAPSHOT`

In validation report:
<img width="977" alt="screenshot 2019-01-17 at 15 31 17" src="https://user-images.githubusercontent.com/9624990/51325373-1229d680-1a6d-11e9-8f8d-916e211d5b6f.png">

[2019-01-17 16:06] zhx828 commented on #5613
@ersinciftci @onursumer could one of you take a look this ticket? If you go to genie portal, select NUTM1, ZFHX4 from Mutated Genes table, then click `Select Sample` you will see the endpoint returns frequency: 121.57 for NUTM1.

[2019-01-17 17:25] zhx828 commented on #5590
@schultzn this issue is fixed and deployed.

[2019-01-17 17:26] zhx828 commented on #5586
@jjgao this is now fixed and deployed.

[2019-01-17 19:03] zhx828 commented on #5622
@jjgao keep the same style as in DataSets page?

![screen shot 2019-01-17 at 2 03 04 pm](https://user-images.githubusercontent.com/5400599/51341992-a7729e00-1a60-11e9-9db5-46f2d069de4f.png)

[2019-01-17 19:11] zhx828 commented on #5622
@jjgao should we also add a tooltip for the new download button? Differentiate the download on the right.

[2019-01-17 19:19] jjgao commented on #5551
@kalletlak @adamabeshouse @alisman : I made a mock up for this.

![image](https://user-images.githubusercontent.com/840895/51342776-c07c4e80-1a62-11e9-808e-25761fb3ad6c.png)

[2019-01-17 19:20] zhx828 commented on #5621
@jjgao ';' would not allowed to use in the case you mentioned. This is designed for a quick filter, I don't think we should consider too much here. If there is special character, then probably #4983 is a better solution to go.

[2019-01-17 19:22] jjgao commented on #5552
Two groups:

![image](https://user-images.githubusercontent.com/840895/51342882-03d6bd00-1a63-11e9-869a-77de1d662d5f.png)

Three groups:
![image](https://user-images.githubusercontent.com/840895/51342910-1b15aa80-1a63-11e9-8d76-df08077d7794.png)

![image](https://user-images.githubusercontent.com/840895/51342944-2cf74d80-1a63-11e9-9a89-61aa793825f4.png)

[2019-01-17 19:47] #4886 closed

[2019-01-17 19:47] #4885 closed

[2019-01-17 19:49] #3819 closed

[2019-01-17 19:50] #4273 closed

[2019-01-17 19:51] alisman commented on #2985
Linting hasn't proved to be an important tool for us. Typescript handles a lot of the validation that linting would

[2019-01-17 19:52] #2985 closed

[2019-01-17 19:55] #3300 closed

[2019-01-17 19:55] #4087 closed

[2019-01-17 19:57] ersinciftci commented on #5603
@jjgao I'll try to look at it tomorrow

[2019-01-17 19:59] ersinciftci commented on #5617
@jjgao Unfortunately I don't see an obvious way. And it's not something we can pre-calculate either.

[2019-01-17 20:40] zhx828 commented on #5621
@jjgao for continuous data, this will be the format `http://www.cbioportal.org/study?id=nsclc_tcga_broad_2016&filterAttributeId=AGE&filterValues=60-65,70-75`

And we only support clinical data for now?

[2019-01-17 20:42] jjgao commented on #5622
Thanks, @zhx828 . Yes, tooltip: "Download all clinical and genomic data of this study"

[2019-01-17 20:43] jjgao commented on #5621
@zhx828 sounds good.

[2019-01-17 20:51] jjgao commented on #5551
@adamabeshouse that should be an option for the user -- the checkbox after the group selection. By default, it should be selected, b/c when comparing groups, usually, we don't want to compare the same samples :)

For Overlapping tab, we should always use all the samples and thus the note down there when the checkbox is checked.

[2019-01-17 21:01] adamabeshouse commented on #5551
@jjgao
ah, I see, thanks!

also, what should be the interface for selecting the two enrichment profiles? should it be inside the enrichment tabs? should they persist across enrichment tabs, or be selected separately for each one?

[2019-01-17 21:55] jjgao commented on #5551
@adamabeshouse let's do it on the page level.

In this design, the groups can be toggled. @alisman may be able to come up with a better design for selecting groups.
![image](https://user-images.githubusercontent.com/840895/51351211-3c34c600-1a78-11e9-8232-467df3397781.png)

If there are two groups, Enrichments can be performed. Otherwise (1 group, or >2 groups selected), we should still show the t

[2019-01-17 22:03] jjgao commented on #5622
@zhx828 looks great. Thanks!

[2019-01-17 22:32] jjgao opened #5626 "Plots tab, stack barchart weird layout"
http://bit.ly/2W2bJjF

![image](https://user-images.githubusercontent.com/840895/51353146-bfa4e600-1a7d-11e9-8a36-3882dd9a0a5d.png)

![image](https://user-images.githubusercontent.com/840895/51353167-c92e4e00-1a7d-11e9-941a-3799999e4e5e.png)

[2019-01-17 23:37] schultzn commented on #5613
Got it - thanks. Another reason why we need to decouple fusions from mutation…

[2019-01-17 23:40] zhx828 commented on #5621
@jjgao I just noticed in the example you posted, `filterValues:Pancreatic Cancer;Breast Cancer`, different value you want to use semicolon over comma? Also it should be `=` instead of `colon`?

I have a working instance here http://cbioportal-frontend-pr-1935.herokuapp.com/study?id=msk_impact_2017&filterAttributeId=CANCER_TYPE&filterValues=Pancreatic%20Cancer,Breast%20Cancer

[2019-01-18 14:44] fedde-s commented on #4865
Has this been addressed? And if so, in what PR, or approximately which branch/release?

[2019-01-18 16:38] schultzn opened #5627 "Study view: filter duplicate IDs in select sample / patient box"
Can we support filtering of duplicate sample or patient IDs in lists pasted into the Custom Selection box?

![image](https://user-images.githubusercontent.com/11892704/51400108-90da4e80-1b15-11e9-8afe-fb25c91d946f.png)

[2019-01-18 16:42] zhx828 commented on #5627
@schultzn I will do some mockup.

[2019-01-18 16:52] schultzn commented on #5627
It could be as simple as an automated removal of any duplicates and a message underneath saying "x duplicate IDs were removed”

[2019-01-18 20:01] sheridancbio commented on #4345
@jjgao @khzhu This issue has resurfaced here at MSKCC. We are now receiving (from our automated dmp sequencing pipeline feed) indels of length 1023. So we see cases where REFERENCE_ALLELE and TUMOR_SEQ_ALLELE1 in our imported mutation file (data_mutations_extended.txt) are over the limit of varchar(400) {the official cgds.sql field length} not to mention the varchar(255) limit that we have been us

[2019-01-18 21:19] jjgao commented on #5613
Separate fusions from mutation would fix the issue. It'll take some time before we separate them completely.

For the moment, maybe we can create a Fusion Genes table in study view by using all the fusions in mutations table and for Mutated Genes table, let's not pull fusion data? @schultzn @zhx828

[2019-01-18 21:38] #5612 closed

[2019-01-18 21:47] jjgao commented on #5621
@zhx828 it should be `=` instead of `:` -- just corrected it. Do you have a preference for `;` vs `,`? Do we have any other url support list and what are they using?

[2019-01-18 21:50] zhx828 commented on #5621
@jjgao we use comma for multi-studies. It seems pretty standard way to do. We have similar in patient view `navCaseIds`

[2019-01-18 21:53] jjgao commented on #4345
@sheridancbio @n1zea144 I still think we should just remove the `UNIQUE` key instead of complicating the schema.

[2019-01-18 22:00] jjgao commented on #5621
@zhx828 sounds good!

[2019-01-19 13:54] jjgao opened #5630 "change whole slide viewer url"
to: https://slides.mskcc.org/cbioportal?ids=123456.svs&user=username@mskcc.org&annotation=off

[2019-01-20 00:51] jjgao opened #5631 "a previous save query session failed"
[This query session](http://www.cbioportal.org/index.do?session_id=5a135bee498eb8b3d5605d01) was used as an example in our [news page](http://www.cbioportal.org/news).

![image](https://user-images.githubusercontent.com/840895/51433893-7393a600-1c23-11e9-9c00-58fe4e2e3a7a.png)

[2019-01-20 04:05] jjgao opened #5632 "study view - add chart: change "Custom Groups" to "Custom Data""
Since the custom group concept will be used in #5545, let's change the `Custom Groups` tab under `Add Chart` to `Custom Data`.

![image](https://user-images.githubusercontent.com/840895/51435084-b06c9680-1c3d-11e9-960b-bd09451d2674.png)

- [ ] change tab name "Custom Groups" to "Custom Data"
- [ ] Add a dropdown "Chart Type" (above "Chart name") with two options: `Pie chart` (default) and `Bar cha

[2019-01-20 15:47] schultzn commented on #5613
That would be good!

[2019-01-20 22:08] schultzn opened #5633 "Make Plots tab layout slightly more compact vertically"
Can we think about making the Plots tab slightly more compact vertically so that it fits on a 13" laptop screen?

![image](https://user-images.githubusercontent.com/11892704/51445671-f6753900-1cd5-11e9-9fc8-be2b16b9f448.png)

[2019-01-21 11:34] sandertan commented on #3067
@jjgao Some things to consider:
1. I recently added validation that if the `_sequenced` case list is missing, an error is reported to make sure data is correct. We can add that having a `#sequenced samples` line is also a valid option.

2. Have you considered adding a property for sequenced samples to the meta file?

3. The gene panel matrix file has overlapping functionality with the `_sequenced`

[2019-01-21 14:52] jjgao opened #5634 "custom case list not work for virtual study"
In [this query](http://bit.ly/2FFXrk5), I selected a few samples from the virtual study for querying, but the result contained all samples.

![image](https://user-images.githubusercontent.com/840895/51481554-21a56a00-1d62-11e9-83ca-b1286a85095d.png)

![image](https://user-images.githubusercontent.com/840895/51481571-2a963b80-1d62-11e9-9944-241323646259.png)

[2019-01-21 16:51] dippindots commented on #5630
@jjgao Want to confirm that we want to use the user's identified username to replace the "username" in the URL?

[2019-01-21 16:52] j-hudecek opened #5635 "Unknown column 'cancer_study.IMPORT_DATE' in 'field list'"
I'm updating DB from 1.4.0 to 2.0.0 (db version 2.7.3?).
I ran

     $ python3.6 migrate_db.py -p ~/cbioportal/src/main/resources/portal.properties --sql ~/cbioportal/db-scripts/src/main/resources/migration.sql
     WARNING: This script will alter your database! Be sure to back up your data before running.
     Continue running DB migration? (y/n) y
     Running statements for version: 2.0.0

whic

[2019-01-21 17:16] sheridancbio commented on #4345
@jjgao I think I understand. You would prefer to keep the allele values for long indels inside the mutation and mutation_event tables rather than externalizing them to a separate table.

If we did that, we may run into the maximum record size limit ... see https://dev.mysql.com/doc/refman/8.0/en/storage-requirements.html in the paragraph starting with "The effective maximum number of bytes that ca

[2019-01-21 17:39] jjgao commented on #5613
@zhx828 @onursumer

- [ ] do not return FUSIONS in the mutated genes API
- [ ] add an API to return FUSION gene count
- [ ] add Fusion Genes table
  - in this table, not sure if we can have the Freq column since we don't have proper gene panels for fusion.

[2019-01-21 17:42] jjgao commented on #5633
Maybe we can remove some white space?  @adamabeshouse

[2019-01-21 17:45] jjgao commented on #5630
@dippindots yes, basically their email address.

[2019-01-21 18:01] jjgao commented on #4345
@sheridancbio Thanks for the information and testing it out -- mysql is so complex. I think it's ok to switch to TEXT as long as the performance is not affected.

[2019-01-22 09:19] j-hudecek opened #5636 "Clicking node in network tab doesn't do anything"
I'm running 2.0.1
When I click a node in the network graph a request gets fired to `http://server/cbioportal//bioGeneQuery.do` (note the two slashes). It fails with error 500 and tomcat spits out

	Jan 22 04:16:10 localhost.localdomain server[1978]: SEVERE: Servlet.service() for servlet [bioGeneQuery] in context with path [/cbioportal] threw exception
	Jan 22 04:16:10 localhost.localdomain server[

[2019-01-22 15:06] jjgao opened #5637 "add tooltip to the Study (pie chart) icon in query page"
currently there is no tooltip, please add "View clinical and genomic data of this study"

[2019-01-22 15:16] jjgao opened #5638 "Favorite Studies section"
It would be useful to add a section "Favorite Studies" in the studies list.

- [ ] add a section of "My Favorite Studies" before "My Virtual Studies". Hidden if empty.
- [ ] add a star icon before the study/piechart icon.
- [ ] if a user stars a study, the study will show up in "My Favorite Studies" in addition to the original place.
- [ ] The list of "My Favorite Studies" should be saved to sessi

[2019-01-22 15:42] jjgao commented on #5636
@j-hudecek it seems working on our public portal. We currently don't have the bandwidth to work on Network tab if the production work. We decided to move the Network tab into a separate standalone project at a certain point.

[2019-01-22 15:42] #5636 closed

[2019-01-22 15:45] jjgao opened #5639 "No error for wrong gene name entered for oncoprint heatmap track"
@pvannierop commented on [Tue Jan 22 2019](https://github.com/cBioPortal/cbioportal-frontend/issues/1942)

Steps to reproduce:
1. Go to Oncoprint tab
2. Click heatmap button
3. Enter "WRONGGENENAME" in the input field
4. Press "Add genes to heatmap"

Problem:
User is not informed that a unknown gene identifier was entered

Desired behavior:
When entering a list of genes the user is presented with

[2019-01-22 15:46] jjgao commented on #5639
The save gene validator used in Query page could be used.

[2019-01-22 15:47] jjgao opened #5640 "oncoprinter: accept MAF-style input"
@adamabeshouse commented on [Mon Dec 03 2018](https://github.com/cBioPortal/cbioportal-frontend/issues/1785)

with this, we can do hotspot annotation

[2019-01-22 15:51] jjgao opened #5641 "unified way of parsing user-input genomic data"
@adamabeshouse commented on [Mon Dec 03 2018](https://github.com/cBioPortal/cbioportal-frontend/issues/1784)

used in oncoprinter, mutation mapper

[2019-01-22 15:53] jjgao opened #5642 "Add "PRIORITY" support for clinical events"
@pieterlukasse commented on [Tue Sep 18 2018](https://github.com/cBioPortal/cbioportal-frontend/issues/1460)

Idea: introduce "PRIORITY" support for clinical events. This could be similar to the [already existing concept of priority implemented for clinical attributes](https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md#data-files) and [used in the study view](https://github.

[2019-01-22 15:53] jjgao opened #5643 "Error in patient view when show.oncokb=false"
@oplantalech commented on [Thu Aug 10 2017](https://github.com/cBioPortal/cbioportal-frontend/issues/554)

![captura de pantalla 2017-08-10 a les 17 39 49](https://user-images.githubusercontent.com/20278013/29178821-016c711c-7df3-11e7-8624-29387f0a5621.png)

---

@jjgao commented on [Thu Jul 26 2018](https://github.com/cBioPortal/cbioportal-frontend/issues/554#issuecomment-408126091)

@oplantalech

[2019-01-22 15:55] jjgao opened #5644 "Modify Query Box does not scroll to selected studies"
@ecerami commented on [Thu May 25 2017](https://github.com/cBioPortal/cbioportal-frontend/issues/360)

Try this first in the current site:

1.  goto http://www.cbioportal.org/
2.  select Lung Adenocarcinoma - TCGA Provisional
3.  enter EGFR

Get your results page.  Now, on the results page, click Modify Query.  The query box opens up, and the query selector is scrolled to your selection, e.g. Lung

[2019-01-22 15:57] jjgao opened #5645 "404 message after tests use anything imported from ResultsViewPageStore.ts"
@fedde-s commented on [Tue Mar 27 2018](https://github.com/cBioPortal/cbioportal-frontend/issues/1060)

If I run a test that imports and uses any exported function from `src/pages/resultsView/ResultsViewPageStore.spec.ts`, stdout  receives an error message about an unhandled promise rejection resulting from an HTTP 404 (not found) error, *after* the test completes successfully. The error message l

[2019-01-22 15:58] jjgao opened #5646 "Sorting CNVs by Cytoband"
@tjpugh commented on [Mon Apr 16 2018](https://github.com/cBioPortal/cbioportal-frontend/issues/1093)

In the patient view, the CNV table has a Cytoband column with data that can be ordered by clicking on the header. Unfortunately, sorting is currently set to alphanumeric which means that chromosome 10 comes before 1, 2, 3, etc. There could also be subtle sorting problems due to the ordering of p

[2019-01-22 16:01] jjgao opened #5647 "make sampleheader own component"
@inodb commented on [Fri Feb 23 2018](https://github.com/cBioPortal/cbioportal-frontend/issues/988)

It's getting kinda messy with a lot of logic in the render of PatientViewPage, especially with GDD added see:  https://github.com/cBioPortal/cbioportal-frontend/pull/724/files

[2019-01-22 16:10] jjgao commented on #5308
@sandertan alternatively, if you have the link to your test site, it would also work.

[2019-01-22 16:12] jjgao commented on #5472
looks like this has been fixed.

[2019-01-22 16:12] #5472 closed

[2019-01-22 16:14] jjgao commented on #5524
duplicate with #5637

[2019-01-22 16:14] #5524 closed

[2019-01-22 16:22] sandertan commented on #5308
@jjgao I used the study used by the validator system tests, `cbioportal/core/src/test/scripts/test_data/study_es_0/` to reproduce this error. I can try to setup a test server & database later this week.

[2019-01-22 17:29] ChrisWakefield opened #5648 "MDACC compendium heatmaps tab missing from Patient page (regression?)"
http://www.cbioportal.org/patient?studyId=brca_tcga_pub&caseId=TCGA-A1-A0SD
used to have a Heatmaps tab that would iframe our "Compendium" containing links to NGCHM with that patient id selected.  Did recent frontend changes drop it?

The link above still has the configuration to access the index, but the code that actually places the tab and decides whether to make it visible is missing (?).  I e

[2019-01-22 18:16] adamabeshouse commented on #5308
this is probably a backend issue relating to assumptions made of data form in the gene panel API. i think @ersinciftci should be in here

[2019-01-22 21:15] jjgao commented on #5529
@schultzn ok if we start to change to "mRNA high" and "mRNA low"?

[2019-01-22 22:01] alisman commented on #5124
@dippindots right now there is a progressive rending of components on the page as different sections complete data loading. it's ugly and pointless because user can't really interact with page untill everything loads.  we should just just a single loader until everything is finished loading

[2019-01-22 22:12] schultzn commented on #5529
Yes. Similar for protein?

[2019-01-22 22:39] adamabeshouse commented on #5548
** we need changes to enrichments API to handle multiple study input

[2019-01-23 02:41] jjgao commented on #5542
@kalletlak maybe you can help with this one since you are familiar with session service?

[2019-01-23 03:00] jjgao commented on #5548
@alisman @adamabeshouse @kalletlak thanks for the great work!

Based on today's demo and discussion, I updated some of the issues and also assigned each to one or two of you. Please feel free to change assignments. Here is a quick summary of the remaining work. Please add if I missed anything.

- [ ] support multiple studies for Mutations and Copy Number tabs #5555, #5556
- [ ] modify the headers

[2019-01-23 04:21] jjgao commented on #5648
@ChrisWakefield we have decided to remove the tab in the patient view page as heatmaps make more sense in a cohort than for a single patient. The support in the study view still remains.

[2019-01-23 13:22] fedde-s commented on #5645
I haven't been involved in this part of the codebase for a while, and don't know if the issue still occurs.

[2019-01-23 15:35] inodb opened #5649 "Header Improvements"
We currently have a lot of links in the Header

We propose instead to make it similar to the footer, grouping the links as follows:

- Help (Tutorials, Faq, User Group)
- Data sets
- API (API Docs, R/Matlab?)
- Info (News, About, Twitter)
- Dev (Github, Slack)

The groupings should have their own markdown pages. Dropdowns is too old school imo

Note that similar to the footer, the groupings should

[2019-01-23 15:36] inodb commented on #5389
@jjgao https://github.com/cBioPortal/cbioportal/issues/5649

[2019-01-23 16:25] dippindots commented on #5529
@jjgao Ok, I will do this week!

[2019-01-23 16:47] #5603 closed

[2019-01-23 17:52] zhx828 commented on #5627
@jjgao @schultzn similar to this for the Add Custom Groups, do we allow the same id in different groups?

[2019-01-23 18:23] schultzn commented on #5627
That would make sense - if a user enters the same ID twice in the same group, one should be removed.

[2019-01-23 19:07] zhx828 commented on #5627
@schultzn this is the mockup when duplicates exist
![screen shot 2019-01-23 at 12 59 13 pm](https://user-images.githubusercontent.com/5400599/51630446-3297dc00-1f18-11e9-8f5e-740355825d01.png)

[2019-01-23 19:15] schultzn commented on #5627
I think this looks good!

[2019-01-23 19:34] ChrisWakefield commented on #5648
@jjgao JJ, I agree that a single-patient heatmap would not make sense.  What this tab was for was show all heatmaps in our compendium that contained that patient ID, and allow users to navigate to a particular platform & study that highlights how that patient relates in that cohort.  (ie. where in the heatmap relative to others, and what grouping, etc.)  I think this still makes sense.

[2019-01-23 19:43] schultzn opened #5650 "Incorrect mapping of RARA in Network tab"
From a user:

I was playing around with PIK3CA mutations in Breast Cancer (MSK Cancer Cell, 2018). In the Network tab I looked at the RARA protein/gene that popped up, and under Details there was information (name and references etc.) linked to TP53 - not RARA.
I tried to do this again, and this time I can not even see RARA (it did not have a direct link to PIK3CA the first time). Even though it i

[2019-01-23 20:05] alisman commented on #5389
@jjgao i think we should consider just restoring the footer on all pages.  There is some valuable info in there (help, email contact, app version) that is most pertinent to users who are actually using the app (on various result pages).    I don't see what the drawback is to footer (except for that issue we ran into with the bottom oriented add button).

[2019-01-23 21:09] jjgao commented on #5648
@ChrisWakefield we would really like to simplify the patient view page and thought the use case of the heatmaps tab was a little complex and different from other features on the page. And we didn't see much usage of the tab in patient view from our users after it was released. The use case of the tab in the study view page aligns perfectly with the study view.

[2019-01-23 21:10] jjgao commented on #5648
@ChrisWakefield ... and apologized that we forgot to check with you first.

[2019-01-23 21:14] jjgao commented on #5389
@alisman I think we can capture the user links in the header. I think footer is useful for information website (mskcc.org). I am not sure an application website needs footer in every page. At least I don't miss it.

[2019-01-23 21:40] schultzn commented on #5389
Hmm… I am torn. Maybe we can remove the footers once we have a really good reason for it? Do we have something working yet that does not work with a footer?

[2019-01-23 23:19] jjgao commented on #5389
@alisman: @schultzn and I discussed on this. I think it's good to move things to header (#5649) and keep it clean, but I don't feel strongly about it. @schultzn doesn't feel strongly about this either. So @alisman maybe you can make a decision on this?

[2019-01-23 23:31] jjgao commented on #4637
@adamabeshouse let's see if we can support this request in this round.

[2019-01-24 02:36] jjgao opened #5651 "switch to msk_slide_id for whole slide viewer"
@dippindots the data is ready. Please switch.

[2019-01-24 15:56] jjgao opened #5652 "support multiple reference genomes, 2nd push"
https://docs.google.com/document/d/1oIA6aTn8HJq0uztetFq8WKyB13Xi70o1oepOpvTIjt8/edit

- [x] remove cytoband from gene table
  - [x] db migration
- [x] add REFERENCE_GENOME_ID into cancer_study
  - [x] db migration
  - [x] if no REFERENCE_GENOME_ID in study meta, assume it's 37
- [x] don't add cytoband into cna_event
- [x] for API endpoints using cytoband, break into two sql queries and get cytoban

[2019-01-24 16:03] pieterlukasse commented on #5652
@khzhu: input data validation rules (for the validateData.py):
- [ ] `reference_genome_id` in segment data meta file should match the study genome build
- [ ] field `NCBI_Build` (if filled) in MAF file should match the study genome build

[2019-01-24 16:08] zhx828 commented on #5621
@jjgao should we give some messages when the filterAttributeId is not available in this study?

[2019-01-24 16:10] #5630 closed

[2019-01-24 16:23] alisman commented on #5389
ok, if the decision is mine, i decide we should have a footer on every page.  if in the future we have a feature which conflicts with it, we can easily remove it.

[2019-01-24 16:25] schultzn commented on #5389
Sounds good!

[2019-01-24 17:01] khzhu commented on #5652
@pieterlukasse , you will still need to supply the reference genome build when query gene annotations (chr, cytoband) from genomenexus, right?

[2019-01-24 17:48] khzhu commented on #5652
[reference_genome_build_support.pdf](https://github.com/cBioPortal/cbioportal/files/2792886/reference_genome_build_support.pdf)

[2019-01-24 17:49] khzhu commented on #5652
schema diagram updated.
![reference_genome_build_support](https://user-images.githubusercontent.com/17375786/51697661-61748780-1fd6-11e9-9e70-baf1ee36a67d.png)

[2019-01-24 18:05] khzhu commented on #5652
![referenece_genome_build_support](https://user-images.githubusercontent.com/17375786/51698625-b6b19880-1fd8-11e9-896e-8c74d1c22ef8.png)

[2019-01-24 19:07] #5627 closed

[2019-01-24 19:37] #5560 closed

[2019-01-24 20:01] kalletlak commented on #5542
@jjgao sure!
btw should we allow saving group for unauthenticated or non-logged users

[2019-01-24 20:52] adamabeshouse commented on #4637
@jjgao so take the setting from the oncoprint for now?

[2019-01-24 22:53] #5637 closed

[2019-01-24 23:03] jjgao commented on #5652
@pieterlukasse good thinking and genome nexus would be the natural place to host such data, but maybe we should keep it simple for this round so that we can get it done? (we are not supporting different reference genomes yet in genome nexus.)

[2019-01-24 23:07] jjgao commented on #5652
I updated the list in the main issue description.

@khzhu I don't we should _populate_ mutation_event.chr from referernce_genome_gene table. It should be from MAF. _validating_ would be fine, not sure if necessary.

[2019-01-24 23:11] jjgao commented on #5542
@kalletlak good question. My instinction is that we should not save groups if a user is not logged in -- the same reason as virtual study. That would mean only logged in users can create groups.

[2019-01-24 23:12] khzhu commented on #5652
@jjgao , I agree with you, no check is really needed. What do you think, @pieterlukasse?

[2019-01-24 23:13] jjgao commented on #4637
@adamabeshouse that might work... Maybe it should be a global setting?

Do we need to do any API change since we will compare patients not samples for each gene?

[2019-01-24 23:17] ersinciftci commented on #4637
Enrichment APIs already have `enrichmentType` property that can be `SAMPLE` or `PATIENT`.

[2019-01-25 09:48] pieterlukasse commented on #5652
@khzhu I think the check is important, so that wrong data can be flagged early. So if MAF reports a mutation about a specific gene and chr is filled, the check of whether the chr is correct for this gene should be done (I expect this to be easy if the right data is pulled in at validateData.py - I think now it is still pulling from gene api...so you might have to change gene api to get the chr fro

[2019-01-25 09:58] pieterlukasse commented on #5652
@khzhu One comment I have after discussing with @sandertan. Please do *not* add new requirements to the meta file formats. So, do *not* add a new field to the `meta_study.txt` to indicate the build for this study. Rather, let the importer infer it from the build information that is present in the MAF file and/or the meta file for segment data. In this way, users don't need to change their staging

[2019-01-25 11:21] ugurdogrusoz commented on #5650
Steps to reproduce:
- Choose Breast Cancer (MSK, Cancer Cell 2018)
- Choose PIK3CA
- Open network tab, and locate RARA in genes list
- Double click on RARA to display its properties. No results since RARA and some other genes are not in the network view even though they are listed in this tab

[2019-01-25 11:40] ugurdogrusoz commented on #5650
This is not reproducible. I tried the above steps and things are fine as follows. By default RARA is not shown since not all interaction types are displayed initially. If you click Modify and Select All under Interactions tab, all genes including RARA are shown and when double-clicked on RARA, correct Details are displayed in the Details tab:
![rara-properties](https://user-images.githubuserconten

[2019-01-25 12:15] schultzn commented on #5650
I was able to reproduce it. I think I did a query for just RARA. RARA showed up in my query, but it was linked to an incorrect gene.

[2019-01-25 12:21] ugurdogrusoz commented on #5650
I tried the query with RARA: Breast Cancer (MSK, Cancer Cell 2018), RARA as only GoI, and it seems to work.
Can you perhaps list the exact steps to reproduce it and take a screenshot?

![image](https://user-images.githubusercontent.com/3874988/51745643-95be7580-20b4-11e9-960d-c27b312f19a1.png)

[2019-01-25 12:38] schultzn commented on #5650
Strange, but I can no longer reproduce the issue.

[2019-01-25 16:01] khzhu commented on #5652
@pieterlukasse, there is one problem with this approach. Please note cancer study is always the first data to be loaded into the DB. This makes the cancer study identifier available to the genetic profile table before any mutations can be loaded into the DB.

[2019-01-25 16:44] khzhu commented on #5652
@pieterlukasse ,
regarding your comments on chr validation. I do not think the validator script currently uses any APIs, but I agree totally with you, we should go with that route. thanks!

[2019-01-25 17:38] jjgao commented on #5574
@adamabeshouse could you paste an example format you are using?

[2019-01-25 17:38] jjgao opened #5655 "Support multiple studies/profiles for Mutations and CNAs in Enrichments API"
Current, both [Mutation](http://www.cbioportal.org/beta/api/swagger-ui.html#/Mutation_Enrichments) and [Copy Number](http://www.cbioportal.org/beta/api/swagger-ui.html#/Copy_Number_Enrichments) Enrichments endpoints (both are internal) only support one `molecularProfileId`. We would like to support multiple profile IDs so that Enrichments analysis can be performed when multiple studies are selecte

[2019-01-25 17:52] adamabeshouse commented on #5655
I think it should look approximately the same as the current one except that alteredIds and unalteredIds should take a list of {sampleId, molecularProfileId} or {patientId, molecularProfileId} objects, and scratch the separate molecularProfileIds input.

[2019-01-25 18:18] adamabeshouse commented on #4637
@jjgao if we want to enable this for group comparison (where theres no oncoprint) we'll need to add some UI for it in the enrichments tabs. could just be a checkbox/toggled button?

[2019-01-25 18:20] adamabeshouse commented on #5574
@jjgao the representation Im using is

[code]

[2019-01-25 18:40] ersinciftci commented on #5655
We should create a new filter class called `EnrichmentMultipleStudyFilter.java` and it should do what @adamabeshouse suggested. Not sure what `enrichmentGroups` is, if it's just about querying multiple studies/profiles, I don't think we need `enrichmentGroups`.

[2019-01-25 18:46] #3993 closed

[2019-01-25 22:57] jjgao commented on #5652
@pieterlukasse I agree that we should connect to genome nexus properly ultimately, but I worry that if we add genome nexus (and cbioportal frontend) into this round, it'll end up the same as the last time. We are not pulling many data from GN yet, so maybe a temporary solution is not to pull from GN for studies if its reference genome is not hg19.

It would be good to define the remaining work in

[2019-01-25 22:59] jjgao commented on #4637
@adamabeshouse I think it's probably time to design the global settings menu.

[2019-01-25 23:07] jjgao commented on #5574
Thanks, @adamabeshouse.

Two discussion points:
- should use the same structure for custom group and the input to comparison page?
- In any case what would be the data structure(s)?

Maybe we should have a call on this since it's so fundamental? @adamabeshouse @kalletlak @alisman

[2019-01-25 23:09] jjgao commented on #5655
@ersinciftci thanks, but it's not filter. The parameter is actually to define two groups of samples for comparison.

[2019-01-25 23:48] ersinciftci commented on #5655
@jjgao is this issue about cohort comparison or just showing the enrichments tab in multi-study queries? Or by `two groups of samples` do you mean altered and unaltered samples?

[2019-01-26 01:04] jjgao commented on #5655
@ersinciftci it's going to be used in the cohort comparison page (and also Enrichments tab). Altered and unaltered samples are two groups (with special group names).

[2019-01-28 13:58] tmazor opened #5657 "plots tab - bar chart problems"
Something has gone wrong with this plot:
![image](https://user-images.githubusercontent.com/10508276/51840630-8de01a80-22da-11e9-892d-21b3dd4f6130.png)

The spacing between entries on the x-axis is very large (the other values are off the screen) and the bars themselves are too wide.

To replicate, go here & change the vertical axis to Cancer Type:
http://www.cbioportal.org/results/plots?session_i

[2019-01-28 18:26] schultzn opened #5659 "improvement of table in download tab"
- [ ] Looking for all different rows for data for a gene (a gene may present in multiple rows)
- [ ] Add links to study, sample, and patient
- [ ] Change colors of `no alteration` and `not profiled` to gray and add a strikethrough to ~~not profiled~~
- [ ] Add columns for each gene that combines all alterations (hidden by default but included in download.
- [ ] Change UP/Down to High/Low #5529

--

[2019-01-28 18:32] adamabeshouse commented on #5657
thanks, yes, this has been reported https://github.com/cBioPortal/cbioportal/issues/5626

[2019-01-28 18:32] #5657 closed

[2019-01-28 18:34] adamabeshouse commented on #5655
@jjgao I think your issue is just the terminology, because I think the functionality doesn't have to do w altered/unaltered those just happen to be two names. But I would agree it would be better to name them more generally.

[2019-01-28 18:47] schultzn commented on #5659
Just to clarify: The overall alteration status of the sample is correct. It is just that the qualifying alterations are not listed.

[2019-01-28 19:32] jjgao commented on #5659
It looks like the issue happens when a gene is queried in different lines.

I created a simpler version of @schultzn's query here: http://bit.ly/2WqQUyM

"BRAF:V600; BRAF:V601;" were queried, but in Download tab, only V600 is present.

![image](https://user-images.githubusercontent.com/840895/51861121-6785a380-2309-11e9-81c5-e993dc4fe67b.png)

BTW, is it possible to show the OQL when it is used?

[2019-01-28 19:42] jjgao commented on #5655
@adamabeshouse yes, just terminology.

[2019-01-28 19:45] tmazor opened #5660 "enrichments tab qvalue inconsistency"
We're upgrading an old version to the current version, and in doing so I was comparing the enrichments tab and noticed that the q-values are different in 2.0.1 than they were in 1.17.1. The p-values and all other numbers are identical, it is only the q-value that differs. In 1.17.1 the q-value calculation was done in the backend and in 2.0.1 it is done in the front end -- so this appears to be an

[2019-01-28 20:52] adamabeshouse commented on #5655
@jjgao how would it work for more groups? it would return the pairwise enrichments?

[2019-01-28 22:02] kalletlak commented on #5362
@tmazor seems working to me. Could you check it again

[2019-01-28 22:37] jjgao commented on #5660
@tmazor I assume it's your internal data. Do you think it's OK to download the results in both cases and share it on Slack (#refactoring)?

[2019-01-28 22:48] jjgao commented on #5655
@adamabeshouse pairwise would be one way to do it. I think it is also possible to test for multiple groups. But let's not go there yet.

[2019-01-29 11:13] pieterlukasse opened #5661 "Mutation mapper not working / unclear error messages"
Mutation mapper does not seem to be working as documented. E.g.

The following input starts the process, but returns a "Critical error":
[code]
![image](https://user-images.githubusercontent.com/2900303/51903630-f7385a00-23bc-11e9-8613-463b306dde56.png)
[code]
Another issue with this page occurs when the lines have the wrong number of columns (e.g. replace the tabs above by spaces). The user will

[2019-01-29 17:58] schultzn commented on #5659
And while we are fixing the table, can we / should we add links to sample and patient IDs?

[2019-01-29 18:48] tmazor opened #5662 "stacked bar chart - long legend goes off screen"
When the legend is long, it gets cutoff:
![image](https://user-images.githubusercontent.com/10508276/51932090-6bc6c500-23cc-11e9-994b-04d995a578a7.png)

To replicate, the query is EGFR in MSK-IMPACT

[2019-01-29 19:00] tmazor opened #5663 "plots tab - extra clinical attributes?"
In MSK-IMPACT study, there are options to plot "Mutation spectrum" and "# Samples per Patient" but neither of these seem to have any data:
![image](https://user-images.githubusercontent.com/10508276/51932776-dcbaac80-23cd-11e9-8052-a5d29a7c24bf.png)

Neither of these exist as tracks in study view.

Should these not be appearing here?

Note that there are two tracks listed in the clinical attribute

[2019-01-29 19:02] tmazor opened #5664 "plots tab - x-axis label is cut-off"
![image](https://user-images.githubusercontent.com/10508276/51933018-65394d00-23ce-11e9-8490-a1ee7037f3bf.png)

[2019-01-29 19:34] jjgao commented on #5574
We decided to use a list of groups as input defined in https://github.com/cBioPortal/cbioportal/issues/5541

[2019-01-29 19:42] adamabeshouse commented on #5662
duplicate https://github.com/cBioPortal/cbioportal/issues/5569

[2019-01-29 19:59] tmazor commented on #5362
@kalletlak you are correct. I think @adamabeshouse fixed this while he was adding all the new OQL functionality. I will close this.

[2019-01-29 19:59] #5362 closed

[2019-01-29 20:19] tmazor commented on #5660
@jjgao yes this is internal data -- I will email you the enrichments tab table from both versions

[2019-01-29 22:18] jjgao commented on #5659
while we are on this. Maybe we can discuss the colors? (I think I may have missed the final discussion for the final decision.) I think we should use less predominant colors for `no alteration` and `not profiled` (e.g. gray) and maybe a strikethrough for `not profiled` (similar to oncoprint). Thoughts? @schultzn @tmazor @alisman

[2019-01-29 22:37] ersinciftci commented on #5655
@jjgao Yes

[2019-01-29 23:33] schultzn commented on #5659
Good idea. And one more: We should add the term "germline" behind germline mutations.

[2019-01-29 23:41] schultzn commented on #5659
And another one:

When downloading the TSV, the column headers show the full OQL query instead of the individual subsets.

In addition to fixing the headers, maybe we can add an extra column in the download that combines all alterations for a gene in a single column (like we used to have), then have additional columns with individual alteration types? I am doing a quick analysis / extraction right

[2019-01-30 00:35] adamabeshouse commented on #5544
@jjgao does that hamburger icon above the scrollbar mean anything?

[2019-01-30 03:17] jjgao commented on #5544
@adamabeshouse that doesn't mean anything. I was thinking of having a settings icon for all chart. Please ignore it.

I also updated the requirement for delete above.

[2019-01-30 03:20] jjgao commented on #5655
@ersinciftci thanks. What do you do if there are patient IDs that are included in both groups.

[2019-01-30 04:39] jjgao commented on #5663
I don't think we have a way to show mutation spectrum here.

[2019-01-30 04:40] jjgao commented on #5660
@tmazor thanks. @dippindots I've forwarded you the data. Please look into it. thanks.

[2019-01-30 04:48] jjgao commented on #5659
@schultzn it was actually requested by a user as well. I would add a hidden column per gene and include them download.

@dippindots here is a summary of things to improve:

- [ ] Looking for all different rows for data for a gene (a gene may present in multiple rows)
- [ ] Add links to study, sample, and patient
- [ ] Change colors of `no alteration` and `not profiled` to gray and add a strikethro

[2019-01-30 04:55] jjgao opened #5665 "query altered samples in Download"
updated:

- [ ] change "Sample affected" to "Altered samples"
- [ ] Add "Query" after "Download" to query the altered samples with the same genes.
- [ ] Add a new line "Unaltered samples: ..." with the same options.

===
I am thinking of adding a query button after the `samples affected...` line. It would query the altered samples with the same genes. (BTW, we should change `samples affected` to `

[2019-01-30 08:28] j-hudecek opened #5666 "Google+ sign in deprecated"
We're using googleplus authentication method. This uses the spring.social.google library which uses the "Google+ Sign in" that's being deprecated:
https://developers.google.com/+/integrations-shutdown
It seems the library itself won't be updated:
https://github.com/spring-social/spring-social-google/issues/115

Are there any plans to migrate to the new "Google Sign-In"? It's also an issue for GENI

[2019-01-30 14:42] n1zea144 commented on #5666
HI @j-hudecek  We became aware of this yesterday.  AFAIK, we've been authenticated via OAuth2, not OAuth or any plus.me scope.  I did a quick cursory dive into spring-social-google code and this seems to be the case: [GoogleOAuth2Template.java](https://github.com/spring-social/spring-social-google/blob/master/src/main/java/org/springframework/social/google/connect/GoogleOAuth2Template.java).  Of c

[2019-01-30 15:18] adamabeshouse commented on #5655
@ersinciftci for group comparison we are doing enrichments for any two groups, not specifically altered vs unaltered. its possible for there to be overlap

[2019-01-30 15:21] adamabeshouse commented on #5663
youre right @jjgao this is probably because there is data available, which puts it in the list, but its data type is not plottable, which means no plot is shown. ill confirm when i get in. we’ll just filter that out of the list.

[2019-01-30 17:03] dippindots commented on #5660
Thanks @tmazor and @jjgao. I am working on it.

[2019-01-30 19:29] inodb opened #5667 "cbioportal software markdown page"
Create new page listing cBioPortal Software and Acknowledge service providers (e.g. Netlify, Slack, Travis, CircleCI, Heroku)

[2019-01-30 20:38] jjgao opened #5668 "mirna: how to better handle it."
The fake negative entrez gene IDs give us a lot of headache. Let me document how we generate them here and see if we can solve the issue.

The mirna id file reside in the id-mapping-mirbase.txt file under reference-data in our main mercurial repo. Also uploaded [here](https://github.com/cBioPortal/cbioportal/files/2814331/id-mapping-mirbase.txt).

This is the [Java code](https://github.com/cBioPor

[2019-01-30 22:44] #5529 closed

[2019-01-31 03:13] jjgao commented on #5666
closing. @j-hudecek please let us know if you have more information.

[2019-01-31 13:50] PawelJagus commented on #5666
For me it stopped working. Logging in with google seems to be impossible without changes to spring-social-google now.

[2019-01-31 18:33] ritikakundra commented on #5668
Current documentation of how we handle miRNA:https://docs.google.com/document/d/1GeN2GHjSDFIc8hhl6v72JRoQbBw6szTRv7IDzcjXu5g/edit

[2019-01-31 19:25] #5626 closed

[2019-01-31 20:16] dippindots commented on #5660
@ersinciftci Adam and I tried to reproduce this issue, but it turns out there is no problem with the q values calculation nor the columnFormater.

What I have tried:
1. Using the p values data from Tali's data sets, and calculate by the calculateQValues function, results are correct.
2. Created the dummy data and use it to render the column, the results are still correct.

Could you help us to tak

[2019-01-31 20:44] #5622 closed

[2019-01-31 21:50] #5621 closed

[2019-01-31 22:04] jjgao commented on #5668
(copied from doc to here)

The Gene table in our database currently contains the miRNA to alias mapping maintained initially by JJ. _This should not be updated with the new gene data._

The data sets contain the new `MIRXXX` naming. This is mapped to the pseudo miRNA that JJ maintains. Example:
- MIR454 is present in our data files
- This is one of the aliases being mapped to the pseudo: mir-454/4

[2019-01-31 22:58] adamabeshouse commented on #5633
which elements would we want to be in the frame? I think we would have to shrink the plot a bit

[2019-02-01 14:22] schultzn commented on #5633
Ideally, everything should in view. If you just remove some white space and reduce font sizes a but, that might be all that is needed. And any way you can move the "Color samples by" options into the actual plot, or closer to it?

![image](https://user-images.githubusercontent.com/11892704/52128382-d4978280-2602-11e9-9189-4c66fc871696.png)

[2019-02-01 16:25] #5651 closed

[2019-02-01 17:32] j-hudecek commented on #5666
It seems some things (updating spring-social) will indeed need to be done on this, don't you want to keep the ticket open as a reminder?

[2019-02-01 18:39] n1zea144 commented on #5666
Hi @PawelJagus I think something else may be affecting your environment as we are still running Google signon on a number of cBioPortal instances here at MSK.

[2019-02-01 18:44] n1zea144 commented on #5666
Hi @j-hudecek We have it on our SCRUM backlog and will be addressing this issue soon.

[2019-02-01 19:00] jjgao commented on #5666
@j-hudecek sorry I jumped the gun -- was trying to reduce the number of tickets on github :) Reopening.

[2019-02-01 19:27] inodb opened #5672 "for mutation mapper tracks show level of oncokb in tooltip"
![screen shot 2019-02-01 at 2 26 34 pm](https://user-images.githubusercontent.com/1334004/52144843-65835380-262d-11e9-9e88-56e93046a71b.png)

[2019-02-01 20:01] inodb opened #5674 "save user state mutation mapper tracks"
When switching to different gene, keep tracks visible that user had previously selected (maybe using localStorage?)

[2019-02-01 20:40] inodb opened #5675 "mutation mapper track styling"
- [x] make oncokb circles same color as logo
- [ ] maybe default should be to show oncokb+hotspots? Niki prefers not to show it though
- [x] remove two dots for add tracks (also remove in OncoPrint `Add clinical tracks..`)

[2019-02-01 20:54] sheridancbio commented on #5655
@adamabeshouse @jjgao @cBioPortal/backend
@angelicaochoa and I are proposing a change to the internal API schema for endpoints:
- api/molecular-profiles/{molecularProfileId}/copy-number-enrichments/fetch
- api/molecular-profiles/{molecularProfileId}/mutation-enrichments/fetch

The change adds a specification of a genetic-profile-id for each individual sample listed in either of the two comparison

[2019-02-01 20:58] ersinciftci commented on #5655
@sheridancbio it should be `api/copy-number-enrichments/fetch` and `api/mutation-enrichments/fetch` after dropping molecularProfileId from the URL, at least that's how all the other endpoints are designed. Because `/molecular-profiles` is there to specify that the ID comes after it is a molecular profile ID, so we wouldn't need that anymore.

[2019-02-01 20:59] sheridancbio commented on #5655
Thank you @ersinciftci .... updating now

[2019-02-01 22:16] jjgao commented on #5676
Moving the issue here. Looks like we pretty much have the feature in oncoprint already. We just need to improve the visualization a little.

[2019-02-01 22:43] schultzn opened #5678 "New CN Segments tab: Change header line"
Change the header line from:

Whole Genome Copy Number Segments for the selected xxx sample(s).

to:

Segmented copy-number data for the selected xxx sample(s).

And nothing should be bolded.

[2019-02-01 22:56] schultzn commented on #5678
And super minor, but maybe the text could be aligned with the tab name and the IGV logo?

[2019-02-02 12:43] PawelJagus commented on #5666
I have found out that I was using a prehistoric version of google social the one from here: https://mvnrepository.com/artifact/org.springframework.social/spring-social-google (1.0.0.RELEASE) while I should have been using the one mentioned in github, which is

[code]

Upgrading worked for me with little effort. Signing in is still working.

[2019-02-04 19:03] adamabeshouse commented on #5518
this is actually an issue with the react-select-checked component, which I'm not sure if we're going to take ownership of or not, or ask the hyve to maintain it. @alisman

[2019-02-04 19:10] schultzn commented on #5676
But shouldn't this be a study view feature?

[2019-02-04 20:48] jjgao commented on #5672
Highest level? ... since the same variant may have different levels.

[2019-02-04 21:47] #5547 closed

[2019-02-04 21:47] #5551 closed

[2019-02-04 21:48] #5552 closed

[2019-02-04 21:48] #5574 closed

[2019-02-04 21:49] #5579 closed

[2019-02-04 22:05] adamabeshouse opened #5680 "group comparison - copy number page with multiple studies involved"

[2019-02-04 22:22] #5664 closed

[2019-02-04 22:23] #5663 closed

[2019-02-04 22:41] rnugraha commented on #5518
@adamabeshouse One tricky thing about the usage of react-select-checked in the Oncoprint is: after selecting an item (or more), it refreshes/reloads the whole component including the react-select-checked.

Therefore it reset the state to the initial state. This eventually creates a lot of issues. Most of the issues actually won't happen if it's not being refreshed. Maybe we need to think about how

[2019-02-04 22:42] adamabeshouse commented on #5662
note to self: put legend on bottom if more than 15 items

[2019-02-04 22:55] alisman commented on #5518
@rnugraha i think we need to resist forking libraries like this and also creating libraries (like json-to-table for example).  There is a maintenance cost that I don't think is entirely justified.  Better just to make this a component in our project unless there is a really strong, known need to reuse it elsewhere.   Also, react-select 2.0, which I am using for the quick search, makes customizing

[2019-02-04 23:06] rnugraha commented on #5518
@alisman I think the opposite. Making them as a separate library will make them loosely coupled from the main application and easier to maintain. As for react-select 2.0 if you think so we would be happy to help as well as we are open if you want to take the ownership to continue the development.

[2019-02-04 23:32] adamabeshouse commented on #5543
https://github.com/cBioPortal/cbioportal-frontend/pull/1965

[2019-02-05 04:34] jjgao opened #5681 "patient view stuck after clicking on View selected cases"
Open: http://www.cbioportal.org/study?id=msk_impact_2017
Click "View Selected Cases"

![image](https://user-images.githubusercontent.com/840895/52240069-fbbdb080-289d-11e9-865d-5311acf531c0.png)

Two issues:
- It takes long tome to load the patient view page
- Study view got stuck while patient view is loading

[2019-02-05 11:20] pieterlukasse commented on #5518
@alisman just discussed it internally here, also with @rnugraha . Please feel free to go ahead and move it to the cBioPortal frontend code repo :+1: . Hopefully this will make maintenance easier.

[2019-02-05 13:15] #5662 closed

[2019-02-05 13:15] #5569 closed

[2019-02-05 15:35] jjgao opened #5683 "frontend pr not working on heroku"

[2019-02-05 15:47] jjgao opened #5684 "Search for tags in Query and Quick Search"
- Curating tabs for public studies https://github.com/cBioPortal/datahub/issues/619
- Search studies by tags in Query page
  - One option is to add study tags to study meta json
- Search studies by tabs in Quick Search

cc'ing @schultzn @pieterlukasse @Sjoerd-van-Hagen

[2019-02-05 15:48] jjgao commented on #5606
@oplantalech @pieterlukasse I added a follow-up ticket for searching tags: https://github.com/cBioPortal/cbioportal/issues/5684

[2019-02-05 15:59] jjgao commented on #5518
@oleguer @pieter would you be able to help with this? Or should we just incorporate the code in the main frontend repo?

[2019-02-05 16:35] inodb opened #5688 "patient view allele frequency column should always show a tiny bar if > 0"
It's currently hard to see that there is allele freq info:

![screen shot 2019-02-05 at 11 35 10 am](https://user-images.githubusercontent.com/1334004/52288416-278e7400-293a-11e9-9b2a-5212ad2a881f.png)

[2019-02-05 20:08] alisman commented on #5681
@jjgao @tmazor @schultzn the reason for this bug is that google analytics crashes when confronted with a url of >250,000 characters, which is what it takes to represent 10,000 samples in the url.   We can figure out a solution based on your response to the following.

Do we really need to allow users to navigate through >1000 patients?  Is that practical for the user?   If this is in fact importan

[2019-02-05 20:40] sheridancbio commented on #5666
@jjgao @cBioPortal/msk-developers :

@angelicaochoa and I have looked into the functioning of spring-social-google in the cBioPortal authorization process. The conclusion we come to is: our use of spring-social-google was *only* using the OAuth2Operations interface from spring-social-google ... the PlusOperations interface (also in spring-social-google) was not being used by cBioPortal for authent

[2019-02-05 20:57] alisman opened #5689 "skin_right_nav_show_whats_new param should default to true in frontend"
Just realized we never dealt with my comment about default behavior.
https://github.com/cBioPortal/cbioportal-frontend/pull/1830

[2019-02-05 20:57] n1zea144 commented on #5666
@angelicaochoa @sheridancbio Thank for the investigative work and detailed comment.  For completeness, we talked about replacing our use of the spring-social-google library for OAuth2 functionality with spring-security-oauth, but decided to revisit that topic when time permits.

@jjgao We consider this issue closed, but we'll leave it to you to do the actual closing.

[2019-02-05 21:32] #5585 closed

[2019-02-05 22:25] jjgao opened #5690 "How validator deal with MT mutations"
In [this line](https://github.com/cBioPortal/cbioportal/blob/master/core/src/main/scripts/importer/validateData.py#L2628), chrM was skipped. I didn't look into the code. What's the logic here?

And we usually have `MT` as the chr number.

[2019-02-05 22:48] zbozoky opened #5691 "PFAM annotation"
Hi,

I am wondering what PFAM version is used to generate domain boundaries on lollipop plots. Domain boundaries on c-bioportal don't always match domain boundaries on PFAM, which is version 32.0 (https://pfam.xfam.org/about).

Thanks,
Zoltan

[2019-02-05 22:49] jjgao opened #5692 "make it responsive for the iframe tabs"
- slide image
- path report

[2019-02-05 23:19] jjgao commented on #5666
Thanks, @angelicaochoa @sheridancbio @jjgao ! Always feel good to close an issue :)

[2019-02-05 23:19] #5666 closed

[2019-02-06 02:55] schultzn commented on #5681
Hmm… I am pretty sure some people might use this feature to line up all samples, then jump to the last one to see the most recently added samples (probably only applies to internal sequencing cohorts that are updated daily, like ours). As a solution for this very special case, maybe we could show the last 1000 selected samples?

But even if we do this, do we need to notify the user that not all se

[2019-02-06 03:50] jjgao commented on #5681
@alisman Maybe we can use local storage for this when there are >n samples (n to be determined)? Users will not be able to send a link with navIDs to others but I think that's fine. For small urls, we will still include navIDs. @schultzn do you think that's ok?

[2019-02-06 04:10] jjgao opened #5693 "support virtual study on heroku"
We need to support virtual study on heroku instances otherwise we cannot test features such as virtual study and custom group.

@alisman what's the reason what it's not working on heroku?

[2019-02-06 04:14] schultzn commented on #5681
I think that would be ok.

[2019-02-06 14:09] tmazor commented on #5681
This seems reasonable to me

[2019-02-06 16:17] kalletlak opened #5694 "Oncoprint "Sort by case list order" isn't working"
https://groups.google.com/d/msg/cbioportal/PZrNpBS_GuM/gGXAsmOuEAAJ

[2019-02-06 16:40] pieterlukasse opened #5695 "LDAP integration broken?"
See issue reported at https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/AQf_vsuFsjc/Rc2942y_AAAJ

The log lines below make me suspect something might have broken in the last security PRs:
[code]

[2019-02-06 16:43] debyani-chakravarty commented on #5681
Hi this issue is on the public portal too -- just ran into it again.

[2019-02-06 17:40] schultzn opened #5696 "Study view not working in Safari and Firefox"
The study view remains blank in Firefox and Safari, but works in Chrome.

Example:
http://www.cbioportal.org/study?id=msk_impact_2017

[2019-02-06 17:54] jjgao opened #5697 "View Summary button not working in Firefox and Safari"
The piechart icon and the link in the Datasets page is also not working.

[2019-02-06 18:09] jjgao opened #5698 "change whole slide viewer url"
from slides-res.mskcc.org to slides.mskcc.org

[2019-02-06 18:20] jjgao opened #5699 "e2e tests on firefox and safari"

[2019-02-06 20:23] tmazor commented on #5665
Nice idea!

If we're going to do this, what about also adding a way to query/go to study view for the unaltered samples?

[2019-02-06 20:34] tmazor opened #5700 "CN segments tab: remember zoom"
Not sure if this is possible but... currently, the IGV zoom resets whenever a filter is added or cleared. Ideally, I would like the IGV viewer to remember the zoom when filters are added/removed.

[2019-02-06 20:39] tmazor opened #5701 "CN segments: 3-frame translate doesn't work"
If I select "Three-frame Translate" in the upper track, the track gets taller to allow room for the translation, but nothing appears.

[2019-02-06 20:47] kalletlak opened #5702 "StudyView API's are not secured for private portal"
For private instances, user can still get data for StudyView API's(http://www.cbioportal.org/api/swagger-ui.html#/Study_View) even if he doesn't have access to studies

[2019-02-06 20:51] jjgao commented on #5697
duplicate with #5696

[2019-02-06 20:51] #5697 closed

[2019-02-06 21:01] jjgao opened #5703 "make the cn-segments tab responsive vertically"
... for both results and study view.

Or at least set the height based on initial window size.

[2019-02-06 21:56] jjgao opened #5704 "Allele Freq columns are empty for downloaded data from Mutations tab"
note: they can be calculated from reads

Allele Freq (T) = [Variant Reads] / [Variant Reads + Ref Reads]

Allele Freq (N) = [Variant Reads (N)] / [Variant Reads (N) + Ref Reads (N)]

[2019-02-06 22:02] #5696 closed

[2019-02-06 22:40] tmazor opened #5705 "mutations tab annotation tracks should always be load-able"
Go to this query: http://bit.ly/2RJPrji
Go to CDKN2A
The Cancer Hotspots track is unselectable.

My guess is that this is because neither of the 2 mutations in CDKN2A are in Cancer Hotspots.

First, can someone confirm that my guess is correct?

Second, if my guess is correct, I think it is preferable to be able to load the track no matter what, and it just won't have any dots on it.

[2019-02-06 22:59] onursumer commented on #5701
Seems like an IGV library bug to me. If this is critical, we should let them know.

[2019-02-06 23:03] onursumer commented on #5705
@tmazor your guess is correct, if there is no data available, the track is disabled.

[2019-02-07 10:34] sandertan commented on #5690
@fedde-s Can you remember why this logic was added 3 years ago?

[2019-02-07 14:41] tmazor opened #5706 "CN segments tab should be hidden when no data is available"
This study has no copy number data yet the CN segments tab still appears: http://www.cbioportal.org/beta/study?id=lgg_ucsf_2014&tab=cnSegments

[2019-02-07 17:45] onursumer commented on #5672
@jjgao or should we list all levels separated by commas? That's actually current implementation for the `Implication` and `Effect` columns. The implementation allows displaying of multiple comma separated values.

[2019-02-07 17:59] jjgao opened #5708 "GA tracking of study view"
- url
- individual physical studies
  - if virtual studies are viewed, the physical studies in the virtual studies should be tracked
- study file download event (the download button after the study name)
- tabs
- filtering event
- all buttons:
  - virtual study creation
  - view patients
  - Add Chart
  - Custom selection
  - ..
- anything else?

[2019-02-07 18:03] jjgao opened #5709 "GA tracking of patient view"
- url (before the #)
- tabs
- study id
- patient id
- anything else?

[2019-02-07 18:51] adamabeshouse commented on #5694
we have a test for this, and I manually went in to test it and I'm not seeing an error. I asked the user for more info.

[2019-02-07 18:55] adamabeshouse commented on #5694
nevermind, I just reproduced it.

[2019-02-07 19:12] jjgao commented on #5672
@onursumer sounds good. Then maybe add tumor types and one line per level, e.g.

`Level 1 (Melanoma, Non-Small Cell Lung Cancer, and 6 other cancer types)`
`Level 2B (Breast cancer)`
`Leven 3A (Colorectal cancer)`

[2019-02-07 19:16] sheridancbio commented on #4345
After scanning the persistence layers, I did not find any uses of such a temporary table construction. I think @angelicaochoa adds such a case in the extra tool to look for duplicates, but this will not run in production so performance optimization is not the critical concern.

[2019-02-07 19:17] adamabeshouse commented on #5694
nevermind, I can only reproduce it sporadically. the details from the user would help.

[2019-02-07 19:21] #5698 closed

[2019-02-07 19:35] zhx828 commented on #5372
@inodb this is done, right?

[2019-02-07 19:51] #5681 closed

[2019-02-07 20:31] jjgao commented on #5694
@kalletlak could you reproduce it? If so, maybe paste the query url. If not, maybe ask the user for the query.

[2019-02-07 20:34] jjgao commented on #5665
@tmazor good point, so adding another line "Unaltered samples..." with the same options.

[2019-02-07 20:38] jjgao commented on #5665
@dippindots I added a checklist above. Please work on it when you have time. Not urgent.

[2019-02-07 20:41] jjgao commented on #5702
@kalletlak could you help fix this? Any other APIs that are not secured?

[2019-02-07 20:42] jjgao commented on #5701
Let's move forward without this one, but @onursumer please report it to igv.

[2019-02-07 21:11] adamabeshouse commented on #5694
this should fix it. a very strange bug caused by using both the @autobind decorator and binding the method using .bind in the constructor.

https://github.com/cBioPortal/cbioportal-frontend/pull/1989

[2019-02-07 21:18] rgescudero commented on #5694
here is the query address

http://www.cbioportal.org/results/oncoprint?session_id=5c5c9eb3e4b0f6ce58b5debd

if a want to sort by case list order, and nothing happen

Can you help?

Thanks

Ramon

El jue., 7 feb. 2019 a las 21:31, JianJiong Gao (<notifications@github.com>)
escribió:

[2019-02-07 21:27] kalletlak commented on #5694
@rgescudero thanks!
@adamabeshouse its very random.
seems working fine when the above link is opened and update the sort. but if you try to click modify query button and submit then the sort buttons doesn't work

[2019-02-07 21:44] zhx828 commented on #5648
@ChrisWakefield I noticed today, the study heatmap does not show any content except the page is not availble. Is this a temporary issue?  http://www.cbioportal.org/study?id=brca_tcga_pub&tab=heatmaps

The URL we use is https://bioinformatics.mdanderson.org/TCGA/NGCHMPortal/?view=0&p0DiseaseInput=brca

![screen shot 2019-02-07 at 4 43 10 pm](https://user-images.githubusercontent.com/5400599/5244482

[2019-02-07 21:46] jjgao commented on #5674
definitely for different genes for the same query session, but maybe not across sessions (so no localStorage).

[2019-02-07 22:06] adamabeshouse commented on #5694
@kalletlak great, that is consistent with the bug that we fixed. and indeed when i test it with the new pull request, it succeeds. so we'll be merging the fix soon. we'll let you know when it is deployed @rgescudero thanks!

[2019-02-07 22:23] ritikakundra opened #5710 "Multiple filters causes incorrect selection of sample"
If you add multiple filters the sample selection freezes after a while and does not change on further filtering.
![screen shot 2019-02-07 at 5 28 05 pm](https://user-images.githubusercontent.com/12007862/52447091-c7e0c600-2afd-11e9-88dc-03466456e45c.png)

[2019-02-07 22:30] ritikakundra opened #5711 "Adding a display name to allow users to visualize on their choice of ID"
In addition to SAMPLE_ID, adding a new field called DISPLAY_NAME which if populated for a sample, will use that value over SAMPLE_ID for visualization purposes.

[2019-02-07 22:37] zhx828 commented on #4524
@jjgao this was designed to ignore all 2B treatments when level 1/2A detected.

[2019-02-07 23:05] zhx828 commented on #4365
@jjgao this is how's gonna look like for private portal.
![screen shot 2019-02-07 at 6 04 03 pm](https://user-images.githubusercontent.com/5400599/52448783-fad98880-2b02-11e9-9ac1-325d261f8122.png)

But we have issues for most of L4 and R2. We only have PMIDs in the description.
![screen shot 2019-02-07 at 6 04 20 pm](https://user-images.githubusercontent.com/5400599/52448787-fdd47900-2b02-11e9-82

[2019-02-07 23:10] jjgao commented on #4365
Looks good!

For L4 and R2, can we at least make them into a sentence in the curation interface, e.g. "This assertion is supported by (PMIDs:...)."?

[2019-02-07 23:23] zhx828 commented on #4365
@jjgao Should I use the same icon or change to information icon when the description is available?

![screen shot 2019-02-07 at 6 22 51 pm](https://user-images.githubusercontent.com/5400599/52449466-789e9380-2b05-11e9-8790-442403f017f8.png)

![screen shot 2019-02-07 at 6 23 00 pm](https://user-images.githubusercontent.com/5400599/52449457-72a8b280-2b05-11e9-8a24-a829d4b8ed0c.png)

[2019-02-07 23:26] zhx828 commented on #3171
This seems pretty strange issue to me. The oncogenic alteration should not have a treatment leveled. Please let me know if this issue happens to other alteration. Close for now

[2019-02-07 23:26] #3171 closed

[2019-02-07 23:27] zhx828 commented on #2496
@jjgao @schultzn should we remove the page now since we now show all genes?

[2019-02-07 23:27] #620 closed

[2019-02-08 02:12] schultzn commented on #2496
Yes - for now. But we really need a way to not show all genes by default. It would be nice to have users switch between cancer genes / all genes.

[2019-02-08 03:30] jjgao opened #5714 "MDACC compendium heatmaps not working"
@ChrisWakefield I noticed today, the study heatmap does not show any content except the page is not availble. Is this a temporary issue?  http://www.cbioportal.org/study?id=brca_tcga_pub&tab=heatmaps

The URL we use is https://bioinformatics.mdanderson.org/TCGA/NGCHMPortal/?view=0&p0DiseaseInput=brca

![screen shot 2019-02-07 at 4 43 10 pm](https://user-images.githubusercontent.com/5400599/5244482

[2019-02-08 03:31] jjgao commented on #5648
created another one: https://github.com/cBioPortal/cbioportal/issues/5714 and closing this.

[2019-02-08 03:31] #5648 closed

[2019-02-08 03:34] jjgao commented on #5711
This will just be for patient view page. If there is a display_name, it should be used in the place of sample_id on the page.

@dippindots maybe you can help with this?

[2019-02-08 03:35] jjgao commented on #5711
At the same time, @ritikakundra maybe you can start to add the display_name so that we have some data to test?

[2019-02-08 03:37] jjgao commented on #4524
@zhx828 then we should close it?

[2019-02-08 03:39] jjgao commented on #4524
But I thought we were only ignoring lower levels when the drugs are the same and otherwise displaying all levels on portal?

[2019-02-08 03:41] jjgao commented on #4365
I think the same icon is fine as we will always have some citations...

[2019-02-08 03:51] jjgao commented on #2496
Maybe we can use the oncokb cancer gene to filter the list in the frontend? The user can choose to turn on/off the filter?

[2019-02-08 04:02] zhx828 commented on #4524
Seems not the logic in the frontend. I can do a deep look and update the
logic if need.
On Thu, Feb 7, 2019 at 10:39 PM JianJiong Gao <notifications@github.com>
wrote:

[2019-02-08 04:41] jjgao commented on #4524
@zhx828 let's find out what was decided first? If it's too long ago, we could have a discussion with the group first.

[2019-02-08 04:42] zhx828 commented on #4524
Sounds good. Will put it on trello for next week.
On Thu, Feb 7, 2019 at 11:41 PM JianJiong Gao <notifications@github.com>
wrote:

[2019-02-08 04:47] jjgao commented on #4524
We have both Level 1 & 3B in this patient:

http://www.cbioportal.org/patient?sampleId=P-0009912-T01-IM5&studyId=msk_impact_2017

![image](https://user-images.githubusercontent.com/840895/52459351-8cacba00-2b32-11e9-98a6-9ab6ffad7483.png)

I don't know why we should not show Level 1 & 2B together... I think we should change the logic.

[2019-02-08 04:48] zhx828 commented on #4524
Yeah... It's a bit odd when I saw the logic today as well. Let's discuss.
On Thu, Feb 7, 2019 at 11:47 PM JianJiong Gao <notifications@github.com>
wrote:

[2019-02-08 08:13] rgescudero commented on #5694
Ok, thanks

El jue., 7 feb. 2019 a las 23:11, Adam Abeshouse (<notifications@github.com>)
escribió:

[2019-02-08 14:05] fedde-s commented on #5690
No, I'm not sure. Skipping it from the list of valid chromosomes here disallows the mitochondrial chromosome in segment-wise copy number data files, even though [the docs for data curators](https://github.com/cBioPortal/cbioportal/blob/v2.0.1/docs/File-Formats.md#segmented-data) do not mention that restriction.

Should data about the mitochondrial chromosome be valid in .seg files?

[2019-02-08 14:10] schultzn commented on #2496
Yes, that would be good. It should probably turned on by default, but there should be a visible option for users to change it. Almost like a radio button at the top of the table.

[2019-02-08 14:16] fedde-s commented on #5690
If it should stay disallowed, it may make sense to add another sentence about that to the comment and the data curation docs.

[2019-02-08 14:18] fedde-s commented on #5690
And for reference if we are going to adjust the code, [this](https://github.com/cBioPortal/cbioportal/blame/v2.0.1/core/src/test/scripts/unit_tests_validate_data.py#L1749) is the unit test covering the behaviour.

[2019-02-08 15:42] jjgao opened #5716 "Option to use cancer genes to filter genes on study view"
For both Mutated Genes and CNA Genes table, add a toggle option to show only Cancer Genes (the OncoKB list), on by default.

@zhx828 maybe do some mockup first.

[2019-02-08 15:43] jjgao commented on #2496
Created another issue to track the cancer genes filtering option: https://github.com/cBioPortal/cbioportal/issues/5716

@zhx828 for the current ticket, please remove the cancer genes page as we will be using OncoKB cancer genes.

[2019-02-08 15:57] jjgao commented on #5690
@fedde-s is the code for segment file? I don't think we had a discussion about that. I thought it was for mutations.

[2019-02-08 16:29] zhx828 commented on #5296
@adamabeshouse I believe this ticket is done?

[2019-02-08 16:36] zhx828 commented on #5710
@onursumer could you take a look this ticket? https://cbioportal.mskcc.org/study?id=brain_pdx_msk_2018
`https://cbioportal.mskcc.org/api/filtered-samples/fetch` returns 47 samples, but it should really return 40.
![msk cbioportal](https://user-images.githubusercontent.com/5400599/52491699-b21edf80-2b95-11e9-8cca-200c30d29669.png)

[2019-02-08 16:53] dippindots commented on #5711
@jjgao @ritikakundra Yes, I can help with this one by the early of next week.

[2019-02-08 17:30] adamabeshouse commented on #5296
@zhx828 we haven't done every category mentioned here

[2019-02-08 17:32] zhx828 commented on #5296
@adamabeshouse , I will revisit the study view to make sure all the colors are defined. Then you can import.

[2019-02-08 21:46] khzhu opened #5719 "0% should be displayed instead of 'N/P' on oncoPrint when any genes of interest is not tested in selected molecular profiles"
Hi cBioPortal team,
can you please investigate why 'N/P's showed up as opposed to "0%"s when the genes of interest are not tested in selected molecular profiles?

Attached are screenshots showing the differences in the 2 instances.
![np-from-oncoprint](https://user-images.githubusercontent.com/17375786/52507942-02f7fd80-2bc1-11e9-9710-60066839a75c.png)

[2019-02-08 22:25] jjgao commented on #5719
@khzhu is it from a user? It's probably that they haven't import the gene panel data properly.

[2019-02-08 22:29] khzhu commented on #5719
no, the screenshot I took from cbioportal.org this afternoon.

[2019-02-08 22:32] khzhu commented on #5719
![screen shot 2019-02-08 at 2 44 50 pm](https://user-images.githubusercontent.com/17375786/52509788-756bdc00-2bc7-11e9-9e9c-a37ab0af87bc.png)
![screen shot 2019-02-08 at 2 45 33 pm](https://user-images.githubusercontent.com/17375786/52509793-7b61bd00-2bc7-11e9-81f5-83cfc71016af.png)

[2019-02-08 22:32] khzhu commented on #5719
@jjgao , attached two from the user.

[2019-02-09 02:43] #5719 closed

[2019-02-11 08:34] oplantalech commented on #2097
Looks like this is fixed with the new study page, so I'm closing the issue.

[2019-02-11 08:34] #2097 closed

[2019-02-11 10:30] pieterlukasse opened #5720 "Heatmap menu not working when invalid gene is filled in"
Steps to reproduce:
1. submit this query http://www.cbioportal.org/results/oncoprint?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=brca_tcga&case_set_id=brca_tcga_cnaseq&data_priority=0&gene_list=SOX9%2520RAN%2520TNK2%2520EP300%2520PXN%2520NCOA2%2520AR%2520NRIP1%2520NCOR1%2520NCOR2&geneset_list=%20&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=brca_tcga_gistic

[2019-02-11 16:29] ChrisWakefield commented on #5714
I was away last week, so I'm just now seeing this.  We changed some infrastructure with the web site the week before, and I assume it's related to that.  Looking into it now.

[2019-02-11 16:53] jjgao opened #5721 "issue with importing gene panel data"
A user reported [here](https://groups.google.com/forum/#!msg/cbioportal/81x2PSSrBN4/jrid41KOAAAJ):

- Both the gene_panel and gene_matrix files were imported
- But in the database, only gene panel for mutations existed
- In oncoprint, it seemed that gene panel for CNA got picked up but not for mutations (see screenshots below)
- The user has tried both blca_mskcc_solit_2014 and msk_impact_2017

On

[2019-02-11 17:20] jjgao opened #5723 "add missing aliases for mirna"
Issue: MIR181A2 (from NCBI file) was not set as an alias for hsa-mir-181a-2.

Cause: we only replace one `-` when creating the aliases: https://github.com/cBioPortal/cbioportal/blob/master/core/src/main/java/org/mskcc/cbio/portal/scripts/ImportMicroRNAIDs.java#L100
![image](https://user-images.githubusercontent.com/840895/52580479-6c148680-2df6-11e9-9f44-d5b7b815c0f8.png)

![image](https://user-im

[2019-02-11 17:48] jjgao commented on #5723
I am moving this into icebox. I don't think it is worth the effort to fix it.

If we want to invest time in miRNA, we should redo it properly.

[2019-02-11 17:54] ChrisWakefield commented on #5714
@jjgao @zhx828 There were two problems.  The one with the 404 has been fixed.
Now, it works correctly if I use https://cbioportal.org as the base of my request.  If I use http:// , the request to us gets redirected (302) to https: , but then the browser complains about CORS issues (even though we include the header).  Our correspondence back in https://github.com/cBioPortal/cbioportal/issues/4833

[2019-02-11 18:36] onursumer opened #5724 "Make OncoKB styles modular instead of global"
Move everything we need from the global style files `oncoKbCard.scss` and `oncoKbCard.custom.scss` into the modular style file `oncoKb.module.scss`.

[2019-02-11 18:56] adamabeshouse commented on #5720
good catch, I'm surprised we didn't see this earlier. we should reuse the component from the study view which validates genes.

[2019-02-11 19:23] adamabeshouse commented on #5720
lets do this after https://github.com/cBioPortal/cbioportal-frontend/pull/1994 is merged

[2019-02-11 20:11] #5453 closed

[2019-02-11 20:20] #5124 closed

[2019-02-11 21:12] #4069 closed

[2019-02-11 23:05] inodb commented on #5503
@zhx828 @jjgao so the problem with this is that genie's session service url is `/api/sessions/msk_portal/`. If this would've been `/api/sessions/genie_portal/` for genie portal, there wouldn't have been any issues. I think we'll have to

1. come up with some migration code to move all sessions with a genie study to be of `source ` `genie_portal` instead of `msk_portal`
2. update the genie portal s

[2019-02-11 23:07] inodb commented on #5503
This issue applies to these portals as well:

[code]

[2019-02-11 23:48] inodb opened #5726 "enrichments - bug when clicking immediately on mrna tab"
Go to

https://www.cbioportal.org/results/enrichments?tab_index=tab_visualize&cancer_study_list=coadread_tcga_pub&cancer_study_id=coadread_tcga_pub&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=coadread_tcga_pub_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=coadread_tcga_pub_gistic&Z_SCORE_THRESHOLD=2.0&case_set_id=coadread_tcga_pub_nonhypermut&case_ids=&gene_list=KRAS+NRAS+BRAF&gen

[2019-02-12 00:10] #5689 closed

[2019-02-12 00:40] onursumer commented on #5706
Actually, even if there is data, depending on the active filters, we can still end up with no data. So, instead of hiding the tab, maybe we should just hide the IGV viewer and update the header line to "No segmented copy-number data for the selected xxx sample(s)". This would also be an enhancement for the issue #5678.

@tmazor @jjgao what do you think?

[2019-02-12 00:58] #5726 closed

[2019-02-12 01:00] adamabeshouse opened #5727 "group comparison tweaks"
study view group comparison manager:
- [x] newly-saved groups start out being selected
- [x] autogenerate simple names - collections of clinical attribute selections (in some canonical order based on chart id)

group comparison page
- [x] allow one group to be selected. just grey out tabs the same way we do when too many groups are selected.
- [x] only show selected groups in overlap tab
- [x] onl

[2019-02-12 01:00] adamabeshouse opened #5728 "use session service to save/load comparison groups on study view page"

[2019-02-12 01:01] #5728 closed

[2019-02-12 01:02] adamabeshouse commented on #5694
Hi @rgescudero, we've deployed the bug fix and it seems the problem is fixed. Could you please confirm?

Thanks,
Adam

[2019-02-12 03:44] #4524 closed

[2019-02-12 09:34] rgescudero commented on #5694
As far as I can see, it seems that now is OK.

Thanks a lot

Ramon

El mar., 12 feb. 2019 a las 2:02, Adam Abeshouse (<notifications@github.com>)
escribió:

[2019-02-12 12:42] fedde-s commented on #5690
@jjgao:

Yes, the block of code linked in the issue description is specifically about which chromosomes are supported in segment files.

[2019-02-12 14:06] #5643 closed

[2019-02-12 15:10] grugna opened #5729 "problem importing the seed DB"
I am following the instruction step by step ( https://docs.cbioportal.org/2.1-deployment/import-the-seed-database ) but after I unzip the file at the GitHub page containing the seed I can't run this command `mysql --user=cbio_user --password=somepassword cbioportal < cgds.sql` since there is no cads.sql file. And I I try to load the unzipped one `mysql --user=cbio_user --password=password cbioport

[2019-02-12 16:22] jjgao opened #5731 "forward http://cbioportal.org/msk-impact"
The link http://cbioportal.org/msk-impact is in the text of the MSK-IMPACT 10K paper (https://www.nature.com/articles/nm.4333). It should be forwarded to https://www.cbioportal.org/study?id=msk_impact_2017

[2019-02-12 16:29] inodb commented on #5731
fixed

[2019-02-12 16:29] #5731 closed

[2019-02-12 16:53] #5407 closed

[2019-02-12 16:56] dippindots commented on #5704
This issue described the same issue and has been solved in the #5407

[2019-02-12 16:56] #5704 closed

[2019-02-12 17:46] #1561 closed

[2019-02-12 18:07] onursumer commented on #5703
@jjgao making it responsive seems currently tricky, because with each window resize event the whole IGV component starts re-rendering and it may take some time depending on the size of the copy number data.

At this point, I think it is better to set the track height based on the initial window size.

[2019-02-12 18:29] #5694 closed

[2019-02-12 18:46] jjgao commented on #5706
@onursumer I think if there is no data in the studies at all, we should hide the tab. If no selected samples have segment data, then show "No copy number segment data available for the selected xxx sample(s)"

Maybe we can add another quick filter "w/ CN segment data"?

[2019-02-12 18:49] jjgao commented on #5690
@fedde-s maybe we can remove this line? ... unless you see a rational.

[2019-02-12 19:03] jjgao commented on #5703
@onursumer that's fine.

[2019-02-12 19:49] #5692 closed

[2019-02-12 19:50] #5659 closed

[2019-02-12 23:28] adamabeshouse commented on #5727
@jjgao @alisman thoughts on the idea I added above?

[2019-02-13 00:07] dippindots commented on #5711
@jjgao @ritikakundra
I found two places have SAMPLE_ID. Do we want to replace them both with the DISPLAY_NAME? And do I missing somewhere else?
![image](https://user-images.githubusercontent.com/15748980/52676610-b2eaa500-2ef8-11e9-8b07-905a078a08e8.png)
![image](https://user-images.githubusercontent.com/15748980/52676643-cf86dd00-2ef8-11e9-9e2a-a52399597ee3.png)

[2019-02-13 00:42] dddfff22 commented on #5729
https://raw.githubusercontent.com/cBioPortal/cbioportal/v2.0.0/db-scripts/src/main/resources/cgds.sql
first create new file, and copy page and paste in new file, and rename file cgds.sql.

[2019-02-13 13:15] fedde-s commented on #5690
Are people interested in visualising the CNA landscape across the mitochondrial chromosome in the graph on the patient view page?

If so, we should probably decide on the name/code of the chromosome, make sure the rest of the data loading pipeline handles it correctly, and validate it accordingly.

On the other hand, if nobody has run into problems with the current status, I can only imagine it ke

[2019-02-13 17:06] #3754 closed

[2019-02-13 17:32] sentry-io[bot] opened #5737 "TypeError: Cannot read property 'length' of undefined"
Sentry Issue: [SPA-PROD-2H2](https://sentry.io/memorial-sloan-kettering/spa-prod/issues/823772128/?referrer=github_integration)

[code]

[2019-02-13 17:35] #5060 closed

[2019-02-13 17:52] jjgao opened #5738 "replace PDF button to Print button (keep SVG button)"
Currently PDF was converted by our backend from the SVG. The SVG-to-PDF converter we are using (Batik) is buggy. We have spend quite a lot of time to make it work but keep bumping into new issues, e.g., [the latest issue](https://github.com/cBioPortal/cbioportal-frontend/pull/1835#issuecomment-461174004). We can spend more time to fix/update it or replace it with a Javascript one. But now I am con

[2019-02-13 21:02] jjgao opened #5739 "study selector fitler change"
about 5% of all queries to the public portal are using all studies in the portal, which creates a lot of burden on our server. We are considering making it harder to select all studies.

- [ ] remove "Select all listed studies" checkbox
  - the user will still be able to select all studies one by one
- [ ] once the user starts to filter, add a button "Select all listed studies matching filter (xx)

[2019-02-13 21:21] jjgao commented on #5739
We can also curate a list of "default" studies. related to https://github.com/cBioPortal/cbioportal/issues/3395

[2019-02-13 21:42] jjgao opened #5740 "wrong example search terms in study selector"
The example search terms have been reverted to a really old version.
![image](https://user-images.githubusercontent.com/840895/52745359-ce16ec80-2fac-11e9-8c6d-a65076b22a0f.png)

The correct ones are here.

https://github.com/cBioPortal/cbioportal-frontend/blob/master/src/config/serverConfigDefaults.ts#L69

[2019-02-13 21:46] zhx828 commented on #5714
@inodb what do you think about this? Why the https heatmap link will get a CORS warning? Because of the redirect?

[2019-02-13 22:07] jjgao commented on #5727
Good idea to save the filters into the group. It would be useful for updating the group later.

We will need to support OR (UNION) logic to the filter since we can incrementally add samples into a group. Could you discuss with @kalletlak and @zhx828 on that?

It may not be easy to use them for selection when a study is updated and the group is out of date...

[2019-02-13 22:18] jjgao commented on #5711
And also in mouse over of various placed. Maybe we don't have to change them including the ones in the Clinical tab, but it would be good to add Display_name as the first row by default.

https://www.cbioportal.org/patient?studyId=lgg_ucsf_2014&caseId=P04#/patient?caseId=P04&studyId=lgg_ucsf_2014

So I am suggesting just changing to display name in the header and make it in the first row in variou

[2019-02-13 22:19] jjgao commented on #5711
Maybe we should have both display name and id, ie `display_name (id)`? Otherwise it might be confusing when it's different from the url.

[2019-02-13 22:22] jjgao commented on #5690
@fedde-s that's a good point. closing now.

[2019-02-13 22:22] #5690 closed

[2019-02-14 00:37] #5464 closed

[2019-02-14 17:08] jjgao opened #5742 "ln?q=TP53:MUT is not working any more"
Is it b/c the URL is too long?

https://www.cbioportal.org/ln?q=TP53:MUT

two solutions:

1) we only expand it to TCGA Pancancer Studies
2) use post

[2019-02-14 17:11] alisman commented on #5742
@jjgao out of curiousity, when did you test the ln request?  b/c there was a big outtage at around 11:30

[2019-02-14 19:24] yichaoS commented on #5723
Summary of our discussions so far @jjgao @n1zea144 @sheridancbio @ritikakundra @rmadupuri

we've decided to remove all the microRNA entries with positive entrez_gene_id from gene and gene_alias table (and data referenced in other tables) from the database (@angelicaochoa is writing a script to do this), and then re-importing all 170 studies affected (studies that have microRNA data but associated

[2019-02-14 19:28] jjgao opened #5743 "co-expression: add tooltip to headers"
similar to Enrichments tab

[2019-02-14 21:03] #5729 closed

[2019-02-14 21:31] grugna opened #5744 "Could not resolve placeholder 'authenticate' in value "${dbconnector:jndi},${authenticate}""
I followed the instruction on this page ( https://docs.cbioportal.org/2.1-deployment/deploying ) but I get an exception when I deploy the program, copied and pasted here.
Do you have any hint?

`NOTE: Picked up JDK_JAVA_OPTIONS:  --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.rmi/sun.rmi.transport=ALL-$
14-Feb-2019 12:38:50.024 INFO [main] or

[2019-02-14 23:02] adamabeshouse commented on #5743
what words should go in each tooltip?

[2019-02-14 23:26] tmazor opened #5745 "cbioportal login doesn't persist to OQL page"
Log in on the homepage. Click on the link to the OQL page. It opens in a new window and loses the fact that I am logged in:
<img width="1429" alt="untitled" src="https://user-images.githubusercontent.com/10508276/52824259-e9a1f600-3085-11e9-80ba-c3729b921602.png">

[2019-02-15 00:03] #5675 closed

[2019-02-15 00:04] #4670 closed

[2019-02-15 00:08] inodb commented on #5086
this seems to have been addressed so im going to close it - you now click on whole genome and search for tp53 there. Everywhere else search is disabled

[2019-02-15 00:08] #5086 closed

[2019-02-15 00:09] #4411 closed

[2019-02-15 00:09] inodb commented on #4410
i don't think this is working yet, moving to 2.x.x milestone

[2019-02-15 00:10] inodb commented on #4437
not sure if this is an issue yet, @zhx828 	?

[2019-02-15 00:11] inodb commented on #5071
@jjgao 	is this something we still want to do?

[2019-02-15 00:38] #5678 closed

[2019-02-15 00:38] #5703 closed

[2019-02-15 00:39] #5706 closed

[2019-02-15 00:40] #5674 closed

[2019-02-15 00:42] #5705 closed

[2019-02-15 00:42] #5672 closed

[2019-02-15 00:43] #5606 closed

[2019-02-15 01:09] schultzn commented on #5738
I have always loved the SVG download function - the SVGs were always easy to edit in Illustrator, without having to release endless clipping masks or removing duplicates of the same shapes, which often seems to happen with PDF downloads. But would your print option take care of all these issues?

[2019-02-15 16:54] dippindots commented on #5711
@jjgao @ritikakundra I have done a draft of this ticket using dummy data.
Here is the screenshot, do you think it is what we want?
![image](https://user-images.githubusercontent.com/15748980/52871571-582f9400-3118-11e9-93b9-c827e374b867.png)

[2019-02-15 17:01] ritikakundra commented on #5711
Sorry for the delay in my response.
So I am suggesting just changing to display name in the header and make it in the first row in various tables. @ritikakundra maybe that would be sufficient?: YES

I assume we may have a display name for the patient as well? @ritikakundra: YES

I do like the idea of showing both IDs for everyone to keep track of their respective IDs.

Are we also showing it in th

[2019-02-15 17:05] dippindots commented on #5711
@ritikakundra I am showing it in the clinical tab right now. If we don't need it in the clinical tab, that would be much easier.

[2019-02-15 17:27] kalletlak opened #5748 "StudyView API incorrect response"
Somehow `clinical-data-counts` can also be fetched from `clinical-data-bin-counts` API even if attributes are not STRING datatype. Example, both there requests return same response
[code]

[2019-02-15 17:53] kalletlak commented on #5702
@jjgao looks like this is the only one missing it. opened pr to fix it.

[2019-02-15 17:54] alisman commented on #5738
@jjgao @schultzn
To see how this would look:

1. go to a page with a visualization
2. bookmark this js and run it (or just run it browser console)

javascript:(function()%7Bwindow.el%20%3D%20%24(%22.VictoryContainer%3Avisible%22).remove()%24(%22body%22).empty().append(window.el)%3Bwindow.print()%7D)()

you should be prompted to print and you can then output to PDF and see what happens

[2019-02-15 17:56] #5476 closed

[2019-02-15 17:57] #5452 closed

[2019-02-15 18:05] kalletlak commented on #4140
Seems Done. Closing it for now.

[2019-02-15 18:05] #4140 closed

[2019-02-15 18:18] grugna commented on #5744
In the file portal/src/main/webapp/WEB-INF/web.xml on line 21 to 31.

`<context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>${dbconnector:jndi},${authenticate}</param-value>
    </context-param>
    <context-param>
        <param-name>spring.liveBeansView.mbeanDomain</param-name>
        <param-value>${dbconnector:jndi},${authenticate}</param-value>
    </co

[2019-02-15 18:18] alisman commented on #5709
@jjgao when we track patients/samples, when a user is looking at cohort, should we track each time user switches?  or just initial load of cohort?

[2019-02-15 18:52] tmazor opened #5749 "CN segments minor text update"
Instead of "sample(s)", can this say "1 sample" or "XX samples"?

![image](https://user-images.githubusercontent.com/10508276/52877713-c7ad7f80-3128-11e9-9999-88cacfd37aaf.png)

[2019-02-15 18:54] marriott-er opened #5750 "If running cBioPortal on a non-default port, the bookmark widget does not specify the port"
Found by @tmazor .  I hardcoded it as a workaround in a local deployment, but thought I'd file an issue for the record.

Behavior:
![image](https://user-images.githubusercontent.com/43185833/52877588-700f1400-3128-11e9-8054-d4d8673a27c0.png)

Expected behavior:
![image](https://user-images.githubusercontent.com/43185833/52877628-8f0da600-3128-11e9-8343-eda84b781f2e.png)

(two different pages but t

[2019-02-15 19:03] kalletlak commented on #5744
Hi @grugna you need to set that in `CATALINA_OPTS`. Please see https://docs.cbioportal.org/2.1-deployment/deploying#set-environment-variables-for-tomcat

[2019-02-15 19:32] grugna commented on #5744
Hi @kalletlak! Thank you for the response. I set that as an env variable with `export CATALINA_OPTS='-Dauthenticate=false'`. Where am I supposed to set it?

[2019-02-15 19:42] tmazor opened #5751 "download tab improvements"
I think there are a few things we can improve about the Download tab:

1) If I query "IDH1: MUT", the table at the bottom has columns for IDH1 CNA and IDH1 fusion. These columns are only ever filled with "no alteration" or "not profiled", but really there's no reason for the columns to exist if the data type wasn't queried.
--> I propose we remove columns for any gene+datatype that isn't queried.

[2019-02-15 19:46] kalletlak commented on #5744
@grugna that should work

[2019-02-15 19:49] grugna commented on #5744
I followed that instruction before I created this ticket. I tried again just to be safe but It is not working. Any idea on what should I do?

[2019-02-15 20:10] #5618 closed

[2019-02-15 20:19] #5480 closed

[2019-02-15 20:19] #5565 closed

[2019-02-15 20:45] onursumer opened #5753 "Invalid locations on the mutation mapper tracks"
Hotspots track shows a mutation at position `-1`:

![invalid_location_on_track](https://user-images.githubusercontent.com/3604198/52883332-92109280-3138-11e9-8028-7e8a93e491c1.png)

example query: http://test.cbioportal.org/beta/results/mutations?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=msk_impact_2017&case_set_id=msk_impact_2017_cnaseq&data_priority=0&gene_li

[2019-02-15 20:46] grugna commented on #5744
It was an easy fix, I just needed to add a space `export CATALINA_OPTS=' -Dauthenticate=false'`.

Just for completeness in case other people and up having my same problem in the future, I got another problem after that was fixed. The error message was `Error creating bean with name 'xmlModelPlugin'`
You can fix this by adding a dependency
`<dependency>
          <groupId>javax.xml.bind</groupId>

[2019-02-15 20:46] #5744 closed

[2019-02-15 20:51] kalletlak commented on #5744
could you check if `CATALINA_OPTS` is set? or try setting it globally(in `.bash_profile`)

[2019-02-15 20:56] jjgao opened #5754 "remove email link in Testimonials section"
We haven't received any testimonials, only questions. Let's remove it.

![image](https://user-images.githubusercontent.com/840895/52883764-0c8de200-313a-11e9-944e-e132268b02df.png)

[2019-02-15 23:00] jjgao opened #5755 "Comparison page: Support different types of column charts in Clinical tab"
and also Plots tab in Results if we are using the same component.

![image](https://user-images.githubusercontent.com/840895/52888863-5df29d00-314b-11e9-87d0-7774d702ba97.png)

[2019-02-15 23:04] jjgao opened #5756 "Comparison: Frequency scatter plot"
I think this one belongs to the Mutations and Copy-number enrichments tab. Maybe we can allow user to switch between Vocano Plot and this one?

![image](https://user-images.githubusercontent.com/840895/52888928-b45fdb80-314b-11e9-920c-bc7e57176ed4.png)

@cBioPortal/product

[2019-02-15 23:07] jjgao opened #5757 "Comparison: merging Deletion and Amplification table table"
- [x] add a new column `Alteration` to indicate whether it's Deletion or Amplification.
- [x] calculate q value based on all p-values

@cBioPortal/product

[2019-02-15 23:38] jjgao commented on #5743
p-Value: "Derived from 2-sided t-test"

q-Value: "Derived from Benjamini-Hochberg FDR correction procedure"

It's probably ok not to have tooltips for the other headers.

[2019-02-15 23:41] jjgao commented on #5742
Right before I created this issue (12:08) so it should be after 11:30.

[2019-02-15 23:44] jjgao commented on #5745
This is strange. And if you click to the home page from the oql page, you are still not logged in. Only if you refresh the page, you'd be logged in.

[2019-02-15 23:45] jjgao commented on #5071
@inodb probably worth some more discussion. Adding @n1zea144 and @alisman too.

[2019-02-15 23:48] jjgao commented on #5711
@dippindots I think we should use `DISPLAY_NAME (ID)` instead of `ID (DISPLAY_NAME)`.

[2019-02-15 23:53] jjgao commented on #5709
@alisman I can we should track each time user switches. A user may not look at all patients.

[2019-02-15 23:55] jjgao commented on #5738
@schultzn the print option will not take care of these issues. But if a user knows to use Illustrator, hopefully they'll just pick SVG.

[2019-02-15 23:56] dippindots commented on #5711
@jjgao Yes, thanks! Just updated.

[2019-02-15 23:56] jjgao commented on #5738
@schultzn @tmazor OK we move forward?

[2019-02-15 23:59] jjgao commented on #5751
All good point!

[2019-02-16 02:39] schultzn commented on #5751
Agreed!

[2019-02-16 02:41] schultzn commented on #5738
I am confused - I thought the proposal was to no longer allow support the SVG download. But maybe I misunderstood, and the conversion to PDF was the issue. If that is the case, then sure, printing to PDF will solve that. Is that a feature in Windows though?

[2019-02-16 02:41] schultzn commented on #5756
+1

[2019-02-16 04:37] khzhu commented on #5754
done, will send remove email link PR on Monday.

[2019-02-16 18:40] jjgao commented on #5738
The SVG button will still be there (exact the same way).

The proposal is to replace the PDF button with a Print button. (Currently the PDF is converted from SVG and that's not easy to maintain.)

The print() function should work on most browsers, but print to pdf may not be supported by all browsers. It should hopefully work on all OS for the same browser but we should test.

[2019-02-17 23:56] jjgao commented on #5721
More update from user:

Ran a test today.  Loaded your entire public download of the cbioportal database into our instance.  Stated tomcat and looked at the msk impact 2017 study without any issues, including querying of a non-profiled gene (E2F1) which showed ‘N/P’ (example below (1)).

Loaded our study and it still shows 0%.  (example below (2).

I then reloaded the msk_impact_2017 study:

[cpor

[2019-02-18 15:14] fedde-s opened #5758 "White screen after refreshing results of query from study view"
When I deploy v2.0.1 according to the [documented deployment steps](https://github.com/cBioPortal/cbioportal/blob/master/docs/System-Requirements.md), open an Oncoprint for a few dozen patients selected in the study summary view, and refresh the results view page, I see a blank page, and several exceptions in the browser console.

I believe it might be related to the `?session_id=pending` paramete

[2019-02-18 15:20] fedde-s commented on #5758
@jjgao or @zhx828, do you know whether this bug is caused by the study view or some other page along the way? If I click the ‘back’ button (trying to get away from the blank page), I see a URL ending in `/results/legacy_submission`.

[2019-02-18 15:33] fedde-s commented on #5758
Did some recent release introduce an undocumented requirement to deploy a session service?

[2019-02-18 16:19] fedde-s commented on #5625
This was probably caused by Ino's work in https://github.com/cBioPortal/cbioportal/pull/5403.

[2019-02-18 17:09] inodb commented on #5625
@sandertan 	@fedde-s What do you think makes the most sense here? The cBioPortal api returns a version, so the validator could show that one. For the code of the validator it might make sense to version it independently of the portal? Not sure how easy it would be to extract the maven generated version

[2019-02-18 17:17] sandertan commented on #5625
Using the API to retrieve the version sounds good! We'll have to think of a solution for instances that use the local data dump / "portalInfo" to validate version.

[2019-02-18 17:25] khzhu opened #5759 "missing MYC expression values from TCGA provisional prostate adenocarcinoma dataset mRNA matrix downloaded"
What I want to be able to do is calculate the p value for the Pearson correlation - although a pearson correlation coefficient is stated on the co-expression graph, the p value stated is for the Spearman correlation.
Does this make sense??? To be able to do the calculation, I need to be able to download the MYC expression values which I think should be there if a graph can be drawn???
Thanks again

[2019-02-18 17:27] fedde-s commented on #5625
I think the validation script should *not* be versioned separately from the rest of the data loading pipeline.

[2019-02-18 19:59] jjgao commented on #5758
@fedde-s could you reproduce it on https://cbioportal.herokuapp.com?

[2019-02-18 21:28] inodb opened #5760 "Swagger API default scheme is http"
When browsing the API here:

https://www.cbioportal.org/api

It lists http as the default scheme, which gives errors on public portal when clicking on execute. We should maybe only show the https scheme when browsing over https, and http when browsing over http

[2019-02-18 21:42] jjgao commented on #5390
- [ ] adding genomic locations per gene into genome nexus
- [ ] implement an api in GN as documented in [igvteam/igv.js/wiki/Browser-Configuration-2.0](https://github.com/igvteam/igv.js/wiki/Browser-Configuration-2.0) -- gene symbols and aliases shouldb e allowed?
- [ ] point to GN api in cBioPortal when searching a gene

cc'ing @inodb as well.

[2019-02-18 22:17] jjgao commented on #5528
Some more thoughts.

- expression transformation options
  - percentiles (default)
  - original values
  - log2 values (only rnaseq?)
  - z-scores of original values
  - z-scores of log2 values
  - outlier based on original values
	- outlier is below 1.5 [IQR](https://www.wikiwand.com/en/Interquartile_range) of lower quartile or above 1.5 IQR of upper quartile
  - outlier based on log2 values
- re

[2019-02-18 22:24] jjgao commented on #5528
Since this is not a priority, maybe we can propose this in the next grant cycle.

[2019-02-19 10:02] fedde-s commented on #5758
I'm not sure how, I've never done that. Do you know (or have) docs on where to start?

[2019-02-19 15:18] tmazor commented on #5756
agree!

[2019-02-19 15:42] zhx828 commented on #5758
@fedde-s I'm not aware of the issue. And could not reproduce the issue in the public portal. @adamabeshouse do you know anything about this? `?session_id=pending`

[2019-02-19 16:58] inodb opened #5761 "Genome Nexus annotation issue for long deletions"
Somehow the allele_string reported can be longer than the given input:

https://www.genomenexus.org/beta/annotation/genomic/3,41266016,41266403,GCTGATTTGATGGAGTTGGACATGGCCATGGAACCAGACAGAAAAGCGGCTGTTAGTCACTGGCAGCAACAGTCTTACCTGGACTCTGGAATCCATTCTGGTGCCACTACCACAGCTCCTTCTCTGAGTGGTAAAGGCAATCCTGAGGAAGAGGATGTGGATACCTCCCAAGTCCTGTATGAGTGGGAACAGGGATTTTCTCAGTCCTTCACTCAAGAACAAGTAGCTGGTAAGAGTATTATTTTTCATTGCCTT,

[2019-02-19 19:21] inodb commented on #5503
- [ ] anything in msk_portal source that has genie study copy over to genie_portal source
- [ ] create new sources for the other ones (ignore existing ones)

[2019-02-19 19:23] #5620 closed

[2019-02-19 19:31] #5631 closed

[2019-02-19 20:20] adamabeshouse commented on #5758
I know that `session_id=pending` is something @alisman set up as a temporary thing in the URL while the actual session gets saved and an id exists to put into the URL.

[2019-02-19 20:31] #5584 closed

[2019-02-19 20:46] #5743 closed

[2019-02-19 21:39] #5373 closed

[2019-02-19 21:40] dippindots commented on #5711
@jjgao @ritikakundra Should we have some real data to test? Or I can test more cases with dummy data.

[2019-02-19 22:14] #5568 closed

[2019-02-19 23:08] sheridancbio commented on #4345
I thought this issue would have been resolved by #5658 but I just tested the cgds.sql file from release-2.1.0 branch and it also fails with a key too long error.  The prefix key element we used for tumor_seq_allele had a prefix of 255 characters, but upon testing the install on a fresh mysql RDS instance running mysql engine (version 8.0.13) the prefix length 255 results in a too-long key. Droppin

[2019-02-20 01:32] #5710 closed

[2019-02-20 01:38] #2496 closed

[2019-02-20 01:43] #5702 closed

[2019-02-20 02:50] #5221 closed

[2019-02-20 02:50] #5527 closed

[2019-02-20 02:50] #5749 closed

[2019-02-20 02:50] #5753 closed

[2019-02-20 09:22] fedde-s commented on #5758
@zhx828:

I think that's probably because the public portal is integrated with a session service, which is optional (barely even mentioned) according to the documentation for setting up a custom installation.

[2019-02-20 09:39] pieterlukasse commented on #5758
@jjgao I think we probably need to make a decision regarding session service, i.e. whether it is a *required* dependency or not.
- If it is to remain optional, then we would need some regression tests in place to make sure this scenario keeps working.
- If it is to be made mandatory, then we need some documentation updates, and perhaps add it to the release notes of the last release. Better except

[2019-02-20 17:09] inodb opened #5766 "Mutations Tab - Cannot read property query of undefined"
This link crashes with the error `cannot read property query of undefined`:

https://www.cbioportal.org/results/mutations?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=blca_mskcc_solit_2014%2Cblca_mskcc_solit_2012%2Cblca_plasmacytoid_mskcc_2016%2Cblca_tcga_pub_2017%2Cblca_bgi%2Cblca_dfarber_mskcc_2014%2Cblca_tcga_pub%2Cblca_tcga_pan_can_atlas_2018%2Cblca_tcga%2Cblc

[2019-02-20 18:45] tmazor opened #5767 "MSK cholangio study says "0 samples""
![image](https://user-images.githubusercontent.com/10508276/53115977-84cb1d80-3515-11e9-9933-bce6b37ea7bc.png)

If I go to study view or run a query, the data is all there. But for some reason the query interface doesn't know that.

[2019-02-20 20:58] priti88 opened #5768 "MutSig button not loading data"
User reported bug: https://groups.google.com/forum/#!topic/cbioportal/oSHk0fWNrxg

[2019-02-20 21:15] jjgao opened #5769 "restore "Use currently selected samples/patients" link in Custom Selection"

[2019-02-20 21:21] jjgao commented on #5742
Now a user is asking: https://groups.google.com/forum/#!topic/cbioportal/Q4e3B9duxu0

[2019-02-20 21:51] tmazor opened #5770 "study view: replace "w/" with "with""
Since this new format provides lots more space for this text, let's write "samples with" rather than "w/":
![image](https://user-images.githubusercontent.com/10508276/53126999-6b36cf80-352f-11e9-9559-dd244807ac70.png)

[2019-02-20 21:54] jjgao commented on #5742
It maybe related to the nginx limit. (we recently switched to nginx when moving to aws)

[2019-02-20 22:10] jjgao opened #5771 "session service requirement"
We are using the session service for saving and loading:

1. virtual studies
2. custom groups
3. query sessions
4. comparison sessions

For # 1 & 2, we always want to use session service, virtual studies or custom groups features will only be supported when there is a session service. We also require that the user is logged in for # 2.

For # 3 & 4, when session service is available, we save the q

[2019-02-20 23:20] #5766 closed

[2019-02-20 23:54] ritikakundra commented on #5711
@dippindots: I will be adding real data soon. We can test on that

[2019-02-21 02:43] MrsLaviniaG opened #5772 "Minor typo on File-Formats.md"
Hi,

I believe the sentence:

_As of March 2016, the clinical file is split into a patient file and a clinical file. The sample file is required, whereas the patient file is optional._

should actually be:

_As of March 2016, the clinical file is split into a patient file and a **sample** file. The sample file is required, whereas the patient file is optional._

thanks.
(just trying to make things

[2019-02-21 16:02] jjgao commented on #5758
@pieterlukasse I was thinking about that too. I think it's probably time to make session service mandatory.

[2019-02-21 16:19] Sjoerd-van-Hagen commented on #5758
@jjgao Will you(r team) take care of the updates of the documentations, release notes and exception handling? We will need to install this for all our clients when they next update.

[2019-02-21 16:39] jjgao opened #5773 "Making session service mandatory"
Currently, cBioPortal can be installed w/o session service. As session service is becoming an integral part of the cBioPortal (see #5771), we should consider making it mandatory.

- [x] 1. Documentation on how to set up session service
- [ ] 2. Exception handling
  - What should we do when session service is (temporary) unavailable?
  - One simple option would be disabling all related features #57

[2019-02-21 16:41] jjgao commented on #5758
Create a ticket for the discussion: https://github.com/cBioPortal/cbioportal/issues/5773.

Our team can take a lead on this, but I think we should get some feedback from the community first. @Sjoerd-van-Hagen

[2019-02-21 16:58] jjgao commented on #5544
From @kalletlak for `delete`:

"actually we do not delete anything that’s stored into session-service. we just remove access for the user to that particular virtual study. we could do the same even for group"

[2019-02-21 17:52] #4601 closed

[2019-02-21 18:09] jjgao commented on #5768
The MUTSIG and GISTIC buttons are not working in query page.

@schultzn @tmazor should we consider removing the two button to simplify the page? They only show up in TCGA provisional studies, and the users would still be able to select MUTSIG or GISTIC genes in study view?

[2019-02-21 18:15] jjgao commented on #5772
@MrsLaviniaG thank you. We'll fix it soon.

[2019-02-21 18:18] jjgao commented on #5738
@dippindots maybe you can help with this one?

[2019-02-21 18:21] jjgao commented on #5761
@inodb should this be moved to GN repo?

[2019-02-21 19:46] tmazor commented on #5721
@priti88 has noticed with our instance that you have to manually import the gene matrix after cbioportalImporter.py finishes.

[2019-02-21 20:12] adamabeshouse commented on #5771
Further specs discussed in Slack with @jjgao and @kalletlak:

(1) samples/patients in a group are defined by the `studies` attribute of the `VirtualStudyData` object. `filters` are there for other purposes, but the contents of the group are actually defined by `studies`.

(2) We store groups in a comparison session by value, not by reference. So if you open a comparison session, C, for 3 groups, t

[2019-02-21 20:51] priti88 commented on #5721
@jjgao cbioportalImporter.py log says it imported the gene matrix data, but I have to import it again manually for it to work.

[2019-02-21 21:00] adamabeshouse commented on #5544
As discussed in Slack with @jjgao, we will allow group Restore after Delete until the panel is closed.

[2019-02-21 22:00] jjgao opened #5777 "handling missing cases in custom groups"
Sometimes, samples or even a study get removed or renamed. In case that samples in a custom group are missing, we should handle that when load it to the page. Option is to display a warning icon in the custom groups pannel after the group with mouse-over message such as "The following samples cannot be found in our database. They might be removed or updated since this group was created." with a li

[2019-02-21 22:05] jjgao opened #5778 "Handling missing samples in comparison sessions"
Sometimes, samples or even a study get removed or renamed. In case that samples used in a comparison are missing, we should handle that when loading the session.

We can display a message on the page: "xx samples cannot be found in our database. They might be removed or updated since this group was created." The user should be able to expand the message and see the list of samples and their groups

[2019-02-21 22:20] adamabeshouse commented on #5777
should we still include those samples in the count that we display next to the group name?

[2019-02-21 22:21] adamabeshouse commented on #5778
should we include those samples in the count that we show next to the group name?

[2019-02-21 23:03] jjgao commented on #5778
@adamabeshouse I think so.

[2019-02-21 23:04] jjgao commented on #5777
I think we should not include them in the count.

[2019-02-21 23:04] adamabeshouse commented on #5777
that makes sense to me

[2019-02-21 23:04] adamabeshouse commented on #5778
that makes sense to me

[2019-02-21 23:11] jjgao commented on #5721
https://github.com/cBioPortal/cbioportal/pull/5602 should fix it.

[2019-02-22 00:10] adamabeshouse opened #5779 "overlap exclusion rules"
Exclude based on the level of analysis.

e.g. if sample-level enrichments, exclude based on overlapping samples
if patient-level enrichments, or survival (which is patient-level), exclude based on overlapping patients
for sample clinical attributes, exclude overlapping samples. mutatis mutandis for patients

[2019-02-22 02:09] #5772 closed

[2019-02-22 15:17] jjgao opened #5780 "track oql usage in GA"

[2019-02-22 16:08] schultzn commented on #5768
I never use these buttons - I guess we can see what happens if we drop them?

[2019-02-22 17:24] jjgao commented on #5768
@dippindots could you help with this? Please hide the two button for now. We can clean up the code later if no one complains about them.

![image](https://user-images.githubusercontent.com/840895/53259268-ac002700-369c-11e9-857e-992ce8c801c0.png)

[2019-02-22 18:51] dippindots commented on #5768
@jjgao Sure, I will do this today.

[2019-02-22 19:47] dippindots commented on #5711
@ritikakundra Thanks for your help!

[2019-02-22 20:26] #5609 closed

[2019-02-22 21:10] tmazor commented on #5660
I can point you to public data with the same problem.

In one of the tutorials slides is a screenshot of the enrichments tab from ~12/22/18. I ran the same query on the site today, and the data is identical except for the q-value column.

I'm having trouble pasting in images for some reason, so go to Tutorial #2, Slide #28 to see the old enrichments table: https://www.cbioportal.org/tutorials

Go

[2019-02-22 21:51] adamabeshouse commented on #5660
okay, I'm going to check it out shortly, but I'm almost certain the reason is that we're now filtering out the query genes from enrichments *after* computing the Q values, whereas it was previously the case that these genes were filtered on the server. I plugged it into an online calculator and the old results seem to be the correct ones. I'll confirm that filtering *before* computing Q values wil

[2019-02-22 22:10] adamabeshouse commented on #5660
@tmazor @dippindots confirmed! please see my PR fixing it: https://github.com/cBioPortal/cbioportal-frontend/pull/2067

[2019-02-25 11:24] pieterlukasse commented on #5773
Maybe it makes sense to have it as part of cbioportal core. It is probably simple and small enough to integrate it there. This would mean we will not need to complicate the cBioPortal installation. What do you think @jjgao? Or is there a good reason for keeping this as a separate service?

[2019-02-25 14:27] tmazor commented on #5660
Thanks @adamabeshouse !

[2019-02-25 14:27] #5660 closed

[2019-02-25 16:20] dippindots commented on #5738
@jjgao Sure, I will try to change some pdf button to window.print() function and make a pr for testing. I will post the link at here then.

[2019-02-25 20:08] #5610 closed

[2019-02-25 20:10] jjgao commented on #5773
@pieterlukasse I think that may be a good idea. We can still keep the data in the mongo database (to avoid a full refactoring), and integrate the Java code or even just include the session service as a library and expose it in the web API.

@n1zea144 @mandawilson @inodb @kalletlak thoughts?

[2019-02-25 22:47] inodb commented on #5503
@jjgao 	this is done now - lmk if u notice anything strange

[2019-02-25 22:47] #5503 closed

[2019-02-25 23:21] #5624 closed

[2019-02-25 23:32] jjgao commented on #5756
@adamabeshouse for tooltip, maybe we can extend the current tooltip to include the frequencies.

![image](https://user-images.githubusercontent.com/840895/53376193-89377200-392b-11e9-9df7-193add4fb5b3.png)

The same colors as volcano plot can be used, ie. blue for significant dots and gray for insignificant ones.

[2019-02-25 23:38] adamabeshouse commented on #5756
do you want the dots to change size based on q value? personally I think no, because the significance is already captured by the blue/white coloring. and for borderline cases of significance, modulating the size won't even capture it anyway bc we'll never have enough size gradation to make those changes visible (circle sizes are considered bad for precisely comparing quantities)

[2019-02-25 23:53] jjgao commented on #5756
discussed on slack. @adamabeshouse will make some screenshots.

[2019-02-25 23:53] jjgao commented on #5756
@adamabeshouse here is an example: https://www.cbioportal.org/results/enrichments?session_id=5c747fd4e4b0f6ce58b5f2fd

[2019-02-26 00:28] adamabeshouse commented on #5756
modulating size between 1 and 5 for q values 0.2-0.01. Anything less significant is clamped to size 1, anything more is clamped to size 5.

![image](https://user-images.githubusercontent.com/636232/53378320-32359b00-3933-11e9-8676-8bb069557286.png)

And here it is with same size everywhere
![image](https://user-images.githubusercontent.com/636232/53378390-66a95700-3933-11e9-8e5f-2d89ead0120e.png)

[2019-02-26 03:16] jjgao commented on #5756
hmm... Not sure if I like the first one...

Should we increase the opacity? And maybe the line can be lighter? And I think the axes don't have to be always 100%?

[2019-02-26 15:40] inodb opened #5785 "PDF download broken on public portal"
`SVGtoPDFConverter is throwing exception - root cause is that libpng16.so.16 cannot be found.`

We prolly need to change the docker image to contain this library

[2019-02-26 15:57] jjgao commented on #5785
we are thinking of replacing the pdf button with a print button. https://github.com/cBioPortal/cbioportal/issues/5738

[2019-02-26 16:06] inodb opened #5786 "biogenequery throwing exceptions on public portal"
[code]

Spring security thinks its a denormalized URL. No errors on msk-tomcat so potentially related to requests coming from AWS

as reported by @n1zea144

[2019-02-26 18:32] alisman opened #5788 "Example queries not loading in search box on public portal"
This is because when a property is present in portal.properties but assigned to empty string, we get "" instead of null.   We could fix this by automatically resolving empty string to null, but this seems dangerous to change behavior that way.

Question is what should default be for other portals?

[2019-02-26 18:38] alisman commented on #5788
I propose to actually configure our examples properly and just not show any examples when there is either null or empty value.   This should be ok b/c the portal.properties_EXAMPLE file has an example configured.  So if it's empty, it's likely a deployer meant to kill this entirely
@inodb @jjgao what do you think of this logic?

[2019-02-26 18:43] alisman opened #5789 "Tabs on study view should use routing, not tab qstring variable"
Right now on study view we use a query string variable "tab" to control the active tab:
https://www.cbioportal.org/study?id=mixed_pipseq_2017&tab=summary

Instead, we should use routing, as does the results view

/study/summary

See results page for how to handle this.  Make sure that we default to summary route.

[2019-02-26 19:02] tmazor opened #5790 "sample page doesn't have clinical data tab"
Patient view has a clinical data tab for patients, but not for samples.

This is confusing, in particular because most links from results view go directly to the sample page rather than the patient page -- so when a user clicks on a sample ID in results view, the page that loads doesn't have a clinical data tab.

I can't remember if we used to have this and so this is a bug report, or if this is a

[2019-02-26 19:12] adamabeshouse commented on #5756
I agree, I don't think the size modulation adds anything. The idea of "more significant" is already a bit statistically dicey AFAIK.

[2019-02-26 19:56] dippindots commented on #5738
@cBioPortal/product The pdf download has been replaced with window.print() function. You can use this link for testing:https://cbioportal-frontend-pr-2071.herokuapp.com/. Thanks!

[2019-02-26 20:06] tmazor commented on #5738
@dippindots it doesn't work for me.

In study view for MSK-IMPACT, I tried to download the Number of Samples Per Patient chart to PDF, but when I click "PDF" nothing happens.

In Chrome and Firefox, clicking TSV or SVG does successfully download files. However, in Safari, I get errors when I click on TSV or SVG:
![image](https://user-images.githubusercontent.com/10508276/53442724-ee48a180-39d7-11e

[2019-02-26 20:10] dippindots commented on #5738
@tmazor sorry I didn't noticed that the download in study view page is different. In the result view, the chart pdf download is replaced, I will take another look to the study view. Sorry about that.

[2019-02-26 20:26] tmazor commented on #5738
I tried a query with KRAS in MSK-IMPACT:
- on OncoPrint, the PDF download complains: "Oncoprint too big to download as PDF - please download as SVG."
- on Cancer Types Summary/Plots, the download to PDF option appears to work, in that it opens a new window with the plot in the background and the print screen in the foreground. But from there, my success varies by browser:
Chrome: From the chrome p

[2019-02-26 21:38] adamabeshouse commented on #5756
@jjgao

![image](https://user-images.githubusercontent.com/636232/53448249-f0652d00-39e4-11e9-984c-aee95bf3fd35.png)

[2019-02-26 21:38] jjgao opened #5791 "Mutex tab not showing when we have multiple tracks but only one gene"
e.g. [this query](http://www.cbioportal.org/index.do?session_id=5b592e8a498eb8b3d5671c62),

[code]

[2019-02-26 22:35] inodb opened #5793 "Plotting clinical attribute vs rna expression doesn't work anymore"
As reported by:

https://groups.google.com/forum/#!topic/cbioportal/4GtlgN0eKI0

See e.g.:

https://www.cbioportal.org/results/plots?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=ov_tcga&case_set_id=ov_tcga_cnaseq&clinicallist=CLINICAL_STAGE&data_priority=0&gene_list=STAT3&geneset_list=%20&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=ov_tcga_gistic&genetic_pr

[2019-02-26 22:46] adamabeshouse commented on #5793
this is a user misunderstanding, there is no issue here. They just chose a different clinical attribute in plots which doesnt actually have data.

[2019-02-26 22:46] #5793 closed

[2019-02-26 22:48] inodb commented on #5793
I see, thanks @adamabeshouse ! This is more clearly indicated in the oncoprint. Maybe we should have a similar thing for the plots tab? Indicating what percentage of the cases has that clinical attribute and don't allow it to be selected?

[2019-02-26 22:49] adamabeshouse commented on #5793
we used to have that but we took it out, I can't honestly remember why though. It does seem like something we should do. @jjgao ?

[2019-02-26 23:54] dippindots commented on #5738
@tmazor Thanks for your feedback, I will search for the solution and then update my pr.

[2019-02-27 15:42] alisman commented on #5758
Hi all, the app should be capable of functioning without session service (with limitation on url length).   So, the failure @fedde-s describes is either a bug or misconfiguration (perhaps stemming from lack of documentation or inappropriate example config).  I will investigate this today.   @fedde-s could you post here the portal.properties file you are using?

[2019-02-27 16:08] fedde-s commented on #5758
Only a few lines different from the common example file: https://github.com/thehyve/cbioportal-docker/blob/v2.0.1-iss5758/portal.properties#L184

[2019-02-27 16:20] fedde-s commented on #5758
Side-note: I'm hoping to get that difference down even further at some point in the process of integrating our dockerisation solutions, and limit the config file to options for which the defaults don't apply as demonstrated [in the end-to-end tests](https://github.com/cBioPortal/cbioportal/blob/v2.0.1/test/end-to-end/runtime-config/portal.properties).

[2019-02-27 16:24] alisman commented on #5758
yeah, the empty assignment might be the problem.  i see that is what is in the EXAMPLE file.  i will confirm that frontend interprets that inappropriately as ON.    you could also try commenting out at that line, which may fix the problem.

[2019-02-27 18:33] jjgao commented on #5756
@adamabeshouse I like the one with higher opacity.

I guess the reason to pick a low opacity is that overlapping dots can be seen?

[2019-02-27 19:03] inodb opened #5797 "Deploy latest master with grch38 changes to production"

[2019-02-27 20:50] jjgao commented on #5786
What's our solution here? Disable biogene in portal?

[2019-02-27 20:51] jjgao commented on #5786
@n1zea144 or is it possible to make biogene api work for outside traffic?

[2019-02-27 20:53] jjgao commented on #5740
duplicate with https://github.com/cBioPortal/cbioportal/issues/5788

[2019-02-27 20:53] #5740 closed

[2019-02-27 20:55] jjgao commented on #5790
duplicate with https://github.com/cBioPortal/cbioportal/issues/3280. Will prioritize.

[2019-02-27 20:55] #5790 closed

[2019-02-27 21:00] zhx828 opened #5798 "Handle the case in study view when session service is not available"
We have some ongoing discussions(#5771 ) about making session mandatory. But before having that, we need to make sure the study view works properly when session is not available.

@jjgao  should we disable all features related to session service in study view in this scenario?

[2019-02-27 21:05] jjgao commented on #5797
@inodb is this for genome-nexus repo?

[2019-02-27 21:06] inodb commented on #5797
@jjgao 	oops - yes - transferring it

[2019-02-27 21:06] #5797 closed

[2019-02-27 21:12] jjgao commented on #5798
@zhx828 I think it's a good idea to disable if not available. What are the features?

[2019-02-27 23:38] jjgao opened #5799 "missing seg data for the beginning of chr 1 (<3Mb)"
A user reported [this issue](https://groups.google.com/d/msg/cbioportal/dmcckuC2KfM/Boo-aOtCBwAJ) in TCGA uveal melanoma, but it happens to all TCGA studies. It looks like segment data is missing for the beginning of chr1: http://bit.ly/2EBm27S.

![image](https://user-images.githubusercontent.com/840895/53529921-3ccf6c00-3abc-11e9-94bc-7fad442d7f8e.png)

I tried to load in IGV from firehose and it

[2019-02-28 05:23] schultzn commented on #5799
Shouldn't this be a datahub issue?

[2019-02-28 10:54] fedde-s commented on #5758
For anyone reading along: @alisman made PR https://github.com/cBioPortal/cbioportal/pull/5796 to address this.

[2019-02-28 14:37] zhx828 commented on #5798
@jjgao just the session service at the moment. Do you want to remove the button, or just disable it?

[2019-02-28 16:17] dippindots commented on #5738
@cBioPortal/product After a search for the solution and discussion. The window.print() function do have its limitation:
1. The different browser may handle the print event in a different way
2. It cannot handle a very large SVG. A very wide SVG (cancer types summary) doesn't include the full image.

@alisman and I were thinking if we want to generate pdf on front-end, we can consider using a front

[2019-02-28 16:38] alisman commented on #5738
@cBioPortal/product just want to clarify: when we use browser's print to create PDF, at least in chrome, the browser print UI offers the user limited ability to set width of PDF.  this is because it's oriented toward printing to paper.   we are also subject to different browsers's print interface.  if this is a problem, then we should investigate frontend PDF generation or a 3rd party svg2PDF api

[2019-02-28 16:40] jjgao opened #5801 "study view allow downloading all clinical data"
Clicking on the Download button could bring a drop to allow the user to download for selected attributes or all attributes.

[2019-02-28 18:49] jjgao commented on #5798
just disable it.

[2019-02-28 19:03] jjgao commented on #5773
I have add this to the comparison feature epic. Let's do # 1&2 for this round.

@inodb I am wondering if you can help with # 1. Or maybe there is a better person?

@kalletlak and @adamabeshouse could you take care of # 2.

We can consider # 3&4 later.

[2019-02-28 19:08] jjgao commented on #5738
Thanks, @dippindots @alisman.

Maybe we can try a frontend svg2pdf converter, e.g. https://github.com/yWorks/svg2pdf.js/tree/master?

[2019-02-28 19:32] inodb commented on #5773
@jjgao 	I can help with that - would be nice if whoever integrates the session-service can provide at least some basic documentation on how to use it. I can help test and improve it. Maybe help with providing a docker solution.

It might also be nice if there's a way to run session service with in memory mongo db for development.

[2019-02-28 21:23] jjgao commented on #5773
@kalletlak maybe you can work with @inodb on this?

I also talked to @n1zea144. We agreed that we should not work on its integration with cBioPortal code base for this round.

[2019-02-28 21:57] jjgao opened #5802 "Integrating the Comparison component into Results page"
Once the Comparison component is finished, we should replace the current `Enrichments` tab with the Comparison tab. `Survival` tab can be merged to `Comparison` or stay as is.

[2019-02-28 22:11] jjgao opened #5803 "Comparison: treat overlapping part as a separate group"
It may be useful to be able to treat the overlapping samples (in two or more groups) as a separate group. E.g. if A, B and C have overlaps, compare four groups, A, B, C, and (samples in two or more groups).

We can change the current option of "Excluding overlapping samples" to a dropdown of three options:
- Exclude overlapping samples
- Include overlapping samples
- Treat overlapping samples as a

[2019-02-28 22:41] jjgao opened #5804 "Comparison tab in Results: allow group samples by gene/track"
By default, we group the samples by altered and unaltered. We can also group the samples by altered in each track. Then we will have multiple groups.

This will enable us to do one very useful use case to study co-mutations: Comparing "Gene A & Gene B", "Gene A only", and "Gene B only". #5803 will be required for this use case too.

- [ ] fixing e2e tests

[2019-03-01 00:27] adamabeshouse commented on #5804
I love this idea.. whats the UI you envision for this?

[2019-03-01 17:48] jjgao commented on #5804
@adamabeshouse Here is a quick design - needs to be refined.

It could be a dropdown `Group by` with three options:
A.`Alterations in any genes`
B. `Alterations per gene`
C. `Alterations per OncoPrint gene track`

- The dropdown should only be shown when there are multiple genes or tracks.
- A should be the default.
- B should only be listed when there are multiple genes
- C should only be listed

[2019-03-01 19:17] zhx828 opened #5807 "Differentiate the resistance colors in the oncokb icon"
Currently, we always use a red dot to indicate there is a resistance therapy associated with the alteration. But that needs to be updated based on the resistance level

[2019-03-01 22:29] zisimo opened #5809 "SAML AssertionConsumerServiceURL"
I am trying to set up saml with cbioportal.

The connection works fine with http requests, the question is how to make it work with https though.
The AssertionConsumerServiceURL that is created in the assertion of cbioportal contains http, even if the initiator page had https. In other words, I am trying to get cbioportal to create
AssertionConsumerServiceURL="https://cbioportal.weill.cornell.edu:

[2019-03-01 22:52] adamabeshouse commented on #5578
https://github.com/cBioPortal/cbioportal-frontend/pull/2077

[2019-03-01 22:53] adamabeshouse commented on #5545
https://github.com/cBioPortal/cbioportal-frontend/pull/2077

[2019-03-01 22:56] jjgao commented on #5809
@zisimo would you please email our support group: cbioportal@googlegroups.com?

[2019-03-02 16:29] jjgao commented on #5716
@zhx828 could you prioritize this one? Maybe @dippindots can help?

[2019-03-03 19:25] inodb opened #5810 "Download Tab Missing on home page"

[2019-03-03 19:39] inodb opened #5811 "Quick Search: move title text to the left"
Another suggestion by Niki: move the text to the left, on a wide screen the text is kinda far to the right.
![pastedgraphic-8](https://user-images.githubusercontent.com/1334004/53758454-c5b72080-3e8b-11e9-8043-5908f015ecf8.png)

[2019-03-04 05:22] brettvanderwerff opened #5812 "settings.xml sample file from "pre-build-steps" page of docs does not render correctly on doc site"
Just a heads up that the part where it says "A sample file is shown below:" on the following doc page:

https://docs.cbioportal.org/2.1-deployment/pre-build-steps

has markdown that does not render correctly. It renders correctly on github:

https://github.com/cBioPortal/cbioportal/blob/master/docs/Pre-Build-Steps.md

but not the docsite at:

https://docs.cbioportal.org/2.1-deployment/pre-build-st

[2019-03-04 08:57] oplantalech opened #5813 ""Custom selection" button in Study View only allows to select one Study ID / Patient ID"
Currently (version 2.1.0), the "Custom Selection" button in the study view only allows to filter by one study ID or one patient ID, but not for multiple. If you try to add multiple IDs separated by spaces, validation of the IDs fail:
![study_view_bug](https://user-images.githubusercontent.com/20278013/53721527-b9b76880-3e63-11e9-9f09-02f0411bfc5c.png)

[2019-03-04 15:43] zhx828 opened #5815 "Update how study view sort the clinical attribute"
The current way of study view calculates which chart should be prioritized is the following

1. Check the priority from data
2. Use a regular expression to match clinical attribute as preselected when the priority is the same
3. Check which data group the clinical attribute belongs to (patient/sample) and use the threshold `clinicalChartsPerGroup` to cap them.
4. by name

- [x] We are proposing to

[2019-03-04 15:49] zhx828 commented on #3642
@jjgao do we need to follow up on this ticket?

[2019-03-04 15:50] zhx828 commented on #5815
The `chartMetaComparator ` needs to be updated.

[2019-03-04 15:55] zhx828 commented on #4437
@inodb it's still an issue. I will schedule a fix soon.

[2019-03-04 15:59] pieterlukasse opened #5816 "old issue back?"
@n1zea144 we have a deployment where the exception mentioned here https://github.com/cBioPortal/cbioportal/pull/4611 : `Caused by: org.apache.ibatis.builder.IncompleteElementException: Could not find SQL statement to include with refid 'org.cbioportal.persistence.mybatis.PatientMapper.select'`
shows up again when deploying v2.1.0. Any ideas what could be the cause?

[2019-03-04 16:03] zhx828 commented on #5716
@jjgao I notice in the ticket https://github.com/cbioportal/cbioportal/issues/5213 we also want to filter the table by oncogenicity. Should we do the mockup together?

[2019-03-04 16:08] zhx828 commented on #5813
@oplantalech we no longer supports space as separator because of the custom groups feature. Please list multiple cases in separate lines.

[2019-03-04 16:08] #5813 closed

[2019-03-04 16:40] zhx828 commented on #3298
This issue has been solved in https://github.com/cBioPortal/cbioportal-frontend/pull/1993

[2019-03-04 16:40] #3298 closed

[2019-03-04 16:41] zhx828 commented on #965
I think the webservice.do has been removed. This ticket can be closed.

[2019-03-04 16:41] #965 closed

[2019-03-04 16:47] zhx828 commented on #2595
I don't think this ticket still applicable in the new study view. Please let me know if you still see the issues. Close for now.

[2019-03-04 16:47] #2595 closed

[2019-03-04 16:48] zhx828 commented on #1028
@jjgao this seems like a ticket related to https://github.com/cbioportal/cbioportal/issues/5213?

[2019-03-04 16:57] zhx828 commented on #1765
@jjgao should this be included in https://github.com/cBioPortal/GSoC/issues/59?

[2019-03-04 17:07] zhx828 commented on #3058
@jjgao time to follow up?

[2019-03-04 17:08] #4849 closed

[2019-03-04 17:10] #5279 closed

[2019-03-04 17:13] zhx828 commented on #3536
@jjgao do we still need to use the protein length to normalize the genes? Any further instructions?

[2019-03-04 17:19] zhx828 commented on #5567
@jjgao for the next step, we could do the following?

### The way of sorting clinical attributes
#### For single study
1. Sort by Priority
2. Sort by Clinical Attribute Display Name

#### For multi-studies
1. Sort by study view frontend defined default priorities (the priority defined in the backend for each study will be ignore)
2. Sort by data availability
3. Sort by Clinical Attribute Display N

[2019-03-04 17:24] #4525 closed

[2019-03-04 17:31] zhx828 opened #5819 "Allow user defines bar chart bins"

[2019-03-04 17:36] zhx828 commented on #5801
Just want to clarify this ticket. We currently support downloading all attributes. You want to support only download the clinical attributes that have been visualized in the study view page? @jjgao

[2019-03-04 18:01] zhx828 commented on #5815
@jjgao after review the Regex in study view,  the following default priorities will be added on top of the current list which you can find here https://github.com/cBioPortal/cbioportal/blob/master/docs/Study-View.md
The original Regex `/(os_survival)|(dfs_survival)|(mut_cnt_vs_cna)|(mutated_genes)|(cna_details)|(^age)|(gender)|(sex)|(os_status)|(os_months)|(dfs_status)|(dfs_months)|(race)|(ethnici

[2019-03-04 19:59] jjgao commented on #5815
Thanks, @zhx828. I think it's ok to remove the group restriction.

[2019-03-04 20:00] jjgao commented on #5801
I see. No worries.

[2019-03-04 20:00] #5801 closed

[2019-03-04 20:11] jjgao commented on #5812
@brettvanderwerff thanks. We'll fix it soon.

[2019-03-04 20:14] jjgao commented on #3642
@zhx828 I think so. I am wondering if we can do it per study. E.g. add a configuration file in the study that will be imported into the clinical_attribute_meta table.

This is not a priority though. I think we should keep it here and work on it when see a need.

[2019-03-04 20:17] jjgao commented on #5716
@zhx828 let's not worry about oncogenicity for now -- it'll be harder b/c we will have to annotate all mutations. In this one we just need to filter based on the oncokb cancer gene list.

[2019-03-04 20:19] jjgao commented on #5716
@zhx828 maybe just add a filter icon before the download icon would do the trick?

[2019-03-04 20:26] jjgao commented on #5813
hopefully it'll be more clear once we restore the example. https://github.com/cBioPortal/cbioportal/issues/5769

[2019-03-04 20:29] jjgao commented on #1765
@zhx828 good idea. Could you add that?

[2019-03-04 20:30] jjgao commented on #3058
@zhx828 good idea.

[2019-03-04 21:26] #4817 closed

[2019-03-04 21:27] zhx828 commented on #5716
After discussing with JJ, we are going to use the realtime oncokb cancer gene list to filter the genes.

[2019-03-04 21:39] #5708 closed

[2019-03-04 21:41] #5199 closed

[2019-03-04 22:05] tmazor opened #5822 "quick search: last line is hidden"
Steps to reproduce: type "L"

There is one line at the bottom of the pop-up (XXX more patients) that isn't visible, even when my screen has plenty of extra space. Can the default pop-up size include that last line?

[2019-03-04 22:06] tmazor opened #5823 "quick search: bug with "her""
Type "her"
Only 2 studies appears by default even though 13 more are available

[2019-03-04 22:12] tmazor opened #5824 "quick search: study counting bug"
Type "sof" -- note there there is 1 additional study not shown
Now add a "t" to spell "soft" -- note that there are 2 additional studies not shown
Now type a space after "soft" -- note that it says there is only 1 additional study now.
Click on the "1 more studies" link and it loads 2 more studies.

[2019-03-04 22:14] tmazor opened #5825 "quick search: fix singular/plural"
when there is 1 more study/gene/patient, it should say "1 more study" rather than "1 more studies"

[2019-03-04 22:16] tmazor opened #5826 "quick search: remembers what i have selected to see more"
type "lung"
click "see more studies"
click away
type "lung" again
the "see more studies" row is highlighted

[2019-03-04 22:17] tmazor opened #5827 "quick search box shouldn't clear when i click on it"
type anything into the quick search box
click on the box with the mouse
the pop-up disappears and the text typed into the box disappears

The text & pop-up should remain when I click on the box.

[2019-03-04 22:20] jjgao commented on #3536
@zhx828 I think that'd be useful. @inodb @onursumer do we have an api to get length of transcript or protein?

[2019-03-04 22:23] jjgao commented on #5567
@zhx828 I think sort by data availability can be used for single study as well. But is it practical to do that now?

[2019-03-04 22:25] tmazor opened #5828 "quick search - another weird one"
Type "head"
7 studies are shown + 4 additional
Click on the 4 additional and 6 studies appear.

This reflects multiple related issues:
1) There should be 9 studies shown originally (there are no gene/patient matches)
2) 6 additional studies appear when it says 4 will appear
3) This is perhaps related to the 2 studies that seem to be hidden originally?

[2019-03-04 22:29] onursumer commented on #3536
@jjgao it is possible to query `ensembl/transcript` endpoint with transcript id or hugo symbol. But querying with hugo symbol may return more than one transcript with different lengths.

Examples:
http://genomenexus.org/ensembl/transcript/ENST00000361390
http://genomenexus.org/ensembl/transcript?hugoSymbol=TP53

[2019-03-04 22:31] zhx828 commented on #5567
@jjgao it definitely brings some delay, MSK internal average 2.5s, Genie average: 3.5s. It's not really preferred at the moment for bigger studies, but we could draw a line base on number of clinical attributes * number of samples. But small studies are definitely doable.

[2019-03-04 23:34] adamabeshouse commented on #5779
look through each tab and make sure this is being done. I already see that it's not being done in survival

[2019-03-04 23:50] jjgao commented on #5742
another related one: https://groups.google.com/d/msg/cbioportal/2eiP2TiNy_E/1kInmbhzBwAJ

[2019-03-05 00:01] jjgao commented on #5742
another user: https://groups.google.com/d/msg/cbioportal/zEvkMQX5zcE/GnppOGhGBwAJ

[2019-03-05 09:49] sandertan commented on #2901
Also gene panels are not exported by DumpPortalInfo.

[2019-03-05 14:24] sandertan opened #5829 "Remove SwissProt from validator"
In https://github.com/cBioPortal/cbioportal/issues/3802 we figured out that the SwissProt / UniProt IDs in the mutation data are not used anymore by the Mutation View, and instead GenomeNexus is queried to retrieve these IDs. Therefore, the validation on these columns should be removed. This will remove many common warnings in the validation report.

[2019-03-05 15:14] jjgao opened #5830 "remove the limit of 50 studies for study view?"
Maybe we can remove the limit on this now? We need to do some performance evaluation first.

![image](https://user-images.githubusercontent.com/840895/53815217-3ebb8400-3f2f-11e9-9481-963ce9d165ff.png)

[2019-03-05 15:25] jjgao opened #5831 "options for selecting tcga + non-tcga studies"
After we removed the option to select all studies and replace it with TCGA PanCancer Atlas studies, a number of users complained.

![image](https://user-images.githubusercontent.com/840895/53815397-9b1ea380-3f2f-11e9-88e8-7dd730e02de5.png)

Here are two users about their use cases:

“I have been studying some genes with very low mutation frequencies, and had previously determined that some mutatio

[2019-03-05 15:34] #3802 closed

[2019-03-05 16:03] n1zea144 commented on #5816
@pieterlukasse Not off the top of my head, but @khzhu just ran into this issue.  Maybe she solved it?

[2019-03-05 16:26] khzhu commented on #5816
@pieterlukasse @n1zea144 , I got the same error when tried to deploy 2.1.0.
You would not get this error if set _**-Dauthenticate=false**_ or left out this option, but only when **_-Dauthenticate=saml_**.
It might be related to the change made to **authenticate** flag in portal.properties file. when did this flag be deprecated?

[2019-03-05 16:27] khzhu commented on #5816
I rolled back to 2.0.1 to avoid the error.

[2019-03-05 16:59] coderrsid commented on #5633
Can you provide the immediate link for the query? Layout can be fixed.

[2019-03-05 18:10] zhx828 opened #5834 "Genes missed when quickly select genes in study view tables"

[2019-03-05 18:35] alisman commented on #5758
@fedde-s when you get a blank screen (b/c server fails with too long URL) do you see what http response code is?

[2019-03-05 19:34] jjgao opened #5836 "long url is broken in public portal"
We recently switched to nginx when moving to aws and it looks like we have a limit on the url.

https://groups.google.com/d/msg/cbioportal/0dZ3Cm6-FH4/AuZX7LdwBwAJ
https://groups.google.com/d/msg/cbioportal/zEvkMQX5zcE/GnppOGhGBwAJ
https://groups.google.com/d/msg/cbioportal/2eiP2TiNy_E/1kInmbhzBwAJ
https://groups.google.com/forum/#!topic/cbioportal/Q4e3B9duxu0

[2019-03-05 19:35] jjgao commented on #5742
I logged the long url bug here: https://github.com/cBioPortal/cbioportal/issues/5836

[2019-03-05 19:52] onursumer opened #5837 "Add PTM Sites track to mutation mapper"
- Add a PTM sites track similar to OncoKB and Hotspots.
- Use the Genome Nexus API to fetch the PTM data.
- For the initial version visualize all available PTM sites for the active transcript.

[2019-03-05 20:15] bprentice77 opened #5838 "war file does not deploy"
I am unable to deploy the cbioportal.war on tomcat. I've followed the instructions at https://docs.cbioportal.org/2.1-deployment/

Server version:        Apache Tomcat/8.5.37
Server built:          Dec 12 2018 12:07:02 UTC
Server number:         8.5.37.0
OS Name:               Linux
OS Version:            4.15.0-45-generic
Architecture:          amd64
Java Home:             /usr/lib/jvm/java-8-ope

[2019-03-05 21:26] bprentice77 commented on #5838
I should also note, the cBioPortal version is 2.1.0, and the "Set up Database Connection Pool" heading under the "Deploying the Web Application" section does looks incomplete...

https://docs.cbioportal.org/2.1-deployment/deploying

[2019-03-06 02:58] jjgao commented on #5633
@coderrsid here is the link: https://www.cbioportal.org/results/plots?session_id=5ba11ce6498eb8b3d567e7ed

[2019-03-06 03:00] jjgao commented on #5837
We should include all PTMs not just the ones with mutations in the track. It would be interesting if we can select different types of PTMs.

[2019-03-06 03:21] jjgao commented on #5567
@zhx828 for large study (msk impact), maybe 2.5s is fine as it won't impact subsequent selections. Let's discuss.

[2019-03-06 03:27] jjgao commented on #3536
@onursumer since we use a default transcript per gene on cbioportal, we should be able to pinpoint the transcript.

I am wondering if we should add the canonical transcript into the portal database? Or maybe a service from GN is fine.

[2019-03-06 09:04] fedde-s commented on #5758
500 (Internal Server Error) on a POST request to `/api-legacy/proxy/session/main_session`.

[2019-03-06 11:25] fedde-s commented on #5758
Without your fix in @5796, the portal doesn't put too much data into the URL. Instead, it tries to use the session service, which works initially as long as you don't try to refresh.

[2019-03-06 12:46] sandertan commented on #2381
This was logged a while ago in the old study view, I'm not sure this is still an issue.

[2019-03-06 12:46] #2381 closed

[2019-03-06 12:47] sandertan commented on #2498
This is still an issue in the validator.

[2019-03-06 12:50] sandertan commented on #2996
Thanks for adding the HGVSc.

Perhaps a future enhancement would be to add the HGVSg from the MAF file.

[2019-03-06 12:50] sandertan commented on #3191
This has been fixed!

[2019-03-06 12:50] #3191 closed

[2019-03-06 12:56] sandertan commented on #3314
Done!

[2019-03-06 12:56] #3314 closed

[2019-03-06 13:01] sandertan commented on #3242
<img width="720" alt="screenshot 2019-03-06 at 13 59 35" src="https://user-images.githubusercontent.com/9624990/53883054-4571f600-4018-11e9-9153-dd3df1b31ca1.png">

This is still applicable

http://genie.cbioportal.org/results/cancerTypesSummary?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=genie_public&case_set_id=genie_public_sequenced&clinicallist=NUM_SAMPLES_PE

[2019-03-06 13:08] sandertan commented on #3898
Currently, I can't download at all from OncoPrint when using Safari http://www.cbioportal.org/results/oncoprint?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=acc_tcga&case_set_id=acc_tcga_cnaseq&data_priority=0&gene_list=TP53&geneset_list=%20&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=acc_tcga_gistic&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=acc_tcga_mu

[2019-03-06 13:15] sandertan commented on #4269
This doesn't happen anymore :)

[2019-03-06 13:15] #4269 closed

[2019-03-06 13:25] sandertan commented on #4416
No update yet. Emailed the document with legacy documentation on the format to JJ, Cyriac, Pieter and Sjoerd.

[2019-03-06 13:33] sandertan commented on #4810
@adamabeshouse did you fix this in PR 1822?

[2019-03-06 13:38] sandertan commented on #5347
Fixed by Ino!

[2019-03-06 13:38] #5347 closed

[2019-03-06 13:40] sandertan commented on #5436
@jjgao Any plans on adding this back now? :)

[2019-03-06 13:43] #5695 closed

[2019-03-06 13:55] sandertan commented on #494
Proposal of JJ in RFC37: https://docs.google.com/document/d/1aBbkTAFv5nCqBv66BOgwvlt5kymgt0lQ7l_pqaFrupc/edit

[2019-03-06 15:26] kalletlak commented on #5773
@jjgao sure.

@inodb session-service is well documented at https://github.com/cBioPortal/session-service/blob/master/README.md, we can start with that.

[2019-03-06 15:35] adamabeshouse commented on #4810
@sandertan no, I just referenced it because someone else brought up the same issue.

[2019-03-06 16:12] adamabeshouse commented on #4810
oh okay, then I will unassign @Sjoerd-van-Hagen

[2019-03-06 16:17] sandertan commented on #4810
@adamabeshouse Ah ok, sorry for the confusion. I was assigning @Sjoerd-van-Hagen to track some issues, but indeed if he's not working on them, perhaps best to unassign.

[2019-03-06 16:20] coderrsid commented on #5633
@jjgao So we want the layout to be like as said by @schultzn ?

[2019-03-06 16:24] coderrsid commented on #5633
@schultzn what do you mean by " And any way you can move the "Color samples by" options into the actual plot, or closer to it? "

[2019-03-06 17:41] schultzn commented on #5633
Take a look at my mockup - The “Color Samples By” options are currently on the bottom left - in my mockup, I moved it further to the right and up so that it is not hidden below the edge of the screen.

[2019-03-06 19:26] n1zea144 opened #5839 "Error on Network Tab - loading node details (biogene)"
A user reported an issue loading node details on the Network Tab.  I tracked this down to the URL to the BioGeneServlet, called from the network tab, which Spring Security considers denormalized:

![screen shot 2019-03-06 at 2 12 52 pm](https://user-images.githubusercontent.com/366003/53906878-fb8a0f80-4019-11e9-9217-a9b2ef14a319.png)

Notice the double slash before the bioGeneQuery.do action.  Re

[2019-03-06 19:30] kalletlak commented on #5838
@bprentice77 I think its unable to find the resource. Somehow it's not properly formatted in https://docs.cbioportal.org/2.1-deployment/deploying. Please check https://github.com/cBioPortal/cbioportal/blob/master/docs/Deploying.md#set-up-the-database-connection-pool

try updating context.xml appropriately and restart tomcat.

[2019-03-06 20:35] #5755 closed

[2019-03-06 21:03] bprentice77 commented on #5838
@kalletlak I actually already had my context.xml set up exactly how the guide you are referencing specifies. I've double checked permissions and ownership, but I cannot determine why it cannot resolve the reference to 'sqlSessionFactory'. Everything seems to be defined in the context files.

[2019-03-06 21:38] mattrenquist opened #5841 "Incorrect link to Mutation Annotation Format documentation"
The NIH has deprecated the links to the MAF docs referenced on the 'Mutation Data' section of this page:
https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md#mutation-data
Per personal communication with the NIH, links to specification of the MAF should go here:
https://docs.gdc.cancer.gov/Data/File_Formats/MAF_Format/

[2019-03-06 22:00] khzhu commented on #5838
@bprentice77 ,
which authentication method did you use? I got the same errors when I had a JVM option
**-Dauthenticate=saml**
in my setenv file. And, worked just fine when I turned authentication off by setting
**-Dauthenticate=false.**
I was trying to deploy a copy of cbioportal 2.1.0 war to a centos7 VM.

[2019-03-06 22:14] inodb commented on #5742
this is solved n deployed

[2019-03-06 22:14] #5742 closed

[2019-03-06 22:18] bprentice77 commented on #5838
@khzhu I am using the JVM option "-Dauthenticate=false". Attached is my cbioportal.log.
[cbioportal.log](https://github.com/cBioPortal/cbioportal/files/2938563/cbioportal.log)

[2019-03-06 22:34] khzhu commented on #5838
I spot this error.

which version mysql were you using?

[2019-03-06 22:37] bprentice77 commented on #5838
5.7.25-0ubuntu0.18.04.2

[2019-03-06 22:52] inodb commented on #5836
@jjgao 	Long URL should be working now. It was actually at the tomcat level:

https://github.com/knowledgesystems/knowledgesystems-k8s-deployment/blob/master/cbioportal/cbioportal_spring_boot.yaml#L128-L129

Oddly enough it was working when port-forwarding the service instead of going through nginx. Which made it seem like the problem came from there. Maybe the extra headers nginx adds were pushin

[2019-03-06 22:52] #5836 closed

[2019-03-06 22:56] jjgao commented on #5836
Thanks, @inodb. Good detective work and great that we can spinning up a whole cluster for debugging.

[2019-03-06 23:57] #4365 closed

[2019-03-07 08:45] pieterlukasse commented on #5838
hi @bprentice77, I know this is not a direct answer to your issue, but perhaps you can compare the steps you have been following with the steps found in the `Dockerfile` here https://github.com/thehyve/cbioportal-docker/tree/cbiov2.0.1 (this is a slightly older version as well, 2.0.1 - not sure if your issue is 2.1 specific)?

[2019-03-07 10:13] Sjoerd-van-Hagen commented on #4416
@jjgao can we assign this to someone in your ETL team?

[2019-03-07 13:43] coderrsid commented on #5633
@schultzn So this design should only be for 13 or less inch screen or for all size screens?

[2019-03-07 14:56] schultzn commented on #5633
I am not sure I understand your question. The page should be designed so that most plots fit on a 13 inch laptop screen.

[2019-03-07 15:16] bprentice77 commented on #5838
Hey @pieterlukasse, thank you for that suggestion. I reviewed the Dockerfile, and noticed on line 48, there is a CATALINA_OPTS flag for "-Ddbconnector=dbcp". I added that to my sentenv.sh and now the webapp deploys succesfully! Thank you everyone for your suggestions!

[2019-03-07 18:49] coderrsid commented on #5633
Okay @schultzn,
I made some changes and tried to make it as small as i could and decreased the font-size, the button-size and made the colouring-options to be positioned near to plot. Please tell me if you want more changes.
<img width="1440" alt="screenshot 2019-03-08 at 12 16 48 am" src="https://user-images.githubusercontent.com/35633575/53981021-ca076600-4137-11e9-9665-fd99cf3409c3.png">
<img w

[2019-03-07 18:58] jjgao commented on #5633
@coderrsid thanks for working on this. Could you send a pull request and we can test from there?

In case you are not aware, you can use Chrome Dev Tools to mimic a 13" mac screen.

![image](https://user-images.githubusercontent.com/840895/53981667-08be0180-40e1-11e9-9ec0-3076ba34aac6.png)

[2019-03-07 18:58] #5839 closed

[2019-03-07 18:58] zhx828 commented on #3148
@jjgao do we still have the studies like this? I thought the sequenced list is mandatory now.

[2019-03-07 19:00] #3280 closed

[2019-03-07 20:16] zhx828 commented on #5716
@schultzn JJ and I had some discussion about this ticket. We would love to add a oncokb column in the table to indicate whether the gene is from oncokb cancer gene list, and sort the table by oncokb column. Then you would also have some links out to oncokb gene page.
Filtering the table by oncokb cancer gene list would miss some genes that highly mutated in subset of the study.
What do you think?

[2019-03-07 20:32] schultzn commented on #5716
Should it be a column, and do we have room for that? Or a simple check box at the top of the table?

[2019-03-07 20:51] zhx828 commented on #5716
@schultzn I would vote for a column and it will only be a column with symbols, it should take very minimum of the space. Will send a mock up shortly.

[2019-03-07 21:04] jjgao commented on #5838
@bprentice77 great you figured it out.

@pieterlukasse @khzhu @kalletlak thanks for the help. Is there anything we should do in our code base? cc'ing @n1zea144

[2019-03-07 21:05] jjgao commented on #4416
@Sjoerd-van-Hagen I'll take this :)

[2019-03-07 21:08] schultzn commented on #5716
Ok… a column and a checkbox?

And this will only be to indicate whether a gene is a TSG or OG? Or in general in OncoKB - maybe that is better.

And what about step 2: Filter table for oncogenic mutations only, to get driver alteration frequencies. :-)

[2019-03-07 21:22] zhx828 commented on #5716
@schultzn I'm going to include all genes in oncokb cancer gene list
for the step 2, we don't have the capacity to do that yet, but JJ and I are in discussion and hopefully one of the GSOC student can take that and bring in the full OncoKB analysis into study view page.

[2019-03-07 21:40] jjgao commented on #4416
@Sjoerd-van-Hagen just realized that it was tag with validator. Would it make sense to assign to anyone who is taking over validator? Are you going to have a validator person at Hyve?

[2019-03-07 21:47] jjgao commented on #5436
We can turn it back on now. @adamabeshouse

[2019-03-07 21:58] jjgao commented on #2996
yes, we'll do HGVSg as well.

[2019-03-07 22:17] zhx828 commented on #4437
@jjgao What about the origin? Should it be the shared VS or the origin of the shred VS?

[2019-03-07 22:25] jjgao commented on #3148
Not sure. Let's close this for now.

[2019-03-07 22:25] #3148 closed

[2019-03-07 22:29] jjgao commented on #5716
We may not need a checkbox as long as it is sorted by OncoKB by default. This may reduce some confusion as people may search for their genes (non-cancer genes) and they would have to figure out they need to do one more step to bring them in. (we had a number of users asking about missing genes in the mutated genes table previously when we had the filter)

[2019-03-07 22:34] #5770 closed

[2019-03-07 22:50] jjgao commented on #5751
There are other problems. For example, when querying `TP53: TRUNC`, samples without truncating mutations will be shown as "No alteration" but they may have missense mutations. And "No alteration" in fusion column is incorrect for most of the times (they are not profiled usually).

To fully address this, we are thinking of 1) changing the columns from one column per gene/profile to per track; and 2

[2019-03-07 22:52] #5841 closed

[2019-03-07 22:54] jjgao commented on #4437
@zhx828 I think we can just copy the title and description into the text area as the default value. Other things should follow the same process.

[2019-03-07 23:54] zhx828 commented on #5716
@jjgao @schultzn what do you think?
![screen shot 2019-03-07 at 6 54 24 pm](https://user-images.githubusercontent.com/5400599/53997506-77fc1b80-410a-11e9-8dc5-f323d04317d3.png)

[2019-03-08 02:57] schultzn commented on #5716
It's a good start - but maybe a little too large / in your face?

I like the size of the MutSig icon.

![image](https://user-images.githubusercontent.com/11892704/54004544-e9949380-4123-11e9-9dc5-16df715e535f.png)

[2019-03-08 02:58] schultzn commented on #5716
It's close... so maybe just a little smaller?

[2019-03-08 03:16] caaespin commented on #5816
I'm having a similar issue on 2.1.0, I'm using saml so there's no way I can avoid it. I'm using the docker deployment described in the documentation, but there is no tag for version 2.0.1

[2019-03-08 05:39] coderrsid commented on #5633
@jigao Thanks. But i am using a 13 inch mac book

[2019-03-08 05:39] coderrsid commented on #5633
I'll make the PR. then everyone can understand easily. Please check.

[2019-03-08 05:49] coderrsid commented on #5633
Can anyone guide me that after i made changes, i have to test myself or only you guys will?

[2019-03-08 07:15] Sjoerd-van-Hagen commented on #2996
@jjgao Thanks for taking care of this!

[2019-03-08 07:18] Sjoerd-van-Hagen commented on #4416
@jjgao the validator may need to be updated but we would first need to have the new MAF documentation to know that.

I am in the process of hiring someone to take over the validator and all data related cBioPortal work.

[2019-03-08 14:47] zhx828 commented on #5716
@schultzn what about this one?
![screen shot 2019-03-08 at 9 46 17 am](https://user-images.githubusercontent.com/5400599/54035316-1928b780-4187-11e9-8065-f256c39496d5.png)

[2019-03-08 15:42] zhx828 commented on #5716
@jjgao @schultzn  I was going to add the oncokb gene page link out but just realize not all of cancer genes have been curated. So you will have link out that actually goes to main page(because oncokb redirect the unknown gene request to main page). Is this expected?

[2019-03-08 16:18] tmazor opened #5844 "study view - mutation count plot labels are cut-off"
x-axis labels are cut-off:
![untitled](https://user-images.githubusercontent.com/10508276/54040624-d3beb700-4193-11e9-8b2c-321bd19bfc85.png)

https://www.cbioportal.org/study?id=5c82931ee4b0d20a23998c75

[2019-03-08 16:21] tmazor opened #5845 "virtual study of 1 sample doesn't load charts"
If I create a virtual study with just one sample, then when study view loads none of the clinical attributes appear, even though there is data for them.

![image](https://user-images.githubusercontent.com/10508276/54040848-4fb8ff00-4194-11e9-8dde-cc4b2963cad6.png)

Examples:
https://www.cbioportal.org/study?id=5c829300e4b046111fee1dd8
https://www.cbioportal.org/study?id=5c829616e4b046111fee1ddd

[2019-03-08 16:24] tmazor opened #5846 "study view - decimal bins for integer values"
When the maximum value of the data in a histogram is low, then bins are created with decimal limits, which looks silly for a variable that only has integer values -- e.g. mutation count:
![image](https://user-images.githubusercontent.com/10508276/54040895-6cedcd80-4194-11e9-868d-b93fb0b0671d.png)
https://www.cbioportal.org/study?id=5c829380e4b046111fee1dda

Can histograms only use integer bins whe

[2019-03-08 16:55] lokeshrana9999 opened #5847 "Error during building from source stage."
[WARNING]
[INFO] Scanning for projects...
Downloading from jitpack.io: https://jitpack.io/com/github/cbioportal/maven-external-version/maven-external-version-plugin/f09c2b9608744881111f24e55d55a91e54e6cb5f/maven-external-version-plugin-f09c2b9608744881111f24e55d55a91e54e6cb5f.pom
Downloading from central: https://repo.maven.apache.org/maven2/com/github/cbioportal/maven-external-version/maven-exter

[2019-03-08 18:59] zhx828 commented on #3800
@jjgao in https://github.com/cBioPortal/cbioportal-frontend/pull/2101, the order should be the same now.

[2019-03-08 20:28] #5768 closed

[2019-03-08 22:30] jjgao opened #5848 "Are we really doing log2 in mRNA Enrichments?"
[A user](https://groups.google.com/d/msg/cbioportal/DHTND1Hcbu8/cuC16p8MCgAJ) reported this.

Initially I thought it was because the original values were logged that we only substract the two mean values, but it looks like even for RNAseq v2 non-log2 values, we just do a substractio, e.g. http://bit.ly/2NQWc2F

![image](https://user-images.githubusercontent.com/840895/54059359-d8509300-41c6-11e9-8

[2019-03-08 22:34] #5791 closed

[2019-03-08 22:52] adamabeshouse commented on #5848
yeah, thats exactly what's happening. is there a way to detect whether the dataset is already in log form?

[2019-03-08 23:00] jjgao opened #5849 "text_cache table"
The text_cache table was used for saving sample IDs for querying a custom case list. I was under the impression that we stopped using it when there is session service, but based on [this user question](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/QtX3C3jFQfw/OoYx358MCgAJ), maybe we still are?

@onursumer maybe you can help look into this when you have time? N

[2019-03-08 23:16] jjgao commented on #5633
that would be perfect :)

You should test first and then we will once your pull request is ready for reviewing.

[2019-03-08 23:19] jjgao commented on #5816
@khzhu would you please look into this as we are also using saml but don't have this issue here? Thanks.

[2019-03-08 23:19] jjgao commented on #5848
@ersinciftci will look into this on Monday.

[2019-03-08 23:22] jjgao commented on #5716
@zhx828 maybe for OncoKB curated genes, link to the gene page. For other genes, link to the cancer genes page?

[2019-03-08 23:24] jjgao commented on #5845
@tmazor this is a good one -- it's b/c we only show charts with more than 1 pies. But in this one, we should remove that rule.

[2019-03-08 23:29] jjgao commented on #5652
@khzhu any update on this?

[2019-03-08 23:31] #2263 closed

[2019-03-08 23:34] jjgao commented on #5848
We should probably define them (whether log or not) properly in the profile meta data. I remember I had an issue created for that but couldn't locate it.

[2019-03-09 06:40] coderrsid commented on #5633
@jjgao i have made the pull request please review it and tell me if i have to rectify anything in that.

[2019-03-09 11:57] coderrsid commented on #5425
@zhx828 can you provide more detailed description of this issue, i'll like to work on this. Add links and screenshots too please?

[2019-03-09 15:12] inodb commented on #5847
@lokeshrana9999 this seems like some network error where the dependencies aren't being downloaded from jitpack. Maybe there was some network outage, could you try again?

[2019-03-09 16:29] khzhu commented on #5816
@jjgao , working on the issue, not sure if is keycloak specific issue.
@caaespin, which identity provider were you using?

[2019-03-09 16:31] khzhu commented on #5652
@jjgao ,the code was done while a ago, will need to rebase to the latest rc, and set up a test database (due to the change in schema) before pushing the PR back to Github for a review.
Working on a mysql cluster on Microsoft Azure cloud, can be used for CI testing once done.

[2019-03-10 02:41] jjgao opened #5850 "simplified search: allow customize the study list"
e.g. using instance-specific configuration.

Some feedback from steering meeting last Friday:

Both physical studies and virtual studies should be supported as the default studies.

For the public portal, it would be a good idea to create a TCGA PanCancer Atlas virtual study and use that for query, so that the study name and description can be properly displayed in the Results page. (currently, it

[2019-03-10 21:22] agarwalrounak commented on #5754
@jjgao Can I take up this issue?

[2019-03-10 21:26] agarwalrounak commented on #4866
@jjgao May I please know where does the code of https://www.cbioportal.org/datasets reside? I tried to search in the Github repos but couldn't find them.

[2019-03-11 12:02] agarwalrounak commented on #3767
May I please know where can I find the _mutations tab_/_lollipop plot_
I am still trying to figure out the structure of the cBioPortal website.

[2019-03-11 12:14] lokeshrana9999 commented on #5847
Thank you @inodb, it was an issue of version compatibility bw java and maven. I just ran a successful install.

[2019-03-11 14:05] ersinciftci commented on #5848
@jjgao This is what backend is doing:

[code]

So backend always returns values in log2, and frontend just does a subtraction because it's already logged. This was done as part of #1 bullet point in this comment https://github.com/cBioPortal/cbioportal/issues/4374#issuecomment-398541038

[2019-03-11 14:23] ersinciftci commented on #5848
So answer to `but it looks like even for RNAseq v2 non-log2 values, we just do a subtraction` is: Backend converts those RNAseq v2 non-log2 values to log2 values, that's why it's still just a subtraction.

[2019-03-11 14:39] zhx828 commented on #5425
@coderrsid I updated the description.

[2019-03-11 14:41] zhx828 commented on #5716
@jjgao sounds good. @schultzn @jjgao what do you think about the design though?

[2019-03-11 14:58] schultzn commented on #5716
Looks good - not 100% sure about the header using the same (but larger) symbol, but I don’t have a better idea.

[2019-03-11 15:21] inodb commented on #5847
Glad to hear you solved the issue

[2019-03-11 15:21] #5847 closed

[2019-03-11 15:29] tmazor opened #5851 "study view mutations/CNA tables should include denominator"
I vaguely remember seeing this conversation once before but can't find an issue about it so I'm making a new one...

The mutations & CNA frequency tables in study view can look very confusing in a study like GENIE that has many different gene panels -- genes that are frequently mutated but are only sequenced in a few samples show up with frequencies that look completely wrong given the number of a

[2019-03-11 15:31] zhx828 commented on #5851
@tmazor I agree this is very confusion. Where should we include that information? When mouse over the frequency? Should we also mention which panel these samples from?

[2019-03-11 15:39] agarwalrounak commented on #3767
Ok, I can see the lollipop plot at https://www.cbioportal.org/mutation_mapper and the legend by clicking on the legend tab.
Does `rest of the text` refer to "Mutation diagram circles...mutation type" or the colored headings (e.g. "Missense mutations", "Truncating Mutations" and so on ...)? If it refers to "Mutation diagram circles...mutation type" then from what I see they are of the same font as

[2019-03-11 15:39] inodb opened #5852 "redirects not working for tools page"
- [ ] http://www.cbioportal.org/tools.jsp
- [ ] http://www.cbioportal.org/visualize_your_data.jsp

As reported by Rounak, a potential GSoC student:

A quick Google search of `cbioportal lollipop plot` gives the first two links as http://www.cbioportal.org/tools.jsp and http://www.cbioportal.org/visualize_your_data.jsp but neither of the pages exists.

[2019-03-11 15:59] abhinavsagar commented on #5852
Is anybody working on it?
If not I am taking on it.
Please inform me if you are working for the same.

[2019-03-11 16:06] inodb commented on #5852
@abhinavsagar nobody's working on it atm. Would be great if you could fix it. The fix is probably similar as the one in this PR: https://github.com/cBioPortal/cbioportal-frontend/pull/1931/files

[2019-03-11 17:07] tmazor commented on #5851
@zhx828 I think a tooltip that includes the denominator & gene panel name would be great. Can that same information also be included as additional columns when someone downloads the table?

[2019-03-11 17:08] zhx828 commented on #5851
@tmazor sure thing.

[2019-03-11 17:32] tmazor commented on #3767
@agarwalrounak Indeed, it does appear that the font has been standardized somewhat since I created this issue. However, it still looks to me like the bold & colored text ("Color Codes", "Missense Mutations", "Truncating Mutations", "Inframe Mutation" and "Other Mutations") is in a different font than the rest of the legend. Can you make those use the same font as the rest of the legend/all other t

[2019-03-11 17:32] #5594 closed

[2019-03-11 18:08] caaespin commented on #5816
@khzhu I'm using my institution's own custom built IdP.

[2019-03-11 19:02] zhx828 commented on #5716
@schultzn :  @jjgao suggested to use black in the header. What do you think?
<img width="404" alt="Screen Shot 2019-03-11 at 3 01 36 PM" src="https://user-images.githubusercontent.com/5400599/54150359-a3368180-440e-11e9-931b-293e75d26f2b.png">

[2019-03-11 19:08] priti88 opened #5853 "Summary view filtering bug"
Grouping of samples in the pie chart is not case sensitive, but if we apply filter then the code does exact string match.
Example: Local Recurrence = 11 samples, If I apply the filter only 10 samples get selected because one of the sample had a typo: 'Local recurrence' (R is in lower case).

[2019-03-11 19:16] schultzn commented on #5716
Nice!

[2019-03-11 19:25] khzhu commented on #5816
I see, thanks @caaespin.
I noticed -Dauthenticate=saml JVM option had no effect at all.
was  **_authenticate_** flag included in your portal.properties? if not can you please add

 after line **authorization=true** see what happens?

[2019-03-11 19:35] agarwalrounak commented on #3767
Yes, sure! I will send a PR soon.

[2019-03-11 20:22] adamabeshouse commented on #5848
@jjgao @ersinciftci would people expect non-logged values when they're querying a non-log profile?

[2019-03-11 20:26] ersinciftci commented on #5848
I think the problem is that we were not sure about log2 vs log10 at that time (then decided to do log2), so #4 in https://github.com/cBioPortal/cbioportal/issues/4374#issuecomment-398541038 got somehow ignored. It was about making clear if the data is already log2ed or if we transformed it to log2.

[2019-03-11 20:37] sgspaddy opened #5854 "Compilation failure during MVN"
Get the following error messages when I was trying to compile the latest version. Appreciate your help

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.5.1:testCompile (default-testCompile) on project core: Compilation failure: Compilation failure:
[ERROR] /usr/local/etc/cbioportal/core/src/test/java/org/mskcc/cbio/portal/servlet/NullHttpServletRequest.java:[63,8] *

[2019-03-11 20:40] adamabeshouse commented on #5848
yeah, im lost..

[2019-03-11 20:46] ersinciftci commented on #5848
So my take on this issue is; it works correctly, we just need to make it more clear to the user.

[2019-03-11 20:52] adamabeshouse commented on #5848
ah, okay

[2019-03-11 21:18] jjgao commented on #5754
@agarwalrounak sorry, there is already a pull request -- see above.

[2019-03-11 21:21] jjgao commented on #4866
@agarwalrounak it's here: https://github.com/cBioPortal/cbioportal-frontend/tree/master/src/pages/staticPages/datasetView

[2019-03-11 21:27] zhx828 commented on #5853
@jjgao this is the issue Adam and I saw last week. Basically this is a mysql group by issue. Since the pie chart gets the category from data directly. Should we make the frontend case insensitive?

[2019-03-11 21:32] jjgao commented on #5854
@sgspaddy what version of Java are you using?

[2019-03-11 21:34] jjgao commented on #5848
I think the mouse over message should indicate they are already logged.

[2019-03-11 21:36] jjgao commented on #5853
Yes, please make frontend case insensitive.

[2019-03-11 21:43] adamabeshouse commented on #5848
Wait so is \mu the log of the average, or the average of the log values?

[2019-03-11 21:45] jjgao commented on #5848
It should be average of log (logged values are more normal-like). @ersinciftci correct me if I am wrong.

[2019-03-11 22:01] caaespin commented on #5816
@khzhu  I had those properties already set up. I just put moved `authenticate=saml` so it would be literally below `authorization=true`. After redeployment, I still get the same error. Here is the beginning of the stacktrace:

[code]

and further down here is the other piece of the stack trace

[code]

[2019-03-11 22:12] khzhu commented on #5816
@caaespin , thanks for the testing!
you were using docker right?  did you include a JVM option for db connection pool?

[2019-03-11 22:19] caaespin commented on #5816
@khzhu yes indeed I am using docker. I also have that option enabled.

[2019-03-11 22:35] khzhu commented on #5816
@caaespin , will dig deep into the issue...thanks!

[2019-03-12 01:37] ersinciftci commented on #5848
@adamabeshouse @jjgao The first paragraph of the same comment also explains this https://github.com/cBioPortal/cbioportal/issues/4374#issuecomment-398541038

[2019-03-12 01:40] ersinciftci commented on #5848
So both mean and standard deviation is applied after the log (so in the same order with @jjgao 's suggestion).

[2019-03-12 02:01] zhx828 commented on #5716
@schultzn @jjgao I have a running instance here including the feature. Could you take a look and give me some suggestions? Thanks. https://cbioportal-frontend-pr-2109.herokuapp.com/study?id=cellline_nci60

[2019-03-12 02:10] schultzn commented on #5716
It looks good - but I still think it is too many blue circles.

Also, what if others want to use a different list of cancer genes? Can we revisit the option of having a simple checkbox in the header of the table? Maybe we can get together and brainstorm briefly?

It looks so much better in this view:

[2019-03-12 02:11] schultzn commented on #5716
Attachments don't make it through when responding via email. Sorry.

This looks good:
![image](https://user-images.githubusercontent.com/11892704/54169798-933c9300-444a-11e9-95e9-8bb29e50673e.png)

[2019-03-12 02:11] schultzn commented on #5716
Not this (the default):

![image](https://user-images.githubusercontent.com/11892704/54169813-a8b1bd00-444a-11e9-979e-f750ef5dc644.png)

[2019-03-12 02:12] zhx828 commented on #5716
@schultzn yeah, but for msk studies, probably all of the genes will have the icon. :(

[2019-03-12 14:23] tmazor opened #5856 "genie example queries don't work"
None of the 4 example queries on the genie public or private sites work.

The first three show a blank page with errors in the console.

The last shows a page with this error:
![image](https://user-images.githubusercontent.com/10508276/54207377-6cb14300-44b0-11e9-92ff-c17fb4c17cc1.png)

[2019-03-12 14:54] zhx828 commented on #5846
@onursumer this is a backend issue. Do you think this one is easy to fix?

[2019-03-12 14:57] zhx828 commented on #2421
This is a duplicate issue of #5571. Should we close? @jjgao

[2019-03-12 15:12] zhx828 commented on #3843
This endpoint is only used in very few places and will be replaced eventually. Don't think worth to fix the issue. @jjgao

[2019-03-12 15:40] jjgao commented on #5716
@zhx828 @schultzn should we try different icons/colors for TSG and oncogenes?

[2019-03-12 15:46] khzhu commented on #5652
Hi @jjgao @pieterlukasse  , do you want **length** (exonic length) to be removed from the **_gene_** table too?

[2019-03-12 15:48] alisman opened #5857 "Upgrade React typings to latest"
We might want to also upgrade to latest React as well.

You will almost definately need to upgrade some libraries and associated typings as part of this.

[2019-03-12 15:53] sgspaddy commented on #5854
@jjgao Thank you for taking care for this issue, the versions are:

java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

=================================================================

Apache Maven 3.5.4 (1edded0938998edf8bf061f1ceb3cfdeccf443fe; 2018-06-17T14:33:14-04:00)
Maven home: /opt/apache-maven-3

[2019-03-12 15:55] sgspaddy commented on #5854
@jjgao Thank you for taking care tare of this issue. The versions are:

java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)
===================================================================

Apache Maven 3.5.4 (1edded0938998edf8bf061f1ceb3cfdeccf443fe; 2018-06-17T14:33:14-04:00)
Maven home: /opt/apache-ma

[2019-03-12 19:56] Parth910 commented on #5425
@zhx828  can I work on this Issue?

[2019-03-12 20:08] agarwalrounak commented on #3767
Opened PR [cbioportal-frontend#2111](https://github.com/cBioPortal/cbioportal-frontend/pull/2111)
Please review.

[2019-03-12 20:22] onursumer commented on #5846
I think we have the same problem with the year data as well. Not sure how much effort it would take to fix this though.

[2019-03-12 20:23] zhx828 commented on #5716
@jjgao @schultzn I use O and T for oncogene and tumor suppressor. If no gene type specified, I use oncokb icon. let's discuss at Thursday meeting.

<img width="408" alt="Screen Shot 2019-03-12 at 4 22 22 PM" src="https://user-images.githubusercontent.com/5400599/54233300-0eea1e80-44e3-11e9-9a04-0a8088b97859.png">

[2019-03-12 20:24] zhx828 commented on #5425
Sure thing. Thanks.

On Tue, Mar 12, 2019 at 3:56 PM Parth Patel <notifications@github.com>
wrote:

[2019-03-12 20:29] Parth910 commented on #5425
so , where i can send pull request for this issue? In frontEnd Repository or somewhere else?

[2019-03-12 20:32] zhx828 commented on #5425
Please send PR to https://github.com/cBioPortal/cbioportal-frontend master
branch.

On Tue, Mar 12, 2019 at 4:29 PM Parth Patel <notifications@github.com>
wrote:

[2019-03-12 20:32] agarwalrounak opened #5859 "Link redirects to markdown instead of rendered doc"
In https://docs.cbioportal.org/5.2-datasets/downloads#study-staging-files, `validator and importer` redirects to [Data-Loading.md](https://github.com/cBioPortal/cbioportal/blob/master/docs/Data-Loading.md). Instead, it should redirect to https://docs.cbioportal.org/5.1-data-loading/data-loading

Similarly, In https://docs.cbioportal.org/2.1-deployment/load-sample-cancer-study#set-the-portal_home-e

[2019-03-12 20:32] agarwalrounak commented on #5859
Once the issue is approved, I can start working on it.

[2019-03-12 20:34] Parth910 commented on #5425
Ok Thanks.

[2019-03-12 21:30] schultzn commented on #5716
Sorry, didn’t have enough time today. It would be great if we could brainstorm a little before you go any further.

I still think the following would work better:
- By default, show only cancer genes
 - If the study has genes that are not cancer genes, add an option in the header to “show all genes”
 - When all genes are shown, add the new column with a symbol for cancer genes. If the source of th

[2019-03-12 22:07] zhx828 commented on #5853
@onursumer this is related to backend as well. Probably I should start to take a look?

[2019-03-13 05:17] coderrsid commented on #5505
Please remove this issue from bugs cause this is resolved.

[2019-03-13 05:20] coderrsid commented on #5201
@jjgao Can i get more description on this?

[2019-03-13 05:23] coderrsid commented on #5106
@asliman Can you provide more description on this issue with screenshot and link to the tab.

[2019-03-13 11:57] Parth910 opened #5861 "cBioportal frontend environment is only compatible for node version 8.12.0."
If we have other versions of Node which is greater than 8.12.0. we are not able to compile project.

Can we upgrade the project such that it is compatible with node version >= 8.12.0. ?

[2019-03-13 15:32] coderrsid commented on #5320
@sandertan I have fixed this issue and combined it with another fix.
Please review https://github.com/cBioPortal/cbioportal-frontend/pull/2099

[2019-03-13 16:57] Sjoerd-van-Hagen commented on #5296
@zhx828 @adamabeshouse what is the status of this one?

[2019-03-13 17:19] zhx828 commented on #5296
@sandertan @Sjoerd-van-Hagen here are the colors we defined so far. Please let me know if you want to add/update any one of them.
TRUE/YES/POSITIVE :  `#109618`
FALSE/NO/NEGATIVE : `#DC3912`
MALE: `#2986E2`
FEMALE: `#DC3912`

[2019-03-13 17:59] adamabeshouse commented on #5296
according to previous comments, we also need
No Data
Unknown
Other
DiseaseFree
Recurred/Progressed
WITH TUMOR
TUMOR FREE

[2019-03-13 18:08] zhx828 commented on #5296
@adamabeshouse I need the color definition for them as well. By just looking at the name, I'm not super sure what color I should assign.
No Data Unknown Other will use the FALSE color?
Could you give me some more info about rest four?

[2019-03-13 18:15] adamabeshouse commented on #5296
no I have no idea what the colors should be. Im' just saying those are what we need

[2019-03-13 18:18] zhx828 commented on #5296
@adamabeshouse cool, thanks. I will wait for @sandertan  and @Sjoerd-van-Hagen

[2019-03-13 18:47] #5632 closed

[2019-03-13 18:51] dippindots commented on #5769
fixed in https://github.com/cBioPortal/cbioportal-frontend/pull/2028.

[2019-03-13 18:51] #5769 closed

[2019-03-13 19:17] dippindots commented on #5751
@jjgao The reason why we separate the columns by alterations is: we want to differentiate each alteration is "not profiled" or is "no alteration". Because we may have a OQL has a gene mutation but "not profiled" in mRNA. Now we merge them together, I am not sure how should I show the related information.
![image](https://user-images.githubusercontent.com/15748980/54307817-f5101080-45a2-11e9-9ac4-4

[2019-03-13 19:32] agarwalrounak commented on #5859
@onursumer @jjgao Any thoughts on this?

[2019-03-13 20:17] #5505 closed

[2019-03-13 21:49] khzhu commented on #5816
@fedde-s,
if I took a look at those changed you made to JdbcUtil.java file, 2.1.0 initiates a new JdbcDataSource object, while old version was calling a private static method. Could that be a problem? thanks!

[2019-03-13 22:00] jjgao commented on #5716
@zhx828 : @schultzn and I had a discussion and thought of the followings:

- no separate column for oncokb
- no checkbox
- use a different style for cancer genes, e.g. bold
- hovering a bold gene would display e.g.: "TP53 is included in the [OncoKB Cancer Genes List] (link) as a tumor suppressor gene [link out icon to the gene page]"
- when click Gene column to sort, sort by cancer genes first, th

[2019-03-13 23:09] jjgao commented on #5856
@sheridancbio or @inodb could you fix the example links. I think it's in properties file.

[2019-03-13 23:09] #2421 closed

[2019-03-13 23:10] jjgao commented on #3843
@zhx828 are we still using it?

[2019-03-13 23:15] jjgao commented on #5652
@khzhu I think we can try to remove the length. I don't think it's being used anywhere now, but I might have missed some. Could you give it a try?

We wanted to use protein_length later: https://github.com/cBioPortal/cbioportal/issues/3536.

[2019-03-13 23:22] jjgao commented on #5859
@agarwalrounak good catch. thank you! Please feel free to send us a pull request to fix this.

[2019-03-13 23:41] khzhu commented on #5652
I do not think the field is in use, since all recorded as 0. I will know for sure once I dropped it.

[2019-03-14 00:34] n1zea144 commented on #5854
Strange that we are only seeing this now.  @sgspaddy Can you rerun maven with the -X switch and provide us with the output?

[2019-03-14 01:17] zhx828 commented on #5716
Sounds good.

On Wed, Mar 13, 2019 at 6:00 PM JianJiong Gao <notifications@github.com>
wrote:

[2019-03-14 04:15] jjgao commented on #5201
@coderrsid I have updated the description. I labeled this one as `good first issue` somehow, but it may be a hard one to solve. Please feel free to give a try if you like.

[2019-03-14 04:19] jjgao commented on #5106
An example query: https://www.cbioportal.org/results/coexpression?session_id=5ba11ce6498eb8b3d567e7ed

The message can be similar to the OncoPrint tab:

![image](https://user-images.githubusercontent.com/840895/54331052-9bcdce80-45ee-11e9-8e50-910a4e2513ac.png)

"Computing correlation with all other genes.
 This could take minutes...""

[2019-03-14 04:23] jjgao commented on #5861
@alisman @cBioPortal/frontend comments?

[2019-03-14 05:14] brettvanderwerff commented on #5844
If no one is actively working on this, I can open a PR. I think the issue is in:

`cbioportal-frontend/src/pages/studyView/charts/barChart/BarChart.tsx`

There is not quite enough padding on charts with tilted ticks, but doubling that padding seems to look ok

![l3Q1db6 - Imgur](https://user-images.githubusercontent.com/34728357/54332813-2b6a8180-45dd-11e9-974e-6982eb3be2b7.png)
:

I have used bio

[2019-03-14 14:14] zhx828 commented on #5844
@brettvanderwerff thanks for looking into the issue. The margin is calculated base on the string length. I would check why in this particular case the length is not calculated as expected. Welcome to send a PR.

[2019-03-14 14:56] sgspaddy commented on #5854
Hi @n1zea144,

Thank you for your help. Please find attached output

[output.txt](https://github.com/cBioPortal/cbioportal/files/2966993/output.txt)

[2019-03-14 15:01] zhx828 commented on #3843
@jjgao I don't think application-wise we are using it, but this is a endpoint we exposed long time. No sure whether like R package is using it.

[2019-03-14 15:27] zhx828 commented on #5716
@schultzn @jjgao
In current production, we use the bold style to emphasize the gene is selected. I would propose to change that style by adding a checkbox instead. Bold gene name will be a indication of the cancer gene.

![Screen Shot 2019-03-14 at 11 24 55 AM](https://user-images.githubusercontent.com/5400599/54369174-d6b21f80-464b-11e9-97c2-992cdb20a54c.png)

[2019-03-14 15:43] inodb commented on #5850
@jjgao  there are a few ways to solve this:

1. We change the session service model to include a `name` in the data part for sessions of type `main_session` (https://github.com/cBioPortal/session-service#valid-type). Similar as we have for `virtual_study`

2. We could set the title in a property of quick search config. Say e.g. it will query study x+y+z. Then on query view we can display a diff na