[2018-05-02 02:07] jjgao commented on #4165
Maybe in the tooltip we can say in this case:

"Gene panel: MSK-IMPACTxxx. TTN is not part of the panel, but it is a partner of this fusion."

![image](https://user-images.githubusercontent.com/840895/39501794-d5d0a434-4d8a-11e8-9b13-2786f2d9e4bb.png)

BTW, @adamabeshouse for samples with a gene-panel, it's a good idea to show the gene panel name even if a gene is not in this panel. The tooltip co

[2018-05-02 03:03] schultzn commented on #4165
If the gene is not part of the panel, should we remove / not import the variant?

[2018-05-02 14:44] jjgao commented on #3395
I am pushing this back to 1.14.0.

The data (and graph) needs to be updated because of the pancaner data release.

Maybe We should consider returning this data via and API? We can cache the data in memory when the war is loaded.

[2018-05-02 15:48] jjgao opened #4167 "improve the breadcrumb (filtering) for Mutated Genes and CNA genes"
If we filter by Mutated Genes, we only show one breadcrumb, but we may filter multiple times.

I propose to change it to include the genes and display multiple times for multiple selections.

e.g. `Mutated Genes: EGFR, ERBB2 or ERBB3`  `Mutated Genes: TP53`

[2018-05-02 16:04] zhx828 opened #4168 "Give warning message when partial of samples removed from Virtual Study"
Samples may be removed after reimporting. In this case, we should still allow users to visualize rest of samples, but give a warning message indicating which sample(s) has been removed.
- [x] Study-view page
- [ ] Query page
- [ ] Results page

[2018-05-02 17:30] jjgao opened #4169 "Expression: display a message about the number of studies selected"
e.g. "5 of 7 studies with RNASeq V2 data are displayed."

Maybe in the menu line?

[2018-05-02 17:55] jjgao opened #4170 "`study="lgg_ucsf_2014"` in many span in patient view"
dev code slipped into production?

![image](https://user-images.githubusercontent.com/840895/39540406-9101d040-4e10-11e8-8c6a-613d500f67cd.png)

http://www.cbioportal.org/case.do#/patient?studyId=ucec_tcga_pub&caseId=TCGA-BK-A0CC

[2018-05-03 15:48] kalletlak commented on #4082
Closing this as it would be resolved in other issue https://github.com/cBioPortal/cbioportal/issues/4160

[2018-05-03 15:48] #4082 closed

[2018-05-04 09:30] fedde-s commented on #2298
I can no longer reproduce this now that the code that manages which tracks to draw has been completely rewritten with MobX and React.

[2018-05-04 09:30] #2298 closed

[2018-05-04 09:34] fedde-s commented on #1249
Is this still an issue?

[2018-05-04 09:40] fedde-s commented on #3822
It should be possible to adjust the solution we use at The Hyve and simplify the documentation with actual run-time configuration, now that properties that need to be filled by the compiler have been extracted into [a separate file](https://github.com/cBioPortal/cbioportal/blob/v1.12.1/src/main/resources/maven.properties). I don't currently have time to work on that though.

[2018-05-04 09:43] fedde-s commented on #492
I think this issue might be stale; we have a [Data Hub project](https://github.com/cBioPortal/datahub/) now, maintained by a cross-institute team that has regular meetings and a Slack channel. Can this issue be closed, @pieterlukasse?

[2018-05-04 09:51] fedde-s commented on #1220
Support (and even a requirement) for separate patient-level and sample-level files has been released long ago now. Is this still an issue?

[2018-05-07 14:48] tmazor opened #4179 "not profiled message is unclear for patient with multiple samples"
This patient has 2 samples, one of which is profiled and the other is not. But the tooltip doesn't show that at all - so it mostly looks like the tooltip is contradicting itself.

![image](https://user-images.githubusercontent.com/10508276/39707844-87ee89fe-51e3-11e8-92b7-741d45aae359.png)

Can we add text to the tooltip to make this more clear -- for example:
Sample 1 is profiled in .....
Sample

[2018-05-07 15:01] #4104 closed

[2018-05-07 15:04] jjgao commented on #4143
as discussed, no worries about other types since cross-study queries only support mutations and cna profiles.

[2018-05-07 15:09] jjgao commented on #4165
@schultzn that sounds like a better solution. It would also solve the double counting issue.

@n1zea144 @angelicaochoa Maybe we could use the gene panel as the white list and not duplicate fusions for non-panel genes in the pipeline?

[2018-05-07 15:16] tmazor opened #4180 "beta - mutations tab - search should work for "germline""
When I see text on the Mutations tab, I expect to be able to search for. Especially with the new germline features in this release, I think it's important to support searching for "germline" on the Mutations tab.

Currently, however, this search doesn't work:
![image](https://user-images.githubusercontent.com/10508276/39709347-9bb75426-51e7-11e8-92c4-33e635adf554.png)

![image](https://user-images

[2018-05-07 16:09] tmazor opened #4181 "beta - a virtual study derived from another virtual study needs a more complete default description"
I really like how the default virtual study description explains how the study was generated. However, once a virtual study is saved, if I go to study view, all of that information is lost.

Take this example: I create Virtual Study A. I then create Virtual Study B which is a subset of Virtual Study A. The description for Virtual Study A clearly states how that study was created. The description f

[2018-05-07 18:52] jjgao commented on #1249
I am closing it. Please reopen if anyone sees a reason.

[2018-05-07 18:52] #1249 closed

[2018-05-07 19:08] jjgao commented on #4181
@zhx828 Maybe we can try to add the virtual study to the study list instead of physical study?

Then you can append/down the virtual study description at the end of the description?

[2018-05-07 19:12] jjgao commented on #4179
@tmazor maybe it's OK if we only show the warning when none of the samples in a patient are profiled?

[2018-05-07 19:21] tmazor opened #4183 "downloads tab should indicate not profiled"
The second sample for this patient is not profiled:
![image](https://user-images.githubusercontent.com/10508276/39720282-d102d962-5209-11e8-9f21-3748488f1318.png)

That should be made clear in the download tab as well, but currently isn't. This sample looks the same as another sample which is profiled but lacks any mutations/CNAs:
![image](https://user-images.githubusercontent.com/10508276/3972024

[2018-05-07 19:27] jjgao opened #4184 "fixed error message"
I would suggest to remove the message of "You may have caught us ..." because it's not useful any more. (we don't delete studies when updating now.)

![image](https://user-images.githubusercontent.com/840895/39720578-d106772e-520a-11e8-984a-135f8cf54f84.png)

[2018-05-07 19:33] #4135 closed

[2018-05-07 19:39] n1zea144 commented on #4109
@jjgao I have a script to backfill samples missing from sample-profile table.  It makes some assumptions and is errors on the side of being conservative.  It checks for a single "cancerstudy_sequenced" case list and "cancerstudy_mutations" mutation profile.  If both are found, the script attempts to determine a valid gene panel or defaults to WES.  Once testing is complete, I will schedule a run o

[2018-05-07 19:50] tmazor commented on #4179
@jjgao that seems reasonable and probably more consistent with how oncoprint is representing the data anyway. sounds good to me!

[2018-05-07 19:53] zhx828 commented on #4181
Thanks @tmazor @schultzn and @jjgao. Will do.

[2018-05-07 20:09] adamabeshouse commented on #4179
that works!

[2018-05-07 20:50] inodb opened #4186 "pancancer mrna data can be negative"
See analysis:

https://gist.github.com/inodb/26e77fb017d6b7b639a0d17d58b79728

A very small portion of v2 mrna continuous data is negative (.58% of all values). We are not sure why but for now we'll treat all as 0 instead. Based on the distribution it seems that `10^-2` might be a decent cap value for the log scaling.

[2018-05-08 01:35] zhx828 commented on #4181
@tmazor @schultzn @jjgao After testing few rounds, I realize the VS description would easily get expanded too long if you build VS based on VS several rounds. What do you think I list all studies with descriptions that this study derived from?
![screen shot 2018-05-07 at 9 23 35 pm](https://user-images.githubusercontent.com/5400599/39732975-66985ab8-523e-11e8-84f4-e0b9dd9f26c2.png)

[2018-05-08 15:56] inodb opened #4188 "Singe Study View case list drop down with default"
For one of our PDX collaborators it would be useful to show the study view without PDX samples. We would like to add a dropdown for all case lists. For their use case it would be useful to not use `_all` case list as the default but one that only has non-pdx samples

[2018-05-08 18:55] jjgao commented on #4130
seems working now.

[2018-05-08 18:55] #4130 closed

[2018-05-08 22:07] jjgao opened #4191 "Support modifying virtual study"
Is it possible to support modifying virtual study name and description?

[2018-05-08 22:27] jjgao commented on #4188
- [ ] support default case list for study view, e.g. `cases_study_view_default` or a better name @zhx828
- [ ] Curarate `cases_study_view_default`, `cases_patient_samples`, `cases_patient_samples_for_pdx_models` (the patient samples used to derive pdx), `case_pdx_samples` @ritikakundra
- [ ] Support dropdown manu to select different case list in study view @zhx828

[2018-05-08 23:08] adamabeshouse commented on #4179
PR: https://github.com/cBioPortal/cbioportal-frontend/pull/1150

[2018-05-09 13:05] jjgao commented on #4191
@zhx828 for example in the query page, we could add a modify icon. And also on the study view page. Only the owner of the VS can modify.

Is it technical feasible now in the session service? It is not necessary to have it for this release.

[2018-05-09 13:34] kalletlak commented on #4191
@jjgao we could definitely add a modify icon and update name and description of VS

[2018-05-09 13:36] jjgao commented on #4191
@kalletlak that'd be great! Thanks.

[2018-05-09 14:17] jjgao opened #4195 "Add "tcga pan cancer atlas" and msk-impact to example search list"
- tcga pancancer atlas
- tcga provisional
- tcga -provisional -pancancer
- tcga or icgc
- msk-impact
- -"cell line"
- breast
- esophageal OR stomach
- prostate msk
- serous

[2018-05-09 18:00] inodb commented on #3827
fixed n deployed

[2018-05-09 18:00] #3827 closed

[2018-05-09 18:08] ersinciftci commented on #4161
Not/Applicable anymore after https://github.com/cBioPortal/cbioportal/issues/3881

[2018-05-09 18:08] #4161 closed

[2018-05-09 21:01] jjgao opened #4197 "Refactored Expression tab: use styles close to other tabs"
Can we use stypes close to other tabs? And please feel free to be creative :)

- [x] further reduce the white space between studies in Expression tab -- should be able to fit all 33 pancancer studies in the screen (just like we do now)
- [x] is it possible to link out the patient view in the tooltip?
- [x] the mutation status does not seem right (http://bit.ly/2Knv88p) -- too many truncating (blac

[2018-05-09 21:32] jjgao commented on #4109
Thanks, @n1zea144! Please feel free to close this once the code is in production and the databases are migrated.

[2018-05-09 22:16] jjgao opened #4199 "Linkout to original study not working when creating a virtual study"
![image](https://user-images.githubusercontent.com/840895/39842562-df81ac3c-53b4-11e8-8012-59a5044a1bf9.png)

[2018-05-10 12:26] tmazor opened #4200 "style adjustments to VS description text"
1) Font & size need to be consistent throughout. I'm pretty sure that the text that says "Brain Lower Grade Glioma (TCGA, Provisional)" and "Glioblastoma Multiforme (TCGA, Provisional)" is larger than any other text on the page and might be a different font. "This virtual study was derived from:" may also be slightly larger than the text above it.

2) When I click on the study names that the VS wa

[2018-05-10 12:37] tmazor commented on #4181
I appreciate that this text could very easily get very long, but if I make a VS from a VS, I very quickly lose the information about which the original study was. Having the link-out to the previous VS is helpful, but I don't want to have to click through several previous VS to remember what I did/where I started.

Since the previous VS is already shown as a closed box that can be expanded, could

[2018-05-10 13:08] schultzn commented on #4181
I agree with Tali. It would be great to preserve the full history - especially since prior virtual studies can be deleted, which would mean that all that information is lost.

Niki.

[2018-05-10 13:14] tmazor opened #4201 "mutations tab - grey out gene names when no mutations present"
On the Cancer Types Summary tab, the gene name appears in grey where there are no alterations. Can we do the same on the Mutations tab?

Example: RBL1 and RBL2 in these screenshots:

![image](https://user-images.githubusercontent.com/10508276/39871220-240c8444-5432-11e8-805b-49416b7e9fa5.png)

![image](https://user-images.githubusercontent.com/10508276/39871227-2b420f04-5432-11e8-8b28-691b01013aad

[2018-05-10 13:16] tmazor opened #4202 "mutex tab - significant checkbox uses pvalue rather than adjusted pvalue"
The "Significant only" checkbox and the number of significant alterations in the header row reflect a p-value significance. But we changed to using adjusted p-value.

![image](https://user-images.githubusercontent.com/10508276/39871412-bb8e57b6-5432-11e8-9148-adbeb034fc17.png)
http://www.cbioportal.org/beta/index.do?cancer_study_id=lgg_tcga&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_prior

[2018-05-10 14:05] kalletlak commented on #4181
May be something like this?
![screen shot 2018-05-10 at 10 03 29 am](https://user-images.githubusercontent.com/12956870/39873660-8f86b972-5439-11e8-8304-d8a1b5e717f7.png)

https://jsfiddle.net/pnqzspoe/3726/

[2018-05-10 15:38] #4202 closed

[2018-05-10 16:01] pieterlukasse opened #4204 "Tooltip missing in study view"
Study view Mutations table has no tooltips for its columns. See also https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/cbioportal/Fq_8Rb4X1TI

![image](https://user-images.githubusercontent.com/2900303/39879458-24d7bc38-547b-11e8-91e4-83b7d9bcd15c.png)

Desired solution:

- please add tooltips for table columns. I.e. when hovering `#`, `# Mut` , ` Freq` columns, a tooltip

[2018-05-10 18:09] n1zea144 commented on #4162
@jjgao I have a pr ([4206](https://github.com/cBioPortal/cbioportal/pull/4206) to fix import code to change default to NULL.  Front-end code seems to handle NULL in database ok (blanks instead of -1 is placed in table), but front-end code should be updated when multiple samples are displayed.  In this case, a NULL gets transformed to "undefined".

**brca_broad before fix (-1 in table)**
![image](h

[2018-05-10 18:15] n1zea144 commented on #4162
Here are some links to dev/fix -

[brca_broad](http://dashi-dev.cbio.mskcc.org:8080/ben-portal/case.do#/patient?studyId=brca_broad&caseId=BR-M-005&navCaseIds=BR-M-005,BR-M-026,BR-M-027,BR-M-028,BR-M-030,BR-M-034,BR-M-036,BR-M-037,BR-M-038,BR-M-041,BR-M-045,BR-M-047,BR-M-048,BR-M-050,BR-M-055,BR-M-059,BR-M-073,BR-M-074,BR-M-076,BR-M-079,BR-M-080,BR-M-083,BR-M-085,BR-M-094,BR-M-095,BR-M-098,BR-M-105

[2018-05-10 20:34] ashraf123456789 opened #4209 "Alternate methods for data import?"
Hello,

I work in a department where we deployed a local instance of cbioportal to multiple users using a common server. We have access to the instance via http link. But at the moment data import will be a problem via terminal/command line due to authorization issues with the server. Is there a GUI available in the instance where we can upload the data without direct access to the server?

[2018-05-10 20:35] #4199 closed

[2018-05-10 20:35] #4200 closed

[2018-05-10 20:36] #4046 closed

[2018-05-10 20:37] #4049 closed

[2018-05-10 21:31] alisman commented on #4197
@jjgao I have a question abou #2.  Should it be tabs or buttons (relates to presevagtion of settings on gene by gene basis). Lets discuss tomorrow.

[2018-05-11 14:09] #1615 closed

[2018-05-11 14:11] jjgao commented on #4162
Thanks @n1zea144. Your fix looks good.

@onursumer: could you update the frontend code for multiple samples?

[2018-05-11 14:58] #4184 closed

[2018-05-11 15:17] jjgao opened #4213 "error message when querying multiple studies"
http://www.cbioportal.org/index.do?session_id=5af5b3f4498eb8b3d566161c

![image](https://user-images.githubusercontent.com/840895/39931973-e3bff048-550c-11e8-9a35-9e9f2e3658c8.png)

[2018-05-11 16:04] jjgao opened #4214 "Tweak somatic and germline summary display in Mutations tab"
Can we add the number for somatic and germline mutations and make them clickable (filter) simialr to mutations types? Ideally I could do something like first selecting germline mutations then selecting missense germline mutations.

**Proposed:**
![image](https://user-images.githubusercontent.com/840895/39934044-9fc59a68-5512-11e8-8311-a6b479e9ad9f.png)

**Current:**
![image](https://user-images.gi

[2018-05-11 16:05] jjgao opened #4215 "Support multiple selection of mutations types"
Can we also support multiple selections of mutations types by hold shift key? And when we click a selected type, can we unselect it? Maybe some style to indicate selection/unselection could be helpful.

[2018-05-11 19:09] n1zea144 commented on #4162
@jjgao I merged the code and updated the databases.

[2018-05-11 19:12] n1zea144 commented on #4165
@jjgao I prefer to make this change in the scripts package of core as this seems like a fix that other studies can benefit from.  The gene panel data is also more accessible during import.

[2018-05-11 19:15] adamabeshouse commented on #4165
@jjgao in https://github.com/cBioPortal/cbioportal-frontend/pull/1167 for samples with a gene panel but the hovered gene is not in the panel, i have the gene panel id link in red in the tooltip, as opposed to blue. is that clear enough?

[2018-05-11 20:22] jjgao opened #4217 "moving session service"
- [x] decide where to move: Amazon or Heroku?
- [x] set up a session service on cloud
- [ ] create one collection per production portal
- [x] create api key (we went for basic auth)
- [ ] point to the cloud session service for all portals except public, public genie, and mskcc portals.
- [x] move current sessions / virtual studies to the corresponding collections on cloud (manual process)
- [x] po

[2018-05-11 20:28] jjgao opened #4218 "why are we loading all virtual studies in the study view?"
... even if I only open a physical study.

![image](https://user-images.githubusercontent.com/840895/39945365-38ee8fea-5538-11e8-971a-1b7e13db9ddd.png)

[2018-05-11 20:35] #3807 closed

[2018-05-11 20:43] jjgao opened #4219 "Modify Query button missing"
@schultzn reported this one: "there is no modify query button when running a query on a subset of a virtual cohort." But I couldn't reproduce it.

In the session below, Modify Qury button is missing.

http://www.cbioportal.org/index.do?session_id=5af5fdf3498eb8b3d56617bc

[2018-05-11 20:46] jjgao opened #4220 ".seg file downloaded from CN segments appears to be broken"
@schultzn reported this. Maybe it is the ” at the beginning of the file.

![image](https://user-images.githubusercontent.com/840895/39946033-a3b543e4-553a-11e8-8562-031c7b534152.png)

[2018-05-11 21:13] zhx828 commented on #4218
@jjgao we are loading all virtual studies created by this particular user. This is one of the services needed for giving details where this VS derived from. We could make multiple API calls for particular VSs, but think this is more efficient.

[2018-05-11 21:37] #4213 closed

[2018-05-14 15:01] jjgao commented on #4209
We don't have a GUI for uploading data to the server. One option I could think of is using a GUI (installed on the server) to update the database directly, e.g. https://www.phpmyadmin.net/. You can then import data in a local computer and update to the server.

[2018-05-14 15:01] #4209 closed

[2018-05-14 15:05] jjgao commented on #4181
@kalletlak's mockup looks great!

[2018-05-14 15:13] jjgao opened #4222 "read count for multiple samples: how to display"
One sample:
![image](https://user-images.githubusercontent.com/366003/39885720-4e04ce9a-545b-11e8-8a8f-8db8e446e039.png)

Multiple samples:
![image](https://user-images.githubusercontent.com/366003/39885845-b4bb39f8-545b-11e8-8df1-a0155092696f.png)

https://github.com/cBioPortal/cbioportal/issues/4162

[2018-05-14 15:14] jjgao commented on #4162
created https://github.com/cBioPortal/cbioportal/issues/4222. closing this one.

[2018-05-14 15:14] #4162 closed

[2018-05-14 17:12] jjgao commented on #4165
@adamabeshouse Thanks. I think we will try to fix it in the data.

[2018-05-14 17:13] jjgao commented on #4165
Thanks, @n1zea144. It's a good idea to fix it during import. Could you add it to you backlog?

[2018-05-14 17:15] jjgao commented on #4218
@zhx828 this happens in the study view page. The virtual studies are not displayed in the page...

[2018-05-14 17:48] toddcreasy75 opened #4223 "Loading a new study causes a browser memory leak?"
Hi,

I loaded a new cancer type into my local install of cbioportal and when I do so, and attempt to load the main page, I get the infamous "Aw, Snap! Something went wrong while displaying this webpage" error. I *think* the error is in some javascript file called: cbioportal/reactapp/2.7cfbab8d4bed646a9df4.chunk.js but it's not really possible for me to know sure. I'm basing this off of Chrome dev

[2018-05-14 18:00] jjgao commented on #3820
Let's make sure this is fixed in the new Enrichments tab.

[2018-05-14 18:12] jjgao commented on #540
@pieterlukasse is there anything we should do about this one?

[2018-05-14 18:13] #611 closed

[2018-05-14 18:16] jjgao commented on #527
We are working on improving the tracking to understand the usage of UI elements.

[2018-05-14 18:16] #527 closed

[2018-05-14 18:17] #626 closed

[2018-05-14 18:32] #93 closed

[2018-05-14 18:33] #233 closed

[2018-05-14 18:42] #2939 closed

[2018-05-14 18:44] jjgao commented on #3161
@inodb is this still open?

[2018-05-14 18:45] jjgao commented on #3016
I am closing this. I think we should support tracks in MutationMapper in general.

[2018-05-14 18:45] #3016 closed

[2018-05-14 18:46] jjgao commented on #3162
Any update on this?

[2018-05-14 18:47] #3644 closed

[2018-05-14 18:48] inodb commented on #3162
There is an endpoint for querying by genomic coordinates now, so we prolly just need to update the frontend code for functional impact column to use this

[2018-05-14 19:02] #4223 closed

[2018-05-14 19:09] #3523 closed

[2018-05-14 19:11] jjgao commented on #3624
@kalletlak @zhx828 maybe this is doable now?

[2018-05-14 19:15] jjgao commented on #3375
I think we need to spec the product part more. Moving to to-do list.

[2018-05-14 19:18] jjgao commented on #3105
related to #3495

[2018-05-14 19:27] jjgao commented on #3743
@alisman any update on this? Should this be an Epic or regular issue?

[2018-05-14 19:29] jjgao commented on #3845
@alisman any update on this? It's not clear to me.

[2018-05-14 19:30] jjgao commented on #3846
@alisman any update? Maybe point to the code?

[2018-05-14 19:31] jjgao commented on #3852
Let's do it in the new study view.

[2018-05-14 19:32] onursumer commented on #3709
@jjgao This one is not fixed yet for the `Mutations` tab, but fixed for the `Download` tab. I'll try to fix it soon for the Mutations tab as well.

[2018-05-14 19:32] jjgao commented on #3857
@ersinciftci the production db has the tables and data now. Please make the change.

[2018-05-14 19:38] jjgao commented on #3902
looks like it's fixed.

[2018-05-14 19:38] #3902 closed

[2018-05-14 19:40] jjgao commented on #3977
Let's drop the mapping.

[2018-05-14 19:44] #4007 closed

[2018-05-14 19:44] #4017 closed

[2018-05-14 19:44] jjgao commented on #4018
@ersinciftci do we have an answer to this?

[2018-05-14 19:51] jjgao commented on #4094
@zhx828 this seems like a critical issue. Maybe @kalletlak can help while you are gone?

[2018-05-14 19:55] alisman commented on #3846
We are relying on
'<script type="text/javascript" src="js/lib/igv.min.js"><\/script></head>';
loaded from legacy codebase.  We might want to copy this over to new repo.

[2018-05-14 19:56] jjgao opened #4225 "end point for sample_profile data"
- [ ] Clean up [code](https://github.com/cBioPortal/cbioportal/blob/master/service/src/main/java/org/cbioportal/service/impl/GenePanelServiceImpl.java) and remove logic around "_sequenced" case list
- [ ] separate the `gene-panel-data` (the `1st` and `last` below) to a new endpoint of `is_profiled`. The other three gene-panels meta endpoints can remain.

![image](https://user-images.githubusercont

[2018-05-14 19:56] zhx828 commented on #4094
I can revisit the issue. Last time I checked, it only applied to the study
Ritika brought up
On Mon, May 14, 2018 at 3:51 PM JianJiong Gao <notifications@github.com>
wrote:

[2018-05-14 19:58] #3251 closed

[2018-05-14 19:59] jjgao commented on #4120
closing. Please feel free to reopen if the problem persists.

[2018-05-14 19:59] #4120 closed

[2018-05-14 20:58] jjgao commented on #767
closing this since it's too old.

[2018-05-14 20:58] #767 closed

[2018-05-14 20:59] #709 closed

[2018-05-14 20:59] #592 closed

[2018-05-14 21:00] #499 closed

[2018-05-14 21:01] #467 closed

[2018-05-14 21:01] #432 closed

[2018-05-14 21:01] #433 closed

[2018-05-14 21:02] #377 closed

[2018-05-14 21:02] #132 closed

[2018-05-14 21:02] inodb commented on #3250
@sandertan this seems to be fixed? Could you let me know how to reproduce the bug otherwise? Thanks!

[2018-05-14 21:02] #3250 closed

[2018-05-14 21:03] #492 closed

[2018-05-14 21:04] jjgao commented on #494
@pieterlukasse would you like to keep this open? It's being `in progress` for so long :)

[2018-05-14 21:14] jjgao commented on #3395
@ersinciftci maybe you can help write an end point for the data above using the SQL above. I think it should be cached in memory in Java.

[2018-05-14 21:17] jjgao commented on #4073
@adamabeshouse I'm can live with this one if it's not easy to solve.

[2018-05-14 21:29] #4204 closed

[2018-05-14 22:57] onursumer commented on #4219
A quick debug shows that this condition resolves false: https://github.com/cBioPortal/cbioportal-frontend/blob/8826743e4cefd171660f2158f3fa419dbfd545a2/src/pages/resultsView/querySummary/QuerySummary.tsx#L85

More specifically, `this.props.store.queriedStudies.isError` is true. Seems like a virtual study issue to me.

[2018-05-14 23:17] kalletlak commented on #4219
I know what causing the issue, I'll create a PR once fixed it.

[2018-05-14 23:59] onursumer commented on #4220
Actually the entire string is wrapped with `"`, and also there are special escape characters like `\n`,`\t` in it. For now a quick fix is to perform an `unquote` and `unescape` before downloading. I'll take care of this.

[2018-05-15 06:46] messersc commented on #4120
Hi @jjgao,

the problem is still there for me on `rc`. I can't re-open the ticket, but apparently I am the only one with this problem?

Will try to find a work-around.

Thanks,
Clemens

[2018-05-15 09:53] sandertan commented on #3250
Hi @inodb, yes it appears to be fixed, thanks!

[2018-05-15 14:19] alisman commented on #3820
@jjgao assuming @ersinciftci has addressed this in refactored feature, can we just wait (i.e. close this issue).

[2018-05-15 14:44] jjgao commented on #3820
@alisman Let's wait for @ersinciftci's new tab, but we should keep it open until we verify it's addressed.

[2018-05-15 15:26] alisman commented on #4024
Hi @jjgao I've done some more search now and verified us with the Google Webmaster toolkit.  Here are some steps we need to take:
1. Create and upload a sitemap to the GWT that lists studies and patients (there may be too many patients but we could also have a page that lists them call on our site)
2. Add meta and description tags on patient page which are set dynamically
3. Google has [deprecated

[2018-05-15 15:33] khzhu opened #4226 "java.lang.NullPointerException throws when calling api getMutationData"
java.lang.NullPointerException throws when calling cBioPortal web API getMutationData with given case_set_id, genetic_profile_id and gene_list .
For example,
http://www.cbioportal.org/webservice.do?cmd=getMutationData&case_set_id=gbm_tcga_all&genetic_profile_id=gbm_tcga_mutations&gene_list=EGFR+PTEN

reported by https://groups.google.com/forum/#!topic/cbioportal/2ErtT-XmwyQ

[2018-05-15 15:54] jjgao commented on #4024
@alisman great! Thanks.

For # 1, maybe we can generate a dynamic page from database? We should have google to index studies, patients, samples, and genes.

For # 3, not sure why our patient view pages are not indexed now?

For # 4, is there still a reason not to use #?

[2018-05-15 16:45] n1zea144 commented on #4165
@jjgao Here is the fix:  [PR-4227](https://github.com/cBioPortal/cbioportal/pull/4227)

[2018-05-15 16:56] bgyori commented on #4226
I am getting the same results for `getMutationData` and just found this open issue.

[2018-05-15 18:39] kalletlak commented on #4219
This problem comes when the number of studies in custom case set is a subset of selected studies. @jjgao @alisman @zhx828 how should we solve this?

[2018-05-15 20:31] jjgao commented on #4219
@kalletlak: Thanks. But I still don't understand exactly why Modify Query does not show up.

[2018-05-15 20:41] kalletlak commented on #4219
@jjgao that because of API fails which are looking for those studies. I can fix it depending on what we want to show(name and description) and studies that needs to be selected in modify query button click.

[2018-05-15 20:52] zhx828 commented on #4219
@karthik just talked with JJ. I think the most corner cases are coming from study view. And there should be two fixes here:
1. In study view, we only send selected studies after filtering to main/result page instead of originally selected studies.
2. In the result’s page, if selected cases are not in all selected studies, only studies with these cases should be selected in the query selector and g

[2018-05-15 21:01] jjgao commented on #4219
@kalletlak : discussed with @zhx828 , let do the followings:

- [ ] when querying from study view, let's only send studies with selected samples.
- [ ] on the results page summary, display studies with selected samples.
- [ ] for Modify Query, it's OK to select all query studies even if some of the studies have no samples selected (this will only happen when a user manually enter sample IDs)

[2018-05-15 21:01] zhx828 opened #4228 "The warning message shouldn't be shown if the Internet is slow"
This issue ususlly happends when the internet is slow and the query selector hasn't gotten the full list of physical studies.

![screen shot 2018-05-15 at 4 56 13 pm](https://user-images.githubusercontent.com/5400599/40083169-528495f4-5861-11e8-9f70-f795be1b74f5.png)

[2018-05-16 01:58] jjgao commented on #4228
maybe the message should be shown after the data is loaded?

[2018-05-16 08:27] messersc commented on #4120
Turns out I was using the wrong `jar` path.

The correct command is

` ~/cbioportal/core/src/main/scripts/importer/metaImport.py -n -v -o -jar $(ls $PORTAL_HOME/scripts/target/scripts-1.13.0-SNAPSHOT.jar | tr '\n' ':') -s /tmp/work/upload/`

Clemens

[2018-05-16 14:35] ersinciftci commented on #4226
@jjgao https://github.com/cBioPortal/cbioportal/pull/4229 should fix it

[2018-05-16 15:36] jjgao commented on #4195
@alisman yes, you can use these as the default.

[2018-05-16 15:58] ersinciftci commented on #4018
@jjgao not yet, I'll read more about it, though https://developers.google.com/blogger/docs/3.0/performance#gzip states that
`
An easy and convenient way to reduce the bandwidth needed for each request is to enable gzip compression. Although this requires additional CPU time to uncompress the results, the trade-off with network costs usually makes it very worthwhile.
`

[2018-05-16 17:05] kalletlak commented on #4094
@jjgao @zhx828 there is another issue. survival curve shows cases even with excluding case with NA data. This happens when the Samples per Patient > 1. In this case once sample has NA data and other is not NA. But overall considers that patient has non NA data.

[2018-05-16 19:33] jjgao opened #4233 "lazy load 3d alignment data from g2s"
Currently they are loaded when Mutations tab is loaded. Can we delay it until a user click the `View 3D Structure` button?

[2018-05-16 19:53] tmazor opened #4234 "RNA data should consistently be shown after log2 transformation"
RNA data is currently inconsistently stored in the database and shown in the front end - sometimes the data has been log2 transformed and sometimes it hasn't. We should consistently show log2 transformed data.

This could be achieved through either:
1) standardization of the data in the database
2) modification of front end code everywhere RNA data is utilized to log2 transform any data which is n

[2018-05-16 20:00] schultzn commented on #4234
Hmm… I like being able to see the actual normalized counts and being able to switch back and forth.  Would that still be possible with your proposed changes?

Also, how would this affect the Agilent array data, which is a ratio from a two-color array? These arrays were used in the TCGA pilot studies.

Niki.

[2018-05-16 20:47] onursumer commented on #4233
@jjgao Looks we need the 3D alignment data to determine whether we disable the `View 3D Structure` or not: https://github.com/cBioPortal/cbioportal-frontend/blob/d7bed8ea785d69f8a0b7a3a7cb6fe5f081a81cfd/src/pages/resultsView/mutation/MutationMapper.tsx#L190

We can keep the button always enabled and delay the check until the button is clicked, or find a better way to figure out if we have 3D data.

[2018-05-16 22:06] alisman opened #4236 "Style tweaks for co-exp"
- [ ] Make size of dropdown consistent with buttons to left
- [ ] Place main loading animation centered and down 100px
- [ ] Put loader chart roughly in center area of where chart is
- [ ] Match styles of Cancer Type Summary chart by wrapping chart with <div .borderedChart> and matching style of axis labels (ticks look fine)

[2018-05-16 23:09] #4236 closed

[2018-05-17 13:49] pieterlukasse opened #4237 "FUSION data not filtered out in OQL"
See examples below.

STK11: HOMDEL MUT

![image](https://user-images.githubusercontent.com/2900303/40181588-bedb2dd8-59e9-11e8-89d0-817f5880f4d1.png)

STK11: HOMDEL FUSION

![image](https://user-images.githubusercontent.com/2900303/40181558-aa465dac-59e9-11e8-9506-e01f643d757d.png)

Query links:

http://www.cbioportal.org/index.do?cancer_study_id=msk_impact_2017&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRE

[2018-05-17 14:14] sandertan commented on #4237
Specifically, in the current implementation `FUSION` falls under `TRUNC`:

`STK11: MUT=TRUNC` in http://bit.ly/2rKEvav

Also, the section regarding this can also be improved in the [documentation](https://github.com/cBioPortal/cbioportal/blob/master/docs/Onco-Query-Language.md#oql-keywords) , as it is unclear whether FUSION falls under MUT or not.

[2018-05-17 14:28] jjgao commented on #4237
@adamabeshouse when querying MUT, let's filter fusion out if possible.

[2018-05-17 15:39] jjgao commented on #4234
The 3rd option is to add options to the API to transform the data (log and z-score) and frontend can switch between the options.

I think we should only support log transformation for RNASeq data, not microarray data.

[2018-05-17 15:41] jjgao commented on #4233
@onursumer I see. Maybe we should add another end point to g2s to return whether structures exist?

[2018-05-17 15:42] jjgao commented on #4233
I move it back to TO-DO -- not urgent.

[2018-05-17 16:12] #4142 closed

[2018-05-17 16:12] #4141 closed

[2018-05-17 20:25] adamabeshouse commented on #4237
https://github.com/cBioPortal/cbioportal-frontend/pull/1184

[2018-05-17 21:44] alisman opened #4238 "In expression tab scatter fix calculation of cap values"
it seems to me it should be `(expressionValue < EXPRESSION_CAP) ? Math.log2(EXPRESSION_CAP) : Math.log2(expressionValue)`, in other words `Math.log2(Math.max(expressionValue, EXPRESSION_CAP))`

[2018-05-18 15:46] jjgao opened #4239 "new co-exp tab: Download Full Results button missing"
![image](https://user-images.githubusercontent.com/840895/40244495-feba1b60-5a90-11e8-9953-b882285c741a.png)

[2018-05-18 15:52] jjgao opened #4240 "new co-exp: allow search by gene and cytoband"
Is it also possible to support "-1p" so that I can filter results from the same cytoband / arm?

[2018-05-18 15:54] jjgao opened #4241 "new co-exp: just use one log checkbox"
Currently, there are two log checkboxes for x and y. I think we only need one so that either both axis are logged or linear.

[2018-05-18 16:07] jjgao opened #4242 "new co-exp: when logged, change the axis label"
... append `(log10)`

[2018-05-18 16:14] jjgao opened #4243 "new co-exp: style tweaks"
- [ ] move data set menu to the right side or under genes
- [ ] move the text to bottom of the table, change it to "The table above lists genes ..."

![image](https://user-images.githubusercontent.com/840895/40245824-aad6d368-5a94-11e8-8f66-710e9c556f4e.png)

[2018-05-18 16:17] jjgao opened #4244 "new co-exp: is it possible to list all genes with either measure above 0.3"
Is it too expensive to calculate Spearman correlations for all genes?

![image](https://user-images.githubusercontent.com/840895/40245939-08c8f870-5a95-11e8-9a0c-25f550ac3747.png)

[2018-05-18 16:23] alisman opened #4245 "In expression tab, handle case of multipe mutations per sample"
In expression tab, we tag data points with mutation type of the sample.  But sample may have multiple mutations.  @adamabeshouse, JJ says we have same problem in oncoprint and should use the same prioritization logic to determine which mutation type to show.  Can you advise? Can this be shared?

[2018-05-18 18:48] adamabeshouse commented on #4245
https://github.com/cBioPortal/cbioportal-frontend/blob/master/src/shared/components/oncoprint/DataUtils.ts#L34 is where the render priority is (the suffix `_rec` means tagged as a putative driver)

[2018-05-18 19:36] adamabeshouse commented on #4242
is it better to un-log the ticks? I was about to do that. Or would you want both? (i think that would be confusing)

[2018-05-18 19:37] adamabeshouse commented on #4239
i thought that replaced by the download button in the table
![image](https://user-images.githubusercontent.com/636232/40254416-652f4652-5ab1-11e8-9b3c-71207d0ec76f.png)

[2018-05-18 19:58] jjgao commented on #4242
@adamabeshouse: @alisman and I discussed -- we thought having the logged value for the tick mark is fine.

[2018-05-18 20:02] adamabeshouse commented on #4242
i had already just changed it to show unlogged tick values :D

[2018-05-18 20:11] #4219 closed

[2018-05-18 20:57] adamabeshouse commented on #4239
oh I see

[2018-05-18 21:02] jjgao commented on #4239
I think it's related to https://github.com/cBioPortal/cbioportal/issues/4244. Maybe we can just display all genes without filtering?

[2018-05-18 21:08] adamabeshouse commented on #4239
that would definitely make things easier

[2018-05-18 21:47] jjgao commented on #4244
@ersinciftci maybe we can try to return data for all genes?

[2018-05-18 22:38] ersinciftci commented on #4244
@jjgao frontends sends the threshold to the API, if it sends 0, then every gene will be returned.

[2018-05-21 14:34] #4220 closed

[2018-05-21 18:26] priti88 opened #4247 "Co-Expression plot issue"
There is an error in rendering of Co-Expression plot.
Example :
<img width="1220" alt="screen shot 2018-05-21 at 12 51 15 pm" src="https://user-images.githubusercontent.com/1380237/40323226-bc0d6d34-5d02-11e8-8053-45bbb24ff933.png">

Issue reported by user:
https://groups.google.com/forum/#!topic/cbioportal/X51e5p_dO8c

[2018-05-21 19:03] jjgao commented on #4247
We are refactoring co-expression tab and it seems working in the new tab. Let's report back to the user once we release the new one.

[2018-05-21 19:20] jjgao opened #4248 "co-expression p/q-values"
- [x] in web API, remove Pearson's correlation scores
- [x] in web API, calculate p/q values of [Spearman's correlation](http://commons.apache.org/proper/commons-math/javadocs/api-3.3/org/apache/commons/math3/stat/correlation/PearsonsCorrelation.html)
- [x] co-expression tab: add p value and q value columns and order by p value
- [x] co-expression tab: remove Pearson's correlation scores in the ta

[2018-05-21 19:25] jjgao commented on #4248
@ersinciftci I am wondering whether the performance would be good with [the Apache Spearman's correlation p-value calculation](http://commons.apache.org/proper/commons-math/javadocs/api-3.3/org/apache/commons/math3/stat/correlation/PearsonsCorrelation.html)

[2018-05-21 19:29] jjgao commented on #4239
As discussed, let's give it a try and see how it performs.

[2018-05-21 20:11] #4195 closed

[2018-05-21 20:12] #3820 closed

[2018-05-21 20:26] ersinciftci opened #4252 "Merge backend study-view-prototype to rc"

[2018-05-21 20:46] jjgao opened #4253 "add Enrichments to cross-study results"

[2018-05-21 20:50] ersinciftci commented on #4248
@jjgao we already use Apache Commons Math for Pearson and Spearman calculations

[2018-05-21 21:50] jjgao opened #4254 "Enrichments: p-value or q-value"
Now that we switched to q-value, I see two problems:

1. with so many tests (20k), it's very difficult to reach significance. (this is probably a right signal to send)
2. many q-values are the same even the p-values are different. Should we still use p-value in the vocano plot (we don't need to significant line -- we could render the significant dots differently).

![image](https://user-images.git

[2018-05-21 22:01] jjgao opened #4255 "new enrichments: tabs not working as expected"
When clicking on Copy-number or mRNA, instead of switch to the new results, the tables are appended under the Mutations table.

![image](https://user-images.githubusercontent.com/840895/40332130-eb48a8c0-5d20-11e8-9f2d-c81c35238640.png)

[2018-05-21 22:10] #3979 closed

[2018-05-21 23:28] ersinciftci commented on #4255
Weird, works normal on my local, might be related to the way you test it with @alisman 's script `renderEnrichmentsTab($(“#enrichments-tab-tabs”).empty()[0])`[0])`.

[2018-05-21 23:30] ersinciftci commented on #4255
Other stuff looks out of place in your screenshot too, not sure why.

[2018-05-22 02:07] aeyesilkanal commented on #4247
Hi! I am the user who reported this bug. Thanks for taking care of it. I was just wondering, when are you planning on releasing the new version?

[2018-05-22 12:19] oplantalech opened #4256 "Display name of clinical variables in plots tab"
There is a bug in how the Plots tab displays the name of the clinical variables. If I have two studies in an instance with different display names for clinical variables, e.g. `OS_STATUS` and `DFS_STATUS` are `OS Status` and `DFS Status` in study 1, and `Test` and `Test` in study 2; and then I query ONLY study 1, I see two `Test` instead of `OS Status` and `DFS Status`.

[2018-05-22 12:52] oplantalech commented on #4256
@jjgao Can you take a look at it?

[2018-05-22 15:20] #4094 closed

[2018-05-22 15:52] pieterlukasse opened #4259 "Gene panel API error"
The API call to
http://www.cbioportal.org/api/swagger-ui.html#/Gene_Panels/getGenePanelDataUsingPOST below

[code]
Results in

[code]

[2018-05-22 16:07] alisman opened #4260 "Design tweaks for Enrichment tab"
- [ ] Loader animation in tab should appear centered and 60px down from UI above it
- [ ] Vertically center the checkboxes
- [ ] Add borderedChart class to container of chart and adjust axis label style to match CancerTypeSummary

![image](https://user-images.githubusercontent.com/186521/40375050-70c5efa2-5db8-11e8-924e-86231ed491a2.png)
Simplest way to do #2 would be to give the div around checkb

[2018-05-22 17:40] adamabeshouse commented on #4248
what is a vocation plot?

[2018-05-22 19:08] pieterlukasse commented on #4256
Basically the Plots tab is listing the study variables with the first description it can find in the DB, regardless of the study. I think you will be able to find this issue ocurring in all studies on cbioportal.org if you look closely. See for example TCGA Breast Cancer (Provisional):

Clinical attributes matching query `days` in Plots tab:

![image](https://user-images.githubusercontent.com/2900

[2018-05-22 19:40] alisman opened #4261 "Make sure mutation type is priorityized in expression tab mutation overlay"

[2018-05-22 20:05] adamabeshouse commented on #4256
This code was written assuming that clinical attributes w the same clinical attribute id are going to have the same display name, and we choose one arbitrarily so as to not have duplicate entries. I'm not sure what would be best here because I don't think I understand the data properly..

[2018-05-22 20:13] pieterlukasse commented on #4256
Perhaps the previous example can still be explained by differences of attributes with data vs attributes with no data (so plots tab does not display attributes for which no data is found in any sample). Then the example below is a bit better:

Clinical attributes matching query `.` in Oncoprint tab:
![image](https://user-images.githubusercontent.com/2900303/40387454-1b997972-5e0d-11e8-8683-802fab3

[2018-05-22 20:21] pieterlukasse commented on #4256
@adamabeshouse the desired solution would be for the plots tab to take the description that was specified for this attribute in the study, just as the oncoprint is probably doing. The approach you describe could be applied for multi-study queries, but for a single study query it might lead to confusion when mismatches occur.

If the UI or other parts of the code are to rely on the assumption that

[2018-05-22 20:26] pieterlukasse commented on #4256
The main problem with the current implementation is that one poorly curated study loaded into the db of a local cBioPortal installation can mess up the plots tab for all other studies in this same portal.

[2018-05-22 20:32] priti88 opened #4262 ""www.cbioportal.org/ln?q=EGFR:MUT" redirects to old cross cancer page."
www.cbioportal.org/ln?q=EGFR:MUT redirects to old cross cancer page.

User reported: https://groups.google.com/forum/#!topic/cbioportal/p4Bre3-F_L0

[2018-05-22 21:38] jjgao commented on #4256
* Attribute meta data was not study-specific -- that's probably the reason for this bug.
* Agreed with @pieterlukasse, we should use study-specific information now.
* We don't have Plots tab in multi-study view.
* @adamabeshouse is working on refactoring the tab.

@pieterlukasse @oplantalech would you have time to look into this issue?

[2018-05-22 21:58] #4170 closed

[2018-05-23 08:38] pieterlukasse opened #4263 "Gene list page is outdated"
The cancer gene list that is linked out from the Study view is outdated. See
http://www.cbioportal.org/cancer_gene_list.jsp
and:
https://github.com/cBioPortal/cbioportal/blob/master/core/src/main/resources/cbio_cancer_genes.txt

[2018-05-23 08:41] pieterlukasse commented on #2082
Hi @zhx828 , do you have updates on how this is working now in study view? I noticed that the table in http://www.cbioportal.org/study?id=brca_tcga#summary downloads as ~11,000 genes. So I guess the top 500 is not applicable anymore? But it doesn't seem to be all genes either (one of our tests in another local study seemed to contradict this).

[2018-05-23 18:14] priti88 opened #4265 "Syntax error in file RightBar.tsx"
Extra ";" in line 61
https://github.com/cBioPortal/cbioportal-frontend/blob/692532bd4d7c52e7fc55889ccf6979ec2a810168/src/shared/components/rightbar/RightBar.tsx

[2018-05-23 18:16] priti88 opened #4266 "oncokb.api.url property is being ignored"
I have set the oncokb.api.url in my portal.properties file but the application is using the public url.

[2018-05-23 18:45] #3722 closed

[2018-05-23 18:58] #3709 closed

[2018-05-23 19:58] adamabeshouse commented on #4240
merged into rc

[2018-05-23 19:59] adamabeshouse commented on #4241
done in rc

[2018-05-23 19:59] adamabeshouse commented on #4242
unlogged, no (log10) is in rc

[2018-05-23 19:59] adamabeshouse commented on #4244
showing all data, in rc

[2018-05-23 19:59] adamabeshouse commented on #4239
showing all data, in rc

[2018-05-23 20:00] jjgao commented on #4266
@onursumer could you help look into this?

[2018-05-23 20:12] adamabeshouse commented on #4247
@aeyesilkanal thanks for reporting the bug. We just merged it into our release candidate branch, so it will be deployed in our next release, which will probably be within a couple of weeks.

[2018-05-23 21:14] onursumer commented on #4266
Seems like we are always using the public api url even if `oncokb.api.url` exist: https://github.com/cBioPortal/cbioportal/blob/b06c8828d5843c93e1736bbeb164801155da0e46/portal/src/main/webapp/WEB-INF/jsp/global/frontend_config.jsp#L12

[2018-05-23 21:46] onursumer commented on #4266
Apparently we have two separate properties in `portal.properties` for OncoKB URL: `oncokb.api.url` and `oncokb.public_api.url`.

@jjgao Is it safe to ignore `oncokb.public_api.url` value if `oncokb.api.url` value exists?

[2018-05-23 21:57] onursumer commented on #4266
@priti88 for now, instead of `oncokb.api.url` can you try setting `oncokb.public_api.url` and see if it works?

[2018-05-23 23:57] naismith15 opened #4268 "keycloak link is outdated"
the link to the keycloak installation instruction mentioned [here](https://github.com/cBioPortal/cbioportal/blob/master/docs/Authenticating-and-Authorizing-Users-via-keycloak.md) are outdated.

the new link is:
https://www.keycloak.org/docs/latest/server_installation/index.html

[2018-05-24 13:25] sandertan opened #4269 "Navigating back to OncoPrint renders black box in Safari"
To reproduce:
1. Query with Safari 11.1
2. Navigate from OncoPrint to a different tab
3. Navigate back to OncoPrint
<img width="1237" alt="screen shot 2018-05-24 at 15 13 41" src="https://user-images.githubusercontent.com/9624990/40488062-264e5b08-5f66-11e8-880b-2f79e9d4e585.png">

When switching tabs again, OncoPrint becomes completely white

<img width="1222" alt="screen shot 2018-05-24 at 15 21

[2018-05-24 14:10] #4265 closed

[2018-05-24 15:10] priti88 commented on #4266
it doesn't work.
<img width="1428" alt="screen shot 2018-05-24 at 11 09 53 am" src="https://user-images.githubusercontent.com/1380237/40494507-04a8450e-5f43-11e8-865e-616d589e2082.png">

[2018-05-24 16:12] priti88 commented on #4266
Actually, it calls our oncokb instance now, so that part works. But, oncokb returns error. I will look into the error.
Thanks

[2018-05-24 21:37] #4259 closed

[2018-05-24 21:53] alisman opened #4271 "Error in survival chart in latest rc"
If you run latest rc frontend against cbioportal.org/rc/
Go to survival chart, hover over data point, there is a run time error when creating tooltip.  Must be some data change.

[2018-05-24 21:55] alisman opened #4272 "Oncokb graceful failure when service errors or is turned off"
Features on results page and patient page should not break when oncokb errors or is turned off

[2018-05-24 21:58] alisman opened #4273 "Even with HTML5 routing we still need to use hash to convey extremely long data (patient lists)"

[2018-05-24 22:26] adamabeshouse commented on #4039
done in https://github.com/cBioPortal/cbioportal-frontend/pull/1198/

[2018-05-24 22:28] #4039 closed

[2018-05-24 22:42] ersinciftci commented on #4271
I just tested with latest rc backend and rc frontend on my local, didn't get any error.

[2018-05-25 13:31] ersinciftci opened #4274 "Bar Chart APIs for the new Study View"

[2018-05-25 15:40] alisman commented on #4271
Problem resolved when i reinstalled npm and ran npm build. no idea!

[2018-05-25 15:40] #4271 closed

[2018-05-25 18:10] priti88 opened #4275 "Error in the cgdsr package"
User reported issue : https://groups.google.com/forum/#!topic/cbioportal/bmTUjLCTqN8

Hello,
I noticed that getGeneticProfiles() in the cgdsr R package is failing for the tcga_pan_can_atlas_2018 datasets (e.g. "laml_tcga_pan_can_atlas_2018", "acc_tcga_pan_can_atlas_2018”, "blca_tcga_pan_can_atlas_2018", "lgg_tcga_pan_can_atlas_2018” or "brca_tcga_pan_can_atlas_2018")

The error message I'm getting

[2018-05-25 19:19] #4266 closed

[2018-05-25 19:27] priti88 commented on #3072
@zhx828 I tested this on cbioportal.org and looks like this issue was fixed. Can you test once and close it? Thanks

[2018-05-27 02:01] #4181 closed

[2018-05-27 02:07] jjgao opened #4276 "remove data_priority parameter from url"
When cleaning up URL / query parameters, let's remove data_priority:

- [ ] replace data_priority url with q_mutation (boolean) and q_cna (boolean) for new sessions
- [ ] but support data_priority that were in old sessions

[2018-05-27 02:09] jjgao commented on #4248
@adamabeshouse LOL -- I mean vocano plot. I guess I need vacations.

[2018-05-27 02:10] jjgao commented on #4248
@ersinciftci great. Hopefully it's trivial to add the p-value. Could you test the performance?

[2018-05-27 02:10] jjgao commented on #4248
@adamabeshouse @ersinciftci this one doesn't have to be in 1.14.0.

[2018-05-27 02:12] jjgao commented on #3979
I guess it has not been pushed out?

[2018-05-27 02:13] jjgao commented on #4262
fixed in https://github.com/cBioPortal/cbioportal/issues/3979. Will push out soon.

[2018-05-27 02:13] #4262 closed

[2018-05-27 02:16] jjgao commented on #4263
@pieterlukasse we plan to switch to oncokb cancer genes, but it's keeping falling between the cracks.

https://github.com/cBioPortal/cbioportal/issues/2902

@zhx828 let's do it soon once you are back.

[2018-05-27 02:16] jjgao commented on #4263
also added @kalletlak to this...

[2018-05-27 02:19] jjgao commented on #4242
will test this in beta and decide.

[2018-05-27 02:26] jjgao commented on #4273
If session service is not available, then use post.

[2018-05-27 02:31] jjgao opened #4277 "Why do we have oncokb.public_api.url and oncokb.api.url ?"

[2018-05-27 02:32] jjgao commented on #4266
https://github.com/cBioPortal/cbioportal/issues/4277

[2018-05-27 03:00] khzhu commented on #4268
@jjgao , no problems, I will update the link tomorrow.

[2018-05-29 07:21] messersc opened #4279 "Patient view: Overview of mutation and CNA distribution + VAF density plot missing"
Hi,

in our portal instance, we do have the problem that the overview bar does not show up. I attached a screenshot below from cbioportal.org, where it is shown so you know what I mean.

![image](https://user-images.githubusercontent.com/9218116/40643735-5edf5cec-6321-11e8-9856-b0db0cc18566.png)

I just tried to import one of the studies with the problem again with the newest `rc` because I saw th

[2018-05-29 14:06] jjgao commented on #4279
@messersc do you have copy number segments data imported?

[2018-05-29 14:31] messersc commented on #4279
Yes, we do. The validator lets them pass and this is what I see in the database:

[code]

[2018-05-29 14:47] jjgao commented on #4279
@messersc hmm.. strange. Could you try to query the study and see if the CN Segments tab comes up?

![image](https://user-images.githubusercontent.com/840895/40666458-bd1313b0-632d-11e8-8b9a-5f25b18c4ecf.png)

[2018-05-29 14:48] jjgao commented on #4279
And is there any JS error?

[2018-05-29 14:55] messersc commented on #4279
The CN Segments tab comes up fine and the data there makes sense, as far as I can see.

Where do I look for JS errors? Page seems to load fine, I tried Firefox under Linux and Windows as well as IE 11.

[2018-05-29 15:36] #4180 closed

[2018-05-29 16:31] alisman opened #4280 "Tab style on enrichments"
@jjgao @inodb @ersinciftci  Should we use the "pill" tab style for these secondary tabs?  Just as we do for genes?   Or perhaps introduce another tab style to keep it separate? Lets discuss.

![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/4a77a749-c8c6-4091-8518-7c1c5f467cdb)

[2018-05-29 17:34] adamabeshouse commented on #4269
strange.. i cant reproduce in safari 9.1.3
any console errors?

[2018-05-29 17:36] adamabeshouse commented on #4269
seems potentially related to this https://bugs.webkit.org/show_bug.cgi?id=181317

[2018-05-29 17:36] adamabeshouse commented on #4269
we might need to turn on antialiasing in safari, which will make the oncoprint less crisp, edges a little fuzzier https://bugs.webkit.org/show_bug.cgi?id=181007 @jjgao

[2018-05-29 18:24] ersinciftci opened #4282 "New Study View APIs multi-study support"

[2018-05-29 20:02] #4256 closed

[2018-05-29 20:26] #3159 closed

[2018-05-30 03:53] schultzn opened #4285 "1.14 beta Enrichments tab: Query genes should not appear in the enrichments test"
KRAS and NRAS should not appear as significantly co-altered genes - try the first example query to see what I mean.

![image](https://user-images.githubusercontent.com/11892704/40698097-65f03432-639b-11e8-9cf0-a3dd6683b5ac.png)

[2018-05-30 03:54] schultzn opened #4286 "1.14 beta Enrichments tab: Copy and Download buttons out of place"
![image](https://user-images.githubusercontent.com/11892704/40698117-83daa7f2-639b-11e8-8aed-35f2483757b9.png)

[2018-05-30 03:57] schultzn opened #4287 "1.14 beta Enrichments tab: Sub-tab headers look a little big"
The Mutations / Copy-number / mRNA tab headers look bigger than most other control elements in cBioPortal:

![image](https://user-images.githubusercontent.com/11892704/40698213-f71427a2-639b-11e8-9b13-824b45022b41.png)

[2018-05-30 04:05] schultzn opened #4288 "1.14 beta co-expression tab: Axis labels in log scale"
When applying log scale, the scaling of the axes is strange - it looks like the numbers don't get converted to log scale, but the axis scaling changes. That may be fine, but the tick marks should be evenly spaced integers.

Also, the y-axis label overlaps the axis numbers.

![image](https://user-images.githubusercontent.com/11892704/40698418-e098e4d0-639c-11e8-8768-ae0d8a624b95.png)

[2018-05-30 04:08] schultzn opened #4289 "1.14 beta co-expression tab: Move plot down?"
Would this look better if the sentence about the selected gene was on one line above the table and the graph, and the table and graph were top aligned?

![image](https://user-images.githubusercontent.com/11892704/40698552-952946ba-639d-11e8-95fc-daf88136eb0f.png)

[2018-05-30 04:10] schultzn opened #4290 "1.14 beta co-expression tab: cytoband filter only supports one cytoband"
The new cytoband filter is great, but should a user be able to filter by multiple cytobands, e.g. "-1p -11p"?

![image](https://user-images.githubusercontent.com/11892704/40698606-cf5c8194-639d-11e8-82b9-43d39064fe0c.png)

[2018-05-30 07:21] messersc commented on #4279
I checked that the sample IDs in the segments file match the others, from what I see in the database they are also matched to the right patient:

[code]

[code]

I will post the JS logs in the next comment.

[2018-05-30 07:38] messersc commented on #4279
I am sorry if the following is not very readable, I was not able to find out how to paste Firefox console output in a better way.

From the browser console:

[code]

And in the web console there is a bit more info:

[code]

[2018-05-30 08:54] pieterlukasse opened #4291 "Add Total mutation "clinical attribute" to Plots tab"
Currently "Total mutations" is a "clinical attribute" in the onconprint. See screenshot below:

![image](https://user-images.githubusercontent.com/2900303/40709877-7e289eca-63f7-11e8-9574-56f8e2cd4ef0.png)

It would be good to also list this "clinical attribute" in the new Plots tab, so that both oncoprint and the plots tab are aligned on the list of clinical attributes they present.

[2018-05-30 08:55] pieterlukasse commented on #4291
hi @adamabeshouse , I discussed this with @jjgao and he thought it would be a good idea to add this to the new Plots tab that you are working on.

[2018-05-30 12:19] sandertan opened #4292 "'PubMed' in Study Summary should be hidden when not available"
For example, for PanCancer Atlas no PubMed IDs are available (perhaps this is an other issue). On the Query page this is correctly greyed out, but on the Study Summary page the text is still present and active

<img width="754" alt="screen shot 2018-05-30 at 14 03 16" src="https://user-images.githubusercontent.com/9624990/40719605-60ae2546-6414-11e8-82d1-3f3bde010d3f.png">

It links to a "page not

[2018-05-30 13:00] pieterlukasse opened #4293 "Plots tab empty in GENIE study"
Plots tab is empty, as shown in screenshot below:

![image](https://user-images.githubusercontent.com/2900303/40721380-a1b580de-6419-11e8-8273-e6060c0e9ae0.png)

Steps to reproduce:
- do a query on the GENIE study
- go to plots tab and select Age clinical attribute versus another clinical attribute for which there is data (like Oncotree code)

[2018-05-30 13:00] pieterlukasse commented on #4293
Notify: @schultzn

[2018-05-30 13:43] ersinciftci commented on #4285
@schultzn it was a feature requested by @jjgao

[2018-05-30 13:43] ersinciftci commented on #4287
We can merge this issue with https://github.com/cBioPortal/cbioportal/issues/4280

[2018-05-30 14:02] tmazor opened #4294 "1.14 beta co-expression dataset tooltips updates"
I like the additional of a tooltip for the dataset selector, but I have a few tweaks:

The oncotree code should be in all capitals ("digf" in screenshot below):
![image](https://user-images.githubusercontent.com/10508276/40724897-24a1211c-63f0-11e8-961f-071e738cb621.png)

The RPPA tooltip should also list the number of genes/samples like the mRNA tooltip does:
![image](https://user-images.githubus

[2018-05-30 14:07] schultzn commented on #4285
I see. I found it very confusing - but happy to discuss with @jjgao.

[2018-05-30 14:12] alisman commented on #4287
duplicate of #4280

[2018-05-30 14:12] #4287 closed

[2018-05-30 14:13] tmazor opened #4295 "1.14 beta coexpression - table sometimes doesn't filter"
Go to the coexpression tab for this query:
http://www.cbioportal.org/beta/index.do?cancer_study_id=lgg_tcga&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=lgg_tcga_cnaseq&gene_list=IDH1%2520EGFR%2520PTEN&geneset_list=+&tab_index=tab_visualize&Action=Submit&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=lgg_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION

[2018-05-30 14:16] tmazor opened #4296 "1.14 beta coexpression - copy doesn't work"
When I click the copy button, the "Copied!" tooltip appears, but it doesn't actually copy anything.

[2018-05-30 14:23] tmazor opened #4297 "1.14 beta coexpression - axis labels need more digits"
This plot has "2k", "3k" and "4k" appearing multiple times on both the x and y axis:
![image](https://user-images.githubusercontent.com/10508276/40726271-63f38ef6-63f3-11e8-8d88-13bb8d4358f5.png)

http://www.cbioportal.org/beta/index.do?cancer_study_id=lgg_tcga&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=lgg_tcga_cnaseq&gene_list=IDH1%2520EGFR%2520PTEN&geneset_list=+

[2018-05-30 14:33] alisman commented on #4289
@schultzn i agree.
Maybe we don't need "table" but just "Genese with highest expression correlation"
The instructions ("Click on a row ...") should perhaps be in a lighter color.  @adamabeshouse try
.text-muted and <small>

[2018-05-30 14:35] tmazor opened #4298 "1.14 beta coexpression - axis labels should specify the data being plotted"
The old coexpression plot axis labels included the specific data being shown (e.g. "mRNA expression (RNA Seq V2 RSEM)") and included "(log2)" when log-scale was applied.

The new coexpression axis labels list the gene name & cytoband (which is great!) but not the actual data being plotted. Can we add a description of the specific data being plotted, like in the old version?

[2018-05-30 14:46] tmazor opened #4299 "1.14 beta coexpression - filtering by cytoband filters out partial matches also"
If I use the filter box to exclude alterations on 7p ("-7p"), then as far as I can tell, that also removes anything on 17p.

Is there a way that we can implement this filtering to be a little smarter so it doesn't filter out more than I want?

[2018-05-30 15:01] ersinciftci commented on #4286
@alisman I just opened a PR that also fixes this https://github.com/cBioPortal/cbioportal-frontend/pull/1209

[2018-05-30 15:13] oplantalech opened #4300 "New oncoprint breaks when patient id contains a colon"
When loading a study that has a patient id that contains a colon (e.g. `PAT1:3`), the OncoPrint appears as empty. This was not happening in the old OncoPrint (before the refactoring). @adamabeshouse since you've refactored the OncoPrint, can you check why is this happening?

[2018-05-30 15:45] tmazor opened #4301 "1.14 beta enrichments - typo in tooltip"
The last word of both tooltips should be "group" not "groups"

![image](https://user-images.githubusercontent.com/10508276/40728850-04fdc528-63f9-11e8-8b55-b38eb124e569.png)

![image](https://user-images.githubusercontent.com/10508276/40728855-0b82e4e6-63f9-11e8-9508-1090a3d9c075.png)

[2018-05-30 16:05] fedde-s commented on #2478
I'm running into this issue as well, when I run the latest mysql:8.0 [from Docker Hub](https://hub.docker.com/_/mysql/). I could work around it by reverting to mysql:5.7 for now, but we should solve it eventually.

[2018-05-30 16:09] fedde-s commented on #2478
For completeness, I'm using the latest seed DB from Datahub, not the outdated ones you linked.

[2018-05-30 16:12] fedde-s commented on #2478
Could we change `cgds.sql` to use a `varchar(255)`, if that's the solution? Maybe even in v1.13.1 or v1.14.0, since it is a bugfix?

[2018-05-30 16:39] ritikakundra opened #4302 "PUBMED link shows up in studies with no references."
Even though the meta_study is empty for a pmid, studies will still show the pubmed link which leads to https://www.ncbi.nlm.nih.gov/pubmed/undefined.
https://cbioportal.mskcc.org/study?id=mixed_pdx_aacf#summary

[2018-05-30 16:42] fedde-s commented on #2478
If it's too much for v1.13.1, we should probably add a warning that we only support MySQL up to 5.7.x for now, to both the system requirements page and the page on loading the seed db.

[2018-05-30 17:46] tmazor opened #4303 "1.14 beta coexpression - info button should be black"
The little info button is black in other places on the site (e.g. mutations tab) but blue here. Let's make it black for consistency.
![image](https://user-images.githubusercontent.com/10508276/40737827-d80636ba-640f-11e8-9d67-16b6daa5e4b7.png)

[2018-05-30 17:57] tmazor opened #4304 "1.14 beta enrichments - mutual exclusivity/co-occurence colors"
The old site used red/green colors in the log ratio column which were consistent with the colors of the label axes on the volcano plot. Let's use the same blue/red in this column that we are using for the axis labels in the volcano plot (rather than the green that is currently in place)

Also, it looks like we swapped the colors - on the old site red was mutual exclusivity and now red is co-occure

[2018-05-30 18:05] tmazor opened #4306 "1.14 beta enrichments - standardize font usage"
It looks to me like there are many different fonts being used in the volcano plots & the stacked bar chart. Can this please be standardized?

For example:
![image](https://user-images.githubusercontent.com/10508276/40738794-7de32eb0-6412-11e8-9775-5898d5de73b7.png)

[2018-05-30 18:31] adamabeshouse commented on #4303
https://github.com/cBioPortal/cbioportal-frontend/pull/1210

[2018-05-30 18:32] adamabeshouse commented on #4295
ah okay, thanks @ersinciftci

[2018-05-30 18:59] tmazor opened #4307 "1.14 beta enrichments - adjust column widths"
I think it looks funny when the p/q-value columns are so narrow that the text runs over into a second line. This seems to happen when the "significant" tag makes the "tendency" column very wide.
![image](https://user-images.githubusercontent.com/10508276/40741557-d92310b8-6419-11e8-9b72-e6d86b62d623.png)

Can we make it so the "significant" tag is always on a second line
(like this: ![image](https

[2018-05-30 19:00] jjgao opened #4308 "[beta] the new cross study case set select seems nor working"
for example, I selected "Cases with mutations data" in this query:

http://www.cbioportal.org/beta/index.do?session_id=5b0ef445498eb8b3d5665c5e

but all samples were included including the ones without mutations.

[2018-05-30 19:09] jjgao commented on #4308
@kalletlak I am a bit struggle with whether we should select `cases with both mut and cna` or `all cases` by default when a user selecting multiple studies. I am leaning towards `all cases` since a user could select a few studies with mutations ony and one tcga study with both.

@adamabeshouse could you make sure we show the additional track that indicate samples that are not covered. It seems not

[2018-05-30 19:11] jjgao opened #4310 "profiled track not appearing from cross-study queries"
could you make sure we show the additional tracks that indicate samples that are not covered by certain profiles. It seems not working for multi-study queries. e.g.

http://www.cbioportal.org/beta/index.do?session_id=5b0ef717498eb8b3d5665c70

![image](https://user-images.githubusercontent.com/840895/40742064-4ff877fe-641b-11e8-9fef-0e781a455ac4.png)

[2018-05-30 19:15] adamabeshouse commented on #4295
https://github.com/cBioPortal/cbioportal-frontend/pull/1210

[2018-05-30 19:17] adamabeshouse commented on #4294
@tmazor I'm just putting the description from the database. Do we want to make these changes on the frontend or data-side?

[2018-05-30 19:27] jjgao commented on #4288
It's very hard to have integer tick marks that are evenly spaced after log.

@adamabeshouse let's use logged tick marks? Please also add (log10) in axis label after doing that.

[2018-05-30 19:29] jjgao commented on #4280
@alisman Maybe we can use the "pill" tab but use a different color?

[2018-05-30 19:35] adamabeshouse commented on #4310
@jjgao the tracks only show if there are samples that are not profiled

[2018-05-30 19:35] adamabeshouse commented on #4310
eg http://www.cbioportal.org/beta/index.do?cancer_study_id=all&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=0&gene_list=EGFR%2520HCL1&geneset_list=%20&tab_index=tab_visualize&Action=Submit&cancer_study_list=acc_tcga%2Cchol_nccs_2013%2Cmsk_impact_2017&show_samples=false&clinicallist=CANCER_STUDY%2CPROFILED_IN_COPY_NUMBER_ALTERATION%2CPROFILED_IN_MUTATION_EXTENDED

[2018-05-30 19:39] jjgao commented on #4269
I have moved this one to icebox for now for the following reasons:

- it seems to be a difficult bug
- we have about 5% of users using Safari 11 or above
- the oncoprint tab is working initially
- only a fraction of users will go to another tab and come back to oncoprint
- while this is annoying, a user can reload the page to fix it
- maybe it's Sarari browser bug that will be solved later

Let's

[2018-05-30 19:40] jjgao commented on #4282
@ersinciftci what data will be exposed?

[2018-05-30 19:46] jjgao commented on #4279
@alisman any insights?

[2018-05-30 19:47] jjgao commented on #4292
@kalletlak could you help to fix this one on master?

[2018-05-30 19:47] jjgao commented on #4302
duplicate with https://github.com/cBioPortal/cbioportal/issues/4292

[2018-05-30 19:47] #4302 closed

[2018-05-30 19:51] jjgao commented on #4310
@adamabeshouse the samples from `Cholangiocarcinoma (National Cancer Centre of Singapore, Nat Genet 2013)` have no CNA data...

[2018-05-30 19:59] jjgao commented on #4285
I found it confusing too. Maybe we should remove the query genes. @tmazor @ersinciftci thoughts?

[2018-05-30 20:01] tmazor opened #4311 "enrichments tab - new tooltips"
I find that the tooltips on the "Percentage of alteration in altered group" and "Percentage of alteration in unaltered group" columns are not as clear as they could be.

Let's replace the tooltip text for those columns with:
Number (percentage) of samples that have alterations in the query gene(s) that also have alterations in the listed gene.
Number (percentage) of samples that do not have altera

[2018-05-30 20:06] ersinciftci commented on #4280
I think pill is more appropriate for cases that changing the selection doesn't change the UI layout, like gene selection. I think in here it should look more like actual tabs.

[2018-05-30 20:07] schultzn commented on #4311
I like these proposals!

[2018-05-30 20:08] adamabeshouse commented on #4310
@jjgao for each sample we're only considering profiles from its study, because otherwise we'd be showing "Sample X from coadread_tcga_pub is not sequenced in impact mutations". I see that in this case though it makes sense to show if samples dont have CNA data...

[2018-05-30 20:08] tmazor opened #4312 "1.14 beta enrichments - change text for copy number subtab tables"
I think the text for the copy-number subtab is out of order -- the difference between the two tables is Deep Deletion vs Amplification but that's hidden at the end of a long line of text in parentheses:
![image](https://user-images.githubusercontent.com/10508276/40744659-492cb39c-6423-11e8-8798-319b3c2bc61f.png)

Let's use this text instead:
Deep Deletion (putative copy-number alterations from GIS

[2018-05-30 20:09] jjgao opened #4313 "why so many rows with q-value of 0.64 in the query below?"
http://www.cbioportal.org/beta/index.do?session_id=58c01624498e5df2e29105bb

![image](https://user-images.githubusercontent.com/840895/40331463-77471cc4-5d1e-11e8-986d-2be047ef0274.png)

[2018-05-30 20:10] tmazor opened #4314 "1.14 beta enrichments - minor request for whitespace"
Can we have a little bit more whitespace in between the end of the deletion table and the amplification header?

![image](https://user-images.githubusercontent.com/10508276/40744889-f4268354-6423-11e8-92c6-6108ad82b540.png)

[2018-05-30 20:15] ersinciftci commented on #4282
@jjgao all New Study View APIs should should multi-study queries, because study view supports multiple study selection. So I assume there is no change in the data returned from the APIs, just the request format. And the new request format will be more clear once I spend some time on this issue.

[2018-05-30 20:16] adamabeshouse commented on #4293
i don't know the legacy plots code. is it worth it to fix this vs just wait for the refactor?

[2018-05-30 20:18] adamabeshouse commented on #4298
We decided to do this to use the space for cytoband, because the data is the same on both axes, and specified by the title of the plot.

[2018-05-30 20:21] adamabeshouse commented on #4299
we can change the cytoband search to do a match only from start of string.. that actually makes more sense in general I think. what do you think? @tmazor @jjgao  that would solve this problem

[2018-05-30 20:22] adamabeshouse commented on #4289
@schultzn @alisman That sounds fine to me. @alisman I think you trailed off there

[2018-05-30 20:28] jjgao commented on #4304
@tmazor @ersinciftci I would propose to remove the color, ie. use black.

[2018-05-30 20:29] jjgao commented on #2478
@fedde-s good point. Could you add it to the document?

[2018-05-30 20:29] adamabeshouse commented on #4289
got it, thanks

[2018-05-30 20:34] jjgao commented on #4294
@tmazor which study is this? is `difg` in the case list name? If so, we need to fix the data.

@adamabeshouse is it easy to get the number of samples? It should be the number of profiled and selected samples.

[2018-05-30 20:36] adamabeshouse commented on #4296
apparently this is because its taking too long to copy, the browser won't dump the result into the clipboard. i dont think its worth working out, ill just hide the copy button

[2018-05-30 20:38] adamabeshouse commented on #4294
Sure. so what should the message be - should I disregard the description that comes back from the database, or add onto it? Do I need to detect whether the description already mentions it, or just add the information no matter what?

[2018-05-30 20:39] adamabeshouse commented on #4291
@pieterlukasse is this the same issue we were discussing with Sjoerd in slack? regarding this RFC https://docs.google.com/document/d/1BvMxEi6MDAnLJu9GS8ZQ0liExSKmmbAPyfywpLAgNSA/edit#

[2018-05-30 20:39] jjgao commented on #4307
Good point. Since usually not many rows will have the Significant label, let's put `significant` in separate row under `co-occurrence`/`mutex`?

[2018-05-30 20:40] adamabeshouse commented on #4300
@jjgao what should we do about this? i am almost positive this is related to our study:sample encoding scheme

[2018-05-30 20:43] jjgao commented on #4300
@oplantalech colon is reserved now for separating study_id and sample_id. You should normalize IDs before importing into the database: https://github.com/cBioPortal/datahub/issues/192

[2018-05-30 20:43] #4300 closed

[2018-05-30 20:48] ersinciftci commented on #4313
Same in the current old page http://www.cbioportal.org/index.do?session_id=58c01624498e5df2e29105bb

[2018-05-30 20:51] jjgao commented on #4280
@ersinciftci agreed. @alisman could you help improve the style, reduce white space etc?

[2018-05-30 20:52] jjgao commented on #4311
@tmazor sounds good! 👍

[2018-05-30 20:54] alisman opened #4316 "Change format of links to patient page"
Links to patient page need to change

FROM hash fragment format:
/case.do#/patient?studyId=ucec_tcga_pub&caseId=TCGA-BK-A0CC

TO HTML5 history format
/patient?studyId=ucec_tcga_pub&caseId=TCGA-BK-A0CC

Old links will still work (they'll be redirected).

[2018-05-30 20:56] jjgao commented on #4310
@adamabeshouse agreed that "for each sample we're only considering profiles from its study". In this case, we should have a track to show samples without CNA data...

When querying both mutation and CNA
![image](https://user-images.githubusercontent.com/840895/40747055-3028d2f2-642a-11e8-8a46-4fccda888174.png)

When query only CNA
![image](https://user-images.githubusercontent.com/840895/40747128-

[2018-05-30 20:57] alisman opened #4317 "Change oncoprint tooltips patient links to new format (see Epic)"
Change oncoprint tooltips patient links to new format (see Epic)

[2018-05-30 21:05] jjgao commented on #4299
@adamabeshouse maybe instead of "mRNA co-expression", you can put the profile name? It can be useful when people are using the figure outside the portal.

[2018-05-30 21:05] jjgao commented on #4298
@adamabeshouse maybe instead of "mRNA co-expression", you can put the profile name? It can be useful when people are using the figure outside the portal.

[2018-05-30 21:07] jjgao commented on #4299
@adamabeshouse good idea.

[2018-05-30 21:11] jjgao commented on #4294
@adamabeshouse you can still use the description for the tooltip. For the dropdown, maybe add a number to each profile, e.g. `mRNA expression (RNA Seq V2 RSEM) (xxx samples)`

[2018-05-30 21:12] jjgao commented on #4296
ok.

[2018-05-30 21:14] jjgao commented on #4313
hmmm... just curious how it was calculated?

[2018-05-30 21:17] jjgao commented on #4254
@tmazor any thoughts on this?

[2018-05-30 21:22] alisman commented on #4317
Figured out where this takes place.

[2018-05-30 21:22] #4317 closed

[2018-05-30 21:36] adamabeshouse commented on #4299
https://github.com/cBioPortal/cbioportal-frontend/pull/1210

[2018-05-30 21:38] adamabeshouse commented on #4298
that makes sense

[2018-05-30 21:40] adamabeshouse commented on #4298
https://github.com/cBioPortal/cbioportal-frontend/pull/1210

[2018-05-30 21:59] adamabeshouse commented on #4288
https://github.com/cBioPortal/cbioportal-frontend/pull/1210

[2018-05-30 22:56] adamabeshouse commented on #4289
how does this look?
![image](https://user-images.githubusercontent.com/636232/40751887-20793174-643b-11e8-8649-0b426a23c63a.png)

[2018-05-30 23:42] schultzn commented on #4289
Better!

Maybe the line “click on a row ...” could be moved above the graph somewhere and be rephrased slightly to “click on a row in the table on the left to ...”?

[2018-05-31 07:45] pieterlukasse commented on #2595
@zhx828 any news on this one?

[2018-05-31 08:46] pieterlukasse opened #4318 "Plots tab missing mutation overlay when sample ids are not UPPERCASE"
When sample ids are *not* UPPERCASE, then plots tab misbehaves and does not annotate the points with their respective mutation status.

Steps to reproduce:

1. go to http://www.cbioportal.org/index.do?session_id=5b07d63d498eb8b3d5664b69&show_samples=true . Notice there are a number of samples with mutations (screenshot below)
![image](https://user-images.githubusercontent.com/2900303/40772390-1ec1

[2018-05-31 08:53] pieterlukasse commented on #4318
Next to the *"The Metastatic Breast Cancer Project (Provisional, April 2018)"*, the study *"Pan-Lung Cancer (TCGA, Nat Genet 2016)"* has the same problem, as shown in screenshot below:

![image](https://user-images.githubusercontent.com/2900303/40772636-d59f1052-64c0-11e8-9b15-ecd69a44f32b.png)

[2018-05-31 08:55] pieterlukasse commented on #4318
Notify: @jjgao, @adamabeshouse

[2018-05-31 12:57] tmazor commented on #4299
@adamabeshouse sounds good to me too

[2018-05-31 12:58] jjgao opened #4319 "frontend cache"
For example, we can cache the study meta data.

https://developers.google.com/web/tools/chrome-devtools/manage-data/local-storage

[2018-05-31 13:00] tmazor commented on #4294
@jjgao that screenshot is from the lgg_tcga study

[2018-05-31 13:02] tmazor commented on #4285
I also find it confusing. Let's remove the query genes.

[2018-05-31 13:19] tmazor opened #4320 "1.14 beta enrichments - tooltip has extra spaces"
Let's move the colon in the q-value line to be aligned with the lines above it.
![image](https://user-images.githubusercontent.com/10508276/40784351-72b6ae3a-64b3-11e8-92b6-c545b091c344.png)

And on a related note - can we also line up the spacing in the Tendency tooltip on the MutEx tab:
![image](https://user-images.githubusercontent.com/10508276/40784436-a7eceaec-64b3-11e8-8100-f2f31014a73c.png)

[2018-05-31 13:27] ersinciftci commented on #4255
I don't think beta has this problem, so closing it.

[2018-05-31 13:27] #4255 closed

[2018-05-31 13:28] ersinciftci commented on #4280
@jjgao I talked to @alisman , will try to reduce the empty spaces to make it smaller.

[2018-05-31 13:31] tmazor opened #4321 "1.14 beta enrichments - make filtering by cytoband consistent with coexpresion tab"
The coexpression tab includes the ability to filter to remove a particular cytoband (e.g. -9p). Can we replicate this functionality to the enrichments tab table?

[2018-05-31 13:31] ersinciftci commented on #4313
Benjamini–Hochberg false discovery rate

[2018-05-31 13:35] jjgao commented on #4285
Should we keep the query genes for the types of data that were not queried? e.g. if the user querried for mutation and copy number, should we keep the query genes for mrna and protein? @schultzn @tmazor

[2018-05-31 13:35] tmazor opened #4322 "1.14 beta enrichments - add # of samples to dataset dropdowns"
On the enrichments tab mRNA/protein subtabs, there is a dropdown to select the dataset. Can we add the number of samples available for each dataset?

@ersinciftci you should talk to @adamabeshouse about this because I made the same request for the coexpression tab #4294

[2018-05-31 13:39] ersinciftci commented on #4312
`Putative copy-number alterations from GISTIC` is the name of the molecular profile, not sure if it's a good idea to put it in parentheses. We don't put the name of the molecular profiles in parentheses in Mutation, mRNA and Protein tabs. Maybe `Deep Deletion - Putative copy-number alterations from GISTIC` or `Deep Deletion: Putative copy-number alterations from GISTIC`?

[2018-05-31 13:39] jjgao commented on #4318
@adamabeshouse let's address this in the refactored code -- hopefully it's already done :)

[2018-05-31 13:44] jjgao commented on #4313
@ersinciftci I see. Maybe we should use the same one for Mutex then?

[2018-05-31 13:46] jjgao commented on #4321
good idea. adding @adamabeshouse to this too.

[2018-05-31 13:52] ersinciftci commented on #4313
Mutex is just `pValue * totalCount`, so you will almost always see `1`s as q-value if we use it.

[2018-05-31 13:58] tmazor commented on #4311
As long as we're changing these tooltips, let's actually make them specific to the data in the table. Here are tooltips for each of the different tables on the page:

Mutations:
Number (percentage) of samples that have alterations in the query gene(s) that also have a mutation in the listed gene.
Number (percentage) of samples that do not have alterations in the query gene(s) that have a mutation

[2018-05-31 14:02] tmazor opened #4323 "1.14 beta enrichments - mRNA boxplot is misaligned"
Go to Enrichments/mRNA/microarray expression and click on any gene. The box plot that appears has some formatting problems:
![image](https://user-images.githubusercontent.com/10508276/40786672-9859d652-64b9-11e8-8765-8f0e10ebfdf9.png)
![image](https://user-images.githubusercontent.com/10508276/40786681-9d90a1e6-64b9-11e8-8607-6a91875b9ba9.png)

http://www.cbioportal.org/beta/index.do?cancer_study_

[2018-05-31 14:06] tmazor opened #4324 "1.14 beta enrichments - when query is long, x-axis label on box plot extends over plot boundary"
The end of the q-value extends beyond the dotted line:
![image](https://user-images.githubusercontent.com/10508276/40786883-300536c2-64ba-11e8-81d7-6704d36a2851.png)

http://www.cbioportal.org/beta/index.do?cancer_study_id=lgg_tcga&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=lgg_tcga_cnaseq&gene_list=CDKN2A%2520PTEN%2520EGFR%2520CDKN2B%2520PIK3CA&geneset_list=+&tab_index

[2018-05-31 14:08] tmazor commented on #4323
This also happens for RPPA data:
![image](https://user-images.githubusercontent.com/10508276/40787004-842fcece-64ba-11e8-8481-5c04538cf941.png)

[2018-05-31 14:29] schultzn commented on #4285
Sounds like a good idea. But does this introduce additional logic that has to be built in? How complex is that?

[2018-05-31 14:32] ersinciftci commented on #4313
@jjgao ah, you mean change the Mutex tab to use Benjamini–Hochberg?

[2018-05-31 14:38] tmazor opened #4325 "enrichments plots formatting"
On the enrichments tab, the volcano plot & box plot have different formatting: the colors/transparency are different & the box plot has a line around each dot which the volcano doesn't have.

Is this something that bothers anyone else or it is just me?

If it's not just me, I'm not sure what the optimal solution is, but I'm curious if there are any simple tweaks we could make to make them look mor

[2018-05-31 14:41] alisman commented on #4325
@tmazor 100% agree we should strive for consistency.   We'll work on this.

[2018-05-31 14:42] tmazor commented on #4323
As far as I can tell, this happens anytime there is negative data.

[2018-05-31 14:44] pieterlukasse commented on #4291
@adamabeshouse not the same issue. Actually I would like to assign this one to @oplantalech and log a new one for the one you mentioned, and perhaps assign to you?

[2018-05-31 14:47] tmazor opened #4327 "1.14 beta coexpression - legend is truncated when gene name is long"
![image](https://user-images.githubusercontent.com/10508276/40789260-fff11d7e-64bf-11e8-82d6-61d62be3d645.png)

http://www.cbioportal.org/beta/index.do?session_id=5b100ad2498eb8b3d5665f8b

[2018-05-31 14:51] ersinciftci commented on #4325
FYI, I just made it look like the current page, I didn't put any personal preference in it, so I'm ok with any style :)

[2018-05-31 14:54] tmazor opened #4329 "1.14 beta coexpression - query genes appear in two rows rather than one row with arrows"
New coexpression tab:
![image](https://user-images.githubusercontent.com/10508276/40789649-eb9cf068-64c0-11e8-8a77-dad3d2ac4fd2.png)

Mutations tab:
![image](https://user-images.githubusercontent.com/10508276/40789637-e4b6ffb4-64c0-11e8-8b5a-7eafe5cab11b.png)

[2018-05-31 14:58] tmazor commented on #4329
Also the CN Segments tab:
![image](https://user-images.githubusercontent.com/10508276/40789867-7649c786-64c1-11e8-8ace-9370e17a8556.png)

[2018-05-31 15:00] tmazor opened #4330 "1.14 beta enrichments - protein table extends over the page border"
The table extends too far to the right:
![image](https://user-images.githubusercontent.com/10508276/40790018-c8dd2dc6-64c1-11e8-979a-7a4c490dd970.png)

http://www.cbioportal.org/beta/index.do?cancer_study_id=lgg_tcga&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=lgg_tcga_cnaseq&gene_list=RB1%2520RBL1%2520RBL2%2520CCNA1%2520CCNB1%2520CDK1%2520CCNE1%2520CDK2%2520CDC25A%2520C

[2018-05-31 15:02] inodb opened #4331 "CNA data on study view never finishes loading"
As reported by: https://groups.google.com/forum/#!msg/cbioportal/Y6ghwpI_PIs/bwrq725AAQAJ

The CNA table for Prostate Adenocarcinoma CNA study (MSKCC, PNAS 2014) never finishes loading:

http://www.cbioportal.org/study?id=prad_mskcc_2014#summary

http://www.cbioportal.org/study?id=prad_mskcc_2014#summary

Not sure if this is related (has a PR submitted but not reviewed/merged):

https://github.com

[2018-05-31 15:05] tmazor commented on #4304
@jjgao @ersinciftci that's fine with me

[2018-05-31 15:07] pieterlukasse opened #4332 "Add Mutations profile to Plots tab"
Requirements are specified in [RFC 31_c](https://docs.google.com/document/d/1BvMxEi6MDAnLJu9GS8ZQ0liExSKmmbAPyfywpLAgNSA). Basically, it means adding the mutations profile data in a similar way to what we have now for CNA data in the Plots tab. One of the mockup screenshots from the RFC is shown below:

![image](https://user-images.githubusercontent.com/2900303/40790064-3191faa4-64f4-11e8-9541-f74

[2018-05-31 15:07] pieterlukasse commented on #4291
@adamabeshouse : I logged a new ticket for the RFC one you mentioned: https://github.com/cBioPortal/cbioportal/issues/4332

[2018-05-31 15:14] tmazor commented on #4312
@ersinciftci let's use:
Deep Deletion - Putative copy number alterations from GISTIC

[2018-05-31 15:22] fedde-s commented on #2478
@jjgao and @sheridancbio, I suggested some documentation to keep people from running into this issue in #4333.

[2018-05-31 15:49] jjgao commented on #4291
@pieterlukasse would you also be able to add `Fraction of Genome Altered`?

[2018-05-31 17:20] adamabeshouse commented on #4289
That seems weird to me.. but I'll do it if you want to 😛

[2018-05-31 17:21] adamabeshouse commented on #4318
i wouldnt expect this bug to be present in the new code :)

[2018-05-31 18:22] ersinciftci commented on #4254
I like the current small tooltip in volcano plot, this proposed tooltip would cover most of the plot when visible.

[2018-05-31 18:27] adamabeshouse commented on #4310
okay I fixed the issue, but now we have a bit of a confusing situation:

![image](https://user-images.githubusercontent.com/636232/40800468-82e0b3e8-64de-11e8-9262-4210ac8bb7e9.png)

![image](https://user-images.githubusercontent.com/636232/40800498-8f5333c6-64de-11e8-9093-a8084e5fa204.png)

the tooltip says "profiled in all selected molecular profiles", because it is profiled in all selected mole

[2018-05-31 18:29] jjgao opened #4335 "use Benjamini–Hochberg for Mutex q-value"
Currently, in Mutex we are using Bonferroni adjusted p-Value and in Enrichment we are using Benjamini–Hochberg q-value. Let's change Mutex to use Benjamini–Hochberg.

[2018-05-31 18:29] jjgao commented on #4313
@ersinciftci yes. I mean using Benjamini–Hochberg for Mutex. https://github.com/cBioPortal/cbioportal/issues/4335

[2018-05-31 18:29] #4313 closed

[2018-05-31 18:33] schultzn commented on #4289
It would just be to save a little more space - see the mockup below.

Another way to save some space would be to shorten the correlation column headers to just Pearson and Spearman.

[2018-05-31 18:40] adamabeshouse commented on #4310
after discussing w @jjgao we decided to say "Not profiled in: CNA" in that case

[2018-05-31 18:42] schultzn commented on #4289
It does not look like my mockup came through when responding via email client. Trying again.

PastedGraphic-1.png

[2018-05-31 18:43] jjgao commented on #4285
@schultzn we should be able to know which types of profiles are used in the query and for those type, we can remove the query genes. @ersinciftci is that right?

[2018-05-31 18:43] schultzn commented on #4289
and again ...

![image](https://user-images.githubusercontent.com/11892704/40801451-f56d1db4-64e0-11e8-8893-10111338f899.png)

[2018-05-31 18:53] jjgao opened #4336 "inconsistent ways to select a gene for charting between Enrichment and Co-Expression tabs"
In Enrichments tab, you click on a gene to chart the data. And in Co-Expression, you select a row to chart the data.

- [ ] Co-Expression: add a highlight background color for the row when hovering.
- [ ] Enrichments: use the same way as Co-Expression, click on a row instead of the gene name and highlight the selected row.

Currently:
Enrichments:
![image](https://user-images.githubusercontent.com

[2018-05-31 18:59] jjgao commented on #4325
Good idea to make them consistent.

[2018-05-31 19:04] ersinciftci commented on #4285
I'll need to change the APIs for this, I need to send the query genes to backend because q-value calculation happens in the backend, and having query genes in the calculation or not changes the q-value for other genes. So I'll either send the query genes or an empty gene list to APIs, depending on if the profile is queried or not.

[2018-05-31 19:07] jjgao commented on #4331
@kalletlak could you take a look when you have a chance?

[2018-05-31 19:09] jjgao commented on #2478
@fedde-s thank you.

[2018-05-31 19:28] adamabeshouse commented on #4289
@schultzn after talking to @jjgao and @alisman we decided that those two lines were maybe unnecessary, heres the new proposal:

![image](https://user-images.githubusercontent.com/636232/40803715-4d4ac544-64e7-11e8-814c-50b1fec96082.png)

[2018-05-31 19:46] ersinciftci commented on #4335
Any reason we call it adjusted p-Value in Mutex, instead of q-value?

[2018-05-31 19:56] schultzn commented on #4289
That looks great!

[2018-05-31 20:14] jjgao opened #4337 "multi-study query interface: populate case set selection based on sample lists in studies"
- `_all` => `All`
- `_sequenced` => `Cases with mutations data`
- `_cna` => `Cases with copy number alterations data`
- `_cnaseq` => `Cases with both mutataions and copy number alterations data`

Maybe the case list IDs should be sent over to the results page? For existing sessions w/o case lists, we can use the current logic, or always select `_all`.

Is it also possible to get the number of samp

[2018-05-31 20:34] adamabeshouse commented on #4289
changes now in the PR https://github.com/cBioPortal/cbioportal-frontend/pull/1210

[2018-05-31 20:34] #4240 closed

[2018-05-31 20:35] #4237 closed

[2018-05-31 20:35] #4239 closed

[2018-05-31 20:35] #4241 closed

[2018-05-31 20:35] #4143 closed

[2018-05-31 20:36] #4244 closed

[2018-05-31 20:36] #4242 closed

[2018-05-31 20:38] #4179 closed

[2018-05-31 20:38] #4054 closed

[2018-05-31 20:45] ersinciftci commented on #4304
@jjgao @tmazor remove the color from where? log ratio column or volcano plot or both?

[2018-05-31 20:52] inodb commented on #3979
@jjgao this is live now - note that it does take quite a while before something appears on the page but hopefully that'll be solved once we switch to single page app

[2018-05-31 21:01] adamabeshouse commented on #4303
merged into rc

[2018-05-31 21:01] #4303 closed

[2018-05-31 21:01] adamabeshouse commented on #4295
merged into rc

[2018-05-31 21:01] #4295 closed

[2018-05-31 21:01] adamabeshouse commented on #4296
merged into rc

[2018-05-31 21:01] #4296 closed

[2018-05-31 21:07] adamabeshouse commented on #4299
merged into rc

[2018-05-31 21:07] #4299 closed

[2018-05-31 21:07] adamabeshouse commented on #4298
merged into rc

[2018-05-31 21:07] #4298 closed

[2018-05-31 21:07] adamabeshouse commented on #4288
merged into rc

[2018-05-31 21:07] #4288 closed

[2018-05-31 21:07] adamabeshouse commented on #4289
merged into rc

[2018-05-31 21:07] #4289 closed

[2018-05-31 21:27] adamabeshouse commented on #4329
https://github.com/cBioPortal/cbioportal-frontend/pull/1213

[2018-05-31 22:30] adamabeshouse commented on #4327
how does this look to you?
![image](https://user-images.githubusercontent.com/636232/40811792-b2721508-6500-11e8-928d-cd03f166dc99.png)

[2018-05-31 23:00] adamabeshouse commented on #4290
https://github.com/cBioPortal/cbioportal-frontend/pull/1213/commits

it now does logical OR on all the "positive" (no minus sign) queries, then combines that with logical AND on all the "negative" queries. so you could say "3p 11p -11p15.4 -11p15.3" and get all results for 3p or 11p, excluding 11p15.4 and 11p15.3

[2018-06-01 03:31] jjgao commented on #4304
@ersinciftci just log ratio column

[2018-06-01 03:33] jjgao commented on #4304
actually both... agreed @tmazor ?

[2018-06-01 11:07] schultzn commented on #4290
Awesome - thanks!!

[2018-06-01 14:18] ersinciftci commented on #4330
@jjgao this is because of long hugo symbols with underscore, like `ERBB3_PY1289`. @tmazor proposed to replace underscores with spaces in hugo symbols so the line would break to the next line, wouldn't take up much space. Sounds good to you?

[2018-06-01 14:21] tmazor commented on #4327
looks good to me @adamabeshouse

[2018-06-01 15:07] #4272 closed

[2018-06-01 15:34] schultzn commented on #4332
Good idea. Will this then also expand to box plots where you can show numerical values in relation to mutation status for a given gene, so a two box box-plot, one for "mutated", one for "not mutated"?

[2018-06-01 15:38] ersinciftci commented on #4330
Actually even that didn't fully fix the problem, so @tmazor proposed to shorten the headers for mRNA and Protein like in the screenshot. Looks good to you @jjgao ?

<img width="959" alt="screen shot 2018-06-01 at 11 37 44 am" src="https://user-images.githubusercontent.com/3595704/40849556-3d038d3e-6590-11e8-8efc-5fe2c35a6b98.png">

[2018-06-01 15:46] jjgao commented on #4330
@ersinciftci `ERBB3_PY1289` is actually a support "gene symbol" that you can use for the query, so I would not mess around that.

OK to shorten the headers. Maybe we can use something like &#956;<sub>1</sub>, &#963;<sub>1</sub>, &#956;<sub>2</sub>, &#963;<sub>2</sub> with tooltip?

[2018-06-01 16:28] adamabeshouse commented on #4294
theres a UI issue - that number depends on which genes are selected

[2018-06-01 16:34] tmazor opened #4340 "1.14 beta enrichments - log ratio tooltip for mRNA/protein is wrong"
The tooltip for the log ratio column on the mrna/protein subtabs says
![image](https://user-images.githubusercontent.com/10508276/40852265-df7b8344-6597-11e8-89a3-bea48c8de351.png)

That's the right tooltip for mutations/copy number but for mrna/protein it should be "mean/mean" rather than "pct/pct"

[2018-06-01 16:54] adamabeshouse commented on #4294
I implemented it to do based on any gene, if any gene is profiled for a sample then its considered profiled for the count.

[2018-06-01 16:54] adamabeshouse commented on #4294
https://github.com/cBioPortal/cbioportal-frontend/pull/1213/commits

[2018-06-01 17:37] tmazor commented on #4330
I generally would prefer to use words rather than symbols, but I can't come up with any other plan to make the columns narrow enough to fit - so I guess I agree, let's use sigma & mu.

[2018-06-01 19:14] #4294 closed

[2018-06-01 19:14] adamabeshouse commented on #4297
https://github.com/cBioPortal/cbioportal-frontend/pull/1214

[2018-06-01 19:14] #4297 closed

[2018-06-01 19:14] adamabeshouse commented on #4327
https://github.com/cBioPortal/cbioportal-frontend/pull/1214

[2018-06-01 19:14] #4327 closed

[2018-06-01 21:02] ersinciftci commented on #4330
While we are at it, should I change `Percentage of alteration` column names in Mutation/CNA to `% of alteration`?

[2018-06-01 21:04] ersinciftci commented on #4330
While we are at it, should I change `Percentage of alteration` columns in Mutation/CNA to `% of alteration`?

[2018-06-01 21:20] tmazor commented on #4330
I actually requested a name change to those columns in another issue which removes the word "percentage". I think the issue with the new tooltip text also has the new column names.

[2018-06-04 09:21] pieterlukasse commented on #4318
@adamabeshouse Ok, I will wait for the new code to be on /beta and test it there.

[2018-06-04 09:46] pieterlukasse commented on #4332
@schultzn yes, the box plot should also be there, but I was thinking of a box plot with one box per mutation status instead of only "mutated" and "not mutated". Or do you think the variant classification is not really relevant in this plot?

[2018-06-04 12:37] schultzn commented on #4332
It would be nice to have the variant classification as an option - I am sure users will want the ability to combine all mutations.

[2018-06-04 14:48] jjgao commented on #4332
@pieterlukasse maybe we can split into two attributes: `mutation by type` and `mutant vs wildtype`?

[2018-06-04 14:57] ersinciftci commented on #4280
Does this look good?
<img width="1520" alt="screen shot 2018-06-04 at 10 56 32 am" src="https://user-images.githubusercontent.com/3595704/40924723-00d7ac70-67e6-11e8-94ca-d26a1dd6ab82.png">

[2018-06-04 15:06] alisman commented on #4280
I would also reduce the font size a tad.  I think we can revisit style when
we do single page app because it will look different with those tabs above.

On Mon, Jun 4, 2018 at 11:02 AM, JianJiong Gao <notifications@github.com>
wrote:

[2018-06-04 15:15] ersinciftci commented on #4280
How about this?
<img width="1274" alt="screen shot 2018-06-04 at 11 13 58 am" src="https://user-images.githubusercontent.com/3595704/40925759-6d4f9f00-67e8-11e8-97fa-2f46997993f1.png">

[2018-06-04 15:22] jjgao commented on #4280
@ersinciftci Thanks. It looks good to me.

I thought the space between the main tab and sub-tab was a little too much but it is similar to other tabs, so I am fine with it.

@alisman agreed that we should improve styles once we use the whole screen.

[2018-06-04 17:19] jjgao commented on #4331
@kalletlak Thanks.

@ersinciftci could you look into this? prad_mskcc_2014 has no mutations profile.

[2018-06-04 17:20] jjgao commented on #4331
@kalletlak @zhx828 @ersinciftci in the new study view, when we handle gene panels, maybe we can try to improve it. Ideally, we don't have to request gene panel data for studies without gene panels.

[2018-06-04 18:20] ersinciftci commented on #4331
@jjgao I'll check. In the new study view the frontend doesn't call gene panels endpoint, backend calculates the frequencies.

[2018-06-04 20:04] #4331 closed

[2018-06-04 20:05] #4314 closed

[2018-06-04 20:05] #4320 closed

[2018-06-04 20:05] #4306 closed

[2018-06-04 20:05] #4307 closed

[2018-06-04 20:05] #3871 closed

[2018-06-04 20:05] #4260 closed

[2018-06-04 20:05] #4312 closed

[2018-06-04 20:05] #4304 closed

[2018-06-04 20:05] #4301 closed

[2018-06-04 20:05] #4340 closed

[2018-06-04 20:05] #4131 closed

[2018-06-04 20:05] #3881 closed

[2018-06-04 20:05] #4252 closed

[2018-06-04 20:05] #3857 closed

[2018-06-04 21:18] #4280 closed

[2018-06-04 21:19] #4324 closed

[2018-06-04 21:19] #4330 closed

[2018-06-05 08:55] sandertan commented on #3314
We can use http://www.cbioportal.org/api/swagger-ui.html#/Gene_Panels/getAllGenePanelsUsingGET for that

[2018-06-05 10:02] pieterlukasse commented on #3314
:+1:

[2018-06-05 15:07] #4292 closed

[2018-06-05 16:10] #4254 closed

[2018-06-05 16:51] #4311 closed

[2018-06-06 07:50] sandertan opened #4344 "Replace black by white in color scheme for expression in OncoPrint's heatmap"
Recently @fedde-s used a beautiful color map for the gene set scores in OncoPrint's heatmap. Using the expand function, it's possible to view the expression of individual genes as well. Compared to the colors for gene set scores, the colors for expression values are less nice. I think that if black is replaced by white, the heatmap will look much nicer. Perhaps black was once used to distinguish b

[2018-06-06 09:10] fedde-s commented on #2478
A recommendation to use MySQL 5.7 or lower, in which utf8 was not the default encoding, is now documented in the documentation of the `master` development branch and will be included in the next (minor) release. This, I believe, will fix the critical part of the issue. Do reopen or comment if you have a different perspective.

[2018-06-06 09:10] #2478 closed

[2018-06-06 09:26] fedde-s opened #4345 "Database schema is incompatible with utf8, the default in MySQL 8"
As found out in #2478, the [`mutation_event`](https://github.com/cBioPortal/cbioportal/blob/v1.13.2/db-scripts/src/main/resources/cgds.sql#L395) table contains a unique key too large to be accepted by MySQL when using the UTF-8 character set.

Since this is the [default encoding](https://dev.mysql.com/doc/refman/8.0/en/charset-applications.html) in the current release of MySQL, I have documented a

[2018-06-06 14:06] jjgao commented on #4344
I like the proposal, but I am not a heatmap guy :)

@schultzn @tmazor any comments?

[2018-06-06 14:10] jjgao commented on #4345
Thanks, @fedde-s.

@khzhu you mentioned that you are using MySQL8. Would you mind sending your changes as a pull request?

cc'ing @n1zea144 and @sheridancbio

[2018-06-06 14:37] jjgao commented on #4345
Thank you, @khzhu

[2018-06-06 14:54] schultzn commented on #4344
Sounds like a good idea. Any chance we can support multiple and allow users to choose?

[2018-06-06 17:18] tmazor commented on #4344
Sounds good to me

[2018-06-06 18:46] #4329 closed

[2018-06-06 18:47] adamabeshouse opened #4348 "gene navigation tabs in CNSegments tab should be paginated with arrows"
see comment https://github.com/cBioPortal/cbioportal/issues/4329#issuecomment-393558856

[2018-06-06 18:47] #4290 closed

[2018-06-06 18:59] ashraf123456789 opened #4349 "Deploying a cbioportal instance outside of a local host"
Hello,

We are trying to deploy a cbioportal instance in a private server where multiple scientists can have access to. We are able to deploy the homepage, but import has be an issue. What we did so far:

1. Set up cBioPortal locally and created the war file
2. Deployed the war file on a linux server
3. cbioportal instance is up and running on linux
4. Copied the "importer" to some path on the ser

[2018-06-06 19:12] ersinciftci commented on #4285
@jjgao If a study has 2 mRNA profiles, and the user selects only mRNAProfile1 in the query page, and then opens the mRNA enrichments and changes the dropdown to mRNAProfile2, will I not show the query genes because the user queried at least one mRNA profile, even though it was a different profile?

[2018-06-06 19:55] #4323 closed

[2018-06-06 20:32] ersinciftci commented on #4285
@jjgao I opened the PR assuming my last comment is correct, let me know if it's not.

[2018-06-07 01:06] #4285 closed

[2018-06-07 01:06] #4321 closed

[2018-06-07 08:36] sandertan commented on #3802
@jjgao so for now, shall we go ahead with changing the error to a warning for invalid UniProtKB accession in the MAF?

https://github.com/cBioPortal/cbioportal/pull/3790

[2018-06-07 13:49] n1zea144 commented on #4349
The scripts jar file is created after building the code.  It can be found in $PORTAL_HOME/scripts/target, e.g., scripts-1.11.1-SNAPSHOT.jar.  Can you verify that it exists and yes, make sure that the PORTAL_HOME shell variable has been defined.

This page has more info:
http://cbioportal.readthedocs.io/en/latest/Using-the-metaImport-script.html <http://cbioportal.readthedocs.io/en/latest/Using-the

[2018-06-07 14:56] jjgao commented on #3802
@sandertan yes.

[2018-06-07 15:34] fedde-s commented on #3146
I don't think this issue still exists. Do reopen or comment if you think I'm mistaken.

[2018-06-07 15:34] #3146 closed

[2018-06-07 15:40] fedde-s opened #4350 "Browser console displays stack traces in patient view"
When I visit the patient view, even in a production deployment such as .org, the browser console fills up with stack traces that seem to be specifically requested by calls to the `console.trace()` function. This makes it difficult to see when something actually does break.

## Screenshot ##
![Screenshot of a Firefox browser console showing two stack traces and a variety of errors and warnings](htt

[2018-06-07 17:29] #4322 closed

[2018-06-08 13:14] kalletlak commented on #4337
closed via https://github.com/cBioPortal/cbioportal/pull/4341

[2018-06-08 13:14] #4337 closed

[2018-06-08 13:37] #3450 closed

[2018-06-08 13:45] #4336 closed

[2018-06-08 14:12] #4083 closed

[2018-06-08 14:16] ersinciftci commented on #3955
The new study view APIs returns all mutated and CNA genes, so I'm closing this issue for now. We can re-open if we don't like the performance.

[2018-06-08 15:01] sheridancbio commented on #4345
Just catching up with this issue again. It sounds like we are moving towards reducing the tumor_seq_allele field width to 255 characters (which is something we did in our production databases, and diverges from the schema specified in cgds.sql). I think this is probably fine, but I think the reason the length of this field was originally raised above 255 was to capture some very long insertion / d

[2018-06-08 15:15] fedde-s commented on #4345
I briefly considered moving the field to a separate two-column table with a numeric primary key. That way the composite key could include the (much smaller) foreign key, and uniqueness of the string itself could be ensured by a single-column constraint, if that makes a difference. Your ideas about structural variants and involving the validator sound promising too though!

[2018-06-08 15:20] fedde-s commented on #4345
The easiest fix to write would presumably be to make the validator (and documentation in `File-Formats.md`) disallow studies that contain 256+-character mutations, pushing the decision of whether to represent them in some different way or discard them to the data curators.

[2018-06-08 16:09] jjgao commented on #4345
What would happen if we remove the unique key constraint?

[2018-06-08 20:52] alisman opened #4352 "Network tab params"
@jjgao there are some params required by network tab which come from server. What should we do about these in the refactored feature?  I mean  "netsrc" "linkers" "netsize" "diffusion"
Also, heatmap?

		 var networkParams = {
                                <%=QueryBuilder.GENE_LIST%>:window.QuerySession.getQueryGenes().join(" "),
                                 <%=QueryBuilder.GENETIC_PROFILE_IDS

[2018-06-09 00:14] jjgao opened #4353 "query url change"
[A current url cross-study url](http://www.cbioportal.org/index.do?cancer_study_id=all&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=all&gene_list=EGFR%2520TP53&geneset_list=%20&tab_index=tab_visualize&Action=Submit&cancer_study_list=cellline_ccle_broad%2Ccellline_nci60&show_samples=false&clinicallist=CANCER_STUDY) contains:

[a current single-study query](http://www.c

[2018-06-09 15:10] khzhu commented on #4345
@jjgao @fedde-s   @sheridancbio ,
I think we should keep the unique key constraint because I have a solution for this. Let me explain in detail.

The character limit depends on the character set you use, If you use **latin1** then the largest column you can index is varchar(**767**=255*3+2), but if you use utf8 then the limit becomes varchar(255). By default, mysql 8 uses utf8.
[code]
There is als

[2018-06-09 17:48] jjgao commented on #4345
@khzhu Thank you! Very well explained! I don't see a reason to use utf8 for this table either. Could you create a pull request for the database schema change with sql migration code?

[2018-06-09 18:49] khzhu commented on #4345
@jjgao ,thank you! I will work on this next week.

[2018-06-11 09:32] fedde-s commented on #4345
Nice! That way the other text fields (such as clinical attributes and their string values, or study names and descriptions) can be UTF-8, while this particular column (which I believe should hold an ASCII-only variation on the [HGVS protein change notation](http://varnomen.hgvs.org/recommendations/protein/) extended with a weird `_SPLICE` notation that used to be produced by MSK's pipeline) can ke

[2018-06-11 14:35] #4243 closed

[2018-06-11 14:36] #4286 closed

[2018-06-11 17:06] tmazor opened #4354 "1.14 beta plots tab fails to color by mutation status"
There are samples with mutations, but the plots tab shows all samples as "not mutated":
![image](https://user-images.githubusercontent.com/10508276/41246171-37e00d2e-6d78-11e8-868a-7c5ff18266a6.png)

The same query on production:
![image](https://user-images.githubusercontent.com/10508276/41246180-3f82ee2a-6d78-11e8-9bd1-7649ad41d62c.png)

http://www.cbioportal.org/beta/index.do?cancer_study_id=lg

[2018-06-11 17:10] tmazor opened #4355 "1.14 beta coexpression - discrepancy in sample numbers"
The numbers of samples listed in the dropdown is not the same as the number of samples in the tooltip. Why? Which is the correct number?
![image](https://user-images.githubusercontent.com/10508276/41246277-9f5e03c0-6d78-11e8-8d5b-25a48f141fc7.png)

![image](https://user-images.githubusercontent.com/10508276/41246286-a620e484-6d78-11e8-868a-43d4f3459d6c.png)

http://www.cbioportal.org/beta/index.do

[2018-06-11 17:19] tmazor opened #4356 "1.14 beta coexpression - table buttons should be consistent with other tabs"
The buttons under the table look like this:
![image](https://user-images.githubusercontent.com/10508276/41246639-a8d07176-6d79-11e8-9e94-9b5edfb0f3c1.png)

The button in the middle should be blue to match the arrows. Also, it looks like a button but doesn't actually do anything. On other pages, that is actually a "show more" button. For example, on the mutations tab:
![image](https://user-images.g

[2018-06-11 17:26] tmazor commented on #4355
There's also a discrepancy in the total # of genes - the tooltip says 20532 genes but the table says 20053 genes:
![image](https://user-images.githubusercontent.com/10508276/41246999-b10a3362-6d7a-11e8-8db9-e0644de0e0b0.png)

SImilarly for the microarray data, there are more genes in the table (17157) than in the tooltip description (17155):
![image](https://user-images.githubusercontent.com/10508

[2018-06-11 17:34] tmazor commented on #4201
Let's also do this for the co-expression tab when a gene has no data for a particular dataset - e.g. most genes when RPPA data is selected:
![image](https://user-images.githubusercontent.com/10508276/41247445-fc235648-6d7b-11e8-8d5c-e02f62e11551.png)

[2018-06-11 17:45] tmazor opened #4357 "1.14 beta enrichments - flickering tooltip"
Can you make it not do this?

![jun-11-2018 13-44-26](https://user-images.githubusercontent.com/10508276/41247980-95750d36-6d7d-11e8-95a0-b2fc373b3d13.gif)

[2018-06-11 17:55] tmazor opened #4358 "1.14 beta enrichments - capitalization fixes"
The "Query Genes" tooltip text should have a lower-case "g" in "genes":
![image](https://user-images.githubusercontent.com/10508276/41248123-04bf5408-6d7e-11e8-9983-6ed709a87427.png)

[mutations & copy number] Significance, Mutual exclusivity, Co-occurrence and Log ratio should all have their first letter capitalized:
![image](https://user-images.githubusercontent.com/10508276/41248161-260e0cbc-6d

[2018-06-11 17:57] adamabeshouse commented on #4355
The # samples issue is bc the number in parens is the number of those profiled samples which are in the query. Not sure how to solve this confusing UI issue. Eg in this query over All Tumors, the numbers match up: http://www.cbioportal.org/beta/index.do?cancer_study_id=lgg_tcga&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=lgg_tcga_all&gene_list=TP53%2520ATRX%2520PTEN&gene

[2018-06-11 17:59] adamabeshouse commented on #4356
@tmazor I think we just didn't consider using 'Show More' in this case. It would be easy enough to set up. The button in the middle isn't blue because it's not clickable, its just a display.

[2018-06-11 18:03] tmazor opened #4359 "1.14 beta enrichments - tweaks to highlighting samples in volcano plot"
On production, when you select some samples directly on the volcano plot, there are visual reminders of which samples were selected: (1) the box I drew to make the selection remains (2) some (although not all) of the samples are represented with larger dots. Also at the bottom of the table is clearly states "filtered from XXX entries"
![image](https://user-images.githubusercontent.com/10508276/412

[2018-06-11 18:16] tmazor opened #4360 "1.14 beta enrichments - over/under-expressed buttons are swapped"
On mRNA/protein tabs, if I un-check "Over-expressed", I should then only see under-expressed genes, but instead I see the over-expressed genes:

![image](https://user-images.githubusercontent.com/10508276/41249401-0aeb646c-6d82-11e8-8974-a9d4f89e69c3.png)

[2018-06-11 18:22] tmazor opened #4361 "1.14 beta - change size of significant tag"
It looks like the "Significant" tag now extends to the full column width:
![image](https://user-images.githubusercontent.com/10508276/41249640-9dad2894-6d82-11e8-9c49-2ffe53941333.png)

I think it would look better if it is just the width of the word "Significant" rather than the full column width.

Can we change this on MutEx and Enrichments? (I think those are the only places with this tag?)

[2018-06-11 18:39] sheridancbio commented on #4345
I remember that we debated whether to "take control" of the engine and character set, specifying it in the cgds.sql schema or not. I think we decided that we would give guidance but let the end users have freedom to specify what character set and engine configuration that they wished to select. Some users currently have a mix of latin1 and utf8 character sets, depending on when they migrated there

[2018-06-11 18:51] adamabeshouse commented on #4201
for both mutations and coexpression, since we load this data lazily, we wont be able to show that until after the tab has already been clicked. is it still useful?

[2018-06-11 19:25] alisman commented on #4201
@tmazor what adam says does seem to compromise the utility of it.  what you think?   we could of course preload all that data just for the sake of providing the indicator, but we actually worked pretty hard to avoid loading all data up front when we don't have to so ...

[2018-06-11 20:09] adamabeshouse commented on #4201
This is not an uncommon type of situation... maybe we could add a projection to the mutations endpoint, "EXISTS", or "LENGTH", which just returns whether there exist results for that query, or the length of the would-be return value? Would this be too slow on the database side anyway, even though we'd save on download time?

[2018-06-11 20:11] alisman commented on #4354
@adamabeshouse you might be in position to diagnose this most quickly.  i did try mapping release 1.14.0 branch in production site and colors do appear, which suggests this might be a data issue?

[2018-06-11 20:27] alisman commented on #4201
I think we should not worry about this for 1.14.0.  We can discuss with @jjgao at planning meeting tomorrow.

[2018-06-11 20:32] adamabeshouse commented on #4354
I really dont know whats going on because it works on local (using release-1.14.0 branches in frontend and backend), which can only point to a /beta-specific environment issue, which points to some kind of data issue, which seems weird to me because the data is loading correctly for the mutations tab? But looking at the network tab, the call to `getMutationData.json` returns an empty array in /bet

[2018-06-11 20:58] tmazor commented on #4201
Agreed - this is not necessary for 1.14 and also not worth pre-loading all data to address.

[2018-06-11 22:00] tmazor commented on #4356
Gotcha - let's change it to "Show More" so it fits with other tables on the site.

[2018-06-12 03:21] jjgao commented on #4248
It looks like a user is asking for it now:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/dPw6HS0Ko5A/Y1t7TfbwBQAJ

@ersinciftci if you have the bandwidth, could you look into this and see if it's straightforward to extend the API? Once that's done, @adamabeshouse and/or you could change the frontend. Thanks.

[2018-06-12 03:24] jjgao opened #4362 "add p-value to scatter plots in plots tab"
@adamabeshouse @ersinciftci maybe we can pick up this one by the way if not much extra work.

related to https://github.com/cBioPortal/cbioportal/issues/4248

[2018-06-12 03:33] jjgao opened #4363 "run Mutex test in OncoPrinter tool"
See user request: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/cbioportal/wL7wd445Png

[2018-06-12 03:47] jjgao commented on #4345
@sheridancbio without making it too complicated, I think it's probably ok to switch to latin1 for `mutation_event`. I don't think non-ASCII characters would be used in this table.

Let's not touch other tables for now?

[2018-06-12 03:51] jjgao commented on #4355
@adamabeshouse maybe change the text in the drop-down to "283 queried samples"?

[2018-06-12 03:56] jjgao commented on #4201
Maybe we should use the data (# mutated samples) from OncoPrint for this since the data is already loaded? If MUT OQL is used, it won't work well, but that's a rare use case.

Or maybe we should do it once we syncronize oql/oncoprint with Mutations tab?

[2018-06-12 03:58] jjgao commented on #4354
@alisman has the backend `master` been merged to `release-1.14.0` and released to beta?

[2018-06-12 09:09] pieterlukasse commented on #4345
@jjgao I agree to switch to latin1, only for this table.

[2018-06-12 09:17] fedde-s commented on #4345
As far as I'm aware, the text fields in this table tend to follow restricted ASCII-only schemas on which the validator, loader, web API or frontend depend? Although I'm particularly unsure about the `KEYWORDS` field.

[2018-06-12 14:58] khzhu commented on #4345
I've done my testing on importer scripts, web APIs (with some minor adjustments, mysql 8 requires a quote around fields that are the same as those mysql reserved keywords such as "rank" or "groups"), and frontend react codes, are not affected by this change. Only thing I noticed was H2 database used by MyBatis persistence test suites not working with the new MySql 8 JDBC driver, so is the Maven SQ

[2018-06-12 15:00] zhx828 commented on #2595
@pieterlukasse apparently I missed this ticket, sorry for the delay. Do we have any public database having this issue?

[2018-06-12 17:04] zhx828 opened #4365 "For internal portal, show OncoKB therapy description instead of references only"

[2018-06-12 17:30] adamabeshouse commented on #4355
sure

[2018-06-12 17:41] adamabeshouse commented on #4201
@jjgao in order to calculate the number of mutated samples we need to load all the mutation data, and if you go straight to the mutations tab you can avoid this.

[2018-06-12 18:54] jjgao commented on #4201
@tmazor This seems complicated in implementation. Are you ok if we hold this off since we have other priorities?

[2018-06-12 18:58] tmazor commented on #4355
I still think this is confusing for a user - I just don't think it's particularly clear that the tooltip refers to something slightly different than the data on the page.

As I see it, there are currently 3 problems with the tooltip:
1) The number of samples in the tooltip won't always agree with the number of samples in the dropdown/query
2) The number of genes in the tooltip doesn't always agree

[2018-06-12 19:12] tmazor commented on #4201
absolutely @jjgao - i don't think this is an urgent need at all

[2018-06-12 20:03] alisman opened #4366 "Move network servlet into legacy folder"
http://www.cbioportal.org/beta/network.do

This is used by Network tab.

[2018-06-12 20:41] #4359 closed

[2018-06-12 20:41] #4360 closed

[2018-06-12 20:41] #4358 closed

[2018-06-12 20:41] #4357 closed

[2018-06-12 22:09] jjgao commented on #4201
Thanks, @tmazor. I've moved this to icebox.

[2018-06-12 22:13] jjgao commented on #4355
@tmazor agreed. Let's drop the tooltip for now @adamabeshouse. I'll create an issue in datahub for the data issue.

[2018-06-13 15:34] ersinciftci commented on #4366
@jjgao NetworkServlet has a lot of dependency on other parts of the legacy code, and those dependencies has a lot of dependency on other parts as well, so it's not as easy as just moving the servlet to another folder.

[2018-06-13 15:52] ersinciftci opened #4368 "Add screenshot tests for Enrichments"

[2018-06-13 16:20] #4354 closed

[2018-06-13 16:43] jjgao commented on #4332
Discussed this with @pieterlukasse.

One option: add the following options (another dropdown below `profile name`) when a mutation profile is selected:

`Mutations by type`: missense, inframe, truncating, wild-type, (not sequenced?)
`Mutated vs wildtype`: mutated, wild-type, (not sequenced?)
`Fusions`: fused (?), not fused

Also thinking of support `altered` vs `not altered`. Maybe we can add anot

[2018-06-13 21:14] jjgao commented on #4366
@ersinciftci thanks. Let's give it a low priority for now then.

Can I ask you to look into the code and see if we can support sample IDs as a parameter? Currently it only support case_set_id and case_set_key. Since we don't want to support case_set_key in the new frontend repo, it would be necessary to post all sample IDs.

[2018-06-13 21:15] jjgao opened #4369 "support a list of sample ids as a parameter for legacy network.do"
@ersinciftci Could you look into the code and see if we can support sample IDs as a parameter? Currently it only support case_set_id and case_set_key. Since we don't want to support case_set_key in the new frontend repo, it would be necessary to post all sample IDs.

[2018-06-13 21:16] jjgao commented on #4366
https://github.com/cBioPortal/cbioportal/issues/4369

[2018-06-13 21:17] jjgao commented on #4366
I moved this to icebox. But we will have to do it later if we want to get rid of the dependency to core module.

[2018-06-14 12:37] ersinciftci commented on #4366
@jjgao we basically can't get rid of the dependency to some big chunk of core module if we keep this servlet, and I believe our ultimate refactoring goal was to get rid of all the old code. So I think we should just create a new API for interactions and create a new frontend store for the Network tab. Otherwise we are just postponing the refactoring of the Network tab to later, basically.

[2018-06-14 16:57] sheridancbio commented on #4345
If there is consensus that we want to give an explicit 'latin1' character set for particular fields in mutation_event, then I don't want to stand in the way. But there are three things to keep in mind:

1. I think there is a fundamental unaddressed data representation issue here. What is our definition of a mutation? How many nucleotides can be deleted or inserted? I remember searching MAF files a

[2018-06-14 18:04] n1zea144 commented on #4345
Sorry I'm late to the party.  I think Rob did a good job describing our thought process and considerations when we last visited this topic here at MSK.

I think changing the definition of this table to address this issue is a bit hackish and the real solutions are along the lines of what Fedde and Rob have suggested - that is to address the case when we have larger mutation events.

In general, I'

[2018-06-14 19:11] jjgao commented on #4345
Thanks, @sheridancbio and @n1zea144 .

@khzhu @fedde-s @priti88: would you please check what's the longest length of `TUMOR_SEQ_ALLELE` in your local databases? I am thinking maybe the simplest solution is reducing it to 255.

[2018-06-14 19:54] khzhu commented on #4345
Hi @jjgao , the longest one we have is 144 bytes.
[code]

[2018-06-14 20:08] n1zea144 opened #4371 "Mutational Signature Support"
Provide full-stack support for Mutational Signature (MS) data.

**Tasks for importing MS data into database:**

- [x] Extended [database schema](https://github.com/cBioPortal/cbioportal/blob/master/db-scripts/src/main/resources/cgds.sql) to capture MS metadata.
- [x] Create bean to represent an MS record in the context of importing ([model](https://github.com/cBioPortal/cbioportal/tree/master/core

[2018-06-15 09:02] pieterlukasse commented on #4345
@jjgao we will have to run this by each of the installations, some of which we don't have direct access to. Will take some time...

[2018-06-15 14:03] pieterlukasse commented on #4345
@jjgao got a reply from one of our clients: max length is 400....

[2018-06-15 17:27] sheridancbio commented on #4345
@pieterlukasse We think that the "long" indel cases were from a particular dataset that was evaluated in our portal but not deployed as a regular study. That study is not present in our production databases (afaik).

Separately, if your client had a TUMOR_SEQ_ALLELE field with 400 NT in it, it seems very likely that they had other mutation events which were longer and were either truncated (perhap

[2018-06-15 18:06] yichaoS opened #4372 "Use study name instead of stable_id in hover over in cancer types summary tab"
As pointed out by @schultzn, study name instead of study id should be used in hover over box.
For example in this query result: http://bit.ly/2MsHBcA under "Cancer Types Summery" tab
![image](https://user-images.githubusercontent.com/5973438/41482930-285a940c-70a5-11e8-85bc-b6ddd74e5726.png)
![pasted image at 2018_06_15 02_00 pm](https://user-images.githubusercontent.com/5973438/41482932-2ba366b6-

[2018-06-16 13:43] jjgao opened #4373 "add warning if tcga pan cancer study is selected together with other tcga studies (same cancer type)"
![image](https://user-images.githubusercontent.com/840895/41499147-90e82954-7149-11e8-989d-b38e5f8e27e8.png)

[2018-06-18 19:20] jjgao commented on #4247
fixed in beta. Will release this week.

[2018-06-18 19:20] #4247 closed

[2018-06-18 19:21] jjgao commented on #3395
Pushing it over to 1.15.0, but we need to prioritize this. @ersinciftci would you have time to help on the backend?

[2018-06-18 19:58] ersinciftci commented on #3395
@jjgao does your SQL assume if patient IDs are the same in different studies, they are the same patients? is this valid only in TCGA studies? I think I can have 2 studies on my own cbioportal instance with patient IDs like `1`, `2`, `3` etc. and it wouldn't necessarily mean they are the same patients. So the SQL have something like `if they are both TCGA studies` kind of condition? And I see 2 que

[2018-06-18 21:09] tmazor opened #4374 "[enrichments] log before t test for RNA seq data"
The old enrichments tab notes that the data has been log-ed:
![image](https://user-images.githubusercontent.com/10508276/41562278-21cd49be-731a-11e8-9267-281a8f99af21.png)
and
![image](https://user-images.githubusercontent.com/10508276/41562284-276c28c2-731a-11e8-9e05-672ebb120805.png)

On beta, neither of those "(log)" notations are present. Let's add those back but additionally specify that the

[2018-06-19 10:00] pieterlukasse opened #4375 "digitalslidearchive call not working / tissue tab hanging"
Steps to reproduce:

Try this URL:

http://www.cbioportal.org/case.do#/patient?caseId=TCGA-BL-A0C8&studyId=blca_tcga_pub&tab=tissueImageTab

The call to http://www.cbioportal.org/proxy/cancer.digitalslidearchive.net/local_php/get_slide_list_from_db_groupid_not_needed.php?slide_name_filter=TCGA-BL-A0C8
will hang.

[2018-06-19 10:00] pieterlukasse commented on #4375
Notify: @jjgao

[2018-06-19 13:15] #4368 closed

[2018-06-19 14:14] jjgao commented on #3395
once https://github.com/cBioPortal/datahub/issues/241 is done, we could always use the TCGA pancancer studies as the "good" default for TCGA.

[2018-06-19 14:19] jjgao commented on #4375
I am reaching out to cdsa.

[2018-06-19 14:47] tmazor commented on #4374
Ersin & I got to talking and I’m worried there is a larger problem in some of the calculations on the enrichments tab - this problem exists on the current production and was re-implemented in the new tab. RNA data is sometimes in the database as log values and sometimes not log values. When data in the database is log values, then the enrichments tab calculates the mean of those logs. When data in

[2018-06-19 14:56] jjgao opened #4376 "[enrichments] log before t test for RNA seq data"
Tali Mazor [10:46 AM]

Ersin & I got to talking and I’m worried there is a larger problem in some of the calculations on the enrichments tab - this problem exists on the current production and was re-implemented in the new tab. RNA data is sometimes in the database as log values and sometimes not log values. When data in the database is log values, then the enrichments tab calculates the mean of t

[2018-06-19 14:57] jjgao commented on #4376
When doing log transformation, we need to handle negative data: https://github.com/cBioPortal/cbioportal/issues/4186

[2018-06-19 14:59] jjgao commented on #4374
@tali @ersin that’s a good point. In principle, it’s better log transform the rna seq data (to make it more normal-like distribution) for t test. Let’s create an issue and follow up on that.

When doing log transformation, we need to handle negative data: #4186

[2018-06-19 15:00] jjgao commented on #4376
duplicate with #4374

[2018-06-19 15:00] #4376 closed

[2018-06-19 15:42] alisman opened #4377 "SPA tasks"
- [ ] Enable custom sample/patient list queries

[2018-06-19 17:43] jjgao commented on #4374
@ersinciftci the problem is that some of the non-logged rnaseqv2 data contains some negative values: https://gist.github.com/inodb/26e77fb017d6b7b639a0d17d58b79728#file-mrna_distribution_cbioportal-ipynb

[2018-06-19 18:01] nhuff commented on #4349
Where do the import scripts get their Database connection information from?  Are they hard coded at build time?  The import scripts always seem to be trying to connect to mysql on localhost, but none of the config files have that as the jdbc url.

[2018-06-19 18:22] jjgao opened #4378 "[Enrichments] making the header more compact for expression and protein"
@tmazor @ersinciftci the tables in Expression and Protein are really long. Maybe we can make the header a little more compact?

currently
![image](https://user-images.githubusercontent.com/840895/41616074-02a5bb1e-73cb-11e8-905d-af8aa617ff14.png)

proposed:

Altered	&nbsp;&nbsp; Unaltered
group	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; group

 &#956;<sub>1</sub> &nbsp;&nbsp; &#963;<sub>1</sub>	&nbsp;&nbsp;&n

[2018-06-19 18:32] tmazor opened #4379 "enrichments - rna/protein boxplot is missing y-axis tickmark at 0"
![image](https://user-images.githubusercontent.com/10508276/41616995-64d0fd42-73cd-11e8-9861-cba2da2d401b.png)

![image](https://user-images.githubusercontent.com/10508276/41617021-712ceb78-73cd-11e8-8bc0-e755fe80390b.png)

[2018-06-19 18:38] tmazor commented on #4378
looks good to me!

[2018-06-19 18:48] tmazor opened #4380 "paad_qcmg_uq_2016 has RNA-seq data but co-expression and enrichments/RNA tabs don't appear"
This study has RNA-seq data -- I can query it and it appears in the oncoprint, but none of the RNA-specific tabs (co-expression or enrichments/RNA) appear:
![image](https://user-images.githubusercontent.com/10508276/41617917-b641e540-73cf-11e8-9f68-6ce36ed1535f.png)
![image](https://user-images.githubusercontent.com/10508276/41617924-bb1f9e54-73cf-11e8-8922-ac7da0c7488c.png)

http://www.cbioportal

[2018-06-19 18:54] jjgao commented on #4380
It's data issue. I am moving it to datahub.

[2018-06-19 18:54] #4380 closed

[2018-06-19 18:54] jjgao commented on #4380
Issue moved to [cBioPortal/datahub #243](https://github.com/cBioPortal/datahub/issues/243) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-19 20:50] tmazor commented on #4374
Ok, @ersinciftci & I talked some more and I think we have this figured out. My explanation from this morning is wrong & based on some confusion -- we are applying log & mean in the appropriate order. Instead, what we have is a minor disconnect between backend and frontend logic.

Thanks to @jjgao 's explanation on slack, I now understand that in the database RNA-seq data is not log transformed whi

[2018-06-19 20:51] tmazor opened #4381 "enrichments tab - add download option for volcano plot"
The volcano plot on the enrichments tab has no download option. Let's add this.

User request: https://groups.google.com/forum/#!topic/cbioportal/EICtfJTspGk

[2018-06-19 23:55] jjgao commented on #4374
Thanks, @tmazor @ersinciftci, for figuring this out. I know it is confusing.

@ersinciftci could you handle the first two items soon?

For # 3&4, we will have to change the text for microarray-based expression data, so I would not worry about it for now. I am also rethinking the log2 vs log10 decision and saw this post (https://www.researchgate.net/post/Why_do_we_usually_use_Log2_when_normalizing_

[2018-06-20 14:17] ersinciftci commented on #4374
@jjgao in the backend, we log if the profile id has `rna_seq` in it. In the frontend when calculating the log ratio we log again if `(molecularProfileDatatype === LOG_VALUE || molecularProfileDatatype === LOG2_VALUE || hasNegativeValue)` is false.

[2018-06-20 16:24] #4026 closed

[2018-06-20 16:39] jjgao commented on #4374
@ersinciftci I see. Let's get rid of the frontend logic (# 1).

@alisman @adamabeshouse could you comment on how we deal with negative and small numbers when doing log transformation for the expression and co-expression tab?

[2018-06-20 21:20] jjgao opened #4384 "release 1.15.0"
- [x] Expression
- [x] Plots
- [x] Network
- [x] Bookmark
- [x] New Mutation Mapper tool: https://github.com/cBioPortal/cbioportal-frontend/pull/1258 & https://github.com/cBioPortal/cbioportal/pull/4395
- [x] Optional login with Google on public portal: https://github.com/cBioPortal/cbioportal/pull/3303
- [x] Enhanced clinical attribute selector for OncoPrint: https://github.com/cBioPortal/cbiopor

[2018-06-21 10:23] pieterlukasse opened #4385 "Query page shows wrong number of genes depending on sets of genes configuration"
Steps to reproduce:
1. go to https://cbioportal.thehyve.net/cbioportal
2. scroll to the bottom of the "Enter Genes" select box (see screenshot below):
![image](https://user-images.githubusercontent.com/2900303/41713397-499c2ffc-754d-11e8-8912-0ac2d31d009c.png)
3. notice that "Test 1" and "Test 2" are the same OQL query but report different number of genes in the select box. The only difference is

[2018-06-21 10:40] pieterlukasse commented on #4385
Another bug in this part is: when the configuration is as follows:
[code]
the item cannot be selected from the select box (not possible to click on it). You can also find this on our server https://cbioportal.thehyve.net/cbioportal .

[2018-06-21 13:10] pieterlukasse opened #4386 "News page errors"
The links regarding merged tracks are failing.

1. link contains https https://www.cbioportal.org/onco_query_lang_desc.jsp, which gives an error
2. the example query is on MSK Impact, but takes too long. Perhaps change to a TCGA LUAD query?

[2018-06-21 14:26] #4282 closed, assigned to ersinciftci

[2018-06-21 17:23] ersinciftci commented on #4378
@jjgao not sure, I'm assigning @alisman too, he would know better.

[2018-06-21 18:03] ersinciftci commented on #3867
Not needed in the new study view

[2018-06-21 18:08] ersinciftci commented on #3865
Not needed in the new study view

[2018-06-21 18:08] #3865 closed

[2018-06-21 18:08] ersinciftci commented on #3984
Not needed in the new study view

[2018-06-21 18:08] #3984 closed

[2018-06-21 18:08] ersinciftci commented on #3985
Not needed in the new study view

[2018-06-21 18:08] #3985 closed

[2018-06-21 18:14] ersinciftci commented on #4144
not required anymore

[2018-06-21 18:14] #4144 closed

[2018-06-21 18:22] ashraf123456789 opened #4388 "Import Error"
Hello,

I received this error when running an import:

Checked DB schema version: (expected: 2.4.0) (found: -1)
Error, probably due to this version of the portal being out of sync with the database. Run the database migration script located at PORTAL_HOME/core/src/main/scripts/migrate_db.py before continuing.

This is from an external server rather than a localhost. I only added the core,src, and

[2018-06-21 18:29] ersinciftci opened #4389 "Add q-value to Mutated Genes and CNA Genes APIs in new Study View"
In those 2 tables we show icons for Significantly Mutated Genes (Mutsig) and Significant CNA (Gistic), and show the q-value when the icon is hovered. So the APIs should return those values. And when those values are null, it means the gene is not Mutsig/Gistic.

[2018-06-21 19:34] jjgao opened #4390 "Patient view: refactoring genomic overview with igv.js"
We should replace the current implementation with igv.js. There was a prototype by a summer student.

@JiaoJiao123 could you please fill in some more information here, e.g. where the code is, and previous discussions with igv?

[2018-06-21 19:34] jjgao opened #9311 "Patient view: refactoring genomic overview with igv.js"
We should replace the current implementation with igv.js. There was a prototype by a summer student.

@JiaoJiao123 could you please fill in some more information here, e.g. where the code is, and previous discussions with igv?

TODO:

- [x] Show sample labels in the front
- [x] Controls at the top kinda overwhelming (maybe hide?)
- [x] Mutation count + FGA numbers at the end of genomic overview
-

[2018-06-21 19:43] #4386 closed

[2018-06-21 22:19] jjgao commented on #4388
@ashraf123456789 could you please send your question to cbioportal@googlegroups.com? Thanks.

[2018-06-21 22:19] #4388 closed

[2018-06-22 13:44] sandertan opened #4391 "validateStudies.py crashes for skcm_tcga_pan_can_atlas_2018"
This issue was reported in the Datahub channel and refers to an issue found on CircleCI when validating the SKCM TCGA PanCancer study (`skcm_tcga_pan_can_atlas_2018`)

DataHub PR with the problematic study:
https://github.com/cBioPortal/datahub/pull/239

CircleCI error:
https://circleci.com/gh/cBioPortal/datahub/279?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-06-22 14:03] alisman commented on #4373
@jjgao is screenshot you posted a mock of what the "warning" state should look like?  i.e. non-pan in red with alert when corresponding pancan is selected.

[2018-06-22 14:18] alisman commented on #4373
@jjgao we have an existing warning system (currently disabled) which shows if a studies public and provisional version are seleceted at same time.   detection of this condition is based purely on study id convention.   we can do same thing with pan can yes?   and do we still want to the old "overlapping" study warning disabled?

[2018-06-22 15:27] alisman commented on #4385
@jjgao @inodb it seems the existing configuration schema (array of genes) is not really appropriate (as @pieterlukasse explains above).   Ideally, we would change schema so that user could pass oql and we parse it.   Do we need to be backward compatible at this point or could we change it?

[2018-06-22 16:40] khzhu commented on #4345
Hi @jjgao @n1zea144 @sheridancbio @pieterlukasse @fedde-s
I got mysql8 support code ready for your review. maven SQL plug0in issues solved, all unit tests passed. Attached screen shot shows you the fields I adjusted to limit the unique key to 3072 bytes. With a few changes to the code base, we can upgrade from mySQL 5.7 to mySQL 8 to empower our portal with a faster and more reliable database.  At

[2018-06-22 17:18] jjgao commented on #4345
Thank you, @khzhu.

Everyone: do we all agree that we should shorten `REFERENCE_ALLELE` and `TUMOR_SEQ_ALLELE` to 255 as the default? For portal instances with longer alleles, they would have to manually change that and change the to ascii.

The migration code can probably smart: only migrate when the max is less than 255?

[2018-06-22 17:38] jjgao commented on #4385
@pieterlukasse as you know, the current list only support gene list not oql, so I would not call it a bug :)

But I think it's a good idea to support OQL for this list. Maybe we can change the data to:

[code]

@pieterlukasse do you think you can help with this?

[2018-06-22 17:55] ersinciftci commented on #3867
Actually we will probably need this for the Copy Number Alterations tab in Study View

[2018-06-22 20:17] khzhu commented on #4345
please note **MUTATION_TYPE** also downsized from 255 to 64 to keep the unique key not exceed 3072 bytes limit.

[2018-06-22 20:33] alisman opened #4394 "Create auto-generated sitemap and submit to Google webmaster console"
I have created dynamically generated sitemaps (actually a whole set of sitemaps) which will list:
1. Link for every study summary page
2. Link for every patient in every study

We could also do every sample in every patient.

This is a lot of links, but if we want to be able to search on IDs and have portal show up, this is surrest way.

[2018-06-23 15:38] jjgao commented on #4394
Thanks, @alisman.

Is there a way to submit meta data too, e.g. study name?

I am also thinking about creating links to genes and frequent mutations. But that can go later.

[2018-06-25 08:01] pieterlukasse commented on #4375
@jjgao it looks like it is still hanging.

[2018-06-25 16:51] jjgao opened #4397 "MutSig and Gistic results"
MutSig and Gistic results are displayed in query page and results page. They are currently only available for TCGA provisional (and a few published) studies.

@schultzn @tmazor @ecerami How useful do you think the MutSig and Gistic results are? Do you use them for your analysis?

[2018-06-25 18:16] jjgao opened #4399 "different expression profiles in Enrichments and Co-expression tab"
In [this query](http://www.cbioportal.org/index.do?session_id=5b31304a498eb8b3d566b60b), the lists of expression profiles are different.

![image](https://user-images.githubusercontent.com/840895/41867660-c1e129ea-7881-11e8-8524-2f430ba0426f.png)

![image](https://user-images.githubusercontent.com/840895/41867688-d0ab24c6-7881-11e8-8add-7c615f875488.png)

It should be the same. Can we do the follo

[2018-06-25 18:30] #4389 closed

[2018-06-25 18:51] adamabeshouse commented on #4374
@jjgao in coexpression, the log argument has a minimum possible value:
[code]

negative values are not handled explicitly, in the code log is only allowed to be turned on if the profile contains the string "rna_seq" and does not contain the string "zscore", in other words positive data.

[2018-06-25 18:58] jjgao commented on #4374
@alisman what's the min value you used in Expression?

[2018-06-25 19:53] alisman opened #4400 "Set X-frame options on network.htm serve from cbioportal.mskcc.org"
Right now network tab cannot be loaded into iframe because of X-FrameOptions header set to same origin (i.e. don't show me in an iframe).  We need to remove that header.

http://www.cbioportal.org/beta/index.do?tab_index=tab_visualize&cancer_study_list=coadread_tcga_pub&cancer_study_id=coadread_tcga_pub&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=coadread_tcga_pub_mutations&genetic_profile_ids_P

[2018-06-25 20:13] ersinciftci commented on #4374
#1 is on production now.

[2018-06-25 20:17] alisman opened #4401 "Expression tab, revert log10 to log2"

[2018-06-25 20:37] jjgao commented on #4248
@ersinciftci could you make the change to the API? Could you also do the frontend change too? Or should @adamabeshouse work on it? I was thinking maybe the same layout should be used here as Enrichments (Volcano plots and scatter plots on the left side and table on the right side)

[2018-06-25 21:16] #4325 closed

[2018-06-25 21:19] jjgao commented on #4325
I think with the color change, we can close this. Please feel free to re-open it if needed.

[2018-06-25 21:19] #4361 closed

[2018-06-25 21:29] ersinciftci commented on #4248
I don't know much about this tab's frontend, I think would be better if @adamabeshouse does the frontend change.

[2018-06-25 21:33] adamabeshouse commented on #4248
I can make the frontend change once the API is done

[2018-06-25 21:38] onursumer opened #4403 "Uniprot id endpoint is broken"
![broken_uniprot_link](https://user-images.githubusercontent.com/3604198/41877158-45cb6056-789e-11e8-8654-c0e6b4807aa6.png)

Seems like uniprot endpoint URL has changed. This also breaks the 3D viewer.

[2018-06-25 22:22] jjgao commented on #4248
Sounds good! Let's prioritize this. There is another request:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/cbioportal/T6Z3TJg_aiU

[2018-06-25 22:59] adamabeshouse commented on #4248
did you close by mistake @jjgao ?

[2018-06-26 01:58] jjgao commented on #4248
@adamabeshouse sorry by mistake.

[2018-06-26 02:56] jjgao opened #4404 "categories of mutations in different tabs"
Currently, Expression and Plots tab uses sub-categories for truncating mutations, while oncoprint render truncating mutations in the same way. Since the Plots tab rendering was designed before we separated mutation types in OncoPrint, maybe it's time to make them consistant? How about:

- [ ] switch to the OncoPrint colors for Expression and Plots tabs
- [ ] add fusions
- [ ] add copy number alter

[2018-06-26 12:10] sandertan opened #4405 "Remove retrieval of gene sets when no gene set data in study"
Currently, the seed database (on database schema 2.6.0), contains the MSigDB gene sets. This is useful for testing validation and loading of test study `study_es_0`, as well as potentially loading any gene set scoring data in cBioPortal. The downside is that validation is a couple seconds slower because all gene sets are requested and downloaded using the API.

It would be nice if the retrieval of

[2018-06-26 15:05] #4403 closed

[2018-06-26 15:18] #4381 closed

[2018-06-26 16:08] jjgao opened #4406 "Mutational signature mockup data"
[code]

adapted from
http://www.cbioportal.org/api/molecular-profiles/acc_tcga_rna_seq_v2_mrna/molecular-data?sampleListId=acc_tcga_all&entrezGeneId=1&projection=SUMMARY

[2018-06-26 16:21] jjgao commented on #4406
extract data for these two patients:

http://www.cbioportal.org/case.do#/patient?caseId=P-0001104&navCaseIds=P-0001104%2CP-0004910&studyId=msk_impact_2017

[2018-06-26 20:14] #4152 closed

[2018-06-26 20:50] jjgao opened #4407 "priority of mutations types [expression tab]"
nonsense > frameshift > splice > in_frame > missense > other

![image](https://user-images.githubusercontent.com/840895/41884559-fe18f556-78c1-11e8-8611-62d9d20818c8.png)

[2018-06-26 20:50] sheridancbio commented on #4345
@khzhu about MUTATION_TYPE ... I think the restriction was that any single *element* of the key cannot exceed 3072 bits ... not that the total of all elements must be below 3072 bits. So reducing MUTATION_TYPE may not be needed. (although maybe it would be good to reduce it anyway)  I'll look for you in the production databases and see what the longest string length is in our mutation_event table

[2018-06-26 20:57] sheridancbio commented on #4345
The longest entry in field MUTATION_TYPE in the primary production database here is "splice_acceptor_variant&splice_donor_variant&intron_variant" ... 59 characters.
entrez_gene_id: 26168, chr: 17, start_position: 7470286, reference_allele: A, tumor_seq_allele: C, db_snp_rs: rs111576270;COSM4429607

[2018-06-26 21:04] khzhu commented on #4345
Hi @sheridancbio , the total of all elements of unique key must be below 3072 bytes, so we have to either downsize MUTATION_TYPE or PROTEIN_CHANGE from 255 to 64.  MUTATION_TYPE probably not needs that big. Please let me know, thank you!

[2018-06-26 21:08] jjgao commented on #4404
@schultzn liked the idea.

@adamabeshouse could you mock it up for Plots tab, e.g this query: http://www.cbioportal.org/index.do?session_id=5b32ab0f498eb8b3d566bb6d#plots

![image](https://user-images.githubusercontent.com/840895/41939355-84516f4e-7963-11e8-9f2e-44422efcebca.png)

[2018-06-26 21:18] khzhu commented on #4345
@fedde-s , can you please let us know the longest MUTATION_TYPE you have?

[2018-06-26 21:23] fedde-s commented on #4345
I'm currently on vacation. Pieter might be able to, but even if he can it will take time as we maintain many instances, and not all of them can be readily inspected from our side.
--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-06-26 21:29] onursumer commented on #4345
@sheridancbio It should be safe to drop `LINK_XVAR`, `LINK_PDB`, and `LINK_MSA`. We are getting the mutation assessor data via Genome Nexus. We just need to make sure that we don't break the current cBioPortal API.

[2018-06-26 21:39] jjgao commented on #4405
Yes, please :)

Can we also remove the `geneset_list` parameter from url when no genesets were queried?

[2018-06-26 22:00] adamabeshouse commented on #4404
@jjgao so you're saying reduce plots to only show the types of mutations available in oncoprint?

[2018-06-27 02:52] schultzn commented on #4404
Yes, same categories and same colors.

[2018-06-27 11:01] sheridancbio commented on #4345
@khzhu I ran a quick test and you are correct about the limit on overall (aggregate) length of the unique key.
I'm not sure how we are adding up to 3072 bytes however. I see from this webpage: https://dev.mysql.com/doc/refman/5.7/en/charset-unicode-conversion.html
that utf8 can be represented in either a 3byte per character of a 4byte per character encoding. But the same webpage says that if you u

[2018-06-27 14:53] khzhu commented on #4345
@sheridancbio , by default MySQL uses utf8mb4 to support 4 bytes UTF8 characters/emoji, so
(5(chr)+255(TUMOR_SEQ_ALLELE)+255(PROTEIN_CHANGE)+255(MUTATION_TYPE) )*4 = 3080 already > 3072.
[code]

[2018-06-27 15:36] khzhu commented on #4345
some interesting stats to share.
<img width="607" alt="screen shot 2018-06-27 at 11 34 41 am" src="https://user-images.githubusercontent.com/17375786/41984230-2d2e4534-79fe-11e8-8330-2d2012cccd80.png">

[2018-06-27 17:11] adamabeshouse commented on #4404
@schultzn and what about shapes, all circle? or different shapes?

[2018-06-27 17:50] jjgao commented on #4404
all circle. @adamabeshouse

[2018-06-27 18:00] adamabeshouse commented on #4404
@jjgao @schultzn realizing that we havent included promoter in the mutation rendering priority system. where should we put it? currently its truncating more important than inframe more important than missense

[2018-06-27 18:07] adamabeshouse commented on #4404
and how should fusions factor in here? in the oncoprint they're outside the mutation priority system bc its a different symbol.

[2018-06-27 18:28] schultzn commented on #4404
You can give promoter mutations the highest priority.

Fusions would be nice to include..

[2018-06-27 18:30] adamabeshouse commented on #4404
What priority should fusions receive?

[2018-06-27 18:34] schultzn commented on #4404
Let’s give them the highest priority… thanks!

[2018-06-27 18:38] adamabeshouse commented on #4404
so ive got fusion > promoter > truncating > missense > inframe ?

[2018-06-27 18:48] schultzn commented on #4404
How about
 fusion > promoter > truncating > inframe > missense ?

[2018-06-27 18:48] adamabeshouse commented on #4404
oops yeah

[2018-06-27 19:18] jjgao commented on #4404
@adamabeshouse for oncoprint, we can do truncating > inframe > missense > other (including promoter). Current implementation of have both fusions and mutations is good.

for Plots and Expression tab, let's put fusion above mutations.

[2018-06-27 20:07] schultzn commented on #4404
We only have promoter mutations for the TERT gene - and here, they should be above all other mutations (no other mutations are known to be functional).

[2018-06-27 20:15] inodb commented on #4400
@alisman I think this is working now:

Added the following to `webapps/frontend/WEB-INF/web.xml`
[code]

Was able to include the `network.htm` now in an iframe

[2018-06-27 20:20] jjgao commented on #4404
@adamabeshouse do you also use oncokb to prioritize in OncoPrint? If so, I would put all other mutations on the bottom. But because tert promoter mutations are oncogenic so they will be above missense... (Niki: I don't think it's a good idea to put non-coding mutations above coding mutations in general in our code. I understand currently we only have tert, but in case we import more non-coding mut

[2018-06-27 20:21] #4400 closed

[2018-06-27 20:22] inodb commented on #4400
feel free to re-open if it's not working for u

[2018-06-27 20:49] adamabeshouse commented on #4404
@jjgao we use VUS annotation to prioritize in oncoprint, yeah. but as of now we're not using VUS annotation in plots/expression

[2018-06-27 21:07] jjgao commented on #4345
Since we have so much trouble with this unique key: `UNIQUE (CHR, START_POSITION, END_POSITION, TUMOR_SEQ_ALLELE, ENTREZ_GENE_ID, PROTEIN_CHANGE, MUTATION_TYPE)`. Do we really need it?

There would be two reasons: 1) data integrity; 2) performance.

for # 1, I think we can ensure it in the import script.

For # 2, I don't think we are pulling data based on this key. Are we?

[2018-06-27 21:16] jjgao commented on #4404
@adamabeshouse maybe we should do that too since the data is already loaded in OncoPrint? It can also be useful to look at the differences between driver events and VUSs. The only caveat is that the Driver menu is only in OncoPrint.

@schultzn thoughts?

[2018-06-27 21:39] #4355 closed

[2018-06-27 21:39] #4356 closed

[2018-06-27 21:41] khzhu commented on #4345
That is a good question. I personally trust more on the unique key to provide the uniqueness for a set of columns. Besides the unique index also improves an estimate of join cardinality when you have a multi-column.

[2018-06-27 22:00] jjgao commented on #3395
@ersinciftci good questions. To start, let's just use patient IDs to determine whether they are the same. By default, we could turn off the features. We may just need it for the public portal. We also have IDs such as 1,2,3 in the public portal. I'll ask @ritikakundra to fix them.

The second sql (pasted here) should be run:
[code]

I don't think it belongs to Sample/Patient/Study API. It's more o

[2018-06-27 22:09] jjgao commented on #3395
Here is a updated version.

[overlapping_studies.cys.zip](https://github.com/cBioPortal/cbioportal/files/2143120/overlapping_studies.cys.zip)
[overlapping_studies.txt](https://github.com/cBioPortal/cbioportal/files/2143121/overlapping_studies.txt)

![image](https://user-images.githubusercontent.com/840895/42002341-fdc0ccb8-7a34-11e8-8413-c22e2ff69e47.png)

[2018-06-27 22:14] jjgao commented on #3395
@inodb @ersinciftci can we prioritize this one? We need a "smart" default.

Currently the most frequent query is querying over all cancer studies. It is slow to load all studies and not user-friendly to present so many redundant data (sometimes wrong, e.g. Mutation counts may not be correct).

[2018-06-28 03:18] jjgao commented on #4345
@khzhu I understand your first point but the uniqueness has to be implemented in the import script. The DB constraint is just to enforce it (throw an error if the constraint is violated) -- maybe a database validation script can do the trick? And I don't think it'll have a big impact in term of features even if they are not unique.

I don't really understand the second point. We are not using this

[2018-06-28 15:15] khzhu commented on #4345
Hi @jjgao,  when you run explain query or query optimizer, the relation cardinality will be looked up to generate underlying SQL join query reports. Those reports often show you how to optimize or improve your queries.

[2018-06-28 17:32] onursumer opened #4409 "Tissue Image Tab is broken"
It takes about 2-3 minutes for the `Tissue Image` to show up, and then after another 2-3 minutes, it eventually ends up with an error message next to a (forever) loading animation:

![tissue_image_tab](https://user-images.githubusercontent.com/3604198/42050549-499d13ba-7ad7-11e8-84ce-97eb6bb66501.png)

An example: http://www.cbioportal.org/case.do#/patient?sampleId=TCGA-EW-A1PC-01&studyId=brca_tcg

[2018-06-28 17:43] jjgao commented on #4375
@pieterlukasse they are still working on it...

[2018-06-28 17:44] jjgao commented on #4409
duplicate with https://github.com/cBioPortal/cbioportal/issues/4375

[2018-06-28 17:44] #4409 closed

[2018-06-28 17:48] jjgao commented on #4188
@zhx828 maybe we can do the first one soon? @ritikakundra can you do the second one? I think that will address most of their use cases.

[2018-06-28 18:04] jjgao opened #4410 "add clinical attribute to igv.js"
![image](https://user-images.githubusercontent.com/840895/42052201-1870ab6c-7adc-11e8-9ec9-7dbdcb8e1e6c.png)

[2018-06-28 18:52] jjgao opened #4411 "support whole genome view in CN Segment tab"
Currently we only support single-chr view. We should support whole genome view too. We may need to wait for igv.js to implement that first.

[2018-06-28 18:59] #1236 closed

[2018-06-28 18:59] #1412 closed

[2018-06-28 18:59] #1638 closed

[2018-06-28 19:10] jjgao commented on #1699
It looks like the current API cannot handle it when we are requesting data for X or Y chromosome.

E.g. http://www.cbioportal.org/index.do?session_id=5b353242498eb8b3d566c301

request:
![image](https://user-images.githubusercontent.com/840895/42055494-511363fc-7ae5-11e8-8aa4-0601f1673ec4.png)

response:
![image](https://user-images.githubusercontent.com/840895/42055548-71d63484-7ae5-11e8-89bc-e4db

[2018-06-28 19:14] jjgao opened #4412 "copynumbersegments api-legacy endpoint returns all segments instead of requested chromosome"
http://www.cbioportal.org/api-legacy/copynumbersegments?cancerStudyId=prad_tcga_pan_can_atlas_2018&chromosome=7&sampleIds=TCGA-2A-A8VL-01,TCGA-2A-A8VO-01

[2018-06-28 19:15] jjgao commented on #1699
also related: https://github.com/cBioPortal/cbioportal/issues/4412

[2018-06-28 19:17] jjgao commented on #2751
The link to the cn segments tab has resolved. Let's test the bookmark tab once it's refactored.

[2018-06-28 19:19] #1059 closed

[2018-06-28 19:21] #1622 closed

[2018-06-28 19:21] #1770 closed

[2018-06-28 19:29] #984 closed

[2018-06-28 19:34] #1007 closed

[2018-06-28 19:35] jjgao commented on #1028
@zhx828 let's put this to our to-do list. We can wait until refactoring is done since we have waited so long :)

[2018-06-28 19:36] #1037 closed

[2018-06-28 19:36] #1041 closed

[2018-06-28 19:36] #1046 closed

[2018-06-28 19:38] jjgao commented on #1073
I am closing this since this issue is likely out of date. Please feel free to reopen with new urls.

[2018-06-28 19:38] #1073 closed

[2018-06-28 19:40] jjgao commented on #1083
@pieterlukasse do we still have the problem?

[2018-06-28 19:42] #1086 closed

[2018-06-28 19:43] jjgao commented on #2902
@zhx828 can we do this soon? or better wait for the refactored page?

[2018-06-28 19:43] jjgao commented on #4263
closing this. Tracking in #2902.

[2018-06-28 19:43] #4263 closed

[2018-06-28 19:45] jjgao commented on #1088
@pieterlukasse @inodb should we keep this open?

[2018-06-28 19:47] #1102 closed

[2018-06-28 19:48] #1116 closed

[2018-06-28 19:51] #1117 closed

[2018-06-28 19:59] jjgao commented on #1133
@adamabeshouse let's come back to this after the refactoring is done.

[2018-06-28 20:00] onursumer commented on #1699
Seems like we still use the legacy api here. Maybe we should switch to the new endpoint and add support form chromosome: http://www.cbioportal.org/api/swagger-ui.html#/Copy_Number_Segments/getCopyNumberSegmentsInSampleInStudyUsingGET

[2018-06-28 20:04] jjgao commented on #1138
https://github.com/cBioPortal/cbioportal/pull/4114 should solve it.

[2018-06-28 20:04] #1138 closed

[2018-06-28 20:32] #1964 closed

[2018-06-28 20:32] #2012 closed

[2018-06-28 20:33] #4137 closed

[2018-06-28 20:38] #2094 closed

[2018-06-28 20:39] #2174 closed

[2018-06-28 20:39] #2175 closed

[2018-06-28 20:47] #2219 closed

[2018-06-28 20:48] #2239 closed

[2018-06-28 20:49] #2303 closed

[2018-06-28 20:50] jjgao commented on #2317
Issue moved to [cBioPortal/datahub #246](https://github.com/cBioPortal/datahub/issues/246) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-28 20:50] #2317 closed

[2018-06-28 20:52] jjgao commented on #2323
Issue moved to [cBioPortal/datahub #247](https://github.com/cBioPortal/datahub/issues/247) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-28 20:52] #2323 closed

[2018-06-28 21:01] jjgao commented on #2324
tracked here https://github.com/cBioPortal/datahub/issues/114

[2018-06-28 21:01] #2324 closed

[2018-06-28 21:01] #2372 closed

[2018-06-28 21:05] #2423 closed

[2018-06-28 21:06] jjgao commented on #1765
@zhx828 let's do this after refactoring is done.

[2018-06-28 21:09] schultzn commented on #1765
Wow… JJ is digging deep.. this is from last year. :-)

[2018-06-28 21:22] #2538 closed

[2018-06-28 21:28] jjgao commented on #2554
piwik has renamed to matomo: https://matomo.org/

[2018-06-28 21:30] #2752 closed

[2018-06-28 21:35] #4352 closed

[2018-06-28 21:38] jjgao commented on #4349
@nhuff could you please send your questions to cbioportal@googlegroups.com? We will pick up user questions more promptly there. Thanks.

[2018-06-28 21:38] #4349 closed

[2018-06-28 21:39] jjgao commented on #4279
@messersc I am closing this here. If it is still an issue, please contact cbioportal@googlegroups.com. Thanks.

[2018-06-28 21:39] #4279 closed

[2018-06-28 21:43] onursumer commented on #4411
@jjgao @JiaoJiao123 Didn't we already add support for this in the GSoC project?

[2018-06-28 22:01] schultzn commented on #4397
I think the concept itself is very important - highlighting the genes that are mutated above an expected background. Maybe we should discuss how to do that better going forward?

[2018-06-28 22:07] jjgao opened #4415 "MutationMapper tweaks"
- [x] change the exmaple to this data: http://www.cbioportal.org/index.do?session_id=5b3559aa498eb8b3d566c3a9#mutation_details
- [x] add cancer type to the example of Genomic Coordinates only
- [x] add allele frequencies to the last example
- [x] change the names of the three examples to "Genomic changes", "Protein changes", "Genomic and protein changes"

[2018-06-29 09:32] sandertan opened #4416 "Update documentation to replace retired wiki.nci.nih.gov references"
I've been in contact with NCI and it appears wiki.nci.nih.gov has been retired. This wiki is mentioned a number of times in our documentation, mainly because it has a complete description of the MAF format.

The new resource for this is https://docs.gdc.cancer.gov/Data/File_Formats/MAF_Format/. However, some critical information on the MAF format is absent, for example, what the allowed values are

[2018-06-29 13:41] n1zea144 opened #4417 "MixedPact cohort - open "Gene Panel" attribute on Study Page by default"
Please display "Gene Panel" clinical attribute by default on Study Summary for mixedpact:
[https://cbioportal.mskcc.org/study?id=mixedpact#summary](https://cbioportal.mskcc.org/study?id=mixedpact#summary)

[2018-06-29 16:19] n1zea144 commented on #4417
Actually, I think we can do this in the pipeline.  Closing ticket.

[2018-06-29 16:19] #4417 closed

[2018-06-29 17:29] onursumer commented on #4412
@jjgao Looks like the query parameter is `chromosomes`, not `chromosome`. So this one works as desired: http://www.cbioportal.org/api-legacy/copynumbersegments?cancerStudyId=prad_tcga_pan_can_atlas_2018&chromosomes=7&sampleIds=TCGA-2A-A8VL-01,TCGA-2A-A8VO-01

[2018-06-29 17:36] onursumer commented on #1699
Looks like we have been querying the API incorrectly for the whole time. The chromosome query parameter is `chromosomes`, not `chromosome`. But for this example, it returns empty when we set `chromosomes` to X or Y.

[2018-06-29 17:56] onursumer commented on #4412
The API is fine. Updated the issue as a `refactoring` bug, since we need to fix this in the frontend.

[2018-06-29 21:23] alisman opened #4419 "Survival plot should use DownloadControls"
We will need to add an option to have a data download.

[2018-06-29 22:01] onursumer commented on #1699
Seems like changing `X` to `23` works for this specific example.

After a few simple queries that's what I found out for the test database we have on amazon:

`select count(*) from public_test.copy_number_seg where chr='X'` => 250225
`select count(*) from public_test.copy_number_seg where chr='Y'` => 15023
`select count(*) from public_test.copy_number_seg where chr=23` => 231673
`select count(*) f

[2018-06-30 03:36] jjgao commented on #1699
Thanks, @onursumer. Let's support both X/Y and 23/24 on the api level.

@sheridancbio should we also normalize the data when importing, i.e., changing 23 to x and 24 to y.

[2018-06-30 03:37] jjgao commented on #1699
@onursumer it would be a good idea to use the new API but I think the format may be different?

[2018-06-30 03:40] jjgao commented on #1765
@schultzn two years ago actually...

[2018-06-30 03:41] jjgao commented on #4411
Maybe, but I don't think we push it out.

[2018-07-02 18:08] zhx828 opened #4422 "OncoKB Card keeps shifting when at the bottom of the page"
This issue happens usually at the bottom of the page. And sometimes the page will be extended to have the card fits in, but seems random.
![jul-02-2018 14-07-21](https://user-images.githubusercontent.com/5400599/42179291-540b9524-7e01-11e8-939b-8ce7a65447e1.gif)

[2018-07-02 18:17] ersinciftci commented on #3867
it seems Mutated Genes and Copy Number Alterations tabs is not visible when multiple study selected in study view, I didn't realize that, so no need to add multi-study support to Gistic API for now

[2018-07-02 18:17] #3867 closed

[2018-07-02 20:01] jjgao opened #4423 "Are we still limiting the number of genes"
A user reported:

it states “please enter fewer genes for better performance”. Under 100 genes works fine.

But I couldn't reproduce that. I can query to 400 genes...

[2018-07-02 20:38] jjgao commented on #4423
The user was talking about the study view page.

[2018-07-02 20:38] #4423 closed

[2018-07-02 20:53] jjgao opened #4424 "Cancer Type Summary: support filter by both percentage and absolute number"
From a user:

Also, I noticed that if I view cancer type frequencies, if the y-axis is in %, I can only filter by a minimum % not also by the absolute number the cases (the later function is available if I instead display the absolute number of cases). I think it would be desirable to be able to sort the frequency bars by both minimum number of cases, and minimum absolute number of altered cases.

[2018-07-02 21:04] zhx828 commented on #2082
@pieterlukasse we removed the threshold in here https://github.com/cBioPortal/cbioportal/pull/3306/files Still not all genes are shown unless it appears twice or more.

[2018-07-02 21:04] #2082 closed

[2018-07-02 23:03] zhx828 commented on #2902
@jjgao I think we should do this in the new study view refactoring effort.

[2018-07-03 19:00] jjgao commented on #2902
@zhx828 ok.

[2018-07-03 19:01] jjgao commented on #2902
@zhx828 are we going to show all mutated genes and CNA genes in the new study view?

[2018-07-03 19:22] jjgao opened #4425 "review warning pops up even w/o other ppl on the doc"
![image](https://user-images.githubusercontent.com/840895/42240201-8b52c678-7ed4-11e8-9e0e-f34dd161957c.png)

[2018-07-03 19:23] #4425 closed

[2018-07-03 20:05] jjgao opened #4426 "[1.15.0] Plots: displaying CNA vs mRNA by default if available"
Old:
http://www.cbioportal.org/beta/index.do?session_id=5b32ab0f498eb8b3d566bb6d#plots
![image](https://user-images.githubusercontent.com/840895/42242121-cfc97e5e-7eda-11e8-821c-e04a36534e3f.png)

New:
http://www.cbioportal.org/index.do?session_id=5b32ab0f498eb8b3d566bb6d#plots
![image](https://user-images.githubusercontent.com/840895/42242110-c9a0c4a6-7eda-11e8-962c-e7951a823189.png)

[2018-07-03 20:08] jjgao opened #4427 "[1.5.0] Plots: mutation colors"
Can we use the exact the same colors as OncoPrint?

e.g. black for truncating, gray for Not mutated, etc

[2018-07-03 20:11] jjgao opened #4428 "[1.15.0] Plots: driver vs vus?"
Is it possible to have driver vs vus colors in plots tab as well?

[2018-07-03 20:19] jjgao opened #4429 "[1.15.0] Plots: adding Mutations and CNA colors at the same time"
Can we do the followings?

- [x] add both mutations (fill) and CNA status (border) at the same time
- [x] Gray border if not CN altered
- [x] Change "View" to "Coloring by"
- [x] Change "Mutation Type" to "Mutations"
- [x] Change "Copy Number" to "Copy Number Alteration"
- [x] use checkboxes instead of radio boxes for Mutation and Copy Number Alteration
- [x] by default, both should be checked

[2018-07-03 20:27] jjgao opened #4430 "[1.5.0] Plots: is it possible to plot the dots based on priority?"
e.g. truncating on top of missense on top of no mutations etc. The same priorities that are used to solve conflicts in oncoprint

[2018-07-03 20:31] jjgao opened #4431 "New Plots: Profile list based on data availability"
We used to populate the profile list based on data availability for the selected gene and samples. We are not doing that for the new interface. I think we have discussed that but couldn't remember the exact reason to do that? @adamabeshouse could you comment?

Old
http://www.cbioportal.org/index.do?session_id=5b32ab0f498eb8b3d566bb6d#plots
![image](https://user-images.githubusercontent.com/840895/

[2018-07-03 20:38] adamabeshouse commented on #4431
to do that we would have to prefetch all the data right?

[2018-07-03 20:39] adamabeshouse commented on #4430
you're talking about z-index, right?

[2018-07-03 20:39] adamabeshouse commented on #4429
I'm not so sure the border will be visible enough but I can try

[2018-07-03 20:41] adamabeshouse commented on #4427
I'm using the passenger colors, I should use the driver colors instead?

[2018-07-03 20:41] adamabeshouse commented on #4426
cool. is that the only rule?

[2018-07-03 20:42] adamabeshouse commented on #4428
yes but let's talk about the UI

[2018-07-03 20:46] jjgao opened #4432 "Plots: should we list Clinical Attributes as a Profile Type to simplify the interface?"
We could

- [ ] remove the two radio boxes to select Molecular Profile or Clinical Attribute
- [ ] Move Profile Type to the first one
- [ ] Add Clinical data into the Profile Type drop-down
- [ ] Move Gene selection to the last one

Just a thought. Comments? @schultzn @tmazor @adamabeshouse

Current one:

![image](https://user-images.githubusercontent.com/840895/42243843-a6e20ac8-7ee0-11e8-91df-38

[2018-07-03 22:36] adamabeshouse commented on #4432
Makes perfect sense to me

[2018-07-05 04:05] schultzn commented on #4432
That might work… so gene selection would move down to the last step?

[2018-07-05 13:59] jjgao commented on #4430
yes.

[2018-07-05 14:05] jjgao commented on #4431
@adamabeshouse good point. In this case, you would also need gene as a parameter. Could you write down your proposed endpoint?

[2018-07-05 14:07] jjgao commented on #4432
@schultzn yes.

@adamabeshouse could you give it a try?

[2018-07-05 14:09] jjgao commented on #4428
@adamabeshouse you mean how to select/deselect oncokb, etc?

[2018-07-05 14:10] jjgao commented on #4426
@adamabeshouse AFAIK.

[2018-07-05 14:11] jjgao commented on #4427
@adamabeshouse yes, unless we use VUS annotation.

[2018-07-05 14:12] jjgao commented on #4429
You can try to thicken it.

We also proposed that here: https://github.com/cBioPortal/cbioportal/issues/4006

[2018-07-05 16:02] ashraf123456789 opened #4433 "BAM file capabilities"
Hello,

is cbioportal capable of bam file upload? Also if it is can you reference a public study I can take a look at for format referencing?

Thanks,

-Ashraf

[2018-07-05 19:06] adamabeshouse commented on #4428
right yeah

[2018-07-05 19:07] jjgao opened #4435 "Enrichments - mRNA / Protein: tooltip on p-Value column header is wrong"
It should be `Derived from Studen's t-test` for mRNA and Protein. Please change the tooltip for Mutations and Copy-number to "Derived from Fisher`'s` `e`xact `t`est".

![image](https://user-images.githubusercontent.com/840895/42342566-71d59eaa-8064-11e8-9a88-7d50560f562e.png)

[2018-07-05 19:19] schultzn opened #4436 "Prostate Neuroendocrine study is missing mRNA z-scores"
The neuroendocrine prostate cancer study is missing the mRNA z-scores. RNA expression levels are there, you just can't query the data.
 http://www.cbioportal.org/study?id=nepc_wcm_2016

[2018-07-05 19:20] schultzn commented on #4436
This was reported by a user:
https://groups.google.com/forum/#!topic/cbioportal/Ur-XlJwzUnI

[2018-07-05 21:59] zhx828 opened #4437 "Save a shared virtual study"
After opening a shared virtual study without change anything, the title and description should be populated based on the shared VS when the current user tried to save it.

[2018-07-05 22:05] inodb opened #4438 "Update model SAMPLE_CLASS and SAMPLE_TYPE for liquid biopsies"
User asked about coloring of sample labels on patient view (https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/0S2JvBus_W0/L_izJw1SCwAJ), which sparked remodeling of sample_class and sample_type discussion.

See proposal:

https://docs.google.com/spreadsheets/d/1ExGbhpWXfoQu3_TTv8wOy86qBDleZo-vdPzvrJuE00I/edit?ts=5b3e8a14#gid=0

Let's propose this and see if we can

[2018-07-05 22:22] jjgao commented on #4433
@ashraf123456789 nop, we don't support bam file upload -- sorry.

[2018-07-05 22:22] #4433 closed

[2018-07-05 22:23] jjgao commented on #4428
@adamabeshouse I think we can keep the configuration in the oncoprint for now, so Plots would use what's defined in oncoprint. Would that work?

[2018-07-05 23:02] adamabeshouse commented on #4428
sure, that would be fine

[2018-07-05 23:51] adamabeshouse commented on #4431
I think @ersinciftci would be better to pin down the details since he is familiar with the conventions, but basically it would be input: profile, genes, samples, output: number of samples with data for the profile and genes. what do you think @jjgao @ersinciftci ?

[2018-07-06 08:23] pieterlukasse commented on #4432
@jjgao sounds good. One thought: maybe rename "Profile type" to something more generic like "Data type"? "Clinical data" is not something I would look for in a "Profile type" drop down.

[2018-07-06 10:17] fedde-s commented on #4391
I can't find the validateStudies.py script in cBioPortal v1.13.2. Is it to be introduced in v1.14.0?

[2018-07-06 17:19] adamabeshouse commented on #4431
oh wait, would gene panel be sufficient for this?

[2018-07-06 17:29] tmazor commented on #4397
I agree - I think it's useful for interpreting the data. It would be great if we could somehow extend this to additional studies.

[2018-07-06 17:36] jjgao commented on #4431
@adamabeshouse I think so, but it may be not so different from just pull the data -- the number of data points would be the same I think.

[2018-07-06 17:38] jjgao commented on #4432
@pieterlukasse I was thinking of that too, but should we also change `Profile Name`?

[2018-07-06 18:14] adamabeshouse commented on #4431
you're right. but if we load the oncoprint anyway then it would be the same. but it would cost more time if we load straight to the tab. i remember now we had this conversation..

[2018-07-06 18:15] adamabeshouse commented on #4431
my idea is that the new API method would just be a different "projection", so now we have DETAILED, SUMMARY, ID, and others, so I propose a new projection something like COUNT

[2018-07-06 18:30] jjgao commented on #4431
@adamabeshouse I think it's a good idea to use projection.

Maybe the gene-panel endpoint can serve only gene-panel meta data. And we can have profiled (or profile-coverage, or a better name) to serve whether a sample is profiled (for a gene in a profile)? It will combine data from sample-profile and gene-panel-list tables.

There is another complication: the NA values should be excluded -- are we

[2018-07-06 21:51] adamabeshouse commented on #4427
lets consider this duplicate/obsolete https://github.com/cBioPortal/cbioportal/issues/4428

[2018-07-06 21:51] #4427 closed

[2018-07-08 23:01] schultzn commented on #4397
I had a conversation with Marcin Imielinski from Cornell / NYGC. They have a mutational significance method that he thinks can be run on the fly on any data set. Maybe we can consider that as an option. He said he would contact me once it is ready.

In the meantime, I wonder if we could allow users to filter by cancer genes? I assume filtering by only known or likely oncogenic mutations would take

[2018-07-09 13:22] ersinciftci commented on #4379
I couldn't make this work, @alisman any idea what might be causing this?

[2018-07-09 15:32] tmazor opened #4440 "new API page has broken links"
![image](https://user-images.githubusercontent.com/10508276/42460377-b467c5b8-836b-11e8-8e83-9858d43b75e1.png)

"Terms of Service" links to cbioportal.org and "cBioPortal - website" links to nothing.

[2018-07-09 17:28] ersinciftci commented on #4431
If you guys are talking about the number of samples that has a non-NA value in `genetic_alteration` table for a profile, then it's related to Molecular Data API, Gene Panel or Gene Panel Data APIs don't use `genetic_alteration` table, they use `sample_profile` and `gene_panel` tables, so they don't deal with `NA` values.

[2018-07-09 17:35] adamabeshouse commented on #4431
ah okay, in that case theres no getting around adding an endpoint. what do you think of the new projection @ersinciftci ?

[2018-07-09 19:02] ersinciftci commented on #4431
Molecular Data API currently has a `META` projection that returns the total count, so if you call /molecular-profiles/{molecularProfileId}/molecular-data/fetch for a profile with `META` projection, you will get the total number of gene+sample couples that has non-NA data in the response headers, and since only one gene can be selected in that screen, it will give you the sample count, and it seems

[2018-07-09 19:11] adamabeshouse commented on #4431
oh okay, great!

[2018-07-09 20:27] inodb opened #4442 "fix network iframe calling backend"

[2018-07-10 15:15] messersc opened #4443 "How to delete a study from the database?"
I only found this http://cbioportal.readthedocs.io/en/latest/Importer-Tool.html#remove-cancer-study, but it says these instructions are outdated.

Is there a way to remove a cancer study from the database currently?

Thanks,
Clemens

[2018-07-10 15:18] jjgao commented on #4443
Hi @messersc would you please send the question to our user support group cbioportal@googlegroups.com? Thanks.

[2018-07-10 15:18] #4443 closed

[2018-07-10 17:44] adamabeshouse opened #4444 "issue with borderedChart css class"
![image](https://user-images.githubusercontent.com/636232/42527661-46120ede-8447-11e8-8f95-ceaf9f70e90d.png)

![image](https://user-images.githubusercontent.com/636232/42527667-4d91eea4-8447-11e8-83ff-fdb7bff5a92a.png)

it seems like the border is calculated to only contain the part thats initially visible, without scrolling (see how it cuts off due to scroll width, on the right)

[2018-07-11 14:21] jjgao opened #4445 "oncotree_code inconsistency"
Oncotree_code in the clinical data and our database are no longer up to date. We should migrate them to the latest version. CANCER_TYPE and CANCER_TYPE_DETAILED should also be update.

[2018-07-12 13:08] ritikakundra commented on #4445
@jjgao Do you have a way to find those studies?

[2018-07-12 13:09] pieterlukasse opened #4448 "Error when running 1.14 with SAML and no session service"
When running 1.14 release with SAML authentication ON and **no** session service, we get this error when loading the query page:

[code]
Not sure if it is related to the authentication configuration in combination with no session service yet though.

[2018-07-12 13:10] pieterlukasse commented on #4448
notify @n1zea144 @mandawilson

[2018-07-12 16:13] zhx828 opened #4449 "Group unique string values separately in study view bar chart"
Allow bar chart to show all string values separately in its own bar.
The feature is requested from GENIE, the group wants to show REDACTED instead of NA.

[2018-07-12 17:10] imielinski commented on #4397
let's do it!  how do we get started?

[2018-07-13 01:41] jjgao commented on #4445
We can write a script to look for outdated oncotree code in clinical data table. I could do that next week. But maybe @yichaoS can help on this? @yichaoS please share your sql query code here if you can do.

[2018-07-13 01:42] jjgao commented on #4445
And this is also impacting internal data. Maybe we need some code in the pipeline to convert old oncotree codes to new ones. @n1zea144 @sheridancbio

[2018-07-13 01:47] jjgao commented on #4448
@pieterlukasse @inodb maybe we should dockerize session service and make it a requirement for cbioportal. We are going to rely more and more on the session service.

[2018-07-13 01:48] jjgao commented on #4397
@imielinski thanks for helping us on this. Would you please give us some pointers of your method, code, or paper? If you have time to help integrate it into the portal code, that'd be even better :)

[2018-07-13 09:56] oplantalech opened #4451 "Patient clinical attributes not shown in all patient samples"
As you can see in the screenshot for study lgg_ucsf_2014 in cbioportal.org, patient attributes like "Gender" are only displayed in one of the samples of the patient, but not in all:
![example](https://user-images.githubusercontent.com/20278013/42685560-8ff709b6-8693-11e8-9c07-d4276e5ef1e6.png)

[2018-07-13 13:45] inodb commented on #4451
I think gender is a patient attribute. I don't see it on the patient view for the samples. @zhx828 do you know why it shows up this way?

Is there some logic on the frontend that assigns the gender to one sample?

[2018-07-13 14:32] zhx828 commented on #4451
@inodb the patterns looks like only the first sample got the gender info. Yeah, the clinical table will map all patient clinical data to sample level. I can take a look at the issue.

[2018-07-13 14:35] kalletlak commented on #4451
@zhx828 I was running into errors when there is only one sample in the study. My fix in https://github.com/cBioPortal/iViz/pull/739 even fixes this

[2018-07-13 14:37] zhx828 commented on #4451
@kalletlak I doubt it will because the logic of mapping P to S data is in cbioportal, separated out from iviz project. Let me take a look.

[2018-07-13 14:58] zhx828 commented on #4451
@kalletlak looks good. It does solve the issue. I will send the pull request to portal.

[2018-07-13 17:32] fedde-s commented on #4391
The issue isn't just present in the master branch, it has indeed been released in v1.14.0.

[2018-07-13 17:33] fedde-s commented on #4391
Pull request #4453 should fix it.

[2018-07-13 21:09] adamabeshouse commented on #4006
it just occurred to me this only works in plots tab when the gene is the same, because otherwise which CNA do you show? in plots tab we only show CNA when the gene is the same.

[2018-07-13 21:13] adamabeshouse commented on #4006
@schultzn and I discussed and we're going to put this off

[2018-07-16 14:12] #4435 closed

[2018-07-16 15:10] jjgao opened #4454 "[Expression-tab] use the same mutation categories and colors as OncoPrint and the new Plots tab"
Since we are switch to the new colors for Plots tab, let's do it for the Expression tab as well.

Related discussion: https://github.com/cBioPortal/cbioportal/issues/4404

[2018-07-16 18:29] adamabeshouse opened #4456 "allow log scale for certain clinical attributes in plots tab"

[2018-07-16 18:30] adamabeshouse commented on #4456
@inodb @jjgao how do we decide which clinical attributes can have log scale? is it just total mutations?

[2018-07-16 18:40] n1zea144 opened #4457 "Custom News.md linking"
I have a properties file setup to access a custom md file for news:

skin.documentation.baseurl=https://raw.githubusercontent.com/cBioPortal/cbioportal/genie-documentation/docs/
skin.documentation.markdown=true
skin.documentation.skin.news=genie-news.md
...

The content is not showing up - after investigation into the chrome debugger/network tab, it looks like skin.documentation.skin.news property

[2018-07-16 18:55] jjgao commented on #4456
@adamabeshouse maybe we can add a log option (toggle on/off, by default off) for any number attributes.

You can also do that for negative numbers:

![image](https://user-images.githubusercontent.com/840895/42777441-1e39f9c4-8908-11e8-8979-5d84160acb84.png)

https://community.tableau.com/thread/105453

[2018-07-16 19:05] zhx828 commented on #4456
@onursumer study view bar chart may need this too, not critical yet.

[2018-07-16 19:33] #4146 closed

[2018-07-16 19:37] jjgao commented on #4456
@zhx828 @onursumer it was an example to show how to do log transformation for negative data, but yeah it can be useful in study view page.

[2018-07-16 19:39] jjgao commented on #4248
I think the frontend part is not done, right?

[2018-07-16 19:44] jjgao commented on #1139
@inodb moved to To-Do.

[2018-07-16 19:54] ersinciftci commented on #4431
Actually `META` projection had a bug and was counting `NA` values as well, opened a PR to fix it https://github.com/cBioPortal/cbioportal/pull/4459

[2018-07-16 19:55] zhx828 opened #4460 "SV: Layout charts"
- [ ] Dynamically layout charts to fill in the empty space in the page, this is done by using [Packery JS](https://packery.metafizzy.co/), there is an unofficial [react wrapper](https://github.com/eiriklv/react-packery-component).
- [ ] Use priority from clincial attribute meta table to draw charts, the full document is [here](https://github.com/cBioPortal/cbioportal/blob/master/docs/Study-View.md

[2018-07-16 19:57] ersinciftci commented on #4248
Ah, yeah, will just unassign myself for now.

[2018-07-16 20:00] jjgao opened #4461 "use protein length instead of gene length for normalization of mutation count"
Currently, gene length in used in the Mutated Genes tab in study view page. Gene length is not easy to estimate and may be inaccurate (https://github.com/cBioPortal/cbioportal/issues/1160). We should switch to protein length (we should have it in Genome Nexus too).

[2018-07-16 20:00] jjgao commented on #1160
closing this. We should switch to protein length.

[2018-07-16 20:00] #1160 closed

[2018-07-16 20:32] zhx828 opened #4463 "SV: Virtual Study"
- [x] Virtual study button
	- [x] Tooltip when over the button. `Save/Share Virtual Study` when login, `Share Virtual Study` when not
- [x] Save/share VS dialog
- [x] Use unique patient/sample ids
- [x] When samples no longer available in the physical studies where the VS comes from, a warning message should be shown
- [x] Make sure physical study id and VS id combination/stand-alone works in the

[2018-07-16 20:39] adamabeshouse commented on #4454
sure

[2018-07-16 20:46] jjgao commented on #4456
@adamabeshouse you are right... I couldn't think of a general solution. Let's do some more research.

[2018-07-16 20:48] #4445 closed

[2018-07-16 20:48] jjgao commented on #4445
Issue moved to [cBioPortal/datahub #264](https://github.com/cBioPortal/datahub/issues/264) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-16 20:49] adamabeshouse commented on #4456
for now we could hardcode it in for total mutations?

[2018-07-16 20:49] adamabeshouse commented on #4431
@ersinciftci not done yet

[2018-07-16 20:49] ersinciftci commented on #4431
yeah it closes automatically when something is merged to `master`

[2018-07-16 20:55] jjgao commented on #4238
@alisman is this done?

[2018-07-16 22:00] inodb opened #4465 "Improve caching cbioportal"
Current cache increases with each unique sample combination

Mybatis only allows to set number of object not size

[2018-07-16 22:19] #4245 closed

[2018-07-16 22:20] alisman commented on #4238
@jjgao yes

[2018-07-16 22:20] #4238 closed

[2018-07-17 02:56] jjgao opened #4466 "Beta - Cancer Type summary issue"
![image](https://user-images.githubusercontent.com/840895/42794160-6fb9cf02-894b-11e8-816b-995e83e96591.png)

http://www.cbioportal.org/beta/index.do?session_id=5b4d5aab498eb8b3d566fc0b

[2018-07-17 03:05] jjgao commented on #4456
@adamabeshouse ok. Maybe make it an option.

[2018-07-17 03:10] jjgao commented on #4465
The internal portals are still going down from time to time. We turned off mybatis caching completely in the public portal, but couldn't do that for the private portal since it would significantly impact the performance.

I remember @n1zea144 or @ersinciftci mentioned there was some way to cache per sample / gene, instead of per query (set of sampels, set of genes).

[2018-07-17 13:34] n1zea144 commented on #4465
@jjgao  Timely message.  I understand from @zhx828 that the built-in Mybatis cache is not working as expected.  I thought I would look into using Ehcache (hibernate cache system) with MyBatis.  For one, its widely used and we've used it in other projects.  Also, there are tools available to monitor the cache.  This will allow us to confirm the expected behavior based on our settings.

[2018-07-18 15:07] alisman opened #4470 "Network iframe doesn't work on private portal"
API host needs to reflect nesting gahhhH!

[2018-07-18 15:40] alisman opened #4471 "Tooltips on crowded Survival or Expression charts are not working properly"
When you hover over a point in a crowded area, we should be able to enter tooltip without triggering tooltip for adjacent points.  This really hard problem I think. @jjgao maybe we introduce clicking behavior?  i.e. click on point brings up tooltip directly under the mouse so that user can click on links?  We need to find some relatively simple and universal solution.

[2018-07-18 15:40] #4261 closed

[2018-07-18 15:42] #4442 closed

[2018-07-18 15:42] #4197 closed

[2018-07-18 15:45] #2751 closed

[2018-07-18 15:47] #4401 closed

[2018-07-18 15:48] alisman commented on #4369
@ersinciftci did we do this?

[2018-07-18 15:56] alisman opened #4472 "Download controls should have mouseover expansion behavior"
The download controls are kind of unwieldy.  Lets Just have a button with cloud icon in it which when you hover over it, expands to the current menu in some form.

![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/66fc40e6-021c-4a54-9cf8-4b7a2622cc11)

So, it should look like this in off state:

![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/9ee

[2018-07-18 16:08] ersinciftci commented on #4369
not yet, maybe @onursumer can look at it as I won't be working on portal until Monday.

[2018-07-18 17:49] alisman opened #4473 "Populate meta tags dynamically on patient page (for SEO)"

[2018-07-18 18:36] #2934 closed

[2018-07-18 18:36] #3817 closed

[2018-07-18 18:36] #4422 closed

[2018-07-18 19:31] n1zea144 commented on #4465
@jjgao Actually, I'm not set on using Ehcache yet.  After some further investigation, it looks like we can implement our own custom cache.  I think its more important to pursue this route as the structure of keys/values in the cache created by the MyBatis cache implementation is not ideal for our use-cases.  As a start I'm going to implement a custom cache which simply proxies the MyBatis cache im

[2018-07-18 21:14] #4384 closed

[2018-07-18 22:48] jjgao commented on #4369
@onursumer please prioritize this one since this is required for this release.

[2018-07-18 22:58] imielinski commented on #4397
It’s

https://github.com/mskilab/fishHook

tutorial on lung adenocarcinoma exomes is here

http://mskilab.com/fishHook/tutorial.html

Beyond that - I think we should definitely meet to discuss details!

Marcin

From: JianJiong Gao <notifications@github.com>
Reply-To: cBioPortal/cbioportal <reply@reply.github.com>
Date: Thursday, July 12, 2018 at 9:48 PM
To: cBioPortal/cbioportal <cbioportal@norepl

[2018-07-18 23:08] adamabeshouse commented on #4471
@jjgao @alisman well a faster reason why its broken in survival, and more difficult than in other tabs, is that the tooltip is misaligned, so its difficult to move the mouse while remaining inside the tooltip. if we realign the tooltip, do you think it would be usable enough? eg see plots tab

[2018-07-18 23:10] adamabeshouse commented on #4169
@jjgao can you explain this more to me tomorrow?

[2018-07-19 00:19] schultzn opened #4474 "Login button and login window need more and better descriptions"
The new login button is great.

A couple of suggestions to improve:
 - [x] Show a tooltip over the login button that says: "Optional login via Google allows you to save cohorts" or something similar
 - [x] in the login window, change:
Login to Portal:
Welcome to cBioPortal - log in to save your virtual studies.
    to
    Login to cBioPortal:
    Welcome to cBioPortal - log in with your Google acc

[2018-07-19 19:37] n1zea144 commented on #4465
@jjgao @ersinciftci @inodb @zhx828 @sheridancbio I now have a custom cache implementation in place.  It does confirm that keys are generated for each namespace/query/parameter list (see attached).  In fact, MyBatis has defined a CacheKey type and a reference to an instance of this is stored in the cache, which ultimately in the MyBatis library is just a HashMap (depending on eviction method, there

[2018-07-20 04:30] jjgao commented on #4169
nvm. I like the current implementation.

[2018-07-20 04:30] #4169 closed

[2018-07-20 12:53] Sjoerd-van-Hagen commented on #4332
@adamabeshouse how is it going?

[2018-07-20 14:08] tmazor opened #4476 "beta - oncoprint - after adding clinical tracks, "add clinical track" text disappears"
Before adding a clinical track:
![image](https://user-images.githubusercontent.com/10508276/43006775-95b89966-8c04-11e8-89bf-d748d2005632.png)

After adding a clinical track:
![image](https://user-images.githubusercontent.com/10508276/43006789-9e41230a-8c04-11e8-801e-393595d83de5.png)

[2018-07-20 14:21] tmazor opened #4477 "add description to "fraction genome altered""
I'm not sure if this is a data issue or a code issue. Sometimes when I hover over clinical tracks in OncoPrint I get a description (e.g. Mutation Spectrum:
![image](https://user-images.githubusercontent.com/10508276/43007460-65de6bba-8c06-11e8-92b5-cd79875d4f38.png)
and sometimes I get just the name of the track (e.g. Fraction Genome Altered:
![image](https://user-images.githubusercontent.com/1050

[2018-07-20 14:35] tmazor opened #4478 "beta - cancer types summary - bar overlaps y-axis"
![image](https://user-images.githubusercontent.com/10508276/43008227-768d0e60-8c08-11e8-9ae6-29616c7c7a2c.png)

http://www.cbioportal.org/beta/index.do?cancer_study_id=lgg_tcga&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=lgg_tcga_cnaseq&gene_list=TP53%2520EGFR%2520PDGFRA%2520PTEN%2520CIC&geneset_list=%20&tab_index=tab_visualize&Action=Submit&genetic_profile_ids_PROFI

[2018-07-20 14:40] tmazor opened #4479 "beta - plots - missing box in box plot"
Oligoastrocytoma has data points but no box is drawn:
![image](https://user-images.githubusercontent.com/10508276/43008466-2d47208c-8c09-11e8-9be9-7dd28ffe2319.png)

Similarly, Gain & Amplification are missing boxes in this plot:
![image](https://user-images.githubusercontent.com/10508276/43008585-7b80710e-8c09-11e8-976b-8c5dbe35f7ee.png)

http://www.cbioportal.org/beta/index.do?cancer_study_id=lg

[2018-07-20 14:48] tmazor opened #4480 "beta - plots - provide error message when data isn't available"
PDGFRA has no RPPA data in this study. If I select it in plots, I get this:
![image](https://user-images.githubusercontent.com/10508276/43008816-01df2b28-8c0a-11e8-8b1c-1674bc664bdc.png)

Instead, the download components & info button shouldn't appear, and we should display an error message that the selected data doesn't exist.

http://www.cbioportal.org/beta/index.do?cancer_study_id=lgg_tcga&Z_SC

[2018-07-20 14:56] tmazor opened #4481 "beta - plots - tooltip formatting"
If I hover over the tooltip for copy-number from GISTIC, this happens:
![image](https://user-images.githubusercontent.com/10508276/43009328-5d1c173e-8c0b-11e8-8e0c-d31f33a02b41.png)

Can the tooltip text cover multiple lines rather than just one, so that the tooltip can actually point to the (i) symbol?

[2018-07-20 15:02] tmazor opened #4482 "plots - profile descriptions"
The profile descriptions for mRNA & copy number contain the total number of samples. However, the data shows in the plots tab will only be the number of samples contained in the query, which may not be the same number. It is confusing for a user to see multiple different sample counts.

I know we covered this conversation in the Co-Expression tab, but I wanted to highlight that the same issue exis