[2016-09-27 20:45] jjgao opened #1723 "Error message when there is no session.service.url in the properties file"
Reported by Aaron:

When there is no `session.service.url` in portal.properties, he got the following error:

`Could not resolve placeholder 'session.service.url' in string value "${session.service.url}"`

Is it possible to resolve this? For example,  DFCI has their own portal.properties file. Ideally they don't have to add a url for that since they are not using it for the moment.

[2016-09-27 22:12] inodb opened #1724 "Clinical Timeline issues"
- [x] This one has an oddity where 0-4 months seems to be equally long on the x axis as 4-5 months: http://www.cbioportal.org/beta/case.do?cancer_study_id=lgg_ucsf_2014&case_id=P16 (fixed in https://github.com/cBioPortal/clinical-timeline/pull/111)
- [ ] SVG is too small in Chrome (circles are cut at the bottom) ![screen shot 2016-09-27 at 4 03 31 pm](https://cloud.githubusercontent.com/assets/133

[2016-09-28 09:36] rohangoel96 commented on #1724
@inodb , I guess the oddity in the first case is not the spacing but the presence of an extra tick (4m).
Moreover can you please elaborate on what you mean by SVG being small?

[2016-09-28 13:41] jjgao commented on #1723
@mandawilson I assume we can close this?

[2016-09-28 14:02] mandawilson commented on #1723
Yes, we can close this.  The error went away when Aaron updated his branch.

[2016-09-28 14:02] #1723 closed

[2016-09-28 14:12] jixccf opened #1725 "What files are required by Genomic Profiles?"
My data have three files: patient, sample and continuous mRNA expression. The upload process has no error but I find "No Genomic Profiles available for this cancer study" message on my home page.

[2016-09-28 15:32] schultzn opened #1726 "Beta: Study View Mut vs CNA plot --> change Plotly default to selection instead of zooming"
Beta: Study View Mut vs CNA plot --> change Plotly default to selection instead of zooming

Same as in Volvano plot on Enrichments tab

[2016-09-28 15:33] schultzn opened #1727 "Beta: Study view de-selection of cases does not work after selecting samples in CNA vs Mut plot"

[2016-09-28 20:50] dhimmel opened #1728 "Color coding TCGA disease/cancer types"
Greetings I'm work on a citizen-science project called [Cognoma](https://github.com/cognoma/cognoma) that uses TCGA data from the UCSC Xena Browser. Currently, our dataset has [33 diseases](https://github.com/cognoma/cancer-data/blob/79848948c9158151e7bd5660c11279ad81ea0d4e/download/diseases.tsv). On one of our issues, @gwaygenomics [wrote](https://github.com/cognoma/cancer-data/issues/26#issuecom

[2016-09-29 16:00] JiaoJiao123 opened #1731 "IGV sort by default sometimes not working on first load"

[2016-09-29 18:31] zhx828 commented on #1727
@schultzn this is expected. @jjgao

[2016-09-29 18:43] zhx828 commented on #1727
@schultzn JJ just explained it to me. Working on it now.

[2016-09-29 19:51] sheridancbio commented on #1646
This issue has been partially fixed now, via:
  #1705
  #1733

I am changing this issue from a Bug to an Enhancement now.
The remaining work is to select the *correct* mutation profile for studies where multiple mutation profiles might be loaded by the query page, and returned by the datamanager call to 'getMutationProfileIds'.

It is possible this never happens --- if the query results page only

[2016-09-29 19:53] sheridancbio commented on #1646
adding participants: @jjgao @adamabeshouse @onursumer

[2016-09-29 20:17] schultzn opened #1735 "Beta: Rename OncoPrint Legend and Mutation Color UI"
Suggestions:

Legend
Change Missense Mutation (recurrent / prior knowledge) -- > Missense Mutation (putative driver)
Change Missense Mutation (non-recurrent/ no prior knowledge) --> Missense mutations (putative passenger)

In the Mutation Color menu, rename section to Putative Drivers (based on recurrence and prior knowledge)

OncoKB --> OncoKB driver annotation

Hide non-recurrent ... --> Hide pu

[2016-09-29 20:18] schultzn commented on #1735
I like the new color defaults - but it's probably best to also do the sorting by default.

[2016-09-29 20:19] schultzn opened #1736 "Beta: Network tab not loading"
Network tab is not loading, at least in this query:
http://bit.ly/2dv3lDd

[2016-09-29 20:20] schultzn commented on #1736
never mind ... it loaded, but took a long time. :-)

[2016-09-29 20:44] schultzn commented on #1735
Also please rename "Recurrence" in the Sort menu to "Driver / Passenger"

[2016-09-29 21:21] sheridancbio commented on #1646
I am closing this issue now .. because each study currently has only a single genetic profile of type EXTENDED_MUTATION. If in the future we have multiple mutation profiles per study, we may need to revisit this issue.

[2016-09-29 21:21] #1646 closed

[2016-09-29 21:28] sheridancbio commented on #1712
@JiaoJiao123 If this is working, I think this issue should be closed

[2016-09-30 10:52] j-hudecek opened #1739 "Advanced OQL is broken"
When I copy-paste this expression from Advanced OQL sample page

CCNE1: CNA >= GAIN

I get an error
![image](https://cloud.githubusercontent.com/assets/5654699/18989527/bedd543e-870c-11e6-821a-fa4d28a63716.png)

[2016-09-30 16:00] zhx828 opened #1740 "Add version number when pull OncoKB icons"

[2016-09-30 20:24] onursumer commented on #1711
It should be fixed with #1733

[2016-09-30 20:28] #1711 closed

[2016-10-03 21:04] yichaoS commented on #1726
fixed under: https://github.com/cBioPortal/iViz/pull/296/commits/3685d725ec479db2a0802d45ee6eee6d6ac9f04d

[2016-10-04 10:52] pieterlukasse opened #1748 "Validation (-u option) not working in rc"
Validation stopped working after api moved to api-legacy. See also https://github.com/cBioPortal/cbioportal/pull/1710#issuecomment-251356273

Notify:
@ersinciftci

[2016-10-04 12:31] pieterlukasse opened #1749 "Problems with #1618 (Gene Panel)"
Please check the comments at

 https://github.com/cBioPortal/cbioportal/pull/1618#discussion_r81719150

https://github.com/cBioPortal/cbioportal/pull/1618/files#r81744087

Summary: rc needs some fixing based on changes from #1618

Notify:

@zheins

[2016-10-04 14:50] #1726 closed

[2016-10-04 16:15] fedde-s commented on #1214
I will assume it does and close this issue.

[2016-10-04 16:15] #1214 closed

[2016-10-04 18:54] adamabeshouse commented on #1735
https://github.com/cBioPortal/cbioportal/issues/1751

[2016-10-04 18:54] #1735 closed

[2016-10-05 12:54] jjgao opened #1756 "Style of CN Segments subtabs"
The styles of CN Segments sbutabs are different from other tabs, such as Mutations. Please try to use the same styles.

And there is a bug when you switch to another tab and switch back. Every time, all genes appended again.

![image](https://cloud.githubusercontent.com/assets/840895/19113741/0dcbc132-8ad9-11e6-9ef7-8d21cd4f5537.png)

![image](https://cloud.githubusercontent.com/assets/840895/1911

[2016-10-05 12:57] jjgao opened #1757 "Add a button to download segment data in CN Segments tab"
to download segment data of all selected samples in all chromosomes.

Format: text
Location: botton right
Text: Download segments

[2016-10-05 13:00] jjgao opened #1758 ""Nucleotide changes of point mutations" not working in oncoprint"
Not sure if this has been fixed.

![image](https://cloud.githubusercontent.com/assets/840895/19113989/0efbf792-8ada-11e6-91da-395809e9ee9c.png)

[2016-10-05 14:40] pieterlukasse opened #1759 "Disease free plot flat for laml study"
see http://www.cbioportal.org/study?id=laml_tcga#summary

This seems to be due to the fact that Disease free status info is missing.

[2016-10-05 14:41] pieterlukasse commented on #1759
@zheins

[2016-10-05 16:54] sheridancbio commented on #1631
I think I have found the "proper" target for fixing one of the broken links.
This:
https://cbioportal.readthedocs.io/en/latest/Import-the-Seed-Database.html
contains a broken link to:
https://cbioportal.readthedocs.io/Downloads.html#seed-database
but there is a functioning page here which appears to be what is intended:
https://cbioportal.readthedocs.io/en/latest/Downloads.html#seed-database

It m

[2016-10-05 17:00] fedde-s commented on #1631
These are relative links to paths in the same directory though, and if viewed on GitHub or elsewhere these files will not be in the `/en/latest` directory.

[2016-10-05 20:02] zheins commented on #1759
This is just what is in the file in terms of values for `DFS_STATUS`:

67 DiseaseFree
132 [Not Available]

I also double checked the raw data from firehose to confirm there isn't a processing issue. These numbers appear correct.

[2016-10-05 20:14] zheins commented on #1671
@fedde-s I think the issue is that NA is not a valid Entrez_Gene_Id, and as such should be allowed in that column. The correct behavior would be if NA is found in that column just look at the Hugo_Symbol instead.

Is this correct @chenh4?

[2016-10-05 20:20] zheins commented on #1663
@zhx828 I think this is because the case list generation for our imports do not take into account the clinical files. This is something I've been meaning to address for a while now.

[2016-10-05 20:25] fedde-s commented on #1671
That depends. Defining NA as a way to specify that no gene ID is available may lead to mistakes as NA is a valid gene symbol (and some code

[2016-10-05 21:33] zheins commented on #1663
@zhx828 I just updated our pipelines code to use clinical files in generation of cases_all

I looked at this study and noticed this sample is only in the .seg file. We should have every sample in a study be in the clinical file. @ritikakundra or @chenh4 can you look at this study? This is something that will need to be addressed for all the data on datahub as well.

[2016-10-05 22:10] JiaoJiao123 commented on #1756
fixed in PR #1752

[2016-10-06 13:06] fedde-s commented on #1671
@zheins: I have seen code, at least in `DaoGeneOptimized`, that attempts to a column as either an Entrez ID if it is numeric or as a symbol if not, not sure if that will lead to problems if we allow NA as a second way to express missing values.

[2016-10-06 13:10] fedde-s commented on #1671
If the Entrez ID is not missing but simply unknown to the portal, falling back on the gene symbol will sometimes lead to the data being loaded as a different gene than was specified by the Entrez ID. That's why we agreed to ignore the Hugo_Symbol column if an Entrez ID is given.

[2016-10-06 13:34] zheins commented on #1671
@fedde-s that sounds like more of a data problem doesn't it? I would think you'd still want to check the symbol column in that case to try and salvage the record if the hugo symbol is valid. NA is pretty standard across our formats. If the entrez columns - which is supposed to be a number - has an NA in it, intuitively the import code should then try the hugo symbol.

I guess this is more of a con

[2016-10-06 13:54] fedde-s commented on #1671
The `Gene` table does vary between cBioPortal installations, as Entrez IDs are retracted and replaced over time as new insights are discovered, and gene symbols are revised and reused to refer to different genes. But if we can make sure that the column will never be parsed as a gene symbol, I can agree with adding NA as an alternative way to specify missing Entrez IDs in CNA, expression, and methy

[2016-10-06 14:19] pieterlukasse commented on #1671
@zheins I agree we need to be consistent throughout the different formats 👍  It would be best if we deprecate logic like `DaoGeneOptimized.guessGene()` and use something new for all the `Import...` classes. This new approach could be in the form of two new well defined methods, e.g. `getGeneByEntrezId()` and `getGeneByHugoSymbol()` . Then `getGeneByEntrezId()` could return null if it is not a vali

[2016-10-06 14:21] schultzn opened #1765 "Study View Age Histogram should have finer granularity at the low range"
To select pediatric patients, it would be good if the age histogram would show patients under 20 in a separate graph.

![image](https://cloud.githubusercontent.com/assets/11892704/19156071/995fc100-8bae-11e6-8909-15abf871bde4.png)

[2016-10-06 15:50] zhx828 commented on #1727
This issue may have been solved in https://github.com/cBioPortal/cbioportal/pull/1762 But if the issue continues to persist, please help me write down the issue in details(which study, how to reproduce the issue etc.) Thanks in advance.

[2016-10-06 15:50] #1714 closed

[2016-10-06 15:50] #1715 closed

[2016-10-06 15:50] #1716 closed

[2016-10-06 15:50] #1727 closed

[2016-10-06 15:56] #1692 closed

[2016-10-06 15:59] zhx828 commented on #273
This issue has been solved in new version of Study View. Related info:
https://github.com/cBioPortal/cbioportal/pull/1405
https://github.com/cBioPortal/iViz/releases/tag/v1.0.1

[2016-10-06 15:59] #273 closed

[2016-10-06 15:59] zhx828 commented on #429
This issue has been solved in https://github.com/cBioPortal/cbioportal/pull/1405

[2016-10-06 15:59] #429 closed

[2016-10-06 16:08] zhx828 commented on #965
Looks like the only place using cmd=getPatientSampleMapping method is study view. But the new version no longer needs this anymore. Should we make this method deprecated? @jjgao

[2016-10-06 20:27] chenh4 commented on #1671
Thanks all. @zheins, yes, if NA is found in that column just look at the Hugo_Symbol instead or replacing NA by a blank is also fine.

[2016-10-07 09:34] AndyBlake commented on #1658
Figured it out : just incase anyone comes across this problem - My Sample identifiers were not all Upper case so making the plot code fail to grab the mutation data. Upper cased all the sample identifiers and it worked.

[2016-10-07 09:34] #1658 closed

[2016-10-07 15:01] yichaoS opened #1769 "Plots not displaying mutation annotation"
![screen shot 2016-10-07 at 10 57 47 am](https://cloud.githubusercontent.com/assets/5973438/19194923/5a27aca8-8c7d-11e6-88e8-8d6ac1e7cd76.png)
![screen shot 2016-10-07 at 10 58 03 am](https://cloud.githubusercontent.com/assets/5973438/19194927/5bd59100-8c7d-11e6-8fe1-d78a053b9789.png)

[2016-10-07 16:47] JiaoJiao123 opened #1770 "share CN Segments tab through url"

[2016-10-07 17:53] adamabeshouse commented on #1758
https://github.com/cBioPortal/cbioportal/pull/1772

[2016-10-07 19:44] #1712 closed

[2016-10-07 19:44] #1756 closed

[2016-10-07 19:44] #1731 closed

[2016-10-08 04:33] #1563 closed

[2016-10-08 04:33] #1740 closed

[2016-10-08 13:29] jjgao commented on #965
Good idea to deprecate / remove it.

[2016-10-08 13:34] #1669 closed

[2016-10-08 13:46] jjgao commented on #421
We will do it in the new React/Redux framework.

[2016-10-08 13:46] #421 closed

[2016-10-08 13:50] jjgao commented on #620
@zhx828 we should consider have a separate repo for the oncokb js client.

[2016-10-08 13:54] jjgao commented on #946
@yichaoS I know you have fix it in ivis. Did you replace code for the survival analysis in Results page as well? We should remove the chi-2 end point.

[2016-10-08 13:54] #948 closed

[2016-10-08 13:56] #507 closed

[2016-10-08 13:56] #1110 closed

[2016-10-08 13:58] #1335 closed

[2016-10-08 14:00] #1547 closed

[2016-10-08 14:05] jjgao commented on #1769
@yichaoS I'll close this since it is likely that they were not consistent in using upper/lower cases in sample ids.

[2016-10-08 14:05] #1769 closed

[2016-10-08 14:06] #1736 closed

[2016-10-08 20:59] zhx828 commented on #1561
Also need to change the NCBI protocal to https

[2016-10-08 21:00] #1226 closed

[2016-10-08 21:16] sheridancbio opened #1778 "session-service may be broken (bookmark tab)"
I've been looking at the new 1.3.0 release
**session.service.url** may not be set right in the configuration. The bookmarks tab shows a very long URL rather than the condensed url with the session service identifier.

example page:
http://www.cbioportal.org/index.do?tab_index=tab_visualize&cancer_study_id=lusc_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=lusc_tcga_mutations&genetic_profile_i

[2016-10-08 21:45] sheridancbio opened #1779 "pathology report tab blank under chrome with no .pdf viewer"
I have tried a few different studies, and a handful of samples from each. I have not been able to get a patient view pathology tab result to display. Example links:

http://www.cbioportal.org/case.do?cancer_study_id=ov_tcga&case_id=TCGA-09-1665
http://www.cbioportal.org/case.do?cancer_study_id=lusc_tcga_pub&case_id=TCGA-46-3767

Test brower: Chrome  53.0.2785.143
@cBioPortal/frontend

[2016-10-09 14:49] jjgao commented on #1778
@sheridancbio we decided not to release it on the public portal before we put authentication in session service.

[2016-10-09 14:49] #1778 closed

[2016-10-09 14:58] jjgao commented on #1779
Maybe a one-time glitch when pulling data from datahub. Seems working now.

[2016-10-09 23:54] zhx828 opened #1780 "Study View issues"
- [x] Table oversize after clicking table icon in the pie chart
  <img width="413" alt="screen shot 2016-10-09 at 7 49 12 pm" src="https://cloud.githubusercontent.com/assets/5400599/19224713/7b13298c-8e59-11e6-9bb5-ac66f03d0aeb.png">
- [x] MSKIMPACT should include DARWIN_SEX

[2016-10-10 12:32] pieterlukasse opened #1781 "various layout issues"
When selecting only a few items in the plot, the table gets short and the plot is not visible anymore:

![image](https://cloud.githubusercontent.com/assets/2900303/19236147/2431ab82-8ef6-11e6-88f3-0e7bb73ed2d3.png)

The plot disappears under the table when width is reduced:

![image](https://cloud.githubusercontent.com/assets/2900303/19236152/3007eafc-8ef6-11e6-85ba-b7b3099e1333.png)

New protein

[2016-10-10 12:33] pieterlukasse commented on #1781
@jjgao 1.3.0 issues

[2016-10-10 15:06] jjgao opened #1782 "add download pdf/svg buttons for timeline"
add download pdf/svg buttons for timeline

[2016-10-10 15:07] jjgao opened #1783 "add timeline data to Clinical tab in pv"
Render timeline data (which is now avail for download) in table format in clinical tab of patient view

[2016-10-10 15:13] jjgao opened #1784 "Why didn't treatments show in different lines in timeline"
e.g. P-0004294

[2016-10-10 18:43] schultzn opened #1785 "Beta: Study view needs small delay before tooltip shows up"
Can you increase the delay after which a tooltip shows up when hovering over a pie chart? It comes up too fast and tends to be in the way.

[2016-10-10 20:08] jjgao opened #1786 "oncoprint tab very slow."
- [ ] The result page pulls the list of clinical attributes attributes when it's loading. It should be changed -- load only when the dropdown is clicked.
- [x] Another issue is that all samples are posted to the backend to get the list of attributes making the database query joining 5 tables.

[2016-10-10 20:22] inodb commented on #1512
This has been documented in #1516

[2016-10-10 20:22] #1512 closed

[2016-10-10 22:27] jjgao opened #1788 "Loading "Mutation count" is slow"
Loading "Mutation count" seems to be slow. We should try to improve the performance.

![image](https://cloud.githubusercontent.com/assets/840895/19253114/de667f62-8f16-11e6-8926-020f94184e6c.png)

[2016-10-10 22:49] adamabeshouse commented on #1788
Separate call for missense by position equality, then can use group by and count to do all in single query

[2016-10-11 09:04] fedde-s opened #1790 "No banner on incompatible database schema"
As documented on [Updating your cBioPortal installation](https://github.com/cBioPortal/cbioportal/blob/master/docs/Updating-your-cBioPortal-installation.md#first-time), along with the migration script we added a banner to notify administrators when their database schema version is incompatible with the deployed version of cBioPortal and needs to be updated. The current release (1.3.0) does not dis

[2016-10-11 09:15] pieterlukasse commented on #1790
Solved as part of #1422. Best is to move the solution out into a new PR. @sheridancbio @zheins what do you think?

[2016-10-11 15:08] jjgao opened #1791 "Missing mRNA expression Z-score data for University of Michigan (Grasso et al., Nature 2012) PRAD study"
http://www.cbioportal.org/index.do?cancer_study_list=prad_mich&cancer_study_id=prad_mich&genetic_profile_ids=prad_mich_mrna_median_Zscores&data_priority=0&case_set_id=prad_mich_all&case_ids=&patient_case_select=sample&gene_set_choice=user-defined-list&gene_list=TP53&clinical_param_selection=null&tab_index=tab_download&Action=Submit

[2016-10-11 15:20] jjgao opened #1792 "zscore calculate js implementation"
Implement zscore calculation in Javascript

[2016-10-11 15:34] jjgao opened #1793 "Modify query interface to support dynamic z-score calculation"
- For expression profiles, display all profiles (except z-score profiles) no matter what's the value of "SHOW_IN_ANALYSIS_TAB"
- Add option to allow user to use `Z-scores`
- When a user choose `Z-scores`, allow to pick the reference population: `All profiled samples` or `Samples with diploid copy number of the gene in question`.

[2016-10-11 15:38] jjgao opened #1794 "Update data manager to use front end zscores"
After submitting the query, the original expression data will be loaded. Based on the user selection, z-scores will be calculated and stored in data manager, which OQL and oncoprint will be using.

[2016-10-11 15:39] jjgao opened #1796 "remove zscores from pipeline"
- [ ] remove data files
- [ ] remove pipeline code

[2016-10-11 17:38] jjgao opened #1797 "OncoPrint mutation colors tweaks"
- [x] move oncokb to the first
- [x] select oncokb and hotspots by default
- [x] deselect cbioportal and cosmic by default
- [x] do not load cbioportal or cosmic data until they are selected
- [x] handling the case when oncokb is not available

[2016-10-11 17:53] inodb commented on #873
@pieterlukasse / @aderidder  Is this still something you want to do? Just looked at it today. Excuse the delay

You can actually already use cBioPortal as a dependency if you build it separately first since the artifacts are stored in `~/.m2/org.mskcc/something` (as far as I understand). See for instance @morungos solution: https://github.com/pughlab/cbioportal-octane-overlay

Now if you want to r

[2016-10-11 19:06] sheridancbio commented on #1779
@inodb commented that there were problems accessing the tab under firefox as well .. the generated content could be saved as a .pdf file or user could choose an application to view it, but under Chrome it generates a blank tab. (maybe because of default pop-up blocking or some other chrome setting?) Maybe we should do some more testing and see if it can work more smoothly with chrome.

[2016-10-11 19:14] sheridancbio commented on #1779
@zheins clarified that under chrome, we have seen before that if no pdf viewer is installed then the default behavior (at least for mskcc configured mac chrome installs) is to silently ignore the linked content rather than prompting the user for a choice of how to handle the content.

If there is a way to have chrome detect a missing .pdf viewer in javascript, we should probably put a warning mess

[2016-10-11 20:31] jjgao commented on #1779
@sheridancbio I think it's actually Chrome's bug... I was hope Chrome will fix itself :)

[2016-10-11 20:31] jjgao commented on #1779
duplicated with #1586

[2016-10-11 20:44] #1779 closed

[2016-10-11 20:53] adamabeshouse commented on #1786
https://github.com/cBioPortal/cbioportal/pull/1787

[2016-10-11 20:53] inodb commented on #873
Ok actually solved this using jitpack, further discussion on #1798

[2016-10-11 21:44] zheins commented on #1790
@pieterlukasse Yes that sounds good to me. Would #1422 fix this problem though? This seems like it might be something else.

[2016-10-12 06:50] pieterlukasse commented on #1790
@zheins yes, the changes in `DbVersionException.java`, `QueryBuilder.java` and `index.jsp` ensure that DB errors also lead to the error page.

[2016-10-12 07:02] pieterlukasse commented on #873
Hi @inodb , the original purpose was to have .jar files available for download, so that people working on preparing the datasets would not need to go through the steps of building cbioportal just to use some of the helper classes that are part of the scripts package. See #810

But having the build artifacts available for download will also simplify other steps, such as installation.

The jitpack i

[2016-10-12 07:07] pieterlukasse commented on #873
Ah, found it: https://jitpack.io/com/github/inodb/cbioportal/scripts/v1.3.0-test-jitpack/scripts-v1.3.0-test-jitpack.jar

Nice! 👍

[2016-10-12 07:08] pieterlukasse commented on #873
@inodb your solution solves the problem! We can close this issue once we merge your PR 👍

[2016-10-12 10:14] fedde-s commented on #1790
@pieterlukasse Is that what you mean by &ldquo;to move the solution out into a new PR&rdquo;? Fixing the warning for administrators is a bugfix, while the schema adjustment could debatably be better off in the next major release (`rc`).

[2016-10-12 10:32] fedde-s commented on #1791
Isn't this bug more about the public data, which is maintained in [this repository](https://github.com/cBioPortal/datahub), rather than about the cBioPortal code?

[2016-10-12 13:54] pieterlukasse commented on #1790
@fedde-s yes, split up in 2 PRs: one with the solution for the error page, one with the schema change.

[2016-10-12 15:16] kalletlak opened #1799 "Failed to run mysql migration script"
<img width="1279" alt="screen shot 2016-10-12 at 11 15 23 am" src="https://cloud.githubusercontent.com/assets/12956870/19315855/591b6df6-906d-11e6-911d-38c91fd4170e.png">

[2016-10-12 15:40] sheridancbio commented on #1799
This bug probably makes sense --- when using CREATE TABLE statements with a MyISAM engine, the FOREIGN KEY clauses are silently ignored. But an explicit ALTER TABLE ADD FOREIGN KEY would likely fail with a MyISAM engine.
However, I think that I was able to run the migration script on the cgds_public database here (which is running MyISAM) and have it not throw an error.
Are you running under mysql

[2016-10-12 17:47] kalletlak commented on #1799
I changed engine to **Innodb**. I think the problem is because of gene_panel in line https://github.com/cBioPortal/cbioportal/blob/master/core/src/main/resources/db/migration.sql#L59. gene_panel table doesn't exist at the time of executing this line. I moved this after the creation of tables and it worked without any errors.

[2016-10-13 00:39] jjgao opened #1800 "cancer study view: samples counted twice if duplicated in the "Select cases by IDs" list"
try to use the same ID twice when "Select cases by IDs".

[2016-10-13 08:15] pieterlukasse commented on #1480
this bug is back in 1.3.0:

![image](https://cloud.githubusercontent.com/assets/2900303/19341509/f0775f96-912d-11e6-90eb-ab20f0401ad9.png)

[2016-10-13 08:17] pieterlukasse commented on #1480
@JiaoJiao123 @zhx828 :point_up_2:

[2016-10-13 08:24] pieterlukasse commented on #1793
@jjgao I would like to support the option to have normal samples loaded for some private/internal studies. In this case, it would be nice to give the user the option to pick the reference population from: `All normal samples`.

For the `SHOW_IN_ANALYSIS_TAB`, please remember to remove this constraint from the validator and also update the documentation in this case.

[2016-10-13 08:30] fedde-s commented on #1793
Yup, sounds like an improvement to me! Simplifies data loading and the profile table, ensures that the calculation is done in a consistent way based on the loaded data, and with the last option, potentially makes the meaning of the Z-scores more transparent to the user.

[2016-10-13 08:41] fedde-s commented on #1796
Do not forget that this also involves changes in the public validation and loading code in cBioPortal itself, notably [cbioportal_common.py](https://github.com/cBioPortal/cbioportal/blob/a6f8465756d83493125e2898fae3b9dabb880421/core/src/main/scripts/importer/cbioportal_common.py#L451), [allowed_data_types.txt](https://github.com/cBioPortal/cbioportal/blob/a6f8465756d83493125e2898fae3b9dabb880421/c

[2016-10-13 08:46] fedde-s commented on #1793
See [my comment on issue #1796](https://github.com/cBioPortal/cbioportal/issues/1796#issuecomment-253451322) for a few specific places that need to be updated as @pieterlukasse's comment [above](https://github.com/cBioPortal/cbioportal/issues/1793#issuecomment-253447392)

[2016-10-13 10:48] fedde-s opened #1801 "DB update script fails on DBs seeded as documented"
When running the database schema update script on any database initialised with the current (2016-07) or previous (2015-05) seed database, it does not update the schema to the version compatible with the current 1.3.x release, but instead leaves it in a partially updated state. This effectively makes the current release of cBioPortal uninstallable for anyone who is not a SQL developer.

Output of

[2016-10-13 11:33] fedde-s commented on #1801
@pieterlukasse, did you have a solution for this already?

[2016-10-13 11:41] pieterlukasse commented on #1801
@fedde-s the temporary workaround for now (if you have MyISAM) is to remove the foreign key constraints from the .sql statements and run them manually.

[2016-10-13 11:42] fedde-s commented on #1801
The issue is that most tables, including `gene`, are defined in the seed database as using the MyISAM engine rather than the now-standard InnoDB one, and MyISAM does not support foreign keys.

[2016-10-13 11:45] fedde-s commented on #1801
Yes, someone familiar with MySQL can do that, but it still makes cBioPortal uninstallable for others as of 1.3.0.

[2016-10-13 11:48] fedde-s commented on #1801
Currently the only table in the seed database that does not use MyISAM is `info`.

[2016-10-13 12:41] fedde-s commented on #1748
@pieterlukasse I believe this has been fixed and released, is that right?

[2016-10-13 13:02] pieterlukasse commented on #1748
seems good 👍

[2016-10-13 13:02] #1748 closed

[2016-10-13 13:07] pieterlukasse commented on #1801
@sheridancbio @zheins what do you think? Maybe for now we need to provide 2 migration.sql scripts: one for MyISAM one for InnoDB. The migration.py script could take the engine as a parameter and then call the correct .sql script...

[2016-10-13 13:55] fedde-s commented on #1801
Or maybe add the lines
[code]
to the 1.3.0 block?

[2016-10-13 14:19] pieterlukasse commented on #1801
👍 if that works, than it could be a nice solution!

[2016-10-13 22:24] sheridancbio commented on #1799
I see. This is a direct bug. I am fixing it in hotfix, and I will test if if runs under MyISAM and try to make it work under either engine if possible.

[2016-10-13 22:29] sheridancbio commented on #1799
Ok, now that I have tried it under a MyISAM engine, the ALTER TABLE `tablename` ADD FOREIGN KEY ...

[2016-10-13 22:55] sheridancbio commented on #1799
I have pushed the bugfix to rc and made a pull request for hotfix which will merge to master at the next update. (assigned @jjgao)

[2016-10-13 22:55] #1799 closed

[2016-10-14 08:49] pieterlukasse opened #1804 "Clinical attributes validation failing after #1746"
The validation of clinical attributes is failing after changes in #1746 because now there are multiple versions of clinical attributes, one for each study.

Actually, the validation can now be simplified and restricted to a fixed set of attributes, as done in #1567.

So the solution for this issue would be:
- [ ] simplify the validation by removing the call to /api-legacy/clinicalattributes/patien

[2016-10-14 09:30] fedde-s commented on #1804
Indeed, the feature in #1746 broke the validation just before 1.3.0 was released. I should fix this, there needs to be a bugfix release for this as soon as possible

[2016-10-14 09:41] fedde-s commented on #1799
Is #1801 a duplicate of this one?

[2016-10-14 10:30] pieterlukasse commented on #1790
banner PR #1806

[2016-10-14 15:33] pieterlukasse commented on #1804
@jjgao @ersinciftci one could also interpret this problem as an effect of a bug in /api-legacy/clinicalattributes: this "legacy" api does not reflect the legacy behavior. Our solution involves not using this api at all anymore in the validation, aligning with #1746. However, I am wondering whether there are other parts that perhaps still rely on this legacy api?

[2016-10-14 15:37] pieterlukasse commented on #1804
@jjgao @ersinciftci one could also interpret this problem as an effect of a bug in /api-legacy/clinicalattributes/patients and /clinicalattributes/samples: we think this "legacy" api might not be reflecting the legacy behavior (although we didn't check this in detail). Our solution involves not using this api at all anymore in the validation, aligning with #1746. However, I am wondering whether th

[2016-10-14 21:34] adamabeshouse opened #1810 "oncoprint download data reflects unfiltered mutations"

[2016-10-17 13:03] pieterlukasse commented on #1796
I would only remove these parts at the very end, after normal samples are supported in the system. See also my comments in the RFC5 doc itself.

[2016-10-17 15:22] jjgao opened #1811 "Build Java code to connect to VEP Web Service in Genome Nexus"
https://github.com/cBioPortal/genome-nexus/pull/1

[2016-10-17 15:23] #1811 closed

[2016-10-17 15:25] jjgao opened #1812 "Genome Nexus: isoform support"
Enable support canonical/default set of isoforms, using e.g. UniProt Canonical, Ensembl. canonical, UCSC canonical, MSK canonical, etc. different instance of portals are allowed to pick different sets of default canonical isoforms.

[2016-10-17 15:28] jjgao opened #1813 "Genome Nexus: Modeling PFAM domain"
- [ ] Build Java code to connect to BioMart to get domain coordinates
- [ ] Data model of PFAM data in Genome Nexus

[2016-10-17 15:29] jjgao opened #1814 "Genome Nexus: cancer hotspots"
- [ ] modeling cancer hotspots data in GN
- [ ] pull cancer htospots to annotate mutations

[2016-10-17 15:31] jjgao opened #1815 "Genome Nexus: oncokb annotation"
- [ ] modeling oncokb annotation in GN
- [ ] pulling oncokb info to annotate mutations

[2016-10-17 15:34] jjgao opened #1816 "Remove mutation annotation data from portal"
- [ ] Remove mutation_event table
- [ ] Add a few more columns in mutaiton table, e.g. chr, start, end, mutation_type, etc
- [ ] Connect portal front-end to Genome Nexus

[2016-10-17 16:00] onursumer commented on #1812
I think this is partially implemented with https://github.com/cBioPortal/genome-nexus/pull/11. But for now we only have two isoform override sources: UniProt canonical and MSK canonical.

@jjgao : Do we have override files for other sources like Ensemble, UCSC, etc?

[2016-10-17 16:12] onursumer commented on #1816
Recently I have started a document, which may be useful for breaking down the mutation data:

https://docs.google.com/spreadsheets/d/1sIqvf4_thfi2N8EyxHDzNeC4Cj5kk-8IZl1fSUsjB9k/edit?usp=sharing

[2016-10-17 17:35] zheins commented on #1749
@pieterlukasse are there still issues? I'm trying to remember if we discussed any of these and came up with solutions.

The point of not all samples being in the `sample_profile` table, that is the point of the new data type and import script. The pom fix I believe was addressed by @sheridancbio.

[2016-10-17 18:09] jjgao commented on #1812
@onursumer we don't but we can add them later.

[2016-10-17 20:26] onursumer commented on #1814
Basic algorithm:

- Allow users to Query Genome nexus by variant: /variant_annotation/cancer_hotspots/{variant}
- Get the `VariantAnnotation` for the provided variant
- Query www.cancerhotspots.org for each `TranscriptConsequence` in the `VariantAnnotation`
- If the `TranscriptConsequence` corresponds to a hotspot mutation, create a `Hotspot` instance and cache it.
- Return the list of `Hotspot`s

[2016-10-17 22:01] schultzn opened #1820 "Patient view patient and sample information tooltip bug in IE"
In IE, the patient view patient and sample information tooltip does not show up when hovering over the patient or sample IDs.

http://www.cbioportal.org/case.do?cancer_study_id=ucec_tcga_pub&case_id=TCGA-BK-A0CC

![image](https://cloud.githubusercontent.com/assets/11892704/19452248/56a72456-947e-11e6-915e-363ab61eb2de.png)

[2016-10-17 22:02] schultzn commented on #1820
Screenshot above is from Chrome

[2016-10-18 07:43] pieterlukasse commented on #1749
Hi @zheins , I think the first comment was not yet addressed in code, only in a follow-up comment by @sheridancbio .

[2016-10-18 10:17] fedde-s commented on #1796
I do not seem to have permission to view comments in that RFC, but I think it might be confusing to data loaders if we keep it documented as a supported file type after no part of the front end renders it anymore.

[2016-10-18 15:59] zheins commented on #1749
I think making a default gene panel that includes no genes would solve this issue. @sheridancbio, @pieterlukasse does this sound good?

[2016-10-18 17:32] fedde-s commented on #1460
I believe this is being addressed in pull request #1696.

[2016-10-18 17:38] sheridancbio commented on #1460
Yes, The PDB portion has been split out (and will disappear altogether soon once that functionality moves to genome-nexus / pdb-annotation and dynamic browser queries to mutation assessor) by thehyve and a new seed is nearly ready (I am reviewing)

[2016-10-18 17:40] fedde-s commented on #1799
I think it might not be, as the output of the migration script suggests that the error in #1801 only occurs on the line where a foreign key is added to an InnoDB table, but references a MyISAM table. Hence it may well be a separate bug in the migration script.

[2016-10-18 17:41] fedde-s commented on #1801
The output of the migration script here suggests that this is a separate issue from #1799, as this error message only occurs on a line that adds a foreign key to an InnoDB table, but references a MyISAM table.

[2016-10-18 17:57] sheridancbio commented on #1801
We should check this ... if an InnoDB table referencing a parent MyISAM table in a FOREIGN KEY constraint causes an error, maybe we can add tests into the migration.py script that catches this case dynamically and refuses to run under these conditions. The idea of auto-updating some tables to InnoDB in the migration step so that the DB has some tables under one engine and some under another feels

[2016-10-19 08:21] fedde-s commented on #1801
The database already has a mix of engines as it is, since the seed database defines most tables as MyISAM but the `info` table as InnoDB, and the migration script adds new tables with the default storage engine, which in the past three years of MySQL releases has been InnoDB.

[2016-10-19 09:51] pieterlukasse commented on #1801
Regarding: *"One option might be to use the foreign key constraints for all import operations, but to deploy the databases without the foreign key constraints (when going into production use, which is basically read-only)"* : I think that foreign key constraints will be a performance bottleneck during *import* process, but not for querying. So I would see no reason for dropping them at a read-only

[2016-10-19 14:48] sheridancbio commented on #1801
I think it is a good point that the overhead of the constraint checks come during update and not retrieval. So if databases are built with InnoDB (and they probably should be) there is probably little reason to switch to MyISAM for production (unless there are MyISAM features not present in InnoDB .. or if there is significant performance differences (even when using read-only operation))

Still .

[2016-10-19 14:54] sheridancbio opened #1821 "improper mysql comments lines"
In mysql, the SQL comment lines are prefixed with two hyphens followed by some whitespace.

There are several instances of lines intended to be comments but which do not require the needed whitespace.

Example:
-- the next line is a proper comment
---
## -- the next line is an improper comment

[2016-10-19 18:47] sheridancbio opened #1824 "ClinicalDataController exposes internal id of Cancer Studies"
In general we have tried to avoid exposing internal ids. We should discuss whether we need to expose this in the web API.

[2016-10-19 18:54] ersinciftci commented on #1824
@sheridancbio We don't actually expose internal IDs like you saw when you tried the endpoints, I ignore internal ids with @JsonIgnore, and replace them with stable ids using @JsonProperty in mixins.

[2016-10-19 22:31] jjgao commented on #1797
cosmic data seems huge:

http://www.cbioportal.org/index.do?cancer_study_list=prad_tcga&cancer_study_id=prad_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=prad_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=prad_tcga_gistic&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=prad_tcga_cnaseq&case_ids=&patient_case_select=sample&gene_set_choice=user-de

[2016-10-20 08:53] pieterlukasse commented on #1561
@zhx828 would be nice to have a portal property for this.

[2016-10-20 08:56] pieterlukasse commented on #1102
@awernibi - these last comments were related to one of your questions.

[2016-10-20 14:17] sheridancbio commented on #1824
For an example using cgds_public, try:
/studies/{studyId}/samples/{sampleId}/clinical-data
with  studyId: brca_tcga and sample id: TCGA-BH-A0B2-01 and attributeId: CANCER_TYPE  and projection: detailed.
http://localhost:8080/cbioportal/api/studies/brca_tcga/samples/TCGA-BH-A0B2-01/clinical-data?attributeId=CANCER_TYPE&projection=DETAILED&pageSize=1000&pageNumber=0&direction=ASC

Result (with inter

[2016-10-21 04:05] jjgao opened #1829 "Downloading sample order returns internal ids instead of stable ids"

[2016-10-21 09:03] pieterlukasse commented on #1485
@inodb what do you think of this idea? I think this will help people starting with cBioPortal

[2016-10-21 09:04] fedde-s commented on #1485
Yes, the message that reports a correctly set-up installation as a database connection error is still occasionally confusing people.

[2016-10-21 09:05] oplantalech opened #1830 "convertExpressionZscores not working with CNA files having only Entrez IDs"
The [documentation](https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md#discrete-copy-number-data) for Discrete CNA files allows to have one or both of Hugo Symbol and Entrez Gene ID. However, when I use a Discrete CNA file containing only Entrez Gene IDs to generate expression Z-scores, the script does not work. If I add the Hugo Gene Symbols in the Discrete CNA file, then t

[2016-10-21 10:24] pieterlukasse opened #1831 "GSVA - Support gene sets in query page UI"
Tasks:
- [x] Add GSVA checkbox to the "Select Genomic Profiles" UI section
- [x] Implement the API between the query page and the pop-up page(s)
- [x] Add button and context menu for selecting genesets from selected GSVA profile.

See Fig 1a(I), Fig 1a(II), Fig 1b of [RFC 28 document](https://docs.google.com/document/d/1g5HPPXrLqJQmfxP1RcWGA6-QdcHCTLr_JAuQklQdfMs/edit).

[2016-10-21 10:27] pieterlukasse opened #1832 "GSVA - Implement Gene Set Variation Score calculation"
Tasks:
- [x] Implement (in java) the "representative score" calculation (1 score per gene set)

This _single score per gene set_ will be used to support gene set selection. See Appendix 4 of [RFC 28 document](https://docs.google.com/document/d/1g5HPPXrLqJQmfxP1RcWGA6-QdcHCTLr_JAuQklQdfMs/edit).

[2016-10-21 10:32] pieterlukasse opened #1833 "GSVA - Oncoprint changes"
Tasks:
- [x] Add heatmap-like visualization to oncoprint. Do this by porting the heatmap branch to rc (1.4.0) and doing some necessary issue fixing
- [x] Add gene set tracks to the oncoprint visualization
- [x] Implement hierarchical clustering algorithm and use this to order the tracks and columns in the oncoprint

See figure 3, figure 4 of [RFC 28 document](https://docs.google.com/document/d/1g5

[2016-10-21 10:35] pieterlukasse opened #1834 "GSVA - Data model and API additions"
Tasks:
- [x] Changes for storing geneset study data
- [x] Add tables for storing gene set metadata like genes x gene sets and geneset hierarchy information
- [x] Add generic data and service layers in new _java_ API for retrieving genetic alteration data (including Geneset data)
- [x] Add respective "data manager" layer in _javascript_
- [x] Add specific data and service layers in new _java_ API f

[2016-10-21 10:38] pieterlukasse opened #1835 "GSVA - Data validation and data loader additions"
Tasks:
- [x] Add support for gene set data in validator (python). Validate "GSVA gene set scores" file
- [x] Document how to load the test study with GSVA data.
- [x] Add support for gene set data in loader (java). Code for loading "GSVA gene set scores" file
- [x] Add support for *gene set x genes* data loading (java) and *gene set hierarchy* data loading (java)

See Appendix 3 of [RFC 28 documen

[2016-10-21 14:36] inodb commented on #1485
@pieterlukasse Yes, this would be a great feature!

[2016-10-21 15:07] fedde-s commented on #1833
Working on porting the heatmap branch from Pamela's pull request #1625 to the current major release candidate.

[2016-10-21 16:28] ersinciftci commented on #1824
Ah I see, for got to add the new property to the mixin. I'll add test cases to make sure that the properties we want to hide is indeed not return in the response.

[2016-10-21 21:14] yichaoS commented on #1792
https://github.com/cBioPortal/cbioportal/pull/1839

[2016-10-21 21:19] #1804 closed

[2016-10-21 22:06] adamabeshouse commented on #1680
https://github.com/cBioPortal/cbioportal/pull/1840

[2016-10-21 22:06] #1680 closed

[2016-10-24 14:13] pieterlukasse commented on #1835
*python part* assigned to @sandertan

[2016-10-24 20:47] ChandraPedamallu opened #1841 "Problem with CNV data"
Hi,

We noticed that in DREAM data set in Prostate cancer, the copy number calls looks randomly to annotate them AMP or DEL.

Could you please kindly check the PPT file attached?

We greatly appreciate if you can kindly provide some insights on it.

Thank you

Best
Chandra
[cBioPortal_CNV_problems.pptx](https://github.com/cBioPortal/cbioportal/files/548982/cBioPortal_CNV_problems.pptx)

[2016-10-24 22:32] adamabeshouse commented on #1788
https://github.com/cBioPortal/cbioportal/pull/1842

[2016-10-24 22:32] #1788 closed

[2016-10-24 22:58] adamabeshouse commented on #1713
Closing for now because we're only filtering missense mutations for the time being. When we begin filtering other types, this will come up.

[2016-10-24 22:58] #1713 closed

[2016-10-25 08:55] pieterlukasse commented on #1841
@sandertan can you dive into this one? Would be good to check if the CNA algorithm used could be the cause of this or if the issue is likely at some other step of the pipeline.

[2016-10-25 18:24] onursumer opened #1843 "Some protein change positions mismatch protein position start"
Query EGFR for all studies. You will see, for example, some of the `E746_A750del` mutations have `745` as the `proteinPosStart` and some have `746`. This results in mapping of these mutations onto different positions in the diagram.

Two example mutations with the same `proteinChange`, but different `proteinPosStart`s:

[code]

[code]

[2016-10-26 14:05] sandertan commented on #1841
Dear Chandra,

If I understand your question correctly, you're wondering why the same log2 value is called differently for different samples. This is indeed an interesting question, and also viewable when 1 gene is selected in cBioPortal, for example:

![cbioportal_example](https://cloud.githubusercontent.com/assets/9624990/19728051/3e0c3290-9b92-11e6-9c0c-ebba23bc4166.png)

We see for certain log

[2016-10-26 17:59] adamabeshouse opened #1848 "Use webworkers in oncoprint"

[2016-10-26 18:57] adamabeshouse opened #1849 "Use canvas for all dynamic elements of oncoprint"
In particular track info and track options, because otherwise with a lot of genes it's just too slow.

[2016-10-27 09:24] fedde-s commented on #1833
In progress in pull request #1847.

[2016-10-27 17:26] #1792 closed

[2016-10-28 18:39] sheridancbio commented on #1801
Note following up from slack comments: I lean towards recommending a full switchover to InnoDB engine as standard for all tables. First need to build a consistent full database for ourselves under InnoDB and measure any performance slowdown for queries.

Second Note: one possible explanation / fix for the failure of the migration script is the difference in data type for the foreign key linking ge

[2016-10-28 19:11] mandawilson commented on #1801
The unit tests require InnoDB so making it standard for all tables makes sense to me.

[2016-10-31 14:09] fedde-s commented on #1213
This should be fixed now that aa9a48cb1d5601a840267aabc86f5bc6482edd5a is in v1.3.1.

[2016-10-31 14:09] #1213 closed

[2016-10-31 14:56] kalletlak opened #1854 "Study-view log scale for barcharts is not working"
Example : for acc_tcga study

![oct-31-2016 11-02-53](https://cloud.githubusercontent.com/assets/12956870/19858916/b1545e92-9f59-11e6-9b2c-8fc5aba2bcf4.gif)

[2016-11-01 14:06] jjgao opened #1856 "Genome Nexus: integrate ClinVar"
... and make it to the portal / MutationMapper, similar to PeCan (https://pecan.stjude.org/#/proteinpaint/tp53)

![image](https://cloud.githubusercontent.com/assets/840895/19892323/b784b1e2-a01a-11e6-8b24-a75e9189bab9.png)

[2016-11-01 14:21] pieterlukasse opened #1858 "Data loading fails for mutation data when using InnoDB"
Data loading will fail with a message like :

[code]

[2016-11-01 14:24] jjgao opened #1859 "GenomeNexus: adding MutationAssessor data"
Linking to MA V3 API.

[2016-11-01 14:25] jjgao opened #1860 "GenomeNexus: Adding MyCancerGenome info"

[2016-11-01 14:26] pieterlukasse commented on #1858
The cause is with the `MySQLbulkLoader.java` code which iterates over `mySQLbulkLoaders` in an varying order and sometimes tries to insert data into `mutation` table before inserting into `mutation_event` table in the method `MySQLbulkLoader.flushAll()`

This, apparently combined with the fact that the statements to temporarily disable FK constraint checks like `stmt = con.prepareStatement("SET fo

[2016-11-01 21:35] onursumer commented on #1860
This issue was moved to cBioPortal/genome-nexus#14

[2016-11-01 21:35] #1860 closed

[2016-11-01 21:36] onursumer commented on #1859
This issue was moved to cBioPortal/genome-nexus#15

[2016-11-01 21:36] #1859 closed

[2016-11-01 21:36] onursumer commented on #1856
This issue was moved to cBioPortal/genome-nexus#16

[2016-11-01 21:36] #1856 closed

[2016-11-01 21:37] onursumer commented on #1815
This issue was moved to cBioPortal/genome-nexus#17

[2016-11-01 21:37] #1815 closed

[2016-11-01 21:37] onursumer commented on #1814
This issue was moved to cBioPortal/genome-nexus#18

[2016-11-01 21:37] #1814 closed

[2016-11-01 21:38] onursumer commented on #1813
This issue was moved to cBioPortal/genome-nexus#19

[2016-11-01 21:38] #1813 closed

[2016-11-01 21:38] onursumer commented on #1812
This issue was moved to cBioPortal/genome-nexus#20

[2016-11-01 21:38] #1812 closed

[2016-11-02 17:49] adamabeshouse opened #1867 "HierIndex.missingKeys is slow"

[2016-11-02 19:12] #1641 closed

[2016-11-02 19:13] #1652 closed

[2016-11-02 19:15] #1379 closed

[2016-11-02 19:16] #1276 closed

[2016-11-03 12:23] pieterlukasse opened #1869 "small rppa validation issue"
The python validator reports issues in rows like

[code]
while at the java import layer, this extra space after `ANXA7` is ignored since `string.split("ANXA7 ")` will actually return a list of 1 item (in python this apparently is a list of 2 items: `('ANXA7', ''). In this case, the validator should reflect the java behavior and not report issues for these entries.

[2016-11-03 12:28] pieterlukasse opened #1870 "validator does not take the gene_symbol_disambiguation.txt configuration into account when reporting about ambiguous genes"
The validator reports this as an ambiguity problem:

`Gene alias maps to multiple Entrez ids (983/5424), please specify which one you mean or choose a non-ambiguous symbol	CDC2`

While the data loader code takes the file `/core/src/main/resources/gene_symbol_disambiguation.txt` into consideration and is able to find the entrez id that should be used. The validator should also use this information

[2016-11-03 19:59] sheridancbio commented on #1821
This was fixed with PR1822

[2016-11-03 19:59] #1821 closed

[2016-11-04 21:19] yichaoS opened #1874 "Add “Structural Variant” option in main query form (defaultly selected)"
![screen shot 2016-11-04 at 5 19 37 pm](https://cloud.githubusercontent.com/assets/5973438/20022856/e7964a4a-a2b2-11e6-946c-950644721615.png)

[2016-11-04 21:21] yichaoS opened #1875 "Update Oncoprint to retrieve "SV" as a profile"
The view would look the same. The underlying approach to retrieve the structural variants data is different (as a profile, not a mutation type).

[2016-11-04 21:22] yichaoS opened #1876 "Add summary box in mutation tab"
![screen shot 2016-11-04 at 5 22 16 pm](https://cloud.githubusercontent.com/assets/5973438/20022927/44c1406c-a2b3-11e6-84db-ee13617cd844.png)

[2016-11-04 21:23] yichaoS opened #1877 "Add “Structural variants” and “copy number alterations” ”tables"
And substract "CNA" data from the original "mutation" table

![screen shot 2016-11-04 at 5 23 53 pm](https://cloud.githubusercontent.com/assets/5973438/20022982/876440ea-a2b3-11e6-8a68-4bd1e27c197c.png)

[2016-11-04 21:25] yichaoS opened #1878 "Add "SV" table/tab in enrichment analysis"
Add a subtab called “structural variants” for calculating structural variants data
remove samples with “structural variants” from the calculation in the “mutation” subtab

[2016-11-04 21:27] yichaoS opened #1879 "Retrieve SV as a profile and with separate annotation in "plots" tab"
Plots Tab:
Obtain “structural variants” data as a profile (just like “mutation” profile)
Add SV in the annotation: display with different color + legend

[2016-11-04 22:05] jjgao opened #1880 "Study page: mutation count incorrect sometimes"
It happens sometimes that the numbers of mutations are way lower than it should be in the mutations table on study page. It seems more often on large studies.

[2016-11-05 17:58] jjgao opened #1881 "change hotspot icon"
The hotspot icon is not synced with the one on http://cancerhotspots.org

[2016-11-06 16:01] #1854 closed

[2016-11-06 16:02] #1480 closed

[2016-11-06 16:02] zhx828 commented on #849
This has been proved that it will take too much time to get all mutated genes. Close for now.

[2016-11-06 16:02] #849 closed

[2016-11-06 16:04] zhx828 commented on #675
This has been proved that not possible in current DataTable.js Close for now

[2016-11-06 16:54] jjgao commented on #675
Let's keep this issue open for future fixes.

[2016-11-06 23:55] zhx828 commented on #1880
We've created an issue in iViz specifically for this as well. We think we may find a pattern but still need some time to figure out what the problem is. https://github.com/cBioPortal/iViz/issues/293

[2016-11-07 07:00] DarioS opened #1883 "Replace Chi-squared Test by Exact Test"
The Chi-squared test produces inaccurate p-values if the sample sizes of the two groups of samples are unbalanced. [A new test](http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004071) provides an exact p-value that calculates correct probabilities in all situations. This could replace the current log-rank test.

[2016-11-07 15:34] pieterlukasse opened #6307 "Gene length issues"
The last seed DB in #13 seems to have longer gene LENGTH values for some of the genes. At least, longer than would be expected if processing on the the "GENCODE Basic" transcripts.

The cause is likely to be due to processing of Gencode v25 "Comprehensive gene annotation" file instead of the "Basic gene annotation" file from http://www.gencodegenes.org/releases/25lift37.html. See also http://www.e

[2016-11-09 00:01] jjgao opened #1886 "Plots tab does not work if missing cna data"
even if there is expression data. Example study: blca_mskcc_solit_2015

The study only have mutation and expression data. The Plots tab does not work.

![image](https://cloud.githubusercontent.com/assets/840895/20122450/ae770fde-a5e5-11e6-9a63-a8073a40d3a2.png)

[2016-11-10 00:08] yichaoS commented on #1793
Done with this commit. https://github.com/yichaoS/cbioportal/commit/6c617e4496edffee99f71d42de1f84613a905d65
Can't create PR for this issue alone. Will create a PR once this is done https://github.com/cBioPortal/cbioportal/issues/1794

Below is a screenshot of the new UI
![screen shot 2016-11-09 at 7 08 17 pm](https://cloud.githubusercontent.com/assets/5973438/20159628/e7b5fed4-a6af-11e6-8445-bf60

[2016-11-11 16:55] jjgao commented on #1793
@schultzn any comments on @yichaoS's mock-up above?

[2016-11-11 17:30] yichaoS commented on #1886
https://github.com/cBioPortal/cbioportal/pull/1888

[2016-11-14 02:40] jjgao opened #1891 "Fusion glyph not displaying in OncoPrint"
e.g. http://bit.ly/2g8Lvuq

[2016-11-14 15:35] ersinciftci opened #1892 "Implement Genes API"

[2016-11-14 15:37] chenh4 commented on #1611
Hi JJ, the gene panel of this study was added. let me know if any issues.

[2016-11-14 15:37] #1611 closed

[2016-11-14 16:27] #1881 closed

[2016-11-14 16:27] #1880 closed

[2016-11-14 19:12] jjgao opened #1894 "Define/review the Genome Nexus web api"

[2016-11-14 19:24] adamabeshouse commented on #1891
@jjgao fusion is no longer a kind of mutation, it's its own command, so you should write `ERG:FUSION`. `ERG: MUT=FUSION` will look for mutations with the amino acid change "FUSION". Let me know if I should re-add that functionality for backwards compatibility.

[2016-11-14 19:42] #1894 closed

[2016-11-14 21:06] pieterlukasse commented on #1514
@yichaoS @JiaoJiao123 @jjgao : I'm looking at this one now...still present

[2016-11-14 21:15] adamabeshouse opened #1896 "Oncoprinter doesn't display fusions"

[2016-11-14 22:06] yichaoS opened #1897 "Modify global variables"
Resolved in : https://github.com/yichaoS/cbioportal/commit/3c97bef7d94a6dca172cfd71a9aa4b237187707a

- split rppa and mrna exp zcore threshold into up threshold and down threshold.
- extract from main query form user input and pass down to result pages
   -- protein exp zscore up/down threshold
   -- mrna exp zscore up/down threshold
   -- mrna zscore sample set
   -- protein exp zscore sample set

[2016-11-14 22:44] yichaoS commented on #1897
Solved in : https://github.com/yichaoS/cbioportal/commit/35a199875f78219e654d94b2b7f3fdb1bac06b03

[2016-11-15 01:11] adamabeshouse opened #1898 "Should GeneticProfile.geneticAlterationType be an enum which stringifies in JSON, rather than a string?"

[2016-11-15 05:29] ersinciftci commented on #1898
Yeah I was going to make it an enum but I wasn't sure what possible values it can has, do you have a list @adamabeshouse?

[2016-11-15 18:37] sheridancbio commented on #1898
Fairly recently I converted this class to be a true enum .. maybe this is appropriate?
https://github.com/cBioPortal/cbioportal/blob/master/core/src/main/java/org/mskcc/cbio/portal/model/GeneticAlterationType.java

[2016-11-15 18:44] sheridancbio commented on #1898
I see that in core GeneticProfile has a data member which is already an instance of GeneticAlternationType:
https://github.com/cBioPortal/cbioportal/blob/master/core/src/main/java/org/mskcc/cbio/portal/model/GeneticProfile.java

I guess this discussion is about the model module class:
https://github.com/cBioPortal/cbioportal/blob/rc/model/src/main/java/org/cbioportal/model/GeneticProfile.java

It

[2016-11-15 21:37] adamabeshouse commented on #1891
We determined in Slack that we're dropping the `MUT=FUSION` syntax, and added documentation for the new `FUSION` keyword: https://github.com/cBioPortal/cbioportal/pull/1900

[2016-11-15 21:37] #1891 closed

[2016-11-15 22:47] ersinciftci commented on #1898
@sheridancbio what do you mean by true enum? why is it not a Java `enum` type?

[2016-11-16 13:23] fedde-s opened #1901 "Undocumented assumptions on sample list suffix `_microrna`"
[This line of code](https://github.com/cBioPortal/cbioportal/commit/3ff802493c3ec453a95664ecc1aab4c63da5fae5#diff-ffcae3c86b808d3056122367db0f3312R30) adds expectations about a case list with the name suffix `_microrna`, which are not documented for data loaders. The suffix should be added to the list under [the relevant heading in File-Formats.md](https://github.com/cBioPortal/cbioportal/blob/3ff

[2016-11-16 13:45] fedde-s commented on #1694
See [the comment I just made in the pull request that addresses this](https://github.com/cBioPortal/cbioportal/pull/1738#issuecomment-260949758).

[2016-11-16 15:14] ersinciftci commented on #1901
I got the suffixes from @JiaoJiao123 's initial PR https://github.com/cBioPortal/cbioportal/pull/1885, not sure where she got them, assigning to her.

[2016-11-16 16:56] sheridancbio commented on #1898
GeneticAlterationType *is* now a simple Java enum type. Previously it was a combination of static constants and selector methods.

[2016-11-16 17:00] sheridancbio commented on #1898
Ah .. I see the confusion .. rc has not yet been merged into master. Here is the rc branch version of the class ... sorry for giving the wrong link before.

https://github.com/cBioPortal/cbioportal/blob/rc/core/src/main/java/org/mskcc/cbio/portal/model/GeneticAlterationType.java

[2016-11-16 17:56] ersinciftci commented on #1898
Oh ok, cool :) I'll just move it to the model module then in my next PR.

[2016-11-16 18:22] ersinciftci commented on #1898
Actually it's used in 113 files, so I'll just add the enum type in GeneticProfile model for now(just like SampleType in Sample model), won't change the old one.

[2016-11-16 20:20] #1824 closed

[2016-11-16 20:21] ersinciftci commented on #1824
Fixed.

[2016-11-16 22:50] adamabeshouse opened #1904 "Allow oncoprint users to hide unsequenced samples"
After https://github.com/cBioPortal/cbioportal/pull/1828 is merged

[2016-11-16 22:51] adamabeshouse opened #1905 "Show oncoprint clinical track legends by default"

[2016-11-17 01:08] adamabeshouse commented on #1905
https://github.com/cBioPortal/cbioportal/pull/1908

[2016-11-17 01:08] #1905 closed

[2016-11-17 09:49] pieterlukasse commented on #1630
solved in #1644

[2016-11-17 09:49] #1630 closed

[2016-11-17 20:37] adamabeshouse commented on #1896
https://github.com/cBioPortal/cbioportal/pull/1909

[2016-11-17 20:37] #1896 closed

[2016-11-18 14:30] #1757 closed

[2016-11-18 14:34] #1886 closed

[2016-11-18 16:22] ersinciftci commented on #1892
Done

[2016-11-18 16:22] #1892 closed

[2016-11-18 18:02] ersinciftci commented on #1898
Merged in this PR https://github.com/cBioPortal/cbioportal/pull/1906

[2016-11-18 18:02] #1898 closed

[2016-11-18 18:59] #873 closed

[2016-11-22 16:36] yichaoS opened #1915 "Modify Network tab to use zscore from the main query form UI"

[2016-11-22 17:06] yichaoS opened #1916 "Make ProfileDataSummary and Oql Parser taking up and down threshold separately"
Solved in https://github.com/yichaoS/cbioportal/commit/a364f74d037c412f9b29be06f4b341a74e29d4a8
- data manager taking up and down threshold separately for mrna exp and protein exp profiles
- profileDataSummary taking up and down threshold separately for mrna exp and protein exp profiles (to enable multi-study query in current setting, it's temporary)
- commented out some related testing

[2016-11-22 17:16] yichaoS opened #1917 "enrichments rppa plots div missing in this particular query"
![screen shot 2016-11-22 at 12 15 35 pm](https://cloud.githubusercontent.com/assets/5973438/20533969/7a3c4342-b0ad-11e6-9430-2a31a5eb8fa9.png)
![screen shot 2016-11-22 at 12 15 39 pm](https://cloud.githubusercontent.com/assets/5973438/20533970/7a400518-b0ad-11e6-81e6-dca056635974.png)

[2016-11-22 19:47] schultzn opened #1918 "p-values in survival curves of study view incorrect"
The p-values on the survival plots in the study view don't seem to be correct...

Try this study
http://www.cbioportal.org/study?id=ucec_tcga_pub#summary

Then select the uterine serous category in "cancer type detailed"

![image](https://cloud.githubusercontent.com/assets/11892704/20539254/630c06d4-b0c2-11e6-93e7-e1ad48c9a9f9.png)

[2016-11-22 19:55] zhx828 opened #1919 "Change language for unknown gene in OncoKB"
Change from 'This gene is not available in OncoKB' to 'There is currently no information about this gene in OncoKB'

[2016-11-23 16:01] jjgao opened #1924 "readthedocs.io not rendering table properly"
https://cbioportal.readthedocs.io/en/latest/Data-Examples.html

[2016-11-23 16:17] pieterlukasse commented on #1917
Hi @yichaoS, is this happening always? Which gene did you query? Are you sure you cleared your browser's cache (sometimes this is the issue).

[2016-11-23 16:23] pieterlukasse opened #1925 "Reset button is confusing when removing columns in clinical tab"
Steps to reproduce:

1. go to http://www.cbioportal.org/study?id=blca_tcga#clinical
2. click "Show/Hide columns"
3. deselect *all* columns. A message on the right side appears with the option to Reset the filter. See screenshot
4. click the Reset option. Nothing happens

Screenshot:

![image](https://cloud.githubusercontent.com/assets/2900303/20569745/76b1c77a-b1a1-11e6-8c80-8a64004c58b0.png)

Des

[2016-11-23 16:23] pieterlukasse commented on #1925
@zhx828 were you aware of this one?

[2016-11-23 17:01] zhx828 commented on #1925
@pieterlukasse No, I wasn't. I will fix this. Thanks for letting me know.

[2016-11-23 17:19] yichaoS commented on #1916
For single study query:
![screen shot 2016-11-23 at 12 14 48 pm](https://cloud.githubusercontent.com/assets/5973438/20571814/f805e0ac-b176-11e6-8bb6-9333c4832673.png)
![screen shot 2016-11-23 at 12 13 34 pm](https://cloud.githubusercontent.com/assets/5973438/20571823/fe6311a4-b176-11e6-80c6-badcc5140aed.png)
![screen shot 2016-11-23 at 12 13 55 pm](https://cloud.githubusercontent.com/assets/597343

[2016-11-23 18:23] ersinciftci opened #1926 "Implement Patients API"

[2016-11-23 19:24] jjgao opened #1927 "Generate case list for mass spec protein expression profile"
![image](https://cloud.githubusercontent.com/assets/840895/20575721/7b507af6-b188-11e6-9f7f-dc0b5fe05bed.png)

[2016-11-23 21:50] inodb commented on #1924
@jjgao fixed in https://github.com/cBioPortal/cbioportal/pull/1928

[2016-11-24 02:25] #1918 closed

[2016-11-24 13:11] fedde-s commented on #1620
Great, thanks for fixing it @inodb!

[2016-11-24 14:18] fedde-s commented on #1620
It seems like the pull request linked above did not fix the `MRNA_EXPRESSION` stable ID table.

[2016-11-25 14:34] pieterlukasse opened #1932 "travis fails for maven version 3.3.3"
Maven version 3.3.3 does not exist anymore. We need to update the travis.yml to use 3.3.9

See for example
https://travis-ci.org/thehyve/cbioportal/jobs/178847311

[code]

[2016-11-25 14:35] pieterlukasse commented on #1932
@inodb could you check this? Agree with 3.3.9?

[2016-11-25 15:56] inodb commented on #1932
@pieterlukasse we could push up the version. So far it was usually just the mirror being down. Usually it works again after a while.

[2016-11-28 13:07] pieterlukasse commented on #1932
@inodb you mean the mirror only fails for http://www.eu.apache.org/dist/maven/maven-3/3.3.3/binaries/apache-maven-3.3.3-bin.tar.gz and not for http://www.eu.apache.org/dist/maven/maven-3/3.3.9/binaries/apache-maven-3.3.9-bin.tar.gz ?  If you try these 2 links, you will see that only the last one works.

[2016-11-28 15:17] pieterlukasse opened #1934 "Generic implementation of SAMLUserDetailsService is missing"
Currently there is only a mskcc specific implementation at `core/src/main/java/org/mskcc/cbio/portal/authentication/saml/MSKCCPortalUserDetailsService.java`. Would be good to have a generic one where perhaps details like the location of `mail` and `displayName` are configurable, or parsed in a more flexible way than currently implemented.

[2016-11-28 15:38] n1zea144 commented on #1934
Yes, this is a good idea.  We actually have an project going with our GSOC student which involves splitting off the security code from core and moving it into a separate security module.  Its in a new security-rearchitecture branch.  It would be a good opportunity to address this issue.
[security-rearchitecture](https://github.com/cBioPortal/cbioportal/tree/security-rearchitecture)

[2016-11-28 15:52] pieterlukasse commented on #1831
will assign to @oplantalech and @sandertan. For now the button can directly open the "Hierarchy pop-up" instead of showing a choice between this and a volcano plot, since we are leaving the volcano plot for later.

[2016-11-28 15:56] inodb commented on #1932
@pieterlukasse ah yeah seems like it is still down. We can switch it to `3.3.9`

[2016-11-28 16:01] pieterlukasse opened #1935 "GSVA - add hierarchy popup UI"
The hierarchy popup UI  should allow for easy selection of gene sets through a hierarchy. The leaf nodes of the hierarchy tree should contain the gene set entries, with extra information regarding the GSVA Score, p-value and number of genes that are part of this gene set.

See Fig 1c of [RFC 28 document](https://docs.google.com/document/d/1g5HPPXrLqJQmfxP1RcWGA6-QdcHCTLr_JAuQklQdfMs/edit).

[2016-11-28 16:04] pieterlukasse commented on #1935
@inodb I will need some help if I am to implement this using React. What do you think? Should I use React for this already? And if yes, can you point me to the guidelines of how to do this. I am planning of just adding this to the portal module. It is a popup that will appear on the query page, similar to how GISTIC and MUTSIG lists are shown for selecting genes.

[2016-11-28 16:10] inodb commented on #1935
@pieterlukasse Ideally, yes. Maybe best to discuss with @adufilie, since he's working on changing this component. Otherwise you can maybe implement it in a way, such that he can easily update it to React when he gets to that point.

[2016-11-28 17:47] pieterlukasse opened #1938 "GSVA - add option to expand gene set tracks in oncoprint heatmap like visualization"
Add an extra "expand" feature to the gene set tracks added in #1833

See figure 5 of [RFC 28 document](https://docs.google.com/document/d/1g5HPPXrLqJQmfxP1RcWGA6-QdcHCTLr_JAuQklQdfMs/edit).

[2016-11-28 20:00] zhx828 opened #1940 "Change oncokb.url property to show.oncokb in property.EXAMPLE"
The current implementation does give users the flexibility to enable/disable OncoKB annotation but not  in an intuitive way. And OncoKB team wouldn't be able to change the URL for all cBioPortal instances if there is any URL change. We propose to change the oncokb.url to show.oncokb in property.EXAMPLE but still keep the functionality of oncokb.url

[2016-11-29 08:36] pieterlukasse commented on #1940
good idea :+1:
@kretep: maybe an idea for the CIVIC integration you are making?

[2016-11-29 08:42] pieterlukasse commented on #1833
I will be helping with task 3: hierarchical clustering.

[2016-11-29 08:45] pieterlukasse opened #1942 "GSVA - add GSVA data to plots tab"
It should be possible to select GSVA genetic profiles in the plots tab, as described in Figure 6 of  [RFC 28 document](https://docs.google.com/document/d/1g5HPPXrLqJQmfxP1RcWGA6-QdcHCTLr_JAuQklQdfMs/edit).

[2016-11-29 08:47] pieterlukasse opened #1943 "GSVA - add GSVA data to co-expression tab"
It should be possible to select GSVA genetic profiles in the co-expression tab, as described in Figure 7 of  [RFC 28 document](https://docs.google.com/document/d/1g5HPPXrLqJQmfxP1RcWGA6-QdcHCTLr_JAuQklQdfMs/edit).

[2016-11-29 09:22] sandertan commented on #1835
- [ ] Add support for gene set data in validator (python). Validate "GSVA gene set scores" file
In branch: https://github.com/thehyve/cbioportal/tree/gsva_validate_score_pvalues

[2016-11-29 16:31] inodb commented on #1620
@fedde-s oops missed that, thanks for checking! I submitted another PR (#1944)

[2016-11-29 19:03] #1344 closed

[2016-11-29 19:03] #1196 closed

[2016-11-29 21:58] schultzn opened #1949 "Columns in clinical data table download should not be sorted alphabetically"
Sample and Patient IDs should be the first two columns in the CSV file when downloading clinical data from the study view.

[2016-11-30 14:33] jjgao opened #1952 "suggest papers for public portal"
- [x] curate a form for suggestions of public study
- [ ] link the form on "visualize your data page"
- [x] link to the form on the query interface, e.g. "suggest a study" link after "Select Cancer Study" header
- [x] is the form to submit internal study useful / being used?

[2016-11-30 21:43] yichaoS opened #1956 "Make plots using data manager to get zscore"

[2016-11-30 21:43] yichaoS opened #1957 "Add exceptions to deal with study with no "gistic" profile (only display "all sample" ref option)"

[2016-11-30 21:44] adamabeshouse opened #1958 "gmail-type vertical scroll dynamics in oncoprint"

[2016-11-30 21:53] schultzn opened #1959 "Copy data in clinical table on study view not working"
No data is copied to the clipboard when pressing the copy button in the clinical data table of the study view

[2016-11-30 22:29] schultzn opened #1960 "Multiple samples per patient in the clinical annotation track of an OncoPrint: Mixed is sometimes labeled incorrectly"
In this query, some patients with multiple samples are incorrectly annotated as "Mixed". When there are multiple samples, but they are all either Primary or Metastasis, they should show up in the respective category.

http://bit.ly/2gHjqdw

![image](https://cloud.githubusercontent.com/assets/11892704/20773988/4e8c5e3c-b722-11e6-85ae-10024633e248.png)

[2016-11-30 22:35] zhx828 opened #1961 "Mutated Gene Freq is wrongly calculated"
But looks like only exist in private portal
http://dashi-dev.cbio.mskcc.org:28080/triage/study?id=acyc_mda_2015#summary

![screen shot 2016-11-30 at 5 33 44 pm](https://cloud.githubusercontent.com/assets/5400599/20774171/304019e0-b723-11e6-80d8-c3825f1657d1.png)

[2016-11-30 22:37] jjgao opened #1962 "Study view mut vs cna plot tweaks"
- [ ] by default only show selected samples in blue.
- [ ] adding an option to display all samples in gray in background.

[2016-12-01 08:36] fedde-s commented on #1801
Do I read things right if I think that #1696 should have fixed this when it's released?

[2016-12-01 08:40] fedde-s opened #1963 "Git conflict resolution artefact in migration.sql"
A `<<<<<<< HEAD` line ended up committed in the release candidate branch in 0857751260, causing a syntax error.

[2016-12-01 08:48] fedde-s commented on #1963
Looks like #1902 contains a fix for this.

[2016-12-01 21:57] jjgao opened #1964 "miRNA data not imported for gbm_tcga_pub"
I think the problem is that the mir IDs are in the entrez_gene_id column in  data_expression_merged_median_Zscores.txt

[2016-12-02 06:10] ersinciftci commented on #1926
Done https://github.com/cBioPortal/cbioportal/pull/1948

[2016-12-02 06:10] #1926 closed

[2016-12-02 15:09] oplantalech commented on #1831
You can find all the changes in this branch: https://github.com/thehyve/cbioportal/tree/gsva_query_button

@pieterlukasse @sandertan

[2016-12-02 21:44] adamabeshouse commented on #1960
https://github.com/cBioPortal/cbioportal/pull/1967

[2016-12-02 21:44] #1960 closed

[2016-12-02 21:46] #1758 closed

[2016-12-02 22:17] adamabeshouse commented on #656
New API deprecates this implementation.

[2016-12-02 22:17] #656 closed

[2016-12-05 08:55] pieterlukasse commented on #1963
Yes, #1950 also has a fix

[2016-12-05 08:55] #1963 closed

[2016-12-06 14:58] ericblanc20 commented on #1858
Same problem using thehyve's hotfix branch on `study_es_0`, following the doc. (The branch uses `LinkedHashMap` in `MySQLbulkLoader` & doesn't use bulk loader in `DaoGene.addGene()` ):

[code]

mysql version 5.7.13, all tables use InnoDB.
macosx 10.10.5, Darwin Kernel Version 14.5.0

Is there a workaround, should I use other versions, and if yes, which one?

Thanks!

[2016-12-06 17:56] schultzn opened #1973 "Results tab headers should not wrap into a second row"
We should implement something similar to what we have on the Mutations tab when there are two many genes (see second screenshot below)

![image](https://cloud.githubusercontent.com/assets/11892704/20937018/07c3b4b0-bbb3-11e6-9463-438104753e14.png)

![image](https://cloud.githubusercontent.com/assets/11892704/20937092/63158ea6-bbb3-11e6-80fd-a7e89a70e075.png)

[2016-12-06 17:58] jjgao commented on #1973
@JiaoJiao123 could you help on this?

[2016-12-06 17:59] zhx828 opened #1974 "Improve fault tolerance in Study View regarding to clinical attributes"
Make the clinical attributes all upper cases when building the mapping in case any data miss matched in the front-end.
Issues happen if the clinical attribute in clinical_attributes list is uppercase but in the clinical data, it's lower case. For example, CLIN_M_STAGE in clinicalattributes, but patient data is using CLIN_M_Stage as attr_id.

[2016-12-07 08:46] pieterlukasse commented on #1834
Task 1 is implemented by #1902 and https://github.com/thehyve/cbioportal/tree/gsva_backend

Task2 is implemented in https://github.com/thehyve/cbioportal/tree/gsva_backend

Task 3 is implemented in #1972

[2016-12-07 13:50] oplantalech commented on #1942
- [ ] Add gene set option to the Vertical and Horizontal Axis menus
- [ ] Use frontend js "data manager" to retrieve list of gene sets and respective data
- [ ] expand correlation calculation for gene sets
- [ ] Integrate gene set data into the scatter plot
- [ ] Integrate gene set data into the box plot

All the work can be found in this branch: https://github.com/thehyve/cbioportal/tree/gsva_plo

[2016-12-07 19:33] schultzn opened #1976 "TCGA PDF reports not showing up"
http://www.cbioportal.org/case.do?cancer_study_id=brca_tcga_pub2015&sample_id=TCGA-AR-A1AJ-01

[2016-12-07 20:03] adamabeshouse opened #1977 "Use getGeneticProfileDataBySampleList in QuerySession"
Me and @pieterlukasse made this change at last years hackathon, I'm not sure what happened that this got reverted. It leads to a significant speed improvement on large sample lists.

[2016-12-07 23:41] inodb commented on #1932
Fixed in #1965

[2016-12-07 23:41] #1932 closed

[2016-12-07 23:42] #1924 closed

[2016-12-08 18:22] zhx828 commented on #1959
@schultzn I just found the issue, will fix it very soon. But looks like the library we are using has a limitation on the file size (https://github.com/zeroclipboard/zeroclipboard/issues/529)
@jjgao should we disable the Copy button for bigger studies until they fix the issue?

[2016-12-08 18:55] zhx828 commented on #1940
Issue has been solved in pull request https://github.com/cBioPortal/cbioportal/pull/1941

[2016-12-08 18:55] #1940 closed

[2016-12-08 18:55] #1919 closed

[2016-12-08 19:27] zhx828 commented on #1959
I think I will go ahead disable the button for bigger studies since it's not usable. I will keep an eye on the issue I mentioned, if any changes apply to the library I will do another fix.

[2016-12-09 14:41] brittanystoroz opened #1981 "Styling tweaks to cleanup right sidebar"
While we work on refactoring the entire site with a new tech stack, we're going to do a quick and simple clean-up of current styling. Just giving the look and feel a little TLC.

[2016-12-09 17:01] brittanystoroz opened #1983 "Update header/navigation design"
We're going to clean up the style of the header and navigation a bit. Some work has previously been done on this by @pieterlukasse. Thanks for the head start ;)

A couple of questions based on the work done in #1913:
* Are we swapping out the MSK logo for the Hyve logo permanently or do we need both? Is it important that these logos are in the header or can we potentially move them around a bit?
*

[2016-12-09 17:06] zhx828 commented on #1983
First of all, thanks a lot for getting this started and this is great. Just a comment on the LOGO. The color scheme is matched with our classic oncoprint color scheme which most of our users are familiar with. Not sure about changing that unless we have a discussion and get most approvals from different institutes.

[2016-12-09 17:07] mandawilson commented on #1983
Yes, I agree this is great!

[2016-12-09 17:09] brittanystoroz commented on #1983
@zhx828 Thanks for the info! For now I can work with the colors as-is, but yea that's definitely a discussion I'd like to have in the future :)

[2016-12-12 17:19] schultzn opened #1984 "OncoPrint OncoKB/cancerhotspots tooltip not always showing correct information"
Missing many hotspot flames and oncoKB target icons.

![image](https://cloud.githubusercontent.com/assets/11892704/21109005/2f6f608e-c065-11e6-927b-f2de33d03e80.png)

Also, "Zoom to fit altered cases" is no longer working.

[2016-12-12 17:21] schultzn opened #1985 "DelIns events should be shown as indels in the oncoprint"
currently shown as frameshift

http://bit.ly/2hmnpd5

![image](https://cloud.githubusercontent.com/assets/11892704/21109058/61d7627e-c065-11e6-87e1-af4cce6afa22.png)

[2016-12-12 17:41] jjgao commented on #1983
@brittanystoroz Thanks for getting started.

- Agreed with @zhx828 about the cBioPortal logo.
- The Hyve logo is just an example of their local instance. I just re-open the pr #1913 and you can see the change @pieterlukasse made [here](https://cbioportal-pr-1913.herokuapp.com/). If the link doesn't work, try to refresh a few times.
- We (@schultzn)  are also thinking of remove the MSK logo. And th

[2016-12-12 19:39] adamabeshouse commented on #1984
https://github.com/cBioPortal/cbioportal/issues/1984
The zoom to fit altered cases is fixed in the soon-to-be-merged minimap PR

[2016-12-12 20:18] schultzn commented on #1983
I agree… all we need is the cBioPortal logo - we can probably live without the tag line.

[2016-12-12 23:27] ckandoth commented on #1985
Per VEP, [this event](http://grch37.rest.ensembl.org/vep/human/hgvs/3:g178928219G%3EGATA?content-type=application/json) has two possible consequences: `protein_altering_variant` and `splice_region_variant`, where `protein_altering_variant` is considered [more severe](http://useast.ensembl.org/info/genome/variation/predicted_data.html#consequences), and [this issue](https://github.com/mskcc/vcf2maf

[2016-12-13 00:05] brittanystoroz commented on #1983
Yea I was planning on getting rid of the tagline and just asking for forgiveness later, but I'm glad we're all on the same page with that haha :)

[2016-12-13 00:19] brittanystoroz commented on #1983
@jjgao Removing the other logos and taglines makes it was easier to redesign the header. I think it makes sense to keep *some* sort of header for now, as to not alienate people who have been familiar with this site for years.

There's currently a lot of wasted space that I want to clean up a bit. Some quick, initial iterations I thought of would remove the tagline and MSK logo, and move the naviga

[2016-12-13 02:53] schultzn commented on #1983
I like it!!

And you are correct, this navigation bar is not used frequently, so de-emphasizing it is a good idea. Once a user has initiated a query, most of the interaction is with the tab headers.

Niki.

[2016-12-13 03:10] inodb commented on #1983
@brittanystoroz Nice, that looks great!

Did you try making the left & right side white as well? More like the github layout instead of having a box around the main content.

[2016-12-13 16:37] Sjoerd-van-Hagen opened #1987 "Query button in study view does not work in Firefox"
In Firefox, both on cbioportal.org and cbioportal.org/beta, clicking the query button in the study view after selection one or more mutated genes produces the following error in the JavaScript console:
`TypeError: window.event is undefined`

In Chrome it works without problems.

@zhx828

[2016-12-13 17:47] CharlesChuange commented on #369
how to decide the altered criteria of mRNA level ?
thanks

[2016-12-13 17:58] CharlesChuange opened #1988 "How to decide the altered/unaltered criteria of mRNA expression?"
When I used enrichment and oncoprint to analysis mRNA expression data, it showed that Upregulation/downregulation and altered/unaltered to me.
I want to know how to determine the criteria to seperate two group(up/down and altered/unaltered)?
What is the algorithm or method?
Please tell me,  thank you!!

[2016-12-13 19:02] zhx828 opened #1989 "Add OncoKB tumor type summary into cBioPortal"

[2016-12-13 20:07] #1974 closed

[2016-12-13 20:08] zhx828 commented on #1961
This is data mismatch. Found the issue. No need to fix in front-end.

[2016-12-13 20:08] #1961 closed

[2016-12-13 20:08] #1959 closed

[2016-12-14 14:29] schultzn commented on #1983
@brittanystoroz <https://github.com/brittanystoroz> One more thought - for private instances of cBioPortal, we will need a place to indicate the login status, like in the screenshot below.

Niki.

[2016-12-15 03:24] adamabeshouse commented on #1977
https://github.com/cBioPortal/cbioportal/pull/1993

[2016-12-15 03:24] #1977 closed

[2016-12-15 03:26] adamabeshouse commented on #564
This has been done

[2016-12-15 03:26] #564 closed

[2016-12-15 19:13] jjgao commented on #1983
@brittanystoroz great start!

Following up on @schultzn's point of de-emphasizing the navigation bar, after the user initiates the query, maybe we can just remove the whole navigation bar. For example, we can put the logo before `Modify Query` -- see below.

![image](https://cloud.githubusercontent.com/assets/840895/21238312/888b0156-c2d0-11e6-9b45-2140867f5f8c.png)

[2016-12-15 19:33] schultzn commented on #1984
InDels, like this one in EGFR, still don't have the OncoKB annotation icon.

![image](https://cloud.githubusercontent.com/assets/11892704/21239064/623b069c-c2d3-11e6-93bf-9c6a96b224bf.png)

[2016-12-15 19:37] onursumer opened #1994 "Prevent Patient Page to call the pancer mutations API"
Currently we disabled the `cBioPortal` column in patient view, but the page still makes the API call to the `pancerMutations.json`. As a quick hot fix, we need to prevent this API call for now.

[2016-12-15 19:55] adamabeshouse commented on #1984
For the current release we were only annotating missense mutations.

[2016-12-16 14:41] schultzn opened #1995 "Enrichments analysis drops custom case lists after adding new genes to query"
It looks like when adding new genes to a query directly from the enrichments tab, custom case lists are lost... You can add a gene once, but after that, the case list is lost and you can't modify the query any further.

To reproduce, pick any custom case list, run a query, add a gene from the enrichments tab, run the query, and then look at the case list in "modify query".

[2016-12-16 23:35] ecerami commented on #1983
@brittanystoroz:  this looks like a great start!  I like the logo changes + changes to the header and navbar.

Regarding sign in / sign out, @priti88 or I can show you how the cBioPortal @ DFCI works, so you can get an idea.

We probably also want / need a way to add one additional logo to the header for private cBioPortal instances.  For example, for the DFCI portal, we have included a DFCI / Bri

[2016-12-18 22:10] morungos commented on #1801
This isn't just an InnoDB issue (although that resolves some of it). I'm just attempting to use 1.3.2 master and seeing a problem in the same place (tables all InnoDB):

[code]

The issue is simple: there is no `PANEL_ID` column in the `gene_panel` table.

Maybe this should be `REFERENCES gene_panel(INTERNAL_ID)`?

[2016-12-19 14:35] ecerami opened #1997 "Complete Implementation of the Mutation Data API"
Goal is to complete the spec'd out core Mutation Data API.  Complete details are here:  https://docs.google.com/document/d/1aP2SPjdLfWseT0Evl_53-U690hfz0FiBrbR_vB-Jqzk/edit#

[2016-12-19 15:08] morungos commented on #1801
Follow up on this, the current import process is extremely twitchy about server collations because the seed file wires in a charset, and collations appear to be completed by magic and not from the database. I am sure if you have everything set right it is all smooth, but it isn't if you don't.

I'd recommend tweaking the dump seed file so it doesn't set:

 * the engine
 * the character set
 * the

[2016-12-19 16:33] ecerami commented on #1983
@brittanystoroz:  another cBioPortal instance that you may want to check out:  https://cbioportal.gdc.cancer.gov/cbioportal/

[2016-12-20 15:05] brittanystoroz commented on #1983
@ecerami Thanks, I'll plan on being in the office for at least half a day tomorrow morning, if we can block out some time to go over this then.

[2016-12-21 17:14] sandertan opened #2000 "Duplicate clinical attributes in Plots tab"
Some clinical attributes appears to show up twice in the Plots tab.

I checked this also in a local database where the clin attr is only once in database (I believe).

<img width="633" alt="screen shot 2016-12-21 at 18 11 23" src="https://cloud.githubusercontent.com/assets/9624990/21398784/0800a17a-c7a9-11e6-8f8c-6066643e3311.png">

[2016-12-21 17:49] zhx828 opened #2002 "Minor change on the Copy Number Alterations Bar chart"
- [x] Change the title to 'Fraction of copy number altered genome'
- [x] Change the download file name from TSV to DATA

[2016-12-22 20:57] inodb commented on #2000
![](https://github.trello.services/images/mini-trello-icon.png) [Grok Copy Number Data needs in patient view](https://trello.com/c/r8h31CER/12-grok-copy-number-data-needs-in-patient-view)

[2016-12-22 23:44] inodb opened #2010 "/api/clinical-data/fetch no response for lgg_ucsf_2014 P04_Pri"
On page

https://cbioportal-pr-2009.herokuapp.com/case.do?cancer_study_id=ucec_tcga_pub&case_id=TCGA-BK-A0CC

The API does not return any data for:

[code]

But there is clinical data in the tooltip of the sample, i.e.:

![screen shot 2016-12-22 at 7 01 07 pm](https://cloud.githubusercontent.com/assets/1334004/21444171/04d9c2b2-c879-11e6-9ae1-d34946902452.png)

[2016-12-23 02:23] ersinciftci commented on #2010
@inodb in the request body, `id` is changed to `entityId` in the latest merged API changes, it seems like it's not reflected here. I added this change later to the PR, it was not in the initial version, so it's possible that you generated the typescript client library from an earlier version of the PR instead of the latest rc?

[2016-12-23 02:39] inodb commented on #2010
@ecerami It's slightly odd because there's another page that is working with `id`, e.g.:

[code]

I think branch `release-1.4.0` doesn't have that `entityId` change yet. Should we update that branch with the latest changes in `rc`?

[2016-12-23 02:42] alisman commented on #2010
I think I did generate the client based on the latest api changes in rc.   When I regenerate the api based on release-1.4.0 there are a lot of ts errors.  I will try to fix these and see if it resolves the issue.

[2016-12-23 03:25] inodb commented on #2010
Problem seems to be solved, I just went over my limit API calls on heroku, so have to wait a few mins ;)

[2016-12-23 22:06] zhx828 opened #2012 "Improve sorting order on the items with same frequency - Study View"
In mutatedGene/CNA tables, if the rows have the same frequency, the sort order may be different in different browsers. This has interrupted the end-to-end test few times.

[2016-12-27 07:21] shivanshsoni commented on #1666
Sir, We can use google URL shortener for this
We just have to write a small code to redirect it to a new shortened link(after shortening URL by using google URL shortener through a code)

just check it out:
Shortened URL of above link::   https://goo.gl/YqECYp

After using this you can easily distribute it to others.

[2016-12-27 16:36] jjgao commented on #1162
Since we are redesigning the tree, I am close this pr.

[2016-12-27 16:36] #1162 closed

[2016-12-27 16:39] jjgao commented on #1479
Is this still open or solved?

[2016-12-27 16:41] #108 closed

[2016-12-27 16:42] #426 closed

[2016-12-27 16:45] #946 closed

[2016-12-27 17:12] #2010 closed

[2016-12-27 17:14] jjgao opened #2014 "support non-root app for the new frontend react app"

[2016-12-27 17:55] jjgao commented on #1976
It's because Chrome is no longer support PDF viewer by default.

https://support.google.com/chrome/answer/6213030?hl=en

[2016-12-27 17:56] jjgao commented on #1976
We should add a message for Chrome users.

[2016-12-27 17:59] jjgao commented on #1988
For mRNA, it simply that any samples with an expression absolute value greater than the specified (default 2) z-score threshold are considered altered. For one-side query, you would need to use [Onco Query Language](http://www.cbioportal.org/onco_query_lang_desc.jsp).

[2016-12-27 17:59] #1988 closed

[2016-12-27 18:00] #1987 closed

[2016-12-27 18:06] #1949 closed

[2016-12-27 18:09] jjgao commented on #1883
@DarioS: Thanks for the info. Do you know if there is any available code preferably in Javascript?

[2016-12-27 18:16] jjgao commented on #1749
@zheins @pieterlukasse any remaining issues on this?

[2016-12-27 18:37] jjgao commented on #1810
@adamabeshouse could you clarify?

[2016-12-27 19:54] adamabeshouse commented on #1810
@jjgao i.e. if you filter the mutations through the putative driver/passenger interface, then in the download tab the mutations that have been filtered out are still present. Is this desired behavior or should we propagate this state to the download tab?

[2016-12-27 20:07] jjgao commented on #1810
@adamabeshouse we need to discuss with @schultzn. It also affects other tabs: Mutex, Mutations, Enrichments, Survival, and maybe others.

[2016-12-28 04:15] jjgao opened #2018 "Oncoprint: Restore the zooming buttons / slider / text input"
Per Niki's request, let's restore them int he menu. We can still keep the current zooming function in the mini-map.

- [x] restore zoom buttons, slider and text input
- [x] always hide the birds eye view by default when opening oncoprint (no cookie / local storage)
- [x] remove the while section when loading oncoprint
- [x] remove the white space under oncoprint by default

[2016-12-28 15:02] CharlesChuange commented on #1988
thank you!!

[2016-12-28 18:52] schultzn opened #2019 "New OncoPrint shows incorrect coverage"
This is for MSK-IMPACT patients:

![image](https://cloud.githubusercontent.com/assets/11892704/21529031/bde94680-cd04-11e6-8734-370054812735.png)

[2016-12-28 19:23] adamabeshouse commented on #2019
@schultzn what gene is that?

[2016-12-28 21:07] adamabeshouse commented on #2019
Hm, looks like there's something wrong with the gene panel API. I'll look into this today.

[2016-12-28 21:08] schultzn commented on #2019
Thanks!

[2016-12-28 22:42] adamabeshouse commented on #2019
@inodb queried dashi for me, and found that there's no gene panel data for samples in IMPACT:
[code]

By convention agreed on w/ @zheins and @sheridancbio, if there's no gene panel data for a sample, we assume it's been whole-exome sequenced.

So I don't think there's a bug in the code, there's something wrong with the data in the database.

[2016-12-29 18:03] schultzn commented on #2019
There should be data there … MSK-IMPACT uses three different panels, and we should try to capture that information.

[2016-12-30 03:17] zhx828 opened #2023 "Include abstracts and Level 4 evidences from OncoKB"
Abstracts: BRCA1 Oncogenic Mutations http://www.cbioportal.org/case.do?cancer_study_id=ov_tcga_pub&sample_id=TCGA-23-1026-01

Level 4 NF1 Oncogenic mutations: http://www.cbioportal.org/case.do?cancer_study_id=laml_tcga_pub&sample_id=TCGA-AB-3009-03

[2017-01-03 21:30] jjgao commented on #2019
@n1zea144 could you look into that?

[2017-01-03 21:37] jjgao commented on #1995
This issue will be solved once we enable session service -- it's already solved on msk-portal.

[2017-01-03 21:44] #1245 closed

[2017-01-03 21:45] #1085 closed

[2017-01-04 02:00] DarioS commented on #1883
An implementation of ExaLT is [available within](http://compbio.cs.brown.edu/projects/survival/) Raphael Lab's Software website. It's written in C++ and R, and an alternative implementation is in MATLAB. It wouldn't be as easy to incorporate into cBioPortal as I thought.

[2017-01-04 18:18] n1zea144 opened #2026 "not a HUGO gene symbol (cbio_cancer_genes.txt)"
It looks like the following HUGO symbols in cbio_cancer_genes.txt no longer exist in NCBI gene dump.

2016-12-23 19:14:15 [main] WARN  org.mskcc.cbio.portal.util.ProgressMonitor - CDKN2AP16INK4A in the cbio cancer gene list config file [resources/cbio_cancer_genes.txt] is not a HUGO gene symbol. You should either update this file or update the `gene` and `gene_alias` tables to fix this.
2016-12-23

[2017-01-04 18:21] jjgao commented on #2026
These three symbols are special ones for the msk-impact study. Please keep them there.

[2017-01-04 18:21] #2026 closed

[2017-01-04 18:35] jjgao commented on #1883
I'm closing this since we don't have the resource to work on it right now.

[2017-01-04 18:35] #1883 closed

[2017-01-05 02:31] morungos opened #2028 "Base URL begins // rather than /"
I'm attempting to deploy a stable build, but hitting an issue where it seems like there's an extra slash in the base URL. The lines that cause this are:

[code]

and

[code]

Because of these, `baseURL` ends with a slash, and a second slash is appended with `/api`, resulting in URLs like `http://localhost:8080//api/...`, which are not correct and do not work, e.g. in Jetty.

This is in current `ma

[2017-01-05 16:04] schultzn opened #2029 "OncoPrint: Distinguish between sample and gene not sequenced"
In the new OncoPrint feature, can we distinguish between whether an entire sample or just the gene was not sequenced? I suggest to change the tooltip to:
"Sample not sequenced" and "Gene not sequenced in this sample".

![image](https://cloud.githubusercontent.com/assets/11892704/21687301/bbb0ec64-d336-11e6-9694-e7f21d12f27a.png)

[2017-01-05 21:05] adamabeshouse commented on #2018
https://github.com/cBioPortal/cbioportal/pull/2020 solves the first three issues here

[2017-01-05 23:02] jjgao opened #2033 "Mutations with NA chr"
Somehow there are many mutations with chr NA in our database. Please try the follow command on cgds_public.

select * from mutation_event where chr="NA" and start_position>0;

Here is the example the user mentioned.

http://www.cbioportal.org/case.do?cancer_study_id=acc_tcga&case_id=TCGA-OR-A5J2

![image](https://cloud.githubusercontent.com/assets/840895/21700962/f74f7788-d370-11e6-9497-74996c46f6

[2017-01-06 03:30] jjgao opened #2036 "not working: scatter plot in coexpression and enrichments for mass spec data"
The scatter plot is not working.

![image](https://cloud.githubusercontent.com/assets/840895/21706598/742b1b98-d396-11e6-8853-a3f0e321fc1b.png)

[2017-01-06 08:32] adamabeshouse commented on #2018
Some problems with #2020 so #2037 is ready for merging.

[2017-01-06 19:01] #2023 closed

[2017-01-06 19:01] #1989 closed

[2017-01-07 16:52] zhx828 opened #2041 "The header style in the study view need to be updated for specific range of width in the browser"
![pasted image at 2017_01_07 11_42 am](https://cloud.githubusercontent.com/assets/5400599/21743410/a616a2be-d4cf-11e6-89ff-1ab2b90c45c8.png)

[2017-01-07 19:55] schultzn opened #2042 "Tables in the study view revert to default sort order after making a selection"
Tables in the study view should not revert to the default sort order after making a selection of samples from the table. For example, when I sort a table "date added" by date, then select a specific date, the table reverts back to the default order by number of samples in each category. I then have to sort by date again.. this is tedious when one wants to select multiple dates.

[2017-01-09 02:41] jjgao opened #2043 "Enrichments - Protein - Mass spec: wrong tooltip"
![image](https://cloud.githubusercontent.com/assets/840895/21756135/fe1b7cac-d5ea-11e6-94db-56dca3424de0.png)

[2017-01-09 02:43] jjgao opened #2044 "Plots not working for mass spec"
http://www.cbioportal.org/index.do?cancer_study_list=ov_tcga&cancer_study_id=ov_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=ov_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=ov_tcga_gistic&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=ov_tcga_cnaseq&case_ids=&patient_case_select=sample&gene_set_choice=user-defined-list&gene_list=TP53&clinical_

[2017-01-09 13:27] fedde-s opened #2045 "Inconsistent unit test database setting variables"
[This hunk](https://github.com/cBioPortal/cbioportal/commit/dd095170a47521735bce51d83094ee4a794b0410#diff-357e4854869b2e21c38b1b437f11095aL358) in pull request #1517  changed the names of the variables Maven uses to connect to a database and seed it with example data for unit tests, but most of the tests themselves still use the old, partially hard-coded, credentials from [applicationContext-dao.x

[2017-01-09 13:29] fedde-s commented on #2045
If I understand correctly, fixing this would also solve the remaining problem in issue #14.

[2017-01-09 13:29] fedde-s commented on #2045
Documenting the variables might involve moving [this section](https://github.com/cBioPortal/cbioportal/blob/1c4d61c1993ce19aa4ecab60972a7a743d8873c3/docs/Pre-Build-Steps.md#create-a-maven-settings-file) out of the pre-build steps, as it's only relevant to running the unit tests.

[2017-01-09 13:45] fedde-s commented on #2045
Or am I misreading what this code does?

[2017-01-09 16:07] jjgao opened #2046 "Web API documentation issue"
A user brought this to our attention: https://groups.google.com/forum/#!topic/cbioportal/c3AdlKfU3kE

![image](https://cloud.githubusercontent.com/assets/840895/21773112/d40540e4-d65b-11e6-9533-0780f1c55563.png)

[2017-01-09 16:42] jjgao opened #2047 "change N/S to 'Not sequenced' in oncoprint legend"

[2017-01-10 17:37] pieterlukasse commented on #1801
How much of this is now solved by #1696?

[2017-01-10 19:11] adamabeshouse commented on #2047
https://github.com/cBioPortal/cbioportal/pull/2050

[2017-01-10 19:11] #2047 closed

[2017-01-10 19:32] morungos commented on #1801
It's hard to say. I don't know why the seed was ending up in `latin1_swedish_ci` but it was using this basic framework. I'm wondering whether there was a default that differed between the python migration and the mysql data loading.

The `ALTER TABLE sample_profile` issue is still present in 1.4.0

[2017-01-10 19:43] #2018 closed

[2017-01-11 14:55] pieterlukasse commented on #1289
Actually on a 1.3.2 installation I get this in *Chrome*:

[code]
on line:
[code]

[2017-01-11 14:57] pieterlukasse commented on #1289
@adamabeshouse this is the issue I mentioned

[2017-01-11 14:57] pieterlukasse commented on #1289
Same query seems to work in IE11

[2017-01-11 19:47] jjgao opened #2054 "clean up database tables"
- [x] clean up production database leftover such as clinical_attribute
- [x] remove pdb data tables: pdb_uniprot_alignment, pdb_uniprot_residue_mapping #8749
- [x] remove rppa related tables: protein_array_* #8799
- [x] remove other legacy tables: micor_rna, micro_rna_alteration, mutation_frequency, entity, entity_attribute, entity_link, patient_list, patient_list_list
- [x] sanger_cancer_census -

[2017-01-11 20:20] sheridancbio commented on #2054
We should talk this week about this. It would be good to put together a concrete proposal for db changes by Monday so it can be reviewed next Wednesday 11am (Engineering Review Meeting)

[2017-01-11 20:57] adamabeshouse commented on #1289
I can't recreate this on my end. But the problem has to be that webGL isn't available in your browser (please confirm with webglreport.com) , which we should handle more gracefully.

[2017-01-11 21:36] adamabeshouse commented on #1849
I misunderstood the issue, it's fine as is.

[2017-01-11 21:36] #1849 closed

[2017-01-11 21:36] adamabeshouse commented on #1867
we're getting around this by querying by sample list.

[2017-01-11 21:36] #1867 closed

[2017-01-11 21:36] adamabeshouse commented on #1984
@jjgao @schultzn should I do anything about this?

[2017-01-12 12:57] pieterlukasse commented on #1289
@adamabeshouse thanks for the webgl report link. These are the results (see below). I think that it is indeed due to the combination of old Chrome/Windows on this Citrix environment.

![pasted image at 2017_01_12 01_45 pm](https://cloud.githubusercontent.com/assets/2900303/21890661/04bb8f7a-d8cf-11e6-95ed-dc9096c4a529.png)

![pasted image at 2017_01_12 01_54 pm](https://cloud.githubusercontent.com

[2017-01-12 12:59] pieterlukasse commented on #1289
@adamabeshouse I agree that catching this and showing a clear message on the UI would be the best solution. Perhaps the message can also contain the link to the test site http://webglreport.com/

[2017-01-12 16:55] priti88 opened #2059 "Error inserting mutation data in the database"
Error:
ABORTED! java.lang.RuntimeException: org.mskcc.cbio.portal.dao.DaoException: DB Error: only 89 of the 90 records were inserted in `mutation_event`. More error/warning details: Duplicate entry 'NA-0-0-NA-4595-Q335R-Missense_mutation' for key 'CHR'

Using the Python importer. I checked my data file and there was no duplication. Data imports fine when there are no other studies in the database

[2017-01-12 19:51] adamabeshouse commented on #2029
@schultzn Do you mean if the sample wasn't sequenced in the queried genes, or if it wasn't sequenced at all?

[2017-01-12 19:53] schultzn commented on #2029
If the entire sample wasn't sequenced, the text could say: "Sample not sequenced". If, however, some genes were sequenced, but others were not, and there is no sequencing data for a given gene, the text could read: "Gene not sequenced in this sample"

[2017-01-12 19:55] adamabeshouse commented on #2029
I understand, I'm asking if by "sample not sequenced" you mean "genes queried for the oncoprint not sequenced in sample", or if you mean "sample not sequenced at all." I haven't been familiar with the latter case being possible in the portal, so I think it's the former, but just wanted to make sure.

[2017-01-12 19:56] schultzn commented on #2029
I mean the latter. We have information on that per sample, it is called “With Mutation Data”

[2017-01-12 20:01] adamabeshouse opened #2060 "If webGL not available, hide oncoprint and show message"
raised by @pieterlukasse

[2017-01-12 20:01] adamabeshouse commented on #1289
https://github.com/cBioPortal/cbioportal/issues/2060

[2017-01-12 20:01] #1289 closed

[2017-01-12 20:02] adamabeshouse opened #2061 "Restructure oncoprint code into more conventional file structure"
All source in `src` directory, build `oncoprint-bundle.js` into a `dist` directory, and put a README in the root describing how to build it with `gulp`.

Raised by @fedde-s

[2017-01-12 20:45] jjgao commented on #2029
@adamabeshouse there is a case/sample list called "case_sequenced". If a samples is _not_ in this case list, it is not sequenced at all.

[2017-01-13 17:03] jjgao opened #2063 "Use gene panel info when calculating the percentages in study view"
For `Mutated Genes` and `CN-altered Genes` tables, the percentages are not correct if different gene panels were used.

[2017-01-13 19:22] zheins opened #2064 "Rows from genetic_profile_samples being deleted"
In one of our instances of the portal the row for the mutation genetic profile from `genetic_profile_samples` was deleted mysteriously. This portal has been stable for a long period of time and no one has updated the data or modified the database to my knowledge.

I feel like this isn't the first time rows have gone missing from the database on studies that haven't been touched in a while and I've

[2017-01-13 19:51] adamabeshouse commented on #2029
@jjgao it will always be called `${study stable id}_case_sequenced` ?

[2017-01-13 20:57] jjgao opened #2065 "Uncheck "Sort by mutation type" not working"
http://bit.ly/2jsDpeu

![image](https://cloud.githubusercontent.com/assets/840895/21945370/ea5b5d7e-d9a8-11e6-8083-de049cc2a8f7.png)

[2017-01-13 21:00] jjgao opened #2066 "WT vs NS sorting should not have higher priority than gene alteration sorting"
![image](https://cloud.githubusercontent.com/assets/840895/21945395/071724d4-d9a9-11e6-97ed-fe4eae644bbd.png)

[2017-01-13 21:05] adamabeshouse commented on #2065
The issue here is that it's still sorting by driver/passenger, and truncating are always considered passenger.

[2017-01-13 22:41] adamabeshouse commented on #2066
notes to self:
make comparator accept direction as parameter
sign is sign of decision, magnitude is priority
not yet sure how this will interact with PrecomputedComparator system, since need to take the largest priority

[2017-01-16 21:20] wendy321 opened #2069 "Problem when importing the sample study"
Hello all,

I am not sure whether it is fine to ask the question here or not. If it's not, please let me know and suggest me where I can ask.

I am installing the local version cBioPortal in a server at UTSouthwestern Medical Center.
I followed the [documentation](https://cbioportal.readthedocs.io/en/latest/Load-Sample-Cancer-Study.html).
After I executed  "**$ cd $PORTAL_HOME/core/src/main/script

[2017-01-16 21:36] wendy321 opened #2070 "Input Data Type [hg38]"
Hello all,

Same as my previous question - I am not sure whether it is fine to ask the question here or not. If it's not, please let me know and suggest me where I can ask.

I found brca_tcga_data_cna_hg19.seg and brca_tcga_meta_cna_hg19_seg.txt in  /cbioportal/core/src/test/scripts/test_data/study_es_0 folder. I guess the tool doesn't support hg38. Is that correct? If I want to make the local ver

[2017-01-17 10:28] AndyBlake commented on #2028
same here - I run cbioportal over https through an apache proxy using /cbioportal pointing at http://localhost:8080/cbioportal and that breaks this build also trying to get to https://localhost:8080//api/... as well as 404ing accessing 3.chunk.js through the reactapp path which doesn't take the /cbioportal sub path into account.

[2017-01-17 15:04] pieterlukasse commented on #1983
@brittanystoroz in many custom installations the users like to display their institute's logo to show that this is a *local instance* of cBioPortal. Would be good to keep some space for that. Can you make a proposal of how it would look with the cBioPortal and an institute logo (e.g. use the DF logo)?

[2017-01-17 15:59] morungos commented on #2028
@AndyBlake Just reminded the core dev team, and they said a hotfix is in and will be pushed soon.

[2017-01-17 18:35] alisman commented on #2028
JJ, I reverted this page in a hotfix when we released the integration of
new frontend code.  Looks like this didn't make it to master.

On Tue, Jan 17, 2017 at 10:59 AM, Stuart Watt <notifications@github.com>
wrote:

[2017-01-17 23:56] adamabeshouse commented on #2065
https://github.com/cBioPortal/cbioportal/pull/2071

[2017-01-17 23:56] #2065 closed

[2017-01-18 02:11] adamabeshouse commented on #2061
https://github.com/cBioPortal/cbioportal/pull/2072

[2017-01-18 02:11] #2061 closed

[2017-01-18 02:11] adamabeshouse commented on #1306
https://github.com/cBioPortal/cbioportal/pull/2072

[2017-01-18 02:11] #1306 closed

[2017-01-18 02:12] adamabeshouse commented on #1031
@jjgao can you reproduce this reliably?

[2017-01-18 15:31] wendy321 commented on #2069
solve the problem.

[2017-01-18 15:31] #2069 closed

[2017-01-19 02:03] adamabeshouse commented on #2029
@jjgao @schultzn bump :)

[2017-01-19 03:10] jjgao commented on #2029
@adamabeshouse yes.

[2017-01-19 03:45] #2014 closed

[2017-01-19 03:45] #2046 closed

[2017-01-19 04:49] #2036 closed

[2017-01-19 04:49] #2043 closed

[2017-01-19 04:49] #2044 closed

[2017-01-19 14:23] jjgao commented on #1797
Pieter just reported:

"ideas on why http://www.cbioportal.org/index.do?cancer_study_list=cellline_ccle_broad&cancer_study_id=cellline_ccle_broad&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=cellline_ccle_broad_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=cellline_ccle_broad_CNA&Z_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=cellline_ccle_broad_cnaseq&case_ids=&patient_case_sel

[2017-01-20 14:15] pieterlukasse commented on #2070
Hi Wendy, actually there are very few places where some (limited) genome build information is used. I.e. there are only a few UIs that are assuming a specific build: the patient view which contains a genome-wide overview of the CNA and mutations for a patient and the new CN segments view (I'm less familiar with this one, it could be it already supports hg38). One more place is the validator, which

[2017-01-20 14:25] pieterlukasse opened #2082 "CNA table in Study View only displays "cancer genes""
CNA table in Study View only displays "cancer genes" configured in `core/src/main/resources/cbio_cancer_genes.txt`. Other genes are **never** displayed, no matter how many CNA events are found for these in a study. This is surprising, especially when compared to how the Mutation table is filled in the same Study View (see summary below).

## Summary of how Mutations and CNA tables are filled in St

[2017-01-20 14:57] pieterlukasse commented on #2082
Notify: @jjgao @schultzn

[2017-01-20 15:19] schultzn commented on #2082
This is by design - if we showed all genes here, the table would be unusable, as it would be dominated by the most frequent large amplification. I agree that we should also use GISTIC peak information, if available. Maybe users can have the option to switch between "all" and "cancer genes".

[2017-01-20 15:41] jjgao opened #2083 "MutationMapper is not working"
![image](https://cloud.githubusercontent.com/assets/840895/22155304/ed287308-defc-11e6-94df-7baa7e004932.png)

[2017-01-20 21:51] walidchatila opened #2086 "Custom Sample Upload Filtering Bug"
There appears to be a bug when uploading a custom set of samples and trying to filter with another category. This always results in a selection of 0 samples/patients.

[2017-01-20 23:50] wendy321 commented on #2070
Hi Pieterlukcasse,

Thank you for the replying.

(1) For the **UIs** that **don't assume** a specific build, if I import hg38 into database, can we still view them?
For the **other UIs** that **assume** a specific build, do you know which files related to them? Maybe I can take a look at it and figure out how to modify them.

(2) As for the backend, I reviewed the data formats in the documentation

[2017-01-23 17:52] pieterlukasse opened #2089 "Default "onelogin.com" SAML example not working"
The example documented at https://github.com/cBioPortal/cbioportal/blob/master/docs/Authenticating-Users-via-SAML.md for integrating with Onelogin.com does not seem to be working. The behavior I get is an endless loop between my local cBioPortal and onelogin.com IDP, where cBioPortal(Spring security actually...it never gets to our code) thinks the user is "authenticated" but "anonymous" and return

[2017-01-23 17:53] pieterlukasse commented on #2089
@n1zea144 @ecerami could you help me by checking if you also get the same problem?

[2017-01-23 18:29] n1zea144 commented on #2089
@pieterlukasse I had the exact same issue when I tried to get it working for a GSoC student.

[2017-01-24 01:00] DarioS opened #2092 "Make Website Layout Internet Explorer 11 Compliant"
A lot of biologists use browsers like Internet Explorer or Microsoft Edge. Could the user interface be robust enough to be rendered correctly in Internet Explorer?

[2017-01-24 02:00] DarioS commented on #2092
This is related to #207, although that issue seemed to suggest that cBioPortal should work on versions greater than 9, which it doesn't.

[2017-01-24 02:23] adamabeshouse commented on #1797
https://github.com/cBioPortal/cbioportal/pull/2093

[2017-01-24 02:23] #1797 closed

[2017-01-24 18:34] jjgao opened #2094 "question about detailed tumor type and main tumor type"
If the clinical summary were curated for both detailed tumor type and its main tumor type, will the one for detailed tumor type take the priority?

[2017-01-25 01:55] adamabeshouse commented on #2029
@jj @schultzn several of these samples have CNA data, so the tooltip will say "not sequenced" but it will show a deletion. For example in `all_target_phase1`

[2017-01-25 10:43] oplantalech opened #2096 "Error when clicking a 'slice' of a pie chart in study view"
As @fedde-s pointed out, this error appears if you click a slice before the mouseover menu of the chart has rendered.
![captura de pantalla 2017-01-25 a les 11 47 19](https://cloud.githubusercontent.com/assets/20278013/22287711/1ac00c2c-e2f4-11e6-828b-e45bbaf569a0.png)

[2017-01-25 10:46] oplantalech opened #2097 "Images not found when initializing the table/sorting columns in mutations tab"
Although it seems there are no missing images in the view, when I inspect the page I see the following errors:
![captura de pantalla 2017-01-25 a les 11 45 02](https://cloud.githubusercontent.com/assets/20278013/22287632/e075fe00-e2f3-11e6-8f6c-22da6f62e4db.png)

Example link: http://www.cbioportal.org/study?id=paac_jhu_2014#mutations

[2017-01-25 10:56] fedde-s commented on #2096
On which branch is this? Plain v1.4.1?

[2017-01-25 10:57] oplantalech commented on #2096
Yeap, in www.cbioportal.org

[2017-01-25 11:02] fedde-s commented on #2096
I might be wrong, but it seems to occur when clicking a slice before the mouseover menu for that chart has rendered.

[2017-01-25 11:08] oplantalech commented on #2096
The error happens, for example, in this study: http://www.cbioportal.org/study?id=acc_tcga#summary

[2017-01-25 12:50] Sjoerd-van-Hagen commented on #2096
@zhx828 Perhaps you could have a look at it?

The issue is not just visible in the console but also to the user, because the pie charts are not all correctly updated to reflect the change in filtering.

For instance, if I quickly click on gender:male on the URL that @oplantalech posted, thie pie chart itself is not updated but some of the others also still display all 92 patients.

![screenie](htt

[2017-01-25 13:57] jjgao opened #2098 "Update 3D hotspot paper link"
On both 3dhotspot.org and cbioportal:

http://genomemedicine.biomedcentral.com/articles/10.1186/s13073-016-0393-x

[2017-01-30 09:08] sandertan commented on #1935
https://github.com/thehyve/cbioportal/tree/geneset_hierarchy-popup

- [ ] Query web service for JSON with gene set hierarchy data
- [ ] Use hard coded test JSON to parse data and build tree
- [ ] Select only gene sets (leafs), no nodes.

[2017-01-30 09:12] sandertan commented on #1831
- [ ] Allow query with only gene sets (no genes)

[2017-01-30 09:13] sandertan commented on #1943
https://github.com/thehyve/cbioportal/tree/gsva_plots

[2017-01-30 09:15] sandertan commented on #1835
https://github.com/thehyve/cbioportal/tree/geneset_importer

[2017-01-30 20:42] adamabeshouse commented on #2060
https://github.com/cBioPortal/cbioportal/pull/2104

[2017-01-30 20:42] #2060 closed

[2017-02-01 11:34] fedde-s commented on #1413
I believe this issue has been solved by #1847 and #1991. They do not include a way for the user to select the colour scheme, but the latter pull request does change the default based on reviews/feedback.

[2017-02-01 13:26] fedde-s opened #2106 "Oncoprint heatmap legends break when most recent track is removed"
In 1.4.2-SNAPSHOT as currently running on cbioportal.org, enabling heatmap tracks via the Oncoprint menu bar adds a nice legend shared between the heatmap tracks:
![Oncoprint including heatmap view with functioning legend](https://cloud.githubusercontent.com/assets/4929431/22507136/49e3e2cc-e884-11e6-979c-731f9ae78990.png)

But when the track most recently added to the Oncoprint (not necessarily t

[2017-02-01 13:26] fedde-s commented on #2106
@adamabeshouse, can you reproduce this?

[2017-02-01 15:47] pieterlukasse opened #2107 "undocumented google analytics option"
There is a portal property that can be added to `portal.properties` to enable google analytics on your own instance, but this is not yet documented.

The property is `google_analytics_profile_id` and perhaps it could be documented here:
https://github.com/cBioPortal/cbioportal/blob/master/docs/Customizing-your-instance-of-cBioPortal.md

[2017-02-01 15:48] pieterlukasse commented on #2107
@jjgao maybe you can easily document this based on an existing example?

[2017-02-01 18:56] adamabeshouse commented on #2106
I can reproduce it, I'll look into it today. I think I've seen this before and I thought I remember fixing it...

[2017-02-01 19:13] #2096 closed

[2017-02-01 22:27] schultzn commented on #2029
Maybe our term "not sequenced" is incorrect... should be "no mutation data"

[2017-02-01 22:47] jjgao commented on #1995
actaully it's not.

[2017-02-02 10:32] pieterlukasse opened #2111 "Improvements for heatmap clustering feature in oncoprint"
The heatmap clustering feature is now part of rc :tada:

Here are some remaining improvements that can be added to it:
- [ ]  when there is no heatmap, do not display the (disabled) radio button "Sorted by heatmap clustering order" in sort menu. It's confusing to see this option there in this case, or in cases when there are no expression profiles in a study
- [x] regarding multiple heatmaps: when

[2017-02-02 10:34] pieterlukasse commented on #2111
@jjgao this is where I recorded one of the improvements you asked for in #1998

[2017-02-02 12:03] pieterlukasse commented on #1835
implemented in #2113 , now ready for review.

[2017-02-02 12:03] #1835 closed

[2017-02-02 18:31] jjgao opened #2115 "Test OncoPrint on IE11"

[2017-02-02 21:07] adamabeshouse commented on #2115
https://github.com/cBioPortal/cbioportal/pull/2116

[2017-02-02 21:07] #2115 closed

[2017-02-02 21:56] adamabeshouse commented on #2106
https://github.com/cBioPortal/cbioportal/pull/2117

[2017-02-02 22:04] adamabeshouse commented on #2029
What should I show if a sample has CNA but no mutation data? As it is now, if it has a CNA alteration, the only indication that there's no mutation data will be in the tooltip, because the CNA alteration will cover the grey N/S rectangle.

[2017-02-02 22:08] schultzn commented on #2029
This is tricky… maybe grey out the middle of the rectangle, where the mutation call would normally show up?

[2017-02-03 10:16] fedde-s commented on #2106
Until the pull request is merged this issue is still present in both development branches, so I'll leave it open for clarity in case other people run into it.

[2017-02-03 16:26] sheridancbio commented on #1801
we are in the process now of transitioning to an all InnoDB production database. After that is done we will put into place the working assumption that all tables will be InnoDB and introduce a migration.sql version step with @fedde-s 's suggestion. We are shooting for feb 15

[2017-02-05 21:47] adamabeshouse commented on #2066
https://github.com/cBioPortal/cbioportal/pull/2121

[2017-02-05 21:47] #2066 closed

[2017-02-06 16:45] adufilie commented on #1935
I was tasked by @ecerami to recreate the current popups in React. Is this a completely new popup or is it a replacement for the existing one?

[2017-02-06 20:45] adamabeshouse opened #2122 "Some mutations have no keyword"
In the `mutation_event` table, some mutations have `NULL` in the `KEYWORD` column. Is this a bug or intentional?

[2017-02-06 20:49] adamabeshouse opened #2123 "No genomic data for a sample"
There seems to be no genomic data for sample 1:

http://www.cbioportal.org/case.do?cancer_study_id=skcm_tcga&case_id=TCGA-D3-A1Q5

[2017-02-07 08:38] pieterlukasse opened #2124 "Oncoprint failing to load in /beta version"
Oncoprint page hangs in /beta version. See this query: http://www.cbioportal.org/beta/index.do?cancer_study_list=brca_tcga&cancer_study_id=brca_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=brca_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=brca_tcga_gistic&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=brca_tcga_cnaseq&case_ids=&patient_case_se

[2017-02-07 08:40] pieterlukasse commented on #2124
@inodb I think it would be good to have at least 1 screenshot test for oncoprint

[2017-02-07 08:54] pieterlukasse commented on #1801
@sheridancbio I just checked a recent version of `rc` and the statement @morungos identified here is still wrong in `migration.sql`:

[code]
as @morungos stated, `gene_panel` does not have a field called  `PANEL_ID`

This will cause migration to fail regardless of engine...

[2017-02-07 08:55] sandertan commented on #1935
Hi @adufilie this is a new popup, of which the button is shown when geneset genetic profiles are selected (new feature). We based it on the code of the Mutsig and Gistic popup.

[2017-02-07 15:08] sandertan commented on #1935
@adufilie The tree was created with the same JQuery Plugin as used to select a study on the Query page [https://www.jstree.com](https://www.jstree.com). It was relatively easy to implement; after parsing a JSON with the relevant data, Jstree does all of the work to format it nicely.

This is the code that does the tree-building. flatData is the parsed JSON data.

[code]

We still want to implement

[2017-02-07 15:10] ecerami commented on #1935
thanks @sandertan.  I have also reached out to @pieterlukasse about this, as I am not yet sure if we / @adufilie are prepared to port this over to the new architecture right now.

[2017-02-07 15:48] sandertan commented on #1935
@ecerami @adufilie @pieterlukasse The code for the popup, tree and geneset selection can be found in `genesets.js`.

https://github.com/thehyve/cbioportal/blob/40bf96e56a9fc16576750e574fb23da168feafca/portal/src/main/webapp/js/src/genesets.js

[2017-02-08 01:00] DarioS commented on #1983
I'm always confused why Tools doesn't show all of the tools available, such as Survival Plot and Co-Expression Plot. It would be nice to be quickly able to see what tools are available without needing to load a dataset. The tools should be more prominent on the homepage.

[2017-02-08 20:17] sheridancbio commented on #1801
Thanks @morungos ... migration.sql had a plain bug which was not caught .. presumably because the migration.sql script was not tested under the InnoDB engine and so the foreign key constraint was silently ignored. That issue was fixed in the hotfix branch in #2126, which should be reviewed shortly by @zheins

[2017-02-08 20:28] sheridancbio commented on #2124
I've added @ersinciftci to this issue, since this probably requires action by the frontend refactoring team. When rolling out rc, it is necessary to transition the database to the 2.0.x schema. We put a temporary "bridge" schema in place before the end of the year which supported 2.0.x but was backwards compatible to 1.4.x .. but if we are rolling out rc, we need to transition a database to use th

[2017-02-08 20:30] sheridancbio commented on #2124
@JiaoJiao123 @n1zea144 should also be aware of this broken /beta functionality.

[2017-02-09 07:22] jjgao opened #2132 "Mutation Allele Freq not displaying"
cancer_study_id=egc_msk_janjigy_2017&case_id=P-0004680#nav_case_ids=P-0004680

Is it because the first sample has no mutations?

[2017-02-09 23:02] sheridancbio commented on #1801
#2126 has been merged. The other factors to address here are to solve the issue of mixed engine types and the use / non-use of foreign key constraints. We are still working on this currently, and are leaning towards stripping references to engine type and character sets from the database creation and migration scripts and providing recommendations / guides / documentations in the installation page

[2017-02-15 09:03] fedde-s commented on #2106
Fixed in `hotfix` by #2117.

[2017-02-15 09:03] #2106 closed

[2017-02-15 19:03] adamabeshouse commented on #2029
Should I do that in general, and no longer gray out the entire rectangle ever? Or only if there's a CNA?

[2017-02-15 20:42] pieterlukasse opened #2141 "Oncoprint not working in IE11"
@adamabeshouse : this is what I found:

![image](https://cloud.githubusercontent.com/assets/2900303/22994560/a2cc835a-f3c7-11e6-9d46-5be9db80a919.png)

You could use an alternative to log2, like here: http://stackoverflow.com/questions/27853445/alternative-for-math-log2

[2017-02-15 20:42] adamabeshouse commented on #2141
https://github.com/cBioPortal/cbioportal/pull/2116

[2017-02-15 20:42] #2141 closed

[2017-02-15 22:26] priti88 opened #2142 "Bug in Study View selected samples count"
If you look into this study : http://www.cbioportal.org/study?id=brca_tcga#summary
and select cancer type detailed “Breast Invasive Ductal Carcinoma" .
It says Selected:822 samples / 815 patients .
Total Breast Invasive Ductal Carcinoma samples are "821"

[2017-02-15 22:32] zhx828 commented on #2142
@priti88 thanks for reporting the issue, actually we found this issue as well and it had been fixed this morning, thanks to @kalletlak please see there https://github.com/cBioPortal/iViz/pull/368 We will prioritize to release the changes.

[2017-02-16 11:07] pieterlukasse opened #2145 "Problem in business/pom.xml ?"
When building, all the modules get a "compiled" portal.properties file. Except the `business` module. Apparently this is the only one where the portal.properties file (in `business/target/classes/portal.properties`) does not contain the replaced variables but still has the original "not compiled" portal.properties file. This leads to errors when `GlobalProperties.java` takes this version as the pr

[2017-02-16 11:07] pieterlukasse commented on #2145
@inodb @jjgao @oplantalech

[2017-02-16 15:14] morungos opened #2146 "Residual assumption that .getPrincipal() is a UserDetails"
Essentially, this is the same as #617, but one slipped through in AccessControlImpl, and specifically in `getUserDetails()`, the line of code is pretty obvious. All we need from the `UserDetails` is something that has a user name.

As before, this trips up OpenID Connect, which doesn't return a `UserDetails` but an immutable map.

There are workarounds, but as discussed in #617, this is a bad assu

[2017-02-16 16:41] schultzn opened #2147 "incorrect gene panel information showing up in Oncoprint"
In this internal example, some samples show up as WXS, instaed of IMPACTxxx
http://bit.ly/2kNSveP

for example:
https://cbioportal.mskcc.org/case.do?cancer_study_id=mskimpact&case_id=P-0006311

[2017-02-16 17:06] morungos commented on #2146
This broke our local deployment, which uses Spring Security with Mitre ID, which returns an authentication token where the principal isn't a UserDetails, and it really doesn't need to be. Workout in place now, where I customized a subclass of OIDCAuthenticationToken to return a principal which is a string. Note that OIDC doesn't really do usernames, so we did have to work a bit at this. However, i

[2017-02-16 18:59] adamabeshouse commented on #2147
I think this must be a data issue, since everything else seems to be working...there's definitely gene panel data for that sample?

[2017-02-16 19:52] schultzn commented on #2147
If you go to the patient view, you can see gene panel data for each of the two samples.

[2017-02-16 20:25] adamabeshouse commented on #2147
I think there's something wrong with the API @zheins @sheridancbio, the response from the server isn't giving any data back for  P-0006311-T01-IM5, which on the frontend we interpret as meaning it's WXS

[2017-02-16 22:34] sheridancbio commented on #1801
The largest primary MSKCC database has been transitioned fully to InnoDB with utf8 encoded text fields and all foreign key constraints (and unique and other indexes) in place.

The schema of the production database is nearly identical to cgds.sql. The only semantic differences are:
- in order to create the foreign key relationship on the TYPE_OF_CANCER_ID field, the width of the field in different

[2017-02-17 13:44] #2098 closed

[2017-02-21 23:13] schultzn commented on #2029
no... for MSK-IMPACT samples, we typically have both CNA and mutation data for the same gene and sample. There are, however, some TCGA samples for which we have only one or the other - here, it will be important to show what data types are missing.

[2017-02-22 15:29] jjgao commented on #2029
@schultzn @adamabeshouse: Maybe we can discuss in person and try to find out all the scenarios we need to handle?

[2017-02-22 20:30] pieterlukasse commented on #2111
2nd point solved in https://github.com/thehyve/cbioportal/commit/a6c4c0872d69b3b37a3f2f18793985e55905542a
by keeping track of the profile that was last clustered, and letting the checkbox reflect this state.

[2017-02-23 09:54] pieterlukasse commented on #2029
@adamabeshouse @jjgao please also consider enforcing the presence of `${study stable id}_case_sequenced` by adding a rule in the validation script, or at least giving a warning if this is missing.

[2017-02-23 10:00] pieterlukasse commented on #495
overlaps with #2029

[2017-02-23 10:00] #495 closed

[2017-02-24 15:10] fedde-s opened #2156 "Oncoprint track-dragging shadows get stuck while scrolled down"
When I open an Oncoprint view with multiple types of Oncoprint tracks, e.g. the clinical, alteration and heatmap tracks in [this view](http://www.cbioportal.org/index.do?cancer_study_list=ucs_tcga&cancer_study_id=ucs_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=ucs_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=ucs_tcga_gistic&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0

[2017-02-26 22:12] #2142 closed

[2017-02-26 22:45] #2033 closed

[2017-02-26 22:54] #1994 closed

[2017-02-26 22:55] #2002 closed

[2017-02-26 22:55] #2083 closed

[2017-02-26 22:57] #1927 closed

[2017-02-26 23:01] #1003 closed

[2017-02-26 23:01] #1031 closed

[2017-02-27 23:16] serval2412 commented on #2059
There's no duplicate inside your file since you don't reproduce the problem when there are no other studies in the database.
There's a duplicate between a record of your file and a record already present in your DB.

To find it, you can do this:
1) export your data (or just MUTATION_EVENT_ID + CHR) in Calc/Excel file from your DB containing all the other studies
2) check the CHR values from your d

[2017-03-01 15:43] pieterlukasse commented on #1832
part of #2158 and #2164

[2017-03-01 15:50] pieterlukasse commented on #1834
implemented in #2155,  #2158, #2166, #2164

[2017-03-01 16:36] pieterlukasse opened #2167 "Oncoprint starts with white spaces between heatmap cells when loaded from URL"
When going to oncoprint from URL then oncoprint starts with white spaces between cells of the heatmap. See for example:

http://www.cbioportal.org/index.do?cancer_study_list=brca_tcga&cancer_study_id=brca_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=brca_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=brca_tcga_gistic&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_prio

[2017-03-01 22:57] schultzn opened #2170 "Patient view gene alteration frequencies tooltip text should say "patient""
The patient view gene alteration frequencies tooltip text should say "patient" instead of "sample" ...

1 sample (14.3%) in this study has mutated CTNNB1, out of which 1 (14.3%) has CTNNB1 K335 missense mutations.

[2017-03-02 22:14] serval2412 commented on #2122
In file core/src/main/resources/db/cgds.sql, I can read this:
    311 CREATE TABLE `mutation_event` (
    312   `MUTATION_EVENT_ID` int(255) NOT NULL auto_increment,
    313   `ENTREZ_GENE_ID` int(11) NOT NULL,
...
    339   `KEYWORD` varchar(50) DEFAULT NULL COMMENT 'e.g. truncating, V200 Missense, E338del, ',

I may be wrong but I'd say intentional

[2017-03-06 11:30] pieterlukasse opened #2173 "Small issues in previous migration script"
The genetic entity `migration.sql` script has 2 minor issues which should be solved.
1- genetic_entity_id field is added to the `gene` table in a different order than found in `cgds.sql`. This can lead to problems when dumping a migrated DB and trying to load it again in another fresh DB schema based just on `cgds.sql`
2- The foreign key added to the `gene` table is named `fk_gene_1` while in `cgd

[2017-03-06 15:50] jjgao opened #2174 "[Windows-specific?] plot alignment issue in Enrichments tab"
It was reported with the following issue on Firefox and Chrome on Windows 7.

![image](https://cloud.githubusercontent.com/assets/840895/23617230/67dfa226-025a-11e7-93cd-8d15c1db1cc5.png)

[2017-03-06 15:52] jjgao opened #2175 "[Windows specific?] CN Segments tab"
Firefox on Windows 7.

![image](https://cloud.githubusercontent.com/assets/840895/23617324/c1e6cc18-025a-11e7-8dcf-3b109aa47987.png)

[2017-03-06 18:23] schultzn opened #2176 "Custom x-axis for survival plots"
It would be nice if the survival curves could have a custom x-axis, e.g. show only the first 5 years of follow-up. This would only change the visualization, not the statistics.

[2017-03-06 22:11] priti88 opened #2177 "Add cache buster to cbioportal-datamanager.js"

[2017-03-07 16:27] n1zea144 opened #2179 "show cancer type / cancer type detailed first for MSK Impact-Heme"
We are close to importing IMPACT-Heme into the cBioPortal.  One thing we would like to do is show cancer type and cancer type detailed first on the study page - like we do for MSK-IMPACT:

[IMPACT-Heme triage portal](http://dashi-dev.cbio.mskcc.org:28080/triage/study?id=mskimpact_heme#summary)

Can we get this into the RC branch over the next few days?

[2017-03-07 17:10] jjgao commented on #2179
@zhx828 Let's always put cancer type and cancer type detailed first unless there is only one cancer type.

[2017-03-07 19:52] mandawilson opened #2184 "Error handling when no studies"
The error handling for when there are no studies in the database and for when the user does not have permission to access any study should be changed.

In AccessControlImpl.java a `new ProtocolException("No cancer studies accessible; "+ "either provide credentials to access private studies, " + "or ask administrator to load public ones.\n")` is thrown only when there are no studies in the database

[2017-03-08 14:07] jjgao commented on #2170
@schultzn but we don't have the statistics (%) on patients in our API yet.

[2017-03-08 14:08] jjgao commented on #2176
@yichaoS @zhx828: we need a way to zoom in to the left part (first 5 years) by default.

[2017-03-08 14:09] jjgao commented on #2177
@adamabeshouse could you do that?

[2017-03-08 14:42] fedde-s commented on #1833
This is ready to be review in pull request #2186.

[2017-03-09 00:24] sheridancbio commented on #2173
On issue 1, my concept would be to use cgds.sql always as the definition of the schema. If the migration script does not properly construct a matching schema when being applied to an earlier database schema then that should be considered a bug in migration.sql and can be directly fixed without creating a new db_schema_version. I noticed this difference too, and I had intended to add the "AFTER `HU

[2017-03-09 00:54] sheridancbio commented on #2173
Regarding the naming of foreign keys there is documentation here: https://dev.mysql.com/doc/refman/5.7/en/create-table-foreign-keys.html that makes it sound like the naming of foreign keys can be complicated, and that sometimes a name you specify may be ignored and auto generated under some conditions. Maybe in a previous msyql version it was always auto generated (I believed this at some point).

[2017-03-09 09:02] pieterlukasse commented on #2173
@sheridancbio thanks for the comments. If I understand you correctly, nr 1 is already solved in another PR (could you add the link?) and we can do nr 2 directly in migration.sql as indicated in my first comment, right?

[2017-03-09 20:30] jjgao opened #2194 "new styling issues"
- [ ] `Data Sets` is selected in the home page. (maybe add a `Home` button)
 ![image](https://cloud.githubusercontent.com/assets/840895/23769399/4215079a-04dd-11e7-9f41-468cb6163ed6.png)
- [ ] The top buttons move to the left on: https://cbioportal-release-1-5-0.herokuapp.com/study?id=acc_tcga#summary.
- [ ] Remove MSKCC logo on top right.

[2017-03-09 22:01] #2177 closed

[2017-03-10 16:03] jjgao opened #2199 "change "Nucleotide change of point mutation" to "Mutation spectrum""
please fix it in the `release-1.5.0` branch

[2017-03-10 17:20] jjgao commented on #2194
please fix them in the `release-1.5.0` branch

[2017-03-10 18:41] inodb opened #2201 "FAQ/News/About pages not working"
In 1.5.0 the FAQ/News pages are not working. You can see the HTML source code instead of the parsed HTML:

https://cbioportal-pr-2200.herokuapp.com/faq.jsp

[2017-03-10 18:42] adamabeshouse commented on #2199
https://github.com/cBioPortal/cbioportal/pull/2202

[2017-03-10 18:42] #2199 closed

[2017-03-10 20:32] jjgao opened #2203 "session service not working in rc branch"
![image](https://cloud.githubusercontent.com/assets/840895/23812036/c0cd3aa2-05a6-11e7-8606-b7989535dcfb.png)

From @kalletlak:

"changed textValue to toString at line
https://github.com/cBioPortal/cbioportal/blob/10c6971d0c2607c4660a44ac3fd0e85df01bc32a/core/src/main/java/org/mskcc/cbio/portal/util/SessionServiceUtil.java#L95"

[2017-03-10 21:20] zhx828 opened #2204 "Difference resources in annotation column should stay asynchronous"
For a big query, especially under cross cancer page, different resources(CIViC, OncoKB) response time are different. We shouldn't wait for all resources respond.

In this case, http://www.cbioportal.org/beta/index.do?tab_index=tab_visualize&cancer_study_list=coadread_tcga_pub&cancer_study_id=coadread_tcga_pub&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=coadread_tcga_pub_mutations&genetic_profile

[2017-03-10 21:21] zhx828 opened #2205 "CIViC icon is not aligned with others under crosscancer page annotation column"
I generated the screenshot by selecting all studies and querying for BRAF
![screen shot 2017-03-10 at 4 12 31 pm](https://cloud.githubusercontent.com/assets/5400599/23813586/86a85cc4-05ad-11e7-80d3-2db9f78dc6ab.png)

[2017-03-12 12:39] sheridancbio commented on #2173
@pieterlukasse I did not yet create a PR for these issues, but I can. I will make a PR into hotfix with nr 1 and nr 2 above. (changing to ON DELETE CASCADE for the gene table)

[2017-03-13 09:07] pieterlukasse commented on #2173
Thanks @sheridancbio. I reviewed the pr. Closing the ticket here. :thumbsup:

[2017-03-13 09:07] #2173 closed

[2017-03-13 09:19] fedde-s opened #2211 "Newly added heatmap tracks disappear when disabling clustering"
When I sort an Oncoprint view that includes a heat map (e.g. [this one](http://www.cbioportal.org/beta/index.do?cancer_study_list=brca_tcga&cancer_study_id=brca_tcga&genetic_profile_ids_PROFILE_MRNA_EXPRESSION=brca_tcga_rna_seq_v2_mrna_median_Zscores&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=brca_tcga_rna_seq_v2_mrna&case_ids=&patient_case_select=sample&gene_set_ch

[2017-03-13 09:19] fedde-s commented on #2211
@pieterlukasse, is this intentional?

[2017-03-13 09:25] fedde-s commented on #2211
This is related to the more noticeable remaining issue in pull request #2190 of the effort to support sample-wise gene set scores.

[2017-03-13 14:01] oplantalech commented on #2194
Menu bar is shifted to the right (under the cBioPortal logo) in the study view:
![captura de pantalla 2017-03-13 a les 14 59 30](https://cloud.githubusercontent.com/assets/20278013/23857514/deef7e60-07fd-11e7-8c18-40b996d951e7.png)

[2017-03-13 14:15] oplantalech opened #2212 "Loading image does not disappear in patient view"
There is a loading image at the bottom of the page which do not disappear: http://www.cbioportal.org/case.do?cancer_study_id=coadread_tcga_pub&case_id=TCGA-AA-3558

[2017-03-14 16:16] alexsigaras commented on #800
This issue has been resolved in release-1.5.0

[2017-03-14 16:16] #800 closed

[2017-03-14 16:17] alexsigaras commented on #3
This issue has been resolved in release-1.5.0

[2017-03-14 16:17] #3 closed

[2017-03-15 13:45] pieterlukasse commented on #2211
fixed in #2215

[2017-03-15 16:52] schultzn opened #2216 "IGV copy-number view shows amplified regions as deleted"
The value of this segment is 0.7, but IGV.js shows it as deleted (blue), which it should to for negative values.

https://cbioportal.mskcc.org/index.do?session_id=58c9701b498e5df2e29110db&show_samples=false&

![image](https://cloud.githubusercontent.com/assets/11892704/23960344/1bfec00a-097e-11e7-90bd-43e8fde9d4b8.png)

[2017-03-15 19:18] jjgao opened #2217 "Update gene symbols and aliases in the database"
We haven't updated our database for a while. For example, it looks like the portal is using the old name of “C11orf59” for LMTOR gene.

[2017-03-15 20:51] #2156 closed

[2017-03-15 21:57] jjgao opened #2219 "make session.service.origin optional"
When session.service.origin is not set (missing or empty) in the property file, disable the origin filtering for session service.

This is in order to make session service work on heroku instances for pull requests.

[2017-03-17 03:48] #470 closed

[2017-03-17 22:11] fedde-s commented on #1938
The implementation for this is waiting for review in pull request #2190.

[2017-03-20 09:10] #1943 closed

[2017-03-20 09:12] pieterlukasse commented on #1934
solved now by #2068

[2017-03-20 09:12] #1934 closed

[2017-03-20 09:13] #1935 closed

[2017-03-20 09:14] #1938 closed

[2017-03-20 09:18] pieterlukasse commented on #1858
should be fixed by #1975

[2017-03-20 09:18] #1858 closed

[2017-03-20 09:19] pieterlukasse commented on #2089
is working now in #2068

[2017-03-20 09:19] #2089 closed

[2017-03-20 09:22] pieterlukasse commented on #1759
Maybe we should contact Firehose team? Did you check the input or output data of Firehose?

[2017-03-20 09:31] #1834 closed

[2017-03-20 09:34] #1833 closed

[2017-03-20 09:34] #1832 closed

[2017-03-20 09:35] pieterlukasse commented on #1831
querying only gene sets is also done

[2017-03-20 09:35] #1831 closed

[2017-03-20 09:36] pieterlukasse commented on #1577
seems to be solved

[2017-03-20 09:36] #1577 closed

[2017-03-20 09:37] pieterlukasse commented on #2107
maybe not very interesting for most local installations holding private data anyway...

[2017-03-20 11:08] oplantalech commented on #1639
@pieterlukasse I tried to reproduce the error in an instance with the current master version, and I found no errors!

[2017-03-20 16:41] #2179 closed

[2017-03-20 16:41] #2042 closed

[2017-03-20 20:28] jjgao opened #2224 "add option to disable civic"
Similar to `show.oncokb=`, please add `show.civic=false` in the properties file.

This will be critical for release 1.5.0 since our internal instances (MSK, DFCI) will not be able to use CIViC since we cannot send private patient data over to CIViC.

[2017-03-20 21:02] #2224 closed

[2017-03-21 06:49] sunyounglee opened #2225 "compile the cbioportal source code with maven"
Hi, I'm trying to compile the cbioportal source code on my server (Amazon Ec2).
I'm using tomcat8. I removed some lines following the document (Note for those running Tomcat6).

When I compile the source code with maven "mvn -DskipTests clean install" , It seems to me
that something is wrong.. It is still proceeding (~2days).
Am I doing something wrong? Could you let me know how I can get the 'cbi

[2017-03-21 09:18] stefanches7 commented on #1925
@pieterlukasse what is the original functionality of this button? flushing filters?

[2017-03-21 11:49] Sjoerd-van-Hagen opened #2226 "UTF-8 characters not diplayed correctly."
The page encoding is set to windows-1251 while the returned bytes seem to be UTF-8. This way characters like µ are not displayed correctly.

How to resolve this is described [here](https://wiki.apache.org/tomcat/FAQ/CharacterEncoding#Q8)

Note that many of these steps are not changing files in the repository and have to be made to each server. The reason these settings are not the sensible default

[2017-03-21 14:36] zhx828 commented on #1925
@stefanches7 Yes, it is. Totally forgot about the issue. I will fix it ASAP.

[2017-03-21 16:09] stefanches7 commented on #1925
@zhx828 you could actually leave this one to me , seems like a nice way to start contributing and dig code a little bit.

So to the issue, even if some channels are checked, isn't reset still idle with no filters entered?

From what I saw, I would suggest "reset" clickable to appear only after some filter is entered and disappear after it has been clicked.

[2017-03-21 16:35] zhx828 commented on #1925
@stefanches7 the source code actually located in here, we use it as dependency in portal. https://github.com/cBioPortal/enhanced-fixed-datatable/tree/study-view-clinical

[2017-03-21 16:45] stefanches7 commented on #1925
@zhx828 thanks for a tip!

[2017-03-22 09:51] stefanches7 commented on #1925
[https://github.com/cBioPortal/enhanced-fixed-datatable/pull/50](url)

[2017-03-22 15:24] awernibi opened #2232 "Sequenced sample numbers are wrong"
In "DATA SETS" the mutation frequencies are based on a wrong number of samples, which leads to mutation frequencies of more than 100%.

![image](https://cloud.githubusercontent.com/assets/13519768/24204813/de40a836-0f19-11e7-9de7-701cda8aae7d.png)

In the expression overview there is something fundamentially wrong. It seems like almost all sequenced samples in the TCGA Colorectal study have a KRAS

[2017-03-22 18:53] schultzn opened #2233 "Beta: study view in Chrome is not wide enough - does not fit three large panels width wise"
![image](https://cloud.githubusercontent.com/assets/11892704/24215459/34121084-0f0f-11e7-8f7d-199015df8e9a.png)

Also ... logo is too close to the edge at the top

[2017-03-22 18:58] schultzn opened #2234 "OncoPrint OncoKB annotations: missing truncating mutations"
Truncating mutations are not annotated as oncogenic with OncoKB icon in the Oncoprints.. but they are properly annotated in the mutation details tab...

![image](https://cloud.githubusercontent.com/assets/11892704/24215680/e0f24cba-0f0f-11e7-926a-1c0f25f02055.png)

![image](https://cloud.githubusercontent.com/assets/11892704/24215706/f2d70a24-0f0f-11e7-88c1-9b2ca2a6ab06.png)

[2017-03-22 19:02] schultzn opened #2235 "Beta: News page is too wide"
![image](https://cloud.githubusercontent.com/assets/11892704/24215869/8ea70102-0f10-11e7-835d-d7a3135c6702.png)

[2017-03-22 21:34] schultzn opened #2236 "Incorrect annotation of splice site mutation"
This EGFR splice region mutation should be annotated as L210_splice, instead of L210L

http://www.cbioportal.org/case.do?cancer_study_id=nsclc_tcga_broad_2016&case_id=TCGA-50-5066

[2017-03-22 21:54] jjgao commented on #2234
This is related to the other topic to filter/render mutations of all types based on oncokb annotation.

@adamabeshouse I'll discuss with you.

[2017-03-23 09:05] pieterlukasse opened #2237 "Code clean-up: remove *oncotator*.java"
All oncotator related classes can probably be removed (or `cgds.sql` needs to be updated) since it looks like they depend on the table `oncotator_cache` which does not exist in `cgds.sql`

Example in `DaoOncotatorCache.java`:
[code]

[2017-03-23 09:05] pieterlukasse commented on #2237
@sheridancbio agree?

[2017-03-23 14:31] jjgao opened #2239 "Heatmap clustering: NA data should be at the end of heatmap when clustering"
Currently NA may be in the middle.

[2017-03-23 16:50] fedde-s opened #2241 "Regressed accessibility issues in study view"
In work related to issue #1351, we addressed compliance of the study view to guidelines regarding accessibility for (mostly visually impaired) users of assistive technologies. In the developments that have happened since then, a few of them have re-appeared. I found these issues using the automated scanner [WAVE](http://wave.webaim.org/extension/) on an instance running release 1.5.0-SNAPSHOT as o

[2017-03-23 16:55] fedde-s commented on #2241
For styling: the Bootstrap way to style checkbox labels is by having both the checkbox and its label inside an element of class `.checkbox`, as demonstrated [here](https://getbootstrap.com/css/#forms).

[2017-03-23 18:26] fedde-s commented on #2225
The output suggests that for some reason, instead of cBioPortal, Maven is trying to build Maven itself. For completeness: did you run the command from a working directory that contains the cBioPortal source code? There should be a file named `pom.xml` and folders named `src, `core`, `web`, `business` and `portal`, among other things.

[2017-03-24 00:05] zhx828 opened #2245 "After disabling CIViC, the annotation column still shows two loading gif"
![screen shot 2017-03-23 at 8 04 42 pm](https://cloud.githubusercontent.com/assets/5400599/24275177/f77268cc-1003-11e7-9ecd-f0a29678e0db.png)

[2017-03-24 00:47] sheridancbio commented on #2237
I'm not familiar with the oncotator codebase. There is probably a great deal we can purge from the core Dao package (and others), and this is an obvious example.

I think @onursumer may be familiar with the replacement of oncotator. I'll ask around, but I think you are right; oncotator may not be used at all any more now that we are using genome nexus.

[2017-03-24 14:55] sheridancbio commented on #2237
Onur confirms that we can purge oncotator code.

[2017-03-24 15:08] oplantalech opened #2247 "Empty survival plots in some TCGA studies"
Due to a change of the data model (PR #1746), now all the clinical variables defined per study are defined in the clinical_attribute_meta, even the ones with contain no data. Therefore, since some TCGA studies contain variables in their clinical patient data files with only '[Not Available]' values, in the study view some empty plots appear:
![captura de pantalla 2017-03-24 a les 15 23 48](https:/

[2017-03-24 15:11] zhx828 commented on #2247
Thanks for pointing out this issue. Just want to let you know that I will add `No data available` for survival plots. It will be also used for the new rainbow survival feature.

[2017-03-24 15:30] sheridancbio commented on #1801
The production databases are all now transitioned to the latest schema, with the addition of these changes: #2242

The issue of the long field TUMOR_SEQ_ALLELE causing a problem with utf8 character set will be addressed in the future with a refactoring to allow proper handling of very long inserts/deletes (up to thousands of nucleotides). So for now, that part of the schema is unchanged in cgds.sq

[2017-03-27 04:18] sunyounglee opened #2250 "error: importing the sample study"
Hello, all..

I'm trying to import sample study.. However, after I excuted the command:
./metaImport.py -s ../../../test/scripts/test_data/study_es_0/ -n -o
I got the error message below:

#######################################################################
Overriding Warnings. Importing study now
#######################################################################

Data loading step using:

[2017-03-27 04:21] sunyounglee commented on #2225
Thank you. The problem is solved !

[2017-03-27 04:21] #2225 closed

[2017-03-27 14:25] fedde-s commented on #2245
I understand that this occurs in the mutation tab for both cross-cancer and single-study queries?

[2017-03-27 14:34] oplantalech opened #2251 "Beta: broken query in the study view of the Metabric Breast Cancer"
In the [study view of the Metabric Breast Cancer](http://www.cbioportal.org/beta/study?id=brca_metabric#summary), when performing a query with the genes AKT1, PIK3CA, PTEN with the samples that have Integrative Cluster = 8, this error appears:
![captura de pantalla 2017-03-27 a les 16 24 05](https://cloud.githubusercontent.com/assets/20278013/24361475/514ab1fc-130a-11e7-8869-232891b34b2d.png)

Thi

[2017-03-27 14:36] Sjoerd-van-Hagen commented on #2251
@jjgao this one seems quite serious but I am not sure how often it occurs, can you involve the right person?

[2017-03-27 14:46] awernibi commented on #2232
The mutation frequency issue on top seems to overlap with #597

[2017-03-27 14:48] zhx828 commented on #2232
@awernibi thanks for pointing that out. I will take a look.

[2017-03-27 14:52] zhx828 commented on #2251
@adamabeshouse this is the form screenshot study view submits to query page. Could you take a quick look if there is anything wrong in the form? Thanks.

<img width="874" alt="screen shot 2017-03-27 at 10 51 14 am" src="https://cloud.githubusercontent.com/assets/5400599/24362625/532daad0-12db-11e7-904a-de9238aeff6a.png">

[2017-03-27 14:58] zhx828 commented on #2245
@fedde-s yes. It effects both pages. I didn't see the integration in the patient view though.

[2017-03-27 15:15] zhx828 commented on #2232
@jjgao @zheins Could you take a look this study?
1. It only contains 223 sequenced samples in the `coadread_tcga_sequenced ` list but APC(for example) has been mutated 870 times within 403 samples which causes the Freq more than 100%.

2. The sample `TCGA-AA-3980-01` is in _sequenced list but not in _all list.

[2017-03-27 15:33] fedde-s commented on #2245
Indeed, looking at the code, it seems like the patient view only inserts the loading spinners if CIViC is enabled, but this conditional is missing in the two versions of the mutation tab. I proposed to add the conditional in pull request #2252.

[2017-03-27 15:40] zhx828 commented on #2245
@fedde-s left a comment there.

[2017-03-28 08:33] oplantalech commented on #2251
It seems that the bug is not specific to the Metabric Breast Cancer study. The same error happens in this cases:
- [Bladder Urothelial Carcinoma (TCGA, provisional)](http://www.cbioportal.org/beta/study?id=blca_tcga#summary) querying for KRAS for the samples with NO Adjuvant Postoperative Pharmaceutical Therapy Administered Indicator;
- http://www.cbioportal.org/beta/study?id=laml_tcga_pub#summary

[2017-03-28 18:59] adamabeshouse commented on #2251
@zhx828 everything looks right to me

[2017-03-28 21:09] adamabeshouse commented on #2234
https://github.com/cBioPortal/cbioportal/pull/2254

[2017-03-28 21:11] adamabeshouse commented on #1984
https://github.com/cBioPortal/cbioportal/pull/2254

[2017-03-28 23:46] adamabeshouse commented on #1904
https://github.com/cBioPortal/cbioportal/pull/2256

[2017-03-29 04:10] jjgao commented on #2132
@onursumer please make sure this is fixed in the new patient view.

[2017-03-29 04:13] #2245 closed

[2017-03-29 14:24] kalletlak commented on #2251
I think this issue not cancer study specific. Getting this error whenever I try to query filtered samples/patients in the particular study

[2017-03-29 16:54] onursumer commented on #2132
@jjgao seems like it is because of the first sample: https://github.com/cBioPortal/cbioportal/blob/94273890828889b775ef0b7d698ab617c72edf0a/core/src/main/java/org/mskcc/cbio/portal/servlet/PatientView.java#L309

For the new patient view page we always show the allele frequency column. There is no conditional hiding for that column.

[2017-03-29 19:22] jjgao commented on #1964
@zheins what's status of this?

@n1zea144 could you prioritize it? The data in the public portal is wrong and it should be an easy fix.

[2017-03-29 19:23] jjgao commented on #1973
@alisman can we do a quick fix for this?

[2017-03-29 19:24] jjgao commented on #1976
This will be fixed in the new patient view

[2017-03-29 19:28] jjgao commented on #1985
@schultzn so it's both a indel and a splice_region. Do you mean we should pick indel over splice_region?

[2017-03-29 19:30] jjgao commented on #1995
@yichaoS Could you look into this?

[2017-03-29 19:33] jjgao commented on #2019
@zheins @schultzn any update on this?

[2017-03-29 19:34] #2086 closed

[2017-03-29 19:35] jjgao commented on #1784
@inodb do you know why? Is it solved in the new code?

[2017-03-29 19:40] jjgao commented on #1820
@inodb please check if this is fixed in the new patient view.

[2017-03-29 19:47] jjgao commented on #1724
@inodb update?

[2017-03-29 19:48] jjgao commented on #1749
@zheins @pieterlukasse can we close this one?

[2017-03-29 19:50] jjgao commented on #1765
@zhx828 is it possible to zoom in?

[2017-03-29 19:50] jjgao commented on #1780
@zhx828 update?

[2017-03-29 19:58] jjgao commented on #1086
@zhx828 @yichaoS could you add a link to the gene list. I remember @yichaoS has implemented a page of all cancer genes.

[2017-03-29 19:59] jjgao commented on #1217
will be removed in Andy's new interface.

[2017-03-29 20:00] jjgao commented on #1586
will be fixed in the new patient view.

[2017-03-29 20:03] jjgao commented on #1957
@yichaoS could you clarify?

[2017-03-29 20:03] #1981 closed

[2017-03-29 20:03] #1983 closed

[2017-03-29 20:04] #1997 closed

[2017-03-29 20:04] jjgao commented on #2054
@sheridancbio can we do this soon? Happy to discuss in person.

[2017-03-29 20:05] jjgao commented on #2124
looks like it's fixed.

[2017-03-29 20:05] #2124 closed

[2017-03-29 20:06] #2194 closed

[2017-03-29 20:14] jjgao commented on #2201
looks like it's solved.

[2017-03-29 20:14] #2201 closed

[2017-03-29 20:14] #2203 closed

[2017-03-29 20:24] zhx828 commented on #1765
@jjgao in the current implementation, no. But we could include an additional chart, similar what James did for the line chart.

[2017-03-29 20:44] ersinciftci commented on #1454
I think this is not happening anymore.

[2017-03-29 20:44] #1454 closed

[2017-03-29 21:37] jjgao opened #2263 "error message if no write permission to text_cache table"
There should be some error message in ether catalina.out or the log file if write permission is not set for text_cache table.

[2017-03-29 21:38] jjgao commented on #2251
it is fixed. It was database privilege issue: https://github.com/cBioPortal/cbioportal/issues/2263.

[2017-03-29 21:38] #2251 closed

[2017-03-29 22:02] sheridancbio commented on #1801
I believe that this issue has been substantially resolved. The actual bug should have been corrected  by #2126 and we have altered the cgds.sql and migration.sql to be non-specific about character sets and storage engine. The final piece to resolving this issue is to update the installation documentation to explain the choices for installers [foreign key / engine / character set] and to provide re

[2017-03-30 06:02] inodb commented on #1820
@jjgao yes we fixed this way back in the new frontend, will double check it's still working

[2017-03-30 06:09] inodb commented on #1784
@jjgao Not sure yet, ill check it out

[2017-03-30 13:02] oplantalech opened #2266 "Study view hangs when a sample ID contains &"
I loaded a study with a sample_id which contained the character `&`, and this caused errors when initializing the study view, specifically in two calls (`mutation.json` and `cna.json`). The problem seems to be when retrieving the IDs of the queried samples with `request.getParameter` (line 399 of `MutationsJSON.java` in the case of the mutations call), as it returns `&amp;` instead of `&`. The doc

[2017-03-30 15:08] sandertan commented on #2250
Hi @sunyounglee , it looks like you're using cBioPortal 1.4.x with a seed database of cBioPortal 1.3.x. Unfortunately the seed database on Datahub that your probably downloaded is not up to date. It will be updated soon though!

In the meanwhile, you can manually update your database with `PORTAL_HOME/core/src/main/scripts/migrate_db.py`, described [here](https://github.com/cBioPortal/cbioportal/b

[2017-03-30 18:06] ckandoth commented on #1985
It's an in-frame insertion ([3:g178928219G>GATA](http://grch37.rest.ensembl.org/vep/human/hgvs/3:g178928219G%3EGATA?content-type=application/json&hgvs=1)) within a splice region, and vcf2maf is currently set to report it as `Splice_Region` under `Variant_Classification`, that cBioPortal parses. @schultzn would prefer it to be reported as `In_Frame_Ins` instead. I agree with this change, and just n

[2017-03-30 19:54] sheridancbio commented on #2054
many tables were cleaned up during the transition to the 2.1.0 database schema.
For dropping pdb_uniprot_alignment I wonder if other centers have access to our externalized pdb services/database created by onur? Also, we hope to soon shift to using g2s instead, so maybe this should wait until then if other installers do not have the separate web service running for this info.
I'm not familiar with

[2017-03-30 20:03] jjgao commented on #2054
pdb_uniprot_alignment and pdb_uniprot_residue_mapping are no longer used in the new code. We always point to the pdb services Onur created. Other centers also have access to our service. Anyone using the new code should be using that already.

protien_array_* tables can be just removed. That reminded me that the RPPA code should be clean up, eg. the RPPA related APIs in the doc should be removed -

[2017-03-30 20:06] jjgao commented on #1801
@sheridancbio could you create another issue for the final piece -- updating the installation documentation and then close this issue?

[2017-03-30 20:48] #1780 closed

[2017-03-31 09:04] sunyounglee commented on #2250
Thank you. It worked !

[2017-03-31 09:04] #2250 closed

[2017-03-31 10:19] fedde-s opened #2267 "Normal TCGA samples inconsistently skipped by data import classes"
When loading a study sample IDs based on TCGA barcodes for non-tumor samples, the sample attribute loader does not create an entry for them in the database. However, other data types (including at least `.seg` files and case lists) do expect these samples to have been defined, and behave inconsistently: some attempt to infer the necessary attributes to initialise the sample after all, and some lis

[2017-03-31 18:10] jjgao opened #2269 "new patient view issues"
- [ ] the row heights of tables can be reduced a little. #2275
- [ ] the page is too wide for 13'' screen. In the current PV, the page the resizable based on the window size. Is there an easy to support that? #2276
- [ ] 'sort by cosmic' not working properly: http://www.cbioportal.org/beta/case.do#/patient?caseId=TCGA-3B-A9HP. #2277
- [ ] the first click on 'cohort' (mutations and cna tables) or '

[2017-03-31 18:59] JiaoJiao123 commented on #2269
- [ ] when I mouse over patient id, the Attribute and Value table displayed is not aligned.
![screen shot 2017-03-31 at 2 56 58 pm](https://cloud.githubusercontent.com/assets/13951023/24565288/a66f69a0-1622-11e7-9bd8-a7975ef21208.png)

[2017-04-01 15:46] schultzn opened #2271 "Beta: New patient view only works for patient IDs, not sample IDs"
This one works:
http://www.cbioportal.org/beta/case.do#/patient?caseId=TCGA-A8-A08Z&studyId=brca_tcga_pub2015

But this one, which is linked to from within the portal, does not:
http://www.cbioportal.org/beta/case.do#/patient?caseId=TCGA-A8-A08Z-01&studyId=brca_tcga_pub2015

[2017-04-01 15:49] schultzn opened #2272 "Beta: New patient view is not showing allele counts when hovering over mutant allele frequency"
http://www.cbioportal.org/beta/case.do#/patient?caseId=TCGA-A8-A08Z&studyId=brca_tcga_pub2015

Allele counts should show up like in this example from the old patient view:
![image](https://cloud.githubusercontent.com/assets/11892704/24580159/382dda3a-16d1-11e7-80d9-e0edc53a2e9f.png)

[2017-04-03 10:34] pieterlukasse opened #2273 "Beta: new patient view clinical data falls off screen"
When the clinical data tool tip is too long, the bottom attributes are not visible. See screenshot.

![image](https://cloud.githubusercontent.com/assets/2900303/24605529/78fa1896-1869-11e7-889f-976f04622e4c.png)

One solution to alleviate this a little bit could be to make the tooltip UI wider. This will allow for more attributes in the same vertical space. A scroll bar in the tooltip would look a

[2017-04-03 11:04] ecerami commented on #2273
Assigning to @alisman who can choose to fix or delegate.

[2017-04-03 11:05] ecerami commented on #2272
Good point.  Need to fix for release.

[2017-04-03 13:32] sandertan opened #2274 "Incorrect sorting of clinical attribute (string) containing empty values"
When sorting a column which contains empty values, the column is not sorted correctly. For example the `Diffuse Architecture` column. The problem only occurs for columns that contain strings. For integer attributes it seems that empty values are grouped and filled values are also correctly ordered.

http://www.cbioportal.org/study?id=acc_tcga#

![screen shot 2017-04-03 at 15 26 02](https://cloud.g

[2017-04-03 13:36] jjgao commented on #2269
@ecerami Agreed. Maybe we can create separate trello cards?

[2017-04-03 13:45] jjgao opened #2275 "the row heights of tables can be reduced a little"

[2017-04-03 13:46] jjgao opened #2276 "the page is too wide for 13'' screen"
In the current PV, the page the resizable based on the window size. Is there an easy to support that?

[2017-04-03 13:46] jjgao opened #2277 "'sort by cosmic' not working properly"
http://www.cbioportal.org/beta/case.do#/patient?caseId=TCGA-3B-A9HP

[2017-04-03 13:47] jjgao opened #2278 "the first click on 'cohort' (mutations and cna tables) or 'cosmic' should order descendingly"

[2017-04-03 13:47] jjgao opened #2279 "by default order by 'annotation for cna table'"

[2017-04-03 13:48] jjgao opened #2280 "properly match hotspots"
match single hotspots to missense mutations only; and indel hotspots to inframe indels.

[2017-04-03 13:50] jjgao opened #2281 "Style the pagenation control so that it can stand out"
since we are paginating, we should make it super obvious that there are more data.

[2017-04-03 13:50] jjgao opened #2282 "support scroll instead of pagenation in table"
(this is probably for future) for the tables is it possible to use scroll instead of pagenation but still do lazy loading, ie. load when user scroll down. I saw many sites doing that nowadays.

[2017-04-03 13:51] jjgao opened #2283 "tooltip too narrow"
when I mouse over patient id, the Attribute and Value table displayed is not aligned.

![screen shot 2017-03-31 at 2 56 58 pm](https://cloud.githubusercontent.com/assets/13951023/24565288/a66f69a0-1622-11e7-9bd8-a7975ef21208.png)

[2017-04-03 13:52] jjgao commented on #2269
@ecerami separate issues created.

[2017-04-03 14:40] khzhu commented on #2273
Do we really need clinical tool tips there, since a viewer can click on "Clinical Data" table to find details? Also, it would be nice to have a "Patient" tab and a "Sample" tab instead of one "Clinical Data", a patient potentially could have more than one samples, then we will get a very long "Clinical Data" page too.

[2017-04-03 15:16] alisman commented on #2271
@jjgao We support legacy parameter sample_id, but I'm not sure how we can distinguish between patient ID and sample ID if the param name is the same (case ID).  If it's true that suffix -Integer is reliable patter, then we could handle that.

[2017-04-03 18:30] ersinciftci commented on #2282
https://www.nngroup.com/articles/infinite-scrolling/ I agree with this article, i.e. I don't think cBioPortal is a kind of a site that would benefit from infinite scrolling.

[2017-04-03 19:47] #1082 closed

[2017-04-03 20:41] makkBit commented on #804
What text does the qtip needs to display on the 'cancer types summary' tab.
FYI - I am working on this issue as a starter to contributing to this organization.

[2017-04-03 23:11] schultzn opened #2287 "New style issue: Study view has a lot of white space below the header"
With the new style (which I love) the study view has some extra white space below the header that could be removed.

http://www.cbioportal.org/study?id=coadread_tcga_pub#summary

![image](https://cloud.githubusercontent.com/assets/11892704/24635415/4423951a-18a1-11e7-9d19-712032f781a4.png)

[2017-04-04 15:07] onursumer commented on #2279
![](https://github.trello.services/images/mini-trello-icon.png) [by default order by annotation column for cna table](https://trello.com/c/MJRLEjpE/208-by-default-order-by-annotation-column-for-cna-table)

[2017-04-04 15:49] onursumer commented on #2272
![](https://github.trello.services/images/mini-trello-icon.png) [Not showing allele counts when hovering](https://trello.com/c/ouM8gqSJ/209-not-showing-allele-counts-when-hovering)

[2017-04-04 16:51] onursumer commented on #2277
![](https://github.trello.services/images/mini-trello-icon.png) [Cosmic column sort doesn't work as desired](https://trello.com/c/e84zlVKZ/210-cosmic-column-sort-doesn-t-work-as-desired)

[2017-04-04 17:56] onursumer commented on #2278
A possible solution: make `initialSortDirection` a `Column` property

[2017-04-04 18:42] jjgao commented on #2283
http://www.cbioportal.org/beta/case.do#/patient?caseId=TCGA-3B-A9HO&studyId=sarc_tcga

[2017-04-04 21:27] #2279 closed

[2017-04-04 21:28] #2277 closed

[2017-04-04 21:28] #2272 closed

[2017-04-04 21:36] #2269 closed

[2017-04-04 23:39] inodb commented on #1820
Works in the new patient view: http://www.cbioportal.org/beta/case.do?cancer_study_id=ucec_tcga_pub&case_id=TCGA-BK-A0CC

[2017-04-04 23:39] #1820 closed

[2017-04-05 15:43] oplantalech opened #2291 "Study view hangs with ldap authentication and no sequenced or cna case list"
Study view hangs with ldap authentication and no sequenced or cna case list:
![captura de pantalla 2017-04-05 a les 12 16 47](https://cloud.githubusercontent.com/assets/20278013/24713208/3c824f74-1a25-11e7-8d83-3b2e984fbb72.png)

This happens because cBioPortal is trying to retrieve non-existing case lists (sequenced and/or cna), and a 403 error is returned. However, in a system with no authentica

[2017-04-05 15:44] oplantalech commented on #2291
I think pie charts should not be shown if there is no data for them. Also, to make troubleshooting easier, I think the error that should be returned is a 404 instead of a 403.

[2017-04-05 16:07] zhx828 commented on #2291
@oplantalech thanks for pointing out. I will send out the fix today.

[2017-04-05 19:22] inodb commented on #2271
![](https://github.trello.services/images/mini-trello-icon.png) [New patient view only works for patient IDs, not sample IDs](https://trello.com/c/gEGeWZUs/212-new-patient-view-only-works-for-patient-ids-not-sample-ids)

[2017-04-05 20:00] alisman commented on #2271
Hi Niki, this is actually a problem with link rather than the page.  I believe the link should have sampleId param instead of caseId given that the value is a sampleId.   I believe I found the broken links on the Mutation tab of the study view.  Will fix.

[2017-04-05 21:21] adamabeshouse commented on #2278
https://github.com/cBioPortal/cbioportal-frontend/pull/271

[2017-04-06 12:50] ecerami commented on #2281
@jjgao:  I assume you mean "Style the pagination control"?  Can you explain more what this mean?  Mutation tab?

[2017-04-06 14:28] jjgao commented on #2281
@ecerami: yes, style :). Mutations/CNA tables in the summary tab.

With pagenation, it happens quite often that our users overlook that there are more mutations / CNA events -- we have received a few emails on that. It would be good if we can make it obvious that there are more mutations by clicking the next page.

[2017-04-06 16:53] #2283 closed

[2017-04-06 16:53] #2276 closed

[2017-04-06 16:54] #2275 closed

[2017-04-06 16:54] #2273 closed

[2017-04-06 17:27] murphycj opened #2293 "Support mouse genomes"
Would be nice if cBio supported mouse genomes. There are probably around a dozen or so studies with sequencing data from mouse tumors (endogenous mouse tumors, not xenographs). I' am going to start looking into modifying the code myself, but I thought I would just put the request out there.

[2017-04-06 19:32] #2271 closed

[2017-04-06 21:54] jjgao opened #2295 "OncoKB is gone in the new patient view"

[2017-04-06 22:01] jjgao opened #2296 "Moving the study link to the patient section (?)"
Currently:
![screen shot 2017-04-06 at 5 55 20 pm](https://cloud.githubusercontent.com/assets/840895/24777351/f41e8422-1af2-11e7-93d4-e484c8ac2f6c.png)

Suggested:
![screen shot 2017-04-06 at 5 55 20 pm copy](https://cloud.githubusercontent.com/assets/840895/24777359/faef87ce-1af2-11e7-8efc-ecc300036cf0.png)

[2017-04-07 00:26] onursumer commented on #2280
![](https://github.trello.services/images/mini-trello-icon.png) [Match hotspots properly](https://trello.com/c/OjU5RC58/213-match-hotspots-properly)

[2017-04-07 09:34] pieterlukasse commented on #2273
What was the solution?

[2017-04-07 10:10] oplantalech opened #2297 "Co-expression tab not appearing in certain contexts where it is expected to show up"
Recently some users reported us an issue regarding the co-expression tab: they loaded a study with expression data, but when they were querying genes the co-expression tab was not showing up. We believe this error appears because they load only **Z-score data**.

Co-expression is calculated on the non-normalized expression data, so although it makes sense for the tab not to appear when studies do

[2017-04-07 10:39] pieterlukasse commented on #2297
This is the part in `global_variables.jsp` that has some influence on whether co-expression tab should appear:
[code]
As Oleguer indicated, `CoExpUtil.getPreferedGeneticProfile` will only return a profile if there is also a "non-z-score" mrna profile in the study. If not, it returns `null` and `showCoexpTab` remains `false`.

[2017-04-07 15:01] fedde-s opened #2298 "Adding tracks to Oncoprint heatmap after de-clustering inserts blank tracks"
When opening any Oncoprint, enabling some heatmap tracks, clustering and disabling clustering order for that heatmap, and then adding more tracks to the same heatmap, blank tracks are displayed above all but the bottommost new heatmap track. Attempting to move one of the new heatmap tracks up or down instead moves its blank track. Clustering and re-sorting yet another time makes a blank track appe

[2017-04-07 15:02] fedde-s commented on #2298
I think @pieterlukasse knows the clustering code best.

[2017-04-07 20:56] ecerami opened #2300 "Tighten up / remove white space on new patient view page"
Reported by @schultzn.

@alisman @jjgao:  Discussed this with @brittanystoroz today, and she said she had time to work on this next week.

[2017-04-07 21:19] ecerami commented on #2300
@brittanystoroz:  Just spoke with Aaron on slack, and he has already started to work on tightening of the new patient view.

So, better if you go back to your original plan, and work on the home page components.

[2017-04-07 22:19] adamabeshouse opened #2302 "should switching tabs in patient view add to browser history?"

[2017-04-08 02:17] jjgao opened #2303 "co-exp not sorted by correlation score"

[2017-04-10 13:03] oplantalech commented on #2205
@zhx828 I can't reproduce your issue. I have tried it in Chrome, Firefox and Safari...
![captura de pantalla 2017-04-10 a les 13 26 45](https://cloud.githubusercontent.com/assets/20278013/24862874/c7a2cc46-1dfe-11e7-9298-f5a43c329f32.png)

[2017-04-10 13:24] schultzn commented on #2205
It looks like @zhx828 is using a data set with a variant that has a long AA change (note that the column is wider in his example). Are you both using different versions of the CCLE? I know we have some annotation differences between the public set and the one we are using within MSK.

[2017-04-10 14:33] oplantalech commented on #2205
@schultzn Thank you for the comment, I think that was the reason behind the issue.

[2017-04-10 14:48] zhx828 commented on #1086
@jjgao @schultzn @yichaoS is this page up to date? http://www.cbioportal.org/cancer_gene_list.jsp Is there any difference between the public and private instances?

[2017-04-10 14:51] #2291 closed

[2017-04-10 15:10] zhx828 commented on #2232
@awernibi I think the issue has been solved. Please let me know if you see any other datasets have similar issue.

[2017-04-10 15:10] #2232 closed

[2017-04-10 15:12] #2296 closed

[2017-04-10 15:28] ersinciftci opened #2305 "Figure out a solution for visibility of cna table below mutation table"
For this patient http://www.cbioportal.org/beta/case.do#/patient?caseId=TCGA-BK-A0CC&studyId=ucec_tcga_pub , there are 8 mutations in the second page of the table. So when I go to the second page when I'm centered on the bottom of the table, like:

<img width="1672" alt="screen shot 2017-04-10 at 11 24 26 am" src="https://cloud.githubusercontent.com/assets/3595704/24869168/545472b2-1de0-11e7-862a-

[2017-04-10 18:45] jjgao opened #2306 "handling uncalled events in the patient view page (supporting cfDNA projects)"
- [x] [data format] decide whether a mutation is called or uncalled mutation in MAF -- check the current MAF to see if there is indication about uncalled events, if not, contact Nick.
- [x] [database] import uncalled mutations with `_uncalled` profile
- [x] [web api] get both called and uncalled mutation profiles on patient view page
- [x] [UI] use light color for the sample label for uncalled eve

[2017-04-10 19:17] zhx828 commented on #2274
@sandertan the issue has been addressed in #2308, could you take a look? Thanks.

[2017-04-10 19:39] alisman commented on #2305
Solution: reduce default rows size to 10 and jump top on navigation.

[2017-04-10 20:59] jjgao opened #2309 "random blue color in the header"
![image](https://cloud.githubusercontent.com/assets/840895/24882426/03e165c2-1e0f-11e7-8544-f8176d1bcd6e.png)

http://www.cbioportal.org/beta/case.do#/patient?caseId=TCGA-BK-A0CC&studyId=ucec_tcga_pub

[2017-04-11 11:49] awernibi commented on #2232
The first issue (mutation freq > 100%) seems to be solved. Ty.

For the second issue (mutation rate in the overlap between RNASeq data and sequencing data) it looks much better now.
However, only a small fraction of sequenced samples are shown as sequenced (case list: _All Complete Tumors_, 7 samples). The correct case list to take for this purpose would be the _Sequenced Tumors_ case list (223 sa

[2017-04-11 15:06] #2041 closed

[2017-04-11 15:20] marianc000 opened #2312 "Loading gif never disappears"
I have recently installad the latest cBioportal version following the guide. The application seems to work with few errors, such as  java.lang.IllegalArgumentException: Could not find any samples for genetic profile ID:  3. But the most evident issue is persistent gif containing word Loading. It never disappears if I select any tab, i.e. Study Summary, Clinical Data, in the study summary. What is

[2017-04-11 15:21] marianc000 commented on #2312
<img width="739" alt="capture" src="https://cloud.githubusercontent.com/assets/20133496/24916747/52c01edc-1edb-11e7-8e38-6cd8a212c58f.PNG">

[2017-04-11 16:33] alisman opened #2315 "Patient clinical attributes header -- styling issues"
@jjgao  pointed out some weird color/styling things in the clinical attributes list in the header.  Opening/closing parens different color. Commas with colors etc.  Perhaps discuss with him.

![image](https://cloud.githubusercontent.com/assets/186521/24919782/c07d5e9a-1eb2-11e7-9288-1422b287659a.png)

[2017-04-11 16:36] alisman opened #2316 "TS errors associated wtih LazyMobXCache causing builds to fail"
LazyMobXCache.spec.ts

These tests are throwing TS error.

You can see them here:
https://travis-ci.org/cBioPortal/cbioportal-frontend/builds/220981598

I wasn't able to see errors locally until i re-installed all node modules.  (delete node_modules, then run npm install).

[2017-04-11 16:36] alisman commented on #2316
I commented out tests in itnegration branch just to get build green again

[2017-04-11 16:45] alisman commented on #2316
@adufilie pointed out this issue introduced by update to chai typings (deepEqual).  If we have to work around it, we can just cast the second param of deepEqual as any and that fixes it.

[2017-04-11 17:04] inodb commented on #2309
Fixed: https://github.com/cBioPortal/cbioportal-frontend/pull/281

[2017-04-11 17:07] inodb commented on #2315
Fixed in: https://github.com/cBioPortal/cbioportal-frontend/pull/281

[2017-04-11 18:18] #2278 closed

[2017-04-11 18:45] adamabeshouse commented on #2316
https://github.com/cBioPortal/cbioportal-frontend/pull/282

[2017-04-11 18:45] #2316 closed

[2017-04-11 19:05] jjgao opened #2317 "rename "“Relative linear copy-number values”""
A user request

In order to decrease the chance of people misinterpreting TCGA “Relative linear copy-number values” in cBioPortal it likely would be rather useful to change the name of this data type to “Capped relative linear copy-number values”.

Hopefully this would increase the chance of people getting the better sense for underlying data and also perhaps may prompt into reading detailed modif

[2017-04-11 19:34] #2309 closed

[2017-04-11 19:34] #2315 closed

[2017-04-11 19:38] #2280 closed

[2017-04-11 22:59] inodb commented on #1784
Problem was related to these cases not having SUBTYPE. Instead we now split the treatment track either on SUBTYPE and AGENT or TREATMENT_TYPE and AGENT: https://github.com/cBioPortal/cbioportal-frontend/pull/287

[2017-04-12 13:43] sandertan commented on #2274
@zhx828 Thanks! I've tested it and the issue seems to be solved.

[2017-04-12 13:43] #2274 closed

[2017-04-12 15:39] #2205 closed

[2017-04-12 17:18] jjgao opened #2321 "using the same oncokb client code"
The same oncokb client code should be used for patient view, mutations tab, and oncoprint.

There should be one function to annotate a list of mutations.

[2017-04-12 17:23] jjgao opened #2322 "TP53 frameshift and splice mutation not picked up as putative driver"
![image](https://cloud.githubusercontent.com/assets/840895/24970170/536b7d9e-1f81-11e7-9cf8-d39018acc174.png)

Long-term solution: #2321

Short-term solution:
- [x] support TCGA mutation types as consequence in oncokb api (Hongxin)
- [x] add more info when querying oncokb: mutation type, protein start/end (are they available in frontend?) (Adam)
- [x] don't convert the protein change to upper case

[2017-04-12 17:49] jjgao commented on #2306
About database, another option is to import the uncalled events in the same mutation table with a different mutation profile. Not sure which more makes more sense.

[2017-04-12 18:47] jjgao opened #2323 "mutation_type data issue"
There are some non-standard mutation types in the public portal database: [data-issue.xlsx](https://github.com/cBioPortal/cbioportal/files/917517/data-issue.xlsx) For example, nsclc_tcga_broad_2016 has no genomic locations.

Can we fix the data?

Below is the code to pull out the spreadsheet above.

[code]

[2017-04-12 18:56] jjgao opened #2324 "MUTATED protein_change in public portal"
There are many mutations in the public portal database with protein_change MUTATED for different reasons.

For example:
- `Splice_Region` or `Splice_Site` mutations
- in `brca_igr_2015_mutations` the tumor_seq_allele was asigned to `NA` for `Frame_shift_del`;

[code]

[2017-04-12 19:25] jjgao opened #2325 "Study view: links to patient view page in the clinical tab is gone"

[2017-04-12 21:19] zhx828 commented on #1086
Just talked to JJ, we can link to cancer_gene_list.jsp for now. Later on, this page will be updated.

[2017-04-12 21:28] #2234 closed

[2017-04-12 22:59] tizatt opened #2328 "Google+ oauth2 redirect uri"
I'm attempting to use google+ authentication and am having an issue with the redirect_uri.  The website I'm using is in https, however the redirect_uri appears as http.  Example:

http://***:443/cbioportal/auth/google, whereas I need it to be https://***org/cbioportal/auth/google

I have scoured the code and don't understand where this url comes from for the redirect parameter

[2017-04-13 00:00] zhx828 commented on #2232
@yichaoS could you take a look?

[2017-04-13 00:12] #2322 closed

[2017-04-13 02:09] #1801 closed

[2017-04-13 14:46] jjgao opened #2335 "prioritize known drivers over truncating mutations in oncoprint"
In samples with multiple mutations, we still need to prioritize known drivers over truncating mutations.

![image](https://cloud.githubusercontent.com/assets/840895/25009925/5f3b4630-2036-11e7-933f-7d0569bb892e.png)

[2017-04-13 15:15] jjgao commented on #2082
We will put all mutations and CNAs in the summary tab in the new patient view and sort them by OncoKB by default.

Currently we only sort by whether a mutation / cna is oncogenic and the associated levels. Maybe we should also sort genes (oncokb genes go first).

[2017-04-13 15:28] jjgao commented on #2082
I misunderstood.

For the study view page, it maybe too many data to load all CN-altered genes. Maybe we should move the query to the backend (when selected samples change).

One option is only displaying the top xx mutated / cn-altered genes for the selected samples. Another option is to paginating (need backend pagination api support).

add @zhx828 and @ersinciftci to the thread.

[2017-04-13 15:33] pieterlukasse commented on #2082
@jjgao thanks. Yes, an option to also show the top xx mutated / cn-altered genes would be great. I think this is also @schultzn means with his "switch" option.

[2017-04-13 15:43] jjgao opened #2337 "use oncokb genes to sort mutations and CNAs tables in patient view"
In the CNAs and Mutations tables, we sort them by the annotation column. When there is nothing in the annotation column, can we sort the genes, ie. OncoKB genes comes first, by default.

This is not urgent.

[2017-04-13 16:55] zhx828 commented on #2082
https://github.com/cBioPortal/cbioportal/pull/2338 is related to this topic.

[2017-04-13 17:15] jjgao commented on #2337
Maybe the solution is just differentiate oncokb icon for oncokb gene vs non-oncokb genes.

[2017-04-13 18:14] alisman commented on #2302
@jjgao said current behavior is fine.

[2017-04-13 18:14] #2302 closed

[2017-04-13 18:15] #2295 closed

[2017-04-13 19:57] jjgao opened #2339 "fix tooltips for CNA and MUT in genomic overview"

[2017-04-13 19:58] jjgao commented on #2300
A few things we can do [from standup discussion today]

- [ ] remove headers
- [ ] add "XX mutations" and "XX copy number altered genes" after the search box of mutaitons and cna tables
- [ ] set row padding to 3px
- [ ] set the margin between toolbar and table to 5px
- [ ] reduce the margin under the genomic overview section
- [ ] remove the pagenation control at the bottom

[2017-04-13 20:07] jjgao opened #2340 "use the same patient icon of patient view in the study view page"

[2017-04-13 21:00] adamabeshouse opened #2341 "annotate copy number alterations with oncokb in the oncoprint"

[2017-04-14 10:03] oplantalech opened #2342 "Enable CIViC when OncoKB is disabled"
Currently, CIViC only works if OncoKB is enabled. We might want to change that.

[2017-04-14 12:46] sandertan opened #2343 "Cytoband == NULL crashes CNA table"
According to the data model, cytoband can be NULL. However, in 552306093e1dcf875b495042a43265c0c626bb7c code was added which gives an error when cytoband is NULL. This causes the CNA table in the Study View to crash.

![screen shot 2017-04-14 at 14 36 40](https://cloud.githubusercontent.com/assets/9624990/25043456/707a8d94-2120-11e7-8408-9291c024a952.png)

[2017-04-14 14:47] onursumer commented on #2300
![](https://github.trello.services/images/mini-trello-icon.png) [Even more compact patient view](https://trello.com/c/Ni3UMp2Y/216-even-more-compact-patient-view)

[2017-04-14 14:48] onursumer commented on #2300
![](https://github.trello.services/images/mini-trello-icon.png) [Even more compact patient view](https://trello.com/c/Ni3UMp2Y/216-even-more-compact-patient-view)

[2017-04-14 20:35] adamabeshouse commented on #2341
https://github.com/cBioPortal/cbioportal/pull/2344

[2017-04-14 20:35] #2341 closed

[2017-04-14 20:35] adamabeshouse commented on #2335
https://github.com/cBioPortal/cbioportal/pull/2344

[2017-04-14 20:35] #2335 closed

[2017-04-15 22:27] jjgao opened #2345 "prev/next button overlaid with sample names"
![image](https://cloud.githubusercontent.com/assets/840895/25067167/171e1baa-2209-11e7-83a0-e904808a4a6c.png)

http://www.cbioportal.org/beta/case.do#/patient?caseId=06-081&navCaseIds=04-050%2C05-144%2C06-081%2C99-091&studyId=prad_fhcrc

[2017-04-16 03:34] onursumer opened #2346 "Initial sort column for COSMIC table is broken"
Line that needs to be fixed: https://github.com/cBioPortal/cbioportal-frontend/blob/integration/src/shared/components/cosmic/CosmicMutationTable.tsx#L47

(`Occurrence` is misspelled as `Occurence`)

[2017-04-16 13:37] jjgao opened #2347 "increase the space between mutations and cna table"
Add a little space between the table tables.

![image](https://cloud.githubusercontent.com/assets/840895/25071528/38ca2a1c-2288-11e7-9cf2-765c315a5742.png)

[2017-04-16 13:39] jjgao opened #2348 "3D htospots should only match missense mutations"
http://www.cbioportal.org/beta/case.do#/patient?caseId=TCGA-05-4402&studyId=luad_tcga

Please also fix in the muations tab.

[2017-04-16 19:24] zhx828 opened #2349 "Patient info overlaps with study name"
<img width="1252" alt="screen shot 2017-04-16 at 3 23 14 pm" src="https://cloud.githubusercontent.com/assets/5400599/25073652/cf00cd80-22b8-11e7-98ce-c3b0d46a050e.png">

[2017-04-16 21:34] zhx828 opened #2350 "Close icon needs to be updated in the warning dialog"
![blca_tcga_pub_tcga-gv-a3jx-01](https://cloud.githubusercontent.com/assets/5400599/25074519/ac6c8cc0-22ca-11e7-8d58-8a1cbde3be5e.png)

[2017-04-16 21:44] zhx828 opened #2351 "Annotation column icon alignment"
In the current implementation, each annotation resource will always be aligned in the same column. @jjgao do we still want to keep that?
Current (http://www.cbioportal.org/case.do?cancer_study_id=blca_tcga_pub&case_id=TCGA-DK-A1AC):
<img width="646" alt="screen shot 2017-04-16 at 5 43 46 pm" src="https://cloud.githubusercontent.com/assets/5400599/25074559/4682b770-22cc-11e7-832e-8acdaf3b7545.png">

[2017-04-16 21:45] zhx828 opened #2352 "Annotation column sorting issue"
http://www.cbioportal.org/beta/case.do?cancer_study_id=blca_tcga_pub&case_id=TCGA-DK-A1AC#/patient?caseId=TCGA-DK-A1AC&studyId=blca_tcga_pub

<img width="1268" alt="screen shot 2017-04-16 at 5 45 25 pm" src="https://cloud.githubusercontent.com/assets/5400599/25074573/880a8128-22cc-11e7-8397-fd71936f51e1.png">

[2017-04-16 21:48] zhx828 opened #2353 "OncoKB Card issue"
OncoKB card is not showing oncogenicity and biological effect. http://www.cbioportal.org/beta/case.do?cancer_study_id=blca_tcga_pub&case_id=TCGA-DK-A1AC#/patient?caseId=TCGA-DK-A1AC&studyId=blca_tcga_pub

<img width="716" alt="screen shot 2017-04-16 at 5 47 09 pm" src="https://cloud.githubusercontent.com/assets/5400599/25074587/dffe03d2-22cc-11e7-8ac2-7445f955c295.png">

[2017-04-17 14:14] zhx828 opened #2354 "3D hotspot difference between production and beta"
Is 3dhotspot enabled for public website?

ACE E510K is marked as 3d hotspot in beta but not in production. Checked with the 3dhotspot.org, looks like it is a hotspot. @onursumer could you double check? Thanks.

Production:
http://www.cbioportal.org/case.do?cancer_study_id=skcm_tcga&case_id=TCGA-BF-A1PV

Beta:
http://www.cbioportal.org/beta/case.do?cancer_study_id=skcm_tcga&case_id=TCGA-BF-A1PV#/pa

[2017-04-17 14:53] zhx828 opened #2355 "Gistic info vary from beta and production"
In production, we don't have Gistic info for CDKN2A DeepDel, but in beta we have the info as screenshot
![screen shot 2017-04-17 at 10 51 22 am](https://cloud.githubusercontent.com/assets/5400599/25092484/f83866a6-235b-11e7-923e-34b0d16d3bb3.png)

Production:
http://www.cbioportal.org/case.do?cancer_study_id=skcm_tcga&case_id=TCGA-BF-AAP0

Beta:
http://www.cbioportal.org/beta/case.do?cancer_study_

[2017-04-17 14:55] zhx828 opened #2356 "Tumors column is missing from CNA table"
In current production website, we have `Tumors` for both MutatedGene/CNA tables. But in beta, we only have it for MutatedGene table.

Production:
http://www.cbioportal.org/case.do?cancer_study_id=skcm_tcga&case_id=TCGA-BF-AAP0

Beta:
http://www.cbioportal.org/beta/case.do?cancer_study_id=skcm_tcga&case_id=TCGA-BF-AAP0#/patient?caseId=TCGA-BF-AAP0&studyId=skcm_tcga

[2017-04-17 14:59] jjgao opened #2357 "mRNA column should be hidden for multi-samples for CNA table (Patient view)"
https://cbioportal.mskcc.org/beta/case.do#/patient?caseId=P-0002265&studyId=mskimpact

![image](https://cloud.githubusercontent.com/assets/840895/25092694/d901db4a-235c-11e7-8a31-846ca71326b0.png)

[2017-04-17 15:00] jjgao opened #2358 "redirection not working for patient view after login"
https://cbioportal.mskcc.org/beta/case.do#/patient?caseId=P-0002265&studyId=mskimpact

[2017-04-17 15:09] zhx828 opened #2359 "COSMIC ID column needs link out to Cosmic website"
The current production, we have Cosmic ID link out. If this has been disabled on purpose, please ignore.

[2017-04-17 15:14] zhx828 opened #2360 "COSMIC info are different between production and beta"
`LRRIQ3	Q245Tfs*7 ` only counted with 1 occurrences in beta but 4 in production.

Cosmic ID: http://cancer.sanger.ac.uk/cosmic/mutation/overview?id=1344232

Production:
http://www.cbioportal.org/case.do?cancer_study_id=skcm_tcga&case_id=TCGA-D3-A1Q1

Beta:
http://www.cbioportal.org/beta/case.do?cancer_study_id=skcm_tcga&case_id=TCGA-D3-A1Q1#/patient?caseId=TCGA-D3-A1Q1&studyId=skcm_tcga

[2017-04-17 15:31] zhx828 opened #2361 "Variant allele frequency is calculated differently between production and beta"
Production:
http://www.cbioportal.org/case.do?cancer_study_id=lgg_ucsf_2014&case_id=P01
![screen shot 2017-04-17 at 11 29 21 am](https://cloud.githubusercontent.com/assets/5400599/25093673/4f02b838-2361-11e7-9347-4b811479bdd1.png)

Beta:
http://www.cbioportal.org/beta/case.do?cancer_study_id=lgg_ucsf_2014&case_id=P01#/patient?caseId=P01&studyId=lgg_ucsf_2014
![screen shot 2017-04-17 at 11 29 45 am

[2017-04-17 15:36] zhx828 opened #2362 "Table stretches out of the page if too many columns selected."
![screen shot 2017-04-17 at 11 35 36 am](https://cloud.githubusercontent.com/assets/5400599/25093829/16e49b50-2362-11e7-8be8-84326513eeef.png)

[2017-04-17 15:46] zhx828 opened #2363 "Question about downloaded file of mutations table"
In downloaded file, we don't put in data we get from other resources like `Allele Feq`, `Annotation`, `COSMIC` etc. Should we remove the header for those columns as well? @jjgao @alisman

Link: http://www.cbioportal.org/beta/case.do?cancer_study_id=lgg_ucsf_2014&case_id=P04#/patient?caseId=P04&studyId=lgg_ucsf_2014

File: [table.txt](https://github.com/cBioPortal/cbioportal/files/925971/table.txt)

[2017-04-17 16:56] onursumer commented on #2360
Look like legacy code was matching `LRRIQ3 Truncating Q245Tfs*7` to a `LRRIQ3 Truncating K244fs*17` mutation. Refactored code, however, is matching the same mutation to `LRRIQ3 Truncating Q245fs*7`. Now we are matching COSMIC by position. (Legacy was matching 245 to 244)

@jjgao any comments?

[2017-04-17 18:08] onursumer commented on #2354
We recently improved hotspot matching logic: https://github.com/cBioPortal/cbioportal-frontend/pull/278. Probably that's why we were missing this mutation in production.

[2017-04-17 18:36] onursumer commented on #2356
Currently `TumorColumnFormatter` functions depend on `Mutation` data. We need to modify those functions in order to reuse for CNA table.

[2017-04-17 18:46] onursumer commented on #2355
I remember discussing this with @jjgao. This is due to different API data. New API reports more Gistic values than the legacy one. I think there was a bug in the legacy implementation.

[2017-04-17 19:08] onursumer commented on #2356
Apparently we are showing multiple CNA values in a single row in the legacy implementation. In other words, we are **merging** multiple CNA rows into one. So, we need to implement a similar merge logic for CNA table as we did for mutation table.

@jjgao @alisman @adamabeshouse This basically means we need to process copy number data to create a merged version, and update **every** column definitio

[2017-04-17 19:50] #2360 closed

[2017-04-17 20:02] #2355 closed

[2017-04-17 20:03] #2354 closed

[2017-04-17 20:06] adamabeshouse commented on #2346
proof of why this should be enum :)

[2017-04-17 20:17] adamabeshouse opened #2365 "make MSKTable sort a stable sort"

[2017-04-17 20:17] jjgao opened #2366 "support secondary sorting by COSMIC column (patient view)"

[2017-04-17 20:20] adamabeshouse commented on #2365
zip list with positions

[2017-04-17 20:33] adamabeshouse commented on #2337
https://github.com/cBioPortal/cbioportal/issues/2365

[2017-04-17 20:33] #2337 closed

[2017-04-17 20:33] adamabeshouse commented on #2366
duplicate https://github.com/cBioPortal/cbioportal/issues/2365

[2017-04-17 20:33] #2366 closed

[2017-04-17 20:44] adamabeshouse opened #2367 "use discretecnacache for CNA table"