[2018-07-20 16:42] tmazor opened #4483 "beta - plots - highlighted samples are hard to find"
If I search for a case or a mutation, the dot representing any samples that matches those searches get slightly larger. I'm finding it hard to identify those samples because the size difference is minimal:
![image](https://user-images.githubusercontent.com/10508276/43014402-134e94d8-8c1a-11e8-9273-a0df24d72618.png)

On production, there is a huge size difference:
![image](https://user-images.githu

[2018-07-20 16:44] tmazor opened #4484 "beta - plots - minor text change"
![image](https://user-images.githubusercontent.com/10508276/43014541-7a27b9be-8c1a-11e8-8ce5-fce65fdd9ef6.png)

Let's say "Color samples by" instead of "Coloring by"

[2018-07-20 16:47] tmazor opened #4485 "beta - plots - if plot is wide, legend gets cut-off"
Specifically, the (i) symbol (about driver annotation settings) disappears when the plot is wide:
![image](https://user-images.githubusercontent.com/10508276/43014647-dd5c565c-8c1a-11e8-8c08-7ec5cb7706e3.png)

http://www.cbioportal.org/beta/index.do?cancer_study_id=lgg_tcga&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=lgg_tcga_cnaseq&gene_list=TP53%2520EGFR%2520PDGFRA

[2018-07-20 16:51] alisman opened #4486 "legacy genetic_profile_ids param in url"
The old site supports a url parameter genetic_profile_ids.   The way I know this is that there is a sample query with this parameter.  As far as I can tell, there is not way to produce such a query with the interface, which now enumerates profiles like so:

genetic_profile_ids_PROFILE_MUTATION_EXTENDED,
genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION,
genetic_profile_ids_PROFILE_MRNA_EXPRESSION

[2018-07-20 17:00] tmazor opened #4487 "beta - plots - missing color control when plotting clinical + molecular"
When one axis is a clinical attribute and the other axis is a molecular profile, the ability to control sample coloring disappears and samples are colored according to mutations but not copy number. The same controls that exist when the plot is two molecular profiles should apply in this scenario also.

![image](https://user-images.githubusercontent.com/10508276/43015142-aec52024-8c1c-11e8-928d-62

[2018-07-20 17:04] alisman opened #4488 ""ln" url shorthand for all studies"
http://www.cbioportal.org/beta/ln?q=BRAF:MUT=V600E

Do we need to support this shorthand in new site?

[2018-07-20 17:08] tmazor opened #4489 "beta - plots - support multiple search values?"
The search utility labels include "(s)" which could be interpreted to allow for searching for multiple case IDs/mutations at once:
![image](https://user-images.githubusercontent.com/10508276/43015278-389d67e8-8c1d-11e8-8aaa-f659dafc255c.png)

Is the search feature supposed to work for multiple values?

If so, we need some explanation/description of how to do it (I can write this if someone tells m

[2018-07-20 17:18] tmazor opened #4490 "beta - plots - sample tooltip spacing"
There is a space before the comma when there are two mutations:
![image](https://user-images.githubusercontent.com/10508276/43015968-35aef3ba-8c1f-11e8-88a4-f01db06e4bcb.png)

I assume it happens for all samples with 2 mutations, but it's particularly noticeable when the OncoKB/hotspots icons aren't there.

[2018-07-20 18:12] tmazor opened #4491 "beta - networks - right clicking edges fails"
If I right-click on an edge then a new window opens with 404 not found:
![image](https://user-images.githubusercontent.com/10508276/43018123-93514caa-8c26-11e8-8d91-e7717998c4ed.png)

[2018-07-20 18:47] khzhu opened #4492 "incorrect clinical annotation"
the patient TCGA-BW-A5NP is from Liver Hepatocellular Carcinoma (TCGA, Provisional) study

We are using TCGA data for hepatocellular carcinoma from cBioportal. We noticed something seems strange regarding patient clinical data.
For patient TCGA-BW-A5NP, the overall survival is 0 while the disease free survival is about 3.5 months.  Is there something we misunderstand?
Thank you.
Jingjing

[2018-07-20 19:03] adamabeshouse commented on #4332
@jjgao noone has discussed this with me :D

[2018-07-20 19:04] jjgao commented on #4486
For the new URL in SPA, let's use `genetic_profile_id`. After we do that, is it possible to have a script to map the old URLs to the new format so that we support old sessions and bookmarked urls? @alisman

[2018-07-20 19:04] adamabeshouse commented on #4476
redirecting to @fedde-s , this is an issue with react-select-checked

[2018-07-20 19:29] adamabeshouse commented on #4482
let me know how you want to handle this

[2018-07-20 19:40] n1zea144 commented on #4465
@jjgao We will take this task on in the pipeline scrum The week of July 30 (many of us our out of the lab next week).  It would be helpful if you can prioritize the endpoints that require addressing.  Happy to discuss further in the lab.

[2018-07-20 19:44] adamabeshouse commented on #4490
https://github.com/cBioPortal/cbioportal-frontend/pull/1305

[2018-07-20 19:46] adamabeshouse commented on #4484
https://github.com/cBioPortal/cbioportal-frontend/pull/1305

[2018-07-20 20:58] adamabeshouse commented on #4480
this is addressed in https://github.com/cBioPortal/cbioportal-frontend/pull/1296/files - first because the profile shouldnt appear in the list if it has no data, and second even if somehow it sneaks on (i.e. due to some data issue), then the stuff you see in that screenshot will be hidden to reveal the text below that says "No data to plot."

[2018-07-20 21:11] adamabeshouse commented on #4485
its still there but its scrolled off to the right. its related to this https://github.com/cBioPortal/cbioportal/issues/4444

@alisman what do you think?

[2018-07-20 21:49] adamabeshouse commented on #4489
https://github.com/cBioPortal/cbioportal-frontend/pull/1305

[2018-07-21 01:03] adamabeshouse commented on #4479
for some reason the data is rendering in the wrong order, the boxes and the points are not correctly aligned

[2018-07-23 08:31] fedde-s commented on #4476
Hm… this looks exactly like the issue I resolved in https://github.com/thehyve/react-select-checked/pull/19. Are you using release v0.1.9 of `react-select-checked`?

[2018-07-23 08:37] fedde-s commented on #4476
Is this about the code in the current `release-x.x.x` branch, or just `rc`?

[2018-07-23 12:01] fedde-s commented on #4476
Ah, the milestone suggests it's about the release candidate.

[2018-07-23 13:01] Sjoerd-van-Hagen commented on #4332
@adamabeshouse good to know... you are working on the plots tab, right?

@jjgao I think @pieterlukasse  discussed this with you right? We would to the mutation count and fraction genome altered and then Adam would work on the mutation type?

[2018-07-23 13:36] schultzn opened #4493 "OncoPrint tooltip needs to indicate the altered gene in merged tracks"
In a merged OncoPrint track, the tooltip should indicate which gene is altered.

We can consider to always show the gene symbol to make things simpler?

![image](https://user-images.githubusercontent.com/11892704/43079607-8fd7b834-8e5b-11e8-91d9-37316e9629ce.png)

[2018-07-23 14:40] tmazor opened #4495 "beta - cancer types - bars overlap & x-axis extends too far"
![image](https://user-images.githubusercontent.com/10508276/43083483-a23362e0-8e64-11e8-8fa6-d0cea9e06011.png)

http://www.cbioportal.org/beta/index.do?session_id=5b55e8c6498eb8b3d56710f3

[2018-07-23 14:51] tmazor opened #4496 "beta - expression - box of boxplot looks misaligned"
The box for the AML expression in the screenshot below looks misaligned. The samples are almost all >0, the whiskers are visible at ~-0.5 and 5.5, but the box is drawn from 1 to -6.
![image](https://user-images.githubusercontent.com/10508276/43083944-a332a74a-8e65-11e8-92f7-105b961a6025.png)

Every other box looks to be in an appropriate place so I'm not sure what's happening here. I see the same

[2018-07-23 14:53] tmazor opened #4497 "beta - expression - alphabetize list of studies"
Can we put this list in alphabetical order? That will make it much easier for a user to find and select/deselect a study

![image](https://user-images.githubusercontent.com/10508276/43084363-8a776a5a-8e66-11e8-95a5-4291a8d11202.png)

[2018-07-23 14:54] tmazor opened #4498 "beta - expression - tooltip text extends beyond tooltip box"
![image](https://user-images.githubusercontent.com/10508276/43084439-ac4fc776-8e66-11e8-8fda-d237bb609e9f.png)

[2018-07-23 14:56] tmazor commented on #4482
@adamabeshouse let's do the same thing we did for co-expression: remove the profile description and add the number of samples to the dropdown for each profile.

[2018-07-23 14:58] tmazor opened #4499 "beta - expression - include mutation details"
The tooltip should include the specific mutation(s)

Beta:
![image](https://user-images.githubusercontent.com/10508276/43084708-398dc12e-8e67-11e8-8b9e-8506b95855ad.png)

Production:
![image](https://user-images.githubusercontent.com/10508276/43084737-44e4bf1e-8e67-11e8-9697-79afe48618b0.png)

[2018-07-23 15:05] tmazor opened #4500 "beta - expression - include white space between boxes"
The boxes & dots feel tightly packed along the x-axis, and if I zoom in it becomes clear that the boxes actually touch/overlap each other:
![image](https://user-images.githubusercontent.com/10508276/43085029-eafd23dc-8e67-11e8-88c3-3f5d69fd7eff.png)

Let's add a little white space between each study to make the plot easier to read.

[2018-07-23 15:13] tmazor opened #4501 "beta - expression - enhanced sample coloring"
This might be too much for 1.15 but... have we considered coloring sample dots on the expression tab in the same way as on the new plots tab? Including copy number alterations would be helpful for interpreting the expression changes. Of course, it also might add so much color that this graph becomes hard to read, but I think it's worth a try.

[2018-07-23 15:16] kalletlak opened #4502 "Adding add_global_case_list:true in metaStudy.txt assigns case_list category to 'other' instead of 'all_cases_in_study'"
https://github.com/cBioPortal/cbioportal/blob/master/core/src/main/java/org/mskcc/cbio/portal/scripts/AddCaseList.java#L58

[2018-07-23 15:16] tmazor opened #4503 "beta - expression - patient links fail"
clicking on a patient ID in a tooltip in the expression tab loads a blank patient page because there's a missing slash in the URL:
http://www.cbioportal.org/betapatient?studyId=lusc_tcga&sampleId=TCGA-MF-A522-01

[2018-07-23 15:20] tmazor opened #4504 "beta - expression - select studies pop-up should have button to select "all" and "none""

[2018-07-23 15:31] jjgao commented on #4478
duplicate with https://github.com/cBioPortal/cbioportal/issues/4466

[2018-07-23 15:31] #4478 closed

[2018-07-23 15:35] tmazor opened #4506 "beta - expression - move "select" out of button"
Right now I find it confusing what the "Custom" button refers to -- it's not clear to me that it means "select custom set of studies", especially in a query without any TCGA Provisional/PanCan studies.

Let's remove "Select" from the "TCGA Provisional"/"TCGA PanCan" buttons and instead write "Select Studies:" in bold, like "Profile" and "Sort By:"

![image](https://user-images.githubusercontent.co

[2018-07-23 15:35] sandertan commented on #4502
Hi @kalletlak. @rnugraha informed me of the issue. Indeed, a solution for future studies would be to change the `case_list_category` to `all_cases_in_study` when using the `add_global_case_list:true`-option. However, all studies that are currently loaded with the old importer, will suffer from the bug. It would mean that all these studies have to be reloaded.

In your PR, #4341 , could you use the

[2018-07-23 15:35] jjgao commented on #4488
@alisman yes, but we should probably use the "good" default set of studies instead of all: https://github.com/cBioPortal/cbioportal/issues/3395

[2018-07-23 15:41] jjgao opened #4507 "URLs"
Currently:

Home page:
- /
 - /index.do

Results page:
- /index.do?
 - cancer_study_id
 - ...

LN page:
- /ln?
 - ...

Patient view:
- case.do?
 - ...

Study view:
- study?
 - ...

Proposed:

[2018-07-23 15:44] jjgao commented on #4488
We can probably redirect this url so we don't need a SPA for it.

[2018-07-23 15:46] jjgao commented on #4491
@alisman can we disable this functionality?

[2018-07-23 15:47] tmazor opened #4508 "beta - missing links to Web API and R/MATLAB pages"
The site header on beta is missing links to Web API and R/MATLAB
![image](https://user-images.githubusercontent.com/10508276/43087508-0aeb68b0-8e6e-11e8-9884-3af22e371c1c.png)

[2018-07-23 15:47] #4492 closed

[2018-07-23 15:47] jjgao commented on #4492
Issue moved to [cBioPortal/datahub #272](https://github.com/cBioPortal/datahub/issues/272) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-23 15:50] jjgao commented on #4465
@n1zea144 thanks for the analysis! Happy to discuss further.

[2018-07-23 15:59] jjgao commented on #4332
@Sjoerd-van-Hagen yes.

@adamabeshouse please work on this after we roll out 1.15.

[2018-07-23 16:01] jjgao commented on #4493
@fedde-s would you be able to help with this?

[2018-07-23 16:36] schultzn commented on #4493
I think the point is not having to expand the track - the tooltip should show which gene the mutations was found in.

[2018-07-23 16:42] fedde-s commented on #4493
Would that be only the most ‘significant’ alteration of a type, that determines the colour, or possibly a list of several genes that are all amplified? Currently the tooltips show all alterations relevant to a square, just like a single-gene square that displays alterations for all of a patient's samples.

[2018-07-23 16:44] jjgao commented on #4397
@imielinski thank you for the links. We should meet and discuss. Maybe after summer?

[2018-07-23 16:45] kalletlak commented on #4502
@sandertan I could, but this even affected the fronted. Currently the counts in the Case Set selection in query pages is based on category. example(when case_list category is `other`)

![screen shot 2018-07-23 at 12 33 59 pm](https://user-images.githubusercontent.com/12956870/43090199-b87a1bd8-8e74-11e8-9bdd-b6365e58bb43.png)

Not sure if we want these hacks even in frontend. @jjgao @alisman thoug

[2018-07-23 16:46] fedde-s commented on #4493
The question I just asked might be a separate issue. Prepending the gene to each alteration is a pretty clear requirement. And by “always show the gene symbol,” do you mean being consistent and doing that for single-gene tracks as well?

[2018-07-23 16:47] jjgao commented on #4501
@tmazor yes, we should do it.

@adamabeshouse could you help with this?

[2018-07-23 16:50] imielinski commented on #4397
After summer sounds perfect

Best- Marcin

From: JianJiong Gao <notifications@github.com>
Reply-To: cBioPortal/cbioportal <reply@reply.github.com>
Date: Monday, July 23, 2018 at 12:44 PM
To: cBioPortal/cbioportal <cbioportal@noreply.github.com>
Cc: Marcin Imielinski <mimielinski@NYGENOME.ORG>, Mention <mention@noreply.github.com>
Subject: Re: [cBioPortal/cbioportal] MutSig and Gistic results (#439

[2018-07-23 17:11] jjgao commented on #4493
@fedde-s I think it'd be important to have the gene displayed. We missed it when reviewing it initially. Can you still help?

[2018-07-23 17:52] adamabeshouse commented on #4332
ok i added it to 1.16

[2018-07-23 18:13] ersinciftci commented on #4379
It actually turned out to be pretty simple https://github.com/cBioPortal/cbioportal-frontend/pull/1307, I was focused on the `default: crossAxis={false}` in https://formidable.com/open-source/victory/docs/victory-axis/#crossaxis, but apparently the default is not always false and is determined on the runtime.

[2018-07-23 18:15] adamabeshouse commented on #4493
@jjgao @schultzn  it should be a very simple change. the tooltip generating function has access to the full mutation object which includes the gene. it wont take more than a few minutes of work, if you just want to show the gene for every mutation in the list (and we should also do this for other alterations, i.e. mrna, prot, cna). it would probably make sense only to show it in merged tracks, rig

[2018-07-23 19:31] zhx828 commented on #4460
We actually used [react-grid-layout](https://github.com/STRML/react-grid-layout) lib to layout the charts with better support and potentially resize the charts.

[2018-07-23 20:51] #4404 closed

[2018-07-23 21:00] alisman opened #4510 "Verify that legacy patient links redirect properly to new HTML5 links"
@inodb i'm give this to you just to get a different set of eyes on it.

- [x] Legacy patient links work
  - [x] nav case ids
- [x] Legacy sample links works
- [x] Legacy cohort links work
- [x] Check links to patient page from other areas of app
  - [x] study view (top button, clinical data tab)
  - [x] oncoprint (mouseover tooltip)
  - [x] mutations tab (first column)
  - [x] plots tab (mouseover

[2018-07-24 00:02] #4419 closed

[2018-07-24 00:03] #4432 closed

[2018-07-24 00:03] #4471 closed

[2018-07-24 09:43] fedde-s commented on #4493
Nice! I didn't remember the code well enough off the top of my head to know whether it would be trivial or slightly awkward. But indeed, the question still stands. Consistently for all tooltips, only for merged tracks, or consistently within Oncoprints that contain at least one merged track. The last one is probably the trickiest to implement.

[2018-07-24 13:05] jjgao opened #4511 "moving legacy /api-legacy/copynumbersegments under /api/copy-number-segments/fetch"
We can keep the current output format and added support for pull data by chromosome.

In [`/copy-number-segments/fetch`](http://www.cbioportal.org/api/swagger-ui.html#/Copy_Number_Segments/fetchCopyNumberSegmentsUsingPOST), let's add an optional parameter `chromosomes` in addition to `sampleIdentifiers `:

[code]

[2018-07-24 15:32] jjgao commented on #4501
@adamabeshouse @alisman please also add it to the tooltip when CNA is available.

[2018-07-24 15:37] schultzn commented on #4375
Now 404 Not Found. Is this the same issue?

It looks like they updated the Cancer Digital Slide Archive website.

http://cancer.digitalslidearchive.net/

[2018-07-24 15:45] fedde-s commented on #4502
I feel that time I discussed this with others in the community, the consensus was that the `case_list_category` has been deprecated for a long time, and any (legacy) code that uses it instead of the suffixes is broken. After all, it's never been clearly documented for data curators.

[2018-07-24 15:53] fedde-s commented on #4502
For that reason, I think making the loader explicitly generate it will only cause more confusion and bugs.

[2018-07-24 16:12] jjgao commented on #4493
It may be ok to always include gene symbol in the tooltip. @schultzn?

[2018-07-24 16:15] jjgao commented on #4375
They have changed their API and will send us the new API format.

[2018-07-24 17:11] #4451 closed

[2018-07-24 18:18] inodb commented on #4510
@alisman all seems to work - i just updated some urls in prs to backend and frontend, but they work anyway cause of the rewrite.

[2018-07-24 23:13] schultzn commented on #4493
Yes, I think so!

[2018-07-25 11:30] guv opened #4513 "Study archive download stalls"
I tried to download the study archive for `hnsc_tcga_pan_can_atlas_2018` from the [download link](http://download.cbioportal.org/hnsc_tcga_pan_can_atlas_2018.tar.gz).
After 109/140 MB the download stalls and does not continue again.

[2018-07-25 13:48] fedde-s commented on #4493
Could you make the PR, @adamabeshouse? I'm a bit busy at the moment, and you seem to recall exactly which line of code to change :)

[2018-07-25 18:37] #4316 closed

[2018-07-25 21:12] jjgao commented on #4513
@guv thanks for the contacting us. Is it a one-time glitch or are you experiencing this constantly?

[2018-07-25 21:13] jjgao commented on #4513
Actually I am closing this and please contact cbioportal@googlegroups.com if the problem persists.

[2018-07-25 21:30] adamabeshouse commented on #4482
done in https://github.com/cBioPortal/cbioportal-frontend/pull/1296#discussion_r205213507

[2018-07-25 21:51] adamabeshouse commented on #4483
what if we also change the shape? right now its all circles, so we could increase the size *and* change the shape to star?

[2018-07-25 22:00] jjgao commented on #4483
@adamabeshouse Let's try to increase the size and see if it works better.

ps. @schultzn also brought up this issue.

[2018-07-25 23:10] schultzn commented on #4483
We can also slightly reduce the default size of the dots.

[2018-07-25 23:23] adamabeshouse commented on #4483
@schultzn that I dont think we can do because of wanting to display both mutation color and CNA border

[2018-07-25 23:23] adamabeshouse commented on #4483
Fixed here: https://github.com/cBioPortal/cbioportal-frontend/pull/1305 I increased the size, and also resorted the data to put highlighted dots on top in z-index

[2018-07-26 02:21] jjgao opened #4514 "testing pair of tracks instead of genes in Mutex tab"
For example, in [this query](http://www.cbioportal.org/index.do?session_id=5b592dcf498eb8b3d5671c60),

[code]

Mutex tab is still testing gene pairs, but it would be interesting to test Mutex between RAS and RAF groups.

Another example, in [this query](http://www.cbioportal.org/index.do?session_id=5b592e8a498eb8b3d5671c62),

[code]

Mutex is missing because only one gene is queried, but it would

[2018-07-26 02:28] jjgao opened #4515 "OncoPrint: option to only show clinical legends for altered samples"
We received a feature request:

When querying MSK-IMPACT study and showing cancer type clinical attribute track, there are too many different cancer types. It would be useful only show the legend for the cancer types that contain altered samples.

Can we add an option "Only for altered samples" under View -> "Show legends for clinical tracks"? By default, this option is turned off.

[2018-07-26 03:44] schultzn commented on #4514
+1

[2018-07-26 08:22] guv commented on #4513
Yes, this is reproducible for larger downloads (>100MB). Though, the time when it happens (measured in completion percentage) varies.

[2018-07-26 13:06] patidarr opened #4516 "Special characters not allowed in patient/sample names"
I have ~ in the patient and sample names, it used to work till v 1.12 but not anymore, any chance the restriction could be lifted?

Thanks,
Rajesh

[2018-07-26 13:41] jjgao commented on #4516
@patidarr we decided to normalize IDs (https://github.com/cBioPortal/datahub/issues/192) due to issues related to special characters. Please fellow the new format. Sorry for the inconvenience.

[2018-07-26 13:41] #4516 closed

[2018-07-26 13:42] jjgao commented on #4513
@guv thanks, I can reproduce it now. We will look into this.

[2018-07-26 13:42] jjgao commented on #4513
Issue moved to [cBioPortal/datahub #273](https://github.com/cBioPortal/datahub/issues/273) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-26 13:42] #4513 closed

[2018-07-26 13:51] tmazor commented on #4514
Great idea!

[2018-07-26 14:29] jjgao commented on #3058
Let's revisit this once SPA is done

[2018-07-26 14:30] #3085 closed

[2018-07-26 14:31] zhx828 commented on #2902
@jjgao we will.

[2018-07-26 14:32] jjgao commented on #3093
@sheridancbio @averyniceday I found this old thread. I thought your code was almost ready. Maybe we should find a way to finish it?

[2018-07-26 14:35] #3305 closed

[2018-07-26 14:35] #3321 closed

[2018-07-26 14:41] jjgao commented on #3325
Adding @inodb to this. We plan to add an API key before moving to Amazon.

[2018-07-26 14:44] #3342 closed

[2018-07-26 14:46] #3378 closed

[2018-07-26 14:48] jjgao commented on #3425
@pieterlukasse I think this has been fixed, right?

[2018-07-26 14:48] #3425 closed

[2018-07-26 14:51] #3454 closed

[2018-07-26 14:58] jjgao commented on #1172
@n1zea144 I am closing this one. Please feel free to reopen it.

[2018-07-26 14:59] jjgao commented on #1175
@n1zea144 closing this.

[2018-07-26 14:59] #1175 closed

[2018-07-26 14:59] jjgao commented on #1174
@n1zea144 closing.

[2018-07-26 14:59] #1174 closed

[2018-07-26 14:59] #1179 closed

[2018-07-26 15:00] #1182 closed

[2018-07-26 15:00] #1184 closed

[2018-07-26 15:00] #1197 closed

[2018-07-26 15:01] jjgao commented on #1220
closing this. Please feel free to reopen if the issue still stands.

[2018-07-26 15:05] jjgao commented on #1270
closing this but feel free to reopen.

[2018-07-26 15:05] #1270 closed

[2018-07-26 15:06] #1288 closed

[2018-07-26 15:24] alisman commented on #4507
@jj I'll fill this early next week when I'm through with 1.15.0 stuff

[2018-07-26 15:37] jjgao commented on #4502
@kalletlak could you check if case_list_category is being used in any other places. If not, let's stick to suffix for now.

[2018-07-26 16:20] jjgao commented on #4507
@alisman no hurries.

[2018-07-26 16:40] #1307 closed

[2018-07-26 16:41] #1340 closed

[2018-07-26 16:41] #1368 closed

[2018-07-26 16:43] jjgao commented on #1378
table showed up now, but not the diagram.

![image](https://user-images.githubusercontent.com/840895/43276056-844ebb0c-90d1-11e8-9494-b7fd25a6d117.png)

[2018-07-26 16:44] jjgao commented on #1406
Issue moved to [cBioPortal/datahub #275](https://github.com/cBioPortal/datahub/issues/275) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-26 16:44] #1406 closed

[2018-07-26 16:44] zhx828 opened #4518 "OncoKB: Use mutation effect from indicator call"
- [x] Use the newly exposed mutation effect field in indicator call
- [x] Remove mutation effect evidence type from evidence call

[2018-07-26 16:46] #1413 closed

[2018-07-26 16:46] jjgao commented on #1437
closing this. Please feel free to reopen.

[2018-07-26 16:46] #1437 closed

[2018-07-26 16:47] #1445 closed

[2018-07-26 16:48] #1447 closed

[2018-07-26 16:48] #1452 closed

[2018-07-26 16:49] #1459 closed

[2018-07-26 16:49] #1471 closed

[2018-07-26 16:50] #1484 closed

[2018-07-26 16:50] #1485 closed

[2018-07-26 16:50] alisman opened #4519 "Make sure sitemaps are not turned on by default (secret configuration setting)"

[2018-07-26 16:50] #1498 closed

[2018-07-26 16:51] #1501 closed

[2018-07-26 16:52] jjgao commented on #1502
here are valid characters: https://github.com/cBioPortal/datahub/issues/192

[2018-07-26 16:52] #1502 closed

[2018-07-26 16:52] #1507 closed

[2018-07-26 16:52] #1508 closed

[2018-07-26 16:55] #1612 closed

[2018-07-26 16:55] #1613 closed

[2018-07-26 16:55] #1621 closed

[2018-07-26 16:56] jjgao commented on #1626
@inodb I am closing this. Please reopen if the issue still stands.

[2018-07-26 16:56] #1626 closed

[2018-07-26 16:57] #1639 closed

[2018-07-26 16:58] #1659 closed

[2018-07-26 16:58] #1668 closed

[2018-07-26 16:59] #1671 closed

[2018-07-26 17:00] #1693 closed

[2018-07-26 17:01] jjgao commented on #1702
@fedde-s should we keep this open?

[2018-07-26 17:02] #1704 closed

[2018-07-26 17:03] #1725 closed

[2018-07-26 17:04] #1728 closed

[2018-07-26 17:04] #1739 closed

[2018-07-26 17:05] #1749 closed

[2018-07-26 17:05] jjgao commented on #1759
Issue moved to [cBioPortal/datahub #276](https://github.com/cBioPortal/datahub/issues/276) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-26 17:05] #1759 closed

[2018-07-26 17:06] #1781 closed

[2018-07-26 17:10] #1791 closed

[2018-07-26 17:11] #1810 closed

[2018-07-26 17:16] #1897 closed

[2018-07-26 17:16] #1915 closed

[2018-07-26 17:17] #1916 closed

[2018-07-26 17:17] #1917 closed

[2018-07-26 17:18] #1956 closed

[2018-07-26 17:19] #1957 closed

[2018-07-26 17:19] #1973 closed

[2018-07-26 17:21] #1985 closed

[2018-07-26 17:23] #1995 closed

[2018-07-26 17:47] alisman commented on #4496
@jjgao the reason for this is that there are many data points where expression=0 in that study.   The box bottom represents the lower quartile, and lower quartile is zero.  We are capping the expression value at 0.01, and log10(.01) is -6.xx.

In the old version of the plot, you can see that there are a number of data points on that line, but with our new seeded random # jitter calculation, the po

[2018-07-26 17:48] adamabeshouse commented on #4515
this will take an oncoprintjs library change but its definitely possible

[2018-07-26 19:04] #4440 closed

[2018-07-26 19:46] jjgao commented on #4496
I am thinking that we should probably exclude 0 for calculating the box...

Why the samples with 0 only have one dot?

[2018-07-26 20:00] alisman commented on #4496
@jjgao See note above. I'm pretty sure it has to do with the new jitter calculation.  The dots with same value end up in same place (could be rounding) and so perhaps Victory has an optimization to hide overlapping?

[2018-07-26 22:31] adamabeshouse commented on #4487
https://github.com/cBioPortal/cbioportal-frontend/pull/1305

[2018-07-27 15:49] jjgao commented on #1378
@onursumer maybe at least display a message.

Is it possible to analyze all genes and see how many more have this problem? Is it fixable from the data? cc'ing @inodb too.

[2018-07-27 15:51] jjgao commented on #4515
@adamabeshouse if it's easy to do, could you prioritize this one once 1.15 is done?

[2018-07-27 15:57] jjgao commented on #4496
@alisman I see - the random seed was based on value only. Maybe we can add a sample-related attribute to the seed, e.g. the index of the sample in the data array?

Alternatively we don't have to fix random seed in production.

[2018-07-27 15:57] jjgao commented on #4496
@alisman I remember we had some discussion earlier about not using 0s for calculating boxes but decided not to do that. Do you remember the reason?

[2018-07-27 16:02] #2029 closed

[2018-07-27 16:03] #2059 closed

[2018-07-27 16:03] #2064 closed

[2018-07-27 16:04] jjgao commented on #2070
closing this. For further questions, please contact cbioportal@googlegroups.com

[2018-07-27 16:04] #2070 closed

[2018-07-27 16:05] jjgao commented on #2092
We only support IE11 or above.

[2018-07-27 16:05] #2092 closed

[2018-07-27 16:06] jjgao commented on #207
@inodb have we done anything about this one?

[2018-07-27 16:09] #2123 closed

[2018-07-27 16:10] jjgao commented on #2145
@pieterlukasse I am closing this since it's too old. Please feel free to reopen.

[2018-07-27 16:10] #2145 closed

[2018-07-27 16:10] #2146 closed

[2018-07-27 16:10] alisman commented on #4496
@jjgao i can't remember exactly what we decided, but now it just seems weird to me to show a box which is not reflective of the scatter data on top of it, no?   just as you noticed here (though for different reason).   in this case, there was another problem which obscured the truth: seeded jitter calculation seems to place all points with equal value on top of each other.  so you didn't see a who

[2018-07-27 16:12] #2212 closed

[2018-07-27 16:29] #2266 closed

[2018-07-27 16:30] #2297 closed

[2018-07-27 16:30] #2312 closed

[2018-07-27 16:34] #2391 closed

[2018-07-27 16:37] jjgao commented on #2457
Issue moved to [cBioPortal/datahub #277](https://github.com/cBioPortal/datahub/issues/277) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-27 16:37] #2457 closed

[2018-07-27 16:43] #2463 closed

[2018-07-27 16:44] #2464 closed

[2018-07-27 16:45] jjgao commented on #2465
@ritikakundra I am closing these old thread about validator. If any of them are still there, please reopen.

[2018-07-27 16:45] #2465 closed

[2018-07-27 16:45] #2466 closed

[2018-07-27 16:45] #2467 closed

[2018-07-27 16:46] #2468 closed

[2018-07-27 16:47] jjgao commented on #2485
@mandawilson @sheridancbio should we keep this open?

[2018-07-27 16:52] alisman opened #4522 "Seeded jitter calculation produces same value for data points with equal values"
Seems like we need to make seed unique for each datapoint?  E.g. take sampleId into calculation?  Let know if you have ideas.  Right now, it seems that if datapoints have same value, they end up stacked on top of each other.

export function calculateJitter(boxWidth: number, seed:number){
    return (getRandomNumber(seed) - getRandomNumber(seed+1)) * 0.30;
}

[2018-07-27 16:54] #2493 closed

[2018-07-27 16:56] #2497 closed

[2018-07-27 16:57] #2510 closed

[2018-07-27 16:58] #2571 closed

[2018-07-27 16:59] jjgao commented on #2600
Issue moved to [cBioPortal/datahub #278](https://github.com/cBioPortal/datahub/issues/278) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-27 16:59] #2600 closed

[2018-07-27 17:00] #2653 closed

[2018-07-27 17:17] adamabeshouse commented on #4522
very good point

[2018-07-27 17:19] adamabeshouse commented on #4515
sure

[2018-07-27 17:21] adamabeshouse commented on #4522
actually it would be better to determine that based on sample id altogether rather than based on the numerical data value

[2018-07-27 17:59] alisman commented on #4522
@adamabeshouse what about

String.prototype.hashCode = function() {
  var hash = 0, i, chr;
  if (this.length === 0) return hash;
  for (i = 0; i < this.length; i++) {
    chr   = this.charCodeAt(i);
    hash  = ((hash << 5) - hash) + chr;
    hash |= 0; // Convert to 32bit integer
  }
  return hash;
};

[2018-07-27 18:03] adamabeshouse commented on #4522
that works! whered you get that from?

[2018-07-27 18:58] #4379 closed

[2018-07-27 19:05] #4412 closed

[2018-07-27 20:16] zhx828 opened #4524 "OncoKB Card only shows the first treatment for this sample"
This KIT	V654A has three treatments 1 2A, 2 2B
https://cbioportal.mskcc.org/patient?sampleId=P-0023777-T01-IM6&studyId=mskimpact

[2018-07-27 20:17] zhx828 opened #4525 "This sample has no tumor type information in mutations table"
If you have hover over KIT V654A, the tumor type shows null
https://cbioportal.mskcc.org/case.do#/patient?sampleId=P-0023777-T01-IM6&studyId=skcm_mskcc_2015_chant

[2018-07-30 08:44] rnugraha commented on #4476
We are investigating this. We've tried in a non-cbioportal playground and it's working we're still figuring out the root cause.

[2018-07-30 13:33] inodb opened #4528 "Change optional login popup to tooltip if possible"
It would be nice if instead of showing the popup to login we could have the login be more integrated with the portal. It's possible that this feature is not feasible because of technical limitations, but we should try to figure out if that's the case.

[2018-07-30 13:34] inodb commented on #4474
- The tooltip is done with `title`.
- Text has been updated

Created a new issue for potentially changing popup to tooltip:

https://github.com/cBioPortal/cbioportal/issues/4528

[2018-07-30 14:51] #4473 closed

[2018-07-30 14:51] #4470 closed

[2018-07-30 14:51] #4519 closed

[2018-07-30 15:02] alisman opened #4529 "Apply new download button style to Expression chart"

[2018-07-30 16:42] jjgao opened #4530 "different color for "Not mutated" in Plots and Expression"
@schultzn commented that when there are not many mutations, the plot looks too grayish. Maybe we can try to use some different color. The blue we used originally might not work since it's too close to green and the copy number blue. @adamabeshouse could you try another light color? Please feel free to add screenshots here for discussion.

![image](https://user-images.githubusercontent.com/840895/4

[2018-07-30 17:08] adamabeshouse commented on #4476
@rnugraha thanks. perhaps it has something to do with mobx?

[2018-07-30 17:08] #4415 closed

[2018-07-30 17:14] jjgao opened #4531 "optional log in: is it possible to stay logged in betweens sessions?"
just similar to Gmail...

[2018-07-30 17:17] adamabeshouse commented on #4530
How about if we just increase the stroke opacity to differentiate the blob

![image](https://user-images.githubusercontent.com/636232/43412308-d965b13c-93fa-11e8-9644-809958d5032a.png)

[2018-07-30 17:25] fedde-s commented on #4476
If so, one particular thing that might be worth checking, is whether any complex props are being observed *outside* of the non-MobX component and passed in as plain JavaScript data structures. Particularly passing observable arrays to non-MobX libraries has broken things for me before, and the solution was `.slice()`. But we might have discussed that already.
--
Sent from my Android device with K-

[2018-07-30 18:16] alisman opened #4532 "Plots loading behavior"
Lets have one spinner for entire leftbar of plots tab?   Right now there's just too much activity as feature loads.  I think simpler would be better.

[2018-07-30 18:41] jjgao opened #4533 "strange issues for optional login"
sometimes I logged in the study view page and than click to frontpage and see that I am not logged in. I couldn't reproduce it consistently.

[2018-07-30 20:06] jjgao commented on #4496
@alisman there are two reasons that we should consider remove 0s for calculating the boxes.

1. The artificial cap we choose for 0s affects the box.
2. When expression is 0, we don't really know whether the gene the not expressed or not covered.

[2018-07-30 20:39] alisman commented on #4496
@jjgao ok, this is deployed.  we no longer take 0 values into account

[2018-07-30 20:58] alisman opened #4534 "On plots tab, is lock the right icon for the gene select list sync?"
Maybe link would be better?

![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/7e48fe2f-d365-478a-9493-4ef23f666344)

[2018-07-30 22:08] inodb commented on #3325
@jjgao @kalletlak this adds basic auth such that we could host the session service publicly if we wanted to: https://github.com/cBioPortal/cbioportal/pull/4535

If we have one session service per portal, then we don't really need this since we can just only allow access from that one particular portal.

[2018-07-31 06:13] rnugraha commented on #4476
@adamabeshouse doesn't look like it. I've solved the placeholder issue, but there are also another issue which is unchecking is not working that seems related with the onChange event in the cbioportal code itself. Will ask you in slack.

Temporarily just like in the cbioportal-frontend master branch, the version v0.1.4 and v0.1.5 seems to work fine, maybe its better to use this version till the pr

[2018-07-31 14:04] inodb commented on #2236
So for this variant it's both splice and synonymous http://genomenexus.org/annotation/summary/7:g.55220240G%3ET and only the hgvs change of L210L is given.

[code]
We should maybe have some rule that when variantClassification is `Splice_Region` it should set hgvspShort with the `_splice` variant instead, since that effect's priority is higher than the synonymous variant

[2018-07-31 14:18] rnugraha commented on #4476
@adamabeshouse @tmazor new version of react-select-checked containing the fix has been released  (v.1.10). Could you please upgrade and revert back to us for any issues.

[2018-07-31 14:57] tmazor commented on #4480
This is still an issue - now I just see the three loading dots forever.

Go to this query:
http://www.cbioportal.org/beta/index.do?cancer_study_id=lgg_tcga&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=lgg_tcga_cnaseq&gene_list=EGFR%2520TP53%2520CIC%2520ATRX%2520PDGFRA&geneset_list=+&tab_index=tab_visualize&Action=Submit&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=lgg_tc

[2018-07-31 15:03] #4496 closed

[2018-07-31 15:05] #4484 closed

[2018-07-31 15:07] #4490 closed

[2018-07-31 15:10] #4506 closed

[2018-07-31 15:11] #4498 closed

[2018-07-31 15:11] #4499 closed

[2018-07-31 15:12] #4500 closed

[2018-07-31 15:12] #4503 closed

[2018-07-31 15:14] #4489 closed

[2018-07-31 15:17] tmazor commented on #4491
This is still happening.

Also if the solution is to remove this functionality, please delete the text on the page that says to do this:
![image](https://user-images.githubusercontent.com/10508276/43469020-46827f80-94b3-11e8-90e3-c5f8cf2d63cd.png)

[2018-07-31 15:17] #4497 closed

[2018-07-31 15:18] #4481 closed

[2018-07-31 15:18] #4482 closed

[2018-07-31 15:19] #4483 closed

[2018-07-31 15:29] tmazor commented on #2990
I am so excited to see this! But I thought this warning was only going to appear when the user explicitly includes OQL in their query. If the user doesn't use explicit OQL and just writes gene names with the default settings, then the warning is misleading, since the tab is using those same default settings. (does that make sense?)

[2018-07-31 15:33] #4479 closed

[2018-07-31 15:33] #4508 closed

[2018-07-31 15:36] tmazor opened #4537 "beta - plots - svg download cuts off legend"
The PDF download seems ok, but SVG cuts off the legend

![image](https://user-images.githubusercontent.com/10508276/43470102-c5b97356-94b5-11e8-8e68-b7ef51b5f8f2.png)

[2018-07-31 15:43] tmazor opened #4538 "beta - plots - change order of data options"
I like the change to include clinical attributes & genomic elements under one dropdown. However, the order feels awkward to me now. How about moving Gene to the bottom so the order becomes:
Data Type
Clinical Attribute / Genomic Profile selection
Gene

![image](https://user-images.githubusercontent.com/10508276/43470528-cb659b44-94b6-11e8-9975-90789cf7e6bf.png)
![image](https://user-images.githubu

[2018-07-31 15:45] tmazor opened #4539 "beta - plots - add search functionality to clinical attributes"
The old plots tab had search functionality for the list of clinical attributes - we need that feature on the refactored version also

[2018-07-31 15:47] tmazor opened #4540 "beta - plots - search mutations disappears when not colored by mutation type"
If I uncheck "Color Samples by Mutation Type", then the "Search Mutation(s)" option disappears. I don't think these need to be linked - I should be able to search for a mutation even if I haven't colored the plot by mutation type.

[2018-07-31 15:52] tmazor opened #4541 "beta - expression - pdf download fails"
Once when I clicked the PDF button it downloaded something but the file was 0 bytes. Now when I click the button nothing happens.

SVG & PNG downloads seem just fine.

[2018-07-31 15:56] tmazor commented on #2990
Also - this warning needs to be added to the Expression tab in a multi-study query. Sorry, I missed that one in my initial list of pages.

[2018-07-31 17:08] tmazor opened #4549 "mutations - clearing filters doesn't work - sometimes"
If I filter the table using the search box and then click "here" to reset the filter, nothing happens:

![image](https://user-images.githubusercontent.com/10508276/43474441-e33fdba8-94c0-11e8-8fc9-608acc648ec0.png)

http://www.cbioportal.org/index.do?cancer_study_id=lgg_ucsf_2014&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=lgg_ucsf_2014_sequenced&gene_list=TP53%2520PTEN%

[2018-07-31 17:31] tmazor opened #4550 "beta - some downloads have different fonts/sizes"
PDF looks like the image on the website:
![image](https://user-images.githubusercontent.com/10508276/43476181-e80dfc3c-94c5-11e8-8dd1-3a7f41235d83.png)

But SVG & PNG have different fonts (and maybe different text size - I can't tell since the font also changes):
![image](https://user-images.githubusercontent.com/10508276/43476208-f5bb2a4e-94c5-11e8-9dce-8cbf5ffd47e4.png)

[2018-07-31 17:35] tmazor commented on #4550
On co-expresion, the PDF looks normal but the SVG has inconsistent text - note how the axis names are much smaller text than everything else:
![image](https://user-images.githubusercontent.com/10508276/43476377-7595f37a-94c6-11e8-9924-b8332c22d286.png)

On enrichments, both SVG & PNG have the numbers along the axes in a larger font size than everything else:
![image](https://user-images.githubuser

[2018-07-31 17:36] tmazor commented on #4550
Also - is there a reason that some plots can be downloaded as PNG/SVG/PDF and others only as PDF/SVG or SVG/PNG? Can we just offer all three options everywhere?

[2018-07-31 17:41] tmazor commented on #4537
This might be related to #4550 - some of the text here (including the legend) is larger than other text, which could be why it's getting cutoff

[2018-07-31 18:20] jjgao commented on #2990
Agreed with Tali. @adamabeshouse please only show the warning when advanced OQL is used.

[2018-07-31 18:30] alisman commented on #4491
@tmazor sorry, we just didn't properly deploy this part.  it's up now.  please check again.

[2018-07-31 19:07] alisman commented on #4541
@jjgao i think we agreed a while ago that PDF download is redundant.   i've opened up a PR that does away with PDF download here.  we can merge upon confirmation

[2018-07-31 19:11] alisman commented on #4538
@jjgao can you confirm this change?

[2018-07-31 19:12] n1zea144 opened #4554 "External linking into header within News.md"
Its not currently possible to link into a header with News.md (like, [http://www.cbioportal.org/news.jsp#october72016](http://www.cbioportal.org/news.jsp#october72016)  According to @alisman the problem is that the content of news.jsp is not loaded at the time the browser tries to resolve the target. This functionality would be nice to have within the GENIE portal where News.md contains a section

[2018-07-31 19:32] jjgao commented on #4487
@adamabeshouse I moved it back to backlog.

[2018-07-31 19:41] jjgao opened #4555 "Download options"
Different tabs now have different download options.

Can we always have PNG, SVG, PDF for a plot? When appropriate, please also add Data.

[2018-07-31 19:42] jjgao commented on #4550
@tmazor I am taking this off of 1.15 since the issue is already there for Mutations tab, but we will look into this.

@alisman Let's always have PNG, SGV, PDF, Data. https://github.com/cBioPortal/cbioportal/issues/4555

please investigate if the font issue can be fixed. If it is not easy to fix, I don't think it's a high priority (@tmazor please comment if you think otherwise).

[2018-07-31 19:51] adamabeshouse commented on #2990
https://github.com/cBioPortal/cbioportal-frontend/pull/1335

[2018-07-31 19:51] jjgao commented on #4538
Agreed. Gene should be the last one. Niki also requested that: https://github.com/cBioPortal/cbioportal/issues/4432

[2018-07-31 19:53] jjgao commented on #4538
I think we can also high the Gene selector when selecting Clinical Attribute as Data Type. @adamabeshouse

[2018-07-31 19:55] jjgao commented on #4530
@adamabeshouse and I came up with one color. @adamabeshouse could you add a screenshot here for comparison?

[2018-07-31 20:05] jjgao commented on #4491
@alisman is it possible to disable to right-click functionality too?

[2018-07-31 20:08] jjgao commented on #4541
@alisman as discussed, let's try to restore PDF options for tab. It's OK if we delay this until after 1.15.

[2018-07-31 20:10] jjgao commented on #4501
- [ ] support copy number alterations
- [ ] support driver vs vus
- [ ] use the same/similar tooltip as Plots

[2018-07-31 20:32] adamabeshouse commented on #4534
I like that idea @jjgao
How about `Same gene (KRAS)`

[2018-07-31 20:34] adamabeshouse commented on #4538
this should affect the text used here as well https://github.com/cBioPortal/cbioportal/issues/4534

[2018-07-31 20:35] adamabeshouse commented on #4538
the semantic issue with this is that the gene selected determines which data type and profiles are available. thoughts @tmazor @jjgao ?

[2018-07-31 20:35] jjgao commented on #4491
but it still opens the SBGNViz.js page for me...

[2018-07-31 20:36] jjgao commented on #4534
@adamabeshouse better!

[2018-07-31 20:39] jjgao commented on #4538
@adamabeshouse that's a good point. One option would be to display the number of samples with data for the gene and then we can display all profiles including the ones with 0 samples with data.

[2018-07-31 20:43] adamabeshouse commented on #4538
it could still be confusing eg if you have a profile selected then you change the gene then that profile no longer has data so we auto-select a different profile. it makes more sense to have gene on top since the flow of info really does come from the gene.

[2018-07-31 20:45] adamabeshouse commented on #4530
![image](https://user-images.githubusercontent.com/636232/43486134-060ef54a-94e1-11e8-9eff-e5fa2b7650a6.png)

![image](https://user-images.githubusercontent.com/636232/43486146-0c2a2580-94e1-11e8-8352-0a411a27f146.png)

![image](https://user-images.githubusercontent.com/636232/43486157-15546fda-94e1-11e8-9405-8d53a81477bc.png)

![image](https://user-images.githubusercontent.com/636232/43486164-1b4

[2018-07-31 20:50] jjgao commented on #4491
It's fixed after clearing cache.

[2018-07-31 20:55] tmazor commented on #4550
@jjgao this is actually new to Mutations tab on beta. Downloading from Mutations tab on production looks just like the image on the site no matter the format.

[2018-07-31 21:01] adamabeshouse commented on #4480
interestingly this is precisely the scenario I was referring to in https://github.com/cBioPortal/cbioportal/issues/4538

[2018-07-31 21:39] alisman opened #4556 "Tweaks to plots tab box plot styles"
1 - increase spacing between boxes slightly
2 - add median line for categories with just one sample (maybe not necessary)
3 - reduce empty space at the right of the plot slightly

![image](https://user-images.githubusercontent.com/186521/43534548-a4eee626-9585-11e8-8869-de8284ccd7e1.png)

[2018-07-31 21:40] schultzn opened #4557 "Optimize clinical track data counts API and reenable it in oncoprint"
I am testing the new clinical track feature in OncoPrints on a slow internet, and the track availability feature seems to be very slow. OncoPrint loads very quickly, but the clinical tracks don't show up for large studies (internal MSK-IMPACT), even when selecting just a subset of the data set.

![image](https://user-images.githubusercontent.com/11892704/43488652-69f8fee6-94e8-11e8-9200-eb586b198c

[2018-07-31 22:34] zhx828 commented on #4533
@jjgao I have difficulty to reproduce the issue. Could you give us more details including the browser, version?

[2018-07-31 23:35] adamabeshouse commented on #4539
@alisman adding "searchable" or "isSearchable" to ReactSelect isnt working. any insight as to why that is? i cant figure any difference in usage from CaseSetSelector where there is search

[2018-07-31 23:43] adamabeshouse commented on #4550
When looking at the downloaded svg vs the one in the browser, for some reason the downloaded svg has dropped the 'font-size' style in the downloaded version, while keeping the other styles (as far as I can tell). I'll look into it. @alisman does this ring any bell for you?

[2018-07-31 23:44] adamabeshouse commented on #4537
@tmazor that seems to be the issue. I'll mark this as a duplicate

[2018-08-01 02:03] jjgao commented on #4538
@adamabeshouse we don't have perfect solution here. Having Gene on top is also confusion because Clinical data does not depend on gene. (maybe that's reason had clinical data and genomic data separate in the fist place.)

I am wondering if we move gene between data type and profile? (Is data type also determined by gene?)

![image](https://user-images.githubusercontent.com/840895/43496720-e5888a8a

[2018-08-01 02:04] jjgao commented on #4530
Thanks, @adamabeshouse

@tmazor @schultzn any comments about the colors (gray vs light blue)?

[2018-08-01 02:09] jjgao commented on #4480
This is getting too complex. Maybe we should not be too smart about changing the dropdown menu items and simply show a message on the right that we don't have data in xx profile for xx gene?

[2018-08-01 02:10] jjgao commented on #4538
commented in #4480 too. "This is getting too complex. Maybe we should not be too smart about changing the dropdown menu items and simply show a message on the right that we don't have data in xx profile for xx gene?" This will avoid the auto-selection issue @adamabeshouse mentioned...

[2018-08-01 02:13] jjgao commented on #4557
@adamabeshouse let's discuss this and see there is a way to improve the API performance.

[2018-08-01 02:14] jjgao commented on #4557
If not we should exclude this from this release.

[2018-08-01 02:16] jjgao commented on #4533
@zhx828 don't worry about this for now. I think if you can fix https://github.com/cBioPortal/cbioportal/issues/4531, this one should not be a problem.

[2018-08-01 08:15] schultzn commented on #4530
I like the one below. I don't think we need to color code the dots when we already have copy-number categories.

![image](https://user-images.githubusercontent.com/11892704/43509712-6565d918-9541-11e8-93cb-28d2c62cb948.png)

[2018-08-01 14:13] jjgao commented on #4530
@schultzn thanks.

@adamabeshouse could you disable coloring by copy number alterations when discrete copy number data is plotted?

[2018-08-01 14:15] jjgao opened #4559 "hide/disable coloring by copy number alterations when discrete copy number data is plotted"
see discussion https://github.com/cBioPortal/cbioportal/issues/4530#issuecomment-409490791

[2018-08-01 16:34] #4533 closed

[2018-08-01 16:52] jjgao commented on #4556
@adamabeshouse while you are on this, could you also tilt the x-axis label a little more?

[2018-08-01 17:55] adamabeshouse commented on #4538
@jjgao data type also depends on gene, available data types depends on available profiles.

i have a message set up that does that, it just says "no data to plot". We can go back to that and that way put "Gene" on the bottom. what do you think?

[2018-08-01 17:57] adamabeshouse commented on #4557
yes the API is very slow, that's the same reason I excluded clinical track availability from the plots tab, I couldnt find a way to decouple it from the general tab loading. we need @ersinciftci

[2018-08-01 17:59] adamabeshouse commented on #4530
sure

[2018-08-01 18:07] adamabeshouse commented on #4556
@jjgao I had it to match cancer type summary. let me know how you would like it

[2018-08-01 18:13] adamabeshouse commented on #4559
https://github.com/cBioPortal/cbioportal-frontend/pull/1337

[2018-08-01 19:23] jjgao opened #4561 "Beta -- View 3D Structure is not work in MutationMapper"

[2018-08-01 19:26] jjgao commented on #4561
It affects Mutations tab too!

[2018-08-01 19:58] adamabeshouse commented on #4557
i just merged a PR disabling this functionality. I changed the title of this issue so that its reenabling it later

[2018-08-01 21:09] tmazor commented on #4491
Works for me now too!

[2018-08-01 21:09] #4491 closed

[2018-08-01 21:13] tmazor commented on #4530
that light blue looks good to me too

[2018-08-01 21:16] tmazor commented on #4534
I like this too!

[2018-08-01 21:24] tmazor commented on #4480
Agreed this is getting very complicated. I think JJ's suggestion above is the way to go. We can list all profiles that have data for any of the queried genes and then if the user selects a profile/gene combination that doesn't have data, we show a message where the plot would otherwise appear saying that the data doesn't exist.

[2018-08-01 21:25] #2991 closed

[2018-08-01 22:55] adamabeshouse commented on #4480
that's already done so once we no longer filter by data availability we'll be good. im closing this because its handled in https://github.com/cBioPortal/cbioportal/issues/4538

[2018-08-01 22:55] #4480 closed

[2018-08-02 00:03] adamabeshouse commented on #4538
as discussed in person, we're not going to filter options by data availability anymore. that will make it unproblematic to move the gene selector to the bottom

[2018-08-02 10:26] sandertan commented on #4502
@kalletlak @jjgao We received a report from a client about a bug in 1.14.0 that sometimes displays this message:
<img width="990" alt="screen shot 2018-08-02 at 12 06 41" src="https://user-images.githubusercontent.com/9624990/43578018-d94c2140-964d-11e8-872d-87401f5bbe74.png">

This is a patient with only clinical data. Case lists were generated with `add_global_case_list: true`. Unfortunately, th

[2018-08-02 14:09] inodb opened #4564 "gistic data appears twice in docs, both for continuous and once for discrete"
See: https://github.com/cBioPortal/cbioportal/pull/4536 `docs/File-Formats.md`

Not sure if this is correct

[2018-08-02 15:59] #4426 closed

[2018-08-02 16:00] #4474 closed

[2018-08-02 16:12] jjgao opened #4565 "Error when navCaseIds is too long"
![image](https://user-images.githubusercontent.com/840895/43596321-02d99728-964d-11e8-89f9-a9645c905627.png)

e.g. [this link](http://www.cbioportal.org/beta/patient?studyId=nsclc_tcga_broad_2016&caseId=LUAD-2GUGK&navCaseIds=LUAD-2GUGK,LUAD-5O6B5,LUAD-5V8LT,LUAD-74TBW,LUAD-AEIUF,LUAD-B00390,LUAD-B00416,LUAD-B00523,LUAD-B00631,LUAD-B00859,LUAD-B00915,LUAD-B01024,LUAD-B01102,LUAD-B01145,LUAD-B01246,

[2018-08-02 16:14] jjgao opened #4566 "navCaseIds Prev/Next icons are gone"
e.g. http://www.cbioportal.org/beta/patient?studyId=nsclc_tcga_broad_2016&caseId=LUAD-2GUGK&navCaseIds=LUAD-2GUGK,LUAD-5O6B5

[2018-08-02 16:17] jjgao commented on #4566
Looks like this works: http://www.cbioportal.org/beta/patient?studyId=nsclc_tcga_broad_2016&caseId=LUAD-2GUGK#navCaseIds=LUAD-2GUGK,LUAD-5O6B5

We need to change the link from study view.

[2018-08-02 16:18] jjgao commented on #4565
ah, it's already supported. The link in study view is wrong.

We need to change to: http://www.cbioportal.org/beta/patient?studyId=nsclc_tcga_broad_2016&caseId=LUAD-2GUGK#navCaseIds=LUAD-2GUGK,LUAD-5O6B5

[2018-08-02 16:18] #4565 closed

[2018-08-02 20:05] jjgao opened #4568 "remove cancerTypeId under Sample endpoints"
Currently cancerTypeId only reflects the study cancer type instead of the real cancer type in the clinical data. I should remove it from the API. (Maybe from the database too -- but not so urgent.)

[2018-08-02 20:39] jjgao opened #4569 ""Profiled in ..." track should not be displayed automatically of all samples are profiled"
http://www.cbioportal.org/beta/index.do?session_id=5b636bb4498eb8b3d56738b6

![image](https://user-images.githubusercontent.com/840895/43609641-9cda6c74-9672-11e8-9a12-2b543430d0df.png)

[2018-08-02 21:07] jjgao opened #4570 "is there a way to reorder endpoints in swagger-ui.html"
currently it's alphabetical. Ideally we should order them in a way that reflect the data, e.g. https://github.com/cBioPortal/cbioportal/blob/jjgao-patch-api-doc/docs/cBioPortal-Web-API.md. Is that possible?

[2018-08-02 22:12] chaelir opened #4571 "metaImport.py bug: wrong to err while checking patient file with only the required PATIENT_ID column"
DEBUG: data_clinical_patient.txt: Starting validation of file
ERROR: data_clinical_patient.txt: Not a valid tab separated file. Check if all lines have the same number of columns and if all separators are tabs.

data_clinical_patient.txt

#Assay identifier
#sBioPortal
#STRING
#1
PATIENT_ID
skbr3_control
skbr3_treated

Fix: I added more meaningless columns fixed this.

There is no need to enforce t

[2018-08-02 22:20] jjgao opened #4572 "add entrezGeneId parameter in getMutationsInMolecularProfileBySampleListIdUsingGET"
http://www.cbioportal.org/api/swagger-ui.html#/Mutations/getMutationsInMolecularProfileBySampleListIdUsingGET

[2018-08-03 03:12] #4428 closed

[2018-08-03 03:13] #4430 closed

[2018-08-03 03:13] #4429 closed

[2018-08-03 03:14] #4454 closed

[2018-08-03 14:19] jjgao commented on #4561
I am closing this. @inodb could you create an issue about your dirty fix (all functionality seem working!) and @onursumer can take a look later. Thanks.

[2018-08-03 14:19] #4561 closed

[2018-08-03 14:51] inodb opened #4573 "Clean up dirty fix 3d structures"
Dirty fix for release 1.15.0 to make 3d structures show up should be done properly:

https://github.com/cBioPortal/cbioportal-frontend/pull/1348

[2018-08-03 14:51] inodb commented on #4561
@jjgao ok: https://github.com/cBioPortal/cbioportal/issues/4573

[2018-08-03 17:06] tmazor commented on #2990
Looks great! One final piece though - this warning needs to be added to the Expression tab also

[2018-08-03 17:08] tmazor opened #4574 "beta - expression - can't switch between genes"
When I click on ESR1 or IDH1, nothing changes - the plot still shows EGFR:
![image](https://user-images.githubusercontent.com/10508276/43655802-10a3c5c8-971e-11e8-9bc4-f0f8d2e4d68f.png)
http://www.cbioportal.org/beta/index.do?cancer_study_id=all&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=all&gene_list=EGFR%2520ESR1%250AIDH1%253AMUT%253DR132C&geneset_list=%20&tab_index=t

[2018-08-03 17:14] #4487 closed

[2018-08-03 17:21] tmazor commented on #4540
When color by mutation type is unchecked, the search box appears now, but the search doesn't seem to happen -- the samples don't change in size:
![image](https://user-images.githubusercontent.com/10508276/43656337-11774310-9720-11e8-839f-4bacf41edcbe.png)

![image](https://user-images.githubusercontent.com/10508276/43656322-038b98fa-9720-11e8-89b4-6c55884b9bf3.png)

[2018-08-03 17:23] tmazor commented on #4476
Looks good to me!

[2018-08-03 17:23] #4476 closed

[2018-08-03 17:31] tmazor commented on #4539
This is great! One small thing which might just be me, but... can we make the text in the box grey when the dropdown is opened? I think it might make it slightly more intuitive that it's searchable and you can type over the text.
![image](https://user-images.githubusercontent.com/10508276/43656694-549cc100-9721-11e8-8981-61ebcdf01d83.png)

[2018-08-03 17:33] tmazor commented on #4538
I like it! Maybe this gets us back into the too complex realm but when the horizontal axis is a clinical attribute, the vertical axis ideally would say just the gene name and not "same gene":
![image](https://user-images.githubusercontent.com/10508276/43656809-c3327f06-9721-11e8-9e6f-67ee2884ed49.png)

[2018-08-03 17:35] tmazor commented on #4485
Scrollbar is great!

[2018-08-03 17:35] #4485 closed

[2018-08-03 17:37] adamabeshouse commented on #4538
@tmazor I thought of that but then does that mean we should have two options in the menu at that time, both with the same gene?

[2018-08-03 17:40] tmazor commented on #4538
I think ideally the "Same gene" option would disappear from the menu and the selection would move to be just the gene name.

[2018-08-03 17:49] adamabeshouse commented on #4538
@tmazor I guess thats fine. if they change the gene then thats where itll sit when the horizontal axis is restored. if not then it'll restore to 'Same gene' when the horizontal axis is restored.

[2018-08-03 17:57] tmazor opened #4575 "beta - plots - remove search/comment about mutations when plotting only clinical attributes"
The mutation search box & the "* Driver annotation settings..." comment shouldn't be visible when both axes are clinical attributes
![image](https://user-images.githubusercontent.com/10508276/43657816-e331f194-9724-11e8-9cb7-d23da474c369.png)

[2018-08-03 18:00] tmazor opened #4576 "beta - plots - mis-aligned boxplot when only one box exists"
It's all centered on top of the axis:
![image](https://user-images.githubusercontent.com/10508276/43657971-51a93786-9725-11e8-9086-e9bba34ef311.png)
http://www.cbioportal.org/beta/index.do?cancer_study_id=lgg_ucsf_2014&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=lgg_ucsf_2014_sequenced&gene_list=SMARCA4%2520CIC&geneset_list=%20&tab_index=tab_visualize&Action=Submit&g

[2018-08-03 18:09] tmazor commented on #4538
that sounds good to me @adamabeshouse

[2018-08-03 18:13] adamabeshouse commented on #4539
@tmazor its not just you, @alisman and I were talking about the same thing. Not ideal style choice by ReactSelect.

[2018-08-03 18:19] alisman opened #4577 "Get rid of all glyphicons"

[2018-08-03 19:36] jjgao opened #4578 "angles of x-axis label in plots, expression, cancer-type-summary (any other tabs)"
@alisman maybe we can try to improve them. Different people may have different taste. Maybe we can do some screenshots here?

[2018-08-03 19:37] jjgao commented on #4556
@adamabeshouse I logged the label angle issue: https://github.com/cBioPortal/cbioportal/issues/4578

[2018-08-03 19:39] #4530 closed

[2018-08-04 07:57] schultzn commented on #2990
What about the mutual exclusivity tab? We should probably make it clear there that only events specified by OQL are included in the comparison.

Maybe simply add:

This tab reflects the OQL specification from your query.

What do you think?

[2018-08-04 08:04] schultzn opened #4579 "August 6th News: color of Total Mutations and Fraction Genome Altered"
Should we show Total Mutations and Fraction Genome Altered in regular black font? Not sure why it is red.

I also suggest some small tweaks to the News items, see below:

- The eighth phase of the cBioPortal architectural upgrade is now complete: The Plots, Expression, Network, and Bookmarks tabs, and therefore all analysis tabs on the Results page, have been moved to the new architecture.
- Updat

[2018-08-04 08:08] schultzn opened #4580 "Plots tab: move x-axis labels in box plots"
This is very minor, but is there a way to
1) move the x-axis labels of box plots categories slightly lower to create some space between the text and the x-axis
and
2) move the x-axis label up when there is white space, like in the image below?

![image](https://user-images.githubusercontent.com/11892704/43674075-db53f2e8-979b-11e8-8f81-289e0ccaff95.png)

[2018-08-04 20:38] jjgao commented on #2990
@schultzn how about other tabs, e.g. Enrichments and Survival? Maybe we should add a banner to every tab to indicate whether or not OQL is reflected?

[2018-08-04 20:57] jjgao opened #4581 "move legend to top in Plots tab?"
I don't quite like the scrollbar on top in the plots tab. For example, one common use case of the plots tab (and other visualizations in the portal) is that people would just take screenshots and paste in slides. With scrollbar, we cannot do a screenshot of the full figure.

Can we move the legend to the top similar to Expression tab? Alternatively, we could also reduce the size of the plot.

![im

[2018-08-04 20:59] jjgao commented on #4579
updated.

[2018-08-04 20:59] #4579 closed

[2018-08-05 00:52] alisman commented on #4581
@jjgao @adamabeshouse we can certainly try to compress things.  Unless there is a hard limit to the # of items on x axis though, we can't gaurantee that things will fit in user's browser.  Same situation for Cancer Type Summary tab where there's no limit on study # or type #.  So I think there has to be scrolling.   When me move to SPA, we won't have fixed width so will be able to rely on window's

[2018-08-05 12:59] jjgao commented on #4581
@alisman it's ok to use a scrollbar if there are many items on x-axis. But since CNA vs mRNA is the default plot, we should at least be able to fit 5 items on axis + legend.

[2018-08-05 15:42] alisman commented on #4581
agreed, we should tune it so scroll bar is only necessary in extreme cases.  @adamabeshouse

[2018-08-06 07:02] fedde-s commented on #2374
Given that my questions for clarification have been unanswered for over a year, I'll assume that this is no longer an issue.

[2018-08-06 07:02] #2374 closed

[2018-08-06 07:07] fedde-s commented on #1702
I haven't personally run into problems with this lately, but I haven't much been involved with data curation or maintenance of the data loading pipeline. I haven't noticed it being solved though, so if it does still bother someone who has (e.g. @sandertan), they could re-open it or report a more targeted issue.

[2018-08-06 07:07] #1702 closed

[2018-08-06 08:42] fedde-s commented on #3960
Is anyone still running in to this at all? I'd made a note on my backlog, but haven't heard anyone complain about it for about five months now. Re-open or define a new issue if you do have more info.

[2018-08-06 08:42] #3960 closed

[2018-08-06 09:15] sandertan opened #4582 "Sample data fetched before sample ID is retrieved"
In a local instance, sometimes the message "Can't find patient X in study Y" appears, while the patient including clinical data is present. I have not been able to reproduce this on the public portal.

In the example below, only clinical data is available for the patient, but this also appeared for other patients that have genomic data available.

<img width="990" alt="screen shot 2018-08-02 at 12

[2018-08-06 13:31] #4576 closed

[2018-08-06 13:32] #4575 closed

[2018-08-06 13:34] #4574 closed

[2018-08-06 13:39] #4540 closed

[2018-08-06 13:39] tmazor commented on #4539
That looks so much better now!

[2018-08-06 13:39] #4539 closed

[2018-08-06 13:41] #4538 closed

[2018-08-06 13:44] tmazor opened #4583 "beta - plots - correlations are in a different font"
Pearson & Spearman are in a different font than all the other text

![image](https://user-images.githubusercontent.com/10508276/43719978-3560f228-995d-11e8-8623-e0149aa61df8.png)

[2018-08-06 13:50] tmazor commented on #4583
Co-Expression has the same issue:
![image](https://user-images.githubusercontent.com/10508276/43720290-15e5df5c-995e-11e8-8331-526db646b20a.png)

[2018-08-06 13:57] tmazor commented on #4559
If copy number is plotted against a clinical attribute, then the copy number coloring returns:
![image](https://user-images.githubusercontent.com/10508276/43720807-1a4b44d2-995f-11e8-9d73-700c8ace8102.png)
http://www.cbioportal.org/beta/index.do?cancer_study_id=lgg_tcga&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=lgg_tcga_cnaseq&gene_list=EGFR%2520PDGFRA%2520TP53&gen

[2018-08-06 14:57] jjgao commented on #4582
@alisman @inodb any insights?

[2018-08-06 15:04] tmazor opened #4584 "oncoprint - pdf download - expression heatmap legend is missing"
Not sure if this is related to #4550 , but the expression heatmap legend is missing in the PDF download. SVG & PNG downloads are fine.

![image](https://user-images.githubusercontent.com/10508276/43724508-26d3a20e-9968-11e8-9365-49fe5b03b8ff.png)

[2018-08-06 15:05] alisman commented on #4582
I think I may have seen this when using local dev server and you edit a file, get a hot reload, and then this message shows up.  does that sound familiar?

[2018-08-06 15:08] alisman commented on #4584
@tmazor is this true in current production as well?

[2018-08-06 15:25] tmazor opened #4586 "coexpression - pancan atlas missing log2 option"
PanCan Atlas studies have two mRNA expression studies. When the "batch normalized" one is selected, co-expression has an option to log scale the plot. When the other one is selected, there is no log option:
![image](https://user-images.githubusercontent.com/10508276/43725640-17b2dc6a-996b-11e8-8136-7f21f2c892a0.png)
<br>
![image](https://user-images.githubusercontent.com/10508276/43725651-1cfbd79e

[2018-08-06 15:40] ersinciftci commented on #4557
The problem with this endpoint is that we can't get a count directly from the database because it's a comma separated list in the database, so we need to get all the data, parse, exclude 'NA's and then count. so it's not faster than getting the data itself, even though we return only the count. I'll profile and see if there is any fixable bottleneck in the Molecular Data endpoints in general.

[2018-08-06 15:50] jjgao commented on #4582
Maybe it's related to the two failed fetch? We saw this warning earlier when the page failed some AJAX call.

[2018-08-06 15:54] tmazor commented on #4584
Yes this is on production.

But also, it's slightly more complicated than I realized. If there are no clinical tracks, then the PDF includes the expression heatmap legend. It's only when I add a clinical track that the expression heatmap legend disappears.

[2018-08-06 15:58] ersinciftci commented on #4557
Actually seems like I misunderstood, I thought this was related to https://github.com/cBioPortal/cbioportal/issues/4431, but apparently it's related to Clinical Data, not Molecular Data. I'll check.

[2018-08-06 16:07] jjgao commented on #4586
It may be related to this: https://github.com/cBioPortal/datahub/pull/239

[2018-08-06 17:14] adamabeshouse commented on #4581
The only way to do this is decrease the box size or move the legend. let me know what you think

[2018-08-06 17:32] alisman commented on #4581
If it's true that there can be great variability in length of x axis, then I think we should do both.  Cancer type summary has two different box widths.  When we reach a certain threshold, we switch to skinnier.

[2018-08-06 17:34] jjgao commented on #4581
@adamabeshouse I think it's ok to reduce the box size a little.

[2018-08-06 18:44] adamabeshouse commented on #4586
this is the logic we're using in coexpression tab to determine whether log scale checkbox will show

[code]

[2018-08-06 18:45] adamabeshouse commented on #4586
same thing in plots tab, written differently
[code]

[2018-08-06 19:50] adamabeshouse commented on #4581
@alisman @jjgao should we move the legend to the top for scatterplot as well? and in coexpression tab too?

[2018-08-06 19:54] jjgao opened #4588 "make the oncoprint attribute selector a component"
... so that it can reused in Plots tab and Study view page.

[2018-08-06 20:17] adamabeshouse commented on #4584
im almost sure this has to do with the pdf converter not handling svg gradient elements properly. ill double check

[2018-08-06 20:27] #4557 closed

[2018-08-06 20:34] jjgao opened #4589 "improving sql for clinical-attributes/counts/fetch"
The sql can be improved. For example `(cancer_study.CANCER_STUDY_ID, sample.INTERNAL_ID) IN (...)` is not necessary. `sample.INTERNAL_ID` should be enough. And maybe `IN` is not necessary -- could just join the tables, so that we don't have to join the sample_list and study table twice.

[code]

[2018-08-06 21:01] jjgao commented on #4586
The profile ID is `acc_tcga_pan_can_atlas_2018_mrna`. Let's wait for @yichaoS to fix the data.

[2018-08-06 21:06] adamabeshouse commented on #4586
okay, so i'll take myself off this issue

[2018-08-06 21:18] zhx828 opened #4590 "IndexOutOfBoundsException on gene panel endpoint"
The following study's gene pane endpoint is failing with indexOutOfBounds Exception
https://cbioportal.mskcc.org/beta/study?id=acyc_jhu_unpub%2Cacyc_sanger_2013%2Cacbc_mskcc_2015%2Cacyc_sanger_unpub%2Cacyc_mda_2015%2Cacyc_mskcc_2013#summary

https://sentry.io/memorial-sloan-kettering/cbioportal-backend/issues/634196330/?referrer=slack

[2018-08-06 21:19] jjgao opened #4591 "questions about mRNA data in pancan studies"
There are four mRNA profiles per study, e.g. for ACC below.

STABLE_ID | GENETIC_ALTERATION_TYPE | DATATYPE | NAME | DESCRIPTION | SHOW_PROFILE_IN_ANALYSIS_TAB
-- | -- | -- | -- | -- | --
acc_tcga_pan_can_atlas_2018_mrna | MRNA_EXPRESSION | CONTINUOUS | mRNA Expression from Illumina HiSeq_RNASeqV2 | mRNA Expression from Illumina HiSeq:   https://www.synapse.org/#!Synapse:syn4874822.6 | 0
acc_tcga_

[2018-08-06 21:20] jjgao commented on #4591
Issue moved to [cBioPortal/datahub #288](https://github.com/cBioPortal/datahub/issues/288) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-06 21:20] #4591 closed

[2018-08-06 21:22] zhx828 opened #4592 "Study View should give error message when API failed"
This relates to #4586

[2018-08-06 21:37] alisman commented on #4581
@adamabeshouse I think wherever a chart has no fixed width, we should probably have legend at top.  @jjgao agree?

[2018-08-06 22:07] jjgao commented on #4581
@alisman agreed. But maybe we can do that after the release if it take a bit time?

[2018-08-06 22:09] jjgao commented on #4584
Maybe it's time to look for a js version of svg2pdf again?

[2018-08-06 22:41] inodb opened #4593 "Improve Session Service Configuration"
- [ ] `session.service.url` doesn't work without trailing slash `session.service.url=the/url/to/session-service`. Prolly good to add this automatically if it's missing.
- [ ] Maybe do some check on startup whether session service actually works. It takes quite a lot of steps to figure out whether it's actually operational

[2018-08-06 22:42] #4559 closed

[2018-08-06 22:42] #4583 closed

[2018-08-06 22:43] #4580 closed

[2018-08-06 23:25] adamabeshouse commented on #4584
@jjgao maybe that is the answer to our pdf woes in general. but for this particular issue i just published a workaround in the oncoprintjs library that seems to work. @tmazor could you check it out? `localStorage.heroku='cbioportal-frontend-pr-1359'`

[2018-08-07 12:57] tmazor commented on #4584
Yup, that's fixed the problem - PDF download now includes the heatmap legend!

[2018-08-07 12:57] #4584 closed

[2018-08-07 14:53] #4466 closed

[2018-08-07 15:02] jjgao commented on #4493
@adamabeshouse thanks for the fix. Please also apply this to other data types, CNA, mRNA, protein.

![image](https://user-images.githubusercontent.com/840895/43784013-198a261c-9a31-11e8-8361-c3eaa847a73d.png)

Please also add a space after comma (,).

![image](https://user-images.githubusercontent.com/840895/43784120-5f4b7a84-9a31-11e8-9cd5-148ed165dca7.png)

[2018-08-07 15:51] jjgao opened #4595 "add banner to tab that reflect OQL too"
When OQL is used, let's add banner to all tabs.

- [ ] for tabs that respect OQL, add `This tab reflects the OQL specification from your query.` with green text. Already fixed in https://github.com/cBioPortal/cbioportal/issues/2990 except for the color.
- [ ] for tabs that do not respect OQL, add `This tab does not reflects the OQL specification from your query.` with red (?) color.

@adamabeshous

[2018-08-07 15:51] jjgao commented on #2990
created another issue - see above.

[2018-08-07 15:51] #2990 closed

[2018-08-07 15:52] #4566 closed

[2018-08-07 15:53] #4534 closed

[2018-08-07 15:54] #4550 closed

[2018-08-07 15:54] #4537 closed

[2018-08-07 15:55] #4532 closed

[2018-08-07 15:55] #4522 closed

[2018-08-07 15:57] #4472 closed

[2018-08-07 15:59] #4529 closed

[2018-08-07 16:00] #4556 closed

[2018-08-07 16:02] jjgao commented on #4531
@zhx828 do we need to change the tomcat start script?

[2018-08-07 16:04] jjgao commented on #4528
@kalletlak could you help look into this? Maybe we can try to use an i-frame?

[2018-08-07 16:43] zhx828 commented on #4531
@jjgao yes, but only when we deploy the optional login. @inodb I will remind you again when we decide to release optional login. Then you could update our deployment script by adding `-Dtomcat.session.timeout=43200` This is a 30 days timeout.

[2018-08-07 18:47] kalletlak opened #4597 "Study View /clinical-data-counts/fetch api not returning currect results"
`curl -X POST "http://www.cbioportal.org/beta/api/attributes/AJCC_PATHOLOGIC_TUMOR_STAGE/clinical-data-counts/fetch?clinicalDataType=PATIENT" -H "accept: application/json" -H "Content-Type: application/json" -d '{"studyIds":["hnsc_tcga","acc_tcga"]}'`
returns
[code]
but applying filter(filtering only one study) returns different values. example `Stage IV` which was not returned when there are no f

[2018-08-07 19:09] #3021 closed

[2018-08-07 20:02] jjgao opened #4599 "NaN% in clinical attribute selector"
![image](https://user-images.githubusercontent.com/840895/43799259-0543187e-9a5b-11e8-9f0e-543fa12bb682.png)

[2018-08-07 20:32] adamabeshouse commented on #4599
@jjgao link?

[2018-08-07 21:02] jjgao commented on #4599
http://www.cbioportal.org/index.do?session_id=5aa93a8e498eb8b3d56533e8

[2018-08-07 21:28] #4493 closed

[2018-08-07 21:49] adamabeshouse commented on #4595
![image](https://user-images.githubusercontent.com/636232/43804487-2eba4632-9a6a-11e8-86ef-ab80fce4c681.png)

[2018-08-07 22:05] alexsigaras opened #4600 "LDAP Authentication no longer working"
## Versions
Latest version working: 1.13.2
Versions tested but not working: 1.14.0, 1.14.1, 1.15.0

## Problem Definition
When upgrading to the latest cBioPortal versions, the LDAP authentication has stopped working throwing a redirection error for POST /cbioportal/j_spring_security_check.

LDAP configuration is made by changing portal.properties without any additional files or custom configuratio

[2018-08-07 22:06] alexsigaras commented on #4600
@inodb could you help me bring this to the attention of someone from the team that would know more how to help?

Thanks

[2018-08-07 22:08] inodb commented on #4600
Sure! @pieterlukasse @n1zea144 any clue about this one?

[2018-08-07 22:20] #2236 closed

[2018-08-07 22:50] jjgao commented on #4595
@adamabeshouse I like the colors!

[2018-08-07 22:56] yichaoS opened #4601 "Allow multiple PMIDs"
As discussed with @jjgao , the PMID field in meta_study.txt for pancan studies now contains multiple IDs, and the meta_study.txt looks like this screenshot below:
![screen shot 2018-08-07 at 6 47 50 pm](https://user-images.githubusercontent.com/5973438/43806547-672ff324-9a72-11e8-9db5-1e755ebcbc34.png)

Therefore, the PUBMED icon in query form
![screen shot 2018-08-07 at 6 52 59 pm](https://user-i

[2018-08-07 23:09] adamabeshouse commented on #4595
@jjgao I'm a little worried red is too alarming.. I was playing with bootstrap alerts. what do you think of this?

![image](https://user-images.githubusercontent.com/636232/43807205-5fa5a7fe-9a75-11e8-9608-48414d47ee4f.png)

![image](https://user-images.githubusercontent.com/636232/43807194-4e48f81c-9a75-11e8-9540-b6f40e7bf597.png)

[2018-08-07 23:13] adamabeshouse commented on #4595
here it is thinner
![image](https://user-images.githubusercontent.com/636232/43807328-ef5e2114-9a75-11e8-9063-729fea25e600.png)

![image](https://user-images.githubusercontent.com/636232/43807336-f5c5958c-9a75-11e8-8a68-e3a85d843822.png)

[2018-08-07 23:16] adamabeshouse commented on #4595
@jjgao so every other tab that we havent already added the 'no' banner to will get a 'yes' banner? are there any excluded, besides network, CN segments, download?

[2018-08-08 02:37] jjgao commented on #4601
Thanks, @yichaoS. Please remove the space after comma (,) in meta file.

Do you know if validator needs to change?

[2018-08-08 02:40] jjgao commented on #4595
@adamabeshouse I think the blue version is too quiet. Maybe change the warning icon to yellow?

[2018-08-08 02:40] jjgao commented on #4595
@adamabeshouse could you list all tabs here and the current yes/no banner assignments?

[2018-08-08 09:52] sandertan commented on #4601
The validator currently checks the length of PMID value (max 20 chars).

[2018-08-08 12:47] tmazor opened #4602 "OQL page has weird characters"
![image](https://user-images.githubusercontent.com/10508276/43837764-87c675c0-9ae7-11e8-9d45-a1912ed33964.png)

[2018-08-08 14:48] sandertan commented on #4601
@yichaoS is there a PR to update the DB schema? What should the validator check?

[2018-08-08 14:52] yichaoS commented on #4601
@sandertan The DB schema needs to change. It is listed one of the checklist items. I guess the validator just need to change the length check of PMID field. @jjgao I suggest the length in DB schema change to 100.

[2018-08-08 18:12] adamabeshouse commented on #4602
ugh we've been having this problem before. I thought we were done with this. it has something to do with the markdown converter

[2018-08-08 18:25] adamabeshouse commented on #4595
Oncoprint - YES
Cancer Types Summary - YES
Mutual Exclusivity - YES
Plots - NO
Mutations - NO
Co-Expression - NO
Enrichments - YES
Survival - YES
Network - N/A
CN Segments - N/A
Download - YES
Bookmark - N/A
Expression - NO

[2018-08-08 19:14] adamabeshouse commented on #4595
![image](https://user-images.githubusercontent.com/636232/43859126-c8998836-9b1d-11e8-8aa9-8d79ab947a03.png)

what do people think of this for the warning?

[2018-08-08 20:59] zhx828 opened #4605 "SV: Tooltip"
The following tooltips need to be added, some of them have been assigned to `title` property
- [ ] Virtual Study Button
	- [ ] `Save/Share Virtual Study` when portal is authenticated
	- [ ] `Share Virtual Study` when portal is authenticated
- [ ] `View the selected patients.` for the patient view linkout button
- [ ] `Download clinical data for the selected cases.` for download button
- [ ] Chart

[2018-08-08 21:45] adamabeshouse opened #4606 "Coexpression (and enrichment?) API(s) too slow"
The coexpression API is very slow, even on a small study (like http://www.cbioportal.org/index.do?tab_index=tab_visualize&cancer_study_list=coadread_tcga_pub&cancer_study_id=coadread_tcga_pub&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=coadread_tcga_pub_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=coadread_tcga_pub_gistic&Z_SCORE_THRESHOLD=2.0&case_set_id=coadread_tcga_pub_nonhyp

[2018-08-08 21:51] jjgao commented on #4601
@yichaoS 100 sounds good.

[2018-08-08 21:53] jjgao commented on #4595
I think yellow is too obvious. I like blue more. @schultzn @tmazor thoughts?

[2018-08-08 22:07] jjgao commented on #4606
After discussing more with @adamabeshouse, we think the current performance is acceptable, so I am moving this one to icebox for now.

[2018-08-09 06:49] sandertan commented on #4601
@yichaoS I think it's appropriate to modify the documentation, validator, importer and database schema in one PR. The value in the validator code that needs to be changed can be found over here:
https://github.com/cBioPortal/cbioportal/blob/master/core/src/main/scripts/importer/cbioportal_common.py#L726

[2018-08-09 09:39] pieterlukasse commented on #4448
@jjgao I could live with that. Or perhaps it is simple enough to let it be part of the core at some point?

[2018-08-09 09:50] pieterlukasse commented on #4582
@alisman it is not on a dev server. Happens on a regular installation.

[2018-08-09 13:17] tmazor commented on #4595
I also prefer blue over yellow

[2018-08-09 15:33] inodb opened #4609 "add pdf download mutation mapper"
As requested by:

https://groups.google.com/forum/#!topic/cbioportal/8XGdviTwV8U

Currently only svg and png are supported at:

http://www.cbioportal.org/mutation_mapper.jsp

[2018-08-09 17:30] jjgao opened #4610 "add PDF download option to all chars"
We should have PDF, SVG, PNG, and data.

- [x] oncoprint
- [ ] cancer type summary
- [ ] mutations
- [ ] plots
- [ ] expression
- [ ] co-expression
- [ ] enrichments
- [ ] survival
- [ ] timeline in patient view
- [ ] study view charts (as part of refactoring effort)

It may be a good idea to look for a frontend svg2pdf lib.

[2018-08-09 17:30] jjgao commented on #4609
https://github.com/cBioPortal/cbioportal/issues/4610

[2018-08-09 18:13] adamabeshouse commented on #4541
https://github.com/cBioPortal/cbioportal/issues/4541 duplicate

[2018-08-09 18:13] #4541 closed

[2018-08-09 20:21] jjgao opened #4612 "Better threshold for mRNA"
Currently we are using z-scores which are not robust, especially when the data are not normal-like distributed.

We can consider use Median Absolute Deviation and/or outlier detection.

[2018-08-09 21:14] jjgao opened #4613 "Add TGF-β pathway gene list"
"General: TGF-β Pathway":["TGFB1","TGFB2","TGFB3","TGFBR1","TGFBR2","TGFBR3","BMP2","BMP3","BMP4","BMP5","BMP6","BMP7","GDF2","BMP10","BMP15","BMPR1A","BMPR1B","BMPR2","ACVR1","ACVR1B","ACVR1C","ACVR2A","ACVR2B","ACVRL1","Nodal","GDF1","GDF11","INHA","INHBA","INHBB","INHBC","INHBE","SMAD2","SMAD3","SMAD1","SMAD5","SMAD4","SMAD9","SMAD6","SMAD7","SPTBN1","TGFBRAP1","ZFYVE9"]

[2018-08-09 21:28] jjgao commented on #4613
Will we be able to support non-ascii characters?

[2018-08-09 22:11] yichaoS commented on #4601
@sandertan Added the validator change to the checklist. @jjgao what documents need to be changed?

[2018-08-09 23:13] adamabeshouse commented on #4602
it seems to be related to using backticks inside tables, the showdown library seems to have an issue with backticks next to pipes which are supposed to indicate the column boundaries.

[2018-08-09 23:17] #4599 closed

[2018-08-09 23:18] #4515 closed

[2018-08-10 08:53] sandertan opened #4614 "Concerns for using gene symbol if gene not resolved by Entrez ID"
Recently @angelicaochoa pushed an update to the importer to retrieve the database gene by Symbol if the Entrez ID in data is not found: https://github.com/cBioPortal/cbioportal/pull/4114

The validator still assumes the old importer and therefore outputs this warning message in the scenario when the gene symbol is used if the gene is not resolved by Entrez ID:

_'Entrez gene id not known to the cB

[2018-08-10 08:53] sandertan opened #4615 "Split gene identification in importer in 3 runs: first by Entrez, then by symbol, then by alias"
Recently @angelicaochoa pushed an update to the importer to retrieve the database gene by Symbol if the Entrez ID in data is not found: https://github.com/cBioPortal/cbioportal/pull/4114 . I think this is a welcome change, because it allows more data to be loaded into the portal. However, this could lead to more incorrect gene mappings.

First of all, my concern assumes that the community has prev

[2018-08-10 14:48] inodb opened #4616 "Add description mRNA expression column"
Would be good to have an info icon for the mRNA expression column indicating the color codes.

Question by: https://groups.google.com/forum/#!topic/cbioportal/SRs6C-WqMO0
![screen shot 2018-08-10 at 10 47 34 am](https://user-images.githubusercontent.com/1334004/43964432-d6da2090-9c8a-11e8-96a8-5c83e979d7e3.png)

[2018-08-10 14:49] tmazor opened #4617 "study view - copy number table fails to load"
This doesn't happen every time, but I have seen it several times in the past few days now. The mutated genes or copy number tables sometimes fail to load:
![image](https://user-images.githubusercontent.com/10508276/43964300-8267b61c-9c8a-11e8-8c28-4adbd9b8d0b4.png)
http://www.cbioportal.org/study?id=paad_icgc%2Cpaad_qcmg_uq_2016%2Cpaad_tcga_pan_can_atlas_2018%2Cpaad_utsw_2015#summary
![image](http

[2018-08-10 14:51] alisman opened #4618 "Enable frontend tracking by configuration only (instead of by host)"

[2018-08-10 14:52] inodb commented on #4616
I guess this already has a tooltip for each cell, but maybe referring to the faq of how the scores are computed could be useful.

[2018-08-10 15:04] zhx828 commented on #4617
@tmazor this is a feature we implemented recently when necessary data for the table does not get loaded properly. https://github.com/cBioPortal/cbioportal/commit/441bdf478c675becec65dfd16ee393dc709910a1

Looks like the gene panel endpoint is failing for this particular case. @ersinciftci @onursumer could one of you take a look?

[2018-08-10 15:05] fedde-s commented on #4618
The documentation for deployers specifically lists [a setting](https://github.com/cBioPortal/cbioportal/blob/v1.15.0/docs/portal.properties-Reference.md#google-analytics) to use in `portal.properties`:

[2018-08-10 15:11] inodb opened #4619 "Download of GraphML and SIF broken on network tab"
As reported by:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/cbioportal/q0VfzX0Aj9E

Reproduce:

Go to:

http://www.cbioportal.org/index.do?session_id=5b6daad4498eb8b3d567535a

click on Network tab, then on GraphML or SIF

![image](https://user-images.githubusercontent.com/1334004/43965745-14b0e77a-9c8e-11e8-9606-55b78661c7a1.png)

![image](https://user-images.github

[2018-08-10 15:40] jjgao commented on #4601
@yichaoS not sure if we need to change any documents.

[2018-08-10 15:59] jjgao commented on #4616
Maybe add a tooltip to the header? e.g.

Percentile of the expression value of each gene in this sample compared to those of the same gene in other samples in the study based on [profile name].

[2018-08-10 16:05] jjgao commented on #4617
@onursumer could you look into this soon? I think it's because two studies with cna data and two w/o and the backend code cannot handle that.

[2018-08-10 18:07] jjgao opened #4620 "switch to non-zscores profile for mRNA percentiles in patient view"
Currently we are using zscores profile, but zscores profiles may only contain a subset of genes (e.g. if a gene has no gistic results in tcga, it'll not be included).

[2018-08-10 18:07] inodb commented on #4609
fixed for mutation mapper

[2018-08-10 18:07] #4609 closed

[2018-08-10 19:37] #4022 closed

[2018-08-10 19:37] #4372 closed

[2018-08-10 19:38] #4394 closed

[2018-08-10 19:38] #4555 closed

[2018-08-10 19:39] alisman commented on #4610
@jjgao do all charts need data download?

[2018-08-10 19:40] jjgao opened #4622 "Replace FAQ"
@tmazor has put together an updated version:

https://docs.google.com/document/d/1S-mkN2Gr8f-hQ2WES3VzgDskr7UBDa9w25xjgAFlESE/edit?usp=sharing

Can we link to this doc directly on our site?

[2018-08-10 19:53] jjgao commented on #4610
@alisman let's not worry about data for this round.

[2018-08-10 20:04] alisman commented on #4622
@jjgao  we could do an embed such that this doc would show up in an iframe.  Would that work?   If so, we need to first make the doc available on web to all.

[2018-08-10 20:29] #4617 closed

[2018-08-10 20:47] jjgao commented on #4622
It's published:

[code]

[2018-08-10 21:11] jjgao commented on #2743
this issue seems to be solved.

[2018-08-10 21:11] #2743 closed

[2018-08-10 21:12] jjgao commented on #2762
We will capture this issue here: https://github.com/cBioPortal/datahub/issues/183

[2018-08-10 21:12] #2762 closed

[2018-08-10 21:16] #2834 closed

[2018-08-10 21:20] jjgao commented on #4615
@sandertan thanks for creating this ticket. I agree the scenario can theoretically happen, but hopefully, it's a rare situation. Do you have any example in the datahub?

I think the better option is detecting the wrong entrez ID and correct them in the file.

[2018-08-10 21:27] #3975 closed

[2018-08-10 21:31] jjgao commented on #3967
Let's query by entrez: civicdb.org/api/genes/673,7157?identifier_type=entrez_id

It's also good to use entrez anyway since civic and cbioportal may not be using the same version of symbols.

[2018-08-10 21:31] #3925 closed

[2018-08-10 21:34] #3761 closed

[2018-08-10 21:35] jjgao commented on #3742
Do we still need to do this? Or should we implement this for all calls to genome nexus?

[2018-08-10 21:37] inodb commented on #3742
i think this has been handled by using oncokb annotations instead

[2018-08-10 21:38] jjgao commented on #3694
maybe do it in mutatiomapper first.

[2018-08-10 21:39] jjgao commented on #3693
We could use MAF definitions: https://docs.gdc.cancer.gov/Data/File_Formats/MAF_Format/

[2018-08-10 21:40] #3666 closed

[2018-08-10 21:41] #3633 closed

[2018-08-10 21:42] jjgao commented on #3577
@sandertan is this done?

[2018-08-10 21:42] #3558 closed

[2018-08-10 21:43] jjgao commented on #3555
Issue moved to [cBioPortal/datahub #301](https://github.com/cBioPortal/datahub/issues/301) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-10 21:43] #3555 closed

[2018-08-10 21:43] #2921 closed

[2018-08-10 21:44] #3029 closed

[2018-08-10 21:47] inodb commented on #3038
I have it working on https://k8s.cbioportal.org so if we make the switch for public portal to k8s that would work. But maybe good to have a temp solution as well

[2018-08-10 21:48] #3068 closed

[2018-08-10 21:48] jjgao commented on #3068
Issue moved to [cBioPortal/datahub #302](https://github.com/cBioPortal/datahub/issues/302) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-10 21:51] #3119 closed

[2018-08-10 21:51] #3147 closed

[2018-08-10 21:53] jjgao commented on #3153
also related: https://github.com/cBioPortal/cbioportal/issues/3967

@oplantalech would you be able to help with the switch?

[2018-08-10 21:54] jjgao commented on #3154
@priti88 do we still have this issue?

[2018-08-10 21:56] #3237 closed

[2018-08-10 21:59] #3361 closed

[2018-08-10 21:59] #3538 closed

[2018-08-11 00:02] #4595 closed

[2018-08-11 01:18] jjgao commented on #3495
@zhx828 not urgent, but could you add this into your to-do list? Please sort by the following order:

1. levels
2. oncogenic
3. VUS mutations (like neutral, known vus, uninvestigated) should probably have the same level
4. Oncokb cancer genes

[2018-08-11 01:27] jjgao commented on #3742
I see, but we are using Genome Nexus in mutations tab?

[2018-08-11 01:29] jjgao opened #4626 "switch to genome nexus for hotspot annotation"
for

- [x] oncoprint
- [ ] Oncoprinter
- [x] mutations tab
- [x] MutaitonMapper
- [x] patient view
- [ ] anywhere else

[2018-08-11 01:30] jjgao commented on #3742
logged an issue about switching to genome nexus: https://github.com/cBioPortal/cbioportal/issues/3742

[2018-08-11 01:33] jjgao commented on #3038
@inodb I think we can wait for the amazon/k8s instance.

[2018-08-11 07:05] sandertan commented on #3577
@jjgao No we've not started on this yet. Is it a priority?

[2018-08-11 07:51] sandertan commented on #4615
@jjgao Yes this happens quite often. For example, for data_RNA_Seq_v2_expression_median.txt in brca_tcga:

Total datalines: 20541
Old skipped lines: 118
New skipped lines: 87

In the new importer out of the 87 skipped lines:
- Skipped lines due to record not found: 51
- Skipped lines due to gene duplication: 34 (<- this is the case I'm describing)
- Skipped lines due to Symbol ambiguity: 2

#### I

[2018-08-11 22:14] jjgao commented on #3577
Thanks, @sandertan. Just wanted to keep track.

[2018-08-13 08:50] pieterlukasse commented on #2082
thanks @zhx828. One question: what about the CNA part? Has this been changed/fixed as well?

[2018-08-13 09:08] pieterlukasse commented on #4582
seems to be related to this one https://github.com/cBioPortal/cbioportal/issues/4448

[2018-08-13 09:14] fedde-s commented on #3116
I think the fix has been released long ago now.

[2018-08-13 09:14] #3116 closed

[2018-08-13 09:25] pieterlukasse commented on #4582
@jjgao @alisman I found the issue. It has to do with a failed call to the session service. By disabling the failing call at https://github.com/cBioPortal/cbioportal-frontend/blob/master/src/shared/components/query/QueryStore.ts#L495, I was able to stop this error from ocurring. See https://github.com/thehyve/cbioportal-frontend/commit/b58d29ac71b1df419ed978013cc68ee749656692. So, steps to reproduc

[2018-08-13 13:18] ersinciftci opened #4627 "Oncoprint Add Clinical Tracks has NaN%"
I think these are supposed to be 0%, they are on the bottom of the list.
<img width="301" alt="screen shot 2018-08-13 at 9 15 21 am" src="https://user-images.githubusercontent.com/3595704/44033875-b6a39f3a-9ed9-11e8-8e29-925b3c38e791.png">

[2018-08-13 16:06] #4597 closed

[2018-08-13 17:07] fedde-s commented on #4615
When the validation script was first prepended into the data loading pipeline, the plan was to allow data curators to make the data file unambiguous before then, during the ‘transform’ step of the ET(v)L.

Would it be feasible to facilitate this somehow? To use information from the database to format an a data file that yields the exact same result as the procedure you describe, by including unamb

[2018-08-13 17:11] fedde-s commented on #4615
One of the design goals we had during the ET(v)L separation was for the data loading code itself to only concern itself with the actual loading, and contain very little logic that makes assumptions about what the data curators may have forgotten to do during the transformation step.

[2018-08-13 17:14] jjgao commented on #4582
Thanks, @pieterlukasse!

Agreed that we should handle AJAX call errors in a better way.

And I am not sure why we call session service in the patient view page? @alisman

[2018-08-13 17:26] alisman commented on #4582
will check it out.  Thanks Pieter

On Mon, Aug 13, 2018 at 1:14 PM, JianJiong Gao <notifications@github.com>
wrote:

[2018-08-13 20:34] ersinciftci opened #4631 "Add Mutation Count and Fraction Genome Altered as clinical data"

[2018-08-13 20:40] alisman opened #4632 "Confirm that oncoprint interaction with url params still works with SPA"
http://cbioportal-frontend-pr-1236.herokuapp.com/results?cancer_study_list=coadread_tcga_pub&cancer_study_id=coadread_tcga_pub&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=coadread_tcga_pub_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=coadread_tcga_pub_gistic&Z_SCORE_THRESHOLD=2.0&case_set_id=coadread_tcga_pub_nonhypermut&case_ids=&gene_list=KRAS+NRAS+BRAF&gene_set_choice=user-def

[2018-08-13 20:55] adamabeshouse commented on #4632
this is covered by end-to-end tests @alisman

[2018-08-13 21:31] adamabeshouse commented on #4602
applying this transformation to the fetched page fixes the bug (it inserts a space between pipes | and backticks ` to fix parsing), but it inserts an annoying space

.replace(/\|\s*`/g, "|&nbsp;`");

![image](https://user-images.githubusercontent.com/636232/44059228-a8e8c970-9f1e-11e8-93a5-f16d0a3f3379.png)

[2018-08-13 21:32] jjgao commented on #4631
backend changes:
- [ ] import script (mutation count)
- [ ] import script (GFA)
- [ ] migration sql
- [ ] remove `mutation_count` and `fraction_genome_altered` tables
- [ ] remove api endpoints
- [ ] anything else?

frontend changes:
- [ ] study view
- [ ] patient view
- [ ] oncoprint
- [ ] plots tab
- [ ] mutations tab
- [ ] anywhere else?

[2018-08-13 21:33] jjgao commented on #4631
cc'ing @cBioPortal/frontend

[2018-08-13 21:37] adamabeshouse commented on #4602
with @alisman's help now we have

`.replace(/|\s*/g, "|&#8203;");` which inserts a "zero-width" space. PR incoming

[2018-08-13 21:50] alisman opened #4634 "turn off tabs according to configuration"

[2018-08-13 22:00] adamabeshouse opened #4636 "png download has empty->grey background"
![image](https://user-images.githubusercontent.com/636232/44060425-a845c622-9f22-11e8-842c-d44287af7334.png)

if you feed svg into png download, it ends up with an empty background, not a white background. maybe there's a setting in svgsaver for this, otherwise we need to insert an empty white rectangle as background, which is what I do in oncoprint

[2018-08-14 14:43] pieterlukasse commented on #4615
Thanks @sandertan, @jjgao. Here are some of my thoughts on this. The change proposed in #4114 to prioritize hugo symbol over entrez id (albeit only in some cases) can be considered a paradigm change for the loader until now. In my opinion, this change makes the entrez id value stored in the DB unreliable, since one cannot trust anymore that this was really the entrez id found in the original data.

[2018-08-14 14:54] alexsigaras commented on #4600
Following up on this. I've also noticed that Google Plus auth is also problematic as well since 1.13.2.
Although login works the api throws errors when checking for hugo gene symbols or doesn't render study summaries.

Should we open this as a separate issue?

[2018-08-14 15:00] messersc commented on #4600
Looks like this is the same problem: https://groups.google.com/forum/#!topic/cbioportal/Wtdy0Q0_Uws

We're on keycloak by now, so I cannot comment further.

[2018-08-14 15:13] priti88 opened #4637 "Support patient level enrichment analysis"
Currently, enrichment tab allows only sample level analysis. This can bias the results if a study has longitudinal data. Can we add a drop-down in the enrichments tab to allow users to pick if they want the analysis at patient level or sample level?
Enrichments API currently supports patient-level analysis.

[2018-08-14 15:17] jjgao commented on #4637
I think this would be a nice feature. A few things we need to consider:

1. How to deal with samples that belong to the same patient but in different groups?
2. Which expression value to pick for mRNA?
3. For mutations and CNAs, are we going to just combine everything on the patient level?

[2018-08-14 15:31] alisman opened #4638 "review configuration properties spreadsheet"
https://docs.google.com/spreadsheets/d/1eC0-mU-kdmiInmi1LZRj_-L-oZofmTNOzBYBMr12eUE/edit?usp=sharing

This is a list of all properties read from portal.properties in GlobalProperties.java.

We need to determine if the are:
1. defunct (no reference in legacy codebase via getter)
2. relevant to frontend

We then need to make sure that relevant properties are being passed to SPA by new config service

[2018-08-14 15:42] jjgao commented on #4600
@alexsigaras would you have the bandwidth to look into the ldap issue? The ldap support was not implemented by us and we don't have ldap authentication in our private portals. Another option would be switching to keycloak.

[2018-08-14 15:44] inodb commented on #4638
@alisman Nice! Looks like it's missing all lowercase properties in `GlobalProperties`, e.g.:
`showCivic`, `showGenomeNexus`, `sessionServiceUrl`, `skinAuthorizationMessage`

[2018-08-14 15:48] priti88 commented on #4637
Thanks @jjgao
1) Do you mean different cancer types?
2) This feature might not make sense for mRNA and we can ignore it?
3) Currently, that is how @ersinciftci does the analysis for the API

[2018-08-14 15:58] jjgao commented on #4637
@priti88

1. e.g. a patient as two samples s1 and s2. S1 has a mutation in tp53 and S2 does not. Now a user query tp53 and therefore s1 belongs to altered group and s2 belongs to unaltered group. How would we deal with this patient? Maybe exclude it?

[2018-08-14 17:17] priti88 commented on #4637
I see. In my hack, I include the patient in the altered set. If the patient has TP53 in any 1 of the sample, they will be counted as altered

[2018-08-14 17:27] #4581 closed

[2018-08-14 18:45] #745 closed

[2018-08-14 18:46] jjgao commented on #4431
we decided not to list profiles based on data availability

[2018-08-14 18:46] #4431 closed

[2018-08-14 18:47] #4073 closed

[2018-08-14 18:48] #764 closed

[2018-08-14 18:53] jjgao commented on #724
Issue moved to [cBioPortal/datahub #308](https://github.com/cBioPortal/datahub/issues/308) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-14 18:53] #724 closed

[2018-08-14 19:01] #717 closed

[2018-08-14 19:01] #715 closed

[2018-08-14 19:01] #696 closed

[2018-08-14 19:02] jjgao commented on #599
duplicated https://github.com/cBioPortal/datahub/issues/247

[2018-08-14 19:02] #599 closed

[2018-08-14 19:03] #597 closed

[2018-08-14 19:03] #643 closed

[2018-08-14 19:03] #675 closed

[2018-08-14 19:04] #522 closed

[2018-08-14 19:04] #3653 closed

[2018-08-14 19:05] #3846 closed

[2018-08-14 19:05] #3708 closed

[2018-08-14 19:06] #3509 closed

[2018-08-14 19:06] #2942 closed

[2018-08-14 19:07] #3526 closed

[2018-08-14 19:07] #3240 closed

[2018-08-14 19:08] #3188 closed

[2018-08-14 19:09] #3127 closed

[2018-08-14 19:09] #530 closed

[2018-08-14 19:10] #3911 closed

[2018-08-14 19:11] #3462 closed

[2018-08-14 19:11] #2999 closed

[2018-08-14 19:11] #3912 closed

[2018-08-14 19:11] #3455 closed

[2018-08-14 19:24] jjgao opened #4641 "EGFR L747Rfs*13 linked to hotspot"
EGFR L747Rfs*13 is linked to hotspot and therefore predicted oncogenic.

http://www.cbioportal.org/index.do?session_id=5b732b30498eb8b3d5675fe8

![image](https://user-images.githubusercontent.com/840895/44113231-63231690-9fd5-11e8-8f12-95efeca6e03a.png)

But we had rule only matching missense mutations. @zhx828 is it because we added some code to parse mutation type from protein change?

Related:

[2018-08-14 19:28] #3742 closed

[2018-08-14 19:30] adamabeshouse commented on #4293
the problem was actually still present in refactored code. it seems the issue was that the DB returns 'NaN' as a value for certain data for that clinical attribute.

[2018-08-14 19:30] adamabeshouse commented on #4293
https://github.com/cBioPortal/cbioportal-frontend/pull/1380

[2018-08-14 19:36] jjgao opened #4642 "Oncoprint: color by COSMIC issue"
For the query below, all truncating mutations are colored as Driver by COSMIC, but none of them occur frequently in COSMIC.

http://www.cbioportal.org/index.do?session_id=5b732b30498eb8b3d5675fe8

![image](https://user-images.githubusercontent.com/840895/44113803-495cdd84-9fd7-11e8-91db-fb262f89eb77.png)

![image](https://user-images.githubusercontent.com/840895/44113898-9189ce64-9fd7-11e8-8f22-f0

[2018-08-14 19:37] #3682 closed

[2018-08-14 19:38] #4274 closed

[2018-08-14 19:40] #207 closed

[2018-08-14 19:40] #292 closed

[2018-08-14 19:41] #401 closed

[2018-08-14 19:41] #496 closed

[2018-08-14 19:43] #731 closed

[2018-08-14 19:45] adamabeshouse commented on #4642
@jjgao this is because they all have the search keyword "EGFR truncating", and are tallied up by keyword, not by protein change. should we instead tally the counts only by protein change?

[2018-08-14 19:47] adamabeshouse commented on #4318
seems to be fixed now

[2018-08-14 19:47] #4318 closed

[2018-08-14 19:49] adamabeshouse commented on #3336
maybe the best way to do this would be as an option in the clinical track menus? to toggle splitting for a particular track

[2018-08-14 19:54] #3779 closed

[2018-08-14 19:56] #3795 closed

[2018-08-14 19:58] #3854 closed

[2018-08-14 19:59] #3889 closed

[2018-08-14 20:03] adamabeshouse opened #4643 "oncoprint clinical selector - if only disabled search results, theres some exception"
(1) Go to http://www.cbioportal.org/index.do?cancer_study_id=acc_tcga&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=acc_tcga_cnaseq&gene_list=KRAS%2520NRAS%2520BRAF&geneset_list=+&tab_index=tab_visualize&Action=Submit&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=acc_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=acc_tcga_gistic

(2) Open the clinical se

[2018-08-14 20:05] jjgao commented on #4165
@n1zea144 TTN fusion is still present in the result: http://bit.ly/2rbBQHs. Could you check if your fix is in place?

[2018-08-14 20:09] #4510 closed

[2018-08-14 20:09] #4373 closed

[2018-08-14 20:39] #4627 closed

[2018-08-14 20:48] jjgao commented on #4637
@priti88 I see, so you basically merge all mutations/cnas to patient level and then treat patients in the same way as we treat samples. That could work.

Since we also have a setting in OncoPrint to show data on patient or sample level. Maybe we should make it a global setting.

Another one we need to add to global setting is Driver vs VUS colors in OncoPrint and Plots.

cc'ing @alisman

[2018-08-14 21:26] jjgao commented on #4642
@adamabeshouse I see. We should use the same logic as in the table. Are we matching by protein change in the table?

[2018-08-14 21:26] #2746 closed

[2018-08-14 21:29] jjgao commented on #4642
it's by position for truncating mutations.

[2018-08-14 21:30] jjgao commented on #3336
@adamabeshouse great idea!

[2018-08-15 05:10] rnugraha commented on #4643
@adamabeshouse what kind of exception? I didn't see it.

<img width="1555" alt="schermafbeelding 2018-08-15 om 07 09 42" src="https://user-images.githubusercontent.com/2835281/44132485-4bacee5c-a05a-11e8-9572-a50dbdeae121.png">

[2018-08-15 13:17] sandertan opened #4644 "Show errors first in report"
@ritikakundra suggested to enhance the validation report by displaying error messages at the start of the report, instead of being mixed with warnings messages.

This can be applied on two levels in the validation report:
- The order of displaying files.
- The order of displaying warnings per file.

I discussed this with @fedde-s and added it to our backlog.

[2018-08-15 13:35] priti88 commented on #4637
@jjgao Would this also enable doing enrichment/mutual exclusivity analysis based on just drivers? Maybe a different discussion.

[2018-08-15 14:53] alisman opened #4645 "computePutativeDriverAnnotatedMutations doesn't find gene when you edit query"
In SPA, load a query, then edit query by removing a gene and then submit query.  You will get an error in computePutativeDriverAnnotatedMutations because gene is missing for corresponding mutations (in cache?).  Potential architectural issue we should review

[2018-08-15 15:08] jjgao opened #4646 "results page global settings"
We now have settings that affect multiple tabs. The first one is the `driver vs vus` setting that affects both OncoPrint, Plots, and Expression (currently in OncoPrint menu). We are discussing about have another one `Show patients vs samples` for both OncoPrint and Enrichments in #4637. Let's make a global settings/menu to include both after we have SPA.

[2018-08-15 15:09] jjgao opened #4647 "apply driver annotation in other tabs"
Currently, it is used in OncoPrint, Plots, and Expression. It can potentially be used in other tabs:

- Mutual Exclusivity: use driver mutations only (when hiding VUSs in oncoprint?)
- Survival: count drivers as altered cases (when hinding VUSs in oncoprint?)
- Enrichments: count drivers as altered cases (when hinding VUSs in oncoprint?)
- Cancer Type Summary: show different colors
- Mutations: lo

[2018-08-15 15:10] jjgao commented on #4637
@priti88 it could be. Let's keep it separate: https://github.com/cBioPortal/cbioportal/issues/4646 https://github.com/cBioPortal/cbioportal/issues/4647

[2018-08-15 15:11] jjgao commented on #4637
@priti88 we will tackle #4646 first and then this one, so it'll take some time. ok?

[2018-08-15 15:21] jjgao opened #4648 "filter mutations tab by oql"
Currently all mutations are displayed in mutations tab even if OQL is specified. Let's change that.

- [x] only show mutations that passes OQL by default
- [x] show message "The results below reflects the OQL specification from your query."  Should be addressed in https://github.com/cBioPortal/cbioportal/issues/4595. the message the slightly different. Let's change to this version.
- [x] add a but

[2018-08-15 15:34] sandertan commented on #3577
@jjgao what do you think should be the required case lists?
- _sequenced when mutation data is in study
- _cna when CNA data is in study

These two are required for correct calculation of % mutated in study summary, right?

Are there other case lists for which cBioPortal has specific functionality?

[2018-08-15 15:39] #4642 closed

[2018-08-15 15:40] adamabeshouse commented on #4643
@rnugraha sorry I dont think it will be visible right now, it will be visible on our next hotfix deploy. it would be visible if you use local frontend using `master`

[2018-08-15 16:17] adamabeshouse commented on #4645
@alisman this reflects an up and coming bug with switching to SPA - much of our code relies on the hidden assumption that the query happens once and all the data flows from the same query. a good caching system would be the best way to fix this. a naive GET- or POST-level caching system wont work for this, we need more granularity. but we also dont need something w too much versatility because our

[2018-08-15 16:27] jjgao commented on #3577
@sandertan I think that would be good! Not sure if `or_cnaseq` is used anywhere - maybe not.

[2018-08-15 17:16] #4636 closed

[2018-08-15 20:00] jjgao opened #4650 "frontend change after adding Mutation Count and Fraction Genome Altered as clinical data"
- [ ] study view
- [ ] patient view
- [ ] oncoprint
- [ ] plots tab
- [ ] mutations tab
- [ ] anywhere else?

[2018-08-15 20:56] #4648 closed

[2018-08-16 09:59] sandertan commented on #494
This would be nice to have. For all profiles that have samples in the columns (all types of cna, all types of expression, methylation, all types of protein quantifications), it would be nice to autogenerate the case list. This will make it a lot easier to get staging files in the correct format and will lower the risk of making errors.

Only for mutations files the separate case list is required.

[2018-08-16 10:09] sandertan opened #4651 "2 CNA case list suffixes for selecting CNA profiled samples"
There are currently two suffixes used for selecting CNA profiled samples: `_acgh` and `_cna`:

## _acgh
- Used on Query page for selecting the CNA case list when only CNA genetic profile is selected:
https://github.com/cBioPortal/cbioportal/blob/399e1e70d7d5b7601c97c39905f90a2118240cc1/portal/src/main/webapp/js/src/dynamicQuery.js#L505
https://github.com/cBioPortal/cbioportal-frontend/blob/090546f

[2018-08-16 14:27] fedde-s commented on #494
I want to argue that that's not just a refactoring, it's a change in an external interface depended on by data transformation code and many existing archived studies. But if you do feel it would would be worth the effort, I'd suggest deprecating `_sequenced` in favour of the new convention.

[2018-08-16 15:13] #4619 closed

[2018-08-16 15:15] jjgao opened #4652 "Moving network.do to the legacy API new stack"

[2018-08-16 15:15] alisman opened #4653 "Default to cancer type summary when more than one study"

[2018-08-16 15:30] jjgao commented on #494
It would be nice to rename it to `_mutations` but I agree with @fedde-s that it's probably not worth the effort. Especially we still plan to [redesign the case list](https://docs.google.com/document/d/1aBbkTAFv5nCqBv66BOgwvlt5kymgt0lQ7l_pqaFrupc/edit) - not a high priority currently but I hope we can get to it at some point.

[2018-08-16 18:02] zhx828 opened #4654 "Potential login issue: log in study view"
Reproduce: if we login really quickly before the study view is rendered. Sometimes, we are actually not logged in. Or the header does not reflect the latest info.

[2018-08-16 18:26] priti88 commented on #4637
@jjgao sounds good. Thank you

[2018-08-16 22:05] adamabeshouse opened #4656 "TCGA pancancer atlas studies have swapped short names"
Colon Adenocarcinoma and Cholangiocarcinoma have swapped short names.

Worth a check if others do too

[2018-08-16 23:48] adamabeshouse commented on #4248
@jjgao where do you want to put the volcano plot? and how big?
![image](https://user-images.githubusercontent.com/636232/44240671-4f6ffc80-a18d-11e8-9031-4f482f976eaa.png)

[2018-08-17 02:39] #4656 closed

[2018-08-17 02:39] jjgao commented on #4656
Issue moved to [cBioPortal/datahub #317](https://github.com/cBioPortal/datahub/issues/317) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-17 12:42] fedde-s commented on #1088
It's still a major issue, and has not been addressed in any way.

[2018-08-17 12:52] fedde-s commented on #1088
It makes both manual configuration rather fragile in a way that can't be automated in a clean way by the Dockerisation efforts. Especially since large parts of the data loading pipeline actually ignore changes to the configuration after the Java code has been built, as I brought up in the ‘cloud’ channel on Slack, which makes for about three two five files that must at all times contain the same d

[2018-08-17 13:03] fedde-s commented on #1299
Does the `maven.properties` file introduced in https://github.com/cBioPortal/cbioportal/pull/3505 resolve the main point of this issue? Can it be closed?

[2018-08-17 13:09] fedde-s commented on #1299
Well, I think I can answer that with no. Most of the components of cBioPortal still cannot have their database credentials configured at runtime in any way I could find, see https://github.com/cBioPortal/cbioportal/issues/1088#issuecomment-413855768.

[2018-08-17 13:13] fedde-s commented on #1299
Configuring different processes in different ways is easy—as far as I know, nearly all other configuration already comes from the`$PORTAL_HOME` environment variable provided to the process.

[2018-08-17 13:18] fedde-s commented on #1088
A seventh place that should also hold the same credentials is not the solution to the confusingly long list, and the documented way to change the defaults baked in at compile time is `src/main/resources/portal.properties`.

[2018-08-17 13:26] pieterlukasse commented on #1088
I would like to see a solution where we stick to `maven.properties` for compile time relevant properties and have a default of `$PORTAL_HOME/portal.properties` for all other properties.

[2018-08-17 13:48] inodb commented on #1088
It's a trade off. If all parts of the code can accept one set of environment variables for the db with relatively little effort I'd be p happy with that solution. Ideally I'd like to see standard spring configuration everywhere, I believe that's env -> external prop file -> internal prop file -> defaults

[2018-08-17 16:20] jjgao opened #4658 "link in Data Loading page not working"
The link to `cbioportalImporter script` in https://cbioportal.readthedocs.io/en/latest/Data-Loading.html#removing-a-study is not working.

[2018-08-17 20:09] alisman opened #4659 "Make sure request session doesn't keep firing unnecssarily"

[2018-08-17 20:28] zhx828 opened #4660 "Update mutation table `#Mut in Sample` column to use clinical data"
Since Mutation Count and Fraction Genome Altered have been added in clinical data and the endpoint used to calculate the mutation count is no longer available, we need to update the logic.

[2018-08-17 21:35] alisman opened #4661 "When you load results page pinned to download tab, you get data error"

[2018-08-17 21:40] alisman opened #4662 "Improve the way we pass routingstore from provider"

[2018-08-19 22:55] jjgao opened #4663 "two tweaks for calculating mutaiton_count"
In `createMutationCountClinicalData`:

- [x] exclude germline mutations: `when MUTATION_STATUS != "GERMLINE"`
- [x] count distinct events (e.g. a CDKN2A event may be annotated in both isoforms and therefore counted twice): `count(distinct chr, start, end, ref, var)`

In `migration.sql`:

The same SQL as in DaoMutation should be used to generate the `MUTATION_COUNT` clinical data so that the data c

[2018-08-20 12:11] messersc opened #4664 "Copy number events: gain, shallow deletions"
Hi

Maybe some context: we have been on a pretty old version of cbioportal for some time and have only recently spun up some up-to-date instances.

Comparing old and new results as well as investigating some missing data, we have stumbled across shallow deletion and gains not being imported and shown in the portal. The public instance also does not have them for the studies we checked.

I guess we

[2018-08-20 12:56] #4631 closed

[2018-08-20 14:53] pieterlukasse commented on #4582
Why was this closed if this PR is not merged yet https://github.com/cBioPortal/cbioportal-frontend/pull/1378 ?

[2018-08-20 14:56] inodb commented on #4582
@pieterlukasse if you put fix #issuenumber in the pr it will automatically close once merged to master. See: https://github.com/cBioPortal/cbioportal/pull/4640

[2018-08-20 15:03] sandertan commented on #4651
@jjgao I made a PR in front end repo, but I'm not sure if I should also fix this in the legacy code in back end repo.

https://github.com/cBioPortal/cbioportal/blob/master/portal/src/main/webapp/js/src/dynamicQuery.js

[2018-08-20 16:04] jjgao commented on #4664
@messersc the discrete copy number data is imported into two places: `cna_event` and `genetic_data`. For `cna_event` we only import 2 and -2, but for `genetic_data` we import all values.

The patient view page CNA table uses `cna_event` and therefore shows only AMP and HOMDEL. But you can query for all values in the query page. You would need to use [Onco Query Language](http://www.cbioportal.org/

[2018-08-20 16:04] #4664 closed

[2018-08-20 16:09] jjgao commented on #4602
@inodb could you deploy the change?

[2018-08-20 16:10] alisman commented on #4645
@adamabeshouse  i think this bug was actually fixed by the change to mobxpromise.  Caching is separate issue, right?  (i.e. preserving data for individual genes across queries)

[2018-08-20 16:10] jjgao commented on #4651
Thanks, @sandertan. Don't worry about the legacy code.

[2018-08-20 16:13] alisman opened #4669 "CNSegments tab uses legacy api"
http://www.cbioportal.org/beta/api-legacy/copynumbersegments

[2018-08-20 16:40] jjgao commented on #3153
please make sure to filter out fake negative `entrez_id`s.

[2018-08-20 17:01] #4663 closed

[2018-08-20 17:05] jjgao commented on #4669
@alisman we can try to switch to new version of IGV and they will be able to support our new API.

[2018-08-20 17:10] jjgao opened #4670 "switching to new IGV.js"
Here is some information from @jrobinso https://github.com/igvteam/igv.js

===
Below is a prototype specification for a copy number track with features embedded.   Is this what you had in mind?   Its written as proper json (property names quoted),  but we could use equivalent javascript objects if that's what you have.

Notice the "mappings" property.   This is how you specify property mappings fr

[2018-08-20 17:10] jjgao commented on #4669
logged here: https://github.com/cBioPortal/cbioportal/issues/4670

[2018-08-20 17:11] jjgao commented on #4670
also related: https://github.com/cBioPortal/cbioportal/issues/4390 and https://github.com/cBioPortal/cbioportal/issues/4410.

[2018-08-20 17:28] tmazor opened #4672 "calls to oncokb fail for CDKN2A-isoform gene names"
If I query for CDKN2A isoform gene names (CDKN2AP14ARF and CDKN2AP16INK4A), the OncoKB annotations don't load -- see below, where the same mutations are called drivers in the CDKN2A track but passengers in the isoform tracks. The mutations table also fails to load OncoKB annotations.

![image](https://user-images.githubusercontent.com/10508276/44356163-8c353f80-a47c-11e8-9491-6a87a501ba89.png)

ht

[2018-08-20 17:30] tmazor opened #4673 "lollipop plot fails for CDKN2A-isoform genes"
![image](https://user-images.githubusercontent.com/10508276/44356339-0e256880-a47d-11e8-8aba-2acbfc173d09.png)

![image](https://user-images.githubusercontent.com/10508276/44356347-1382b300-a47d-11e8-8a69-5de094986bce.png)

![image](https://user-images.githubusercontent.com/10508276/44356352-17aed080-a47d-11e8-96bf-da8d3f5b11e0.png)

http://www.cbioportal.org/index.do?session_id=5b7af99e498eb8b3d5

[2018-08-20 17:32] alisman opened #4674 "isVirtualStudyQuery is dependent on fetched data, making dependent layout complicated"
Can we just use studies > 1?

[2018-08-20 17:45] inodb commented on #4602
@jjgao deployed (might need to do a hard refresh to see it)

[2018-08-20 17:45] #4602 closed

[2018-08-20 17:53] #4369 closed

[2018-08-20 17:54] adamabeshouse commented on #4645
yes @alisman you're right

[2018-08-20 18:33] #4645 closed

[2018-08-20 18:38] kalletlak commented on #4502
@jjgao seems like its used only in query selection. I'll update and create PR

[2018-08-20 19:25] jjgao commented on #4673
related: https://github.com/cBioPortal/cbioportal/issues/4672

[2018-08-20 19:27] jjgao commented on #4502
@kalletlak ok. thanks

[2018-08-20 19:30] adamabeshouse commented on #4643
@rnugraha I'm seeing the issue in production now. do you see it?

[2018-08-20 20:44] schultzn commented on #4672
Yes, I think we should.

[2018-08-20 22:12] ersinciftci opened #4676 "Delete existing mutation_count data in migration script before inserting new ones"

[2018-08-21 01:51] jjgao opened #4678 "Increase the drop down height of clinical attribute selection"
Let's double the height.

![image](https://user-images.githubusercontent.com/840895/44375703-0092d180-a4c3-11e8-8e11-8bb520539567.png)

[2018-08-21 01:52] jjgao commented on #4672
Issue moved to [cBioPortal/datahub #321](https://github.com/cBioPortal/datahub/issues/321) via [**ZenHub**](https://www.zenhub.com/)

[2018-08-21 01:52] #4672 closed

[2018-08-21 12:54] messersc commented on #4443
The solution can be found here: https://groups.google.com/d/topic/cbioportal/2-jl_wOR0aw/discussion

[2018-08-21 13:50] messersc commented on #4279
To clear this up in case someone else runs into the same problem:

This bug is caused if the call to the api fails when getting the sample-ids, which returns a 403 if there is no `all_cases_with_mutation_data.txt` in `case_lists`.

Not obvious, but a simple fix.

[2018-08-21 14:20] ecerami opened #4679 "MYD88 mutations are being reporting in Non-canonical transcript (1 study only)"
Reported by user:

In this study (and only this study):  "Primary Central Nervous System Lymphoma (Mayo Clinic, Clin Cancer Res 2015)", MYD88 mutations are being reported based on transcript:  ENST00000417037.

*But*, all other studies are using the default UniProt https://raw.githubusercontent.com/mskcc/vcf2maf/master/data/isoform_overrides_uniprot transcript, e.g. ENST00000396334.

This results

[2018-08-21 14:32] ecerami commented on #4679
Discussed with @ritikakundra and assigning to her to resolve.

[2018-08-21 15:48] jjgao opened #4682 "spec for virtual study model"
Can we write a spec in [a doc](https://github.com/cBioPortal/cbioportal/tree/master/docs)?

related discussion: https://github.com/cBioPortal/cbioportal/issues/3324

[2018-08-21 15:52] jjgao opened #4683 "spec for session model"
Can we write a spec in [a doc](https://github.com/cBioPortal/cbioportal/tree/master/docs)?

Maybe we can use this issue to discuss about the session model and transfer it to a doc later.

Things to consider:
- query parameters: https://github.com/cBioPortal/cbioportal/issues/4353
- model versioning

[2018-08-21 16:10] n1zea144 commented on #4165
@jjgao I believe its because the code is not integrated into MSK importers.  I will follow-up ASAP.

[2018-08-21 17:45] jjgao commented on #4353
@alisman I changed a little above. `genetic_profile_id` => `profile_id`. Could you list all parameters here?

[2018-08-21 18:10] #4676 closed

[2018-08-21 19:16] ecerami opened #4685 "Mutation Mapper, Protein Change Data is Not Working"
Reported by user, and confirmed by Ethan.

The Mutation Mapper tool under Visualize Your Data is not plotting the data using the example 'Protein Change' data at the website, or our personal data.  The tool works fine on the Genomic Changes and Genomic and Protein Changes datasets.

I noticed this yesterday. Everything was fine before Monday.

[2018-08-21 19:41] inodb commented on #4685
good catch - ill take this

[2018-08-21 19:48] ecerami commented on #4685
great.  tx @inodb!

[2018-08-21 20:29] ritikakundra commented on #4679
Data files on datahub (https://github.com/cBioPortal/datahub/tree/master/public/pcnsl_mayo_2015) look correct. Going to reimport to see if that solves this issue

[2018-08-21 21:07] jjgao commented on #4679
cc'ing @inodb here: maybe it's another case that is related to genome nexus.

[2018-08-21 21:08] jjgao commented on #4679
@ritikakundra if it's the same tomorrow, please notify @inodb .

[2018-08-21 21:16] inodb opened #4687 "extend documentation on mutation mapper tool input"
I believe it works like this now.

- When using genomic changes input it shows all annotations
- When using protein change input, only oncoKB and mycancergenome

Question about how combined input should work:

- When using both protein change and genomic changes input, it's not clear what the current logic does. It seems it will annotate hotspot with the information from the genomic position, but

[2018-08-21 21:47] ritikakundra commented on #4679
Re-import on triage shows the correct annotations

[2018-08-21 22:10] #4685 closed

[2018-08-22 04:06] jjgao commented on #4165
@n1zea144 thanks!

[2018-08-22 11:57] ecerami commented on #4685
wow, thanks @inodb.  17 hours from user reporting to fixing! 🥇

[2018-08-22 11:58] ecerami commented on #4685
Confirmed that bug is fixed in production...  http://www.cbioportal.org/mutation_mapper.jsp

[2018-08-22 13:18] fedde-s opened #4692 "No end-to-end tests in `master`"
One of the two screenshot tests has been commented out in https://github.com/cBioPortal/cbioportal/commit/aa392d62adb83a7c4b2b4620ec3de96b0b11fb39, and the other one has been saying that the code doesn't comply throughout the last eight merged pull requests. I made pull request https://github.com/cBioPortal/cbioportal/pull/4690 to explicitly skip that as well for the foreseeable future.

Should we

[2018-08-22 20:21] #4679 closed, assigned to jjgao, ecerami, ritikakundra

[2018-08-22 20:21] alisman opened #4695 "Page Title needs to be set whenever router changes"
Go to patient page, then go back to homepage, title will still be "patient"

[2018-08-22 20:29] ecerami commented on #4679
Awesome!  thanks @ritikakundra!!

[2018-08-22 20:36] ecerami commented on #4679
Ethan reported status back to user.

[2018-08-22 23:40] adamabeshouse commented on #4159
@zhx828 what do you mean by toggling include/exclude NA nodes? where would this toggling take place, a checkbox somewhere?

[2018-08-23 07:38] fedde-s commented on #4692
@zhx828 did focus on fixing the issue last night, and the one remaining test is passing again! 🎊

[2018-08-23 07:42] pieterlukasse opened #4696 "DB schema missing FK constraints"
2 issues with current cgds.sql:

- `clinical_attribute_meta` is not referenced by `clinical_patient` nor by `clinical_sample` tables
- `sample_list` is not referenced by `sample_list_list table`

See also https://github.com/cBioPortal/cbioportal/blob/rc/db-scripts/src/main/resources/cbioportal-er-diagram_v2.7.0.png

[2018-08-23 07:44] fedde-s opened #4697 "The `master` branch is failing the screenshot test"
The breaking changes should be fixed or reverted from the branch as soon as possible, so that we can integrate other bugfixes into the branch without disabling the screenshot test suite.

[2018-08-23 07:47] fedde-s commented on #4697
@zhx828, do you know what might have caused this? It looks similar to the issue you just solved in the `rc` branch yesterday.

[2018-08-23 09:18] fedde-s commented on #4697
Strangely, it seems to have broken without changes to the code… is it testing something mutable outside of cBioPortal, such as a web service or an unversioned dependency?

[2018-08-23 10:39] sandertan opened #4698 "Missing button for custom study"
In the following examples I queried two studies to make a virtual study, and opened the expression tab. Both expression profiles are RNA Seq V2.

When querying two 2 TCGA studies, there are 2 study buttons under "Select Studies". Where are the button texts coming from? Are they parsed from the parentheses in the study names?

<img width="663" alt="screen shot 2018-08-23 at 12 14 42" src="https://u

[2018-08-23 14:26] fedde-s commented on #4692
The absence of tests is less critical than the presence of tests that trigger needlessly; removing the critical label here.

[2018-08-23 14:29] fedde-s commented on #4697
I proposed a workaround in https://github.com/cBioPortal/cbioportal/pull/4690.

[2018-08-23 14:30] fedde-s commented on #4697
Note that the workaround does lead to the technical debt I described to be tracked in https://github.com/cBioPortal/cbioportal/issues/4692.

[2018-08-23 15:19] alisman opened #4699 "Can we apply style of scatter points via the victory template?"
E.g. is easy enough to make coexpression chart points look like the new ones
![image](https://user-images.githubusercontent.com/186521/44534771-8894f900-a6c6-11e8-8b59-6abe98da2daf.png)

[2018-08-23 16:35] fedde-s commented on #4697
https://github.com/cBioPortal/cbioportal/pull/4700 should address this with less technical debt.

[2018-08-23 16:54] fedde-s commented on #4692
Now that #4700 has been presented, this should not be a problem unless something else is merged to `master` before that.

[2018-08-23 16:54] #4692 closed

[2018-08-23 17:28] kalletlak opened #4701 "SV: miscellaneous"
- [x] # of Samples Per Patient(a pie chart)
- [x] With Mutation Data and With CNA Data pie charts
- [x] Priorities
	- [x] Clinical data download needs to respect priority
	- [x] This [PR](https://github.com/cBioPortal/cbioportal-frontend/pull/1298) needs to be updated after bar chart is merged
- [x] Change the validation gene symbols text position absolute to avoid page shifting
- [x] Study Summar

[2018-08-23 17:40] adamabeshouse commented on #4699
after talking with @alisman the change we would make is to make the dots in coexp tab the same size, for uniformity, because applying the same styles on theme-level doesn't make sense

[2018-08-23 17:49] fedde-s commented on #4697
The cleaner solution has been merged to `master`, and the tests are green again! 🎉   There's still a conflict that could cause `rc` to start failing the tests if not manually updated, but I believe @inodb is working on that, we have discussed it in the pull request.

[2018-08-23 17:49] #4697 closed

[2018-08-24 07:53] j-hudecek opened #4706 "Timeline shows the same event with different color for different patients"
Timeline currently shows the same event type (and subtype) with different colors across different patients. The crucial difference seems to be the number of event types.

For example XRT is orange here
www.cbioportal.org/patient?caseId=P07&studyId=lgg_ucsf_2014

and green here
http://www.cbioportal.org/patient?caseId=P04&studyId=lgg_ucsf_2014

The server could assign a global order on event types

[2018-08-24 08:05] fedde-s commented on #4502
Now to solve the root cause and point future developers at which field to use, might it make sense to add a deprecation comment in the file format documentation, the Java data structure that defines case list categories or the API endpoint that returns them?

[2018-08-24 13:32] n1zea144 commented on #4165
@jjgao This is fixed now.

![image](https://user-images.githubusercontent.com/366003/44587319-9eff8b00-a780-11e8-8288-87548ca3f3f6.png)

[2018-08-24 15:02] pieterlukasse opened #4709 "mRNA z-score metadata missing in Patient view and Oncoprint"
The various UIs do not have a standard text for the tool-tips of the mRNA expression z-scores shown in different places. See examples below.

Patient view - value is labeled as "mRNA z-score" and a hard-coded title is given "mRNA level of the gene in this tumor" and `%` is used to indicate percentile(?):
![image](https://user-images.githubusercontent.com/2900303/44590909-89a85200-a7bc-11e8-9e5d-51

[2018-08-24 15:18] inodb opened #4710 "seems like deep deletions are missing on plots tab"
For this PR, merge master to rc:

https://github.com/cBioPortal/cbioportal-frontend/pull/1409/files?short_path=9a8eaad#diff-9a8eaad85de523b9b05aa730dfbcae66

it seems there are no deep deletions anymore for `tests/screenshots/reference/plots_tab_clinical_vs_molecular_element_chrome_1600x1000.png`

not sure if that is expected @adamabeshouse ? Seems like it might be an error

[2018-08-24 20:02] alisman opened #4711 "Fix image paths in static pages (e.g. OQL)"
Images are relative.  Absolute URLs should be in markdown

[2018-08-24 21:22] inodb opened #4712 "[rc] mutation count values differ and axis label changed"
See: https://13917-66571349-gh.circle-artifacts.com/0/imageCompare.html

- [x] Counts on the y axis are wrong (see patient view)
- [ ] from `Total mutations` on y axis of plots tab to `Mutation Count`

[2018-08-27 13:57] pieterlukasse opened #4713 "Confusing mRNA Expression column in Patient View"
The current implementation of the mRNA Expression column in Patient View mixes up two different statistics in the same visualization, leading to wrong interpretation of one or both statistics (or just leading to plain confusion and an inability to make any interpretation at all).

Screenshot of the current feature:
![image](https://user-images.githubusercontent.com/2900303/44662910-5c071700-aa0f-1

[2018-08-27 16:05] adamabeshouse commented on #4710
I see your concern and Im confused too but it seems like there must have been some kind of data change or something, because when I look in the network response, there in fact are no deep deletions. So Im really not sure.

[2018-08-27 16:06] adamabeshouse commented on #4710
@jjgao @ritikakundra @yichaoS does this make any sense? did data recently change to reassign deep deletions to amplifications in brca_tcga?

[2018-08-27 16:08] inodb commented on #4710
@adamabeshouse it's weird cause there are deep deletions on master right?

http://www.cbioportal.org/index.do?cancer_study_id=brca_tcga&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=brca_tcga_cnaseq&gene_list=TP53%252520MDM2&geneset_list=+&tab_index=tab_visualize&Action=Submit&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=brca_tcga_mutations&genetic_profile_ids_PROFILE_COP

[2018-08-27 16:10] inodb commented on #4710
@adamabeshouse ah no i guess they are missing there as well: https://github.com/cBioPortal/cbioportal-frontend/blob/master/end-to-end-tests/screenshots/reference/plots_tab_clinical_vs_molecular_element_chrome_1600x1000.png

But only since 5 days ago?

[2018-08-27 16:13] inodb commented on #4710
@adamabeshouse looks like they've only gone missing for MDM2

[2018-08-27 19:32] zhx828 opened #4714 "Most endpoints for new SV failing when CNA filter is specified"
Reproduce:
- go to study http://www.cbioportal.org/beta/newstudy?id=lgg_tcga
- select on any row of the CNA table

![screen shot 2018-08-27 at 3 31 49 pm](https://user-images.githubusercontent.com/5400599/44681329-48a77c00-aa0e-11e8-898e-664a0fe05476.png)

[2018-08-27 20:26] ersinciftci opened #4715 "Add excludeNA option to filtered-samples endpoint"

[2018-08-27 20:38] tmazor opened #4716 "[testing expression sample coloring] mobx error"
Go here: http://www.cbioportal.org/index.do?session_id=5b84611d498eb8b3d5678e93
Click on Expression and then IDH1. There is a mobx error in the console

[2018-08-27 20:40] tmazor opened #4717 "[testing expression sample coloring] plots tab doesn't color samples by mutation when clinical attribute is selected"
![image](https://user-images.githubusercontent.com/10508276/44684734-d50a6c80-aa17-11e8-8ca3-3f58408cda72.png)

Go here: http://www.cbioportal.org/index.do?session_id=5a1eef06498eb8b3d560f502&show_samples=false&
Go to plots tab, change to clinical attribute and watch the color disappear.

[2018-08-27 20:42] tmazor opened #4718 "[testing expression sample coloring] mutation colors and tooltips are for all genes in query"
Samples are colored by (and tooltips show data for) all genes in the query, not just the gene being plotted:
![image](https://user-images.githubusercontent.com/10508276/44684845-1dc22580-aa18-11e8-9e79-62e60d28d8c9.png)

[2018-08-27 20:44] tmazor opened #4719 "[testing expression sample coloring] boxplot is narrower now"
On production, the boxes are wider, which makes it easier to distinguish the individual samples. Was there a reason for this change?
![image](https://user-images.githubusercontent.com/10508276/44685011-70034680-aa18-11e8-8b00-d5fb67e35f66.png)
![image](https://user-images.githubusercontent.com/10508276/44685020-7396cd80-aa18-11e8-8c27-b885799572ca.png)

[2018-08-27 20:46] tmazor opened #4720 "[testing expression sample coloring] y-axis no longer starts at 0"
On production, the y-axis always goes to 0. The new version uses a y-axis scaled to the data. Was there a reason for this change?
![image](https://user-images.githubusercontent.com/10508276/44685121-aa6ce380-aa18-11e8-931b-dc4e5a741fa7.png)
![image](https://user-images.githubusercontent.com/10508276/44685126-ae006a80-aa18-11e8-96eb-f477402058e0.png)

[2018-08-27 20:54] inodb opened #4721 "Mutation Mapper Tool Example - No results BRCA1/BRCA2"
BRCA1 and BRCA2 tabs show no mutations for the example

As reported by:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/G2yN9TKfZNk/9mnxgWcfAgAJ

[2018-08-27 20:55] tmazor opened #4722 "mutation mapper - some demo data fails"
user reported bug - https://groups.google.com/forum/#!topic/cbioportal/G2yN9TKfZNk

When loading the "Genomic" or "Genomic and Protein Change" demo data, the lollipop plots shows no mutations for BRCA1/2:

![image](https://user-images.githubusercontent.com/10508276/44685622-e18fc480-aa19-11e8-97fe-57df3e0cd910.png)

[2018-08-27 20:55] tmazor commented on #4722
@inodb beat me to this issue. closing this one.

[2018-08-27 20:55] #4722 closed

[2018-08-27 21:21] alisman opened #4723 "oncoprint images configurable with absolute path?"
Oncoprint loads some images right now.   Could we make the library configurable so it would accept an absolute path for these images?  I can explain why this is necessary.

[2018-08-27 21:48] adamabeshouse commented on #4723
@alisman right now it doesnt accept the image paths as a parameter. would that be necessary?

[2018-08-27 22:50] adamabeshouse commented on #4720
no reason. should we keep it as before?

[2018-08-27 23:54] ersinciftci commented on #4715
Also add `filterType` parameter, because we will need to get unselected patients as well each time a new filter is added.

[2018-08-28 10:26] pieterlukasse commented on #4713
notify: @jjgao

[2018-08-28 15:28] ersinciftci opened #4726 "Add Access-Control-Allow-Headers: total-count to response headers"

[2018-08-28 15:39] #4678 closed

[2018-08-28 15:39] #4477 closed

[2018-08-28 16:06] adamabeshouse commented on #4720
@tmazor @alisman thoughts?

[2018-08-28 16:27] inodb opened #4727 "Not all examples in mutation mapper tool are showing up"
E.g. for genomic changes example:
[code]
and
[code]
Might make sense to add these to test cases, but move them from the example.

Also fusion are not showing up in any of the examples

[2018-08-28 17:20] #4714 closed

[2018-08-28 17:21] ersinciftci opened #4728 "Remove duplicate rows in mutation_count in the migration script"

[2018-08-28 17:58] #4719 closed

[2018-08-28 17:58] #4718 closed

[2018-08-28 17:58] #4717 closed

[2018-08-28 18:06] #4721 closed

[2018-08-28 19:03] adamabeshouse commented on #4723
instead, used webpack in oncoprintjs to use data urls instead of relative paths

[2018-08-28 19:03] #4723 closed

[2018-08-28 22:14] adamabeshouse commented on #4710
at @inodb 's suggestion, by exploring an older version of `master`, before those changes that changed the screenshots, Ive found that there was a bug before and it seems the chart for MDM2 was colored using TP53 data. so the new screenshot is correct, and theres no data issue.

[2018-08-28 22:14] #4710 closed

[2018-08-29 14:20] tmazor opened #4730 "expression tab - sort by median doesn't work"
User reported bug - https://groups.google.com/forum/#!topic/cbioportal/SIFgi6M2dXc

On the expression tab, sorting by median doesn't actually sort by median. It does change the sort order, but it's not to the correct order.

[2018-08-29 14:49] sandertan opened #4732 "Implement resolving of ambiguous variant allele in validator"
PR #3913 @angelicaochoa adds functionality to the importer and documentation regarding ambiguous variant alleles. It would be nice to implement this functionality in the validator as well. The importer can now report a message that is missing from the validation report:

[2018-08-29 15:09] #4726 closed

[2018-08-29 15:23] pieterlukasse commented on #4732
I think this PR tried to add the same validation and more to the validation script: https://github.com/cBioPortal/cbioportal/pull/3879 . See this section: https://github.com/cBioPortal/cbioportal/pull/3879/files#diff-fee5ab3c72d7aa124ff0d2d3b199c68bR1262 . Would be good to implement the missing part indeed in the validation script (or perhaps the java implementation is wrong?)

[2018-08-29 16:25] alisman opened #4733 "Fix fontendCongfigOveride in config service"
fontendCongfigOveride in config service

[2018-08-29 19:18] #4699 closed

[2018-08-29 19:19] #4730 closed

[2018-08-30 14:34] zhx828 opened #4734 "SV: Other tabs"
- [x] Clinical data tab. Planning to use lazyMobxTable
- [x] ~Mutated Genes Tab. Planning to use lazyMobxTable.~
- [x] ~CNA Tab. Planning to use lazyMobxTable.~
- [x] MDACC compendium heatmaps tab, https://github.com/cBioPortal/cbioportal/issues/4833

[2018-08-30 20:02] inodb opened #4736 "move tutorial.jsp to cbioportal-frontend for SPA"

[2018-08-30 21:16] zhx828 opened #4737 "SV: Update tutorials' sreenshots"
Update the tutorials list here https://github.com/cBioPortal/cbioportal/blob/830d58225c73c940a98904002b7fa6d159b97732/portal/src/main/webapp/tutorial.jsp

[2018-08-31 12:48] tmazor opened #4739 ""download data" component fails"
User reported bug: https://groups.google.com/forum/#!topic/cbioportal/vnOkiXE3tEI

Doing this:
![image](https://user-images.githubusercontent.com/10508276/44913153-85b78b00-acfa-11e8-8254-5603db093bed.png)

Produces this:
![image](https://user-images.githubusercontent.com/10508276/44913147-7df7e680-acfa-11e8-84c3-82f26bf14e7a.png)

[2018-08-31 21:06] cmonnom opened #4743 "Issues importing study_es_0"
I can't pass the **Import Gene Panel for Sample Study** step:
`importGenePanel.pl --data ../../test/scripts/test_data/study_es_0/gene_panel_example.txt`
`Reading data from:  /opt/cbioportal/core/src/main/scripts/../../test/scripts/test_data/study_es_0/gene_panel_example.txt`

`ABORTED!
org.mybatis.spring.MyBatisSystemException: nested exception is org.apache.ibatis.exceptions.PersistenceException:

[2018-09-04 07:59] sandertan opened #4746 "Sample numbering"
In this patient with 5 samples the sample numbering starts with numbers and ends with characters: `1,2,A,B,C`.

![bug_sample_numbering](https://user-images.githubusercontent.com/9624990/45017805-da277700-b028-11e8-8caf-43b25a1524f1.png)

[2018-09-04 14:38] alisman opened #4747 "Enable GA tracking for SPA"

[2018-09-04 14:48] alisman opened #4748 "Make sure the frontend configuration is overwritten when it loads (and add localstorage)"

[2018-09-04 16:13] alisman opened #4749 "Fix setting of page titles"

[2018-09-04 17:45] alisman opened #4750 "Change patient page routing to use subroute"

[2018-09-04 17:49] alisman opened #4751 "Handle legacy routes (index.do) in SPA"

[2018-09-05 19:23] jjgao opened #4753 "[mutation diagram] zoom in and move"
Something similar to uniprot:

![Image](https://github.com/user-attachments/assets/bfba5e9b-5d08-4212-a087-ba2f3accd43f)

See: https://www.uniprot.org/uniprotkb/P0CY46/entry. Zooming in would allow you to see individual amino acids

[2018-09-05 19:44] jjgao commented on #4569
Not fixed in production. I'll verify once it's released.

[2018-09-05 19:47] jjgao commented on #4716
If SPA would solve it, I think it's ok to wait.

[2018-09-05 19:57] jjgao opened #4754 "inconsistent x-axis label style"
Expression & Plots:
![image](https://user-images.githubusercontent.com/840895/45117383-7170f500-b123-11e8-8c69-97eab6e0f7cc.png)

Cancer Types Summary:
![image](https://user-images.githubusercontent.com/840895/45117399-76ce3f80-b123-11e8-92b6-1553148f50cf.png)

Personally I like the direction in the "Cancer Types Summary" tab but maybe tilt it a little more (similar to Expression tab)

thoughts? c

[2018-09-05 20:00] jjgao opened #4755 "Expression too colorful..."
The Expression plot is really colorful with both mutations and CNAs. Turning on only one of them seems fine. Should we only turn on mutations only or CNAs only by default?

http://www.cbioportal.org/index.do?session_id=5b903556498eb8b3d567b494

![image](https://user-images.githubusercontent.com/840895/45117804-9c0f7d80-b124-11e8-8f40-ddebea20b3a0.png)

![image](https://user-images.githubuserconten

[2018-09-05 20:48] schultzn commented on #3955
It would still be nice to search for genes and retrieve the frequency of alterations.. maybe we can show only the top 10 at first, but then quickly compute the other frequencies when a user searches for genes?

[2018-09-05 20:49] schultzn commented on #4754
I find the one used in Expression and plots easier to read though.

[2018-09-05 20:51] schultzn commented on #4755
I agree, showing only mutations might be a better default.

We should probably also start drawing dots with more transparency, so that users get a better idea of the density of the data points. This is especially important in the mutations vs CNA plot on the study view.

[2018-09-05 21:03] alisman commented on #4754
@jjgao We changed the angle/orientation in plots because leftward slant creates a difficult problem for padding on the left side of the chart (unless we make them very steep like Expression).   Like @schultzn, I actually find Expression now easier to scan because the beginning of the label aligns with the tick.   So, for both technical and aesthetic reasons, my vote is to adopt the Expression styl

[2018-09-05 21:21] alisman opened #4756 "Put gene name in Cancer type summary y axis"

[2018-09-05 21:32] jjgao commented on #4713
Another option is: using the original mRNA (instead of z-scores) profile and still showing percentiles. The issue with z-scores is that they are oftentimes not very meaningful since the original data (e.g. rnaseq) does not follow normal-like distribution.

[2018-09-05 21:35] jjgao commented on #4720
@adamabeshouse let's keep it as before.

[2018-09-05 21:42] jjgao commented on #4739
@onursumer maybe you can help with this one? Let's fix it soon.

[2018-09-05 21:55] jjgao commented on #4698
The two TCGA buttons are hard coded. Custom list is for selecting any studies.

[2018-09-05 21:59] jjgao commented on #4502
Thanks, @fedde-s.

@ersinciftci it may be a good idea to remove `category` from the endpoint for now.

[2018-09-05 22:01] jjgao commented on #4165
Thanks, @n1zea144 !

[2018-09-05 22:05] jjgao commented on #4712
The reference screenshot seems to have the correct number of mutations (you can go to the patient view to find out). @ersinciftci could you investigate?

[2018-09-05 22:11] jjgao commented on #4709
@pieterlukasse good points. Agreed with the last two solutions. Not sure about the first one. Related to https://github.com/cBioPortal/cbioportal/issues/4713 also.

[2018-09-05 22:16] jjgao commented on #3955
I like @schultzn's idea.

@ersinciftci @zhx828 How difficult is it to do pagination and query? For query, you may want to match genes that start with the user input once they have typed two characters.

[2018-09-05 22:17] jjgao commented on #4754
@alisman @schultzn sounds good. Let's change `cancer types summary` to the same style too.

[2018-09-05 22:44] #4268 closed

[2018-09-06 13:15] ersinciftci commented on #3955
@jjgao do we need pagination? I can just add an optional filter parameter to the endpoint, if it's empty, return top 100 genes, if user enters a filter, return top 100 genes that matches with the filter?

[2018-09-06 13:18] ersinciftci commented on #4712
@jjgao it's changed because `Total mutations` was hardcoded in the frontend, but now it's coming as clinical data and the attribute's name is `Mutation Count`, so it shows the attribute's name, just like all other clinical data in the dropdown.

[2018-09-06 13:34] zhx828 commented on #3955
@ersinciftci we also need to support sorting. @jjgao  I need to discuss with Aaron how this can be done. Do we need to make sure when user scrolling the table? The table will fetch the data continuously?

[2018-09-06 15:47] zhx828 commented on #3955
@jjgao just checked with the library. It would actually be easier than I thought. Let's discuss during the stand up meeting today.

[2018-09-06 17:26] jjgao commented on #4332
Reviving this. @adamabeshouse could you do the followings?

- `Data Type` dropdown: `Clinical Attribute`, `Mutation`, `Copy Number`, `mRNA`, `Protein`, `Methylation` (hide when not available)
- When `Mutation` is selected, the next dropdowns are `Mutation Data Profile`, `Mutation Count by`, and `Gene`
- `Mutation Data Profile` will usually have only one profile which should be automatically select

[2018-09-06 17:28] jjgao commented on #4332
@Sjoerd-van-Hagen @pieterlukasse Please comment if you would like to make changes to the design above.

[2018-09-06 21:29] cmonnom commented on #4743
So, I solved my own issue. The password was wrong.

Just for the poor souls stuck at this step, this is because you are REQUIRED to create a mysql user "cbio_user" and a password "somepassword". Don't use your own username or password. You might need to change the MySQL password requirements to allow weak passwords.

Not sure why it's hard coded when we create a settings.xml file but I guess cbiop

[2018-09-06 21:29] #4743 closed

[2018-09-07 13:30] fedde-s opened #4759 "Deployment manual demands testing-specific database setup"
The [second page](https://github.com/cBioPortal/cbioportal/blob/v1.16.0/docs/Pre-Build-Steps.md#create-the-cbioportal-mysql-databases-and-user) of the documented deployment steps claims that all installations require database setup that's only used when running the automated integration tests for the Java layer. Specifically, creating a database named `cgds_test`, and a global Maven configuration

[2018-09-07 14:51] inodb commented on #4712
@ersinciftci the counts are really different as well as JJ mentioned - im going to change the title of this issue

[2018-09-07 18:07] alisman commented on #4716
I can confirm that this is fixed in spa:
http://www.cbioportal.org/alpha/results?session_id=5b84611d498eb8b3d5678e93

[2018-09-07 18:10] #2986 closed

[2018-09-07 18:10] #3156 closed

[2018-09-07 18:11] alisman commented on #3239
@jjgao can we close this?

[2018-09-07 18:11] #3734 closed

[2018-09-07 18:12] #3977 closed

[2018-09-07 19:06] #4658 closed

[2018-09-07 19:16] inodb commented on #4622
I think it's slightly confusing to have some pages be pulled as markdown and some through google docs. Isn't it better to update this file: https://github.com/cBioPortal/cbioportal/blob/master/docs/FAQ.md ?

[2018-09-07 19:16] jjgao commented on #3239
@alisman let's keep it in the icebox for now.

[2018-09-07 19:21] jjgao commented on #4622
@inodb good point. We used Google Docs b/c it's easy to edit and work together. But maybe now that we have done with the editing, it's better to move to markdown. Hopefully, the future edit will be incremental.

And the published Google doc doesn't look so good...

https://docs.google.com/document/d/e/2PACX-1vSWTtIJZF2tuBimihr8ke-d00DpKh7fydFIQb5xYpE_bMYM9hZyY9OP1Vz1Ts0ow7ob-3h2S19cuB5O/pub?embedd

[2018-09-07 19:41] inodb commented on #4739
Would it be ok to change it to go directly to the download tab? Doesn't feel super intuitive to just download the mutation data imo

[2018-09-07 20:51] alisman commented on #4739
@jjgao determined yesterday that we DO need to retain that functionality.  maybe not everything is available on download page?

[2018-09-10 11:49] pieterlukasse commented on #4332
@jjgao thanks, this is good. One small remark I have is only for  `Mutation Data profile`: afaik there is always only one profile, so perhaps this box can be removed in this case.

[2018-09-10 15:58] ersinciftci opened #4760 "Figure out which SQL queries are faster with IN pairs and change others accordingly"
Some queries works faster with `(sample.STABLE_ID, genetic_profile.STABLE_ID) IN` syntax, and some queries are faster with `((sample.STABLE_ID = 'TCGA-OR-A5J1-01' AND genetic_profile.STABLE_ID = 'acc_tcga_gistic') OR (sample.STABLE_ID = 'TCGA-OR-A5J2-01' AND genetic_profile.STABLE_ID = 'acc_tcga_gistic')) ...`. Figure out why and change them accordingly.

[2018-09-10 17:21] ersinciftci commented on #4760
Seems like the performance discrepancy is coming from the size of the study we are testing, for big studies, IN pairs are faster, for small studies, `((1 AND 2) OR (3 AND 4))` syntax is faster. I'll check if we can make IN pairs fast for all studies by introducing new composite indexes.

[2018-09-10 19:00] inodb commented on #4739
This has been fixed and deployed

[2018-09-10 19:00] #4739 closed

[2018-09-10 19:59] adamabeshouse commented on #4332
@pieterlukasse @jjgao lets omit the box and use that selector for `Mutation Count By`

[2018-09-10 20:43] ersinciftci opened #4765 "Fix sample-count response header in mutation endpoints"

[2018-09-10 20:48] #4156 closed

[2018-09-10 21:23] zhx828 opened #4766 "The study view linkout in Datasets is broken"

[2018-09-10 21:25] zhx828 opened #4767 "The new study view page has two headers and not working"
http://www.cbioportal.org/alpha/newstudy?id=cellline_ccle_broad

[2018-09-10 21:35] zhx828 opened #4768 "The oncoprint does not show any inforamtion from the study view linkout"
The linkout is to index.do. In the new implementation, the index.do will be redirected to results page. There are two issues here:
1. The mutations tab is no longer selected by default
2. The oncoprint does not show any TP53 mutations

Reproduce:
New: http://www.cbioportal.org/alpha/study?id=acc_tcga_pan_can_atlas_2018#mutations
Production: http://www.cbioportal.org/study?id=acc_tcga_pan_can_atlas

[2018-09-10 22:08] adamabeshouse commented on #4332
@pieterlukasse @jjgao what order should we put the mutation types in?

[2018-09-10 22:32] adamabeshouse commented on #4332
@pieterlukasse @jjgao for choosing mutation type, should we use the same priority algorithm as the oncoprint?

[2018-09-10 22:49] inodb opened #4769 "validator should not allow MUTATION_COUNT and FRACTION_GENOME_ALTERED"
We removed `fraction_genome_altered` and `mutation_count` tables and instead created auto populated clinical atttributes MUTATION_COUNT and FRACTION_GENOME_ALTERED. There should be an error raised in the clinical data validator when this value is used. We should probably also update the docs to indicate there are computed clinical attributes

[2018-09-11 03:34] #4728 closed

[2018-09-11 08:47] fedde-s commented on #759
Is this still an issue?

[2018-09-11 09:00] pieterlukasse opened #4770 "Keycloak / spring security SAML workflow fails (only in Chrome)"
Login and redirect to cBioPortal homepage works fine in Firefox, but fails in Chrome with 403 error back from tomcat.

Should be reproducible with docker setup: https://github.com/thehyve/cbioportal-docker and https://github.com/thehyve/cbioportal-docker/blob/master/docs/using-keycloak.md

Firefox screenshots:

![image](https://user-images.githubusercontent.com/2900303/45349451-9ba63500-b5b1-11e8-

[2018-09-11 09:09] pieterlukasse commented on #4770
Also fails for 1.16.0 and 1.15.0 in the same way (Chrome only).

However, we have a deployment based on v1.15.0 https://github.com/thehyve/cbioportal/commit/d96c6acfeae21ce427705ea4769c39f84306fb90 and a frontend based on https://github.com/thehyve/cbioportal-frontend/commit/a3db711e7f94534b58e2915e94bd91e08396028c (+ some minor frontend changes on top) which is working fine for Chrome.

[2018-09-11 09:35] pieterlukasse commented on #4770
Could it be related to CSRF or other security implementation differences in Chrome vs Firefox? Perhaps because my test is with self-signed certificates on localhost? One test to do is: deploy same release on a real server with valid certificates. @inodb : why was CSRF protection disabled here https://github.com/cBioPortal/cbioportal/blob/rc/security/security-spring/src/main/resources/applicationCo

[2018-09-11 09:49] pieterlukasse commented on #4770
Other possible checks: check for differences in the headers of the request/response of call to `/cbioportal/saml/SSO` URL. E.g. what is the `Referrer Policy`, `Remote Address`, `Access-Control-Allow-Origin`, etc?

[2018-09-11 09:56] sandertan commented on #4746
Never mind, this only appeared in a local dev instance where @pieterlukasse was working on.

[2018-09-11 09:56] #4746 closed

[2018-09-11 13:01] pieterlukasse commented on #4225
@jjgao are these still the current plans? Apparently `_sequenced` is still an issue when missing.

[2018-09-11 13:58] inodb commented on #4770
@pieterlukasse i think @n1zea144 disabled csrf protection for now when we moved to spring security v5 to limit the scope of the changes required to make the upgrade

[2018-09-11 14:11] inodb opened #4772 "multi study query not working when `global_case_list: true`"
Related to:
https://github.com/cBioPortal/cbioportal/issues/4502

The case list type shows up as `other` when using `global_case_list: true` which cause the multi study query the malfunction.

As reported by:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/qXXUX-a7p5I/FmJZeoFRAQAJ

[2018-09-11 15:35] ersinciftci commented on #4760
Seems like https://github.com/cBioPortal/cbioportal/pull/4773 fixed this

[2018-09-11 15:36] #4760 closed

[2018-09-11 15:37] ersinciftci commented on #3180
Added indexes for
`STABLE_ID` in `patient`
`STABLE_ID` in `sample`
will add for the others after evaluating the usage patterns.

[2018-09-11 15:38] ersinciftci commented on #3955
Seems like https://github.com/cBioPortal/cbioportal/pull/4773 fixed this performance problem, both tables load instantly now on cbioportal.org/rc.

[2018-09-11 16:34] fedde-s opened #4774 "Several config settings require changing source code folders"
As recognised by the [Twelve-Factor App](https://12factor.net/) methodology, it's good practice to [separate deployment-specific configuration from code](https://12factor.net/config) for flexibility and ease of deployment. cBioPortal documents at least 8 config files in ways that do involve changing files in source code directories:

- The `skin.right_logo` and `skin.tag_line_image` properties doc

[2018-09-11 17:55] zhx828 commented on #4734
Product team decides to drop the Mutated Genes and CNA tabs.

[2018-09-11 18:28] zhx828 commented on #4148
Done in https://github.com/cbioportal/cbioportal/issues/4734

[2018-09-11 18:28] #4148 closed

[2018-09-11 18:28] zhx828 commented on #4149
Done https://github.com/cbioportal/cbioportal/issues/4734

[2018-09-11 18:28] #4149 closed

[2018-09-11 18:28] zhx828 commented on #4150
Done https://github.com/cbioportal/cbioportal/issues/4734

[2018-09-11 18:28] #4150 closed

[2018-09-11 18:37] #4765 closed

[2018-09-11 20:48] inodb opened #4777 "E2E tests for downloading files"
We need tests for:

- downloading files through query selector
- downloading svg/pdf/png

[2018-09-11 22:12] jjgao commented on #759
Not sure. I am closing this since we are walking away from the servlet that is causing the issue. It may not worth the effort to investigate this.

[2018-09-11 22:12] #759 closed

[2018-09-11 22:14] jjgao commented on #4109
@n1zea144 I think we can close this now?

[2018-09-11 22:15] jjgao commented on #4225
Yes, #4109 can probably be closed now -- need to verify, and then @ersinciftci can remove the hacky code.

[2018-09-11 22:24] zhx828 opened #4778 "SV: moving configs.json"
We need to find a way to define the custom [configs.json](https://github.com/cBioPortal/cbioportal/blob/master/portal/src/main/webapp/js/src/dashboard/resources/configs.json)

[2018-09-12 10:03] fedde-s commented on #4778
If it's configuration likely to sometimes vary between different people's installations or even deployments of the same institute, I hope it can be kept out of the `src/` folders, but settable from the same place as all other configuration.  I tried to express general aim in issue https://github.com/cBioPortal/cbioportal/issues/4774.

The Twelve-Factor App methodology I linked there suggests envir

[2018-09-12 10:05] fedde-s commented on #4778
If it is indeed such a setting, this will affect containerisation/cloud deployment and it might be useful to notify people working on that.

[2018-09-12 10:20] fedde-s commented on #4774
I do not aim to make every single line of `portal.properties` an environment variable any time soon, as it does allow changing all settings in one non-version-controlled place so far, even if it's a bit Java-centric. Changing it might take a lot of work, and annoy everyone who's running a cBioPortal server somewhere.

I *am* working on something that I hope will allow `portal.properties` to be swa

[2018-09-12 12:40] fedde-s commented on #4772
Is this related to the decision discussed in https://github.com/cBioPortal/cbioportal/issues/4502?

[2018-09-12 12:42] fedde-s commented on #4772
@kalletlak, is this the query selection logic you mentioned?

[2018-09-12 12:47] fedde-s commented on #4769
It looks like a PR was merged to address this bug. Reopen if I misread.

[2018-09-12 12:47] #4769 closed

[2018-09-12 14:41] sandertan opened #4782 "Automated validation of internal URLs in markdown files"
It would be nice if URLs in our markdown files that link to other internal markdown files/sections are automatically checked in a weekly run and perhaps on commit.

Cases of broken URLs in our documentation:
- Modification of filename / removal of a markdown file, which causes the URL in another file that refers to this file to be broken.
- Modification of title in a markdown file, which causes th

[2018-09-12 14:45] fedde-s commented on #4782
It might be simpler and more robust to check it on the CI server when someone pushes to a branch or makes a pull request, instead of wiring commit hooks into people's local git checkouts.

[2018-09-12 14:51] alisman opened #4783 "Refactor addGenesAndSubmit to work with SPA (QueryStore)"

[2018-09-12 15:46] alisman opened #4785 "Fix oncoquery documenation page (blank)"

[2018-09-12 16:32] #4568 closed

[2018-09-12 16:32] #4572 closed

[2018-09-12 16:45] jjgao commented on #4248
@adamabeshouse I think we can use the same layout as `enrichments` tab. We can move the current scatter plot to left too (replacing the box plot in the screenshot below; maybe moving the legend under the plot).

![image](https://user-images.githubusercontent.com/840895/45440116-6e2cba80-b689-11e8-93c2-bf047ab925ba.png)

[2018-09-12 16:50] jjgao commented on #4778
@alisman would this be part of the SPA effort?

[2018-09-12 16:51] jjgao commented on #4774
cc'ing @alisman on this as he has been working on separating frontend properties from backend ones.

[2018-09-12 16:53] fedde-s commented on #4774
I've addressed the `portal.properties` issue in https://github.com/cBioPortal/cbioportal/pull/4787, as discussed in the `#cloud` channel on Slack over the past months.

[2018-09-12 16:56] fedde-s commented on #4778
This sounds more like a feature or enhancement than a refactoring.

[2018-09-12 17:34] inodb opened #4788 "Virtual studies listed as normal studies in query selector when tree setting is non-nested"
When going to e.g. www.cbioportal.org/genie one can see other virtual studies listed at the same level as other studies, because there is no nesting. I guess this can also be solved by having separate session services for each portal.

[2018-09-12 17:36] inodb commented on #4712
Closing, cause counts are correct now. Label change is fine I assume?

[2018-09-12 17:36] #4712 closed

[2018-09-12 17:38] alisman commented on #4774
@fedde-s Yes I can make sure that skin properties allow for absolute paths as you say.

[2018-09-12 17:41] fedde-s commented on #4774
Nice! I think that would really help simplify the Docker setup, once the pull request I linked is integrated.

[2018-09-12 18:00] ersinciftci commented on #4570
@jjgao it seems like https://springfox.github.io/springfox/javadoc/current/springfox/documentation/swagger/web/TagsSorter.html supports only alphabetical sorting for now. I tried a few different things but it seems like it's not possible. Closing it for now.

[2018-09-12 19:22] jjgao opened #4790 "co-expression: use scientific notation for p/q-values"
Currently:

![image](https://user-images.githubusercontent.com/840895/45448027-59f3b800-b69f-11e8-9043-3881e2a457c3.png)

Let's change it to scientific notation, similar to Enrichments.

![image](https://user-images.githubusercontent.com/840895/45448129-99ba9f80-b69f-11e8-9ada-853e486897a5.png)

[2018-09-12 19:30] inodb commented on #4790
@jjgao send a PR for this since it was p simple. Do we need the formatting with conditional bold text as well?

[2018-09-12 19:35] inodb commented on #4790
@jjgao also i noticed enrichments sorts everything by asc q-value by default, should that be same for co-expression?

[2018-09-12 19:40] jjgao commented on #4788
There are two issues here:

1. we are displaying virtual studies across portals for the same user. Using a separate collection for each portal would solve the problem. Currently, we are all using `xxx/sessions/msk_portal/`. Let's create separate collections. @inodb Can you work on that? I think it would also make migration later easier.

2. when we don't show the tree structure, all virtual studie

[2018-09-12 19:42] jjgao opened #4791 "use separate session service collections for different portals"
we are displaying virtual studies across portals for the same user. Using a separate collection for each portal would solve the problem. Currently, we are all using xxx/sessions/msk_portal/. Let's create separate collections. @inodb Can you work on that? I think it would also make migration later easier.

[2018-09-12 19:44] jjgao opened #4792 "virtual studies not grouped together on genie portal"
when we don't show the tree structure, all virtual studies are listed in the same section as the main studies. Maybe we should always list the virtual studies under it's section no matter how many levels of the three we decide to show.

![image](https://user-images.githubusercontent.com/840895/45449066-27978a00-b6a2-11e8-8ca5-66e7e3b19d6c.png)

[2018-09-12 19:44] jjgao commented on #4788
closing this since they are separately logged.

[2018-09-12 19:44] #4788 closed

[2018-09-12 20:53] jjgao opened #4794 "Improving performance with materialized views"
We are joining many tables in our queries, some of them can be slow. And when joining multiple tables, having a composite index is not possible. For example, we frequently query samples by joining `cancer_study`, `patient`, `sample` tables and querying by `cancer_study.cancer_study_identifier` and `sample.stable_id`, but `(cancer_study.cancer_study_identifier, sample.stable_id) in (...)` is not an

[2018-09-12 21:04] jjgao commented on #4570
@ersinciftci maybe we can add a prefix then? E.g. `A. `, `B. `

[2018-09-12 21:08] ersinciftci commented on #4570
@jjgao hmm yeah good idea, or `1.`, `2.`. I'll give it a try

[2018-09-12 21:10] jjgao commented on #4570
@ersinciftci if using `1.`, `2.`, please make sure `10.` goes after `9.` :)

[2018-09-12 21:15] ersinciftci commented on #4570
@jjgao yeah I was thinking about that too :)

[2018-09-12 21:26] jjgao opened #4795 "hide chart if only one value in study view"
I remember we used to hide chart if the value of all samples for an attribute is the same. Can we re-enable that?

For example, in this study: http://www.cbioportal.org/study?id=ampca_bcm_2016, `With Mutation Data`, `With CNA Data` (note all `no` here), and `# of Samples Per Patient` should be hidden.

![image](https://user-images.githubusercontent.com/840895/45453669-726bce80-b6af-11e8-8b20-b33ba

[2018-09-12 21:28] jjgao commented on #2884
@zhx828 as discussed, for the moment, let's hash the case-insensitive values to the same colors.

[2018-09-12 21:39] zhx828 commented on #4790
@jjgao @inodb we probably should standardize exponential fraction digits. In the study view, I'm setting it to three.

[2018-09-12 21:54] jjgao commented on #4335
@ersinciftci let's fix this since we have two tabs using Benjamini–Hochberg now.

[2018-09-13 13:31] #4463 closed

[2018-09-13 13:49] kalletlak commented on #3324
@jjgao @zhx828 should we replace `filters` with the `StudyViewFilter` from the study-view api?

[2018-09-13 14:51] zhx828 opened #4797 "Do not make PAITENT/SAMPLE clinical count api call when there is no attribute for it"

[2018-09-13 15:46] inodb commented on #4660
this has already been fixed by @ersinciftci

[2018-09-13 15:46] #4660 closed

[2018-09-13 15:48] inodb opened #4798 "co-expression tab: add volcano plot (on top of the current scatter plot) of spearman correlation (x-axis) vs q value (y-axis)."
Moved issue from https://github.com/cBioPortal/cbioportal/issues/4248 to separate issue, so we can schedule it for a different release. See that issue for discussions.

From there by JJ:

I think we can use the same layout (and the same component?) as `enrichments` tab. We can move the current scatter plot to left too (replacing the box plot in the screenshot below; maybe moving the legend under t

[2018-09-13 15:49] inodb commented on #4248
@jjgao i moved the volcano plot item to a separate issue, so we can schedule that for a diff release

[2018-09-13 16:05] zhx828 commented on #3324
@kalletlak it's a good idea, then we can directly apply the filters to the new study to reproduce. We can then let user decides to save by filters or by currently selected samples.

[2018-09-13 16:07] kalletlak commented on #4772
@fedde-s yes. There is a pr to fix it https://github.com/cBioPortal/cbioportal-frontend/pull/1449

[2018-09-13 16:44] #3449 closed

[2018-09-13 16:51] kalletlak commented on #3852
New study view is now using this component

[2018-09-13 16:51] #3852 closed

[2018-09-13 17:47] adamabeshouse commented on #4798
@jjgao but the coexpression table does not have as many columns. And this would shrink the scatter plot a lot, is that okay? Our scater plot shows more info than the expression boxplot - it also has mutation info. And there is the log scale selector checkbox as well.

What about shrinking the coexp tables height, and putting the volcano plot below it, while keeping the scatter plot the same size a

[2018-09-13 18:54] inodb commented on #4248
this is all in 1.17 branch now

[2018-09-13 18:54] #4248 closed

[2018-09-13 18:54] #4790 closed

[2018-09-13 19:37] adamabeshouse commented on #4569
seems fixed in both production and beta

[2018-09-13 20:47] jjgao commented on #3324
@kalletlak good idea!

[2018-09-13 20:50] jjgao commented on #4798
@adamabeshouse I think we should keep the same positions as Enrichments. It's ok to make the plots bigger than the ones in Enrichments.

[2018-09-13 21:16] jjgao opened #4799 "are we missing MUTATION_COUNT attribute for sequenced samples without mutations"
https://github.com/cbioportal/cbioportal/blob/rc/core/src/main/java/org/mskcc/cbio/portal/dao/DaoMutation.java#L141

[2018-09-14 13:34] fedde-s commented on #34
I don't think anyone at The Hyve is currently working on this. It seems to be very straightforward to add Google as an Identity Provider in Keycloak if you know where to find a client token though.

[2018-09-14 14:05] fedde-s commented on #540
Do the things we've started doing with [Keycloak](https://cbioportal.readthedocs.io/en/v1.16.0/Authenticating-and-Authorizing-Users-via-keycloak.html) basically implement the solution discussed here?

[2018-09-14 14:09] fedde-s commented on #540
Ah, I guess the answer is no—I think I've only seen Keycloak being applied to interactive use of the web app via a browser.

[2018-09-14 19:10] ersinciftci opened #4802 "Change all IN pairs to subqueries, also add optimization for single study queries"
We realized that doing
[code]
is much faster than doing
[code]
for some reason (0.1 second vs 14 seconds).

So we need to change all similar places that uses `(x, y) IN` pairs on joined tables to subqueries on `sample` table, and see if every queries benefits from it.

We should also add optimizations similar to https://github.com/cBioPortal/cbioportal/blob/master/persistence/persistence-mybatis/s

[2018-09-14 19:15] ersinciftci opened #4803 "Find out why /cna-genes takes long for big studies, even though the query itself is fast"
In https://github.com/cBioPortal/cbioportal/pull/4796/files, we changed the `/cna-genes/fetch` query and the query itself is a lot faster (1 second) if run directly on MySQL, even for big studies, but the API call itself still takes around 17 seconds for `msk_impact_2017`. We need to figure out what part of backend causes the big difference.

[2018-09-14 20:04] ersinciftci commented on #4799
@jjgao do you know if they were missing from the `mutation_count` table before? Because the query is very similar to the old one inserting to `mutation_count`.

[2018-09-14 21:19] jjgao opened #4804 "Adding individual indices for tables with composite primary keys"
@ersinciftci found out that MySQL does not create indices for individual columns that were part of a composite primary key and also a foreign key.

For example, for the query below, without the last two indices, only two indices will be created for `(P1, P2)`, and `P2` (explained [here](https://dev.mysql.com/doc/refman/5.7/en/multiple-column-indexes.html)).

I did some experiments and found that w

[2018-09-14 21:45] zhx828 commented on #4795
@kalletlak JJ and I had a discussion the other day. For these charts, at this moment, we don't have a plan to support them in the clinical data table yet. We need to manually add in the front-end.

[2018-09-14 21:47] zhx828 opened #4805 "Highlighting curve is slow when there are too many curves in the survival"
Reproduce
- Go http://www.cbioportal.org/rc/newstudy?id=msk_impact_2017
- Click survival icon on the Cancer Type table header
- Click on any curve info in the survival tooltip

[2018-09-14 22:10] jjgao commented on #4799
@ersinciftci they were probably also missing before. I think we should fix it. Maybe a follow up pr?

[2018-09-14 22:11] jjgao commented on #4799
Just checked. We are missing them in the `mutation_count` table.

[2018-09-15 16:16] stublakemore opened #4806 "Mutation Mapper doesn't produce frameshift variants"
Hi,

I've been using the online version of cBioPortal Mutation Mapper to produce Lolliplots of my mutation data for the last year or so, but after a break using the website, it seems the graphs no longer produce any form of indels. The format of my tables have not altered in the mean time, and the Mutation Mapper with the same table still plots SNVs, splice variants and stop mutations, without pro

[2018-09-17 11:00] pieterlukasse opened #4808 "Download tab (homepage) not working when selecting all studies"
I get a NullPointerException:

![image](https://user-images.githubusercontent.com/2900303/45619386-5e421b80-ba79-11e8-80ad-15a155b4c2e3.png)

Steps to reproduce:
1. select all studies in Query tab. Wait for the case list to build up.
2. select some of the genes (I selected "Glioblastoma: TP53 Pathway (4 genes)")
3. go to the "DOWNLOAD DATA" tab and click Download button

[2018-09-17 14:55] jjgao commented on #4622
We will transfer the google doc to markdown: https://github.com/cBioPortal/cbioportal/pull/4809

[2018-09-17 15:18] sandertan opened #4810 "Text outside box when multiple panels in 1 patient"
'example_gene_panel_stable_id2' is rendered outside the text box. Perhaps it would be better to render this on a new line.

This patient contains 2 samples, each sequenced using a different gene panel.

<img width="501" alt="screen shot 2018-09-17 at 17 13 27" src="https://user-images.githubusercontent.com/9624990/45632203-0ae1c480-ba9d-11e8-964b-26958365635c.png">

[2018-09-17 15:50] jjgao opened #4811 "enforce one mutation profile per study"
We assume there is only one mutation profile per study in many places, e.g. study view, patient view, mutation_count clinical data, but we don't enforce that. Should we start to put constraint so that only on mutation profile can exist for a study?

- [x] add a rule in validator
- [ ] add an sql trigger when adding a profile

@ersinciftci @sandertan @pieterlukasse @n1zea144 @sheridancbio @inodb

[2018-09-17 15:51] inodb opened #4812 "MUTATION_COUNT issues with %_uncalled profile"
- [x] Importer should not add mutation count for uncalled profile
- [x] Change datatype from MUTATION_EXTENDED to MUTATION_UNCALLED in portal importer configuration file for `mutation-uncalled`

[2018-09-17 15:53] jjgao commented on #4806
@stublakemore would you please share some of your data here so we can debug? Thanks.

[2018-09-17 15:59] jjgao commented on #4808
`DOWNLOAD DATA` form only support one study. After going through the steps @pieterlukasse listed above, the `cancer_study_id` parameter is incorrect in the url.

![image](https://user-images.githubusercontent.com/840895/45634714-1f0fcc80-ba71-11e8-9916-c321064007cd.png)

[2018-09-17 16:00] jjgao commented on #4808
Actually, you don't have to select all studies, select 2 studies would do the trick.

[2018-09-17 17:59] jjgao opened #4813 "garbled text in footer"
![image](https://user-images.githubusercontent.com/840895/45640839-ba10a280-ba81-11e8-855f-ff9ea578bb3c.png)

[2018-09-17 18:01] #4502 closed

[2018-09-17 18:04] jjgao opened #4814 "Revert the FAQ page to markdown"
http://www.cbioportal.org/alpha/s/faq

[2018-09-17 18:06] jjgao opened #4815 "MutationMapper and OncoPrinter are missing in Visualize Your Data page"

[2018-09-17 18:10] jjgao opened #4816 "DOWNLOAD DATA is not work in SPA"

[2018-09-17 18:13] jjgao opened #4817 "SPA: is it possible to make the lollipop diagram responsive"
this could be a future improvement

[2018-09-17 18:18] jjgao opened #4818 "SPA: white space above table in Enrichments"
Can we remove the white space? Maybe the Mutations/Copy-number/mRNA header doesn't have to occupy a line.

![image](https://user-images.githubusercontent.com/840895/45641730-46bc6000-ba84-11e8-9516-20e3a1aaf4ee.png)

[2018-09-17 18:21] jjgao opened #4819 "SPA tab names"
Oncoprint -> OncoPrint
Coexpression -> Co-expression
Enrichment -> Enrichments

[2018-09-17 18:22] jjgao opened #4820 "SPA: swap CN Segments and Survival"
Move Survival tab before CN Segments

[2018-09-17 18:33] jjgao commented on #4569
@adamabeshouse it is still happening when a gene is not sequenced in sample.

http://www.cbioportal.org/index.do?session_id=5b9ff34a498eb8b3d567e3b8

[2018-09-17 18:43] jjgao commented on #4201
@adamabeshouse maybe we can do this now since we are using the oncoprint (oql) data to filter mutations?

If a user opens mutations tab directly, it's ok to render all of them as blue.

[2018-09-17 18:45] jjgao opened #4821 "SPA: Bookmark tab not working"

[2018-09-17 18:50] jjgao opened #4822 "hide tabs based on data availability"
- [x] Hide `Mutual Exclusivity` when querying only one gene
- [ ] Hide `Co-expression` when there is no mRNA or protein data
- [ ] Hide `Survival` when there is no survival data
- [ ] Hide `CN Segments` when there is no segments data

[2018-09-17 18:56] jjgao opened #4823 "Cancer Types Summary: making menu more compact"
@schultzn commented that he almost always set a `Min. # Total Cases` when using the tab. But the functionality is hidden. You would have to click `Customize`. Let's redesign it after SPA.

- [x] always show the options
- [ ] Redesign the layout and make them more compact

![image](https://user-images.githubusercontent.com/840895/45643489-3490f080-ba89-11e8-872d-d401f8b1392d.png)

[2018-09-17 19:05] stublakemore commented on #4806
Hey @jjgao ,

Thanks for getting in touch. Yeah sure. Attached are two images, both created using the same table (also attached).
List of mutations:
[BIRC3_Mutations.txt](https://github.com/cBioPortal/cbioportal/files/2389884/BIRC3_Mutations.txt)

New image not producing indels:
[BIRC3_lollipop_new.svg.pdf](https://github.com/cBioPortal/cbioportal/files/2389886/BIRC3_lollipop_new.svg.pdf)

Old ima

[2018-09-17 19:09] #4755 closed

[2018-09-17 19:13] jjgao opened #4824 "lazy loading issue in SPA"
In cross cancer query for mut and cna, when we open Cancer Types Summary, why are expression data being loaded? They should be loaded after clicking Expression.

http://www.cbioportal.org/alpha/results/cancerTypesSummaryTab?session_id=5b903556498eb8b3d567b494

![image](https://user-images.githubusercontent.com/840895/45644623-255f7200-ba8c-11e8-9e18-81f444707640.png)

[2018-09-17 19:30] jjgao opened #4825 "New study view: is it necessary to load all clinical data"
We are still loading all clinical data in the background. Is it for the Clinical Data tab? If so, I think we should not do it until the tab is clicked.

[2018-09-17 19:32] jjgao opened #4826 "optimize loading time for mutated genes and CNA genes"
There have been a few tries, e.g. https://github.com/cBioPortal/cbioportal/issues/4803.  let's keep improving it.

![image](https://user-images.githubusercontent.com/840895/45645541-c2bba580-ba8e-11e8-87a5-ec8fe5311cb5.png)

[2018-09-17 19:39] jjgao opened #4827 "can we start some of the ajax calls earlier in the new study view"
For example, the initial start time for getting `clinical-data-bin-counts` is around 7s.

http://www.cbioportal.org/rc/api/attributes/MUTATION_COUNT/clinical-data-bin-counts/fetch?clinicalDataType=SAMPLE&dataBinMethod=STATIC&disableLogScale=false

![image](https://user-images.githubusercontent.com/840895/45645636-1fb75b80-ba8f-11e8-8d3d-dd252c88a843.png)

Can we list all AJAX calls and their depen

[2018-09-17 19:50] alisman commented on #4824
@jjgao

I believe this is because in Cancer Type Summary expression data is taken into account when tallying alteration counts and in fact is represented like any other alteration in bar chart.  See below.  Possible we could be smarter when expression data is not part of query?

http://www.cbioportal.org/alpha/results/cancerTypesSummaryTab?session_id=5ba0049c498eb8b3d567e40d

[2018-09-17 19:56] jjgao commented on #4824
@alisman but they are not loaded in the current production...

[2018-09-17 19:57] onursumer commented on #4806
Hi @stublakemore,

Thanks for the details.

I did a quick debug and seems like a recently added `filterMutationsByTranscriptId` function is the culprit. Seems like most of the transcripts are classified as non-canonical, and therefore filtered out. I am not sure at this moment if this is a bug or the desired behavior of this new functionality. We need to do a further analysis to see what's going w

[2018-09-17 19:57] jjgao opened #4828 "SPA: google login"

[2018-09-17 20:02] stublakemore commented on #4806
Hi @onursumer,

Ah I see. Thanks for taking a look. Hopefully (for me) it's not a new desired behaviour, since I need to make 2 more graphs to finish a figure for a paper I'd like to submit soon!

Many thanks,

Stuart

[2018-09-17 20:36] zhx828 opened #4830 "Q-value lowers than 0.000 having issue"
<img width="212" alt="screen shot 2018-09-17 at 4 35 19 pm" src="https://user-images.githubusercontent.com/5400599/45648875-bc7df700-ba97-11e8-8aa1-29422913afe0.png">

[2018-09-17 21:57] #4830 closed

[2018-09-17 22:00] adamabeshouse commented on #4201
@jjgao somewhere along the way, we are no longer loading mutations gene-by-gene. So we can either restore the functionality to do this gene-by-gene, then find a way to do it, or just do it this way where all data is loaded up front no matter what. What do you think?

[2018-09-18 02:56] jjgao commented on #4201
@adamabeshouse are we loading more data than oncoprint when loading all genes in mutations tab? If not, it's ok to load them all.

[2018-09-18 07:56] sandertan commented on #4811
Hi @jjgao , I think it is already enforced by the validator, because there's only one documented stable id for mutations (`mutations`).

[code]

[2018-09-18 11:17] stublakemore commented on #4806
Hi @inodb ,

Thank you so much! That's done the job. It did take about 20 refresh attempts for it to work, but it worked and definitely included all the mutations.

Thanks again for such a quick and helpful response to my problem.

[2018-09-18 12:39] pieterlukasse commented on #4713
@jjgao if the main use case for this specific visualization is to give the user an impression of how the expression of the gene for the current sample relates to the expression of the same gene in the other (tumor) samples of the study, then I agree with your alternative. However, if the main use case is to give the user an impression of how the expression of the gene for the current sample relate

[2018-09-18 16:03] inodb opened #4832 "Document `-D` parameter configuration"
Following up on https://github.com/cBioPortal/cbioportal/pull/4787:

- [x] copy over runtime configuration for all parameters in GlobalProperties using resolveStringValue from heltgrewe's PR https://github.com/bihealth/cbioportal/compare/1352749b72a03db5a9091f79ceead4e268503b4c...bihealth:feature/spring-style-properties
- [x] Make sure the properties work
- [x] Document the following priority orde

[2018-09-18 20:50] alisman commented on #4824
@jjgao looked into this a little further.
We are loading the molecular data in the old site, just in a single call instead of a separate call per profile as we do in the latest version.  The reason this changed is that we started using a cache to load the molecular data.  There's a tradeoff.  If we load them call per profile, we can then cache them per profile and have more granular caching contro

[2018-09-18 21:23] ChrisWakefield opened #4833 "MDACC compendium heatmaps tab missing from Study page (since v1.10.0)"
Changes to dashboard.jsp introduced after v1.9.1 removed this feature.  I'd like to submit PR to add it back.  I notice the implementation style used within the jsp has completely changed, so hopefully it's not about to be redone yet again (?), but I do see many references to refactoring in the issues list.  Is now a good time?  (#1613)

[2018-09-18 21:35] alisman opened #4834 "When you hit back button from a query on results view, it doesn't render the query!"

[2018-09-19 02:15] jjgao opened #4835 "Making Mut vs GFA plots more like a density plot"
Discussion copied from slack.

Adam Abeshouse [3:45 PM]
Hi all, so I'm looking at adjusting the SV scatter plot to show density with opacity. The way I have it is that I set an opacity-per-sample, and dots that contain multiple samples just have the number multiplied by that opacity (maximum opacity is 1). I also thought it would make sense to change the opacity-per-sample depending on how many po

[2018-09-19 02:36] jjgao commented on #4811
@sandertan great. Thanks!

[2018-09-19 02:39] jjgao commented on #4713
@pieterlukasse that's a good point. The current design was for comparing to other samples. And currently we don't have z-scores calculated with reference normal samples.

[2018-09-19 02:41] jjgao commented on #4201
@adamabeshouse so we are not loading any additional data for mutations tab if the oncoprint data is loaded?

How about other tab? Are we still lazy loading them?

[2018-09-19 02:42] #4622 closed

[2018-09-19 02:46] jjgao commented on #4824
@alisman two points for discussion.

- We don't think we should load expression data at all in this case since only mutaitons and CNAs were queried. We should only load them once the Expression tab is opened.
- Is there a way to cache per profile but pull together instead of caching per call? I don't think we should make a lot of calls -- we learned our lesson.

[2018-09-19 02:48] jjgao commented on #4833
@ChrisWakefield sorry we accidentally dropped it. We will add it back in next release.

[2018-09-19 13:42] alisman commented on #4818
I think it's important to maintain heirarchy of controls b/c that's what makes the UI intelligible.   The Mutations/Copy-number/mRNA is really a submenu of enrichment and I thought about treating it that way more clearly (e.g. putting it in a band directly under the menu above it or centering it under the enrichments tab).     I will try putting the Data Set dropdown above the mRNA expression titl

[2018-09-19 13:53] alisman commented on #4824
Agreed that we shouldn't load it unless expression data is selected, in which case we do need it for cancer type summary.  I will see if I can accomplish that.

As for the caching issue, this is a good example of the difficult that we've run into.  If we make a single call but still want to cache on per profile basis, we have to not only "split and merge" on fetch, but then have a customized way o

[2018-09-19 14:08] alisman commented on #4818
@jjgao I fixed the the unnecessary margin above the mRNA expression title.  But nesting the dropdown component inside what is effectively its child (the display) is something I would rather not do.  The whitespace to the right doesn't bother my eye.  I think the heirarchy is necessary to convey the logic of the UI.   I DO think the submenu could use some design/alingment work.

![image](https://us

[2018-09-19 14:19] alisman commented on #4822
@jjgao unless there's some flag or heuristic, I don't think we know whether there's expression data, survival data or segment data until we load it (lazily).  I.e. someone lands on oncoprint after query submission --> do we load survival data just to determine whether to show survival tab?    Let me know if there is some rule that don't mind baking into the site.

[2018-09-19 14:19] alisman commented on #4822
(I will do Mutex right now)

[2018-09-19 15:01] adamabeshouse commented on #4835
@jjgao I forgot to show in screenshots, but the plot can also have multiple colors differentiating different groups. So we couldnt have a global color scheme that way

[2018-09-19 16:05] ChrisWakefield commented on #4833
@jjgao @zhx828 Thanks for your quick reply!
I don't understand whether I need to do anything.  Do you want me to submit a pull request?  Or is your group changing & refactoring things on your end such that you must be the ones to do it?  (The old lines of code don't appear that they would work dropped into the new-style rewrite of that .jsp).

[2018-09-19 17:20] zhx828 commented on #4833
@ChrisWakefield at this moment, we are very close to finishing the study view refactoring. I will implement the feature and tag you to review if you have time.

[2018-09-19 18:19] ChrisWakefield commented on #4833
@zhx828 I will make time, as I would like to review it and I'm happy to help out.  Thank you!

[2018-09-19 18:23] #4767 closed, assigned to alisman, zhx828

[2018-09-19 19:31] jjgao commented on #4816
@alisman since we are getting rid of QueryBuilder/index.do, I think we should reimplement the DOWNLOAD DATA functionality. We will need to pull data based on the form from the API. Hopefully they are the same ones as QUERY form. We will also need to reformat the data for downloading.

[2018-09-19 19:33] alisman commented on #4816
@jjgao for time being, i made a new route that points to Query builder.  This works.  When you do want to do the project you describe?

[2018-09-19 19:40] schultzn commented on #4835
I vote for an approach that does not use any pale colors but instead shows the density, as shown in the example by JJ above.

[2018-09-19 19:40] jjgao commented on #4835
@adamabeshouse let's try not to use opancity or size, and try to use the colors similar to this.

![image](https://user-images.githubusercontent.com/840895/45727083-24176d80-bb90-11e8-99ca-a90dc94a6c49.png)

[2018-09-19 19:41] zhx828 commented on #4835
@jjgao @schultzn the density is only applied when there is no selection to the study? Otherwise, we will have different colors for selected/unselected groups.

[2018-09-19 19:42] jjgao commented on #4835
@zhx828 let's not sure any unselected samples in this plot.

[2018-09-19 19:56] schultzn commented on #4835
I think what JJ tried to say is: In this plot, always only show selected samples (or all samples, when no selection has been made yet). In other words, do not show the non-selected samples anymore.

[2018-09-19 20:42] adamabeshouse commented on #4835
@schultzn @jjgao two things:

1) Does that mean we no longer want this plot to be interactive? Right now you can drag to select a rectangle of points to set the selection.

2) What about the functionality of showing the groups, in different colors? Eg the one above from impact was generated by the smoking clinical attribute.

[2018-09-19 20:42] jjgao opened #4837 "Break up with core and portal modules"
Once we have SPA running, the next step is to completely break up with the Core and Portal modules. The goal should be that the frontend only communicates with backend by web API.

- DOWNLOAD DATA form is still using QueryBuilder
- Any other dependency to QueryBuilder
- List the servlets that we are still using in frontend
  - network.do
  - svg2pdf
  - ...
- Any other dependencies to Core?
- Any

[2018-09-19 20:43] #4733 closed

[2018-09-19 20:49] jjgao commented on #4822
@alisman I think we will need to call api to get whether the data exists. How it was done in the current portal?

[2018-09-19 20:52] jjgao opened #4838 "SPA: Garbled text before sign out link"
![image](https://user-images.githubusercontent.com/840895/45780804-5c6c8980-bc2c-11e8-9e04-b7308b601a61.png)

[2018-09-19 20:53] jjgao commented on #3845
@alisman this issue is unclear to me. What's problem?

[2018-09-19 20:57] jjgao opened #4839 "private beta portal is not working"
maybe related to the issue below.

![image](https://user-images.githubusercontent.com/840895/45781010-e7e61a80-bc2c-11e8-9179-d324bdf1c458.png)

[2018-09-19 20:59] jjgao commented on #4816
we'll remove querybuilder later: https://github.com/cBioPortal/cbioportal/issues/4837

[2018-09-19 20:59] #4816 closed

[2018-09-19 21:01] jjgao commented on #4823
@alisman thanks for the quick action on this. Can we also try to make the menu more compact

[2018-09-19 21:01] adamabeshouse commented on #4201
@jjgao thats right, the oncoprint uses the same mutation data as the mutations tab.

Which tabs are you talking about? I've touched a few tabs and I think we are using lazy loading in most places.

[2018-09-19 21:04] #4695 closed

[2018-09-19 21:05] #4813 closed

[2018-09-19 21:05] #4736 closed

[2018-09-19 21:06] jjgao commented on #4749
@alisman not sure what this one is about. Please feel free to close if it's fixed.

[2018-09-19 21:19] jjgao commented on #4818
@alisman Thanks. It's definitely improved. But I think it's looking better in the current production with a line under.

![image](https://user-images.githubusercontent.com/840895/45782032-bae73700-bc2f-11e8-9ab5-357d52b2b0b8.png)

Is there any reason the line is removed?

Another improvement we can do: Can we move the Data Set dropdown after the `mRNA Expression, RSEM ...` header? Maybe with one b