[2017-07-28 20:23] inodb commented on #2832
@onursumer nice find!!

[2017-07-28 20:24] onursumer commented on #2832
Actually here is the solution: https://github.com/maslianok/react-resize-detector/issues/6

[2017-07-31 17:49] alisman commented on #2870
@Tamba32 what's status on this?

[2017-07-31 17:57] #2831 closed

[2017-07-31 17:57] #2830 closed

[2017-07-31 17:58] #2786 closed

[2017-07-31 17:58] #2788 closed

[2017-07-31 17:59] #2776 closed

[2017-07-31 18:00] #2849 closed

[2017-07-31 18:01] #2812 closed

[2017-07-31 18:02] #2854 closed

[2017-07-31 18:03] #2845 closed

[2017-07-31 18:04] #2853 closed

[2017-07-31 18:04] #2864 closed

[2017-07-31 18:04] #2825 closed

[2017-07-31 18:09] jjgao opened #2890 "Mutation tab: menu bar style"
Can we make them the same height. I like the `Y-Alex Max` height.

![image](https://user-images.githubusercontent.com/840895/28791224-b990c90c-75f9-11e7-93ae-46c249b27bad.png)

[2017-07-31 18:10] jjgao opened #2891 "Mutations tab: reduce the space above gene tab"
![image](https://user-images.githubusercontent.com/840895/28791288-fb0d427a-75f9-11e7-8e95-4c1ddb42678a.png)

[2017-07-31 18:13] tmazor commented on #2805
I know there's a fix coming for this -- can it also apply to patient view mutation table @onursumer ?

http://www.cbioportal.org/beta/case.do#/patient?sampleId=TCGA-02-2483-01&studyId=gbm_tcga_pub2013
![image](https://user-images.githubusercontent.com/10508276/28791321-0fbb1832-75fa-11e7-8e96-a2f2a9fe434f.png)

[2017-07-31 18:20] tmazor opened #2892 "mutation assessor is NA for a mutation that should be "high""
IDH1 R132H mutation is listed with Mutation Assessor impact "NA" when it should be "High". This is happening in at least 2 studies. Other IDH1 mutations are properly annotated.

http://www.cbioportal.org/beta/index.do?session_id=597f717d498e5df2e2934835&show_samples=false&
![image](https://user-images.githubusercontent.com/10508276/28791620-0e349c9e-75fb-11e7-992c-28ef36e4a540.png)

http://www.cbi

[2017-07-31 18:26] tmazor opened #2893 "mutations tab columns are too wide"
When the default loading of the mutations tab has the cancer type hidden, the COSMIC & # mut in sample columns are so wide that the numbers start to the right of the column name

http://www.cbioportal.org/beta/index.do?session_id=597f717d498e5df2e2934835&show_samples=false&
![image](https://user-images.githubusercontent.com/10508276/28791882-d236b3ca-75fb-11e7-83e2-fac051c30150.png)

[2017-07-31 18:37] #2814 closed

[2017-07-31 19:04] jjgao commented on #2892
This is data issue -- it happens to the old site too. We are going to update the MA integration with their api and will solve this problem.

[2017-07-31 19:07] jjgao commented on #2893
Maybe `COSMIC` and `# MUT IN SAMPLE` should have a max-width?

[2017-07-31 19:37] jjgao commented on #2866
@zhx828 any insights?

[2017-07-31 19:39] jjgao opened #2894 "change the show more button"
- [x] make it more like the one from Google Scholar
- [x] remove the drop menu for page size
- [x] add a max-limit per page
- [x] when max-limit reached, add a tooltip (or message?) to indicate that

[2017-07-31 19:39] jjgao commented on #2894
@alisman would you like to do it in `1.8.0`. We could also move it to `1.8.1`

[2017-07-31 19:41] jjgao commented on #2885
It will be fixed with #2894

[2017-07-31 19:41] #2885 closed

[2017-07-31 19:46] zhx828 commented on #2866
@jjgao I'm still working on it. I don't see any recent changes may affect the performance significantly.

[2017-07-31 20:11] jjgao commented on #2826
@inodb thinking of doing it in 1.8.1.

[2017-07-31 20:22] adamabeshouse commented on #2866
@zhx828 @jjgao I don't see any issues with the query, no redundant/repeated mutations in the query. So I think if there's an issue it would have to be in the backend.

[2017-07-31 20:26] jjgao commented on #2876
@inodb could you follow up?

[2017-07-31 20:27] zhx828 commented on #2866
@adamabeshouse yes, this should be at OncoKB side. I will make some changes ASAP.

[2017-07-31 20:28] jjgao commented on #2744
@cmdrwebdev we are prioritizing this one. Are you working on it? Thanks.

[2017-07-31 20:41] jjgao commented on #2803
mygene.info returns two uniprot entries:

http://mygene.info/v3/gene/1029?fields=uniprot

Let's pick the first for now.

[2017-07-31 20:44] jjgao commented on #2727
Instead of going to another page, download a file.

[2017-07-31 20:46] jjgao commented on #2727
Maybe also change `Submit Query` to `Download`.

[2017-07-31 20:54] jjgao commented on #2851
Remove `1` and make `313` as a input.

[2017-07-31 20:57] jjgao commented on #2871
anything longer than 20 should be truncated.

[2017-07-31 21:02] jjgao commented on #2872
For consistency with MS, let's format it.

[2017-07-31 21:05] jjgao commented on #2847
If it is not easy to implement dragging and resizing, maybe add a button to toggle and resize.

[2017-07-31 21:13] #2777 closed

[2017-07-31 21:15] jjgao commented on #2891
@alisman will redesign the styling of the tab.

[2017-07-31 21:16] jjgao commented on #2886
copy from legacy code to fix it.

[2017-07-31 22:14] inodb commented on #2876
ok!

[2017-07-31 22:37] adamabeshouse commented on #2556
so the way that this works is the frontend sends a query to the backend, asking about the queried genes and the queried samples. The backend gives back a list of gene panels, with sequenced samples and genes of the queried that are sequenced. So for every (sample * gene), there are three possibilities:
(1) There is a gene panel for that sample, which includes that gene -> we infer "sequenced", giv

[2017-08-01 09:00] fedde-s commented on #1631
Might the `#fragment` identifier in these slash-free relative URLs the issue? That is the only difference I see between links that do work and links that don't.

Two things I found:
- The [CommonMark specification](http://spec.commonmark.org/0.27/#example-470) explicitly mentions fragment identifiers within the current page and to a page referenced by full URL.
- [Documentation for Recommonmark br

[2017-08-01 09:09] fedde-s commented on #1631
The CommonMark spec does mention [an alternative syntax for link destinations](http://spec.commonmark.org/0.27/#link-destination): the URL may be enclosed in angle brackets, as such:
[code]

Might this fix the way that our Readthedocs documentation handles it? [This link](<#issuecomment-319312073>) to my previous comment demonstrates that GitHub seems to support the angle bracket syntax.

[2017-08-01 15:12] ersinciftci commented on #2708
Since I'll add the github link to the footer https://github.com/cBioPortal/cbioportal/issues/2744, I'll remove biostars in the same PR as well.

[2017-08-01 15:57] ersinciftci commented on #2708
https://github.com/cBioPortal/cbioportal/pull/2897

[2017-08-01 19:41] jjgao opened #2898 "studies under "mixed" not hidden in the bar chart"
Somehow on msk instance, "mixed" studies still show up in the bar chart.

![image](https://user-images.githubusercontent.com/840895/28843577-b183bc66-76cf-11e7-9525-ab8bec3794f5.png)

[2017-08-01 19:42] schultzn opened #2899 "Mutation diagrams: y-axis should never be shorter than 5"
The new y-axis looks funny... it should always go to 5, minimally, even with a single mutation.

This looks funny:
![image](https://user-images.githubusercontent.com/11892704/28843665-ffd91abe-76cf-11e7-93dc-39e8092243ad.png)

This was better:
![image](https://user-images.githubusercontent.com/11892704/28843672-0a028c82-76d0-11e7-8e40-295e9ef0eca1.png)

[2017-08-01 19:43] schultzn commented on #2899
Also, there is a space missing between the number and the aa unit .. should be 189 aa, as it used to be.

[2017-08-01 19:52] schultzn commented on #2856
Did you still need me to explain?

[2017-08-01 20:31] ersinciftci commented on #2702
Needs to be fixed in portal.properties of public instance, assigning to @jjgao .

[2017-08-01 21:01] jjgao commented on #2702
fixed in properties file. Will fix in the next release.

[2017-08-01 21:01] #2702 closed

[2017-08-02 11:26] zhx828 commented on #2866
The performance has been improved at OncoKB side. But due to the nature of the OncoKB caching mechanism, the first load is still slow, I will try to take a look what I can do.

[2017-08-02 11:26] #2866 closed

[2017-08-02 13:25] fedde-s opened #2901 "DumpPortalInfo fails to export gene set metadata"
As documented [here](https://github.com/cBioPortal/cbioportal/blob/v1.7.3/docs/Using-the-dataset-validator.md), the data set validation script needs certain side data (external to studies) in order to test whether a study can be loaded into a specific installation without breakage or unexpected assumptions. For setups in which the validation script cannot retrieve these metadata from the web API d

[2017-08-02 13:36] fedde-s commented on #2901
@pieterlukasse, do you know what might have gone wrong here? For reference, [this](https://github.com/cBioPortal/cbioportal/blob/v1.7.3/core/src/main/java/org/mskcc/cbio/portal/scripts/DumpPortalInfo.java#L112) is the Java code of the utility that should generate the JSON files from the database, just like the web API would do.

[2017-08-02 13:51] jjgao opened #2902 "update cancer gene list to the oncokb list"
Update the txt file and the links from pages.

http://oncokb.org/#/cancerGenes

http://oncokb.org/api/v1/utils/cancerGeneList

[2017-08-02 14:33] jjgao opened #2903 "Share OncoKB annotation between OncoPrint and Mutations tabs"
Currently, the OncoPrint and Mutations tabs load the same OncoKB annotation separately. When refactoring OncoPrint, it would be great if we can put the date in the store that can be shared between the two tabs. By doing that, we will also remove duplicate loading code.

[2017-08-02 14:37] jjgao commented on #2903
The same is true for the core mutations data.

[2017-08-02 15:15] #2216 closed

[2017-08-02 15:24] #2800 closed

[2017-08-02 15:50] #2703 closed

[2017-08-02 19:32] ritikakundra commented on #2465
@sandertan Are you still failing for other text like Unknown or something we use internally a lot REDACTED?

[2017-08-02 19:59] sandertan commented on #2465
@ritikakundra These are currently the allowed values ([source](https://github.com/cBioPortal/cbioportal/blob/9add92df0bb333296e24d168b2aae74a37465062/core/src/main/scripts/importer/validateData.py#L1187)):

Verification_Status: verified, unknown, na
Validation_Status: untested, inconclusive, valid, invalid, na

The validator is case insensitive for these values, so Unknown is allowed for Verificat

[2017-08-02 20:32] jjgao opened #2908 "Mutex tab: create a React component"
... for paire-wise Mutual Exclusitivity tests (Fisher's exact test).

When there is only one row, do not show the tab.

Note: The same gene can be on different rows now, e.g. `EGFR:MUT; EGFR:AMP;`. So we should test between rows, not genes.

Note: before the OQL-process data is available in the store, a mock up input data will be used.

[2017-08-03 00:01] onursumer opened #2909 "Mutation Rate information is missing for some queries"
http://www.cbioportal.org/beta/index.do?session_id=597b6dbc498e5df2e2932d63&show_samples=false&

![missing_mutation_rate](https://user-images.githubusercontent.com/3604198/28900081-9960d3c4-77bc-11e7-9685-9420855cd4c5.png)

A quick debug shows that we are fetching all the samples in order to calculate the mutation rates. But the `samples` end point is limited to 1000: ```"sampleIdentifiers size mu

[2017-08-03 00:15] onursumer opened #2910 "Mutation diagram control buttons redirects to home page"
After pressing one of the SVG, PDF, and Legend buttons, we end up on the home page.

Tested on dev mode: `cbioportal-frontend dev mode, using localhost:3000`.

[2017-08-03 00:46] jjgao opened #2911 "garbled code"
![image](https://user-images.githubusercontent.com/840895/28901028-7c75b962-77c3-11e7-9157-8cd1570762ba.png)

[2017-08-03 00:50] jjgao opened #2912 "The msk_impact_2017 study is still showing up in the bar chart"
The type_of_cancer_id of msk_impact_2017 is mixed.

@Tamba32 when you exclude studies, was the criteria applied to the whole category or to individual studies?

![image](https://user-images.githubusercontent.com/840895/28901103-e4ff45f2-77c3-11e7-9dd9-d9bb37acfca5.png)

[2017-08-03 01:16] #2863 closed

[2017-08-03 01:20] #2773 closed

[2017-08-03 01:21] #2805 closed

[2017-08-03 01:21] #2801 closed

[2017-08-03 01:22] #2852 closed

[2017-08-03 01:22] #2784 closed

[2017-08-03 01:24] #2859 closed

[2017-08-03 02:07] jjgao commented on #2912
duplicate with #2898

[2017-08-03 02:08] #2912 closed

[2017-08-03 02:08] jjgao commented on #2898
Now it's not work on the public portal.

The type_of_cancer_id of msk_impact_2017 is mixed.

@Tamba32 when excluding studies, was the criteria applied to the whole category or to individual studies? It should be individual studies.

![image](https://user-images.githubusercontent.com/840895/28901103-e4ff45f2-77c3-11e7-9dd9-d9bb37acfca5.png)

[2017-08-03 09:31] inodb commented on #2826
@jjgao ok

[2017-08-03 10:40] inodb commented on #2804
This has not been deployed yet, so just reopening

[2017-08-03 14:00] jjgao opened #2913 "public data cleanup"
- [ ] remove `CNA Data` attribute from `prad_mskcc`
- [ ] add gender "Male" to all prostate patients (are there female prostate patients?)

[2017-08-03 15:48] alisman commented on #2909
@onursumer @adamabeshouse Lets discuss what to do here.  It seems for any resource where we are subject to a limit like this, we need to make multiple fetches.

[2017-08-03 16:08] jjgao commented on #2832
Somehow the vertical bar still show up for a second.

![](https://media.giphy.com/media/l41JHMaF44gwFiOC4/giphy.gif)

[2017-08-03 16:50] onursumer commented on #2832
looks like it is because we never merged my fix, but just closed the PR: https://github.com/cBioPortal/cbioportal-frontend/pull/513 :)

[2017-08-03 18:36] alisman opened #2917 "Mutation table too condensed"
Lets either reposition the icon or add more padding.

![pasted image at 2017_08_02 11_19 pm](https://user-images.githubusercontent.com/186521/28937492-05847046-7859-11e7-84f6-c3b1973d9fbd.png)

This is minor: the table seems a little too dense, and the OncoKB level annotation is at the edge of the cell. Maybe add a pixel more of padding on either side? Just a thought...

[2017-08-03 18:53] alisman commented on #2890
This is fixed by redesign releasd in 1.8.0

[2017-08-03 18:53] #2890 closed

[2017-08-03 20:18] jjgao opened #2918 "Better way to get germline mutation frequency denominator"
Currently we are using `12_245_PARTC_CONSENTED` to decide whether a sample was profiled for germline mutations. In order to get that, the list of patients is retrieved first (based on sample IDs), and the clinical data for `12_245_PARTC_CONSENTED` is retrieved.

To simplify the process (and make it less hacky), we will create a sample list for germline profiled samples, then it can be used directl

[2017-08-03 20:34] #2909 closed

[2017-08-03 20:35] #2910 closed

[2017-08-03 20:35] #2898 closed

[2017-08-03 20:35] #2911 closed

[2017-08-03 20:37] #2804 closed

[2017-08-03 20:55] jjgao commented on #2833
http://www.cbioportal.org/beta/index.do?session_id=58c01624498e5df2e29105bb

[2017-08-03 20:56] #2891 closed

[2017-08-03 21:00] jjgao commented on #2823
Looks like we are using cancer type detailed and it is solved.

[2017-08-03 21:00] #2823 closed

[2017-08-03 21:04] jjgao opened #2919 "Share mutations core data between OncoPrint and Mutations tab."
Currently, the OncoPrint and Mutations tabs load the same mutations separately. When refactoring OncoPrint, it would be great if we can put the data in the store that can be shared between the two tabs. By doing that, we will also remove duplicate loading code.

[2017-08-03 21:40] alisman opened #2920 "Hide cancer type bar chart when there is no data to display"
http://www.cbioportal.org/pancanatlas/#

![image](https://user-images.githubusercontent.com/186521/28945022-d43e35ac-7872-11e7-9007-78118ef7e100.png)

[2017-08-03 22:13] tvpham opened #2921 "CXCR7"
Invalid gene symbols in the default Prostate Cancer: down regulated by androgen (19 genes)

[2017-08-04 00:58] #2899 closed

[2017-08-04 01:10] adamabeshouse commented on #2556
Update:

So I looked at the query for gene panel information, and there's nothing wrong with the query or the return value, except that the return value is missing the samples, which is why they're showing up as WXS even though they have specific gene panel associated to them. The query is done by gene and genetic profile, not by gene and samples as I thought before, so it seems to me that the fac

[2017-08-04 01:14] #2856 closed

[2017-08-04 02:12] onursumer opened #2923 "PDB chain rectangle interaction is broken"
- Chain rectangles are not clickable/selectable anymore
- Tooltip is not showing up

[2017-08-04 07:46] inodb commented on #2920
For a quick fix, there's also a property to disable it `skin.right_nav.show_data_sets`

[2017-08-04 13:37] sheridancbio commented on #2556
Ok, I'll review and take a look. I'm starting to remember that we carefully went over the topic of using the "no gene panel" return value as being synonymous with whole genome/exome sequencing. Maybe in the PR's for the service/persistence layer there is discussion which will help clarify what is going on.

When you (Adam) say that the return value is "missing the samples" do you mean that only th

[2017-08-04 13:50] ersinciftci commented on #2765
@jj I thought when we started the refactoring project last year, we decided not to hide any tabs, we would just indicate the reason why there is no data in the tab, instead of hiding it. So the user would know that they would get the data if they query multiple genes, otherwise they won't even know that this feature exists if we hide it.

[2017-08-04 14:18] #2342 closed

[2017-08-04 14:19] jjgao opened #2926 "study view page caching issue"
A few of us had the error below in the study view page. Clearing cache solves it.

![image](https://user-images.githubusercontent.com/840895/28972558-1e776b58-78fe-11e7-9c84-cc83cc9bbdb0.png)

We are using versioning to avoid caching problem. Not sure why it is not working here.

[2017-08-04 14:20] #2204 closed

[2017-08-04 15:06] jjgao commented on #2840
@ritikakundra "tcga -provisional" means TCGA studies but not provisional ones.

[2017-08-04 15:06] #2840 closed

[2017-08-04 15:58] #2832 closed

[2017-08-04 16:03] jjgao commented on #2921
duplicate with #2843

[2017-08-04 16:45] onursumer commented on #2888
Looks like this is already fixed with release 1.8.0

[2017-08-04 16:45] #2888 closed

[2017-08-04 16:49] onursumer commented on #2826
This is how it looks now in IE with the release 1.8.0:

![mutation_mapper_1 8 0_ie](https://user-images.githubusercontent.com/3604198/28978252-3fb5e28a-7913-11e7-9f1e-009d22d129bd.png)

[2017-08-04 16:57] onursumer commented on #2848
This seems to be fixed with release 1.8.0

[2017-08-04 16:57] #2848 closed

[2017-08-04 17:33] tmazor opened #2927 "embed new tutorial slides"
It's time to replace the old tutorial slides! New slides are made in google slides and need to be embedded into the tutorials page.

[2017-08-04 17:40] jjgao opened #2928 "duplicated loading of data"
studies loaded 3 times and cancer-types loaded twice.

![image](https://user-images.githubusercontent.com/840895/28980061-6b8dfd5a-791a-11e7-88d1-91088b6d83ea.png)

[2017-08-04 17:53] jjgao commented on #2765
@ersinciftci Sorry I forgot we decided not to hide any tabs. I think it may be still better to hide tabs if certain analysis features are not available. For example, in the query below, Co-exp and Survival tabs are remove because the data are not available. Otherwise one would click and find out it's not available. I am not particularly worried about people not knowing our features.

http://www.cb

[2017-08-04 17:56] jjgao commented on #2927
@Tamba32 @tmazor please do it on hotfix branch so that we can release quickly. I'd be happy to review.

[2017-08-04 18:25] jjgao opened #2929 "gene panel data is very slow for study view page"
.. for the mskimpact study.

[2017-08-04 18:52] adamabeshouse commented on #2556
@sheridancbio that's right, the gene panel that the sample is associated to gets returned from the service, but samples that dont have any mutations (in any gene) are missing from the sample list for that panel.

[2017-08-04 18:54] ritikakundra commented on #2762
@jjgao We have a list ready. We will schedule the data release as we finish the list.

[2017-08-04 19:04] ritikakundra commented on #2600
Here are some examples for q value:
CCDC158
0.0912

TIGD6
0.000079

and most have
<7.11e-14

[2017-08-04 20:31] ritikakundra commented on #2594
Fixed the meta files and updated datahub for the same.

[2017-08-04 21:10] alisman opened #2931 "Heroku assets need CORS headers to fully work with heroku mapping"
Just font files actually.  woff, woff2 and ttf extensions.  If it's easier, I don't think there's any reason not to just enable it for everything.

[2017-08-04 21:41] adamabeshouse opened #2932 "its impossible to read tooltips in genomic tracks"
It widens to fill the whole page, and so the tooltip is never readable.

![image](https://user-images.githubusercontent.com/636232/28988062-164aa4a2-793c-11e7-818b-01c5e1bab586.png)

[2017-08-04 21:46] adamabeshouse commented on #2756
@jjgao what exactly is the issue here?

[2017-08-04 22:16] adamabeshouse commented on #2880
so this would also change how we link to study view from anywhere in the portal, not just patient view, right?

[2017-08-07 08:46] pieterlukasse commented on #652
@jjgao what was the reason for removing this?

[2017-08-07 16:06] jjgao commented on #2600
This is strange. We should probably just remove the MutSig results for this study. I suspect that the results were mixed up because of the many versions of mutation data in the TCGA pancreas project.

@ritikakundra could you do that?

[2017-08-07 16:13] jjgao commented on #2880
yes, anywhere. @adamabeshouse

We can still keep the alias `study.do` and `cancer_study_id` in case people bookmarked them. But we should always use the version `study?id=[study_id]` in all places in the code.

[2017-08-07 16:14] jjgao commented on #652
Long story, but basically it is very difficult to make it work.

[2017-08-07 16:37] ritikakundra commented on #2600
@jjgao Sure

[2017-08-07 17:07] jjgao opened #2934 "link to the oncokb variant page in the oncokb card"

[2017-08-07 17:42] inodb opened #2935 "add documentation for civic properties"
Currently there's no explanation of `show.civic`. Only some part about oncoprint:

http://cbioportal.readthedocs.io/en/latest/portal.properties-Reference.html?highlight=civic#oncoprint

[2017-08-07 18:28] alisman commented on #2917
@zhx828 There is a slight different I think in the height/placement of the onkcokb indicator when it has two indicator bubbles (vs. only one). This results in the above issue.   Unless I'm mistaken, I think it would be better to adjust icon than to add more padding.

[2017-08-07 18:50] jjgao opened #2936 "Oncoprint: Allow user defined track height"
[not urgent]

Maybe add an option to the track menu for the user to input / slide.

[2017-08-07 18:52] inodb opened #2937 "barchart's height should scale with number of subtypes"
If there's only one subtype, the bars are too wide

<img width="316" alt="screen shot 2017-08-07 at 2 52 23 pm" src="https://user-images.githubusercontent.com/1334004/29041192-0db9e794-7b80-11e7-9656-eff3437a561a.png">

[2017-08-07 19:18] jjgao commented on #2731
With the release of 1.8.0, this is considered done.

[2017-08-07 19:18] #2731 closed

[2017-08-07 19:19] #2707 closed

[2017-08-07 19:23] #2828 closed

[2017-08-07 19:23] jjgao opened #2938 "Save user interactions / sections into session"
Currently, we only save the query parameters to the session service.

We would like to save state of the page to the session as well. For example, a user may add a new clinical attribute and order by it (currently there is no way for her to save it). The suer should be able to come back to the side with the session ID and load up the same view.

Potentially we can save the whole mobx store.

[2017-08-07 19:26] jjgao commented on #2929
The problem seems gone... I am closing this issue.

[2017-08-07 19:26] #2929 closed

[2017-08-07 19:30] jjgao commented on #2938
Here are some related discussions in the @session-service channel.

https://cbioportal.slack.com/archives/C0BE3KF4L/p1502120197641345

JJ Gao [10:56 AM]
@manda We are thinking of adding more data into the session, e.g. the state (order, filtering, etc) of oncoprint. What do you think would be the best way? Creating new sessions when states change? Or modify the current session? Ideally, we should

[2017-08-07 19:33] jjgao opened #2939 "remove "&show_samples=false" from URL"
The current way of adding is error-prone. Let's remove the logic. We should add it to the mobx store and later session state. #2938

[2017-08-07 19:45] jjgao opened #2940 "make oncoprintjs a node package"
It'd be good to make the oncoprintjs on node for the new frontend to consume.

@pambot has volunteered to do this.

[2017-08-07 19:47] jjgao opened #2941 "Move the clustering code into oncoprint.js"
related to #2940

May need @pieterlukasse's help.

[2017-08-07 19:53] inodb commented on #2918
@jjgao This is perhaps cleaner, but it does result in redundancy in the database (two indicators for the same thing). Or are you also proposing to remove the `12_245_PARTC_CONSENTED` clinical attribute?

[2017-08-07 19:57] jjgao opened #2942 "port the oncoprint"
When porting, keep both oncoprint tab and oncoprinter in mind.

[2017-08-07 20:10] Tamba32 commented on #2828
Hi @khzhu.  The bar chart should now show all the same studies as shown in the "Query, Select Studies" component, except those with `cancerTypeId`s of `other` or `mixed`.

[2017-08-07 20:10] alisman opened #2943 "Next/Prev patient controls should not have "show more" treatment"

[2017-08-07 20:17] inodb commented on #2876
We couldn't reproduce this problem, but will leave open for now

[2017-08-07 20:23] #2931 closed

[2017-08-07 20:52] jjgao commented on #2690
@schultzn what do you think on this?

[2017-08-07 20:53] jjgao commented on #2756
@n1zea144 could you help on this? Will explain.

[2017-08-07 21:10] jjgao opened #2944 "Add 2 new fields in Sample model, isSequenced and hasSegment"

[2017-08-07 21:13] jjgao commented on #2865
@adamabeshouse this can simplified once #2944 is done.

[2017-08-07 21:14] jjgao commented on #2944
@ersinciftci is it also possible to do a similar api change for a study? The study view page needs this as well.

[2017-08-07 22:35] schultzn commented on #2690
I am not sure I am following this one - what is "keyword"?

Would it be sufficient if we left everything as is but show the mutation frequency instead?

[2017-08-08 01:18] #2923 closed

[2017-08-08 01:19] #2851 closed

[2017-08-08 01:27] adamabeshouse commented on #2282
"Show more" may be an implementation of this instinct?

[2017-08-08 15:02] khzhu commented on #2828
@Tamba32, thank you!
any reasons not including cancer type of other/mixed. The reason I am asking is because we have a quite number studies in this category.

[2017-08-08 17:20] zhx828 commented on #2917
@alisman I agree with you. Just verified. I will update the oncokb style.

[2017-08-08 17:26] #2803 closed

[2017-08-08 17:26] #2871 closed

[2017-08-08 17:26] #2872 closed

[2017-08-08 17:26] #2886 closed

[2017-08-08 17:26] #2835 closed

[2017-08-08 18:45] onursumer commented on #2727
@alisman @jjgao: I think the easiest way is to add a `Content-Disposition` header, see https://stackoverflow.com/a/10616753.

Adding a line like this on the server side works fine as far as I tested: `response.setHeader("Content-Disposition", "attachment;filename=download.txt");`

A quick question: what should the default download file name be? `download.txt`, or something more specific?

[2017-08-08 19:19] alisman opened #2948 "swagger doc should list required fields in type definitions"
TS client generator needs to know whether certain fields can be null/undefined/missing.   Swagger definitions need to indicate what props are required using the required array

[2017-08-08 21:39] ecerami commented on #2766
@jjgao:  can you provide more detail on this?  are you referring to the pull-down menu in the OncoPrint?  Is the goal to improve performance?

[2017-08-08 21:40] ecerami commented on #2808
@jjgao:  sounds like a new feature?  but, not really refactoring?

[2017-08-08 21:42] ecerami commented on #2881
@inodb:  can you explain this a bit more?  is this a bug?  what exactly is the issue?

[2017-08-08 21:43] ecerami commented on #2932
@adamabeshouse:  can you provide an example URL where you see this issue?  tx

[2017-08-08 21:44] ecerami commented on #2938
@jjgao: feature request or refactoring?

[2017-08-08 22:05] alisman opened #2952 "On homepage, we need to use one store to serve both study selector and chart"
RIght now we are loading study data twice, once for study selector UI and again for bar chart.  Lets make it so they observe the same store.

[2017-08-08 23:15] inodb commented on #2881
@ecerami @jjgao I've tried to update the description a bit. This is only a bug for old style URLs. You can't actually get this bug when navigating from cbioportal.org, but if you open an old style URL from google you might get this issue. The page does work fine, so it's prolly not that big of an issue. Could just cause a big server load if there's a lot of people accessing the patient view this w

[2017-08-09 02:50] sheridancbio commented on #858
Additional cases found:
Angiogenesis contains invalid symbol IL8
Folate Transport contains invalid symbol FOLR4
Prostate Cancer Down-regulated by androgen contains invalid symbol TULP4
(list is not complete)

[2017-08-09 12:43] #2927 closed

[2017-08-09 14:37] inodb opened #2954 "study page shows 0 samples/patients"
https://cbioportal.mskcc.org/study?id=prad_su2c#summary

<img width="599" alt="screen shot 2017-08-09 at 10 36 27 am" src="https://user-images.githubusercontent.com/1334004/29127285-a77f3a90-7cee-11e7-9b8f-76c1fe257fad.png">

console:
[code]

[2017-08-09 14:58] #2943 closed

[2017-08-09 15:09] jjgao commented on #2690
@schultzn

In [the example above](http://www.cbioportal.org/case.do#/patient?sampleId=P-0001272-T01-IM3&studyId=msk_impact_2017), for "TP53 P278Lfs*67", the tooltip indicates: "4538 samples (44.1%) in this study have mutated TP53, out of which 1683 (16.4%) have TP53 truncating mutations."

44.1% is the gene mutation frequency, and 16.4% is the "keyword" mutation frequency. We currently  display 44

[2017-08-09 15:13] jjgao commented on #2282
@ersinciftci good point. I am happy with the "show more" button.

[2017-08-09 15:13] #2282 closed

[2017-08-09 15:16] jjgao commented on #2828
@khzhu it's because other/mixed will dominate the chart in many of our instances including the public portal and they don't really provide much info.

We will try to use sample level tumor type to populate the bar chart in the future and hopeful will solve the problem.

[2017-08-09 15:18] #2727 closed

[2017-08-09 15:20] khzhu commented on #2828
@jjgao ,  I see. Thank you so much for your detailed explanation!

[2017-08-09 15:20] jjgao commented on #2766
@ecerami yes, for performance reason. Currently the list of attributes were retrieved from backend when loading up the tab, before the list is useful (the user click on the drop down button). It's a minor improvement.

[2017-08-09 15:22] jjgao commented on #2808
@ecerami agreed. Not refactoring. Just to keep track. Hyve has proposed to do it. @pieterlukasse

[2017-08-09 15:25] jjgao commented on #2938
@ecerami I think this is an important enhancement that the refactoring effort can enable. We can do this at the final step but we should be mindful of this when refactoring.

[2017-08-09 15:28] jjgao commented on #2881
@inodb that's strange. Does the "old style url" page the same?

[2017-08-09 15:32] sandertan commented on #2054
We might want to add `sanger_cancer_census` to this list.

[2017-08-09 15:55] inodb commented on #2881
@jjgao Sorry, what do you mean?

[2017-08-09 19:01] adamabeshouse commented on #2932
http://www.cbioportal.org/case.do#/patient?studyId=msk_impact_2017&caseId=P-0000291&navCaseIds=P-0000291

[2017-08-09 19:02] adamabeshouse commented on #2932
but its fixed by https://github.com/cBioPortal/cbioportal-frontend/pull/547

[2017-08-09 19:09] zhx828 commented on #2954
@inodb I fixed the data. The study view is working now. At the same time, I will write a patch to handle the similar situation. Thanks for reporting the issue.

[2017-08-09 19:09] #2954 closed

[2017-08-09 19:24] inodb commented on #2954
@zhx828 what was the problem with the data? I saw another study yesterday with the same issue (just a study i have on my local db).

[2017-08-09 19:26] zhx828 commented on #2954
@inodb the clinical attribute data type is supposed to be `STRING` or `NUMER`, but this study has few attributes marked as `Number`. Writing a function to normalize the data type in front end now.

[2017-08-09 19:27] inodb commented on #2954
Ah I see, thanks!

[2017-08-09 19:48] #2734 closed

[2017-08-09 19:48] #2755 closed

[2017-08-09 21:21] jjgao commented on #2881
@inodb sorry. I mean what's the difference in the code between the two?

[2017-08-10 07:59] pieterlukasse commented on #2935
yes, would be clearer if civic is documented in a separate "civic" section instead of oncoprint section.

[2017-08-10 09:05] pieterlukasse opened #2955 "Display "NA" instead of NaN when data is missing in oncoprint heatmap"
Currently oncoprint heatmap tooltip displays NaN when data is missing:

![image](https://user-images.githubusercontent.com/2900303/29162992-5b391052-7dbb-11e7-9ad4-50402353cc47.png)

The tooltip should display "NA" or "N/A" in this case instead of "NaN". NaN implies a number conversion error, which should not really be the case here, and thus understandably leads to confusion.

Ideally, the legend

[2017-08-10 09:18] pieterlukasse opened #2956 "duplicated loading of data in oncoprint"
when adding 2 heatmap tracks to oncoprint, 4 calls to `geneticprofiledata` are made (see screenshot):

![image](https://user-images.githubusercontent.com/2900303/29163502-fcf8d16a-7dbc-11e7-936c-0a6042eae6eb.png)

Form data 1st call:
[code]

Form data 2nd call (exactly the same as 1st call):
[code]

etc.

As a general remark: adding heatmap tracks is very slow. Perhaps partly due to doing things t

[2017-08-10 09:18] pieterlukasse commented on #2928
I noticed such a scenario in oncoprint as well: https://github.com/cBioPortal/cbioportal/issues/2956

[2017-08-10 13:37] inodb commented on #2881
@jjgao there is some rewrite taking place from old to new parameters:

https://github.com/cbioportal/cbioportal-frontend/blob/c039dfc8f966f5f285fa2dd615a69d24fc5458d2/src/appBootstrapper.jsx#L74-L79.

Other than that code should be the same. I see the same in the frontend repo, so it's not related to the integration of the frontend and backend:

http://cbioportal-frontend.herokuapp.com/?cancer_stu

[2017-08-10 14:17] oplantalech commented on #2935
@inodb @pieterlukasse There was a typo in the format, I fixed it.

[2017-08-10 19:26] #2935 closed

[2017-08-10 19:44] onursumer commented on #2918
Hi @n1zea144, any updates on this one?

[2017-08-10 20:13] inodb opened #2959 "Hypermutated case slow"
Mostly waiting for a result from OncoKB:

http://www.cbioportal.org/case.do#/patient?caseId=TCGA-AP-A0LM&studyId=ucec_tcga_pub

[2017-08-10 20:33] n1zea144 commented on #2918
Hi @onursumer This is complete.  Zack must have forgotten to close the ticket.

![image](https://user-images.githubusercontent.com/366003/29190837-95bd2d98-7de9-11e7-951d-91899819a949.png)

[2017-08-10 21:07] ritikakundra commented on #2600
@jjgao This is a provisional study, can I manually remove files? If so do you where they are. I can do it on datahub but I don't know where the files are?

[2017-08-10 21:34] jjgao commented on #2918
Thanks, @n1zea144.

@onursumer the case is `[study_id]_germline`. Please simplify the current frontend code.

[2017-08-11 08:29] pieterlukasse commented on #1514
@jjgao this bug is still present

[2017-08-11 08:32] pieterlukasse opened #2962 "Cross-cancer page and Query page "Only CNA" option not working"
Selecting the option "Only CNA" in query page when doing a cross-cancer query still results in a cross cancer view where mutations are shown in the histogram (see screenshot):

![image](https://user-images.githubusercontent.com/2900303/29206024-545c30e6-7e80-11e7-9d6b-db2238fc3f6c.png)

Furthermore, the histogram has *no legend* with information about the colors.

Reported by user here: https://gr

[2017-08-11 15:37] inodb opened #2963 "Add property to allow session persistence on tomcat when redeploying"
Tested this on MSKCC beta portal and seems to work.

Change `META-INF/context.xml` to have a `pathname`:
[code]

Now we just want `pathname` to be a property, so we can specify where the sessions should eb stored (default should be `SESSIONS.ser` as per tomcat guidelines).

[2017-08-11 15:40] khzhu opened #2964 "missing image files"
I got "404 Not found" errors complained about missing "sort_both.png" and "sort_desc.png" images when click on "Mutated Genes" tab on summary view. Can you please add them, thanks!
<img width="1932" alt="screen shot 2017-08-11 at 11 27 25 am" src="https://user-images.githubusercontent.com/17375786/29220645-b77650b8-7e89-11e7-9d86-8b1f501b0c2a.png">

[2017-08-11 17:39] ecerami opened #2966 "Add new members to About Page"
We need to add @Tamba32 and @tmazor to the About Page.

Assigning to @Tamba32.

[2017-08-11 17:41] ecerami opened #2967 "Add Deprecation Text to Top of Web API Page"
We need to add Deprecation text to the Top of the Web API Page.

Suggested text, all in red or prominent:

Note:  This web API is now deprecated, and will be officially taken down on August 1, 2018.  Please check out our new Beta Web API [w/ link]/

[2017-08-11 17:42] ecerami opened #2968 "Add documentation to new Web API"
We need to better document the endpoints in the new Web API.

[2017-08-11 17:56] ecerami opened #2969 "Embed the Swagger API Page into the larger cBioPortal shell"
We need to emded this page:  http://www.cbioportal.org/api/swagger-ui.html into the regular cBioPortal shell.

[2017-08-11 18:00] tmazor opened #2970 "oncoprint minimap doesn't move when clinical tracks are added"
Go here: http://www.cbioportal.org/index.do?session_id=59690649498e5df2e292870c&show_samples=false&&&
Open minimap
Then add a clinical track
Minimap doesn't move down so it ends up covering part of OncoPrint:
![image](https://user-images.githubusercontent.com/10508276/29225622-079fc318-7e9d-11e7-9277-3f5324a13e0c.png)

[2017-08-11 18:09] tmazor opened #2972 "oncoprint minimap hover text extends over the boundary box"
When hovering over the minimap button, the text bubble that appears extends over the boundary box but should probably be shifted left so it doesn't do that.

![image](https://user-images.githubusercontent.com/10508276/29225994-5d5c6d46-7e9e-11e7-9191-f6958b5cc91f.png)

![image](https://user-images.githubusercontent.com/10508276/29225998-63b57638-7e9e-11e7-9eb0-b0ddfd265943.png)

[2017-08-11 18:10] ecerami commented on #2968
Ethan starting to write docs below:

Cancer Types:  Retrieve cancer type information, including full name, short name, stable identifier, and cancer type hierarchy.
Clinical Attributes:  Retrieve meta-data regarding clinical attributes associated with a specific study.  Meta-data includes display name, description, identifier and data type.

Please also use the endpoint docs below:

GET /clinical-

[2017-08-11 19:32] ecerami commented on #2968
@ersinciftci @jjgao:  above are my suggested API doc suggestions.  I have also suggested we change genetic to genomic.  Can you please review and make any edits?

[2017-08-14 14:50] jjgao opened #2976 "Mutsig results missing for skcm_tcga"
http://www.cbioportal.org/study?id=skcm_tcga

[2017-08-14 15:08] jjgao commented on #2944
@ersinciftci can we also do the same for study so that we can decide whether the `MUT vs CNA` plots should be generated -- maybe another issue? cc'ing @zhx828

[2017-08-14 15:22] ecerami opened #2978 "API: Change Genetic Data and Genetic Profiles to Molecular Data and Molecular Profiles"
Discussed with @jjgao.  We agreed that we should change Genetic Data and Genetic Profiles to Molecular Data and Molecular Profiles.

[2017-08-14 15:29] ecerami commented on #2765
@jjgao and I discussed.  We are going with the suggestion, e.g. hide tab is only one gene is queried.

[2017-08-14 16:33] jjgao commented on #2962
"Only Mutation" is not working either.

It seems like the selection is not passed to cross-cancer.do.

[2017-08-14 16:42] jjgao commented on #2967
We will do this after we release and commit to the new API.

[2017-08-14 16:52] jjgao commented on #2972
We can delay this until later.

[2017-08-14 18:23] sheridancbio commented on #1456
The new api model does output PMID as String. See: model/src/main/java/org/cbioportal/model/CancerStudy.java

[2017-08-14 19:08] adamabeshouse commented on #2970
I'm not sure what the desired behavior here would be - I guess it should stay in the bottom right until the user tries to drag it? because if the user has already moved it around I dont think it should be adjusted by the new track.

[2017-08-14 19:12] jjgao commented on #2970
@adamabeshouse given other priorities, I just put it in icebox for now.

[2017-08-14 19:45] alexbaras opened #2980 "Data not loading from query?"
The results of a query seem to not be properly loading into my browser.
Query was with nci60 for proliferation gene-set (just as an example)

oncoprint tab
![image](https://user-images.githubusercontent.com/8574243/29288593-4c4357de-8107-11e7-8672-b3ebd99e1427.png)

download tab
![image](https://user-images.githubusercontent.com/8574243/29288673-9ba09508-8107-11e7-99e2-ccd0635c4a74.png)

[2017-08-14 19:54] jjgao commented on #2980
Hi @alexbaras could you please paste your query url?

[2017-08-14 19:56] alexbaras commented on #2980
This was occurring independent of the specific query or study I was looking at.

On Aug 14, 2017 3:55 PM, JianJiong Gao <notifications@github.com> wrote:

Hi @alexbaras<https://github.com/alexbaras> could you please paste your query url?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/cBioPortal/cbioportal/issues/2980#issueco

[2017-08-14 19:59] alexbaras commented on #2980
Results were the same using Firefox and chrome within Ubuntu Linux

On Aug 14, 2017 3:56 PM, Alex Baras <baras@jhmi.edu> wrote:
This was occurring independent of the specific query or study I was looking at.

On Aug 14, 2017 3:55 PM, JianJiong Gao <notifications@github.com> wrote:

Hi @alexbaras<https://github.com/alexbaras> could you please paste your query url?

—
You are receiving this because

[2017-08-14 20:11] adamabeshouse opened #2981 "mutual exclusivity tab should show q-values"

[2017-08-14 20:31] jjgao opened #2982 "results page store"

[2017-08-14 20:40] jjgao opened #2983 "move oql.js to the new frontend repo"

[2017-08-14 20:41] jjgao opened #2984 "pull data from api and save them in mobx store"
... the data will be the same as in the current data manager

[2017-08-14 20:47] jjgao commented on #2962
![image](https://user-images.githubusercontent.com/840895/29291054-4f9a07ee-8110-11e7-9372-e4df75e853d6.png)

[2017-08-14 20:47] alisman opened #2985 "Update lint rules and correct linting errors"

[2017-08-14 20:50] #2959 closed

[2017-08-14 20:50] alisman opened #2986 "Target heroku deployments of frontend in URL of portals"

[2017-08-14 22:07] #2932 closed

[2017-08-14 22:09] #2928 closed

[2017-08-14 22:10] #2775 closed

[2017-08-14 22:10] #2894 closed

[2017-08-14 22:10] #2865 closed

[2017-08-14 22:13] #2880 closed

[2017-08-14 22:13] #2952 closed

[2017-08-14 22:14] #2878 closed

[2017-08-14 22:14] #2870 closed

[2017-08-14 22:14] #2917 closed

[2017-08-14 22:15] #2893 closed

[2017-08-14 22:15] #2820 closed

[2017-08-14 22:16] #2726 closed

[2017-08-14 22:17] #2826 closed

[2017-08-14 22:20] #2833 closed

[2017-08-14 22:21] #2847 closed

[2017-08-14 22:43] inodb commented on #2940
Done in https://github.com/cBioPortal/oncoprintjs/commit/9f8fe54cb3bd1ae0cb179672dfb6bd72a19a6e85 and https://github.com/cBioPortal/oncoprintjs/commit/87094d280a8d6c3de09e38c221432411bb516e22

See: https://www.npmjs.com/package/oncoprintjs

Releasing a new version is now:

[code]

[2017-08-14 22:43] #2940 closed

[2017-08-15 15:01] #2937 closed

[2017-08-15 15:47] jjgao commented on #2980
@alexbaras Thanks. We couldn't reproduce the error. Do you see any error message in the Chrome console?

![image](https://user-images.githubusercontent.com/840895/29323615-738cd966-81af-11e7-9a3e-fe8bbbf092d0.png)

[2017-08-15 15:56] jjgao commented on #2981
We could do a simple Bonferroni adjusted p-value, ie. p-value divided by the number of pairs of genes. @ersinciftci @ecerami: Maybe we can squeeze that into the new component?

[2017-08-15 16:31] tmazor opened #2988 "patient view hides allele freq column if first sample doesn't have mutations"
If a patient has multiple samples but the first sample has no mutations, the Allele Freq column is hidden by default. It should be visible if there are other samples with mutations.

http://www.cbioportal.org/genie/case.do?#/patient?studyId=genie_public&caseId=GENIE-JHU-00048
![image](https://user-images.githubusercontent.com/10508276/29325332-3bc591e8-81b5-11e7-89cc-15a3bc09448b.png)

http://www.

[2017-08-15 16:36] tmazor opened #2989 "patient view next/prev patient buttons get misaligned with long tumor type names"
When the tumor type name is long the next/prev buttons end up on two rows even though there is actually plenty of space for them to stay together on one row:

http://www.cbioportal.org/genie/case.do#/patient?caseId=GENIE-NKI-KTWZ&navCaseIds=GENIE-MSK-P-0003260%2CGENIE-MSK-P-0004954%2CGENIE-NKI-KTWZ&studyId=genie_public
![image](https://user-images.githubusercontent.com/10508276/29325494-e29c4232-8

[2017-08-15 17:19] tmazor opened #2990 "add banner to tabs that don't respect OQL"
The Plots, Mutations and Co-Expression tabs don't respect OQL but all other tabs do.

There are some great suggestions below for longer term solutions, but for now we need a simple notification that alerts the user.

If a user submits a query that includes OQL, those three tabs need a warning on the top that says "This tab does not reflect the OQL specification from your query."

Here's an example

[2017-08-15 17:21] tmazor opened #2991 "OQL specification page needs updating"
The OQL page (http://www.cbioportal.org/onco_query_lang_desc.jsp) needs to be updated to the new style.

The text should also be updated to reflect that not all tabs respect OQL. It currently says that "all output" respects OQL:
![image](https://user-images.githubusercontent.com/10508276/29327267-97056dce-81bc-11e7-88f7-f22dec1ca33f.png)

This should be updated to list the specific tabs that do or

[2017-08-15 18:14] adamabeshouse commented on #2981
you mean multiplied ;)

[2017-08-15 19:28] jjgao commented on #2981
I mean multiplied :)

[2017-08-15 19:48] jjgao opened #2993 "Refactor Cancer Type Summary tab"

[2017-08-15 19:52] jjgao opened #2994 "switch to g2s for structure data"
http://g2s.genomenexus.org/

[2017-08-15 22:04] inodb commented on #2882
duplicate of #2417

[2017-08-15 22:05] inodb commented on #1724
Bug has been fixed, other two are enhancements

[2017-08-16 00:34] alexbaras commented on #2980
yes there appears to be an error message

is the embedded screen shot legible?

[cid:88a646b1-facf-4933-bdd0-855656494c0a]

________________________________
From: JianJiong Gao <notifications@github.com>
Sent: Tuesday, August 15, 2017 11:47 AM
To: cBioPortal/cbioportal
Cc: Alex Baras; Mention
Subject: Re: [cBioPortal/cbioportal] Data not loading from query? (#2980)

@alexbaras<https://github.com/a

[2017-08-16 09:40] alexbaras commented on #2980
Additional update, this error is specific to chrome/firefox on Linux OS

Chrome on Windows works fine, which you already knew :)

-Alex

________________________________
From: Alex Baras
Sent: Tuesday, August 15, 2017 8:34 PM
To: cBioPortal/cbioportal; cBioPortal/cbioportal
Cc: Mention
Subject: Re: [cBioPortal/cbioportal] Data not loading from query? (#2980)

yes there appears to be an error messa

[2017-08-16 14:23] jjgao commented on #2417
duplicate with #2882

[2017-08-16 14:23] #2417 closed

[2017-08-16 14:33] jjgao commented on #2980
Thanks, @alexbaras. The screenshot didn't show up. Could you pasted in on github?

https://github.com/cBioPortal/cbioportal/issues/2980

[2017-08-16 14:35] sandertan opened #2996 "HGVSg / HGVSc in cBioPortal"
Currently the only HGVS annotation in cBioPortal is HGVSp_Short. This is *unofficial* MAF format and outputted from VEP as HGVSp and converted to the short format in vcf2maf. It is one of the most useful columns for cBioPortal, because it describes a mutation's amino acid change.

HGVSc (for coding) is also a useful annotation outputted by VEP and vcf2maf. Especially for splice sites (i.e. c.418-1

[2017-08-16 15:51] alexbaras commented on #2980
![image](https://user-images.githubusercontent.com/8574243/29372455-2847775c-8279-11e7-928b-b9e70290c0b7.png)

[2017-08-16 15:52] alexbaras commented on #2980
![image](https://user-images.githubusercontent.com/8574243/29372537-71c7224c-8279-11e7-8597-3547cfdd5aba.png)

[2017-08-16 16:33] alisman commented on #2532
@adamabeshouse one reason for this is oncopring use of history.pushState to store filter state (e.g. show_samples) in URL.  I tested and if instead we use replaceState it has same effect without creating a new history item (which then affects back button behavior).  Is this ok?

[2017-08-16 16:37] adamabeshouse commented on #2532
@alisman good catch, yes absolutely that sounds like desired behavior - hitting the back button wouldn't change the filter state anyway so that's just a bug.

[2017-08-16 18:42] #2962 closed

[2017-08-16 20:49] #2744 closed

[2017-08-16 20:49] #2708 closed

[2017-08-16 20:50] #2582 closed

[2017-08-16 20:51] inodb commented on #2843
fixed now

[2017-08-16 20:51] #2843 closed

[2017-08-16 20:52] inodb commented on #2842
deployed

[2017-08-16 20:52] #2842 closed

[2017-08-16 20:53] jjgao opened #2999 "Refactor Download tab to use tech stack"
Download tab on the Results page

[2017-08-16 21:04] jjgao opened #3000 "sharing widget (replacing Bookmark tab)"
Something like this (inspired by [NYT](https://www.nytimes.com/2017/08/16/business/trumps-council-ceos.html?hp&action=click&pgtype=Homepage&clickSource=story-heading&module=a-lede-package-region&region=top-news&WT.nav=top-news)):

![image](https://user-images.githubusercontent.com/840895/29385152-af207fc8-82a4-11e7-9003-45360e5fd04b.png)

When clicking on any of the buttons, a session should be cr

[2017-08-16 21:20] alisman commented on #3000
@Tamba32 If you go to the bookmark tab, you'll see that we are loading a session url and also a shortened version of same url.  See network panel for how we get the url from the server.  We want to allow for easy sharing of this url using an embed widget from a service such as http://www.addthis.com/
Try to customize the buttons so they are monochrome and unobtrusive (as on NYTimes link above)

[2017-08-16 22:04] ritikakundra commented on #2976
@jjgao @n1zea144 This is a provisional study and datahb does not have the file. I did find the mutsig data in a tcga published study. Should I just use that?

[2017-08-16 22:29] ritikakundra commented on #2594
@jjgao Can we close this?

[2017-08-17 02:09] #2869 closed

[2017-08-17 15:47] jjgao opened #3006 "more text needs to be truncated in Cancer Type column"
http://www.cbioportal.org/index.do?session_id=5995ba18498e5df2e294145b

![image](https://user-images.githubusercontent.com/840895/29421004-b7f0dca4-8341-11e7-909b-cf65a3e6d6a1.png)

[2017-08-17 15:53] jjgao opened #3007 "One user reported study view page of mskimpact not working on IE"
Followed up with this user. IE was used to access the MSK portal for mskimpact study.

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/uWHs9ou8Alc/L9wEu10YCwAJ

[2017-08-17 19:45] jjgao opened #3009 "issue with study selector on pancan portal"
A user reported: "Even though I select studies, it says “0 studies selected” and I can not submit a query. I tried it in  Safari and chrome, emptied cache, restarted computer etc. No help. Also, nothing happens when I click on “select All”."

![image](https://user-images.githubusercontent.com/840895/29430594-fd2ee790-8362-11e7-91f7-bd226748ea89.png)

![image](https://user-images.githubusercontent.

[2017-08-17 20:33] alisman opened #3011 "js error when portal has only one level in study selector"
Getting js error on portals with only one level of study.  Doesn't seem to prevent it from working, but we should fix.  (I see this on http://www.cbioportal.org/pancanatlas/index.do but you may not have access to that site. So, you might need to try to reproduce on local portal).

![image](https://user-images.githubusercontent.com/186521/29432453-b0a38910-8369-11e7-996e-0b1c62185fd3.png)

[2017-08-17 20:36] jjgao commented on #3009
maybe related to #3011

[2017-08-17 20:50] jjgao opened #3013 "Mutations tab: Reset button (after load more) shown after initializing the page"
I guess the reason is because in patient view we show 10 entries by default and in mutations tab we show 25 by default, and the Reset button is hard coded (?).

It's a very low priority issue -- please work on it unless the fix takes very little time.

[2017-08-17 21:10] jjgao commented on #2980
@adamabeshouse does it look like @alexbaras's browser does not have proper WebGL support?

[2017-08-17 21:16] jjgao commented on #2976
@ritikakundra it's better to get the mutsig data from here: http://gdac.broadinstitute.org/runs/analyses__2016_01_28/data/SKCM/20160128/

[2017-08-17 21:17] #2594 closed

[2017-08-17 21:32] #2532 closed

[2017-08-17 21:35] jjgao commented on #2663
ice boxed it until virtual study feature is merged.

[2017-08-17 21:39] jjgao commented on #2537
We are reimplementing cross cancer query with the virtual study effort. Let's check on these issues once that feature is release.

[2017-08-17 21:41] jjgao commented on #1514
We are replace cross_cancer.do and reimplementing it in index.do. Will check later.

[2017-08-18 00:47] adamabeshouse commented on #2980
@jjgao I've never seen this before.. some googling shows that it may be a hardware compatibility issue with certain shader language features. I don't think I could debug remotely. Maybe we can look on @onursumer machine tomorrow.

[2017-08-18 00:58] alexbaras commented on #2980
just for fun

here is the firefox error

this is a linux OS issue, windows and mac for chrome and firefox are fine

![image](https://user-images.githubusercontent.com/8574243/29439894-e0377c52-838e-11e7-95a5-89fcde9a0df0.png)

[2017-08-18 01:16] adamabeshouse commented on #3013
this is a "hit backspace 3 times fix"

[2017-08-18 01:24] adamabeshouse commented on #2980
it might be a linux + hardware issue... we have someone here who runs linux and never had a problem. Are other people you work with having the same issue?

[2017-08-18 10:09] Sjoerd-van-Hagen commented on #2293
Hi Charles,

There is already support for mouse data in cBioPortal. Please contact us if
you need help.

Best,

Sjoerd.

On Thu, Apr 6, 2017 at 7:27 PM, Charles Murphy <notifications@github.com>
wrote:

[2017-08-18 10:43] alexbaras commented on #2980
This is occurring on my laptop (dell precision mobile 7000 series) running up to date ubuntu 16 LTS on chrome browser.

Then I tested on one of my servers (same OS and browser; obviously different hardware) ... and there is no problem.

Therefore, I am closing this issue as it appears to be specific to my laptop?

Thanks for everyone's time looking into this

-Alex

[2017-08-18 10:43] #2980 closed

[2017-08-18 13:31] murphycj commented on #2293
Ok thanks!

[2017-08-18 13:31] #2293 closed

[2017-08-18 14:52] inodb opened #3014 "Mutation Assessor Integration in patient view"
Integrate mutation assessor through genome nexus

[2017-08-18 14:56] inodb opened #3015 "Mutation Assessor Integration in Result Page's Mutations Tab Table"
Add mutation assessors integration on mutations tab

[2017-08-18 14:59] inodb opened #3016 "Add Mutation Assessor Track on Result's Page Mutations Tab Lollipop Plot"
Show an extra mutation assessor track below the lollipop plot

[2017-08-18 18:41] jjgao opened #3017 "transcript issue"
Reported by [a user](https://groups.google.com/d/msgid/cbioportal/934d885e-f7f5-1c58-1943-049efad43ee2%40jimmy.harvard.edu?utm_medium=email&utm_source=footer):

"
According to the image at the top, which is linked to UniProt, the variants should be listed according to NM_001203247 (Q15910-1 in UniProt).

The MSK-IMPACT Clinical Sequencing Cohort seems to list variants according to NM_004456 (Q1591

[2017-08-18 18:46] jjgao commented on #3017
I have downloaded the file from [datahub](https://github.com/cBioPortal/datahub/tree/master/public) and the transcript used is ENST00000320356, which is the same as the [msk override isoform](https://github.com/mskcc/vcf2maf/blob/master/data/isoform_overrides_at_mskcc) instead of the public [uniprot override isoform](https://github.com/mskcc/vcf2maf/blob/master/data/isoform_overrides_uniprot) ENST

[2017-08-18 19:02] jjgao commented on #1217
I still see the same message pop up and the js files are still loaded. Can we remove them?

![image](https://user-images.githubusercontent.com/840895/29473528-1c29ebb8-8426-11e7-89be-9ebcc99c75cd.png)

[2017-08-18 19:25] #2778 closed

[2017-08-18 19:40] jjgao opened #3018 "Define the input of "Cancer Type Summary" component"

[2017-08-18 19:49] inodb opened #3019 "Serve frontend code over https from cbioportal.mskcc.org"
Make script for
- [x] deploying frontend code to MSK portal
- [x] updating `frontend.url.runtime` file with given URL (check if URL is working first).

[2017-08-18 20:05] alisman commented on #3000
http://www.cbioportal.org/api-legacy/proxy/session-service/main_session
call the above service, first martialling the data it requires from queryStore.

[2017-08-18 20:25] tmazor opened #3020 "OQL doesn't always detect invalid keywords"
Sometimes OQL correctly flags misspelled keywords:
![image](https://user-images.githubusercontent.com/10508276/29476301-61273a30-8431-11e7-9a22-cd2eae26d6aa.png)

But sometimes it doesn't:
![image](https://user-images.githubusercontent.com/10508276/29476315-716ee8fc-8431-11e7-9c0e-2aed6a16cf18.png)

![image](https://user-images.githubusercontent.com/10508276/29476320-79dc1e06-8431-11e7-8c82-87f188

[2017-08-18 20:52] tmazor commented on #2991
Actually some of the content on this page is incorrect. For example, the default visualization uses "deep deletion" not "homozygous deletion" and "hemizygous deletion" isn't included by default anymore:
![image](https://user-images.githubusercontent.com/10508276/29477199-658dbae6-8435-11e7-86d6-8687b4387c78.png)

I'm working on tutorial slides for this now. I will also come up with some updated co

[2017-08-18 20:53] adamabeshouse commented on #3020
this is complicated.. the issue is that miscellaneous terms are parsed as mutation codes. So in the last example, theres no issue - it's looking for the IDH2 mutation with amino acid change code "HETLOOSS". I believe it's catching HOMDELL because it greedily parses HOMDEL and then encounters a syntax error with the L with no intermediate space.

[2017-08-19 01:03] jjgao opened #3021 "Use the new react component for MutationMapper tool"
http://www.cbioportal.org/mutation_mapper.jsp

- [ ] Support cancer type and oncotree code input.

In case no genomic coordinates provided:
- [x] Derive protein position from protein change
- [x] Figure out mutation type from protein change
- [x] Make OncoKB annotation work

[2017-08-19 01:03] jjgao commented on #3021
@inodb Let me give it a try :)

[2017-08-21 12:14] tmazor commented on #3020
Thanks for the explanation @adamabeshouse. I'm still a bit confused though - I thought that OQL required an "=" to specify specific mutations - as in, if I wanted a specific IDH2 amino acid change, then don't I have to say "IDH2: MUT=R172" or "IDH2: MUT=MISSENSE"? Is the "=" not required?

[2017-08-21 12:55] pieterlukasse opened #3023 "Legend issue in mutation view"
Legend for "other" will state "0" even when other mutation types are present (see screenshot below)

![image](https://user-images.githubusercontent.com/2900303/29520251-b39cedae-8680-11e7-9cf9-44e1a861cf3e.png)

*Steps to reproduce:*

1- run query:
http://www.cbioportal.org/index.do?tab_index=tab_visualize&cancer_study_id=hcc_inserm_fr_2015&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=hcc_inserm_

[2017-08-21 17:09] adamabeshouse commented on #3020
`MUT=` is not required

[2017-08-21 19:52] #2918 closed

[2017-08-21 21:02] jjgao commented on #2982
duplicate with #2984

[2017-08-21 21:02] #2982 closed

[2017-08-21 22:29] ritikakundra commented on #2457
@jjgao I checked the re-annotated maf, as well as the published version and both, don't have the 02 sample in the genomic file. Is there any other place to verify?

[2017-08-21 23:01] ritikakundra commented on #2464
@sandertan https://github.com/cBioPortal/datahub/pull/77

[2017-08-22 02:16] alisman commented on #2993
all: all,
mutation: mutation,
cnaUp: Amplification
cnaDown: Deletion
cnaGain: Gain
multiple: Multiple

![image](https://user-images.githubusercontent.com/186521/29545736-fe8c612c-86bd-11e7-8c3d-63532ab33ded.png)

[2017-08-22 09:40] pieterlukasse commented on #1765
+1 at The Hyve we also would like to have this feature for one of the projects. I think zoom in should be relatively easy to implement. See my findings in comment below. @zhx828 please let me know your comments.

[2017-08-22 09:50] pieterlukasse commented on #1765
Binning is controlled by  `content.getDcConfig = function(data, logScale)` in `/cbioportal/portal/src/main/webapp/js/src/dashboard/iviz.js`
Simple changes in this file already produce some useful results (all figures below taken from study view after code or data adjustments):

![image](https://user-images.githubusercontent.com/2900303/29559446-6dce6e4c-872f-11e7-9ba6-25fe6dc976ee.png)
(numOfGroup

[2017-08-22 09:53] pieterlukasse commented on #2423
duplicate of https://github.com/cBioPortal/cbioportal/issues/1765

[2017-08-22 09:54] pieterlukasse commented on #2423
I added some comments on https://github.com/cBioPortal/cbioportal/issues/1765.

[2017-08-22 10:00] schultzn commented on #1765
I think the main problem is not the overall bin size - it is the fact that samples at the low range of the age (which are usually rare) are binned into a category such as <30. <20 would be more useful, as this class would contain more of the pediatric samples, for example.

[2017-08-22 10:08] pieterlukasse commented on #1765
@schultzn Ok, thanks for the details. I just added some technical details I found looking at the code while assessing whether it should be easy to add zoom capabilities. Do you think I should log the zoom feature request as a separate issue?

One more thought: selecting and zooming could be combined into the same action. I.e. when selecting a region of the histogram such as <=30, it could automati

[2017-08-22 10:28] schultzn commented on #1765
Not sure how to best implement this. Zooming would definitely be good, so that a user can see the distribution in a smaller region. For example, are the samples below 30 mostly also below 20?

[2017-08-22 13:19] sandertan opened #3027 "Gene panel data not loading in sample_profile table"
Tested with test study `study_es_0`. The order of events:

[code]

 1. The 10 mutations for sample `TCGA-A1-A0SB-01` are added to `mutations`, and when I refresh the DB after this, this sample is added to `sample_profile` with PANEL_ID is `NULL`:
[code]

 2. Three events from fusion data are added to `mutation` and 3 samples added to `sample_profile`. Interestingly, when I refresh the DB at this m

[2017-08-22 14:37] jjgao commented on #1765
There is an implementation underway for zooming.

[2017-08-22 17:51] tmazor opened #3029 "ACC TCGA study loads with empty survival plots"
The first two plots on ACC TCGA study are survival plots saying "No data available"

http://www.cbioportal.org/study?id=acc_tcga#summary
![image](https://user-images.githubusercontent.com/10508276/29579443-e17e9c5c-8740-11e7-9a87-3181698cefa5.png)

[2017-08-22 17:54] tmazor opened #3030 "change pop-up text for "with mutation data" plot"
The pop-up text for the "With Mutation Data" plot says "If the sample got sequenced". It should say "If the sample has mutation data", like how the pop-up text for the "With CNA Data" plots says "If the sample has CNA data"

![image](https://user-images.githubusercontent.com/10508276/29579524-1894207c-8741-11e7-9ffb-4891c0dc2e70.png)

![image](https://user-images.githubusercontent.com/10508276/295

[2017-08-22 17:56] tmazor commented on #3020
Thanks @adamabeshouse !

[2017-08-22 17:56] #3020 closed

[2017-08-22 18:06] tmazor opened #3031 "OQL keyword parsing bug"
In the current query interface, OQL assumes that any word it doesn't recognize is a mutation code.

For example, the following are currently considered valid:

EGFR: CERAMI
EGFR: HOTSPOT

**Proposed fix:**

A mutation code either comes from a defined set of keywords (e.g. missense, nonsense, ... ) or it has a number in it (e.g. V600, V600E, ...).

We can therefore fix the validation code to only a

[2017-08-22 18:13] jjgao commented on #2457
@ritikakundra maybe it's in other data files?

[2017-08-23 15:30] inodb commented on #3019
https://cbioportal.mskcc.org/frontend/3afb60b168b1eae5e9e2bc81403eefbb49747a1f/reactapp/main.app.js

Any version can be deployed, either by commit hash or tag (uses artifacts from jitpack.io)

[2017-08-23 15:30] #3019 closed

[2017-08-23 22:07] inodb opened #3034 "skinRightNavExamplesHTML doesn't seem to be working"
http://www.cbioportal.org/genie/index.do does not show correct examples

`./genie-public/portal.properties:skin_examples_right_column=examples_genie.html`

`skinRightNavExamplesHTML` is empty string in console, but should show that HTML

[2017-08-24 12:57] sandertan commented on #3027
This issue only affects mutation genetic profiles. CNA genetic profiles are correctly added to `sample_profile` with correct values in `PANEL_ID`.

[2017-08-24 15:28] sheridancbio opened #3038 "ssl certificate for cbioportal.org is invalid"
This issue was reported by @morungos
Currently these links throw browser warnings that the certificate for these domains are invalid:
https://cbioportal.org
https://www.cbioportal.org

error message:
Your connection is not private

Attackers might be trying to steal your information from www.cbioportal.org (for example, passwords, messages, or credit cards). Learn more
NET::ERR_CERT_COMMON_NAME_IN

[2017-08-24 15:50] jjgao opened #3039 "cross_cancer.do not truncating the long url for sessions"

[2017-08-24 18:02] priti88 opened #3041 "Patient view bug for study dlbc_tcga"
http://www.cbioportal.org/study?id=dlbc_tcga#clinical
Search for sample: TCGA-FA-A6HO-01
Clicking on the sample takes us to the Patient view page but pop up appears with an error message:
<img width="607" alt="screen shot 2017-08-24 at 11 59 52 am" src="https://user-images.githubusercontent.com/1380237/29680617-22a44414-88d3-11e7-9412-a52d8b6b63a5.png">

The bug was identified while investigating

[2017-08-25 19:29] #3013 closed

[2017-08-28 09:12] pieterlukasse opened #3046 "Oncoprint takes long time to load, seems to be waiting for OncoKB"
Many times oncoprint stalls and takes a long time to resume loading. It stops at "Downloading" and the call to http://www.cbioportal.org/genie/api-legacy/proxy/oncokb shows as "pending".

I think it should continue loading. Perhaps it is waiting now because it needs OncoKB information to decide on driver/passenger coloring? I would like to suggest a change where the oncoprint code just continues a

[2017-08-28 09:13] pieterlukasse commented on #3046
@schultzn @jjgao this is the issue we briefly talked about friday.

[2017-08-28 09:46] pieterlukasse opened #3047 "Gene panel color missing in oncoprint legend"
With gene panels we now have a distinction between (1) "no alterations in a sequenced sample" and (2) "sample not sequenced". However, there is no item in the legend for (1) and the only entry in the legend that has a similar color is "Truncating mutation (putative passenger)". See screenshot:

![image](https://user-images.githubusercontent.com/2900303/29768265-e5b18f2e-8be5-11e7-8963-35687277ea54

[2017-08-28 10:06] pieterlukasse opened #3048 "Incomplete/misleading information in alteration % in oncoprint tracks when using gene panels"
The % alteration in oncoprint track label is incomplete and/or misleading when combining two or more genes that are not sequenced in exactly the same set of gene panels.
Example: some panels in the result below only include one of the two genes. In total there are 8,934 samples where at least one of the genes was sequenced (first figure below), but the number of samples where IFNGR1 was sequenced

[2017-08-28 13:11] ersinciftci opened #3049 "Add a unique key in responses that has either sample or patient id"

[2017-08-28 18:24] jjgao commented on #3021
the current store cannot support that well yet since it’s tightly linked to the cbioportal api. We will approach this after the new store is finalized.

[2017-08-28 18:52] jjgao opened #3050 "support "All" genes in "Cancer Type Summery" tab"
Currently you can only view bar charts for individual genes. It would be useful to view bar charts for all genes combined together, e.g. % mut, cna, etc in different cancer types -- similar to the cross cancer page. It is also a request from Niki.

[2017-08-28 18:56] jjgao commented on #3050
![image](https://user-images.githubusercontent.com/840895/29788544-04e19d92-8c01-11e7-982c-a2730e2b22fd.png)

[2017-08-28 19:17] #3006 closed

[2017-08-28 19:18] #3011 closed

[2017-08-28 20:01] zhx828 commented on #1765
@schultzn @pieterlukasse Please see the following proposal to solve this issue and #2423

When a user initially loads the page, the full range will be selected(figure one). The user is able to select a subset of data on the bottom bar chart, then the bar chart on the top will be regenerated based on the selection(figure two).

Figure One:
![full_selection](https://user-images.githubusercontent.com

[2017-08-28 20:41] #3018 closed

[2017-08-28 20:46] jjgao commented on #3000
just make an icon for copying to clipboard.

[2017-08-29 14:26] sandertan commented on #2464
![screen shot 2017-08-29 at 16 24 27](https://user-images.githubusercontent.com/9624990/29826112-b5bf7c58-8cd6-11e7-8f83-0e75fc623e5e.png)

Do we want to ignore these files, or load them? It shouldn't be too difficult to modify the validator and importer to load them right?

@pieterlukasse @n1zea144

[2017-08-29 15:01] jjgao commented on #3038
We don't have https set up for the public portal. We should really do that. Should we ask Joanne again?

[2017-08-29 15:03] jjgao commented on #3041
http://www.cbioportal.org/case.do#/patient?studyId=dlbc_tcga&sampleId=TCGA-FA-A6HO-01

[2017-08-29 15:15] jjgao commented on #3046
@pieterlukasse could you paste the query here?

We cache queries on the oncokb side, so it may be slow after we restart oncokb server, but usually the performance is ok once it's cached.

[2017-08-29 15:20] jjgao commented on #3047
+1 on adding legend, maybe just "No alterations"

About color, I like the idea of using white for N/S -- it'd be more like missing data.

I added Niki for his comment.

[2017-08-29 15:41] pieterlukasse commented on #3046
@jjgao here you go: http://www.cbioportal.org/genie/index.do?session_id=59a58b12498e5df2e2949722

[2017-08-29 15:48] jjgao commented on #2779
@adamabeshouse @onursumer would it be possible to isolate the util code for determining the color from the Mutations component and use the same code in other places, e.g oncoprint and patient view?

[2017-08-29 15:55] pieterlukasse commented on #3046
@jjgao maybe good to look at it with tools like Fiddler. Here some images:

![image](https://user-images.githubusercontent.com/2900303/29830578-fb9f875c-8ce2-11e7-919d-c0d3a965789a.png)

a lot of time is spent in `fetch` operations (new API):

![image](https://user-images.githubusercontent.com/2900303/29830685-37c68e10-8ce3-11e7-91b5-1046db7fb02a.png)

[2017-08-29 16:03] jjgao commented on #3046
We will change the data fetching and API end point when refactoring -- hopefully we can address the performance issue.

The oncokb performance seems ok?

[2017-08-29 19:39] adamabeshouse commented on #2779
@jjgao definitely, I think @onursumer has already written code for this purpose.

[2017-08-29 20:23] jjgao opened #3051 "Mutations tab: loading germline list multiple times"
http://www.cbioportal.org/index.do?session_id=59a5caa4498e5df2e2949a9b

We are loading the germline sample list for every gene. Can we just load them once?

![image](https://user-images.githubusercontent.com/840895/29842142-f642bf2a-8cd5-11e7-8924-9d1b1c80c565.png)

Can we also capture the error and maybe display some message?

[2017-08-29 20:26] jjgao commented on #2779
@adamabeshouse great. It might be a good opportunity to do this when refactoring the oncoprint tab.

[2017-08-30 14:49] inodb opened #3054 "Lazy load some of the annotations in the mutation table"
It is not necessary to pull all the annotations in the mutation table, since we are only using a few to sort by default. The rest can be lazy loaded e.g. CIVIC/MolecularMatch.

[2017-08-30 14:52] inodb opened #3055 "Make multilevel headers for Mutations Table (for sorting of annotations)"
We currently only have one header level. It might make sense to split up the annotation in two level headers. So we can choose what annotation to sort by. Related to this issue for lazy loading some of the annotations: https://github.com/cBioPortal/cbioportal/issues/3054.

[2017-08-30 17:20] ecerami commented on #3031
Here are some examples that are currently considered valid:

EGFR: CERAMI
EGFR: HOTPSOT

[2017-08-30 17:47] ersinciftci commented on #3031
@jjgao Is this `In the currently query interface, OQL assumes that any word it doesn't recognize is a mutation code.` an intended feature, should it work that way? I don't see it documented in http://www.cbioportal.org/onco_query_lang_desc.jsp

[2017-08-30 17:59] ersinciftci commented on #3031
@tmazor If user entered `EGFR: MUT = CERAMI`, and gets nothing as a result, I guess we wouldn't call this a bug (because you specifically mentioned `OQL assumes that any word it doesn't recognize is a mutation code`). So I think the part that makes looks like a bug is that OQL's assumption, so my proposed solution is OQL shouldn't assume it's a mutation code when it doesn't recognize. But if @jjga

[2017-08-30 18:28] ersinciftci commented on #3031
Just talked to @tmazor , it seems we need OQL's assumption functionality (even though it's not documented). So my suggestion is to add one more constraint to the validation in addition to has a number in them, it should also start with a letter.

[2017-08-30 19:25] zhx828 commented on #3029
@tmazor @jjgao this is not a bug. This study does have OS_MONTHS/OS_STATUS and DFS_MONTHS/DFS_STATUS.(http://www.cbioportal.org/api-legacy/clinicalattributes?study_id=acc_tcga) That's why both survival plots are generated.

[2017-08-30 20:09] tmazor opened #3056 "Mutations table allows clicking the "next arrow" past the end of the mutations list"
Go here: http://www.cbioportal.org/index.do?session_id=5968f36e498e5df2e2928639&show_samples=false&#mutation_details

Click on Truncating mutations.

Click on the right arrow at the bottom of the mutation table to go through the list of 250 mutations.
When you get to the end of the list, the right arrow should be grey'ed out but it isn't.

Note that my mouse can click on the right arrow even thoug

[2017-08-30 20:37] jjgao opened #3058 "Clean up third party libs"
- [x] move to local: http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css
- [x] remove: https://www.google.com/jsapi (I think it was for Google Charts)
- [x] disable: https://3dmol.csb.pitt.edu/track/report.cgi (https://github.com/3dmol/3Dmol.js/issues/337, https://github.com/cBioPortal/cbioportal/issues/3059)

[2017-08-30 20:46] jjgao opened #3059 "turn off tracking for 3dmol"
`$3Dmol = {notrack: true};`

[2017-08-30 21:18] jjgao commented on #3031
@tmazor @ersinciftci @ecerami: I thought about it more and I think adding a constraint to have a number in the string may not work for all scenarios. For example, we have some hacky data such as mutations such as "VIII deletion", or fusions, or "Promoter mutations". I would vote for sticking to the current implementation but in the OQL spec mention that "OQL assumes that any word it doesn't recogn

[2017-08-31 11:23] messersc opened #3061 "SAML/Keycloak: add back option to give study access via authorities table"
Hi all,

I'm with @holtgrewe @bihealth.

Based on the discussion and particularly this comment by @pieterlukasse https://github.com/cBioPortal/cbioportal/pull/2525#discussion_r133393304, I would like to raise some concerns regarding this change in authorization.

### What does happen

If I read the discussion correctly, cbioportal will rely on authorities from the SAML token by Keycloak only for g

[2017-08-31 15:33] pieterlukasse commented on #3046
@jjgao the call to oncoKB in my figure above seems to not take too long, but my main issue with the OncoKB call is that all code just waits for it to return (see the last calls on the bottom right of the figure: they only start after oncokb is back, but could be probably in parallel).

[2017-08-31 16:19] sheridancbio commented on #3027
I'm writing up a separate issue with the tracking of genepanel links to samples in the database, but possibly it is related to this reported issue.

However, I have a suspicion that the import using the scripts package python tools may not properly support the import of gene panels (I am not familiar with running imports through the python scripts). The importing method we use is a java based appl

[2017-08-31 22:35] alisman opened #3063 "Refactor of MutationMapperStores to share mutation data at top level"

[2017-08-31 22:37] alisman opened #3064 "Make collection of MutationMapperStores in resultsviewstore reactive"

[2017-09-01 17:58] tmazor opened #3065 "query and download show studies differently"
Not actually sure if this is a bug or on purpose, but I just noticed that the studies list on the homepage has an additional level of grouping by disease in the query study selection that isn't present in the download study selection:

![image](https://user-images.githubusercontent.com/10508276/29981854-43a3c22a-8f1d-11e7-80b2-8540f378dafd.png)

![image](https://user-images.githubusercontent.com/1

[2017-09-01 21:14] sheridancbio opened #3067 "Is a sample part of a mutation profile if no mutations were detected?"
This discussion arises out of issue #2556  :
- samples are assayed with targeted sequencing for a panel of genes
- some samples have no detected mutation events in any gene of the panel
- those samples are not recorded as part of the mutation genetic_profile for the study
- those samples show up as 'Whole-Exome Sequencing' in the oncoprint

@mandawilson identified the essential issue here :

**Bec

[2017-09-01 21:16] sheridancbio commented on #3067
I've been tracing the data paths which read data from sample_profile. Here is my incomplete summary:

[2017-09-01 21:19] adamabeshouse commented on #3063
https://github.com/cBioPortal/cbioportal-frontend/pull/592

[2017-09-01 21:19] adamabeshouse commented on #3064
https://github.com/cBioPortal/cbioportal-frontend/pull/592

[2017-09-01 23:43] schultzn commented on #3067
I thought we had solved this in the past. If a sample was sequenced (whole exome, targeted, any platform) but has no mutations, the sample is added to the MAF file header of sequenced samples, which includes all samples that were sequenced. This is essential for targeted sequencing panels, as quite a few samples have no mutations. Occasionally, this may affect WXS samples - but I don't think we ev

[2017-09-04 14:12] sandertan opened #3068 "non-MAF variant classification values"
It is unclear which values for variant classifications are allowed in cBioPortal. According to the current documentation cBioPortal follows the MAF-format, but in the code other classifications are also allowed, such as here:
https://github.com/cBioPortal/cbioportal/blob/master/portal/src/main/webapp/js/api/cbioportal-datamanager.js#L123

and here:
https://github.com/cBioPortal/mutation-mapper/blo

[2017-09-04 16:32] pieterlukasse commented on #3067
I am pretty sure answer is 1...will look up some sources.

Regarding @schultzn comment: I think we moved this sample list from the MAF header to the mutations meta file some time ago...let me look this up as well.

[2017-09-04 20:27] pieterlukasse commented on #3067
@sheridancbio so, regarding 1 or 2, in case of mutation data here is some more background https://github.com/cBioPortal/cbioportal/issues/494. Not sure how much has changed since then.

Issue 494 also discusses a solution for putting the sample list in the meta file, implemented here for the validator https://github.com/cBioPortal/cbioportal/commit/5c803c4e8b4216d97658182de74487a0453a3334, but app

[2017-09-05 10:48] pieterlukasse commented on #3067
Regarding @schultzn's comment: we moved this sample list from the MAF header to the mutations meta file some time ago (discussed here: https://github.com/cBioPortal/cbioportal/issues/494#issuecomment-183393271 & implemented here for the validation https://github.com/cBioPortal/cbioportal/commit/5c803c4e8b4216d97658182de74487a0453a3334).  Interestingly, the commit does not include changes in the ja

[2017-09-05 11:05] pieterlukasse commented on #3067
Regarding 1 or 2, the current implementation is 1 for mutations: only samples which contain a detected event of some type are added to the profile (`sample_profile` table). See [#L415](https://github.com/cBioPortal/cbioportal/blob/master/core/src/main/java/org/mskcc/cbio/portal/scripts/ImportExtendedMutationData.java#L415) and [#L418](https://github.com/cBioPortal/cbioportal/blob/master/core/src/m

[2017-09-05 16:46] priti88 opened #3069 "Fix the skcm_tcga study"
Error in the importer is creating duplicated sample with different IDs. Bug reported by user:
https://groups.google.com/forum/#!topic/cbioportal/dmMG9QrNDCw

[2017-09-05 17:23] priti88 opened #3072 "study view filtering bug"
Filtering by clinical fields with numeric values sometimes does not work.
<img width="1273" alt="screen shot 2017-09-05 at 1 07 47 pm" src="https://user-images.githubusercontent.com/1380237/30073774-1ba18b72-923d-11e7-9d71-8d1aac4a9628.png">

Reported by user: https://groups.google.com/forum/#!topic/cbioportal/wW9xs8w4WZ8

[2017-09-05 17:54] priti88 opened #3073 "clinical data tab COPY does not work"
Clicking on COPY button does not work
<img width="616" alt="screen shot 2017-09-05 at 1 53 18 pm" src="https://user-images.githubusercontent.com/1380237/30075029-a1f564ba-9241-11e7-9156-6243e5826a5b.png">

[2017-09-05 19:00] adamabeshouse commented on #3031
maybe we could add that message below the input box if it detects an unrecognized string that will be interpreted as a mutation?

[2017-09-05 21:56] alisman opened #3075 "In LazyMobxTable Pagination button should hide when there is only one page"
Hide pagination and show more buttons, but not the result summary.

[2017-09-06 07:41] pieterlukasse commented on #3069
Hi @priti88, can you identify the bug in the importer? Afaik it is quite common to find patients with both 01 and 06 samples.

[2017-09-06 18:41] ersinciftci opened #3076 "Select Data Type Priority should be hidden by default in home page"

[2017-09-06 18:44] #3076 closed

[2017-09-06 19:15] ersinciftci commented on #2944
@jjgao sorry didn't see this, yeah it can be another issue.

[2017-09-06 21:13] alisman opened #3078 "How to get cancer type summary data"
Looking at latest resultsViewPageStore

For summary we need:
Gene -> CancerType -> Alteration

What we have right now in store's filteredAlterations is

Gene -> Alteration

To get the cancer type, we need to use alterations uniqueId to get sample.  With sample, we can look at clinical data of type "CANCER_TYPE_DETAILED" to get cancer type.  However, some samples do not have this clinical data, in

[2017-09-07 18:53] priti88 commented on #3069
@pieterlukasse I am not sure. It might not be an importer bug. @angelicaochoa is looking into this further.

[2017-09-07 18:56] angelicaochoa commented on #3069
Hi @pieterlukasse , @sheridancbio and I have been investigating why we're seeing this sample `TCGA-HR-A2OG-01` when the GDC portal only reports `TCGA-HR-A2OG-06` for patient `TCGA-HR-A2OG`.

All genomic data for patient `TCGA-HR-A2OG` is linked to sample id `TCGA-HR-A2OG-06` except for CNA and mutations. I did a quick survey of the data we received from Firehose and found that the mutations are in

[2017-09-07 20:59] ersinciftci commented on #2660
@pieterlukasse I'll finally have time to do this tomorrow I hope.

[2017-09-07 21:24] adamabeshouse opened #3082 "remoteData returns Immutable, Immutable methods (e.g. reduce) return Immutable"
This often causes subtle bugs and it would be preferable if those methods did not return more immutables.

[2017-09-08 14:14] jjgao opened #3083 "unstable PFAM data loading"
The PFAM web service is really slow sometimes. We may have to bring the data locally.

Maybe it makes sense to host the data in genome nexus.

[2017-09-08 14:51] jjgao opened #3084 "Add Custom driver annotation of mutations into the new web api"
It leftover work from pr #2896.

[2017-09-08 14:57] jjgao opened #3085 "Study view: mouse over issues"
Reported by a user: "the NA including/excluding option box is buggy. Frequently the box will not show up when hovering mouse over the K-M curve plots."

[2017-09-08 15:18] pieterlukasse opened #3086 "Make sure API changes from #2896 are added to new API"
In #2896 four new fields were added to the model class `business/src/main/java/org/mskcc/cbio/portal/model/DBMutationData.java` and configured in mapper `business/src/main/resources/org/mskcc/cbio/portal/persistence/ProfileDataMapper.xml`. These changes should be added to the corresponding classes in the new API, according to discussion in #2896.

It is important to do this before the refactoring

[2017-09-08 15:30] jjgao commented on #3084
duplicate with #3086

[2017-09-08 15:30] #3084 closed

[2017-09-08 15:33] jjgao opened #3087 "OncoPrint: Make sure the custom mutaiton annotation code are moved over"
https://github.com/cBioPortal/cbioportal/pull/2896

[2017-09-08 15:47] jjgao opened #3088 "remove `TYPE_OF_CANCER_ID` column of `sample` table"
The `TYPE_OF_CANCER_ID` data is currently not properly generated. Since we have the `oncotree_code` as sample clinical attribute, it may not necessary to duplicate the data here. I would propose to remove it.

[2017-09-08 17:18] #2908 closed

[2017-09-08 18:50] jjgao opened #3089 "missing hotspot annotation"
The EGFR H304Y mutation should be hotspot mutation.

http://www.cbioportal.org/case.do#/patient?caseId=P-0000906&studyId=msk_impact_2017

![image](https://user-images.githubusercontent.com/840895/30226654-d0facae2-94a4-11e7-82fc-9535043b438e.png)

[2017-09-08 21:56] alisman opened #3092 "Data for cancer type summary"
For all alteration types with exception of Mutation, we want to show sub types per current oncoprint categories.

![image](https://user-images.githubusercontent.com/186521/30232605-ed0fec70-94be-11e7-8f77-32635b8b06d3.png)

[2017-09-09 15:08] jjgao opened #3093 "Add / link to the portal installations map"
I am thinking of adding the local installations map in the public portal on the right column of the front page, and also add a link for reporting new instances.

@ecerami @schultzn thoughts?

[2017-09-11 02:49] jjgao opened #3094 "Google Analytics not loading for query page and patient view"
I guess we forgot to include the GA code into the new pages?

Please fix it ASAP.

The GA profile id should be read from portal.properties (`google_analytics_profile_id`).

[2017-09-11 14:09] pieterlukasse commented on #3087
duplicate of https://github.com/cBioPortal/cbioportal/issues/3086

[2017-09-11 14:19] jjgao commented on #3029
Looks like there is some data issue here. @ritikakundra @yichaoS could you look into it?

[2017-09-11 14:30] jjgao commented on #3046
@pieterlukasse that's a good point. Once the mutation data is loaded, we should start to load oncokb data. @adamabeshouse would that be possible?

[2017-09-11 14:53] jjgao commented on #3067
It should be #2: if a sample is sequenced, it is sequenced no matter if there is a mutation detected or not.

How are we generating the case list: cases_sequenced?

[2017-09-11 14:58] jjgao commented on #3068
I did a query of the public database, below are the values -- we should really clean them up.

[code]

[2017-09-11 14:59] jjgao commented on #3068
@ritikakundra @yichaoS maybe we can put this into your cleanup to-do list?

[2017-09-11 15:06] jjgao commented on #3031
@adamabeshouse good idea. And also update the oql description.

[2017-09-11 15:07] pieterlukasse opened #3095 "Enhancements extending the feature for "custom highlighting of driver and passenger mutations""
The PR #2896 introduced the possibility to use custom sources of annotation to highlight driver mutations in oncoprint. Based on feedback from users, a number of extra features are proposed to extend the custom annotation functionality to other views in the portal. Below are the requirements and rough set of tasks listing how this can be achieved in the code. They are ordered by *importance x feas

[2017-09-11 15:12] jjgao commented on #3078
Just wanted to add that the `CANCER_TYPE_DETAILED` can be loaded in four places: oncoprint, mutations tab, plots tab, and cancer type summary. Ideally, it should be loaded in the same way and can be shared.

[2017-09-11 15:23] #3087 closed

[2017-09-11 17:56] #3075 closed

[2017-09-11 18:48] jjgao commented on #3009
@alisman has this been resolved?

[2017-09-11 18:58] priti88 opened #3096 "Portal.properties skin.right_nav.whats_new_blurb not working"
skin.right_nav.whats_new_blurb is not confgurable from the portal.properties. UI still displays the default html.

[2017-09-11 19:46] ersinciftci commented on #2968
<img width="1253" alt="screen shot 2017-09-11 at 3 43 54 pm" src="https://user-images.githubusercontent.com/3595704/30293618-31a78546-9708-11e7-91c6-30f3d5bec875.png">

It looks like this after adding descriptions to controllers, so we decided with @ecerami to not do it because it doesn't look as pretty as the current page. I'll still make the changes in the sub-endpoints.

[2017-09-11 20:28] adamabeshouse commented on #3031
here's what I have running now
![image](https://user-images.githubusercontent.com/636232/30295314-28794256-970e-11e7-80ec-97758e2143c5.png)

thoughts? @jjgao @tmazor @ersinciftci @ecerami

[2017-09-11 21:59] JiaoJiao123 opened #3099 "Cancer type is NA for some samples in MSK Impact"
In MSK-Impact study, there are around 60 samples that don't have Cancer type assigned. For example "P-0001405-T01-IM3".

[2017-09-11 22:48] adamabeshouse commented on #2450
seems to be working now

[2017-09-11 22:48] #2450 closed

[2017-09-11 22:51] adamabeshouse commented on #2147
must be caused by https://github.com/cBioPortal/cbioportal/issues/3067

[2017-09-12 08:27] rosemariebr opened #3100 "reorganization of RNA Seq in Data Set"
If i reorganize the order according to RNA Seq in the list of Data Set, the list is not fully organized.

![image](https://user-images.githubusercontent.com/31878780/30315643-f942e23e-97a4-11e7-9f2a-122fd06dfd60.png)

[2017-09-12 20:36] ecerami opened #3101 "TCGA Disease Free Survival Issue"
Reported by end user:

I’m trying to reproduce your disease free survival plots but am unclear how your pipelines select from multiple relapse events for the same patients.  For example patient TCGA-CU-A72E has two new tumor event times: 256 days and 364 days.  Cbioportal selects 364 days.  Isn’t 256 more correct if we are trying to measure disease free survival?

More info from user:

Here is a l

[2017-09-13 13:37] jjgao commented on #3099
That is for msk_impact_2017.

I assume @yichaoS and @ritikakundra are working on this.

[2017-09-13 15:45] sheridancbio opened #3102 "Deletion of Cancer Study via Foreign Key Cascade failing"
`org.mskcc.cbio.portal.dao.deleteCancerStudyByCascade(int internalCancerStudyId)` relies on the "ON DELETE CASCADE" mode of foreign key constraints in database tables to remove all associated records in related tables when a records is deleted from the cancer_study table.

A foreign key constraint exists in database table "gistic" which will trigger deletion (via cascade) of any records in gistic

[2017-09-13 17:07] alisman commented on #3092
@JiaoJiao123 there is an alteration type Fusion.  It seems that in old cancer type summary they are lumped in as mutation.  Is that right?

[2017-09-13 17:12] ersinciftci commented on #2968
@jjgao @ecerami There is a new Swagger 3 supported version of swagger-ui, http://petstore.swagger.io/, which would solve this problem as it shows descriptions in a smaller font, but we need to wait for Springfox library to update to Swagger 3 for this as well.

[2017-09-13 17:27] #2978 closed

[2017-09-13 17:27] #3049 closed

[2017-09-13 17:27] #2944 closed

[2017-09-13 18:07] #3094 closed

[2017-09-13 18:34] #2984 closed

[2017-09-13 18:50] jjgao opened #3103 "refactor survival tab"
The Survival tab is a component, that contains sub-components. The survival plot would be a sub-component. In the future we will use it to refactor the study view page as well.

[2017-09-13 18:54] jjgao opened #3104 "webworker for data transformation for oncoprint"

[2017-09-13 18:55] adamabeshouse commented on #1848
duplicate https://github.com/cBioPortal/cbioportal/issues/3104

[2017-09-13 18:55] #1848 closed

[2017-09-13 20:00] jjgao commented on #3099
Oncotree codes should be added.

http://www.cbioportal.org/case.do#/patient?studyId=msk_impact_2017&caseId=P-0000045&navCaseIds=P-0000045,P-0000668,P-0001083,P-0001179,P-0001195,P-0001345,P-0001405,P-0001458,P-0001686,P-0001779,P-0001849,P-0002047,P-0002198,P-0002219,P-0002267,P-0002377,P-0002411,P-0002422,P-0002736,P-0002787,P-0003374,P-0003615,P-0003703,P-0003706,P-0003747,P-0004199,P-0004604,P-

[2017-09-13 20:12] ecerami commented on #2968
@ersinciftci:  that looks way better, and I vote for that option!

[2017-09-13 20:26] inodb opened #3105 "Add OncoKB gene background information on mouseover of mutations/cna table"

[2017-09-14 02:25] jjgao opened #3106 "broken institute logo"
The right logo is broken. Is it related to #2945?

public portal (should be no logo):
![image](https://user-images.githubusercontent.com/840895/30409262-fc2ca056-98d1-11e7-8ad6-0fc5f55c9dbf.png)

msk portal (msk logo):
![image](https://user-images.githubusercontent.com/840895/30409275-0f5e5c0a-98d2-11e7-99a0-040a46cc9466.png)

[2017-09-14 08:01] fedde-s commented on #3106
Yes, it might be related. @jjgao, may I ask which release of Tomcat these installations use?

[2017-09-14 13:06] fedde-s commented on #3106
I see, I can reproduce it by reverting to Tomcat 7.0.x.

[2017-09-14 13:21] jjgao commented on #3048
good idea to add a tooltip.

[2017-09-14 13:41] pieterlukasse commented on #3027
@sheridancbio there could still be a problem with @sandertan's description here. I asked him to test again to make sure the sequence of steps he reported here are correct. @sandertan will report back here once tested again.

[2017-09-14 13:57] aindacochea commented on #3069
Hello angelicaochoa

Thank you for explain me what is happening.

1.- If I understood correctly from this patient the CNA and mutations are from TCGA-HR-A2OG-01 (thats mean a primary melanoma because in other samples the -01 code means primary tumor), meanwhile the other data like RNAseq and protein expression data are from TCGA-HR-A2OG-06 (thats mean a metastatic melanoma sample because in other

[2017-09-14 17:02] onursumer commented on #3089
@jjgao EGFR H304 is indeed a hotspot, but we don't have it yet in the public www.cancerhotspots.org website, it is only available in the private mskcc instance.

[2017-09-14 17:59] schultzn commented on #3048
yes, tooltip is good.. but maybe we need to add an asterisk behind the frequency to make users aware that there is additional information

[2017-09-14 18:02] schultzn commented on #3047
+1 on legend.

Not sure about colors. I thought @adamabeshouse tried a couple of different combinations and this one worked best?

Would need to see some examples ....

[2017-09-14 18:45] als2076 opened #3108 "Update Dockerfile to work with new base image of tomcat"
Docker updated the base image of tomcat in hub.docker.com moving from debian jessie to debian stretch.

jessie-backports will no longer work resulting in a broken build.
Edits need to be done on the dockerfile to support stretch-backports instead

[2017-09-14 18:57] sheridancbio opened #3110 "Missing Document: entity relationship diagram not showing in readthedocs.io"
Section 4 of the readthedocs.io cbioportal documentation has broken links to the entity relationship diagram:

http://cbioportal.readthedocs.io/en/latest/cBioPortal-ER-Diagram.html

[2017-09-14 19:19] onursumer commented on #3041
@jjgao @alisman A quick debug shows that this is related to a failing Civic request. As a quick fix we can just fail silently on any Civic error (by adding an empy `onError` function for civic request in the store).

[2017-09-14 19:30] onursumer commented on #3041
Silent failing of Civic prevents the popup error message, but we still have the civic loader icon there spinning forever. I think this should be addressed in the Civic annotation renderer...

[2017-09-14 20:21] adamabeshouse commented on #3047
I think at the time we decided it didn't look good to have white, but we could try it again

[2017-09-14 21:07] inodb commented on #3034
updated properties to use `skin.examples_right_column_html` instead (support for specifying HTML files is no longer supported). Created a PR to remove all the HTML files: https://github.com/cBioPortal/cbioportal/pull/3112

[2017-09-14 23:27] ersinciftci commented on #2660
Ready as an internal API called Info API http://cbioportal-rc.herokuapp.com/api/swagger-ui.html

[2017-09-14 23:27] #2660 closed

[2017-09-15 08:33] pieterlukasse opened #3113 "Change "putative passenger" to "VUS (variant of unknown significance)" in oncoprint legend"
Oncoprint currently retrieves information from OncoKB and other sources to label some mutations as "putative driver". The rest of the mutations is automatically labelled as "putative passenger".

**This should change to “VUS (variant of unknown significance)”**, which more accurately reflects the lack of evidence or knowledge about the functional effect of a mutation.

[2017-09-15 08:34] pieterlukasse commented on #3113
Notify: @adamabeshouse @jjgao @schultzn

[2017-09-15 08:44] fedde-s commented on #3106
I believe that this is solved now that my patch has been merged into the hotfix development branch.

![Screenshot of the same front page region as the first one in this issue, but without the literal words ‘Institute Logo’](https://user-images.githubusercontent.com/4929431/30473940-4f50d9ec-9a02-11e7-9cd8-bdb3a2be67a5.png)

[2017-09-15 08:44] #3106 closed

[2017-09-15 08:48] fedde-s commented on #3106
As [part of the discussion](https://github.com/cBioPortal/cbioportal/pull/3107#issuecomment-329525587) about the pull request I explained the reasoning behind my choice to use JSTL tags over scriptlets.

[2017-09-15 14:44] inodb opened #3114 "Variant Page"
Create a variant page with all info from genome nexus

[2017-09-15 15:05] fedde-s commented on #3108
This seems to be in progress in pull request #3109.

[2017-09-15 15:06] ecerami opened #3115 "Create New Component: Latest Tweets, and add to Home Page"
Discussed previously with @tmazor and @jjgao, and also agreed / discussed at today's cBioPortal coordination call.

On the current home page, we have a small "What's New" Section in the right nav bar.

We would like to be able to edit this section without having to rebuild or recompile.  And, ideally the section can take one news item / month that could have 1) paragraph of text;  and 2) optional

[2017-09-15 15:15] fedde-s opened #3116 "Genomic profile checkboxes render on single line"
I just booted up an instance running the `rc` development branch, and the checkboxes and radio buttons to select genomic profiles on the query page were all jumbled together as inline elements. I presume that part of the solution is to annotate the `<label>` elements with the [`.radio` and `.checkbox` classes](https://getbootstrap.com/docs/3.3/css/#checkboxes-and-radios) recognised by Bootstrap in

[2017-09-15 15:35] inodb opened #3117 "Annotation column download"
Currently annotation column is empty when downloading. It would be nice to have one column per annotation.

[2017-09-15 15:51] inodb opened #3118 "Make property to indicate set of canonical isoforms"
The property can just be e.g. `uniprot` or `mskcc`. Genome Nexus can link that id to a specific set of gene to isoform mappings. Then we can display on the mutation diagram which default isoform we are using.

[2017-09-15 16:03] fedde-s opened #3119 "Oncoprint heatmap legend renders as plain red block"
In the `rc` development branch, the legend for heatmaps in the Oncoprint no longer renders as a gradient from blue to black to red, but as a plain red block all the way from -3 to 3.

![Screenshot showing an Oncoprint heatmap with a plain red block for a legend](https://user-images.githubusercontent.com/4929431/30492063-947ffa9c-9a3f-11e7-8d2f-50c0ba7d9bc7.png)

[2017-09-15 16:03] fedde-s commented on #3119
@adamabeshouse, do you know what might have caused this?

[2017-09-15 18:48] onursumer opened #3120 "Civic error status should be handled within the renderer"
Currently, we have the loader icon spinning forever for Civic in case of a remote data error (see #3041). We should try handling Civic annotation errors in a better way, similar to OncoKB annotation.

[2017-09-15 19:20] adamabeshouse commented on #3119
I haven't made any related changes.. perhaps related to @rnugraha's recent changes? (github wont let me tag him)

[2017-09-18 12:12] jjgao commented on #3105
I think it's now on the oncokb icon. We should probably use a slightly different icon for genes that are included in oncokb.

[2017-09-18 12:14] #3089 closed

[2017-09-18 12:14] fedde-s commented on #3119
Yes. A `git bisect` shows that the bug was introduced specifically by commit e19e28f8c125937e0ff80eddb2deffe856939f7d.

[2017-09-18 14:03] jjgao commented on #3041
@oplantalech @pieterlukasse could you look into the civic issue? Thanks.

[2017-09-18 14:09] fedde-s commented on #3116
@adamabeshouse or @alisman, is this a known issue?

[2017-09-18 14:09] jjgao commented on #3110
I am wondering if we should just remove the ERD and point to the SQL?

[2017-09-18 14:13] alisman commented on #3116
Yes, there's already a fix for it.  Just hasn't been merged to rc.

[2017-09-18 14:26] jjgao commented on #3047
@adamabeshouse could you change add the legend.

For the color, if it is easy to do, could you do a quick mockup using white for N/S and put it side by side with the current one? Thanks.

[2017-09-18 15:23] ritikakundra commented on #3017
Fixed

[2017-09-18 15:23] #3017 closed

[2017-09-18 15:27] jjgao opened #3121 "Survival-tab: design the input data structure of the survival component"
The Survival tab is a component, that contains sub-components. The survival plot would be a sub-component. In the future we will use it to refactor the study view page as well.

[2017-09-18 15:30] jjgao opened #3122 "Survival-tab: port the statistic code"
Evaluate the statistic code in the portal code base and xena code and choose one for the new component.

If our code is already modulized, I would pick that one for the sake of flexibility in the future.

cc'ing @yichaoS on this too.

[2017-09-18 15:31] jjgao opened #3123 "Survival-tab: port the K-M plots"

[2017-09-18 15:32] jjgao commented on #3103
@ersinciftci I broke it down to three tasks: #3121, #3122, #3123.

[2017-09-18 15:48] n1zea144 commented on #3101
I've done some digging into this - for starters, our pipeline uses the biotab (tab delimited) version of the clinical data, not the XML flavor.  Having said that, I've discovered that the XML file linking off of the GDC website contains different data than what is in the biotab formatted data (which now lives in the GDC legacy archive.  I've added a few links here for reference:

[TCGA BLCA files

[2017-09-18 15:53] jjgao commented on #2991
@tmazor you mentioned you were working on a new spec, so I assign it to you :). @adamabeshouse  and I can help review.

[2017-09-18 15:59] jjgao commented on #2991
@tmazor do you think it'd useful to make it a separate md doc instead of jsp?

[2017-09-18 16:01] jjgao commented on #2996
Good idea. Maybe we can take this when connecting portal to genome-nexus.

[2017-09-18 16:25] alisman commented on #2765
@ersinciftci I finally got a chance to look at this.  This really should be done on backend in
portal/src/main/webapp/WEB-INF/jsp/visualize.jsp
There is a QueryBuilder object that should have gene list on it but I'm just not enough of a java person to handle this and I think it would be a lot more efficient for a java person to do it.

[2017-09-18 16:33] alisman commented on #3009
@jjgao I can't reproduce this issue.  I have a vague memory of something like this a while back that we fixed.

[2017-09-18 16:52] #3009 closed

[2017-09-18 16:57] jjgao opened #3124 "port oncoprint menu"
- [x] [#608](https://github.com/cBioPortal/cbioportal-frontend/pull/608)~~make it possible to interface reactive/declarative with oncoprints stateful/incrementally-changed system~~

[2017-09-18 17:43] tmazor commented on #2991
@jjgao I'll create a md file and put the updated documentation in there

[2017-09-18 18:00] jjgao opened #3127 "Problem loading patient view if a sample has no _sequenced sample list"
http://www.cbioportal.org/case.do#/patient?studyId=prad_mskcc_2014&caseId=PCA0300

Why do we need to load the sample list?

[2017-09-18 18:01] inodb commented on #3115
@ecerami are we ok with redeploying (not recompiling)? Only changing the property value and relaunching. Or should this solution read the what's new section from some external source?

[2017-09-18 18:03] jjgao commented on #3127
BTW, displaying the message below for any kind of js error is confusing -- it's nothing to do with "not finding the sample"

![image](https://user-images.githubusercontent.com/840895/30556765-ff40639e-9c79-11e7-9169-11a245870478.png)

[2017-09-18 18:05] inodb commented on #3096
@priti88 This is fixed now when using latest hotfix of cbioportal and cbioportal-frontend. Have to discuss how exactly we'd like to more seamless updating of this property as discussed in #3115

[2017-09-18 18:06] jjgao opened #3128 "Do not always display the "Can't find patient" message for js errors"
e.g. here is a data error but the patient was loaded.

http://www.cbioportal.org/case.do#/patient?studyId=prad_mskcc_2014&caseId=PCA0300

![image](https://user-images.githubusercontent.com/840895/30556765-ff40639e-9c79-11e7-9169-11a245870478.png)

If we want to display a message, it should be relevant.

[2017-09-18 18:10] adamabeshouse opened #3129 "test oncoprint"
unit tests inside oncoprintjs
- [x] set up karma and travis for oncoprintjs
- [ ] write some unit tests

end-to-end screenshot tests in frontend repo

[2017-09-18 18:10] adamabeshouse opened #3130 "wrap the oncoprint in react component"
- [x] type interface

keep oncoprinter in mind

[2017-09-18 18:10] schultzn opened #3131 "Study view is missing favicon"
E.g., http://www.cbioportal.org/study?id=coadread_tcga_pub#summary
![image](https://user-images.githubusercontent.com/11892704/30557102-28bcbb4a-9c7b-11e7-8fd1-4e6b31b8292c.png)

[2017-09-18 18:19] adamabeshouse commented on #3047
I think it may be confusing to call the gray rectangle "No alterations" because that rectangle color is still there when there is a mutation. What the gray rectangle really shows is no copy number alteration.

[2017-09-18 18:25] tmazor opened #3132 "cancer studies bar chart is messed up"
![image](https://user-images.githubusercontent.com/10508276/30557704-284b4df0-9c7d-11e7-92ae-c50d9287f67f.png)

[2017-09-18 18:36] tmazor commented on #3132
It's totally fine now. Not sure what happened but I guess it fixed itself?

[2017-09-18 18:36] #3132 closed

[2017-09-18 18:54] jjgao opened #3133 "It's easy to miss mutations in the patient view"
From Niki:

"Hi. I like the new patient view, but I just realized that it is easy to miss mutations if a patient has more than 10. Can I propose to slightly change the view? It would be nice if the mutations table had a summary number at the top left (same for CNA), and if the controls for showing more would be at the top... (not sure if having them at the top would always work, especially with lo

[2017-09-18 18:55] ecerami commented on #3115
@inodb:  Ideally, I think it should be possible to update the news blurb w/o deploying, e.g. similar to how the about page works (I think).

[2017-09-18 18:56] jjgao commented on #3133
Another option:

![image](https://user-images.githubusercontent.com/840895/30559116-8aa0ccb0-9c81-11e7-90df-90f4e39d4363.png)

[2017-09-18 19:11] onursumer commented on #3127
Seems like we need the sequenced sample ids for `Genomic Overview` rendering...

[2017-09-18 20:13] n1zea144 commented on #3101
Just an update - per @jjgao suggestion, I sent an email to the GDC to let them know of the discrepancy between the XML and Biotab files and ask them for guidance.

[2017-09-18 20:33] #2919 closed

[2017-09-18 20:52] inodb commented on #3115
@ecerami We've decided to make this a Twitter feed of latest 1/2 tweets on last sprint meeting

[2017-09-18 21:10] jjgao opened #3135 "implement a generalized web worker solution"

[2017-09-18 21:12] adamabeshouse commented on #3135
it seems the best approach is
(1) load workers using a webpack loader like https://github.com/webpack-contrib/worker-loader
(2) wrap it in nice promise interface like https://github.com/nolanlawson/promise-worker

[2017-09-19 06:58] fedde-s commented on #3108
The pull request fixing this was merged to the `hotfix` development branch.

[2017-09-19 06:58] #3108 closed

[2017-09-19 07:48] fedde-s commented on #3127
Possibly related to the discussion on how to structure case list data files in https://github.com/cBioPortal/cbioportal/issues/494

[2017-09-19 14:49] ecerami commented on #3115
Here is the spec I propose:

1.  In front end configuration, we need to add an optional parameter, where we can specify a twitter account.
2.  If a twitter account is specified, then the first 2-3 tweets appear on the home page, in the right nav bar.

[2017-09-19 15:07] jjgao commented on #3047
@adamabeshouse that's a good point -- but I think it's probably fine. If there is a mutation or other event displayed on top of the gray rectangle, it is obvious that there is an alteration.

[2017-09-19 15:10] jjgao commented on #3047
@schultzn @pieterlukasse When using OQL, e.g, MUT=V600E, do you think it's OK to put the legend "No alterations", because there maybe other mutations? Technically it should be "No alterations passing OQL filtering", or maybe "No alterations of interest" (which also covers selection profiles).

[2017-09-19 15:20] jjgao commented on #3127
Thanks, @onursumer.

Let's switch to the new fields Ersin added in #3070 for deciding whether there are mutations or seg data for `Genome Overview` so that we don't have to load the whole case list.

[2017-09-19 15:27] jjgao commented on #3115
http://cytoscape.org/ has embedded tweets on their site.

[2017-09-19 16:07] fedde-s commented on #3127
@jjgao: from [this line](https://github.com/cBioPortal/cbioportal/pull/3070/files#diff-8ff982cb7e161da91ec641ea7b769188R144) it looks like those fields are only an alternative way to retrieve that sample list information in the back-end. @ersinciftci, can you comment?

[2017-09-19 16:24] schultzn commented on #3047
I don’t think we have to specify that… we would have to change all legends if a user uses OQL in any of the genes, for any of the data types. That could get tricky.

[2017-09-19 19:41] alexbaras commented on #2980
Brief update (This was a linux chrome issue)
Turns out if I turn off hardware acceleration, the problem went away.

-Alex

[2017-09-19 20:03] adamabeshouse commented on #2980
great, thanks for the update @alexbaras. Glad it's not a bug on our end 😁

[2017-09-19 20:30] jjgao opened #3138 "Move the uniprot link to right"
Now we have a section on the right, let's move the link to uniprot there. We can get the transcript ID there too.

![image](https://user-images.githubusercontent.com/840895/30613961-eb041a04-9d57-11e7-9799-7afe2ca6ed0d.png)

[2017-09-19 20:30] adamabeshouse commented on #3047
https://github.com/cBioPortal/cbioportal/pull/3137

[2017-09-19 21:28] adamabeshouse commented on #3047
@schultzn @jjgao @pieterlukasse
![image](https://user-images.githubusercontent.com/636232/30616299-d5549faa-9d5f-11e7-9b45-f928d8e3b003.png)

![image](https://user-images.githubusercontent.com/636232/30616317-e363eb1e-9d5f-11e7-830c-a6fc5fbc4d77.png)

![image](https://user-images.githubusercontent.com/636232/30616330-e9f47b38-9d5f-11e7-8954-0d486962590b.png)

![image](https://user-images.githubuse

[2017-09-19 21:39] jjgao opened #3140 "msk portal calling public proxy"
![image](https://user-images.githubusercontent.com/840895/30616774-60030000-9d61-11e7-81fb-b5cd6e8b5c6a.png)

[2017-09-19 21:54] #2881 closed

[2017-09-19 23:39] ritikakundra commented on #3099
fixed

[2017-09-19 23:39] #3099 closed

[2017-09-20 09:40] pieterlukasse opened #3143 "Datasets page table sorting is not working"
When I try to sort columns on the new Datasets page, it doesn't work. See screenshot below for an example.

![image](https://user-images.githubusercontent.com/2900303/30637379-7428ad22-9df8-11e7-8d98-b9afaae702a3.png)

[2017-09-20 09:45] pieterlukasse opened #3144 "Study view hangs for meso_tcga study on public portal"
![image](https://user-images.githubusercontent.com/2900303/30637621-230ea81e-9df9-11e7-9348-472754ab0120.png)

Steps to reproduce:
- go to: http://www.cbioportal.org/study?id=meso_tcga#summary

[2017-09-20 09:48] pieterlukasse opened #3145 "Cannot query meso_tcga study"
Query page gives an error:

![image](https://user-images.githubusercontent.com/2900303/30637727-7966ac0c-9df9-11e7-97ad-5d50b3a04f8c.png)

Steps to reproduce:
- select Mesothelioma study on query page

[2017-09-20 09:49] pieterlukasse commented on #3145
@ritikakundra could this be a datahub issue instead? Is this study lacking case lists? The validation script would have blocked this I think.

[2017-09-20 12:34] fedde-s opened #3146 "Browser console complains about offset attribute while rendering Oncoprint heatmaps"
When enabling a heatmap in the Oncoprint using the code in the **rc** development branch, the browser console fills up with hundreds of error messages about invalid values of an ‘offset’ attribute, starting from `0%%` and going all the way up to `100%%`, multiple times (probably once for each track).

In Firefox ESR the warning text is `Unexpected value 100%% parsing offset attribute`, in Google C

[2017-09-20 12:47] fedde-s commented on #3146
Using git bisect, I found that the first commit showing this behaviour was e19e28f8c125937e0ff80eddb2deffe856939f7d. @rnugraha, might it be related to issue #3119?

[2017-09-20 12:54] jjgao commented on #3143
duplicate with #3100

[2017-09-20 12:54] #3143 closed

[2017-09-20 13:03] pieterlukasse opened #3147 "Most, but not all .js files are appended with GlobalProperties.getAppVersion()"
Appending the app.version to the .js files in files such as `js_include.jsp` helps circumvent some client side caching. Example:
[code]
See also some solutions in https://stackoverflow.com/questions/118884/how-to-force-browser-to-reload-cached-css-js-files

This is implemented for most .js includes in files such as `js_include.jsp`, but not all. Here are some examples where this is missing:
[code]

[2017-09-20 13:11] pieterlukasse commented on #3144
probably related to #3145

[2017-09-20 13:19] jjgao commented on #3145
I think it's lacking _sequenced case list. We should fix the data. But in the frontend, we should also capture the error -- it's probably a good idea to have a warning so that we know there is a data issue but missing a case list shouldn't prevent us from querying it.

[2017-09-20 14:07] n1zea144 commented on #3101
Moving this issue to datahub for triage.

[2017-09-20 14:07] #3101 closed

[2017-09-20 14:14] jjgao commented on #3047
I like it when it's zoomed out, ie. no white space in between (2nd figure) -- I think it's more clear that the data is missing. Not sure about hte 1st figure though -- should there be a light border to indicate it's a sample?

@schultzn @pieterlukasse @ecerami @tmazor : comments?

[2017-09-20 14:17] jjgao commented on #3146
@fedde-s I think it's critical. Who would be the best person to address this?

[2017-09-20 14:59] rnugraha commented on #3146
I'll look at this

[2017-09-20 19:55] tmazor commented on #3047
Overall I like this - I think the white is a more intuitive "no data" color than the light grey was. I agree with JJ's point that it might be beneficial to have a light border when zoomed in like in the first screenshot. I also think the white box for "Not sequenced" in the legend needs an outline to define it.

My other worry is that while this makes a lot of sense in the context of a multi-gene

[2017-09-20 20:06] zhx828 opened #3148 "If sequenced list not available, the Mutated Gene Table and CNA Table should give error message"
Currently, the sequenced list is mandatory for the study which is not the case for studies with only expression data.

Suggestion to modify: Instead of hanging the whole page, the Mutated Gene Table and CNA Table should give an error message saying The sequenced list is not available for this study.

[2017-09-20 20:36] inodb opened #3149 "Mouse icon for patient view PDXs"
By popular demand

[2017-09-20 20:45] ersinciftci opened #3151 "Sample List API 500 error"
http://www.cbioportal.org/api/sample-lists/meso_tcga_sequenced/sample-ids returns 500, we need to examine why.

[2017-09-20 21:35] inodb commented on #3132
@tmazor We fixed this, some javascript package dependency problem

[2017-09-21 13:32] oplantalech opened #3153 "Use Entrez ID instead of gene symbols when retrieving CIViC annotations"
Currently, when retrieving OncoKB and CIViC annotations, cBioPortal makes requests based on gene symbols. It would be better if these requests were based on Entrez IDs, since gene symbols can change over time and also avoids having issues with special characters that the symbols can contain (such as `/`). However, the downside of this approach is that the annotations will not work in cBioPortal in

[2017-09-21 14:13] zhx828 commented on #3153
@oplantalech OncoKB has switched to entrezGeneId in portal few months ago. And I think it is better to use EntrezGeneId instead of hugo symbol.

[2017-09-21 14:17] priti88 opened #3154 "security-spring module error"
security-spring module is missing maven filtering, so `${property}` fields doesn't get replaced with actual values in applicationContext-security.xml

[2017-09-21 16:21] jjgao opened #3156 "bring back the genome space icon"
Let's bring it back on the "Download Data" form. We should not ping or run any code before opening the "Download Data" form, ideally not before the button is clicked.

[2017-09-21 17:55] jjgao opened #3157 "replace the OQL spec page with the MD file"
Similar to news.jsp page, we should pull the md file below (master branch) and replace the content in the current onco_query_lang_desc.jsp.

https://github.com/cBioPortal/cbioportal/blob/rc/docs/Onco-Query-Language.md

[2017-09-21 18:03] jjgao commented on #3149
something like this ;)

![image](https://user-images.githubusercontent.com/840895/30711036-78b50e52-9ed5-11e7-8cb0-a6f9b11aa5f6.png)

[2017-09-21 18:20] jjgao commented on #3153
For pulling from OncoKB, we plan to switch to genomic coordinates.

Does CIViC supports Ensembl IDs? We are connecting cBioPortal to GenomeNexus which will use Ensembl IDs. It may also make sense to aggregate CIViC data in Genome Nexus as well.

cc'ing @inodb and @onursumer on the discussion as well.

[2017-09-21 18:38] zhx828 opened #3158 "Remove hidden rule with only one category of clinical attribute for CANCER_TYPE and CANCER_TYPE_DETAILED"
Currently, study view hides the clinical attribute if it only has one category. But we got some feedback from the users that they love to see the study view keeps the consistency to show CANCER_TYPE and CANCER_TYPE_DETAILED.

[2017-09-21 22:15] onursumer opened #3159 "PdbAnnotation API dependency"
We cannot completely remove `PdbAnnotation API` yet, because we fetch `PDB header` data from there.

[2017-09-21 22:15] onursumer opened #3160 "Improve ResidueMappingCache"
`ResidueMappingCache` is a very basic implementation where caching is done wrt the full query parameters. We should probably implement a `LazyMobXCache` version of it.

[2017-09-21 22:25] inodb opened #3161 "Use canonical isoform for functional impact column"
The functional impact column is now just displaying impact of the first transcript for SIFT and PolyPhen-2 on the patient view page. We should use the canonical isoform instead, this is blocked by cBioPortal/cbioportal#3118

[2017-09-21 23:02] inodb opened #3162 "Functional Impact Column does not work"
Need to write a function to turn mutation to proper hgvs format for Genome Nexus

[2017-09-22 07:00] oplantalech commented on #3153
@jjgao To retrieve genes, CIViC allows `entrez_symbol`, `entrez_id` and `civic_id`.

[2017-09-22 10:29] fedde-s commented on #3145
I think it should probably make the assumption that all samples in the study have been sequenced. Alternatively it could assume that only samples that have any mutations have been, but that would cause problems for studies using gene panels rather than whole-exome sequencing.

[2017-09-22 10:38] fedde-s commented on #3145
Related to the discussion in issue #494.

[2017-09-22 14:20] pieterlukasse opened #3166 "Blocking issue when using SAML authentication"
I am getting this in tomcat logs when trying to run the branch from PR #2525
[code]

[2017-09-22 14:21] jjgao opened #3167 "redesign the protein glyphs in oncoprint"
Currently, they are black arrows. They do not work well when zoomed out.

![image](https://user-images.githubusercontent.com/840895/30749507-9a9372be-9f81-11e7-9b83-984e887920e6.png)

![image](https://user-images.githubusercontent.com/840895/30749555-c6cf24f4-9f81-11e7-98df-2a06d8b7324f.png)

[2017-09-22 14:22] pieterlukasse commented on #3166
Will probably only affect instances running on tomcat 8. Tomcat 7 seems to work.

[2017-09-22 14:24] pieterlukasse commented on #3166
Troubleshooting: release 1.8.2...same problem. But with 1.6.1 I do not get this error. Issue traced back to this commit: https://github.com/cBioPortal/cbioportal/commit/f754c9a

[2017-09-22 14:24] pieterlukasse commented on #3166
I pushed a solution here: https://github.com/thehyve/cbioportal/commit/8cf1f387914af1b2dcce833d81a0c075ca57758f  (:warning: tested for SAML only)

[2017-09-22 14:28] pieterlukasse commented on #3166
extra fix: @ersinciftci has also found an extra fix that needs to be done in `/security/security-spring/pom.xml`:
[code]

[2017-09-22 14:29] pieterlukasse commented on #3166
Given it also occurs in `master` (at least tested with 1.8.2), labeling as "critical".

[2017-09-22 14:32] jjgao commented on #3167
Maybe do it the same as expression but different colors? e.g. one of the Purple for up and Cyan for down.

https://designguidelines.withgoogle.com/android-wear/style/color.html#color-dark-color-palette-for-wear

[2017-09-22 14:33] messersc commented on #3166
Hi Pieter,

I remember seeing something like `java.lang.NoSuchMethodError: org.apache.xml.serializer.Encodings.isRecognizedEncoding(Ljava/lang/String;)Z` in the logs when running the code from the PR, but I thought it was something that had to do with our setup (docker on flynn).

The funny thing was that this error was not reproducible, so roughly every second deploy worked. I can try do dig out

[2017-09-22 15:17] pieterlukasse commented on #3166
@messersc thanks for sharing this. I just tried again now on `hotfix` vs my fix on top of `hotfix` and I was able to reproduce the problems (and the solution :smile:  ). So I will go ahead with a PR for now. Not sure what caused the issue to automagically disappear on your side.

[2017-09-22 16:42] inodb opened #3171 "OncoKB ordering of mutations (likely neutral w Level should be above oncogenic w/o Level)"
if an alteration is “likely neutral” if it has an associated level of evidence, it should shuffle to the top (i.e this ERBB2 mt should be above the CTNNB1 mutation)

![oncokb_screenshot](https://user-images.githubusercontent.com/1334004/35533208-d13479dc-050a-11e8-87cd-5edef946485d.png)

[2017-09-22 18:57] adamabeshouse commented on #3047
@tmazor

![image](https://user-images.githubusercontent.com/636232/30759934-2ceb6cc4-9fa6-11e7-8769-57fcff72fbb8.png)

![image](https://user-images.githubusercontent.com/636232/30759937-332a8f3e-9fa6-11e7-826b-5cdb2caec43b.png)

![image](https://user-images.githubusercontent.com/636232/30759945-3fa49336-9fa6-11e7-83f1-4da66031395c.png)

![image](https://user-images.githubusercontent.com/636232/307

[2017-09-22 19:47] jjgao commented on #3159
@onursumer is that because we cache the PDB header there? Is performance OK to not use cache?

[2017-09-22 19:51] jjgao commented on #3162
There are now many places where we need to turn mutation into proper hgvs format. I remember, @angelicaochoa and @zhx828 were working on implementing that in GenomeNexus? Maybe GenomeNexus should support query by the five genomic coordination columns?

On the other hand, in the cBioPortal, we should have HGVSg/c/p columns.

[2017-09-22 19:54] jjgao commented on #3153
thanks @oplantalech. `entrez_id` should be used then.

[2017-09-22 19:55] onursumer commented on #3159
@jjgao It is a little slow without the cache since we are querying multiple PDB chains for a single gene. Also if we always hit the PDB web service directly, we may end up having problems similar to the ones we have with PFAM web service. Maybe it is better to add another endpoint in genome nexus for this one too.

[2017-09-22 20:32] jjgao commented on #3159
@onursumer good point.

[2017-09-25 09:33] pieterlukasse commented on #3061
@messersc the intention is indeed to take all authorities from the SAML token. If you want to keep using the `authorities` table you could use the other SAML class `org.cbioportal.security.spring.authentication.saml.SAMLUserDetailsServiceImpl` (instead of `org.cbioportal.security.spring.authentication.keycloak.SAMLUserDetailsServiceImpl`). This is a generic implementation that should also work wit

[2017-09-25 13:20] fedde-s commented on #3119
I believe that this is being addressed by pull request #3168.

[2017-09-25 14:03] tmazor opened #3173 "new cancer types summary labels mutations as fusions"
These should all be mutations, not fusions
![image](https://user-images.githubusercontent.com/10508276/30812405-a9c3ea8a-a1d8-11e7-8f86-3420d47b4dcb.png)
http://www.cbioportal.org/beta/index.do?session_id=595d48db498e5df2e29214c8&show_samples=false&

[2017-09-25 14:05] tmazor opened #3174 "rename "x axis value:" as "sort x axis by:""
The "X Axis Value:" option under "Customize" defines how to sort the x-axis, but the label doesn't make that clear. It should be called something like "Sort X Axis By:"

![image](https://user-images.githubusercontent.com/10508276/30812576-1eb2949a-a1d9-11e7-895d-5c278c7b0256.png)

[2017-09-25 14:08] tmazor opened #3175 "typo in log odds ratio tool tip"
"withthe" needs a space:

![image](https://user-images.githubusercontent.com/10508276/30812692-73d2bd6a-a1d9-11e7-8c3f-6b058ab2ac17.png)

[2017-09-25 14:17] tmazor opened #3176 "reword mutual exclusivity tooltip for "association""
The tooltip for "Association" says:
![image](https://user-images.githubusercontent.com/10508276/30812908-054791c6-a1da-11e7-9878-0f649d78efff.png)

I know this is the same text as on the existing site, but it sounds weird to me. I think it should be "Tendency towards mutual exclusivity/co-occurence", the same as the text in the table, rather than "Association towards...".

[2017-09-25 14:36] tmazor opened #3177 "cancer types summary: number of cases is inconsistent between y-axis and tooltip"
When looking at absolute counts on cancer types summary, the number of cases with the alteration in the tooltip is not the same as the height of the bar/y-axis. In the example below, the tooltip says 57 cases are altered but the bar height is ~25

![image](https://user-images.githubusercontent.com/10508276/30814040-07cc3ff2-a1dd-11e7-8e0c-eb4664f9c1e2.png)
http://www.cbioportal.org/beta/index.do?s

[2017-09-25 14:37] tmazor opened #3178 "cancer types summary: change y-axis label when set to absolute counts"
The y-axis label should be "Absolute counts" when the y-axis value is set to "Absolute Counts"

![image](https://user-images.githubusercontent.com/10508276/30814199-7c1ab05a-a1dd-11e7-947d-d104ccc7ee66.png)

[2017-09-25 18:58] #3031 closed

[2017-09-25 19:16] jjgao opened #3180 "add more index to tables"
e.g.

- `STABLE_ID` in `patient`
- `STABLE_ID` in `sample`
- `ATTR_VALUE` in `clinical_patient`
- `ATTR_VALUE` in `clinical_sample`
- `GENE_A` and `GENE_B` in `interaction`

[2017-09-25 19:18] jjgao commented on #3180
there may be more, but don't worry about tables listed here: https://github.com/cBioPortal/cbioportal/issues/2054

[2017-09-25 20:04] jjgao opened #3182 "comparison between legacy and new api"
Clinical data: ✔
  - [legacy](http://www.cbioportal.org/beta/api-legacy/clinicaldata/samples?study_id=msk_impact_2017&attribute_ids=CANCER_TYPE): 300ms
  - [new rc SUMMARY](http://www.cbioportal.org/beta/api/studies/MSK_IMPACT_2017/clinical-data?attributeId=CANCER_TYPE&clinicalDataType=SAMPLE&projection=SUMMARY
): 300ms
  - [new master SUMMARY](http://www.cbioportal.org/api/studies/MSK_IMPACT_2017

[2017-09-25 20:11] tmazor commented on #3047
I think I like it - but I can also see how all that white could be confusing for a user.

@jjgao @schultzn @ecerami @pieterlukasse what do you think?

[2017-09-25 20:17] adamabeshouse commented on #3047
another option, could be to have NA be signified with a thin horizontal center line on a white rectangle, which would have the effect that when they were squashed together it would appear like an unbroken line.

[2017-09-25 20:29] #3007 closed

[2017-09-25 20:30] ersinciftci opened #3183 "Create new endpoints for Results View"
Create `/studies/{studyId}/copy-number-segments` and change `/sample-lists/{sampleListId}/sample-ids` to `/sample-lists/{sampleListId}/samples`

[2017-09-25 20:30] adamabeshouse commented on #3051
this doesnt appear to be happening anymore

[2017-09-25 20:30] #3051 closed

[2017-09-26 10:21] sandertan commented on #3027
Apologies for the late reply, I was on holiday. I tested this again, pausing after each step (using a `raw_input("Press Enter to continue..."` in the python code)  and inspected the database. There are no mistakes in initial report.

[2017-09-26 13:16] jjgao commented on #3145
Actually it's throwing a backend error:

http://www.cbioportal.org/beta/api/studies/meso_tcga/sample-lists?projection=DETAILED

![image](https://user-images.githubusercontent.com/840895/30862248-6134cca8-a29b-11e7-8d6d-c1ad8e20180e.png)

@ersinciftci could you look into it?

[2017-09-26 13:43] tmazor commented on #3047
I like that idea @adamabeshouse - could you do a mock-up like that? Thanks!

[2017-09-26 14:35] sandertan commented on #3027
We identified that the meta file for the MAF file was missing the gene_panel property, although the gene_panel_matrix did contain the sample. Apparently the property is mandatory in this case. In the future it would be nice to remove the property, because of this redundancy. And the property is about the MAF file, and can therefor not say anything about samples that are sequenced but have no mutat

[2017-09-26 16:13] alisman commented on #3177
@Tamba32 I believe this should now be fixed but please check.

[2017-09-26 16:16] alisman opened #3187 "Cancer summary bar chart bar widths should be responsive"
The should look (in width) just like the old cancer type summary.   Colors are now fine.    When there are many cancer types (e.g. Impact) it should all fit on one page.

[2017-09-26 16:40] #3174 closed

[2017-09-26 18:15] alisman opened #3188 "Use single study clinical data endpoint in result store if we only have one study"
Use single study endpoint:
http://www.cbioportal.org/api/studies/msk_impact_2017/clinical-data/fetch
For clinical data in results view store if there's only one study

[2017-09-26 18:29] ersinciftci commented on #3151
https://github.com/cBioPortal/cbioportal/pull/3189 Fixes 500 error, but `meso_tcga_sequenced` list still needs to have some samples in it, it's currently empty.

[2017-09-26 18:39] priti88 commented on #3096
@inodb I deployed the hotfix branch and it still does not work for me.

[2017-09-26 19:02] adamabeshouse commented on #3047
@tmazor I think it looks pretty cool!

![image](https://user-images.githubusercontent.com/636232/30878823-b052a9ec-a2cb-11e7-8e75-6ce1a8627827.png)

![image](https://user-images.githubusercontent.com/636232/30878836-bbf451c4-a2cb-11e7-9ce8-4137cbb0d7c0.png)

![image](https://user-images.githubusercontent.com/636232/30878852-c5916a78-a2cb-11e7-8d63-d1ccd413dd21.png)

[2017-09-26 19:08] tmazor commented on #3047
That's awesome @adamabeshouse - I really like it!

@ecerami @schultzn @jjgao @pieterlukasse what do you all think?

[2017-09-26 19:45] adamabeshouse commented on #3047
here it is lighter to draw less attention to it
![image](https://user-images.githubusercontent.com/636232/30880769-aaad077a-a2d1-11e7-9c1f-792e5ed1f2e5.png)

![image](https://user-images.githubusercontent.com/636232/30880779-b2122374-a2d1-11e7-8470-5ce55e2c4f5f.png)

![image](https://user-images.githubusercontent.com/636232/30880787-b81147be-a2d1-11e7-972f-675c8740fde0.png)

[2017-09-27 01:01] #2440 closed

[2017-09-27 03:41] ritikakundra commented on #3145
This is fixed

[2017-09-27 03:41] #3145 closed

[2017-09-27 09:14] sandertan opened #3191 "Importer: Gene panel data as matrix and clinical attribute not imported"
As described in https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md#meta-file-13 gene panels can be assigned to 'genetic profile - sample' using 3 methods:
1. Create a gene panel sample matrix, in which the rows are samples and columns datatypes. The values are the gene panel stable ids. This can also assign a 'genetic profile - sample' to a gene panel when no mutations are f

[2017-09-27 09:15] sandertan commented on #3027
I described the specific bug in https://github.com/cBioPortal/cbioportal/issues/3191

[2017-09-27 09:15] #3027 closed

[2017-09-27 10:05] sandertan commented on #3067
The importing of gene panel data can be done using 3 methods (described [here](https://github.com/cBioPortal/cbioportal/blob/rc/docs/File-Formats.md#meta-file-13)):
1. gene panel sample matrix
2. gene_panel field in meta file
3. clinical sample file

I think by using method (1) and (3) it is possible to assign samples to a gene panel even if there are no mutations detected. Method (2) only assigns

[2017-09-27 13:15] #3151 closed

[2017-09-27 14:31] jjgao opened #3193 "Order in Cancer Type Summary"
From bottom up: Multiple =>  Mutaiton => fusion => CNA => mRNa => protein.

Please also try to use dark gray instead of black for Multiple.

[2017-09-27 14:36] alisman commented on #3193
@Tamba32 THis refers to the order in which the alteration types appear in the stacked bars.  Can this be accomplished?

[2017-09-27 15:28] alisman commented on #3193
@jjgao, please order these as desired:
['multiple', 'amplified', 'deleted', 'mutated', 'gain', 'homdel', 'fusion', 'mrnaExpressionUp', 'mrnaExpressionDown', 'protExpressionUp', 'protExpressionDown']

[2017-09-27 15:31] jjgao commented on #3193
@Tamba32 @alisman let's do:

['multiple', 'mutated',  'fusion', 'amplified', 'gain', 'homdel', 'deleted',  'mrnaExpressionUp', 'mrnaExpressionDown', 'protExpressionUp', 'protExpressionDown']

I assume `deleted` is `hetloss` (cna value of 1), if so, maybe change the label to `hetloss`.

[2017-09-27 17:51] jjgao commented on #3047
Yes, it looks awesome! Great design @adamabeshouse!

[2017-09-27 18:13] adamabeshouse commented on #3047
thanks! :) should we use that new convention for other N/A (e.g. in clinical tracks)? Or stick with the light gray for that, the way it is?

[2017-09-27 21:10] jjgao opened #5676 "Mutation burden plot"
**Background**:

Different cancers have different mutation burdens. One nice way to visualize them is the so-called hamburger plot. In the figure below as discribed in [this paper](http://www.nature.com/nature/journal/v499/n7457/full/nature12213.html#f1), "each dot corresponds to a tumour–normal pair, with vertical position indicating the total frequency of somatic mutations in the exome. Tumour t

[2017-09-27 21:27] jjgao commented on #3047
Agreed. We should use the new design for clinical data as well.

[2017-09-28 15:10] priti88 opened #3197 "Documentation for session service"
Setting up session service is required for deploying the latest version of cBioPortal. This needs to be added to the cbioportal documentation.

[2017-09-28 18:08] jjgao commented on #3197
@mandawilson do you have some documentation already?

[2017-09-29 10:43] pieterlukasse opened #3201 "Different sample counts in oncoprint and study view vs new variant-counts API"
The new variant-counts API shows a different "# samples" count than what is found in oncoprint and study view.

Steps to reproduce:
1. query "Breast Invasive Carcinoma (TCGA, Provisional). This will result in oncoprint reporting there are 982 sequenced samples:
![image](https://user-images.githubusercontent.com/2900303/31012758-4e695c40-a513-11e7-978c-0f43c6cfa443.png)

2. go to the study view of

[2017-09-29 12:02] sheridancbio opened #3202 "portal.properties.EXAMPLE should contain saml.login.local"
the property file property "saml.logout.local" is parsed by GlobalProperties.java in order to determine getSamlIsLogoutLocal().

After PRs #3169 and #2525, we noticed that this setting was required in portal.properties for proper functioning with a local saml server.

We should probably add lines in portal.properties.EXAMPLE to show this setting and document it's use.

Perhaps:
#Property to determ

[2017-09-29 12:03] pieterlukasse opened #3203 "Patient view fails when study does not have mutation data"
Steps to reproduce:

1. Go to http://www.cbioportal.org/case.do#/patient?studyId=prad_mskcc_2014&caseId=PCA0318&navCaseIds=PCA0318,PCA0321,PCA0325,PCA0326,PCA0328,PCA0329,PCA0332,PCA0333,PCA0338,PCA0348,PCA0362,PCA0363,PCA0364,PCA0370,PCA0373,PCA0375,PCA0400,PCA0402

![image](https://user-images.githubusercontent.com/2900303/31015100-ab12b6c0-a51e-11e7-8b01-4a5c90442d9f.png)

This is probably beca

[2017-09-29 12:04] sheridancbio commented on #3202
cc: @mandawilson @pieterlukasse @n1zea144

[2017-09-29 12:07] pieterlukasse commented on #3203
Proposed solution: patient view should only look for `_sequenced` case list if there is any mutation data for this patient.

[2017-09-29 12:34] fedde-s commented on #1456
I believe that has been fixed by pull request https://github.com/cBioPortal/cbioportal/pull/2979.

[2017-09-29 12:34] #1456 closed

[2017-09-29 12:40] jjgao commented on #3203
duplicate with #3127

[2017-09-29 12:40] #3203 closed

[2017-09-29 13:26] pieterlukasse commented on #3203
@jjgao please see my comment on https://github.com/cBioPortal/cbioportal-frontend/pull/639#issuecomment-333125657

[2017-09-29 14:19] ersinciftci commented on #3127
@fedde-s sorry I just saw this now. I didn't get what you meant by `only an alternative way to retrieve that sample list`. I think @jjgao suggested to switch to the new fields only for convenience, i.e. 1 less API call.

[2017-09-29 14:22] pieterlukasse opened #3204 "Oncoprint not working in 1.9.0-SNAPSHOT when behind authentication"
Oncoprint fails with POST call to `api-legacy/geneticprofiles?genetic_profile_ids=<any_profileid>` when the portal is behind an authentication (in my case SAML).

Upon investigation, not only POST call fails, but GET also fails. It only fails when the call has parameters. So for example:
- `https://..../api-legacy/geneticprofiles` will not fail
- but `https://..../api-legacy/geneticprofiles?geneti

[2017-09-29 14:41] pieterlukasse commented on #3204
Some details...still troubleshooting myself:
[code]

[2017-09-29 14:43] ersinciftci commented on #3201
@pieterlukasse `SELECT COUNT(DISTINCT(mutation.SAMPLE_ID)) from mutation inner join genetic_profile on mutation.GENETIC_PROFILE_ID
= genetic_profile.GENETIC_PROFILE_ID where genetic_profile.STABLE_ID = 'brca_tcga_mutations';` returns 981, so it means there is 1 sequenced sample that doesn't have any mutations.

[2017-09-29 14:45] fedde-s commented on #3127
Ah, okay. I just meant that that by itself would not fix the issue that something in the frontend breaks when a study does not have a sample list with the `_sequenced` suffix, as it's a ‘view’ on the data (not) loaded from the same case list file.

[2017-09-29 14:52] ersinciftci commented on #3127
Right, I don't think @jjgao suggested it as a fix to this problem.

[2017-09-29 14:55] pieterlukasse commented on #3201
@ersinciftci Ok, thanks. Maybe the field `numberOfSamples` should get a different name, one that better covers this case? From the name, I expected it to be the number of profiled samples, which is not the case. This relates back to the discussion here: https://github.com/cBioPortal/cbioportal/issues/3067

[2017-09-29 15:01] ersinciftci commented on #3201
@pieterlukasse yeah let's wait for that discussion to conclude, then I can either change the name or the number.

[2017-09-29 15:03] pieterlukasse commented on #3204
Found this in the logs:
[code]
Apparently, something like
[code]
in `CancerStudyPermissionEvaluator.java`, similar to here: https://github.com/cBioPortal/cbioportal/blob/master/security/security-spring/src/main/java/org/cbioportal/security/spring/CancerStudyPermissionEvaluator.java#L185

[2017-09-29 15:14] pieterlukasse commented on #3204
It used to be there, but was removed here: https://github.com/cBioPortal/cbioportal/commit/4348e92f29a2056bcf66d5f1f40d4064c1456c7a#diff-f4e181e969710e5909106d98af5e3905R174

[2017-09-29 15:29] pieterlukasse commented on #3204
also fails, for similar reason: `thttp://localhost:8080/cbioportal/api-legacy/genepanel/data?profile_id=brca_tcga_mutations&genes=SOX9,RAN,TNK2,EP300,PXN,NCOA2,AR,NRIP1,NCOR1,NCOR2`

[2017-09-29 18:19] jjgao opened #3205 "cancer type summary: render the gene in gray if no alteration"

[2017-09-29 18:43] jjgao commented on #3127
https://github.com/cBioPortal/cbioportal-frontend/pull/639 solve the problem of the pop up window. Let's keep it open until Ersin's API #3070 is used.

[2017-09-29 20:57] jjgao commented on #3201
Agreed with @pieterlukasse: we should use the number of profiled samples as the denominator.

[2017-09-29 21:18] n1zea144 opened #3206 "Patient View-Clinical Data not displaying all attributes"
Couldn't find "American Joint Committee on Cancer Tumor Stage Code" patient attribute on the Patient View - Clinical Clinical Data tab for an IMPACT patient, but if I search for it in the search box it appears.

[Link to patient view on MSK Portal](https://cbioportal.mskcc.org/case.do#/patient?caseId=P-0000751&navCaseIds=P-0000751&studyId=mskimpact&tab=clinicalDataTab)

Per Aaron Lisman, paginatio

[2017-09-29 21:31] jjgao commented on #3204
Confirmed in https://cbioportal.mskcc.org/beta

adding @adamabeshouse and @alisman. This is critical!

[2017-09-29 22:56] adamabeshouse commented on #3204
I have no idea whats going on here, but the commit @pieterlukasse has linked was by @ersinciftci

[2017-09-29 23:18] adamabeshouse commented on #3206
Fixed in https://github.com/cBioPortal/cbioportal-frontend/pull/648

But they're not in alphabetical order by attribute.. should they be?

[2017-09-30 12:48] schultzn opened #3209 "Mutual Exclusivity tab: Copy data button should generate tab-delimited data"
On the new mutual exclusivity tab,  the "Copy data" button should generate tab-delimited data instead of comma-separated data (which is obviously the right thing to do for a CSV file).

This should probably apply to all other copy data buttons throughout cBioPortal - it is just more biologist friendly..

[2017-09-30 12:54] schultzn opened #3210 "Cancer Types Summary tab: manual entry of min % and min # not working"
On the Cancer Types Summary tab, the manual entry of min % of altered cases and min # of cases is not working - one can only change the numbers via the slider. We used to be able to manually enter a number and hit enter.

It would also be great if one could enter fractions, e.g. 0.5%.

[2017-09-30 12:55] schultzn commented on #3210
And maybe this one is for later: But a custom y-axis length would also be great... but not essential now

[2017-09-30 12:58] schultzn opened #3211 "Cancer Types Summary tab: Error message for no alteration data needs to be fixed"
On the Cancer Types Summary tab, the Error message for no alteration data needs to be fixed

"No alteration plot data."

should probably become

"There are no alterations in this gene."

![image](https://user-images.githubusercontent.com/11892704/31045959-7231e78c-a5bd-11e7-95a8-75d6eeb86725.png)

[2017-09-30 13:01] schultzn opened #3212 "Cancer Types Summary Download PNG: needs white background"
On the Cancer Types Summary tab, the download PNG has a strange grey background - this needs to be white.

![cbioportalcancersummary](https://user-images.githubusercontent.com/11892704/31045974-ebfd77f2-a5bd-11e7-947f-d9f8f6432e09.png)

[2017-09-30 13:02] schultzn opened #3213 "Cancer Types Summary Download PDF: parts of the graph are cut off"
In the Cancer Types Summary downloaded PDF,  parts of the graph are cut off.

![image](https://user-images.githubusercontent.com/11892704/31045978-170c646c-a5be-11e7-890f-28f83c217692.png)

[2017-09-30 13:04] schultzn opened #3214 "Cancer Types Summary tab: change sort order of events"
Multiple alterations used to be at the bottom, and I still think that’s where they belong.

From top to bottom it should be:
Mutation
Amplification
Deletion
Fusion
Multiple

And the legend on the right should have the same order.

[2017-09-30 13:05] schultzn opened #3215 "Beta: About / News / FAQ not loading"
News

Sat Sep 30 2017 09:04:40 GMT-0400 (EDT)
There was a problem retrieving the page located at: undefined
error, Internal Server Error

[2017-10-02 01:42] alisman commented on #3215
This was on beta site, correct?  (not production)

[2017-10-02 01:50] schultzn commented on #3215
Correct.

[2017-10-02 10:51] pieterlukasse commented on #3153
Just noticed that the new Mutation view also relies on `entrez_id` instead of symbol (at least for part of the external calls):
https://mygene.info/v3/gene/4684?fields=uniprot  (apparently to get the uniprot ID for a given entrez id)

This is *good*. Only downside is that the "ensembl workaround" in the gene table is not possible anymore.

[2017-10-02 10:56] pieterlukasse opened #3217 "Outdated DB tables"
Please clean-up the following tables if they are not used anymore:
- `uniprod_id_mapping` table (replaced with https://mygene.info/v3/gene ?)
- `pdb_uniprot*` tables (replaced with https://g2s.genomenexus.org/ ?)

[2017-10-02 12:00] pieterlukasse opened #3218 "Mutation lollipop view hangs when gene has unknown Entrez"
Mutation lollipop view hangs when gene has unknown Entrez. This could happen for "negative Entrez scenario".

Steps to reproduce on cbioportal.org (and on /beta):
- go to study view for MSK Impact study, select Mutations tab: http://www.cbioportal.org/study?id=msk_impact_2017#mutations
- click on the 2nd entry in the table: `CDKN2AP16INK4A` . Link: http://www.cbioportal.org/index.do?Action=Submit&

[2017-10-02 12:01] pieterlukasse commented on #3218
@jjgao also happens on /beta btw.

[2017-10-02 12:03] pieterlukasse commented on #3218
@oplantalech, @alisman: the CIVIC icon also hangs, but perhaps this is because https://github.com/cBioPortal/cbioportal-frontend/pull/624 is not deployed yet.

[2017-10-02 12:11] pieterlukasse commented on #3218
@jjgao @alisman : as a general comment for all external services we are integrating: I would recommend reviewing the exception handling scenarios in all cases. Any of these services might fail at any time (including the newly integrated g2s.genomenexus.org). Ideally the UIs won't hang when this happens but give a clear indication about the temporary error in such a case.

[2017-10-02 12:32] pieterlukasse commented on #3204
fixed by https://github.com/cBioPortal/cbioportal/pull/3208

[2017-10-02 12:33] #3204 closed

[2017-10-02 12:40] pieterlukasse opened #3219 "OncoKB fails with HTTP 500"
Reason is still unclear.

Steps to reproduce:
- go to mutation view of gene `HIST1H3B` for MSK Impact study: http://www.cbioportal.org/index.do?Action=Submit&genetic_profile_ids=msk_impact_2017_mutations&case_set_id=msk_impact_2017_all&cancer_study_id=msk_impact_2017&gene_list=HIST1H3B&tab_index=tab_visualize&#mutation_details&show_samples=false&
- Hover over any of the dark grey OncoKB circle ico

[2017-10-02 12:42] pieterlukasse commented on #3219
@jjgao also happens on /beta

[2017-10-02 12:57] pieterlukasse commented on #3145
@ritikakundra is the validator warning in any way that the _sequenced list is missing? If not, could you please open a ticket to fix that?

[2017-10-02 13:31] Tamba32 commented on #3212
@schultzn The background is not grey, it is transparent. The image is a PNG.

[2017-10-02 13:54] ersinciftci opened #3220 "Empty data for Copy/Download in Clinical Data tab in Patient View"
When you click Copy or Download, it just copies/download a comma per line, without any data.

[2017-10-02 13:58] jjgao commented on #3206
@adamabeshouse yes, alphabetical order would be good.

[2017-10-02 14:11] jjgao commented on #3193
closing this. Let's use the new order here: https://github.com/cBioPortal/cbioportal/issues/3214

[2017-10-02 14:11] #3193 closed

[2017-10-02 14:13] jjgao commented on #3214
@Tamba32: based on @schultzn's comments, let's change the order of event types to:

Top-down: ['mutated', 'fusion', 'amplified', 'gain', 'homdel', 'hetloss', 'mrnaExpressionUp', 'mrnaExpressionDown', 'protExpressionUp', 'protExpressionDown', 'multiple']

The legend should follow the same order, top-down.

[2017-10-02 14:17] Tamba32 commented on #3214
@jjgao updated

[2017-10-02 14:24] jjgao commented on #3217
duplicate with #2054

[2017-10-02 14:24] #3217 closed

[2017-10-02 14:30] alisman commented on #3212
Should we have a transparent background?  I mean, it does make it easier to incorporate into other settings.

[2017-10-02 14:44] alisman commented on #3218
@pieterlukasse agreed.  we have a global error handler that shows a dialog.  we disabled it a couple weeks ago because it was bring down the patient view unnecessarily.  but we need to bring it back with a more specific treatment of different errors which may or may not be "catastrophic"

[2017-10-02 15:07] #3182 closed

[2017-10-02 15:12] jjgao commented on #3215
It may be related to the configuration file. cc'ing @inodb

[2017-10-02 15:13] #3187 closed

[2017-10-02 15:15] schultzn commented on #3212
I see. It is probably more useful for our users to have a white background though..

[2017-10-02 15:17] alisman commented on #3218
@onursumer lets discuss how to handle this in UI.  Also, we need a way to egage the global error handler and define an error message for each error (so the dialog can display)

[2017-10-02 16:26] alisman commented on #3215
@jjgao this is a configuration issue.  There is no content at the following location:
https://raw.githubusercontent.com/cBioPortal/cbioportal/release-1.8.0/docs/News.md
Probably the settings just need to be updated?

[2017-10-02 16:39] inodb commented on #3215
@alisman @jjgao yes, ill update docs to point to 1.9.0 branch

[2017-10-02 17:20] Tamba32 commented on #3213
Fixed by https://github.com/cBioPortal/cbioportal-frontend/pull/646

[2017-10-02 17:20] Tamba32 commented on #3214
Fixed by https://github.com/cBioPortal/cbioportal-frontend/pull/646

[2017-10-02 17:21] Tamba32 commented on #3212
Fixed by https://github.com/cBioPortal/cbioportal-frontend/pull/646

[2017-10-02 17:24] Tamba32 commented on #3178
Fixed by https://github.com/cBioPortal/cbioportal-frontend/pull/640

[2017-10-02 17:40] schultzn commented on #3212
Agreed - but it looked very funny when I opened it in Preview. Was this something on my end?

[2017-10-02 19:05] jjgao opened #3222 "cancer type summary: tilt the text a little more"
Can we match the previous text angle?

previous:
![image](https://user-images.githubusercontent.com/840895/31094351-e326bf3c-a782-11e7-9454-71cf4894a0c2.png)

new:
![image](https://user-images.githubusercontent.com/840895/31094367-ef46c9e2-a782-11e7-8557-a848cad7daa3.png)

[2017-10-02 19:36] Tamba32 commented on #3222
Fixed by https://github.com/cBioPortal/cbioportal-frontend/pull/646

[2017-10-02 19:44] alisman opened #3223 "Don't show chart control buttons when we have no alterations"
If there are no alterations in the gene tab of cancer type summary, we shouldn't show the chart control buttons.

![image](https://user-images.githubusercontent.com/186521/31095899-61c11b6c-a788-11e7-83ad-eb3243e16e7d.png)

[2017-10-02 19:48] #3215 closed

[2017-10-03 14:09] schultzn opened #3224 "Cancer Types Summary: Missing breakdown by tumor sub-type?"
When all tumors in the query have the same main cancer type, the cancer types summary tab should show frequencies for each detailed cancer type. That no longer seems to be the case. See these links and the screenshots below.

http://www.cbioportal.org/index.do?session_id=59d3991c498e5df2e2961d1e&show_samples=false&

http://www.cbioportal.org/beta/index.do?session_id=59d3991c498e5df2e2961d1e&show_s

[2017-10-03 18:35] #3206 closed

[2017-10-03 19:25] zhx828 opened #3225 "SVG file can be downloaded and opened in browser but not Illustrator"
... for lollipop.

The following error is given by Illustrator.
![screen shot 2017-10-03 at 3 21 34 pm](https://user-images.githubusercontent.com/5400599/31144367-8e6a5d1a-a84e-11e7-859e-f43393b5d3df.png)

This issue seems to effect all SVG downloading in the portal.

[2017-10-03 19:50] alisman commented on #3225
Is this true for legacy features as well?

[2017-10-03 19:59] zhx828 commented on #3225
@alisman that's a good question. We got a report from a user using the new lollipop diagram. I tried with study view, it doesn't work there as well. But not sure whether the all other legacy features have the same issue. @onursumer never tried to open it in Illustrator with the old version. So there is no evidence indicating the previous lollipop supports it.

[2017-10-03 22:40] inodb opened #3226 "Overlapping sample label on timeline"
http://triage.cbioportal.mskcc.org/case.do#/patient?studyId=genie_akt1&caseId=GENIE-MSK-P-0000525&navCaseIds=GENIE-MSK-P-0000525
![screen shot 2017-10-03 at 6 39 22 pm](https://user-images.githubusercontent.com/1334004/31152467-3d2b32c8-a86a-11e7-8c65-e61e9559167a.png)

[2017-10-04 12:19] sandertan opened #3227 "Make gene sets from drop-down menu configurable"
The Query page contains a dropdown menu to select a gene set, which is used to query multiple genes specific for a specific pathway. The contents of this dropdown menu is hardcoded in a Typescript file: https://github.com/cBioPortal/cbioportal-frontend/blob/1688b5438ad92a575282c127b8d3f9b6958567bf/src/shared/components/query/gene_lists.ts

It would be nice if these gene sets can be configured in a

[2017-10-04 12:42] pieterlukasse commented on #3227
I vote for using the `geneset` table. We already have both `geneset` and `geneset_gene` table now, we have good documentation on how to load them and we have the APIs.

[2017-10-04 14:00] jjgao commented on #3225
We should try to fix it in the refactored code. If AI cannot open SVG, the downloaded file is not so useful.

[2017-10-04 14:03] alisman commented on #3225
agreed.

[2017-10-04 14:04] alisman commented on #3225
@Tamba32 do you have Illustrator so you could test/resolve this?

[2017-10-04 14:05] Tamba32 commented on #3225
@alisman I dont have AI on this computer. I have it on my other computer at home though

[2017-10-04 15:02] tmazor opened #3228 "cancer types summary tab: hide legend when "show genomic alteration types" is unchecked"
There doesn't need to be a legend when the alterations aren't color-coded.

![image](https://user-images.githubusercontent.com/10508276/31183009-60f0739c-a8f3-11e7-982a-d3314e4d09ae.png)

[2017-10-04 15:06] tmazor opened #3229 "cancer types summary tab: fix capitalization of mRNA in tooltip"
In tooltip, "mRNA" should have a lower-case "m"

![image](https://user-images.githubusercontent.com/10508276/31183235-f960d1d0-a8f3-11e7-81df-18d2d1c450e7.png)

[2017-10-04 15:14] tmazor opened #3230 "cancer types summary tab: tooltip location too low on page"
Sometimes the tooltip appears very low, such that the text extends beyond the lower edge of the page, overlaps the footer text and gets greyed out:

See PTEN & BRAF in this query:
http://www.cbioportal.org/beta/index.do?session_id=59d4f996498e5df2e2962bb8&show_samples=false&

![image](https://user-images.githubusercontent.com/10508276/31183503-c57e3d70-a8f4-11e7-8416-8fcd7dc508ea.png)

![image](ht

[2017-10-04 15:24] khzhu commented on #3230
@tmazor, it might be a browser issue. Tool tip looks fine from chrome.
<img width="1296" alt="screen shot 2017-10-04 at 11 22 28 am" src="https://user-images.githubusercontent.com/17375786/31184124-8bb54410-a8f6-11e7-8f6c-e6d3c2908405.png">

[2017-10-04 15:29] tmazor commented on #3230
@khzhu It only happens for me for some genes -- I agree that most look fine. Did you try the example I gave? Among all those genes, I only had that issue with BRAF & PTEN, and I see it in both chrome & safari.

[2017-10-04 15:38] khzhu commented on #3230
@tmazor , I tried your example from Safari, Firefox and Chrome. All looked fine.
![screen shot 2017-10-04 at 11 35 55 am](https://user-images.githubusercontent.com/17375786/31184844-8574e68a-a8f8-11e7-9898-9720fe3426a8.png)

[2017-10-04 15:43] khzhu commented on #3230
@tmazor , might be the version of your browser. The proportions in bar chart from your screenshot is not right as well, but not a problem from mines.

[2017-10-04 15:45] khzhu commented on #3230
I am using Chrome 61.0.3163.100. Firefox 56.0. Safari 10.1.2.

[2017-10-04 15:55] alisman commented on #3224
@schultzn glad you found this!

[2017-10-04 16:15] khzhu commented on #3230
@tmazor , sorry my bad, looked at PTEN and BRAF gene, got the same issue. Remove my comments posted for not confusing the viewer.

[2017-10-04 19:56] zhx828 opened #3232 "OncoKB feedback form user field is empty even in authenticated portals"
In authenticated portals(msk-portal, gdac portal etc.), the user filed should be filed automatically with the username.
![screen shot 2017-10-04 at 3 55 31 pm](https://user-images.githubusercontent.com/5400599/31196639-768a4d3a-a91c-11e7-8a43-5a720ae47cc1.png)

[2017-10-04 20:43] jjgao commented on #2763
We should push this forward so that we can infer cancer_type from oncotree_code. It is also a useful snapshot of oncotree in the portal.

One issue is that we don't have an easy way to migrate the database after adding main_cancer_type column. I can think of two options:

1) add all current oncotree into the migration script.
2) get the `cancer_type` from clinical attribute table.

In both case, i

[2017-10-05 09:20] messersc commented on #3166
I have not seen this error since upgrading, so this can probably be closed. Thanks Pieter!

[2017-10-05 09:34] messersc commented on #3061
Hi,

switching to the generic saml class seems to have worked, authorization now relies on the mysql database like we want it to. Thanks for the hint, Pieter.

If anyone else would like to use a setup like this, just follow the guide on how to set up Keycloak correctly. But instead of assigning roles to users, you can use the "normal" way when configuring the generic saml class in your `portal.pro

[2017-10-05 09:34] #3061 closed

[2017-10-05 12:49] pieterlukasse commented on #3227
we decided otherwise for now (in a long slack discussion)

[2017-10-05 14:10] alisman opened #3234 "Make sure to fallback to cancer type of study when there is no CANCER_TYPE or DETAILED"

[2017-10-05 21:43] alisman opened #3235 "Fix strange loading effects on mutation mapper tab"

[2017-10-06 19:36] Tamba32 opened #3236 "Cancer Summary Plot Y-Axis Value Absolute Count Not Working"
When you customize the bar configuration so that the y-axis displays absolute counts, a few things on the chart mess up
- The slider max value of the "Min. # Altered Cases" slider becomes incorrect
- The tooltip content for the bars switches/becomes incorrect, in general.

![image](https://user-images.githubusercontent.com/15708264/31295121-525d7f6e-aaab-11e7-94ff-ff87040fc5d8.png)

In the above p

[2017-10-06 20:39] alisman commented on #3236
Problem is we're using totalAlterations.  Total alterations could include more than one alteration per sample.  That's why we can get above 100%.   Say there are 10 samples, eight of them have both mutation and fusion.  That means alterationTotal would be 16.  But in fact, only 80% of total samples are altered.  So we need to pass in a new value which is alteredSampleCount.

[2017-10-09 13:13] guv opened #3237 "Web API: missing FUSION profiles in getGeneticProfiles"
When querying the web API using `cmd=getGeneticProfiles` only one study has a profile with `genetic_alteration_type = FUSION`.
For studies like _laml_tcga_pub_ there is FUSION data in the corresponding data archive but cbioportal does not return a profile with `genetic_alteration_type = FUSION`.

[2017-10-09 18:44] schultzn opened #3238 "Cancer Types Summary: Min % altered cases should be rounded"
Or why not simply allow a max of 100%?

http://www.cbioportal.org/beta/index.do?tab_index=tab_visualize&cancer_study_list=coadread_tcga_pub&cancer_study_id=coadread_tcga_pub&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=coadread_tcga_pub_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=coadread_tcga_pub_gistic&Z_SCORE_THRESHOLD=2.0&case_set_id=coadread_tcga_pub_nonhypermut&case_ids=&ge

[2017-10-09 18:50] schultzn commented on #3213
It looks like now we have a really large canvas, with the plot shown in the top left corner. It this by design? Can't the canvas match the size of the graph?

[2017-10-09 18:56] schultzn commented on #3224
I don't think this is fixed yet, or is it?

Don't see it here:
http://www.cbioportal.org/beta/index.do?session_id=59953b66498e5df2e2940f43&show_samples=false&

![image](https://user-images.githubusercontent.com/11892704/31353830-04fcd19e-ad02-11e7-9548-cee27f1ba881.png)

[2017-10-09 19:49] jjgao commented on #3237
@guv we are currently using mutations profile to store fusions.

[2017-10-09 20:28] jjgao commented on #3213
I don't think it's by design. @alisman @Tamba32 please look into this?

[2017-10-09 20:48] jjgao opened #3239 "Cancer Type Summary: How to deal with multiple alterations?"
Cancer Type Summary is really useful to get an overall statistics about alterations in different cancer types. But in cases with multiple alterations, is there any way we can render the data with more details?

![image](https://user-images.githubusercontent.com/840895/31357763-1959424e-ad11-11e7-9c67-8134df1ce17a.png)

![image](https://user-images.githubusercontent.com/840895/31357854-6e260b5e-ad1

[2017-10-09 21:01] jjgao commented on #3239
I could not resist it and created a mockup to replace the current bars with oncoprint :)

![image](https://user-images.githubusercontent.com/840895/31358266-e217cfba-ad12-11e7-94d0-28df53331078.png)

I am thinking of the possibility that we move this plot into the OncoPrint tab. By default, it breaks the oncoprint by cancer type, but one can choose to break it by any other clinical attributes, e.g

[2017-10-09 21:38] jjgao commented on #3238
Maybe it's better to round / ceil it? If we always put 100% as max, most of the slide bar would not be useful if the alteration frequencies are low (e.g. 10%).

[2017-10-10 00:18] alisman commented on #3224
![image](https://user-images.githubusercontent.com/186521/31363777-b78d7c24-ad2e-11e7-81d6-2d01357db638.png)

Hi Niki,
It is fixed for the the initial case that started this ticket, when the query includes only one cancer type.  But I see now this condition can arise from a filter and we don't cover that case.  Will do.

[2017-10-10 00:54] alisman commented on #3213
@Tamba32 you can see this especially on MSKCC impact result.  See attached PDF.  It should look more like the output of the old site.
[cBioPortalCancerSummary (4).pdf](https://github.com/cBioPortal/cbioportal/files/1370212/cBioPortalCancerSummary.4.pdf)

http://www.cbioportal.org/beta/index.do?session_id=59b2edbe498e5df2e2950b3d&show_samples=false&

[2017-10-10 01:40] schultzn commented on #3238
I think the default should be rounded to the next 10% value, but a user should be allowed to make the maximum 100%. Can we do that?

[2017-10-10 01:42] schultzn commented on #3239
I understand the temptation. But maybe too much for this release? And probably too complicated for most users? This would have to be an advanced version of the graph.

[2017-10-10 12:20] sandertan opened #3240 "Cancer Studies histogram: No color when low number of studies"
In the Cancer Studies histogram on the right side of the query page, the colors are missing when a low number of studies are displayed. It might be caused by the color gradient which goes from Dark (left) to Light/White (right). I tested this on `release-1.9.0`.

Example with low number of TCGA studies loaded:

<img width="1217" alt="screen shot 2017-10-10 at 14 14 47" src="https://user-images.git

[2017-10-10 12:24] ecerami commented on #3239
This is future idea, right? e.g. not for this release.

[2017-10-10 12:56] jjgao commented on #3238
@schultzn you mean the max % of y axis? The current slide is used to define the cutoff to filter out bars. Maybe we need another checkbox to toggle that?

[2017-10-10 13:00] tmazor opened #3241 "cancer studies y-axis should max out at 100%"
The y-axis shouldn't go past 100%

http://www.cbioportal.org/beta/index.do?session_id=59d4f996498e5df2e2962bb8&show_samples=false&
![image](https://user-images.githubusercontent.com/10508276/31387734-76e9a75e-ad99-11e7-8321-3a3f750a03eb.png)

[2017-10-10 13:02] jjgao commented on #3239
This is for future.

[2017-10-10 13:10] jjgao commented on #3238
One idea: maybe we can add a checkbox `Show unaltered`. When checked, we should a light gray bar and the y-axis will be:

1) 100% when using percentage.
2) all sample counts when using counts.

[2017-10-10 13:11] jjgao commented on #3238
@Tamba32 @alisman could you fix the number rounding issue for 1.9? We can delay the max option for 1.9.1.

[2017-10-10 13:26] tmazor commented on #3239
I like the idea of breaking down the multiple alterations, but I do also worry that it would get too complicated. One of the nice things about the cancer summary tab is that it is a very simple overview - perhaps there's an intermediate color scheme between an oncoprint-esque bar and the current grey bar.

I think the option to break out the bars by other clinical attributes could be a very useful

[2017-10-10 13:30] schultzn commented on #3238
Making the slide range from 0 to 100% might still be simplest...

[2017-10-10 13:40] jjgao commented on #3239
@schultzn @tmazor Good point on the complexity. Even if the user can understand it (together with oncoprint), when they put it in slides, it's not easy to digest. There should be options to control the details of the chart (maybe the same options for oncoprint, esp if on the same tab?).

[2017-10-10 13:53] jjgao commented on #3238
so making the max editable? I like the idea.

[2017-10-10 14:02] jjgao commented on #3238
discussed with @alisman. We will round up the number for this release and implement the max option later.

[2017-10-10 14:03] #3236 closed

[2017-10-10 14:29] sandertan opened #3242 "Non-sequenced genes in Mutual Exclusivity tab"
http://www.cbioportal.org/genie/index.do?session_id=59dcd679498e5df2e2966c3e&show_samples=false&

A gene that is not sequenced (because it is not on the gene panel), results in `Log Odds Ratio: 3` and `p-value: 1`. It would be nice to hide these rows when one of the genes (NEK7 in example) is not sequenced.

<img width="1023" alt="screen shot 2017-10-10 at 16 24 29" src="https://user-images.github

[2017-10-10 14:37] ersinciftci commented on #3242
I think we should show all the queried genes. If the user doesn't want to see a particular gene because it's not on the gene panel, they can remove it from the query.

[2017-10-10 15:03] sandertan commented on #3242
Another solution is to make the cells of these genes empty or show `Not available`.

But indeed as @ersinciftci said, a new query without these would also solve this.

[2017-10-10 15:47] ersinciftci commented on #3242
Yeah maybe we can say `Not Sequenced` instead of hiding.

[2017-10-10 16:45] inodb commented on #3096
@priti88 oops missed this. Yes seems there was some diff between dev and prod set up, fixed in this PR: https://github.com/cBioPortal/cbioportal/pull/3244

[2017-10-10 16:48] #3056 closed

[2017-10-10 16:51] inodb commented on #1217
This is not fixed in beta. I still see it showing up: http://www.cbioportal.org/beta/index.do?session_id=595408da498e5df2e291c896&show_samples=false&

![screen shot 2017-10-10 at 12 50 49 pm](https://user-images.githubusercontent.com/1334004/31399283-c6b5ebb0-adb9-11e7-981f-21fb60a742cd.png)

[2017-10-10 16:52] #3063 closed

[2017-10-10 16:53] #3064 closed

[2017-10-10 16:55] #3120 closed

[2017-10-10 16:55] #3041 closed

[2017-10-10 17:08] inodb commented on #3059
Blocked by update to 3d mol that enables that feature

[2017-10-10 17:14] #3014 closed

[2017-10-10 17:16] inodb opened #3245 "Using too much memory for heroku"
We are using too much memory on heroku. We should perhaps just load data into mongodb and return that

[2017-10-10 17:40] inodb commented on #3083
Decided to host the data now in genome nexus. We're ironing out a few issues before integrating

[2017-10-10 17:54] #3096 closed

[2017-10-11 01:55] jjgao opened #3247 "support SVG for download"
Looks like Chartjs only supports canvas based plots and therefore not supporting vector graph for download. Based on conversations with Niki, it is essential to have that. Here are a few options:

- switching to another library such as plotly which supports both canvas and svg (is this true for all chart type?)
- using chartjs for canvas rendering and another library (e.g. d3) for download -- simi

[2017-10-11 02:17] jjgao commented on #3242
Ideally, we should also exclude N/S cases in either gene for analysis. We would need to modify the input (TRUE or FALSE) to (TRUE or FALSE or NA/NULL). If all samples are NA for a gene, you would not be able to calculate p-values etc.

We would also need to consider sample list b/c one may select cases_all. -- we should handle that in oncoprint as well.

Obviously this is for future improvement.

[2017-10-11 13:59] jjgao commented on #1217
We would need to bring GenomeSpace button back: https://github.com/cBioPortal/cbioportal/issues/3156

But no ajex calls should be made (ideally the js file should not be loaded) until the button is clicked (or at least until the "Download Data" tab is clicked).

[2017-10-11 20:00] #3213 closed

[2017-10-12 12:46] #3166 closed

[2017-10-12 12:51] pieterlukasse commented on #3218
@alisman here is my desired solution for this specific case:
- proper error handling for any unknown or "not found" entrez gene id: display the lollipop view on a single domain that is the length of the gene / 3 (like was done before).
- also catch HTTP 500 scenario and display a small error/warning icon (:warning:) in this case next to the "single domain" lollipop view

[2017-10-12 12:53] pieterlukasse commented on #2054
and `pfam_graphics` ?

[2017-10-12 15:11] onursumer commented on #3218
@pieterlukasse @alisman Soon we are going to update the way we obtain the domain information: We are switching from `pfam/graphics` API to genome nexus API. It might be a good idea to deal with this issue while redesigning/reimplementing domain rendering.

With the new API, we won't need to query for uniprot id with entrez gene id, because we won't need uniprot id for pfam graphics data any more.

[2017-10-12 15:28] zhx828 commented on #3219
Issue has been solved in here https://github.com/oncokb/oncokb/commit/173913257e07c10de586b7da72156818d8c70792

[2017-10-12 15:28] #3219 closed

[2017-10-12 15:28] #3158 closed

[2017-10-12 17:00] #2966 closed

[2017-10-12 17:00] #2920 closed

[2017-10-12 21:59] onursumer commented on #3218
@pieterlukasse I am just trying to patch a quick fix for now by using the gene length, but looks like we don't have that information in our database for the gene `CDKN2AP16INK4A`. Do you remember how we were getting the gene length previously?

[2017-10-12 22:19] onursumer commented on #3218
@pieterlukasse My bad, actually we have the length information. Looks like currently we only fetch the minimum info (i.e: `projection=ID`), that's why I was not able to see the length in the result.

[2017-10-13 06:56] pieterlukasse commented on #1765
Thanks @zhx828, I like this solution :+1:

[2017-10-13 09:38] sandertan opened #3250 "Enrichment tab: Can't add genes to query"
In the enrichment tab, the button "Add checked genes to query" is not working. It results in an error message.

![screen shot 2017-10-13 at 11 34 50](https://user-images.githubusercontent.com/9624990/31540034-bd8a1a4a-b00a-11e7-9864-212569ad4269.png)
http://www.cbioportal.org/index.do?session_id=595ba299498e5df2e29203d8&show_samples=false&

Also, the spacing between the plot and table could be inc

[2017-10-13 10:47] sandertan opened #3251 "Prevalence based on gene expression without mutations calculated incorrectly"
In this test case with only mRNA up/down regulation, but no mutations, the prevalence is calculated incorrectly (112%!).

The prevalence should be calculated by dividing the altered samples by the sum of non-overlapping:
- "samples sequenced for mutations"
- "gene expression samples"

![screen shot 2017-10-13 at 11 42 37](https://user-images.githubusercontent.com/9624990/31542684-51e59fb8-b013-11e

[2017-10-14 20:04] Tamba32 commented on #3240
Hi @sandertan. Unfortunately, this problem is hard to address because it is a case by case issue: The gradient color for each study is based on (1) the designated color of the cancer type (2) the number of studies at for that cancer type.  Each study’s color is calculated to be either a lighter or darker shade than the designated color for its cancer type.  The contacts used to calculate the light

[2017-10-16 09:43] pieterlukasse commented on #734
@j-hudecek is this solved now? Gene panel functionality seems to cover this.

[2017-10-16 09:53] pieterlukasse opened #3252 "Wrong coverage info "whole exome sequencing""
The default pop-up in oncoprint shows wrong coverage info. It looks like it has a hard-coded default of "whole exome sequencing".
Example:
1. go to home page and select METABRIC Breast cancer study. The tooltip of mutations profile clearly states "Mutation data from targeted sequencing of 173 genes":
![image](https://user-images.githubusercontent.com/2900303/31605937-f723a050-b267-11e7-9aa9-891638

[2017-10-16 10:14] sandertan commented on #3240
Hi @Tamba32 thanks for the reply.

Would it be possible to set a "minimum lightness"? Some of the lighter colors (light blue, light yellow, ) on cbioportal.org are also difficult to see:
![screen shot 2017-10-16 at 12 06 45](https://user-images.githubusercontent.com/9624990/31606916-bf1f9bd4-b26a-11e7-990a-80a4652b41bf.png)

In addition to this, the white bars (lung, soft tissue, bone) are almost

[2017-10-16 13:01] jjgao commented on #3252
related to https://github.com/cBioPortal/cbioportal/issues/2556.

It's a good idea to use the mutation profile's description by default. @adamabeshouse

[2017-10-16 13:27] jjgao commented on #2054
@pieterlukasse yes.

[2017-10-16 16:52] adamabeshouse commented on #3251
@jjgao what do you think we should do?

[2017-10-16 17:02] jjgao commented on #3251
@adamabeshouse it's a tricky one. I don't see an easy solution.

We should have the data below:

- samples of each profile
- gene panels of each profile and sample

When the samples of different profiles are different, it is actually impossible to calculate an accurate percentage. One option would be: use the union of samples with tooptip explaining the details.

[2017-10-16 18:05] pieterlukasse commented on #3252
@jjgao it is only slightly related to #2556, since there it is about Gene Panels. Here we have an example of a study not configured with gene panels.

[2017-10-17 07:19] #734 closed

[2017-10-17 16:03] Tamba32 commented on #3240
@sandertan It may be possible to set a minimum lightness, yes. I will address this issue for the next release.

[2017-10-17 18:16] jjgao opened #3257 "Style of the border"
@schultzn noticed the border in Cancer Type Summary is very thick and has asked to change it. Looking at the Mutation tab, the style has also changed. Can we revert it back?

Current:
![image](https://user-images.githubusercontent.com/840895/31681434-31cf5f0e-b345-11e7-8124-9759056c47df.png)

New:
![image](https://user-images.githubusercontent.com/840895/31681328-f1cbcca8-b344-11e7-8679-d94856ae9e

[2017-10-17 18:17] jjgao opened #3258 "Remove PDF button in Cancer Type Summary"
Since we don't have vector graph, let's remove the button for now.

[2017-10-17 18:41] jjgao opened #3259 "structure mapping issue"
![image](https://user-images.githubusercontent.com/840895/31682817-3836a33a-b349-11e7-862f-35cd23e1aedd.png)

http://www.cbioportal.org/beta/index.do?session_id=595a3d29498e5df2e291f669#mutation_details

[2017-10-17 19:03] onursumer commented on #3259
Seems like there is no mapping available. API call returns an empty list for this chain (and for many other chains for this gene): https://g2s.genomenexus.org/api/alignments/uniprot/RASK_HUMAN/pdb/4epw_A/residueMapping

[2017-10-17 21:15] jjgao commented on #3259
Looks like it's G2S problem. This end point (https://g2s.genomenexus.org/api/alignments/uniprot/RASK_HUMAN/) has 4epw, but not this (https://g2s.genomenexus.org/api/alignments/uniprot/RASK_HUMAN/residueMapping).

[2017-10-17 22:52] Tamba32 commented on #3225
@zhx828 Could you provide more detail about this? I opened my downloaded svg up in illustrator just fine
![image](https://user-images.githubusercontent.com/15708264/31693399-60d53f5e-b36c-11e7-8d06-0c8b1e8748e2.png)

[2017-10-18 02:25] #3140 closed

[2017-10-18 04:56] juexinwang commented on #3259
I think it is caused by different iso of the protein. For simple, I set alignment part for checking all the results from all the iso, but residue mapping part is for the iso 1. I think for your usage, maybe I will change the residue mapping part to accept all the iso results. I may fix it tomorrow, no later than Friday

[2017-10-18 09:04] sandertan commented on #3252
Currently, when a sample is not sequenced but is added to study as clinical data, and it is queried, it shows 'Whole exome sequencing' and also the prevalence is calculated based on this (empty) sample. Using the mutation profile's description would not solve this case.

@jjgao is changing the design an option? By making the default box 'light grey/Not Sequenced' and use the case lists to find out

[2017-10-18 13:46] jjgao commented on #3259
@juexinwang we should not return all isoforms, but only the isoform that is being used. Otherwise it'll mess up with the mapping. In the case of UniProt, the canonical uniprot isoform (sequence) should be used.

[2017-10-18 14:03] #3258 closed

[2017-10-18 14:03] #3257 closed

[2017-10-18 14:25] #3223 closed

[2017-10-18 14:25] #3238 closed

[2017-10-18 14:25] #2993 closed

[2017-10-18 14:25] #3178 closed

[2017-10-18 14:25] #3228 closed

[2017-10-18 14:25] #3229 closed

[2017-10-18 14:25] #3230 closed

[2017-10-18 14:25] #3214 closed

[2017-10-18 14:25] #3222 closed

[2017-10-18 14:25] #3210 closed

[2017-10-18 14:31] #3220 closed

[2017-10-18 14:32] #3209 closed

[2017-10-18 14:32] #2765 closed

[2017-10-18 14:32] #3211 closed

[2017-10-18 14:33] #3234 closed

[2017-10-18 14:36] jjgao opened #3263 "support 100% y-axis in cancer type summary"
There was some discussion about adding an option to support 100% in the cancer type summary in https://github.com/cBioPortal/cbioportal/issues/3238.

One way to do it would be making the max in under the slide control editable.

Another option would be adding a break in y-axis that can be expanded.

[2017-10-18 14:37] jjgao commented on #3241
But this has not been fixed: http://www.cbioportal.org/index.do?session_id=59d4f996498e5df2e2962bb8&show_samples=false&

[2017-10-18 14:42] zhx828 commented on #3225
@Tamba32 It works ok now in my AI. But I haven't updated anything in my AI. So seems this is a random issue.

[2017-10-18 14:42] #2988 closed

[2017-10-18 15:04] alisman commented on #3241
Hi Tamba,
So, we still have a problem with this issue.  If we set max to 100% then it will always be 100% even when biggest data point is much smaller.

[2017-10-18 18:21] jjgao opened #3265 "Cancer Type Summary: support cancer study"
When querying for multiple studies, we need to provide an option to switch to use cancer studies in the x-axis. This is critical for the virtual study feature.

[2017-10-18 18:39] jjgao opened #3266 "Cancer Type Summary issue"
http://www.cbioportal.org/index.do?session_id=59e79efa498e5df2e296e20f&show_samples=false&

note: oql was used.

[2017-10-18 19:53] Tamba32 commented on #3265
@jjgao When you are querying multiple studies, don't we use a different page & tab than the Results page and Cancer Type Summary tab?  Doesn't multiple studies lead you to this cross-cancer overview display http://www.cbioportal.org/cross_cancer.do?#crosscancer/overview/0/CDKN2A%20MDM2%20MDM4%20TP53/blca_tcga%2Ccellline_ccle_broad ? Isn't this a separate task?

[2017-10-19 13:42] pieterlukasse opened #3268 "Mutation view hangs when OncoKB is disabled"
If oncoKB is disabled in portal.properties the mutation view will hang and not display anything.

Steps to reproduce:
* In portal.properties set `show.oncokb=false`
* deploy and go to mutation view. You will notice the API call is still made to `/proxy//genes` instead of `/proxy/oncokb.org/api/v1/genes`. This causes the page to stop rendering.

[2017-10-19 13:45] pieterlukasse commented on #3268
Desired solution:
* oncokb (proxy) calls should not be made and no oncokb icons should appear in list when it is disabled.

[2017-10-19 15:45] jjgao opened #3269 "Make sure OncoPrinter still working after refactoring"
... ideally the same code should be used.

[2017-10-19 16:19] jjgao commented on #3157
I marked it critical since the current spec is out of date and the one @tmazor put together is too nice not to put out soon :)

[2017-10-19 20:09] jjgao opened #3271 "Tweak the survival tab"
Can we remove the legend and put the red and blue bars into the table? `p=xxx` can be displayed in the figure with an info icon "Logrank test p-value"

![screen shot 2017-10-19 at 4 15 29 pm](https://user-images.githubusercontent.com/840895/31792072-c5a6aad0-b4e8-11e7-85cd-e42f5a6fc428.png)

[2017-10-19 20:44] alisman opened #3272 "There is sometimes an undefined cancer type in cancer type summary bar chart"
http://www.cbioportal.org/index.do?session_id=59cd4344498e5df2e295ee51&show_samples=false&

![image](https://user-images.githubusercontent.com/186521/31793251-bd9ac71e-b4ec-11e7-8a90-28dc364d20f9.png)

[2017-10-19 21:11] tmazor opened #3273 "direct link to cancer types summary doesn't work anymore"
This link used to directly load the Cancer Types Summary tab:
http://www.cbioportal.org/index.do?session_id=59690649498e5df2e292870c&show_samples=false&clinicallist=AGE&#pancancer_study_summary

But if you click it now, it doesn't load any data:
![image](https://user-images.githubusercontent.com/10508276/31794419-490b82c2-b4f0-11e7-8130-347ee80d0989.png)

Direct links to other tabs seem to be work

[2017-10-19 21:15] tmazor opened #3274 "an ampersand gets added to the end of URLs and breaks them"
If you right click on a tab and load it in a new window, you get a URL specific to that tab -- for example http://www.cbioportal.org/index.do?session_id=59690649498e5df2e292870c&show_samples=false&clinicallist=AGE&#mutex will go directly to the Mutual Exclusivity tab.

However, during the process of the page loading, an ampersand gets added to the end of the URL (http://www.cbioportal.org/index.do

[2017-10-20 00:41] #3272 closed

[2017-10-20 01:00] DarioS commented on #3069
The reason the identifiers are different is because there was a [sample mix-up](http://gdac.broadinstitute.org/runs/sampleReports/latest/SKCM_Notifications.html) discovered last year. Because the cancer sample was originally thought to be a primary cancer, but is actually a metastasis, the 01 code was changed to a 06 code. The problem arises because cBioPortal depends on the old datasets before TC

[2017-10-20 13:50] juexinwang commented on #3259
@jjgao I think I have already fix it. Not only canonical uniprot isoform is used. Please check accordingly

[2017-10-20 14:13] ersinciftci commented on #3271
@jjgao Download PNG option downloads the content of the canvas, so if we remove the legend, it won't show up in the PNG, and `Logrank test p-value` won't show up either. The same will apply when we recreate this chart with an SVG library, downloaded SVG/PDF won't have a legend if we remove it.

[2017-10-20 16:10] inodb opened #3275 "Mutation Mapper gets slow after clicking several tabs"
Mutation mapper gets slow after clicking several tabs (uses a ton of memory). Try for instance this link and click on a few different genes in the mutation mapper:

http://www.cbioportal.org/index.do?session_id=59ea1ed8498e5df2e296fd66

It might be that we are getting to the limits by loading all the different tabs into memory now. Before we reloaded each page. Though before at `1.8.0` I think it

[2017-10-20 16:11] inodb opened #3276 "Mutation Mapper table is shown before data is downloaded"
When clicking on a tab in the mutation mapper it shows the table before the download is done:

![screen shot 2017-10-20 at 12 10 42 pm](https://user-images.githubusercontent.com/1334004/31830948-c66c70ce-b58f-11e7-94c1-99abd3080e28.png)

[2017-10-20 18:52] #3138 closed

[2017-10-20 18:52] #3133 closed

[2017-10-20 20:11] adamabeshouse commented on #3275
@alisman could this have to do with MSKTabs?

[2017-10-20 20:43] inodb commented on #3275
FYI noticed a similar issue on cancer type summary

[2017-10-20 21:39] jjgao commented on #3271
@ersinciftci any chance we can make the table into the figure? I am not worry about "Logrank test p-value" not showing up.

Since the web site is more frequently used than download, it's important to keep it clean.

[2017-10-20 22:16] onursumer commented on #3276
I think the bug is introduced by this commit: https://github.com/cBioPortal/cbioportal-frontend/commit/37228ec4fcf3e980b8e83b77ef1d0e71b77e0293

Waiting for `this.props.store.mutationData.isPending` should fix it.

[2017-10-21 19:02] #3050 closed

[2017-10-21 19:03] #3212 closed

[2017-10-21 19:03] #3177 closed

[2017-10-21 19:04] #3241 closed

[2017-10-23 13:07] jjgao commented on #3274
@adamabeshouse Could you fix this during oncoprint tab refactoring?

I am also thinking of removing all the status (&show_samples=false&clinicallist=AGE) in the url and put it into the session. Every time the user click on the bookmark/twitter/session icon, a new session should be generated. @Tamba32 @alisman

[2017-10-23 14:09] ersinciftci opened #3277 "Create a bit.ly API endpoint"
Create an API that will call the bit.ly API in the backend. We do this to not expose our bit.ly API key in the frontend.

[2017-10-23 14:19] ersinciftci commented on #3271
@jjgao I don't think we can put the table into the figure

[2017-10-23 14:28] jjgao opened #3278 "Merging iviz to rc"
... for both frontend and cbioportal repo.

The same code should be used for the results page when querying a virtual study or multiple studies, including the new Cancer Type Summary and MuTex.

[2017-10-23 14:31] #3224 closed

[2017-10-23 17:19] adamabeshouse commented on #3274
yes this will be fixed in the refactor. I'm going to handle the URL parameters in a much less hacky way that will fix this.

[2017-10-23 19:49] #3115 closed

[2017-10-23 19:50] #3034 closed

[2017-10-23 20:36] #3276 closed

[2017-10-23 20:52] inodb opened #3279 "Add frontend JSON configuration property"
Add a single prop that points to a JSON file. Expose that on `window.frontendConfig`, which `cbioportal-frontend` can read.

[2017-10-23 22:30] inodb opened #3280 "Show clinical data tab for single samples"
When looking at a single sample the clinical data tab is missing (as reported by @ritikakundra ):

http://www.cbioportal.org/case.do#/patient?studyId=lgg_ucsf_2014&sampleId=P04_Pri

[2017-10-24 20:45] tmazor opened #3283 "enrichments tab "add gene to query" button doesn't work"
I get this very nice error message when I try to use the "add checked genes to query" button on the enrichments tab:
![image](https://user-images.githubusercontent.com/10508276/31966999-88d06b96-b8da-11e7-969d-eb7ba283bd6f.png)

Here's an example query:
http://www.cbioportal.org/index.do?session_id=5956356e498e5df2e291e06c&show_samples=false&#enrichementTabDiv

[2017-10-24 20:46] #3176 closed

[2017-10-24 20:47] #3175 closed

[2017-10-24 20:47] #3173 closed

[2017-10-24 20:49] #2892 closed

[2017-10-24 22:36] onursumer commented on #3235
https://github.com/cBioPortal/cbioportal-frontend/pull/711 probably solved this issue

[2017-10-25 13:05] jjgao opened #3286 "revert back the change for retrieving g2s data"
Please verify that the g2s api problem (https://github.com/cBioPortal/cbioportal/issues/3259) has been solved and then revert the change in https://github.com/cBioPortal/cbioportal-frontend/pull/700.

[2017-10-25 18:48] onursumer commented on #3286
@jjgao Seems like the problem is resolved with g2s API.

[2017-10-25 20:06] #3218 closed

[2017-10-26 17:36] jjgao opened #3289 "Public API clients should only connects to the public client"
When we release the official API, we will also release public API clients. We should only expose the public (not internal) API endpoints in those clients.

[2017-10-26 21:38] inodb commented on #3289
If we end up using the swagger generated clients, it's up to the user to point it to the right URL cbioportal.org/api. This is prolly mostly a documentation issue

[2017-10-27 18:57] n1zea144 opened #3292 "Cancer Type dropped from mutation table download csv"
If you download mutation data (csv) in the mutation table, the cancer type column is missing values.

[example](http://www.cbioportal.org/index.do?tab_index=tab_visualize&cancer_study_list=coadread_tcga_pub&cancer_study_id=coadread_tcga_pub&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=coadread_tcga_pub_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=coadread_tcga_pub_gistic&Z_SCORE_T

[2017-10-27 19:21] #3015 closed

[2017-10-27 19:24] #3245 closed

[2017-10-27 19:34] #3279 closed

[2017-10-27 19:35] #3286 closed

[2017-10-27 19:35] #3259 closed

[2017-10-27 19:36] #3266 closed

[2017-10-27 19:49] inodb opened #3293 "Add canonical-transcript endpoint"
Currently you get the canonical transcript only by hgvs

[code]
we instead want that endpoint to return all transcripts with that hugo symbol (might require nested structure). And add
[code]

[2017-10-27 19:59] inodb opened #3294 "Mutation Assessor is not being cached in MongoDB"

[2017-10-27 20:01] inodb opened #3295 "Improve monitoring of Genome Nexus"
We have Sentry integrated now, are there more monitoring tools we should/can use?

- [x] Enable Sentry on production

[2017-10-27 20:41] adamabeshouse commented on #3225
I fixed it around the same time you reported it :D https://github.com/cBioPortal/cbioportal-frontend/pull/667/files

[2017-10-30 17:58] n1zea144 opened #3297 "Gene synonym issue from study summary page"
If a gene alias exists for a gene symbol, nothing prevents the user from performing a query using the \"old\" symbol which results in an incomplete query (Oncoprint, etc) see example below.  This may be considered a "user" error.

For example, if you search PDL1 in the portal it says synonym:CD274, which is correct, but it returns the following result:

![pastedgraphic-1](https://user-images.githu

[2017-10-30 18:32] inodb opened #3298 "OncoKB Feedback Button does not work on long URLs"
example by request

[2017-10-30 18:33] #3232 closed

[2017-10-30 18:48] zhx828 commented on #3298
- [ ]  For the long URL in result page, we could generate the patient view URL instead
- [ ]  For patient view page, we can trim off all characters after the # sign

[2017-10-30 18:49] inodb commented on #3298
@zhx828 we use parts after the `#` sign for routing on `cbioportal-frontend`, so you prolly just want to trim off `navCaseIds=ada,dadada,dada`

[2017-10-30 19:53] #3023 closed

[2017-10-30 20:07] inodb opened #3299 "Re-enable Genome Driven Diagnosis prediction (GDD)"
![gdd_screenshot](https://user-images.githubusercontent.com/1334004/32193023-5be4a406-bd8c-11e7-8bf4-c118eba637d4.png)

[2017-10-31 10:13] marianc000 opened #3300 "Download buttons not working in Mutations tab in IE"
Hello authors

I would like to indicate two minor issues in IE support.
The button to download pdf does not work in IE. The script tries to post an undefined value.
<img width="545" alt="pdf ie" src="https://user-images.githubusercontent.com/20133496/32218007-ea2adddc-be29-11e7-9f8c-ee1c79768575.PNG">

Also some IEs with some particular enterprise settings do not understand malformed html pages li

[2017-10-31 15:59] kalletlak opened #3302 "Authorization error in private protals"
org.springframework.web.servlet.mvc.support.DefaultHandlerExceptionResolver - Resolving exception from handler [public java.util.List<org.mskcc.cbio.portal.model.DBGeneticProfile> org.cbioportal.weblegacy.ApiController.getGeneticProfiles(java.lang.String,java.util.List<java.lang.String>)]: org.springframework.security.access.AccessDeniedException: Access is denied

[2017-10-31 16:00] kalletlak commented on #3302
probably because of
https://github.com/cBioPortal/cbioportal/blob/master/security/security-spring/src/main/java/org/cbioportal/security/spring/CancerStudyPermissionEvaluator.java#L125

changing `GeneticProfileId` to `MolecularProfileId`

[2017-10-31 22:19] adamabeshouse commented on #3167
what about it don't you think works well? The shape, color?

Im not sure it would be possible to clearly have more than one outline, especially once it gets squished.

[2017-10-31 22:21] adamabeshouse commented on #3046
@jjgao I think we covered the issue in person, but to restate it here: if we render then automatically query for oncokb then rerender, that might be a jarring UX. Another solution would be to not automatically load oncokb, but I know thats probably not ideal. Is this still an issue after @zhx828 's optimizations?

[2017-10-31 22:28] adamabeshouse commented on #2321
closing this because it will inevitably be done this way in the refactor

[2017-10-31 22:28] #2321 closed

[2017-10-31 22:31] adamabeshouse commented on #2955
done in refactor

[2017-10-31 22:31] #2955 closed

[2017-10-31 22:32] adamabeshouse commented on #1786
done in refactor

[2017-10-31 22:32] #1786 closed

[2017-11-01 13:02] jjgao opened #3304 "Front page performance"
I was trying out testmysite by Google: https://testmysite.thinkwithgoogle.com/. There are a few things they identified that we could improve. Maybe worth looking into?

Leveraging browser caching is probably a good idea. For example, the public portal always returns the same study meta data (updates are infrequent). If we can cache the data in browser and only check if there is an update in the da

[2017-11-01 14:43] jjgao opened #3305 "Study view: mutations table issue"
RYR2 is mutated in a lot of cases (http://www.cbioportal.org/index.do?session_id=5967690b498e5df2e29271f7&show_samples=false&) but it’s not showing up in the table (http://www.cbioportal.org/study?id=luad_tcga_pub#summary).

[2017-11-01 14:50] jjgao commented on #3283
duplicate with https://github.com/cBioPortal/cbioportal/issues/3250

[2017-11-01 14:50] #3283 closed

[2017-11-01 14:53] #3295 closed

[2017-11-01 15:02] jjgao commented on #3297
How did you get to the first result? By changing the gene symbol in the url?

[2017-11-01 15:09] jjgao commented on #3167
I think, when zooming out, triangles do not work as well as rectangles.

[2017-11-01 15:18] jjgao commented on #3046
@adamabeshouse agreed about jarring ux.

I think there is some room we can improve oncokb. @zhx828 we probably need an API for pull oncogenicity data only (not levels). Would that potentially improve the performance?

[2017-11-01 16:09] zhx828 commented on #3046
@jjgao absolutely. I'm actually working on that. Similar to genes API which should allow user specify which field to be returned.

[2017-11-01 18:02] adamabeshouse commented on #3167
hows this?

![image](https://user-images.githubusercontent.com/636232/32289462-2a50249c-bf0d-11e7-8955-cc40e3349676.png)

![image](https://user-images.githubusercontent.com/636232/32289474-34ab501a-bf0d-11e7-80ff-dc53806eed3c.png)

![image](https://user-images.githubusercontent.com/636232/32289494-45041a28-bf0d-11e7-8147-20e8be24e412.png)

[2017-11-02 12:56] jjgao commented on #3167
Thanks, @adamabeshouse. It's definitely better. Thoughts, @schultzn ?

[2017-11-02 15:01] jjgao opened #3307 "memory usage issue"
We noticed that the public portal is using a lot of memory and causing issues on our server.

Is it possible that the MyBatis cache causes the problem?

We could set up a test instance and hit the API with a script to test it out. We could also turn off the cache and see if the memory issue will be gone.