[2016-01-12 08:59] fedde-s commented on #492
The validator runs after any transformation of the data files, when the only step left is loading the data into the portal (using a version of cbioportalImporter.py modified by Zack).

[2016-01-12 09:08] aderidder commented on #492
I've added some of the issues I ran into importing the RPPA data for the brca provisional here: #730

[2016-01-12 10:42] pieterlukasse commented on #492
@n1zea144 if you can generate the  metadata files for the clinical, gistic_genes_*, and mutsig files for consistency, that would be of great help. I believe @zheins already made some changes to the java part to support this, and I can also help with this. We still have a number of other problems and inconsistencies in the current staging file. Please refer to the google doc @aderidder shared in on

[2016-01-12 13:21] j-hudecek commented on #188
Perhaps there could be a different mechanism for reloading the cache? I was thinking about scanning a directory for a particular file once every n seconds, if it is found delete it and reload all caches (blocking all requests while it's going on). This would avoid restarting the container which can cause lose your session which can be annoying.

[2016-01-12 13:28] j-hudecek opened #733 "Allow importing all mutations (synonymous, intron,...)"
Currently cBioPortal importer in MutationFilter.java ignores lots of mutations which could be interesting to the researchers. I've tried disabling it (i.e. allowing all mutations from the input files, hardcoding "return true" as the answer of the mutation filter) and haven't found any adverse effects apart from worsening performance with 100k+ mutations.  It would be useful to have this as an opti

[2016-01-12 13:37] j-hudecek opened #734 "Support for mutation background"
cBioPortal currently doesn't have a way of storing information that a particular position was found to be not mutated or equal to reference. When there is no row in mutation table for a particular gene we don't know whether it's because there was no mutation or because it wasn't sequenced.

More generally it would be useful to store information if a sample was sequenced using a gene panel or with

[2016-01-12 15:18] tlangs opened #735 "NPE when logging in using Active Directoy"
When using Active Directory for access control, a NullPointerException is thrown when trying to log in. portal.properties is set to point to an internal AD server.
![npe](https://cloud.githubusercontent.com/assets/3210510/12267356/b8f91dfc-b915-11e5-9128-6e77cf1471f2.png)

[2016-01-12 15:57] jjgao commented on #713
@pieterlukasse: it might deserve a separate RFC. GenomeNexus only deals with variant data. There are more reference data in cBioPortal.

As for the gene info data, I am concerned that without re-importing all genetic data, it may also cause inconsistency in the data to update the gene info only.

For example, MLL2 was replaced by KMT2D. Imaging that we imported some copy number data before that ch

[2016-01-12 16:25] zhx828 opened #738 "My Cancer Genome annotation have errors which may slow down the mutation/cna APIs"
Errors:
Cannot process KRAS http://www.mycancergenome.org/content/disease/lung-cancer/kras/

[2016-01-12 19:30] adamabeshouse commented on #360
tested on IE and firefox (y)
#739

[2016-01-12 19:32] adamabeshouse opened #740 "Oncoprint zoom slider not working in IE, weird size in Firefox"

[2016-01-12 19:34] adamabeshouse commented on #740
![Behavior in internet explorer](https://cloud.githubusercontent.com/assets/636232/12274516/46401594-b939-11e5-803f-3234c13c2dce.png)
![Behavior in firefox](https://cloud.githubusercontent.com/assets/636232/12274591/8ec84520-b939-11e5-8932-1c5ed5d05ffa.png)

[2016-01-12 23:22] zhx828 opened #741 "NCBI gene link is no longer available"
The link we have is http://www.ncbi.nlm.nih.gov/gene/(gene) (e.g., http://www.ncbi.nlm.nih.gov/gene/BRAF) but NCBI only reference the page with gene ID, for above example, it changed to http://www.ncbi.nlm.nih.gov/gene/673

We may be able to link to their search page (e.g., http://www.ncbi.nlm.nih.gov/gene/?term=BRAF)

[2016-01-13 13:22] jjgao opened #742 "load mycancergenome data when start up"

[2016-01-13 13:27] jjgao commented on #730
@aderidder you are right. PROTEIN_ARRAY_PROTEIN_LEVEL is deprecated. We are in the process of removing it with ImportProteinData script.

[2016-01-13 13:33] jjgao commented on #730
It is related to issue https://github.com/cBioPortal/cbioportal/issues/377

[2016-01-13 13:36] jjgao opened #743 "add cytoband in the co-expression table"
Also add the Query gene itself to the table with corr=1 so that its cytoband can be displayed as well.

Here is the original user request:

"For co-expression, could you list chromosome (and position) of the query gene and co-expressed genes? Nearly all are just nearby genes. Bonus for making it sortable or filterable (to exclude nearby genes)."

[2016-01-13 13:40] jjgao commented on #232
Looks like it's solved with the latest data update.

[2016-01-13 13:40] #232 closed

[2016-01-13 13:49] jjgao opened #744 "plots not working in firefox"
http://bit.ly/1nigIKX

[2016-01-13 14:54] jjgao opened #745 "enrichments table: allow different numbers of rows per page"
be default, 10, with options of 5, 10, 25, 100.

![image](https://cloud.githubusercontent.com/assets/840895/12297513/809c9486-b9db-11e5-87ba-83ae1f91f53a.png)

[2016-01-13 15:12] n1zea144 opened #746 "Illumina Portal - request access link"
http://www.cbioportal.org/illumina/login.jsp

Points to the GENIE form.

[2016-01-13 16:13] yichaoS commented on #744
can't recreate the issue...probably relates to the version of firefox or caching

[2016-01-13 16:13] #744 closed

[2016-01-13 16:17] pieterlukasse commented on #701
@aderidder : I made a [prototype implementation](https://github.com/thehyve/cbioportal/tree/701_proto) to let the method CnaJSON.processGetCnaRequest work in a similar way as is done in MutationsJSON.java . This speeds up the backend code ~2x and the message that it produces is also ~2x smaller. This leads to a good improvement in the performance of the CNA part as shown in figures below from Fidd

[2016-01-13 19:00] jjgao opened #748 "RPPA data missing for many phospho antibodies"
- [x] convert the files from MDA (see below) into Firehose format.
 - [x] add them to tcga-override directory.
 - [ ] modify importer code to allow conversion of one data type (JJ).

[2016-01-13 22:14] jjgao opened #752 "rppa data for brca_tcga_pub2015 is not complete"
We should curate it from the publication page:

https://tcga-data.nci.nih.gov/docs/publications/brca_2015/TCGA-BRCA-RBN-v2_0_BRCA817freeze.txt

[2016-01-13 22:15] ritikakundra commented on #752
will this need a manual curation?

[2016-01-13 23:08] jjgao commented on #752
@ritikakundra yes, I'll get more data and discuss with you.

[2016-01-14 13:40] zheins commented on #746
Now points to https://docs.google.com/forms/d/1ML1Ub5nOpWbP6bB6NppGFovnMZjmjCjz7zf4VKhZ-vI/viewform

Redeployed illumina war.

[2016-01-14 13:46] #746 closed

[2016-01-14 13:59] n1zea144 commented on #188
We've been running some dynamic cache reloader code internally for a few months (we used the cancer study table itself to store info about a study's state) and we just couldn't get it working just right (JJ has info about the most recent issues), so we turned it off, but we are willing to revisit this.

[2016-01-14 16:11] inodb commented on #499
They told me they are working on both these items

[2016-01-14 16:43] zhx828 opened #757 ".editorconfig causes auto formatting issue"
trim_trailing_whitespac, nsert_final_newline have been set to true which will cause lots of auto formatting issue (e.g. pull request #755 )

Can I change them to false? @jjgao @aderidder @pieterlukasse

[2016-01-14 20:25] jjgao commented on #296
@zhx828 I feeling is that none of them have a high priority but you have to show me in person :)

[2016-01-14 21:35] jjgao commented on #738
Don't understand why it's slow down the mutation/cna APIs?

My Cancer Genome annotation is only grab once.

[2016-01-14 21:37] jjgao commented on #741
On which page? On patient view, we link with entrez gene id.

[2016-01-14 21:37] #742 closed

[2016-01-14 21:39] jjgao commented on #724
@ritikakundra yes they are sample ids. We need to figure that out too.

[2016-01-14 21:41] jjgao commented on #757
What/where is .editorconfig?

[2016-01-14 21:41] zhx828 commented on #741
Ah, I think I changed it to hugo symbol instead of entrez gene id in OncoKB connector. I will fix that.

[2016-01-15 09:40] aderidder commented on #730
Ok thanks!

[2016-01-15 14:42] jjgao opened #759 "Exception in catalina.out"
![image](https://cloud.githubusercontent.com/assets/840895/12355668/391e50ee-bb6c-11e5-98ca-fa4dbe7c96f6.png)

[2016-01-15 18:05] zhx828 commented on #757
@jjgao https://github.com/cBioPortal/cbioportal/blob/master/.editorconfig This is the file to define and maintain consistent coding styles between different editors and IDEs.

[2016-01-15 18:06] zhx828 commented on #738
Yeah, I figured it out. Only the first time will slow down the API

[2016-01-15 21:45] jjgao commented on #757
I am fine with that.

[2016-01-18 09:00] pieterlukasse commented on #757
@zhx828 @jjgao : this looks like a nice solution to the discussion we had some weeks ago regarding white spaces and tabs. Are we all using this now? To me this is new, maybe I missed this in the conversation. Let me know if this is the way to go and we will comply to it.

[2016-01-18 20:50] zhx828 commented on #757
@pieterlukasse I drafted and recommended to use this file. There isn't an official discussion about this yet. Should we talk about this some day? @jjgao

[2016-01-18 23:15] jjgao opened #762 "next data release"
# Next release
*   **Added data** of xxx samples from xx published studies:
    *   Merged Cohort of LGG and GBM (TCGA, 2016)
    *   Lung Adenocarcinoma (MSKCC, 2015)
    *  Poorly-Differentiated and Anaplastic Thyroid Cancers (MSKCC, JCI 2016)

[2016-01-19 13:10] pieterlukasse commented on #757
@zhx828 : nice, thanks. We can start using it if that helps in convincing more people to use it ;)

[2016-01-19 17:02] jjgao opened #763 "data inconsistency in brca_tcga_pub2015"
We should probably re-curate the data based on Giovanni's snapshot (http://cbio.mskcc.org/cancergenomics/tcga/brca_tcga/) and the publication page (https://tcga-data.nci.nih.gov/docs/publications/brca_2015/).

 - [ ] the number of samples does not match. The manuscript has 817 tumors, but the study has 1105.
 - [ ] rppa data are different

[2016-01-19 17:41] jjgao opened #764 "fix targeted_region mutation type for inframe mutations."
https://github.com/mskcc/vcf2maf/issues/33

[2016-01-20 09:32] pieterlukasse opened #767 "versioning of seed DB"
It would be nice to have some information about the date of when the seed database (https://github.com/cBioPortal/cbioportal/wiki/Downloads#seed-database) was generated. It would also be nice if previous versions remain available for a while.

[2016-01-20 09:34] pieterlukasse commented on #767
Assigned to @sheridancbio just because he was the last one to change the page mentioned above. @jjgao : please comment on this, maybe it is something you are already working on?

[2016-01-20 11:14] pieterlukasse opened #768 "Remove old content folder"
I think that the items in folder
https://github.com/cBioPortal/cbioportal/tree/rc/portal/src/main/resources/content
can be cleaned-up.
@jjgao : can you confirm?

[2016-01-20 14:23] zheins commented on #767
We're working on this. See Issue #517

[2016-01-20 16:01] jjgao commented on #768
There are still a few useful ones such as examples, OQL, & web apis. Maybe we should move all of them to git?

[2016-01-20 16:02] jjgao commented on #517
@zheins let's try to finish it.

[2016-01-20 17:29] pieterlukasse commented on #768
yes, maybe for consistency it would be better to move all indeed.

[2016-01-20 18:12] zhx828 opened #769 "Clean up css_include.jsp"
This file is located under portal/src/main/webapp/WEB-INF/jsp/global:
* Some libraries have been included several times, like Bootstrap.min.css
* global_portal.css should be included after including all other public libraries in order to overwrite styles

[2016-01-20 20:43] zhx828 opened #771 "Unify css_include.jsp and css_include_standard.jsp; js_include.jsp and js_include_standard.jsp"
_standard.jsp files were created only for patient view in order to include less libraries.
This should be avoid in the future to create individual files for specific page. In stead, requireJS, web-pack or browserify should be used.

[2016-01-20 22:05] jjgao commented on #734
We try to solve this by recording the gene panel info with pull https://github.com/cBioPortal/cbioportal/pull/254.

[2016-01-21 12:40] j-hudecek opened #772 "Importing a mutation sample without clinical data causes issues"
If mutation data contains samples which are not listed in the clinical data file cBioPortal counts mutations in the sample but doesn't add them to the total. This causes genes to have (on study view) mutation frequency > 100% and when a gene is mutated only in these samples selecting it in the mutated genes view results in 0 samples selected.

Importing mutation sample without clinical data should

[2016-01-21 21:43] zhx828 commented on #695
Last call on React Table library. Please feel free to leave comments. The new pull request will be sent on Friday.

[2016-01-21 21:44] #738 closed

[2016-01-21 21:46] #353 closed

[2016-01-21 21:47] zhx828 commented on #620
Refactoring will start after #774 being merged.

[2016-01-21 21:48] #702 closed

[2016-01-21 21:49] #740 closed

[2016-01-21 21:51] zhx828 commented on #567
Hi @aderidder @pieterlukasse  I will be on vacation for next month. Since you are working some small changes related to the tables in Study View, would you mind taking over this issue?

[2016-01-22 17:25] jjgao opened #780 "add priority studies as a property"
... so that we can remove special code about `mskimpact`.

[2016-01-22 20:48] jjgao commented on #748
[RPPA antibody List for Pan Can January2016.txt](https://github.com/cBioPortal/cbioportal/files/101418/RPPA.antibody.List.for.Pan.Can.January2016.txt)

[TCGA_RPPA_diseases_twoOrMoreBatches.zip](https://github.com/cBioPortal/cbioportal/files/101420/TCGA_RPPA_diseases_twoOrMoreBatches.zip)

[2016-01-22 22:08] zheins opened #782 "oncotree clinical track sorting"
Patients with multiple samples do not sort correctly when sorting by clinical tracks. Happens when samples collapsed by patient and when all samples are shown.
![screen shot 2016-01-22 at 5 02 50 pm](https://cloud.githubusercontent.com/assets/10240498/12524322/3bed2ee4-c12a-11e5-846c-5f47f24a7261.png)

[2016-01-22 22:16] jjgao opened #783 "study view: the frequencies in mutation table not based on sequenced case list"

[2016-01-22 22:17] zheins commented on #782
probably related to N/A

[2016-01-22 23:12] ritikakundra opened #786 "Sample Numbering should be based on procurement date"
Two studies have raised this issue of having samples numbers allotted alphabetically rather than what was procured first causing confusion during comparison. Sometime the Primary Vs Met is also not allotted right.

https://cbioportal.mskcc.org/case.do?cancer_study_id=egc_mskcc_2015_janjigiany&case_id=YJ-egc-049

https://cbioportal.mskcc.org/case.do?cancer_study_id=egc_mskcc_2015_janjigiany&case_id

[2016-01-22 23:12] ritikakundra commented on #786
@inodb

[2016-01-23 04:16] jjgao opened #787 "Oncoprinter: file upload not working"
But pasting in the input box works.

[T_OncoPrinter.txt](https://github.com/cBioPortal/cbioportal/files/101707/T_OncoPrinter.txt)

[2016-01-25 17:05] jjgao opened #789 "Contact CCLE for data policy"

[2016-01-26 15:57] zheins opened #792 "Oncoprint gene name/percent not aligned properly with tracks after download"
Slightly misaligned in the browser, but its worse after download. Happens with both svg and pdf.
![misaligned](https://cloud.githubusercontent.com/assets/10240498/12585705/2f0b6076-c41b-11e5-8e3f-8f2d0c74161a.png)

[2016-01-26 18:31] zheins opened #794 "Refresh of query page with clinical tracks"
Refresh of query page (or attempting to go back from a patient/sample page) causes 404 when clinical tracks are activated.
![screen shot 2016-01-26 at 1 30 55 pm](https://cloud.githubusercontent.com/assets/10240498/12590442/0f3f1d6c-c431-11e5-9477-887abdde460d.png)

[2016-01-26 21:27] jjgao commented on #794
@zheins that's because the query are on custom case list with POST. I'll make some change so that you won't get 404 at least.

[2016-01-26 21:35] #783 closed

[2016-01-26 21:37] jjgao commented on #780
Another option is to have study specific configuration.

[2016-01-26 21:38] jjgao commented on #757
we have another discussion about follow Google's style. Maybe someone can present in the week call on this topic.

[2016-01-26 21:38] #757 closed

[2016-01-26 21:39] #741 closed

[2016-01-26 21:43] jjgao commented on #686
Just display <fusion value>.

[2016-01-26 21:59] #571 closed

[2016-01-26 22:00] #541 closed

[2016-01-26 22:00] #489 closed

[2016-01-26 22:00] #360 closed

[2016-01-26 22:03] jjgao commented on #772
@zheins we should add this to the validator.

[2016-01-27 13:36] #652 closed

[2016-01-27 14:37] coursera-test commented on #767
Would it be useful to use liquibase (http://www.liquibase.org/) for versioning the database? Issue #517 is just about cleaning up.

[2016-01-27 14:43] morungos commented on #517
Might be worth looking at sqitch: https://github.com/theory/sqitch (although it's Perl so you'll probably all hate it)

[2016-01-27 14:53] Sjoerd-van-Hagen commented on #767
How about using Liquibase (http://www.liquibase.org/) for versioning the database? Issue #517 is just about cleaning, not about versioning.

[2016-01-28 15:29] pieterlukasse opened #796 "Data gets duplicated in 'mutation' table"
If I run org.mskcc.cbio.portal.scripts.ImportProfileData twice on the same data, the data gets duplicated in DB table 'mutation'.

How can we fix this for now? Which would be the correct fields to bundle into a UQ constraint?
Perhaps:
- MUTATION_EVENT_ID, ENTREZ_GENE_ID, GENETIC_PROFILE_ID and SAMPLE_ID
or should another field(s) be added as well?

[2016-01-28 16:01] pieterlukasse commented on #796
@jjgao , @n1zea144 : can you please comment on this one?

[2016-01-28 16:28] n1zea144 commented on #796
I think those are the correct fields for the constraint, although ENTREZ_GENE_ID is captured in the mutation event and may not be required.

We never ran into this situation as we typically remove the study before importing/updating the data.

[2016-01-29 11:08] pieterlukasse commented on #517
@jjgao : I would love to review this

[2016-01-29 14:34] zheins commented on #517
PR #700 addresses some of the immediate concerns. We have it merged in our development environment.

Aside from changing some of the names of classes and db tables to be consistent with our naming conventions, there is a python script which takes a sql script as input to update the database. The script is executed based on the version found in stored in an information table and the version assigne

[2016-01-29 15:22] pieterlukasse opened #799 "Ambiguous Hugo gene symbols in `gene` table"
A few (~43 of the ~58,000) of the hugo gene symbols found in the `gene` table actually map to 2 or more Entrez_gene_id values. See:

[code]
**Shouldn't we have 1 hugo mapping to 1 entrez?**

I checked a few of the results from the query above and noticed that the extra entrez items refer to other (sub)species, i.e. not *Homo sapiens (human)*. E.g.

Hugo: 'TRNL', has 4 Entrez Ids: '8923214,8923186,

[2016-01-29 15:23] pieterlukasse commented on #799
@jjgao , @n1zea144 : maybe you can comment on this?

[2016-01-29 15:47] pieterlukasse commented on #799
One additional comment/hint: when I look at the file from NCBI ftp://ftp.ncbi.nih.gov/gene/DATA/GENE_INFO/Mammalia/Homo_sapiens.gene_info.gz I find also non human genes such as 6775067 in there. But these are clearly indicated to be from another taxonomy (see first column `tax_id` in file). Maybe when creating the seed database you forgot to filter out the rows from this file where tax_id != 9606

[2016-01-29 16:11] pieterlukasse commented on #799
**Update:** when removing items that are not human, the following ambiguous items still remain:
Hugo, count, entrez ids:
'HBD', '2', '3045,100187828'
'LSAMP-AS1', '2', '100506708,101926903'
'MEMO1', '2', '51072,7795'
'MMD2', '2', '221938,100505381'
'RNR1', '2', '6052,4549'
'RNR2', '2', '4550,6053'
'SFPQ', '2', '6421,654780'
'TEC', '2', '7006,100124696'

[2016-01-29 16:56] jjgao commented on #517
@pieterlukasse: sure, please review #700. No need to ask :) Thanks.

[2016-01-29 17:44] bollig opened #800 "Standalone Dockerfile"
FYI, I setup a Dockerfile following your installation guide to produce a minimal instance of cBioPortal with the brca-example data. Feel free to integrate it into your project.

To run:
        docker run -it bollig/cbioportal
        firefox http://localhost:8080

Details here: https://github.com/bollig/docker-cbioportal

[2016-01-29 22:53] sheridancbio opened #801 "mysql server slowdowns occurring : high CPU load during mutation queries"
Slowdowns - sometimes for several minutes seem to be occurring in the mysql server.
"show processlist" on mysql show queries running which involve mutations ... in particular, joins of the mutation table to the mutation_event table.

[2016-01-29 23:01] sheridancbio commented on #801
The current query suspected of causing slowdowns is:
DaoMutation : countSamplesWithProteinPosStarts()
with SQL:
  SELECT ONCOTATOR_PROTEIN_POS_START, ...
    FROM mutation, mutation_event
    WHERE GENETIC_PROFILE_ID IN (... list of profile ids ...)
    AND mutation.MUTATION_EVENT_ID=mutation_event.MUTATION_EVENT_ID
    AND (mutation.ENTREZ_GENE_ID, ONCOTATOR_PROTEIN_POS_START) IN (... list of gen

[2016-02-01 11:09] pieterlukasse commented on #796
Ok, I will add this constraint.
The current mutation import process apparently supports adding new records to existing study data. I think this is a nice feature in case you have a study to which new samples are still being added after the study has been made available in the portal. This constraint prevents wrong data in such a scenario.

@jjgao : what is the way to ensure DB updates are deployed

[2016-02-01 17:59] ecerami commented on #799
HUGO Symbols should uniquely map to Entrez Gene IDs.

For example, in the RNR1 example above, we get:

http://www.ncbi.nlm.nih.gov/gene/?term=6052 (HUGO = RNR1)
http://www.ncbi.nlm.nih.gov/gene/?term=4549 (HUGO = MT-RNR1)

But, it could be that the gene mapping file in our seed database is old.  As next step, I would suggest reimporting genes by importing the NCBI gene_info file directly.  Then, c

[2016-02-01 19:08] adamabeshouse opened #804 "Cancer types summary Tab doesn't have qtip"
Every other tab has a qtip so it's slightly jarring.

[2016-02-01 20:33] jjgao commented on #799
@ecerami we are updating the gene info about twice a year.

@pieterlukasse thanks for looking into this. To summarize, there are two issues.

1. The gene_info file we grab from NCBI may contain non-human genes.
1. The same symbol may be assigned to different entrez id.

We can solve the first one by filter out non-human genes (tax_id != 9606), but the second one is tricky. For exmaple, MMD2 is sti

[2016-02-01 21:03] ecerami commented on #799
hi @jjgao:  We may have a single gene symbol that matches to the different Entrez Gene IDs.  But, *HUGO* gene symbols should match unambiguously to 1 Entrez Gene ID.  In the example of MMD2 you just pasted, there is only one hit to official HUGO MMD2.  The second hit has MMD2, but it's not HUGO.

[2016-02-01 21:17] jjgao commented on #799
@ecerami you are right. We are grabbing the wrong column for the symbol. Column K should be used instead of column C -- see below. I'll make the change.

![image](https://cloud.githubusercontent.com/assets/840895/12731462/1b36e154-c8ff-11e5-991e-6017de93f1f9.png)

[2016-02-01 21:18] ecerami commented on #799
@jjgao thanks!  yes, that would fix it.

[2016-02-02 11:32] pieterlukasse opened #806 "Standardize extended MAF format"
There is a need to agree on the columns that we expect for the extended MAF file that cBioPortal will support.

Initial analysis by @onursumer shows that the MAF columns required for proper rendering/functioning of Mutations Tab are:

- Hugo_Symbol -> Required to initialize the Mutation Mapper tabs
- HGVSp_Short, Variant_Type -> Required to initialize the Mutation Diagram
- Protein_position -> Req

[2016-02-02 11:33] pieterlukasse commented on #806
hi @n1zea144 : fyi - I logged this issue to keep track of this discussion.

[2016-02-02 13:08] pieterlukasse opened #808 "Adjust clinical data validation"
Clinical data should now be provided in two files:
- patient clinical data file
- samples clinical data file

The following parts need to be adjusted to comply to this new standard:
- [x] validation script (python)
- [x] unit tests of validation script
- [x] importer script (python)
- [x] ImportClinicalData.java
- [x] TestImportClinicalData.java
- [x] wiki documentation (at thehyve repo first: htt

[2016-02-02 14:12] pieterlukasse commented on #808
@zheins : please make a branch from our current dev branch: https://github.com/thehyve/cbioportal/tree/validator_and_loading_improvements

[2016-02-02 14:54] n1zea144 commented on #806
Sounds reasonable to me - Reassigned updates to Onur - author/supported of the code.

[2016-02-02 23:48] ecerami commented on #808
@pieterlukasse:  can you explain a bit more why this is a good idea, e.g. what benefit do we get from doing this?

[2016-02-03 00:12] ecerami opened #810 "Wiki Documentation Needed for New Validator and Importer Scripts"
We need Wiki Documentation for the New Validator and Importer Scripts.

@priti88 @pieterlukasse:  is this already in the works somewhere?

[2016-02-03 00:14] ecerami opened #811 "Performance of network visualization tab"
We need to benchmark and fix the severe performance bottleneck currently associated with the network tab and network view.

[2016-02-03 00:23] ecerami opened #812 "Support for Gene Lists for Targeted Sequencing"
Do we have documentation on how to import gene lists, e.g. for targeted sequencing?

Do we currently visualize (in the OncoPrint) whether a gene is WT v. not sequenced.

@priti88:  do you know the answer to either of these?

[2016-02-03 07:53] pieterlukasse commented on #810
@ecerami : yes, you can find the draft page at The Hyve's fork: https://github.com/thehyve/cbioportal/wiki/Using-the-dataset-validator

The following pages also need to be added:
- [ ] loading a study
- [ ] removing a study

[2016-02-03 08:03] pieterlukasse commented on #808
@ecerami : this is apparently the new way MSK has chosen to generate clinical data, as part of the latest release by @n1zea144 of the brca staging files which we are testing. Maybe @n1zea144 and @zheins can comment on why this changed? Personally I have no problem with this change as it makes the clinical file a bit less cumbersome (no need for the header specifying if an attribute is patient or s

[2016-02-03 09:20] pieterlukasse commented on #517
@zheins regarding the seed DB (in https://github.com/cBioPortal/cbioportal/wiki/Import-the-Seed-Database) can you please let me know where I can find the respective test seed DB file so that I can review this as well?

[2016-02-03 10:51] pieterlukasse commented on #730
@jjgao , @aderidder : I'm assuming this means the `protein_array*` tables can be deleted from our DB model (I'm making a new PDF of the DB model for internal use). Correct?

[2016-02-03 14:50] ecerami commented on #800
Thanks @bollig for doing this!

One overall question:  how does this docker instance relate to releases of cBioPortal, e.g. is the docker instance static, or can it be auto-updated each time we generate a new release?

[2016-02-03 15:05] priti88 commented on #812
@ecerami Currently we cannot differentiate between gene being WT vs not sequnced.

[2016-02-03 17:16] bollig commented on #800
It's static at the moment. But each release can be tagged to match your
release schedule. The current tag is

bollig/cbioportal:latest

When you push to dockerhub, just swap latest for the new version number.

Also, a little warning about pushing to dockerhub: since the image layers
are pretty big, you'll likely need to push multiple times before all layers
make it up. Dockerhub will overfill a me

[2016-02-03 18:38] jjgao commented on #812
@ecerami we have a pull request we haven't been able to finish. We have the backend component and front component in oncoprint. Zack will try to connect the two pieces. We also need to change the statistics in the study view.

https://github.com/cBioPortal/cbioportal/pull/254

[2016-02-03 18:54] jjgao opened #813 "add a bar chart to count the number of samples per patient in the study view"

[2016-02-03 18:57] jjgao opened #814 "incorrect # of profiled samples in the header of mutations and cna tables of study view"
![image](https://cloud.githubusercontent.com/assets/840895/12793295/e94f0ccc-ca7d-11e5-96ca-9bbcde406d9e.png)

[2016-02-03 19:01] jjgao commented on #734
#426

[2016-02-03 19:02] jjgao commented on #812
duplicate with #426

[2016-02-03 20:47] pieterlukasse commented on #567
@zhx828 : sorry for the late reply. For the next weeks I am unfortunately too busy with some other issues and @aderidder will also be leaving for a holiday. There is a chance that we can help with this during our next project with @ecerami , so I will add a `hyve` for the time being. There is also a chance we will have to give it back to you ;)

[2016-02-03 21:50] jjgao opened #815 "add data type availability as pie charts in study view"

[2016-02-04 14:31] schultzn commented on #815
I like the pie chart idea - but should there also be an easy way to select this at the very top? This is especially important for getting summary statistics correct, and for the new query feature.

[2016-02-04 15:01] j-hudecek opened #816 "js error when column id includes %"
I have a study with a column ID "%_ADIPOSE_TISSUE". This worked fine on rc a month ago.
When using current master branch I get a javascript error on the study view, clinical data tab.

[code]

According to https://api.jquery.com/category/selectors/ Jquery treats

[code]

as special characters so they need to be escaped with \\ when passing them to jquery. Or IDs should not be passed to jquery. Or

[2016-02-05 03:35] jjgao opened #817 "breadcrumb not showing up in rc branch"
It looks like breadcrumb is not showing up any more in the RC branch. The style of some buttons are also messed up.

@pieterlukasse or @aderidder: could you please help on this?

[2016-02-05 12:52] aderidder commented on #817
Hi @jjgao,
I think most of the problems are being caused by bootstrap.min.css now being included in the study-view (cs_include_standard.jsp and dcplots.jsp). This has affected the Query By Gene pop-ups.
Also there have been some changes to study-view.css; one of them is the removal of the .hidden class, which the breadcrumbs were using.
Still have to look into the buttons. However, I'm on holidays

[2016-02-05 13:15] jjgao opened #819 "hg18 in genome overview in patient view"
The only place to use hg18 or hg19 is the genome overview in patient view. I don't see an easy solution there. We always lift over hg18 to hg19 for mutations. So for the studies with hg18 seg data, we also display hg19 mutation data in genome overview. We had some discussion when I implemented it and thought it'd OK because that view is to get a general sense of copy number alteration. In the futu

[2016-02-05 13:18] jjgao commented on #817
@aderidder thanks for looking to this. @zhx828 is also on vacation. Please comment if you find anything else.

[2016-02-05 13:20] jjgao commented on #748
@ritikakundra could you help me on this? We can discuss in person.

[2016-02-05 13:48] ecerami commented on #815
@jjgao can you elaborate on what this feature actually does?

[2016-02-05 14:04] schultzn commented on #815
The study view does not currently give the user the option to limit the sample selection to those that have certain data types available (e.g., "sequenced", or "complete"). This is an important feature of the current query page. I think we have two separate ideas on how to incorporate this in the study view:

1) Show sample availability as pie charts (yes / no), allowing the users to select from t

[2016-02-05 14:43] jjgao commented on #815
@schultzn Venn diagram sounds like a great idea! We could add a special Venn diagram as a chart on the first row.

cc'ing @zhx828 and @yichaoS on this thread as well.

[2016-02-05 15:25] pieterlukasse commented on #806
@n1zea144 : columns now added to validator. :+1:

We still need to check if the importer code complies to this.

[2016-02-05 15:29] pieterlukasse commented on #713
I found a script which works for genes (#805), but it needs some documentation and improvements to make it a script that updates the whole DB.

[2016-02-05 15:31] pieterlukasse commented on #588
@adamabeshouse : can this be closed? Or is it still present?

[2016-02-05 15:34] pieterlukasse commented on #528
In general, these steps are implemented. We are now in the phase of testing and rework based on issues found, or small enhancements

[2016-02-05 15:36] pieterlukasse commented on #497
apparently not yet in the wiki...?

[2016-02-05 15:38] pieterlukasse commented on #493
merged via #753

[2016-02-05 15:38] #493 closed

[2016-02-05 15:40] pieterlukasse commented on #491
actually @n1zea144 and @zheins are working on this and sharing/updating the code on:
https://github.com/cBioPortal/cbioportal-pipelines

Staging files are being validated by us. Once we have a working solution where studies pass validation, then I think we can close this issue.

[2016-02-05 15:43] pieterlukasse commented on #477
solved via #642, #649, #653

[2016-02-05 15:43] #477 closed

[2016-02-05 15:44] pieterlukasse commented on #476
solved via #653

[2016-02-05 15:44] #476 closed

[2016-02-05 15:45] pieterlukasse commented on #481
Is done, but I will keep this issue open until we make the PR to rc

[2016-02-05 15:46] pieterlukasse commented on #494
@ecerami : I will be very happy if we can work on this one in next phase ;)

[2016-02-05 15:51] pieterlukasse commented on #34
ok, I labeled #540 as 'hyve' as well, since I think it is indirectly related.

[2016-02-05 16:06] jjgao opened #820 "volcano plots improvement"
- [ ] move the box plots in expression and protein tables to left under volcano plot.
 - [x] remove "Tendency towards" in "Tendency/Direction" column.

[2016-02-05 16:33] inodb commented on #786
This issue exists because we changed from using `SpecimenReferenceNumber` to `SPECIMEN_REFERENCE_NUMBER` as clinical attribute. I changed the code to support both, but it makes more sense I think to convert all occurences of `SpecimenReferenceNumber` in the data to `SPECIMEN_REFERENCE_NUMBER`

[2016-02-05 16:35] pieterlukasse commented on #534
NORMALS is not supported any more.

[2016-02-05 16:35] #534 closed

[2016-02-05 16:36] jjgao commented on #786
@ritikakundra @inodb : maybe we should convert all `SpecimenReferenceNumber` and `SPECIMEN_REFERENCE_NUMBER` to `SAMPLE_ID`?

[2016-02-05 16:41] pieterlukasse commented on #244
#494 should solve most of this problem. However, a question still remains for custom case lists, which will not be generated by the solution of #494. The question is whether custom case lists still need to be linked to specific genetic profiles for automatic selection in the query page...I think not.

[2016-02-05 16:44] inodb commented on #786
That works for me as well. In some cases it's the same as `OTHER_SAMPLE_ID` instead of `SAMPLE_ID` but that does not seem terribly confusing

[2016-02-05 16:49] pieterlukasse commented on #233
Update: for now, we implemented a validation to allow only 1 mutation file per study.

[2016-02-05 17:09] inodb opened #821 "ImportCaisesClinicalXML.java expects SpecimenReferenceNumber"
It would seem that `ImportCaisesClinicalXML.java` expects `SpecimenReferenceNumber`, but that clinical attribute name has been changed. We have not yet decided on what it should be, see issue https://github.com/cBioPortal/cbioportal/issues/786, but once we do `ImportCaisesClinicalXML.java` should be updated.

[2016-02-05 17:26] jjgao commented on #821
Maybe should convert the caisis xml file to our tsv staging files. ImportCaisesClinicalXML.java was a hack. There are hard-coded clinical attributes in the code.

[2016-02-05 17:40] jjgao commented on #786
Maybe we should always normalize it to `SAMPLE_ID` when importing the data?

[2016-02-05 17:42] inodb commented on #786
Makes sense

[2016-02-05 18:07] ritikakundra commented on #748
@jjgao: Sure, let me know when

[2016-02-05 18:34] ecerami commented on #494
@pieterlukasse:  this is actually a little trickier than it looks :-)  The problem is that if we have a MAF file, and generate a case set of sequenced samples from that MAF file, it's very possible (especially for targeted sequenced panels), that we have many samples that are Wildtype for all genes sequenced.  We therefore need a separate case list to specify all samples sequenced, including the W

[2016-02-05 19:12] pieterlukasse commented on #494
@ecerami : did you mean "excluding the wildtype cases"  in you last sentence?

[2016-02-05 19:16] ecerami commented on #494
@pieterlukasse:  no, I mean "including WT cases", e.g. if we have sequenced 100 samples, and 10 are WT, we need a list of 100, not 90.

[2016-02-05 20:20] pieterlukasse opened #822 "Validator: enable 3 modes of validation"
The validator script should have the following 3 modes:

- [x] \(1) Basic checks mode: validator only checks the basic things in the files, like format, presence of required fields, valid sample ids. Basically all standalone checks that do not require external data.
- [x] \(2) All checks mode, with external data in static files: validator does all checks done in 1 plus extra checks to validate the

[2016-02-05 22:12] priti88 opened #823 "Validator Issue : Handle Gene Symbols within cBioPortal"
Validator throws error for Gene Symbol alias when Entrez lD is present and being used for import.
Proposal : Handle Validation of gene similar to the cbioportal importer. The importer loads the gene based on Entrez ID. If Entrez ID is not present, it tries to use the gene symbol and unambiguously tries to map it to single gene. Hence, validator should also validate based on Entrez ID and if Entrez

[2016-02-05 22:15] priti88 opened #824 "Validator Issue : Handle Amino acid Change for mutation data"
Error is thrown for null Amino Acid column. This should be optional as the mutation can be a Splice Site.
Maybe throw a warning for null columns.

[2016-02-06 06:17] zhx828 commented on #817
@aderidder Bootstrap has hidden class by default. I changed the hidden class name to study-view-hidden in study-view.css You could use this class name.

[2016-02-06 06:19] zhx828 commented on #567
@pieterlukasse No problem. I can work on this project after two weeks if hyve doesn't pick it up at that point. :)

[2016-02-08 14:21] pieterlukasse commented on #824
@priti88 : @onursumer checked the code and the column seems to be required. See also #806

Also, the column will be called HGVSp_Short, according to this same #806 .

Some possible solutions:
- make an exception when column 'Variant_Classification' = 'Splice_Site'
- require the value to be 'NA' when amino acid change is 'not applicable' or cannot be inferred
- maybe combine both points above?

Are

[2016-02-08 14:26] pieterlukasse commented on #823
@priti88 : we actually plan to remove functionality in the loader step you mentioned (i.e. the ignoring of the given HUGO and the mapping to some other HUGO). We believe this is not the task of the loading script. The less we have of such “advanced logic”  and “autocorrections” the clearer the loading process becomes. We want to turn it into a no-brainer step :)  This means that all smart stuff sh

[2016-02-08 14:39] priti88 opened #825 "Validate mutation and cnv data independent of clinical file"
Currently, validator stops if there is error in clinical file.

[2016-02-08 15:06] ecerami commented on #823
Consensus:  if a user specified an Entrez Gene ID and a HUGO Symbol, then validator will check that Entrez Gene ID matches either HUGO Symbol or Alias.  And, if no match is found, that would be reported as an error.

[2016-02-08 15:38] pieterlukasse commented on #806
Variant_Classification also seems to be important during loading/filtering step.

[2016-02-09 11:08] pieterlukasse commented on #823
@priti88 : what @ecerami describes is already implemented in our branch. I made PR #827 so you can review and merge the code to test again.

[2016-02-09 11:23] fedde-s commented on #132
I loaded a study with an expression data file into a cBioPortal installation of the version in commit thehyve/cBioPortal@c86a553, from the branch on which we are currently working on improving the loading pipeline. After confirming that data had been loaded into the `genetic_alteration` table, I ran the following command to remove it again:

[code]
Not that the names of the command line options ha

[2016-02-09 19:03] schultzn opened #828 "Submit button on the query page can be edited in the browser"
The Submit button on the main page can be edited - see the screenshot below.
Once edited, the button no longer works.

![image](https://cloud.githubusercontent.com/assets/11892704/12927310/8990e23a-cf35-11e5-98a2-37f1b1cfd3a0.png)

[2016-02-09 22:15] inodb opened #829 "Tooltip info on Mutations tab is the same for all columns"
The tooltip for the table's columns on the mutations tab is the same for every column, e.g.:

![screen shot 2016-02-09 at 5 12 00 pm](https://cloud.githubusercontent.com/assets/1334004/12932385/87cbc62a-cf50-11e5-886c-b7d7df0165e0.png)

http://www.cbioportal.org/index.do?cancer_study_list=acc_tcga&cancer_study_id=acc_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=acc_tcga_mutations&genetic_pro

[2016-02-10 11:44] pieterlukasse opened #830 "Cleanup option breaks development builds"
The changes in cd7557aff1c66f95723a21497295e73d234129ed to clean-up the artifacts breaks development environments where the artifacts should stay:

[code]

It would be nice to add a `skip` flag inside `<configuration>` tag to allow skipping this step. Something like:

[code]
We need this in `core/pom.xml` and in `portal/pom.xml`

[2016-02-10 11:45] pieterlukasse commented on #830
@inodb : do you think the proposed solution above will work? Or do you maybe have a better idea for this?

[2016-02-10 11:50] jochemb opened #831 "Opening html validator report in Chrome fails with security error"
The error message:
Uncaught SecurityError: Failed to execute jquery.mobile-1.4.4.js:2932  'replaceState' on 'History': A history state object with URL '/validation_rapport.html' cannot be created in a document with origin 'null'.

Opening it in Safari works fine.

[2016-02-10 11:52] pieterlukasse commented on #831
@priti88 : can you please check this? I think it is some bug in the libraries you used for the report styling.

[2016-02-10 12:54] priti88 opened #832 "Validator Issue : Clinical Headers"
All Headers Required for every clinical attribute.
Throw a warning if Display name, Description, attribute type does not match with the database.

[2016-02-10 12:56] j-hudecek commented on #695
There are still some issues with this:
- patient and sample IDs are not clickable (how do you get to patient view?)
- column widths are set to a hardcoded number (we could be smart about it and calculate something - age doesn't have to be full width)
- column widths can't be changed
- it's impossible to copy contents of the cell if they overflow
- the scrollbars replacements are cute, but are they

[2016-02-10 12:56] priti88 commented on #831
@pieterlukasse I saw this issue too while trying to open the html in Chrome. I will take a look why this is happening.

[2016-02-10 12:59] j-hudecek opened #833 "query-by-gene-textarea in study summary wrong size"
![image](https://cloud.githubusercontent.com/assets/5654699/12947818/64ca976a-cffe-11e5-8488-5c62d8b8dc0d.png)
On Opera 34

[2016-02-10 14:01] pieterlukasse commented on #817
@jjgao : I will check this now

[2016-02-10 15:23] pieterlukasse commented on #806
@n1zea144
I get these errors now on TCGA breast staging files
ERROR: data_mutations_extended.txt: lines [31, 65, 74, (5216 more)]: column 73: Value in column 'SWISSPROT' is invalid; found in file: ''
ERROR: data_mutations_extended.txt: lines [97, 116, 130, (6904 more)]: column 43: Value in column 'HGVSp_Short' is invalid; found in file: ''
ERROR: data_mutations_extended.txt: lines [116, 180, 256,

[2016-02-10 15:45] inodb commented on #830
Which files are deleted exactly? The idea of that change was to only delete the files if you run with the heroku profile i.e. `mvn -Pheroku`. By default the used profile is public (https://github.com/cBioPortal/cbioportal/blob/master/pom.xml#L73). If somehow the artifacts are still deleted I think we should change the code so it works as I originally intended.

[2016-02-10 16:13] pieterlukasse commented on #830
@inodb it is cleaning up the `portal/target/portal`  folder. Apparently our mvn command is not looking at the profile id in the XML...not sure why. We just run `mvn -DskipTests clean install` . The workaround with `skipCleanUp` should work I think.

[2016-02-10 16:33] inodb commented on #830
Ok, yeah I see there's no profile specified in `portal/pom.xml`, just fixed that, will sent PR shortly. I remember now that I didn't make that specific to the heroku profile because I could't think of a use case when you would actually need the extracted war. Whichever tomcat you use will extract it afaik. Could you elaborate?

I don't think adding an extra `skipCleanUp` parameter is necessary unl

[2016-02-10 16:57] inodb commented on #606
Thanks for the reply. It is indeed because the failure results are ignored: https://github.com/cBioPortal/cbioportal/blob/master/core/pom.xml#L347. Basically the tests aren't working at all, so changing the title of this.

[2016-02-10 17:24] n1zea144 commented on #806
I did some poking around, the examples I looked at occurred at introgenic region.  The MAF import code only lets through events that occurred at coding regions, so I think its ok to log them, but let them through.

[2016-02-10 18:08] pieterlukasse commented on #817
@jjgao : I made a PR #837 for the style.
I did not yet change the style of any buttons yet, maybe you can indicate which buttons specifically? I say that "query this study" button spacing looks strange. Is this what you mean or are there other things?  Thanks.

[2016-02-10 18:15] pieterlukasse commented on #830
hi @inodb , thanks for the help. We use the extracted war to simplify frontend development. So we edit js, jsp and html files in our IDE and a synchronization script sends them automatically to the extracted war location. Then all we need to get our new code is refresh the browser (instead of building a new .war). But I will be glad to learn from you if there is an easier and better way to do this

[2016-02-10 18:45] inodb commented on #830
I see, thanks for the explanation. That's a good argument for not removing the extracted war. Let's merge the PR.

For frontend development I usually edit the extracted war files directly, but that does create the possibility of accidentally overwriting the edits when recompiling so sounds like your method is more secure.

[2016-02-10 19:06] inodb commented on #830
It's in hotfix now

[2016-02-10 19:06] #830 closed

[2016-02-11 09:20] jochemb opened #838 "Proposal: add flag to validator to output lines with errors to file"
Running the validator on a file with a large number of errors outputs only the first 3 lines now.  To improve functionality I suggest to have an optional flag that writes all lines with errors to a file.

This could be done in the following format:

[code]

[2016-02-11 09:21] jochemb commented on #838
@fedde-s Could you have a look please

[2016-02-11 11:52] Sjoerd-van-Hagen commented on #494
@ecerami Can we expect a file that lists all the sequenced samples, or all samples that are sequenced but are wild-type?

[2016-02-11 12:02] fedde-s commented on #494
@Sjoerd-van-Hagen I think changing the requirements that way would only make it needlessly complex both for the users and for the software, no need to manually figure out which of the sequenced samples are not in the MAF file, only to have cBioPortal make a full list of all sequenced samples again.

[2016-02-11 12:06] pieterlukasse commented on #494
@fedde-s , @Sjoerd-van-Hagen   : i discussed it with Ethan in more detail before. I will add the updated information.

[2016-02-11 13:30] jjgao commented on #730
@pieterlukasse there are still some code dependency on the protein_array* tables, e.g. in web api. We will ultimately remove them. I should be safe to remove them in your PDF of the DB model.

[2016-02-11 13:49] pieterlukasse commented on #730
great!

[2016-02-11 13:55] pieterlukasse opened #839 "Staging files for TCGA according to new validation standards"
The expected staging files format has changed a bit in #798 , so we need the new export of TCGA staging files to comply to that.

Logging this issue to keep track of the last issues to resolve.

[2016-02-11 13:56] pieterlukasse commented on #839
@n1zea144 : I found a new issue regarding RPPA data. According to #730 one should also provide the Z-SCORES file, next to the LOG2-VALUE file. Could you add this to the next test release of the test study you will be generating?

[2016-02-11 14:22] fedde-s commented on #838
I implemented this in commit thehyve/cbioportal@672fd6beb35b45ad883bf4f8ce9e86d540afa072, although I see you suggested commas and spaces between line numbers and I used newlines. Do you prefer commas?

Example output from the version I implemented:
[code]

[2016-02-11 15:12] jochemb opened #840 "Blank cells error in validator for data_clinical"
The validator gives errors for blank cells in data_clinical.txt for practically all lines in the file.  Could these cells be ignored by the validator, or perhaps only give a warning?

[2016-02-12 13:15] fedde-s commented on #838
Done in thehyve/cbioportal@5e440921afe7ff2a93b19ca92882f80d92447ec5, click the link to see the change.

[2016-02-12 14:01] pieterlukasse opened #843 "Invalid symbols in resources/cbio_cancer_genes.txt"
The following entries are giving errors (at least since last update of NCBI hugo/entrez mapping):

[code]

@jjgao, @schultzn  Can we remove them from this configuration file?

[2016-02-12 14:41] pieterlukasse opened #844 "Not all CNA data gets imported"
When running the importer, I get the following messages

[code]
Notice the last line: `Error: only 648723 of the 651121 records were inserted.`  This is resulting from the check in `MySQLbulkLoader.loadDataFromTempFileIntoDBMS` function:

[code]
Question is: how can we check what is the problem? Why are some rows not added? Has this been troubleshooted before?

[2016-02-12 14:42] pieterlukasse commented on #844
@n1zea144 : can you maybe help with this?

[2016-02-12 15:04] #814 closed

[2016-02-12 16:18] zheins commented on #494
@pieterlukasse We deal with this issue in our pipelines by appending sequenced samples as a comment line to the top of the MAF.

[2016-02-12 16:23] fedde-s commented on #494
@zheins As you initially wrote the validation script, this comment also included control samples used in the Matched_Norm_Sample column. I believe @pieterlukasse moved this list to an optional field in the corresponding metadata file, as an actual valid MAF file would start with a comment declaring the version number of the MAF format used.

[2016-02-12 17:53] fedde-s commented on #822
@pieterlukasse @priti88 @ecerami In commit thehyve/cbioportal@8c67f3f141dba43ec22e8cb57a1c3bd762fbecb2 I merged in the `--no_portal_checks` flag to make the validation script skip any tests requiring data from the portal, i.e. 'mode 1'. These commits are included in pull request #798 which is under review by @priti88.

[2016-02-12 19:03] zheins commented on #494
That works too, you can use that field to get the correct numbers samples for the case lists.

[2016-02-12 19:16] fedde-s commented on #494
In that case it might make sense to get rid of separate files for such case lists for *all* molecular data types, and simply include the sample lists in the corresponding metadata file.

[2016-02-12 22:04] zheins commented on #844
@pieterlukasse In that cna file there are rows per gene with a different hugo_symbol (a different open reading frame) but the same entrez_gene_id (eg. Hugo:CXorf22 Entrez:286464; Hugo:CHDC2 Entrez:286464, the open reading frame maps to the same entrez gene ID). When these get processed they end up just being a duplicate in the temp loading file.

These rows with different ORFs also do not have the

[2016-02-15 15:57] j-hudecek opened #846 "Allow overriding (or ignoring) of clinical attribute properties"
When using importer from #798 we get errors when attributes already exist in the database with different properties (display name, description, priority, type,...). That is useful to know. It would be handy to have a mechanism (comand line option?) to handle the situation when there is an attribute with the same id but different properties in the database.
There could be an option with values:

A)

[2016-02-15 19:42] jjgao commented on #844
@zheins The data does not make sense. `CXorf22` and `CHDC2` are both aliases of `CFAP47` (entrez: `286464`). But the same gene, there should be only one copy number value per sample. I am wondering if there is any bug in the GISTIC code. Could you download the Firehose GISTIC result and check if the error is there?

[2016-02-15 19:46] jjgao commented on #843
@pieterlukasse please remove C12ORF9 but not the other three. They are being used in our clinical lab. We should probably make this file configurable, ie, every instance can have it's own cancer genes.

[2016-02-16 00:35] priti88 commented on #822
@fedde-s : Mode 1 looks great except for one comment:
1) Mutation file throws error for missing columns: Variant_Type, Protein_position, SWISSPROT
These does not seem to be required columns and user might not have them.

[2016-02-16 00:50] priti88 commented on #823
@pieterlukasse :+1: works great.
I will close this issue.
Thanks

[2016-02-16 00:50] #823 closed

[2016-02-16 08:24] fedde-s commented on #822
@priti88 These columns were established to be required by cBioPortal in an email conversation with Ben and Onur, please see and comment on issue #806

[2016-02-16 11:21] fedde-s commented on #846
As the attribute was loaded as part of a previous study, and that study was loaded assuming that the attribute has a certain meaning, overwriting it sounds like a very bad idea unless you remove all previously loaded studies that use the attribute. Ignoring the new definitions may be feasible, but it would be confusing (especially to new users) and encourage incorrect data. I would strongly prefer

[2016-02-16 12:02] fedde-s commented on #846
However, the idea to implement a way to somehow find out which studies use the current definition of an attribute (without having to manually consult the DBMS) sounds like it might be useful. Another option would be study-specific clinical attributes intended to never be harmonised, for instance by prefixing them with the study id, but I imagine that will eventually only lead to regret.

[2016-02-16 16:31] pieterlukasse commented on #701
related to #475

[2016-02-16 17:40] priti88 commented on #822
@ecerami Any thoughts?

[2016-02-17 08:56] pieterlukasse commented on #806
@aderidder : can we add this logic to the validator? If yes, then we could give just warnings (or info) instead of errors.

[2016-02-17 09:41] pieterlukasse commented on #839
@n1zea144 : for  brca_tcga_data_cna_hg19.seg I get:  Unknown chromosome "23" : shall we map '23' to X and '24' to Y? I couldn't find any mapping in ImportCopyNumberSegmentData.java

[2016-02-17 09:43] pieterlukasse commented on #839
@n1zea144 : in the last copy of http://cbio.mskcc.org/~grossb/brca-tcga.zip the PATIENT_ID is now missing in clinical samples file.

[2016-02-17 09:57] pieterlukasse commented on #839
@n1zea144 : these are the remaining issues in the last copy of http://cbio.mskcc.org/~grossb/brca-tcga.zip:
- [ ]  the PATIENT_ID is now missing in clinical samples file.
- [ ] for brca_tcga_data_cna_hg19.seg I get: Unknown chromosome "23" : shall we map '23' to X and '24' to Y? I couldn't find any mapping in ImportCopyNumberSegmentData.java
- [ ] I found a new issue regarding RPPA data. According

[2016-02-17 09:57] pieterlukasse commented on #839
@aderidder : can you help review this?

[2016-02-17 10:30] pieterlukasse commented on #494
@zheins, @fedde-s : I like the idea of having a field for this in the meta file. It also is a good step in the direction of solving the current issue where case lists are indirectly linked to genetic profiles via (part of) their stable_id.
@ecerami, @n1zea144 : what do you think?

[2016-02-17 11:11] pieterlukasse commented on #832
@priti88 : good idea. Just to elaborate on it a bit more: this is what the code should do:
- [ ] existing clinical attributes should **not** be overwritten by the loader
- [ ] the warning will be something like: WARNING: Display name of attribute <attribute_name> does not match the name in the DB. The name in DB is leading, therefore the name you have given (<name given>) will be ignored and the D

[2016-02-17 16:02] j-hudecek opened #847 "Where are clinical attribute descriptions displayed?"
I can't find them anywhere.

[2016-02-17 16:08] priti88 commented on #806
@n1zea144 Should, we have Protein Position,  Swissprot, and Variant Type as required column in the MAF file?
I have a MAF file with Tumor Sample Barcode, EntrezID, Hugo Symbol, HGVSp_Short and Variant_Classification loaded in our instance of cbioportal. Here are few comments:
1) I can initialize 3D structure and looks fine.
2) I can view most mutations on the 3D structure except few for which I ge

[2016-02-17 17:08] priti88 opened #848 "Data Loading Script : Standardize exit code and error handling"
The cbioportalImporter.py should be able to catch any errors in the java classes that it triggers to import data. Currently these different classes in the `core/org.mskcc.cbio.portal.scripts` package do not have a standard way of working. Some will report an error in stderr others will give a stack trace. Stderr is also not a reliable source as a lot of success messages are also printed there.

So

[2016-02-17 17:26] jjgao opened #849 "Is it possible to load all mutated genes in study view?"
In the current Mutations tab, we only load a subset. Is it possible to load all?

![image](https://cloud.githubusercontent.com/assets/840895/13118241/5d0a5b00-d571-11e5-8c6f-02715e42da09.png)

IN the Mutated Genes table, are we doing the same? If so, can we load all? Similarly for CNA?

[2016-02-17 17:38] j-hudecek opened #850 "Study View Clinical Data tab React Table issues"
There are still some issues with #695:

- [x] patient and sample IDs are not clickable (how do you get to patient view?)
- [x] column widths are set to a hardcoded number (we could be smart about it and calculate something - age doesn't have to be full width)
- [x] column widths can't be changed
- [x] it's impossible to copy contents of the cell if they overflow
- [x] why is the ordering of the co

[2016-02-17 20:18] jjgao opened #852 "study view: column plot not working with outliers"
Maybe set the min/max (left/right) numbers to 5% and 95% percentiles.

![image](https://cloud.githubusercontent.com/assets/840895/13123207/32c57b50-d589-11e5-8ec3-2031f4ad36e2.png)

[2016-02-18 08:39] aderidder commented on #701
The original CnaJSON processGetCnaRequest returns 12 fields whereas the new version only returns 5 fields. genomic_event_observer depends on some of the missing ones as does determineOverviewCNAs in cna.jsp, so we'd have to fix that first

[2016-02-18 09:15] #838 closed

[2016-02-18 15:38] pieterlukasse commented on #806
Here is my attempt to summarize the validation requirements:
- [ ] Always required: `Tumor_Sample_Barcode`, `Hugo_Symbol`,  `Variant_Classification`.
    - Expected validation behavior: give ERROR when empty.
- [ ] Required, except when `Variant_Classification` in ["Splice_Site", ....]: `HGVSp_Short` (and for backwards compatibility we can *also* allow `Amino_Acid_Change`, but one of these two sho

[2016-02-18 17:32] jochemb opened #853 "adding a cancer type already loaded throws an exception"
This exception occurs when adding a new cancer type for the second time.

`
Exception in thread "main" org.mskcc.cbio.portal.dao.DaoException: Duplicate entry 'crc' for key 'PRIMARY'
at org.mskcc.cbio.portal.dao.DaoTypeOfCancer.addTypeOfCancer(DaoTypeOfCancer.java:68)
at org.mskcc.cbio.portal.scripts.ImportTypesOfCancers.load(ImportTypesOfCancers.java:84)
at org.mskcc.cbio.portal.scripts.ImportTyp

[2016-02-19 13:09] aderidder opened #855 "patient view: bug if no mutation data is present"
I have a study which has no mutation data. I went to the patient view and it gives an
Uncaught ReferenceError: mutTableIndices is not defined
The problematic line is "aTargets": [mutTableIndices["annotation"]], in cna.json

What seems to happen is that patient_view.jsp checks whether there is a mutation profile, and if there is not, it does not include mutations.jsp
mutation.jsp has the mutTableIn

[2016-02-19 17:59] fedde-s commented on #822
@priti88 @ecerami as of commit thehyve/cbioportal@14d2a104e02e1b3c838bd5c8f93738397b57a0dd, the validation script supports reading files from a local directory of JSON files instead of calling the web API. The script to generate this directory in one go is not yet available, but for now you should be able to test it by logging in to your cBioPortal installation, and using the same browser to open

[2016-02-19 19:47] jjgao opened #856 "Normalize journal names"
- [ ] get a list of journals that we have curated papers from.
 - [ ] normalize their names / abbreviations.

[2016-02-19 23:08] n1zea144 commented on #839
I've addressed the issues I can in the immediate future.

@jjgao has code in genomic-overview.js to map chr 23->X, 24->Y

I'm not sure how to answer many/most of the issues related to gene symbol/id mapping.  One issue is a difference in gene info between the tcga converter and the info stored in the target cbioportal database.  Another issue is hugo symbols coming out of the broad firehose that m

[2016-02-22 09:32] fedde-s commented on #481
Moreover, the layout of the report was changed completely based on a template provided by @priti88  during the first hackathon. Messages are now grouped into separate tables for each file, which are only displayed after clicking on the colour-coded filename header.

[2016-02-22 09:50] fedde-s commented on #178
@pieterlukasse has been reviewing the entries for nearly all supported data types, to align them with the requirements revealed over the course of the development of the validation script and overhauled data loading scripts (issue #528). He has updated the document locally on the The Hyve fork of the wiki, with the intention of merging it back once the validator and loading script improvements are

[2016-02-22 12:47] aderidder commented on #855
Discussed with Sjoerd. We can probably fix this when we tackle #701, since that will require updates to the cna.jsp and other files involved in the patient view as well

[2016-02-22 14:42] zhx828 commented on #852
@jjgao but how do you want to select the outliers if you shorten the range?

[2016-02-22 15:12] aderidder commented on #839
@n1zea144 thanks for the new version with the fixes!

Here's my feedback.
For this test I removed: gistic and mutsig files as they are not validated yet.
The study does not contain case lists, nor does the meta_study contain the add_global_case_list flag.

**First validation**
* The validator fails **immediately** due to the fact that clinical data is in two files, which is not yet supported by th

[2016-02-23 14:21] aderidder opened #857 "Study View Mutations Table shows incorrect number of samples when based on case list _all"
I uploaded a very simple study with just two patients, one sample per patient and one mutation for each sample. My _all case-list contains the two samples and I use no other case-list.
According to the mutations table I have 3 profiled samples:
![image](https://cloud.githubusercontent.com/assets/9414840/13254145/52735c04-da40-11e5-98ff-171cf0fabe69.png)

I did some digging in StudyViewProxy and th

[2016-02-23 14:26] sheridancbio opened #858 "Some predefined Gene Sets have invalid gene symbols"
One observed case: "General: Folate transport" includes gene id FOLR4 which is (now) invalid.

I recommend that (if not already the case) the predefined gene sets be read from the database. The gene ids could then be validated during database construction, and would not fall out of sync with the database.

[2016-02-23 16:09] pieterlukasse commented on #839
@jjgao @n1zea144 : regarding the gene symbol/id mapping, I would like to propose the following:

- use the Entrez_Id column as much as possible and leave the Hugo Symbol column out (or empty/NA when the format requires the column to be there, like MAF). Entrez_Id should be unambiguous and will only give some problems when entrez_ids are revoked by NCBI (and I'm hoping this can **later* be solved b

[2016-02-23 16:18] aderidder opened #859 "Unclear to user that MutationJSON returns filtered data"
The issue I ran into, is that for a very small test set with just 2 samples and 1 mutation per sample the study view gave me just a single mutation.
It turns out that MutationJSON first checks whether a mutation occurs more than once and next checks for cbio cancer genes. In my small set only one of the genes was a cbio cancer gene and as it has only mutation, it was not shown.

Suggested solution

[2016-02-23 16:28] pieterlukasse commented on #839
I added support for "chromosomes" 23 and 24

[2016-02-23 20:02] #505 closed

[2016-02-24 07:45] aderidder opened #860 "clinical data import: warning/error "Couldn't find sample""
When I import clinical data, the importer tells me "Couldn't find sample <some sample id>". I was confused by this, as I am importing that sample and my clinical data definitely has data for it. The cause seems to be:

ImportClinicalData.java, addSampleToDatabase
`Sample sample = DaoSample.getSampleByCancerStudyAndSampleId(cancerStudy.getInternalId(), sampleId);`

[code]

So for the first sample f

[2016-02-24 13:36] pieterlukasse commented on #806
hi @priti88 : I updated the code according to my comment above, so you can test it (see PR #861).

[2016-02-24 13:44] pieterlukasse commented on #859
I would suggest to add a tool tip to the mutations table saying how it is populated.

[2016-02-24 14:08] pieterlukasse commented on #857
steps to reproduce:
- study with only mutation data
- just one case list, i.e. the "_all"

[2016-02-24 14:09] jjgao opened #862 "remove profiles from pom"
I think they are not useful any more.

[2016-02-24 14:11] aderidder commented on #857
[fileToReproduce.zip](https://github.com/cBioPortal/cbioportal/files/144730/fileToReproduce.zip)

[2016-02-24 14:46] jjgao opened #864 "exclude TCGA stomach from cross cancer expression"

[2016-02-25 15:20] zheins commented on #857
Related to PR #841

[2016-02-25 16:47] #657 closed

[2016-02-25 21:23] ritikakundra opened #868 "Cancer Type Summary for MSK-IMPACT looks incorrect"
When MSH2 gene is queried for MSK-IMPACT, the cancer type summary graph looks:
![screen shot 2016-02-25 at 4 19 56 pm](https://cloud.githubusercontent.com/assets/12007862/13334844/fab61f68-dbdb-11e5-88fb-ec1877c94896.png)

**The top most tumor type is penile cancer whereas study summary says colorectal is most affected**

![screen shot 2016-02-25 at 4 20 32 pm](https://cloud.githubusercontent.com/

[2016-02-25 21:23] jjgao opened #869 "error message in catalina.out"
![image](https://cloud.githubusercontent.com/assets/840895/13334860/10305764-dbdc-11e5-9258-b0c6addee1c8.png)

[2016-02-25 21:46] jjgao commented on #868
It's because there is one out of 8 (12.5%) penile cancer patients with MSH2 mutation. Note that the two frequencies in the table in study view and in the Cancer Type Summary are different: the denominator in study view is the number of selected samples; that in the Cancer Type Summary is the number of samples of the tumor type.

[2016-02-25 21:46] #868 closed

[2016-02-25 22:06] ritikakundra commented on #868
Thanks!

[2016-02-26 10:17] pieterlukasse commented on #857
thanks for the heads up @zheins !  @aderidder : can you verify this fixes your problem? Then we can close this issue.

[2016-02-26 10:35] pieterlukasse opened #870 "Remove redundant items from study view"
Since the improvements of the study view page, there are now redundant items in this view. The old items could be removed and the study name could be moved into summary tab or perhaps the new items should move to the top (so they are visible when user is in other tabs as well).

![image](https://cloud.githubusercontent.com/assets/2900303/13349934/1970b17e-dc7d-11e5-8987-fb02dd05698b.png)

[2016-02-26 11:18] pieterlukasse commented on #494
Update: I also found some code in `org.mskcc.cbio.portal.model.AnnotatedPatientSets`  that tries to define the default case list based on a new field added to the case lists: `case_list_category` with all possible categories listed in the enum `org.mskcc.cbio.portal.model.PatientListCategory`. This is actually used in some places like `CrossCancerJSON` and `CrossCancerMutationDataServlet` (but I t

[2016-02-26 11:36] pieterlukasse commented on #178
issue solved and wiki is updated (at The Hyve branch). This will automatically go with the PR. So closing this issue.

[2016-02-26 11:36] #178 closed

[2016-02-26 11:57] pieterlukasse commented on #843
Hi @jjgao  : can we add the other three as an *alias* to a valid gene? E.g. EGFRVIII could be an alias to EGFR, and EGFRVIII be seen a type of mutation (maybe we should add support for a new alteration type to account for these cases?). Or is this actually what your are doing already (i.e. adding EGFRVIII as an alias to EGFR)? For now I am assuming you are adding EGFRVIII to you `gene` table, but

[2016-02-26 13:42] jjgao commented on #843
@pieterlukasse: unfortunately we cannot add them as aliases. They are conceptually different genes. It's a hacky way to support the special isoforms.

[2016-02-26 13:43] pieterlukasse commented on #808
another advantage of splitting up these files is that it is easier to validate. Once we have two files, we can actually introduce a constraint on patient data to ensure a patient is defined only once in a dataset. Now this is more difficult because all patient fields have to be repeated when adding a second sample for this patient, so the validation would have to compare all patient fields of this

[2016-02-26 14:06] pieterlukasse commented on #481
closing it now to focus on remaining topics. Will refer to this in pr.

[2016-02-26 14:06] #481 closed

[2016-02-26 14:14] pieterlukasse commented on #244
Additional point to check:
-  if multiple profiles of specific types also leads to multiple case_lists, it is likely the counts in the Data Sets will be off or missing. Maybe a warning should be given when deviating from the standard naming

[2016-02-26 14:15] pieterlukasse commented on #479
remaining issues will be addressed in #249 and #244.
Closing it now to focus on remaining issues. Will refer to this ticket in pr.

[2016-02-26 14:15] #479 closed

[2016-02-26 14:21] pieterlukasse commented on #491
Staging files are now being tested. Final comments and test results are being tracked via #839 , so I will close this one now.

[2016-02-26 14:21] #491 closed

[2016-02-26 14:23] pieterlukasse commented on #497
@sheridancbio : could you maybe take care of this one?

[2016-02-26 14:28] pieterlukasse commented on #543
overlaps with #244  and #249

[2016-02-26 15:30] jjgao opened #871 "Row height in cancer type detailed tables on study view"
Looks like the bug is back :(

![image](https://cloud.githubusercontent.com/assets/840895/13356562/dc9c89d4-dc73-11e5-86c3-ecd6937f678b.png)

[2016-02-26 16:21] pieterlukasse commented on #843
@jjgao  now that I look closely I see indeed that CDKN2AP14ARF and CDKN2AP16INK4A are "normal"(?) transcript isoforms of the gene CDKN2A. Regarding your comment: do you mean that these two extra codes are a workaround for showing isoform specific expression data? Maybe at some point we need to introduce a table `transcript` that works for transcript data in a similar way the table `gene` works for

[2016-02-26 19:45] zhx828 commented on #871
I may use ReactTable to replace it. Do you still want me to fix this issue?

[2016-02-26 20:27] adamabeshouse commented on #586
this won't be an issue in the new oncoprint

[2016-02-26 20:27] #586 closed

[2016-02-26 22:47] #864 closed

[2016-02-26 23:23] ritikakundra commented on #748
[list.xlsx](https://github.com/cBioPortal/cbioportal/files/149078/list.xlsx)

[2016-02-29 08:16] aderidder commented on #857
Yes. We can close it.

[2016-02-29 08:16] #857 closed

[2016-02-29 15:10] pieterlukasse opened #873 "Make releases available to maven"
It would be good to have the releases (now recorded at https://github.com/cBioPortal/cbioportal/releases) and their respective artifacts available as a "repository" for maven. This simplifies building new external Java projects that include cBioPortal as a dependency.

Ideally we let `travis` do this.

[2016-02-29 15:12] pieterlukasse commented on #873
Shared by @jjgao :  https://malalanayake.wordpress.com/2014/03/10/create-simple-maven-repository-on-github/

Maybe this could work if we let travis push up the artifacts to github?

[2016-02-29 15:26] pieterlukasse commented on #873
http://stackoverflow.com/questions/12343452/how-to-publish-artifacts-in-travis-ci
and
https://docs.travis-ci.com/user/deployment/releases/
and use use `maven-scm-plugin` ? Or is `maven-scm-plugin` maybe not necessary after all?

[2016-02-29 17:03] pieterlukasse commented on #873
@aderidder can help test it as he would like to build another project using cBioPortal as dependency.

[2016-02-29 17:28] jjgao commented on #748
@ritikakundra: I think there is a line shift on row 15. Could you fix that?

[2016-02-29 17:50] ritikakundra commented on #748
In list.xlsx?

[2016-02-29 18:33] jjgao commented on #748
yes

[2016-02-29 18:37] ritikakundra commented on #748
[list (2).txt](https://github.com/cBioPortal/cbioportal/files/151528/list.2.txt)

Made a tab file. cant find the line shift in excel file. maybe this will help

[2016-02-29 18:38] ritikakundra commented on #748
Made a tab file. cant find the line shift in excel file. maybe this will help
[list.2.txt](https://github.com/cBioPortal/cbioportal/files/151535/list.2.txt)

[2016-02-29 18:50] jjgao commented on #748
I think there is a mismatch between genes and antibodies starting from line 15. ATM should be on line 16.

![image](https://cloud.githubusercontent.com/assets/840895/13405155/1684e83e-deeb-11e5-860f-c81199464469.png)

[2016-02-29 18:53] ritikakundra commented on #748
Oh thats because they are not mapped to column A. Some just happened to align. These are just enlisted directly from files.

[2016-02-29 20:24] ritikakundra commented on #748
[MAPPED_LIST.txt](https://github.com/cBioPortal/cbioportal/files/151693/MAPPED_LIST.txt)
Here is the mapped list. Not all can be mapped

[2016-03-01 01:42] ecerami opened #875 "HTML Validator output does not work in Chrome"
HTML Validator output does not work in Chrome.  I just get a spinning icon.

[2016-03-01 01:43] ecerami opened #876 "HTML Validator: Align Left"
Small tweak in the HTML validator: I think all the text should be aligned to the left, rather than centered.

[2016-03-01 01:47] ecerami opened #877 "HTML Validator Header"
In the HTML Validator header, we currently say:

study in '/Users/priti/Documents/secure/cbio-one/validator_test/profile_out/'
See this page for the data formats documentation.

Two suggestions:

first line should say something more explicit, e.g. "Study directory:  XXX"

second line does not have any obvious hyperlinks or underlines.  Suggest text should also say:  "For details, please see the [c

[2016-03-01 01:48] ecerami opened #878 "HTML Validator: Legend is missing"
In the current HTML validator, we seem to be using color coding, but we need a legend that explains what each color is, e.g. RED = ERROR, etc.

[2016-03-01 01:50] ecerami opened #879 "HTML Validator: Line Numbers are missing"
We sometimes have missing line and column numbers, e.g.

![screenshot_712](https://cloud.githubusercontent.com/assets/1009066/13415086/efca7d90-df25-11e5-84c4-b04c0c836c84.png)

This looks like an error.  But, it's not.  In cases where we are just reporting information, line and column numbers should be set to "--".

[2016-03-01 01:52] ecerami commented on #876
here's an example of center alignment.

![screenshot_712](https://cloud.githubusercontent.com/assets/1009066/13415133/59cb4148-df26-11e5-8d76-9417f6d34d9e.png)

[2016-03-01 02:40] priti88 commented on #875
Issue exists : #831
Closing this.

[2016-03-01 02:40] #875 closed

[2016-03-01 09:04] pieterlukasse commented on #810
assigning to @aderidder as he is updating the documentation for
- [ ] timeline data
- [ ] gistic amp/del
- [ ] mutsig

Once #808 is finished, then:
- [ ] the respective clinical data documentation should also be adjusted accordingly

[2016-03-01 11:11] aderidder commented on #810
I added some documentation about gistic and mutsig last week. Gistic still needs some more information about the "massaging", but hopefully using the cbioportal-pipelines will be easier with the #873
Timeline data documentation is nearly finished. Some small questions remain and are being discussed with Ino.

Front page for the data loading: https://github.com/thehyve/cbioportal/wiki/Data-Loading

[2016-03-01 13:38] jjgao commented on #871
If it is an easy fix, yes.

[2016-03-01 14:32] jjgao commented on #748
Thanks, @ritikakundra! Could you do one more analysis to find out which antibodies have no data in all files? You can concat all the files together and find if all are NA.

[code]

[2016-03-01 16:05] chenh4 opened #881 "Adding hyperlinks for samples/patients in Clinical Data View"
![screen shot 2016-03-01 at 10 53 02 am](https://cloud.githubusercontent.com/assets/11667643/13432755/f511c994-df9c-11e5-9451-3faee04fd0e7.png)

Hi Hongxin, can you add hyperlinks for samples/patients here to link to their individual sample/patient information as the old version?

Thank you!

[2016-03-01 19:55] jjgao opened #882 "mycancergenome not working again"
Mycancergenome.org has changed to https from http.

[2016-03-01 22:49] #882 closed

[2016-03-01 22:54] jjgao commented on #786
@inodb what's the status on this?

[2016-03-01 22:56] jjgao commented on #745
@yichaoS any update?

[2016-03-01 22:56] jjgao commented on #743
@yichaoS update?

[2016-03-01 22:57] jjgao commented on #731
@yichaoS ?

[2016-03-01 22:57] jjgao commented on #686
@adamabeshouse what's the status of this?

[2016-03-01 22:58] jjgao commented on #656
@adamabeshouse update?

[2016-03-01 23:00] jjgao commented on #620
@zhx828 what's the plan on this?

[2016-03-01 23:01] jjgao commented on #588
@adamabeshouse update?

[2016-03-01 23:01] jjgao commented on #567
@zhx828 any update?

[2016-03-01 23:02] jjgao commented on #107
@adamabeshouse ?

[2016-03-01 23:02] zhx828 commented on #620
@jjgao postponed until the data manager is released.

[2016-03-01 23:03] zhx828 commented on #567
@jjgao it's on my list, but not on priority list.

[2016-03-01 23:39] ritikakundra commented on #748
[RESULT.xlsx](https://github.com/cBioPortal/cbioportal/files/153810/RESULT.xlsx)

The output of cat and numbers in the first sheet

[2016-03-02 02:56] jjgao commented on #748
Great! Thanks. Could you remove the all-NA antibodies from MAPPED_LIST.txt?

[2016-03-02 03:55] jjgao commented on #567
@zhx828 OK.

[2016-03-02 08:38] #822 closed

[2016-03-02 13:52] aderidder opened #884 "bug in import gistic_genes_amp and _del?"
Hi,

I was looking at "Select Genes from Recurrent CNAs (Gistic)" in the brca provisional on cbioportal.org
I looked at the genes_in_region from the staging file data_gistic_genes_amp and compared it to the values given in the popup.
For some it seems ok. For example, DDAH1 has a qvalue of 4.1251e-13
For others genes are missing. For example, for the qvalue 2.7818e-43 the popup says there are 0 ge

[2016-03-02 16:34] #801 closed

[2016-03-02 16:43] sheridancbio commented on #801
Improvement was applied with pull request #803. This reduced the size of the mutation table by using filtering based on geneId. The join operation to mutation_event happened in about one tenth the time for the worst case observed query. However, in the time since the fix there have been moments of high mysqld load observed when 10 parallel SQL queries which merge mutation to mutation_event are hap

[2016-03-02 16:55] n1zea144 commented on #808
Even those the TCGA files are generated by the ETL, in general people that were manually curating a combined sample/patient file were finding it confusing, so we decided to split the files up.  For consistency, we decided to do this in the TCGA ETL pipeline too.  I don't think @zheins carried the changes into the scripts package, meaning the import class is still expecting the attribute type metad

[2016-03-02 19:50] ritikakundra commented on #748
[MAPPED_LIST_UPDATED.txt](https://github.com/cBioPortal/cbioportal/files/155504/MAPPED_LIST_UPDATED.txt)

Updated list with 215 all-NA antibodies removed. I kept the ones which were NA in a few tumor types but had values in other tumor types

[2016-03-02 21:44] zhx828 commented on #881
@chenh4 could you take a look whether this function works properly in here: https://rc-881.herokuapp.com/study.do?cancer_study_id=acc_tcga#clinical Thanks.

[2016-03-02 21:53] adamabeshouse commented on #588
It cannot yet be closed. PortalDataCollManager, which is what is invoked, interacts with other tabs in ways I need to look into and replace. Should this be a priority?

[2016-03-02 21:54] adamabeshouse commented on #656
No update yet.

[2016-03-02 21:54] adamabeshouse commented on #686
I was under the impression this would be released with, or soon after, the new oncoprint.

[2016-03-02 22:18] inodb commented on #786
Basically all the `SPECIMEN_REFERENCE_NUMBER` and `SpecimenReferenceNumber` in the databases have to be changed to `SAMPLE_ID`. In the mean time I made a PR that supports all of them: https://github.com/cBioPortal/cbioportal/pull/887. After the changes to the database have been made we can do the `OTHER_SAMPLE_ID` to `SAMPLE_ID` normalization in the importer.

[2016-03-02 22:22] ritikakundra commented on #786
Agreed to above

[2016-03-02 22:34] adamabeshouse commented on #107
https://github.com/cBioPortal/cbioportal/pull/888

[2016-03-02 22:34] #107 closed

[2016-03-03 03:48] ayusharma opened #889 "Mysql.connector.java-*.jar error"
Error :

[code]

This error pop up when I use current version of  mysql.connector.java-5.0.8.jar and reason behind is that it does not implement JRE 6 methods.

and If I use old version of mysql.connector.java-2.0.14.jar the error disappear but it produce error while loading the new cancer studies. Any solution for this ?

[2016-03-03 10:42] pieterlukasse commented on #492
@fedde-s : could you update your comments? I think we solved most of the issues you mentioned.

[2016-03-03 11:44] aderidder commented on #799
hi @jjgao
I was wondering whether there is an issue with updating the gene table with the ftp://ftp.ncbi.nih.gov/gene/DATA/GENE_INFO/Mammalia/Homo_sapiens.gene_info.gz
Won't that file be based on hg38 and the map_location may have changed for a gene?

[2016-03-03 12:58] pieterlukasse commented on #860
@aderidder : I pushed up a pacht to our validator improvements branch (https://github.com/thehyve/cbioportal/tree/validator_and_loader_prelastrc). Could you please test this and close the issue if fixed?

[2016-03-03 14:21] jjgao commented on #799
@aderidder: that is possible. We would need to find a better solution than Homo_sapiens.gene_info.gz.

[2016-03-03 14:25] jjgao opened #890 "cross cancer expression missing brca_tcga"
It seems to be fixed in the new plotly implementation.

@yichaoS could you double check if all TCGA studies with rnaseq v2 data are included in the new version?

[2016-03-03 15:21] jjgao opened #891 "MutationMapper document issue"
when I am uploading my list of mutations, the lollipops don’t generate unless the table has a minimum of 4 columns (with any headers). This is not what it says in the instructions which state that only the Hugo_Symbol and Protein_Change headers are required.

[2016-03-03 15:23] jjgao commented on #588
@adamabeshouse not a priority. Just to keep track.

[2016-03-03 21:52] jjgao opened #893 "cross cancer: bookmark link not working"

[2016-03-04 10:19] aderidder commented on #860
@pieterlukasse tested; the confusing message is gone.

[2016-03-04 10:19] #860 closed

[2016-03-04 11:44] aderidder opened #895 "mutationfilter 5'Flank TERT"
The mutationfilter filters lots of mutations, which we now also skip in the validator to decrease the number of (in this case irrelevant) messages. The mutationfilter.java contains one exception for the filtering of the 5'Flank mutations: TERT

`whiteListGenesForPromoterMutations.add(Long.valueOf(7015)); // TERT`

[code]

Note: the validator does **not** take TERT into account and skips validation

[2016-03-04 14:05] jjgao commented on #895
Just FYI -- we may want to import silent and non-coding mutations in the future.

[2016-03-04 14:06] #856 closed

[2016-03-04 16:49] tweep commented on #889
mysql-connector-java-5.1.16.jar works fine for me with version CB 1.0.3  - get it here : https://downloads.mysql.com/archives/c-j/

[2016-03-04 17:13] tweep commented on #540
Hi @pieterlukasse et al,

is there any update on this issues ? I like the simplicity of the google spreadsheet solution - however we need a kind of more complex solution for this - which allows to grant access to user groups - probably via LDAP.

Potential solutions I see are :

1. Self-standing UI
Creating a separate, independent UI which can be configured to pull data from LDAP and manages the m

[2016-03-04 17:49] pieterlukasse commented on #540
Hi @tweep , I like solution 1. A few suggestions:

- I would like to see this setup as an authorization service with a clear interface. Then let the cBioPortal application query this interface rather than querying some table in mysql. This should help isolate the authorization as a separate module (outside cBioPortal portal code base) and simplify the dependency it now has on cBioPortal code and d

[2016-03-04 18:48] tweep commented on #540
@pieterlukasse,
IIUIC you like to have the  authorization handled and administered by a separate application, right ?Like the micorservice way :-)
 It might require some major refactoring on the cbio side how authorization is currently handled, but I'll be a great benefit.
Best outcome for us would be if this solution also supports authorization via the R API - so specific users can access "their"

[2016-03-05 17:48] Andreea-Bican commented on #733
Hello!
I'm willing to help on this one. Can you explain me more?

[2016-03-05 22:02] Andreea-Bican commented on #853
Hello!
I'm willing to help on this one. So, I read the code and it seems for me that the problem comes from here: you are trying to add the same type of cancer, but you've already created a primary key for it.
I need some clarifications in order to fix this.
 Why do you add the same cancer type for the second time? Are there any modifications made or is it added by mistake for many times?

[2016-03-06 04:41] jjgao opened #899 "Cross cancer expression: select studies issue"
- STAD is not in the drop down list.
- ESCA is selected by default.

[2016-03-07 09:34] j-hudecek commented on #733
Think of it like this: when you sequence a bunch of DNA you get one of three possibilities

1. You read a letter that is different than the reference - there is a mutation

2. You read a letter that is the same as the reference

3. It doesn't work out and you still don't know what letter is there

Currently cBioportal only stores information about 1. but information about 2. could also be interest

[2016-03-07 10:50] aderidder commented on #839
Hi @n1zea144
I'm currently looking into the mutsig files. Am I correctly assuming you're using the tcga MutSig2.0 files? I've been trying to generate my own mutsig files, but genepattern only supports MutSigCV (1.0, 1.1 and 1.2).  Downloading MutSig from broad also doesn't provide MutSig2.0; available versions are MutSigCV 1.4 and older. From what I've seen so far, the headers are different.
How d

[2016-03-07 10:54] pieterlukasse commented on #540
@tweep : that's right. It is similar to your proposal nr. 1, but it goes a bit further and moves some of the parts out of cBioPortal and into this new app. It should help to get the dependency order right, i.e. if one wants authorization in cBioPortal, then one can choose to include this new app (which on its turn takes care of other possible dependencies, like creating the necessary tables in mys

[2016-03-07 13:46] aderidder opened #900 "validator Info level does not collapse messages"
When running the validator with -v, the generated info messages are not collapsed:
![image](https://cloud.githubusercontent.com/assets/9414840/13571143/48891930-e473-11e5-9276-eca4aebe0590.png)

[2016-03-07 13:57] pieterlukasse commented on #895
@jjgao : thanks for the info. The important point to consider here is that such filtering would ideally be done by another script *before* validation and loading. Do you think we should add this to **vcf2maf** and then remove all filtering done in loading step?

[2016-03-07 15:08] pieterlukasse commented on #799
@jjgao another file that could be considered during the ImportGeneData script is will this maybe help: ftp://ftp.ncbi.nih.gov/gene/DATA/gene_history.gz, see also https://www.biostars.org/p/151574/

[2016-03-07 16:22] ritikakundra commented on #748
[data_rppa_brca.txt](https://github.com/cBioPortal/cbioportal/files/161637/data_rppa_brca.txt)
[data_rppa_coadread.txt](https://github.com/cBioPortal/cbioportal/files/161638/data_rppa_coadread.txt)
[data_rppa_crc.txt](https://github.com/cBioPortal/cbioportal/files/161639/data_rppa_crc.txt)
[data_rppa_gbm.txt](https://github.com/cBioPortal/cbioportal/files/161640/data_rppa_gbm.txt)
[data_rppa_blca.

[2016-03-07 16:28] ritikakundra commented on #748
[data_rppa_hnsc.txt](https://github.com/cBioPortal/cbioportal/files/161648/data_rppa_hnsc.txt)
[data_rppa_kirc.txt](https://github.com/cBioPortal/cbioportal/files/161650/data_rppa_kirc.txt)
[data_rppa_kirp.txt](https://github.com/cBioPortal/cbioportal/files/161651/data_rppa_kirp.txt)

[2016-03-07 17:20] jjgao commented on #748
They look good. Thanks Ritika! Please add them to the overrides.
-jj

On Mon, Mar 7, 2016 at 11:28 AM, ritikakundra <notifications@github.com>
wrote:

[2016-03-07 18:03] n1zea144 commented on #839
Hi @aderidder.  Yes, MutSig 2.0 is what we use.  We grab the following file from firehose:

MutSigNozzleReport2.0.Level_4:<TUMOR_TYPE>.sig_genes.txt;

[2016-03-07 19:53] jjgao commented on #895
@pieterlukasse I don't think we can add the filtering to vcf2maf. vcf2maf should not be limited to non-silent mutations.

[2016-03-07 19:54] jjgao commented on #895
@aderidder @pieterlukasse: maybe we don't have to worry about filtering by mutation type in the validator, because we are likely to import all mutations into our database in the future.

[2016-03-07 20:06] onursumer commented on #891
I cannot reproduce this bug. The user input might have some invalid/incompatible values. For example, the input below works fine with the current standalone version.

Hugo_Symbol | Protein_Change
------------------- | ---------------------
AR | L729I
AR | R832*
AR | L185P
BRCA1 | Q1395fs
BRCA1 | E1345fs
BRCA1 | E116*
BRCA1 | C47W

[2016-03-07 22:34] ritikakundra commented on #786
@inodb All SPECIMEN_REFERENCE_NUMBER and SpecimenReferenceNumber have been changed to SAMPLE_ID. They have been pushed to mercurial. Do we need to re-import them in the portal?

[2016-03-07 22:35] #828 closed

[2016-03-08 00:01] pieterlukasse commented on #895
@jjgao: the problem is that too many records currently don't comply with the rules we discussed in #806... these issues would have to be solved first, otherwise you will be importing mutation records that are not usable since they lack basic information, right?

[2016-03-08 12:00] aderidder opened #903 "calling cbioportalImporter.py to import cancer-type gives an error"
For the manual I was testing the import-cancer-type command, which gives an error:

[code]

It does not seem to be using the data file specified in the meta file

[2016-03-08 12:09] fedde-s commented on #903
This is specific for the single-file CLI and does not occur when loading a study at once: I did not change the old command when the cancer type file got its own key-value metadata file for consistency. This interface still expects the cancer type file itself to be supplied as the 'meta file'.

[2016-03-08 13:11] ylaizet opened #904 "Potential error in the wiki when importing sample study with cbioportalImporter.py"
Hi, in the Load-Sample-Cancer-Study wiki page, in the last import step I add an error  on this import:
`$PORTAL_HOME/core/src/main/scripts/cbioportalImporter.py --jvm-args "-Dspring.profiles.active=dbcp -cp $CONNECTOR_JAR:$CORE_JAR" --command import-case-list --meta-filename portal-study/case_lists`

I guess the command should rather be **import-patient-list** instead of **import-case-list**

Rega

[2016-03-08 14:40] pieterlukasse commented on #839
hi @n1zea144 : are you also able to run 2.0 on your own data? We couldn't find a way to download/access this tool, only older versions.

[2016-03-08 17:39] n1zea144 commented on #839
HI Pieter, no.  I've only process the mutsig data coming out of the broad firehose.

[2016-03-08 21:37] schultzn opened #905 "Change whiskers in new Plotly plots"
Can we change the whiskers in the new Plotly RNA-Seq plots? It looks like they indicate the max and min, which is not too useful, since all data points are visible. Does Plotly offer other options here? It would be nice if we could make them look like the old plots.

![image](https://cloud.githubusercontent.com/assets/11892704/13617260/d1ccf2c4-e54b-11e5-80e6-17831bef89fb.png)

[2016-03-08 22:09] yichaoS commented on #905
You are right. I just found out they do have this option and changed it. This is how it looks now.
![screen shot 2016-03-08 at 5 07 10 pm](https://cloud.githubusercontent.com/assets/5973438/13618145/757bf6c8-e550-11e5-9612-7679d3f38cd8.png)

[2016-03-08 22:21] #905 closed

[2016-03-09 09:45] aderidder opened #907 "metaImport.py expects jar file"
While testing metaImport, I encountered the following issue. When running:
`./metaImport.py -s /vagrant/smallStudy -u http://localhost:8080/cbioportal -html myReport.html -v`

I get the following error:

[code]

As I have my PORTAL_HOME set, shouldn't it be able to find the jar file? (cf validataData.py)

[2016-03-09 10:09] aderidder opened #908 "metaImport type of cancer exception"
My test has a new type of cancer. By now, however it does exist in the database. Running metaImport.py:

Perhaps the validator should check whether the cancer type exists and give an error?

[2016-03-09 13:51] fedde-s commented on #900
I intended the use of `INFO` messages for status updates on what the validator is doing, to be flushed immediately without waiting for collapsing. These messages may be better classified as `DEBUG`, especially if there is now a reason for a level of messages about the data lower than `WARNING`.

[2016-03-09 16:15] aderidder commented on #839
Hi @n1zea144
We've just discussed the clinical data with JJ and Ethan and I'm updating the documentation to fit this new standard. For the staging files could you change the meta files to the new standards? What it boils down to is:
cancer_study_identifier: same value specified in meta_study.txt
genetic_alteration_type: CLINICAL
datatype: PATIENT_ATTRIBUTES or SAMPLE_ATTRIBUTES
data_filename: <you

[2016-03-09 16:19] morungos commented on #839
Is this change (aka #798) going to be a breaking one on old data files? We have an import pipeline that does our packaging, and I need to know when I'll have to adapt.

[2016-03-09 16:23] pieterlukasse opened #910 "move DB vs portal version check in cbioImporter.py to the Java layer"
In current rc branch the DB vs portal version check was introduced (by #700). The check is a good thing to do, but it should be implemented in the Java layer. Currently it is implemented twice: in the portal Java code (see https://github.com/cBioPortal/cbioportal/blob/rc/core/src/main/java/org/mskcc/cbio/portal/servlet/QueryBuilder.java#L260) and the cbioImporter.py code (see https://github.com/cB

[2016-03-09 16:30] pieterlukasse commented on #910
The best solution would be
1- to move the check that now occurs in https://github.com/cBioPortal/cbioportal/blob/rc/core/src/main/java/org/mskcc/cbio/portal/servlet/QueryBuilder.java#L260) to a place as deep as possible, like https://github.com/cBioPortal/cbioportal/blob/rc/core/src/main/java/org/mskcc/cbio/portal/dao/JdbcUtil.java#L105
2- write a java wrapper script that calls this same check (to

[2016-03-09 16:31] pieterlukasse commented on #910
hi @jjgao , as discussed today I made the issue (and a solution proposal). Could you please check this with @zheins ? Thanks for your support!

[2016-03-09 17:14] fedde-s commented on #876
Done in thehyve/cbioportal@12032a8bf547f2637a5869cad8e05583bd83d40e

[2016-03-09 20:22] adamabeshouse opened #912 "Detect data which is all numbers and assign it the 'number' datatype"
Some clinical attributes, for example CRDB_OFF_STUDY_DAYS, are marked as the 'string' datatype, but are actually all numbers (or not available). Is it possible to detect this and mark the datatype as 'number' instead?

It would be helpful in the oncoprint, because right now it's seeing the 'string' datatype annotation and displaying these tracks as categorical type using hundreds of discrete categ

[2016-03-10 08:07] pieterlukasse commented on #839
hi @morungos, yes, our changes will require some adjustments in your pipeline. I will be summarizing the changes so that you will know what needs to be done. Our goal is to make a PR to rc in a matter of weeks now.

[2016-03-10 13:55] n1zea144 commented on #839
Yes, I'll make these changes asap.  I think I mentioned that ImportClinicalData has not been updated to accommodate the missing datatype row.  In fact it will have to be update to support both file formats as we have a large amount of curated data using the old format.

[2016-03-10 14:24] aderidder commented on #839
hi @n1zea144 are you suggesting that both the old and the new variants of clinical data should still be supported by both the validator and the loader? Yesterday we decided in a meeting with @jjgao and @ecerami to try to switch to the new format and if necessary to provide a transformation script to convert the data from the old to the new format. Would that be a workable solution?

[2016-03-10 14:35] n1zea144 commented on #839
Not publicly and not the validator, but internal (MSK) and in the ImportClinicalData, probably for a little while.

[2016-03-10 21:17] sheridancbio opened #914 "Submit button on home page allows user to edit button caption"
By using tab navigation, the user may move the cursor into the Submit button and then they may alter the text in the button with the keyboard.

After changing the text, clicking the Submit button with the mouse does not launch a query.

The button caption should not be user-editable.

[2016-03-10 21:49] sheridancbio opened #915 "Study View : javascript SVG manipulation warning"
on page: http://www.cbioportal.org/study.do?cancer_study_id=brca_tcga#summary

While navigating the lower tabs (click "Clinical Data" then "Study Summary") the browser javascript console shows warnings such as:
'SVGElement.offsetWidth' is deprecated and will be removed in M50, around April 2016. See https://www.chromestatus.com/features/5724912467574784 for more details.

This suggests proper rend

[2016-03-11 14:37] jjgao commented on #899
@yichaoS could you fix this soon?

[2016-03-11 14:54] jjgao opened #916 "cross cancer "customize histogram" issues"
- [x] hide *Cancer Type* dropdown
 - [x] show studies with alterations by default
 - [x] in the *Sort x-axis by* menu, it should be `Cancer studies` instead of `Cancer types`
 - [x] *Select studies* is not syncronized -- maybe we can remove *Select studies* option and see if anyone complains
 - [x] Show the menu by default. Change the layout similar to Expression tab.

[2016-03-12 00:02] sheridancbio opened #921 "Team sections on About tab are out of date"

[2016-03-12 00:10] sheridancbio commented on #921
Need to add and adjust to make current to all centers. Other updates may be needed on page.

[2016-03-13 21:37] ecerami opened #922 "Cross Cancer Tab, x-labels get truncated"
x-labels get truncated...

![screenshot_767](https://cloud.githubusercontent.com/assets/1009066/13731548/4dff86f0-e942-11e5-846c-5bebd0d4a501.png)

[2016-03-14 11:17] fedde-s commented on #831
Implemented a fix in thehyve/cBioPortal@5e864a1d579e8aea75b73d33ce3cd2e43f228b58.

[2016-03-14 13:47] aderidder commented on #922
Hi @ecerami,
I've added some code which changes the left padding and the height based on the length of the text. It now looks like this if you have a very long cancer type:
![image](https://cloud.githubusercontent.com/assets/9414840/13746396/98e61de4-e9f3-11e5-95c1-b238e67ffa91.png)

Is this ok?

[2016-03-14 18:16] chenh4 opened #923 "KM plots for 3 survival types"
cBIoPortal now can only support KM plot for Overall Survival and Disease Free Survival (Relapse Free Survival)

We also need KM plot for
1. Disease specific survival
2. Local and regional recurrence free survival
3. Distant recurrence free survival

Thanks,
Annice

[2016-03-14 19:55] ecerami commented on #922
thanks @aderidder.  looks much better!

[2016-03-15 08:23] ylaizet commented on #904
It seems that this is a problem of version. I was using a "old" version where the command seems to be **import-patient-list** whereas it is now **import-case-list**.
The wiki is consequently up to date with the code.

[2016-03-15 08:23] #904 closed

[2016-03-15 16:42] pieterlukasse opened #929 "Mismatch between cross-cancer histogram and related oncoprint when using OQL"
When using OQL expressions in a query over multiple studies the cross-cancer histogram, the mutation view and the linked-out oncoprint all show different results.

**_Example1:**_
- in query select  "Colorectal Adenocarcinoma (TCGA, Provisional)" and "Colorectal Adenocarcinoma (TCGA, Nature 2012)"
- in genes box set: `KRAS: MUT`

You will get the following:
- in cross-cancer histogram there are 95

[2016-03-16 09:12] pieterlukasse commented on #922
It also happens in the regular multi-study cross-cancer histogram (see screenshot).
Maybe @JiaoJiao123 can apply the same fix there since she is working on #802 ?

![image](https://cloud.githubusercontent.com/assets/2900303/13807062/84371192-eb5f-11e5-85e1-50fa2455cde7.png)

[2016-03-16 10:40] pieterlukasse commented on #929
@jjgao : what do you think?
Possibly there is a mismatch between [this backend code](https://github.com/cBioPortal/cbioportal/blob/72acaf5e0a8719dd763750f8d2b8418bcb991bc4/core/src/main/java/org/mskcc/cbio/portal/servlet/CrossCancerJSON.java#L281) and the more recent frontend version of OQL(?)

[2016-03-16 14:26] JiaoJiao123 commented on #922
@pieterlukasse
Thank you for letting me know. I will fix it on my pull request

[2016-03-16 16:15] yichaoS opened #932 "Front-end real-time OQL parser & gene Validator"
![img_20160316_121313](https://cloud.githubusercontent.com/assets/5973438/13819651/b39f3fa2-eb70-11e5-8bf5-ec35fc215865.jpg)

[2016-03-16 17:37] schultzn opened #933 "Mutations tab in provisional TCGA breast cancer is not showing mutations"
Two users reported this today. Below are two example links. Assigning to JJ, who can reassign.

http://www.cbioportal.org/index.do?cancer_study_list=brca_tcga&cancer_study_id=brca_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=gistic&genetic_profile_ids_PROFILE_MRNA_EXPRESSION=rna_seq_v2_mrna_median_Zscores&Z_SCORE_THRESHOLD=2.0&RPPA

[2016-03-16 18:07] jjgao opened #934 "support generic profile IDs"
such as rppa in the data file.

[2016-03-16 18:22] jjgao commented on #933
It was data issue. The profile stable ids were incorrect -- missing study id.

[2016-03-16 20:46] n1zea144 opened #938 "Consolidate search paths for portal.properties (and log4j.properties)"
- [x] 1. Remove references to $PORTAL_HOME in pom.xml files
- [x] 2. Change orders of search path in all spring context to $PORTAL_HOME/... and then classpath:....
- [x] 3. Check GlobalProperties.java, but it should be checking in this order too
- [x] 4. Turn off resource property filtering for all spring config files

Note - need to consider affect this has on db versioning code - we may have to

[2016-03-16 21:13] morungos commented on #938
Just to comment that probably the syntax might be:

[code]

As I know the syntax used to use $PORTAL_HOME directly in Spring files as is currently the case (cf https://github.com/cBioPortal/cbioportal/blob/72acaf5e0a8719dd763750f8d2b8418bcb991bc4/web/src/main/resources/applicationContext-web.xml), because then there's a risk they get templated by Maven to a build-time location which defeats the pu

[2016-03-16 21:24] #923 closed

[2016-03-16 21:46] jjgao opened #939 "Display SAMPLE_CLASS on patient view"
in the patient view header.

[2016-03-17 14:19] n1zea144 commented on #938
I think the reference to systemEnvironment is not need because of the following:
PropertyPlaceholderConfigurer.searchSystemEnvironment setting to true.   In any event, including in this issue - turn off all "filtering" of Spring configs so that templating happens at runtime.  Note, some of the complexity introduced here was a result of providing user configurable settings before the code was open

[2016-03-17 14:29] morungos commented on #938
Okay, that's great!! I'm going to have to work to sync some of my weirder deployment issues back into pull requests.

[2016-03-18 09:47] fedde-s commented on #808
I adjusted the validation script and the Python layer of the loading pipeline in thehyve/cbioportal@900ccb45bab815ee4eecbc218bbb85916543b41c. It is now out of synch with `ImportClinicalData.java` in its branch; the validator no longer recognises the header line that labels each column in a clinical attribute file as either patient-level or sample-level while the Java layer of the loading pipeline

[2016-03-18 10:31] fedde-s commented on #808
I believe @zheins agreed to adjust the Java layer accordingly, keeping the old deprecated format supported for internal needs expressed by @n1zea144. Reassigning.

[2016-03-18 13:03] aderidder commented on #839
@n1zea144 and @zheins thanks for the new version!

Here's my feedback.

**New Issues**

_Yellow Results_
   * meta_bcr_clinical_patient.txt
      - the meta file has more fields than necessary: show_profile_in_analysis_tab, profile_name, profile_description should be removed
   * meta_bcr_clinical_sample.txt
      - the meta file has more fields than necessary: show_profile_in_analysis_tab, profil

[2016-03-18 13:21] zheins commented on #808
I've made this change in RC. PR #937

[2016-03-18 13:22] aderidder opened #942 "beta server tcga enrichtments tab does not show expression tab"
As you can see [here](http://www.cbioportal.org/beta/index.do?cancer_study_list=brca_tcga&cancer_study_id=brca_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=brca_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=brca_tcga_gistic&genetic_profile_ids_PROFILE_MRNA_EXPRESSION=brca_tcga_rna_seq_v2_mrna_median_Zscores&Z_SCORE_THRESHOLD=2.0&genetic_profile_ids_PROFILE_PROTEIN_EXPRESS

[2016-03-18 15:28] fedde-s commented on #808
Reassigning back to us at The Hyve to discuss how we will merge the wiki documentation.

[2016-03-18 15:29] fedde-s commented on #878
Added a legend in thehyve/cbioportal@17cadf5a6e8bd98b472cd7afd9f823d5884958ef

[2016-03-18 16:27] fedde-s commented on #878
![screen shot 2016-03-18 at 17 25 19](https://cloud.githubusercontent.com/assets/4929431/13884542/bc8f58a8-ed2e-11e5-98f7-13be290c7b76.png)

[2016-03-18 16:28] fedde-s commented on #879
![screen shot 2016-03-18 at 17 25 19](https://cloud.githubusercontent.com/assets/4929431/13884542/bc8f58a8-ed2e-11e5-98f7-13be290c7b76.png)

[2016-03-18 16:29] fedde-s commented on #876
![screen shot 2016-03-18 at 17 25 19](https://cloud.githubusercontent.com/assets/4929431/13884542/bc8f58a8-ed2e-11e5-98f7-13be290c7b76.png)

[2016-03-18 16:30] fedde-s commented on #877
![screen shot 2016-03-18 at 17 25 19](https://cloud.githubusercontent.com/assets/4929431/13884542/bc8f58a8-ed2e-11e5-98f7-13be290c7b76.png)

[2016-03-18 16:47] ecerami commented on #877
@fedde-s @pieterlukasse:  can you please revise/finalize the text for each category?

[2016-03-21 14:18] jjgao opened #944 "switch to front end svg2pdf lib"
https://github.com/yWorks/svg2pdf.js/tree/master

[2016-03-21 14:23] aderidder opened #945 "Loader allows you to load a patient attribute which is actually a sample attribute in the database"
If I define a new attribute as a sample attribute and upload my data, the attribute get stored as a sample attribute in the clinical_attribute table and my data gets stored in clinical_sample.
If I have made a mistake and change the attribute to a patient attribute in my data file and reupload my study, the data gets stored in clinical_patient. However, in the clinical_attribute table it will stil

[2016-03-21 14:24] jjgao opened #946 "Javascript calculation of chi-square test p-value for survival analysis"
Let's try it out.

http://stackoverflow.com/questions/23208142/chi-squared-p-value-calculation-without-using-a-chart-algorithm

https://www.swogstat.org/stat/public/chisq_calculator.htm

[2016-03-22 11:20] pieterlukasse commented on #531
Hi @jjgao , @n1zea144 : do you have any updates on this one? This is perhaps also relevant for our new version of the TCGA staging files generated at #839. I heard from a client (@awernibi) that there is an important fix made Jan-2016 for one of the studies, so we might want to consider this version instead?

[2016-03-22 13:13] jjgao commented on #531
Firehose 2015_08_21 has been released.

[2016-03-22 13:13] #531 closed

[2016-03-22 18:11] morungos opened #948 "Excessive bloat in the war files with shaded jars"
The war file built by Maven is immense. I've built a single war which works fine for the main web application that's about 60Mb, but the standard one is 150Mb. Mainly this seems to be because the core and business jars are shaded and contain a lot of the same stuff, and many of these components are also embedded in the war itself. So there are three copies of some dependencies in the final package

[2016-03-22 18:37] morungos opened #949 "Double semicolon in import generates a syntax error"
The line https://github.com/cBioPortal/cbioportal/blob/rc/web/src/main/java/org/mskcc/cbio/portal/web/AttributesController.java#L36 has an extra semicolon, which is invalid Java, notably in Eclipse

See: http://stackoverflow.com/questions/8125558/eclipse-double-semi-colon-on-an-import

[2016-03-22 19:20] morungos opened #951 "Invalid use of reserved word as identifier in SQL"
In `DaoGeneticAlteration#addGeneticAlterations`, the reserved word `VALUES` is used as an identifier. It needs identifier escaping. This throws an error in MySQL, at least on my system -- and this is documented as being expected so it ought to be amended to use identifier escaping.

[2016-03-23 00:13] kteague opened #954 "SAML configuration problems"
I'm trying to get a cbioportal instance (version 1.0.3) to use SAML. Following the SAML instructions (https://github.com/cBioPortal/cbioportal/wiki/Authenticating-Users-via-SAML) to use it with OneLogin. (Probably going to switch to SimpleSAMLphp as my final provider though).

First possible wrinkle was that the OneLogin SAML test connector is slightly different. I used the "SAML Test Connector (I

[2016-03-23 12:31] ecerami commented on #948
@morungos @jjgao :  have you already started to work on this?  was thinking that Ersin could consider working on, as first step in learning the maven / spring build system.  Thoughts?

[2016-03-23 12:34] ecerami commented on #606
@inodb:  is this still open, e.g. travis is reporting all green, but unit tests are failing?

[2016-03-23 13:56] inodb commented on #606
@ecerami yup, the unit tests are still failing. The only test we currently have is the E2E test that takes a screenshot of the study view and the patient view.

[2016-03-23 14:07] ecerami commented on #606
@inodb:  that's just crazy!  thought we had fixed this months ago.  am going to assign this to @ersinciftci as his first big task.

[2016-03-23 14:18] inodb commented on #606
Great! Yeah it would be wonderful if we can get this fixed. Good luck @ersinciftci! As a side note, I've been told a bunch of the unit tests are pretty pointless. I'm guessing the data model has changed as well, so feel free to deprecate tests that are no longer useful. Ideally if you have the time, we would also be able to get some test coverage stats so we can get a better idea of what's unteste

[2016-03-23 15:25] jjgao commented on #948
@ecerami sounds like a good project for Ersin.

[2016-03-23 15:42] Sjoerd-van-Hagen commented on #606
If Maven is set to ignore the failed tests, they are also ignored by the CI. If you run the unit tests directly, say from your IDE, they will not be ignored and thus may fail.

What needs to be done is update the pom so the failed tests are not ignored. Failing tests can be labeled with @Ignore if necessary. They will then be ignored both by jUnit and Maven, and therefore also by Travis.

[2016-03-23 18:16] morungos commented on #606
I've run JaCoCo for test coverage before, and I'm starting to backport some of my changes -- I can add this into the mix if anyone wants. It works OK, and JaCoCo is free and isn't dependent on external services. FYI, the coverage was around 20% when I last ran it

[2016-03-23 18:27] inodb commented on #606
@morungos Yes :+1:, I think JaCoCo would be nice! Coveralls supports JaCoCo output format (https://github.com/trautonen/coveralls-maven-plugin), so we can still choose to use their CI service, without being locked into it

[2016-03-23 19:34] morungos commented on #948
Oh, just saw the comments here which I'd missed. Here's a proposed strategy anyways...

Adding a new scripts component which will initially be dependent on the core component, but which will generate a runnable and shaded jar through pom.xml magic.

The original core component will become non-shaded, and any missing war dependencies added as appropriate.

Using dependency-management at top-level t

[2016-03-23 19:36] morungos commented on #948
If Ersin wants to work on this fine: I'm happy to review and/or collaborate. Just so long as it doesn't get bumped to an infinite milestone.

[2016-03-23 19:41] ecerami commented on #948
I think Ersin will first be busy fixing the unit tests first.  So, don't want to block you.  We can always circle back with you after the unit tests are fixed.

[2016-03-23 19:44] morungos commented on #948
Sounds good to me.

[2016-03-23 20:05] morungos commented on #606
I've previously added JaCoCo to Maven in the tracker I built, the pom is at: https://github.com/pughlab/tracker/blob/develop/pom.xml for reference. That's a decent place to start.

[2016-03-23 20:40] morungos commented on #938
Whoo @zheins -- this is looking good :-)

[2016-03-23 20:45] morungos opened #955 "Replace System.{err,out}.println with logging"
We use log4j, and I can't see any good reason for directly writing to the console. It's way better to use a logger. Even if we want to write to the console, we can make an appender to do that, but at least we can factor that and manage it.

[2016-03-23 21:03] zheins commented on #839
Hi @pieterlukasse, @aderidder, I have made some changes and will be uploading the new study for you shortly. The issues with the meta data files should be resolved, and case lists are now generated.

The values containing [Not Applicable], [Not Available], etc. are handled in the java layer import code - these values come directly from firehose, they aren't generated by the conversion code.

The s

[2016-03-23 21:08] morungos commented on #948
So far, all I've done is removing the shading from the business and core, and added a new scripts component which depends on core and then shades it. This actually seems to work pretty well, but I haven't deployed a war to test. The scripts jar does work standalone, and the core and business jars are now reasonably sized.

[2016-03-23 21:39] zheins commented on #910
PR associated with this in the hyve fork.

[2016-03-23 21:39] #910 closed

[2016-03-24 11:26] fedde-s commented on #951
I wondered why nobody else seemed to have any trouble with that unquoted column… Figured that the parsing logic was different in the version of MySQL I was running, from a release repo of a GNU/Linux distro. Those tend to lag behind patches that are not security-related especially if they affect interfaces.

[2016-03-24 12:08] pieterlukasse commented on #799
@jjgao @ecerami @priti88 : I wrote a small documentation page to help people update their gene table. Let me know your comments: https://github.com/thehyve/cbioportal/wiki/Updating-gene-and-gene_alias-tables

[2016-03-24 13:38] pieterlukasse commented on #839
@zheins thanks, sounds good. I'm interested in hearing more about a possible solution for the repeated samples and the seg data problem.

Regarding HGVSp_Short, maybe these need to be filtered out? Some mutations are already filtered out.

I found a new problem in the clinical data. In patient clinical data there are a few columns that are of type NUMBER but actually contain other characters. E.g.

[2016-03-24 14:27] inodb commented on #786
Looks like everything is replaced now. For testing purposes the triage portal needs to be updated to the latest version. There was an issue with the timeline not showing up, because the triage portal is outdated. Once all these changes to the db are in public and the mskcc portal I can then continue to remove all references to `SPECIMEN_REFERENCE_NUMBER` and `SpecimenReferenceNumber` from the fron

[2016-03-24 19:16] zheins commented on #786
@inodb done!

[2016-03-24 19:31] inodb commented on #786
Great, thanks a lot!

[2016-03-25 10:15] fedde-s commented on #878
Revised the phrasing as requested in issue #877:

![screenshot](https://cloud.githubusercontent.com/assets/4929431/14042501/becd27ac-f27a-11e5-94c5-393f07738811.png)

[2016-03-25 10:18] fedde-s commented on #877
See #878 for a screenshot of the fix.

[2016-03-25 14:23] fedde-s commented on #832
Since thehyve/cbioportal@626495d8b652a0caf569dd9ad40679520607fe0e, this scenario generates the warning “`<field>` definition for attribute '`<attribute>`' does not match the portal, and will be loaded as '`<portal definition>`', after which it is validated accordingly. I.e., if the portal says the attribute is a number, non-numeric values yield errors.

[2016-03-25 14:28] fedde-s commented on #832
@aderidder, I believe you tested whether the importer does indeed work like this?

[2016-03-25 21:41] n1zea144 commented on #606
If I recall, one fundamental problem was that we couldn't get transactions to work properly so that seeding/rollback between tests was not happening.  I think looking there is a good place to start.

[2016-03-28 13:06] jjgao opened #959 "remove redundant "Tendency towards" in last column of enrichments"
![image](https://cloud.githubusercontent.com/assets/840895/14078512/5c4ab15c-f4c4-11e5-9ff5-8b42472d6986.png)

[2016-03-28 14:17] morungos opened #960 "Portal servlet changes from Swagger - what happened?"
Our Jetty-based deployment has been broken by the Swagger changes, especially from the additional URL map for the portal servlet added to the web.xml  in https://github.com/cBioPortal/cbioportal/commit/dfef8d12. We now get an error on start:

[code]

This is because Jetty's default servlet, which exposes the JSPs, now has the same URL as the additional one exposed by the portal servlet in web.xml.

[2016-03-28 14:31] morungos opened #961 "Add support for OpenID Connect to applicationContext-security.xml"
We use OpenID Connect at UHN, and I fully expect others to some day. It's very similar to Google+ authentication (and in fact, Google+ authentication is actually OpenID Connect) but there are differences in the URLs used. However, the basic approach is identical: a new Spring profile can be added for OpenID Connect along the lines of that added for Google+ authentication. Note that OpenID Connect

[2016-03-28 14:38] morungos commented on #961
Just a follow-up, now that Google+ (and most others) are actually OIDC, there's merit in the self-configuration provided by OIDC. It does allow the provider to change their deployment URL layout without needing to change Java code. It also makes deployment testing a dream, as the URL (and secrets) can simply change for test from production, not Java classes. So I'd personally favour a true OIDC pr

[2016-03-28 15:01] yichaoS commented on #959
https://github.com/cBioPortal/cbioportal/pull/906/files

[2016-03-28 15:01] #959 closed

[2016-03-28 15:29] n1zea144 commented on #961
Hi @morungos.  I prefer a clear separation between security protocols and their spring configurations.  So I'm in favor of a true OIDC profile.

On a related note, one of the areas I'd like to address as we re-architect the backend is looking at integrating a pluggable framework like OSGi or JPF (the latter of which I was just made aware of by a GSOC proposal - I'll get to that in a minute).  Ther

[2016-03-28 16:08] morungos commented on #961
I totally agree, @n1zea144. I did actually make a fork to refactor authentication into a separate Spring component and Maven subproject, so I could put that up pretty fast. That decouples Spring authentication entirely from core, which is probably a good place to start, even if it isn't full-on OSGI.

I don't want to have to wait for OSGI to do this, though, as it's blocking updates at UHN right n

[2016-03-28 20:29] zhx828 opened #965 "getPatientSampleMapping in webservice.do is not working with case_list"
The following servlet doesn't work: http://www.cbioportal.org/webservice.do?cmd=getPatientSampleMapping&cancer_study_id=ucec_tcga_pub&case_list=TCGA-AP-A0L9,TCGA-AP-A05O,TCGA-AP-A05D

But get full list of mapping is working: http://www.cbioportal.org/webservice.do?cmd=getPatientSampleMapping&cancer_study_id=ucec_tcga_pub&case_set_id=ucec_tcga_pub_all

[2016-03-28 21:54] jjgao commented on #852
@zhx828 the outliers will be in two groups (left and right). Please prioritize this.

[2016-03-29 12:25] fedde-s commented on #951
Ah, @pieterlukasse knew why it wasn’t an issue for more people: when loading data from files, the function contacts the database via `MySQLbulkloader.insertRecord(String...)` and never gets to this SQL statement. So presumably it’s only used in unit tests.

[2016-03-29 13:57] morungos commented on #961
I'm just gonna ramble a bit now, because I have my coffee, and I want to get something down. I think one of the special issues for authentication/authorization as a "plugin" in any sense of OSGI/JPF is ideal, but the current demands of authentication/authorization aren't really consistent with anything that complex. I did manage to refactor it, as above, and then even Spring Security could handle

[2016-03-29 13:57] sheridancbio commented on #960
I'll try to learn what Jetty is and think of what might be altered in our servlet configuration to help debug the problem. I'll probably need help from a spring-mvc expert. (I'm still new to spring and swagger, but I'll try)

[2016-03-29 14:01] morungos commented on #960
We can maybe schedule a time to debug if you like. I'm working on this now. I *think* I know how it works for e.g., tomcat, but I can't understand why. All my Swagger stuff is generally served as statics, so it shouldn't need a change to URL mapping.

[2016-03-29 15:42] morungos commented on #948
The next issue is we get:

[code]

This is because both business.jar and core.jar get `META-INF/web-fragment.xml`, because they're both getting all the dependencies, which isn't right. We need to convert the top level to `dependencyManagement` and only use the right dependencies in the right places.

[2016-03-29 15:45] n1zea144 commented on #960
Let me know if I can be of any assistance.  As I recall, when we were configuring SpringFox, we seemed to be locked into providing a mapping of '/' for it to work.  So we have '/' and '/api/*' both being mapped to our one Spring MVC DispatcherServlet, although our Controller only supports '/api/*'.

[2016-03-29 18:17] sheridancbio commented on #960
Stuart suggested dropping the mapping to '/' in web.xml, and I have rebuilt with that change. The swagger JSON and swagger-ui.html both seem to be functional under /api/  (/api/api-docs and /api/swagger-ui.html). I'll test some more.

[2016-03-29 18:54] morungos commented on #955
Actually, we use slf4j too!! We should probably choose one of them alone and use that instead. I'd pick slf4j.

[2016-03-29 19:48] pieterlukasse commented on #884
@zheins , @n1zea144 could you please take a look at this and let us know what is the best way to fix this?

[2016-03-29 19:52] n1zea144 commented on #960
Well thats great.  Last time we checked, we couldn't get it to work without that mapping.  There must have been a change we made during the course of tuning the configuration that enabled that.  I can't think of what that may have been.  In any event, yeah, lets just make sure all the URLs still work.

[2016-03-29 20:25] morungos opened #968 "Add model deployment under Jetty"
At UHN we don't use Tomcat, but Jetty. This issue is about adding a couple of nonintrusive samples files which show how to build and deploy a Jetty version of the portal. Jetty has a few advantages, it's designed for running in simple daemons and doesn't require the management layers of Tomcat.

[2016-03-29 22:13] jjgao opened #970 "cross cancer histogram: fix the width of bars"
- [x] fix the width of bars to 20px
 - [ ] add a horizontal scroll bar

[2016-03-29 22:14] jjgao commented on #970
Hi @adamabeshouse could you do a quick fix on this?

[2016-03-29 22:29] schultzn opened #971 "Color and glyph changes for OncoPrints"
Adam,

JJ and I just brainstormed on colors for the OncoPrints, and we came up with the following proposal.

We only need to show recurrence for missense and inframe events. Recurrent missense mutations will remain dark green (008000), and non-recurrent ones get a lighter green (53D400). Recurrent Inframe events change to a slightly nicer grey (708090), and non-recurrent ones become A9A9A9.

Trunc

[2016-03-29 22:49] schultzn commented on #971
![image](https://cloud.githubusercontent.com/assets/11892704/14126431/efb47804-f5de-11e5-9a15-da13e5c83d2b.png)

[2016-03-30 08:54] pieterlukasse commented on #839
@n1zea144 @zheins : just tested the new BRCA file. Here is the summary of what we need to fix to be able to remove the last errors:

- data clinical patient: fix the columns where values such as "2+" are found (see my last comment above :arrow_up: )
- data clinical sample: solve issue that causes samples to be defined twice in file (as you commented before, we need input from @jjgao on this topic)

[2016-03-30 12:31] jjgao commented on #971
@adamabeshouse as we discussed, we will have a few different color schema for the users to select:

- uniformly -- green only
- by mutation type
- by recurrence -- green (recurrent) and light green (non-recurrent)
- by mutation type and recurrence (as defined above)
- by oncokb (TBD)

[2016-03-30 13:08] jjgao commented on #839
@pieterlukasse @aderidder:

- Could you give me example of the duplicated samples in the clinical data?
- About the seg data, how frequently single position segs happens?

[2016-03-30 13:24] morungos opened #972 "Move src/main/resources/portal.properties -> portal.properties in Spring XML"
The Spring config files, for some strange reason, use a Mavenified path to point to the portal.properties. This should not happen in production. If it's needed in test mode, put a different config file under src/test/resources. Which is probably what we should be doing anyway.

See for example: https://github.com/cBioPortal/cbioportal/blob/6fbf8dd90435fd298a2ddbefbf15558cf7839170/core/src/test/res

[2016-03-30 13:36] morungos commented on #972
This is especially true because we define `propertyPlaceholderConfigurer` in multiple XML files, somewhat carelessly. My take on it is that in test mode, `propertyPlaceholderConfigurer` can use a Mavenified path, but the final Spring config for the complete war should not, and should not really contain multiple `propertyPlaceholderConfigurer` beans just to be safe.

[2016-03-30 13:39] pieterlukasse commented on #839
Hi @jjgao : you can use the test data shared by @zheins : I will send you the link

[2016-03-30 13:44] jjgao opened #973 "add an acknowledgement banner"
One use case: we would like to have the users actively acknowledge the data policies, e.g. TCGA data, and MSK data. One solution is to add one or multiple banners about the data policies. Once accepted, it will be saved in the cookie for certain time. E.g. https://www.ebi.ac.uk/pdbe/docs/sifts/

![image](https://cloud.githubusercontent.com/assets/840895/14143453/55834da2-f659-11e5-8960-20ad908e3fa

[2016-03-30 13:51] morungos commented on #972
Ah, found this was a total dupe of #938

[2016-03-30 13:51] #972 closed

[2016-03-30 13:54] morungos commented on #938
Note the comment from the closed ticket. Sometimes Spring configures from `file:///${PORTAL_HOME}/src/main/resources/portal.properties` and sometimes from `file:///${PORTAL_HOME}/portal.properties`. We're also using duplicate `propertyPlaceholderConfigurer` beans in different files. All of these issues remain to be addressed, and this is still a significant obstacle for us.

[2016-03-30 14:04] n1zea144 commented on #960
@morungos @sheridancbio Is this resolved now?  Can we close it?

[2016-03-30 14:08] n1zea144 commented on #938
This is a mistake.  @zheins can you look at this?

We only want to reference /src/main/resources/portal.properties at build time and via relative path, not $PORTAL_HOME.

Can you provide example of duplicate propertyPlaceholderConfigurer?  Shouldn't there be one per context?

[2016-03-30 14:14] morungos commented on #938
The `propertyPlaceholderConfigurer` is a bean with an id, and yes: one per context, but not one per file. When you have multiple beans with the same id in different files (-business, -security, -web), it's an override: http://stackoverflow.com/questions/5849192/springs-overriding-bean. There's more or less one each.

Having said that: I think I've just realized why. It's because we're not using "r

[2016-03-30 14:16] jjgao commented on #839
@pieterlukasse:

The duplicated samples issue is tricky. We definitely don't want to put the vial number into the sample id, but a sample with different vial numbers may have different values of certain attribute, e.g. time of collection. We almost need a vial concept in our data model. But let's not make it too complicated for now. Maybe we could just pick the first vial for now?

If the single p

[2016-03-30 14:16] morungos commented on #938
For example of this, see `SpringUtil`. This should not to the `initDataSource`, instead doing something like:

[code]

[2016-03-30 14:21] morungos commented on #960
I'm good with that if the additional mapping -> / is merged into rc, as otherwise I'll need to mash up Jetty some more.

[2016-03-30 14:44] morungos commented on #938
I found a way to handle the log4j stuff too. I've dropped the:

[code]

from the `web.xml` (where the prooperty/environment is templated) and replaced with Spring:

[code]

Because this Spring, the PORTAL_HOME can be tweaked at runtime.

[2016-03-30 14:48] morungos commented on #938
I'll add a new issue for the `SpringUtil` issue and make a PR for that now.

[2016-03-30 14:53] morungos opened #974 "Replace ad hoc context creation with dependency injection in SpringUtil"
This was a simple technique for initializing a static. but it doesn't work well, as you have multiple contexts to handle.

[2016-03-30 15:02] sheridancbio commented on #960
I think it is resolved, but wanted to test a little more (make sure none of the other website functionality is affected). Calls to the Web API work, and the /api/api-docs and /api/swagger-ui.html both work, so odds are good that we can drop the mapping to '/'. When testing is done, I'll put this into a PR. If Stuart sees any problems in his local build (which does not have the '/' mapping) please

[2016-03-30 15:10] zhx828 opened #976 "Always show number of patients in Study View"

[2016-03-30 15:12] jjgao opened #977 "add a column filter on p-value or q-value columns"
From user:

"I have a suggestion about the addition of a small feature.

When querying a gene (set) in a database, under the enrichments tab, is it possible to be able to sort not just independently by e.g. q value and mean RNA expression, but to add a feature which enables to sort within a user-set threshold for p or q value?

for example, to set a p value thresh-hold of 0 - 0.05, and then be abl

[2016-03-30 15:13] morungos commented on #938
Oh my goodness -- this is how the database is set up for the scripts. Backwards, of course. The Spring context is instantiated and then used to inject into the various settings. Which is why we need something like this, instantiation on demand.

[2016-03-30 15:17] n1zea144 commented on #938
One issue is that we've slowly introduced Spring into parts of the codebase, but there is still a lot of code that is not spring managed.  For example, that initDataSource method is called by various classes in the scripts package into order to import data.  This situation is part of the refactoring I'd like to do during re-architecture.

In our case, we don't have a context which is constructed b

[2016-03-30 15:18] jjgao opened #978 "Enrichments expression and protein: move the plots to left"
The Plot column should be removed and click on gene name should bring the boxplots to the left side, similar to Mutations.

[2016-03-30 15:29] morungos commented on #938
@n1zea144 Yes, this is what I'd forgotten, because we start the scripts differently. What we do is build a Spring context file from the staging folder, which specifies which scripts to run, and which order, more or less as an array of classes and command line arguments. It then calls the `main()` methods using reflection. This means we have started Spring and created a context before calling `init

[2016-03-30 15:42] jjgao opened #979 "Improve the performance of clinical data load in client js"
The client code to load clinical seems to be significantly slower than the previous code using the old API.

[2016-03-30 15:58] n1zea144 commented on #938
@morungos What you described is exactly what we are doing internally at MSK in our internal import pipeline (but we don't dynamically generate a context file).  The squirrelly code you are seeing is to support the command line tool available to the public during data import while simultaneously supporting the connection pooling provided by the web container for the web site....you don't have to wi

[2016-03-30 16:32] pieterlukasse commented on #839
@jjgao : OK, we will implement your suggestions and just add a warning in both the validator and loader. Maybe for the duplicated samples it would be good to log a separate issue so that it gets solved at some point?

[2016-03-30 16:48] pieterlukasse commented on #839
@jjgao : one more` small issue: in RPPA data we have a few lines that start with `NA|...` . The loader currently interprets these as being the gene alias `NA` (aka as `XK`, entrez 7504), but we suspect that in this case it actually means `Not Applicable` or `Not Available`. If you check the rppa data in the last BRCA download shared today you will see what I mean.

[2016-03-30 16:50] jjgao commented on #839
@pieterlukasse: you are right. It was a firehose error. Their gene list is not complete and therefore could not map some of the genes. Could you give a warning in this case?

[2016-03-30 16:51] pieterlukasse commented on #839
@jjgao sure, we will do that

[2016-03-30 19:00] morungos opened #984 "Add a transactional runner for importing"
This is basically to make a PR embedding some of the UHN import code into core. It won't affect other people, as it wraps rather than modifies the existing logic. However, it will enable discussion to start on improving the post-staging and validation parts of the import process.

[2016-03-30 20:04] morungos commented on #938
@n1zea144 I've put it to the boss :-)

I've also make an initial PR on the transactional import wrapper we use here, backported to the current framework. It is probably useful already, and small enough for you to see how it works. There's even a small test. It's at: https://github.com/cBioPortal/cbioportal/pull/985

[2016-03-30 21:15] adamabeshouse commented on #971
Sounds great, thanks for laying it out so clearly! I'll get right to it.

[2016-03-30 21:25] n1zea144 opened #986 "seed database linked on download page needs info table"

[2016-03-30 23:11] kteague commented on #954
I worked around this problem by configuring Tomcat to only listen on localhost and then configuring an Apache to sit in front and proxy back to the Tomcat server. The Apache server is then configured to authenticate against an LDAP directory.

[2016-03-30 23:11] #954 closed

[2016-03-31 02:18] adamabeshouse commented on #970
https://github.com/cBioPortal/cbioportal/pull/987

[2016-03-31 02:18] #970 closed

[2016-03-31 02:23] adamabeshouse commented on #971
@schultzn @jjgao Question: what should be shown in the tooltip in the case of multiple types of mutations? Should they be distinguished, in two different lists, or perhaps one list with (non-)recurrent ones italicized?

[2016-03-31 02:32] jjgao commented on #971
@adamabeshouse: good questions. Maybe we should put the number of samples with the same mutation in the tooltip?

[2016-03-31 03:00] schultzn opened #988 "Alphabetical sorting in cross-cancer frequency plot does not work"
1. Fix type: Alphabetical
2. Sorting does not seem to work - see srceenshot

![image](https://cloud.githubusercontent.com/assets/11892704/14164193/342aeb66-f6cb-11e5-8c63-c156ec4aa87c.png)

[2016-03-31 06:31] aderidder commented on #832
yes, existing clinical attributes are not overwritten by the loader

[2016-03-31 07:50] pieterlukasse commented on #839
@jjgao : have you logged this bug at firehose, or do you want us to do it?

[2016-03-31 11:02] pieterlukasse opened #989 "Duplicated samples in TCGA staging files"
TCGA staging files will have duplicated samples in the sample clinical data file. This is a result of not using the vial number from in the TCGA barcode. Since the barcode gets truncated after the sample level, duplicates occur.

Currently the data validation and data import will flag the cases where this occurs with a WARNING (for non-TCGA studies it is stricter and will abort with an ERROR) and

[2016-03-31 13:42] jjgao commented on #839
@pieterlukasse: I haven't. Please feel free to do that.

[2016-03-31 14:07] n1zea144 commented on #938
I'll take a look.  First I'd like to respond to your thoughts on the OIDC PR.

[2016-03-31 14:22] morungos commented on #938
@n1zea144 And yes, I spoke to Trevor yesterday. He's okay with it, so I'm planning to make the NYC day on the 11th. I'm working away next couple of days, so I'll plan and book on Monday. So we can talk more then, and maybe work through some of the details.

[2016-03-31 14:59] #884 closed

[2016-03-31 15:11] JiaoJiao123 opened #991 "horizontal scroll bar still get displayed when only few studies are selected in cross cancer histogram"
![image](https://cloud.githubusercontent.com/assets/13951023/14180572/9fa974c8-f731-11e5-857d-20069f509ce4.png)

[2016-03-31 15:16] JiaoJiao123 commented on #991
@adamabeshouse Could you help to fix this? since I saw you had the pull request-made the bar width fixed

[2016-03-31 16:58] adamabeshouse commented on #971
@jjgao: that too. Right now I just list the mutations, with their multiplicities (e.g. Mutation: G12D,G12D,G12K).

What I'm wondering in addition is if we should denote whether the mutations are recurrent/non-recurrent, in the case that a patient has one of each. Should it be Mutation: <b>G12D</b>,.. or Recurrent Mutations: G12D<br> Non-recurrent Mutations: ...

I like just italicizing or bolding

[2016-03-31 18:31] schultzn opened #992 "Cross-cancer bar chart: Move excluded study bars further away"
JJ will explain

![image](https://cloud.githubusercontent.com/assets/11892704/14186604/30783406-f74d-11e5-875c-07e0286fa04c.png)

[2016-03-31 20:19] adamabeshouse commented on #991
https://github.com/cBioPortal/cbioportal/pull/993

[2016-03-31 20:19] #991 closed

[2016-03-31 20:19] adamabeshouse commented on #992
https://github.com/cBioPortal/cbioportal/pull/993

[2016-03-31 20:19] #992 closed

[2016-04-01 01:56] #933 closed

[2016-04-01 01:57] #934 closed

[2016-04-01 01:57] #916 closed

[2016-04-01 01:57] #899 closed

[2016-04-01 01:58] #890 closed

[2016-04-01 02:00] #817 closed

[2016-04-01 02:15] jjgao commented on #799
I am closing this issue. Updating gene info can be logged in another issue if necessary.

[2016-04-01 02:15] #799 closed

[2016-04-01 02:17] jjgao commented on #763
@chenh4 could you look into this?

[2016-04-01 02:24] #762 closed

[2016-04-01 02:43] jjgao opened #994 "add a status of number of filtered studies in cross cancer histogram"
Add a status such as "10 of 123 studies are filtered out."

[2016-04-01 02:46] jjgao opened #995 "error loading patient view without mutation data"
http://www.cbioportal.org/case.do?cancer_study_id=esca_tcga&sample_id=TCGA-IG-A97H-01

[2016-04-01 02:53] jjgao commented on #724
@ritikakundra any update on this?

[2016-04-01 02:54] jjgao commented on #695
@zhx828 I am closing this issue. Could you log @j-hudecek's points in another issue.

[2016-04-01 02:54] #695 closed

[2016-04-01 02:57] jjgao commented on #517
I am closing this one. Please log remaining issues in another one.

[2016-04-01 02:57] #517 closed

[2016-04-01 02:58] #475 closed

[2016-04-01 02:59] #337 closed

[2016-04-01 17:27] #988 closed

[2016-04-01 21:02] sheridancbio commented on #960
Ok, testing is completed. I also forwarded the url "/api" to redirect to /api/swagger-ui.html

There was one issue I messed around with but could not figure out how to correct : the url "<appname>/swagger-ui.html" now exposes a "blank" swagger-ui page without our api references filled in. (and a link to "example.com"). I would have liked to have redirected requests to that to
"<appname>/api/swagge

[2016-04-01 21:16] adamabeshouse commented on #979
Server-side optimization attempts (pulling some attribute fetching out of the SQL query and putting it into the data in the Java layer) made it 2x slower....

Not sure if it will be possible to improve this with the currently fetched attributes besides database refactoring, which I think wouldn't be so bad an idea.

[2016-04-01 21:26] jjgao commented on #979
@hon

[2016-04-01 21:27] zhx828 commented on #979
As I mentioned, I made some changes on the clinical attribute API. I will send a pull request to review ASAP.

[2016-04-04 17:48] jjgao opened #1001 "use less digits of cna in study view clinical data tab"
two digits are probably enough. If <0.01, put <0.01.

![image](https://cloud.githubusercontent.com/assets/840895/14257384/9d14adbc-fa6b-11e5-9a22-bd408003d253.png)

[2016-04-04 18:06] jjgao opened #1002 "study view slower than before"
For less powerful machine, study view seems slower then before

[2016-04-04 18:10] jjgao opened #1003 "submit query not working in some of IE"
Somehow for some users, after they submit, they return back to the query form instead of the result page.

[2016-04-04 18:23] adamabeshouse commented on #971
@jjgao @schultzn How does this interact with sorting by/not sorting by mutation type?

[2016-04-04 19:34] jjgao opened #1004 "typo in oncoprint tab: "(23 samples / 61 samples)""
http://bit.ly/1qqiSJW

![image](https://cloud.githubusercontent.com/assets/840895/14260645/86e9ee3a-fa7a-11e5-855b-838fcad480fd.png)

[2016-04-04 19:37] #922 closed

[2016-04-04 19:38] #219 closed

[2016-04-04 19:51] adamabeshouse commented on #1004
https://github.com/cBioPortal/cbioportal/pull/1005

[2016-04-04 21:10] yichaoS opened #1007 "cross-cancer expression plots: modify the box plots hoverinfo"
Change to: dots value + "maximum, upper adjacent value, upper quartile, median, lower quartile, lower adjacent value, minimum"

[2016-04-05 14:15] pieterlukasse opened #1013 "Possible wrong mapping when using negative Entrez id values in staging files"
In some BRCA staging files we find **negative** entrez ids, like in `data_CNA.txt`. The problem with this is that the `ImportTabDelimData.java` process accepts negative entrez ids and looks them up using `daoGene.getGene(Long.parseLong(entrez));` . This would be fine if it were not for the fact that each cBioPortal installation will assign **different** negative entrez ids to different symbols, se

[2016-04-05 14:18] pieterlukasse commented on #1013
As discussed with @jjgao, the solution will be:
- [ ] in validator, block any negative entrez id values
- [ ] in loader, we should also ignore negative entrez gene IDs and use Hugo symbols (as a temporary backwards compatible solution for now, to support old staging files with negative entrez id values).

[2016-04-05 14:44] pieterlukasse commented on #1002
could be because we reduced the delays between some of the functions in the code (i.e. `setTimeout` function) to make it more snappy. I can imagine this causes a long "synchronous" looking freeze in the UI on slower machines. Maybe set it back to the previous timeout intervals and see if perception is improved?

[2016-04-05 15:23] fedde-s commented on #1013
Since thehyve/cbioportal@5b8b04b9f70bdfbe2d5e1f5ac772f70ab690f763, the validator considers Entrez gene IDs that are not positive integers an error, in the sense that it implies the file cannot be loaded.

[2016-04-05 16:27] fedde-s commented on #1013
On Pieter’s request, thehyve/cbioportal@be7a038858fa5084a0592d926c02f815a2cbd5d5 makes the validator allow non-numeric Entrez identifiers with a warning that says the gene will be skipped. Only negative Entrez IDs will be reported as unloadable.

[2016-04-05 17:56] n1zea144 commented on #961
I thought using security services was a good way to motivate a plugin architecture for a few reasons, but mainly to get away from the ugliness we have to go through to add support for a new protocol, customizations for institute specific requirements, and how its all globbed together at runtime.

Currently, yes, the authorization piece is readability by dataset and nothing more.

I just checked ou

[2016-04-05 20:12] ecerami opened #1014 "Modify docs re: build process"
Once we have merged in the fixes to all the unit tests, can you update the docs here:  https://github.com/cBioPortal/cbioportal/wiki/Build-from-Source

This doc suggests that people skip the unit tests:

mvn -DskipTests clean install

which we don't want them to do!

[2016-04-06 03:33] schultzn opened #1019 "Does plotly support search?"
Our current D3 plots support searching by sample ID or mutation string - is this possible in plot.ly, and can this be implemented in the cross-cancer expression view?

[2016-04-06 13:02] jjgao commented on #971
@adamabeshouse in the tooltip, maybe we can use the same words as in the legend, e.g. "Missense Mutation (recurrent): G12D", "Amplification" etc. That may simplify your code.

For sorting/grouping, maybe we can do the same thing as mutation types by providing two options: grouping by all mutations and grouping different different colors. @schultzn?

[2016-04-06 14:12] chenh4 commented on #763
http://dashi-dev.cbio.mskcc.org:28080/triage/study.do?cancer_study_id=brca_tcga_pub2015#clinical

will import into MSK portal tomorrow (4/7).

[2016-04-06 18:31] inodb opened #1021 "Removal of PORTAL_HOME reference in pom.xml broke heroku"
Removing `PORTAL_HOME` in the `pom.xml` has broken heroku (See #938). Seems like the `${project.parent.basedir}` variable is not available in antrun: http://stackoverflow.com/questions/4040778/parent-properties-inside-maven-antrun-plugin.

Proposed solutions:
- Copy the properties file before running mvn on heroku, remove antrun from pom
- Find a way to get the `${project.parent.basedir}` in antru

[2016-04-06 22:39] adamabeshouse commented on #1004
https://github.com/cBioPortal/cbioportal/pull/1023

[2016-04-06 22:39] #1004 closed

[2016-04-06 22:40] adamabeshouse commented on #893
https://github.com/cBioPortal/cbioportal/pull/1023

[2016-04-06 22:40] #893 closed

[2016-04-07 13:56] jjgao opened #1024 "tweak blca_mskcc_signet_ring_impact"
- [x] change study id to blca_plasmacytoid_mskcc_2016
 - [x] add oncotree_code "blca" to all samples
 - [x] "Lynph node status" and "Tumor TNM stage" should have type of STRING not NUMBER
 - [x] SAMPLE_CLASS should all be "Tumor"
 - [x] Is IMPACTv5 the same as IMPACT410? If so, we should use IMPACT410.

[2016-04-07 15:54] jjgao opened #1025 "Add embargo message in private studies"
In the study view, if a study group is not PUBLIC, put a red message under the study description.

"This study is under embargo. Please contact xxx if you would like to make it public."

[2016-04-07 17:42] schultzn opened #1026 "PDF button not working throughout cBioPortal"
Tried OncoPrint, Plot, Lolliplotter...

SVG seems to work

[2016-04-07 19:43] chenh4 commented on #1024
@jjgao
Those 5 items have been updated at Triage portal at
http://dashi-dev.cbio.mskcc.org:28080/triage/study.do?cancer_study_id=blca_plasmacytoid_mskcc_2016#summary

Do you want to double check before push it out to public portal? For Lymph node status, am not sure if this is how they want to present, but I think it's fine for now.

Thanks,
Annice

[2016-04-07 20:03] jjgao commented on #1024
@chenh4 thanks, it looks great. Please push out.

[2016-04-07 20:05] jjgao opened #1027 "next data release"
Study name | old | new | diff| RK-Comment
----- | ------ | ------ | ------| ------
Merged Cohort of LGG and GBM (TCGA, Cell 2016) | 1084 | 1102 | 18|Numbers are validated
Prostate Adenocarcinoma (Fred Hutchinson CRC, Nat Med 2016) | 176 | 154 | -22|Mercurial is in sync with the paper, Z scores is reducing samples from expr file. Importing as it is.
Breast Invasive Carcinoma (TCGA, Cell 2015) | 110

[2016-04-07 20:24] schultzn opened #1028 "New feature in the study view: Study view tables for specific mutations"
The following two tables would be extremely useful:

1 - Number and ratio of truncating mutations to all mutations (a user should be able to set a threshold for minimum number of mutations)
2 - Number and ratio of hotspot mutations to all mutations (same user filter as above)

[2016-04-07 20:24] adamabeshouse commented on #640
I've encountered this error before but now I can't replicate it. Has it been fixed?

[2016-04-07 20:38] jjgao opened #1029 "cross cancer query not working in firefox"
![image](https://cloud.githubusercontent.com/assets/840895/14366571/583dea96-fce1-11e5-9d8c-e59d9eb8d7f7.png)

[2016-04-07 20:54] adamabeshouse opened #1030 "Clean up and organize datamanager code"

[2016-04-07 21:13] jjgao opened #1031 "“Modify Query” does not disappear after submit sometimes."
Another strange issue: when I am in cross cancer page, after I “Modify Query” and submit, sometimes, the page does not reload (the result changes), and “Modify Query” does not disappear.

[2016-04-07 22:09] chenh4 commented on #763
Done!

[2016-04-07 22:09] #763 closed

[2016-04-07 23:46] adamabeshouse commented on #971
@schultzn @jjgao
Suppose a case has two mutations in the same gene, a truncating, which is non-recurrent, and a missense, which is recurrent. Currently, we prioritize displaying truncating, but we'd probably want to prioritize the recurrent mutation, right?

So, two questions
(1) Do we prioritize the recurrent missense over non-recurrent truncating if recurrent mutation mode is selected?
(2) If so

[2016-04-08 02:06] jjgao opened #1032 "display all studies by default in cc histogram"
Currently studies with no alterations are hidden. We can display them now since we have added the horizontal scroll bar.

[2016-04-08 12:32] jjgao opened #1033 "oncoprint: support the same gene on different rows"
From #929:

- in query select  "Colorectal Adenocarcinoma (TCGA, Provisional)" and "Colorectal Adenocarcinoma (TCGA, Nature 2012)"
- in genes box set: `KRAS: MUT=G12; KRAS:MUT=G13`

You will get the following:
- in cross-cancer histogram there are **still** 67 + 62 mutated cases (**which is wrong as this is the same as for =G12**)
- in oncoprint linked out from histogram (when clicking ["click to

[2016-04-08 12:33] jjgao opened #1034 "Filter mutations tab with OQL"
From #929.
- in query select  "Colorectal Adenocarcinoma (TCGA, Provisional)" and "Colorectal Adenocarcinoma (TCGA, Nature 2012)"
- in genes box set: `KRAS: MUT=G12`

You will get the following:
- in cross-cancer histogram there are 67 + 62 mutated cases
- in mutations tab there are 185 mutations in the table, but only 67+10+1+2+2+1+1+2+9=95 in lollipop view (**so only first study  in lollipop and

[2016-04-08 12:34] jjgao commented on #929
@pieterlukasse: Thanks for the thorough examples!

For ***Example1***, we count non-redundant sample IDs in the lollipop. The colorectal provisional and public studies share almost the same mutation data. We don't want to over-count them in the lollipop. We plan to support different version of data per study/sample -- which may partially solve the problem.

For ***Example2***, the mutations tab is

[2016-04-08 12:39] pieterlukasse commented on #929
Hi @jj, thanks for the reply. Could we perhaps support ***Example3*** by just patching the backend OQL for now?

[2016-04-08 12:41] schultzn commented on #971
I think it is ok to always prioritize the truncating variant.

We will solve the issue when we support the display of multiple mutations in a sample.

Niki.

[2016-04-08 12:49] jjgao commented on #929
@pieterlukasse: The backend OQL is an ancient behemoth I am a little uncomfortable to touch -- we plan to take it out for good. If you can wait, we would rather solve it in the front end. Do you have a pressing need?

[2016-04-08 13:12] jjgao opened #1035 ""apply log scale" doesn't work for rnaseq vs clinical data"
![image](https://cloud.githubusercontent.com/assets/840895/14384587/e0a152f0-fd69-11e5-8140-5a844709fb3e.png)

![image](https://cloud.githubusercontent.com/assets/840895/14384593/e9f535d8-fd69-11e5-92cb-76b9a1ea8341.png)

[2016-04-08 20:59] adamabeshouse commented on #468
Fixed in new oncoprint

[2016-04-08 20:59] #468 closed

[2016-04-08 21:01] adamabeshouse commented on #327
Confirmed working in new implementation

[2016-04-08 21:01] #327 closed

[2016-04-08 21:02] adamabeshouse commented on #393
OQL is tested, going to close this because a more general testing strategy doesn't need to focus on this in particular.

[2016-04-08 21:02] #393 closed

[2016-04-08 21:03] adamabeshouse commented on #792
Fixed in new oncoprint

[2016-04-08 21:03] #792 closed

[2016-04-08 21:18] adamabeshouse commented on #787
There's something weird with that file where the line breaks aren't registering - the server echos it back with no line breaks, but when I went into the file and deleted and then hit enter on all the lines to make sure there's a line break, it works.

[2016-04-08 21:22] adamabeshouse commented on #585
Issue fixed in new oncoprint.

[2016-04-08 21:22] #585 closed

[2016-04-08 21:23] adamabeshouse commented on #732
How does this interact with the new purple fusion color?
https://github.com/cBioPortal/cbioportal/issues/971

[2016-04-08 21:24] adamabeshouse commented on #782
@zheins it's been a while but, do you know how I might replicate this issue to check if it's been fixed in the new implementation - what study was this?

[2016-04-09 18:38] GeorgeL9 opened #1037 "Unable to deploy to Heroku"
I am trying to deploy to heroku using the button on the README

[code]

[2016-04-10 17:04] inodb commented on #1037
Thanks for reporting. Will have a look this week

[2016-04-10 23:36] serlej opened #1038 "biojava dependencies error"
Hi, I am getting error on Biojava dependencies below, when building core.

Biojava site claims that http://biojava.org/wikis/BioJava:GetStarted/

BioJava, as of release 4.0.0 is available through Maven Central. or

You can get the latest version of BioJava3+ from the download page BioJava (v) (requires Java 1.6+).
(link to download is not working)

[ERROR] Failed to execute goal on project core: C

[2016-04-11 08:16] pieterlukasse commented on #929
Hi @jj, the thorough examples are mostly provided by @awernibi . He would like to have this solved soon. Maybe I can try to provide a fix for the backend OQL part. I will let you know.

[2016-04-11 16:00] jjgao commented on #1002
@zhx828: are we retrieving mutation data for all genes or cancer genes? If all genes, that may be the problem. Could you prioritize bringing reactjs to replace the mutation and cna tables - ideally by the end of this week?

[2016-04-11 16:09] pieterlukasse commented on #844
@jj, @zheins : any updates? I discussed this with @priti88 today and I think it makes sense to throw an exception in this case. I am in the process of letting the java layer abort with non zero exit status in case of errors (as part of #848) and this would be such an error. It currently occurs when loading the staging files from BRCA, which means that it is a real problem for #839, especially if w

[2016-04-11 16:57] zhx828 commented on #1002
@jjgao we are only loading cbioportal gene list which is 1018 genes. I will prioritize this issue.

[2016-04-11 17:27] zheins commented on #782
@adamabeshouse This was from mskimpact with a hepatocellular subset. You should be able to replicate it using the current hepatocellular samples.

[2016-04-11 17:38] adamabeshouse commented on #782
thanks @zheins , confirmed working in new oncoprint

[2016-04-11 17:38] #782 closed

[2016-04-11 18:26] pieterlukasse commented on #848
A test version is now available at https://github.com/thehyve/cbioportal/tree/fix_848.
Following classes still need to be reviewed and/or refactored:
- IMPORT_STUDY_CLASS = "org.mskcc.cbio.portal.scripts.ImportCancerStudy"
- REMOVE_STUDY_CLASS = "org.mskcc.cbio.portal.scripts.RemoveCancerStudy"
- IMPORT_CANCER_TYPE_CLASS = "org.mskcc.cbio.portal.scripts.ImportTypesOfCancers"
- IMPORT_CASE_LIST_CLA

[2016-04-11 18:35] chenh4 commented on #1024
@jjgao
discuss with JJ about the CANCER_TYPE values on April 12th 11:00am?

[2016-04-11 18:59] adamabeshouse commented on #971
The code to do this is ready, we just need to nail down the interface. Right now I have a working interface just as a prototype/placeholder but it's not pretty.

![image](https://cloud.githubusercontent.com/assets/636232/14438808/eec86a9c-fff5-11e5-96a7-64b6e1ea258a.png)

[2016-04-11 19:11] yichaoS commented on #1035
https://github.com/cBioPortal/cbioportal/pull/1036

[2016-04-11 19:11] #1035 closed

[2016-04-11 19:52] yichaoS commented on #743
https://github.com/cBioPortal/cbioportal/pull/1036

[2016-04-11 19:56] yichaoS commented on #743
https://github.com/cBioPortal/cbioportal/pull/1036

[2016-04-11 19:56] #743 closed

[2016-04-11 22:21] zhx828 opened #1039 "Sample/Patient ID link will be truncated if too long in study view clinical tab"

[2016-04-12 10:30] pieterlukasse opened #1041 "New ER diagram of DB"
FYI - I made a first draft of the new ER diagram (see attachments). Would be nice to have "regions" in the diagram, for easily finding back some parts.

[cbio_model_updated.pdf](https://github.com/cBioPortal/cbioportal/files/115668/cbio_model_updated.pdf)

[dbmodel.mwb.zip](https://github.com/cBioPortal/cbioportal/files/115674/dbmodel.mwb.zip)

This can be used to update the https://github.com/cBi

[2016-04-12 10:31] pieterlukasse commented on #517
@jjgao : Ok, I moved the diagram part to #1041

[2016-04-12 11:26] pieterlukasse commented on #767
@zheins: there is still only one link in https://github.com/cBioPortal/cbioportal/wiki/Downloads#seed-database. It would be nice to label this download link with some extra information like: what cBioPortal release is this (e.g. 1.1.0 or 1.2.0...) and what other data has been updated in the seed (e.g. latest gene information has been added, new pfam regions, etc). Having well prepared and up to da

[2016-04-12 13:27] jjgao opened #1042 "support DATAYPES in OQL"
e.g. DATATYPES: MUT AMP HOMDEL HETLOSS GAIN;

[2016-04-12 15:56] pieterlukasse commented on #848
Items above now also refactored. Solution is ready for testing and merging on top of #1020

[2016-04-12 19:21] adamabeshouse commented on #1042
https://github.com/cBioPortal/cbioportal/pull/1043

[2016-04-12 19:21] #1042 closed

[2016-04-12 20:36] morungos opened #1044 "Maven site reports are broken with newer Mavens"
This is likely due to

[code]

which is pretty old, and all the codehaus stuff is a bit broken now

[2016-04-12 21:31] #1044 closed

[2016-04-12 21:32] morungos opened #1046 "Add Maven quality metric reports"
At the least this will include:
- jdepend
- PMD/CPD
- checkstyle

JaCoCo might be a nice extra, but it does play around with JVMs

[2016-04-13 01:50] jjgao commented on #767
@pieterlukasse good idea about some labeling. Ideally, we should support multiple versions.

[2016-04-13 02:03] jjgao commented on #971
@adamabeshouse maybe we should re-implement the menu bar with a proper menu, e.g. http://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=dropdowns-within-buttons

[2016-04-13 02:08] jjgao commented on #844
@pieterlukasse: If you throw an exception, would that break the whole importing?

[2016-04-13 02:09] jjgao commented on #929
@pieterlukasse: sure, please feel free to do that.

[2016-04-13 02:13] jjgao commented on #732
@adamabeshouse good catch. Maybe use another color. How about orange?

[2016-04-13 03:02] schultzn commented on #971
This will get even more complex once we have the following options:
 - OncoKB
 - show multiple mutations
 - distinguish germline from somatic

So I am not sure a simple menu will work, as listing all possible combinations will become very difficult.

Can we get together tomorrow to discuss?

On April 12, 2016 at 10:03:44 PM, JianJiong Gao (notifications@github.com) wrote:

@adamabeshouse maybe we

[2016-04-13 06:56] ugurdogrusoz opened #1047 "Change quick help note in network view"
Change the quick help note at the top of the network view as follows:
Double-click nodes/edges for details. Right-click edges for detailed process-level network view.

[2016-04-13 06:59] ugurdogrusoz commented on #1047
Also add a button at the bottom of the Details tab for Interactions with the label "Detailed process (SBGN)" does the same thing as right-clicking on an interaction and pops up the SBGN view.

[2016-04-13 07:01] ugurdogrusoz opened #1048 "Targeted by drug interaction problems in network view"
- Targeted by Drug interaction edges are not displayed in the right color (they should be orange as in the legend).
- Targeted by Drug interactions should not try to open up an SBGN view!

[2016-04-13 07:02] ugurdogrusoz opened #1049 "Use PC2 beta service to get latest Paxtools in network view"
Let’s use the PC2 service in the beta site to get the latest Paxtools (beta.pathwaycommons.org/pc2/) in the network view

[2016-04-13 07:03] ugurdogrusoz opened #1050 "Update Help in network view for SBGN view"
Provide help on SBGN view under Help tab in the simple network view

[2016-04-13 07:05] ugurdogrusoz opened #1051 "Broken Biogene service in SBGN network view"
Biogene service is broken in SBGN network view:

Right-clicking on a gene in SBGN view does not show its properties, it says: “Error retrieving data: Method Not Allowed”.

[2016-04-13 07:06] ugurdogrusoz opened #1052 "Trim unused functionality from menus and toolbar in SBGN network view"
We should get rid of the functionality that we don't expect to be used (mostly curation abilities such as adding new nodes/edges to the network).

[2016-04-13 07:08] ugurdogrusoz opened #1053 "Incorrect placement of info boxes in SBGN network view"
Incorrect placement of info boxes (when there are 3 or more; easy to reproduce). Metin thinks the original SBGN-ML model from Paxtools has this error. So, the fix needs to be done in Paxtools.

[2016-04-13 07:09] ugurdogrusoz opened #1054 "Flickering effect due to re-layout when loading SBGN network view"
We see a flickering effect due to re-layout when opening up an SBGN network view. Can we somehow delay the rendering until after collapsing complexes and applying layout?

[2016-04-13 11:21] pieterlukasse commented on #844
@jjgao  seems to be an issue only for this specific CNA file from the BRCA TCGA study. @priti88 tested for her own study and did not face this issue for her CNA file.
To answer you question: yes, throwing an exception stops the import process. But this is exactly what we want in case of unexpected issues.

[2016-04-13 15:41] pieterlukasse commented on #844
@jjgao as discussed today, the validator and loader correctly deal with any duplications now by skipping duplicated entries. With this fix in the loader (which will be part of #1020), the error above did not occur any more. Therefore I am closing this issue. The fix also includes a change that lets the `MySQLbulkLoader` throw an error if this situation is encountered again (which will always be be

[2016-04-13 15:44] pieterlukasse opened #1055 "Code clean-up: DaoGeneOptimized.flushUpdateToDatabase"
Should the method `daoGeneOptimized.flushUpdateToDatabase()` be deprecated? It seems quite tricky as it ends up doing a `TRUNCATE` on `gene` and `gene_alias` tables. I'm not so sure this is the way to go if we want to update the gene lengths (where this method is used).

[2016-04-13 17:32] adamabeshouse commented on #732
Sounds good to me. Do you think dark or light? Maybe dark orange for recurrent, light for non-recurrent?

[2016-04-13 17:35] zhx828 commented on #850
@j-hudecek  I'm adding the auto width for the library. But for the bigger dataset, I would suggest to predefined the column width, otherwise it's going to be very slow. (I tested the 10000 samples + 400 attributes, the table will never be generated)
The way I used to check the cell/header content length is:
[code]
If we could find better way to do so, please let me know.

[2016-04-13 17:56] j-hudecek commented on #850
Perhaps we could do use something hacky like "add 10px for each character" and only look at the first 30 rows. That shouldn't be a performance problem.
I think the easiest way how to make it usable is to allow changing of the column width by the user.

[2016-04-13 18:19] zhx828 commented on #850
@j-hudecek I have that. The library will support autoColumnWidth: true/false + columnMaxWidth: (width) in the table configuration parameters. You can also specify your columnWidth as well. If columnWidth has been specified, the autoColumn will be disabled.

For large dataset (100000 cells ), I has simply used string length * 12

[2016-04-13 22:10] istemi-bahceci commented on #1051
@ugurdogrusoz  should be fixed now

[2016-04-13 22:51] istemi-bahceci commented on #1048
@ugurdogrusoz should be fixed now

[2016-04-14 02:23] Tcheutchoua-Steve opened #1058 "mvn install fails with issue on biojava3 and mskcc"
After following the installation procedures on the wiki,
while running mvn -DskipTests -e -X clean install

on the build from source menu page, had the following errors.

[cbiobug.txt](https://github.com/cBioPortal/cbioportal/files/218261/cbiobug.txt)

[2016-04-14 02:47] angelicaochoa opened #1059 "Can't add charts on study view page even after removing other charts."
Can't add charts on the study view page after the 30 chart alert window pops up even after removing charts from the page.

[2016-04-14 02:58] angelicaochoa opened #1060 "Can't view charts in the drop down menu after clearing all charts from study view page."
<img width="382" alt="screen shot 2016-04-13 at 10 52 22 pm" src="https://cloud.githubusercontent.com/assets/15623749/14515818/4350d000-01cb-11e6-92c2-f6d7dbaca039.png">

[2016-04-14 09:23] fedde-s commented on #1037
The same issue has been reported with more detail in #1038; marking this one as a duplicate.

[2016-04-14 09:30] fedde-s commented on #1038
We’re also facing this issue at The Hyve, and so is our client @awernibi. The upstream repository http://www.biojava.org/download/maven/ seems to have been removed as BioJava is now available from the Maven Central Repository (http://search.maven.org/#search|ga|1|g%3A%22org.biojava%22), but the only 3.x release still hosted there is 3.0, not 3.0.7. cBioPortal should probably adopt the 4.x series,

[2016-04-14 10:38] fedde-s commented on #1058
This issue has already been reported in #1038, marking this one as a duplicate.

[2016-04-14 14:09] holtgrewe commented on #1038
Does anyone know of a workaround Can I somehow obtain the jars and place them into `~/.m2`?

[2016-04-14 14:35] heuermh commented on #1038
The former site hosting for http://biojava.org is down, including unfortunately the biojava maven repository. Some content has been migrated to https://github.com/biojava/biojava.github.io but not javadoc, downloads, or the maven repository yet.

I'm familiar with cBioPortal and could help migrate to a newer version available on Maven Central.

In the meantime, we're trying hard to migrate the mis

[2016-04-14 15:48] heuermh commented on #1038
@fedde-s Migration from 3.0.7 to 4.2.0 in your code base should be relatively straightforward; take a look at my pull request here for help.  There may be some binary incompatibilities that only surface at runtime though, so take care in testing after making the change.

[2016-04-14 15:49] jjgao opened #1064 "Re-architecture, sprint 1"

[2016-04-14 16:23] fedde-s commented on #1038
@heuermh Thank you for your effort and information! I see that @inodb has been assigned to the pull request (#1065). I’ll look how far he has gotten tomorrow, and try it out myself too then.

[2016-04-14 20:44] jjgao opened #1070 "public tcga data issues"
- [x] rppa data https://github.com/cBioPortal/cbioportal/issues/748
- [x] firehose maf https://github.com/cBioPortal/curation/issues/120
- [x] silent / splice site mutations https://github.com/mskcc/vcf2maf/issues/44
- [x] mirna id issue https://github.com/cBioPortal/cbioportal/issues/1013

[2016-04-14 21:53] JiaoJiao123 opened #1071 "add log scale to cross cancer histogram sliders"

[2016-04-15 10:42] aderidder opened #1073 "query using patientids issue"
I am dissecting the URL's parameters and I encountered the `patient_case_select` which can be `patient` or `sample`.
If I use `case_set_id=-1`, `case_ids=SAMPLE1` and `patient_case_select=sample` it works fine.
If I switch to `case_set_id=-1`, `case_ids=PATIENT1` and `patient_case_select=patient` it does not work.

Actual example:
http://www.cbioportal.org/index.do?cancer_study_id=acc_tcga&genetic

[2016-04-15 12:04] ugurdogrusoz commented on #1048
First part is fixed but I still see right-clicking on these edges trying to open up SBGN view?

[2016-04-15 12:13] #939 closed

[2016-04-15 12:13] #1038 closed

[2016-04-15 12:20] #1032 closed

[2016-04-15 12:21] jjgao commented on #995
@inodb could you fix this soon? Thanks.

[2016-04-15 12:21] #1001 closed

[2016-04-15 12:22] #1024 closed

[2016-04-15 12:24] #1029 closed

[2016-04-15 12:25] jjgao commented on #821
@inodb what's the status on this?

[2016-04-15 12:26] #871 closed

[2016-04-15 12:26] #891 closed

[2016-04-15 12:28] jjgao commented on #979
@adamabeshouse I assume this has been fixed for now.

[2016-04-15 12:28] #979 closed

[2016-04-15 12:28] #994 closed

[2016-04-15 12:30] #786 closed

[2016-04-15 12:33] jjgao commented on #820
superseded by #978

[2016-04-15 12:33] #820 closed

[2016-04-15 12:34] jjgao commented on #565
@adamabeshouse could you add some description about this task?

[2016-04-15 12:36] jjgao commented on #724
@ritikakundra update?

[2016-04-15 17:20] serlej opened #1075 "Failed to Load Sample Cancer Study"
Several issues
1. $PORTAL_HOME/core/src/main/scripts/cbioportalImporter.py --jvm-args "-Dspring.profiles.active=dbcp -cp $CONNECTOR_JAR:$CORE_JAR" --command import-study --meta-filename portal-study/meta_study.txt **Missing property files** **Documentation issue**
2. This version of the portal is out of sync with the database. You must run the **database migration script **located at PORTAL_HOME/c

[2016-04-15 18:28] inodb commented on #821
Still needs to be converted to a tsv staging file. Will check it out

[2016-04-15 20:52] adamabeshouse commented on #979
@jjgao I haven't touched it since my last comment, but it looks like Hongxin's pull request addressed it

[2016-04-15 20:53] adamabeshouse commented on #565
this is actually done for the new oncoprint branch

[2016-04-15 20:53] #565 closed

[2016-04-16 09:25] Tcheutchoua-Steve commented on #1058
Thanks for the info @fedde-s

[2016-04-18 09:00] istemi-bahceci commented on #1048
Fixed second part also.

[2016-04-18 09:08] istemi-bahceci commented on #1049
I'm getting a server side error when I try to use beta.pathwaycommons.org/pc2/ service.

![image](https://cloud.githubusercontent.com/assets/8645080/14599103/262f466e-055e-11e6-96b0-ec936202d303.png)

[2016-04-18 10:59] ugurdogrusoz commented on #1047
Please rename this button as originally specified!

[2016-04-18 11:00] #1051 closed

[2016-04-18 11:02] #1048 closed

[2016-04-18 15:32] zheins commented on #1075
Hi @serlej. If you'd like an immediate fix for issue 2, try running the sql at https://github.com/cBioPortal/cbioportal/blob/master/core/src/main/resources/db/migration.sql on your database or use the python script mentioned. We have not updated our downloadable seed database with the recent schema changes that have been made - this should be resolved soon.

Do you have more details about issue 1?

[2016-04-18 15:42] zheins commented on #1073
The reason this doesn't work is that on the query page when a patient ID is selected, it is actually being converted into its sample id(s) before the query is made. There is a bit of code cleanup that needs to happen in the QueryBuilder class to allow patient ids to be sent directly in the query.

@jjgao what do you think?

[2016-04-18 17:12] zheins opened #1078 "Percentage altered incorrectly displays 0% on small number of samples"
![image](https://cloud.githubusercontent.com/assets/10240498/14612803/2461b6d8-0567-11e6-8ba2-e8a3f2def71d.png)

Should this maybe be displayed as "<1%"?

[2016-04-18 19:42] serlej commented on #1075
Thanks Zachary. It worked. It looks like wiki is pretty old and does not match current code on loading of the data.

[2016-04-18 19:42] #1075 closed

[2016-04-19 10:33] pieterlukasse commented on #855
Steps to reproduce:
- go to TCGA Mesothelioma study overview: http://www.cbioportal.org/study.do?cancer_study_id=meso_tcga
- go to the [samples overview page](http://www.cbioportal.org/case.do?cancer_study_id=meso_tcga&case_id=TCGA-3H-AB3K#nav_case_ids=TCGA-3H-AB3K,TCGA-3H-AB3L,TCGA-3H-AB3M,TCGA-3H-AB3O,TCGA-3H-AB3S,TCGA-3H-AB3T,TCGA-3H-AB3U,TCGA-3H-AB3X,TCGA-3U-A98D,TCGA-3U-A98E,TCGA-3U-A98F,TCGA

[2016-04-19 13:36] jjgao commented on #855
Yes, it's a critical issue. This is on @inodb's list #995, but feel free to fix it if you like (please coordinate with @inodb so that no duplicated work would be done). Please send separate pull request for this to hotfix branch. Thanks!

[2016-04-19 14:22] pieterlukasse commented on #855
Hi @jjgao , thanks for the update. @aderidder has a local branch with some tentative fixes for this (not complete though). But he will only be back on Thursday. Maybe it is best to let @inodb fix it and then let @aderidder review it.

The problem is quite simple actually, `mutTableIndices` element is only added when mutation data is present, but it is referenced in a global javascript function reg

[2016-04-19 14:33] inodb commented on #855
I'll have a look

[2016-04-19 14:33] inodb commented on #995
Will have a look, duplicate of #855

[2016-04-19 14:33] #995 closed

[2016-04-19 15:09] inodb commented on #855
Made a quickfix in https://github.com/cBioPortal/cbioportal/pull/1081

[2016-04-19 15:53] inodb opened #1082 "Patient View move global initialization code to separate util js file"
There are a lot of global variables in the patient view. We can start by moving some to a separate util JS script to get a better overview of which ones are necessary.

[2016-04-20 07:03] istemi-bahceci commented on #1049
This issue should be  fixed, Igor fixed server settings on PC side.

[2016-04-20 09:20] istemi-bahceci commented on #1047
This is fixed now

[2016-04-20 09:41] istemi-bahceci commented on #1053
This should be fixed, I've performed tests on local paxtools graph results, as soon as paxtools deployment of beta service of PC2 is updated we should be able to see the correct results

[2016-04-20 11:19] #1047 closed

[2016-04-20 12:38] #1049 closed

[2016-04-20 12:40] ugurdogrusoz commented on #1050
[cBioPortal.Network-Help.docx](https://github.com/cBioPortal/cbioportal/files/227917/cBioPortal.Network-Help.docx)

Changes are recorded with track changes on (at the very end of the document). Please make sure to take hyperlinks as well!

[2016-04-20 13:59] pieterlukasse opened #1083 "Portal homepage fails when cancer type "ALL" is not present"
The code https://github.com/cBioPortal/cbioportal/blob/rc/core/src/main/java/org/mskcc/cbio/portal/util/internal/AccessControlImpl.java#L88 adds a dummy "all" cancer study with "all" cancer type to the cancer study list. This potentially conflicts with "ALL (Acute Lymphoid Leukemia)". I also causes an exception in the code at https://github.com/cBioPortal/cbioportal/blob/rc/core/src/main/java/org/

[2016-04-20 14:09] pieterlukasse commented on #1083
@n1zea144 : seems to be old code. Do we really need this dummy record "all" to be added on the fly?

Seems to be a (partial) security issue as well since "Acute Lymphoid Leukemia" cancer type is added to the map `visibleTypeOfCancerMap` regardless of their access rights to studies of this cancer type.

[2016-04-20 19:22] #1053 closed

[2016-04-20 22:16] schultzn opened #1085 "Adding genes via modify query does not work after starting a query from the study view - specific to Safari"
When using Safari, adding genes via "modify query" does not work after starting a query from the study view.

To reproduce, go to the patient view of any studio in Safari. Add one or two genes to the query, hit query.

Then clock modify query, manually add a gene, hit submit.

There is no error message, but results are not updated.

JJ, can you please re-assign?

[2016-04-20 22:34] schultzn opened #1086 "Explain gene lists used for "Mutated Genes" and "CNA Genes" tables on study view"
The "Mutated Genes" and "CNA Genes" tables on the study view need a little info icon that describes that we only look at cancer genes in these tables. We also need to make that list available for viewing and download somewhere.

[2016-04-20 22:38] schultzn opened #1087 "Hotspots annotation needs a link to cancerhotspots.org"
In the mouseover for the hotspots icon in the mutation tables, we need a link to cancerhotspots.org

[2016-04-21 11:24] pieterlukasse opened #1088 "DB settings confusing"
The documentation in https://github.com/cBioPortal/cbioportal/wiki/portal.properties-Reference#database-settings is a bit confusing as it seems that some db properties are only used by the data loading scripts and not by the portal code (which takes config from spring?).

[2016-04-21 14:02] jjgao commented on #946
Here is another one from UCSC group: https://github.com/ucscXena/kaplan-meier

[2016-04-21 14:22] holtgrewe commented on #1088
I have spent the last two days setting up cBioPortal for private deployment on Flynn (roughly equivalent to Flynn).

This would be much easier if cBioPortal adhered to the [Twelve Factor App Principles](http://12factor.net/), that is giving configuration through environment variables. I have an internal patch that makes GlobalProperties consider the environment variables for each queried property.

[2016-04-21 15:35] holtgrewe opened #1091 "Importer broken"
When importing the `brca` study from the public data set list with current `rc` version.

[code]

[2016-04-21 21:31] schultzn opened #1092 "label alignments in new OncoPrint"
Nice work on the new OncoPrints - they look great in the new pancanatlas portal!!!

A few tiny requests:
- Can you line up the gene symbol with the frequency?
- in the legend, can you line up the label and the vertical center of the glyph?

the frequencies look nice and crisp, but the gene symbol does not - why?
Also, is there any way you can make the actual oncoprint slightly crisper?

![image](h

[2016-04-21 21:34] schultzn opened #1093 "misaligned gene symbols / frequencies and oncoprint rows in PDF"
I know we are almost ready to retire the existing oncoprints.. but I keep seeing slides with misaligned gene names / frequencies, which I think is a bug in the PDF output. If this is an easy fix, can you please fix it?

[2016-04-22 06:54] #1050 closed

[2016-04-22 07:00] ugurdogrusoz opened #1094 "Info box placement issue (Paxtools) in SBGN network view"
To reproduce:
- Select "TP53 and MDM2/4 alterations in GBM" under Example Queries
- Select interaction from TP53 to PTEN (type controls-expression-of) and pop up its SBGN view
- Both of the two info boxes of the nucleic acid feature in Cytosol named "PTEN mRNA" are placed at the top of the node but overflowing node boundaries.
![infobox-placement-bug](https://cloud.githubusercontent.com/assets/387

[2016-04-22 07:16] ugurdogrusoz commented on #1094
Here is another (more serious) problem with info box placement:
- Select "TP53 and MDM2/4 alterations in GBM" under Example Queries
- Select interaction from CHEK1 to HUS1 (type in-complex-with) and pop up its SBGN view
- The macromolecule named p-5S-BRCA1 in one of the big complexes in nucleoplasm has a total of 6 state variables but only one of them is shown and it's in a completely irrelevant l

[2016-04-22 08:54] fedde-s commented on #1091
The `rc` branch has recently incorporated a major update in [the data loading scripts](https://github.com/thehyve/cbioportal/wiki/Data-Loading), and the format of the data files has changed. See [this wiki page on the new data format](https://github.com/thehyve/cbioportal/wiki/File-Formats) and  [this page on the differences with the old format](https://github.com/thehyve/cbioportal/wiki/Data-Load

[2016-04-22 08:59] holtgrewe commented on #1091
Thanks for the information!

[2016-04-22 08:59] #1091 closed

[2016-04-22 09:29] holtgrewe commented on #1091
For the record, (some of) the public zips that can be downloaded have `Entrez_Gene_Id` set to `0`. A mapping between HUGO and Entrez ID can be downloaded [here](http://tinyurl.com/zyoc54t).

The following snippet can be used for fixing the `data_mutation_extended.txt` files

[code]

[2016-04-22 10:01] fedde-s commented on #1091
cBioPortal (at least the rc version) already does fall back to using the gene symbol column if no Entrez identifier is given, and since [the MAF specification](https://wiki.nci.nih.gov/display/TCGA/Mutation+Annotation+Format+%28MAF%29+Specification) does sort of define '0' to mean ‘Unknown’ and more people seem to use it as such, I was already making a fix to fall back to the symbol in that case t

[2016-04-22 10:09] holtgrewe commented on #1091
Is there a plan yet when the public data zips will be upgraded to the new data format?

[2016-04-22 10:11] fedde-s commented on #1091
@n1zea144, can you comment on this question?

[2016-04-22 12:07] #855 closed

[2016-04-22 16:41] ugurdogrusoz opened #1095 "Minimize number of SBGN network view related files"
Onur says we should reduce the number of SBGN network view related files. Perhaps we could minify using gulp? @onursumer or @jjgao could guide?

[2016-04-22 17:13] ugurdogrusoz opened #1096 "Crash on network query"
@pieterlukasse discovered the following error:

http://www.cbioportal.org/alpha/index.do?cancer_study_list=brca_tcga&cancer_study_id=brca_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=brca_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=brca_tcga_gistic&genetic_profile_ids_PROFILE_MRNA_EXPRESSION=brca_tcga_rna_seq_v2_mrna_median_Zscores&Z_SCORE_THRESHOLD=2.0&genetic_profile_

[2016-04-22 18:28] schultzn opened #1097 "Enrichments analysis is not working in MSK-IMPACT for the full cohort"
http://bit.ly/1WKSIOu

![image](https://cloud.githubusercontent.com/assets/11892704/14751135/6e37f510-0896-11e6-9ec3-53a29850da4e.png)

[2016-04-22 18:43] ozgunbabur opened #1098 "Network view, "View --> Remove Highlights" bug"
On the network view, when I click View --> Remove Highlights, all the genes' genomic data (large circles) becomes displayed. And after that, the only way to hide them again is to select and deselect.

[2016-04-22 18:47] ozgunbabur opened #1099 "Network view, drugs are not FDA approved"
I noticed that in the network view, if I choose to display drug target relations, all the drugs come with a white background indicating they are not FDA approved. However, there should be at least some FDA-approved drugs when I have certain genes in my view like EGFR.

Also all drugs have a "n/a" tooltip text. If this is not due to a bug, maybe not displaying a tooltip text is better than displayi

[2016-04-22 18:53] ozgunbabur opened #1100 "Network view, about navigation to detailed view"
When I left-click on an edge in the network view, the edge is selected. When I right-click on that edge, a new window opens with a detailed view about this edge, but the edge on the simple view is not selected.

I think the edge should be selected with both clicks because after I navigate to the detailed view and come back to the simple view, I am losing which edge was right-clicked.

[2016-04-22 19:18] onursumer commented on #1095
I think [sbgnviz](https://github.com/iVis-at-Bilkent/sbgnviz-js) already has gulp support, but the current PR  #941 has source files, instead of minimized binaries.

[2016-04-25 13:11] pieterlukasse opened #1102 "FUSION data is not retrieved by new data manager/oncoprint"
Fusion data is present in some studies, like prostate cancer studies (e.g. [see this query](http://www.cbioportal.org/index.do?cancer_study_list=prad_su2c_2015&cancer_study_id=prad_su2c_2015&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=prad_su2c_2015_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=prad_su2c_2015_gistic&genetic_profile_ids_PROFILE_MRNA_EXPRESSION=prad_su2c_2015_rna_se

[2016-04-25 13:13] pieterlukasse commented on #1102
@jjgao, @n1zea144  : can you please comment on the possible solutions? I think the first one is better, and by far the easiest one. I just need to confirm whether the fusion data is indeed loaded into the mutations genetic profile. Can you confirm this?

[2016-04-25 16:53] schultzn opened #1104 "Mutation tables: Sorting of in-frame insertions and deletions is not correct"
It looks like these complex indels are sorted by the last number in the amino acid change, instead of the first one. See the link below and the screenshot.

http://bit.ly/1N4ipXR

![image](https://cloud.githubusercontent.com/assets/11892704/14791621/a6aafda2-0ae4-11e6-9983-359219fb5b8f.png)

[2016-04-25 19:15] pieterlukasse commented on #1102
This issue seems to break the "Plots" tab as well, since apparently the `ImportFusionData` class does not add any samples to the database (but it looks like it expects to reuse the "mutations" profile instead?)

[code]

[2016-04-25 20:00] yichaoS opened #1107 "XssFilter "getParameter" not working with long arraylist"

[2016-04-26 01:24] adamabeshouse commented on #1092
Are the crispness issues (labels, oncoprint) only on retina displays? If so, it's related to a rendering property called devicePixelRatio, I'll look into fixing this.

[2016-04-26 01:34] jjgao opened #1109 "sorting by Annotation is not correct in the public portal without oncokb anntoation"
![image](https://cloud.githubusercontent.com/assets/840895/14804048/860f9e60-0b2d-11e6-825d-599767a9d36e.png)

[2016-04-26 02:37] jjgao opened #1110 "check if pdb files are available on https"
if so, we can remove the proxy.

[2016-04-26 03:59] schultzn commented on #1092
It could be - I don't think I have a non-retina display to test on.

[2016-04-26 14:06] jjgao commented on #1102
@pieterlukasse fusion data are currently added as mutation data.

[2016-04-26 14:29] n1zea144 opened #1111 "link to darwin patient view"
We want to provide a link to the darwin patient view from the cBioPortal patient view when a user is looking at a patient from the MSK-IMPACT study (and when the user is not coming from the MSK-CIS system - see me for more info).

First we need to check if the user has access to the patient data in darwin:

Invalid:
http://darwin.mskcc.org/authCheck/authCheck.jsp?p_userName=XXeubankm&p_dmp_pid=P-0

[2016-04-26 15:13] #1107 closed

[2016-04-26 15:15] yichaoS commented on #1097
https://github.com/cBioPortal/cbioportal/pull/1106

[2016-04-26 15:15] #1097 closed

[2016-04-26 15:26] jjgao opened #1112 "issue with enrichment tab -- rppa"
http://bit.ly/1pBxvct

![image](https://cloud.githubusercontent.com/assets/840895/14823704/78426212-0ba1-11e6-9d63-215f2ebab77c.png)

[2016-04-26 16:42] morungos opened #1113 "Remove calls to System.exit() from command logic"
We've found a few issues for failing tests in https://github.com/cBioPortal/cbioportal/pull/963. Ultimately, the problem is that some of the `main()` methods call `System.exit()`, which kills the JVM. This makes testing impossible.

We should refactor all the classes that expose a `main()` to be a `Runnable`, where the `main()` invokes the `Runnable.run` and turns any thrown exceptions into a non-

[2016-04-26 17:52] #1112 closed

[2016-04-26 18:51] morungos opened #1116 "Misleading usage documentation for --loadMode in ConsoleUtil"
The documentation for `--loadMode` says `--loadMode <[directLoad|bulkLoad(default)]>` but, in practice, `--loadMode` doesn't have a default value. Omitting it causes the script to quit with an error message.

Either it should default sensibly, or the error message should be amended and the usage make it clear this is a required argument.

[2016-04-26 19:15] morungos opened #1117 "Import no longer works with vcf2maf output"
This is a problem I just observed attempting to load our GENIE data. the current `vcf2maf` makes the `Entrez_Gene_Id` column always zero. However, the newly validating import logic (cf `ImportExtendedMutationData`) reads as follows.

Essentially, because 0 passes the validity test, a correct Entrez gene identifier is now required. This is a breaking and significant change as the old logic would al

[2016-04-26 19:45] morungos commented on #1117
There's more to this, too, as I read the logic here, there's a bunch of dead code. Since negative numbers can't be passed in the `TabDelimitedFileUtil.NA_LONG` condition can never be false. And because it can never be false, the following `gene == null` conditions can never be true. The *only* way this logic works is with an Entrez gene id in place.

[2016-04-26 19:56] morungos commented on #1117
An appropriate fix seems to be to amend

[code]

to

[code]

Since `0` makes sense as an unknown marker, where no negative number is possible due to the preceding patch. `0` is also written by `vcf2maf`. I'll make a PR on this.

[2016-04-26 20:05] schultzn opened #1119 "Update Cancer Hotspots annotation icon mouseover text"
Add the cancerhotspots.org link, correct citation, change data from 2015 to 2016.

Change to:

Recurrent Hotspot
This mutated amino acid was identified as a recurrent hotspot (statistical significance, q-value < 0.01) in a set of 11,119 tumor samples of various cancer types (based on Chang et al., Nat Biotechnol. 2016).
Explore all mutations at http://cancerhotspots.org/.

[2016-04-26 20:44] istemi-bahceci commented on #1094
Paxtools instance on beta service was not up to date, Igor made another deployment and everything should be fine now.

[2016-04-27 03:13] jjgao opened #1121 "Submit button is no longer appending "&Action=Submit" in IE10 or IE11"
@JiaoJiao123 this is urgent - please prioritize. Thanks.

[2016-04-27 14:15] jjgao opened #1125 "missing mrna profiles in enrichments"
For the following query, why the mRNA expression profile is not showing up in the enrichments analysis?

http://bit.ly/1XW6BYA

![image](https://cloud.githubusercontent.com/assets/840895/14855142/9690e42c-0c60-11e6-9794-2492eefcb39c.png)

![image](https://cloud.githubusercontent.com/assets/840895/14855236/f975a42e-0c60-11e6-9be8-6b28cab2b341.png)

[2016-04-27 14:17] jjgao commented on #1125
In this query, all expression profiles are missing: http://bit.ly/1XW6Gvr

[2016-04-27 18:37] #1039 closed

[2016-04-27 18:37] #881 closed

[2016-04-27 19:19] jjgao opened #1129 "Co-Expresssion issue"
It does not allow the selection of "Show Only Positively (or Negatively) Correlated" and the lists seem to be incorrect.

[2016-04-28 01:25] adamabeshouse opened #1133 "Histogram in oncoprint"
Put histograms (i.e. stacked bar plots) of alteration types, by gene, next to the oncoprint.

It may look something like below:
![image](https://cloud.githubusercontent.com/assets/636232/14872880/8d995760-0cbe-11e6-8ebf-8ede21d86dfe.png)
or
![image](https://cloud.githubusercontent.com/assets/636232/14872883/9450cd36-0cbe-11e6-9095-73b9fe96a956.png)

[2016-04-28 01:26] adamabeshouse commented on #1133
CC: @jjgao @schultzn

[2016-04-28 08:33] fedde-s commented on #1113
I don’t think System.exit() strictly makes testing impossible, there’s things like http://stefanbirkner.github.io/system-rules/index.html#ExpectedSystemExit and `SecurityManager`s. But having the main() function as a separate outer layer that basically does nothing but map out which exception types yield which exit statuses for this particular command may be a valid idea.

[2016-04-28 08:50] fedde-s commented on #1113
It may then make sense to subclass `Runnable` put that mapping logic in a separate function, and have all of the `main` functions do nothing but call that function. It would help standardising the meaning of exit statuses like the BSDs aim to do in their [sysexits](https://www.freebsd.org/cgi/man.cgi?query=sysexits&sektion=3) header, although I don’t know if that’s worth the effort in this case.

[2016-04-28 08:52] pieterlukasse commented on #1088
I agree with @holtgrewe , just not sure what are the best follow-up steps. @inodb, @morungos  : any ideas? Maybe you guys are already thinking about changing some of this?

[2016-04-28 09:14] pieterlukasse commented on #951
can be closed, right?

[2016-04-28 09:14] #951 closed

[2016-04-28 09:21] holtgrewe commented on #1088
Another place where the data source appears is in [applicationContext-business.xml](https://github.com/cBioPortal/cbioportal/blob/master/business/src/main/resources/applicationContext-business.xml#L73-82).

Also, this is the place where I attempted to resolve the the mysql timeout issue. This brought me over the timeout of 10 minutes but I'm not certain that the portal will continue to work overni

[2016-04-28 09:29] holtgrewe commented on #1088
I google'd around and found [some useful information](https://devcenter.heroku.com/articles/connecting-to-relational-databases-on-heroku-with-java#using-the-database_url-in-spring-with-xml-configuration).

It should be possible to interpret the `DATABASE_URL` environment variable and fall back to whatever is in the `portal.properties` otherwise. The relevant part of `JdbcUtil.java` should be adapt

[2016-04-28 12:30] ecerami commented on #767
For now, I would vote for the simplest option that we can do quickly.  e.g. it seems that once we merge all of the hyve's lastest work from rc to master, "regular" users will not be able to follow the wiki steps, because the seed database will be out of sync.

[2016-04-28 12:41] pieterlukasse commented on #767
@jjgao : is this something you and your team could do? I.e. make a new release of the seed DB for 1.2.1? And perhaps update the `gene` and `gene_alias` (and related tables) in the seed as well? (Regarding this last part, I'm not so sure how to deal with revoked/removed genes. Do you keep them to support old datasets?)

[2016-04-28 15:04] priti88 commented on #844
I am getting an error while importing the test study (study_es_0) for the first time. It works on second attempt. Error:
[code]

[2016-04-28 15:13] jjgao commented on #1102
@pieterlukasse as we discussed, the fusion data data and mutation data should be using the same profile ID. In the validator, we should allow multiple mutation files for the same mutation profile ID.

[2016-04-28 15:49] jjgao opened #1135 "Enrichment / RPPA: Important proteins are missing from the graph or misplaced"
http://bit.ly/1rkWGSc

cannot find ESR1 and GATA3 in this graph, but they are at the top of the chart. EEF2K is misplaced - it's among three most overexpressed proteins in the graph  but in the chart it is downregulated.

![image](https://cloud.githubusercontent.com/assets/840895/14892024/17f34042-0d37-11e6-99e2-ff77d3ba832c.png)

[2016-04-28 19:49] zheins opened #1138 "Data Loading Issues"
MAF importing: If Entrez_Gene_Id is invalid, we should fall back to Hugo_Symbol instead of skipping the row. @pieterlukasse is this behavior applied to other data types? It seems like this is just a one off bug by the way the code is structured.

Clinical data importing: Backwards compatibility issues bug where MIXED is not being passed into the attribute type enum.

[2016-04-28 20:14] inodb opened #1139 "Remove CAISIS_ clinical attributes from timeline code"
Once the `CAISIS_` prefixed clinical attributes are removed from the database the clinical timeline code should be updated accordingly, see https://github.com/cBioPortal/cbioportal/pull/926.

[2016-04-28 20:37] #1094 closed

[2016-04-28 20:53] ecerami commented on #844
re-assigning to @pieterlukasse.

@pieterlukasse:  this is high priority to fix.  can you please look into this?  :-)