[2017-11-02 15:38] schultzn commented on #3167
Looks great - I like it! Nice work.

[2017-11-02 16:22] inodb opened #3308 "Double API calls genome nexus for canonical isoform endpoint"
This is not in production yet but should be fixed for 1.10.0
![screen shot 2017-11-02 at 12 20 06 pm](https://user-images.githubusercontent.com/1334004/32337477-846fbb7a-bfc8-11e7-825d-bad44602b3fb.png)

[2017-11-02 18:48] inodb opened #3310 "hardcode expected genome nexus version in frontend"

[2017-11-03 09:27] pieterlukasse opened #3313 "API call failing with HTTP 500 where 404 is expected"
Example:

http://www.cbioportal.org/api/molecular-profiles/acc_tcga_rna_seq_v2_mrna/molecular-data?sampleListId=wrong_sample_list&entrezGeneId=1&projection=SUMMARY

Notify: @ersinciftci

[2017-11-03 14:09] sandertan opened #3314 "Validate presence of gene panel"
When loading gene panel study data for a gene panel that is not in the database yet, the importer crashes. It would be nice if the validator checks if a study's gene panel is present in the database before loading the study.

[2017-11-03 16:11] #3131 closed

[2017-11-03 16:11] #3144 closed

[2017-11-03 20:40] jjgao commented on #3113
@adamabeshouse please change this during refactoring.

[2017-11-07 16:04] angelicaochoa commented on #3069
Hi @aindacochea,

Through the GDC portal site I was able to map the following:

TCGA-D3-A1Q6
* TCGA-HR-A2OG-06 (Met)

TCGA-D3-A1QA
* TCGA-D3-A1QA-07 (Met)
* TCGA-D3-A1QA-06 (Met)

TCGA-D9-A1X3
* TCGA-D9-A1X3-06 (Met)

TCGA-ER-A19T
* TCGA-ER-A19T-01 (Primary)
* TCGA-ER-A19T-06 (Met)

TCGA-ER-A2NF
* TCGA-ER-A2NF-01 (Primary)
* TCGA-ER-A2NF-06 (Met)

TCGA-HR-A2OG
* TCGA-HR-A2OG-06 (Met)

TCGA-HR-A2OH

[2017-11-07 16:17] aindacochea commented on #3069
Thank you very much Angelica

Reminding your previous answer in the case of that patient he have 2
samples and each sample had different molecular analysis (one sample had
mutation profile, meanwhile the other had other genomic test, RNA
expression and protein expression)

*"All genomic data for patient TCGA-HR-A2OG is linked to sample id
TCGA-HR-A2OG-06 except for CNA and mutations. I did a quick

[2017-11-07 16:59] #3293 closed

[2017-11-07 18:59] angelicaochoa commented on #3069
@aindacochea As @DarioS mentioned, there was a sample mix up and in the case of `TCGA-HR-A2OG`. For example, the sample identifier was changed from -01 to -06, so the data for both -01 and -06 belong to the same sample identifier (-06).

I believe this to be the same case for the patients I listed above containing only a single sample identifier. I cross referenced this information with what was a

[2017-11-07 19:24] schultzn opened #3320 "Adding genes via Enrichments tab not working"
![image](https://user-images.githubusercontent.com/11892704/32513177-5946c418-c3c7-11e7-9b25-13d0dfb72b87.png)

[2017-11-07 19:38] inodb opened #3321 "Don't show mutation assessor if missing"
when mutationasssessor is down all the other dots in the functional impact column should still show

[2017-11-07 22:53] jjgao opened #3322 "query from cancer study view page is not working"
http://www.cbioportal.org/alpha/

Hongxin: could you look into this quickly?

cc'ing @alisman

[2017-11-08 00:03] zhx828 commented on #3322
Query from study view to result page is working;
Query from study view to main page is complaining invalid sample id
The main page is not updated with the latest virtual study branch, the study summary icon should be a pie chart

[2017-11-08 13:31] jjgao opened #3323 "add the summary icon to the summary button"

[2017-11-08 13:33] jjgao commented on #3322
@zhx828 forgot to mention. Please use `localStorage.heroku = "cbioportal-frontend-pr-728";`

[2017-11-08 15:36] kalletlak opened #3324 "Virtual Studies data model and flow"
Proposed structure for saving virtual studies

###### back-end data model
[code]
### work flows

##### 1.  New Virtual Study
   ```Login --> Select studies --> Apply filters --> Save --> User can see studies in home tree structure```
##### 2.  Delete Virtual Study
   ```Login --> Click delete from tree structure --> update mongodb document by removing userid from users --> update Virtual Studies i

[2017-11-08 15:44] kalletlak commented on #3324
`origin` is to track the parent.
if its a new study the origin would be the `selected studies` else if it is created by applying filters on another virtual study then the new origin would be the `id`

[2017-11-08 15:48] jjgao opened #3325 "How to securely update sessions in session service"
For the virtual studies feature, we now need to be able to update sessions, e.g. email addresses. Is the session-service update API safe? Can people hack it to wipe out our data.

I think if we only allow update requests with a session ID and if there is no way to get a list of session IDs, it should be fine. But we do need to get sessions based on an email address...

[2017-11-08 15:55] kalletlak commented on #3325
May be we could add basic auth

[2017-11-08 16:25] tmazor commented on #2990
I was describing OQL to a group of users today and based on their feedback, I think it's very important to make clear which tabs do/don't respect OQL. I understand that making all tabs respect OQL is a larger project, but I think we have an obligation to let a user know when the website isn't doing what they think it's doing.

@jjgao @ecerami is this something that we can do in the near term?

@ad

[2017-11-08 18:07] zhx828 opened #3326 "The checked row will be unchecked if user selects gene in study view"
![nov-08-2017 13-06-57](https://user-images.githubusercontent.com/5400599/32566381-ba907796-c485-11e7-8a82-eec66d8f489f.gif)

[2017-11-08 19:40] tmazor commented on #2556
@adamabeshouse @sheridancbio I lost track of this conversation - did this issue get resolved?

[2017-11-08 20:10] jjgao commented on #3320
duplicate with #3250

[2017-11-08 20:10] #3320 closed

[2017-11-08 20:11] jjgao commented on #3250
@alisman I'll discuss with you on this.

[2017-11-08 20:12] jjgao commented on #3321
When MA is down, are you going to hide MA column?

[2017-11-08 21:12] jjgao commented on #3324
@kalletlak could you add the current format for comparison?

[2017-11-08 21:28] #2877 closed

[2017-11-08 21:31] zhx828 commented on #3322
Please use localStorage.heroku = "cbioportal-frontend-1-10-0" instead. The previous instance has been closed. This issue is no longer exist.

[2017-11-08 21:31] #3322 closed

[2017-11-08 21:32] zhx828 opened #3329 "Http 500 error when querying study in the virtual study branch"
![screen shot 2017-11-08 at 4 31 15 pm](https://user-images.githubusercontent.com/5400599/32575572-6ba88dea-c4a2-11e7-8aa7-656eda7e2ec7.png)

[2017-11-08 21:42] zhx828 opened #3330 "Study is not selected after clicking query button from study view page"
This is tested from iviz branch.

![nov-08-2017 16-44-02](https://user-images.githubusercontent.com/5400599/32576178-2464d9b4-c4a4-11e7-92d1-d671ccfad112.gif)

[2017-11-08 21:58] adamabeshouse commented on #2990
@tmazor hm I actually don't remember making a suggestion on this :D but maybe in the tab text we  could put an indicating icon?

[2017-11-09 00:22] zhx828 commented on #3330
Seems this only happens if there is virtual study created

[2017-11-09 16:06] jjgao commented on #2990
We really have two different types of tabs/analyses:

1. OncoPrint, Mutex, Enrichments, Survival separates the samples into two groups and compare them. (They respect OQL)
2. The other tabs with no comparison functionality in respect to "altered" and "unaltered" samples. (Not sure how they can respect OQL except for Mutations tab).

Just thinking it aloud: maybe we can separate the tabs into "comp

[2017-11-09 17:17] jjgao opened #3332 "tweaks on the cancer types summary tab"
- [x] if there is only one study, select "cancer type" by default
- [x] if there is only one study and one cancer type, select "cancer type detailed"
- [x] solve the "cancer type detailed" issue when there are too many of them
- [x] Use cancer study shortName prop when grouped by study
- [x] fix slider expansion issue

[2017-11-09 19:19] tmazor commented on #2990
@jjgao the Plots & Co-expression tabs both highlight samples with mutations and also don't respect OQL, so those tabs fall into the same boat as the Mutations tab.

@adamabeshouse whoops I guess I'm imagining things - but I like the idea of an indicator icon!

[2017-11-09 19:41] jjgao opened #3333 "switch to Cancer Type Summary when querying multiple studies"

[2017-11-09 19:54] jjgao commented on #3324
@kalletlak I think we should also put a data model version in it.

[2017-11-09 20:10] jjgao commented on #3324
from @kalletlak: the current one.

[code]

[2017-11-09 20:17] #3069 closed

[2017-11-09 20:53] adamabeshouse commented on #2990
@tmazor @jjgao maybe we can design a OQL filter icon to use wherever we want to indicate it, e.g. in the tab header, in the tooltip for highlighted samples with mutations

something like http://fontawesome.io/icon/filter/

[2017-11-09 22:44] #3329 closed

[2017-11-09 22:46] jjgao opened #3336 "option to add gaps between different groups based on clinical attribute"
I found people like to add a space between different groups when sorting by a clinical attribute. Maybe we can implement that?

![image](https://user-images.githubusercontent.com/840895/32633473-a8a852e2-c575-11e7-9077-56d35a380770.png)

[2017-11-09 23:56] schultzn commented on #2990
I like the idea of two general categories!

I also think we should have a way to show OQL results on the mutations tab. Maybe by graying out non-selected mutations?

[2017-11-10 15:47] jjgao opened #3337 "How to deal with different versions of TCGA studies?"
Now that we have virtual studies, the duplication of samples in our database will be an outstanding issue. For example, one can merge all studies in the public portal now, and a lot of the TCGA samples get duplicated in the merged virtual study.

We have talked about supporting study/profile versioning (e.g. one breast TCGA study with multiple versions and only one version can be selected). I thin

[2017-11-10 15:52] jjgao opened #3338 "display study track by default"
@adamabeshouse is it possible to display the "Study of origin" attribute by default?

[2017-11-10 16:17] inodb commented on #3330
@zhx828 If you select multiple studies, they are not selected after clicking query (#3335 doesn't seem to solve this)

[2017-11-10 16:19] inodb commented on #3330
@zhx828 also clicking the "query this study" button does not seem to work yet for multiple studies?

[2017-11-10 16:23] kalletlak opened #3339 "Study name missing beside 'Modify Query' button"
cbioportal beta
![screen shot 2017-11-10 at 11 21 04 am](https://user-images.githubusercontent.com/12956870/32667688-6208fb4a-c609-11e7-909a-67f0261eb535.png)
cbioportal public
![screen shot 2017-11-10 at 11 21 14 am](https://user-images.githubusercontent.com/12956870/32667692-6456f8fc-c609-11e7-8e60-93ad0bcaad14.png)

[2017-11-10 16:33] kalletlak opened #3340 "Error querying virtual study"
Example http://www.cbioportal.org/beta/study?id=5a05d43f498e5df2e29807b4#summary

![screen shot 2017-11-10 at 11 31 20 am](https://user-images.githubusercontent.com/12956870/32668157-cf486276-c60a-11e7-8ee5-462f9487804c.png)

![screen shot 2017-11-10 at 11 32 00 am](https://user-images.githubusercontent.com/12956870/32668160-d1737e28-c60a-11e7-8437-c4e24bf1c3c5.png)

[2017-11-10 16:39] kalletlak commented on #3330
Somewhat related #3340

[2017-11-10 16:52] kalletlak commented on #3330
@zhx828 added comment on #3335

[2017-11-10 17:02] jjgao opened #3341 "how to deal with merging many studies"
We can now merge up to all studies in the portal into a virtual study. The problem is that when viewing all studies in the study view page, it takes a lot of time to load and render. It may kill the browser too. We would need to find a solution. A few options:

- [x] only allow merging/viewing fewer than 20 (?) studies [short term]
- [ ] display fewer attributes. [long term]
- [ ] improve api perf

[2017-11-10 17:15] jjgao opened #3342 "define clinical data vocabulary and validate them"
@ritikakundra @yichaoS Do we have a vocabulary for some of the attributes? Can we put them here and refine them? @pieterlukasse suggested that rules could be built into the validator -- I thought it's a great idea.

[2017-11-10 19:59] adamabeshouse commented on #3336
this wouldn't be too hard to implement. what would be a good UI for this?

[2017-11-10 20:00] adamabeshouse commented on #3338
definitely

[2017-11-10 21:44] jjgao commented on #3336
Maybe add another checkbox under `View`: `Show whitespace between sorted clinical groups`?

![image](https://user-images.githubusercontent.com/840895/32679889-236d9f6c-c636-11e7-9623-6cbc6fe1b556.png)

[2017-11-10 21:49] adamabeshouse commented on #3336
That's a good idea, so if it's not sorted then there's no effect. That sounds good to me.

[2017-11-10 21:51] jjgao commented on #3336
yes.

[2017-11-10 22:00] adamabeshouse opened #3345 "export oncoprint data in oncoprinter-ready format"

[2017-11-10 22:28] alisman commented on #3339
Problem is that it seems iviz changes caused the following event not to be fired: @adamabeshouse  any wisdom?
** $.when(window.QuerySession.getAlteredSamples(), window.QuerySession.getStudyPatientMap(), getCohortName()).then(function(altered_samples, studyPatientMap, studyName) {**

[2017-11-10 22:55] adamabeshouse commented on #3338
https://github.com/cBioPortal/cbioportal/pull/3346

[2017-11-10 23:02] #3338 closed

[2017-11-10 23:57] adamabeshouse commented on #3339
good catch @alisman https://github.com/cBioPortal/cbioportal/pull/3347

[2017-11-10 23:57] #3339 closed

[2017-11-10 23:59] #3278 closed

[2017-11-11 00:06] adamabeshouse commented on #3336
let's leave this until after 1.11?

[2017-11-11 06:46] wdduncan opened #3348 "cbioportal.war not able to deploy to tomcat 8"
I am trying to set up a local instance of cbioportal  using the installation instructions outlined here:
http://cbioportal-inodb.readthedocs.io/en/latest/README.html

I am able to load the database fine. That is, I can run the data load and validator scripts. However, when go to deploy the war file, I am getting errors. There is a lot to print out, but here are some:

Error creating bean with name

[2017-11-11 11:32] ugurdogrusoz opened #3349 "network view comes up empty"
An "Uncaught TypeError" is seen in the console.

[2017-11-11 17:48] schultzn commented on #3336
Love the idea!

[2017-11-12 01:00] DarioS opened #3350 "Mutations Y-Axis Max Setting Fails"
If the highest number of mutations at a particular site is a number like 92 and I want to make it a nice, round number like 100, the typing of 100 into the input box fails to take effect without an error message to the user.

[2017-11-13 13:47] jjgao opened #3351 "API for NA vs WT"
Currently, we have to check both case list and gene panel data to determine whether a gene is sequenced in a sample. Can we develop an API to combine that?

input: a list of samples, a list of genes.
output: a matrix to indicate whether a gene is sequenced in a sample.

... so that we can have a simple way to address this: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cb

[2017-11-13 15:34] inodb opened #3352 "Reusing session_id between beta and cbioportal.org not always working"
Perhaps this is expected behavior but I can't seem to always reuse `session_id`s between bet and public:

e.g.:
http://www.cbioportal.org/beta/index.do?session_id=5a09baa0498e5df2e2982370&show_samples=false&
Works fine
But this
http://www.cbioportal.org/index.do?session_id=5a09baa0498e5df2e2982370&show_samples=false&
fails:
![screen shot 2017-11-13 at 10 34 36 am](https://user-images.githubusercon

[2017-11-13 15:36] inodb commented on #3352
This is expected

[2017-11-13 15:36] #3352 closed

[2017-11-13 15:40] zhx828 opened #3353 "Null Pointer Exception when query combined studies with genes - beta portal"
After submitting all samples with KRAS TP53 query, the backend does not respond which leads to empty page. And this is random(maybe study specified). Was doing the query in http://www.cbioportal.org/beta/study?id=5a07544b498e5df2e29811c5#summary

The backend throws the following error:
![screen shot 2017-11-13 at 10 39 36 am](https://user-images.githubusercontent.com/5400599/32734096-fc45c6dc-c85e

[2017-11-13 15:42] kalletlak commented on #3353
@zhx828 fixed this in https://github.com/cBioPortal/cbioportal/pull/3343

[2017-11-13 16:48] pieterlukasse opened #3355 "Disable heatmap menu in oncoprint when querying multiple studies?"
I just combined a few studies with some expression data (expression data in at least one of them), and I get this oncoprint after adding the heatmap:

![image](https://user-images.githubusercontent.com/2900303/32737512-92c2a838-c89a-11e7-915c-e2f729d32600.png)

I was wondering whether we should support expression data related features like this now? Especially the heatmap could be an issue given e

[2017-11-13 16:48] pieterlukasse commented on #3355
Notify: @jjgao @schultzn

[2017-11-13 17:01] jjgao opened #3356 "disable heatmap for multi-study oncoprint"

[2017-11-13 17:03] jjgao opened #3357 "querying a virtual study not working from study view page"
@zhx828 could you verify @kalletlak's pr addressed this?

[2017-11-13 17:05] fedde-s commented on #3355
Technically the heatmap does already keep the profiles from different studies strictly separate, even if the menu doesn't clarify which profile is which. The screenshot below shows an Oncoprint with two expression heatmaps, each with data only for the samples of one of the two studies, and a heatmap menu in which the two profiles are indistinguishable by name.

![Screenshot described above](https:

[2017-11-13 18:14] tmazor opened #3358 "virtual study cancer types summary plot doesn't have some annotations from the old cross-cancer summary"
On the cross-cancer plot, there are annotations below the plot about the cancer type and the presence/absence of mutation/CNA data:
![image](https://user-images.githubusercontent.com/10508276/32741309-d0f3c226-c873-11e7-9cff-bd98075b7b93.png)
http://www.cbioportal.org/cross_cancer.do?#crosscancer/overview/0/EGFR/laml_tcga_pub%2Cblca_tcga_pub%2Cbrca_tcga_pub2015%2Cbrca_tcga_pub%2Ccoadread_tcga_pub%

[2017-11-13 18:36] kalletlak commented on #3324
@jjgao added version to model

[2017-11-13 19:16] alisman opened #3359 "Only show top 50 data groups (bars) in cancer type summary"

[2017-11-13 20:07] jjgao opened #3360 "progress bar when loading multiple studies on study view page"
Loading study 1…
Loading study 2…

[2017-11-13 20:33] adamabeshouse commented on #3356
why? values not comparable?

[2017-11-13 20:47] ashraf123456789 opened #3361 "trouble compiling model file for cbioportal source code"
When I attempt to install maven in the cbioportal directory, the portal master is successfully compiled but not the model file: here's the error after running **mvn -DskipTests clean install** in the correct directory:

[code]

Here's a copy of the POM i tried my best to configure:
[code]

The file they have on github doesnt run.... I tried to download a JDK 9 version of java but the installer won

[2017-11-13 20:47] zhx828 commented on #3357
@jjgao I tested several times, https://github.com/cBioPortal/cbioportal/pull/3343 does fix the issue.

[2017-11-13 20:48] ashraf123456789 commented on #3361
<?xml version="1.0" encoding="UTF-8"?>

<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
    <parent>
        <artifactId>master</artifactId>
        <groupId>org.mskcc.cbio</groupId>

[2017-11-13 20:52] jjgao commented on #3308
@inodb I still see it multiple times in beta. And it is strange that when I click NRAF, the KRAS end point loaded again.

[2017-11-13 20:55] jjgao commented on #3337
@alisman @zhx828 let's work on # 1 & 2 for this release and # 3 & 4 for later.

[2017-11-13 21:18] adamabeshouse commented on #3356
https://github.com/cBioPortal/cbioportal/pull/3362

[2017-11-13 21:18] #3356 closed

[2017-11-13 21:23] fedde-s commented on #3361
I would recommend trying to get a hold of JDK 8 or newer, as the current and future releases of cBioPortal are specifically targeted at those platforms and will not run with older versions. The documentation might still say that JDK 7 is supported, but that is incorrect and [a fix](https://github.com/cBioPortal/cbioportal/pull/3267) will be included in the next release.

If that does not suit your

[2017-11-13 21:40] jjgao commented on #3337
Based on sample IDs, to display the list of duplicated studies.

[2017-11-13 21:42] #3357 closed

[2017-11-13 21:49] alisman opened #3363 "MKSTabs should have a mode in which tabs are always re-mounted"
Add unmountOnHide property to MSKTabs.  When a tab is hidden in this mode, destroy tab so that it won't re-render while hidden

[2017-11-14 15:12] zhx828 opened #3364 "Should not make virtual study api call if the session id is null"
If you go to http://www.cbioportal.org/beta/, in the network tab, there is an API call to http://www.cbioportal.org/beta/api-legacy/proxy/session-service/virtual_cohort/null.

[2017-11-14 17:13] ashraf123456789 commented on #3361
@fedde-s

Can you explain what's wrong with this synatx? the naming and networking is giving me huge trouble
PS C:\Users\UserAdmin> docker run -d --restart=always \

 \

At line:2 char:5
+   --name='cbioDB' \
+     ~
Missing expression after unary operator '--'.
At line:2 char:5
+   --name='cbioDB' \
+     ~~~~~~~~~~~~~
Unexpected token 'name='cbioDB'' in expression or statement.
At line:3 char:5

[2017-11-14 17:34] zhx828 opened #3365 "Share button is no longer clickable after saving the current study as virtual study"
After saving the current state to a virtual study, the user may make some changes and save the study again. But at this moment, it does not work anymore.

[2017-11-14 19:35] inodb opened #3367 "pathology report sometimes not working on patient view due to github search api rate limit"
http://www.cbioportal.org/case.do#/patient?caseId=TCGA-BK-A0CC&studyId=ucec_tcga_pub&tab=pathologyReportTab

[2017-11-14 21:20] fedde-s commented on #3361
Unfortunately, it looks like the Windows command line you're running does not understand the documented commands, which are written in the Unix-based syntax used by many other operating systems. I'm afraid I can't personally help you much further here, as I'm largely unfamiliar with Windows and its command line.

Have you tried contacting the cBioPortal mailing list at <cbioportal@googlegroups.com

[2017-11-14 21:21] jjgao opened #3368 "Cancer Type Summary issue"
I tried to query for all studies in the portal and couldn't get Cancer Type Summary tab working:

http://www.cbioportal.org/beta/index.do?session_id=5a0b5c8d498e5df2e298382a

![image](https://user-images.githubusercontent.com/840895/32805533-badcb486-c957-11e7-9f08-ab019097c078.png)

[2017-11-14 22:10] onursumer commented on #3349
![cytoscape_not_a_function](https://user-images.githubusercontent.com/3604198/32807683-ae8f5ce0-c95e-11e7-9122-10ab2077e944.png)

Seems like something is preventing `cytoscape` library to properly plug itself into `jQuery`. I suspect that recently added virtual cohort libraries are causing this problem.

Especially this line looked suspicious to me: https://github.com/cBioPortal/cbioportal/blob/re

[2017-11-15 04:21] inodb commented on #3250
Deployed

[2017-11-15 14:35] tmazor commented on #2990
I like all of these ideas! Another thought - we could eventually turn the OQL indicator icon into a button that can be used to toggle OQL on/off.

But in the short term, can we add that indicator icon as a first step? I like the icon that @adamabeshouse suggested as a starting point.

[2017-11-15 21:56] alisman commented on #3368
this is happening because at line 91 of global_variables.jsp in portal project, the thca_tcga_pub study has no samples.  Ultimately, the frontend derives its list of studies from the list of samples (not sure if that's advisable).
var studySampleObj = JSON.parse('{"thca_tcga_pub":[],"thca_tcga":["TCGA-BJ-A0Z3-01","TCGA-

[2017-11-15 22:47] jjgao commented on #3348
@wdduncan it looks like you don't have the tomcat context.xml configured.

@pieterlukasse @inodb: I couldn't find it in the instructions. Do we have that?

[2017-11-16 01:34] wdduncan commented on #3348
Thanks. I fixed the context.xml file.

[2017-11-16 01:34] #3348 closed

[2017-11-16 02:26] ashraf123456789 commented on #3361
@fedde-s  Thanks for the help! So far I have there's a site running via the Docker server, but with no data sets. cbioDB is running as well....when I try to add a data set I keep getting this....:

shaba033$docker run -it --rm --net cbio-net \

Starting validation...

INFO: -: Running validation from cBioPortal version 1.9.0
CRITICAL: -: No meta files found in /study. Please make sure the director

[2017-11-16 08:34] fedde-s commented on #3361
Ah, I think I see the problem there: in the second line of that command, `$PWD` refers to the present working directory. The command points the loader at a directory named `study-dir` within that directory. If the study files are right in the current folder, try replacing that line by this one:
[code]

[2017-11-16 10:13] pieterlukasse opened #3374 "Oncoprint sorting won't sort if another sorting option is selected"
Oncoprint sorting won't sort if another sorting option is selected.

Steps to reproduce:
1. query a stuy, e.g. http://www.cbioportal.org/beta/index.do?session_id=599e33e4498e5df2e2945bd4&show_samples=false&&clinicallist=%23%20mutations
2. select sort by case id
3. click on clinical track and sort "A-Z". This will show the sort icon, but the sorting won't happen.

![image](https://user-images.githu

[2017-11-16 14:12] jjgao commented on #3336
@adamabeshouse yes, we can do this later.

[2017-11-16 14:15] jjgao commented on #3350
Good idea.

[2017-11-16 14:30] jjgao commented on #3355
duplicate with #3356

[2017-11-16 14:30] #3355 closed

[2017-11-16 14:35] tmazor opened #3375 "mutations tab needs a "by patient" option"
The mutations tab currently shows all mutations in all samples. In OncoPrint, there is an option to merge all samples from a single patient into a single column. I think the mutations tab needs this feature also. In a study with multiple samples per patient, the frequency of mutations that appear in only a single patient can appear artificially high if that patient has multiple samples.

See scree

[2017-11-16 14:42] jjgao opened #3376 "case list issue with thca_tcga_pub"
![image](https://user-images.githubusercontent.com/840895/32896974-6aa11528-cab2-11e7-9779-5b32b2d58684.png)

[2017-11-16 14:49] jjgao opened #3378 "case list _cnaseq is missing from many studies"
It's missing from studies e.g. blca_tcga, brca_tcga_pub2015, thca_tcga and more.

We used to auto-generate the case list _cnaseq ("Tumor Samples with sequencing and CNA data") when importing.

[2017-11-16 14:57] tmazor opened #3379 "edits to custom cohort study label"
When I first browse a custom study, the top of the page lists the full names of the studies:
![image](https://user-images.githubusercontent.com/10508276/32897499-cc4dff42-cab3-11e7-8451-e3cf7c1c6c0b.png)

Once I click the "share" button and load up the custom cohort, the labels on the top get much less descriptive:
![image](https://user-images.githubusercontent.com/10508276/32897520-e12bd15a-cab3-

[2017-11-16 15:00] jjgao commented on #3374
good point.

[2017-11-16 15:02] jjgao commented on #3375
Agreed. @onursumer do we have patient IDs?

[2017-11-16 15:11] jjgao commented on #3368
logged here: https://github.com/cBioPortal/cbioportal/issues/3376

@alisman do you have a list of studies with this problem? Which case list is the frontend looking for?

[2017-11-16 15:11] jjgao commented on #3376
According to @alisman, it may happen to other studies too.

[2017-11-16 15:21] alisman commented on #3376
This only seems to happen when a problem study is combined with another one.  For example if both the Papillary Thyroid Cancer Studies are selected at once.  Select either one along and we don't have an issue.   So, it seems like this is related to the virtual study/multi-study changes.

[2017-11-16 15:24] alisman commented on #3376
Based on what I see in network console when all studies are selected, there are only two studies/molecular profiles for which this happens:

brca_tcga_pub2015_gistic
thca_tcga_pub_gistic

[2017-11-16 15:44] jjgao commented on #3376
Thanks, @alisman. Could you please check the logic and find out what case lists the frontend is looking for? Maybe in the frontend code, if it cannot find the case list, it should fall back to _all.

[2017-11-16 15:47] jjgao commented on #3378
It looks like brca_tcga_pub2015 is missing a lot of case lists.

Can we generate (if not exist) the data-related case lists based on case_lists sheet in portal_importer_configuration for all public studies and check them in?

[2017-11-16 15:48] jjgao commented on #3378
@yichaoS @n1zea144 we may want to have another script to update case lists only. Is that possible?

[2017-11-16 15:56] jjgao commented on #3378
Another way to address it is to generate them in the API or frontend from either `sample_profile` or `genetic_profile_samples` table.

Maybe it's time to link profile to case list as we discussed earlier. @n1zea144

[2017-11-16 16:03] fedde-s commented on #1485
Has this been resolved now that the entire homepage has been replaced by one written in a different  language?

[2017-11-16 16:18] jjgao commented on #3378
Did a sql query:

[code]

Here is the list of case list without any samples in the database.
[code]

[2017-11-16 16:31] tmazor commented on #3379
If I start by running a query in multiple studies, there is a complete lack of information about which studies I queried at the top:
![image](https://user-images.githubusercontent.com/10508276/32902875-8a7ff404-cac1-11e7-8b10-bb5ec71a435b.png)

Can this also be replaced by the plus sign & the full list of studies?

[2017-11-16 16:53] tmazor opened #3380 "standardize male/female capitalization"
This is probably already part of the effort to standardize clinical terminology, but I want to particularly highlight the capitalization of Male/Female across studies. If I query all TCGA non-provisional studies, I get these pie charts:
![image](https://user-images.githubusercontent.com/10508276/32903922-3ed55370-cac4-11e7-8b42-beebbcdd93c4.png)

When I convert to charts, it's all a matter of capi

[2017-11-16 17:44] adamabeshouse commented on #3336
one question is what if you are sorting by more than one clinical attribute? would it only be the topmost track? or maybe the bottommost? also im assuming this would only be for categorical data?

[2017-11-16 17:45] adamabeshouse commented on #3374
good idea

[2017-11-16 18:17] jjgao commented on #3336
Good question. Maybe the bottommost (which basically means all sorted tracks, right?) and see how it looks like?

Yes, only for categorical data.

[2017-11-16 18:26] jjgao commented on #3380
Yes, we'll work on them once we finish normalize oncotree_code/cancer_type.

[2017-11-16 18:28] jjgao commented on #3379
Good point. The cancer study track should show up int he OncoPrint but it's still good idea to have the same information up there.

@zhx828 given other issues, I would not worry about this for this release if it takes time. We can do this on later.

[2017-11-16 18:34] ashraf123456789 commented on #3361
@fedde-s  I think we are almost there..... when input what you told me i got this.

shaba033$docker restart cbioportal-container
cbioportal-container
shaba033$cd /Users/shaba033/Downloads/ampca_bcm_2016
shaba033$docker run -it --rm --net cbio-net     -v "$PWD:/study:ro"     -v "$HOME/Desktop:/outdir"     cbioportal-image     metaImport.py -u http://cbioportal-container:8080/cbioportal -s /study --

[2017-11-16 18:51] inodb opened #3381 "Cancer type plot for 2 studies looks lumped together"
![screen shot 2017-11-16 at 1 49 49 pm](https://user-images.githubusercontent.com/1334004/32909688-2b451028-cad5-11e7-95a9-47f88495d475.png)

Maybe some spacing when very few studies?

A quick fix could be to show cancer type by default?

[2017-11-16 18:52] adamabeshouse commented on #3336
I think the utility could depend...

Topmost makes sense to me because that most cleanly defines categories. The sort order is determined top to bottom, so if you have it as the bottommost sorted track then the categories will be split up more, which doesnt seem to be the main thrust of this feature.

[2017-11-16 18:56] onursumer commented on #3375
@jjgao yes, we have `patientId` in our current `Mutation` model. I think it shouldn't be too difficult to merge mutations by `patientId`.

Should this be the default behavior then: Merge mutations by patient id, and show multiple mutations in a single row (something similar to the patient view implementation)?

[2017-11-16 18:57] kalletlak opened #3382 "BETA : Error while loading study view"
![screen shot 2017-11-16 at 1 56 32 pm](https://user-images.githubusercontent.com/12956870/32909951-01774580-cad6-11e7-8813-4b86b864edfb.png)

[2017-11-16 19:00] zhx828 commented on #3382
Already fixed that in another pull request, will submit soon. It does not affect anything.

[2017-11-16 19:05] ashraf123456789 commented on #3361
resulting in this... .@

cbiortal local host:

 
--
Oops! An error occurred while trying to connect to the database. This could happen if the database does not contain any cancer studies.You may have caught us in the middle of updating data. Please check back later.

[2017-11-16 19:12] #3340 closed

[2017-11-16 19:12] #3365 closed

[2017-11-16 19:24] jjgao commented on #3381
@inodb could you add the url?

[2017-11-16 19:27] inodb commented on #3381
Ill add it once session service starts working again

[2017-11-16 19:30] alisman commented on #3337
@jjgao 1. Is this ok placement for the message?  2. Do we want to list the names of the overlapping studies in this alert?  3. Bootstrap has a few different [alert](https://getbootstrap.com/docs/3.3/components/#alerts) levels, is there one you think would make sense?

![image](https://user-images.githubusercontent.com/186521/32911506-5ac320e2-cada-11e7-88a6-f6909350e26d.png)

[2017-11-16 19:40] alisman commented on #3376
JJ, the post to the server is below.  Is this what you mean?
![image](https://user-images.githubusercontent.com/186521/32912070-f9f2f984-cadb-11e7-9f5a-65e2a6ee04ec.png)

[2017-11-16 19:49] jjgao commented on #3376
@alisman Thanks. Strange the case set is 'all' -- there must be some backend code to handle that then.

[2017-11-16 20:05] jjgao commented on #3378
I did some more query to find out studies with both mutations and cna data but not _cnaseq case list:

[code]

Here are the studies:
[code]

[2017-11-16 20:24] jjgao commented on #3378
Is there any validation code to catch missing case lists? @pieterlukasse

[2017-11-16 20:30] jjgao commented on #3375
@onursumer ideally we should be able to expand a row to see samples.

 maybe the first step is to count number of patients in the lollipop?

[2017-11-16 21:20] #3353 closed

[2017-11-16 21:27] kalletlak opened #3386 "BETA: Error loading Clinical Data tab"
![screen shot 2017-11-16 at 4 26 06 pm](https://user-images.githubusercontent.com/12956870/32916688-e33f1c18-caea-11e7-9ca8-5e997ab26d4f.png)

![screen shot 2017-11-16 at 4 25 23 pm](https://user-images.githubusercontent.com/12956870/32916692-e7354c84-caea-11e7-9d40-b51c46d450c1.png)

[2017-11-16 22:15] jjgao commented on #3337
@alisman I think this is a good place to place the message. I would made message more obvious -- like a real warning.

The message can be: "You have selected duplicated versions of TCGA studies." It would be good to add two buttons in a new line "Include TCGA provisional studies only" and "Include TCGA published studies only". If there are two published versions selected, pick the new one, e.g. pi

[2017-11-16 22:26] jjgao opened #3387 "fetch gene panel data for studies with the data"
currently we are fetching gene panel data for all studies but we only have gene panel data for a few (maybe only one) studies.

[2017-11-16 22:35] zhx828 opened #3388 "BETA: Calculate the mutated gene percentage based on unique sample, not unique sample id"
![screen shot 2017-11-16 at 5 33 52 pm](https://user-images.githubusercontent.com/5400599/32919556-551073f6-caf4-11e7-9627-75a8f909a30d.png)

It may be caused due to same sample id in different studies. (This is combined TCGA studies)

[2017-11-16 23:18] kalletlak commented on #3388
@zhx828 what's the url/TCGA studies to replicate this error?

[2017-11-17 00:09] zhx828 commented on #3388
@kalletlak I created a virtual study for you http://www.cbioportal.org/beta/study?id=5a0e28b0e4b06e4a2e19bd70

[2017-11-17 01:36] zhx828 commented on #3364
@alisman @adamabeshouse could you help me debug this issue? I can't figure out what causes the issue.

[2017-11-17 11:04] pieterlukasse opened #3390 "BETA: co-expression tab disappeared?"
See for example:

![image](https://user-images.githubusercontent.com/2900303/32944342-8f0ade66-cb8f-11e7-9138-b83aacf25d6a.png)

The tab "Co-expression" is not there anymore. The same query on cbioportal.org still shows the tab.

[2017-11-17 13:49] fedde-s commented on #3361
Yes, I believe that would solve it. This particular study, for which the data files were released rather recently, refers to a cancer type that was added in the [new seed db](https://github.com/cBioPortal/datahub/blob/b9662010756188a18051c983b8c445dd033703a9/seedDB/README.md#latest-seed-database) released this week.

[2017-11-17 13:54] fedde-s commented on #3361
And a reminder: do not forget to restart `cbioportal-container` again after importing studies.

[2017-11-17 14:16] kalletlak commented on #3364
@zhx828 I have fixed this locally, which would be for next release. I can fix this for you

[2017-11-17 15:34] jjgao commented on #3337
nsclc_tcga_broad_2016 also has duplicated samples.

[2017-11-17 15:39] alisman commented on #3337
So I should hardcode logic for those studies?  Are there any others?

[2017-11-17 15:41] jjgao commented on #3337
@alisman I am querying the database and see how many of them are duplicated. Maybe we can have a json file of duplicated studies for now? Later we can solve them properly.

[2017-11-17 15:45] alisman commented on #3337
sounds good

[2017-11-17 18:04] zhx828 commented on #3379
@jjgao @tmazor for release 1.10. We are going to show `Selected Studies` instead of `Custom Cohort` for virtual study and show exactly the same studies information like when you just combined the study. # of samples info is no longer available in 1.10 but will be enabled in next release when we enable user authentication and would be able to let them save the virtual study under their account.

[2017-11-17 18:05] zhx828 commented on #3387
@jjgao currently we don't have such gene panel endpoint yet, I would suggest doing that in next release.

[2017-11-17 19:51] jjgao commented on #2372
There seems to be a strong interest from GENIE community. Let's brainstorm it more.

[2017-11-17 20:55] zhx828 opened #3393 "Disable Summary Button if more than 20 studies selected"
Due to the limitation of the new API/legacy API,  we are limiting the number of studies can be combined in study view.

[2017-11-17 21:07] jjgao opened #3394 "RPPA data inconsistency between OncoPrint and Enrichments"
Fro a user: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/To8_DaXVS5A/3lkrr6oGAgAJ

"
I am having a problem using the Protein expression Z-scores (RPPA) in cBIoPortal.

For example, with the TCGA Invasive Breast Cancer Provisional dataset (1105 tumors, 892 tumor samples with RPPA data). I would like to select samples based on levels of expression of a protein,

[2017-11-17 21:09] jjgao commented on #3394
@ersinciftci would you like to take it as a warm-up excise before implementing the Enrichments tab?

[2017-11-17 21:44] jjgao commented on #3337
As discussed, we will display the message and highlight the overlapping studies in the query interface.

[2017-11-17 21:50] jjgao opened #3395 "How to deal with patient / sample duplication?"
I did some query in db, and found out we have a lot of duplications of data
[overlapping_studies.txt](https://github.com/cBioPortal/cbioportal/files/1483936/overlapping_studies.txt)

[code]

[2017-11-17 21:51] jjgao commented on #3337
I logged the data overlapping problem in issue #3395

[2017-11-17 21:58] jjgao opened #3396 "Mutation diagram position issue"
In the query below, if you click on the highest position, there are both T1463fs and G1461fs. Why are they mapped to the same position on the diagram?

http://www.cbioportal.org/index.do?session_id=59663cbc498e5df2e29265ca&show_samples=false&

![image](https://user-images.githubusercontent.com/840895/32970773-50d54cde-cbb8-11e7-8d02-17ea8f265da9.png)

[2017-11-17 22:04] jjgao commented on #3390
@pieterlukasse could you add the query?

[2017-11-17 22:07] jjgao commented on #3387
OK. Let's do a hotfix soon once @ersinciftci helps implement an endpoint for this.

[2017-11-17 22:09] jjgao commented on #3393
Maybe add a tooltip when disabled. "Only up to 20 studies can be viewed together."

[2017-11-17 22:57] ashraf123456789 commented on #3361
@fedde-s still getting this unfortunatley:

Oops! An error occurred while trying to connect to the database. This could happen if the database does not contain any cancer studies.You may have caught us in the middle of updating data. Please check back later.

what other adjustments can i make? Sorry to bother you this much about it..

[2017-11-18 00:22] inodb commented on #3381
@jjgao @alisman e.g. https://cbioportal.mskcc.org/beta/index.do?session_id=5a0f7d14498eb8b3d5605cbc

[2017-11-18 00:34] inodb commented on #3349
Fixed in cbioportal.org/beta

[2017-11-18 00:34] #3349 closed

[2017-11-18 00:35] #3265 closed

[2017-11-18 00:36] #3323 closed

[2017-11-18 00:36] inodb commented on #3332
@alisman are all these fixed now?

[2017-11-18 00:37] #3333 closed

[2017-11-18 00:38] inodb commented on #3341
1. is fixed

[2017-11-18 00:39] #3360 closed

[2017-11-18 00:40] #3363 closed

[2017-11-18 00:42] #3359 closed

[2017-11-18 00:43] #3364 closed

[2017-11-18 00:45] inodb commented on #3379
@zhx828 should we close this?

[2017-11-18 00:46] #3382 closed

[2017-11-18 00:46] zhx828 commented on #3379
@inodb we could.

[2017-11-18 00:46] #3379 closed

[2017-11-18 00:46] #3386 closed

[2017-11-18 00:48] inodb commented on #3393
This works now on query selector, but on the results page you can still go to the study view by clicking on `Selected Studies`

[2017-11-18 00:53] inodb commented on #3390
@jjgao e.g. http://www.cbioportal.org/beta/index.do?session_id=5a0f846a498e5df2e2986a54&show_samples=false& and http://www.cbioportal.org/index.do?session_id=5a0f846a498e5df2e2986a54&show_samples=false&

[2017-11-18 00:54] #3337 closed

[2017-11-18 10:04] sunyounglee opened #3397 "How to make data_CNA file using GISTIC output?"
Hi,
I'm tring to create my own local-cbioportal, and I have simple question for copy number dataset..
I have 'all_lesions.conf_75.txt' and '(amp/del)_genes.conf_75.txt' generated from GISTIC algorithm.
Could you let me know how I can create data_CNA.txt using these files?
Is there any parser (import_script?) ?
If not, do I need to parse and match to gene symbol overlapped CN region? which region t

[2017-11-20 08:33] #3397 closed

[2017-11-20 15:06] jjgao opened #3399 "What should be the expected behavior of "Deselect All" button in the study selector?"
Currently, it deselects all of the studies listed below. For example, if I filter the studies by the search box, only the filtered studies will be deselected.

I find it confusing because I would expect "deselect all" would deselect all previously selected studies (since it is following "xx studies selected" in the header).

Oftentimes, I wanted to select studies in the filtered results and would

[2017-11-20 15:11] jjgao opened #3400 "Tweaks of the Search box in study selector"
Currently:

 ![image](https://user-images.githubusercontent.com/840895/33024995-a61fd794-cdda-11e7-8dc7-0ff9614b80c7.png)

Can we do the followings?

- remove `tcga -moratorium` and `tcga`
- add `tcga provisional`

[2017-11-20 15:23] jjgao opened #3401 "cancer type summary tab issue"
https://cbioportal.mskcc.org/beta/index.do?session_id=5a12f277498eb8b3d5605cce

![image](https://user-images.githubusercontent.com/840895/33025743-c65b1c7e-cddc-11e7-8290-373fdb307ac4.png)

It is working on the currently production site:

https://cbioportal.mskcc.org/index.do?session_id=596d398f498e5df2e292a24b

[update] not working on production either. Need to debug the api.

[2017-11-20 15:49] alisman commented on #3401
This seems to be a data issue with BRAF.  The reason the production link above works is that it does not includ BRAF.  Following services returns 500 on production:

curl 'https://cbioportal.mskcc.org/api/molecular-profiles/mixedpact_cna/molecular-data/fetch?projection=DETAILED' -H 'Origin: https://cbioportal.mskcc.org' -H 'Accept-Encoding: gzip, deflate, br' -H 'Accept-Language: en-US,en;q=0.8' -

[2017-11-20 15:55] jjgao commented on #3401
Right. I can reproduce it with BRAF on production: https://cbioportal.mskcc.org/index.do?session_id=595aa913498e5df2e291fb24

[2017-11-20 15:56] jjgao commented on #3401
Here is the error:

![image](https://user-images.githubusercontent.com/840895/33027556-6977c034-cde1-11e7-9b7e-eb193df4207a.png)

[2017-11-20 16:00] tmazor commented on #3399
Agreed! I expect "deselect all" to actually deselect all selected studies, regardless of what studies are currently visible.

I often do exactly what @jjgao described - I select some studies, then search for a new set of studies and I want to deselect everything I previously selected and select the ones I just searched for -- but first I have to clear my search, then deselect all, and then redo my

[2017-11-20 16:09] inodb commented on #3401
https://sentry.io/memorial-sloan-kettering/cbioportal-backend/issues/407626664/

[2017-11-20 16:10] jjgao opened #3402 "gene order not maintained when querying from study view page"

[2017-11-20 16:45] jjgao commented on #3332
For the issue: `solve the "cancer type detailed" issue when there are too many of them`, @alisman could you add a warning message that only the top 50 were displayed? In the next round, maybe we can add a scroll bar?

[2017-11-20 16:50] jjgao commented on #3393
@zhx828  or @alisman could you disable the link on the results page?

[2017-11-20 16:54] jjgao commented on #3390
@inodb could you help look into this one?

[2017-11-20 16:57] zhx828 commented on #3402
@jjgao I tried to reproduce the issue but works on multiple studies. Could you give me more information?

[2017-11-20 17:00] jjgao commented on #3399
@alisman: If no objections from @ecerami or @schultzn or you, let's change the behavior to actually deselect all previously selected studies.

[2017-11-20 17:08] #3376 closed

[2017-11-20 17:10] #3332 closed

[2017-11-20 17:13] #3368 closed

[2017-11-20 17:15] #3393 closed

[2017-11-20 17:50] angelicaochoa commented on #3378
I am going to make a checklist here for resolved cnaseq case lists:

- [ ] blca_tcga	Bladder Urothelial Carcinoma (TCGA, Provisional)
- [ ] brca_tcga_pub2015	Breast Invasive Carcinoma (TCGA, Cell 2015)
- [ ] coadread_tcga	Colorectal Adenocarcinoma (TCGA, Provisional)
- [ ] esca_tcga	Esophageal Carcinoma (TCGA, Provisional)
- [ ] gbm_tcga_pub2013	Glioblastoma (TCGA, Cell 2013)
- [ ] hnsc_tcga	Head

[2017-11-20 17:53] kalletlak opened #3405 "BETA: Portal not loading in firefox"
http://www.cbioportal.org/beta/index.do

<img width="1227" alt="screen shot 2017-11-20 at 12 51 09 pm" src="https://user-images.githubusercontent.com/12956870/33033201-9f0cf146-cdf1-11e7-936b-62ab918f676f.png">

<img width="1418" alt="screen shot 2017-11-20 at 12 51 19 pm" src="https://user-images.githubusercontent.com/12956870/33033206-a3d93202-cdf1-11e7-8328-e7eff0046040.png">

[2017-11-20 18:18] kalletlak commented on #3405
Somehow its working now. may be a localstorage or server issue

[2017-11-20 18:18] #3405 closed

[2017-11-20 18:21] zhx828 commented on #3402
But I do notice that the gene box in the study view is not listing genes as the order of selection. The order of genes sometimes shifted after few selections.

[2017-11-20 18:28] inodb commented on #3401
@jjgao @angelicaochoa so the problem is that, that profile has empty values for `BRAF`, see e.g.:

[code]
Should it be allowed to have N/A values in values of genetic_alteration? I would assume not?

The problem is then when splitting on `,` in backend, java removes empty fields, creating the indexerror:
[code]

[2017-11-20 18:30] tmazor opened #3406 "virtual studies summary page - prioritize charts with data from multiple studies"
On the study summary page for virtual studies, is there any logic to which charts are shown by default? I think it would make sense to prioritize charts that have data from multiple studies over those with data from only one study.

For example, if I query all TCGA published studies, I get charts at the end that only have data from a single study -- e.g. "Disease stage" or "Transcriptome subtype":

[2017-11-20 18:37] zhx828 commented on #3406
@tmazor I did put in logic to show the most overlapped attributes first. But it may not necessarily be the case with most available data. Let me actually double check your example.

[2017-11-20 18:39] inodb commented on #3401
OK talked to @angelicaochoa , we can expect the values to be empty. So we should change the splitting of values to return the proper NA value, such that it can be handled on frontend

[2017-11-20 18:45] tmazor opened #3407 "another case to flag for duplicate samples"
The TCGA LGG+GBM study (Cell, 2016) includes samples from the LGG study and from the GBM studies, but it currently isn't flagged as a duplicate:

![image](https://user-images.githubusercontent.com/10508276/33035432-0c165906-cdf9-11e7-8481-68b62fc75df7.png)

[2017-11-20 18:51] tmazor commented on #3407
I'm not positive about this one, but I would guess that the Pan-Lung study pulls from the Lung Adeno & Lung Squamous Cell studies and therefore these should also be flagged as duplicates:
![image](https://user-images.githubusercontent.com/10508276/33035590-b2d37a12-cdf9-11e7-96a4-77ccaf87bfb9.png)

[2017-11-20 19:03] tmazor commented on #3407
Again, not positive about the source of the Esophagus-Stomach Cancer cohort, but it probably stems from the Esophageal & Stomach Adenocarcinoma studies:
![image](https://user-images.githubusercontent.com/10508276/33035906-c4602ebe-cdfa-11e7-8674-5687f1e727e7.png)

[2017-11-20 19:06] tmazor commented on #3407
These 2 prostate studies have some overlap too:
![image](https://user-images.githubusercontent.com/10508276/33036306-f8db57ee-cdfb-11e7-856a-85cbc152f9c5.png)

[2017-11-20 19:33] alisman commented on #3407
@jjgao Seems like we can't derive these programatically.  Should this hold up release?

[2017-11-20 19:51] jjgao opened #3408 "tweaks for 1.10.0"
@alisman
- [x] "You have selected multiple TCGA studies with overlapping samples, highlighted in red below. Please limit your selection to one TCGA study per cancer type."
- [x] "Too many studies selected for study summary (limit: 20)"
- [x] "Summary" => "View summary"
- [x] Tooltip on single icon => "View study summary"
- [x] Swap "OncoPrint" and "Cancer Type Summary" tab
- [x] Always show oncopr

[2017-11-20 19:53] zhx828 commented on #3408
@jjgao it was `Combined Study`, but we decided to keep the consistency with the query selector. Should we still change that?

[2017-11-20 19:57] jjgao opened #3409 "issues with functional impact column"
From a user:

I am trying to down the data on the annotation column as well as the functional impact column shown in the Mutations tab of POLE and POLD1 genes from cbioportal.mskcc.org for “TCGA, Provisional” studies.
First of all, after adding the functional impact column and clicking “Show more” button it is reporting ERROR for showing the functional impact column value.

Secondly, both annotati

[2017-11-20 20:15] inodb commented on #3401
Actually the issue is only for trailing `,,,,,`, so we are already passing empty strings to the frontend

[2017-11-20 20:25] zhx828 commented on #3406
Thanks @tmazor It actually is a bug, made a fix in here: https://github.com/cBioPortal/iViz/pull/641

[2017-11-20 20:26] inodb commented on #3401
Fix in https://github.com/cBioPortal/cbioportal/pull/3410

[2017-11-20 21:37] onursumer commented on #3396
@jjgao We use the `proteinPosStart` value when we determine the position of the lollipops. Although protein change values indicate 2 different positions (1461 and 1463) for these mutations, actual `proteinPosStart` values are the same, and it is `1459`, for both mutations. It is surprising though that `proteinPosStart` is neither 1461 nor 1463.

[2017-11-20 22:51] #3406 closed

[2017-11-20 22:51] #3390 closed

[2017-11-20 23:12] jjgao opened #3416 "support view patients from multiple studies"
One solution:

Add a session to patient view page to encode the list of studies and patients.

Or if we can use the unique ID?

[2017-11-21 00:34] angelicaochoa commented on #3378
@jjgao there are some studies listed above that do not have overlapping sample ids in  `cases_sequenced` and `cases_cna`

* ov_tcga

[2017-11-21 00:51] #3268 closed

[2017-11-21 00:51] #3292 closed

[2017-11-21 02:51] kalletlak opened #3421 "Error getting study name(for virtual study)"
Example http://www.cbioportal.org/index.do?session_id=5a13933b498eb8b3d5605efa&show_samples=false&

<img width="1197" alt="screen shot 2017-11-20 at 9 50 20 pm" src="https://user-images.githubusercontent.com/12956870/33052438-d8702066-ce3c-11e7-8079-14751d0f9f1e.png">

[2017-11-21 03:09] kalletlak opened #3422 "Bitly URL error"
http://www.cbioportal.org/api-legacy/proxy/bitly?version=3.0&longUrl=http%3A%2F%2Fwww.cbioportal.org%2Findex.do%3Fsession_id%3D5a139329498eb8b3d5605ef6&history=0&format=json&callback=jQuery20305540635432786616_1511232295728&_=1511232295729

<img width="1109" alt="screen shot 2017-11-20 at 10 07 09 pm" src="https://user-images.githubusercontent.com/12956870/33052940-3462d3a8-ce3f-11e7-85a3-8dd9d53e

[2017-11-21 03:23] kalletlak opened #3423 "Studyview CNA genes table freq mismatch"
Example
http://www.cbioportal.org/study?id=5a139acf498eb8b3d5605f7c#summary

http://www.cbioportal.org/study?id=chol_tcga%2Cchol_jhu_2013#summary (Filters : With Mutation Data - YES)

[2017-11-21 13:57] sandertan commented on #3378
@jjgao I believe there's currently no validation for missing specific case lists, except for the `_all` case list:
`ERROR: -: No case list found for stable_id 'teststudy_all', consider adding 'add_global_case_list: true' to the study metadata file`

Could we also document the required case lists in [File Formats](https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md#case-lists)

[2017-11-21 14:05] jjgao opened #3424 "EXP OQL not allowed"
a user just reported that the new site doesn’t allow for queries based on expression - even if only a single study is selected, it thinks that multiple studies are selected and won’t let you submit:

![image](https://user-images.githubusercontent.com/840895/33076500-e084fad4-ce9a-11e7-8216-67da7031cd45.png)

https://groups.google.com/forum/#!topic/cbioportal/kuOiXyKiZHA

[2017-11-21 14:37] jjgao opened #3425 "Validator: add colon (:) to the invalid sample id character list"
since we are using colon for separating study ID and sample ID now.

https://github.com/cBioPortal/cbioportal/blob/hotfix/core/src/main/scripts/importer/validateData.py#L1887

[2017-11-21 14:57] jjgao commented on #3402
@zhx828 actually that's the reason. I didn't realize the order was changing when selecting more genes. Could you fix that?

[2017-11-21 15:00] jjgao commented on #3407
There is a lot more overlapping samples, see https://github.com/cBioPortal/cbioportal/issues/3395. We need to find a better way to handle it.

[2017-11-21 15:07] tmazor opened #3426 "mutation mapper isn't working"
A user reported this issue.

When I try to use MutationMapper using the test data, I get this output:
![image](https://user-images.githubusercontent.com/10508276/33079496-bc39ee4c-cea3-11e7-9cc6-ebc45ac53f8e.png)

[2017-11-21 15:11] #3401 closed

[2017-11-21 15:20] jjgao commented on #3396
This is strange. We need to look into it more. Could you paste the genome nexus links for the two mutations here?

[2017-11-21 15:32] jjgao opened #3427 "Add Annotation and Functional Impact into the downloaded txt file"
Can we split them into multiple columns?

For example:

- Annotation:OncoKB: oncogenic, level_2
- Annotation:CIViC: predictive: 2, prognostic: 2
- Annotation:MyCancerGenome: present
- Annotation:CancerHotspot: yes
- Annotation:3DHotspot: yes

- Functional-Impact:MutationAssesser: impact: medium, score: 3.18
- Functional-Impact:SIFT: impact: deleterious, score: 0.00
- Functional-Impact:Polyphen-2:

[2017-11-21 15:41] jjgao commented on #3409
The download request is captured here: https://github.com/cBioPortal/cbioportal/issues/3427

Please fix the CSV typo. @inodb

[2017-11-21 15:51] jjgao commented on #3422
bitly is not working:

![image](https://user-images.githubusercontent.com/840895/33082095-ee375e24-cea9-11e7-828b-e23989a1a240.png)

[2017-11-21 15:57] inodb commented on #3424
@jjgao fixed & deployed

[2017-11-21 15:57] #3424 closed

[2017-11-21 16:16] jjgao commented on #3378
@angelicaochoa re: no overlapping sample ids in `cases_sequenced` and `cases_cna` for `ov_tcga`, there must be something wrong in the case lists. [This query](http://www.cbioportal.org/index.do?session_id=5a1450ca498eb8b3d5606ae5) shows mutations and CNAs on the same samples.

[2017-11-21 16:28] tmazor opened #3429 "downloads tab is missing links to download tables"
User reported bug: "Today, the tables which usually I could download as text files in the Download section disappeared, leaving me just with the infos that can be copied and pasted into excel."

I confirmed that those links are gone:
![image](https://user-images.githubusercontent.com/10508276/33084125-22daff46-ceaf-11e7-9de4-1a3b84b429ac.png)

[2017-11-21 16:42] #3330 closed

[2017-11-21 17:14] jjgao commented on #3429
This is the section that is missing:

![image](https://user-images.githubusercontent.com/840895/33086356-4e808c14-ceb5-11e7-98f8-ac1d5c093d42.png)

We removed the section for multiple studies, but it should still be there for single studies.

[2017-11-21 17:15] kalletlak opened #3431 "Possible cnacer_study_id and cancer_study_list"
<table>
  <tr>
    <td colspan="2" align="center">Input</td>
    <td colspan="2" align="center">Output</td>
  </tr>
  <tr>
    <td>cancer_study_id</td>
    <td>cancer_study_list</td>
    <td>cancer_study_id</td>
    <td>cancer_study_list</td>
  </tr>
  <tr>
    <td>some</td>
    <td>-</td>
    <td></td>
    <td></td>
  </tr>
    <tr>
    <td>some</td>
    <td>all</td>
    <td></td>
    <td></td>

[2017-11-21 17:58] kalletlak opened #3433 "Page not loading while querying all studies"
Example http://www.cbioportal.org/index.do?session_id=5a146656498eb8b3d5606dad

this is making more than 2000 API requests, some of which never completes

[2017-11-21 18:15] zhx828 commented on #3433
This is similar to Study View previous implementation. We need to switch to batch POST.

[2017-11-21 18:47] onursumer commented on #3426
This is related to the conflicting jQuery version introduced by `vc-session-vendor.js`.

[2017-11-21 18:53] zhx828 commented on #3423
@kalletlak the virtual study above only has 75 samples when saving. But the second example has 76

[2017-11-21 18:56] kalletlak commented on #3423
try applying Filter : With Mutation Data - YES

[2017-11-21 20:21] zhx828 commented on #3422
The server log only has `org.springframework.security.web.FilterChainProxy - /api-legacy/proxy/bitly?version=3.0&longUrl=http%3A%2F%2Flocalhost%3A8080%2Fcbioportal%2Findex.do%3Fsession_id%3D5a14842311d2060f3e0b2411&history=0&format=json&callback=jQuery20308533550521797042_1511295633173&_=1511295633174 has an empty filter list` but seems there are lots of similar logs for other files as well.

[2017-11-21 20:59] onursumer commented on #3396
`T1463Nfs*50`: http://genomenexus.org/annotation/17%3Ag.37687471_37687472insG
`G1461Afs*38`: http://genomenexus.org/annotation/17%3Ag.37687472Gdel

Looks like the canonical transcript for both mutations have the protein start position `1459`. I think the problem, if any, is related to the algorithm that generates the protein change values.

[2017-11-21 21:24] jjgao opened #3437 "missing many tabs when starting a query from study view"
Query from study view page:
http://www.cbioportal.org/index.do?session_id=5a149828498eb8b3d560716c

![image](https://user-images.githubusercontent.com/840895/33097411-1df41e80-ced8-11e7-9701-62b9b10267fd.png)

Query from query pageg:
http://www.cbioportal.org/index.do?session_id=5a149884498eb8b3d560716f

![image](https://user-images.githubusercontent.com/840895/33097399-12996888-ced8-11e7-8553-9d3

[2017-11-21 23:01] jjgao opened #3438 "virtual cohort link not working on msk portal"

[2017-11-21 23:05] kalletlak opened #3439 "Co-Expression tab not loading"
Example : http://www.cbioportal.org/index.do?tab_index=tab_visualize&cancer_study_list=coadread_tcga_pub&cancer_study_id=coadread_tcga_pub&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=coadread_tcga_pub_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=coadread_tcga_pub_gistic&Z_SCORE_THRESHOLD=2.0&case_set_id=coadread_tcga_pub_nonhypermut&case_ids=&gene_list=KRAS+NRAS+BRAF&gene_set_cho

[2017-11-21 23:06] #2994 closed

[2017-11-21 23:10] jjgao commented on #3439
@inodb can you help look into this one?

[2017-11-21 23:27] kalletlak opened #3440 "Enrichments plot not working"
http://www.cbioportal.org/index.do?tab_index=tab_visualize&cancer_study_list=coadread_tcga_pub&cancer_study_id=coadread_tcga_pub&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=coadread_tcga_pub_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=coadread_tcga_pub_gistic&Z_SCORE_THRESHOLD=2.0&case_set_id=coadread_tcga_pub_nonhypermut&case_ids=&gene_list=KRAS+NRAS+BRAF&gene_set_choice=user-d

[2017-11-21 23:47] inodb commented on #3439
@jjgao ok

[2017-11-21 23:49] onursumer commented on #3439
Seems like a conflicting jQuery issue. #3435 might have already fixed this...

[2017-11-21 23:51] onursumer commented on #3440
Seems very similar to #3439, and probably fixed by #3435

[2017-11-21 23:55] inodb commented on #3439
@jjgao @onursumer @kalletlak yes seems to be fixed already. Will deploy soon

[2017-11-22 01:24] #3437 closed

[2017-11-22 01:24] kalletlak commented on #3438
this might be because of
https://github.com/cBioPortal/cbioportal/blob/master/web/src/main/java/org/mskcc/cbio/portal/web/ProxyController.java#L200

[2017-11-22 01:25] #3429 closed

[2017-11-22 01:27] #3439 closed

[2017-11-22 01:28] #3440 closed

[2017-11-22 01:31] #3422 closed

[2017-11-22 01:31] #3423 closed

[2017-11-22 01:31] #3408 closed

[2017-11-22 13:15] #3426 closed

[2017-11-22 13:28] jjgao commented on #3396
Do you know if protein_start is calculated by vep or us? It should be 1461 based on cDNA.

[2017-11-22 14:52] jjgao opened #3444 "oncoprint progress bar"
Can we add a progress bar for oncoprint, especially when loading data from multiple studies, similar to study view.

http://www.cbioportal.org/study?id=5a12fd57498eb8b3d5605cd4

![image](https://user-images.githubusercontent.com/840895/33095088-69f0c390-ced0-11e7-881d-a5934ac29726.png)

[2017-11-22 14:53] jjgao commented on #3378
@sandertan: I am thinking of re-implementing case lists: https://docs.google.com/document/d/1aBbkTAFv5nCqBv66BOgwvlt5kymgt0lQ7l_pqaFrupc/edit?usp=sharing

[2017-11-22 16:01] onursumer commented on #3396
As far as I know we don't do any calculation for protein start, we are relying on VEP.

Actually, we are not doing any calculation in genome nexus. We do all the calculations during import phase. I guess this one is currently used for production:  https://github.com/genome-nexus/genome-nexus-annotation-pipeline/blob/master/annotator/src/main/java/org/cbioportal/annotator/internal/GenomeNexusImpl.j

[2017-11-22 18:38] jjgao commented on #3396
So it looks like a bug from VEP. Is there any way to report to them?

[2017-11-22 18:45] jjgao opened #3446 "error when querying a study I don't have access"
User A may share a query session with User B, but User B does not have access to all of the studies in the query. In that case, a JSP error page will be displayed - see below.

We need to display a better error message:

"The following studies do not exist or you do not have access to them: \n study_id_1, study_id_2"

[code]

[2017-11-22 18:55] onursumer commented on #3396
Maybe from http://www.ensembl.org/info/about/contact/index.html or https://github.com/Ensembl/ensembl-vep.

[2017-11-22 19:02] #3083 closed

[2017-11-22 19:57] jjgao commented on #3396
Could you submit an issue on their github? Thanks.

[2017-11-22 19:59] jjgao opened #3447 "handle virtual study logic in the frontend with querying"
Currently, when a virtual study is queried, the backend pull data from session-service and then query for virtual study.

We would like to separate the logic of virtual study from querying. The frontend will pull virtual study meta data from session service (through proxy?). When Query is submitted, all study and sample ids (instead of just virtual study ID) will be posted to the backend for proce

[2017-11-22 20:03] #3438 closed

[2017-11-22 21:09] jjgao opened #3449 "user login on public portal"
enable optional user login on public portal, let's do oauth2 for Google and Microsoft.

[2017-11-22 21:11] jjgao commented on #2537
I am closing the issue since we have retired cross_cancer.do.

[2017-11-22 21:11] #2537 closed

[2017-11-22 21:23] jjgao opened #3450 "managing virtual studies when a user is logged in"
- [ ] implement optional user login #3449
- [x] save a virtual study from study view page with user id (email address?)
- [x] pull virtual studies from session service by user id (email address?)
- [x] display them in the first category `My virtual studies` in query interface
- [x] when the user deletes a virtual study, remove the association of user to the virtual study in session service. But do

[2017-11-22 21:25] #3402 closed

[2017-11-22 21:27] zhx828 commented on #3402
Seems fixed. I will reopen the case if it comes up again.

[2017-11-23 00:05] #3421 closed

[2017-11-23 02:25] jjgao commented on #3275
do we still have the problem?

[2017-11-23 02:26] jjgao commented on #3235
@alisman please verify.

[2017-11-23 02:35] #3381 closed

[2017-11-23 02:43] jjgao opened #3454 "Functional Impact not working"
![image](https://user-images.githubusercontent.com/840895/33157176-20588ade-cfce-11e7-84c0-1a136c94df89.png)

http://www.cbioportal.org/index.do?session_id=58c01624498e5df2e29105bb

[2017-11-23 02:45] jjgao opened #3455 "tooltip of download"
can we change it to "Download data (tsv)"?

![image](https://user-images.githubusercontent.com/840895/33157210-599861fc-cfce-11e7-8e69-beed7160b4c9.png)

[2017-11-23 02:45] jjgao commented on #3409
CSV typo is captured in https://github.com/cBioPortal/cbioportal/issues/3455. I'll close this one now.

[2017-11-23 02:45] #3409 closed

[2017-11-23 02:47] #3326 closed

[2017-11-23 12:10] pieterlukasse opened #3456 "Expression tab will not load when _sequenced case list is missing"
The expression tab (which appears when querying 2 or more studies at the same time in 1.10.1) will hang, apparently due to a 403 error on an `api-legacy` call to retrieve `_sequenced` case lists (this only happens in a portal protected by an authentication). See screenshot below:

![image](https://user-images.githubusercontent.com/2900303/33172181-60f34346-d04f-11e7-87af-a8ec8c85a2c8.png)

A simil

[2017-11-23 16:01] pieterlukasse opened #3457 "cBioPortal documentation outdated / "API" broken"
There is an existing documentation page describing how to integrate with cBioPortal frontend (i.e. let cBioPortal automatically navigate to the study view or to a specific oncoprint result given a set of parameters):
https://github.com/cBioPortal/cbioportal/blob/master/docs/providing-cBioPortal-parameters.md

This functionality is now broken, most probably by the virtual studies feature.  For exam

[2017-11-23 16:03] pieterlukasse commented on #3457
@jjgao I think we need a stable set of endpoints for such type of integration.

[2017-11-24 11:24] pieterlukasse opened #3458 "CCLE study errors / heatmap not working?"
When querying CCLE study I noticed some problems:

1- the gene panel information seems wrong as there are genes with mutations and "not sequenced"  at the same time !? See screenshot below:
![image](https://user-images.githubusercontent.com/2900303/33208495-129ad8c6-d112-11e7-9263-d4ec091245e0.png)

2- The heatmap option does not seem to be working, although there is expression data (data does sho

[2017-11-24 11:27] pieterlukasse opened #3459 "Heatmap not working"
Heatmap does not seem to be working. Steps to reproduce: go to http://www.cbioportal.org/index.do?session_id=5959f6ba498e5df2e291f327&show_samples=false&

Then click "add genes to heatmap" option in heatmap menu. Every time the button is clicked, only 1 of the genes is added with an **empty** heatmap track. See screenshot below:

![image](https://user-images.githubusercontent.com/2900303/33208676-

[2017-11-24 13:02] sandertan opened #3460 "Incorrect labeling/coloring of intronic mutation"
In the mutation view the Intron is labeled/colored as "Other" but in the OncoPrint it is a (incorrectly) labeled/colored as "Truncating Mutation"

**Mutation View**
![screen shot 2017-11-24 at 13 37 28](https://user-images.githubusercontent.com/9624990/33211318-4b2748c6-d11e-11e7-8a60-7d25d7451b9a.png)

**OncoPrint**
![screen shot 2017-11-24 at 13 37 10](https://user-images.githubusercontent.com/9

[2017-11-27 13:32] jjgao opened #3461 "Mutations tab: Should we display detailed mutation types in legend"
- Instead of use `Truncating mutations` in the legend, should we just use any `Mutation Type` from the table?
- Should we use a different color for `splice mutation`?

![image](https://user-images.githubusercontent.com/840895/33268937-f727fe74-d34c-11e7-99c3-984db46e1dc7.png)

http://www.cbioportal.org/index.do?session_id=595d61a7498e5df2e2921610#mutation_details

[2017-11-27 13:44] schultzn commented on #3461
Not sure. Annotating splice site mutations in genes like MET with a different color is a good idea, but it does not really help in other genes.

I also like summarizing all truncating mutations in one number. But maybe we can add details in a parenthesis. e.g., 105 Truncating (75 frameshift, 25 nonsense, 1 nonstart, 4 splice)?

[2017-11-27 13:55] jjgao opened #3462 "Download tab issue"
- [ ] In `Type of Genetic alterations across all cases` section of `Download tab` , a tab is separating `STUDY_ID` and `Case ID`. Let's change it to colon (:).
- [x] Rename column header `Case ID` to "SAMPLE_ID"
- [x] Change `case` on the tab to `sample` since we always use samples.

https://cbioportal.mskcc.org/index.do?session_id=587f8a7d11d2c4ebd89da9a1

[code]

[2017-11-27 14:59] ersinciftci commented on #3302
@kalletlak that's just a comment line, the actual code checks `"List<MolecularProfileId>".equals(targetType) || "List<GeneticProfileId>".equals(targetType)`, does this issue still exist? @jjgao

[2017-11-27 15:00] #3277 closed

[2017-11-27 15:25] kalletlak commented on #3302
I think it got fixed with https://github.com/cBioPortal/cbioportal/pull/3208. I'll rebase and test it.

[2017-11-27 15:25] #3302 closed

[2017-11-27 16:20] ersinciftci opened #3464 "Portal version in Info API"
http://www.cbioportal.org/api/info returns `{"portalVersion":"${portal.version}","dbVersion":"2.4.0"}`, find out the reason.

[2017-11-27 19:39] jjgao opened #3465 "Download tab: Download OncoPrint label data"
A feature request from user:

A user would like to download the OncoPrint data in this format:

![image](https://user-images.githubusercontent.com/840895/33285523-8d517636-d380-11e7-86e8-25f8edd03682.png)

One option would be adding the data into the section of `Type of Genetic alterations across all cases`.

Another option would be adding a new section.

[2017-11-27 19:40] jjgao commented on #3465
@schultzn @alisman can we have a brainstorm session about redesigning Download tab?

[2017-11-27 20:56] jjgao commented on #3104
Are we still going to do this?

[2017-11-27 21:22] tmazor opened #3466 "multi-study query not loading"
User reported issue:
I queried on all studies, excluding duplicate studies, entered my gene name, and submitted the query. Such queries were able to display the list of all mutations in the genes previously by selecting the Mutations tab in the previous version of cBioPortal. Now, it is will not load.

Example query:
http://www.cbioportal.org/index.do?session_id=5a15c933498eb8b3d5608591

Screensho

[2017-11-27 21:35] #2941 closed

[2017-11-28 15:34] jjgao commented on #3457
@pieterlukasse I didn't know we have this doc :).. Yes, we need to update it.

[2017-11-28 15:36] jjgao commented on #3457
I also think we should have test cases to capture what's defined in this doc.

[2017-11-28 15:39] jjgao commented on #3458
@yichaoS could you look into this and see if the gene panel data are correct?

http://www.cbioportal.org/index.do?session_id=5a0457ae498e5df2e297f575

[2017-11-28 15:44] jjgao commented on #3459
@adamabeshouse could you look into this and see if you can fix it quickly?

![image](https://user-images.githubusercontent.com/840895/33328874-23dede7e-d429-11e7-9bea-e2c47622c524.png)

[2017-11-28 18:25] adamabeshouse commented on #3460
@jjgao there is no "other" type in the oncoprint, there is only missense, inframe, truncating, fusion, promoter

[2017-11-28 19:10] adamabeshouse commented on #3459
It seems the issue is the API call is returning data for a sample that's not in the given sample list: TCGA-A1-A0SO-01. We can probably ignore that issue since we have the new API, and just deal with handling that in the frontend - bug fix in this PR:

https://github.com/cBioPortal/cbioportal/pull/3469

I didn't write this code, so @pieterlukasse @fedde-s please confirm this bug fix would be appro

[2017-11-28 20:52] jjgao commented on #3460
@sandertan Is this one of your instances?

We do not officially support non-coding mutations. If you want to support that, you may need to change code in many different places: oncoprint, mutations tab, patient view, importer, etc.

[2017-11-28 20:57] ashraf123456789 opened #3470 "Seed Database not showing up on my local site"
Hi...
I have my site up, but with no public data on it. I made a sql database with seed database and schema downloaded, my portal properties file have the right database information, my maven settings file did as well....some help would be nice here.
<img width="905" alt="screen shot 2017-11-28 at 2 55 43 pm" src="https://user-images.githubusercontent.com/33638846/33343856-726e9ec6-d44c-11e7-975b-

[2017-11-28 21:17] jjgao opened #3471 "germline case list error"
We need to have a better to do this.
- If a study has no germline case list, we shouldn't try to pull the data.
- If there are no germline mutations, maybe we don't have to add the germline mutations frequency? (we don't really have a germline gene panel data, so it won't be correct anyway, right?)

![image](https://user-images.githubusercontent.com/840895/33344450-0a7c4f06-d457-11e7-9268-86770016

[2017-11-28 21:24] sandertan commented on #3460
@jjgao Yes it’s a custom instance. Many functionality is actually working already (importer, mutation view), but perhaps I should take a better look to see if there are more irregularities. Thanks for the reply, I’ll see if this is a priority for us.

[2017-11-28 21:27] #3460 closed

[2017-11-28 21:32] jjgao opened #3472 "Mutations tab not working for the queries below"
http://www.cbioportal.org/index.do?session_id=5a1dd511498eb8b3d560e102

http://www.cbioportal.org/index.do?session_id=5a1dd595498eb8b3d560e114

[2017-11-28 22:43] adamabeshouse opened #3473 "make other tabs respond to oncoprint-specified putative driver annotation"

[2017-11-29 00:19] angelicaochoa commented on #3378
@jjgao missing cnaseq case lists are resolved. The only study that did not actually have overlapping CNA and Mutations samples is `ov_tcga`.

[2017-11-29 03:03] jjgao opened #3474 "Mutations tab has no mutations in the query below"
http://www.cbioportal.org/index.do?session_id=5a1e2294498eb8b3d560e62c

[2017-11-29 03:53] jjgao commented on #3470
The seed database does not contain any studies. That's why there are no studies in the interface.

[2017-11-29 13:13] jjgao commented on #3378
Thanks, @angelicaochoa!

But in this query (http://www.cbioportal.org/index.do?session_id=5a1eb215498eb8b3d560ef6a) (all ov_tcga samples seleted), there are a lot of samples with both mutations and CNAs. Could you double check if  `cases_sequenced` and `cases_cna` were generated correctly?

![image](https://user-images.githubusercontent.com/840895/33376801-187dcb1c-d4dd-11e7-8f04-923bb71ff164.png)

[2017-11-29 13:18] jjgao commented on #3378
@angelicaochoa I tried two queries, one for sequence tumors (http://www.cbioportal.org/index.do?session_id=5a1eb2af498eb8b3d560ef77), and the other for cna tumors (http://www.cbioportal.org/index.do?session_id=5a1eb2bd498eb8b3d560ef79), and looked at the Download tab. There are a lot of overlapped samples between the two queries.

[2017-11-29 14:50] jjgao commented on #815
We will try to address this in this RFC: https://docs.google.com/document/d/1aBbkTAFv5nCqBv66BOgwvlt5kymgt0lQ7l_pqaFrupc/edit#

[2017-11-29 15:13] mckf111 opened #3475 "cBioPortal contains different cancer omics data"
I am new here, and I really like the UI of it!

After I checked the datasets, I found there are several big data for one cancer type, coming from different papers. However, I am confused that there are a few sets all labeled **TCGA**, including provisional, so which one is actually the data same with TCGA database (or GDC now)?

eg.

* Breast Invasive Carcinoma (TCGA, Cell 2015)
* Breast Invasive

[2017-11-29 16:13] pieterlukasse commented on #2464
I will check with @sandertan

[2017-11-29 16:18] #3271 closed

[2017-11-29 18:31] jjgao opened #3476 "performance tweaks -- default tab"
- single gene and single study: OncoPrint
- single gene and multiple studies: Cancer Type Summary
- multiple genes and multiple studies: OncoPrint

Another idea for multiple genes and multiple studies (maybe not necessary if the refactored OncoPrint performs better)
- if 20 or less studies: OncoPrint
- if >20 studies: Cancer Type Summary, and add a message in OncoPrint (Loading OncoPrint for xx st

[2017-11-29 19:17] onursumer commented on #3471
As far as I know, currently only private msk impact studies have this `_germline` sample list.

In order to determine whether a study has a germline sample list id, we can use this endpoint: http://www.cbioportal.org/api/studies/msk_impact_2017/sample-lists

[2017-11-29 20:18] onursumer commented on #3471
Actually, we are using the `/sample-lists/{sampleListId}/sample-ids` endpoint to check if a certain `germline` sample list exists, but seems like 404 errors show up in the console even if we catch the error in the frontend code: https://stackoverflow.com/questions/7035466/check-if-file-exists-but-prevent-404-error-in-console-from-showing-up

Seems like the only way to get rid of those `404 Not Fou

[2017-11-29 20:19] ashraf123456789 commented on #3470
@jjgao is there any steps you used to upload the public studies?

[2017-11-29 20:48] ersinciftci opened #3478 "Fix /mutations/fetch isEitherSampleListIdOrSampleIdsPresent error message"

[2017-11-29 21:22] adamabeshouse commented on #3113
that makes the legend kind of cluttered, would it be alright to just say "(unknown significance)"

[2017-11-29 23:10] jjgao commented on #3470
we'll continue the conversation on the user group. https://groups.google.com/forum/#!topic/cbioportal/iCVhj-iWfRI

[2017-11-29 23:10] #3470 closed

[2017-11-30 00:48] schultzn commented on #3113
Sure, that should work…

[2017-11-30 09:14] pieterlukasse commented on #610
@jjgao @adamabeshouse should we close this one? Or is it still a good idea?

[2017-11-30 14:38] jjgao commented on #3475
@mckf111 would you please send your question to cbioportal@googlegroups.com? Thanks.

[2017-11-30 14:38] #3475 closed

[2017-11-30 14:38] sandertan commented on #3250
Hi @inodb thanks for this fix. The issue is solved when querying from the query page.

Unfortunately, when querying from the Study View, adding a gene in the enrichment tab leads to a java.lang.NullPointerException. Can you take a look?

<img width="855" alt="screen shot 2017-11-30 at 15 33 44" src="https://user-images.githubusercontent.com/9624990/33436147-88c57e8a-d5e4-11e7-9cf9-cbcbe7940772.png

[2017-11-30 14:47] jjgao commented on #610
I still like the idea. Let's keep it open for now?

[2017-11-30 14:50] ersinciftci commented on #3464
We need to create a new `maven.properties` to set properties coming from maven.

[2017-11-30 18:26] rjattani commented on #3466
I have also found that a comprehensive search for all variants in all cancer types looks complete and can yield no mutations (http://www.cbioportal.org/index.do?session_id=5a202fda498eb8b3d5610905):
![image](https://user-images.githubusercontent.com/34137480/33444297-1d696bf6-d5b7-11e7-8a01-9a026dbaecf5.png)

However, if I pick a select few studies for the same gene, it does yield some variants (h

[2017-11-30 21:00] ersinciftci opened #3481 "In Fraction of Genome Altered API cutoff must be optional in swagger"

[2017-11-30 21:07] inodb opened #3482 "Set Up Google Authentication on Heroku with dummy account"
Have ideally a separate instance running on heroku that requires google authentication. Supply dummy account for testing with (1) limited access (2) all access.

[2017-11-30 21:35] adamabeshouse commented on #3130
https://github.com/cBioPortal/cbioportal-frontend/pull/770

[2017-11-30 21:36] adamabeshouse commented on #2942
https://github.com/cBioPortal/cbioportal-frontend/pull/770

[2017-11-30 22:23] onursumer commented on #3427
- cBioPortal/cbioportal-frontend#771 adds the download functionality for the `Annotation` column.
- `Functional Impact` is a bit tricky with the current cach & lazy load behavior.

[2017-11-30 23:15] schultzn opened #3484 "Some Datahub links on the Data Sets page are broken"
The links from the Data Sets page for the following two studies (as reported by a user, maybe there are more?) do not work:
http://www.cbioportal.org/study?id=nepc_wcm_2016#summary
http://www.cbioportal.org/study?id=blca_tcga_pub#summary

The data can be downloaded via the Github web interface directly though..

See the Google Groups requests:
https://groups.google.com/forum/?utm_medium=email&utm_

[2017-12-01 00:05] inodb commented on #3472
deployed

[2017-12-01 00:05] #3472 closed

[2017-12-01 09:35] sandertan opened #3485 "Missing genes in pop-up gene panel"
There are a couple issues with the pop-up of genes contained in a gene panel and possibly with the data on datahub.

- First gene is missing in the pop-up
- Last gene is missing in the pop-up

I also noticed `ABRAXAS1` is missing in the gene panel data files, which I reported in https://github.com/cBioPortal/datahub/issues/127

#### **First gene missing (ABL1):**
<img width="1278" alt="screen shot

[2017-12-01 13:45] jjgao commented on #3481
@ersinciftci I don't know if anyone ever changes the threshold. Maybe we can re-implement it? I would really like to pre-compute FGA.

[2017-12-01 14:14] ersinciftci opened #3486 "API Doc of POST /molecular-profiles/{molecularProfileId}/mutations/fetch"
Needs to be `Fetch mutations in a molecular profile.` instead of `Fetch mutations in a molecular profile by sample IDs`.

[2017-12-01 14:34] ersinciftci commented on #3481
@jjgao There are many things we can and should pre-compute. We can focus on them as part of database schema improvements we are planning with @n1zea144, as it requires schema and importer changes as well.

[2017-12-01 14:47] jjgao commented on #3481
@ersinciftci sounds good. Please make this one of the items.

[2017-12-01 15:19] jjgao commented on #3247
close it. Too big. Once we decide on the charting lib, it'll be solved.

[2017-12-01 15:19] #3247 closed

[2017-12-01 15:21] jjgao commented on #3300
@marianc000 would you please let us know the version of your IE?

[2017-12-01 15:22] #3307 closed

[2017-12-01 15:25] jjgao commented on #3275
@inodb @alisman please verify the issue.

[2017-12-01 15:26] jjgao commented on #3367
Looks like it's working one. Anyone did anything? @inodb

[2017-12-01 15:30] jjgao commented on #3273
data is loading now, but the direct link to the tab is not working. @alisman

[2017-12-01 15:32] jjgao commented on #3059
@onursumer any update?

[2017-12-01 15:37] jjgao commented on #3375
@onursumer Can we do the following?

- add an option to switch between patient and sample, similar to oncoprint.
- when on patients, show number of patients in lollipop, and patient IDs in the table (with same mutations merged)

[2017-12-01 15:43] jjgao commented on #3374
@adamabeshouse will this be in part of the refactoring?

[2017-12-01 15:44] jjgao commented on #3104
@adamabeshouse should we colse this?

[2017-12-01 15:45] jjgao commented on #3086
@pieterlukasse seems like the pr is merged. I'm closing this now.

[2017-12-01 15:45] #3086 closed

[2017-12-01 15:46] #3129 closed

[2017-12-01 15:46] jjgao commented on #3129
too big.

[2017-12-01 15:52] jjgao commented on #3100
@alisman let's get this in in the next sprint.

[2017-12-01 15:52] #3039 closed

[2017-12-01 15:54] jjgao commented on #3128
looks like it's solved. Closing.

[2017-12-01 15:54] #3128 closed

[2017-12-01 16:00] jjgao commented on #3183
@ersinciftci could you specify which frontend components will use these APIs? Maybe break it into multiple issues?

[2017-12-01 16:01] jjgao commented on #3269
@adamabeshouse could you add another issue to move OncoPrinter to the new tech stack later?

[2017-12-01 16:02] jjgao commented on #3308
@inodb could you verify this issue?

[2017-12-01 16:03] jjgao commented on #3456
We will probably make sure this will be fixed witht he refactoring effort.

[2017-12-01 16:15] jjgao commented on #3396
VEP will potentially solve this issue next year.

[2017-12-01 16:17] ersinciftci commented on #3183
@jjgao I think the title was supposed to be Study View, changed it. I think those were requested by Hongxin, `moving sequenced and copyNumberSegmentPresent to DETAILED projection` is done, and I think we solved `/sample-lists/{sampleListId}/sample-ids to /sample-lists/{sampleListId}/samples` in a different way.

[2017-12-01 16:18] jjgao commented on #3396
@onursumer they explained it well. Could you add an issue in GenomeNexus and follow up later? I am closing this one here now.

[2017-12-01 16:18] #3396 closed

[2017-12-01 16:24] kalletlak commented on #3183
`copyNumberSegmentPresent` would be even useful in result page whether to show IGV tab or not

[2017-12-01 17:01] inodb commented on #3275
@jjgao this seems to have been fixed now, maybe because of what @adamabeshouse mentioned?

[2017-12-01 17:01] #3275 closed

[2017-12-01 18:06] inodb commented on #3275
ok yeah Aaron just confirmed it was indeed cause of the MSK tabs not unmounting

[2017-12-01 18:11] inodb commented on #3308
@jjgao I don't see multiple calls now as before, but i do still see the issue you described that it calls the `canonical-transcript` endpoint again for a previous gene when you click on a different tab

[2017-12-01 19:00] jjgao opened #3487 "broken gene link in the Mutated Genes tab in study view"
@n1zea144 just reported:

When you click on a gene from the Mutated Genes tab of the summary and you get a QueryBuilder exception thrown?  It looks like the case_set_id=undefined.  Here is an example

https://cbioportal.mskcc.org/index.do?Action=Submit&genetic_profile_ids=mixed_cmo_trippet1_07132_n_p1_zp_mutations&case_set_id=undefined&cancer_study_id=mixed_cmo_trippet1_07132_n_p1_zp&gene_list=SOX

[2017-12-01 19:31] onursumer commented on #3059
@jjgao still no new release...

[2017-12-01 19:32] adamabeshouse commented on #3374
@jjgao it can be, it isn't currently

[2017-12-01 19:32] adamabeshouse commented on #3104
I think at some point we could definitely do this, but not for this release

[2017-12-01 19:33] adamabeshouse opened #3488 "Use react-wrapped oncoprint component for oncoprinter"

[2017-12-01 20:01] onursumer commented on #3375
@jjgao yes we can do this. I don't know how much effort it would require though. We will either need to update some of our column formatters or implement a new mutation table with separate formatters, say `ResultsViewPatientMutationTable`.

[2017-12-01 20:16] jjgao opened #3489 "replace data manager with page store"
After we fully refactor the page, the frontend data manager will be replaced with the page store. Is it possible to quickly replace the data manager without the full refactoring, ie. connect the unrefactored tab to the store?

[2017-12-01 20:26] jjgao commented on #3489
I think it should be easy to switch to query parameters (cancer study, case list, sample ids, profile ids, and genes) from the store. But the old tabs are still using the old API (through the data manager?), we cannot remove the data manager before we refactor them.

[2017-12-01 20:29] jjgao opened #3490 "replace JSP/java variables with AJAX calls"
e.g. the sample IDs, etc. This is be a necessary step towards single-page application

[2017-12-01 20:30] jjgao opened #3491 "use cross-study API to pull mutation data"
Currently we are pulling mutations data per study and generated many API calls if one queries for multiple studies.

[2017-12-01 20:55] #1014 closed

[2017-12-01 20:57] ersinciftci commented on #2459
Unassigning myself, not sure if it's still a valid issue.

[2017-12-01 20:58] ersinciftci commented on #2531
Unassigning myself, not sure if it's still a valid issue.

[2017-12-01 20:59] #2759 closed

[2017-12-01 21:01] #3103 closed

[2017-12-01 21:01] #3121 closed

[2017-12-01 21:01] #3122 closed

[2017-12-01 21:02] #3123 closed

[2017-12-01 21:03] adamabeshouse commented on #3489
my thought in the meeting the other day was that we can slightly refactor them to use the new data, and connect them to data in the new store

[2017-12-01 21:06] ersinciftci commented on #3289
Unassigning myself for now, as I don't know if I'll be the one generating the API clients for R, Python etc., but I agree.

[2017-12-01 21:32] jjgao commented on #3374
@adamabeshouse it's not necessary since it's already there.

[2017-12-01 21:36] jjgao commented on #3375
@onursumer I guess the difficult part is the merging part? We should be able to have both sample and patient columns easily, right?

Is it similar to patient view page merging mutations from multiple samples? In the patient view, we merge mutations based on mutation identity. Here, we need to merge mutations based on mutation identity and patient id.

[2017-12-01 22:38] adamabeshouse commented on #3485
https://github.com/cBioPortal/cbioportal/pull/3492

[2017-12-01 22:38] bobml opened #3493 "Permission Issue on public-portal.log file"
I know this is more of a Unix Issue than cbioportal but advice would be helpful. The cbioportal commands (validate, import, ...) and data resides in a user directory I created. Whenever I import data into cbioportal via the  ./metaimport.py command I always get the "java.io.FileNotFoundException: /usr/local/tomcat7/logs/public-portal.log (Permission denied)". Now, the import works fine, it just do

[2017-12-01 23:10] #3310 closed

[2017-12-02 02:23] jjgao opened #3495 "VUS sorting"
http://www.cbioportal.org/patient?studyId=skcm_tcga&sampleId=TCGA-FW-A3R5-06

VUS mutations (like neutral, known vus, uninvestigated) should probably have the same level so that hotspot mutations or other annotations will show first instead of "VUS non-hotspot mutations".

Can we also use OncoKB cancer gene list as the last criterion to order the Annotation column?

![image](https://user-images.gi

[2017-12-02 19:05] jjgao opened #3496 "cross-study API for pulling molecular data"
When performing a cross-study query now, it can easily generate hundreds of ajax calls. Similarly, for the Mutations tab. That might be one of the reasons that the site is not as smooth as before.

@ersinciftci can we extend the `molecular-data` end point (or develop a new one) to pull data from multiple molecular profiles?

[2017-12-02 19:11] jjgao opened #3497 "use cross-study API to pull molecular data into the store"
instead of pulling data one study at a time.

[2017-12-02 19:21] jjgao opened #3498 "reduce AJAX calls in the page from cross study query"
For cross-study queries, we are currently making many AJAX calls (more than 1000 if select all studies). Let's support / use cross-study API and reduce the number of AJAX calls.

[2017-12-02 20:36] jjgao opened #3499 "[RC] OncoPrint: show only one column per patient by default"

[2017-12-02 20:40] jjgao opened #3500 "[RC] cross study query not work"
empty Results page.

[2017-12-02 20:41] jjgao opened #3501 "[RC] query from study view page not working"
oncoprint does not render.

[2017-12-02 20:54] jjgao opened #3502 "[RC] slow query"
This query is significantly slower than the old code

new: http://www.cbioportal.org/beta/index.do?session_id=59b0eaca498e5df2e294f635

old: http://www.cbioportal.org/index.do?session_id=59b0eaca498e5df2e294f635

It looks like the new code downloaded 12M CNA data while the old code downloaded 12k CNA data.

[2017-12-02 21:00] jjgao opened #3503 "[rc] Survival: slight difference of #cases"
new: http://www.cbioportal.org/beta/index.do?session_id=59b0eaca498e5df2e294f635&show_samples=false

old: http://www.cbioportal.org/index.do?session_id=59b0eaca498e5df2e294f635&show_samples=false&

[2017-12-03 02:41] ersinciftci commented on #3503
@jjgao
[code]
returns 577, which is the total of my overall survival #total cases. The same query with `OS_STATUS` returns 580, so it means there are 3 patients that has `OS_STATUS` but doesn't have `OS_MONTHS`. I ignore those patients in the calculation but it seems the old code is counting them, not sure what value it uses for nonexistent `OS_MONTHS` though. Does it ring a bell for you?

[2017-12-03 02:48] ersinciftci commented on #3502
@jjgao it seems @adamabeshouse forgot to set `entrezGeneIds` in the request filter, so it's getting CNAs for all the genes. It returns 12M CNAs in 43 seconds, not bad :)

[2017-12-03 02:52] ersinciftci commented on #3496
@jjgao will create a `POST /molecular-data/fetch` endpoint. It has been in my todo list for a long time, seems finally the time has come :)

[2017-12-03 03:57] ashraf123456789 opened #3504 "Can't upload study files....."
Does anyone know how to deal with this?

Is the issue with the cancer_type.txt file? The metaImport.py? or Tomcat?

shaba033$./metaImport.py -s ../../../test/scripts/test_data/study_es_0/ -u http://localhost:8080/cbioportal -html myReport.html -v
Starting validation...

INFO: -: Running validation from cBioPortal version 1.10.1
DEBUG: -: Requesting cancertypes from portal at 'http://localhost:8080

[2017-12-03 03:58] ersinciftci commented on #3474
@jjgao `/molecular-profiles/{molecularProfileId}/mutations/fetch` calls return 400 because either sampleIds or sampleListId should be set. But since we have `/mutations/fetch` that supports multiple studies, we should use that one anyway.

[2017-12-03 04:16] ersinciftci commented on #3313
@pieterlukasse Actually it's supposed to return an empty list since sampleListId is not a path variable. Opening a PR that will also fix this now.

[2017-12-03 06:09] ersinciftci commented on #3201
@jjgao `genetic_profile_samples` table doesn't have data for mutations, how do we get the number of profiled samples for mutation profiles?

[2017-12-04 09:34] marianc000 commented on #3300
Hello

I use IE 11
![image](https://user-images.githubusercontent.com/20133496/33544491-3e57ed48-d8db-11e7-82c9-2a0223b84919.png)

In which the checkbox "Display intranet sites in compatibility mode" is selected.
![image](https://user-images.githubusercontent.com/20133496/33545075-5093089c-d8dd-11e7-8d22-801cbad07816.png)

I installed cBioPortal here in the local network. All the malformed pages t

[2017-12-04 13:57] sandertan commented on #3504
Hi Ashraf,

I replied to your question in our Google Groups:
https://groups.google.com/forum/#!topic/cbioportal/zdnX4AR0UIg

Could you try that solution? If it still isn't working, let me know in the Google Groups thread :)

[2017-12-04 13:57] #3504 closed

[2017-12-04 14:10] sandertan opened #3507 "Allow empty value for custom gene sets property"
When `querypage.setsofgenes.location=` is present but empty, cBioPortal crashes. So this property must be commented out or removed for instances that do not use custom gene sets. But it would be nice allow an empty value, to make it consistent with the other properties.

[2017-12-04 17:30] inodb opened #3509 "Loading of Query Page (index.jsp) very slow (~20s) for multiple studies"
Just getting index.do is ~20s (~9s download and 10s is spent in TTFB)

A lot of time is spent getting the data for the request:

I've used the debugger for profiling. This takes about 8s:

https://github.com/cBioPortal/cbioportal/blob/hotfix/core/src/main/java/org/mskcc/cbio/portal/servlet/QueryBuilder.java#L452-L468

Then this takes about 5s:

https://github.com/cBioPortal/cbioportal/blob/hotfix/

[2017-12-04 18:47] inodb commented on #3509
Partial fix that removes DOWNLOAD_LINKS: https://github.com/cBioPortal/cbioportal/pull/3510

[2017-12-04 19:34] jjgao opened #3513 "query interface change for multi-study query"
- [ ] Change `Select Data Type Priority` to `Select Genomic Profiles`
- [ ] Change the three radio boxes to two checkboxes: `Mutations` and `Copy number alterations`
- [ ] Change `Select Patient/Case Set` drop down to `Samples with mutations data`, `Samples with copy number alterations data`, `Samples with both mutations and copy number alterations data`, and `User-defined case list`. Proper case

[2017-12-04 19:45] inodb opened #3514 "Missing AF and Cohort for patient view of lgg_ucsf_2014"
After update to the public amazon database some of the data changed:

http://rawgit.com/cBioPortal/cbioportal/2158ebe35c5fb73c5319972bea44e3760eac2862/test/end-to-end/image-compare/index.html?img1=https://raw.githubusercontent.com/cBioPortal/cbioportal/2158ebe35c5fb73c5319972bea44e3760eac2862/test/end-to-end/screenshots/chrome/patient_view_lgg_ucsf_2014_case_id_P04.png&img2=https://ptpb.pw/xOjE.pn

[2017-12-04 19:54] adamabeshouse commented on #3502
https://github.com/cBioPortal/cbioportal-frontend/pull/776

[2017-12-04 20:01] adamabeshouse commented on #3499
https://github.com/cBioPortal/cbioportal-frontend/compare/rc...adamabeshouse:oncoprint-show-patients?expand=1

[2017-12-04 20:01] #3499 closed

[2017-12-04 20:01] #3502 closed

[2017-12-04 20:33] jjgao commented on #3513
@alisman just a FYI -- @kalletlak will make some changes to the query interface to make the options more clear.

[2017-12-04 20:46] jjgao commented on #3375
@onursumer Maybe we can reuse the logic of patient view in terms of showing/hiding columns?

[2017-12-04 20:50] jjgao commented on #3503
@ersinciftci thanks. Do you have the sample IDs of the three samples?

[2017-12-04 20:52] jjgao commented on #3493
@bobml would you please send your questions to cbioportal@googlegroups.com? Thanks.

[2017-12-04 20:52] #3493 closed

[2017-12-04 20:57] jjgao commented on #3201
@ersinciftci good question. We should modify the import to import `#sequenced_samples` header into the `genetic_profile_samples` table. Currently, it is only used to generate the cases_sequenced case list.

FYI -- We have an RFC (https://docs.google.com/document/d/1aBbkTAFv5nCqBv66BOgwvlt5kymgt0lQ7l_pqaFrupc/edit) to do this all properly.

[2017-12-04 20:57] ersinciftci commented on #3503
@jjgao Patient IDs are `TCGA-04-1357`, `TCGA-04-1360` and `TCGA-24-0968`.

[2017-12-04 21:00] ersinciftci commented on #3201
@jjgao If every study has `_sequenced` case list, I can get the count from there too. Should I do that?

[2017-12-04 21:32] jjgao commented on #3367
It's b/c of rate limit from the github. Can we cache them in the backend?

[2017-12-04 23:49] adamabeshouse commented on #3501
https://github.com/cBioPortal/cbioportal/pull/3515

[2017-12-05 00:19] adamabeshouse commented on #3157
https://github.com/cBioPortal/cbioportal/pull/3516

[2017-12-05 00:55] adamabeshouse commented on #2990
https://github.com/cBioPortal/cbioportal/pull/3517

[2017-12-05 14:05] jjgao commented on #3503
Thanks. I think your logic is correct.

[2017-12-05 14:05] #3503 closed

[2017-12-05 14:42] tmazor commented on #3157
@adamabeshouse I took a look at the screenshot in your PR and some of the formatting didn't translate properly - the section under "OQL Keywords" is supposed to be a table but it doesn't look like one anymore. Maybe the MD -> JSP conversion doesn't support tables?

[2017-12-05 18:50] ritikakundra commented on #3458
@pieterlukasse @jjgao This has been fixed
http://www.cbioportal.org/index.do?session_id=5a26ea4c498eb8b3d56162ae&show_samples=false&

[2017-12-05 19:00] jjgao opened #3518 "Study view page error"
https://cbioportal.mskcc.org/study?id=prad_su2c#summary

![image](https://user-images.githubusercontent.com/840895/33625118-9638e82a-d9c4-11e7-8087-9c40ccee4168.png)

[2017-12-05 19:56] jjgao commented on #3059
@onursumer they said they just release. could you check?

[2017-12-05 20:14] jjgao commented on #3514
looks like the cohort data is back after reimporting?

[2017-12-05 20:15] inodb commented on #3514
@jjgao correct, AF is still missing for a few I think but that might be fine

[2017-12-05 20:28] jjgao commented on #3458
Thanks, @ritikakundra !

[2017-12-05 20:29] #3458 closed

[2017-12-05 20:32] #3514 closed

[2017-12-05 20:32] jjgao commented on #3514
Closed for now. Not sure if there is a way to test for this in the backend. @n1zea144

[2017-12-05 20:35] jjgao commented on #3201
@ersinciftci let's do that for now. Thanks.

[2017-12-05 20:39] inodb commented on #3514
@jjgao @n1zea144 One thing is that this wasn't just in this particular study but also in e.g. impact: http://www.cbioportal.org/case.do#/patient?studyId=msk_impact_2017&caseId=P-0000058. The problem is probably more pervasive. I think every mutation should also be in `mutation_count_by_keyword`. Maybe we should just have some sql query to confirm that? Maybe set up a daily cron job that verifies c

[2017-12-05 21:40] inodb opened #3520 "Use fewer AJAX calls for Germline Mutation Rate"
- [ ] Make property for which studies have a germline case list (the property should be in frontend and should list study id and case list id)
- [ ] If there are germline mutations, but no case list id. Use the whole list of queried samples as denominator
- [ ] If there are germline mutations and a germline case list. Use the cases contained in the germline case list as the denominator.
- [ ] If t

[2017-12-06 15:38] zhx828 commented on #3518
@jjgao The issue is the clinical attribute ID in the clinical data does not match with the clinical metafile. In the metadata, the ID is `CLIN_M_STAGE`(the clincial_attribute_meta table) but in the clinical data is `CLIN_M_Stage` ( the 'clincial_patient' table).I can handle this issue, but since front-end does not convert any clinical attribute, the ideal output would be giving the user an error m

[2017-12-06 15:55] jjgao commented on #3447
@kalletlak and I had some discussion and we agreed that it may be better to do this after or during the process of moving logic in QueryBuilder to frontend.

[2017-12-06 16:31] sandertan commented on #3518
The current validator only gives a warning when an attribute name is not completely in upper case:

https://github.com/cBioPortal/cbioportal/blob/master/core/src/main/scripts/importer/validateData.py#L1776

@jjgao @pieterlukasse Do you think this should be an error?

[2017-12-06 17:33] inodb opened #3522 "Create drop-down in Mutations Tab for selecting isoform"
- [x] Get annotation data from genome nexus
- [x] Allow picking transcript through drop down
- [x] ~Maybe add some note that annotations for OncoKB are always based on one transcript~ (disabled OncoKB track)
- [x] ~Have to figure out what to do with MutationAssessor/Hotspots~ (Disabled Hotspots)
- [ ] What to do with MutationAssessor?

Note:
- we only import NS mutations for canonical isoforms. At

[2017-12-06 17:40] inodb opened #3523 "Disable germline case lists call for multiple studies on mutations tab"

[2017-12-06 17:41] inodb commented on #3520
Easier solution for now: https://github.com/cBioPortal/cbioportal/issues/3523

[2017-12-06 17:48] adamabeshouse commented on #3157
@tmazor please see discussion on PR

[2017-12-06 18:24] ersinciftci commented on #3496
https://github.com/cBioPortal/cbioportal/pull/3524

[2017-12-06 18:31] zhx828 opened #3525 "Support sampleListIds in api/samples/fetch POST"
Enable endpoint to accept a list of sample-list for multiple studies to get the mapping between sample id and patient id.

Currently, the endpoint accepts the sampleId-studyId pair. But for a complete study, sending all pairs will slow down the performance of the API.

[2017-12-06 21:14] adamabeshouse commented on #3130
merged into `rc`

[2017-12-06 21:14] #3130 closed

[2017-12-06 21:15] #3047 closed

[2017-12-06 21:17] adamabeshouse commented on #3124
merged into `rc`

[2017-12-06 21:17] #3124 closed

[2017-12-06 21:17] adamabeshouse commented on #3167
merged into `rc`

[2017-12-06 21:17] #3167 closed

[2017-12-06 21:20] adamabeshouse commented on #2956
fixed in refactor

[2017-12-06 21:20] #2956 closed

[2017-12-06 21:20] inodb opened #3526 "Don't show error that patient doesn't exist when no mutation data"
When there is no mutation data, we shouldn't show a pop up that the patient doesn't exist if there's still other data available

https://cbioportal.mskcc.org/case.do#/patient?studyId=mixed_pdx_msk&caseId=P-0009874&navCaseIds=P-0009874

[2017-12-06 21:32] #3459 closed

[2017-12-06 21:32] #3274 closed

[2017-12-06 21:32] adamabeshouse commented on #3274
fixed by refactor, merged into `rc`

[2017-12-06 22:33] tmazor opened #3530 "survival tab text modifications"
The column names in the tables on the survival tab are very informal. I would reword them as follows:
#total cases --> Number of Cases, Total
#cases deceased --> Number of Cases, Deceased
median months survival --> Median Months Survival
#cases relapsed --> Number of Cases, Relapsed
median months disease free --> Median Months Disease Free

Also the column names shouldn't be bolded since the row n

[2017-12-06 22:36] adamabeshouse commented on #3374
https://github.com/cBioPortal/cbioportal-frontend/pull/781

[2017-12-06 22:44] tmazor opened #3531 "oncoprint - diagnosis age is N/A but data exists"
![image](https://user-images.githubusercontent.com/10508276/33689280-d5f2346a-daac-11e7-88bc-4c5f27b8c010.png)
http://www.cbioportal.org/beta/index.do?session_id=5a1eef06498eb8b3d560f502&show_samples=true&clinicallist=AGE

Same query on production has ages, so the data does exist:
![image](https://user-images.githubusercontent.com/10508276/33689299-e80a2ab8-daac-11e7-8b3d-9332c8a4d173.png)
http://

[2017-12-06 22:47] adamabeshouse opened #3532 "Weird rendering issue with oncoprint sort Z->a"
http://www.cbioportal.org/index.do?tab_index=tab_visualize&cancer_study_list=coadread_tcga_pub&cancer_study_id=coadread_tcga_pub&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=coadread_tcga_pub_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=coadread_tcga_pub_gistic&Z_SCORE_THRESHOLD=2.0&case_set_id=coadread_tcga_pub_nonhypermut&case_ids=&gene_list=KRAS+NRAS+BRAF&gene_set_choice=user-d

[2017-12-06 22:47] tmazor commented on #3531
The track populates if I switch to view by patient rather than by sample.

[2017-12-06 22:51] adamabeshouse commented on #3531
this looks like an issue of creating sample data from patient attribute data, the issue is present for other patient attributes I try. good catch

[2017-12-07 08:28] sandertan commented on #3507
Fixed in #3508

[2017-12-07 08:28] #3507 closed

[2017-12-07 09:07] pieterlukasse commented on #3457
Thanks @jjgao . Will the frontend team work on this one? I agree we need some automated tests so that CI(travis) fails if anything changes and is not made backwards compatible.

[2017-12-07 09:43] pieterlukasse commented on #3518
@sandertan I think that a better solution would be to let the importer set all to uppercase upon importing into DB. In this way the warning could also be removed. I would vote for a system that is not case sensitive for this part. Until then, we should perhaps change the current warning to an error (this is a quick fix).

[2017-12-07 11:07] fedde-s commented on #3532
Right, I added the icon in pull request #3155.

[2017-12-07 15:19] tmazor opened #3533 "oncoprint pdf download color difference"
When I download OncoPrint as a PDF, the legend for numeric clinical tracks (e.g. OS (Months) & Total mutations) is black. On the site or if I download as PNG/SVG, the legend is green to match the actual data bars:

PDF
![image](https://user-images.githubusercontent.com/10508276/33722419-e2d19d16-db37-11e7-87fa-4cbba89c3258.png)

PNG
![image](https://user-images.githubusercontent.com/10508276/33722

[2017-12-07 15:45] tmazor opened #3534 "oncoprint minimap icon"
The icon on the refactored page to open up minimap is not intuitive to me. When I see that icon, I expect that clicking it will expand the figure or go full screen.
![image](https://user-images.githubusercontent.com/10508276/33722848-16e6e858-db39-11e7-8b21-34d9e77cfad4.png)

Can we change the icon? What about something like the two options below?

![image](https://user-images.githubusercontent.co

[2017-12-07 17:55] adamabeshouse commented on #3534
I like the second one, it feels more map-like to me. Maybe even an actual compass icon would be appropriate?

[2017-12-07 17:57] adamabeshouse commented on #3533
this probably has to do with someone making a mistake and changing the legend rendering to use an attribute for color thats not compatible with our svg-to-pdf engine. Good catch. I'll look into it

[2017-12-07 17:57] adamabeshouse commented on #3532
@fedde-s are you seeing the issue as well

[2017-12-07 18:21] adamabeshouse commented on #3531
https://github.com/cBioPortal/cbioportal-frontend/pull/782/files

[2017-12-07 19:07] adamabeshouse commented on #3533
https://github.com/cBioPortal/oncoprintjs/pull/38
https://github.com/cBioPortal/cbioportal-frontend/pull/783

[2017-12-07 19:07] adamabeshouse commented on #2766
done in refactor

[2017-12-07 19:07] #2766 closed

[2017-12-07 19:07] adamabeshouse commented on #2903
done in refactor

[2017-12-07 19:07] #2903 closed

[2017-12-07 19:08] #3485 closed

[2017-12-07 19:09] #3533 closed

[2017-12-07 20:48] schultzn opened #3535 "Enrichments tab: Multiple copies of Complete Results text file are downloaded"
On the enrichments tab, when selecting mutually exclusive or co-occurring alterations (one of the two, not both, which is the default), multiple copies of the sample files get downloaded..

Example link:
http://www.cbioportal.org/index.do?session_id=595a18c3498e5df2e291f4f3&show_samples=false&

![image](https://user-images.githubusercontent.com/11892704/33738010-0d909880-db66-11e7-9363-16f2c67ae5c

[2017-12-07 20:51] schultzn opened #3536 "Gene size on Mutations tab of study view is incorrect for many genes"
The gene size on the Mutations tab of the study view is incorrect for TP53, TERT, KRAS, probably maybe others.

Where is this data from? Does it include UTRs?

http://www.cbioportal.org/study?id=msk_impact_2017#mutations

![image](https://user-images.githubusercontent.com/11892704/33738167-76a00b62-db66-11e7-836e-9b3f811a5024.png)

[2017-12-07 22:11] inodb commented on #3513
@jjgao should this go to hotfix or is this for 1.11?

[2017-12-08 07:16] nongbaoting opened #3538 "R package cgdsr download clinical data error"
when i used R package cgdsr to download TCGA cancer clinical data，there was an error through to me！

`mycgds = CGDS("http://www.cbioportal.org/public-portal/")
myclinicaldata = getClinicalData(mycgds,'blca_tcga_all')
`
and the errror were：

`
Error in scan(file, what, nmax, sep, dec, quote, skip, nlines, na.strings,  :
  line 284 did not have 91 elements
`

only happened to blca_tcga_all dataset

[2017-12-08 11:28] fedde-s commented on #3532
Not in Firefox or Safari, but I can reproduce it in Chrome, yes.

[2017-12-08 11:34] fedde-s commented on #3532
And in Chromium, but that's basically the same browser.

[2017-12-08 16:10] onursumer opened #3540 "Remove duplicate and empty Genome Nexus query params"
Seems like we are sending duplicate and empty queries to genome nexus cache while retrieving data for Functional Impact column. Remove duplicate and empty values before sending the POST request.

[2017-12-08 19:08] adamabeshouse commented on #3532
okay, then I guess its just a browser issue and since its pretty minor anyway, clicking out gets rid of it, I think we can close this.

[2017-12-08 19:08] #3532 closed

[2017-12-08 19:21] jjgao commented on #3514
@n1zea144 I remember you have some database validation code? Maybe we can add a rule there?

[2017-12-08 19:34] jjgao commented on #3457
We should still support the old URLs. Could someone in the refactoring team look into this one? @alisman

[2017-12-08 19:36] jjgao commented on #3534
I like the second one too.

[2017-12-08 19:49] fedde-s commented on #3532
It might be because I failed to include prefixes for browsers that consider the `transform` style experimental, although I'd expect those browsers to just ignore it altogether.

[2017-12-08 20:42] jjgao commented on #3536
@inodb @onursumer maybe now we can get the protein length from GenomeNexus? The current gene length was a hack.

[2017-12-11 14:32] tmazor opened #3543 "virtual studies query fails on beta"
I get this when I query multiple studies:
![image](https://user-images.githubusercontent.com/10508276/33835989-29e81826-de56-11e7-84cb-aa28639fb578.png)
http://www.cbioportal.org/beta/index.do?session_id=5a2e9657498eb8b3d561c3f3

[2017-12-11 14:35] tmazor opened #3544 "modify query forgets genes on beta"
When I click "Modify Query", the gene set box is empty but it should show the genes from the original query.

[2017-12-11 14:39] tmazor opened #3546 "incorrect sample count in header"
At the top, it says 530 samples but there are only 283 samples with sequencing & CNA data (as correctly written below in the oncoprint).

Also there's a missing space at the top between "CNA data" and "(530 samples)"

![image](https://user-images.githubusercontent.com/10508276/33836278-f51b7a92-de56-11e7-8137-d702175e0e14.png)
http://www.cbioportal.org/beta/index.do?session_id=5a2e973a498eb8b3d561

[2017-12-11 14:40] schultzn commented on #3534
Agreed! It looks like you already changed it? I like what is there now:
![image](https://user-images.githubusercontent.com/11892704/33836390-4d565a38-de57-11e7-8932-1611eb23ac04.png)

[2017-12-11 14:50] tmazor opened #3547 "oncoprint - mutation type shown in legend but not present in data"
When I run this query on beta, the legend shows "Truncating Mutation (unknown significance)" which implies that there is at least one mutation of that type.

However, I can't find any mutations like that by eye in the OncoPrint, and when I run the same query on production, it doesn't show up in the legend there.

Beta:
![image](https://user-images.githubusercontent.com/10508276/33836820-8698bef2-d

[2017-12-11 14:54] alisman opened #3548 "Gene selection is not persisted on results page"
Submit a query.
On results page, click "modify query"
You will see the genes selection is empty instead of populated

[2017-12-11 15:01] tmazor opened #3549 "extra labels on enrichments tab"
![image](https://user-images.githubusercontent.com/10508276/33837224-aea17316-de59-11e7-8a7d-6ab96ffab7ae.png)

And if I try to click through to Copy-number, mRNA and Protein tabs, then the extra labels replicate but the data below doesn't change and still shows Mutations:
![image](https://user-images.githubusercontent.com/10508276/33837312-f3b1b6be-de59-11e7-943e-0475ca3b461b.png)

http://www.cbi

[2017-12-11 15:13] #3367 closed

[2017-12-11 15:13] inodb commented on #3367
deployed

[2017-12-11 17:08] jjgao opened #3551 "[RC] Number of samples after "Modify Query" is incorrect"
And a space should be added before `(xxx samples)`

http://www.cbioportal.org/beta/index.do?session_id=5a2eba91498eb8b3d561c6f5

![image](https://user-images.githubusercontent.com/840895/33843604-d662e56c-de6b-11e7-9257-617c471792a8.png)

[2017-12-11 20:17] armeniaj opened #3553 "Download oncoprint issue in SVG or PNG."
The bars in the oncoprint from the clinical annotation tab are converted to a flat line when you download the oncoprint either as PNG or SVG. The only clinical attributes that are properly saved as bars are mutation counts or mutation spectrum.

Example:
https://cbioportal.mskcc.org/index.do?session_id=5a2ed498498eb8b3d561c8ef&show_samples=false&clinicallist=AR_SCORE,NEPC_SCORE,NEUROENDOCRINE_FEAT

[2017-12-11 20:44] jjgao commented on #3543
maybe the same issue: https://github.com/cBioPortal/cbioportal/issues/3500

[2017-12-11 20:46] jjgao commented on #3551
duplicate with #3546

[2017-12-11 20:46] #3551 closed

[2017-12-11 20:50] alisman opened #3554 "Oncoprint needs to search oncokb across cancer type"
Right now we are submitting cancer type property in oncokb queryvariants.   This causes oncokb to do a lot more work and is uncessary.  We thus need separate data for oncoprint onckb and mutation tab.

[2017-12-11 20:51] jjgao commented on #3544
duplicate with #3548

[2017-12-11 20:51] #3544 closed

[2017-12-11 21:05] adamabeshouse commented on #3534
that is not on the refactored page :)

[2017-12-11 21:20] armeniaj commented on #3553
@adamabeshouse the beta portal does not have the clinical attributes that do not work in the mskcc portal. Below is the link of the issue, can you reproduce it?

https://cbioportal.mskcc.org/index.do?session_id=5a2ed498498eb8b3d561c8ef&show_samples=false&clinicallist=AR_SCORE,NEPC_SCORE,NEUROENDOCRINE_FEATURES,ABI_ENZA_EXPOSURE_STATUS&

[2017-12-11 21:20] #3497 closed

[2017-12-11 21:21] jjgao commented on #3273
Make sure direct link to every tab works

[2017-12-11 21:21] #3491 closed

[2017-12-11 21:22] adamabeshouse commented on #3547
if you zoom out there actually is a VUS truncating, in sample TCGA-DU-5874-01 in CIC

[2017-12-11 21:22] #3496 closed

[2017-12-11 21:23] tmazor opened #3555 "patient survival status discrepancies"
I queried all published TCGA studies. There are two clinical attributes relating to survival: "Patient's Vital Status" and "Overall Survival Status". 78 patients (spanning 3 studies) that are alive according to "Patient's Vital Status" are deceased according to "Overall Survival Status":

![image](https://user-images.githubusercontent.com/10508276/33854238-ea598eae-de8e-11e7-90d6-c98eed1a58e7.png)

[2017-12-11 21:24] adamabeshouse commented on #3553
@armeniaj I don't have access to that study :(

[2017-12-11 21:25] #3490 closed

[2017-12-11 21:26] jjgao commented on #3489
Let's prioritize the one in the cross-study results page first, ie. Expression tab and Download tab.

[2017-12-11 21:31] tmazor commented on #3547
Good catch - sorry, I didn't see that one. Follow-up question then - why is that mutation labeled differently in beta than in production? On production, that same mutation is labeled as a putative driver truncating mutation, which is why the legend there doesn't list putative passenger truncating.

![image](https://user-images.githubusercontent.com/10508276/33854681-8ffec2ce-de90-11e7-8233-e3c6c70

[2017-12-11 21:34] adamabeshouse commented on #3547
@tmazor this may be related to https://github.com/cBioPortal/cbioportal-frontend/pull/797

[2017-12-11 21:39] armeniaj commented on #3553
@ritikakundra is giving you access.

[2017-12-11 21:51] tmazor commented on #3547
I'm not sure if that is the reason because other splice site mutations in the same tumor type are being appropriately labeled as oncogenic.

However, I'm not familiar with that "=" in the protein change and I actually think that might be the issue. If I query all studies for CIC mutations, and then filter for splice mutations, there are 2 mutations that don't have an OncoKB logo in the annotation

[2017-12-11 23:03] alisman commented on #3444
@jjgao I added a new loading animation to the oncoprint.  It's not a progress bar but better than what we had.  Do you think progress bar would still be an improvement?  If so, not hard to accomplish (fake of course)

[2017-12-11 23:29] adamabeshouse commented on #3548
https://github.com/cBioPortal/cbioportal-frontend/pull/799

[2017-12-11 23:41] ritikakundra commented on #3547
@tmazor @adamabeshouse OncoKb annotation could be due to the weird mutation. This issue was in lgg ucsf too, on re-annotating with genome nexus it got updated. Am doing the MSK-IMPACT one right now. For the provisional, I will have to ask @angelicaochoa

[2017-12-12 00:00] adamabeshouse commented on #3534
https://github.com/cBioPortal/cbioportal-frontend/pull/800

[2017-12-12 00:29] adamabeshouse opened #3556 "oncoprint track menus do not open when dots are clicked"

[2017-12-12 03:22] PichaiRaman opened #3557 "NaN in Breast Cancer study (TCGA Cell 2015) causing"
Got this message

[code]
I tried it and he is correct. I saw that one of the samples has an NaN value for EZH2 and I think that's causing all samples to have NaN upon Z-scoring.

[2017-12-12 03:26] ashraf123456789 opened #3558 "Trouble uploading studies due to expression median errors"
I've been having a lot of issues with the expression median files, this is one example.

shaba033$./metaImport.py -s /Users/shaba033/Downloads/coadread/tcga         -n -o
Starting validation...

INFO: -: Running validation from cBioPortal version 1.10.1
WARNING: -: Skipping validations relating to cancer types defined in the portal
WARNING: -: Skipping validations relating to gene identifiers and

[2017-12-12 03:27] ashraf123456789 commented on #3558
Also mutations extended files are also other files I'm having troubles with studies

[2017-12-12 14:55] tmazor opened #3559 "oncoprint add clinical tracks lists tracks twice"
When querying multiple studies, clinical tracks that are present in multiple studies show up multiple times:
![image](https://user-images.githubusercontent.com/10508276/33890841-5a964dfe-df22-11e7-96db-5d4144e7484a.png)

If I click any one of those, they all get checked off and a single track appears with all the data from all the studies - so the end result is what I expect, but the add clinical

[2017-12-12 15:27] tmazor opened #3560 "oncoprint for virtual studies needs "study of origin" track"
When querying multiple studies, OncoPrint used to load with a "Study of origin" track. That track doesn't exist on beta.

[2017-12-12 16:45] alisman opened #3561 "On study view, patients with 0 mutations are counted having no mutation data"
http://www.cbioportal.org/study?id=acc_tcga#summary

There are two patients in this study who show up in summary pie chart as "without mutation data".  In fact they have mutation data but zero mutations

[2017-12-12 16:59] #3486 closed

[2017-12-12 16:59] #3313 closed

[2017-12-12 16:59] #3464 closed

[2017-12-12 16:59] #3481 closed

[2017-12-12 16:59] #3478 closed

[2017-12-12 16:59] #2968 closed

[2017-12-12 17:33] zhx828 commented on #3561
These two patients are not sequenced.

The confusion was caused when we try to visualize these two patients, one of the endpoints(http://www.cbioportal.org/api/molecular-profiles/acc_tcga_mutations/mutations/fetch?projection=DETAILED) used in patient view for fetching mutation data is returning an empty array which causes patient view thinks this patient is sequenced but without mutation data. Ide

[2017-12-12 17:33] #3561 closed

[2017-12-12 19:02] alisman opened #3563 "Problem with mutation table download on patient page"
https://cbioportal.mskcc.org/case.do#/patient?studyId=mixed_cbe_paradal_LP_brpdx&caseId=p_C_006081

VM109:390 Uncaught Error: Not all the arrays returned from the download functions are from the same length.

[2017-12-12 19:10] adamabeshouse commented on #3560
https://github.com/cBioPortal/cbioportal-frontend/pull/802

[2017-12-12 19:48] #3546 closed

[2017-12-12 19:48] #3554 closed

[2017-12-12 19:49] #3543 closed

[2017-12-12 20:31] alisman commented on #3556
problem has to do with container div of scroll bar having no extent.  Not sure why this wasn't formerly a problem.  If it can be given a static height and width, problem is solved.

[2017-12-12 21:35] adamabeshouse commented on #3556
https://github.com/cBioPortal/cbioportal-frontend/pull/804

[2017-12-12 21:35] #3534 closed

[2017-12-12 21:36] #3531 closed

[2017-12-12 21:36] #3501 closed

[2017-12-12 21:36] #3560 closed

[2017-12-12 22:28] adamabeshouse commented on #3548
https://github.com/cBioPortal/cbioportal/pull/3564

[2017-12-12 22:33] #3374 closed

[2017-12-12 22:45] onursumer commented on #3563
@pieterlukasse @oplantalech seems like this bug is related to the `function getAsList<T>(data: Array<string|string[]>, maxColLength: number): string[][]`.

I think this functionality was added to be able to generate multiple rows from a single mutation row.

Could you guys take a look into this one?

[2017-12-12 22:53] ritikakundra commented on #3547
@adamabeshouse @tmazor The MSK-IMPACT one is solved:
http://www.cbioportal.org/case.do#/patient?studyId=msk_impact_2017&sampleId=P-0001901-T01-IM3

Provisional will take time.

[2017-12-13 09:11] coonya opened #3565 "not present genomic overview in patient view"
![cbio](https://user-images.githubusercontent.com/5857083/33930662-042df5b0-e031-11e7-8e8c-90b233578119.png)

[2017-12-13 13:50] jjgao commented on #3394
Let's handle this when refactoring this tab?

[2017-12-13 14:03] jjgao commented on #3487
@zhx828 could you look into this soon? Thanks.

[2017-12-13 14:54] tmazor commented on #3547
thanks @ritikakundra!

[2017-12-13 15:47] ersinciftci commented on #3183
@zhx828 will create separate issues for every Study View API needs, so closing this one.

[2017-12-13 16:08] #3388 closed

[2017-12-13 16:23] zhx828 commented on #3518
@sandertan @pieterlukasse for now, we will make sure all clinical attribute IDs coming from back-end be uppercases. Once the data validator supports the rule, we can think to remove the additional converter in front-end.

[2017-12-13 16:29] zhx828 opened #3568 "Use\ EnhancedFixedDataTable component for the table in study view mutated genes tab"
After [removing the threshold on calculating significant mutation genes in legacy endpoint](https://github.com/cBioPortal/cbioportal/pull/3306), the table is quite slow with more genes added. Switch to EnhancedFixedDataTable instead of jQuery datatable.

[2017-12-13 16:31] zhx828 commented on #2266
@oplantalech does the issue still exist? Are we allowing `&` in the study_id now?

[2017-12-13 16:33] zhx828 commented on #2595
@pieterlukasse does the issue still exist after switching to new API?

[2017-12-13 16:35] jjgao opened #3569 "multi-profile support for molecular-profiles"
Currently, for multi-study query, we are pulling profile data one profile at a time, e.g. http://www.cbioportal.org/beta/api/molecular-profiles/chol_tcga_gistic.

Can we support multiple profiles in `/api/molecular-profiles`? And also change the frontend to pull at once instead of study by study.

We also pull data one study at a time in frontend: e.g. http://www.cbioportal.org/beta/api/molecular-

[2017-12-13 16:43] jjgao opened #3570 "remove calls to discrete copy number end point"
In the resultsviewstore there's discreteCNAData remoteData.  This is only used by onkcokb calls.  We should be able to substitute the molecularData result (filtering it for CNA data only)

[2017-12-13 16:48] jjgao opened #3571 "cross-study support of clinical-attributes end point"
Currently we are retrieving clinical attributes per study. Can we support multiple studies?

[2017-12-13 16:52] jjgao opened #3572 "cross-study support of studies end point"
Currently we are retrieving studies data per study. Can we support multiple studies?

[2017-12-13 16:59] jjgao opened #3573 "multi-profile support for molecular-profiles"

[2017-12-13 19:16] inodb commented on #3540
also check hotspots (same logic)

[2017-12-13 19:27] inodb opened #3574 "errors annotation endpoint"
If one of the services fails we should return an error for that specific service in the response.

[2017-12-13 19:27] #3574 closed

[2017-12-13 19:32] ersinciftci commented on #3573
I think this is same with #3569

[2017-12-13 19:58] adamabeshouse commented on #3553
https://github.com/cBioPortal/cbioportal-frontend/pull/804

[2017-12-13 19:59] #3553 closed

[2017-12-13 19:59] #3556 closed

[2017-12-13 20:00] #3548 closed

[2017-12-13 20:00] #3559 closed

[2017-12-13 20:41] adamabeshouse commented on #3570
https://github.com/cBioPortal/cbioportal-frontend/pull/806

[2017-12-13 20:43] adamabeshouse commented on #3573
duplicate

[2017-12-13 20:43] #3573 closed

[2017-12-13 20:53] onursumer commented on #3540
seems like we are querying hotspots by unique genes: https://github.com/cBioPortal/cbioportal-frontend/blob/b3f30b94b5352fc901c0ed06e93f64d3e9f78b26/src/shared/lib/StoreUtils.ts#L635

[2017-12-13 21:44] jjgao commented on #3378
@angelicaochoa did you have a chance to look into the ovarian study? There are definitely many overlapping samples between the mutations and cna profiles.

[2017-12-13 21:58] jjgao commented on #3557
@ritikakundra could you verify and fix it in the data file? Thanks.

[2017-12-13 22:03] jjgao commented on #3444
@alisman it's probably not necessary. I'm closing this.

[2017-12-13 22:03] #3444 closed

[2017-12-14 11:19] sandertan opened #3577 "Add warning for missing mutation and cna case lists"
Perhaps it's a good idea to give a warning when `_sequenced`, `_cna` or`_cnaseq` are missing while the data is present. These case lists are important for:
- The default case selection on the query page
- The prevalence calculation in the OncoPrint
- The %mutated tables in the Study View.

We can also make it an error because of the importance. A number of public studies might need to be fixed in

[2017-12-14 14:15] jjgao commented on #3555
This is a tricky one. I think it might be related to different time point. `Overall Survival Status` is from the latest follow up data but `Patient's Vital Status` may be from `patient.txt` which is not updated. I think it's probably a good idea to remove `Patient's Vital Status` for TCGA studies.

[2017-12-14 14:29] jjgao commented on #3565
@coonya could you add the link to this page?

[2017-12-14 14:51] jjgao opened #3578 "Incorrect OncoKB annotation"
Reported by @tmazor in #3547.

Not all splice mutations in CIC were annotated as oncogenic, but in OncoKB (http://oncokb.org/#/gene/CIC), CIC truncating mutations are annotated as "likely oncogenic".

http://www.cbioportal.org/index.do?session_id=5a328ec0498eb8b3d5620de9&show_samples=false&

![image](https://user-images.githubusercontent.com/840895/33997870-cf32455e-e0b3-11e7-9591-2acf1198a7cf.png

[2017-12-14 14:56] #2735 closed

[2017-12-14 15:00] zhx828 commented on #3578
@jjgao we are handling that, but I just realize portal front-end is actually converting consequence to OncoKB consequence. In there, it does not handle Splice_site. I will remove the logic.

[2017-12-14 15:02] jjgao opened #3579 "[rc] OncoPrint not rendering for the single-gene multi-study query"
http://www.cbioportal.org/beta/index.do?session_id=5a32923a498eb8b3d5620e3b

![image](https://user-images.githubusercontent.com/840895/33998552-da0eb596-e0b5-11e7-9f07-59c08bffd69e.png)

[2017-12-14 16:14] ersinciftci commented on #3569
https://github.com/cBioPortal/cbioportal/pull/3580

[2017-12-14 17:22] alisman commented on #3579
@adamabeshouse one hint is that when you switch to oncoprint page from cancer type summary (which under this condition is default tab) and THEN resize browser, oncoprint renders.

[2017-12-14 18:56] zhx828 commented on #3578
Issue solved in here https://github.com/cBioPortal/cbioportal-frontend/pull/810

[2017-12-14 18:58] #3487 closed

[2017-12-14 19:04] tmazor opened #3581 "link to study view from results page doesn't work"
Nothing happens when I click the study name:

![image](https://user-images.githubusercontent.com/10508276/34009629-a18f9eca-e0d7-11e7-826a-ee971dfb3ca1.png)

[2017-12-14 19:19] adamabeshouse commented on #3579
https://github.com/cBioPortal/cbioportal-frontend/pull/813

[2017-12-14 19:58] alisman opened #3582 "Update frontend code for new samples endpoing signature"
Samples endpoint can now accept sample lists and the signature of endpoint has been updated.  Endpoint change has been merged to release-1.11.0 branch of portal project so we will need to regnerate client against it. Typescript should then complain.
We should also pass case lists IF we have them. Check to see they are being properly passed from backend to page to store.

[2017-12-14 20:03] jjgao opened #3583 "support multiple profiles in gene-panels end point"

[2017-12-14 20:13] adamabeshouse commented on #3579
https://github.com/cBioPortal/cbioportal/pull/3584

[2017-12-14 20:20] #3570 closed

[2017-12-14 20:41] alisman opened #3586 "We are not populating some query settings in modify query form"
![image](https://user-images.githubusercontent.com/186521/34013352-1f23b0d0-e0e5-11e7-94f0-68d8c7829bdb.png)

Select Data Type Priority
If you click Mutations Only, then submit, that will not be preserved when result opens.

I think this also true for Genomic Profile settings.

Also, we need to make sure that on homepage we are aborbing query params from study page (which can send user to query pa

[2017-12-14 21:35] adamabeshouse commented on #3582
https://github.com/cBioPortal/cbioportal-frontend/pull/814

[2017-12-14 21:52] adamabeshouse opened #3587 "Can submit query without OQL if multiple studies selected"
![image](https://user-images.githubusercontent.com/636232/34016242-27ed5b44-e0ef-11e7-8214-26c32dbb285a.png)

Notice enabled Submit button

[2017-12-14 21:58] adamabeshouse opened #3588 "You can select data priority "CNA only" for selected studies w/o CNA profiles"
This causes bugs

[2017-12-14 22:03] adamabeshouse commented on #3588
https://github.com/cBioPortal/cbioportal-frontend/pull/815/files addresses part of this

[2017-12-14 22:09] adamabeshouse commented on #3586
https://github.com/cBioPortal/cbioportal/pull/3589

[2017-12-14 22:14] #3582 closed

[2017-12-14 22:15] adamabeshouse opened #3590 "In oncoprintjs, add "opened" class for track options toggle button"
CC: @alisman

[2017-12-14 22:16] adamabeshouse opened #3591 "In oncoprintjs, maybe make oncoprint invisible until it has completed rendering"
... Including container resizing
CC: @alisman

[2017-12-14 22:19] adamabeshouse commented on #3586
https://github.com/cBioPortal/cbioportal-frontend/pull/816/files

[2017-12-14 22:28] alisman opened #3592 "Oncoprint legend padding issue (is due to study of origin track)"
@adamabeshouse this issue you found only appears when study of origin track is present.  Looks like maybe that isn't being taken into account when determining absolute offsets?

![image](https://user-images.githubusercontent.com/186521/34017481-f8c3ea7c-e0f3-11e7-8b7e-41ca0c2179ba.png)

[2017-12-14 22:38] alisman opened #3593 "oncoprint.js should assign an active-state class to track control dropdown button"
Class should be open or some such

[2017-12-14 23:35] #265 closed

[2017-12-14 23:36] #2217 closed

[2017-12-15 02:56] #2882 closed

[2017-12-15 03:03] tmazor opened #3594 "link to patient view from oncoprint loads a blank page"
Click on any patient ID here:
http://www.cbioportal.org/beta/index.do?session_id=5a333a17498eb8b3d5621a3a&show_samples=false&clinicallist=3%2C1%2C0%2C2%2CAGE

A new window opens but nothing loads:
![image](https://user-images.githubusercontent.com/10508276/34024869-98c09a7c-e11a-11e7-843a-0d0f2e59bf7c.png)

[2017-12-15 03:08] tmazor opened #3595 "minimap doesn't have zoom bars"
![image](https://user-images.githubusercontent.com/10508276/34025000-5cdfbab4-e11b-11e7-87fc-f071d7c42cfb.png)

http://www.cbioportal.org/beta/index.do?session_id=5a333a17498eb8b3d5621a3a&show_samples=false&clinicallist=3%2C1%2C0%2C2%2CAGE

[2017-12-15 03:12] tmazor opened #3596 "oncoprint - fraction genome altered popup is redundant"
The "fraction genome altered" popup has the same text twice, once bolded (title?) and once not (description?):
![image](https://user-images.githubusercontent.com/10508276/34025032-88890ad0-e11b-11e7-9ec5-5e1912d32af3.png)

All other clinical tracks only have the description and don't also include the title:
![image](https://user-images.githubusercontent.com/10508276/34025037-91893d62-e11b-11e7-9fb

[2017-12-15 03:17] tmazor opened #3597 "oncoprint - cluster RNA puts samples with no data first"
If I add an RNA heatmap to OncoPrint and then click the "cluster heatmap" button, the cluster order puts all samples with no data to the left. Depending on the current zoom of OncoPrint, this can essentially hide the samples offscreen:
![image](https://user-images.githubusercontent.com/10508276/34025173-6e2e4cee-e11c-11e7-8237-e636e4df9de2.png)

Zoomed out, I find the samples with RNA
![image](htt

[2017-12-15 05:46] coonya commented on #3565
This is our local server which has restricted connection from outside of hospital.

[2017-12-15 19:11] jjgao opened #3600 "patient view page not working"
http://www.cbioportal.org/beta/case.do#/patient?studyId=ucec_tcga_pub&caseId=TCGA-BK-A0CC

empty page

[2017-12-15 19:12] jjgao commented on #3594
patient page is not working #3600

[2017-12-15 19:12] #3594 closed

[2017-12-15 19:13] jjgao opened #3601 "link to patient view from oncoprint"
When showing patients in oncoprint, it should link to patient view instead of sample view.

[2017-12-15 19:17] jjgao opened #3602 "delay loading clinical attribute until the dropdown is clicked"
Not a priority. Maybe we can do this in the new attribute selector based on data availability?

![image](https://user-images.githubusercontent.com/840895/34056822-93ab414e-e1a2-11e7-80ed-27506e9c43d1.png)

[2017-12-15 19:24] jjgao commented on #3565
@coonya it maybe hard for us to debug in this case. Do you see any error message in the console of your browser?

[2017-12-15 19:25] #3500 closed

[2017-12-15 19:25] jjgao commented on #3597
@pieterlukasse maybe you can help or give some insight?

[2017-12-15 19:30] jjgao commented on #3526
@alisman is this done? Where is the pull request?

[2017-12-15 19:57] adamabeshouse commented on #3595
we fixed this @alisman

[2017-12-15 19:57] #3595 closed

[2017-12-15 19:59] adamabeshouse commented on #3590
duplicate https://github.com/cBioPortal/cbioportal/issues/3593

[2017-12-15 19:59] #3590 closed

[2017-12-15 20:16] adamabeshouse commented on #3601
it seems to be working for me. do you have an example?

[2017-12-15 20:19] jjgao commented on #3601
I couldn't reproduce it. Strange.

[2017-12-15 20:19] #3601 closed

[2017-12-15 20:26] adamabeshouse commented on #3587
https://github.com/cBioPortal/cbioportal-frontend/pull/819

[2017-12-15 20:32] adamabeshouse commented on #3592
Im seeing it even without study of origin track

[2017-12-15 20:35] adamabeshouse commented on #3593
available in https://github.com/cBioPortal/oncoprintjs/releases/tag/v1.0.69

[2017-12-15 20:57] #3600 closed

[2017-12-15 20:57] inodb commented on #3600
fixed in beta/

[2017-12-15 20:59] #3269 closed

[2017-12-15 20:59] #3549 closed

[2017-12-15 21:07] #3427 closed

[2017-12-15 21:21] #3593 closed

[2017-12-15 22:13] adamabeshouse commented on #3592
https://github.com/cBioPortal/oncoprintjs/releases/tag/v1.0.70

[2017-12-15 22:29] adamabeshouse commented on #3581
https://github.com/cBioPortal/cbioportal-frontend/pull/822

[2017-12-16 10:37] alexbaras opened #3608 "BAM linking"
Is there some documentation I could refer to regarding setting up BAM linking in IGV and/or IGV.js specifically for mutations. I see that IGV.js is already being used for BAM viewing in the context of copy number. I would like to to something like this when linking out for the sample viewer (see below)

![image](https://user-images.githubusercontent.com/8574243/34069651-2a60bed6-e223-11e7-8c9d-0e3

[2017-12-17 20:33] tmazor opened #3609 "missing text&button in virtual study oncoprint"
When I query one study, OncoPrint has a row at the top delineating the case set, numbers of patients, number of samples, and a button to switch between sample/patient view:
![image](https://user-images.githubusercontent.com/10508276/34083489-8da7c2a6-e33f-11e7-9e4d-d5dcc5888e4f.png)
This is important to highlight (with the numbers) that some patients have multiple samples and to make it easy (with

[2017-12-17 20:40] tmazor opened #3610 "study summary can be loaded from results page for unlimited number of studies"
From the query page, we limit accessing the study summary to 20 studies or fewer. However, if I run a query in all studies, the "Combined Study" link at the top of the page is a valid link and goes to the study summary for all 169 studies.
![image](https://user-images.githubusercontent.com/10508276/34083519-0cc7284c-e340-11e7-98ee-76fa08182614.png)

Should this link also be blocked when more than

[2017-12-17 20:52] tmazor opened #3611 "new OQL page has funny formatting"
The weird characters in the table are still there:
![image](https://user-images.githubusercontent.com/10508276/34083665-004852a6-e342-11e7-8402-9792738c9b09.png)

[2017-12-17 20:59] tmazor opened #3612 "links on new OQL page don't work"
There are two URLs pointing back to cbioportal in the last section and both need an underscore in between "session" and "id", otherwise they don't work. These links and also the link to the google group at the very end of the page need to be turned into active links also.

[2017-12-17 21:05] tmazor opened #3613 "plots tab isn't loading"
It just spins forever...

![image](https://user-images.githubusercontent.com/10508276/34083777-e1637076-e343-11e7-8671-5cf59891f597.png)
http://www.cbioportal.org/beta/index.do?session_id=5a36d83e498eb8b3d56235eb

[2017-12-17 21:07] tmazor opened #3614 "co-expression tab doesn't load data"
![image](https://user-images.githubusercontent.com/10508276/34083813-4704db04-e344-11e7-87e6-0f959d029403.png)
http://www.cbioportal.org/beta/index.do?session_id=5a36d83e498eb8b3d56235eb

[2017-12-17 21:08] tmazor opened #3615 "enrichments tab "add checked gene to query" doesn't work when using custom case list"
Complete steps to reproduce:
Go to study page: http://www.cbioportal.org/study?id=lgggbm_tcga_pub#summary
Select IDH1 mutant tumors only.
Query EGFR & TP53: http://www.cbioportal.org/index.do?session_id=5a6f6fd6498eb8b3d56489d4
Then go to Enrichments tab, select a gene, and it fails.

![image](https://user-images.githubusercontent.com/10508276/34083828-6ef2b67c-e344-11e7-90ed-8a761932dd8f.png)

[2017-12-18 00:35] coonya commented on #3565
I got an error as follows in chrome with MSKCC's Anaplastic Oligodendroglioma and Anaplastic Oligoastrocytomas.
![pic1](https://user-images.githubusercontent.com/5857083/34085614-c74947f4-e3d6-11e7-8e18-4e2e108ad3a9.png)

[2017-12-18 13:37] schultzn opened #3616 "New beta: Modify query does not remember the case list"
Try this link, then modify query... the case list should be set to Tumor Type: Non Small Cell Lung Cancer, but it instead reverts to the default

[2017-12-18 13:42] schultzn opened #3617 "New beta: Survival test statistics differ between old and new"
http://www.cbioportal.org/beta/index.do?session_id=5a37c436498eb8b3d562439b
Logrank Test P-Value: 0.0688

http://www.cbioportal.org/index.do?session_id=5a37c41f498eb8b3d5624398
Logrank Test P-Value: 0.0908

[2017-12-18 13:44] schultzn opened #3618 "New beta: New survival tab is missing download data button"
![image](https://user-images.githubusercontent.com/11892704/34108844-aaebb648-e3cf-11e7-8421-e0a158eb8311.png)

![image](https://user-images.githubusercontent.com/11892704/34108852-b2c75e26-e3cf-11e7-93d0-bc58c04f7aed.png)

[2017-12-18 13:47] schultzn opened #3619 "New beta: Spacing is off in cancer types summary tab"
Old:
![image](https://user-images.githubusercontent.com/11892704/34108945-148e5ae2-e3d0-11e7-86be-fd0335a752a8.png)

New:
![image](https://user-images.githubusercontent.com/11892704/34108949-1b46dbf2-e3d0-11e7-9482-fa1e07aa4fe4.png)

[2017-12-18 15:43] alisman commented on #3591
Lets see if we can fix the sizing thing so it doesn't do that weird vertical overflow thingy.

[2017-12-18 15:52] jjgao opened #3620 "support study_id:sample_id in study view"
When selecting cases by ID, we need to support `study_id:sample_id`, similar to the query page.

[2017-12-18 16:44] jjgao commented on #3608
@alexbaras unfortunately we no longer support BAM linking with IGV.js.

[2017-12-18 16:44] #3608 closed

[2017-12-18 17:02] alisman opened #3621 "Disparity between prod and beta oncoprint result"
How can sequenced cases/patients by higher than total?
"Altered in 360 (40%) of 896 sequenced cases/patients (766 total)"

![image](https://user-images.githubusercontent.com/186521/34117835-ded799b6-e3ea-11e7-9bb4-ee4d2fb49c15.png)

Also, there's a disparity in percentages between same query on beta and production:
http://www.cbioportal.org/index.do?session_id=5a37efbe498eb8b3d56247b3&show_samples

[2017-12-18 17:51] schultzn opened #3622 "New beta: Mouse-over in new survival curve is tricky"
I find it difficult to hover over individual data points in the new survival plots and get the tooltip that includes the patient ID and other. Some data points seem to be hard to "catch".

[2017-12-18 17:54] schultzn opened #3623 "New beta: Color legend of survival plot should show only a line or color"
The color legend should not contain the "plus" - that applies only to censored data points, and it is possible to have a survival curve with only events.

Probably cleaner to do something like this:
![image](https://user-images.githubusercontent.com/11892704/34120120-8a141d16-e3f2-11e7-86cf-a64f9025591d.png)

[2017-12-18 19:06] jjgao commented on #3610
Good catch. I am not sure if this link is so useful even for a query with less than 20 studies because it will combine all samples in the selected studies instead of the selected samples, which is the same "View Summary" in Modify Query.

@alisman for this release (1.11), can we remove this link for "Combined Studies"? Later we can properly solve it.

[2017-12-18 19:56] #3621 closed

[2017-12-18 19:56] adamabeshouse commented on #3621
closed after discussion in slack suggesting beta version is correct

[2017-12-18 20:24] jjgao opened #3624 "Change "Combined Study""
... to "Combined Study (xxx samples)" and link to a virtual cohort.

![image](https://user-images.githubusercontent.com/840895/34123291-094f73e6-e3fd-11e7-9bae-49092af02017.png)

[2017-12-18 20:31] adamabeshouse commented on #3609
https://github.com/cBioPortal/cbioportal-frontend/pull/824

[2017-12-18 20:54] adamabeshouse commented on #3612
this will be fixed when we merge, because the page fetches the documentation markdown page from master. I've confirmed that when the source is changed to the new version, the links work.

[2017-12-18 20:54] #3612 closed

[2017-12-18 21:36] jjgao commented on #3622
@schultzn we are thinking of disabling the tooltip and filing a bug to the library for this release and come back to it later. Is that OK?

[2017-12-18 22:17] adamabeshouse commented on #3611
https://github.com/cBioPortal/cbioportal/pull/3625

[2017-12-18 22:44] #3611 closed

[2017-12-18 22:44] #3157 closed

[2017-12-18 22:45] #3581 closed

[2017-12-18 22:47] alisman opened #3626 "Use new cross study genePanel endpoint"
fetchGenePanelDataInMultipleMolecularProfilesUsingPOST

You will need to update the client based on latest release-1.11.0 backend (which is not yet on beta).
It will then have the above method.

As discussed, it needs different params depending on custom sample list or sampleListIds

[2017-12-18 23:09] adamabeshouse opened #3628 "Better way of discerning "whole exome sequenced""
Right now, we infer that a sample is whole exome sequenced based on data not returning from the API. It's a mess of convention. We should have an API endpoint that tells if samples are whole exome sequenced.

[2017-12-18 23:09] alisman commented on #3615
@inodb this is broken in production as well.  needs back end debugging to see what's wrong.

[2017-12-18 23:32] schultzn commented on #3622
The tooltips mostly work - so better to keep it in and fix later.

[2017-12-18 23:39] jjgao opened #3629 "survival plot issues"
- [ ] The font of the KM estimate header looks different from other tabs. Can we make it consistent?
- [ ] If there is only one survival data is available, it is not necessary to to show the message e.g. "DFS survival data is not available".

[2017-12-18 23:43] jjgao opened #3630 "[rc] hide oncoprint menu after hovering oncoprint"
... just like what we have right now.

[2017-12-19 15:42] kalletlak commented on #3513
1.12 response from @jjgao

[2017-12-19 15:55] jjgao commented on #3565
@coonya You may want to add a case list `[study_id]_sequenced`:

https://cbioportal.readthedocs.io/en/latest/File-Formats.html#case-lists

[2017-12-19 15:59] adamabeshouse commented on #3597
I can't duplicate this, do you have a link?

[2017-12-19 16:05] tmazor commented on #3597
@adamabeshouse try this link: http://www.cbioportal.org/beta/index.do?session_id=5a32c40d498eb8b3d5621383&show_samples=false&heatmap_track_groups=lgg_tcga_mrna_median_Zscores%2CIDH1%2CEGFR%2CPTEN

[2017-12-19 16:14] jjgao commented on #3617
@ersinciftci I looked into this more by select samples with os_month.

http://www.cbioportal.org/beta/index.do?session_id=5a3937c7498eb8b3d5625dee
http://www.cbioportal.org/index.do?session_id=5a3937c7498eb8b3d5625dee

The numbers are still different. But the beta version adds up correctly -- the total cases in the two groups equals to the number of total queried patients, so I think your implemen

[2017-12-19 17:07] adamabeshouse commented on #3597
Fixed by https://github.com/cBioPortal/oncoprintjs/pull/44 , will merge updated oncoprint version to cbioportal shortly

[2017-12-19 20:35] #3617 closed

[2017-12-19 23:48] coonya commented on #3565
Thank you for your help.
It works well now.

[2017-12-20 19:14] inodb opened #3632 "Add full response data from VEP"
We are not exposing certain fields, like COSMIC and dbSNP right now. It's probably better to just return the full response (if it's not incredibly big)

[2017-12-20 21:15] inodb opened #3633 "PDX show mouse icon in header when hovering over sample label"

[2017-12-21 10:04] pieterlukasse opened #3635 "Plots tab and Co-expression tab shown inconsistent behavior"
The Plots tab and Co-expression tab have dynamically generated mRNA profile lists. The lists will be generated based on the data available in the query results, instead of being generated based on the profiles of the study. This leads to confusing UIs that show varying behavior that can for example depend on which genes are queried together. This has been discussed here: https://groups.google.com/

[2017-12-21 10:04] pieterlukasse commented on #3635
@jjgao are these plots being refactored already?

[2017-12-21 10:16] pieterlukasse opened #3636 "Enrichment tab causes error when gene is added to query"
Steps to reproduce:

- Do a query with some genes, e.g. on BRCA TCGA study
- Go to Enrichments tab.
- Select one of the genes (by selecting the checkbox)
- Click button "Add checked genes to query". This will result in following error page:

![image](https://user-images.githubusercontent.com/2900303/34251416-50c14d68-e640-11e7-8896-7313c2c5b9e3.png)

[2017-12-21 10:17] pieterlukasse commented on #3636
Notify: @jjgao

[2017-12-21 14:46] jjgao commented on #3635
@pieterlukasse not yet. We will do Plots tab next. Good idea to simplify the logic.

[2017-12-21 14:48] jjgao commented on #3636
duplicate with #3250

[2017-12-21 14:48] #3636 closed

[2017-12-21 15:32] #735 closed

[2017-12-21 15:33] #772 closed

[2017-12-21 15:34] jjgao commented on #789
contacted by the online form. No response.

[2017-12-21 15:34] #789 closed

[2017-12-21 15:34] #804 closed

[2017-12-21 15:35] #810 closed

[2017-12-21 15:35] #811 closed

[2017-12-21 15:35] #812 closed

[2017-12-21 15:37] #816 closed

[2017-12-21 15:37] #819 closed

[2017-12-21 15:38] #829 closed

[2017-12-21 15:38] #833 closed

[2017-12-21 15:39] #839 closed

[2017-12-21 15:39] #840 closed

[2017-12-21 15:39] #843 closed

[2017-12-21 15:40] #846 closed

[2017-12-21 15:40] #847 closed

[2017-12-21 15:40] #853 closed

[2017-12-21 15:41] #858 closed

[2017-12-21 15:41] #889 closed

[2017-12-21 15:42] #895 closed

[2017-12-21 18:38] ersinciftci commented on #3622
Opened an issue in the charting library's repo https://github.com/FormidableLabs/victory/issues/882

[2017-12-21 18:41] jjgao opened #3639 "support prev/next button for multiple studies"
- [x] make changes to the patient view link: `patient?studyId=study1&caseId=patient
- [x] change the link on study view

note: we should still support the current link for one study.

[2017-12-21 22:08] fedde-s commented on #846
Right, this issue has been made irrelevant by pull request #1746 making clinical attributes study-specific altogether; harmonising attributes between studies is no longer required.

[2017-12-26 15:46] jjgao opened #3642 "setting priorities for autogenerated charts in study view"
or any charts that are not associated with clinical attributes.

Maybe we can add a property in the configuration file for now?

[2017-12-26 19:02] patidarr opened #3643 "link to a page as clinical attribute"
Hi,

Is it possible to put http address as a clinical attribute? for example I have patient Level QC (a patient have 5-10 samples) as PNG files on a server and I would to open the PNG file from Clinical Data page or any other page where ever the sample/patient level clinical attributes are rendered.

I actually have many different QC pages (png/pdf and tables in some cases) and I am thinking If I

[2017-12-26 19:29] jjgao commented on #3643
Hi @patidarr: would you please send your question to cbioportal@googlegroups.com. For your first question, please clarify with an example. Thanks.

[2017-12-26 19:29] #3643 closed

[2017-12-27 15:49] jjgao opened #3644 "Error when mapping gene symbol to uniprot"
e.g. for `C3Orf70`

http://www.cbioportal.org/index.do?session_id=5a43c03b498eb8b3d562c025&show_samples=false&

Can we find out what other genes are missing this mapping?

Ideally found out a solution. At least, we should capture this error and still display the table.

[2017-12-27 15:52] jjgao opened #3645 "[beta] Error when querying C3Orf70 in all studies"
http://www.cbioportal.org/beta/index.do?session_id=5a43bc73498eb8b3d562c000

![image](https://user-images.githubusercontent.com/840895/34385912-006a43d4-eaf4-11e7-9c32-b8a793a6a4ce.png)

[2017-12-27 17:02] tgreenwood commented on #3457
Does anybody know if a workaround exists for multiple cases (samples)? I've tried to add study id to every samples and at the beginning only and it does not work. Any ideas?

[2017-12-27 17:15] jjgao commented on #3457
@tgreenwood could you please add your url here?

[2017-12-27 17:47] tgreenwood commented on #3457
I have found solution. We use POST request. To make the request work with custom set of case_ids the samples should be separated by the carriage return and also every sample should have studyId-prefix.

[2017-12-27 18:27] onursumer commented on #3644
Seems like we have a valid entry for `C3Orf70` in the genome nexus mapping file: https://raw.githubusercontent.com/genome-nexus/genome-nexus/13262d83e8394382c73776f4584f269a4fb8c4cb/web/src/main/resources/ensembl_biomart_canonical_transcripts_per_hgnc.txt

This might be failing because of case sensitivity. I'll take a deeper look into the code.

So, I think any gene that doesn't have an entry or a

[2017-12-27 18:35] onursumer commented on #3644
Just confirmed that the problem here is case sensitivity. This one works as expected: http:/v1.genomenexus.org/ensembl/canonical-transcript/hgnc/C3orf70?isoformOverrideSource=uniprot

But this one fails:
http:/v1.genomenexus.org/ensembl/canonical-transcript/hgnc/C3ORF70?isoformOverrideSource=uniprot

But, we still have gene symbols with no valid mapping in the file, so those genes will fail no mat

[2017-12-27 21:56] jjgao commented on #3645
The session was generated in production portal. Is it possible that the beta portal is not able to process old sessions?

[2017-12-27 21:57] jjgao opened #3647 "[rc] query for utuc_mskcc_2013 is not working"
http://www.cbioportal.org/beta/study?id=utuc_mskcc_2013#summary

It might be related to data issues.

[2017-12-27 22:04] alisman opened #3648 "Fix cohorts ids cohortsList resolution in StudySummary.tsx"

[2017-12-27 22:04] jjgao opened #3649 "remove "Query this study" in the header on study view page?"
It looks like this button is exactly the same as "Query" button below.

It was different -- previously it would open the query page with the study selected but no sample IDs or genes pre-filled. Maybe the "Query" button is sufficient?

One change we can make to the query button: if no samples were selected, can we use the default case list (not prefill the sample IDs) in the query page?

![image](

[2017-12-27 22:04] jjgao commented on #3649
@schultzn thoughts?

[2017-12-27 22:08] jjgao opened #3650 "test session compatibility"
We should add some automated tests to test whether new code still work with previous saved sessions.

[2017-12-27 22:16] jjgao commented on #3645
Cannot reproduce this now. Closing it.

[2017-12-27 22:16] #3645 closed

[2017-12-27 22:38] alisman opened #3651 "Discuss issue with generated types and projections"
This came up again because of new studies endpoint which required DETAILED projection when older single study endpoint did not require projection to get CancerStudy meta data.  Frontend code made assumption it would be there.

There needs to be some solution for this kind of thing. (Manual type extension?)

[2017-12-28 00:46] ersinciftci commented on #3651
Sorry it slipped my mind, I have should have mentioned that this change would be needed. It's because we use `projection` as a way to optimize calls that return a possibly long list of objects, so it's a bit redundant for endpoints that return only one resource, and also in order to make them look like real resource identifiers, like `/api/studies/acc_tcga` without any query parameters, we don't u

[2017-12-28 05:41] schultzn commented on #3649
I agree, that is a good compromise... I used the "query this study" button sometimes.

[2017-12-28 16:37] jjgao commented on #3644
Thanks, @onursumer. Please fix the case sensitivity issue -- maybe always use upper case in database? Please also get a list of genes in the portal that do not have mapping.

[2017-12-28 16:41] jjgao commented on #3649
@zhx828 please prioritize this. Thanks.

[2017-12-28 17:46] onursumer commented on #3644
@jjgao: Here is the quickest fix without modifying any file or database entry: https://github.com/genome-nexus/genome-nexus/pull/122

I'll try to make a missing gene list soon

[2017-12-28 20:10] ersinciftci commented on #3622
https://github.com/cBioPortal/cbioportal-frontend/pull/845 will fix this problem.

[2017-12-28 20:37] #3547 closed

[2017-12-28 20:47] #3588 closed

[2018-01-02 15:09] jjgao commented on #900
Has this been fixed?

[2018-01-02 15:11] jjgao commented on #903
Should this remain open?

[2018-01-02 15:11] jjgao commented on #907
Should this remain open?

[2018-01-02 15:11] jjgao commented on #908
Should this remain open?

[2018-01-02 15:13] jjgao commented on #912
@n1zea144 @sheridancbio do you know if this has been implemented?

[2018-01-02 15:17] fedde-s commented on #900
Yes, this has been addressed back in commit 6740d908c02ac5497bd7d67555059758e3d3ad84, in the way I suggested in [my comment above](https://github.com/cBioPortal/cbioportal/issues/900#issuecomment-194305025).

[2018-01-02 15:17] #900 closed

[2018-01-02 15:28] fedde-s commented on #903
I don't think this it does, as it is an issue with the documentation or naming of a command that has been [deprecated](https://github.com/cBioPortal/cbioportal/blob/master/docs/Importer-Tool.md) over 1½ years ago. @aderidder, please reopen if you disagree.

[2018-01-02 15:28] #903 closed

[2018-01-02 15:35] #914 closed

[2018-01-02 15:36] #938 closed

[2018-01-02 15:38] #942 closed

[2018-01-02 18:48] sheridancbio commented on #914
I verified ... the bug is no longer present.

[2018-01-02 21:33] #3648 closed

[2018-01-02 21:48] alisman opened #3653 "Finish Victory implementation of cancer type summary"

[2018-01-02 21:49] ersinciftci opened #3654 "Add missing unit tests for new endpoints"

[2018-01-02 21:55] #3489 closed

[2018-01-03 19:12] onursumer commented on #3059
Looks like a new version `1.3.1` is published on npm, but the build (binary) files are still outdated. Contacted the 3Dmol team about that already.

[2018-01-03 20:04] jjgao opened #3656 "Show number of filtered studies in query page"
When I type in "TCGA", I would really like to see how many studies. Currently, you have to select all in order to do that. Can we add the number of studies in the "Study Box" somewhere?

[2018-01-03 20:18] jjgao commented on #3644
@onursumer I have some more thought about this. I think we should use either ensembl ID or entrez ID instead of hugo symbol for mapping. The problem is that hugo symbol changes too much over time.

[2018-01-03 21:20] jjgao opened #3657 "Cancer Types Summary customize menu minor issues"
`Min. # Total Cases` should not be reset when changing `Y Axis Value`.

![](https://media.giphy.com/media/3ohc1dCteKbZYeIV1u/giphy.gif)

Similarly, neither `Min. #(%) Altered Cases` or `Min. # Total Cases` should be reset when changing `Sort X Axis By`.

![](https://media.giphy.com/media/3o752c4zW4NVJTkaZy/giphy.gif)

[2018-01-03 21:24] tmazor commented on #3656
Yes! I agree we need to add this!

Two thoughts on places we could add it:
0 studies selected (0 samples) of XXX studies displayed
or
Select all (XXX studies)

[2018-01-04 15:52] jjgao commented on #3656
I like "Select all (XXX studies)".

The first option (0 studies selected (0 samples) of XXX studies) may not work when we have studies selected by not displayed after filtering.

[2018-01-04 16:04] jjgao commented on #3399
combining this one with https://github.com/cBioPortal/cbioportal/issues/3656.

- [ ] when at least one studies are selected, show "Deselect all"
- [ ] clicking "Deselect all" will deselect all selected studies (including the ones not displayed)
- [ ] when at least one studies display below, show "Select all (xx studies displayed)"
- [ ] add an `x` to reset (similar to the case set selector) when s

[2018-01-05 00:44] #3651 closed

[2018-01-05 20:54] priti88 opened #3659 "Clinical attribute for TCGA study incorrectly labelled"
'Initial Weight' has been incorrectly labeled as 'Initial Patient weight' in cBioPortal.
Example: http://www.cbioportal.org/case.do#/patient?caseId=TCGA-2A-A8VL&studyId=prad_tcga&tab=clinicalDataTab
Data in GDC: https://portal.gdc.cancer.gov/cases/49197847-cc83-4ce1-8397-d09cea4c4928

The weight actually indicates the weight of the sample tissue and not the patient.

Issue was identified by user:

[2018-01-05 21:12] priti88 opened #3660 "Mutation tab download missing "# Mut in Sample" data"
The csv file downloaded from the mutation tab has the column "# Mut in Sample", but the data is missing.
Issue reported by the user: https://groups.google.com/forum/#!topic/cbioportal/FDcwudGONyQ

[2018-01-08 09:30] oplantalech commented on #2266
@zhx828 Yes. I managed to load a study with the study id `brca_tcga&` and that's what happens when I go to the study view:
![captura de pantalla 2018-01-08 a les 10 29 12](https://user-images.githubusercontent.com/20278013/34664985-e6024f90-f45e-11e7-81c3-136133d72fb1.png)

[2018-01-08 14:10] zhx828 commented on #2266
There is no easy way to solve this issue. I believe in most pages we use &
as separator. I would strongly suggest in the study id, we don’t allow to
use this character.

Hongxin
On Mon, Jan 8, 2018 at 4:30 AM Oleguer <notifications@github.com> wrote:

[2018-01-08 14:48] jjgao commented on #3659
moved to https://github.com/cBioPortal/datahub/issues/145

[2018-01-08 14:48] #3659 closed

[2018-01-08 14:49] jjgao commented on #3660
@onursumer has it been fixed already? Maybe not pushed out yet?

[2018-01-08 14:52] jjgao commented on #2266
We should probably have some rules (regex) for ids (study, patient, sample, profile, etc), and use validator to enforce them. I would make a strick rule, e.g. `[a-zA-Z_][a-zA-Z0-9_-]+`

[2018-01-08 15:52] ersinciftci opened #3663 "Add query by uniqueKey support to Sample and Patient API fetch endpoints"

[2018-01-08 16:36] onursumer commented on #3660
@jjgao @priti88 this is fixed but yet to be released in 1.11.0

[2018-01-08 19:25] jjgao commented on #3630
@adamabeshouse the behavior in beta is a little different from the one in production. Could you show the menu when hovering oncoprint as well, maybe the whole div inside OncoPrint tab.

[2018-01-08 19:30] jjgao commented on #3656
closing this. captured by #3399

[2018-01-08 19:30] #3656 closed

[2018-01-08 19:52] #3565 closed

[2018-01-08 19:53] inodb opened #3666 "Show structural variant annotations from OncoKB"
OncoKB can now show structural variant annotations, but we don't show them yet in cBioPortal.

[2018-01-08 20:01] jjgao commented on #3484
fixed.

[2018-01-08 20:01] #3484 closed

[2018-01-08 20:03] #3476 closed

[2018-01-08 20:05] jjgao commented on #3474
not sure how I got this session. I am closing it.

[2018-01-08 20:05] #3474 closed

[2018-01-08 20:07] jjgao commented on #3395
@inodb any update?

[2018-01-08 20:09] jjgao commented on #3466
Both seem fixed.

[2018-01-08 20:09] #3466 closed

[2018-01-08 20:11] jjgao commented on #2999
@onursumer could you add some of the ideas we discussed here?

[2018-01-08 20:13] jjgao commented on #3462
after #2999, we may not need to fix this one.

[2018-01-08 20:18] jjgao commented on #3433
Number of API requests is now down to 125 in beta:

http://www.cbioportal.org/beta/index.do?session_id=5a146656498eb8b3d5606dad

[2018-01-08 20:18] #3433 closed

[2018-01-08 20:18] #3416 closed

[2018-01-08 20:19] jjgao commented on #3407
closing this and we will handle it in https://github.com/cBioPortal/cbioportal/issues/3395

[2018-01-08 20:19] #3407 closed

[2018-01-08 20:21] onursumer commented on #3462
@jjgao So far I have added these two tables:

![download_tab_tables](https://user-images.githubusercontent.com/3604198/34690386-f20be030-f486-11e7-9d82-af87ce6b6f56.png)

There are two separate columns for study id and case id, should we combine them? And, also I think we should rename `case id` to `sample id` and `num cases altered` to `num samples altered`, right?

[2018-01-08 20:24] jjgao commented on #3380
we will track the progress here: https://github.com/cBioPortal/datahub/issues/131

[2018-01-08 20:24] #3380 closed

[2018-01-08 20:32] inodb commented on #3395
@jjgao still have to fix this - will fix this week

[2018-01-08 20:32] alisman opened #3667 "Integrate plots tab with new store"

[2018-01-08 20:33] alisman opened #3668 "Integrate enrichments tab with new store"

[2018-01-08 20:33] alisman opened #3669 "Integrate co-expression tab with new store"

[2018-01-08 20:34] alisman opened #3670 "Integrate Network tab with new store"

[2018-01-08 20:34] alisman opened #3671 "Integrate expression tag with new store"

[2018-01-08 20:37] jjgao opened #3672 "single-page application (query and results page)"

[2018-01-08 20:43] jjgao commented on #2696
@ersinciftci It'd be great to do this soon. I think it should be straightforward and will improve the performance.

[2018-01-08 20:45] jjgao commented on #2985
@alisman should this still be open?

[2018-01-08 20:46] jjgao commented on #3082
@adamabeshouse should this remain open?

[2018-01-08 20:47] jjgao commented on #3088
Or maybe we should just remove TYPE_OF_CANCER_ID column? @n1zea144

[2018-01-08 20:48] jjgao commented on #3105
@zhx828 @inodb any update?

[2018-01-08 20:49] adamabeshouse commented on #3082
based on how the code looks I believe we ended up just not wrapping the return value in an Immutable, but I think the most preferred option would be to return an immutable object whose methods did not return Immutable. I do think we should keep this open until we find a better solution.

[2018-01-08 20:50] jjgao commented on #3117
fixed in beta.

[2018-01-08 20:50] #3117 closed

[2018-01-08 20:51] jjgao commented on #3159
@onursumer how's going with this one?

[2018-01-08 21:17] adamabeshouse opened #3674 "integrate custom driver annotation into refactored oncoprint"

[2018-01-08 21:31] #3650 closed

[2018-01-08 21:47] jjgao opened #3675 "sample IDs are not filled when query from study view page"
http://www.cbioportal.org/beta/index.do?session_id=5a53e680498eb8b3d5635364&show_samples=false&clinicallist=3

[2018-01-08 22:00] jjgao commented on #3462
let's have three columns: study_id, patient_id, sample_id

[2018-01-08 22:05] jjgao commented on #1217
Not sure if any code is still running.

[2018-01-08 22:32] alisman opened #3676 "Error in console on homepage (beta)"
index.do:146 Uncaught ReferenceError: cancerStudyIdList is not defined

This is due due to server_vars.

[2018-01-08 22:44] #3639 closed

[2018-01-09 00:00] onursumer commented on #3159
I think this is fully integrated into genome nexus by https://github.com/genome-nexus/genome-nexus/pull/97

[2018-01-09 14:33] jjgao commented on #3630
@adamabeshouse and also, when rendering the page initially, can we show the oncoprint menu? Only a mouse-out event will hide the menu -- just like what we have on the production portal.

![](https://media.giphy.com/media/3oFzmaPklUsaTXtJbW/giphy.gif)

[2018-01-09 14:49] jjgao opened #3678 "OncoPrint: order clinical track alphabetically"
- [x] For the same samples with the same alteration, clinical track should order alphabetically.
- [x] Legend should also be ordered alphabetically

http://www.cbioportal.org/beta/index.do?session_id=5a54ccff498eb8b3d5636180

![](https://media.giphy.com/media/3o752jGrrFTOPf4JVe/giphy.gif)

[2018-01-09 15:23] jjgao opened #3679 "Wrong Mutation Type"
http://www.cbioportal.org/beta/case.do#/patient?studyId=luad_tcga&caseId=TCGA-86-6562

The ERBB2 mutation should be inframe instead of frameshift.

![image](https://user-images.githubusercontent.com/840895/34728117-010b1092-f527-11e7-8735-7616825452e3.png)

This also happens in the mskimpact clinical cohort here.

[2018-01-09 15:54] jjgao commented on #3679
By querying the public database, looks like there are many more such cases.

[code]

![image](https://user-images.githubusercontent.com/840895/34729593-230e926e-f52b-11e7-978f-fa7cf42e7833.png)

Maybe something wrong with the logic here: https://github.com/genome-nexus/genome-nexus-annotation-pipeline/blob/master/annotator/src/main/java/org/cbioportal/annotator/internal/GenomeNexusImpl.java#L721

[2018-01-09 15:55] jjgao commented on #3679
@n1zea144 could you put it into your backlog.

- [ ] fix the database (a simple sql query should do the work)
- [ ] fix annotator

[2018-01-09 16:04] ersinciftci opened #3680 "MyBatis cache optimizations"
We should add `readOnly` to every cache in all the mapper `xml`s to take advantage of not having any update operation in runtime.

We should also create a simple single study select query without the extra `DETAILED` data for the `CancerStudyPermissionEvaluator`.

[2018-01-09 16:08] sandertan commented on #2595
@pieterlukasse I tested this, and the study view displays correctly when there's an attribute ID with % in it. In this screenshot, I gave the Subtype column the clinical attribute id `% DAYS_TO_COLLECTION`. Still want to restrict the attributes to alphanumeric and underscores, in #2596? If so, we need to add it to the documentation as well.

![screen shot 2018-01-09 at 17 04 23](https://user-image

[2018-01-09 16:46] jjgao opened #3682 "OncoPrint: Mutation Color -- cBioPortal and COMSMIC should apply to all types of mutations"
currently only applied to missense mutations?

[2018-01-09 16:51] jjgao opened #3683 "OncoPrint bete: always have Genetic Alteration legend first"
http://www.cbioportal.org/beta/index.do?session_id=5a54d826498eb8b3d5636285

[2018-01-09 16:55] jjgao opened #3684 "OncoPrint beta: hide HeatMap menu for cross-study query"
Did we decide to do that?

[2018-01-09 19:47] Toothstar commented on #3563
I'm the user of this project, CMO LP_brpdx [07618]. Most shortcuts for downloading mutation CSV files don't work. I just tried the link https://cbioportal.mskcc.org/case.do#/patient?studyId=mixed_cbe_paradal_LP_brpdx&caseId=p_C_006081. It still doesn't work.
Thanks

[2018-01-09 20:29] jjgao opened #3688 "KM title seems too big"
![image](https://user-images.githubusercontent.com/840895/34741775-c91ce5d6-f551-11e7-9ce3-da96df35ff1f.png)

[2018-01-09 20:46] angelicaochoa commented on #3679
@jjgao @sheridancbio @n1zea144

looks like extra parenthesis is throwing off the `if` statement here:

https://github.com/genome-nexus/genome-nexus-annotation-pipeline/blob/master/annotator/src/main/java/org/cbioportal/annotator/internal/GenomeNexusImpl.java#L725

[code]

should be

[code]

[2018-01-09 20:54] ritikakundra commented on #2465
@sandertan Yes please add them. This is part of the nomenclature for many of our studies.

[2018-01-09 20:59] ritikakundra commented on #3557
@PichaiRaman: Can you tell me where this is coming up?
http://www.cbioportal.org/index.do?session_id=5a552d02498eb8b3d56369a3&show_samples=false&

[2018-01-09 22:04] alisman opened #3689 "Study selector clear search button leaves search value in store"
Put a search in search input
Use clear button to clear it
Then open up up search dropdown again.
Then click out (leave search box)
Original search is restored

[2018-01-09 22:34] jjgao commented on #3666
I don't think that's true: http://www.cbioportal.org/index.do?session_id=59566286498e5df2e291e255&show_samples=false&

We have to make sure this still works.

[2018-01-09 22:36] jjgao commented on #3159
and we are using the genome-nexus end point in portal too?

[2018-01-09 22:42] jjgao commented on #3679
@angelicaochoa thanks! Could you do a quick and dirty database fix? My sql script above may be useful. Not sure I we should add that into the migration script for other people to fix their data?

[2018-01-09 22:46] onursumer commented on #3159
@jjgao Looks like we are still using the old endpoint, not genome nexus yet. Do you think it is a good time to switch to genome nexus, or should we do this after releasing 1.11.0?

[2018-01-10 03:45] zhx828 commented on #3666
@inodb @jjgao currently portal is working ok handling structural variants. OncoKB enables most of the portal fusions. The reason we added structural variant support is for differentiating functional, nonfunctional fusions. At this moment, I suppose all fusions in the portal are functional fusions, if this is the case, no changes need to make.

[2018-01-10 13:45] sandertan opened #3691 "MAF --custom-enst to select UniProt canonical isoforms"
hi @jjgao and @ckandoth

In [cBioPortal FileFormats](https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md#mutation-data) it is described that `--custom-enst` with [this](https://github.com/mskcc/vcf2maf/blob/master/data/isoform_overrides_uniprot) mapping file is required when creating a MAF for cBioPortal. vcf2maf describes this parameter as a `List of custom ENST IDs that ove

[2018-01-10 16:20] inodb opened #3693 "Mutations Table Column Header Tooltips"
We don't have tooltips for all column headers in the mutations table:

- [ ] For Mutation_Type we could for instance describe it refers to impact on the protein
- [ ] For annotation a description of the various resources, similar to Functional Impact column would be useful

[2018-01-10 16:24] inodb opened #3694 "Add Variant Type Column to Mutations Table"
We already pass `variantType` field to the frontend (part of the TCGA MAF spec (https://wiki.nci.nih.gov/display/TCGA/Mutation+Annotation+Format+(MAF)+Specification) ). All that needs to be done is to allow the user to show the column.

User request: https://groups.google.com/forum/#!topic/cbioportal/LpOpb7s5GWY

[2018-01-10 18:27] tmazor opened #3695 "cancer types summary - x-axis labels cut-off and hard to read"
In a large multi-study query (e.g. all TCGA provisional), when I change the x-axis to Cancer Type Detailed, the labels are so tightly packed (perhaps even overlapping) that they are hard to read, and some are so long that they get cut-off

http://www.cbioportal.org/beta/index.do?session_id=5a54ccff498eb8b3d5636180

![image](https://user-images.githubusercontent.com/10508276/34788748-8ad09044-f609-

[2018-01-10 18:34] angelicaochoa commented on #3679
@jjgao public database is fixed now. we will push these changes to datahub as well

[2018-01-10 18:45] tmazor opened #3697 "cancer types summary - add download data button"
Cancer Types Summary has an option to download PNG but not to download data. Can we add a download data button?

![image](https://user-images.githubusercontent.com/10508276/34789459-56647296-f60c-11e7-836a-70dd86809a6c.png)

[2018-01-10 18:53] tmazor opened #3698 "oncoprint - add left padding to clinical track hover boxes"
When I hover over a clinical track, I get a pop-up with a description of the track. When that box happens to overlap with the text above OncoPrint (see screenshot below), I find it hard to read. Can we add a little padding to the left of that box so that there's a bit of white space?

![image](https://user-images.githubusercontent.com/10508276/34789719-57790326-f60d-11e7-9050-2111ec8fd0a1.png)

[2018-01-10 19:18] tmazor opened #3699 "lag in oncoprint when changing mutation color rules"
If I check/uncheck a box in the Mutation Color menu, OncoPrint goes grey for a second, reloads exactly as it was before, and then after ~2 seconds updates to reflect the new color scheme based on whatever I just checked/unchecked.

(1) This is what I start with
![image](https://user-images.githubusercontent.com/10508276/34790301-65916776-f60f-11e7-8181-e9dfd80f614a.png)

(2) I click "Hide VUS".  T

[2018-01-10 19:19] tmazor opened #3700 "oncoprint zooms out after changing mutation colors"
This may or may not be related to the bug in #3699

After changing the mutation color (as in #3699), OncoPrint sometimes reloads fully zoomed out
![image](https://user-images.githubusercontent.com/10508276/34790885-3b75631e-f611-11e7-83a9-8c6bfb4be73a.png)

On my computer, I see this happening consistently in Safari but not in Chrome. @ersinciftci tried on his computer and saw this happening in Ch

[2018-01-10 19:35] tmazor commented on #3609
I don't see the "Case Set: .... " text for virtual studies on beta:
![image](https://user-images.githubusercontent.com/10508276/34791414-e5fff6a4-f612-11e7-91c6-f52c22013e17.png)
http://www.cbioportal.org/beta/index.do?session_id=5a54d826498eb8b3d5636285&show_samples=true&clinicallist=3%2C2%2C0%2CCANCER_TYPE

If I try a different query that includes cases with multiple samples, then I can see that

[2018-01-10 19:40] tmazor opened #3701 "oncoprint is slower than it used to be"
This also may be related to #3699 but there is overall a lag in OncoPrint when changing visualization parameters. Go to OncoPrint, zoom in, and then uncheck "View/Show whitespace between columns"

On production, that's an instantaneous change. On beta, it takes several seconds.

Here's the same query on beta & production:
http://www.cbioportal.org/beta/index.do?session_id=5a54d826498eb8b3d5636285&

[2018-01-10 19:50] adamabeshouse commented on #3609
@jjgao what should we put here? In the case of a virtual study, there is no case set name.

[2018-01-10 21:46] #3679 closed

[2018-01-10 21:57] zhx828 opened #3702 "Make the age bar chart always show <18 as the first group if both <18 and >18 patients in the study"

[2018-01-10 21:57] jjgao commented on #3679
@angelicaochoa thanks! Please also fix cgds_gdac and maybe other databases.

[2018-01-10 22:02] jjgao commented on #3159
as discussed, hotfix later.

[2018-01-10 22:31] jjgao commented on #3691
1. If  `--custom-enst` is not used, I think the ensembl canonical isoform will be used.
2. Not sure what you mean by "canonical values".
3. see https://github.com/mskcc/vcf2maf/issues/109

[2018-01-10 22:33] jjgao commented on #3695
@alisman let's handle this when you re-refactor the tab with victory.

[2018-01-10 22:36] jjgao commented on #3698
Maybe @alisman can help improve the style. Not urgent.

[2018-01-10 22:36] jjgao commented on #3697
@alisman another one when re-refactor the tab.

[2018-01-10 22:40] angelicaochoa commented on #3679
@jjgao already done :)

[2018-01-10 22:43] jjgao commented on #3699
@adamabeshouse maybe https://github.com/cBioPortal/cbioportal/issues/3591 will solve the problem?

[2018-01-10 22:53] jjgao commented on #3609
@adamabeshouse There should be no case IDs, but it's a good idea to display the number of samples. We also want to add the link to study view page back later so we can probably do that together (there should be an issue already, but I couldn't fine it...).

BTW. could you change "Altered in xxx (xx%) of xxx sequenced cases/patients (xx total)" to "Altered in xxx (xx%) of xxx selected cases/patient

[2018-01-10 23:07] ckandoth commented on #3691
Thanks @jjgao. @sandertan Ensembl's canonical isoforms are defined [here](https://useast.ensembl.org/Help/Glossary?id=346) and VEP uses that as the top criteria for selecting an isoform to map a variant onto. The other criteria for selecting "one effect per variant" are explained [here](https://useast.ensembl.org/info/docs/tools/vep/script/vep_other.html#pick). Internally at MSK, we prefer [this s

[2018-01-10 23:07] #3691 closed

[2018-01-10 23:08] ckandoth commented on #3691
Sorry, I closed the issue accidentally. Reopen if necessary.

[2018-01-10 23:31] adamabeshouse commented on #3609
It is sequenced deliberately, the selection may be bigger.

So it should just say "X samples/Y patients." ?

[2018-01-11 14:25] inodb opened #3704 "Allow users to show counts in mutual exclusivity analysis"
Add the columns that show the number of cases where mutations in the gene co-occur. Don't display it by default, but allow the user to click on columns and show the number.

User request: https://groups.google.com/forum/#!topic/cbioportal/cYVB-RawPxc

[2018-01-11 16:24] sandertan commented on #3691
Thanks for the clarifications @jjgao and @ckandoth! I'll set a to-do for myself improve our file formats page based on your explanation.

[2018-01-11 16:24] jjgao commented on #907
@aderidder ?

[2018-01-11 16:25] jjgao commented on #908
@aderidder ?

[2018-01-11 16:26] jjgao commented on #912
@n1zea144 @sheridancbio ?

[2018-01-11 16:28] jjgao commented on #945
Closing this since we have meta data per study now.

[2018-01-11 16:28] #945 closed

[2018-01-11 16:29] #949 closed

[2018-01-11 16:30] jjgao commented on #960
I am closing this issue. Please reopen if it is still a problem.

[2018-01-11 16:30] #960 closed

[2018-01-11 16:33] tmazor opened #3706 "header text is different on beta"
Production:
![image](https://user-images.githubusercontent.com/10508276/34835547-1baf503c-f6c3-11e7-8e50-82cc0ad99049.png)

Beta:
![image](https://user-images.githubusercontent.com/10508276/34835668-79d9703e-f6c3-11e7-8626-bcc4e71dda4f.png)

The number of samples is gone and the percentage has an extra decimal place. Is this done for a reason? I prefer including the number of samples like on produ

[2018-01-11 16:34] jjgao commented on #961
Closing this. Please reopen if work remains to be done.

[2018-01-11 16:34] #961 closed

[2018-01-11 16:34] #968 closed

[2018-01-11 16:35] #973 closed

[2018-01-11 16:38] #974 closed

[2018-01-11 16:40] #1025 closed

[2018-01-11 16:40] #1111 closed

[2018-01-11 16:41] #1253 closed

[2018-01-11 16:42] #1268 closed

[2018-01-11 16:42] #1271 closed

[2018-01-11 16:43] jjgao commented on #1312
too big.

[2018-01-11 16:43] #1312 closed

[2018-01-11 16:44] #1528 closed

[2018-01-11 16:44] #1560 closed

[2018-01-11 16:44] #1595 closed

[2018-01-11 17:02] tmazor opened #3707 "copy pop-up should say "copy ready" not "download complete""
On beta, when I click "copy data" on Mutual Exclusivity or Mutations tab, there is now a pop-up that says "Download complete!". This is confusing because I clicked "copy", not "download". This text should say "Copy ready!"

[2018-01-11 17:17] tmazor opened #3708 "inconsistent behavior of copy & download from tables"
On beta, on the Mutual Exclusivity tab (and therefore presumably all tables), clicking the download button downloads all data columns regardless of which are visible but respects the sort order. So if I download once, then change the sort order, then download again, the two downloaded files have the same data in a different order.

However, once I click the copy button once, clicking it again does

[2018-01-11 17:25] tmazor opened #3709 "inconsistent behavior of copy button"
On beta, the first time I click "copy" on a table, a box appears:
![image](https://user-images.githubusercontent.com/10508276/34837701-a39c3db0-f6c9-11e7-96c1-95b9dbb4e1b0.png)

I have to click the "Copy" button here and then the data is copied.

However, if I click the copy button again, nothing happens. This is presumably related to #3708 in that the data is downloaded into cache once and then c

[2018-01-11 18:06] fedde-s commented on #3145
RFC37: Redesigning Case Lists? It looks like that would move the information from external case list files to clinical attributes, but still require the same validation (but on the list of clinical attributes instead of the list of case list files).

[2018-01-11 20:29] jjgao commented on #3351
From @ersinciftci : "isn't http://www.cbioportal.org/api/swagger-ui.html#!/Gene_Panels/getGenePanelDataUsingPOST already doing https://github.com/cBioPortal/cbioportal/issues/3351? If it is, then do you want basically the same thing as @adama wants in https://github.com/cBioPortal/cbioportal/issues/3628?"

[2018-01-11 20:35] jjgao commented on #3351
@ersinciftci Currently, we have to use three end points (Mutations, Gene_Panel, and sample list) to know whether a sample is (mutated, wildtype, or not sequenced) in a gene (based on a profile). I think we need a simpler end point to achieve that. I think that will also solve @adamabeshouse's #3628. We don't have to do exact the one I proposed above though.

[2018-01-11 21:05] ersinciftci commented on #3351
@jjgao so basically an endpoint that returns a two dimensional array for each sample and gene combination, and specify the gene panel if exists, or return a keyword like "Whole Exome" if whole exome, or return something like "NA" if not sequenced?

[2018-01-11 21:26] adamabeshouse commented on #3351
How about: a new projection for the samples endpoint? Query parameters: samples, genes

[2018-01-11 21:40] ersinciftci commented on #3351
A samples endpoint having genes parameter doesn't sound right, because samples and genes are two independent entities in the system. This data doesn't belong to samples or genes, it's a property of their combination in a genetic profile, so I can just make `/gene-panel-data/fetch` more verbose, i.e. return data for `whole exome` and `not sequenced` combinations too.

[2018-01-12 00:44] adamabeshouse commented on #3351
That's a good point

[2018-01-12 13:51] jjgao commented on #3609
@adamabeshouse I see. So only sequenced samples were counted?

[2018-01-12 15:02] jjgao commented on #3706
Good catch. I think we should get the number of altered samples back too.

The "Combined Study" link was removed on purpose. We will bring it back later: https://github.com/cBioPortal/cbioportal/issues/3624

[2018-01-12 15:05] jjgao commented on #3708
@tmazor I was thinking of removing the copy functionality. What do you think?

[2018-01-12 15:08] jjgao commented on #3145
For the moment, we should have validator to valid that. Should it be a warning or error?

[2018-01-12 15:22] jjgao commented on #3351
@ersinciftci yes.

"so basically an endpoint that returns data for each sample and gene combination, and specify the gene panel id if exists, or return a keyword like "Whole Exome" if whole exome, or return something like "NA" if not sequenced?"

[2018-01-12 15:23] jjgao commented on #3351
I was also thinking of returning NA vs WT from mutations end point. Currently, mutations end point only return mut cases, but we could return NA and WT too.

[2018-01-12 16:28] tmazor commented on #3708
@jjgao that seems fine to me

[2018-01-12 16:33] ersinciftci commented on #3351
@jjgao so we will add a property to Mutation model (`mutationType` or something), and that property will have values like `NA` for not sequenced, `WT` for wildtype and `MUT` for normal mutations? and for NA and WT every other property besides mandatory ones will be null?

And I talked to @priti88 and @tmazor and they stated that Genel Panel Data API should still return the Gene Panel Id even if it

[2018-01-12 20:05] jjgao opened #3713 "removing copy icon from mutations tables"
There seems to be a few issues related to the copy functionality: https://github.com/cBioPortal/cbioportal/issues/3707, https://github.com/cBioPortal/cbioportal/issues/3708, https://github.com/cBioPortal/cbioportal/issues/3709

I don't see a strong need of copy functionality in mutations and CNA table (and maybe most other tables). Can we remove it from the interface?

![image](https://user-images

[2018-01-12 20:26] jjgao commented on #3351
@ersinciftci thanks! I think that should be sufficient. About the first one (adding NA/WT), could you make it optional, e.g. add a parameter "return_wt_na"?

@adamabeshouse @zhx828 thoughts?

[2018-01-12 20:43] ersinciftci commented on #3351
@jjgao sure, should it be false by default? And is it possible to name it more clearly, possibly not using abbreviations like WT NA? something like `includeNonMutated`?

[2018-01-12 20:58] adamabeshouse commented on #3351
I'm not sure I entirely understand what you're saying, regarding how you'd denote WXS, and what you meant about setting the gene panel id even if the queried gene is not in the panel. Our current system suffers from a lot of ambiguity which the caller must know convention to resolve - the upcoming change should please make it completely explicit what are whole exome sequenced, and if a gene is in

[2018-01-12 21:02] adamabeshouse commented on #3609
@jjgao In that percentage, yes

[2018-01-12 21:05] onursumer opened #3714 "Async tests might be ignored if no done parameter is provided"
Seems like omitting the `done` parameter in tests for async functions results in success no matter what the assertions are. This might be a platform/build specific error, but still worth to investigate and make sure that no test is ignored within the `then` blocks.

[2018-01-12 21:33] ersinciftci commented on #3351
@adamabeshouse 2 properties will be used to denote all combinations, `genePanelId` and `isSequenced`, `genePanelId` will be either `wxs` (or something other special string) or the real gene panel id of the sample, and `isSequenced` will be false if the gene is not in the panel. If a special string as `genePanelId` for Whole Exome doesn't good, we can also add a `isWholeExome` property and set it t

[2018-01-12 21:39] adamabeshouse commented on #3351
it seems conceptually cleaner to me to add the `isWholeExome(Sequenced?)` property, leave `genePanelId` as null. That all sounds clear enough to me :+1:

[2018-01-12 21:48] inodb opened #3716 "Make pathology pdf reports url configurable"
- [ ] Currently we show pathology reports with google drive's PDF viewer. This makes it impossible to point to a local PDF server. We could instead use this library from Firefox to display them: https://github.com/mozilla/pdf.js/
- [ ] add a frontend configuration option for changing the datahub URL

User request: https://groups.google.com/forum/#!topic/cbioportal/OGmosOuzBu4

[2018-01-12 21:52] tmazor opened #3717 "survival tab labels need to be consistent"
Currently the y-axis is "Disease/Progression-free survival" while the title is "Disease Free Survival Kaplan-Meier Estimate", the x-axis is "Months Disease Free" and the table below uses "Median Months Disease Free":
![image](https://user-images.githubusercontent.com/10508276/34896719-ec6c0210-f7b8-11e7-9cea-40a0a2d28447.png)

All of those should consistently say either "Disease/Progression Free"

[2018-01-12 21:54] tmazor commented on #3717
Also, if we're going with "Disease/Progression Free", then the "Number of Cases, Relapsed" column should probably be "Number of Cases, Relapsed/Progressed"

[2018-01-12 21:58] tmazor opened #3718 "make text in survival tab tooltip larger"
The font size in the tooltip seems small to me. Is it truly smaller than other text on the site? If so, can it be made larger?

![image](https://user-images.githubusercontent.com/10508276/34896948-b49bdd8c-f7b9-11e7-9df9-52a6559f2f0c.png)

[2018-01-12 22:20] tmazor opened #3719 "weird character in study search box"
![image](https://user-images.githubusercontent.com/10508276/34897609-dbdd11d8-f7bc-11e7-843a-0e270f5b976c.png)

This happens on the beta homepage and also modify query

[2018-01-12 22:31] tmazor opened #3720 "lollipop plot - inconsistent truncation of domain names"
In lollipop plot below, the same domain shows up twice (green). The second time the domain name is truncated to fit, but the first time the full name is written out which extends well beyond the boundaries of the green box. The name should be truncated both times.

![image](https://user-images.githubusercontent.com/10508276/34897748-b56d8496-f7bd-11e7-8552-7e942ac512c0.png)
http://www.cbioportal.o

[2018-01-12 22:38] tmazor opened #3721 "oncokb link doesn't go directly to gene"
Clicking on the OncoKB link from the Mutations table goes to:
http://oncokb.org/#/gene/{{gene}}

I presume {{gene}} is supposed to be filled in with the actual gene name?

[2018-01-12 22:42] tmazor opened #3722 "mycancergenome link should open in new tab"
Clicking the mycancergenome link in mutations table opens in the same tab. It should open in a new tab like all the other annotations.

[2018-01-12 23:18] #3683 closed

[2018-01-12 23:18] #3674 closed

[2018-01-12 23:20] adamabeshouse commented on #3682
thats not true? its missense or inframe for cosmic, anything for cbioportal

[2018-01-12 23:23] #3626 closed

[2018-01-12 23:23] #3675 closed

[2018-01-12 23:24] #3596 closed

[2018-01-12 23:24] #3616 closed

[2018-01-12 23:24] #3592 closed

[2018-01-12 23:25] #3579 closed

[2018-01-12 23:25] #3587 closed

[2018-01-12 23:36] adamabeshouse commented on #2147
looks fixed in /beta

[2018-01-12 23:36] #2147 closed

[2018-01-13 00:20] jjgao commented on #3713
Niki mentioned it's still a useful feature, so let's try to keep it.

@onursumer how much work we need to do to maintain the feature?

[2018-01-13 08:21] alexbaras opened #3724 "new user not getting added"
I am using 1.10.1
I have had saml auth working normally
I noticed this a while ago (apologies that I cannot place it exactly but it has been an issue for about 1 year)

This 'new' users to the portal's user table are not getting added after successful authentication against our saml server. I can see that it has read in the proper email from the saml server return in that the top right of screen s

[2018-01-15 04:08] linkmonica opened #3725 "convertExpressionZscores.pl error: Expected to find 1 scripts-*.jar, but found: 0 at ../scripts/envSimple.pl line 36"
I tried using script to convert expression values to z-score and got htis error. Please suggest the fix.
I ran on example data mentioned.

Expected to find 1 scripts-*.jar, but found: 0 at ../scripts/envSimple.pl line 36.
Compilation failed in require at ./convertExpressionZscores.pl line 2.

[2018-01-15 07:00] DarioS commented on #3717
Both Google search results and Nature Journals subjects show that hyphenation and lower-casing of the second word is commonly accepted to be the correct way to write it. You could use either Disease-free or Free of Disease.

![image](https://user-images.githubusercontent.com/631218/34929850-5de7bbe2-fa1a-11e7-8f1e-278cc0386dee.png)

![image](https://user-images.githubusercontent.com/631218/3492985

[2018-01-15 08:21] aderidder commented on #907
Hi JJ,
So... I haven't a clue, as I haven't done any cbioportal development in a long time.
@pieterlukasse ?

[2018-01-15 08:22] aderidder commented on #908
Hi JJ,
So... I haven't a clue, as I haven't done any cbioportal development in a long time.
@pieterlukasse ?

[2018-01-15 16:01] #3471 closed

[2018-01-15 17:05] jjgao opened #3727 "weird character issue in search box in Firefox"
![image](https://user-images.githubusercontent.com/840895/34953876-3d194f26-f9ec-11e7-827b-652ff8e882eb.png)

[2018-01-15 17:25] jjgao commented on #3706
For the text, we should add both the total number and altered number of samples.

- [ ] Change "This combined study contains samples from 32 studies" to "Querying 7958 samples in 32 studies"
- [ ] Change "Gene Set / Pathway is altered in 6.67% of queried samples" to "At least one query genes are altered in 1152 (14.5%) of queried samples".

[2018-01-15 17:32] jjgao commented on #3630
this is still not done. The mouse-over is still attached to the menu div not the whole oncoprint div. Moving back to backlog.

[2018-01-15 17:44] jjgao commented on #3682
@adamabeshouse I moved it to backlog.

[2018-01-15 17:49] jjgao opened #3728 "oncopront tooltip tweaks"
- [x] change "value" to attribute name, e.g. "Cancer Type"
- [x] add "Sample: " or "Patient: " before the sample/patient ID.
- [x] Add left padding as requested in https://github.com/cBioPortal/cbioportal/issues/3698

![image](https://user-images.githubusercontent.com/840895/34955422-46dab4d6-f9f2-11e7-8f9f-819d49e45ef3.png)

[2018-01-15 18:40] jjgao commented on #3609
@adamabeshouse I misunderstood the issue.

For the case set text above the oncoprint menu, can we revert to the previous version?

In beta it is:
http://www.cbioportal.org/beta/index.do?session_id=5a5cf0e1498eb8b3d563c9ba
![image](https://user-images.githubusercontent.com/840895/34956933-5ec7b2f4-f9f9-11e7-8cc8-3bda7410406a.png)

Previous version:
http://www.cbioportal.org/index.do?session_id=5a5c

[2018-01-15 18:41] jjgao commented on #3609
moving it back to back log.

[2018-01-15 18:43] jjgao commented on #3719
duplicate with https://github.com/cBioPortal/cbioportal/issues/3727