[2016-04-28 21:23] inodb commented on #1088
@holtgrewe thanks for the 12 factor app principles link, that's super useful!

I think it would be great to use an environment variable for the db. I checked with @ersinciftci and it seems that there's no current effort ongoing to change this.

For heroku I added a spring config variable to switch between jndi and dbcp at run time, see: https://github.com/cBioPortal/cbioportal/pull/605. I would as

[2016-04-28 23:22] adamabeshouse commented on #1093
https://github.com/cBioPortal/cbioportal/pull/1141

[2016-04-28 23:22] #1093 closed

[2016-04-28 23:33] adamabeshouse commented on #971
Here's how it looks with the new color scheme
![image](https://cloud.githubusercontent.com/assets/636232/14904705/1e2097f8-0d78-11e6-864a-ee9900bd8aa8.png)

[2016-04-28 23:34] adamabeshouse commented on #971
Here it is, sorted by recurrence
![image](https://cloud.githubusercontent.com/assets/636232/14904720/3ab1a4c0-0d78-11e6-97d3-8f8005a391ab.png)

[2016-04-29 02:28] jjgao commented on #1078
Maybe when it's <3%, we should use fraction e.g. 0.3%.

[2016-04-29 02:29] #1026 closed

[2016-04-29 02:31] jjgao commented on #978
@yichaoS I'll ask a GSoC student to do this.

[2016-04-29 02:37] jjgao commented on #978
http://bit.ly/1pMQelm

goto: Enrichments => Protein => last column "Plot"

[2016-04-29 03:15] schultzn commented on #971
Thanks Adam. This looks nice!

I forgot what we decided - will there also be sorting by mutation type? Truncating first, then inrlame indels, then missense? That would make sense for some genes…

The legends at the bottom are still slightly off, not quite centerer vertically on the glyph.

N

[2016-04-29 07:42] aderidder commented on #1135
Hi @jjgao

For mRNA and protein, the provided data should be in log-space; if it isn't, it is converted to log-space first. The problem in the issue above is that in the database the datatype is CONTINUOUS and not LOG-VALUE (looking at the new file formats this should now actually be LOG2-VALUE). Hence, the code tries to convert this data to log space first, which prevents the data from being prop

[2016-04-29 08:26] ugurdogrusoz commented on #1096
Was due to a layout bug. Should be fixed with the next pull request and merge.

[2016-04-29 17:12] #1129 closed

[2016-04-29 17:34] jjgao opened #1146 "OncoKB: map copy number deletion to deletion instead of "Inactivating mutations""
![image](https://cloud.githubusercontent.com/assets/840895/14924134/e5b9de64-0e0e-11e6-802f-000a5fa259db.png)

![image](https://cloud.githubusercontent.com/assets/840895/14924146/f4708610-0e0e-11e6-9125-7fd5fad9c465.png)

[2016-04-29 17:36] ecerami opened #1147 "Show all Samples badge is "off""
Not sure if this is an issue in production, but I am seeing this in the release candidate.

When I see an OncoPrint, I see the "Show all Samples" badge.

![screenshot_845](https://cloud.githubusercontent.com/assets/1009066/14924183/2e737b7e-0e0f-11e6-8dea-c9f6cd13e4f8.png)

The badge would look much nicer if it was left aligned to the text above, and there was a little more white space below the t

[2016-04-29 17:38] ecerami opened #1149 "Case Set: : in Oncoprint"
In the release branch, when a new OncoPrint is generated, I see the following at the top:

Case Set: :

Depending on the amount of data you get, that's the main text you see while the OncoPrint is being rendered.

Can we just remove the text "Case Set: :" until the data is ready?

[2016-04-29 17:41] ecerami opened #1150 "Clicking "Show all Samples" badges causes strange jitter effect"
In the release candidate branch, if I click "Show all Samples" within an Oncoprint, I get a flash or a rectangle which then disappears.  Clicking the badge again, and I see the same rectangle flash by.

[2016-04-29 17:44] ecerami opened #1151 "Do we really want the condensed view to the default for new OncoPrint?"
(In release candidate):

Do we really want the condensed view to the default for new OncoPrint?

![screenshot_846](https://cloud.githubusercontent.com/assets/1009066/14924429/860f1a0e-0e10-11e6-9203-5c06e3fab1bc.png)

I liked the "old" way better, and this what most users are used to.

[2016-04-29 17:46] ecerami opened #1152 "OncoPrint Legend gets cut off"
(In release candidate):

OncoPrint legend gets cut off:

![screenshot_847](https://cloud.githubusercontent.com/assets/1009066/14924456/af04bbee-0e10-11e6-9c27-458593a1ae56.png)

See the text "Genetic alteration with the line straight through it..."

[2016-04-29 17:48] zhx828 opened #1153 "Example query in the main page: BRAF V600E mutations across cancer types is not working"

[2016-04-29 18:53] zhx828 commented on #870
@pieterlukasse @jjgao I'm trying to solve the issue #976 but found out this is related. Should we discuss about this?

[2016-04-29 19:03] jjgao commented on #1151
This is experimental.. To play on the safe side, we should probably use the old view by default.

@schultzn @adamabeshouse what do you think?

[2016-04-29 19:29] adamabeshouse commented on #1151
It's a one-line change to use the old style, so whatever is preferred works with me.

[2016-04-29 20:33] jjgao commented on #870
@pieterlukasse good point.

I'd vote to move them up so that we can sync Clinical Data tab too.

@schultzn @ecerami what do you think?

[2016-04-29 23:29] jjgao commented on #1135
@aderidder I'll fix our data / database. But may be it also make sense to process non LOG2-VALUE profiles with negative data. At least some message should be displayed. Maybe, if negative data is detected, we can treat them as if they are log values?

[2016-05-01 20:50] jjgao opened #1158 "sort mutations and cna tables by Annotation column by default"
in patient view

[2016-05-02 07:55] pieterlukasse commented on #1096
Feel free to close it if you were able to reproduce it and fix it.

[2016-05-02 09:42] aderidder commented on #1135
I've discussed it with @pieterlukasse and we would like to suggest:
* adding a check to the validator
* adding a message in the front-end to notify the user that there is a problem with his data

We would like to limit it to this; this is hopefully sufficient to help users/administrators to understand what they should do to fix their data.

[2016-05-02 14:31] aderidder opened #1160 "importGeneData gene multiple lenghts error"
I was looking into importing gene data using importGeneData.java. I took the NCBI genes file and I'm using gencode v24 annotation for the gene length (ftp://ftp.sanger.ac.uk/pub/gencode/Gencode_human/release_24/gencode.v24.annotation.gtf.gz).
When I run importGeneData, I'm getting errors that a gene has multiple lengths. I've looked into this and the reason seems to be that if a gene does not have

[2016-05-02 14:53] pieterlukasse opened #1161 "New place for documentation"
The current wiki is not ideal for documenting the system as it is not part of the code itself. We therefore would like to propose to have the documentation in a folder that is part of the project, e.g. located in a subfolder like `/docs`.

See also our proposal here: https://github.com/thehyve/cbioportal/tree/documentationTest

[2016-05-02 14:56] pieterlukasse commented on #1161
@jjgao , @ecerami , @n1zea144 , @schultzn : in this new form, developers can submit changes to the code and respective documentation in the same PR.

[2016-05-02 15:01] jjgao commented on #1161
@pieterlukasse Thank you! It looks great!

https://github.com/thehyve/cbioportal/tree/documentationTest/docs

[2016-05-02 15:09] jjgao commented on #1160
I looks like we assumed that exon annotations of the same gene are together in the file.

https://github.com/cBioPortal/cbioportal/blob/master/core/src/main/java/org/mskcc/cbio/portal/scripts/ImportGeneData.java#L184

We need to fix this.

[2016-05-02 15:12] inodb commented on #1161
Nice! I agree that it's much better to couple documentation and code.

I would also opt to use smth like readthedocs to make it a little nicer to read: http://read-the-docs.readthedocs.io/en/latest/getting_started.html#in-markdown. It basically adds a custom readthedocs skin to html generated from the markdown in your repo, some search functions and you can easily retrieve documentation from older

[2016-05-02 17:11] pieterlukasse commented on #1161
@inodb just the search function is already a great argument ;)   I agree it would be a nice next step.

[2016-05-02 18:25] jjgao opened #1162 "Add a JUMP icon in each study in the main query page to jump to a patient"
Request from Barry:

"Right now, on the front page, when you hover over the MSK-IMPACT cohort, a little “I” icon appears as does the button to the study summary page. Ordinarily, when I have a DMP ID I want to see the profile for, I go to the study summary page, then click “Select Cases by ID”, add my ID, wait for the page to dynamically find the sample, then I click the highlighted red sample ID

[2016-05-02 20:43] istemi-bahceci commented on #1098
Could not reproduce this on Ubuntu 14.04 using chromium browser with the following query:
![image](https://cloud.githubusercontent.com/assets/8645080/14967190/cc95524e-10be-11e6-936b-2f3f5bedfb57.png) . @ozgunbabur  Could  you give some details about environment, browser and the query that you are using ?

[2016-05-02 20:43] istemi-bahceci commented on #1100
I've added this functionality, It will be included in next pull request.

[2016-05-02 21:20] istemi-bahceci commented on #1099
This issue is fixed, will be included in next pull request.

[2016-05-02 21:55] adamabeshouse commented on #1150
Ah ha, this is the loading bar appearing and quickly disappearing. I'll add 'Loading' to it to make it clearer.

[2016-05-03 03:02] adamabeshouse commented on #272
https://github.com/cBioPortal/cbioportal/pull/1165

[2016-05-03 03:02] #272 closed

[2016-05-03 03:03] adamabeshouse commented on #1150
https://github.com/cBioPortal/cbioportal/pull/1165

[2016-05-03 03:03] #1150 closed

[2016-05-03 03:03] adamabeshouse commented on #1149
https://github.com/cBioPortal/cbioportal/pull/1165

[2016-05-03 03:03] #1149 closed

[2016-05-03 03:03] adamabeshouse commented on #1147
https://github.com/cBioPortal/cbioportal/pull/1165

[2016-05-03 03:03] #1147 closed

[2016-05-03 03:04] adamabeshouse commented on #1092
https://github.com/cBioPortal/cbioportal/pull/1165

addresses some of the issues.

Still to address: label alignment and oncoprint crispness

[2016-05-03 03:04] #478 closed

[2016-05-03 03:07] adamabeshouse commented on #1078
For both the oncoprint and the header?

[2016-05-03 08:54] pieterlukasse commented on #1135
@fedde-s : please add a link to your PR here

[2016-05-03 09:51] aderidder commented on #1135
Hi @jjgao
Are we actually sure that the data is log data? Or could it also be z-score?
Also, we just found out that the validator (and documentation) don't allow for expression data with datatype LOG2-VALUE and LOG-VALUE. Perhaps that should be supported as well?

[2016-05-03 14:11] ecerami commented on #1113
@morungos:  @pieterlukasse will fix.

[2016-05-03 14:22] morungos commented on #1113
Excellent. @fedde-s is right, `System.exit()` doesn't directly make testing impossible. It just much easier to test a very few paths involving `System.exit()` rather than the number we have now. And I would recommend standardising exit status, as this will be the normal pipeliney way to notify failure, which will always be a possible outcome.

[2016-05-03 16:05] pieterlukasse commented on #1113
hi @morungos, I did a quick change to help in this discussion (not tested yet). Is your proposal something like this https://github.com/thehyve/cbioportal/commit/1bf83decc33fe6c5d23d3d17065b12e21b450188
?

[2016-05-03 16:55] pieterlukasse commented on #1135
@aderidder : as just discussed with @jjgao, please use the following rule:
- if a negative value is found in set, just let the x values be the subtraction of the values and label this axis as such
- if no negative value is found, let the x values be the log ratio and label the x axis accordingly

@jjgao : please confirm and add any extra comments, if any.

[2016-05-03 17:49] morungos commented on #1113
Yes, exactly like that! Good one.

[2016-05-03 17:54] zheins commented on #1102
I just ran into this in something I was working on - we need to multiple mutation files to have the same mutation stable id, as @jjgao mentioned. We have some extremely large studies that we had to split the mafs up on.

[2016-05-03 17:58] ozgunbabur commented on #1098
You are right, it does not happen all the time. Here is how to get the bug:

1. Do what you did (same dataset and same gene set).

2. Go to the network tab and select RB1 and BRCA1 together, pressing shift key.

3. Do View --> Highlight Neighbors and View --> Remove Highlights in sequence.

4. Didn't you get the bug? Then continue doing steps 2 and 3 with some other gene pairs. Sometimes it takes

[2016-05-03 18:58] morungos opened #1169 "Bad Maven filtering in log4j.properties"
I've just seen a problem building a Debian package for cBioPortal. I'm using jdeb, so I'm packaging on a different system to deployment. The problem is in the `log4.properties` file, which contains the following:

[code]

These are being termplated by Maven, so the file embedded in the war reads:

[code]

The location should not be hardwired inside the application. There are many ways to solve thi

[2016-05-03 19:04] morungos commented on #1169
See: http://stackoverflow.com/questions/13066042/how-to-give-environmental-variable-path-for-file-appender-in-configuration-file

[2016-05-03 19:21] morungos commented on #1169
Unlike the Maven documents imply, `maven-resources-plugin` does filter property files by default, or seems to. When I added `<filtering>false</filtering>` to `business/pom.xml` the log4j is intact, and then the variables will get substituted later. However, they still point to a funny place for a log.

[2016-05-03 20:25] schultzn opened #1170 "cancerhotspots.org link is broken // slight change of text"
![image](https://cloud.githubusercontent.com/assets/11892704/14997127/1aa951e2-114b-11e6-9df3-7cfede6fe913.png)

Also, can we please change the text to:
This mutated amino acid was identified as a recurrent hotspot (statistically significant) in a population-scale cohort of tumor samples of various cancer types using methodology based in part on Chang et al., Nat Biotechnol, 2016.

[2016-05-03 20:26] schultzn commented on #1170
Link goes to:
http://www.cbioportal.org/%22http://cancerhotspots.org/%22

The paper link has the same issue

[2016-05-03 20:40] #1121 closed

[2016-05-03 20:41] jjgao commented on #978
@pambot

You could remove the whole Plot column and do similar thing as in Mutations tab, ie. clicking on the gene name will load the boxplot under the volcano plot.

![image](https://cloud.githubusercontent.com/assets/840895/14997609/951ce360-114d-11e6-9d86-be91eca68871.png)

[2016-05-03 20:46] JiaoJiao123 commented on #1153
Someone might already fixed it and It's working now.

[2016-05-03 20:47] #1153 closed

[2016-05-04 01:48] zheins opened #1172 "Clinical data import does not display status on import"
The other data types display what file is processing and some other similar information before attempting to process the file. With clinical files, this is skipped. When an error occurs, if multiple clinical files are being processed at once its hard to see which file caused the failure.

[2016-05-04 01:51] adamabeshouse commented on #272
https://github.com/cBioPortal/cbioportal/pull/1173

[2016-05-04 01:54] adamabeshouse commented on #971
Sorting by mutation type is indeed an option, in the order you've described above.

The legend label alignment is addressed in https://github.com/cBioPortal/cbioportal/pull/1173

I will loop in @zhx828 to help with styles

[2016-05-04 02:08] zheins opened #1174 "Clinical data import aborts if sample duplicated incorrectly"
First, @n1zea144 @jjgao, do we want to abort import if a sample is present twice in a clinical file?

Secondly, I'm getting this error even though I've checked that the sample is not duplicated in the file. It does occur in other clinical files though.

[2016-05-04 03:59] zheins opened #1175 "Mutation data import looking for patient id"
The log file gets pretty cluttered looking for patient ids. Tumor_Sample_Barcode should be a sample id.

[2016-05-04 17:03] sheridancbio opened #1178 "Add ability to trigger web application recaching (without .war redeployment)"
Proposed enhancement:

The tomcat process could listen for a signal (either through a http request to a designated URL, or through a change to an appropriate database record, or through a filesystem change on the tomcat server host), and on receiving the signal the web application could go into a recaching mode, invalidating the old memory caches and beginning a new cacheing pass.

By doing this,

[2016-05-04 18:27] yichaoS opened #1179 "Multi-study under index.do"
- [ ] when select multi-studies, dispatch response to "index.do" instead of "crosscancer.do", and able to display oncoprint**(Karthik)**, mutation lollipop**(Yichao)**, expression plots**(Yichao)**, download**(Yichao)**, bookmark tab **(Yichao)**
- [ ] delete everything down the "crosscancer.do" path**(Karthik)**
- [ ] delete everything "OncoPrintSpecParser" related**(Karthik)**

[2016-05-04 19:34] jjgao opened #1181 "JS error in Network"
http://bit.ly/21xFzJa

![image](https://cloud.githubusercontent.com/assets/840895/15026659/7b94ac00-120d-11e6-9981-8b040a348af2.png)

[2016-05-04 20:07] morungos opened #1182 "Bad import data throws a string error"
I've just loaded some data (note we're not using the validator) but we still managed to get a Java string index error:

[code]

The relevant fragment of `PortalMetaDataJSON` is:

[code]

This is caused by a case_list containing the following:

[code]

Since it seemed like most of the other stable identifiers were, on import, being now implicitly prefixed with the study name, this shouldn't have be

[2016-05-04 20:10] ugurdogrusoz opened #1183 "Use newly released PC2 v8 query service for SBGN view"
Now that PC2 version 8 is officially released, we should use it (rather than the *beta* version).

[2016-05-04 20:47] adamabeshouse opened #1184 "Mutational signatures"
(1) Pipeline & Data storage format

write RFC

[2016-05-04 21:48] adamabeshouse commented on #1152
I'm unable to replicate, which study is this?

[2016-05-04 22:29] schultzn commented on #1151
For large studies, I don't think it makes a lot of sense to be fully zoomed in. I always zoom out immediately to see the big picture.
As a compromise, we could zoom out when the study size is greater than 200?

As an example, for the query below, there is no reason to hide the white spaces between columns:
http://bit.ly/1SNyp1p

The page should look like this:
![image](https://cloud.githubusercont

[2016-05-04 22:31] schultzn commented on #1151
@ecerami by the way, here is our TP53 OncoPrint row
![image](https://cloud.githubusercontent.com/assets/11892704/15031400/5fe65328-1226-11e6-93de-06461e15d9f8.png)

[2016-05-04 23:18] adamabeshouse commented on #1092
https://github.com/cBioPortal/cbioportal/pull/1185 oncoprint crispness done!

[2016-05-04 23:18] #1092 closed

[2016-05-05 02:28] jjgao commented on #1125
@yichaoS I just pushed out the fix but the problem still exists: http://bit.ly/1XW6Gvr.

[2016-05-05 06:12] ugurdogrusoz opened #1186 "Biogene service bug in SBGN network view"
- Using the alpha deployment, open up the example query for "TP53 and MDM2/4 alterations in GBM".
- Go to Network tab
- Open up SBGN view for interaction between MDM2 and UBE2L3
- Select one of the macromolecules in Cytosol named "Protein target"
- See attached error from BioGene

This is probably a BioGene error that we should report to @armish

![biogene-error](https://cloud.githubusercontent.co

[2016-05-05 06:18] ugurdogrusoz commented on #1052
Functionality to get rid off from the menus (and corresponding tools from the toolbar):
- File > New, Load, Samples
- Edit > Select/Edit, Add X (all 4 add's)
- Help > How to Use

[2016-05-05 08:03] istemi-bahceci commented on #1186
Fixed. Was due to not encoding gene names when constructing biogene query URL. Special characters in gene names like spaces etc. should be encoded when constructing biogene query URL.

erroneous URL: http://cbio.mskcc.org/biogene/retrieve.do?query=p16-INK4a/p14-ARF mRNA&org=human&format=json

valid query: http://cbio.mskcc.org/biogene/retrieve.do?query=p16-INK4a/p14-ARF+mRNA&org=human&format=json

[2016-05-05 08:05] istemi-bahceci commented on #1183
Fixed.

[2016-05-05 08:28] istemi-bahceci commented on #1052
Done.

[2016-05-05 11:47] #1186 closed

[2016-05-05 11:47] #1183 closed

[2016-05-05 12:01] #1100 closed

[2016-05-05 12:03] ugurdogrusoz commented on #1052
Corresponding tools from the toolbar should also be deleted.

[2016-05-05 12:06] #1099 closed

[2016-05-05 16:11] jjgao commented on #1135
@pieterlukasse @aderidder that would be perfect!

[2016-05-05 19:07] istemi-bahceci commented on #1181
This issue should be fixed now.

[2016-05-05 20:25] jjgao opened #1196 "gsoc proteomics"

[2016-05-05 20:26] pambot opened #1197 "Updating cBioPortal with CPTAC tumor data"
In order to get reliable protein abundances and PTM data onto cBioPortal, we need to upload formatted data from the [CPTAC data portal](https://cptac-data-portal.georgetown.edu/cptacPublic/) and extend the visualization interface to accommodate the new data (particularly for PTM data, which does not currently have a tab). This is the Epic that will contain all issues for this goal.

[2016-05-05 20:35] ecerami commented on #1152
This is for our DFCI instance / study.

[2016-05-05 20:49] adamabeshouse commented on #1152
Hm, does it happen every time?

[2016-05-05 20:53] #1125 closed

[2016-05-06 12:41] jjgao opened #1198 "add annotation from MolecularMatch"

[2016-05-06 13:12] ecerami commented on #1152
It was not every time.  Just some of the time.

[2016-05-06 13:30] jjgao commented on #1152
@adamabeshouse try clicking another tab, e.g. Plots, and clicking back to OncoPrint.

[2016-05-06 19:57] jjgao commented on #1174
@zheins I don't think we should abort. Some warning might be useful.

[2016-05-09 09:41] aderidder commented on #1135
https://github.com/cBioPortal/cbioportal/pull/1199

[2016-05-09 10:11] pieterlukasse commented on #1138
@zheins : yes, this behavior is applied to all data types. Rationale was to align this with the validation (part of which was discussed in #823). We allow entrez column to be empty (now also in Validator). This would be the recommended way of providing data out of pipelines where the entrez id value is not reliable and you want hugo symbol to be the default.

To comment on the "fall back" idea: I

[2016-05-09 20:37] adamabeshouse commented on #1152
https://github.com/cBioPortal/cbioportal/pull/1203

[2016-05-09 20:37] #1152 closed

[2016-05-09 20:37] adamabeshouse commented on #971
https://github.com/cBioPortal/cbioportal/pull/1203

[2016-05-09 20:37] #971 closed

[2016-05-09 20:37] adamabeshouse commented on #1151
https://github.com/cBioPortal/cbioportal/pull/1203

[2016-05-09 20:37] #1151 closed

[2016-05-09 21:27] adamabeshouse commented on #1078
https://github.com/cBioPortal/cbioportal/pull/1203

[2016-05-09 21:27] #1078 closed

[2016-05-09 21:58] adamabeshouse opened #1204 "Oncoprint menu"
@schultzn @jjgao

We've been talking about maybe using a dropdown menu (e.g. 'File', 'Edit', 'View',... -style) instead of the toolbar icons. Here is one proposal, comments welcomed.

The current items are
-Add clinical track
-Sort by
-Patient/sample switch
-Mutation color settings
-Show/hide unaltered cases
-Show/hide whitespace between columns
-Download
-Zooming controls
- Show/hide clinical leg

[2016-05-10 07:09] ugurdogrusoz commented on #1181
Looks fixed

[2016-05-10 07:09] #1181 closed

[2016-05-10 07:09] #1096 closed

[2016-05-10 07:10] #1052 closed

[2016-05-10 07:14] ugurdogrusoz commented on #1095
As discussed yesterday, let's first have an attempt to separate the network view into a different repository. If successful, minimized versions could be pushed to the portal every now and then.

[2016-05-10 07:19] ugurdogrusoz opened #1205 "Fit should consider only visible nodes in network view"
Looks like fit is considering invisible nodes due to filtering (e.g. hide drugs) and other options (e.g. remove disconnected nodes).

[2016-05-10 07:23] ugurdogrusoz opened #1206 "Error on drug selection in network view"
When you click on a drug node to select it, it starts a drag of the node and gives an error (Uncaught ReferenceError: drugName is not defined).

[2016-05-10 07:30] ugurdogrusoz opened #1207 "Too many layout calls on interaction filtering in network view"
In both dialogs for modifying interactions by type and source, we are calling layout too many times (each time a type / source checkbox is checked/unchecked). Instead, we should
- cancel / ignore all changes when X is clicked to close the dialog, and
- apply all changes once and apply layout if associated flag (Auto Layout on Changes) is checked when OK is clicked to close the dialog

[2016-05-10 19:55] adamabeshouse commented on #787
https://github.com/cBioPortal/cbioportal/pull/1203

[2016-05-10 19:55] #787 closed

[2016-05-10 23:29] priti88 opened #1213 "Validator improvement : Allow only 'LIVING' and 'DECEASED' for OS_STATUS"
Validator should throw a warning if OS_STATUS is not 'LIVING' or 'DECEASED'.
The survival plot shows up as empty plot otherwise.

[2016-05-11 15:23] pieterlukasse opened #1214 "Validator should give error when no case list option is present"
Currently it is possible to load a study without case lists. However this gives an exception in the portal.
![image002](https://cloud.githubusercontent.com/assets/2900303/15186387/20e54612-179d-11e6-992e-dd3ccf3caf21.jpg)

At the study in the UI (selecting a few genes) to see oncoprint, the following message is given:
![image004](https://cloud.githubusercontent.com/assets/2900303/15186385/1fd69000

[2016-05-11 15:26] pieterlukasse commented on #1214
solution would be to give error if no case lists are found `AND` the study metadata parameter `add_global_case_list` is false or not given.

[2016-05-11 19:44] jjgao opened #1217 "does genomespace block loading of cbioportal?"
We should probably not load anything from genomespace when loading up the cbioportal main page.

![image](https://cloud.githubusercontent.com/assets/840895/15194030/ba956b20-178e-11e6-97d5-f7d18ca3e683.png)

[2016-05-11 20:12] #1170 closed

[2016-05-11 20:12] #1146 closed

[2016-05-11 20:13] #1119 closed

[2016-05-11 20:13] #1109 closed

[2016-05-11 23:07] morungos commented on #844
I've come across some weird issues here, and I think they're originating in 05adf92606c107fe8dde328974864cd09951925e. Basically, the tests are weird due to closing, and I think the change in this commit makes it more common in tests for `loadDataFromTempFileIntoDBMS` to throw. In normal code, this would be good, but it actually means that `flushAll` skips both clearing the current file handle map

[2016-05-11 23:15] morungos commented on #844
There's actually a good argument for some better testing of `MySQLbulkLoader`. My gut feel here is that *validation* errors here should may not throw an exception directly, maybe even at all, but set a list of errors which can be picked up at the end of `flushAll` and will then throw a `DaoException`.

There are other solutions, but generally, an error in `loadDataFromTempFileIntoDBMS` should not

[2016-05-12 03:12] jjgao opened #1218 "display the database version mismatch message only in the error page"

[2016-05-12 03:16] jjgao commented on #1218
@zheins could you please prioritize this?

[2016-05-12 08:50] istemi-bahceci commented on #1205
Fixed.

[2016-05-12 08:50] istemi-bahceci commented on #1207
Fixed

[2016-05-12 08:51] istemi-bahceci commented on #1206
fixed

[2016-05-12 09:03] pieterlukasse opened #1220 "Add validation for multiple clinical data files in a single study"
There is a need for supporting multiple clinical data files in a single study.

One scenario is: supporting multiple files is a mixed cancer type dataset. I.e. multiple supplemental clinical data files from various disease management teams for specific tumor types within a mixed dataset.

The new validation script would have to be adjusted to support multiple clinical sample and patient data files

[2016-05-12 09:27] pieterlukasse commented on #844
hi @morungos good catch in flushAll, I missed that. Maybe we can do the clearing of the current file handle map and restoring of the `foreign_key_checks` in a finally block in `flushAll`?

Regarding `ImportTabDelimData`, I think other things are wrong there. I started looking at it.

[2016-05-12 09:53] pieterlukasse commented on #1102
part of it (at least allowing multiple mutation files in the loader) is solved in #1212

[2016-05-12 10:06] aderidder opened #1221 "Validator & Loader Expression Data NULL-flavours"
Whilst testing expression data loading in the plots-tab, it turns out the front-end only accepts NaN and NA as valid empty values:

plotsUtil.js:
[code]

The validator/loader/front-end should be synchronised

[2016-05-12 10:20] pieterlukasse commented on #1221
this means we need to be somewhat stricter in the `NULL_VALUES` in some of the Validator classes in `validateData.py`

[2016-05-12 13:52] morungos commented on #844
@pieterlukasse I'd actually meant the `mySQLbulkLoaders.clear();` -- this leaves bulkloaders hanging around in the `mySQLbulkLoaders` table. I guess they should really be all flushed no matter what, but failing that, at least clearing the table would allow them to continue. Again, I think this is an area where our use of statics is problematic, as it leaves the JVM state around which means a bad t

[2016-05-12 13:54] morungos commented on #844
And @pieterlukasse -- yes, I'd agree there are other issues in `ImportTabDelimData` -- I'm trying to get the tests passing again here, and I'm still blocked on the mRna and RPPA data loading

[2016-05-12 14:11] morungos commented on #844
Here's where `ImportTabDelimData` is still an issue, and I think the issues with bulkloading were masking issues by throwing DB exceptions before we got to these. These look like true loading logic issues to me.

First, note that `parseRPPAGenes` doesn't handle `|` in a gene entry, and it looks from this test data that it should.

[code]

Second:

[code]

[2016-05-12 14:27] morungos commented on #844
OK, debugging. `importmRnaData2` tests are failing because `NA` is logging `Gene NA will be interpreted as 'Not Available' in this case. Record will be skipped for this gene.; 1x` -- the test expression data uses `NA` everywhere and I don't understand this stuff too well, but it's on both the symbol and the gene id, and I think the symbol one is triggering missing all of the NAs. If this is about

[2016-05-12 14:40] n1zea144 commented on #1220
- Checking if two separate files contains the same clinical attribute is a good idea.

- All files do not need to contain the same set of patients/samples - this is the use case of the mixed cancer type dataset where disease management teams (DMTs) submit supplemental data they maintain for a particular cohort of patients/samples.

- Just for completeness, the use case when we have multiple data f

[2016-05-12 14:44] fedde-s commented on #1220
The main question I have is: should we support two different files that contain the same attribute at all, but for different samples?

[2016-05-12 14:58] #831 closed

[2016-05-12 15:06] n1zea144 commented on #1220
No, lets not do that.

[2016-05-12 15:46] morungos commented on #1113
This is beginning to bug me, as any failing test of the increasingly tight validation on import is throwing a `System.exit()` all the time, breaking the tests and therefore making packaging harder. As a transitional measure, we might want to move the tests -- all the importer tests -- into a new Maven subcomponent and use Failsafe instead, so that we don't have these issues. Or maybe @fedde-s's so

[2016-05-12 16:05] fedde-s commented on #1113
The pull request is an implementation of the fix we had already agreed on, with an abstract class between the Runnable interface and the script classes in order to reduce repeated boilerplate code and to keep command-line behaviour such as the choice of exit status consistent. Would that not resolve this issue after all?

[2016-05-12 16:17] morungos commented on #1113
It would, when it's in `rc`. I'd need to rework some of my code to handle parts of that, but I think it'll assist in debugging a lot when the tests switch to using a `run` method from a `main` method. e.g., `TestPanCancerStudySummaryImport` calls a bunch of these, so if there's a load error (and there seems to be in some cases) we get a `System.exit()` and a Surefire fail. So these tests are also

[2016-05-12 17:05] morungos opened #1226 "Server-side IllegalArgumentException for OncoKB access when not available"
Just found this in my logs; it shouldn't throw an exception:

[code]

[2016-05-12 19:13] priti88 opened #1227 "Error in validating timeline file."
cancer_study_identifier: xxxxx
genetic_alteration_type: TIMELINE
datatype: TIMELINE
data_filename: data_timeline_specimen.txt

ERROR: meta_timeline_specimen.txt: Could not determine the file type. Please check your meta files for correct configuration.; value encountered: 'genetic_alteration_type: TIMELINE, datatype: TIMELINE'

[2016-05-13 06:54] pieterlukasse commented on #1113
@morungos maybe you can help us tests #1224 as well?

[2016-05-13 07:04] pieterlukasse commented on #1220
@n1zea144 thanks for the details. To comment on @fedde-s last question and your reply: the second bullet point from your list sounds to me like there *will* be multiple files with different sample ids containing the same clinical attributes. E.g. when different DMT choose to use the same clinical attribute. Or will each clinical attribute be prefixed by the DMT code, e.g. DMT1_AGE in one file and

[2016-05-13 09:03] aderidder commented on #1227
Hi,
There were some issues with the validator and we've created a fix.

The following needs to be changed in timeline files:
* change genetic_alteration_type to CLINICAL
* STOP_DATE is now a mandatory column (third column). The values should be blank when STOP_DATE is not used.

@pieterlukasse the loader code should be improved in how it handles the sometimes optional column STOP_DATE

[2016-05-13 12:15] pieterlukasse commented on #1227
@priti88 can you confirm that the solution indicated by @aderidder works? We can make further improvements to the loader code at a later stage (e.g. if there is a need to have the columns in any order or if someone really wants to leave out the whole STOP_DATE column....but I think these are not so important now)

[2016-05-13 13:42] morungos commented on #1113
Sure, definitely. I think we also got a better handle on integration testing in the branch for the sprint on architecture/repository work too, so it might even be worth looking into that. Basically, that would involve moving the integration tests (as these mostly are) into a separate component, running them against built jar file, and probably using failsafe rather than surefire. But that's all lo

[2016-05-13 14:41] jjgao opened #1231 "supporting multiple studies in data-manager"
In order to support cross-study query, we need to be able to pull data across studies in data-manager. The current data manager API and data structure cannot support it well. Can we modify it?

For example, to get genetic data, we can pass in the follow parameters (just a dump example -- you don't have to follow exactly).

[code]

[2016-05-13 16:06] fedde-s opened #1234 "migrate_db.py fails to update seed db, making rc uninstallable"
The documented way to install cBioPortal involves [loading a MySQL database with ‘the seed database’](https://github.com/cBioPortal/cbioportal/blob/rc/docs/Import-the-Seed-Database.md), an old SQL dump of the schema with side data such as genes pre-loaded. To use the release candidate, one further has to [upgrade the schema using a Python script](https://github.com/cBioPortal/cbioportal/blob/rc/do

[2016-05-13 20:14] yichaoS opened #1236 "IGV tab file loading exception"
![screen shot 2016-05-13 at 4 09 28 pm](https://cloud.githubusercontent.com/assets/5973438/15260589/a0d6ba98-1925-11e6-887e-79a903503616.png)

[2016-05-13 22:07] sheridancbio opened #1237 "Sort order of cross cancer study alteration histogram is unstable"
The sort order key for the crosscancer study alteration histogram is total Alteration Frequency. But when two studies have the exact same frequency (8 of 121 for skcm_broad over genes {AKT1, STAT4}, or 16 of 242 for ucec_tcga over the same genes), the order of the columns is arbitrary. This can cause problems for automatic testing based on screen shots. (or regression tests).

Recommend: add a sec

[2016-05-16 14:39] zheins commented on #1220
Clinical attributes get prefixed if there is some clash in the namespace. It doesn't happen too often though, as most general attributes are captured by the general hospital information systems (like AGE, GENDER, etc.), and only disease specific attributes are supplied by DMTs.

[2016-05-16 15:54] schultzn opened #1241 "New study view tables should show more data"
The old study view tables had 10 rows of data plus the header, now we are down to 8 rows. Can you use  smaller font and less spacing to show more data again?

Also, the search box should just say "Search" instead of "Input a keyword".

Thanks!

[2016-05-16 15:57] schultzn commented on #1241
Maybe the gene column could get a little more space, so that we can show a little more than CDKN...

![image](https://cloud.githubusercontent.com/assets/11892704/15295200/6e22d336-1b5d-11e6-9383-9631127d1de7.png)

[2016-05-16 16:24] priti88 commented on #1227
@pieterlukasse : I added STOP_DATE Column. But, the validator fails with error:
ERROR: data_timeline_specimen.txt: lines [2, 3, 4, (17 more)]: column 3: Blank cell found in column; value encountered: ''' (in column 'STOP_DATE')'

[2016-05-16 16:47] zhx828 commented on #1241
@schultzn 👌

[2016-05-16 19:25] zhx828 opened #1242 "Remove special condition to determin chart type in study view"
Use  type(NUMBER for bar char and STRING for pie chart) in clinical_attribute table directly

[2016-05-16 19:28] schultzn opened #1243 "New Oncoprint sorting"
I suggest to sort mutations in the OncoPrints in the following way:
1 - Truncating
2 - In Frame ins / del
3 - Missense

The legend should be sorted the same way. And fusions should be moved up, right after the copy-number events and before the mutations.

![image](https://cloud.githubusercontent.com/assets/11892704/15301253/d04821a2-1b7a-11e6-940f-a8727e9f93d2.png)

[2016-05-16 20:23] pieterlukasse commented on #1227
@priti88 : did you use the fix PR #1230 ? Sorry, it was not very clear in Sander's comment.

[2016-05-16 20:31] priti88 commented on #1227
No. I did not
Can you send a PR for our branch as well ? :)

[2016-05-16 21:07] morungos commented on #1113
OK, I can now test clean, but we need a few more fixes here. I've added them in https://github.com/morungos/cbioportal/commit/5abb40bccda2821c0e50f9268ba8528318e270a3.

Some tests still fail or error, but the JVM doesn't exit now, so at least packaging happens.

[2016-05-16 21:43] schultzn opened #1244 "Gene duplication breaks OncoPrint and Mutations Tab"
http://bit.ly/1Nw3zKx

![image](https://cloud.githubusercontent.com/assets/11892704/15304819/9f625b62-1b8d-11e6-9d31-6c73a67fbca4.png)

![image](https://cloud.githubusercontent.com/assets/11892704/15304822/a5f913c6-1b8d-11e6-8af2-78d8b7dacf5a.png)

[2016-05-16 21:46] schultzn opened #1245 "Lollipop plot missing in new beta"
http://bit.ly/1Nw3Ih3

![image](https://cloud.githubusercontent.com/assets/11892704/15304941/2e0d6b22-1b8e-11e6-9bd6-3d890dcc91e6.png)

[2016-05-16 23:05] kalletlak commented on #1245
Fixed this error in #1239 PR

[2016-05-16 23:47] adamabeshouse commented on #1243
https://github.com/cBioPortal/cbioportal/pull/1246

[2016-05-16 23:47] #1243 closed

[2016-05-17 07:21] ugurdogrusoz opened #1247 "Update legends in SBGN network view"
Make sure to update the size of the legend dialogs as well.

[2016-05-17 08:30] fedde-s commented on #876
This has been improved upon in #1080 and merged into the release candidate.

[2016-05-17 08:30] #876 closed

[2016-05-17 08:31] fedde-s commented on #877
This has been improved upon in #1080 and merged into the release candidate.

[2016-05-17 08:31] #877 closed

[2016-05-17 08:31] fedde-s commented on #878
This has been improved upon in #1080 and merged into the release candidate.

[2016-05-17 08:31] #878 closed

[2016-05-17 08:35] fedde-s commented on #879
This has been improved upon in #1080 and merged into the release candidate.

[2016-05-17 08:35] #879 closed

[2016-05-17 08:38] istemi-bahceci commented on #1247
Fixed

[2016-05-17 08:39] fedde-s commented on #494
@pieterlukasse addressed this as part of #798, specifically commit c6e5978417871f75b76c100c0c0c2e26339ed288, which has been merged into the release candidate. Is this still an issue?

[2016-05-17 08:43] fedde-s commented on #1058
I believe this issue has been resolved by 021400434bcd5789f51df4c59e8070e33f513abb

[2016-05-17 08:43] #1058 closed

[2016-05-17 09:10] pieterlukasse opened #1249 "Missing HGVSp_Short validation for mutation data"
Validation for column `HGVSp_Short` needs to be implemented to give an error if _more than one_ value is given in this column.
- [x] part1 :if column value is `p.V600E` then it is OK. If column value contains a list of values like `p.V600E, p.V610E,etc`, then user should get an error.
  Documentation in https://github.com/cBioPortal/cbioportal/blob/rc/docs/File-Formats.md#data-file-5 should also b

[2016-05-17 09:10] fedde-s commented on #1113
@morungos: Can I cherry-pick that commit into my PR? Or do you want me to include the small but otherwise unrelated fixes after it (morungos@29bee489fce23d9c2e9d54303f1eaa27c3a0a521 and its parent) as well?

[2016-05-17 09:12] fedde-s commented on #1234
@jjgao: would this count as ‘critical’?

[2016-05-17 09:20] #1247 closed

[2016-05-17 09:21] #1207 closed

[2016-05-17 09:21] #1206 closed

[2016-05-17 09:23] #1205 closed

[2016-05-17 12:31] jjgao commented on #1204
@adamabeshouse sounds good to me.

[2016-05-17 13:46] morungos commented on #1113
@fedde-s You can do whatever works. The other tests I can cherry pick into some other PR to make testing clean again if you like. Multi-user PRs are not exactly clean in Github, so whatever works.

[2016-05-17 14:18] #1218 closed

[2016-05-17 21:54] jjgao opened #1253 "error when redeploying war"
SEVERE: The web application [/cbioportal] appears to have started a thread named [Abandoned connection cleanup thread] but has failed to stop it. This is very likely to create a memory leak.

[2016-05-18 11:08] awernibi opened #1254 "Copy Number Chart shows incorrect number of profiled samples"
This is an issue in rc.
The number of profiled samples in the CNA genes chart is zero, even though there are alterations reported.
![image](https://cloud.githubusercontent.com/assets/13519768/15356413/d3280c5a-1cf8-11e6-9e1c-e2667b6e7589.png)

This is a screenshot from dataset Acute Myeloid Leukemia (TCGA, NEJM 2013) in beta.
The release version shows 45 profiled samples.

In one of our company in

[2016-05-18 13:55] zhx828 commented on #1254
@jjgao This is the question I asked before. I will take a look about this.

[2016-05-18 14:09] morungos commented on #1253
See: http://stackoverflow.com/a/26261752/2140998

I think I've seen this before: then it was another factor relating to container web database setup. It's fixable, but really, I am going right off war file deployment.

[2016-05-18 19:18] morungos commented on #1182
This is should be a tiny issue to fix. So I'll make a simple PR and we can close it out.

[2016-05-18 19:53] morungos commented on #1182
This is ready for review. I think.

[2016-05-18 20:39] morungos commented on #1249
@pieterlukasse @fedde-s I had a similar issue in a previous system. I think you'll want probably regex, as there is *huge* variation in compliant HGVS. Not least, you're allow three-letter codes for the amino acids, which I have no idea whether the portal will recognize that p.G12D is exactly the same as p.Gly12Asp (they should be merged statistically, to be strict). Either you'll need to canonica

[2016-05-19 14:12] fedde-s commented on #1113
@morungos is this issue resolved now?

[2016-05-19 14:19] morungos commented on #1113
As far as I'm concerned, yes. OK to close.

[2016-05-19 14:36] #1113 closed

[2016-05-20 11:04] pieterlukasse opened #1266 "Add missing UQ constraint to `gene` table"
Add the constraint as discussed in #805 (see https://github.com/cBioPortal/cbioportal/pull/805#issuecomment-179274725 and https://github.com/cBioPortal/cbioportal/pull/805#issuecomment-180355753)

[2016-05-23 02:12] jjgao opened #1268 "Mutations tab issue"
trying to make a figure mapping the mutations within ERCC2 from the following study:
Bladder Urothelial Carcinoma (Dana Farber & MSKCC, Cancer Discov 2014)

http://bit.ly/1sx9Ag5

The Oncoprint shows the mutations:
![image](https://cloud.githubusercontent.com/assets/840895/15458590/2413e69c-206a-11e6-9fae-c1e2d71dc6dc.png)

But in the mutations tab, I get the following:
![image](https://cloud.gith

[2016-05-23 08:04] awernibi opened #1269 "Mutation and CNA table do not update after selection, respectively"
When I select a mutation in the study view, all other visualizations (pie charts, barplots, the cna table, kaplan meier, mutation count) update according to my selection.
Only the mutation table stays the same.

![image](https://cloud.githubusercontent.com/assets/13519768/15463780/c59a25a6-20cb-11e6-9abc-e42250e97932.png)

When I select a copy number aberation afterwards, the mutation table change

[2016-05-23 10:34] pieterlukasse commented on #1269
@zhx828 : is this maybe similar to #176?

[2016-05-23 11:09] pieterlukasse commented on #1213
@fedde-s an extra requirement: give error if fields known to be PATIENT_ATTRIBUTES (like OS_STATUS) are found in SAMPLE_ATTRIBUTES file and vice-versa.

[2016-05-23 12:07] pieterlukasse commented on #1249
@morungos : thanks for the comments!

I would like to suggest the following approach: we fix the most urgent "part 1" first (this could be submitted as a PR on its own) and leave "part 2" for later. At this moment I'm not into the details of Genome Nexus, but I image we will still like to support the staging files and proper validation of these, regardless of how the storage and backend code of mu

[2016-05-23 12:28] pieterlukasse commented on #1013
fixed in #1020 for mutation data (https://github.com/cBioPortal/cbioportal/pull/1020/commits/5052fb61beeb496ae57636300b3f6a551b793240)
and in https://github.com/cBioPortal/cbioportal/commit/9152c07 for CNA, mRNA, Methylation

[2016-05-23 12:41] fedde-s commented on #1249
@pieterlukasse A ‘value’ would probably be anything starting with the substring ‘p.’, not preceded by a letter. I suspect that the HGVS syntaxes for alleles involving multiple mutations, as in `p.[S73R;N103del]` and `p.[S73R];[N103del]`, may not be supported either.

[2016-05-23 12:53] pieterlukasse commented on #1013
:warning:  still missing for FUSION data (in `ImportFusionData.java`)

[2016-05-23 12:56] #1161 closed

[2016-05-23 12:56] pieterlukasse commented on #1161
merged in rc already done

[2016-05-23 13:23] pieterlukasse commented on #844
@morungos : the tests on `NA` are on purpose. Since `NA` is a valid alias for a gene, we want to make sure row 9 of the test file gets imported correctly. Other scenarios in this test file are added to check if the loader will skip duplicate records correctly (although these assertions are not automated in the unit test yet).

Closing this ticket as the issue for which it is logged is now solved.

[2016-05-23 13:23] #844 closed

[2016-05-23 13:29] pieterlukasse opened #1270 "Duplicated data only flagged in ImportTabDelimData"
The check implemented in `storeGeneticAlterations` results in an `else` block that only gives a warning for duplicated entries (see https://github.com/cBioPortal/cbioportal/blob/rc/core/src/main/java/org/mskcc/cbio/portal/scripts/ImportTabDelimData.java#L448). This seems to be intentional for CNA data (according to comments dating back to 2011), but is applied to all data (e.g. also mRNA). Questio

[2016-05-23 13:30] pieterlukasse commented on #1270
@n1zea144 , @jjgao : can you comment on this?

[2016-05-23 13:34] jjgao opened #1271 "oncoprint legend issues"
1) not categories are not ordered alphabetically.

![image](https://cloud.githubusercontent.com/assets/840895/15472450/34a5dac4-20c9-11e6-9f1c-e528db057086.png)

~~2) clinical attributes added after showing legend won't show up in the legend~~

[2016-05-23 13:38] pieterlukasse commented on #808
documentation now in `rc`. Remaining issues in documentation (if any)  can be logged in a new ticket.

[2016-05-23 13:38] #808 closed

[2016-05-23 14:04] zhx828 commented on #1269
@awernibi @pieterlukasse Unfortunately, it is a feature. And this is one of most debatable feature too.
In the first screenshot, you do filtering among 200 profiled samples in Mutated Genes(MG) table, the MG shouldn't be updated because of the denominator hasn't been changed yet. After selecting PRSS8 in CNA table, the selected cases has been narrowed down to 2 which change the dominator of MG to

[2016-05-23 14:06] #806 closed

[2016-05-23 14:15] pieterlukasse commented on #796
is part of `cgds.sql` and `migration.sql` now. So ticket can be closed.

[2016-05-23 14:15] #796 closed

[2016-05-23 14:20] pieterlukasse commented on #528
largely solved by #1020, #1074

[2016-05-23 14:20] #528 closed

[2016-05-23 14:23] pieterlukasse commented on #495
@jjgao, @schultzn : is this something you hear more often as a complaint?

[2016-05-23 14:32] pieterlukasse commented on #494
solution indicated by @fedde-s is indeed good for now.

But I still would like to have answers on my questions in my last two comments:
https://github.com/cBioPortal/cbioportal/issues/494#issuecomment-185142883
https://github.com/cBioPortal/cbioportal/issues/494#issuecomment-189227247
@ecerami, @n1zea144 :point_up_2:

[2016-05-23 14:57] morungos commented on #844
"NA" is handled specially by `ImportTabDelimData`, which is marked as a workaround because of bug in firehose. See https://github.com/cBioPortal/cbioportal/issues/839#issuecomment-203523078.

Testing an alias is right, but all I was saying is that "NA" isn't the best test for a gene alias, because the Java code handles this string specially. This was the rationale for my comment. I might have been

[2016-05-23 19:04] onursumer commented on #1268
We are getting NullPointerException for this query. Looks like we are trying to get the data based on this genetic profile id: **blca_dfarber_mskcc_2014_mutations**. But the actual id in our database is **blca_dfarber-mskcc_2014_mutations**

The server side code should be modified to prevent NullPointerException in case invalid profile id is provided. We also need to modify client side code to que

[2016-05-23 19:14] onursumer commented on #1268
This is where we fail on the front-end: https://github.com/cBioPortal/cbioportal/blob/master/portal/src/main/webapp/js/src/DataProxyFactory.js#L54

[2016-05-23 19:31] jjgao commented on #1268
I see. We should change the code to use the mutation profile that is selected by the user.

[2016-05-23 19:56] onursumer commented on #1268
Using `window.QuerySession.getMutationProfileId()` instead of `window.QuerySession.getCancerStudyIds()` should fix the front-end

[2016-05-23 20:19] pieterlukasse commented on #844
@morungos : thanks for being diligent in this. Here are some more details: the comment you saw only applies to RPPA data and the logic is implemented only for this type of profile in `ImportTabDelimData.parseRPPAGenes`. Personally, I would advocate for having a separate parser for RPPA data since the format is different. But this is actually (as I understand it) something that has recently been re

[2016-05-23 20:23] #848 closed

[2016-05-23 20:26] pieterlukasse commented on #832
the following commit was probably also crucial for this: https://github.com/cBioPortal/cbioportal/commit/118ad21

[2016-05-23 20:32] pieterlukasse commented on #825
@priti88 : still an issue?

[2016-05-23 20:35] pieterlukasse commented on #824
a solution for  'Splice_Site' is implemented in #806  (see https://github.com/cBioPortal/cbioportal/issues/806#issuecomment-185780600)

The `HGVSp_Short` detailed validation is taken up in #1249

Therefore, closing this ticket.

[2016-05-23 20:35] #824 closed

[2016-05-23 20:37] pieterlukasse commented on #825
@fedde-s could you close this one if it is solved? I believe it is.

[2016-05-23 20:38] pieterlukasse commented on #1227
@priti88 :ok, I'll do that tomorrow

[2016-05-23 22:03] schultzn opened #1276 "Mutations table should also show how many samples are mutated"
In the example below, the text above the table should be:

Showing 10 mutation(s) in 8 sample(s)

http://bit.ly/1qFC7yF

[2016-05-24 08:21] awernibi commented on #1269
The behavior of this small visualizations is quite inconsistent.

The _mutation count vs. CNA_ scatter plot always shows all samples in blue and sometimes in red (regardless where the filtering comes from either (1) by clicking on another visualization like the mutation table or (2) by selecting samples on the scatterplot itself).

The Kaplan-Meier also shows always all samples (but splits the sam

[2016-05-24 09:38] fedde-s commented on #825
I believe the underlying problem that led to this request was solved by 626495d8b652a0caf569dd9ad40679520607fe0e, which has been merged into the release candidate. Molecular data is still skipped if there is no parseable sample data file at all, but the process can now gracefully deal with incorrect attribute definition headers in these clinical data files and continue to parse them. @priti88, is

[2016-05-24 10:44] pieterlukasse commented on #1269
@zhx828 I think the behavior is not correct if you consider figure 3 in more detail. The denominator (which is shown on top of the table, labelled as "X profiled samples") should be the total number of samples filtered by all filter criteria, except the filter criterion of the component itself. This means that the denominator for Mutated Genes in figure 3 should be 200. In the same way, we don't c

[2016-05-24 13:45] pieterlukasse commented on #1227
Hi @priti88  : I checked this, and you will need to merge #1277 PR first because @aderidder included some documentation update in #1230 and your custom "rc" branch does not yet have the new `/docs` folder.

[2016-05-24 14:22] pieterlukasse commented on #1227
@priti88 : see #1279. You can test this one on your branch. Please report back here if it solved the problem.

[2016-05-24 15:21] jjgao opened #1280 "Survival curve/data(?) issue"
http://bit.ly/1U7MzGS

![image](https://cloud.githubusercontent.com/assets/840895/15509411/78f2224a-21a1-11e6-8aee-5631d477c321.png)

[2016-05-25 10:49] pieterlukasse opened #1283 "Cancer type Validation improvement"
One minor issue found in the validator is that if your study refers to say 'brca' and your cancer type file refers to something else, say 'test', you will not get an error from the validator if 'brca' exists in DB. This can be improved: if a cancer type is defined in the cancer type file (in the study folder), then the study's meta property `type_of_cancer` should be validated against this and *no

[2016-05-25 12:06] pieterlukasse commented on #543
Actually, dataset counts are problematic in general since they are currently relying on data administrators to correctly set the stable_id of case lists as (not yet completely) documented here: https://github.com/cBioPortal/cbioportal/blob/rc/docs/File-Formats.md#case-lists

[2016-05-25 13:15] fedde-s commented on #1283
In short: if any cancer types are defined in the study folder (in a cancer type file), the cancer type of the study must be one of those. A study that defines three cancer types but uses a fourth is invalid, even if that fourth one is defined in the database. Only a study that defines none depends on which cancer types are defined in the database.

[2016-05-25 19:30] adamabeshouse commented on #1204
https://github.com/cBioPortal/cbioportal/pull/1287

[2016-05-25 19:31] #1030 closed

[2016-05-25 19:35] adamabeshouse commented on #944
This plugin doesn't work with the latest build of jsPDF, and there's no replacement yet. For now, we'll stick with building pdfs on the backend if the svg is within 2 MB (the POST limit), otherwise we alert the user that it's too big and advise they download an SVG instead.

[2016-05-25 19:35] #944 closed

[2016-05-25 21:05] morungos commented on #944
Just FYI, I've done well with pdfkit. It's not directly using SVG, but SVG commands map across nicely, so it's doable.

[2016-05-25 21:23] morungos opened #1288 "Fatal error in /getCoExp.do"
Java backtrace is as follows. I don't quite know how we get there, but we do.

[code]

[2016-05-25 21:24] morungos opened #1289 "Oncoprints fails to render on OSX Safari and older version of Chrome/Windows"
JavaScript error is as follows:

[code]

[2016-05-26 13:07] pieterlukasse opened #1290 "Oncoprint Uncaught SyntaxError and wrong parsing of gene name EXPH5"
When executing [this query](http://www.cbioportal.org/beta/index.do?cancer_study_list=brca_tcga&cancer_study_id=brca_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=brca_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=brca_tcga_gistic&genetic_profile_ids_PROFILE_MRNA_EXPRESSION=brca_tcga_rna_seq_v2_mrna_median_Zscores&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priorit

[2016-05-26 13:25] pieterlukasse commented on #1290
I thought these were the steps to reproduce...but then I found another strange issue:

- go to homepage
- select TCGA Breast cancer study (provisional) - brca_tcga
- fill in these genes in the query:
[code]
- now when submitting, you get a red label on top of the query box saying
`Error: Expression specified in the list of genes, but not selected in the Genetic Profile Checkboxes.`

[2016-05-26 13:49] pieterlukasse commented on #1290
this last issue seems to be related to gene `EXPH5`

[2016-05-26 14:34] pieterlukasse opened #1291 "Mutation view hangs when pfam_graphics entry is not present"
From my preliminary analysis it seems that the mutation view UI will hang when a gene has a uniprot accession (in `uniprot_id_mapping` table) but this same uniprot entry does not have any entries in the `pfam_graphics` table. Screenshot:

![image](https://cloud.githubusercontent.com/assets/2900303/15578154/aab3350c-235f-11e6-817e-ab221d686f11.png)

Steps to reproduce:

- Execute this query:
http:/

[2016-05-26 14:36] pieterlukasse commented on #1291
I think this can be fixed in `PfamSequenceServlet.java`. I will propose a fix for this.

[2016-05-26 14:40] pieterlukasse commented on #1291
@onursumer : FYI - I'll try to make a fix for this one. Seen this before?

[2016-05-26 19:37] adamabeshouse commented on #1290
I figured out the EXP issue. I see the error when I click on your URL, but I wasn't able to reproduce the other one with your query through the UI. How did you get there?

[2016-05-26 19:50] onursumer commented on #1291
This may also be related to https://github.com/cBioPortal/mutation-mapper/issues/39

[2016-05-26 19:56] onursumer commented on #1291
In any case we should fix the mutation mapper library. Looks like currently the execution stops if there is no PFAM data is present: https://github.com/cBioPortal/mutation-mapper/blob/rc/src/js/controller/MutationDetailsController.js#L228

[2016-05-26 22:14] kteague opened #1295 "Importer fails to import example on the rc branch"
I am trying to import using the new importer from the rc branch (updated as of May 25th, 2016).

I am using the new data import instructions (https://github.com/thehyve/cbioportal/wiki/Data-Loading) and am trying to import the kirc example data set (https://github.com/thehyve/cbioportal/wiki/data-examples).

When the importer runs I get a 404 for the api/genesaliases call.

The importer appears to

[2016-05-27 08:31] pieterlukasse commented on #1290
@adamabeshouse : I could also not reproduce it any more. I got there by pasting the genes in another server first (our test server cbioportal-test.thehyve.net/cbioportal), and then adjusting the first part of the url to point to your server. So it could be related to some difference in versions. Anyway, it is still best if any exception is caught and displayed to the user instead of letting the UI

[2016-05-27 08:34] pieterlukasse commented on #1291
@onursumer : I agree there should be a fix in the mutation mapper library as well. I will submit a fix for the java code in `PfamSequenceServlet.java` just to make this scenario less frequent.

[2016-05-27 08:55] pieterlukasse commented on #1291
@onursumer : I made a PR for the java side. Can you review and merge this if all is OK?

I also logged a separate ticket for the UI side on your repo: https://github.com/cBioPortal/mutation-mapper/issues/41

Thanks!

[2016-05-27 10:08] fedde-s commented on #1234
I cannot reproduce this anymore, I must have either made a mistake when getting this error, or pulled a fix in the meantime. Closing.

[2016-05-27 10:08] #1234 closed

[2016-05-31 06:00] DarioS opened #1298 "Interactively Select Samples for Coexpression Plot"
Often, the most highly correlated genes are affected by an outlier. It would be good to be able to draw a rectangle on the scatterplot with the mouse, and have the correlation calculated on only those samples, with the axes limits of the scatterplot also being reduced.

![outlier](https://cloud.githubusercontent.com/assets/631218/15664200/39c5780c-2745-11e6-92bc-b7096d1c0ea0.png)

Also, I wonder i

[2016-05-31 10:49] pieterlukasse commented on #1221
Other places found where `NA` is used as null/empty value:
- DataTable.js `if(aData[i] !== 'NA'){`
- BarChart.js `if(returnValue === "NA" || returnValue === '' || returnValue === 'NaN'){`
- survivalCurveProxy.js `if (_datum.time !== "NA" && (_datum.status !== "NA" `
- oncoprint*.js
- ....etc

"NA" seems to be the standard scenario that is taken care of in the frontend code.

[2016-05-31 14:32] morungos opened #1299 "Remove Maven variables from all configuration of built components"
We've had a long-running issue with the way Maven variables are baked into the war file. This means, to all intents and purposes, each user is compiling and building their own version of cBioPortal -- there is no standardization possible.

There are good historical reasons for this. At the time, it was the easiest way to customize. But newer techniques have emerged, such as [war overlays](http://m

[2016-05-31 15:19] #932 closed

[2016-05-31 15:24] yichaoS commented on #1280
![screen shot 2016-05-31 at 11 20 46 am](https://cloud.githubusercontent.com/assets/5973438/15680066/32b96e9c-2722-11e6-9928-ad9b5bd22f97.png)

[2016-05-31 17:13] morungos commented on #1299
One particular example of this is `db.version`. While it's good that we check versions, this should not be through a dynamic properties file. Arguably, this should be part of the DAO layer code, so that schema changes are managed in sync with code. Injecting a version to check this way just means that a whole new set of configuration is needed, but all consistency checks can actually be bypassed a

[2016-05-31 20:23] adamabeshouse commented on #1290
@pieterlukasse Good idea.

[2016-06-01 02:22] jjgao opened #1302 "sequenced case list missing for lgggbm_tcga_pub"

[2016-06-01 05:00] DarioS opened #1303 "Interactions Source List Contains Duplicate Values"
Every option is duplicated.

![source](https://cloud.githubusercontent.com/assets/631218/15698108/6158ed08-2804-11e6-895a-864491f7a559.png)

[2016-06-01 07:37] pieterlukasse commented on #1299
@morungos thanks for making serious work of this. I agree with your last comment regarding `db.version`, except the last sentence which isn't clear to me. If I understand it correctly in the first paragraph you are proposing we have a plain java constant that has the version number and this is checked against the version number in the DB at startup. That's it right? Then there is no need for any e

[2016-06-01 15:36] priti88 commented on #1227
It is solved.

[2016-06-01 15:36] #1227 closed

[2016-06-01 21:25] #1204 closed

[2016-06-01 22:48] kteague commented on #1295
I have resolved my import issues by doing a clean re-install. I had problems importing with newer releases and had to go back to 1.0.3 install to get TCGA data to load successfully.

[2016-06-01 22:48] #1295 closed

[2016-06-02 15:33] fedde-s opened #1306 "Duplicated JavaScript code for OncoPrint"
When attempting to change something in the OncoPrint in the `rc` branch, I seemed to find copies of the code I intended to change in three separate places:
- in `portal/src/main/webapp/js/src/oncoprint/webgl/setup.js`, under `window.CreateCBioPortalOncoprintWithToolbar`;
- in `portal/src/main/webapp/js/src/oncoprint/webgl/setup.js`, under `window.CreateOncoprinterWithToolbar`; and
- in `portal/src

[2016-06-02 16:36] pieterlukasse commented on #1306
Hi @adamabeshouse, @jjgao : is this something that could still be improved in the new release?

btw: I also see a folder called `portal/src/main/webapp/js/src/oncoprint/new/` with what I assume is the current oncoprint and a number of files just in the parent folder `portal/src/main/webapp/js/src/oncoprint` which is I assume the old(?) oncoprint. Maybe these could be cleaned-up to contain just the

[2016-06-02 17:05] shrumit opened #1307 "OQL gene editor should check if a valid mutation is entered."
Currently the gene editor box validates even if an incorrect mutation is entered. Example: "BRCA1: MUT = GIBBERISH" or "BRCA1: GIBBERISH" (where the latter is shorthand for the former) validate correctly.

The user doesn't know that they've entered an invalid mutation ("GIBBERISH") until they hit Submit and see that the Oncoprint chart has nothing. Every gene seems to have a manageable list of mut

[2016-06-02 19:52] adamabeshouse commented on #1306
Hi @pieterlukasse and @fedde-s , good catch, these files definitely need to be cleaned up. You can ignore ```setup-oncoprint-improved.js``` - that's legacy code.

Some work needs to be done with abstracting the duplicated code in the two oncoprint setup modes. Since the two modes work just slightly differently, I didn't see any obvious, elegant ways to abstract and DRY it up - please go ahead and

[2016-06-03 00:22] adamabeshouse commented on #1244
@schultzn Do we want to style the rows at all to indicate the difference? Maybe show the corresponding line of OQL in a tooltip for the row?

[2016-06-03 07:15] pieterlukasse commented on #1306
Thanks @adamabeshouse . I would propose the clean-up step first, i.e. removing all legacy code. And then we could focus on the remaining code later.

[2016-06-03 21:24] adamabeshouse opened #1311 "Use public portal for mutation count endpoint, after next release"

[2016-06-03 23:50] #1021 closed

[2016-06-03 23:50] #1241 closed

[2016-06-03 23:50] #1242 closed

[2016-06-04 18:08] #1254 closed

[2016-06-04 18:11] #1087 closed

[2016-06-04 18:14] #1002 closed

[2016-06-04 18:22] #1013 closed

[2016-06-04 18:23] #1098 closed

[2016-06-04 18:25] jjgao commented on #732
@adamabeshouse normal orange. Don't worry about recurrence.

[2016-06-04 18:26] jjgao commented on #767
@pieterlukasse we will do that when we build the new database very soon.

[2016-06-04 18:28] jjgao opened #1312 "front-end refactoring"

[2016-06-06 08:24] pieterlukasse opened #1314 "Finish fix of #1013 for FUSION data"
Fix in #1013 needs to be applied to FUSION data importer (in ImportFusionData.java)

[2016-06-06 10:30] #1221 closed

[2016-06-06 12:51] jjgao opened #1315 ""Download Data" not work"
Empty page returns after submitting query.

[2016-06-06 13:02] jjgao opened #1316 "sbgn view opens incorrect url"
http://js/lib/SBGNViz.js/sample-app/index.html?CDKN2A&MDM2

[2016-06-06 14:27] #1316 closed

[2016-06-06 14:36] jjgao opened #1318 "oncoprint: adding clinical tracks not working"
![image](https://cloud.githubusercontent.com/assets/840895/15825618/85dcd104-2bd2-11e6-8366-d959333bbd18.png)

[2016-06-06 14:38] jjgao commented on #1318
Sometimes, it returns but very slow. The dropdown box is not always working either.

[2016-06-06 19:24] jjgao commented on #852
@zhx828 you can use this one to detect ourliers instead of using 5% and 95%: https://onlinecourses.science.psu.edu/stat200/node/135

[2016-06-06 21:02] adamabeshouse commented on #1318
@jjgao Looks like it's working again, but it is still very slow. I'm not sure what could speed the SQL query up, since it looks like the only link from study to clinical attributes is through several joins, including through the clinical data.

[2016-06-06 21:02] schultzn commented on #1269
I am having trouble following this conversation. Are you concerned about the general logic, or are you simply saying there is a bug (see above)?

If the former, here is my explanation for why we have built I know this is tricky, and the current functionality, while not flexible enough to support any analysis a user might want to do, it is at least coherent (I think). Here is how I see it:

What th

[2016-06-06 21:49] jjgao commented on #1318
@adamabeshouse but I thought the old API was not as slow.

One option: can we add a cache `Map<Study, Set<Attribute>>` to the new implementation?

[2016-06-07 13:57] jjgao opened #1324 "coexpression tab not working in firefox"
somehow it is related to oncoprint code:

![image](https://cloud.githubusercontent.com/assets/840895/15860211/2a428478-2c96-11e6-94a5-51018a9151ba.png)

@yichaoS @adamabeshouse could you look into that?

[2016-06-07 17:58] kalletlak opened #1326 "Selected filters not show properly when toggling chart from pie to table view in study-view"

[2016-06-07 20:02] kalletlak opened #1329 "Qtip react table not loading when chart is deleted and added in study view"

[2016-06-08 09:00] pieterlukasse opened #1330 "clinical data column headers are not readable"
See screenshot (last 4 columns). Perhaps we should at least add a tooltip to these column headers?

And URL: http://www.cbioportal.org/study.do?cancer_study_id=brca_tcga#clinical

![image](https://cloud.githubusercontent.com/assets/2900303/15888669/12d0721e-2d68-11e6-8930-c322ede90d39.png)

[2016-06-08 09:05] pieterlukasse opened #1331 "slider filter not reset in clinical data table"
When clicking "Reset" link to reset the filters, text filters are reset/emptied but the slider (numeric) filters are not reset visually. See screenshot of the slider after reset (last column):

![image](https://cloud.githubusercontent.com/assets/2900303/15888848/e8bcdd2c-2d68-11e6-9e55-8d3b983599d4.png)

[2016-06-08 18:32] zhx828 commented on #1331
@pieterlukasse I tried to fix that before, didn't work out. Will take a look again.

[2016-06-08 18:40] schultzn opened #1332 "Mutation recurrence in OncoPrint in samples with multiple mutations in the same gene: Recurrent mutation should determine the color"
If there is at least one recurrent mutation, the color of the mutation glyph should be dark. Currently, it is the opposite. In other words, recurrent mutations trump non-recurrent ones when determining the glyph color.

[2016-06-08 21:22] jjgao opened #1335 "SQL error in the new implementation from sprint1"
A query with mutation data will trigger the following error in catalina.out.

[code]

[2016-06-08 21:32] sheridancbio commented on #1335
Stewart pointed out an error to me previously that may be causing this. It has to do with configuring the MYSQL database to allow ANSI quotation (which it previously did by default, but now it does not). There is a server configuration setting "sql-mode". See http://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_ansi_quotes

[2016-06-08 21:40] schultzn opened #1336 "Enrichments and co-expression not working in Firefox"
Enrichments and co-expression are not working in Firefox. Tried v46.0.1 and v47.0.

http://bit.ly/25N0tqk

[2016-06-08 21:41] schultzn commented on #1324
It seems to affect the Enrichments tab too. Tried Firefox 46.0.1 and 47.0

[2016-06-08 21:41] #1336 closed

[2016-06-08 21:41] schultzn commented on #1336
See #1324

[2016-06-08 21:42] ersinciftci commented on #1335
@sheridancbio we don't need to change the default configuration though, my Sprint 2 PR will fix this.

[2016-06-08 23:13] adamabeshouse commented on #503
https://github.com/cBioPortal/cbioportal/pull/1337

[2016-06-08 23:13] #503 closed

[2016-06-08 23:13] adamabeshouse commented on #1318
https://github.com/cBioPortal/cbioportal/pull/1337

[2016-06-08 23:13] #1318 closed

[2016-06-09 01:27] adamabeshouse commented on #1324
https://github.com/cBioPortal/cbioportal/pull/1337

[2016-06-09 01:27] #1324 closed

[2016-06-09 01:43] adamabeshouse commented on #1332
@schultzn The current version is based on this discussion: https://github.com/cBioPortal/cbioportal/issues/971#issuecomment-207139632

So is that choice revised? Or do you mean that, for example, if a patient has a non-recurrent inframe and a recurrent missense mutation, we should display the dark version of the inframe glyph?

[2016-06-09 01:51] adamabeshouse commented on #1311
https://github.com/cBioPortal/cbioportal/pull/1337

[2016-06-09 01:51] #1311 closed

[2016-06-09 04:00] schultzn commented on #1332
I was referring to samples with multiple missense mutations. If at least one of them is recurrent, that should be indicated in the OncoPrint.

See the example below… L858R is a recurrent EGFR mutation.

This is the query:
http://bit.ly/24BpemX

[2016-06-09 07:00] DarioS commented on #1330
Allowing the user to click and drag the separating line between adjacent columns to make some columns narrower and others wider would also help.

[2016-06-09 09:33] pieterlukasse commented on #1331
solved in #1333

[2016-06-09 09:33] #1331 closed

[2016-06-09 09:35] pieterlukasse commented on #1330
A tooltip is now visible in fix #1333.
@zhx828 : maybe you can also implement @DarioS suggestion in a new PR? Or maybe the title could just wrap over two lines if needed?

[2016-06-09 14:00] zhx828 opened #1338 "Make EFDT column resizable"
Based on DarioS suggestions, EFDT should support resizable column. Related to #1330

[2016-06-09 14:01] zhx828 commented on #1330
@DarioS @pieterlukasse  Thanks for the suggestion. #1338 has been created to track the program of resizable column.

[2016-06-09 14:01] #1330 closed

[2016-06-09 14:05] pieterlukasse opened #1339 "oncoprint fails to load in rc branch"
See

http://www.cbioportal.org/beta/index.do?cancer_study_list=brca_tcga&cancer_study_id=brca_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=brca_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=brca_tcga_gistic&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=brca_tcga_cnaseq&case_ids=&patient_case_select=sample&gene_set_choice=prostate-cancer%3A-ar-

[2016-06-09 14:06] pieterlukasse commented on #1339
@adamabeshouse @inodb : can we maybe get a screenshot test for oncoprint as well? Could be just a small one, e.g. with 4 samples, but that ensures the basic functionality is working.

[2016-06-09 14:13] jjgao commented on #1339
It is because of this one: https://github.com/cBioPortal/cbioportal/issues/1335

[2016-06-09 14:20] pieterlukasse commented on #1339
stack trace in response:

[code]

[2016-06-09 14:23] pieterlukasse commented on #1339
seems to be a duplicate

[2016-06-09 14:23] #1339 closed

[2016-06-09 14:26] pieterlukasse opened #1340 "add integration test for oncoprint"
To prevent issues like #1339 it would be nice to have at least a screenshot test with an oncoprint picture, like @inodb implemented before in travis for the Study View UI.

[2016-06-09 15:07] fedde-s opened #1341 "migrate_db.py executes SQL in random order, making release uninstallable"
Since `migrate_db.py` stores the SQL blocks for the different database versions in a Python dictionary and then executes them by looping over the dictionary, the blocks are executed in undefined order, varying from one installation to another. This makes the current release arbitrarily uninstallable on some machines.

[2016-06-09 15:08] fedde-s commented on #1341
@pieterlukasse: I just saw you encounter this bug.

[2016-06-09 15:19] zhx828 opened #1342 "Error on filtering table after switching to table view #study-view #pie-chart"
<img width="1398" alt="screen shot 2016-06-09 at 11 12 32 am" src="https://cloud.githubusercontent.com/assets/5400599/15935053/f4fb60c4-2e33-11e6-8fd6-4032db82b48d.png">

[2016-06-09 15:20] fedde-s commented on #1341
This may also be the reason why I ran into the unreproducible issue #1234 earlier.

[2016-06-09 15:29] pieterlukasse commented on #1341
should be solved in #1343

[2016-06-09 19:20] pambot opened #1344 "Downloading and formatting CPTAC data"
This is currently being worked on in a [separate repository](https://github.com/pambot/cbio-proteomics) until the data is merged into the main database. Currently CPTAC has Breast (iTraq), Ovarian (iTraq), and Colorectal (single sample) tumor data, with matched normal only for Colorectal (disregarded for the time being). CPTAC also has phosphorylation PTM data for Breast and Ovarian (iTraq), which

[2016-06-09 19:32] adamabeshouse commented on #1332
Ah, I see now, thanks for clarifying.

[2016-06-09 19:45] jjgao opened #1345 "Download Data form does not work for 2 or more genes"
![image](https://cloud.githubusercontent.com/assets/840895/15943914/19149fc8-2e59-11e6-8449-f4b28953d810.png)

[2016-06-09 19:59] adamabeshouse commented on #1332
https://github.com/cBioPortal/cbioportal/pull/1346

[2016-06-09 19:59] #1332 closed

[2016-06-09 20:32] adamabeshouse commented on #640
Can no longer replicate in chrome, firefox, or safari.

[2016-06-09 20:32] #640 closed

[2016-06-10 02:50] jjgao opened #1349 "layout issue in enrichments tab"
![image](https://cloud.githubusercontent.com/assets/840895/15953061/84f8f28a-2e94-11e6-91e4-593421ddc094.png)

[2016-06-10 09:49] pieterlukasse opened #1350 "Study view CNA and Mutation sorting issue"
In the main Study view tab:
- [x] Issue: if you sort the table and then click on a gene to select it, the sorting is reset.

[2016-06-10 09:50] pieterlukasse opened #1351 "508 compliance for Study view"
Issue: we're trying to make the main Study view 508 compliant. The checkboxes in the CNA and Mutation tables are not compliant due to them not having a label (see screenshot).
- [x] One easy solution is to give them the title attribute, which suffices for 508

[2016-06-10 09:51] pieterlukasse commented on #850
@zhx828 I removed the last two items from the list here, since they are not related to the clinical data tab, but to the main Study view tab:

- [ ] Issue: if you sort the table and then click on a gene to select it, the sorting is reset. (moved to #1350)
- [ ] Issue: we're trying to make cbioportal 508 compliant. The checkboxes are not compliant due to them not having a label. One easy solution i

[2016-06-10 09:54] pieterlukasse commented on #1350
Before click:

![image](https://cloud.githubusercontent.com/assets/2900303/15960845/fa7e34d0-2f01-11e6-9026-6d88975565f7.png)

After click:

![image](https://cloud.githubusercontent.com/assets/2900303/15960854/0ee41e4e-2f02-11e6-84c4-06c5cdc3ca70.png)

[2016-06-10 09:57] pieterlukasse commented on #1351
@fedde-s can you add the 508 Wave tool screenshot here showing the errors mentioned above?

[2016-06-10 11:38] fedde-s commented on #1351
![screenshot_study_view](https://cloud.githubusercontent.com/assets/4929431/15963232/a44a5bac-2f10-11e6-8ec9-fcaa9f1ee5b5.png)

[2016-06-10 12:54] pieterlukasse commented on #1351
@zhx828 so I am specifically referring to the checkboxes below in my copy of the screenshot:

![image](https://cloud.githubusercontent.com/assets/2900303/15964900/1ea10da6-2f1b-11e6-8a03-79c7ff32517a.png)

But if you could proactively add labels to the other items as well that would be great :smiley:

[2016-06-10 17:36] zhx828 opened #1353 "QuerySession is not available: survival plot dots' qtip is relying on it"

[2016-06-10 19:13] zhx828 commented on #1338
This pull added this feature https://github.com/cBioPortal/enhanced-fixed-datatable/pull/27

[2016-06-10 20:15] zhx828 opened #1354 "The percentage in Study view Pie Chart download is undefined"

[2016-06-10 20:40] zhx828 commented on #1353
@yichaoS could you review the commit above?

[2016-06-10 21:08] zhx828 commented on #1342
@kalletlak could you take a look the commit above? Thank you.

[2016-06-10 22:30] #1326 closed

[2016-06-10 22:30] #1329 closed

[2016-06-10 22:34] kalletlak commented on #1326
solved in #1333

[2016-06-10 22:35] kalletlak commented on #1329
solved in #1333

[2016-06-13 14:21] zhx828 opened #1360 "ln is not working"
http://www.cbioportal.org/ln?q=BRAF:MUT=V600E is not working

[2016-06-13 17:06] morungos commented on #1299
I think the ideal (maybe only) solution to this is simply to remove `portal.properties` from the war entirely. That feels almost inevitable, as it's for customization and it's being baked in. A properties file can be injected through JNDI as a file location, or dropped in through an overlay. But we need a sensible defaulting system, so if we do allow people to drop in a `portal.properties` in an o

[2016-06-13 19:02] morungos commented on #1299
Task list:

- [ ] Change `GlobalProperties` to load from an external `portal.properties` and merge with an internal defaults file
- [ ] For testing, and only for testing, template an overlay `portal.properties` and inject it through a property when running Surefire, etc.
- [ ] Remove most of the Maven profiles for different variants, as all most of them do is change the output. These can eventuall

[2016-06-14 07:52] pieterlukasse commented on #1299
It would be nice if we had a default location for the `portal.properties` file (e.g. maybe `$PORTAL_HOME/portal.properties`) and a possibility to deviate from this via an extra runtime parameter (I guess that is what @morungos means with "inject through a property").

[2016-06-14 14:11] jjgao commented on #1360
It was accidentally deleted.

https://github.com/cBioPortal/cbioportal/commit/c07af52d6445c57c28f67d9c2ee946d47c0f454f

[2016-06-14 18:04] sheridancbio opened #1363 "horizontal scroll bar missing under cross cancer study"
Horizontal scroll bar does not appear on overview tab of cross-cancer query results .. but bar chart can be scrolled by using mouse to select a region in the chart and mousing to the right.

[2016-06-14 19:37] morungos commented on #1299
First of all, I had a cold so I couldn't think straight about anything else, but I did put together the above PR, which *I think* does most of what we need without too much misery. I'd agree with @pieterlukasse, though, that yes: ideally, we should have a `PORTAL_CONFIG` which specifies file and directory. I don't think `PORTAL_HOME` is used for anything else anyway.

So yes, let's hangout. I'll m

[2016-06-14 20:09] jjgao commented on #1335
@ersinciftci we should fix this soon in the rc branch. Do you think your Sprint 2 PR can be merged soon? If not, could you separate the code to fix the current rc?

[2016-06-14 22:16] DavidAustinNix commented on #986
I've hit this same issue.  Cannot load the brca-example-study.tar.gz using a new cbioportal instance with core/src/main/scripts/importer/cbioportalImporter.py  throws:

 com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException: Table 'cbioportal.info' doesn't exist

Is there a work around?  Thx.

[2016-06-15 15:03] morungos opened #1368 "Maven site no longer works"
The command

[code]

succeeds, but

[code]

fails:

[code]

It's failing to resolve artifacts from modules, although this is definitely something that used to work.

I'll see if I can get back to a working build and bisect

[2016-06-15 15:13] morungos commented on #1368
Bisecting indicates the origin is: bad21c84db41e1e43aab88fbce9d5f1d1fecf603

[2016-06-15 15:22] morungos commented on #1368
Removing JaCoCo does indeed fix the Maven site process

[2016-06-15 19:45] ersinciftci commented on #1335
Should be merged in 1-2 days, I'll separate it if it doesn't get merged until Friday.

[2016-06-15 20:09] priti88 opened #1375 "Fix images in validator documentation"
The images of HTML screenshots seems to have disappeared from validator document:
https://github.com/cBioPortal/cbioportal/blob/master/docs/Using-the-dataset-validator.md

[2016-06-16 08:52] #1291 closed

[2016-06-16 08:59] pieterlukasse opened #1378 "Mutation view hangs when gene length is NULL and pfam_graphics is not available"
Example:

http://www.cbioportal.org/index.do?cancer_study_list=brca_tcga&cancer_study_id=brca_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=brca_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=brca_tcga_gistic&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=brca_tcga_cnaseq&case_ids=&patient_case_select=sample&gene_set_choice=user-defined-list&gene

[2016-06-16 08:59] pieterlukasse commented on #1378
@onursumer how to deal with this scenario? Can you check this?

[2016-06-16 09:34] pieterlukasse opened #1379 "3D view button does not work for some genes, even when PDB data is available"
Steps to reproduce:

1- query all studies on cbioportal.org on AMY1B: [execute this query](http://www.cbioportal.org/cross_cancer.do?cancer_study_list=&cancer_study_id=all&data_priority=0&case_ids=&patient_case_select=sample&gene_set_choice=user-defined-list&gene_list=AMY1B+&clinical_param_selection=null&tab_index=tab_visualize&Action=Submit&Action=Submit#crosscancer/overview/0/AMY1B%20/sarc_mskcc

[2016-06-16 09:35] pieterlukasse commented on #1379
@onursumer : can you check this?

[2016-06-16 13:58] pieterlukasse opened #1380 "No easy-to-find documentation on configuring Study search options"
At one of our installations we got the request to change the list of studies displayed at the search box (see screenshot):

![image](https://cloud.githubusercontent.com/assets/2900303/16119271/0d21dc1c-33db-11e6-9968-671e88df9811.png)

Is this configurable? How to do it? If not, could we add a portal.properties for this, or let it be based on the list of studies in the portal (taking into account

[2016-06-16 14:26] pieterlukasse opened #1382 "TCGA staging files issues"
New fresh ticket to keep track of issues in the most recent staging files

- [x] many files have `[Not Available]` in the `Entrez_Gene_Id` column. This is not supported. The supported values are: empty cell or `0` for missing value, or a number
- [x] SAMPLE_ID and PATIENT_ID are duplicated in clinical files (e.g. 4 columns instead of 2)
- [x] missing case lists
- [x] invalid non-numeric values in

[2016-06-16 14:38] pieterlukasse commented on #132
@awernibi can we close this one?

[2016-06-16 14:53] pieterlukasse commented on #1160
@jjgao I'm looking into this now

[2016-06-16 20:10] jjgao opened #1384 "use preprocessed methylation data from firehose"
I just noticed that Broad has a new file e.g.

http://gdac.broadinstitute.org/runs/stddata__2016_01_28/data/STAD/20160128/

gdac.broadinstitute.org_STAD.Methylation_Preprocess.Level_3.2016012800.0.0.tar.gz

There is a file called STAD.meth.by_min_expr_corr.data. We should be just using this file instead of calculating by ourselves.

[2016-06-16 20:27] n1zea144 commented on #1384
Moving to pipelines tracker.

[2016-06-16 20:27] #1384 closed

[2016-06-16 20:46] #1315 closed

[2016-06-16 20:56] jjgao commented on #1158
@zhx828 could you prioritize this?

[2016-06-16 20:58] jjgao commented on #1302
@ritikakundra any update on this?

[2016-06-16 20:59] jjgao commented on #1345
@yichaoS could you please prioritize this?

[2016-06-16 21:00] #1360 closed

[2016-06-16 21:06] jjgao commented on #731
@yichaoS any update?

[2016-06-17 00:55] zheins commented on #1382
All these items are taken care of now in the post processing.

[2016-06-17 01:25] zheins commented on #1382
Theres another weird issue where some of the mafs from firehose do not have consistent number of columns throughout the file. Post processing now fixes this as well.

[2016-06-17 01:30] zheins commented on #1382
Post processing current is doing the following:

        1. Remove null values with NA in all files
        2. Remove '.' characters in the MAF with NA
        3. Remove '+' chacters from numberical values from clinical files
        4. Check that all tcga patient/sample ids are truncated
        5. Remove duplicate samples in the clinical files
        6. Replace empty cells (replace-empty-cell.p

[2016-06-17 02:39] onursumer commented on #1379
@pieterlukasse : thanks for reporting this! looks like a fundamental logic mistake which ends up with a null pointer exception: https://github.com/cBioPortal/mutation-mapper/blob/d5f322f8ab1c937106be04e409767420892e0f6f/src/js/view/PdbChainTipView.js#L74

Shame on me :)

[2016-06-17 02:46] onursumer commented on #1378
@pieterlukasse : I think we should still try to show the diagram without pfam domains, or at least the table without the diagram. This requires some improvement in the mutation mapper library.

[2016-06-17 09:00] pieterlukasse commented on #1382
@zheins thanks for the update. We will test here and let you know. One request from my side: can you please log the firehose MAF file issue at firehose and report the ticket nr here? I would like to understand this better.

[2016-06-17 10:31] pieterlukasse commented on #1382
@zheins here are the remaining issues for **BRCA**

- [ ] let `HER2_COPY_NUMBER` and `CENT17_COPY_NUMBER` have type `STRING` in data_bcr_clinical_data_patient.txt
- [ ] change ids `days_to_patient_progression_free` and `days_to_tumor_progression`  to ALL CAPS in data_bcr_clinical_data_patient.txt
- [ ] just to be sure nothing is wrong in processing, check why there is no clinical data for patients

[2016-06-17 11:46] pieterlukasse commented on #1382
@zheins here are the remaining issues for PRAD

- [ ] basically the same errors as in BRCA, with a few additional ones below:
- [ ] Value in column 'Verification_Status' is invalid: should be empty instead of `[Not Available]` in data_mutations_extended.txt.
- [ ] Value in column 'Validation_Status' is invalid: should be empty instead of `[Not Available]`, or `---` in data_mutations_extended.txt.

[2016-06-17 12:05] pieterlukasse commented on #1378
@onursumer : at least the table would be nice. Showing a diagram when the length of the gene is unknown is harder, then you would have to infer from other data....

[2016-06-17 12:07] pieterlukasse commented on #1379
@onursumer glad you found it! Same logic mistake is also a few lines above:

https://github.com/cBioPortal/mutation-mapper/blob/d5f322f8ab1c937106be04e409767420892e0f6f/src/js/view/PdbChainTipView.js#L68

[2016-06-17 12:30] pieterlukasse opened #1390 "Fix remaining 508 compliance issues"
Fix remaining issues and make necessary text improvement to some labels. See report made after the deployment of the 16th.

[2016-06-17 16:57] zheins commented on #1382
The issues with the samples being in bcr_sample and not bcr_patient is a data source issue - not a processing issue.

For duplicated lines, they aren't actually duplicated. They have different ORFs or Hugo Symbols that map to the same entrez id with sometimes different values. We don't really have a way of handling this in the import - I think prior to this we just imported the last row. We can de

[2016-06-17 17:27] n1zea144 commented on #1382
I just placed placed the latest tarballs that Zack created on the http server:

85e76851f2f05f1d53b39f788f188fe7  /data/zack/brca.tar.gz
7a61640df9b9f6da1e8ea982bda97777  /data/zack/prad.tar.gz

I'd prefer to pass the data through, the logic of the scripts package will handle duplicate rows of data.

[2016-06-17 18:51] ersinciftci commented on #1335
@jjgao https://github.com/cBioPortal/cbioportal/pull/1386 is ready to merge and will solve this issue.

[2016-06-21 03:23] jjlaisnoopy commented on #800
I have encountered following errors, please help me to solve it.

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] Portal Master ...................................... SUCCESS [ 17.801 s]
[INFO] Portal Business Layer .............................. SUCCESS [03:26 min]
[INFO] Portal Core ........................................ SUC

[2016-06-21 08:06] fedde-s commented on #1266
This may be problematic for now, as the seed database from which new instances are initialised (https://github.com/thehyve/cbioportal/wiki/Import-the-Seed-Database) contains (incorrect) records that violate the constraint. This means that the database migration script would crash unless people repopulate their gene table first, and I think the procedure to do this isn’t documented in an easy-to-fi

[2016-06-21 09:06] pieterlukasse commented on #1266
You can use a query like below to check if the `gene` table has invalid values:

[code]
and if `NR_INVALID_GENES > 0`, report this in the migration output instead of adding the constraint. So people can fix it manually. In this case, also do *not* update the `info` table with the new version number.

NB: when increasing the DB version, be aware that the PR #1364 is changing the way this is checked

[2016-06-21 09:13] pieterlukasse commented on #1266
OR we can make a new version of the Seed Database as part of the solution here. And then let the migration script for the UQ constraint fail (as it should) in the cases where HUGO_GENE_SYMBOL is ambiguous.

[2016-06-21 09:22] fedde-s commented on #1266
Would it be in any way possible to update the gene table in an existing production database without invalidating all studies? I imagine foreign keys to the gene table will be referentially incoherent before it is fully repopulated, and some outdated ones will be broken even afterwards, so re-importing them from the staging files would probably be preferable after all.

[2016-06-21 09:28] pieterlukasse commented on #1266
That is a decision each site has to make for their own (i.e. how to repair it). But they can only take this decision if they know there is a problem. This fix should help site admins see the problem in the first place. And because it provides an updated Seed DB, it also helps other to avoid this problem in the future.

[2016-06-21 19:41] JiaoJiao123 commented on #1363
@sheridancbio May I know what studies are you using? I can't find the bug you described.

[2016-06-21 19:46] JiaoJiao123 commented on #1307
@shrumit Are you working on this? It looks interesting to me. I can add the mutation validator.

[2016-06-21 23:03] shrumit commented on #1307
@JiaoJiao123 I am currently working on this as a part of Summer of Code.

[2016-06-22 12:59] JiaoJiao123 commented on #1307
@shrumit ok sounds good.

[2016-06-23 12:26] pieterlukasse opened #1406 "CCLE data mistake?"
The public study loaded at
http://www.cbioportal.org/study?id=cellline_ccle_broad#summary

seems to have a mistake in the clinical attribute data.
![image](https://cloud.githubusercontent.com/assets/2900303/16302960/3ca0a126-394e-11e6-826b-cc0c077df988.png)

The values in "Tumor type" seem to be switched with "Cancer type".

@schultzn, @jjgao  : what do you think? Adding the values in "Tumor type"

[2016-06-24 15:22] jjgao opened #1408 "drug data is not loading on Network tab"
The data interactions are not showing up even when you select "Show all drugs"

[2016-06-24 16:52] ugurdogrusoz commented on #1408
Lets show drug edges by default

[2016-06-27 13:52] pieterlukasse opened #1412 "IGV will not start (since java 8?)"
Example:

http://www.cbioportal.org/index.do?cancer_study_list=brca_tcga&cancer_study_id=brca_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=brca_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=brca_tcga_gistic&genetic_profile_ids_PROFILE_MRNA_EXPRESSION=brca_tcga_rna_seq_v2_mrna_median_Zscores&Z_SCORE_THRESHOLD=2.0&genetic_profile_ids_PROFILE_PROTEIN_EXPRESSION=brca_tcga_rpp

[2016-06-27 13:55] pieterlukasse commented on #1412
Adding https://data.broadinstitute.org to a white list will get me 1 step further, but still display a security warning:

![image](https://cloud.githubusercontent.com/assets/2900303/16382077/a0c11440-3c7f-11e6-8bf6-e20fb4eb73b2.png)

[2016-06-27 18:52] pambot opened #1413 "Add heatmap by adding new tracks based on oncoprint.js"
This is the first step to adding a heatmap to the OncoPrint tab. It can be initially added as new tracks but with different visual parameters (i.e. no whitespace in between the blocks).

[2016-06-27 19:04] n1zea144 commented on #1299
Just catching up on this issue.  A few thoughts that come to mind immediately (while I still absorb this) is something that might only pertain to MSK at the moment, but may be an issue for other institutes in the future, that is, we support multiple running instances of the cBioPortal.  If we do look outside a war for customized properties, we need to support multiple sets of customizations.  The

[2016-06-27 20:08] pieterlukasse commented on #1335
FYI - The following view is also failing because of this issue:

![image](https://cloud.githubusercontent.com/assets/2900303/16394046/99312f88-3cb3-11e6-8efd-87c0b77f7635.png)

[2016-06-28 00:34] #637 closed

[2016-06-28 12:26] pieterlukasse commented on #1382
we've got our first version of the data without blocking errors :tada:

[2016-06-28 12:26] #1382 closed

[2016-06-28 12:34] pieterlukasse opened #1417 "TCGA staging files enhancements"
We now got our first version of TCGA staging files without blocking issues (see #1382).

This ticket is meant for tackling some of the remaining *warning* :warning: messages we still get from the validation reports. The goal is to have a new version (v2) of the staging files without these issues:

- [ ] meta files are missing for gistic and mutsig data files.
- [ ]  in many studies, data_CNA.txt a

[2016-06-28 13:21] pieterlukasse commented on #832
solution merged

[2016-06-28 13:21] #832 closed

[2016-06-28 13:44] pieterlukasse commented on #825
some scenarios will still stop the validation, like inconsistent number of columns over multiple line in the sample clinical file. But the number of scenarios is less now. It is also reduced with the split between patient and sample files (i.e. the patient file can be messed up and it will still validate other files).

Scenarios where the validation will still stop:
- logger.error('No valid study

[2016-06-28 13:44] #825 closed

[2016-06-28 14:03] pieterlukasse commented on #1270
data duplication is also found in expression data in the TCGA data batch, so it does not happen only in CNA data...

[2016-06-28 14:08] kburkitt commented on #1335
@pieterlukasse The fix was merged to rc 10 days ago but I'm not sure if @jjgao deployed it to beta yet.

[2016-06-28 14:08] ersinciftci commented on #1335
@pieterlukasse The fix was merged to rc 10 days ago but I'm not sure if @jjgao deployed it to beta yet.

[2016-06-28 18:46] schultzn opened #1418 "Samples with 0 mutations should show up as 0 in the # mutations clinical track"
They are currently showing as undefined... should be 0 and sorted on the other end.

http://bit.ly/292eQk7

![image](https://cloud.githubusercontent.com/assets/11892704/16428243/05eca11c-3d3f-11e6-9fa6-ccc16412eee8.png)

[2016-06-28 18:52] jjgao opened #1419 "remove drugs and clinical trials tab in the patient view"
They are not well maintained.

[2016-06-28 18:55] jjgao opened #1420 "oncoprint issues when input same genes twice"
All mutations become black: http://bit.ly/292heqU

Oncprint does not show with js errors: http://bit.ly/292hjek

[2016-06-28 19:42] adamabeshouse commented on #1420
These issues are addressed by my pull request https://github.com/cBioPortal/cbioportal/pull/1416

[2016-06-28 19:42] adamabeshouse commented on #1244
https://github.com/cBioPortal/cbioportal/pull/1416

[2016-06-28 19:42] #1244 closed

[2016-06-28 19:42] adamabeshouse commented on #1033
https://github.com/cBioPortal/cbioportal/pull/1416

[2016-06-28 19:42] #1033 closed

[2016-06-28 20:01] jjgao commented on #1420
got it.

[2016-06-28 20:03] adamabeshouse commented on #1418
@schultzn: Same for fraction genome altered?

[2016-06-28 20:16] adamabeshouse commented on #1418
https://github.com/cBioPortal/cbioportal/pull/1421

[2016-06-28 20:16] #1418 closed

[2016-06-28 20:46] schultzn commented on #1418
Yes

[2016-06-29 20:21] #1420 closed

[2016-07-01 12:52] pieterlukasse opened #1437 "Add support for hg38 in data validation script"
Most of the portal (except for patient view > genome overview plot) is not bound to a specific genome build version. Therefore it would be good to be more flexible about this in the data validation script, which currently only allows hg19/GRCh37.

Changes needed:
- meta file for mutation data should get a new attribute, just like already present in segment data: `reference_genome_id`. E.g. `refere

[2016-07-01 13:06] pieterlukasse commented on #1406
@zheins @n1zea144 could you check this one please?

[2016-07-01 17:39] JiaoJiao123 opened #1439 "hide study view chart if there is only one value for all samples"

[2016-07-01 18:01] #1439 closed

[2016-07-01 22:39] adamabeshouse opened #1440 "Oncoprint drag box should darken when it is valid"
Right now the oncoprint drag to zoom fails when the target area is too small, but it fails silently, which could be a frustrating user experience. The box should provide some feedback for when it is valid, I think starting light then darkening would work well.

[2016-07-01 23:27] adamabeshouse commented on #1440
https://github.com/cBioPortal/cbioportal/pull/1441

[2016-07-01 23:27] #1440 closed

[2016-07-03 20:51] #1345 closed

[2016-07-03 20:53] #1354 closed

[2016-07-03 20:53] #1408 closed

[2016-07-03 21:03] #1419 closed

[2016-07-03 21:09] #1158 closed

[2016-07-03 21:19] #1135 closed

[2016-07-03 21:26] #852 closed

[2016-07-04 09:34] pieterlukasse opened #1445 "Adjust validation script for TCGA codes?"
The data loading code expects only the first part of the sample id (first 15 characters) of the TCGA barcodes, and therefore strips off the rest before validating for duplicates. The validation script could do  the same for TCGA barcodes, as long as only 1 sample per patient is expected (as is the case when using firehose output).

The "1 sample per patient" for TCGA data is apparently the practic

[2016-07-05 10:15] ecerami opened #1446 "Building from Maven Wiki Page Has Multiple Errors?"
On the current "Building from Source" Wiki page:  https://github.com/cBioPortal/cbioportal/blob/master/docs/Build-from-Source.md

We have two problems:
1.  At the top of the page, we say:

First, set your $PORTAL_HOME environment variable to point at your cbioportal.org check-out. (so that $PORTAL_HOME/src/main/resources/portal.properties exists and is properly populated)

However, the previous pr

[2016-07-05 10:24] ecerami opened #1447 "Loading sample study wiki page: questions"
On the current wiki page for loading a sample study:  https://github.com/cBioPortal/cbioportal/blob/master/docs/Load-Sample-Cancer-Study.md

Why does this page mention all the individual steps for loading a study?  Can't we just use the single importer script to load everything within one directory?

Are all the CONNECTOR_JAR and CORE_JAR steps also really required?  (Seems very complicated)

Tagg

[2016-07-05 10:44] ecerami commented on #1447
Also, this command does not actually run:

$PORTAL_HOME/core/src/main/scripts/cbioportalImporter.py --jvm-args "-Dspring.profiles.active=dbcp -cp $CONNECTOR_JAR:$CORE_JAR" --command import-study --meta-filename portal-study/meta_study.txt

cbioportalImporter.py is now located under scripts/importer.  But, the --jvm-args also no longer seems to be supported.

[2016-07-05 14:10] zhx828 opened #1448 "Clinical Data tab in Study View is throwing exception"
EnhancedFixedDatatable.js?1.0:744 TypeError: row[col].toLowerCase is not a function

[2016-07-05 14:26] ecerami opened #1449 "Seed database is out of date"
The current seed database does not work with the current code.

We need to download the current seed database:  http://cbio.mskcc.org/cancergenomics/public-portal/downloads/cbioportal-seed.sql.gz

apply the migration script: https://github.com/cBioPortal/cbioportal/blob/master/docs/Updating-your-cBioPortal-installation.md

And, then replace the seed database.

[2016-07-05 15:43] ecerami commented on #986
This is a duplicate to #1449.  @ersinciftci now working on fix.

[2016-07-05 15:55] ersinciftci commented on #606
Solved.

[2016-07-05 15:55] #606 closed

[2016-07-05 18:34] shrumit opened #1452 "Bitly "Shorten URL" feature doesn't work"
Just noticed this little bug:

![screenshot from 2016-07-05 14-30-49](https://cloud.githubusercontent.com/assets/10775025/16595511/795f2916-42bd-11e6-9145-5811749693bb.png)

[2016-07-05 20:37] ecerami opened #1453 "Wiki side bar still lists old wiki pages"
Need to delete these old wiki pages.  Confirmed with JJ.

[2016-07-05 20:46] ecerami opened #1454 "Travis occassionally fails"
I made a few small changes to docs today, and got back a travis failure message:

https://travis-ci.org/cBioPortal/cbioportal/builds/142465187

According to @ersinciftci:

These 2 tests fail sometimes depending on the Junit test running order
(which is random):

TestWebService.testGetCancerStudySetProfileID:334 expected:<1> but was:<0>
TestWebService.testGetCancerStudySetPrivateProfile:351 expecte

[2016-07-05 21:06] inodb commented on #1454
I'm not working on this.

I did fix some of the problems with the screenshot test occasionally failing by adding a retry: https://github.com/cBioPortal/cbioportal/pull/1402

[2016-07-05 21:16] morungos commented on #1454
Can't remember this specific case, but it shouldn't be happening unless the DB running the tests isn't being fully transactional, i.e., I hope it's all under InnoDB. However, if it isn't, I'd expect more than this to fail.

Another possibility is weird caching. I really don't like the caching behaviour much, because `DaoCancerStudy.deleteCancerStudy` can get executed and rolled back, but the cache

[2016-07-06 10:08] pieterlukasse commented on #1454
I think that one of the improvements that could be made in this test class is to make it self sufficient. It seems to depend on a pre-existing study `study_tcga_pub` which is added by some other test step. The current setup is probably based on the initial idea of having a global "mini seed DB" for *all* the tests, filled with data that could be used in all the tests. Although I think this could b

[2016-07-06 10:43] ecerami commented on #1454
Assigning to @ersinciftci as no one else has specifically signed up to fix this.

[2016-07-06 10:46] ecerami commented on #1452
I just tried to verify this via URL:  http://www.cbioportal.org/index.do?cancer_study_list=luad_tcga&cancer_study_id=luad_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=luad_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=luad_tcga_gistic&Z_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=luad_tcga_cnaseq&case_ids=&patient_case_select=sample&gene_set_choice=user-defined-list&g

[2016-07-06 10:49] ecerami commented on #1335
@ersinciftci:  is this now totally fixed?   If so, please close.  Thanks.

[2016-07-06 10:50] ecerami commented on #1064
Done.  Closing.

[2016-07-06 10:50] #1064 closed

[2016-07-06 10:52] ecerami commented on #921
@schultzn @sheridancbio:  just checking if this is now done?  can we close?  tx.

[2016-07-06 11:52] ecerami opened #1455 "metaImport needs a -n option"
Discussed with @pieterlukasse and thought about this some more last night.

I think the metaImport script needs a -n (--no_portal_checks) option.  This option already exists in validateData.py, we just need to pass it along.

That way a new user who is following the installation steps on the wiki can successfully import data without having a portal instance already running.  This is important beca

[2016-07-06 12:49] fedde-s commented on #1455
This was left out by design, as studies should be fully validated (including whether the genes are known to the portal, for instance) before importing. There’s a `-p`/`--portal_info_dir` option in case no web API is accessible: https://github.com/cBioPortal/cbioportal/blob/master/docs/Using-the-dataset-validator.md#offline-validation

[2016-07-06 12:55] fedde-s commented on #1455
That documentation page will be updated when this pull request is reviewed: https://github.com/cBioPortal/cbioportal/pull/1391

[2016-07-06 12:57] ecerami commented on #1453
ok, all done.  @jjgao:  Wiki site now looks like this:

![screenshot_946](https://cloud.githubusercontent.com/assets/1009066/16618482/a60ddee0-4357-11e6-9974-5a81814ce00b.png)

[2016-07-06 12:57] #1453 closed

[2016-07-06 13:25] fedde-s opened #1456 "Mismatched PMID field type in study API"
[DBStudy.java](https://github.com/cBioPortal/cbioportal/blob/rc/business/src/main/java/org/mskcc/cbio/portal/model/DBStudy.java#L21) expects the PMID retrieved from the database to be parseable as an integral number, but in [the database](https://github.com/cBioPortal/cbioportal/blob/hotfix/core/src/main/resources/db/cgds.sql#L83) it is stored as a text string. This makes the study API throw excep

[2016-07-06 14:09] shrumit commented on #1452
It still doesn't work for me when I query "BRCA1" and select all studies:

http://www.cbioportal.org/cross_cancer.do?cancer_study_list=&cancer_study_id=all&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=chol_jhu_2013_mutations&data_priority=0&case_set_id=chol_jhu_2013_sequenced&case_ids=&patient_case_select=sample&gene_set_choice=user-defined-list&gene_list=BRCA1&clinical_param_selection=null&tab_i

[2016-07-06 16:28] ersinciftci commented on #1455
https://github.com/cBioPortal/cbioportal/pull/1458 I added an -n option to metaImport, and it passes along to validateData, and the default value is False. I think that's what you asked for @ecerami ?

[2016-07-06 17:46] ersinciftci commented on #1335
@jjgao is there any error in the logs after the change? Can we close it?

[2016-07-06 19:21] shrumit opened #1459 "Suggest corrections for incorrectly entered gene symbols"
Use fuzzy search to suggest corrections to entered genes that do not validate.

[2016-07-06 21:43] ecerami opened #1460 "Seed database is currently 7GB and could be much smaller"
Seed database is currently 7GB;  almost 5 GB is devoted to PDB.  Would be great if we could make this much smaller.

[2016-07-07 09:11] pieterlukasse commented on #1455
For completeness, my *preferred* option would be to have something like tomcat does now as well: even before you install any web applications, you can already see that the tomcat installation went well (see screenshot). Why don't we do that for cBioPortal? I.e. the installation documentation would describe the steps up to getting the homepage to work. When going to the homepage for the first time,

[2016-07-07 11:33] pieterlukasse commented on #1290
both issues now seem to be solved (I tested in `rc` after merge of #1416). Thanks!

[2016-07-07 11:33] #1290 closed

[2016-07-07 11:43] pieterlukasse commented on #1034
related to #507?

[2016-07-07 11:59] pieterlukasse commented on #1033
I tested the oncoprint fix for a single study and this works fine :+1:

![image](https://cloud.githubusercontent.com/assets/2900303/16652433/edb35a10-444a-11e6-8848-6feae3eb5c89.png)

[2016-07-07 12:34] pieterlukasse commented on #1033
The cross-cancer histogram issue is not fixed, but this is in another issue (still reported in #929). So this one can be closed indeed.

[2016-07-07 14:28] pieterlukasse commented on #1447
This page is indeed outdated and can be removed.

[2016-07-07 14:41] pieterlukasse commented on #1446
I would say PORTAL_HOME should point to `Users/ecerami/dev/cbioportal/` in your example. This is based on my experience until now.

But I found at least one commit that seems to change this, so I'm afraid I'm outdated on this point: https://github.com/cBioPortal/cbioportal/commit/b101762  @zheins can you comment on this?

[2016-07-07 15:42] sheridancbio commented on #921
Yes, this was completed. Niki made the update a long time ago --- so possibly it is time again for a review / update now. I think we do have new team members since the update. Niki updated the github wiki page last time, but I think we have a new protocol for making updates to these pages (rather than direct edits on the wiki page)  But I'll close this issue now, and mention that we might want to

[2016-07-07 15:42] #921 closed

[2016-07-07 19:06] adamabeshouse commented on #588
https://github.com/cBioPortal/cbioportal/pull/1416

[2016-07-07 19:06] #588 closed

[2016-07-08 15:57] ecerami opened #1466 "Drop the -u, -p and -n options from metaImport and validateData"
Here is my preferred solution to dealing with the current implementation of metaImport and validateData.

1.  validateData.py and metaImport.py should be the preferred mechanisms to validate and load data, and we should introduce both early on to new people who are developing or installing cBioPortal.  All other mechanisms for import, e.g. cbioportalImporter.py should be mentioned only later in th

[2016-07-08 16:19] pieterlukasse commented on #1466
It could be interesting to keep -u as an *optional* parameter for the scenario where you want to validate against a server which is not locally inatalled. I.e now it is possible to validate studies on a local desktop with only python installed thanks to -u, -n and -p options.

[2016-07-11 09:35] pieterlukasse commented on #1449
related to #767

[2016-07-11 13:35] fendor opened #1471 "Submit Button remains disabled despite entered Gene Symbols are valid"
I couldnt find an open Issue with that, sorry if it is already known.

 Once an invalid OQL-Query has been entered, the button is disabled. If you now use a predefined set of genes, the submit button remains disabled, although only valid genes are present.

Workaround so far: enter another character in the textarea (e.g. space or newline) to enforce revalidation of entered Gene Symbols.
![bugimage

[2016-07-11 18:12] ersinciftci commented on #1455
@pieterlukasse It makes great sense to me.

[2016-07-11 18:14] ersinciftci commented on #1449
New seed database is uploaded here: https://storage.googleapis.com/cbiostorage-1/cbioportal-seed.sql.gz

[2016-07-11 18:14] #1449 closed

[2016-07-11 18:15] ersinciftci commented on #986
New seed database is uploaded here: https://storage.googleapis.com/cbiostorage-1/cbioportal-seed.sql.gz

[2016-07-11 19:59] ersinciftci commented on #1454
TestImportTabDelimData.testImportmRnaData2:348 expected:<[9]> but was:<[NaN]>
is randomly failing too. This is a bigger issue that I'll focus after the rearch Sprint 3.

[2016-07-11 20:00] ersinciftci commented on #1014
I'll do this after fixing #1454

[2016-07-11 20:50] schultzn opened #1476 "Multiple patient example is missing clinical timeline"
The clinical timeline is missing in this example:

http://www.cbioportal.org/case.do?cancer_study_id=lgg_ucsf_2014&case_id=P04

[2016-07-12 07:45] pieterlukasse commented on #1455
@ersinciftci @ecerami : shall I log the idea above (the green banner) in a new ticket? Then we can close this one.

[2016-07-12 08:50] oplantalech opened #1477 "Bar graphs not shown correctly"
The X axis in the Diagnosis Age and Mutation Count do not correspond to the bars displayed above, in this study: http://www.cbioportal.org/study?id=paac_jhu_2014#summary

There are no NAs on the data in both Diagnosis Age and Mutation Count, but the plots indicate the opposite. The bars pointing on NAs in Mutation Count should correspond to the previous value in the axis (>240), but this does not

[2016-07-12 09:43] pieterlukasse commented on #1477
@zhx828 : could you please check this one?

[2016-07-12 09:49] pieterlukasse opened #1478 "Expression data missing in rc oncoprint"
Hi @adamabeshouse, it looks like oncoprint is broken in `rc` for expression data. Perhaps since #1416?

I fire the same query in my local environment (`rc`) and on cbioportal.org and in the `rc` version I don't get the expression data. See screenshots:

Query: http://www.cbioportal.org/index.do?cancer_study_list=brca_tcga&cancer_study_id=brca_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=brca

[2016-07-12 09:59] pieterlukasse commented on #1478
found by @awernibi

[2016-07-12 10:05] #1390 closed

[2016-07-12 13:13] kalletlak opened #1479 "Api services for secured portal"
When using secured portal (through some authentication method), if the user doesn't have access to some data-sets and somehow if he gets 'study_id' for those sets and does some queries using the portal api services, then does the user gets success response or should he be responded with unauthorized message?

[2016-07-12 13:42] fedde-s opened #1480 "Querying for genes in study view is broken"
On [http://www.cbioportal.org/beta/study.do?cancer_study_id=brca_tcga#summary], while one or more gene symbols are selected in the textbox at the top, clicking the query button next to it does not work in Firefox, Google Chrome or Safari. The former two display a warning that a pop-up was blocked.

Oddly, when I remove the genes from the textbox and click the query button again, it does query for

[2016-07-12 13:48] ecerami commented on #1455
@pieterlukasse sure, go ahead.

[2016-07-12 14:27] JiaoJiao123 commented on #1480
@fedde-s  yeah right. I noticed that too. Also when you change gene input, it still query for the genes I entered previously. I will look into this.

[2016-07-12 15:14] jjgao commented on #1479
Thanks @kalletlak.

@n1zea144 I think we should prioritize it. I assume the GSoC project will solve this?

[2016-07-12 20:06] adamabeshouse commented on #1478
Good catch, this is a bug due to a bad design decision. I'll fix this immediately.

[2016-07-12 21:27] JiaoJiao123 commented on #1477
@pieterlukasse @zhx828 I will look into this, wondering if it is related to something I worked on earlier.

[2016-07-13 03:51] adamabeshouse commented on #1478
https://github.com/cBioPortal/cbioportal/pull/1483

[2016-07-13 03:51] #1478 closed

[2016-07-13 07:09] pieterlukasse opened #1484 "Clean-up and document configuration files in core/src/main/resources/"
Currently there are some "hidden" configuration files in core/src/main/resources/ . We need to at least mention them in the documentation (e.g. in /docs/Pre-build-steps.md) and link to a page that describes them. The files are:
- /cbioportal/core/src/main/resources/cbio_cancer_genes.txt
- /cbioportal/core/src/main/resources/gene_sets.txt (?)
- and perhaps some other files in /cbioportal/core/src/m

[2016-07-13 08:11] pieterlukasse opened #1485 "Improve and simplify the installation procedure by having intermediate success screen"
The current installation procedure includes a data loading step before starting the web server. This is to avoid an error message on the home page when there are no studies loaded. I think this step could be skipped if we can improve the home page for the scenarios where there are no studies yet (discussed in #1455).
My _preferred_ option would be to have something like tomcat does now as well: ev

[2016-07-13 08:12] pieterlukasse commented on #1455
@ecerami thanks. I logged it at #1485. Closing this one since it is solved by #1474

[2016-07-13 08:12] #1455 closed

[2016-07-13 19:02] zheins commented on #1446
@n1zea144 can you comment? I know we made some changes for the docker branch and for some other logging issues we had.

[2016-07-13 22:13] jjgao opened #1492 "remove pitt.edu link"
.. 3dmol lib.

[2016-07-13 22:58] adamabeshouse commented on #1231
https://github.com/cBioPortal/cbioportal/pull/1493/files

[2016-07-13 22:58] #1231 closed

[2016-07-14 10:34] fedde-s commented on #1480
Might the change in commit 4d05de6544b5f1a4518a8e5c91b94d22695ffac5 have something to do with this issue?

[2016-07-14 11:53] ecerami commented on #1492
super.  thanks for doing this.

[2016-07-14 14:18] JiaoJiao123 commented on #1480
@fedde-s yeah maybe, I am not sure. but we want to open a new page upon clicking query.

[2016-07-14 15:20] fedde-s commented on #1480
I am not an expert, but I can imagine that it might be because `QueryByGeneUtil.addStudyViewFields()` changes the DOM between the user interaction (the click) and the attempt to open the new tab. I have not tested whether this is what’s happening though.

[2016-07-14 16:23] #1104 closed

[2016-07-14 18:02] JiaoJiao123 commented on #1480
@fedde-s yeah that's also what I am thinking. It has already been fixed in the pull request https://github.com/cBioPortal/cbioportal/pull/1482

[2016-07-14 20:47] adamabeshouse opened #1496 "Remove unimplemented OQL features from documentation"
In particular, as noticed by @pieterlukasse, the syntactic sugar (e.g. `CNA >= GAIN` or just `CNA` for `AMP HOMDEL`)

[2016-07-15 07:19] fendor opened #1498 "Data Sets - Query Genes, Query is not updated properly"
When browsing the Data Sets and selecting the Study, in the Study Summary there is the Field for Gene Queries.
When selecting some Genes and querying got these, an window opens displaying the selected genes correctly.
However, closing the recently opened window, editing the Query and resubmitting the request, will not update the query. The same window as before will be opened.

[2016-07-15 08:49] pieterlukasse commented on #1496
@adamabeshouse thanks for adding the ticket. I would like to propose a review of the documentation at http://www.cbioportal.org/onco_query_lang_desc.jsp. So:
- [ ] test each of the examples listed there
- [ ] remove or fix the ones that don't work

New users will probably follow these examples first, before trying their own. @schultzn : can you also help with this one, testing and giving feedback

[2016-07-15 09:22] pieterlukasse commented on #1496
there is also a small bug in the label shown when using OQL. See screenshot below:

![image](https://cloud.githubusercontent.com/assets/2900303/16869639/10e9af8c-4a7e-11e6-804f-5cce9725c931.png)

The expression was on `D96` but the label only shows `96` (I assume it is just a problem with the label - haven't tested further yet).

One small request from a user was: could the expression be shown on

[2016-07-15 16:23] schultzn commented on #1496
I don’t see the same issue in a similar query … see below

I don’t understand the user request. What do you mean by “expression”? mRNA expression level?

[2016-07-15 18:35] pieterlukasse commented on #1496
@schultzn with "expression" I meant the OQL query, e.g.  `BRCA1:MUT=D96`, sorry for the confusion.

In your last message it looks like you intended to add a screenshot, but I think that failed somehow. Can you try again?

[2016-07-15 20:52] schultzn commented on #1496
I responded via email - maybe that does not support including images. I will try again later via the web interface.

I don’t see how an OncoPrint would permanently show the OQL text, i.e. the actual mutation. There is simply no space in this compact visualization.

Niki.

[2016-07-15 21:05] adamabeshouse commented on #1496
It seems like there may be some miscommunication here..

@pieterlukasse I see the issue and I am in the process of fixing it - the issue is that since the amino acid is really redundant information as far as filtering goes, it's not stored during parsing, and so isn't available when printing the query out.

[2016-07-18 08:31] pieterlukasse commented on #1496
@schultzn : yes, space is quite limited. Maybe we can make it a view option? We already have some options there, so perhaps we could add it there (see screenshot):
![image](https://cloud.githubusercontent.com/assets/2900303/16909396/c6a35e8a-4cd2-11e6-90c1-cf5a7f9375ac.png)

[2016-07-18 08:54] amalic opened #1501 "change file-name of "Data-Loading-:-How-the-loader-deals-with-Hugo-symbols.md""
Checking out on windows or in eclipse causes problems for this file-name!
IntelliJ seems to cut the name starting at the colon.

[2016-07-18 14:49] fendor opened #1502 "Valid Characters for Sample Id etc..."
What characters are allowed for the Case_lists, Sample_Ids etc... and which cause problems?

We noticed that characters like semicolon, underscore, paranthesis and hyphen are no problems, but characters like colon, or slash do cause problems in the web application although they are correctly inserted into the database.

Also the oncoprint shows unknown Stable_ids as undefined, and does not report

[2016-07-18 14:59] schultzn commented on #1496
I still don’t see how you would visualize the exact mutation strings. Can you make a mockup?

[2016-07-18 18:32] adamabeshouse commented on #1496
@pieterlukasse For what it's worth, if you click on "Modify Query" the whole expression would be there.

[2016-07-18 19:31] morungos opened #1505 "Maven compile broken on OpenJDK7"
The compile version isn't set in Maven, so it's defaulting to 1.3 under OpenJDK7.

Adding the following to the main `pom.xml` appears to fix it, by providing a default source versioning:

[code]

[2016-07-18 20:21] pieterlukasse commented on #1041
@angelicaochoa : I heard from @n1zea144 you might be interested in this

[2016-07-18 21:43] morungos commented on #1505
And this is currently broken. Wrong pom.xml was patched

[2016-07-18 22:16] morungos commented on #1505
But it's no longer broken. Squashed commit and pushed again

[2016-07-19 03:42] zheins commented on #1476
Fixed in public portal. @schultzn you can reopen if you find any more like this.

[2016-07-19 03:42] #1476 closed

[2016-07-19 05:56] shaunmuscat opened #1507 "Default value of cBioSkins patient view properties not as documented"
Within the cBioPortal instance customisation documentation it is documented that the properties skin.patient_view.show_clinical_trials_tab and  skin.patient_view.show_drugs_tab are set to True by default, however within the portal.properties.EXAMPLE file these properties are actually false by default, see https://github.com/cBioPortal/cbioportal/blob/master/src/main/resources/portal.properties.EXA

[2016-07-19 07:23] pieterlukasse commented on #1496
Hi @schultzn , something like this:

![image](https://cloud.githubusercontent.com/assets/2900303/16941710/15594552-4d92-11e6-9bea-30061e1c5db0.png)

So when "Show OQL filters" is checked, some extra space could be made such that the complete OQL strings are shown.

[2016-07-19 18:42] morungos opened #1508 "Duplicate SLF4J component errors"
I just started getting SLF4J noise in my tests on `rc`:

[code]

[2016-07-19 18:45] morungos commented on #1508
I think these are a consequence of shading everything. i have no idea why we do this, as it bloats immensely. I removed the business shading and one of these immediately went away. The second looks like we have two binding present.

[2016-07-19 18:49] morungos commented on #1508
The other part of the problem is the use of dependencies directly in the pom.xml, which means every subproject gets everything. This means subprojects that use a different version will get both. it shouldn't happen, but again, it's not right that this happens.

[2016-07-19 18:54] morungos opened #1509 "Invalid package after class NullHttpServletRequest was moved"
In commit cf61fb1.

rc won't compile right now.

[2016-07-19 19:18] morungos commented on #1508
And these are coming from biojava. Dependency tree is:

[code]

[2016-07-19 21:21] inodb opened #1512 "Improve Review Procedure"
The current review procedure is too slow to keep up with all the open PRs. We need to formalize this procedure. I propose we add two new docs in `docs/`:

1. Pull Request Policy. Outlining what teams need to acknowledge what type of feature/bug fix. This involves creating the teams in the cBioPortal organization based on areas of competence.
2. How to review a PR. Describing in detail what needs t

[2016-07-20 12:32] pieterlukasse commented on #1269
@zhx828 are these issues solved in the new study view?

[2016-07-20 12:50] pieterlukasse opened #1514 "Cross cancer page hangs when studies have no CNA data"
When selecting "CNA data only" query for studies where _no_ CNA data is present, then cross-cancer histogram page will hang with a javascript error. See screenshot. This is the URL to reproduce it:

http://www.cbioportal.org/cross_cancer.do?cancer_study_list=&cancer_study_id=all&data_priority=2&case_ids=&patient_case_select=sample&gene_set_choice=glioblastoma%3A-tp53-pathway-(4-genes)&gene_list=CD

[2016-07-20 12:52] pieterlukasse commented on #1514
@yichaoS @JiaoJiao123 @jjgao known issue?

[2016-07-20 13:46] pieterlukasse opened #1515 "Inconsistent sample counts in oncoprint"
The oncoprint overview shows inconsistent sample counts. See screenshot. URL to reproduce this:

http://cbioportal-test.thehyve.net/cbioportal/index.do?cancer_study_list=thca_tcga&cancer_study_id=thca_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=thca_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=thca_tcga_gistic&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority

[2016-07-20 13:49] pieterlukasse commented on #1515
is actually related to one of the points mentioned in #1417

[2016-07-20 13:50] #1509 closed

[2016-07-20 13:51] pieterlukasse commented on #1515
and is widespread over all studies/case lists. Here another example using breast cancer study:

![image](https://cloud.githubusercontent.com/assets/2900303/16988781/dbbcc6e2-4e91-11e6-9b29-1202a872c283.png)

[2016-07-20 13:52] pieterlukasse commented on #1515
adding @n1zea144 and @zheins to the discussion as well

[2016-07-20 15:43] zhx828 commented on #1269
@pieterlukasse yes! Thanks @awernibi and you brought up this issue.

[2016-07-20 16:28] #1363 closed

[2016-07-20 17:16] #1505 closed

[2016-07-20 18:35] gideonite commented on #1452
It's broken for me too.

FWIW the error is not unknown and is in fact 500 "INVALID_URI."

For some reason I can't seem to find the source script (`cgx_query.js`) in my chrome dev tools on @ecerami 's working example to see what a correct URL looks like.

I also haven't found anything on the web discussing maximum URL length for bitly links.

Finally, https://github.com/cBioPortal/cbioportal/blob/3

[2016-07-21 10:45] pieterlukasse commented on #1033
Just tested this on /beta now, but not yet working. Should it be on /beta already?

see http://www.cbioportal.org/beta/index.do?cancer_study_list=brca_metabric&cancer_study_id=brca_metabric&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=brca_metabric_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=brca_metabric_cna&Z_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=brca_metabric_cnaseq&

[2016-07-21 10:48] pieterlukasse commented on #1033
And this one fails on /beta as well: http://www.cbioportal.org/beta/index.do?cancer_study_list=brca_tcga&cancer_study_id=brca_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=brca_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=brca_tcga_gistic&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=brca_tcga_cnaseq&case_ids=&patient_case_select=sample&gene_s

[2016-07-21 15:21] jjgao opened #1525 "Study view: "Clinical Data" tab does not work"
http://www.cbioportal.org/beta/study?id=nsclc_tcga_broad_2016#clinical

![image](https://cloud.githubusercontent.com/assets/840895/17028343/4478a158-4f35-11e6-8c65-74e647978b06.png)

[2016-07-21 16:06] zhx828 commented on #1525
Working on it.

[2016-07-21 16:31] pieterlukasse commented on #1496
### Regarding this ticket:
@adamabeshouse  our client is actually asking to keep all the documented features, so e.g. `CNA >= GAIN` should stay. So instead of removing from documentation, implement what is documented. @schultzn what do you think? Or should some of the documented features really be removed?

### Regarding the new "Show OQL filters"  feature:
I will log a new ticket for that.

[2016-07-21 16:38] pieterlukasse opened #1527 "Show OQL filters in oncoprint"
Request from a user: could the OQL filter be shown on the screen itself instead of only at the pop-up?

This not only improves the view itself, it also makes it easier to use it in a presentation or document/article. Otherwise you have to edit the figure to add these expressions manually.

**Solution proposal:**

Make it a view option. We already have some view options. So add a new option "Show O

[2016-07-21 16:40] pieterlukasse commented on #1527
Notify: @adamabeshouse @schultzn @awernibi

[2016-07-21 17:07] schultzn commented on #1496
Thanks. Keep in mind though that an OQL string could be very long - how do you plan to deal with those?

[2016-07-21 17:08] schultzn commented on #1496
I don’t think these documented features are necessary to have - all functionality is still available via combinations of categories. So it depends on how much extra work it is.

[2016-07-21 19:45] zhx828 opened #1528 "ATTR_ID is not matched in clinical_attribute and clinical_patient"
The cases I found out are CLIN_M_Stage, CLIN_N_Stage and CLIN_T_Stage in clinical_attibute but CLIN_M_STAGE, CLIN_N_STAGE and CLIN_T_STAGEin clinial_patient

[2016-07-22 07:01] pieterlukasse commented on #1496
@schultzn thanks. @adamabeshouse can you give an idea about this? Is it feasible for you to let the implementation match the documentation? Please let us know if you think it is better to remove some of the documentation options in the short term until they are really available in OQL (depends a bit on how fast the issues could be solved).

[2016-07-22 09:34] pieterlukasse commented on #1283
not so relevant anymore, according to recent discussion. Cancer types parsed are mentioned in report.

[2016-07-22 09:34] #1283 closed

[2016-07-22 09:45] fedde-s commented on #1380
This has been solved in the hotfix release now.

[2016-07-22 09:45] #1380 closed

[2016-07-22 09:56] pieterlukasse commented on #1340
notify: @adamabeshouse

[2016-07-22 10:00] fedde-s commented on #1351
These fixes have been merged and solved, and the study view has been further made Section 508-compliant as part of pull requests #1494 and #1497.

[2016-07-22 10:00] #1351 closed

[2016-07-22 12:26] schultzn commented on #1496
It is a very simple change to modify the OQL description from:

 CCNE1:  CNA >= GAIN
which can also be written:

 CCNE1:  GAIN AMP

to:

 CCNE1:  GAIN AMP

No functionality lost!

Keep it simple?

What other documented commands are not working?

Niki.

[2016-07-22 15:38] pieterlukasse opened #1532 "Oncoprint hanging for specific OQL expression"
steps to reproduce:

- Select `brca provisional` study
- fill in OQL as : `TP53:MUT=E56*;TP53:MUT=R175H;`

URL:

http://www.cbioportal.org/index.do?cancer_study_list=brca_tcga&cancer_study_id=brca_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=brca_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=brca_tcga_gistic&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&c

[2016-07-22 20:08] adamabeshouse commented on #1496
@pieterlukasse @schultzn It wouldn't be too much work to implement if it's wanted.

[2016-07-22 20:32] adamabeshouse commented on #1515
I think this is an import/backend error - everything agrees on the page except for the case set name, which includes '(1202 samples)'.

I have a screenshot from the console which may illustrate what's going on here:

![image](https://cloud.githubusercontent.com/assets/636232/17070422/d6607a92-5029-11e6-9eda-cd6da799e688.png)

[2016-07-22 21:40] adamabeshouse commented on #1532
This works in `rc`

[2016-07-22 21:40] #1532 closed

[2016-07-22 23:28] schultzn commented on #1496
Up to you… :-)

[2016-07-24 02:22] jjgao opened #1535 "new code of customized sample query broke jsp in tomcat 7"
![image](https://cloud.githubusercontent.com/assets/840895/17081371/a6755938-5123-11e6-8f57-76d5d77bc101.png)

![image](https://cloud.githubusercontent.com/assets/840895/17081376/d6863890-5123-11e6-9cb5-59169b45a776.png)

[2016-07-24 02:38] jjgao commented on #1535
@fedde-s I couldn't find a proper solution, so I revert part of your code in #1536. Please make the proper fix when you have time. Thanks.

[2016-07-24 19:06] jjgao commented on #978
@yichaoS I think this is relatively straightforward. Could you please fix it soon?

[2016-07-24 19:07] #1027 closed

[2016-07-24 19:08] #748 closed

[2016-07-24 19:08] #1070 closed

[2016-07-24 19:09] #1302 closed

[2016-07-24 19:10] jjgao commented on #1349
@yichaoS please also work on this.

[2016-07-24 19:11] #1353 closed

[2016-07-24 19:12] #1525 closed

[2016-07-24 19:14] #641 closed

[2016-07-24 19:15] jjgao commented on #732
@adamabeshouse any update on this?

[2016-07-24 19:16] #752 closed

[2016-07-24 19:18] #813 closed

[2016-07-24 19:22] #1492 closed

[2016-07-25 13:02] fedde-s commented on #1535
I cannot reproduce the error in Tomcat 7.0.70 as packaged in https://hub.docker.com/_/tomcat/ , either under JDK 8u91 and JDK 7u101.

[2016-07-25 14:21] jjgao commented on #1535
That's strange. Maybe it's not related to tomcat 7. It worked on Heroku too, but did not on either our server or my Mac.

[2016-07-25 16:16] #1477 closed

[2016-07-25 18:00] JiaoJiao123 opened #1539 "Can't delete bar chart in the study view page"

[2016-07-26 02:51] schultzn opened #1541 "SVG of survival plot won't open in Illustrator"
This applies to the survival curve in query results.

error: The operation cannot complete because of an unknown error. [CANT].

This appears to be due to an Illustrator bug, but the solution can be found here:
https://github.com/CIRDLES/topsoil/issues/26

Replace sans-serif with Verdana in the SVG file and the file opens fine.

Can this be changed in the original SVG?

I am not sure if other SVG

[2016-07-26 09:01] fedde-s opened #1542 "Travis setup does not report python test failures"
Travis currently runs the validator tests by checking the return status of the following command:
[code]

And since the return status of an if block in `sh` is that of the last command executed (or 0 if the condition is false), the results of the tests themselves do not affect whether Travis gives a green light. This has already led to failing tests in the release candidate going unnoticed for two

[2016-07-26 09:27] fedde-s commented on #1542
I think the cleanest way to fix this is to [move this multi-command test to a separate shell script kept in the repo](https://docs.travis-ci.com/user/customizing-the-build/#Implementing-Complex-Build-Steps) and limit the steps checked by Travis to a single command each, but a quick-and-dirty solution would be to turn the body of the if statement into a single command using `&&`.

[2016-07-26 15:36] als2076 opened #1543 "File Formats | Data Clinical files | PATIENT_ID instead of Patient Identifier"
Hi,

This affects both the [data_clinical_patient.txt] (https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md#the-patient-file) and [data_clinical_sample.txt] (https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md#the-samples-file)

Should PATIENT_ID be Patient Identifier instead?

Thanks,
Alex

[2016-07-26 22:02] jjgao opened #1547 "Don't append "&show_samples=false&" if there is no ? after index.do"
when query a custom case list, the data are posted. The url returned will be appended with "&show_samples=false&".

http://www.cbioportal.org/index.do&show_samples=false&

[2016-07-27 03:17] adamabeshouse commented on #1547
The quickest non-hack fix which fixes this behavior to be somewhat more sensible is to make it become
`index.do?show_samples=false`
But that's a bit nonsensical in a way since that URL won't actually send you anywhere. So a bit more thinking would have to be done about how to decide when a session is URL-linkable and when it's not when deciding whether to modify the URL. What do you think?

[2016-07-27 03:20] adamabeshouse commented on #732
@jjgao Sorry none yet, but I'll get to it now.

How do I tell whether a mutation is a promoter mutation? It doesn't seem to be a mutation type in mutation_event (only 2 mutations with type `promoter`). Is it `Translation_Start_Site`?

[2016-07-27 03:50] jjgao opened #1549 "CNA data not loaded correctly"
http://www.cbioportal.org/study?id=prad_mskcc#summary

[2016-07-27 03:53] jjgao commented on #1547
@mandawilson if you add the session id in the url, will that solve the problem?

[2016-07-27 04:13] angelicaochoa commented on #1543
@als2076 PATIENT_ID is correct. I think what you're seeing on the file formats page is the metadata about the clinical attributes

[2016-07-27 08:37] #1341 closed

[2016-07-27 10:29] fendor commented on #1502
We tested the Characters by introducing a fake study with the valid an invalid characters.

Problems were searched in the Data Set Study overview or Oncoprint view.

 These Characters cause problems in either data set view or Oncoprint:

"/,"&'+<>"

These special Characters work for almost sure since the cBioPortal uses it itself:

"-.();_"

Adn these tested Characters worked and are most probably

[2016-07-27 11:33] mandawilson commented on #1547
Yes I solved it locally by making it: index.do?show_samples=false (I also left of the last & since it isn't needed).  There are two JavaScript methods called changeURLParam that have this issue.  In the versions that use the session service for bookmarking the URL will work.  I think the versions that do not use the session service for bookmarking should still switch to index.do?show_samples=false

[2016-07-27 14:31] jjgao commented on #1547
Thanks, @mandawilson.

[2016-07-27 14:32] jjgao commented on #794
duplicate with #1547

[2016-07-27 14:32] #794 closed

[2016-07-27 19:03] jjgao opened #1551 "germline label not showing on patient view"

[2016-07-27 19:06] #1551 closed

[2016-07-27 20:43] adamabeshouse commented on #1547
@mandawilson Just a friendly making-sure that the solution isn't hacky? :) i.e. that you modified changeURLParam to check if there's a `?` and insert one if not?

[2016-07-27 21:01] mandawilson commented on #1547
@adamabeshouse Yes I completely agree.

[2016-07-27 22:12] jjgao opened #1554 "Cancer Types Summary tab errors"
When some of the samples have no "Cancer Type Detailed", it throws an error.

[2016-07-28 02:00] adamabeshouse commented on #686
https://github.com/cBioPortal/cbioportal/pull/1533

[2016-07-28 02:00] #686 closed

[2016-07-28 20:07] priti88 opened #1556 "Tiny Bug in Oncoprint page"
Two small bugs:
1) 'Show all samples' button in Oncoprint page does not work.
2) Case Set description is missing a colon.

http://www.cbioportal.org/index.do?cancer_study_list=luad_tcga&cancer_study_id=luad_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=luad_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=luad_tcga_gistic&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_pr

[2016-07-28 21:15] adamabeshouse commented on #732
@jjgao @schultzn Where in the sort order should promoter mutations go? And should I add a `PROMOTER` command to OQL?

[2016-07-28 21:30] schultzn commented on #732
They could go right before missense variants. Would be nice to have in the OQL.

Thanks!

[2016-07-29 18:00] #1554 closed

[2016-07-29 20:57] zhx828 opened #1560 "Create a more generic proxy controller"
The current implementation has too many customizations. The proxy controller shouldn't include any customizations but a white list.

[2016-07-29 21:42] adamabeshouse commented on #732
https://github.com/cBioPortal/cbioportal/pull/1533

[2016-07-29 21:42] #732 closed

[2016-07-29 21:59] adamabeshouse commented on #1496
@schultzn I've never seen this before - what does this mean? Should it be removed?

![image](https://cloud.githubusercontent.com/assets/636232/17264577/e6cb1126-55b5-11e6-8b08-f8a12603dd02.png)

If so, then the only 2 discrepancies between documentation and implementation are:
- `CNA >= ...` is documented and not implemented
- `MUTATED` is documented as an allowed keyword, but implementation only

[2016-07-30 03:34] schultzn commented on #1496
Let’s discuss with JJ - this is OQL specific for RPPA protein data, and we should keep it.

N

[2016-08-01 13:30] fendor opened #1561 "Mouse over Gene tip code duplication"
When you view an sample you can see every gene that is present in the sample.
On Mouse Over genes display an link which directs to an description of the gene.
We wanted to alter this link, in the source code, there are three places where a similar link is defined.

I request that the code in [cna.jsp](https://github.com/cBioPortal/cbioportal/blob/master/portal/src/main/webapp/WEB-INF/jsp/patient_v

[2016-08-01 14:44] #1543 closed

[2016-08-01 19:41] ritikakundra opened #1563 "Relaxed processing of files by validator"
Validator currently fails if the clinical files don't have meta data in them.

The pipeline does that for us, so we are not manually adding them to our clinical files. On running the validator it always fails after the sample clinical file. Is there a way to make this a warning and allow it to finish the validation of all files.
![screen shot 2016-08-01 at 3 35 31 pm](https://cloud.githubuserconte

[2016-08-01 21:26] adamabeshouse commented on #1527
From implementation standpoint, it's quite simply doable.

[2016-08-01 21:53] adamabeshouse commented on #1556
https://github.com/cBioPortal/cbioportal/pull/1564

[2016-08-01 21:53] #1556 closed

[2016-08-01 21:56] adamabeshouse commented on #518
Closing because there is a general front-end refactoring effort and this will be done through that.

[2016-08-01 21:56] #518 closed

[2016-08-02 08:32] fendor commented on #1478
It seems the bug still or occurs again:

[cBioPortal](http://www.cbioportal.org/index.do?cancer_study_list=coadread_tcga_pub&cancer_study_id=coadread_tcga_pub&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=coadread_tcga_pub_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=coadread_tcga_pub_gistic&genetic_profile_ids_PROFILE_MRNA_EXPRESSION=coadread_tcga_pub_mrna_merged_median_Zscores&Z_

[2016-08-02 20:04] adamabeshouse commented on #1478
The fix hasn't been merged yet :)

[2016-08-03 08:48] fedde-s commented on #1563
The internal pipeline at MSKCC may do that, but to my knowledge the data loading pipeline included in cBioPortal itself does not, and files without this header are incomplete according to the [documention](https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md#clinical-data) on the file formats accepted by these data loading scripts.

The metadata in these headers are vital if t

[2016-08-03 08:50] fedde-s commented on #1563
None of our clients has currently expressed interest in spending money on this feature. @zheins, would you have time to implement it?

[2016-08-03 08:53] fedde-s commented on #1563
Or does the MSKCC pipeline eventually generate files that have these headers after all? In that case, the solution might be to simply validate those.

[2016-08-04 21:19] adamabeshouse commented on #1515
The data problem remains but https://github.com/cBioPortal/cbioportal/pull/1569 makes the UX issue moot by not displaying the case set description, which is what includes the sometimes erroneous sample count.

[2016-08-04 21:19] #1515 closed

[2016-08-05 16:02] n1zea144 commented on #1563
Hi @fedde-s As I understand it, the issue is that the validator should not "fast fail" during validation.  It's very tedious to run a dataset through the validator and have to address the issues one at a time.  I think it would be more efficient if the validator continued on validating other data files even if a previous file has failed a test.  Then the dataset curator can address the issues in b

[2016-08-05 16:22] fedde-s commented on #1563
@n1zea144: Yes, very much—in most cases it already does this. This one fast-fail (if none of the lines of the sample attribute file can be parsed because the header makes no sense), I originally built in because nearly *all* other files would be reported as using undefined samples otherwise. That led to a lot of confusion, as it made it unclear what the real issue was.

[2016-08-08 07:52] pieterlukasse commented on #1542
@fedde-s can this one be closed?

[2016-08-08 08:21] pieterlukasse commented on #1496
@adamabeshouse thanks for reviewing it! The PHOSPHO example you mentioned is probably a feature that just works via the `gene_alias` table and is not a OQL specific feature.

@awernibi can you confirm this list of issues or have you found more documentation issues?

[2016-08-08 08:32] pieterlukasse commented on #1527
comment on one of the comments @schultzn made "Keep in mind though that an OQL string could be very long - how do you plan to deal with those?"
- would it be an option to show up to a specific width and let the user click on a "..." button to display the complete filter if so desired? Or put a slider between both parts (the labels and the oncoprint) to make it resizable?

[2016-08-08 15:01] n1zea144 commented on #1563
Would it be hard to update the code so that it no longer fast-fails or at least becomes an option?  I can have @angelicaochoa work on this if you are too busy.

[2016-08-08 19:48] adamabeshouse commented on #1496
Ah ha, okay very good to know, thanks.

[2016-08-09 15:53] #1549 closed

[2016-08-09 18:13] jjgao opened #1576 "segment data missing for tcga provisional studies"

[2016-08-10 10:03] pieterlukasse opened #1577 "Mutated Genes table styling problem"
The column headers in the table shown in the tab `Mutated Genes` are not aligned with their respective columns. See http://www.cbioportal.org/study?id=brca_tcga#mutations

![image](https://cloud.githubusercontent.com/assets/2900303/17549811/5dca97d4-5ef2-11e6-9bd0-fc7042dc3311.png)

Notify: @zhx828

[2016-08-10 14:11] angelicaochoa commented on #1563
@n1zea144 @fedde-s I can probably get this done today

[2016-08-10 14:32] zheins commented on #1528
@zhx828 this is a bug in the ImportCaisesClinicalXML script. I'll take a look at it.

[2016-08-10 19:00] adamabeshouse commented on #1527
It's doable but it would be quite a bit of work.

[2016-08-11 20:29] jjgao opened #1586 "path report tab empty in Chrome if no pdf viewer installed"
It should display a message instead:

https://github.com/cBioPortal/cbioportal/blob/master/portal/src/main/webapp/WEB-INF/jsp/patient_view/path_report.jsp

![image](https://cloud.githubusercontent.com/assets/840895/17603782/bf9b0c70-5fe0-11e6-8043-378a26122997.png)

[2016-08-12 17:41] #1576 closed

[2016-08-12 19:05] schultzn opened #1592 "News page not loading"
![image](https://cloud.githubusercontent.com/assets/11892704/17633984/2353b63a-60c8-11e6-9ae0-4559cf553e55.png)

[2016-08-12 19:41] jjgao commented on #1592
working on that.

[2016-08-12 19:47] jjgao commented on #1592
fixed

[2016-08-12 19:47] #1592 closed

[2016-08-15 18:13] jjgao opened #1595 "support selection of profiles in Protein tab of Enrichments analysis"
Now we have both RPPA and mass spec data, we need to support selection of a protein level profile, similar to the mRNA tab.

[2016-08-16 14:30] jjgao opened #1597 "Categorize samples by mutated or not in plots tab"
Feature request from Andrew Cherniack:

"In the plot tab of cBio, it would be nice if on one axis you could categorical divide the tumors based on whether they had mutations in a given gene."

[2016-08-16 21:26] sheridancbio opened #1599 "Need to make Web API endpoint stability clear"
The stability / commitment of various Web Api endpoints is not clear. The question is how should we communicate the "status" of the Web Api endpoints in a way to allow users to distinguish stable and supported endpoints from those which are under development or subject to change without notice.

@jjgao has proposed three categories of stability:
1. public and stable : available functionality will

[2016-08-16 21:40] morungos commented on #1599
Hmmm, not sure about moving the URL as they get developed. That's essentially a form of versioning, and RESTful APIs don't usually recommend that (even though most everybody does it). In particular, you probably don't want the unstable ones to be known, you can just not tell anybody what you're doing there.

There's a nice set of discussions on this at: http://stackoverflow.com/questions/389169/be

[2016-08-16 23:39] inodb commented on #1599
Would be cool if we can find an article or API implementation where we see this type of stable/develop/unstable URLs. To me it seems like a decent solution, but it's worrying that I don't see anybody else proposing something similar.

I don't think migrating endpoints is a huge problem. Those in `/api-d/` will only be used by us and a `git grep '/api-d/'` on the code base should make it trivial to

[2016-08-17 02:31] ersinciftci commented on #1599
If we are going to use something like this as our API documentation: http://docs.cbioportal.apiary.io/, we can just not document it until it's stable. And if we deprecate something, we can mark it with **_(Deprecated)_** tag just like my current **_(Not Implemented Yet)_** tag. And about the versioning, I like this article https://www.troyhunt.com/your-api-versioning-is-wrong-which-is/, and I agre

[2016-08-17 08:59] pieterlukasse commented on #1498
I tried this on cbioportal.org now but could not reproduce it. Could you check again? If it still occurs, maybe add some more details like screenshots? Thanks.

[2016-08-17 09:26] pieterlukasse commented on #1498
I think this might have been fixed by #1482

[2016-08-17 13:34] ersinciftci commented on #1599
Githup API uses `Accept` header too https://developer.github.com/v3/#current-version.

[2016-08-17 14:58] inodb commented on #1599
I'm happy with versioning in `Accept` headers.

I'm not entirely sure how the REST API documentation/code is linked. I believe what @morungos and @ersinciftci  are proposing is: We use swagger to document the API, then generate the code for the API from the swagger yml, subsequently we add our own internal/development endpoints in the code. Front end developers know they have to look at the code t

[2016-08-17 16:07] ersinciftci commented on #1599
I propose we use swagger yaml to document the API that we intend to have, but don't generate code, generated code is always ugly, just implement it using Spring MVC (we can generate code and use it as a guidance). And we won't generate the API doc from the code like we were doing until now, we will just visualize the swagger yaml file (Either with apiary like http://docs.cbioportal.apiary.io/ or w

[2016-08-17 16:47] ersinciftci commented on #1599
Or we can make swagger-ui and swagger yaml file part of the .war file, and swagger-ui can read swagger yaml file and generate the view instead of annotations in the code. So documentation staging becomes part of cbioportal's staging, /beta/swagger-ui.html can show APIs in beta. And internal APIs simply won't be part of the swagger yaml.

[2016-08-17 18:17] n1zea144 commented on #1599
I think we should spend some time on Friday's call discussing some of these issues.  A related issue which we need to decide on soon is how to organize the Spring MVC code.  (if we do this, then that can inform where/how the documentation is generated).

We have a few new features under development here that require new endpoints (that have already been developed in the new tech stack) and we have

[2016-08-17 18:30] n1zea144 commented on #1599
To be clearer, I think having SpringFox document the public API via the Spring MVC package/location as part of the war/website deployment is the way to go.  I'm not so concerned about how we document the under development endpoints, but we have to decide where to place the code.

[2016-08-17 18:36] ersinciftci commented on #1599
I think we should organize the controller classes around the first word after `/api/`, like StudyController, SampleController etc. so classes can have `@RequestMapping("/studies")`, `@RequestMapping("/samples")` in the class level, so the methods don't need to repeat it. As for ApiController or other APIs independent from mini-moonshot, we better don't mix them with the mini-moonshot ones. So new

[2016-08-17 18:42] ersinciftci commented on #1599
If we are going to continue to use SpringFox annotation documentation way, I won't invest more time in https://github.com/cBioPortal/cbioportal-web-api-spec(which is already 700 lines) because it doesn't make sense to create this spec and then generate documentation from the code instead of this spec.

[2016-08-17 18:46] n1zea144 commented on #1599
..but we do need some way to discuss the spec without having to write MVC controllers.   Lets discuss  more on Friday.

[2016-08-17 18:51] ersinciftci commented on #1599
Exactly, and we can reuse that spec to create the same swagger-ui documentation instead of SpringFox annotations. ApiController looks ugly because of all those @ApiOperation and @ApiParam annotations. Yeah lets discuss more on Friday, I'm continuing investing time then :)

[2016-08-17 19:33] sheridancbio commented on #1599
Thanks for the good points. I think I also have come to the viewpoint that we should not try to use the API URL pattern to communicate what is essentially meta information about the api endpoints (Their stability and the degree we commit to maintaining them .. or the release version info) Moving endpoints from /api-d/ to /api/ does have some overhead for us --- and might mess up third parties too.

[2016-08-17 20:39] ersinciftci commented on #1599
Actually we can do something like this `.apis(not(withClassAnnotation(NotStable.class))` in our `ApiServiceSwaggerConfig` swagger configuration, so the methods annotated with our custom annotation `@NotStable` won't be in the swagger-ui, and remove the annotation when it's stable, instead of moving between packages.

And actually the spec I'm creating is good for mocking too even though if we are

[2016-08-17 20:55] ersinciftci commented on #1599
I agree @sheridancbio about not hiding anything actually. If something is not ready yet, it won't it make to master branch anyway, so it will be under `/beta/api/swagger-ui.html`, which is fine. And internal APIs are already in our open source repos, so we can't really hide. "Ye be warned" should be enough to keep people away if we want to.

[2016-08-18 03:15] ersinciftci commented on #1599
I thought more on this and I think if we are going to use SpringFox, instead of creating swagger yaml file to show people the API design and get feedback, I can just go ahead and create SpringMVC controllers with Swagger annotations, and methods would return [UnsupportedOperationException](https://docs.oracle.com/javase/8/docs/api/java/lang/UnsupportedOperationException.html) until we implement th

[2016-08-18 13:54] n1zea144 commented on #1599
Does swagger-yaml and SpringFox have to be mutually exclusive?  Is there something wrong with using apiary to discuss/develop api design and then during controller implementation, we mark up with  SpringFox annotations too?  Thats an extra level of sanity checking and really just part of the implementation.

[2016-08-18 19:38] ersinciftci commented on #1599
They are two alternative concepts, contract-first vs code-first, you either generate the code from the contract, or generate the contract from the code, if you create both of them manually, it takes more time and they can very easily go out of sync. Swagger-yaml is not a documentation markup language, you create a fully featured APIs with your models and controllers using yaml, instead of java, it

[2016-08-18 19:46] ersinciftci commented on #1599
Creating swagger-yaml and using `https://github.com/garethjevans/swagger-codegen-maven-plugin` to generate the Spring MVC controllers and domain models from yaml file is another option, but not as flexible as code-first approach, and generated code is kind of ugly.

[2016-08-18 20:35] n1zea144 opened #1605 "OneLogin SAML Test Connector (IdP) Configuration Image"
![onelogin-config](https://cloud.githubusercontent.com/assets/366003/17789818/ce5eb1c2-6561-11e6-9887-c373023e1acd.png)

[2016-08-18 20:37] #1605 closed

[2016-08-18 21:47] sheridancbio commented on #1599
Maybe we can talk about this question during the call tomorrow a little bit. I'll try to put together a summary document so we can be efficient.

One thought I have about UnsupportedOperationException ... I think that is fine for the stage where we are brainstorming API proposals ... effectively using springfox as a chalkboard for our API concepts (If I understand this correctly). But then there w

[2016-08-19 01:17] adamabeshouse commented on #1496
https://github.com/cBioPortal/cbioportal/issues/1496

[2016-08-19 01:17] #1496 closed

[2016-08-19 18:39] jjgao opened #1611 "add gene panel for metabric"

[2016-08-19 21:59] ChrisWakefield opened #1612 "Add tab on patient view to display heatmaps from MDACC compendium"
Issue per CONTRIBUTING.md.
Pull request coming.

[2016-08-19 22:01] ChrisWakefield opened #1613 "Add tab on STUDY view to display heatmaps from MDACC compendium"
Issue per CONTRIBUTING.md.
Pull request coming.

[2016-08-22 14:27] ersinciftci commented on #1599
I thought more on versioning, I think it depends if we are going to have different deployments for different versions, or the same war serves all the versions. If we are going to have multiple deployments, we can deploy them under different paths, like `/v1/` and `/v2/`, so `Accept` header doesn't make in this case, if we are going to serve all the versions from the same application, then `Accept`

[2016-08-23 02:09] zheins opened #1615 "Hugo_symbol not looked at in data_CNA.txt importing"
If both `Hugo_symbol` and `Entrez_Gene_Id` columns are present in CNA file, the hugo symbol is not used if the entrez gene Id cannot be found, causing the record to be skipped.

[2016-08-23 20:27] schultzn opened #1617 "Truncated sample IDs when downloading mutation data from tables"
Sample IDs in the tsv file are truncated the same way they are shown in the HTML table

![image](https://cloud.githubusercontent.com/assets/11892704/17908430/bedb5b56-6980-11e6-95c6-afc3af19ec08.png)

Sample ID	Cancer Study	AA change	Annotation	Type	Copy #	COSMIC	MS	VS	Mutation Assessor	Center	Chr	Start Pos	End Pos	Ref	Var	Allele Freq (T)	Allele Freq (N)	Var Ref	Var Alt	Norm Ref	Norm Alt	BAM	#Mut

[2016-08-25 10:26] fedde-s opened #1620 "Markup errors in ReadtheDocs documentation"
The markup on https://cbioportal.readthedocs.io/en/hotfix/File-Formats.html was written for GitHub, and copied to ReadtheDocs without adjustments in pull request #1546. This has caused several syntax elements to show up verbatim in the document rather than being typeset:
- [x] HTML escape sequences in the explanation of the `data_filename` fields of most metadata files
  ![screen shot 2016-08-25 a

[2016-08-25 10:52] fedde-s commented on #1620
@inodb, could you look at this?

[2016-08-25 12:10] fedde-s commented on #1535
Since @jjgao merged the pull request into the hotfix branch over a week ago and I have heard no further complaints, I will assume that the issue has been solved. If not, please do re-open it.

[2016-08-25 12:10] #1535 closed

[2016-08-25 16:31] ecerami opened #1621 "Order of mutations within the Mutations Tab"
Currently, if you enter a bunch of genes, e.g. NRAS EGFR KRAS, the OncoPrint respects the order of the genes, but the Mutations tab re-orders in alphabetical order.  The mutations tab should respect the same order.

(forwarding this request from Chris, and assigning to JJ for triage)

[2016-08-25 17:25] zhx828 opened #1622 "Bar chart outlier issues"
Please see screenshots. This is found in  http://www.cbioportal.org/study.do?cancer_study_id=hnsc_tcga#summary

![screen shot 2016-08-25 at 1 24 15 pm](https://cloud.githubusercontent.com/assets/5400599/17979177/561af994-6ac7-11e6-83b9-3ddf433192f8.png)
![screen shot 2016-08-25 at 1 24 18 pm](https://cloud.githubusercontent.com/assets/5400599/17979178/57e8826e-6ac7-11e6-8ae8-286cd15cea4c.png)
![sc

[2016-08-25 18:58] inodb opened #1623 "Timeline error for Specimen track w/o SPECIMEN_REFERENCE_NUMBER"
When there is a Specimen track on the patient view, but no `SPECIMEN_REFERENCE_NUMBER` an error occurs: `Uncaught TypeError: Cannot read property '1' of undefined`. See:

https://cbioportal.mskcc.org/case.do?cancer_study_id=brca_pdx_2016&case_id=0RR2HE

[2016-08-26 19:24] inodb opened #1626 "jsoptsimple OptionException in ImportCancerStudy"
When running:

[code]

on rc 58f74eb48a94c5b33a7029ecf9421ef72e354c37

[code]

[2016-08-29 08:18] sambrightman commented on #848
Could this be extended to the `metaImport.py` and `validateData.py`? It looks like a small number of `sys.exit(exitcode)` statements could be added to allow more easily checking import status programmatically. For example, one in `validateData.py` when running standalone and two in `metaImport.py` when there are errors or warnings with no override. I can submit a PR if you like.

[2016-08-29 08:38] sambrightman commented on #938
Perhaps related to path cleanup: Docker currently fails to find `log4j.properties` in `core/src/main/resources`, with the `CMD` copying it to `src/main/resources` instead.

[2016-08-29 12:10] pieterlukasse commented on #848
Hi @sambrightman , I believe this has been done already in `metaImport.py` for the scenario you mentioned. But maybe you can make a PR indeed to show the specific part of the code you mean.

[2016-08-29 14:34] schultzn opened #1627 "Sample selection on study view page: Duplicate IDs are not selected at all"
I noticed (for several searches) that a few cases were missing from the selected samples even though the sample IDs were correct and present in the study. After the fact I realized that there were some duplicate cases in my query. The cases that were missing were precisely those that were duplicated in the list— i.e., they were present twice in my list, but they weren’t returned at all.

Not sure

[2016-08-30 08:56] pieterlukasse commented on #1102
@jjgao @zheins I just heard from a client that this data is now also missing in cbioportal.org

[2016-08-30 09:21] sambrightman commented on #848
Sure, #1629 shows what I mean. Submitted against `rc`, which I think is what is expected (even though I'm actually having the problem in Docker, and would like to see it merged and rebuilt with such a change). Currently I get validation errors, shown on the console and in the HTML report, but exit code 0. My import scripts detects a successful import due to the 0 exit code.

[2016-08-30 11:29] pieterlukasse commented on #1102
Apparently these 2 queries would normally also return FUSION data:

http://www.cbioportal.org/beta/index.do?cancer_study_list=prad_tcga_pub&cancer_study_id=prad_tcga_pub&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=prad_tcga_pub_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=prad_tcga_pub_gistic&Z_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=prad_tcga_pub_cnaseq&case_ids=&patient

[2016-08-30 12:27] awernibi commented on #1561
Seems to be in line 130 in [cna.jsp](https://github.com/cBioPortal/cbioportal/blob/master/portal/src/main/webapp/WEB-INF/jsp/patient_view/cna.jsp)

In our local cBioPortal instance, we replaced the entire Entrez Gene Annotation with Ensembl 70.  After applying the suggested change, we had to modify the Link only on one spot. However, putting this URL into the settings in addition would be helpful.

[2016-08-30 14:44] zheins commented on #1102
First example: TMPRSS2 does not have any fusions in the data.

Second example: the study luad_tcga does not have fusion data. luad_tcga_pub does however and will correctly display the fusions if queried.

[2016-08-30 16:18] n1zea144 commented on #1102
Regarding curation of TCGA data,@zheins is correct.  Looks like fusion data was manually curated for the public study.  Fusion data is not generated from the Firehouse output.

[2016-08-31 08:26] pieterlukasse opened #1630 "Use rcsb.org new https service for 3D view"
rcsb.org recently started supporting https for their services. See http://www.rcsb.org/pdb/static.do?p=download/http/index.html

This means we can probably simplify and speed up the current implementation which is based on an internal proxy service for https (see #1434)

Notify:
@onursumer

[2016-08-31 09:05] pieterlukasse commented on #1102
@zheins does this mean that the following query should have fusion data:

http://www.cbioportal.org/index.do?cancer_study_list=luad_tcga_pub&cancer_study_id=luad_tcga_pub&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=luad_tcga_pub_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=luad_tcga_pub_gistic&genetic_profile_ids_PROFILE_MRNA_EXPRESSION=luad_tcga_pub_rna_seq_v2_mrna_median_Zscore

[2016-08-31 14:45] sheridancbio opened #1631 "some links are broken at readthedocs.io"
https://cbioportal.readthedocs.io/en/hotfix/Import-the-Seed-Database.html
There are two broken links on this page:
- the "downloads" link is broken : https://cbioportal.readthedocs.io/Downloads.html#seed-database
- the "follow the prebuild steps" is broken : https://cbioportal.readthedocs.io/Pre-Build-Steps.html#prepare_database

A test of all links on all pages would be a good idea.

[2016-09-01 15:18] zheins commented on #1102
@pieterlukasse Its not missing - fusion data only exists for ALK, RET, and ROS1 in `luad_tcga_pub`. We're working on revamping the way structural variants are expressed in the portal so that fusions will be easier to find.

http://www.cbioportal.org/index.do?cancer_study_list=luad_tcga_pub&cancer_study_id=luad_tcga_pub&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=luad_tcga_pub_mutations&genetic_p

[2016-09-01 16:19] inodb commented on #1631
Guess you could build the docs in Travis and add the nitpicky flag: http://stackoverflow.com/questions/14492743/have-sphinx-report-broken-links

[2016-09-01 19:24] yichaoS commented on #1349
? I couldn't reproduce this issue. May I have an URL with the false layout?

[2016-09-04 01:58] #1448 closed

[2016-09-04 02:00] #1338 closed

[2016-09-04 02:02] zhx828 commented on #769
This issue will be combined into new front-end refactoring.

[2016-09-04 02:02] #769 closed

[2016-09-04 02:02] zhx828 commented on #771
This issue will be combined into new front-end refactoring.

[2016-09-04 02:02] #771 closed

[2016-09-04 02:03] #850 closed

[2016-09-04 13:08] jjgao commented on #1349
http://bit.ly/2ckaHsL

[2016-09-06 10:10] fedde-s opened #1637 "Documentation refers to outdated, broken datasets only"
The documentation contains links to public datasets, on https://github.com/cBioPortal/cbioportal/blob/master/docs/Public-datasets.md .  These datasets seem to be outdated however, and do not follow the file formats required to load them into cBioPortal using the documented commands. I understand that correct, updated data is available on https://github.com/cBioPortal/datahub .  If that’s right, th

[2016-09-06 10:10] fedde-s commented on #1637
@zheins, could you take a look at this?

[2016-09-06 12:23] pieterlukasse commented on #1478
@adamabeshouse it still occurs on /beta:

http://www.cbioportal.org/beta/index.do?cancer_study_list=brca_tcga&cancer_study_id=brca_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=brca_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=brca_tcga_gistic&genetic_profile_ids_PROFILE_MRNA_EXPRESSION=brca_tcga_rna_seq_v2_mrna_median_Zscores&Z_SCORE_THRESHOLD=1&RPPA_SCORE_THRESHOLD=2.0&

[2016-09-06 12:30] pieterlukasse opened #1638 "IGV CNA lanes seem to be switched for TCGA data studies"
At least for this example in breast cancer:

http://www.cbioportal.org/beta/index.do?cancer_study_list=brca_tcga&cancer_study_id=brca_tcga&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=brca_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=brca_tcga_gistic&genetic_profile_ids_PROFILE_MRNA_EXPRESSION=brca_tcga_rna_seq_v2_mrna_median_Zscores&Z_SCORE_THRESHOLD=1&RPPA_SCORE_THRESHOLD=2

[2016-09-06 12:36] pieterlukasse opened #1639 "When portal contains only studies with only expression data, it will fail to display any"
When portal contains only studies with expression data, it will fail to display any. But in some use cases a client could initially want to load some studies that contain only expression data. This should also work.

@oplantalech : can you please add the details (the Java line) that was the cause for this?

[2016-09-06 12:53] pieterlukasse commented on #1102
@zheins I see it, thanks. Was the mentioning of  ERG, ETV1, ETV4, and FLI1 in your previous comment a typo? Or did these genes have some data in the past?

[2016-09-06 15:34] onursumer opened #1641 "Update PDB URI for 3D viewer"
Update PDB URI for the 3D viewer to use the new HTTPS service instead the internal proxy.

See https://github.com/cBioPortal/cbioportal/pull/1434 for the files need to be updated.

[2016-09-06 18:20] zheins commented on #1102
No, those are the genes with fusions in that study. I looked directly in the data_fusions.txt file for that study.

[2016-09-07 01:23] kalletlak opened #1645 "Web API returning null "show_profile_in_analysis_tab" value for all profiles and for all studies"
Example : http://www.cbioportal.org/api/geneticprofiles?study_id=brca_tcga

[2016-09-07 15:55] inodb commented on #1620
@fedde-s Sorry didn't see this message. I don't have much time to look into this at the moment.

There are some non-trivial things issues listed. The table & the level 5 header problems are related to the recommonmark parser for sphinx not implementing the full set of markdown features (e.g. the tables). I've seen a few projects move over to recommonmark over sphinx: https://recommonmark.readthedo

[2016-09-07 16:30] fedde-s commented on #1620
@inodb I see, thanks for the info! As I understand the documentation, the way to include tables with the Markdown dialect used by recommonmark is using [HTML blocks](http://spec.commonmark.org/0.26/#html-blocks). And the problem with that particular level 5 header is probably this requirement in [the paragraph on ATX headings](http://spec.commonmark.org/0.26/#atx-headings): “The opening sequence o

[2016-09-07 16:41] fedde-s commented on #1620
And it seems like
<table>
  <tr>
    <td>
        Those HTML block-based tables
    </td>
    <td>
        work
    </td>
  </tr>
  <tr>
    <td>
        on GitHub
    </td>
    <td>
        as well.
    </td>
  </tr>
</table>

[2016-09-07 18:02] inodb commented on #1620
@fedde-s Nice find! Do you think you have time to update this?

[2016-09-07 18:52] sheridancbio opened #1646 "frontend selection of mutation genetic profiles may need improvements"
Originally, this issue was a bug report about unpopulated mutation lists in the results page.

The bugs have been fixed, but there is still possible ambiguity about which genetic profile should be used for frontend visualization (such as the mutationmapper) when there are more than one mutation profile to choose from.

----------------------------------------------
Below Here Is The Original Bug R

[2016-09-07 19:04] chenh4 opened #1647 "Data loading issue on Plots page"
http://dashi-dev.cbio.mskcc.org:28080/triage/index.do?http://dashi-dev.cbio.mskcc.org:28080/triage/index.do?cancer_study_list=blca_cmo_06155_2016&cancer_study_id=blca_cmo_06155_2016&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=blca_cmo_06155_2016_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=blca_cmo_06155_2016_cna&data_priority=0&case_set_id=blca_cmo_06155_2016_cnaseq&case_ids=&pa

[2016-09-07 19:19] n1zea144 commented on #1646
I'm seeing this in the logs:
2016-09-07 15:17:38 [ajp-bio-28009-exec-2905] ERROR org.mskcc.cbio.portal.util.MutationDataUtils - Could not parse OMA URL:  Invalid host: [Not Available]

[2016-09-07 19:22] #1617 closed

[2016-09-08 10:21] pieterlukasse opened #1649 "Simplify installation by using maven repository for mysql JDBC library installation"
I think we should use this maven option
https://mvnrepository.com/artifact/mysql/mysql-connector-java
instead of the extra step now found at
https://github.com/cBioPortal/cbioportal/blob/master/docs/Deploying.md#add-the-mysql-jdbc-driver-to-apache-tomcat

Notify:
@morungos @inodb @ecerami

[2016-09-08 10:38] fedde-s commented on #1631
Some more adjustments that should be resolved before moving to directing people to readthedocs.io as the main source of documentation are listed in PR #1620.

[2016-09-08 12:18] #1417 closed

[2016-09-08 12:18] pieterlukasse commented on #1417
moved to https://github.com/cBioPortal/datahub/issues/5

[2016-09-08 21:21] cccsander opened #1652 "3D structure viewer not coming up in some cases"
Example: GATA3

http://www.cbioportal.org/cross_cancer.do?cancer_study_list=&cancer_study_id=all&data_priority=0&case_ids=&patient_case_select=sample&gene_set_choice=user-defined-list&gene_list=KRAS+EGFR+GATA3&clinical_param_selection=null&tab_index=tab_visualize&Action=Submit&Action=Submit#crosscancer/overview/0/KRAS%20EGFR%20GATA3/skcm_tcga%2Cuvm_tcga

[2016-09-08 21:23] cccsander commented on #1652
@jjgao @onursumer

[2016-09-08 21:35] onursumer commented on #1652
This seems to be related to #1379.
Fixed by #1540, but the code is not merged/released yet.

[2016-09-09 19:41] kalletlak opened #1655 "Error with the new web api"
http://www.cbioportal.org/api-design/api/studies?study_ids=hnsc_tcga

<img width="1678" alt="screen shot 2016-09-09 at 3 42 16 pm" src="https://cloud.githubusercontent.com/assets/12956870/18400471/0a6b5744-76a4-11e6-8139-918cb5bc08a9.png">

[2016-09-12 10:12] AndyBlake opened #1658 "on Plots Mutations are always "Not Mutated" on private instance"
Running 1.2.4 - mutations work everywhere except on the Plots page. The mutations.json data object looks to have the same data as a request on cbioportal that differentiates mutations but the plots always just say "Not mutated" Any ideas where to start looking ?

note: no java or javascript error is thrown

here an example bit of data from mutation.json data

aminoAcidChange:null
cancerStudy:"Priv

[2016-09-12 14:42] inodb opened #1659 "Set fixed width, height for chrome E2E test to make local work"
Currently E2E test is failing locally (works on Travis CI), because the screenshot size is 1px bigger on Travis than locally. We could try to specify the width and height to selenium to get around this issue:

http://yizeng.me/2014/02/23/how-to-get-window-size-resize-or-maximize-window-using-selenium-webdriver/

[2016-09-12 19:21] yichaoS opened #1661 "multi study survival curve incorrect"
![screen shot 2016-09-12 at 3 17 54 pm](https://cloud.githubusercontent.com/assets/5973438/18449231/69033362-78fc-11e6-808b-f549615c2df8.png)

studyCasesMap['chol_nus_2012']={};
studyCasesMap['lgg_ucsf_2014']={};

[2016-09-12 19:21] #1661 closed

[2016-09-12 21:46] zhx828 opened #1663 "Some samples are not included in any of sample lists"
One example, in our cgds_public database, sample TCGA-06-0165-01(INTERNAL_ID: 84140) is not listed under list 'gbm_tcga_pub_all' (LIST_ID: 855) which the one study view is using to get the list of  all samples.  In this study, we actually have around 500 samples but only 206 of them have been included under 'gbm_tcga_pub_all' list.

The sample link: http://www.cbioportal.org/case.do?cancer_study_i

[2016-09-12 23:07] schultzn opened #1666 "URL shorteners don't work on cross-cancer query. URL too long?"
Here is a single gene cross-cancer query:

http://www.cbioportal.org/cross_cancer.do?cancer_study_list=&cancer_study_id=all&data_priority=0&case_ids=&patient_case_select=sample&gene_set_choice=user-defined-list&gene_list=MFSD1&clinical_param_selection=null&tab_index=tab_visualize&Action=Submit&Action=Submit#crosscancer/overview/0/MFSD1/hnc_mskcc_2016%2Csarc_mskcc%2Csarc_tcga%2Cthyroid_mskcc_2016%2

[2016-09-13 14:14] kalletlak commented on #1655
Closing this because the PR related to this is still open.

[2016-09-13 14:14] #1655 closed

[2016-09-13 18:51] zhx828 commented on #1539
Postponed. This will be solved once iViz merged

[2016-09-14 13:33] JiaoJiao123 commented on #1539
ok sounds good.

[2016-09-14 14:12] #1541 closed

[2016-09-14 14:13] #1349 closed

[2016-09-14 14:17] #978 closed

[2016-09-14 14:40] pieterlukasse commented on #1160
@jjgao we checked this in more detail now. Gencode data has some strange stuff in it like: SNORA31 actually "has exons" in virtually every chromosome...and ends up with a total length of 3000 if we consider all of these, while in Entrez it is reported to have 1 exon and a length of ~80.... (see http://www.ncbi.nlm.nih.gov/gene/677814). Here are SNORA31 exons according to Gencode:
[code]

Similar p

[2016-09-14 14:44] pieterlukasse commented on #1160
I think we just need to check if the chromosome matches and then take the first "block" of exons. Most gene lengths should be correct in this case. And then issue the warnings like above for non-subsequent exons.

[2016-09-14 22:34] schultzn opened #1668 "Remove redundant TCGA projects from the tumor type map"
Is there an easy way to not show the redundant TCGA projects in this plot? We could remove all published TCGA projects and only keep provisional?

That would make the plot much more useful. Btw, I just came up with the name Tennis Court Plot for it.

![image](https://cloud.githubusercontent.com/assets/11892704/18532402/dbdd8ffa-7aa9-11e6-89bf-8ca72b48b751.png)

[2016-09-15 02:28] jjgao commented on #1668
Tennis Court Plot IT IS! :)

We can definitely write some code show provisional studies only. There were also some discussion in RFC 26 to completely replace this plot.

[2016-09-15 17:24] jjgao opened #1669 "Make sign out button configurable"
Logging out is currently not working on the msk instance. We would need a way to disable/remove the `Sign out` link.

![image](https://cloud.githubusercontent.com/assets/840895/18559879/48226f6c-7b47-11e6-90c4-affa80eb0417.png)

One way to do it is to make the whole block (email + Sign out link) configurable through portal.properties.

[2016-09-15 19:33] adamabeshouse commented on #1133
I need a bit of consultation on what the visualization should show. In the above example, the annotations are mutually exclusive, so a stacked bar plot makes sense. What should we show in our case where various alteration types could occur on the same sample?

[2016-09-15 19:34] chenh4 opened #1671 "'NA' in Entrez_Gene_Id in CNA data causing gene removal"
In data_CNA.txt, if a gene has Hugo_Symbol but 'NA' in Entrez_Gene_Id col, this gene will be removed from the CNA mutation section for all samples (to be specific, the ones w/ CNAs ) on the cBioPortal. Leaving it blank in Entrez_Gene_Id is fine; the gene will go in.

[2016-09-16 20:03] sheridancbio commented on #1646
I have continued looking into this. I have just queried genes TP53 and AKT1 across all provisional studies plus 3-4 additional high-sample studies from breast cancer. Out of 34 studies queried, 15 failed to show mutations which were visible on the oncoprint after opening the mutations tab ... instead reporting  "There are no TP53 mutations in the selected samples." for example. Affected tudy ids:

[2016-09-16 20:14] sheridancbio commented on #1646
Following up on the comment from @n1zea144, I went to the public-portal-beta.log and there were bunches of similar errors from the one that he found. Example:
2016-09-16 15:41:18 [ajp-bio-28009-exec-1462] ERROR org.mskcc.cbio.portal.util.MutationDataUtils - Could not parse OMA URL:  Invalid host: [Not Available]
I'm not familiar with the OMA server, looking into it. Clearly this is a factor for so

[2016-09-16 20:26] sheridancbio commented on #1646
core/src/main/java/org/mskcc/cbio/portal/util/OmaLinkUtil.java
and
core/src/main/java/org/mskcc/cbio/portal/util/MutationDataUtils.java
are the relevant code. This does seem related to the clickable links to mutationassessor.org which come from our expanded MAF tables. years ago the domain "getma.org" expired and code was written to dynamically rewrite these links as "mutationassessor.org" which w

[2016-09-16 20:48] sheridancbio commented on #1646
Ok, I think I have it ... the code in MutationDataUtils.java checks for the value "NA" and hardcodes an "NA" into the link response which is then not displayed. But I am guessing that we switched away from using "NA" in our database at some point ... I remember a discussion that there was a gene named "NA" (ENSG00000047597  ?) as one reason to switch away. So the "[Not Available]" string is actual

[2016-09-16 21:03] jjgao commented on #1160
@pieterlukasse We can actually get the chromosome location for each gene from cytoband. Maybe we should use that to select exons?

[2016-09-16 21:04] #1623 closed

[2016-09-16 21:12] sheridancbio commented on #1646
Confirmed .. in the latest version of cgds_public on dashi, the link fields in mutation_event for mutation assessor contain the string "[Not Available]" for 101404 rows out of 2496234 total. In my local copy of cgds_public from a couple months ago, there are no such entries. Any query which constructs a link to omaRedirect.do? on one of these mutations will throw a MalformedURLException with the c

[2016-09-16 21:38] sheridancbio commented on #1646
One good example test case is mutation TP53 L194R .. this mutation event is marked "[Not Available]" in the mutation event record links, but is present in the following profiles:
brca_tcga_mutations
gbm_tcga_mutations
hnsc_tcga_mutations
lgg_tcga_mutations
lihc_tcga_mutations
luad_tcga_mutations
ov_tcga_mutations
sarc_tcga_mutations
thym_tcga_mutations

[2016-09-16 21:56] #862 closed

[2016-09-17 16:06] zhx828 commented on #1627
This issue should be solved in https://github.com/cBioPortal/cbioportal/pull/1405

[2016-09-17 16:07] zhx828 commented on #1539
This issue should be solved in https://github.com/cBioPortal/cbioportal/pull/1405

[2016-09-17 16:08] zhx828 commented on #1060
This issue should be solved in https://github.com/cBioPortal/cbioportal/pull/1405

[2016-09-17 16:08] zhx828 commented on #1269
This issue should be solved in https://github.com/cBioPortal/cbioportal/pull/1405

[2016-09-17 16:08] #1350 closed

[2016-09-17 16:09] zhx828 commented on #976
This issue should be solved in https://github.com/cBioPortal/cbioportal/pull/1405

[2016-09-17 16:12] zhx828 commented on #870
This issue should be solved in https://github.com/cBioPortal/cbioportal/pull/1405
The header layout has been updated in here https://github.com/cBioPortal/iViz/pull/274/commits/3ef5522d0785c56175790e991987d47815628d7d

[2016-09-17 16:14] zhx828 commented on #915
This issue should be solved in https://github.com/cBioPortal/cbioportal/pull/1405

[2016-09-17 16:14] #915 closed

[2016-09-17 16:15] #1627 closed

[2016-09-17 16:15] #1539 closed

[2016-09-17 16:15] #1269 closed

[2016-09-17 16:16] #1060 closed

[2016-09-17 16:16] #859 closed

[2016-09-17 16:20] zhx828 commented on #567
This issue should be solved in https://github.com/cBioPortal/cbioportal/pull/1405

[2016-09-17 16:20] #567 closed

[2016-09-17 16:21] zhx828 commented on #561
@j-hudecek what do you think? Any updates on this issue?

[2016-09-17 16:27] zhx828 commented on #296
This issue should be solved in https://github.com/cBioPortal/cbioportal/pull/1405

[2016-09-17 16:27] #296 closed

[2016-09-17 16:27] #870 closed

[2016-09-17 16:28] zhx828 commented on #1342
This issue should be solved in https://github.com/cBioPortal/cbioportal/pull/1405

[2016-09-17 16:28] #1342 closed

[2016-09-17 16:28] #976 closed

[2016-09-19 07:09] j-hudecek commented on #561
My point was that since it's a popup there isn't a limit on how big the table should be. You can't really rely on being able to see anything else because it can be placed in any position in relation to the original pie chart. It's hardcoded to width 300. Is it possible to make it grow with the text to say max-width 500?

[2016-09-19 09:04] fedde-s commented on #1671
Indeed, I believe this is the convention we initially agreed on. Using `NA` to indicate that no gene information is available may lead to confusion (and incorrect loading and display of the data), as NA is a valid gene symbol: http://www.genenames.org/cgi-bin/gene_symbol_report?hgnc_id=HGNC:12811

[2016-09-19 09:09] fedde-s commented on #1671
This also applies to expression data and methylation data. RPPA data has a special case that says NA means that no gene symbol is available though, if I remember correctly this was necessary to load Firehose data.

[2016-09-19 11:26] pieterlukasse commented on #701
@zhx828 no, this branch was never continued. So CNA table is still quite slow.

[2016-09-19 11:59] fedde-s commented on #1671
Should we document this more clearly in File-Formats.md or do you propose to change the convention?

[2016-09-19 18:25] jjgao commented on #1133
@adamabeshouse good question. Maybe showing the histogram with one color is enough.

[2016-09-19 18:28] jjgao opened #1680 "Thumbnail and vertical zooming and scrolling of OncoPrint"
In order to support many genes (eg 400) we need to support vertical zooming and scrolling. We also need a thumbnail / overview.

[2016-09-19 19:10] adamabeshouse commented on #1133
@jjgao just one color: number of altered samples?

[2016-09-19 19:41] jjgao commented on #1133
@adamabeshouse yes, keep it simple for the first round.

[2016-09-19 19:57] jjgao opened #1681 "support priority studies in the query interface"
Currently we have hard code mskimpact for priority category. We need to make it into properties file.

e.g.

[code]

[2016-09-20 15:43] inodb opened #1685 "No default for sessions.service.url in GlobalProperties.java"
There is no default for sessions.service.url in `GlobalProperties.java` which causes the portal to crash on current rc.

This should in the future be caught in review process:

https://github.com/cBioPortal/cbioportal/blob/hotfix/CONTRIBUTING.md#devops

[code]

[2016-09-20 16:52] hxrts opened #1688 "error when viewing all breast cancer METABRIC samples"
the following query gives an error: [cbio portal link](https://cbioportal.mskcc.org/study?id=brca_metabric)

[2016-09-20 17:15] sheridancbio commented on #1646
Additional searching shows that there are three "non-link" values to handle from the current databases we are using: "NA", "[Not Available]", and ""

mysql> select link_pdb, count(1) from mutation_event where link_pdb not like '%pdb%' group by link_pdb;
+-----------------+----------+
| link_pdb        | count(1) |
+-----------------+----------+
|                 |      346 |
| NA              |  1

[2016-09-20 21:39] inodb commented on #1688
Fixed

[2016-09-20 21:39] #1688 closed

[2016-09-20 22:57] zhx828 opened #1692 "OncoKB evidence call"
evidence API call should include LEVEL_2B and LEVEL_3B

[2016-09-21 13:44] fedde-s commented on #1214
Validation for the presence of the case list `<study_id>_all` has been implemented in the referenced pull request and released as part of v1.2.5. @pieterlukasse, does that solve your issue?

[2016-09-21 14:08] fedde-s commented on #1249
As of v1.2.5, the validator will report an error if values contain commas, additional `p.` prefixes, or allele syntaxes, as implemented by the pull request that referenced this issue. @pieterlukasse, can the issue be closed now?

[2016-09-21 14:11] fedde-s commented on #1375
The images have been restored and updated as of v1.2.5, as implemented by the pull request that referenced this issue. @priti88, can this be closed?

[2016-09-21 14:50] fedde-s commented on #1637
This has been solved by pull request #1650.

[2016-09-21 14:50] #1637 closed

[2016-09-21 16:20] sandertan opened #1693 ""rppa" instead of "mass spec" naming"
Hi,

I found that on several locations, the word "rppa" is used instead of "mass spec" when browsing through mass spec data:
- [ ] 1. In the Oncoprint tab, when hovering above a sample
- [ ] 2. in the Enrichment tab, the title of the table says Phosphoprotein / Protein expression (RPPA)

Kind regards,
Sander

[2016-09-21 16:24] sandertan opened #1694 "Absent "Mass spec"-column under Datasets"
Hi,

Now that it's possible to load mass spectrometry data, it would be nice if there would be a column under "Datasets" to easily see which studies contain samples with this data.

Kind regards,
Sander

[2016-09-21 16:30] sandertan opened #1695 "Absent Select Patient/Case Set of "Tumor samples with Mass spec data""
Hi,

On the Query page, when Protein Levels (Mass spectrometry) is selected under Select Genomic Profiles, there is no "Tumor samples with Mass Spec data" under Select Patient/Case Set.

For example, this applies when using the dataset: Breast Invasive Carcinoma, TCGA, provisional.

Kind regards,
Sander

[2016-09-22 00:42] sheridancbio opened #1699 "chromosome of gene may be both X and Y"
During the development of a Gene Repository and Api, a function for resolving the chromosome of a gene based on the filed CYTOBAND in table gene was needed. Most genes can be resolved to one of the numbered chromosomes or to X or to Y. But there are a handful of genes which are present on both X and Y chromosomes.

For now, we are going to report these genes as on "X". This will be used initially

[2016-09-22 00:43] sheridancbio commented on #1699
linked PR is #1665
mysql> select * from gene where cytoband like "%;%" and TYPE="protein-coding";
+----------------+------------------+----------------+------------------+--------+
| ENTREZ_GENE_ID | HUGO_GENE_SYMBOL | TYPE | CYTOBAND | LENGTH |
+----------------+------------------+----------------+------------------+--------+
| 286530 | P2RY8 | protein-coding | Xp22.33; Yp11.3 | 4459 |
| 6473 | S

[2016-09-22 16:46] pieterlukasse commented on #1249
@fedde-s I like the solution in the PR and the extra information you added 👍

One point that we could work on before closing this is to update the documentation regarding this.
- Does the documentation clearly state how this field should be filled?
- Can we add something about whether it is possible to add multiple AA changes for 1 mutation (e.g. using multiple lines of the MAF, one per AA change)

[2016-09-22 16:49] pieterlukasse commented on #1375
they even have a nice 3D effect to them now  👍 I'll close it. @priti88 feel free to reopen if you disagree.

[2016-09-22 16:49] #1375 closed

[2016-09-23 13:34] fedde-s opened #1702 "File-Formats.md unclear on representing missing values"
Since the dataset validation script was added, we agreed on how to represent missing/inapplicable values in the various file types. Most of these agreements have barely or not been documented in `File-Formats.md`: the only specifications I could find is that missing measurements in Expression data files (and continuous CNA and Methylation, which use the same format) are represented by the string `

[2016-09-23 13:37] fedde-s commented on #1702
I think this can make generating data files very frustrating, and it is likely the cause of multiple other reported issues such as #1671

[2016-09-23 18:48] adufilie opened #1704 "Query page: "Select Genes from Recurrent CNAs (Gistic)" overwrites entire gene set"
Clicking "Select Genes" in the Gistic interface will overwrite the entire gene set selection. This is different from the behavior of the "Select" button in the MutSig interface, where it will keep the selected genes from both interfaces.
<img width="633" alt="screenshot_1" src="https://cloud.githubusercontent.com/assets/676445/18797737/498e056c-819d-11e6-9f9c-cc06f9d0b1bb.png">

[2016-09-23 20:05] n1zea144 commented on #1479
Now that we are starting to define the new URL/web service calls via the "mini-moonshot" effort, we are starting up conversations with our GSoC student to help define a secured web service - but we are awhile off from having something implemented.

The issue you raise was a bug in our security configuration, but I thought that was fixed.  Can you give me an example URL where this is happening?

Fo

[2016-09-23 20:56] kalletlak commented on #1479
Thanks for the information. Those security configurations works. The issue is regarding authorization of studies via web api's.

Consider a case where we have a secured instance and a user has access to limited number of studies. When he access that application he would only query only studies he is authorized to. But when using web api's the study level authorization is not working. Example when

[2016-09-26 14:23] jjgao commented on #1681
@adamabeshouse could you prioritize this? It'd be great if we can put it out in this release (v1.3.0). Thanks!

[2016-09-26 15:45] schultzn opened #1711 "Beta-Portal: Mutations tab not showing mutations"
![image](https://cloud.githubusercontent.com/assets/11892704/18841137/bc1c47a4-83de-11e6-8379-abc067746cf2.png)

http://bit.ly/2d3HRzJ

[2016-09-26 15:46] schultzn opened #1712 "Beta-Portal: IGV should load data when a user switches to a different chromosome"
IGV should load data when a user switches to a different chromosome

[2016-09-26 15:48] schultzn opened #1713 "Beta: Remove truncating mutations only when OncoKB is not selected"
In the new OncoPrint filter, filters should only remove truncating mutations when the OncoKB filter is turned on (prior knowledge). When only recurrence filters are used, truncating mutations should still be shown.

![image](https://cloud.githubusercontent.com/assets/11892704/18841214/0112e7d2-83df-11e6-8d7a-b451285db202.png)

[2016-09-26 15:49] schultzn opened #1714 "Beta: Spacing at top of study view looks funny"
![image](https://cloud.githubusercontent.com/assets/11892704/18841293/3b378526-83df-11e6-9977-3c31f928d754.png)

[2016-09-26 15:50] schultzn opened #1715 "Beta: Study view download button needs a tooltip"
It also seems confusing that the sample and patient count light up when hovering over the download button

![image](https://cloud.githubusercontent.com/assets/11892704/18841336/5df7292c-83df-11e6-8bd5-a364389e90de.png)

[2016-09-26 15:51] schultzn opened #1716 "Beta: Selecting mutated samples in the study view does not seem to work"
![image](https://cloud.githubusercontent.com/assets/11892704/18841377/88a2064c-83df-11e6-90a1-ef826d078030.png)

[2016-09-26 16:01] kalletlak opened #1717 "Exception trace in the web api for invalid requests"
![screen shot 2016-09-26 at 11 58 37 am](https://cloud.githubusercontent.com/assets/12956870/18841723/a6d3809a-83e0-11e6-9db7-fcfde51f3932.png)

[2016-09-26 18:12] sheridancbio commented on #1685
This issue was addressed in #1687
In the future we want to consolidate our configuration approach, probably moving away from a static custom/home-spun GlobalConfigurations java class.

[2016-09-26 18:12] #1685 closed

[2016-09-26 19:53] n1zea144 commented on #1479
Yeah, seems as though there is no AccessControl reference in the ApiController class.

[2016-09-26 21:57] adamabeshouse commented on #1681
https://github.com/cBioPortal/cbioportal/pull/1718

[2016-09-26 21:57] #1681 closed

[2016-09-27 14:59] jjgao commented on #1715
@zhx828 let's remove the dotted line and clickable from both and add a browse icon before download for viewing patients.

[2016-09-27 15:01] jjgao commented on #1716
@schultzn That's one of the change we made -- you have to click on the "Select" button on the botton-right of the table.

[2016-09-27 16:00] schultzn commented on #1716
Maybe make that button red or orange when it shows up? That was not intuitive for me. Maybe also Rename to “Select Samples”.

[2016-09-27 19:46] n1zea144 commented on #1479
@kalletlak @sheridancbio and I assessed the scope of fixing these issues.  Without getting into too much detail, to properly secure the SpringMVC controller that supports the endpoint you provided as an example (basically, anything under /api/*), touches upon a dependency relationship in our maven module/java package structure that needs to be resolved.  Its something we've wanted to do and we wil