[2018-01-15 18:43] #3719 closed

[2018-01-15 18:51] jjgao commented on #3717
Let's change header to "Disease/Progression-Free Kaplan-Meier Estimate" and the "Number of Cases, Relapsed" column to "Number of Cases, Relapsed/Progressed"

[2018-01-15 21:08] jjgao commented on #3714
@onursumer what's the actionable items here for the next step? and who?

[2018-01-15 21:12] jjgao commented on #3716
@inodb We could also save the URLs per sample/patient in the database. We would like to attach files per patient, maybe it's better to do it there?

[2018-01-15 21:16] inodb commented on #3716
@jjgao yes that sounds good. We can maybe get rid of pathology report tab and instead use the files tab.

[2018-01-15 21:28] jjgao commented on #3351
`includeNonMutated` sounds good 👍  I am not sure if we should default it to `false` or `true`. Any thoughts?

`isSequenced` and `isWildtype` seem intuitive.

[2018-01-15 21:37] jjgao commented on #3725
@linkmonica could you please send your question to cbioportal@googlegroups.com? Thanks.

[2018-01-15 21:37] #3725 closed

[2018-01-16 01:49] schultzn opened #3733 "Left / right slider in new OncoPrint is hidden"
I am having trouble with the left right slider in the new oncoprint. In Chrome, I don't see it, in Firefox I see it but I can't use it.. so I can only scroll left right via the trackpad (2 finger slide)...

http://bit.ly/2DyDhV7

[2018-01-16 09:30] fedde-s commented on #1249
Does @sandertan know whether the questions asked [above](https://github.com/cBioPortal/cbioportal/issues/1249#issuecomment-248960284) can be answered by now, if any data curator wonders about them?

[2018-01-16 14:23] jjgao opened #3734 "couldn't find bootstrap files error"
when opening mutations tab.

![image](https://user-images.githubusercontent.com/840895/34993523-971474a8-fa9e-11e7-8771-43a7109b9502.png)

[2018-01-16 15:31] ersinciftci opened #3736 "Upgrade Springfox version"
Springfox finally released a new version https://github.com/springfox/springfox/releases/tag/2.8.0, they upgraded swagger-ui to version 3 (means we can have better API documentation https://github.com/cBioPortal/cbioportal/issues/2968#issuecomment-329235320) and possibly fixed setting optional/required fields by annotation problem in https://github.com/cBioPortal/cbioportal/issues/2948. So I'll tr

[2018-01-16 16:51] onursumer commented on #3709
I think a visual feedback, something like showing a tooltip saying "Copied!" , is not a bad idea.

[2018-01-16 17:16] n1zea144 commented on #3724
Hi Alex,  Pieter

Alex, I know we had a brief email exchange about this.  I want to add those notes and recruit @pieterlukasse on this issue as he may be able to shed light on the situation.  @pieterlukasse I know that the MSK version of the SAML code was "public" for some time.  In that file we automatically added users to the database after a successful authentication.  That specific code was dr

[2018-01-16 18:11] onursumer commented on #3713
@jjgao I already improved copy button functionality. I'll soon open a PR addressing bunch of copy/download issues.

[2018-01-16 19:33] #3630 closed

[2018-01-16 19:35] #3609 closed

[2018-01-16 20:26] adamabeshouse commented on #3728
For value=>attribute name, should it be the same in case of multiple values? where currently we write "values: Glioma, ... "

[2018-01-16 22:23] adamabeshouse opened #3738 "Oncoprint is reclustering too much"
Steps to reproduce:

http://www.cbioportal.org/beta/index.do?tab_index=tab_visualize&cancer_study_list=coadread_tcga_pub&cancer_study_id=coadread_tcga_pub&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=coadread_tcga_pub_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=coadread_tcga_pub_gistic&Z_SCORE_THRESHOLD=2.0&case_set_id=coadread_tcga_pub_nonhypermut&case_ids=&gene_list=KRAS%20NRAS

[2018-01-17 00:57] adamabeshouse commented on #3733
@alisman any ideas?

[2018-01-17 01:00] adamabeshouse commented on #3738
https://github.com/cBioPortal/cbioportal-frontend/pull/897

[2018-01-17 01:01] adamabeshouse opened #3740 "Oncoprint alteration tracks cannot be sorted by heatmap"
See https://github.com/cbioportal/cbioportal-frontend/issues/887

[2018-01-17 10:22] fedde-s commented on #3740
Right, this would have been a better place for me to report it since it affects the functionality that users of the project as a whole experience. Will consider that in the future.

[2018-01-17 13:33] messersc opened #3741 "Patient view stuck loading"
Hi,

I am having a strange issue and I am not sure how to even debug it. The problem seems to be either related to portal version >= 1.9.0 or database version 2.4.0, because previously it worked fine. The problem persists with all versions between 1.9.0 and 1.11.x that I have tested.

#### Problem:

When clicking on a patient, the table with mutations/CNVs never loads with our study, it's just stu

[2018-01-17 16:21] #3563 closed

[2018-01-17 16:26] #3399 closed

[2018-01-17 16:29] #3689 closed

[2018-01-17 16:30] #3701 closed

[2018-01-17 16:41] inodb opened #3742 "Add a timeout when pulling hotspot into oncoprint"
Show OncoPrint without hotspot info if it takes too much time to get the data

[2018-01-17 16:42] alisman opened #3743 "Review error handling/timeout for external services"

[2018-01-17 18:20] #3717 closed

[2018-01-17 18:20] #3654 closed

[2018-01-17 18:20] #3680 closed

[2018-01-17 18:20] #3629 closed

[2018-01-17 18:21] #3498 closed

[2018-01-17 18:21] #3618 closed

[2018-01-17 18:21] #3622 closed

[2018-01-17 18:21] #3623 closed

[2018-01-17 18:21] #3583 closed

[2018-01-17 18:21] #3572 closed

[2018-01-17 18:21] #3571 closed

[2018-01-17 18:21] #3525 closed

[2018-01-17 18:21] #3201 closed

[2018-01-17 18:21] #3569 closed

[2018-01-17 18:21] #3530 closed

[2018-01-17 19:22] adamabeshouse commented on #3740
@fedde-s this just happens to be where we track all issues, no particular logic to it :) yes, in the future an issue here with the `refactoring` tag is how we've been doing it

[2018-01-17 19:47] ecerami opened #3744 "OQL w/ expression data is broken"
Reported by two users.

OQL w/ expression data is broken.

For example, try:  CCNE1: EXP > 3

Ethan

[2018-01-17 20:34] #3350 closed

[2018-01-17 20:34] #3100 closed

[2018-01-17 20:34] #3540 closed

[2018-01-17 20:34] #3684 closed

[2018-01-17 21:18] adamabeshouse opened #3746 "Hotspots request should time out"

[2018-01-17 21:26] jjgao opened #3747 "study view "Selected cases by ID" change"
- [x] no prefilled case list
- [x] add a link "selected sample/patient" to fill the selected IDs.

[2018-01-17 21:31] jjgao opened #3748 "issue when reset all after selecting cases by IDs"
![](https://media.giphy.com/media/3o752bUJoovkU6eGAM/giphy.gif)

[2018-01-17 21:39] jjgao opened #3749 "survival plot tweaks"
- [ ] reduce the size
- [ ] use black for axis

[2018-01-17 22:48] adamabeshouse opened #3750 "mismatch between OQL-specified EXP/PROT thresholds and ones in query form"
![image](https://user-images.githubusercontent.com/636232/35071401-8b7f5b24-fbae-11e7-86cc-d94fdf072365.png)

[2018-01-17 23:10] jjgao commented on #3728
@adamabeshouse yes, please combine them.

[2018-01-17 23:18] jjgao commented on #3741
@messersc It might be another case list issue. Do you have a mutations data but no _sequenced case list?

[2018-01-17 23:18] jjgao commented on #3713
closing this one.

[2018-01-17 23:18] #3713 closed

[2018-01-17 23:38] #3744 closed

[2018-01-18 03:52] #3620 closed

[2018-01-18 03:52] #3518 closed

[2018-01-18 09:52] messersc commented on #3741
Hi @jjgao,

thank you for getting back to me so swiftly. We do have mutations data, but the `stable_id` ends on `_sequenced` for `all_cases_with_mutation_data.txt`.

I was studying https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md#clinical-data and it appears there were some major changes made 2 months ago by @sandertan, although I am not sure how closely the documentation

[2018-01-18 10:28] sandertan commented on #3741
The new query page required specific case list names for selection of the default case list. I've added that to the documentation in https://github.com/cBioPortal/cbioportal/pull/3467/files#diff-fc80633ba06596c0353416ca1e72a3caL779

I also added some case list stable ids and categories that were not documented. Pieter reviewed it, but it might still contain a bug. @jjgao, perhaps you could check t

[2018-01-18 14:30] jjgao commented on #3750
@adamabeshouse maybe we can find a way to support one-side threshold in the query form?

[2018-01-18 14:35] jjgao commented on #3750
Maybe we can have three options in a dropdown: `|EXP|>`, `EXP>`, `EXP<`? Using `|EXP|>` by default. Use 2 as threshold for both `|EXP|>` and `EXP>` by default, and -2 for `EXP<`. Similarly for `PROT`.

This will remove one of the main use cases for using OQL.

@schultzn comments?

[2018-01-18 16:37] inodb opened #3752 "OQL Parsing error when querying two studies"
http://www.cbioportal.org/index.do?cancer_study_id=all&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=all&gene_list=BRCA1%2520BRCA2&geneset_list=+&tab_index=tab_visualize&Action=Submit&cancer_study_list=msk_impact_2017%2Ccellline_ccle_broad

The page stays blank, console shows:
[code]

[2018-01-18 19:59] inodb commented on #3752
deployed

[2018-01-18 19:59] #3752 closed

[2018-01-18 20:57] zhx828 opened #3754 "OncoKB feedback button is not working if there are too many navCaseIds"
The feedback will prefill the form. I think because the url is too long, google form crashed.
![screen shot 2018-01-18 at 2 35 29 pm](https://user-images.githubusercontent.com/5400599/35121008-f78d6bf8-fc67-11e7-9c9e-6b6d3cf12df1.png)

[2018-01-18 22:31] adamabeshouse commented on #3698
duplicate, added to #3728

[2018-01-18 23:05] ersinciftci opened #3756 "See if there is a way we can use readOnly in MyBatis cache"
Application performance might possibly benefit using this property, but it causes some problems in security module. We need to find the reason and try to fix.

[2018-01-19 12:55] ecerami opened #3758 "Oncoprint is not sorting - CRITICAL"
In new release, OncoPrint is no longer sorting correctly.

See:  http://www.cbioportal.org/index.do?case_set_id=gbm_tcga_pub_sequenced&tab_index=tab_visualize&Action=Submit&genetic_profile_ids=gbm_tcga_pub_mutations&genetic_profile_ids=gbm_tcga_pub_cna_rae&case_ids=&Z_SCORE_THRESHOLD=1.0&cancer_study_list=gbm_tcga_pub&cancer_study_id=gbm_tcga_pub&gene_list=TP53+MDM2+MDM4&gene_set_choice=user-defin

[2018-01-19 13:12] ecerami opened #3759 "Plots tab is not loading -- CRITICAL"
Plots table is not loading.

Go to:  http://www.cbioportal.org/index.do?cancer_study_id=gbm_tcga&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=gbm_tcga_cnaseq&gene_list=EGFR%2520MDM2%2520MDM4&geneset_list=+&tab_index=tab_visualize&Action=Submit&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=gbm_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=gbm_tcga_g

[2018-01-19 13:21] ecerami opened #3760 "Download Tab is not loading -- CRTICAL"
Download tab is not loading any data.

Go to:  http://www.cbioportal.org/index.do?cancer_study_id=gbm_tcga&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=gbm_tcga_cnaseq&gene_list=EGFR%2520MDM2%2520MDM4&geneset_list=+&tab_index=tab_visualize&Action=Submit&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=gbm_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=

[2018-01-19 13:23] ecerami opened #3761 "The Click to Download Link is no longer enabled -- CRITICAL"
The "Click to Download" link is no loner enabled.

Go to:  http://www.cbioportal.org/index.do?cancer_study_id=gbm_tcga&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=gbm_tcga_cnaseq&gene_list=EGFR%2520MDM2%2520MDM4&geneset_list=+&tab_index=tab_visualize&Action=Submit&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=gbm_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER

[2018-01-19 13:23] jjgao commented on #3758
I think we need a e2e test on this.

It's also report here about the cause of the issue. @adamabeshouse

[2018-01-19 13:42] sandertan commented on #1249
Good point, I'm busy with an update regarding documentation on the cBio MAF format and can add some more info regarding this field.

https://github.com/cBioPortal/cbioportal/compare/master...thehyve:docu_maf_format if you're curious, not ready for review though.

[2018-01-19 17:13] tmazor opened #3763 "cross cancer expression plot: y-axis has formatting issues in pdf"
Y-axis label is too high and gets cut-off and numbers are over the line rather than to the left of it. SVG looks good, it's just the PDF.

http://www.cbioportal.org/index.do?session_id=5a62028e498eb8b3d563de6b&show_samples=false&clinicallist=CANCER_STUDY&

![image](https://user-images.githubusercontent.com/10508276/35162665-1742199e-fd12-11e7-86cc-8ebda5573349.png)

[2018-01-19 17:20] tmazor opened #3764 "cross cancer expression plot: not all studies are selected by default"
Go here:
http://www.cbioportal.org/index.do?session_id=5a62028e498eb8b3d563de6b&show_samples=false&clinicallist=CANCER_STUDY&

Click over to Expression tab.
Click on "Select Studies"
Esophageal Carcinoma & Stomach Adenocarcinoma aren't selected

![image](https://user-images.githubusercontent.com/10508276/35162933-04896e64-fd13-11e7-8202-a91d01a82cd0.png)

[2018-01-19 17:25] tmazor opened #3765 "cross cancer expression plot - y-axis doesn't adjust to different data"
When I change the Profile to "RNA Seq" (as opposed to "RNA Seq V2"), the y-axis label should update and remove "V2" but it doesn't:
![image](https://user-images.githubusercontent.com/10508276/35163153-c783e62e-fd13-11e7-8dae-7b2bc02bde74.png)

http://www.cbioportal.org/index.do?session_id=5a62028e498eb8b3d563de6b&show_samples=false&clinicallist=CANCER_STUDY&#

[2018-01-19 18:26] tmazor opened #3767 "mutations tab legend uses two fonts"
The legend for the lollipop plot uses two fonts.
"Mutation types and corresponding color codes are as follows:"  and the lists of mutation types (e.g. "Nonsense, Nonstop...") are in a different font than the rest of the text.

All of this text should be in the same font.

![image](https://user-images.githubusercontent.com/10508276/35165358-121df578-fd1c-11e7-9940-58483c442ca7.png)

[2018-01-19 19:20] adamabeshouse commented on #3758
This would have been caught quickly by e2e

I made a mistake remembering how oncoprint sorting works. The oncoprint uses sort comparators defined for each track, combines their results to determine the final sort. For each track, there are two tiers of comparator: preferred, and mandatory - preferred determines an ordering between each column that will prevail if none of the below tracks desire a

[2018-01-22 03:39] jjgao opened #3769 "new oncoprint: clinical attribute in the url"
Previously, we put the attribute_id in the url, but in the new code we put the index. I think we should revert to attribute_id because the list of attributes will change over time, especially for project such as mskimpact.

[2018-01-22 14:13] sandertan commented on #3691
I improved the documentation on creating a MAF file. @jjgao perhaps you could take a look? https://github.com/cBioPortal/cbioportal/pull/3770

[2018-01-22 17:22] inodb opened #3771 "Clean up QueryStore props (selectedStudyIds/allSeletedStudyIds/asyncCustomCaseSet)"
It's not super clear that `selectedStudyIds` can be undefined when the selectable studies haven't been queried yet. We also have `allSelectedStudyIds` that gives the unfiltered list. Would be good to refactor this.

See : https://github.com/cBioPortal/cbioportal-frontend/pull/902

[2018-01-22 19:21] adamabeshouse opened #3772 "Use oncokb for oncoprint hotspot data"

[2018-01-22 19:21] adamabeshouse commented on #3746
replaced by https://github.com/cBioPortal/cbioportal/issues/3772

[2018-01-22 19:21] #3746 closed

[2018-01-22 20:17] jjgao commented on #3764
@tmazor this was by design. The Stomach data is very different from other data and will screw the plot for most of genes. We should probably add a warning.

[2018-01-22 20:37] #3649 closed

[2018-01-22 20:46] jjgao commented on #3769
@adamabeshouse I see. Mabye we can have "more meaningful" attribute_id for these special attributes too? e.g. fraction_genome_altered, mutation_count, mutation_spectrum?

[2018-01-22 20:50] inodb opened #3774 "TCGA Breast in internal portal differs from public"
Getting 76% mutated TP53 in private TCGA breast provisional:

https://cbioportal.mskcc.org/index.do?session_id=5a3c2b98498eb8b3d56289dd&show_samples=false&

VS

63% in public portal for same set of sample:

http://www.cbioportal.org/index.do?session_id=5a3bfced498eb8b3d5628729&show_samples=false&

Case list:

[code]

[2018-01-22 21:34] adamabeshouse commented on #3769
sure that makes sense, I'll use snake-case of their display name

[2018-01-22 22:07] adamabeshouse opened #3775 "handle oncokb timeout in oncoprint"

[2018-01-23 00:31] adamabeshouse opened #3776 "'Cluster heatmap' button should be un-clickable"
Instead of disabling when the target heatmap group is clustered, it should appear as "pressed", and be possible to "unpress it", the same way it was possible before with a checkbox.

[2018-01-23 00:56] #3446 closed

[2018-01-23 15:37] jjgao opened #3777 "Add a restore button when delete a virtual study"
similar to what Github has when deleting a branch.

![](https://media.giphy.com/media/3ohc19SUg4xGPsB0QM/giphy.gif)

Once the page is refreshed, the deleted virtual studies will be gone.

[2018-01-23 15:42] jjgao opened #3778 "creating virtual study: move share and save into the same dialog"
- [x] we need a virtual study icon
- [x] use the virtual study icon to replace the save and share icon
- [x] replace the save button with the save and share icons in the virtual study creation form
- [x] have a default virtual study name "Combined study"

[2018-01-23 17:32] angelicaochoa opened #3779 "Render methylation heatmaps on OncoPrint view"
We'd like to be able to render methylation profiles as a heatmap in the OncoPrint.

Genetic alteration type = `METHYLATION`

[Here](https://i.imgur.com/Us21WiF.png), I have changed the genetic alteration type of my methylation dataset to `MRNA_EXPRESSION` so that the OncoPrint can recognize it as a genetic profile that can be rendered as a heatmap as a POC. A changeable range parameter or setting

[2018-01-23 20:05] kalletlak opened #3782 "Validator scripts are not checking for case insensitivity of sample and patient ids"
For example, if I have a study with sample ABC1 and abc1 then are those considered as different samples. But mysql select queries are case insensitive and this would throw errors while querying.

[2018-01-23 22:28] adamabeshouse opened #3784 "UI issue with "Remove Heatmap" button in oncoprint"
![image](https://user-images.githubusercontent.com/636232/35304162-8e01cb58-0062-11e8-8a15-9215fa99c002.png)

the behavior of the "remove heatmap" button is very strange to me - it removes all heatmaps tracks, not just those of the profile that's selected. That's fine with me, except that it's sandwiched between buttons that only apply to the profile selected in the dropdown: add genes, and cluste

[2018-01-23 22:35] adamabeshouse commented on #3682
is there any conceivable reason for this? I dont understand why we would ever have done this.

Was there a time when oncokb only applied to missense/inframe, and so we had it like that for consistency?

[2018-01-24 13:56] jjgao opened #3785 "Querying all studies failed in mutations tab"
http://www.cbioportal.org/index.do?session_id=5a688e67498eb8b3d56434e4

![image](https://user-images.githubusercontent.com/840895/35335513-d2166bc4-00e3-11e8-8bec-a30c1f74d367.png)

Is this data issue? If yes, please let @ritikakundra know.

It should not fail the whole tab for a data problem in one study. Can we still display the data but maybe also show some warning message?

[2018-01-24 14:54] inodb commented on #3785
@jjgao it seems to work now?

[2018-01-24 14:58] inodb commented on #3785
@jjgao ah ok this about mutations tab

[2018-01-24 15:01] inodb commented on #3785
@adamabeshouse @alisman this also doesn't work in beta: http://www.cbioportal.org/beta/index.do?session_id=5a688e67498eb8b3d56434e4&show_samples=false&clinicallist=CANCER_STUDY&

[2018-01-24 15:11] alisman commented on #3785
@ino the issue above is fixed by existing PR from last night.

[2018-01-24 15:43] inodb commented on #3785
Seems that there is something wrong with that particular session. If I regenerate the session and query "SPOP KRAS" on all studies it works fine:

http://www.cbioportal.org/index.do?session_id=5a68a8a0498eb8b3d5643748&show_samples=false&clinicallist=CANCER_STUDY&

[2018-01-24 15:48] #3785 closed

[2018-01-24 17:03] alisman opened #3787 "Oncoprint fails when mutation has no annotation (because hotspot is missing)"
http://www.cbioportal.org/beta/index.do?cancer_study_id=acc_tcga&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=acc_tcga_3way_complete&gene_list=SOX9%2520RAN%2520TNK2%2520EP300%2520PXN%2520NCOA2%2520AR%2520NRIP1%2520NCOR1%2520NCOR2&geneset_list=+&tab_index=tab_visualize&Action=Submit&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=acc_tcga_mutations&genetic_profile_ids_PR

[2018-01-24 17:10] alisman opened #3788 "Write test to cover issues in PR 917"
https://github.com/cBioPortal/cbioportal-frontend/pull/917

Lets cover these with screenshot test

[2018-01-24 20:09] inodb opened #3789 "Splice Site Hotspots not shown in mutations table"
We are working on moving this to genome nexus, but just logging this to show splice sites aren't showing up as hotspots.

http://www.cbioportal.org/index.do?session_id=595d61a7498e5df2e2921610&show_samples=false&
MET X1010_splice is a hotspot, but not shown in mutations table
![screen shot 2018-01-24 at 3 05 39 pm](https://user-images.githubusercontent.com/1334004/35354599-789700b0-0118-11e8-875e-

[2018-01-25 16:36] jjgao commented on #3704
Another user request: https://mail.google.com/mail/u/0/#inbox/1612b3d2452ff58d

[2018-01-25 16:37] jjgao commented on #3704
@ersinciftci maybe you can prioritize this one since two users asked in a row? Assuming it's easy.

[2018-01-25 16:37] jjgao commented on #3704
... and an additional column of q-value too: https://github.com/cBioPortal/cbioportal/issues/2981

[2018-01-25 18:37] schultzn opened #3791 "New beta: FGA number in the tooltip should be truncated"
Two significant numbers is enough here..

Should this be changed in the database maybe?

![image](https://user-images.githubusercontent.com/11892704/35405639-cb3f074c-01d4-11e8-8e92-f06c16673b1e.png)

[2018-01-25 18:40] schultzn opened #3792 "New beta: OncoPrint sample order - downloaded text file does not match order"
The OncoPrint sample order in the downloaded text file does not match the order that is shown. I tried this for the first example link:

http://www.cbioportal.org/beta/index.do?tab_index=tab_visualize&cancer_study_list=coadread_tcga_pub&cancer_study_id=coadread_tcga_pub&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=coadread_tcga_pub_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=coad

[2018-01-25 18:42] alexbaras commented on #3724
Hey guys, any updates on this?

Sorry to bug you on this, but I need to figure out if this is something we need to add back in internally in our instance as I don't want to have to manually be entering users into the user table

Thanks

[2018-01-25 18:43] schultzn commented on #3792
never mind - I think I made a mistake

[2018-01-25 18:43] #3792 closed

[2018-01-25 19:50] ersinciftci commented on #3387
@jjgao So what kind of an endpoint is needed for this?

[2018-01-25 19:52] jjgao commented on #3387
@ersinciftci have you done a cross-study gene panel end point already?

[2018-01-25 19:52] ersinciftci commented on #3387
@jjgao yes, `/gene-panel-data/fetch`, so I think this is done?

[2018-01-25 21:00] schultzn opened #3794 "Cross-cancer expression tab does not properly parse gene symbols"
http://www.cbioportal.org/beta/index.do?cancer_study_id=all&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=all&gene_list=PIK3CA%253A%2520MUT%250APTEN%253A%2520HOMDEL%2520MUT&geneset_list=%20&tab_index=tab_visualize&Action=Submit&cancer_study_list=laml_tcga%2Cacc_tcga%2Cblca_tcga%2Clgg_tcga%2Cbrca_tcga%2Ccesc_tcga%2Cchol_tcga%2Ccoadread_tcga%2Cesca_tcga%2Cgbm_tcga%2Chnsc_tcg

[2018-01-25 21:08] adamabeshouse commented on #3787
fixed by https://github.com/cBioPortal/cbioportal-frontend/pull/917

[2018-01-25 21:08] #3787 closed

[2018-01-25 21:34] adamabeshouse opened #3795 "backend OQL legacy bugs"
(1) In QueryBuilder.java, in the download data section, geneList is used assuming its just a plain, space- or newline-separated list of genes.

(2) In visualize.jsp, the calculation `if(geneList.length <=1) { computeLogOddsRatio = false; }` has been wrong since GENE_LIST started including OQL.

[2018-01-25 22:10] jjgao commented on #3774
The private portal is not up to date for the tcga provisional studies.

[2018-01-26 03:04] zhx828 opened #3800 "Chart order is different in Chrome and Firefox"
The current 1.10.3 branch, two study view screenshots have different chart order.

[2018-01-26 10:20] sandertan opened #3802 "UnitProtKB in Mutation tab: Retrieved from database or MyGeneInfo?"
@jjgao I noticed when entering an incorrect UniProtKB accession in my data in the SWISSPROT-column (for which the validator fails), this value is imported and saved in the database in the ONCOTATOR_UNIPROT_ACCESSION column. However, when if I query the gene, the UniProtKB name is correctly displayed in the Mutation Tab. This name is retrieved by first querying MyGene.info with the Entrez gene ID t

[2018-01-26 15:16] inodb opened #3803 "Make Public Session Service"
- [ ] Upgrade http://session-service.herokuapp.com/ to hobby project on heroku
- [ ] Point session.cbioportal.org to the heroku instance
- [ ] Add documentation to the `.EXAMPLE` indicating with comment one can use that session service.
- [ ] Add documentation to deployment that one can use public session service

[2018-01-26 15:35] zhx828 opened #3804 "Include instance id in the VS session"
Do not allow the user to share VS sessions across instances. When saving the VS, save the location.host as the instance id. Allow sharing across subdomain, but not other domains.

[2018-01-26 15:35] inodb opened #3805 "Session Service Improvements"
Ideas for improving session service (let's discuss):

For storage:
- Hash query, so one can use the same hash if the query is exactly the same

For user research:
- Last access information per session
- Store number of times accessed

For multiple instances using the same session service:
- Store instance address

[2018-01-26 15:57] adamabeshouse opened #3806 "make oncoprint sorting tests stable"
.. so we can not skip them

[2018-01-26 16:32] tmazor opened #3807 "beta - cancer types summary - gene order isn't maintained"
The first three genes in my query are: KRAS HRAS BRAF but the order on the Cancer Types Summary tab is different:
![image](https://user-images.githubusercontent.com/10508276/35449910-60b4f00e-028c-11e8-9f05-1a2c15d30344.png)

http://www.cbioportal.org/beta/index.do?cancer_study_id=all&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=all&gene_list=KRAS%2520HRAS%2520BRAF%2520RA

[2018-01-26 16:44] tmazor opened #3808 "co-expression tab gene tab control button is too big"
When running a query with many genes, the button to move right to the next set of gene tabs is much too big. This is a problem on both beta & production.

![image](https://user-images.githubusercontent.com/10508276/35450472-2ba9f1c8-028e-11e8-9bc5-188b41820b07.png)
http://www.cbioportal.org/index.do?session_id=5a6b5a82498eb8b3d564628d&show_samples=false&

![image](https://user-images.githubusercon

[2018-01-26 17:08] tmazor opened #3809 "improve "no data" message on enrichments tab when a datatype cannot perform analysis"
This is a problem on production.

If I run a query with this line of OQL
DATATYPES: MUT AMP GAIN HOMDEL HETLOSS EXP>1 EXP<-1
then the enrichments tab mRNA & protein tabs don't load:
![image](https://user-images.githubusercontent.com/10508276/35451165-4b96f984-0290-11e8-8310-bdc3dea2e533.png)
![image](https://user-images.githubusercontent.com/10508276/35451167-4fd9256c-0290-11e8-8244-f2553d3df6da.p

[2018-01-26 17:10] adamabeshouse commented on #3788
https://github.com/alisman/cbioportal-frontend/pull/10

[2018-01-26 17:11] #3758 closed

[2018-01-26 17:11] #3740 closed

[2018-01-26 17:12] #3738 closed

[2018-01-26 17:12] #3728 closed

[2018-01-26 17:13] #3113 closed

[2018-01-26 17:14] adamabeshouse commented on #3046
is there still a performance problem or can we close this?

[2018-01-26 17:18] tmazor commented on #3809
just realized this may have to do with the fact that my query is so expansive that 282/283 samples are altered. if so, maybe we can make the "no data" message more descriptive?

[2018-01-26 17:44] zhx828 commented on #3046
@adamabeshouse I think after the last optimization, it should be good enough to close the ticket. I have the filter based on field specified in the request worked out in the upcoming release of OncoKB. I will open another ticket to use that feature.

[2018-01-26 18:50] fedde-s commented on #3740
Do you mean a fix had been released, @adamabeshouse?

[2018-01-26 18:52] adamabeshouse commented on #3740
yes, its deployed in /beta and will be generally available soon

[2018-01-26 19:04] #3772 closed

[2018-01-26 20:03] #3400 closed

[2018-01-26 20:50] jjgao commented on #3387
I would consider this done. @zhx828 ?

[2018-01-26 20:55] jjgao commented on #3795
Hopeful @onursumer will solve the first one when Download tab is refactored.

For the second, maybe we can turn on/off the Mutex tab in frontend?

I really look forward to retire QueryBuilder and all JSPs!!

[2018-01-26 20:57] jjgao commented on #3789
I think we made some decision to annotate hotspots for missense and inframe only. Right, @onursumer ?

[2018-01-26 21:01] adamabeshouse commented on #3791
no problem, and what about other floating-point tracks, eg heatmaps?

[2018-01-26 21:03] jjgao commented on #3724
@alexbaras could you please follow up by email since that would be more efficient. It would also be good to cc cbioportal@googlegroups.com.

[2018-01-26 21:03] #3724 closed

[2018-01-26 21:10] jjgao commented on #3803
@inodb second thought: maybe we can just use https://session-service.herokuapp.com/. It's nice that it's already on https.

[2018-01-26 21:26] jjgao commented on #3805
@mandawilson or maybe these meta information for user research can be saved in another collection?

[2018-01-26 21:27] jjgao opened #3813 "Virtual-study json: add base url"
It may be necessary to add the base url into the virtual study json format so that we know which portal instance the virtual study was created in.

One issue we try to solve is that a user may have access to multiple portal instances. When we load the list of virtual studies in the query page, only the ones created in the same portal instance should be displayed.

But if a user has a virtual study

[2018-01-26 21:39] jjgao commented on #3804
duplicate with #3813

[2018-01-26 21:39] #3804 closed

[2018-01-26 21:49] jjgao commented on #3802
@sandertan I don't think we are using ONCOTATOR_UNIPROT_ACCESSION  anymore. @onursumer can you confirm?

We are in the middle to switching to GenomeNexus. @inodb @onursumer maybe we should use GenomeNexus instead of MyGene.info?

[2018-01-26 21:49] jjgao commented on #3808
Let's fix that when we refactor this page.

[2018-01-26 21:51] zhx828 commented on #3813
@jjgao we currently have a field in the session called `source` which is served as similar purpose. But I thought originally you want to show all VS under same domain? If you create VS under cbioportal.org/beta, you can visualize that in cbioportal.org, but not cbioportal.mskcc.org

[2018-01-26 22:09] jjgao commented on #3682
@adamabeshouse I vaguely remember oncokb only applied to missense (maybe also inframe) long time ago.

[2018-01-26 22:10] jjgao commented on #3784
@adamabeshouse I think we should add a section header to each heatmap including the profile name. And remove heatmap will option should be added there.

[2018-01-26 22:20] #3046 closed

[2018-01-26 22:23] jjgao commented on #3813
@zhx828 source would be good enough. I only want to see the list of virtual studies created in the same instance. Are we doing that?

[2018-01-26 22:24] zhx828 commented on #3813
Yes, we are doing that now. @karthik please comment if I’m Wong
On Fri, Jan 26, 2018 at 5:23 PM JianJiong Gao <notifications@github.com>
wrote:

[2018-01-26 22:25] jjgao commented on #3813
Ok. I am closing this as long as we are querying vitual study by both user email / id and source.

[2018-01-26 22:25] #3813 closed

[2018-01-26 22:30] jjgao opened #3815 "missing hotspot annotation for non-oncokb genes"
Because we are now pulling cancer hotspots info from OncoKB (see https://github.com/cBioPortal/cbioportal/issues/3772) and OncoKB API only returns results for OncoKB genes, we are missing annotation for genes that are in cancerhotspot.org but not included in OncoKB.

The proposed solution will be to use the genomenexus cancerhotspots endpoint.

[2018-01-26 22:37] jjgao opened #3816 "BETA: downloads tab is very slow when query multiple studies"
Maybe we should add a loading icon before we have it properly refactored?

[2018-01-26 22:42] #3706 closed

[2018-01-26 22:53] jjgao opened #3817 "Jumping tooltip of oncokb"
http://www.cbioportal.org/beta/index.do?session_id=5a6bb141498eb8b3d5646891

![](https://media.giphy.com/media/l1KcPrtyfBRKlhuEg/giphy.gif)

[2018-01-26 23:13] jjgao commented on #3513
test here: http://kk-cbioportal.herokuapp.com/

[2018-01-26 23:17] kalletlak opened #3818 "Select Patient/Case Set doesn't change when changing Molecular profile when Modifying Query"
![11](https://user-images.githubusercontent.com/12956870/35464666-209cae24-02c5-11e8-8132-2483dae36ac2.gif)

[2018-01-26 23:20] kalletlak opened #3819 "Should we reset selected parameters when "Cancel Modify Query" clicked in query page?"

[2018-01-26 23:25] onursumer commented on #3802
@jjgao @sandertan we are not using `ONCOTATOR_UNIPROT_ACCESSION` anymore in the mutations tab. As @sandertan pointed out, we query external services.

[2018-01-27 03:29] schultzn commented on #3791
It probably applies to all of them…

[2018-01-27 15:37] inodb opened #3820 "Loading Indicator Enrichments Tab"
the Enrichments tab is missing an indicator that it is loading data … for big cohorts, it looks like it does not load at all

[2018-01-29 12:46] serverhorror commented on #14
How's it going with this? Any fix yet?

[2018-01-29 13:04] serverhorror opened #3821 "Docker Image can't be configured"
The docker image is missing a sensible default when trying to run the image.

Currently the `${CATALINA_HOME}/conf/context.xml` is "empty" in the sense that there are no settings at all present that would allow cBioportal to run out of the box.

I'd suggest to have the following there:

[code]

And use `env CATALINA_OPTS="-Dcbioportal_username=cbioportal -Dcbioportal_password=supersecure -Dcbiopor

[2018-01-29 13:06] serverhorror opened #3822 "Docker recompiles on every start"
The current docker image recompiles all of cBioportal on every `docker run ....`.

It would be a lot more useful to use a multi-stage build and **only** have the resulting WAR file in a stripped down tomcat image (plus any required libraries that are not delivered in the application, like the MySQL lib)

[2018-01-29 15:07] tmazor commented on #2996
This feature has also been requested by a user: https://groups.google.com/forum/#!topic/cbioportal/th84YhygjFQ

[2018-01-29 15:59] mandawilson commented on #3805
@inodb @jjgao The session id is already reused if the data being stored is unchanged.  Also the "source" inserted into the URL is meant to indicate which instance of the cBio Portal is inserting the data (e.g. "public", "private", "testing", whatever).  See [https://github.com/cBioPortal/session-service#post-httplocalhost8080apisessionssourcetype], where it says, " If a session with the same sourc

[2018-01-29 16:14] jjgao commented on #3803
@inodb let's move this forward w/o https://github.com/cBioPortal/cbioportal/issues/3805.

[2018-01-29 18:37] tmazor commented on #3615
any progress on figuring out why this doesn't work?

[2018-01-29 18:42] inodb commented on #3615
@tmazor this should be fixed in production (cbioportal.org). There's also an automated end to end test that adds a gene to the query using this interface. If it's not working, could you let us know how to reproduce?

[2018-01-29 19:05] tmazor commented on #3615
Ahhh, I see - when I run a standard query from the homepage and go to the enrichments tab, it works. But if I start with a custom subset of patients (http://www.cbioportal.org/index.do?session_id=5a6f6fd6498eb8b3d56489d4), then it fails:
![image](https://user-images.githubusercontent.com/10508276/35528882-47428ad2-04fd-11e8-8564-51abe255251f.png)

[2018-01-29 19:20] yichaoS opened #3824 "Switching URL(s) for data downloading"
Since we moved all the zip files from datahub github to MSK storage (ramen server, /data/public/), links on the website needs to be updated to point to the new location.

-- use URL http://download.cbioportal.org/study_name.tar.gz instead
-- need to update dataset page and study summary download butto

Aaron's PR: https://github.com/cBioPortal/cbioportal-frontend/pull/943

[2018-01-29 19:27] inodb commented on #3615
Ahh ok good find, thanks @tmazor . I renamed the issue. We didn't test for custom case lists

[2018-01-29 20:27] ersinciftci commented on #3704
@jj besides q-value, is it just one new column that will show the co-occurrence count? What should be the name of the column?

[2018-01-29 20:30] jjgao commented on #3171
@inodb You mean level should have the priority and therefore level 3 should be before level 4 even if it's neutral?

[2018-01-29 20:32] jjgao commented on #3171
@zhx828 according to oncokb, it should be likely oncogenic...

http://oncokb.org/#/gene/ERBB2

[2018-01-29 20:36] jjgao commented on #3235
@alisman Do you still remember what were the strange loading effects?

[2018-01-29 20:41] jjgao commented on #3065
It's probably on purpose but not sure who's design that was. In Download Data, one can only select one study, so I don't see it very useful to have many categories -- maybe that's the reason. Anyway, I'll close this. I don't think it's worth the effort the fix this one.

[2018-01-29 20:41] #3065 closed

[2018-01-29 20:44] jjgao commented on #3756
@n1zea144 @ersinciftci would you still like to explore this?

[2018-01-29 20:45] jjgao commented on #3775
@adamabeshouse is this done?

[2018-01-29 20:46] adamabeshouse commented on #3775
no, not yet

[2018-01-29 20:51] jjgao commented on #3704
@ersinciftci I think there will be four columns, ie. a, b, c, d, corresponding to the 2x2 table in [Fisher's exact test](https://www.wikiwand.com/en/Fisher%27s_exact_test).

![image](https://user-images.githubusercontent.com/840895/35533656-36aca9a0-050c-11e8-82f3-86397da5856f.png)

Maybe we can use a,b,c,d as column name and display the figure above in the mouse over?

[2018-01-29 21:05] ersinciftci commented on #3704
@jjgao Ah, ok, so you want all the numbers. The columns will be hidden at first, will be shown in the `Columns` dropdown, so they won't see the figure before making those column visible first. Is that ok, or should we name them something like `Neither`, `ANotB`, `BNotA`, `Both`?

[2018-01-29 21:07] adamabeshouse commented on #3791
https://github.com/cBioPortal/cbioportal-frontend/pull/937

can you confirm these test cases have desired behavior?:

0.1350001351 =>0.14
6.1000032 => 6.10
0 => 0.00

[2018-01-29 21:39] #3794 closed

[2018-01-29 21:39] #3760 closed

[2018-01-29 21:46] #3759 closed

[2018-01-29 22:50] tmazor opened #3825 "study summary mutation frequency doesn't reset after clearing filters"
Watch the frequency for mutations below - they don't reset after clearing the filter.

![jan-29-2018 17-46-56](https://user-images.githubusercontent.com/10508276/35538607-7d6bd7de-051c-11e8-9e1a-f1ca780fbf59.gif)

[2018-01-29 23:22] onursumer commented on #3059
@jjgao Seems like updating to the latest version of 3Dmol breaks the current viewer due to some backward compatibility issues. We need to fix those issues to make this work...

[2018-01-30 00:42] kalletlak commented on #3825
I think this issues is still there for studies having gene panel data. https://github.com/cBioPortal/cbioportal/issues/2063

[2018-01-30 08:07] zhx828 commented on #3387
@jjgao @ersinciftci thanks for the new endpoint. It works well with study view.

[2018-01-30 08:07] #3387 closed

[2018-01-30 10:24] serverhorror commented on #3821
I'm working on this and #3822 in a fork:

* https://github.com/serverhorror/cbioportal/tree/docker-image-enhancements

[2018-01-30 15:15] sandertan commented on #3802
Thanks for the replies. So will these columns be removed from the database schema in the near future? And will this be aligned with vcf2maf and File-Formats.md?

[2018-01-30 16:40] serverhorror commented on #3821
@alexsigaras, @fedde-s -- I have a Dockerfile that can be configured from environment variables/java system properties. With regards to the database connection.

For that to "just build" I'd like to add `src/main/resources/log4j.properties` and `src/main/resources/portal.properties` to the source.

* `log4j.properties` will get a `stderr` logger and the "current" `a` logger. I think that should be

[2018-01-30 16:45] #3721 closed

[2018-01-30 16:58] jjgao commented on #3818
This is not an easy one. The user may have selected a case list on purpose for the current session. Not sure if it's a good idea to switch all the time. Maybe we can address this once we have dynamic case list.

[2018-01-30 17:15] inodb commented on #3822
hey @serverhorror - we haven't used multistage builds before. I'm open to it (CC @alexsigaras , @fedde-s ). Would be awesome if you're willing to take a stab at it

The reason we have to recompile at the moment is because the properties files packed with the `war` can't be passed as runtime variables. There are also some importer python scripts that directly read the properties files.

One hacky w

[2018-01-30 17:24] serverhorror commented on #3822
Hi,

here's examples of what I currently do:

* https://hub.docker.com/r/serverhorror/cbioportal/
* https://github.com/cBioPortal/cbioportal/compare/master...serverhorror:docker-image-enhancements

I have passed what is relevant (to me) as Java System Properties. One can now at least reconfigure that part by simply restarting tomcat with the relevant CATALINA_OPTS set.

See the following commit fo

[2018-01-30 17:30] inodb commented on #3821
@serverhorror Thanks for working on this!

If there's no `.properties` file present the build copies over `.properties.EXAMPLE` to `.properties`. So might make sense to put sensible defaults there. https://github.com/cBioPortal/cbioportal/blob/2c8de24896a5bbf3ac20584f3a2cf863450ddd29/pom.xml#L82

I also think an approach using a tomcat runner, e.g. jetty or `webapp-runner.jar` (heroku) is a bit le

[2018-01-30 17:41] #3351 closed

[2018-01-30 17:41] #3663 closed

[2018-01-30 17:41] #3628 closed

[2018-01-30 17:56] serverhorror commented on #3821
Re `.EXAMPLE`-files: GREAT! I'll update this accordingly.

The documentation says something about the connection pool making trouble under certain conditions: https://cbioportal.readthedocs.io/en/latest/Deploying.html#set-up-the-database-connection-pool -- it does sound like a required thing. Might that be related.

I'll take a stab at making the container as simple as possible. Stealing what I ca

[2018-01-30 18:30] alisman commented on #467
this may have been result of change that I made.  I'll look.

[2018-01-30 18:32] alisman commented on #3795
@jj maybe we hide it by default and then let frontend turn it on if there's more than one study?

[2018-01-30 18:55] ersinciftci commented on #3704
@jj decided that we should show them by default

[2018-01-30 19:00] jjgao commented on #3059
sigh... @onursumer I'll put it into icebox now.

[2018-01-30 19:04] jjgao commented on #3802
@sandertan we are going to have a phase to connect to genome-nexus for data and remove many of them from portal.

[2018-01-30 19:08] jjgao commented on #467
@alisman it's a really old ticket. I think lazy load would be good since the tab is rarely used.

[2018-01-30 19:09] jjgao commented on #3795
@alisman ok.

[2018-01-30 19:32] adamabeshouse commented on #3795
it turns out a bit easier to hide it from frontend, which i think is fine bc we're lazy-rendering the mutex module, so if we hide the tab there's no way to get to it anyway and very little redundant rendering

[2018-01-30 20:12] #3704 closed

[2018-01-30 20:33] schultzn opened #3827 "Lollipop plot not rendering for NSD3"
Lollipop plot not rendering for NSD3 - example:
http://bit.ly/2Eo0oSD

[2018-01-30 20:34] schultzn commented on #3827
![image](https://user-images.githubusercontent.com/11892704/35589801-fb8eb24c-05d2-11e8-9665-0994b9068344.png)

I think the gene symbol changed recently... related?

[2018-01-30 21:08] #3707 closed

[2018-01-30 21:57] #3736 closed

[2018-01-31 00:50] inodb opened #3829 "pathology report rendering using gdrive does not seem to work anymore"
http://www.cbioportal.org/case.do#/patient?caseId=TCGA-BL-A0C8&studyId=blca_tcga_pub&tab=pathologyReportTab

Not sure if worth fixing or waiting for: https://github.com/cBioPortal/cbioportal/issues/3716.

A quickfix might be to use https://github.com/mozilla/pdf.js/

[2018-01-31 09:39] fedde-s commented on #3822
That does sound interesting, if we don't need to support older versions of Docker that can't do multi-stage builds. The recompile-upon-run thing was a compromise that @alexsigaras took since cBioPortal bakes all documented configuration options into the WAR file at compile time. I myself took the opposite compromise at the time, building a new docker image for every installation, in https://github

[2018-01-31 09:49] fedde-s commented on #3821
If it may be of any help, I just pointed at a solution that's slightly closer to what you propose in [your other issue report](https://github.com/cBioPortal/cbioportal/issues/3822#issuecomment-361876794). Haven't had a lot of time to improve on it in the past few weeks or months though, but I'm planning to get back to it with efforts such as [this unfinished experiment](https://github.com/thehyve/

[2018-01-31 11:33] serverhorror commented on #3821
I think the following sounds reasonable:

* for the Docker image we only care about the actual web application, not the surrounding tools
* for now, the reconfiguration of the database should be possible by simply restarting the image with the right environment variables
* if possible go with jetty-runner (or a suitable small runtime) instead of tomcat
* logging goes to stderr

Of no concern right

[2018-01-31 14:28] fedde-s commented on #3821
In case of that first point, maybe there should just be a separate image for the data loading pipeline and scripts, such as `validateData.py`, `metaImport.py`, `dumpPortalInfo.pl`, `importGenes.pl`, and the underlying Java classes that connect to the database. But then I am not sure whether `migrate_db.py` shouldn't go along with the web server, and how the setup could help out users trying to use

[2018-01-31 15:33] tmazor opened #3830 "mutations tab fails to load when 3d hotspots API isn't reponsive"
As we did with OncoPrint, we should use a timeout to load the page even when 3D hotspots isn't responding.

[2018-01-31 15:39] tmazor opened #3831 "mutation assessor predictions don't load"
Reported by a user: https://groups.google.com/forum/#!topic/cbioportal/FpJxZtuG_Ic

In the functional impact column, the mutation assessor column is always blank:

![image](https://user-images.githubusercontent.com/10508276/35631839-fc29c6e2-0672-11e8-884d-f8d407f48ba5.png)
http://www.cbioportal.org/index.do?session_id=5a1eef06498eb8b3d560f502&show_samples=false&

[2018-01-31 18:04] tmazor opened #3832 "text updates to mutual exclusivity tooltips"
Tooltips for the new columns should be:
Neither: Number of samples with alterations in neither Gene A nor Gene B
A Not B: Number of samples with alterations in Gene A but not in Gene B
B not A: Number of samples with alterations in Gene B but not in Gene A
Both: Number of samples with alterations in both Gene A and Gene B

Also, for consistency, please edit the Log Odds Ratio tooltip text so that

[2018-01-31 18:41] tmazor commented on #3698
It looks to me like the tooltips over the OncoPrint content now have left padding, but the tooltips for clinical track names still don't have any left padding:
![image](https://user-images.githubusercontent.com/10508276/35640596-9ede8496-068b-11e8-8cfc-21fc05793193.png)

Can we add padding to the clinical track name tooltips also?

[2018-01-31 18:50] #3791 closed

[2018-01-31 18:57] #3832 closed

[2018-01-31 19:28] adamabeshouse opened #3833 "add genes to query"

[2018-01-31 19:29] adamabeshouse opened #3834 ""add genes to query" feature issues?"
The add genes to query feature in enrichments tab may have some bad UI aspects to it. We may want to consider changing it to, for example, not resubmit the query on click, but modify the query form on click - this may be a more intuitive and robust approach.

CC @alisman

[2018-01-31 21:29] #3615 closed

[2018-02-01 08:38] serverhorror commented on #3821
<rant>
The whole of the importers is a very interesting choice of action.

I'm working on importing all the `datahub/public/...` studies and it was a huge pain understanding why some of the things are literally one liners around java.

I was so wishing there was an actual, language neutral, API to import data.
</rant>

I'm going to make an actual "server" image for now. I'm not sure how one would

[2018-02-01 10:04] sandertan opened #3835 "Adding incorrect gene breaks Query button in Study Summary"
I noticed a bug that makes breaks the Query button in the Study Summary. Only refreshing the page restores the functionality.

How to reproduce:
- Go to the Study View (for example, MSK-IMPACT)
- Type `TP53 TRET` in gene box and try to click "Query". TRET is an unexisting symbol.
- The UI will say correctly state `Symbol not found - TRET` and blocks the Query button.
- Click the gene box, manually

[2018-02-01 15:39] jjgao opened #3836 "Query Panel Lacks Filtering by Assay Type"
@DarioS commented on [Thu Feb 01 2018](https://github.com/cBioPortal/cbioportal-frontend/issues/950)

The query panel shows a list of 170 studies, but it's not easy to quickly discover which datasets have, for example, RNA-seq data available. I suppose that biologists would choose a dataset based on tissue of origin, but if a machine learning user visits the website looking for some RNA-seq data t

[2018-02-01 15:49] tmazor opened #3837 "oncoprint genetic alteration legend tweak"
It looks like alterations are listed in the legend in alphabetical order. Can we instead sort by alteration type and then alphabetically within that? Start with all the mutations (Inframe, Missense, etc), then copy number changes (Amplification, Deep Deletion, Gain, Shallow Deletion), then mRNA down/up, then protein down/up, and then last would be "No alterations"

![image](https://user-images.git

[2018-02-01 15:57] tmazor opened #3838 "multistudy OQL allows PROT but not EXP"
If I'm doing a multi-study query and I try to use OQL with EXP, then a warning appears and I can't submit the query:
![image](https://user-images.githubusercontent.com/10508276/35688069-556b7950-073e-11e8-8713-95136bf55fe7.png)

However, if I have an OQL statement including PROT, there is no warning and I am allowed to submit the query:
![image](https://user-images.githubusercontent.com/10508276/3

[2018-02-01 15:58] schultzn commented on #3837
Good idea. Maybe even sort within copy number by direction, i.e. amp, gain, deep del, shallow del.

[2018-02-01 21:34] #2948 closed

[2018-02-02 16:05] tmazor commented on #2556
@jjgao any updates on this?

[2018-02-02 17:03] zhx828 opened #3843 "MutationJSON throws NULL pointer exception"
SEVERE: Servlet.service() for servlet [MutationsJSON] in context with path [/cbioportal] threw exception
java.lang.NullPointerException
    at org.mskcc.cbio.portal.util.InternalIdUtil.getStableSampleIds(InternalIdUtil.java:47)
    at org.mskcc.cbio.portal.servlet.MutationsJSON.processGetSmgRequest(MutationsJSON.java:250)
    at org.mskcc.cbio.portal.servlet.MutationsJSON.processRequest(MutationsJ

[2018-02-02 22:21] alisman opened #3845 "Tabs should switch prior to component rendering to prevent "lock""

[2018-02-02 22:22] alisman opened #3846 "Clean up hardcoded URLs in CNTab in oql-branch"

[2018-02-05 13:34] pieterlukasse commented on #3802
hi @jjgao, why is the mutation view retrieving uniprot accession when a specific isoform accession is found in the data already? Shouldn't the external service only be used if no isoform preference is found in the data?

[2018-02-05 14:02] jjgao commented on #3830
@onursumer since 3dhotspots.org is also unstable right now. Maybe it's a good idea to serve the data through GenomeNexus too?

[2018-02-05 14:02] jjgao commented on #3831
MA server is down.

[2018-02-05 14:03] jjgao commented on #3831
@inodb let's remove MA column soon and get it back once it's back online.

[2018-02-05 14:06] jjgao commented on #3833
@adamabeshouse could you clarify this one?

[2018-02-05 14:12] jjgao commented on #3834
Hopefully, once we have single-page app, we can add genes to query directly.

[2018-02-05 14:20] jjgao commented on #3835
In the long run, I think the study page should really use the same gene query component that the query page is using.

[2018-02-05 14:21] jjgao commented on #3838
Good catch. PROT should not be allowed.

[2018-02-05 14:23] pieterlukasse commented on #2595
thanks @sandertan , did you also test with `.` (dot)? See @jensreeder's comment above.

[2018-02-05 14:24] jjgao commented on #3837
@adamabeshouse I think this was introduced when fixing order for clinical tracks. For genetic alteration, please sort per type.

[2018-02-05 14:28] jjgao commented on #2556
@adamabeshouse @sheridancbio do we need to make any change to the gene panel API to fix this problem? cc'ing @ersinciftci

[2018-02-05 15:02] ersinciftci commented on #3756
@jjgao I couldn't find a way, maybe @n1zea144 would like to give it a try too.

[2018-02-05 15:11] sandertan commented on #2595
@pieterlukasse Good point. With a `.` in the attribute name, the diagram is not drawn.

![screen shot 2018-02-05 at 16 10 33](https://user-images.githubusercontent.com/9624990/35811627-39cb8858-0a8f-11e8-9902-80c985015bc1.png)

[2018-02-05 15:27] ersinciftci commented on #2556
@jjgao we are using the new Gene Panel API now, so the old one is not relevant anymore. I feel like things should work properly now with this change https://github.com/cBioPortal/cbioportal/issues/3628 (or maybe even before this change, but this change made things easier), if I understand the problem correctly.

[2018-02-05 17:35] onursumer commented on #3830
@jjgao Serving 3D hotstpos data through genome nexus sounds like a good idea to me.

On the other hand, maybe hotspot data shouldn't block the initial loading of the mutation tab at all.

[2018-02-05 18:41] ersinciftci commented on #2742
We don't have a pan-cancer results page anymore, so I think this API is no longer needed.

[2018-02-05 18:41] #2742 closed

[2018-02-05 19:46] jjgao commented on #3843
@zhx828 is there a new API for this?

[2018-02-05 19:48] inodb commented on #3829
seems to work again

[2018-02-05 19:48] #3829 closed

[2018-02-05 19:52] jjgao commented on #3802
@pieterlukasse it's part of the process of switching to genome nexus. We will remove the uniprot data along with many other annotation data from the portal database.

@inodb @onursumer we should switch to genome nexus for uniprot id.

[2018-02-05 19:57] jjgao commented on #3830
@onursumer agreed.

[2018-02-05 19:59] jjgao commented on #2556
I still see the same issue in the genie portal. @adamabeshouse maybe could you look into this?

[2018-02-05 20:20] ersinciftci commented on #3718
@alisman I tried a few things but can't prevent the line break when I make the font size bigger, can I assign this to you?

[2018-02-05 20:30] alisman opened #3849 "Fix commented-out gene panel functionlity in resultsViewStore"
See 522 and 538 of resultsViewStore.ts.  These should be restored and made compatible with api changes in rc.

This needed to be done b/c oncoprint was breaking when run against rc api

[2018-02-05 21:19] inodb opened #3850 "Run frontend localdb end2end tests in backend repo"
Run the e2e localdb test in backend repo: https://github.com/cBioPortal/cbioportal-frontend/blob/master/.circleci/config.yml#L178. Currently in the frontend repo when you open a PR to the master branch, that frontend code is tested against a backend docker container running the latest master code. In the backend we would like the same thing but then testing the backend changes, that is:

1. build

[2018-02-05 21:30] zhx828 commented on #3843
@jjgao I will evaluate the new API today.

[2018-02-05 22:24] jjgao opened #3851 "chart types"
- stacked bar chart
  - front page
  - cancer type summary
- boxplot (jitter)
  - plots tab (discrete vs continuous)
  - cross-study expression tab
- scatter plot
  - plots tab (continuous vs continuous)
  - co-expression tab
  - study view
  - enrichments (vocano plot)
- heatmap
  - plots tab (discrete vs discrete)
- line chart
  - survival tab
  - study view
- pie chart
  - study view
- bar char

[2018-02-05 23:23] onursumer commented on #3815
We can switch to genome nexus API after finalizing this PR: https://github.com/genome-nexus/genome-nexus/pull/134

[2018-02-06 10:25] pieterlukasse commented on #3802
@jjgao but what if an institute has its own cBioPortal and would like a specific set of isoforms to be used by default when querying genomenexus for the VEP annotation? Now the preferred isoform can be stored in this UNIPROT_ACCESSION field...should the institute install its own version of genomenexus in this case?

[2018-02-06 14:36] fedde-s commented on #3740
Is the code available yet? I'm wondering if I need to add anything to my PR #898 to make it work for gene set tracks as well.

[2018-02-06 15:52] jjgao commented on #2981
Column name: Adjust p-value
calculation: p-value times the number of comparison, i.e. p x n x(n-1) / 2.
tooltip: Bonferroni adjusted p-value

[2018-02-06 16:23] jjgao commented on #3802
@pieterlukasse we haven't worked out a solution yet. I don't think we should use the UNIPROT_ACCESSION in the mutations table. If there is a need, the local instance of the portal should probably host an isoform file that can override the default one from genome-nexus. @inodb @onursumer let's keep this in mind when we working on multi-isoform support.

@pieterlukasse do you have a client that has

[2018-02-06 19:55] jjgao opened #3852 "Use the oncoprint add clinical attribute component in study view"
Some additional charts such as survival, "has mutation data", etc need to added to the list.

![image](https://user-images.githubusercontent.com/840895/35881039-81dd88a8-0b4d-11e8-8230-4050d3689b9c.png)

cc'ing @pieterlukasse

[2018-02-06 20:03] zhx828 opened #3853 "Give message after adding a new chart in study view"

[2018-02-06 20:35] jjgao opened #3854 "Improving clinical attribute selector by using data availability in samples"
Improving the functionality of clinical attribute selection by adding the percentage of samples with data in the attribute.

This end point will be useful: https://github.com/cBioPortal/cbioportal/pull/3354

![image](https://user-images.githubusercontent.com/840895/35881039-81dd88a8-0b4d-11e8-8230-4050d3689b9c.png)

The list of attributes and their availability should be pulled from API once the u

[2018-02-06 20:35] jjgao commented on #3602
captured in #3854.

[2018-02-06 20:35] #3602 closed

[2018-02-06 20:49] jjgao commented on #3854
cc'ing @schultzn.

[2018-02-06 21:29] pieterlukasse commented on #3854
would be nice if the attribute can be disabled in drop-down list if it is not present in any sample (so 0%).

[2018-02-06 23:10] ersinciftci opened #3855 "db.version in maven.properties can't be found during import"
We moved some properties from portal.properties to maven.properties, but it seems the importer can't find those properties.

[2018-02-07 15:35] #2696 closed

[2018-02-07 15:36] ersinciftci opened #3857 "Change Fraction Genome Altered API to use the new pre-calculated table"
After making sure that the production db has the table and the data.

[2018-02-07 16:49] #3855 closed

[2018-02-08 17:22] #2981 closed

[2018-02-08 17:42] inodb opened #3860 "Docs are failing to build on readthedocs.org"
Seems to be some problem with sphinx 1.6 and recommonmark. This is why the docs are out of date with the master branch

[2018-02-08 18:19] #3860 closed

[2018-02-09 14:58] kalletlak opened #3862 "Study view on 'Query' button click(without genes) is not selecting study in home page"

[2018-02-09 16:26] schultzn opened #3864 "Unselected study shows up in Cancer Type Summary tab of cross-cancer query"
In this query, the MBL SickKids study shows up in the cancer types summary tab, although the study is not selected in the query:
http://www.cbioportal.org/index.do?session_id=5a7dc6c6498eb8b3d564b640

It does not look like the mutations or samples show up in the OncoPrint though, nor in the Mutations tab.

[2018-02-09 16:27] schultzn commented on #3864
https://groups.google.com/forum/#!topic/cbioportal/1z-JHLcXv5g

[2018-02-09 16:38] alisman commented on #3864
@schultzn @ritikakundra  looks like this study (brca_igr_2015) has the wrong shortName property in db:
http://www.cbioportal.org/api/studies/brca_igr_2015

[2018-02-09 18:06] zhx828 opened #3865 "Support multi-study query: Get Significantly Mutated Genes"
**METHOD**
POST

**Request**
[code]

**Response:**
[code]

The new concept introduced here `relatedSamples` is the list of samples(total number should match with `numberOfMutations`) that mutated with this gene in the request samples.

[2018-02-09 18:07] zhx828 opened #3866 "Support multi-study query: Get Mutation Count"
**METHOD**
POST

**Request**
[code]

**Response:**
[code]

[2018-02-09 18:08] zhx828 opened #3867 "Support multi-study query: Get Significant Copy Number Alteration"
**METHOD**
POST

**Request**
[code]

**Response:**
[code]

The new concept introduced here `relatedSamples` is the list of samples(total number should match with `numberOfMutations`) that mutated with this gene in the request samples.

[2018-02-09 18:09] zhx828 opened #3868 "Support multi-study query: Get CNA Fraction"
We already have /studies/{studyId}/fraction-genome-altered/fetch

But cross-study search is needed

**METHOD**
POST

**Request**
[code]

**Response:**
[code]

[2018-02-09 21:32] ersinciftci opened #3871 "Refactor Enrichments Tab"

[2018-02-12 19:06] schultzn commented on #3864
@ritikakundra Is this an easy fix?

[2018-02-12 19:09] ritikakundra commented on #3864
@schultzn Yes, this should be quick to fix. Will schedule it for tonight.

[2018-02-12 20:01] adamabeshouse commented on #3740
just got back from vacation, is this resolved? @fedde-s

[2018-02-12 20:19] #3788 closed

[2018-02-12 20:26] adamabeshouse commented on #2556
unless the data/ontology issue @sheridancbio was looking into has been resolved, we're still going to see this issue

[2018-02-12 20:31] adamabeshouse commented on #3833
not sure what happened here

[2018-02-12 20:31] #3833 closed

[2018-02-12 23:10] adamabeshouse opened #3877 "Oncoprint is spending a lot of time in updating PrecomputedComparator"
problematic query: http://www.cbioportal.org/beta/index.do?cancer_study_id=msk_impact_2017&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=msk_impact_2017_cnaseq&gene_list=SOX9%2520RAN%2520TNK2%2520EP300%2520PXN%2520NCOA2%2520AR%2520NRIP1%2520NCOR1%2520NCOR2&geneset_list=+&tab_index=tab_visualize&Action=Submit&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=msk_impact_2017

[2018-02-13 00:01] #3769 closed

[2018-02-13 00:02] #3806 closed

[2018-02-13 00:06] adamabeshouse opened #3878 "Authorization buttons do not always appear in the Google Chrome browser"
![image](https://user-images.githubusercontent.com/636232/36126733-cf107750-1027-11e8-86a2-fd2e7c0bd654.png)

[2018-02-13 00:55] adamabeshouse commented on #2556
I think it will be fixed by https://github.com/cBioPortal/cbioportal-frontend/pull/970 but for various reasons its not possible to test until next time we deploy to genie

[2018-02-13 13:31] fedde-s commented on #3740
Yes! I just checked out `rc`, and it looks like it works now. Thanks for checking up!

[2018-02-13 17:39] fedde-s commented on #3740
For reference: I see that [this](https://github.com/thehyve/cbioportal-frontend/commit/7a746fb97ee7372bb2f3e682ba933194ac896846#diff-958774fb3f550af60c5435eed1831cd3R55) is the line that fixes it (supported by other lines in the commit).

[2018-02-13 17:57] adamabeshouse commented on #3740
yep!

[2018-02-13 20:44] tmazor opened #3881 "enrichments tab: rna & protein tabs don't have "direction/tendency" column"
For mutations, there is a log ratio column (reflecting the x-axis of the plot on the left), the value of which defines the content of the Direction/Tendency column in the table:
![image](https://user-images.githubusercontent.com/10508276/36172608-66e2768a-10d4-11e8-8b94-3cd5966b9f4e.png)

However, the mRNA & Protein tabs don't include this information in the table. The x-axis of the plot on the le

[2018-02-13 21:27] adamabeshouse opened #3882 "Oncoprint percentage misaligned after removing heatmap track"
http://www.cbioportal.org/beta/index.do?cancer_study_id=coadread_tcga_pub&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=coadread_tcga_pub_cna_seq&gene_list=FBXW7&geneset_list=%20&tab_index=tab_visualize&Action=Submit&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=coadread_tcga_pub_mutations&show_samples=false

add a heatmap track, then remove it by clicking into the track d

[2018-02-13 21:31] zhx828 opened #3883 "Some dup variants in the portal are not called hotspot"
The issue happens for duplication. In the case below, the AKT1 P68_C77dup is annotated in the portal happens on location 78(both proteinStart and proteinEnd are 78). But the cancer hotspot predicts the range 65-77 as a hotspot. According to JJ, the location depends on the caller. It could be 78 or 65. When annotating the variant, cancer hotspot should use both locations to determine whether the va

[2018-02-14 15:14] tmazor commented on #3881
Ok, I just figured out that the green/red arrows in the p/q-value columns indicate if the gene is over/under-expressed in the altered group and that the p/q-values are bolded if significant. So the information is there, but it's not as clear as how that same information is displayed on the mutations/copy number tabs.

I still think we need to add a Direction/Tendency column for clarity & consisten

[2018-02-15 09:41] pieterlukasse commented on #1437
@oplantalech can you please reference the PRs that solve this issue?

[2018-02-15 14:48] tmazor opened #3886 "patient view - misplaced comma"
The comma at the beginning of the second line (", DiseaseFree") needs to be at the end of the first line ("LIVING (10 months),")

![image](https://user-images.githubusercontent.com/10508276/36262366-357effc0-1235-11e8-836d-8d184f7c5a44.png)
http://www.cbioportal.org/case.do#/patient?studyId=ucec_tcga_pub&caseId=TCGA-BK-A0CC

[2018-02-15 15:19] tmazor opened #3887 "datasets page - add "x" to clear out search box"
The search box on the Data Sets page should have an "x" to clear the contents of the search box, like what we have for searching datasets in the query tool on the homepage

![image](https://user-images.githubusercontent.com/10508276/36263964-773eedd6-1239-11e8-99d2-441ecb34b384.png)

![image](https://user-images.githubusercontent.com/10508276/36263981-804be802-1239-11e8-8a19-8f87a424bb3d.png)

[2018-02-15 15:26] tmazor opened #3888 "some datasets are missing references"
There are a bunch of studies that sound like they relate to a publication (everything in the list below that isn't a TCGA Provisional study), but don't have a listed reference:

![image](https://user-images.githubusercontent.com/10508276/36264420-ae5c7d3c-123a-11e8-92c8-3009c07a0986.png)

[2018-02-15 15:37] tmazor opened #3889 "remove Mutation Counts vs CNA chart when there is no Mutation/CNA data"
When a study doesn't have Mutation or CNA data, the Mutation Count vs CNA chart is still an option to show on Study View. If you add it, it appears as a completely empty box:
![image](https://user-images.githubusercontent.com/10508276/36264667-53c45ab0-123b-11e8-9a3d-5aff3d3a1622.png)

I think we should remove this chart for any study that doesn't have BOTH mutation & CNA data. Or, if there are re

[2018-02-15 15:48] tmazor opened #3890 "mutex tab resets to fewer rows than it started with"
I expect a reset button to return to the state of the page when it first loaded. On MutEx, the page first loads with 50 rows, but when I hit reset, it shows only 10.

on loading:
![image](https://user-images.githubusercontent.com/10508276/36265632-a510b268-123d-11e8-8d43-b9e70de51582.png)

after reset:
![image](https://user-images.githubusercontent.com/10508276/36265648-aa580280-123d-11e8-994d-e1f

[2018-02-15 15:55] tmazor opened #3891 "plots tab - lock gene shades out gene selector on safari but not chrome"
In Safari, when Lock Gene is selected, the gene selector is nicely shaded out:
![image](https://user-images.githubusercontent.com/10508276/36266006-83ac9762-123e-11e8-9b74-b4678f08e183.png)

But on Chrome, the gene selector isn't shaded, making it look like it can be clicked even though it can't be:
![image](https://user-images.githubusercontent.com/10508276/36266046-98b6be9e-123e-11e8-93a0-10a997

[2018-02-15 15:57] tmazor opened #3892 "plots tab - weird response to color by copy number"
On the plots tab, if I view data colored by mutation types, everything looks normal:
![image](https://user-images.githubusercontent.com/10508276/36266192-e848934c-123e-11e8-9f33-39a522e1555e.png)

But if I change to view by copy-number, then the coloring isn't successful and I get a long list of unlabeled black dots in the legend:
![image](https://user-images.githubusercontent.com/10508276/3626622

[2018-02-15 19:50] #3613 closed

[2018-02-15 20:14] adamabeshouse commented on #3891
I think the new UI will make this problem obsolete - both axes will have a "lock gene" button, and it wont prevent changes, it will just make the other axis always receive the same change

[2018-02-16 10:38] oplantalech commented on #1437
@pieterlukasse The last thing I did regarding hg38 was #2671. One of the things I did in this PR was removing documentation regarding hg38 because I didn't work on that during my internship and I assumed cBioPortal supported hg38. But if now we want to implement that, we can take a look on the changes I did to implement mouse.

[2018-02-16 14:37] schultzn commented on #3864
Is there an update on this? The MBL study still shows up in that query. Thanks.

[2018-02-16 22:20] #3597 closed

[2018-02-16 22:20] #3678 closed

[2018-02-19 19:22] #3831 closed

[2018-02-19 21:12] sheridancbio commented on #3102
This has been addressed by #3894, and will no longer be an issue after merge/deployment to master.

[2018-02-19 21:12] #3102 closed

[2018-02-20 10:44] sandertan opened #3898 "In Safari, OncoPrint data downloaded to filename "unknown.dms""
While Chrome downloads tabular data from OncoPrint correctly as `PATIENT_DATA_oncoprint.tsv`, Safari (11.0.3) downloads the file as `unknown.dms`. The contents of the file are fine. This also occurs when downloading PDF, SVG, Patient Order and PNG.

Similar to https://apple.stackexchange.com/questions/303200/safari-downloads-files-via-ftp-as-unknown-dms (no solution).

[2018-02-20 16:34] #3849 closed

[2018-02-20 16:35] #3838 closed

[2018-02-20 16:35] #3698 closed

[2018-02-20 20:13] adamabeshouse opened #3899 "GSVA related bugs in rc"
See points (1) and (3) (and possibly (2)?) in my comment here: https://github.com/cBioPortal/cbioportal-frontend/pull/898#issuecomment-367050443

[2018-02-20 20:13] tmazor opened #3900 "staging: mutations tab fails to load"
Go here:
http://www.cbioportal.org/staging/index.do?session_id=5a61ffea498eb8b3d563de36&show_samples=false&

Go to the mutations tab. PIK3CA & PTEN load fine. IGF2 won't load.
![image](https://user-images.githubusercontent.com/10508276/36446851-8feefda6-1650-11e8-8764-37f5195248e8.png)

I think this fails because IGF2 has no mutations.

[2018-02-20 20:42] tmazor opened #3902 "survival tab: make "no data" text smaller and more informative"
The "no data available" text on the Survival tab is much larger than equivalent text on other tabs
![image](https://user-images.githubusercontent.com/10508276/36447680-0e7203ec-1653-11e8-9a34-03c3dd7e0e9d.png)

![image](https://user-images.githubusercontent.com/10508276/36447689-15db25be-1653-11e8-85c0-7fec51cc0b01.png)

More importantly, the text should explain why the plots aren't available.
If

[2018-02-20 20:52] tmazor opened #3903 "OQL doesn't complain if appropriate data type isn't selected under genomic profiles"
OQL with EXP complains if expression isn't selected in molecular profiles. This is a good thing.
![image](https://user-images.githubusercontent.com/10508276/36448412-91231a22-1655-11e8-89ac-c7909b7e35d4.png)

However, no other data type acts like this. All of the scenarios below should similarly provide a warning and prevent the user from submitting the query:
![image](https://user-images.githubus

[2018-02-20 21:52] inodb commented on #3900
@tmazor seems to be fixed now

[2018-02-20 22:07] tmazor commented on #3900
agreed - looks good to me

[2018-02-20 22:07] #3900 closed

[2018-02-21 08:30] fedde-s commented on #3899
I think these are mostly issues with pull request #742. Maybe @oplantalech could help.

[2018-02-21 09:20] fedde-s commented on #3899
Sorry, I meant cBioPortal/cbioportal-frontend#742.

[2018-02-21 21:14] tmazor opened #3905 "civic data fails to load on mutations tab"
I've seen this across many genes and many studies now.

![image](https://user-images.githubusercontent.com/10508276/36505630-223c71da-1722-11e8-82af-e8d655c629a5.png)

[2018-02-21 21:26] inodb commented on #3905
Looks like a CORS problem out of our hands: https://github.com/griffithlab/civic-server/issues/409

[2018-02-21 22:37] schultzn opened #3908 "Gene alteration frequencies in virtual cohorts are incorrect"
Gene alteration frequencies in virtual cohorts are incorrect - they are always way too low!

The problem seems to go away after making a subselection in the new virtual cohort.

Example:
http://www.cbioportal.org/study?id=5a8df426498eb8b3d564ddc2#summary

The correct frequencies are:
![image](https://user-images.githubusercontent.com/11892704/36509429-bbed7008-172d-11e8-9cb2-60fa82389742.png)

[2018-02-21 23:18] #3905 closed

[2018-02-22 20:19] inodb opened #3909 "KMT2B shows up as N/S in oncoprint when queried with other genes"
Querying both KMT2B and KM2TD shows KMT2B as N/S
http://www.cbioportal.org/index.do?cancer_study_id=msk_impact_2017&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=msk_impact_2017_cnaseq&gene_list=KMT2B%250AKMT2D&geneset_list=+&tab_index=tab_visualize&Action=Submit&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=msk_impact_2017_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER

[2018-02-22 20:19] inodb commented on #3909
@adamabeshouse do you have any clue?

[2018-02-22 20:27] adamabeshouse commented on #3909
weird.. I'll look into it

[2018-02-22 21:53] inodb commented on #3909
Thanks!

[2018-02-23 18:42] onursumer commented on #3830
https://github.com/cBioPortal/cbioportal-frontend/pull/980/ addresses this issue

[2018-02-23 18:44] onursumer commented on #3815
With https://github.com/cBioPortal/cbioportal-frontend/pull/980/, mutations tab is no longer depending on the Cancer Hotspots web service. But we still need to update Oncoprint to use Genome Nexus data instead of OncoKB data.

[2018-02-23 18:55] onursumer opened #3911 "In Downloads, show only gene names instead of OQL line by default"
Suggestion from @schultzn :

Any more thoughts on the suggestion to remove the OQL details?

I don’t think most of our users will know what OQL Line means (as most of them don’t actually use OQL). It might be best to show OQL only when users actually used OQL, otherwise show gene symbols only?

[2018-02-23 18:59] onursumer opened #3912 "In downloads tab, copy button/link behavior is not consistent"
@ecerami suggested:

In the Gene Alteration Frequency + Type of Genetic alterations across all samples table, when I click the Copy button, I get a dialog box that prompts me to click Copy.  Can we eliminate the dialog box step and make it like the copy links at the top of the page?

[2018-02-23 19:01] onursumer commented on #3911
How about adding a separate (initially visible) gene symbol column, and hiding the OQL line column by default? In that case, downloaded file will include both columns though.

[2018-02-23 19:16] onursumer commented on #3912
This one requires revisiting the `CopyDownloadControls` implementation. Recently we added async download/copy support for lazy loaded columns. The dialog box is the side effect of this async data loading process.

In the download tab all the column data is already there, so we don't actually need async loading. The dialog box can be eliminated by supporting both sync and async data fetching option

[2018-02-23 21:55] adamabeshouse opened #3914 "dimension mismatch error -> 500 exception in coexpression endpoint"
http://www.cbioportal.org/beta/api/swagger-ui.html#/Co-Expressions/fetchCoExpressionsUsingPOST

molecular profile id: coadread_tcga_pub_mrna
entrez gene id: 3845  (its KRAS)
coexpression filter:
[code]

[2018-02-23 21:58] onursumer commented on #3912
updated https://github.com/cBioPortal/cbioportal-frontend/pull/923 to fix this issue

[2018-02-23 22:45] tmazor commented on #2556
Looks like its working now - thanks all!

[2018-02-23 22:58] adamabeshouse commented on #2556
whoo!!!! 🎉  got to love when an issue from june '17 closes

[2018-02-23 23:15] adamabeshouse commented on #3909
I'm not sure exactly what's going on but I see that it is in fact fixed in `rc`

[2018-02-23 23:15] #3909 closed

[2018-02-23 23:17] #3837 closed

[2018-02-23 23:18] adamabeshouse commented on #3892
Im going to label this wontfix since we're going to refactor the plots tab completely anyway

[2018-02-26 14:33] jjgao commented on #3889
This seems to be fixed. @zhx828 could you link the pr and close it?

[2018-02-26 14:37] jjgao commented on #3888
Issue moved to [cBioPortal/datahub #168](https://github.com/cBioPortal/datahub/issues/168) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-26 14:37] #3888 closed

[2018-02-26 14:39] jjgao commented on #3881
@tmazor good idea to add `Direction/Tendency` column.

[2018-02-26 14:41] jjgao commented on #3883
@onursumer Any update on this?

[2018-02-26 20:16] jjgao commented on #3878
@adamabeshouse I couldn't reproduce it...

[2018-02-26 20:22] #3864 closed

[2018-02-26 20:26] jjgao commented on #3911
@onursumer sounds good to me.

[2018-02-26 20:30] jjgao commented on #2372
Let's prioritize this one.

@ritikakundra could you clarify the use cases from genie?

[2018-02-26 20:41] onursumer commented on #3883
@jjgao If I understood correctly, we need to handle the case differently in genome nexus when the protein change has `dup` keyword in it, and keep the current logic intact for the remaining cases. Is that right?

[2018-02-26 20:45] jjgao commented on #3902
Should we just hide the tab if the corresponding analysis cannot be performed?

[2018-02-26 20:46] adamabeshouse commented on #3890
I discussed this with @ersinciftci recently, the conclusion is that its an API issue for the LazyMobXTable.

I guess a solution would be: if initialItemsPerPage is specified, and the show more button is set to show, and no itemsPerPageOptions specified, then we should default itemsPerPageOptions to just be [initialItemsPerPage], which would solve this.

[2018-02-26 20:47] jjgao commented on #3883
@onursumer that's correct. @zhx828 do you have the logic implemented in oncokb already?

[2018-02-26 20:47] adamabeshouse commented on #3878
I reproduce it 100% of the time in chrome :/ what other details about my environment are relevant for debugging this?

[2018-02-26 20:52] #3853 closed

[2018-02-26 20:54] jjgao commented on #3862
couldn't reproduce in production. Is it in rc?

[2018-02-26 20:54] jjgao commented on #3878
@adamabeshouse any js errors?

[2018-02-26 20:57] adamabeshouse commented on #3878
no, and also no failures in network tab

[2018-02-26 20:58] zhx828 commented on #3862
This is solved in here https://github.com/cBioPortal/cbioportal/pull/3885

[2018-02-26 20:58] #3862 closed

[2018-02-26 21:06] adamabeshouse commented on #3878
Some experimentation has showed me that the issue seems to be the "+" sign in the image alt "Google+"

[2018-02-26 21:38] zhx828 commented on #3883
@jjgao actually oncokb does not have the dup logic. When we see a dup variant coming to the endpoint, we do not use proteinStart and proteinEnd from the input. We annotate the variant on our own which will solve the issue automatically.

[2018-02-26 21:43] tmazor commented on #3902
I think it depends on why we can't perform the analysis. If there is no outcome data for a study, then I'm find with hiding the tab. But if the analysis can't be performed because all or none of the patients have an alteration, then I think we should still show the tab with an explanation.

[2018-02-26 22:00] jjgao commented on #3817
I couldn't reproduce it now. Move it to icebox.

[2018-02-26 22:16] jjgao commented on #3902
@tmazor good point.

@ersinciftci could you make the changes as @tmazor suggested?

[2018-02-26 22:39] inodb opened #3915 "Mutations Tab show Copy Number Table"
- Add Copy Number Table Component

[2018-02-26 23:12] jjgao commented on #3878
@adamabeshouse is it possible that you have some plugin that interferes with the button? Do you see this happen in other websites with Google log-in?

[2018-02-26 23:15] jjgao commented on #3883
@zhx828 could you paste the api call to oncokb? and the one to genome-nexus?

[2018-02-26 23:19] onursumer commented on #3911
addressed by an update in cBioPortal/cbioportal-frontend#923

[2018-02-26 23:23] adamabeshouse commented on #3878
bingo! it's blocked by the ad block plus plugin. :)

maybe we can just change the alt name to get around it - like "cBioPortal Google+" or something?

[2018-02-27 09:13] pieterlukasse commented on #3456
@jjgao could you elaborate a bit on how this would be fixed? Will the new tab not require _sequenced? Where will this flexibility be implemented? In the backend (so no 403 is returned if one of the given case lists is missing)?

[2018-02-27 16:11] jjgao commented on #3878
@adamabeshouse could you give it a try?

[2018-02-27 16:13] jjgao commented on #3456
I think if _sequence is not available, we should still be able to load the expression data, and `show mutation` button should be hidden.

@alisman could you take care of this in the refactored code?

[2018-02-27 22:49] adamabeshouse commented on #3878
@jjgao @n1zea144 please see attached PR

[2018-02-28 18:31] #3835 closed

[2018-02-28 18:31] #3825 closed

[2018-02-28 18:32] #3778 closed

[2018-02-28 19:27] jjgao opened #3921 "OncoPrint: "sort by case list order" not working"
e.g. after check "sort by case list order", the sample order is different from the one in the query.

http://www.cbioportal.org/index.do?session_id=5a970249498eb8b3d564f999

[2018-02-28 23:38] jjgao commented on #3921
2 users reported this today. Please prioritize.

[2018-03-01 15:16] schultzn opened #3922 "Lolipop plot not showing for MUC2"
This may be a duplicate issue.. but the MUC2 lollipop plot is not showing. I thought I saw this for other genes too.
http://bit.ly/2F58aR4

![image](https://user-images.githubusercontent.com/11892704/36852409-93212df6-1d39-11e8-9c99-d43886b32e63.png)

[2018-03-01 16:59] inodb commented on #3922
Ok so this is a data issue. Apparently the MUC2 canonical transcript `ENST00000630886` as set by vcf2maf is no in the grch37 set of transcripts, only in grch38. Either the list of canonical transcripts has to be set per grch37 or grch38. Or if the transcripts remain constants between different genome builds then we can use the same transcript info for both.

This prolly applies to multiple genes.

[2018-03-01 20:02] #3878 closed

[2018-03-02 17:37] adefelicibus opened #3925 "Oncoprint doesn't load"
Hi,

I've updated a local version of cbioportal from 1.7.3 to 1.11.4 and now Oncoprint doesn't load. I've got the error below:
![image](https://user-images.githubusercontent.com/5203073/36912888-f6f0ca10-1e26-11e8-8957-d478f995ec9f.png)

I've updated the code and migrated the database.
Is there anything else to do?

Thanks

[2018-03-02 22:03] zhx828 opened #3926 "After adding certain chart in study view, mutation counts all been set to NA"
Open study: http://www.cbioportal.org/study?id=acc_tcga#summary
Add chart `Specimen Freezing Means`
Then mutation count all set to NA

[2018-03-02 22:21] inodb commented on #3922
Thought about this a bit more. So even though some default transcripts might be missing because of this data issue. What we could do instead is whenever `canonical-transcripts` returns an error (e.g. maybe that gene symbol is not in the list). We can use transcripts endpoint to query by hugo symbol and get all possible transcripts related to that hugo symbol. Then we can just pick the longest one.

[2018-03-05 12:30] adefelicibus commented on #3925
@pieterlukasse Can you help me?

[2018-03-05 14:34] kalletlak commented on #3926
@zhx828 overriding group ndx data is removing special charts data
https://github.com/cBioPortal/iViz/blob/master/app/scripts/main.js#L160

[2018-03-05 18:25] schultzn opened #3927 "Sample sub-selection not reflected in survival curve when survival chart is added after sample selection"
1) Use this link:
http://www.cbioportal.org/study?id=5a9d8ae4498eb8b3d5650d8c#summary

2) Then select the breast cancer samples

3) Then add overall survival chart

![image](https://user-images.githubusercontent.com/11892704/36992365-abccf7d0-2078-11e8-847c-44291168c433.png)

[2018-03-06 04:41] jjgao opened #3928 "Mutex tab does not recognize ; as separator for genes"
From user:

What happens is if I use the Pan-Lung dataset and type: "KRAS SPRED1" the mutual exclusivity button shows up.  However, if I type "KRAS;SPRED1" then the mutual exclusivity button does not show up.

http://www.cbioportal.org/index.do?session_id=5a9e1c07498eb8b3d5650f25

https://groups.google.com/d/msgid/cbioportal/9f682e93-45f8-40e3-95ac-2d1bbe9a6e0f%40googlegroups.com?utm_medium=email&

[2018-03-06 08:42] messersc opened #3929 "MySQL migration fails for 2.6.0"
Hi,

the sql script file is missing a colon, so the migration crashes with

[code]

Fix:

[code]

Should I do a PR or is a less hassle for a member of the team?

Kind regards,
Clemens

[2018-03-06 11:53] messersc commented on #3741
From my limited testing, the problem is still present in the latest `rc` (v1.12.0-SNAPSHOT) and db version 2.6.0.

I will start building minimal examples, which hopefully will help us determine what is wrong.

[2018-03-06 16:28] zhx828 opened #3930 "Explore/Switch to webgl scatter plot(Plotly)"
Adam took a look the webGL version of the scatter plot. And the result is promising. Down to 200ms from 900ms.

[2018-03-06 21:58] ritikakundra opened #3931 "Age Bins are off for <18 and >89"
The Age bins for less than and greater than cases looks off in the genie cohort.

[2018-03-07 16:16] jjgao commented on #3925
@adefelicibus did you migrate you database too?

https://cbioportal.readthedocs.io/en/latest/Updating-your-cBioPortal-installation.html

[2018-03-07 16:46] #3535 closed

[2018-03-07 16:49] jjgao commented on #3929
@messersc thank you for bring this into our attention. Please send us a pr -- we would love to have community contributions :)

[2018-03-07 16:54] jjgao commented on #3930
FYI -- there are some other ideas to enhance the scatter plot: https://github.com/cBioPortal/GSoC/issues/46

[2018-03-07 18:04] #3914 closed

[2018-03-07 18:05] adamabeshouse opened #3932 "null pointer exception in coexpression endpoint"
http://www.cbioportal.org/beta/api/swagger-ui.html#/Co-Expressions/fetchCoExpressionsUsingPOST

molecular profile id `coadread_tcga_pub_mirna`
sample list id `coadread_tcga_pub_nonhypermut`
entrez gene id `3845`

[2018-03-07 19:04] #3294 closed

[2018-03-07 19:04] #3308 closed

[2018-03-07 23:20] tmazor opened #3934 "beta - cancer types summary - genes should be in order of query"
Genes are listed alphabetically but should be in the same order as the query

![image](https://user-images.githubusercontent.com/10508276/37123860-bd20cba8-2233-11e8-9991-9265baa63ce8.png)
http://www.cbioportal.org/beta/index.do?cancer_study_id=lgg_tcga&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=lgg_tcga_cnaseq&gene_list=IDH1%2520TP53%2520EGFR%2520CDKN2A&geneset_lis

[2018-03-07 23:22] tmazor opened #3935 "beta - cancer types summary - typo"
In customize, "Y Axis Value:" has an extra "i":
![image](https://user-images.githubusercontent.com/10508276/37123984-59d60de6-2234-11e8-96e3-326300477462.png)

[2018-03-07 23:31] tmazor opened #3936 "beta - cancer types summary - filters reset when x/y-axis settings change"
If I filter with by Min # Altered Cases or Min # Total Cases, and then change the x-axis sorting, the min # resets to 0. Changing the sorting shouldn't reset those filters:

![mar-07-2018 18-26-35](https://user-images.githubusercontent.com/10508276/37124171-245f5ce8-2235-11e8-92a8-5456c13938e9.gif)

Filters should also be retained for changing the Y axis value between Absolute Counts and Alteratio

[2018-03-07 23:33] tmazor opened #3937 "beta - cancer types summary - x-axis label overlaps legend"
This only seems to happen for Cancer Type (Cancer Study & Cancer Type Detailed are fine):

![image](https://user-images.githubusercontent.com/10508276/37124343-e1c37062-2235-11e8-8ac6-476324c440d9.png)

http://www.cbioportal.org/beta/index.do?cancer_study_id=lgg_tcga&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=lgg_tcga_cnaseq&gene_list=IDH1%2520TP53%2520EGFR%2520CDKN

[2018-03-07 23:41] tmazor opened #3938 "beta - cancer types summary - tooltip sometimes is too low"
If I hold my mouse over a relatively short bar, or over a low component of a stacked bar, then the tooltip shows up over the axis label rather than over the bar:

![image](https://user-images.githubusercontent.com/10508276/37124623-144a782c-2237-11e8-9e7e-7fd3df616558.png)

http://www.cbioportal.org/beta/index.do?cancer_study_id=lgg_tcga&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority

[2018-03-08 15:33] jjgao commented on #3936
duplicate with https://github.com/cBioPortal/cbioportal/issues/3657

[2018-03-08 15:33] #3936 closed

[2018-03-08 15:38] jjgao opened #3942 "[Beta] suggestions to cancer type summary"
From @schultzn:

In the cancer type summary tab, please change the x-axis sort option from “X-axis values” to “Alphabetically”.

![image](https://user-images.githubusercontent.com/840895/37159815-bea8f890-22bc-11e8-811e-fe03cc59588d.png)

Also, it may be better to swap min % altered cases and min # total cases, as users are more likely to modify the latter?

![image](https://user-images.githubuser

[2018-03-08 15:40] jjgao opened #3943 "[beta] Cancer Types Sumary: minor change"
Small suggestion: In the tooltip, change “cases" to “case”, if there is only a single case (see below).

![image](https://user-images.githubusercontent.com/840895/37159922-064de78c-22bd-11e8-8fad-7e8486fd8c11.png)

[2018-03-08 15:41] jjgao opened #3944 "[beta] cancer type summary: SVG cannot be opened by AI"
From @schultzn : "in the Cancer Types Summary tab, I noticed that the SVG file can’t be loaded by Adobe Illustrator … see the error message I get below. "

![image](https://user-images.githubusercontent.com/840895/37160019-41ef98f8-22bd-11e8-8105-1dd046899b97.png)

[2018-03-08 15:43] jjgao commented on #3944
is it the same reason as https://github.com/cBioPortal/cbioportal/issues/1541 and #3225?

[2018-03-08 15:48] schultzn commented on #3944
I noticed that despite this error message the SVG actually loads… it would just be nice if that error message could disappear.

[2018-03-08 16:03] jjgao opened #3945 "status when plotting a big oncoprint"
When querying a big dataset (e.g. all studies), between the time of data loaded and that of oncoprint displayed, there is a delay. Is it possible to show some status, e.g Plotting OncoPrint... ?

![](https://media.giphy.com/media/DNweHBzELvLzXhHZyb/giphy.gif)

[2018-03-08 16:07] alisman commented on #3945
@adamabeshouse I did an experiment a little while ago.  It seems that the loader animation (which is a css animation) will continue to animate even when browser is locked due to oncoprint rendering.  i was able to hack in a way to detect when oncoprint is done rendering (measurement of width) which solved the problem @jjgao is talking about.  but it would be better if oncoprintjs itself issued eve

[2018-03-08 16:09] jjgao opened #3946 "[beta] cancerhotspots ajax error"
When opening mutations tab: http://www.cbioportal.org/beta/index.do?session_id=5a982262498eb8b3d564fd89

![image](https://user-images.githubusercontent.com/840895/37161501-d906c5d8-22c0-11e8-8cbc-df2193652491.png)

![image](https://user-images.githubusercontent.com/840895/37161484-cdec0974-22c0-11e8-8d9f-6086bbace3fb.png)

[2018-03-08 16:10] jjgao commented on #3945
@alisman @adamabeshouse not critical issue if hard to solve.

[2018-03-08 16:15] jjgao opened #3947 "[beta] Downloads tab: js error when querying multiple studies"
http://www.cbioportal.org/beta/index.do?session_id=5aa1615f498eb8b3d5651b51

![image](https://user-images.githubusercontent.com/840895/37161914-f589e7d4-22c1-11e8-8571-78420c766bc8.png)

[2018-03-08 16:16] alisman commented on #3945
should be easy

[2018-03-08 16:21] #3727 closed

[2018-03-08 16:22] #3688 closed

[2018-03-08 16:23] #3676 closed

[2018-03-08 16:23] #3647 closed

[2018-03-08 16:24] #3614 closed

[2018-03-08 16:25] #3610 closed

[2018-03-08 16:25] #3273 closed

[2018-03-08 16:52] tmazor opened #3948 "[beta] downloads tab - percent sign is cut off"
This is minor, but when 100% of sample have an alteration, the percent sign is cut off:
![image](https://user-images.githubusercontent.com/10508276/37163988-248a7b70-22c7-11e8-88ab-64b77b9d91ef.png)

http://www.cbioportal.org/beta/index.do?cancer_study_id=lgg_ucsf_2014&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=lgg_ucsf_2014_sequenced&gene_list=IDH1%2520TP53%2520ATR

[2018-03-08 17:06] tmazor opened #3949 "[beta] downloads - capitalization consistency"
For consistency, capitalize all words except "of":

![image](https://user-images.githubusercontent.com/10508276/37164587-bfb413e4-22c8-11e8-8200-b10d3200621d.png)

Should be: Type of Genetic Alterations Across All Samples

[2018-03-08 17:12] tmazor opened #3950 "[beta] downloads - text change to "Altered" tooltip"
Tooltip should say "Sample" rather than "Case" for clarity:
![image](https://user-images.githubusercontent.com/10508276/37165118-d8996af2-22c9-11e8-9f3c-310c216f076b.png)

[2018-03-08 17:12] inodb commented on #3946
Fixed. This was an old problem - proxy isn't working for genome nexus for whatever reason so need to use https

[2018-03-08 17:12] #3946 closed

[2018-03-08 17:38] adamabeshouse opened #3951 "fetchSamplesUsingPOST never returns detailed projection"
http://www.cbioportal.org/beta/api/swagger-ui.html#/Samples/fetchSamplesUsingPOST

try `sampleFilter = {
  "sampleListIds": ["coadread_tcga_pub_nonhypermut"]
}` with DETAILED projection

in particular, its missing `sequenced` and `copyNumberSegmentPresent` attributes

[2018-03-08 18:00] alisman commented on #3944
Seems like this is probably an issue with font of Victory chart's theme.  Only way to test this is to change it and see if problem persists.  I can do this when I'm in the office tomorrow.

[2018-03-08 19:55] onursumer commented on #3948
@tmazor I cannot reproduce this bug neither in Chrome nor Firefox. On what browser (and OS) does this happen?

[2018-03-08 20:34] onursumer commented on #3883
Apparently this issue has already been reported: https://github.com/genome-nexus/genome-nexus/issues/126

[2018-03-08 20:42] tmazor commented on #3948
@onursumer I see it in Chrome (Version 64.0.3282.186 (Official Build) (64-bit)) and Safari (Version 11.0.3 (12604.5.6.1.1)) and Firefox (58.0.2 (64-bit)). I'm on Mac OS 10.12.6

[2018-03-09 09:59] messersc commented on #3929
@jjgao Happy to to do this. See referenced PR.

Cheers,
Clemens

[2018-03-09 11:26] fedde-s opened #3953 ""Checked DB schema version: (expected: 0)" in v1.11.x"
When installing cBioPortal according to the instructions, configuring the server based on `portal.properties.EXAMPLE`, it's not possible to load any study data whatsoever. The cause of this is that commit c2dbde54054cc85c9a5dcb948d9d661f6adfd49b of pull request #3505 moved a property used by the data loading pipeline to a different file, without adjusting the code that looks for it in `portal.prop

[2018-03-09 11:32] fedde-s commented on #3464
We might be able to supply a portal.properties file at runtime once this is released! That would be great, if anything it could greatly simplify the Docker configuration.

[2018-03-09 14:29] schultzn opened #3954 "Cancer Types Summary: Incorrect frequencies when sorting alphabetically"
Try this:
http://bit.ly/2F2iF7K

Then sort by x-axis...   all frequencies are wrong.

See this user report:
https://groups.google.com/forum/#!topic/cbioportal/wgq0bsJdCiA

Luckily, this seems to have been fixed during refactoring!

[2018-03-09 15:22] alisman commented on #3954
wow.  so, you tested the new one and it's ok?  i guess we should get it out.

[2018-03-09 16:56] jjgao opened #3955 "Can we show only the top mutated genes in study view"
The Mutated Genes table currently shows cBioPortal cancer genes with 1 or more mutations, as well as any gene with 2 or more mutations. This has caused some confusion since not all mutated genes can be found in the table.

The question is whether it's useful to show so many genes. Can we show only the top, say 100, mutated genes? If not, what's the use cases to show less frequently mutated genes?

[2018-03-09 17:29] ersinciftci commented on #3464
@fedde-s it's released. So yeah portal.properties doesn't depend on any maven properties anymore, so can be provided at runtime.

[2018-03-09 18:46] onursumer commented on #3948
Tested on Windows with the latest Chrome, and Firefox. Same problem there, too. Looks like only on Ubuntu it works properly :)

[2018-03-09 18:48] schultzn commented on #3955
I really like the ability to search for specific genes in the table, even if they are low frequency... can we keep that somehow?

[2018-03-09 19:25] fedde-s commented on #3464
I believe it hasn't been released just yet, unless I've missed a release after v1.11.3; see bug report #3953.

[2018-03-09 19:52] inodb opened #3956 "[beta] Make lollipop not block for hotspot data"
- MSK IMPACT on private portal takes a really long time to load (blocked by genomenexus vep call)

[2018-03-09 21:44] #3922 closed

[2018-03-09 21:53] jjgao commented on #3955
@schultzn maybe we can have the complete list in the Mutated Genes tab? Or do you think it is important to support interactive analysis between low frequently mutated genes with other charts?

[2018-03-09 23:09] schultzn commented on #3955
I don’t really want to lose the functionality… I never go to the Mutated Genes tab.

Why are you trying to remove the low frequency genes? To save loading time or to make changes to the visualization?

Let’s discuss in person maybe?

[2018-03-10 00:32] ersinciftci commented on #3464
@fedde-s Oh you mean that, yeah I fixed it a few weeks ago, not released yet.

[2018-03-10 00:33] ersinciftci commented on #3953
This is fixed in `rc` a few weeks ago.

[2018-03-10 00:37] ersinciftci commented on #3464
This was the related issue https://github.com/cBioPortal/cbioportal/issues/3855

[2018-03-10 00:38] ersinciftci commented on #3953
I guess this is a duplicated issue with https://github.com/cBioPortal/cbioportal/issues/3855

[2018-03-12 08:09] fedde-s commented on #3953
`rc` will not be released until the next major release though. It would be useful to rebase the fix and have a bugfix release for this, as it's still broken in 1.11.x. Unless 1.12.0 can be released today or tomorrow of course.

[2018-03-12 08:13] fedde-s commented on #3953
Either way, I integrated a workaround into the setup automation we use at The Hyve by re-introducing the properties to `portal.properties`, so it's no longer blocking me personally; I just thought it might be an unpleasant surprise to potential new contributors.

[2018-03-12 11:05] fedde-s opened #3959 "Results page does not reflect changes to frontend OQL parser"
When adjusting the OQL parser to support new syntaxes, the query page reflects this just fine. However, clicking the Submit button to open the results view parses the query again using a *different* OQL parser, outdated duplicate code fetched from `<cBioPortal root URI>/js/lib/oql/oql-parser.js?20180312-1513`.

[2018-03-12 11:08] fedde-s commented on #3959
@pieterlukasse, I believe I just heard you say that you'd want to look into this.

[2018-03-12 11:25] fedde-s commented on #3959
The parser was called by the `genes()` function in an outdated duplicate of `oqlfilter.js`, from a jQuery callback. Might  [`visualise.jsp`](https://github.com/cBioPortal/cbioportal/blob/debcdc50dfdf01afed86552245bc1d922b4a893a/portal/src/main/webapp/WEB-INF/jsp/visualize.jsp#L498) be the caller?

[2018-03-12 14:05] jjgao commented on #3959
@adamabeshouse could you comment?

[2018-03-12 14:54] inodb opened #3960 "geneids null value JSP error"
Lots of these errors when `genesetIds` is null:
[code]
All other values in `server_vars` are cast to string from getAttributes. This is not done for the `getParameter` from `geneSetIds`. Not sure if that's the error but possibly.

[2018-03-12 15:53] schultzn opened #3961 "1.12 study view: Loading mutation and CNA frequencies takes forever on first load"
This seems to be a new issue - the tables take a long time to load, and the progress bar is stuck at 100% for a while

![image](https://user-images.githubusercontent.com/11892704/37294254-cdde5666-25eb-11e8-8d19-a0124ad1c333.png)

[2018-03-12 17:09] jjgao commented on #3955
@schultzn the big problem is we are not showing all mutated genes, i.e. we are not showing a gene if it's only mutated once and is not a cancer gene. In the case of CNA genes, we only show cancer genes. There have a few users asking about the "discrepancy" between the Mutated Genes table and the results page.

Maybe we should just try to show all mutated genes and CNA genes. @zhx828 @ersinciftci m

[2018-03-12 17:20] adamabeshouse commented on #3959
@fedde-s I see the issue here. This will go away once we refactor the plots tab. If we want to fix it before then it will be pretty simple, we just need to expose the corresponding function to the window from the frontend application. What do you think we should do @alisman

[2018-03-12 17:23] alisman commented on #3959
@adamabeshouse, yes, lets expose it.    maybe we should just get rid of legacy parser to be sure it's gone.

[2018-03-12 17:38] jjgao commented on #3961
It seems that it happens only when the study is loaded for the first time? The subsequent loading seems very fast. Adding @zhx828 and @ersinciftci on this.

[2018-03-12 17:39] adefelicibus commented on #3925
Hi @jjgao , Yes, I've migrated the database too.
I'm using cbioportal version 1.11.4 and db-schema 2.5.0. Also, after the update, I was able to upload a new study on cbiportal with no error about the db-schema.

[2018-03-12 17:41] jjgao commented on #3959
@alisman @adamabeshouse it's a good idea to remove the legacy parser code.

[2018-03-12 17:42] adefelicibus commented on #3925
@pieterlukasse I dit it, but with no success. I've tried a different browser and also a new installation. I will try to use the docker image with a new database, maybe there is something wrong in my database.

[2018-03-12 17:54] zhx828 commented on #3955
@jjgao the issue will be real-time filtering. It will have delay everytime user filters the table.

[2018-03-12 18:33] adamabeshouse commented on #3959
https://github.com/cBioPortal/cbioportal/pull/3963
https://github.com/cBioPortal/cbioportal-frontend/pull/1020

[2018-03-12 18:55] jjgao commented on #3928
@ersinciftci why Mutex is different?

[2018-03-12 19:24] ersinciftci commented on #3928
@jjgao I think the logic that hides the Mutex tab is in 2 places, both in JSP and frontend, the one in the JSP might be parsing the genes itself since there is no store or anything. I'll check it.

[2018-03-12 20:52] jjgao commented on #3067
@sheridancbio do you know what's the status of this?

[2018-03-12 21:02] pieterlukasse commented on #3925
@adefelicibus yes, that would be good. We recently updated our docker files to 1.11.3: https://github.com/thehyve/cbioportal-docker

[2018-03-12 21:19] jjgao opened #3964 "Web API for generate MAF format"
@ersinciftci would it be possible to generate a MAF file based on study_ids, sample_ids, (or sample_list_id), and genes?

It is a frequently requested feature to download a MAF for a selected set of samples. Once we have that API, we could add an option in the Mutated Genes table, and Download tab in the results page.

[2018-03-12 21:44] priti88 opened #3965 "Gene panel improvement: user reported"
Gene panel coverage for samples which were not profiled defaults to WES. We want to add the functionality to display them as "Not sequenced".
https://groups.google.com/forum/#!topic/cbioportal/mTVmgGe9-hI

[2018-03-12 21:46] #3908 closed

[2018-03-12 22:02] jjgao commented on #3928
@ersinciftci I see. In that case, maybe we could remove the logic in jsp?

[2018-03-13 13:15] pieterlukasse commented on #3953
I agree it better if such fixes go via the new hotfix route (i.e. master) instead of `rc`. Was blocking for a while, but we found a workaround for now.

[2018-03-13 13:30] #3956 closed

[2018-03-13 13:30] inodb commented on #3956
deployed to beta

[2018-03-13 13:31] inodb commented on #3947
deployed to beta

[2018-03-13 13:31] #3947 closed

[2018-03-13 13:32] inodb commented on #3944
deployed to beta

[2018-03-13 13:32] #3944 closed

[2018-03-13 13:33] inodb commented on #3943
deployed to beta

[2018-03-13 13:33] #3943 closed

[2018-03-13 13:33] inodb commented on #3942
deployed to beta

[2018-03-13 13:33] #3942 closed

[2018-03-13 13:34] inodb commented on #3938
deployed to beta

[2018-03-13 13:34] #3938 closed

[2018-03-13 13:35] inodb commented on #3935
deployed to beta

[2018-03-13 13:35] #3935 closed

[2018-03-13 13:36] inodb commented on #3937
deployed to beta

[2018-03-13 13:36] #3937 closed

[2018-03-13 13:36] inodb commented on #3657
deployed to beta

[2018-03-13 13:36] #3657 closed

[2018-03-13 13:37] inodb commented on #3934
deployed to beta

[2018-03-13 13:37] #3934 closed

[2018-03-13 15:15] zhx828 commented on #3961
@schultzn @jjgao this is not an issue. Both tables are waiting for gene panel API to response. The progress bar does not have that undercover.
There are two steps here:
- [ ] Adjust the progress bar to have gene panel.
- [ ] Switch to new gene panel endpoint.

[2018-03-13 18:46] tmazor opened #3966 "[beta] downloads - add OQL to download files"
The old downloads tab included the OQL applied to each gene. The new downloads tab only has that for the Gene Alteration Frequency table. I think we need to add it to the Type of Genetics Alterations Across All Samples table/download also.

[2018-03-13 18:55] tmazor opened #3967 "withdrawn hugo symbol MIR-3676/3676 causes civic to return 404"
CIViC loads for the mutations, but not for copy number for this patient:
http://www.cbioportal.org/case.do#/patient?studyId=lgg_tcga&caseId=TCGA-DU-5853
![image](https://user-images.githubusercontent.com/10508276/37363241-cad8cacc-26cd-11e8-8dd8-b54fde883d0a.png)

I tried a few other patients from this study (selected at random) and they all load the CIViC annotation just fine, so I'm not sure wha

[2018-03-13 18:59] tmazor opened #3968 "[beta] cancer types summary - change color for shallow deletion"
Can we use the same light blue color for Shallow Deletion here as on OncoPrint?

Cancer Types Summary uses black:
![image](https://user-images.githubusercontent.com/10508276/37363710-fcefc546-26ce-11e8-920e-e3148658491c.png)

OncoPrint uses light blue, which nicely coordinates with dark blue for Deep Deletion:
![image](https://user-images.githubusercontent.com/10508276/37363733-09fad596-26cf-11e8-

[2018-03-13 20:50] zhx828 commented on #3961
This is not a new issue introduced in 1.12. It has been there for a while. I'm currently working on the fixes mentioned above, but it is not necessary to be introduced in 1.12. It could be a hotfix on 1.12.1.

[2018-03-13 21:10] inodb commented on #3967
prolly one of the genes fails or the parameters are too long. will have a look

[2018-03-13 21:18] inodb commented on #3967
yes, so all these genes fail:
[code]
That is any sample that has these mutations will return 404

[2018-03-13 21:47] inodb commented on #3967
I put a proposed solution here that we could implement on our end: https://github.com/griffithlab/civic-server/issues/420. Just verifying with civic what they think

[2018-03-13 21:48] jjgao commented on #3967
@pieterlukasse could you guys help with this one?

[2018-03-14 12:00] jjgao commented on #3966
@onursumer: Ideally we should OQL only when an oql is specified by the user. Is that possible?

[2018-03-14 12:13] jjgao commented on #3954
closing this since it's fixed in beta.

[2018-03-14 12:13] #3954 closed

[2018-03-14 12:47] jjgao opened #3969 "[beta] Mutex: adjusted p above 1"
When adjusted p > 1, please set it to 1.0.

http://www.cbioportal.org/index.do?session_id=5a61f245498eb8b3d563ddc4

[2018-03-14 13:16] jjgao opened #3970 "[beta] Modify Query: js/api error"
When clicking Modify Query, there is a js error. The site seems working fine though.

![image](https://user-images.githubusercontent.com/840895/37404359-0367d9e2-2768-11e8-841c-51ebae2a0500.png)

![image](https://user-images.githubusercontent.com/840895/37404395-222b6c5e-2768-11e8-860e-53d3a9bf0c1f.png)

[2018-03-14 13:22] jjgao opened #3971 "[beta] Mutex using Adjusted p-value to call significance"
Since we have Adjusted p-values now, we should use it for deciding the statistical significance. Could you bold Adjusted p-value if <0.05 (instead of p-value) and call it significant? @ersinciftci

[2018-03-14 13:37] jjgao opened #3972 "Downloaded Mutations data: NS vs WT"
Currently if a sample has no mutations in a gene, we put NA. It should be possible to put NS or WT. Can we do that? Maybe we need to use [this API](https://github.com/cBioPortal/cbioportal/pull/3793) for OncoPrint data?

[2018-03-14 13:55] jjgao opened #3973 "Download and Mutations tabs: download MAF"
This is not part of refactoring but it is a frequently requested feature.

For mutation data, let's support MAF format in both Mutations and Download tabs, ideally should be ready for MutationMapper display. Do we have all the information we need for MAF? Or do we need to wait for this (https://github.com/cBioPortal/cbioportal/issues/3964)?

[2018-03-14 14:10] inodb commented on #3964
@selenicp approves of this feature

[2018-03-14 14:34] ersinciftci commented on #3756
@n1zea144 found a way to do it, so `readOnly` is back now.

[2018-03-14 14:34] #3756 closed

[2018-03-14 14:46] ersinciftci commented on #3970
It's Gene Sets API, so assigning to @pieterlukasse

[2018-03-14 15:01] #3929 closed

[2018-03-14 15:01] jjgao commented on #3929
@messersc thank you for the help and congratulations to your first pr to the cbioportal :)

[2018-03-14 15:11] jjgao commented on #3965
For example, in this query, two samples don't have sequencing data:

http://bit.ly/2Drk467

![image](https://user-images.githubusercontent.com/840895/37411095-5f0b7e24-2778-11e8-9c36-d6635be355b5.png)

@ersinciftci do you know if you considered this in https://github.com/cBioPortal/cbioportal/pull/3793?

[2018-03-14 15:15] jjgao commented on #2556
it's captured in another issue: https://github.com/cBioPortal/cbioportal/issues/3965

[2018-03-14 15:15] #2556 closed

[2018-03-14 15:19] jjgao commented on #3973
It's OK to do it after 1.12.0 unless getting into 1.12.0 is the only way we get it done :)

[2018-03-14 15:34] adamabeshouse commented on #3965
strange, it seems like the relevant changes (https://github.com/cBioPortal/cbioportal-frontend/blob/rc/src/pages/resultsView/ResultsViewPageStoreUtils.ts#L92) are not present in master... but we must have released since those changes were merged. @alisman @inodb  ?

[2018-03-14 16:15] jjgao opened #3974 "Lymphoma should NOT be included in Solid Tumors"
It's critical b/c keytruda only approved for solid tumor for biomarker MSI-H.

[2018-03-14 16:45] zhx828 commented on #3974
Duplication of https://github.com/oncokb/oncokb/issues/1000

[2018-03-14 16:45] #3974 closed

[2018-03-14 18:10] romgrk commented on #3953
@fedde-s I'm trying to install a new instance of the cBio portal and got stuck exactly at that point. Would you mind sharing a detailed explanation of what should be done to workaround this? Thanks!

[2018-03-14 18:28] fedde-s commented on #3953
@romgrk, until a bugfix is released, the workaround is to add these two lines to your `portal.properties` file before you (re-)run [the `mvn` command](https://github.com/cBioPortal/cbioportal/blob/v1.11.3/docs/Build-from-Source.md#building-with-maven) that builds cBioPortal from source:
[code]

[2018-03-14 18:49] ersinciftci commented on #3928
@jjgao The tabs are still part of the JSP, so we need to keep the part in JSP for now. I guess the logic in the new frontend is just for tests. I found the problem in jsp:
`String[] geneList = URLDecoder.decode((String) request.getAttribute(QueryBuilder.GENE_LIST), "UTF-8").split("( )|(\\n)");`

So will fix it for now.

[2018-03-14 19:24] onursumer commented on #3966
@jjgao It seems possible, but needs some work.

First, we need to add an option for the table to define a download function for the headers as well, a property like `headerDownload`. Because, OQL is part of the header in that table. (Mousing over each gene header reveals the full OQL string, but it is not included in the download file.)

Also, If the information (whether OQL is specified by user o

[2018-03-14 20:50] #3118 closed

[2018-03-14 21:10] #3830 closed

[2018-03-14 22:01] inodb opened #3975 "On query page limit `show summary` button to x number of samples instead of 20 studies"
We could use e.g. 100K samples

[2018-03-15 13:14] schultzn opened #3976 "3D structure view not working on mutations tab"
This seems to be an existing issue.. 3D structure button is always greyed out.

![image](https://user-images.githubusercontent.com/11892704/37465333-3f790b3a-2831-11e8-917d-cb5c4bbf7d8e.png)

[2018-03-15 13:49] inodb commented on #3976
Thanks for reporting - looks like ssl certificate of g2s expired 2 days ago

[2018-03-15 15:05] fedde-s commented on #3960
What view were you rendering when this occurred? A results view that didn't include a gene set score profile?

[2018-03-15 15:27] jjgao commented on #3976
Juexin fixed it. We will try to find a way to auto-renew the certificate.

[2018-03-15 15:27] #3976 closed

[2018-03-15 15:29] jjgao commented on #3960
@inodb @alisman how close are we to getting rid of the jsp pages?

[2018-03-15 15:30] jjgao commented on #3960
@inodb does this error have any effect on the page?

[2018-03-15 15:34] jjgao commented on #3975
@inodb I am not sure what would be a good threshold for the number of samples... We should consider remove this limit at certain point, e.g. once the study view is super fast :)

[2018-03-15 15:40] jjgao commented on #3966
@onursumer could you see if it's easy to do the first part: downloading oql / header? Please don't worry about the second one (whether OQL is specified by user or not).

[2018-03-15 15:42] jjgao commented on #3973
@inodb maybe we should schedule this for later?

[2018-03-15 15:48] inodb commented on #3973
@jjgao I think so, maybe for 1.12.1 - it'll require some more testing etc

[2018-03-15 15:52] inodb commented on #3960
@fedde-s @jjgao i haven't been able to figure out yet when this error occurs, but i see it in the public tomcat logs at `11:44:23`

[2018-03-15 16:25] fedde-s commented on #3960
I haven't reproduced it either, but I imagine it might be a backwards incompatibility in the coupling between frontend and backend somewhere.

[2018-03-15 16:42] inodb opened #3977 "can still get the to the crosscancer.do page"
See e.g.:

http://www.cbioportal.org/cross_cancer.do?gene_list=C2&Action=Submit&cancer_study_list=&cancer_study_id=all#crosscancer/overview/0/C2/all,paac_jhu_2014,all_stjude_2016,laml_tcga_pub,laml_tcga,acyc_fmi_2014,acyc_mda_2015,acyc_mskcc_2013,acyc_sanger_2013,acbc_mskcc_2015,acc_tcga,ampca_bcm_2016,blca_mskcc_solit_2014,blca_mskcc_solit_2012,blca_plasmacytoid_mskcc_2016,blca_bgi,blca_dfarber_m

[2018-03-15 17:01] schultzn opened #3978 "Cancer Type Summary: x-axis sorting issue when switching y-axis"
When switching the y-axis of the cancer type summary plot from frequencies to counts or vice versa, the x-axis is sorted by y-axis values, even when alphabetical sorting was selected.

[2018-03-15 17:20] jjgao commented on #3960
I put it into icebox for now since we are going to get rid of the jsp pages.

[2018-03-15 17:23] jjgao commented on #3977
If the parameters are compatible and it's simply a redirection, let's redirect the url. Otherwise, it's OK to drop the support for cross_cancer.do.

[2018-03-15 17:26] jjgao commented on #3977
From Google Analytics, there is still very little traffic to the page 457 visits (0.33%) last month, so I think it's ok to drop it.

[2018-03-15 17:31] jjgao opened #3979 "ln?q=EGFR:MUT rediction"
http://cbioportal.org/ln?q=EGFR:MUT is still redirecting to cross_cancer.do? Please change it to index.do.

[2018-03-15 17:32] onursumer commented on #3966
@jjgao first part is relatively easier, I'll look into that.

[2018-03-15 17:59] alisman commented on #3979
@inodb can you take this?

[2018-03-15 18:06] adamabeshouse commented on #3959
fixed in rc

[2018-03-15 18:32] jjgao opened #3980 "virtual study tweaks"
- [x] change default "Selected Study" to "Selected samples (2018-03-15)"
- [x] make the default name a placeholder
- [x] description first line "333 samples from 22 studies (created 2018-03-15)"
- [x] Add "Query" button after "View" button after a VS is saved

[2018-03-15 18:34] jjgao opened #3981 "Use single study mode when querying a virtual study within one real study"

[2018-03-15 18:41] schultzn commented on #3978
Not sure what I was doing earlier - I can't reproduce it now. Sorry.

[2018-03-15 18:41] #3978 closed

[2018-03-15 19:01] jjgao commented on #3968
@ersinciftci an example: http://www.cbioportal.org/beta/index.do?session_id=5aaac300498eb8b3d56539ba

[2018-03-15 21:12] schultzn opened #3982 "TERT promoter mutations are annotated as truncating in OncoPrints"
TERT promoter mutations should be shown with a separate color.

See this user report:
https://groups.google.com/forum/#!topic/cbioportal/_23sVHiEqXs

[2018-03-15 21:25] adamabeshouse commented on #3982
this is probably a data issue... i'll look into it

[2018-03-15 22:04] adamabeshouse commented on #3982
oops! big oversight.. fixing now

[2018-03-15 22:53] adamabeshouse commented on #3982
fixed in https://github.com/cBioPortal/cbioportal-frontend/pull/1036

[2018-03-16 00:01] schultzn commented on #3982
Thank you!

[2018-03-16 02:46] zhx828 opened #3984 "New projection needed to return less data: /gene-panel-data/fetch POST"
Stuy view only needs `sampleId `, `studyId `, `entrezGeneId` and `sequenced`

[2018-03-16 02:46] zhx828 opened #3985 "New projection needed to return less data: /clinical-data/fetch POST"
The current endpoint returns too much data. Study view does not need `uniquePatientKey` and `uniqueSampleKey`.

[2018-03-16 07:57] fedde-s commented on #3959
I can confirm; I've rebased the commits that extend the OQL syntax, and they now go through to the results view 👍

[2018-03-16 12:57] jjgao opened #3986 "remove legacy OQL code"
Currently it is still being used by Enrichments tab.

[2018-03-16 14:15] #3926 closed

[2018-03-16 14:15] #3927 closed

[2018-03-16 14:15] #3931 closed

[2018-03-16 14:15] #3930 closed

[2018-03-16 15:45] fedde-s commented on #3959
@adamabeshouse, all tabs respect the new parser now, except for the Enrichments tab. Has that been missed, or is it waiting for refactoring?

[2018-03-16 15:46] fedde-s commented on #3959
Related to https://github.com/cBioPortal/cbioportal/issues/3986.

[2018-03-16 15:47] fedde-s commented on #3959
I see that it's being addressed in that issue already, will close this one again.

[2018-03-16 15:47] #3959 closed

[2018-03-16 17:37] adamabeshouse commented on #3986
We'll just do this when enrichments is refactored, right?

[2018-03-16 21:21] adamabeshouse commented on #3776
implemented in `rc`

[2018-03-16 21:21] #3776 closed

[2018-03-19 14:26] tmazor opened #3988 "[beta] oncoprint doesn't show if a gene is not sequenced"
Production:
![image](https://user-images.githubusercontent.com/10508276/37601240-e47d17b2-2b5f-11e8-829a-e3099964bdc9.png)
http://www.cbioportal.org/index.do?cancer_study_id=msk_impact_2017&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=msk_impact_2017_all&gene_list=ALK%2520SOS1&geneset_list=+&tab_index=tab_visualize&Action=Submit&genetic_profile_ids_PROFILE_MUTATION_EXTEND

[2018-03-19 14:31] ersinciftci opened #3989 "Evaluate service layer caching"
https://docs.spring.io/spring/docs/5.0.4.RELEASE/spring-framework-reference/integration.html#cache

[2018-03-19 14:37] tmazor opened #3990 "[production] oncoprint doesn't show "not sequenced" if the only gene queried is not sequenced"
If I query SOS1 & another gene in MSK-IMPACT, then SOS1 correctly appears as not sequenced in all samples:
![image](https://user-images.githubusercontent.com/10508276/37601812-580d38c8-2b61-11e8-9e85-b721fd2a5512.png)

But if I query SOS1 alone, it shows up labeled as whole exome sequencing and 0% altered:
![image](https://user-images.githubusercontent.com/10508276/37601776-3ff602ec-2b61-11e8-98de

[2018-03-19 14:45] tmazor opened #3991 "study view query box re-orders genes when more than 10 genes are listed"
If I type in up to 10 genes in the query box on study view, they remain in the order I enter. But if I type more than 10 genes, they get re-ordered.

If I paste this list, the order is retained:
EGFR ERBB2 MET RET ROS1 ALK SOS1 KRAS NRAS NF1
![image](https://user-images.githubusercontent.com/10508276/37602317-795eedb8-2b62-11e8-8f5a-e3171fcbbb33.png)

But if I add one more gene, then they get reor

[2018-03-19 14:53] tmazor commented on #3699
any updates on this @adamabeshouse @jjgao ?

[2018-03-19 15:34] sandertan opened #3993 "Cannot search on study identifier"
When searching for studies, it is not possible to search for a study identifier. For example, searching for `brca` results in only finding `brca_tcga_pub` (the published version) but not `brca_tcga` (the provisional version). Searching for `brca_tcga` yields no results, while it is present in the public portal.

[2018-03-19 16:02] #3966 closed

[2018-03-19 16:03] #3971 closed

[2018-03-19 16:04] #3970 closed

[2018-03-19 16:05] #3969 closed

[2018-03-19 17:41] adamabeshouse commented on #3591
https://github.com/cBioPortal/cbioportal-frontend/pull/1035

[2018-03-19 17:41] #3591 closed

[2018-03-19 17:43] adamabeshouse commented on #3699
it seems to be fixed in /beta, yeah?

[2018-03-19 17:44] jjgao commented on #3993
Agreed. This can be a very useful enhancement.

[2018-03-19 18:17] tmazor commented on #3699
you're right @adamabeshouse, it is! but it wasn't this morning - it must have been part of the 1.12 update that @inodb deployed today?

[2018-03-19 18:18] #3699 closed

[2018-03-19 18:47] adamabeshouse commented on #3988
Fixed by https://github.com/cBioPortal/cbioportal-frontend/pull/1045

[2018-03-19 18:47] adamabeshouse commented on #3990
Fixed by https://github.com/cBioPortal/cbioportal-frontend/pull/1045

[2018-03-19 18:54] jjgao opened #3994 "truncated oncoprint expression legend"
http://www.cbioportal.org/beta/index.do?session_id=5a61ffea498eb8b3d563de36&show_samples=false&

![image](https://user-images.githubusercontent.com/840895/37616056-240ed594-2b85-11e8-8d60-3a63051ea9da.png)

[2018-03-19 18:55] tmazor commented on #3682
@adamabeshouse @jjgao :  Is this issue the reason that when I define putative driver as cBioPortal>=1, there are still truncating mutations of unknown significance?

![image](https://user-images.githubusercontent.com/10508276/37616103-4e1ed3fc-2b85-11e8-8480-dfdf174629d4.png)

[2018-03-19 18:57] adamabeshouse commented on #3682
@tmazor yes and as of now this change has been merged into `rc` meaning its slated for the next release. should we merge this into this release instead? @alisman @jjgao

[2018-03-19 19:03] tmazor commented on #3968
Deep deletion on cancer types summary is now the same light blue as shallow deletion on oncoprint. Shallow deletion on cancer types summary is still black.

The colors on cancer types summary should be:
Shallow deletion = light blue
Deep deletion = dark blue

Current beta cancer types summary:
![image](https://user-images.githubusercontent.com/10508276/37616504-88a24dfa-2b86-11e8-969d-b4fddceb8edc

[2018-03-19 19:06] tmazor opened #3996 "[beta] mutex - update tendency tooltip"
If we are now using adjusted p-value to define significance, then we need to change the tooltip:
![image](https://user-images.githubusercontent.com/10508276/37616623-ea8a4ae0-2b86-11e8-822b-553e34e27d21.png)

Should say: "Adjusted p-Value < 0.05 :  Significant association"

[2018-03-19 19:34] adamabeshouse commented on #3994
Fixed by new oncoprint version https://github.com/cBioPortal/cbioportal-frontend/pull/1046

[2018-03-19 19:34] #3994 closed

[2018-03-19 19:56] alisman opened #3998 "Oncoprint never finishes rendering if user navigates to different tab before load finishes"

[2018-03-19 20:05] onursumer opened #3999 "Properly handle N/S in the download tab"
We are not distinguishing between %0 and N/S in the download tab. Tables and the mutation download data should be fixed.

[2018-03-19 20:18] adamabeshouse commented on #3998
https://github.com/cBioPortal/oncoprintjs/pull/65

[2018-03-19 20:26] adamabeshouse commented on #3998
https://github.com/cBioPortal/cbioportal-frontend/pull/1047

[2018-03-19 20:26] #3998 closed

[2018-03-19 21:11] jjgao commented on #3999
related: https://github.com/cBioPortal/cbioportal/issues/3972

[2018-03-19 22:11] inodb commented on #3968
seems to be fixed for real this time

[2018-03-19 22:11] #3968 closed

[2018-03-19 22:12] #3988 closed

[2018-03-19 23:15] adamabeshouse opened #4000 "coexpressions endpoint 500 error"
http://www.cbioportal.org/beta/api/swagger-ui.html#/Co-Expressions/fetchCoExpressionsUsingPOST

molecularProfileId: `coadread_tcga_pub_mrna_merged_median_Zscores`

sample filter:
[code]

entrezGeneId: `673`

Stack trace:

[code]

[2018-03-20 15:34] inodb opened #4003 "importer logic to determine protein start position based on protein_change is incorrect"
See: https://github.com/genome-nexus/genome-nexus/issues/151

This only happens when protein_position is empty in the data file

[2018-03-20 15:41] ersinciftci commented on #3902
@jjgao @tmazor hiding the tab is tricky for survival until we have the single page application, because the tabs themselves are still part of the JSP, but JSP doesn't know if the study has survival data or not. It was easy for mutex because JSP knows the queried genes.

[2018-03-20 16:13] inodb commented on #3883
Fixed in 1.12: http://www.cbioportal.org/beta/case.do#/patient?sampleId=P-0007009-T01-IM5&studyId=msk_impact_2017 by @onursumer

[2018-03-20 16:13] #3883 closed

[2018-03-20 18:03] #4000 closed

[2018-03-20 18:24] jjgao opened #4005 "Count somatic mutations only for #mutations"
Currently are count all mutations per sample.

Fusions should also be excluded

[2018-03-20 19:58] jjgao opened #4006 "Co-expression: should we overlap with mutaiton data or CNAs?"
Currently, we are overlaying mutational data on top. I couldn't recall why we did that. Would it make more sense to overlay copy number data since CN may have a greater impact on expression?

![image](https://user-images.githubusercontent.com/840895/37679410-32184562-2c57-11e8-9205-277fd32f43b2.png)

[2018-03-20 21:07] adamabeshouse commented on #4006
One option would be to do both: have checkboxes for Show Mutations and Show CNA, and if both are checked then color if either mutated or CNA, "KRAS altered" etc

[2018-03-20 22:00] tmazor opened #4007 "oncoprint won't load for a specific query"
I don't understand what's going on, but this specific query refuses to load the actual OncoPrint:
![image](https://user-images.githubusercontent.com/10508276/37685056-7364a626-2c68-11e8-8e13-39ce7377ae04.png)

http://www.cbioportal.org/index.do?cancer_study_id=gbm_tcga&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=gbm_tcga_cnaseq&gene_list=CDKN2A%2520CDK4%2520RB1&genes

[2018-03-20 22:06] tmazor commented on #4006
Funny you should bring this up - I had a similar thought earlier today when looking at this page. I think we should have options for both. I had been thinking of a toggle like we have on the plots tab, but checkboxes like @adamabeshouse suggested would be even better. Or even better, we could also have an option to define a sample as altered according to the OQL used in the query.

[2018-03-20 23:08] adamabeshouse commented on #4007
error also present in beta.. looks possibly related to a failing oncokb query @zhx828 , but anyway the oncoprint shouldnt fail

[2018-03-21 01:15] zhx828 commented on #4007
Thanks, @tmazor @adamabeshouse . Will solve the issue soon.

[2018-03-21 01:28] schultzn commented on #4006
Agree.. both would be good.. copy-number, makes a lot of sense (and I often wondered why we don’t have it), but we should keep mutations.

[2018-03-21 17:33] tmazor opened #4010 "cancer types summary - add total count to tooltip"
The second line of the tooltip used to include the total number of samples:
![image](https://user-images.githubusercontent.com/10508276/37726639-37906c30-2d0c-11e8-861d-d2dca8c29d55.png)

The new tooltip only includes the percent but not the total count:
![image](https://user-images.githubusercontent.com/10508276/37726685-50d1ae34-2d0c-11e8-9093-425e034541dc.png)

Let's add the total count back to

[2018-03-21 17:42] tmazor opened #4011 "mutations tab should remember which columns are visible when filtering"
If I change which columns are visible on the mutations table, and then apply a filter (either through clicking on the lollipop plot or typing into the search box), the table currently completely re-renders and forgets which columns I had chosen.

Here, I add the functional impact column, then filter to breast samples, and the functional impact column disappears:
![mar-21-2018 13-37-48](https://use

[2018-03-21 17:49] tmazor commented on #4007
Looks like this is specifically a problem with RB1. I just tried several studies and OncoPrint fails to load in all of them if RB1 is included in the query.
@zhx828 @adamabeshouse

[2018-03-21 17:58] jjgao commented on #4006
For copy number, should we just use "altered or not"? Or differentiate between -2 and 2? How about -1 and 1?

[2018-03-21 17:59] adamabeshouse commented on #4006
@jjgao also what to consider altered if both mutation and CNA selected?

[2018-03-21 18:40] #3949 closed

[2018-03-21 18:40] #3950 closed

[2018-03-21 18:40] #3948 closed

[2018-03-21 18:40] #3999 closed

[2018-03-21 20:59] inodb opened #4014 "Querying RB1 is failing on oncokb endpoint"
http://www.cbioportal.org/index.do?cancer_study_id=msk_impact_2017&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=msk_impact_2017_cnaseq&gene_list=RB1&geneset_list=+&tab_index=tab_visualize&Action=Submit&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=msk_impact_2017_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=msk_impact_2017_cna

[2018-03-21 21:00] zhx828 commented on #4014
This issue is related https://github.com/cBioPortal/cbioportal/issues/4007

[2018-03-21 21:02] inodb commented on #4014
duplicate of #4007 indeed

[2018-03-21 21:02] #4014 closed

[2018-03-21 21:10] inodb opened #4015 "gene-panel-data/fetch really slow on impact and 30 genes (oncoprint)"
http://www.cbioportal.org/index.do?cancer_study_id=msk_impact_2017&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=msk_impact_2017_cnaseq&gene_list=AKR1C3%2520AR%2520CYB5A%2520CYP11A1%2520CYP11B1%2520CYP11B2%2520CYP17A1%2520CYP19A1%2520CYP21A2%2520HSD17B1%2520HSD17B10%2520HSD17B11%2520HSD17B12%2520HSD17B13%2520HSD17B14%2520HSD17B2%2520HSD17B3%2520HSD17B4%2520HSD17B6%2520

[2018-03-21 21:12] inodb commented on #4015
<img width="1058" alt="screen shot 2018-03-21 at 5 12 07 pm" src="https://user-images.githubusercontent.com/1334004/37737709-05b9f3f6-2d2b-11e8-9572-894a5bb95487.png">

[2018-03-21 21:25] inodb commented on #4015
@adamabeshouse @jjgao @zhx828 Discussed with @ersinciftci . This seems to be a result of: https://github.com/cBioPortal/cbioportal/issues/3628.

The endpoint gives 10K * 30 = 300K objects, which seems overkill.

It prolly makes more sense to link the gene panel to a genomic profile no? That way you only need one panel per profile

[2018-03-21 21:27] zhx828 commented on #4015
@inodb it's the similar situation in study view Ersin and I have been discussing. @ersinciftci in oncoprint I think it uses the unique ids?

[2018-03-21 21:34] adamabeshouse commented on #4015
@inodb im not sure how else to do it, there are 300K pieces of information.. we could reduce the size of the returned object but thats not much of a reduction esp considering gzip

[2018-03-21 21:38] schultzn commented on #4006
I feel like we used to have this functionality in an old version of the Plots tab?

We could try to versions:
1 - Change the outline of each circle to indicate the copy-number change (red, pink, grey, light blue, dark blue) and fill in the circle as we do now to indicate mutation status
2 - Flip the above around and use the circle color for copy-number, and color the outline of the circle differen

[2018-03-21 21:40] adamabeshouse commented on #4006
@schultzn as-is I don't think the border will be visible enough for that, but maybe if we thickened it

[2018-03-21 21:53] schultzn commented on #4006
Probably.. can you play around with it a bit?

[2018-03-21 22:01] inodb commented on #4015
@adamabeshouse So I looked a bit at the schema - one thing we can make use of is that the molecular profile / sample id is always unique. So one can remove the `* 30` factor above (for each gene).

https://github.com/cBioPortal/cbioportal/blob/master/db-scripts/src/main/resources/cgds.sql#L350

[2018-03-21 22:13] inodb commented on #4015
Not sure exactly what happens in content download in chrome profiler, but it takes almost 10s (seems weird for a file of just 1.3MB, see above), maybe the gzip overhead?

[2018-03-21 22:44] ersinciftci commented on #4015
@inodb I don't think this user's specific problem is about this API though, frontend rendering takes 45 seconds after all the APIs finish returning the response, and the page becomes unresponsive during that time, and sometimes crashes.

[2018-03-21 23:01] adamabeshouse commented on #4006
yes, I will post screenshots

[2018-03-21 23:03] adamabeshouse commented on #4015
@inodb you still need to give one piece of information per gene per sample, no matter what, right? I'm pretty sure the way gzip works that redundancy (sample id, profile id) will be compressed anyway

[2018-03-21 23:15] jjgao commented on #4015
One option would be loading the data in two pieces:

1. gene panel id per sample
2. gene panel meta including the list of genes per gene panel

based on both data, you can determine whether or not a gene is sequenced for a sample.

[2018-03-21 23:20] jjgao commented on #4015
Another option would be returning the data in a different format, .e.g, in a matrix
[code]

You could even try to code them in bits to reduce the response size and maybe also not returning Genes and Samples back...

[2018-03-21 23:21] jjgao commented on #4015
... and this is a really critical one. So let's focus on it tomorrow!

[2018-03-21 23:24] inodb commented on #4015
@ersinciftci right - that's a good point. The endpoint is only about 10 seconds of those 45 seconds. We should have another issue for dealing with oncoprint performance once all data is there.

@adamabeshouse I agree that gzip prolly takes care of the redundancy, but something is taking 10 seconds to download. It might be the gzip overhead either on backend or frontend, so if that's the case it's

[2018-03-22 01:19] onursumer commented on #4011
Good catch.

Apparently this bug was introduced by https://github.com/cBioPortal/cbioportal-frontend/pull/975.

This bug is affecting only the tables with duplicate mutations. We are dynamically calculating the number of duplicate mutations **outside** the table component, so each time that number changes due to a filter action, the whole table re-renders. Seems like this resets the visible column

[2018-03-22 02:02] ersinciftci commented on #4015
I downloaded the 109MB response and used `gzip file.txt` to compress (creates a 1.3MB file.txt.gz file) and `gzip -d file.txt.gz` in terminal, both operations happen instantly, so doesn't seem like gzip has a big overhead, but might be different for browsers and for streaming data.

Assuming gzip does what it promises, there should be no difference between @jj's second option, a matrix, and the cu

[2018-03-22 02:50] ersinciftci commented on #4015
One option is we can deploy the 1.11 version (it doesn't include https://github.com/cBioPortal/cbioportal/issues/3628 but still has the new oncoprint) to staging and see if the same query takes much less time, if so, we can just revert https://github.com/cBioPortal/cbioportal/issues/3628

[2018-03-22 03:25] zhx828 commented on #4007
It's weird and I couldn't reproduce the issue locally, so I restarted the OncoKB instance, it works now. I will keep an eye on the issue.

[2018-03-22 14:28] inodb commented on #4015
@ersinciftci i just tried v1.11.3 and it takes about 1.3s to get gene panel data with my local machine using query below. Compared to 11s in 1.12.0. So I think it makes sense to switch back if easy? (@adamabeshouse ). Frontend still takes quite a bit, not sure if there's a big difference there.

http://www.cbioportal.org/index.do?cancer_study_id=msk_impact_2017&Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THR

[2018-03-22 14:46] jjgao commented on #4015
I'll propose to do the following. If all agree, let's create individual issues and discuss from there?

1. revert back to the previous way of retrieving gene panel data in the frontend, ie. loading gene panel meta data and sample data separately @adamabeshouse
2. profile frontend performance of oncoprint once 1 is done @adamabeshouse (maybe @zhx828 can also help)
3. reimplement gene panel end poin

[2018-03-22 15:18] jjgao opened #4016 "revert back gene panel loading for oncoprint"
see issue #4015

[2018-03-22 15:20] jjgao opened #4017 "profile frontend performance of oncoprint"
- API loading time
- Are we loading unnecessary data?
- Frontend processing
- Rendering

[2018-03-22 15:23] jjgao opened #4018 "does gzipping has a big overhead?"

[2018-03-22 15:24] inodb commented on #3967
FYI @pieterlukasse @oplantalech they got back to me on the civic-server issue tracker: https://github.com/griffithlab/civic-server/issues/420

[2018-03-22 15:46] inodb commented on #3967
Ok - so issues is actually that one of the genes queried is this one: `MIR-3676%2F3676`

[2018-03-22 15:58] inodb commented on #3967
So I think this is actually a data issue - this seems to be an incorrect hugo symbol. There's only two copy number events that use this. The symbol was withdrawn: https://www.ncbi.nlm.nih.gov/gene/100500892. Should we just remove this copy number event from the data @jjgao @ritikakundra ?

[2018-03-22 17:08] ersinciftci commented on #4015
https://github.com/cBioPortal/cbioportal/pull/4019 reverts https://github.com/cBioPortal/cbioportal/pull/3793 and https://github.com/cBioPortal/cbioportal/pull/3766, so we should have similar performance to 1.11.3 after this is merged and frontend is also reverted.

[2018-03-22 20:34] ersinciftci commented on #4015
Created another PR https://github.com/cBioPortal/cbioportal/pull/4020, this one doesn't revert, it changes to a similar structure but still keeps `wholeExomeSequenced`

[2018-03-22 23:50] zhx828 opened #4022 "Cancer Types Summary tooltip should show study name instead of study id"
Query: http://www.cbioportal.org/index.do?cancer_study_id=all&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=all&gene_list=SOX9%2520RAN%2520TNK2%2520EP300%2520PXN%2520NCOA2%2520AR%2520NRIP1%2520NCOR1%2520NCOR2&geneset_list=%20&tab_index=tab_visualize&Action=Submit&cancer_study_list=prad_cpcg_2017%2Cprad_mskcc_2017&show_samples=false&clinicallist=CANCER_STUDY

![screen shot

[2018-03-23 00:00] #3981 closed

[2018-03-23 00:04] adamabeshouse commented on #3877
related: https://github.com/cBioPortal/oncoprintjs/issues/66

[2018-03-23 00:06] adamabeshouse commented on #4017
as far as oncoprint rendering, it seems basically 100% of javascript time spent sorting the tracks.

I've logged an issue to oncoprintjs that I think will help address that - to allow radix sort which is O(n) instead of the costly comparator-based sort which is O(nlogn) (which will also make it possible to make some other optimizations). For impact this could mean a 10+ times speedup .. hopefully.

[2018-03-23 14:09] schultzn opened #4023 "Copy button on Study View Clinical Data tab does not work"
I tried it from this URL:
http://www.cbioportal.org/study?id=crc_msk_2018#clinical

[2018-03-23 15:37] adamabeshouse commented on #3982
fixed in master

[2018-03-23 15:46] jjgao opened #4024 "SEO: how to make google to index patient view again?"
https://www.oho.com/blog/explained-60-seconds-hash-symbols-urls-and-seo

Looks like search TCGA sample IDs on Google won't show up cBioPortal links any longer. I think we should do this optimization soon.

We should also try to optimize search engine results for searches such as "EGFR lung cancer" or "BRAF V600E", "TCGA breast"

[2018-03-23 16:54] onursumer opened #4026 "Preserve the column visibility state when navigating across patients"
Currently on patient view page, navigating across patients resets the column visibility for the mutation and copy number alteration tables. We would like to preserve the column visibility state across all patients once the user manually updates the visibility.

[2018-03-23 17:44] inodb commented on #3982
@adamabeshouse fyi good to close this after deployment so we won't forget to email the user. Maybe we can automate this at some point

[2018-03-23 17:51] adamabeshouse commented on #3982
good point @inodb

[2018-03-23 19:56] jjgao commented on #3967
@inodb I am not sure if the error was due to that. Is the error due to the slash in the miRNA symbol?

BTW,  we have some special code for miRNA -- none of them are valid hugo symbols.

[2018-03-23 19:56] inodb commented on #3967
@jjgao yes

[2018-03-23 20:13] inodb commented on #3967
Ok so decided to not remove this, but instead hope that civic changes their endpoint to handle encoded `/` (see same issue griffithlab/civic-server#420)

[2018-03-23 20:30] jjgao commented on #3967
If they cannot do that. We should skip genes with special characters such as /.

[2018-03-23 20:40] inodb commented on #3967
seems like they won't - so yeah we might have to do that instead

[2018-03-26 14:04] tmazor opened #4028 "mutations tab fails to load lollipop & cancer hotspots"
![image](https://user-images.githubusercontent.com/10508276/37911074-17aca508-30dd-11e8-8f5f-de04724c24d3.png)
http://www.cbioportal.org/index.do?session_id=5a1eef06498eb8b3d560f502&show_samples=false&

[2018-03-26 15:49] zhx828 opened #4029 "Virtual Study: add warning message in study view if duplicate samples are found"
Similar implementation has been done in the query page

[2018-03-26 16:14] alisman opened #4030 "getCanonicalMutationType"
@adamabeshouse should getCanonicalMutationType provide for mutation type value which does NOT exist in the list?  I.e. return "other" if
canonicalType[mutationType.toLowerCase()] is undefined.

I ask because I think it makes more sense here than in feature code.

[2018-03-26 17:25] jjgao commented on #3967
Entrez gene IDs would be better since they are more stable. We should filter out our fake negative entrez ID before sending to them.

[2018-03-26 17:54] inodb commented on #4028
@jjgao yeah just noticed ssl seems to be down :(

[2018-03-26 18:03] inodb commented on #4028
@tmazor @jj	 restarted the tomcat - not sure why ssl stopped working. Is ok again now

[2018-03-26 18:03] #4028 closed

[2018-03-26 19:05] zhx828 opened #4031 "Virtual Study: Portal returns 403 when deleting saved VS"

[2018-03-26 20:18] tmazor opened #4032 "study view for multiple studies has incorrect mutation frequencies when selecting a subset"
I load study summary for 5 studies:
http://www.cbioportal.org/study?id=paad_icgc%2Cpaad_qcmg_uq_2016%2Cpaad_tcga%2Cpaad_utsw_2015%2Cmsk_impact_2017#summary

This is the mutation frequency table that I see:
![image](https://user-images.githubusercontent.com/10508276/37930450-c4b9991c-3110-11e8-9767-a00b29affa7e.png)

I select a particular cancer type and then get this table with percentages well ov

[2018-03-26 20:48] tmazor opened #4033 "study view mutation table doesn't re-order genes after clearing filter"
On study view, if I select a gene in the mutated genes table, it jumps to the top of the gene list because it is now at 100%. After clearing that filter, the gene remains at the top of the list. It should revert back to its previous location.

In the example below, EGFR stays at the top of the list after I clear the EGFR filter:
![mar-26-2018 16-45-26](https://user-images.githubusercontent.com/105

[2018-03-26 21:54] ersinciftci opened #4034 "gene-panel-data/fetch request has an unnecessary object layer"
After the latest changes, `GenePanelMultipleStudyFilter` has only a list in it now, so we can just use that list in the controller directly.

[2018-03-26 21:55] ersinciftci commented on #4034
@adamabeshouse @zhx828 this would require frontend changes too, so need to do it in sync. not urgent though.

[2018-03-26 22:11] adamabeshouse commented on #4034
:+1:

[2018-03-26 22:25] zhx828 commented on #4034
🆗

[2018-03-28 16:31] walidchatila opened #4037 "Oncoprint not sorting by Case List Order"
The oncoprint does not sort correctly when trying to sort by the user inputted case list.

[2018-03-28 17:54] jjgao commented on #4037
duplicate with https://github.com/cBioPortal/cbioportal/issues/3921. Will fix soon.

[2018-03-28 17:54] #4037 closed

[2018-03-28 19:58] kalletlak opened #4038 "Unable to download Oncoprint from chrome"
and PDF format in any browser

[2018-03-28 22:00] adamabeshouse opened #4039 "Unskip coexpression tab screenshot tests when its merged"

[2018-03-28 22:25] #4015 closed

[2018-03-28 22:25] #3990 closed

[2018-03-28 22:28] adamabeshouse commented on #3965
This is either a data or API issue, because the data coming back says it's WXS
![image](https://user-images.githubusercontent.com/636232/38059783-d3ebbd2e-32b5-11e8-9bc9-7896ae3189fc.png)
@ersinciftci

[2018-03-28 22:35] adamabeshouse commented on #1666
seems fixed

[2018-03-28 22:35] #1666 closed

[2018-03-28 22:36] adamabeshouse commented on #1904
closing since theres never really been interest in it

[2018-03-28 22:36] #1904 closed

[2018-03-29 13:00] jjgao opened #4040 "support public virtual studies"
e.g. a virtual study of all pediatric patients.

Maybe we can add a new property in portal.properties or better in frontend properties?

[2018-03-29 13:09] sandertan commented on #3733
Any update on this? I see the scroll bar in Chrome, but am missing it Safari

http://bit.ly/2IcV0T7

When the pop-up of a cell in the OncoPrint is displayed when hovering over it, and the cursor moves to a location just inside the pop-up, scrolling is disabled (probably because it tries to scroll in the pop-up). Would it be possible to enable scrolling of the oncoprint, even when in the pop-up?

[2018-03-29 13:22] sandertan opened #4041 "Customize the width of OncoPrint attribute/gene name column"
I was wondering if it would be possible to make the width of the clinical attribute/gene name column in OncoPrint customizable.

Names of clinical tracks can be pretty long and I understand that it's perhaps best to not display their full length by default. A solution could be to make this customizable, perhaps with a slider that can be dragged to increase/decrease the width of this column.

For s

[2018-03-29 15:39] alisman commented on #3733
I think I see the problem.  Will make a PR

[2018-03-29 19:20] jjgao commented on #4038
@kalletlak I couldn't reproduce it? Is it on the production portal?

[2018-03-29 19:37] zhx828 commented on #4023
@schultzn @jjgao this is a browser setting that the copy button is using a flash, and by default the flash maybe blocked. I will figure out an alternative solution.

[2018-03-29 22:03] jjgao commented on #4029
One option: when detecting the same sample IDs is in multiple studies, display a warning message "Potentially overlapping data found in the following studies: ..."

[2018-03-30 12:23] pieterlukasse opened #4046 "Problems with cBioPortal in IE11"
When using [cbioportal.org](http://www.cbioportal.org/) (currently on 1.12.1-SNAPSHOT) with IE11 I found the following 2 issues:

1- Patient view does not always work. E.g. select http://www.cbioportal.org/study?id=brca_tcga and then click on icon to view the selected patients. The error below appears:

![image](https://user-images.githubusercontent.com/2900303/38137532-7108a23c-3425-11e8-9e0f-455

[2018-03-30 13:41] schultzn commented on #3921
@adamabeshouse Will this be fixed soon? A user just asked about it.

[2018-03-30 13:44] ecerami commented on #3921
FYI:  This was reported again last night by another user:  "OncoPrint",sort by case id and sort by case list order get the same result,I think you should fix it."

[2018-03-30 14:55] jjgao commented on #3965
@ersinciftci please look into this. `TCGA-OR-A5LM` is not in the `_sequenced` sample list.

[2018-03-30 15:14] #3980 closed

[2018-03-30 15:28] #3702 closed

[2018-03-30 15:29] #3747 closed

[2018-03-30 16:35] alisman opened #4049 "In IE 11, we cannot send large patient/sample ID sets to patient page (from study page)"
IE truncates the URL at some point.  Lets figure out what threshold is and just an alert saying IE can't handle this, use another browser. This needs to be done in study view code.

[2018-03-30 16:36] jjgao commented on #4046
Since we have a small IE11 user base and the review feature is more useful for reviewing a small set of patients, it is a rare use case that an IE 11 user reviewing many patients. I don't think it's a critical issue.

[2018-03-30 16:44] zhx828 commented on #4049
According to https://blogs.msdn.microsoft.com/ieinternals/2014/08/13/url-length-limits/, it's 2083.

[2018-03-30 23:11] adamabeshouse opened #4050 "Unskip oncoprint custom case order test when its merged"
https://github.com/cBioPortal/cbioportal-frontend/pull/999

[2018-04-02 19:44] jjgao commented on #4041
Good point. But you could get the full name in svg or pdf download :)

[2018-04-02 19:54] jjgao opened #4054 "error related to OncoKB when loading OncoPrint"
http://www.cbioportal.org/index.do?session_id=5a5d5992498eb8b3d563cea1

![image](https://user-images.githubusercontent.com/840895/38213156-36018e86-368e-11e8-8286-7e196156e6b7.png)

[2018-04-02 20:02] zhx828 commented on #4054
@jjgao I refreshed the cache, the query is working now. BRAF keeps going off... I'm looking into the issue.

[2018-04-02 20:32] #4016 closed

[2018-04-02 20:34] jjgao commented on #3854
@adamabeshouse could you comment on the status of this?

[2018-04-02 20:38] kalletlak opened #4055 "Showing sample id labels in oncoprint"

[2018-04-02 20:48] ersinciftci opened #4056 "Selected Sample Ids API for Study View Prototype"

[2018-04-03 15:29] ersinciftci opened #4059 "Study View prototype code cleanup and unit tests"

[2018-04-03 18:09] ritikakundra commented on #3557
@PichaiRaman Just wanted to follow up on this. Can you send me the link where you are seeing this issue? Thanks!

[2018-04-03 18:25] onursumer commented on #3816
Should be fixed by https://github.com/cBioPortal/cbioportal-frontend/pull/923

[2018-04-03 18:32] onursumer commented on #3455
Should be fixed by https://github.com/cBioPortal/cbioportal-frontend/pull/905

[2018-04-03 18:35] #3965 closed

[2018-04-03 18:45] inodb commented on #3965
Fixed in master: http://cbioportal.herokuapp.com/index.do?cancer_study_id=acc_tcga&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=acc_tcga_all&gene_list=EGFR&geneset_list=+&tab_index=tab_visualize&Action=Submit&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=acc_tcga_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=acc_tcga_gistic

[2018-04-03 19:00] inodb commented on #3965
deployed to production

[2018-04-03 19:01] inodb commented on #3965
![screen shot 2018-04-03 at 3 00 44 pm](https://user-images.githubusercontent.com/1334004/38269900-d3efdbea-374f-11e8-8aeb-f6e780fb46a6.png)

[2018-04-03 19:05] #4050 closed

[2018-04-03 19:17] jjgao opened #4061 "[beta] buttons pushed out of the menu line"
![image](https://user-images.githubusercontent.com/840895/38270239-bed4643c-3750-11e8-8c73-83f501afdc30.png)

One small tweak for the moment: change "Select case by IDs" to "Select by ID".

In the long, we may want to redesign the mane line.

[2018-04-03 19:40] jjgao opened #4062 "[beta] Virtual Study button"
The virtual study button is a little too predominant. Maybe we should design an icon? Maybe a basket icon?

Currently:
![image](https://user-images.githubusercontent.com/840895/38271547-bf70af6e-3754-11e8-8064-7b74a471b610.png)

One option (`fa-shopping-basket`):
![image](https://user-images.githubusercontent.com/840895/38272184-8130e32a-3756-11e8-800f-93654e6c502d.png)

Thoughts?

[2018-04-03 19:56] jjgao opened #4063 "[beta] virtual studies do not show up in the query page in msk beta portal"

[2018-04-03 21:25] adamabeshouse commented on #3854
@jjgao It's awaiting review

[2018-04-03 21:45] adamabeshouse commented on #3921
fix has been merged to master branches of both frontend and backend, should be deployed shortly

[2018-04-03 22:12] adamabeshouse commented on #3921
fixed

[2018-04-03 22:12] #3921 closed

[2018-04-03 22:46] #3961 closed

[2018-04-03 22:46] #3991 closed

[2018-04-03 22:46] #4023 closed

[2018-04-03 22:46] #4032 closed

[2018-04-03 22:46] #4033 closed

[2018-04-03 22:47] #4063 closed

[2018-04-04 02:39] jjgao opened #4065 "Add a optional warning to all pages"
MSK users sometimes put internal urls in their publications. e.g.

http://ascopubs.org/doi/full/10.1200/JCO.2017.75.3384

![image](https://user-images.githubusercontent.com/840895/38285686-64a7c988-378f-11e8-98f9-959401de61a4.png)

We need to be able to add a warning and ask them not to do that.

- [ ] add a new property in frontend or backend: `study_view_warning`
- [ ] append the warning at the

[2018-04-04 12:20] fedde-s opened #4066 "Oncoprint cell mouseover disappears before it can be clicked"
On the public /beta portal and the current `rc` branch, when I hover the mouse over an Oncoprint cell, the tooltip disappears very quickly and often can't even be seen at all. It seems impossible to move the mouse onto the tooltip to click the patient ID link inside.

[2018-04-04 12:43] fedde-s commented on #4066
The first commit on which I was able to reproduce the bug is this one:

[code]

Which is also included in the `release-1.13.0` branch.

[2018-04-04 12:59] fedde-s opened #4067 "Oncoprint not appearing in current master; gene panel request error"
When I run the current master branch (8784f73b0b73207b84aa4f926a1e9a4a63d8a359) and open the results view, no Oncoprint appears. Instead, the backend throws a NullPointerException and sends a HTTP 500 Internal Server Error as the response to a post request for `api/gene-panel-data/fetch`.

[2018-04-04 13:24] fedde-s commented on #4067
The bug seems to have been introduced by this commit:

[code]

[2018-04-04 13:25] fedde-s commented on #4067
@ersinciftci, are you aware of this?

[2018-04-04 14:18] ersinciftci commented on #4067
@jjgao it seems @fedde-s 's local DB is missing the `_sequenced` list (I thought it was enforced somehow), should I assume all samples are sequenced if the study doesn't have `_sequenced` list?

[2018-04-04 14:27] kalletlak commented on #4062
looks good. but not sure if its user-friendly.

[2018-04-04 15:46] #4067 closed

[2018-04-04 15:51] inodb opened #4069 "Move Public Portal to AWS"
- [x] Create API secret key for session service
- [x] Make k8s deployment of cbioportal on AWS (http://test.cbioportal.review, https://github.com/cBioPortal/cbioportal/pull/4035) use heroku session service
- [x] support https on aws
- [x] point frontend of one of the servers (dashi2) to the api of k8s instance.
- [x] point both (dashi,dashi2) to the api of k8s instance
- [x] figure out why replica

[2018-04-04 19:24] onursumer opened #4071 "Implement PdbPositionMappingCache"
Implement `PdbPositionMappingCache` based on the latest g2s endpoint data.

[2018-04-04 20:55] onursumer commented on #4071
Seems duplicate of #3160

[2018-04-04 20:55] #4071 closed

[2018-04-04 20:59] adamabeshouse opened #4072 "its impossible to roll mouse over tooltip in oncoprint"

[2018-04-04 23:35] adamabeshouse opened #4073 "switching between sample and patient mode causes double flash"

[2018-04-05 09:13] fedde-s commented on #4072
Is this a duplicate of #4066?

[2018-04-05 14:35] tmazor opened #4075 "small text change to default virtual study name"
If I click the Virtual Study button, click Share and click the link to the virtual study page, the default study name is "Selected sample (date)". This should be "Selected samples (date)" -- sample needs to be plural.

[2018-04-05 17:35] #4011 closed

[2018-04-05 18:04] adamabeshouse commented on #4072
ah yes, apparently

[2018-04-05 18:04] #4072 closed

[2018-04-05 18:05] adamabeshouse commented on #4066
its actually in production too

[2018-04-05 18:07] fedde-s commented on #4066
Ah, yes, you're right. I guess I couldn't reproduce it in master yesterday due to #4067, which has since been fixed.

[2018-04-05 19:36] #3932 closed

[2018-04-05 20:03] adamabeshouse commented on #4066
fix in `master`

[2018-04-05 20:04] adamabeshouse commented on #3945
this has been fixed, loading doesnt disappear until oncoprint is rendered now

[2018-04-05 20:04] #3892 closed

[2018-04-05 20:04] adamabeshouse commented on #3892
theres no chance this issue will still be there in new code, closing issue no need to check up on it in refactoring

[2018-04-05 20:05] #3891 closed

[2018-04-05 20:05] #3890 closed

[2018-04-05 20:06] adamabeshouse commented on #3877
fixed by new sorting algorithm https://github.com/cBioPortal/cbioportal-frontend/pull/1059

[2018-04-05 20:06] #3877 closed

[2018-04-05 20:08] adamabeshouse commented on #3700
seems fixed in production

[2018-04-05 20:08] #3700 closed

[2018-04-05 20:09] adamabeshouse commented on #3733
seems fixed in production

[2018-04-05 20:09] #3586 closed

[2018-04-05 20:10] adamabeshouse commented on #3252
@jjgao do we still want to do this? use the mutation profile description instead of "Whole-Exome Sequencing" everywhere?

[2018-04-06 07:57] fedde-s commented on #4066
I see no change in `master` yet.

[2018-04-06 14:28] ersinciftci opened #4077 "Add frequency to mutated and cna genes APIs"

[2018-04-06 17:08] tmazor commented on #3395
@inodb any updates on this?

[2018-04-06 18:47] tmazor commented on #3395
Is the plan for resolving this issue general enough that it will work with saved virtual studies? With the option to save virtual studies, it becomes possible to query a virtual study & the study it originated from, which would lead to querying duplicate samples. Will we try to warn users in that scenario? @inodb @jjgao

[2018-04-06 19:04] inodb commented on #4066
Fixed in production - will include in 1.12.1 release

[2018-04-06 21:16] adamabeshouse commented on #4038
I can't reproduce this, but could it have to do with an ad blocker or popup blocker you have installed, preventing the download action?

[2018-04-09 08:37] fedde-s commented on #4066
I can confirm that commit a2c4654cb5d3583fc8b2ebb92a326a7285fc65b1 in @inodb's `update-frontend` branch would fix this issue in the setup in which I previously reproduced it.

[2018-04-09 08:39] fedde-s commented on #4066
However, the issue does still exist in the `master` branch.

[2018-04-09 14:49] inodb commented on #4066
merged to master

[2018-04-09 14:49] #4066 closed

[2018-04-09 14:57] yichaoS opened #4079 "Updating links to pathology reports"
We are currently moving all the pathology reports(.pdf) from datahub to msk storage (under path /data/public/tcga/pathology_reports on ramen server, URL: http://download.cbioportal.org/tcga/pathology_reports/report_ID.pdf).
Portal front-end currently is pulling the reports from datahub master branch, therefore certain links in the patient view needs to be updated.

[2018-04-09 15:09] inodb commented on #3395
Hey @tmazor - sorry have had this on the back burner for too long. Will prioritize. I scheduled it for 1.13.0 release

The solution proposed here doesn't work for virtual studies. I'm not sure exactly how to resolve that. Maybe whenever you select both a virtual study and a physical study it contains always deselect the physical study and pick the virtual study? Or should we have a new warning whe

[2018-04-09 16:54] tmazor commented on #3733
I can't scroll at all on OncoPrint. I tried Chrome & Safari & Firefox and in all three I don't see a scroll bar underneath and I also can't scroll using my trackpad.

[2018-04-09 17:00] adamabeshouse commented on #3733
@tmazor can't reproduce, whats your environment?

[2018-04-09 17:10] zhx828 commented on #4049
@alisman @jjgao I tested windows 10 Edge16. It has the similar issue. Instead of not showing anything in IE11, the Edge cuts off the. Should we apply the same rule for Edge?

[2018-04-09 17:30] zhx828 commented on #4049
![screen shot 2018-04-09 at 1 25 37 pm](https://user-images.githubusercontent.com/5400599/38512770-243c9a9e-3bfa-11e8-8739-7e367ebc740c.png)
![screen shot 2018-04-09 at 1 26 20 pm](https://user-images.githubusercontent.com/5400599/38512771-24471064-3bfa-11e8-9a92-67ab3baac1e9.png)

[2018-04-09 17:45] zhx828 commented on #4049
@jjgao @alisman Are you ok with the warning messages above?

[2018-04-09 17:47] tmazor commented on #3733
Ok, I see what's happening. I can scroll using the trackpad by hovering over the scroll bar, but the scroll bar is invisible until I start scrolling. It used to be possible to scroll with the trackpad while hovering over the OncoPrint itself but that doesn't work anymore (and that's what I was trying to do before).

[2018-04-09 18:01] schultzn commented on #3733
I vaguely remember that @alisman and I at some point identified this as a MacBook Pro specific issue?

[2018-04-09 18:16] alisman commented on #3733
@schultzn I think this is different.   I think I have an idea how to get the old behavior back.

[2018-04-09 19:04] jjgao commented on #4062
Maybe something like this one would work? Can we try? @kalletlak @zhx828

![image](https://user-images.githubusercontent.com/840895/38517240-43bc13ba-3c07-11e8-9f01-e71bd7eb8228.png)

[2018-04-09 19:08] jjgao commented on #3945
After data is loaded, maybe we can change the message to "Rendering OncoPrint"? @adamabeshouse

[2018-04-09 19:11] jjgao opened #4080 "add selection criteria into the default virtual study description"

[2018-04-09 19:12] jjgao commented on #3160
@onursumer should this be closed too?

[2018-04-09 19:18] #3816 closed

[2018-04-09 19:29] jjgao commented on #3252
@adamabeshouse Maybe not. I just notice some of the profile descriptions are really long. We need to have better meta data for profiles.

@ritikakundra we should have the gene panel data for Metabric.

[2018-04-09 19:30] jjgao commented on #3252
@sandertan I think your proposal is captured in https://github.com/cBioPortal/cbioportal/issues/2556 and has been fixed.

[2018-04-09 19:36] jjgao commented on #3557
@ritikakundra here is the query:

http://www.cbioportal.org/index.do?session_id=5acbc04f498eb8b3d56593c7

[2018-04-09 19:36] onursumer commented on #3160
@jjgao this is still a valid issue. Caching is not optimal on the client side.

[2018-04-09 19:37] jjgao commented on #3557
moved to datahub. Please fix @ritikakundra

[2018-04-09 19:37] #3557 closed

[2018-04-09 19:56] jjgao commented on #3395
Maybe when merging studies with duplicated samples, we should only pick one sample (from a priority study)? We can then display a message in the study view to let the user know duplicated samples were removed and give the the option to include them.

@inodb let's discuss.

[2018-04-09 19:57] jjgao commented on #4038
@kalletlak I am closing this since we cannot reproduce it.

[2018-04-09 19:57] #4038 closed

[2018-04-09 20:34] #3748 closed

[2018-04-09 20:36] alisman opened #4081 "Expression Tab refactor: Use Victory Box Plot"

[2018-04-09 20:37] zhx828 opened #4082 "Study View Prototype: add survival plot"

[2018-04-09 20:38] zhx828 opened #4083 "Fix Portal memory leak / high memory usage issue"

[2018-04-09 21:48] alisman commented on #3135
There are now libraries which can handle this.

[2018-04-09 21:48] #3135 closed

[2018-04-09 21:49] alisman commented on #4046
@zhx828 We are going to show this message for Edge as well because it turns out Edge truncates the patient list.  Better than IE but still not completely working.

[2018-04-09 21:52] #3695 closed

[2018-04-09 21:54] alisman commented on #3695
This is fixed with victory implementation.  Chart now scrolls.  Still room for improvement:
1) Calculating label length (and thus bottom padding) is in exact science and so we end up with too much space sometimes.
2) It's not clear that horizontal scrolling is available because scrollbar is on bottom.  Not sure how to handle this.  @jjgao what priority do you think this is?

[2018-04-09 21:54] #3235 closed

[2018-04-09 21:55] #1217 closed

[2018-04-09 21:56] #3718 closed

[2018-04-09 22:03] #4010 closed

[2018-04-09 22:05] adamabeshouse commented on #3945
merged into frontend `master`

[2018-04-09 23:36] zhx828 commented on #4080
@jjgao Does this look good?
[code]

[2018-04-10 13:43] jjgao commented on #4079
would path report still work for https portals, e.g. msk portal?

[2018-04-10 13:55] jjgao opened #4086 "move cbioportal.org to https"
Should we do it to our server? Or should we wait until we move to cloud?

[2018-04-10 14:07] jjgao commented on #3695
@alisman it's not very critical -- I hope we could use whole screen soon :) Could you log it?

[2018-04-10 14:14] jjgao commented on #4080
Maybe, we can also list the studies?

[2018-04-10 14:24] alisman opened #4087 "Refine label lengths of cancer type summary and improve scrolling indicator"
Calculating label length (and thus bottom padding) is in exact science and so we end up with too much bottom padding sometimes.  Can be improved.
It's not clear that horizontal scrolling is available because scrollbar is on bottom. Not sure how to handle this.

[2018-04-10 14:32] jjgao commented on #3733
@adamabeshouse @alisman it's really tricky to scroll now b/c you have to hover over the scroll bar in order to scroll as pointed out by @tmazor  -- in both Chrome and Firefox for me. I also remember we used to be able to scroll with trackpad  when hovering on oncoprint. Could you try to support that? Is it also possible to force display the scroll bar?

[2018-04-10 14:37] alisman commented on #3733
I already have a PR doing just this. Please test below:
localStorage.heroku = "cbioportal-frontend-pr-1078"

[2018-04-10 15:32] zhx828 commented on #4080
@jjgao
[code]

[2018-04-10 15:37] jjgao commented on #4080
@zhx828

[code]

[2018-04-10 16:09] inodb commented on #4079
@jjgao for simplicity sake I hardcoded the version to datahub (see PR): https://github.com/cBioPortal/cbioportal-frontend/pull/1075/files. This works with https. We could switch to using download.cbioportal.org, but i think getting the pdfs form github is more reliable. Also we would still need to store the symlinks from TCGA patient ID to pathology report PDF somewhere if we were to use download.

[2018-04-10 18:15] jjgao commented on #4079
@inodb we are going to move all path reports to download.cbioportal.org and remove them on github (we don't want to main two copies). Maybe we should work with Joanne and see if she can enable https first?

[2018-04-10 18:24] #3982 closed

[2018-04-10 18:46] zhx828 opened #4089 "Use clinical-attributes POST to get study specific clinical attributes"

[2018-04-10 18:52] adamabeshouse commented on #3882
not seeing this anymore

[2018-04-10 18:52] #3882 closed

[2018-04-10 19:33] adamabeshouse commented on #3972
@jjgao you're talking about oncoprint download tabular format, right?

[2018-04-10 23:11] zhx828 commented on #4080
![screen shot 2018-04-10 at 7 09 06 pm](https://user-images.githubusercontent.com/5400599/38588218-bc5cd660-3cf2-11e8-922f-6e95bcecc82b.png)
@jjgao @kalletlak this is the default description when the above filters applied. For the scatter plot, it is tricky since it contains all selected samples. So for now, I don't include them in the description. What do you think?
![screen shot 2018-04-10 at 7

[2018-04-11 01:37] jjgao commented on #3972
I was talking about Downloads tab, but I guess it can apply to OncoPrint too.

[2018-04-11 01:44] jjgao commented on #4080
@zhx828 for `CNA Genes` and `Mutated Genes`, I guess you used `;` to indicate different selections? Maybe you can break them into two lines so between lines it's always `AND` relationship.  In fact, I think it would be useful to do that in the Selection criteria head in the page as well, but maybe that's a separate pull request.

For scatter plot, is it possible to break it into two selections (MU

[2018-04-11 13:12] sandertan opened #4090 "Part of tooltip in segment tracks outside browser window"
Part of the tooltip that is displayed when hovering over a segment track in the patient view, falls outside the browser window. Would it be possible to change the positioning of this tooltip, when at the edge of the browser window?

http://www.cbioportal.org/case.do#/patient?studyId=nsclc_tcga_broad_2016&caseId=LUAD-B00390

<img width="588" alt="screen shot 2018-04-11 at 15 09 45" src="https://use

[2018-04-11 13:57] zhx828 commented on #4080
@jjgao For the scatter plot, we don't have the range info yet. I can take a look how complicated it will be to have them in. Looks like I missed the custom selection part. How do you want the filter to be?

[2018-04-11 14:00] sandertan opened #4092 "Is data description in tooltip on segment track correct?"
The tooltip on the segment track in the Patient view describes the value as "Mean copy number log2 value". Shouldn't these be named "Relative linear copy number values"?

<img width="512" alt="screen shot 2018-04-11 at 15 58 48" src="https://user-images.githubusercontent.com/9624990/38621521-546b98ca-3da1-11e8-95b9-376b8113082a.png">

In a mail conversation from 2015 https://groups.google.com/foru

[2018-04-11 14:28] #4092 closed

[2018-04-11 18:08] ritikakundra commented on #3774
@jjgao @inodb They are in sync now.

[2018-04-11 19:32] jjgao opened #4093 "remove testimonial email link?"
No real testimonials have been sent in since we added the link and people actually used it as a channel to ask questions. Should we just remove it? @schultzn @tmazor @ecerami

[2018-04-11 19:58] zhx828 opened #4094 "Study View: Survival plot exclude NA is not working"
Seems like this is an issue for specific study.

[2018-04-11 20:36] jjgao commented on #4080
@zhx828 In that case, don't worry about scatter plot -- maybe just list as `MUT vs CNA: xx samples` if you know the number of samples. For custom selection, maybe also list as `-Select by IDs: xx samples`.

Do you think you can break multiple selections of `Mutated Genes` and `CNA Genes` into multiple lines?

[2018-04-11 21:39] zhx828 commented on #4080
@jjgao I even suggest using separate lines for pie chart filters.
![screen shot 2018-04-11 at 5 38 02 pm](https://user-images.githubusercontent.com/5400599/38644625-2c3e7986-3daf-11e8-8e1b-662f4b2389b7.png)

[2018-04-11 23:31] adamabeshouse commented on #3775
duplicate https://github.com/cBioPortal/cbioportal/issues/4054

[2018-04-11 23:31] #3775 closed

[2018-04-12 03:04] jjgao commented on #4080
@zhx828 I think pie chart should be on one line since it OR logic.

Should we spell out the logic? e.g.

-CNA Genes: ((TERT AMP) OR (RICTOR-AMP)) AND (SDHA-AMP)

or maybe it's better just:

-CNA Genes: TERT AMP, RICTOR AMP
-CNA Genes: SDHA AMP

[2018-04-12 15:56] tmazor commented on #4093
I never even realized that link existed. I think it's fine to remove.

[2018-04-12 16:40] zhx828 commented on #4062
@jjgao @schultzn @ecerami @kalletlak
![screen shot 2018-04-12 at 12 39 16 pm](https://user-images.githubusercontent.com/5400599/38691345-9b239ecc-3e4e-11e8-9b22-5d08602a74d6.png)
![screen shot 2018-04-12 at 12 39 41 pm](https://user-images.githubusercontent.com/5400599/38691346-9b313244-3e4e-11e8-93c8-d5dafd8bb315.png)
![screen shot 2018-04-12 at 12 39 50 pm](https://user-images.githubusercontent.

[2018-04-12 16:48] zhx828 commented on #4062
What about a cart icon with saving
![screen shot 2018-04-12 at 12 46 41 pm](https://user-images.githubusercontent.com/5400599/38691776-c9cff706-3e4f-11e8-8513-7adc9f447d17.png)
 indicator in it:

[2018-04-12 17:09] jjgao opened #4098 "Cancer Type Summary: break down "Multiple alterations" in tooltip"
Is it possible to break down multiple alterations in the tooltip into different combinations, e.g. Mutation & Amplification, Fusion & Amplification, etc?

![image](https://user-images.githubusercontent.com/840895/38692632-57e4bbec-3e52-11e8-82e9-12aade62bc24.png)

[2018-04-12 17:44] inodb opened #4099 "Unresponsive error on internal portal when querying all studies"
Query e.g. `ABL1 AMER1 AR ATM ATXN2` for all studies on cbioportal.mskcc.org

This is what Sarah saw:
![image](https://user-images.githubusercontent.com/1334004/38695525-854b4b34-3e5a-11e8-81d3-27c84beac635.png)

I'm getting empty oncoprint:

![screen shot 2018-04-12 at 2 05 49 pm](https://user-images.githubusercontent.com/1334004/38695566-aab4689c-3e5a-11e8-844c-3a258732e460.png)

[2018-04-12 21:09] zhx828 commented on #4062
New basket icon. Idea comes from basket trail(from JJ).
![screen shot 2018-04-12 at 4 40 49 pm](https://user-images.githubusercontent.com/5400599/38704391-2842d0b4-3e74-11e8-8419-aece80f74d82.png)

[2018-04-12 21:40] inodb opened #4100 "Number of samples differs between patient view and sample view"
http://triage.cbioportal.mskcc.org/study?id=brain_pdx_msk_2018#summary

If I look for patient `P-0002181` I see only two samples in study view whereas there are 8 on patient view

[2018-04-12 21:49] zhx828 commented on #4100
These 6 missing samples are not included in the `brain_pdx_msk_2018_all` sample list. @inodb is assuming these samples do not have any genomic data but clinical data. But they should be in the `brain_pdx_msk_2018_all` sample list.

[2018-04-13 10:04] messersc commented on #3741
We changed our MAF annotation tool from Oncotator to vcf2maf with VEP and now the problem appears to be gone.

Unfortunately, we could not figure out the exact problem.

[2018-04-13 10:04] #3741 closed

[2018-04-13 14:35] angelicaochoa commented on #3378
@jjgao there might have been an issue where the case list sample IDs were not in standardized formats? that should be addressed now however with the latest datahub updates to the provisional TCGA studies

[2018-04-13 14:36] angelicaochoa commented on #3378
@yichaoS @ritikakundra were TCGA provisional updated in the public portal yet?

[2018-04-13 14:39] angelicaochoa commented on #3378
@jjgao There might have been an issue where the TCGA sample IDs were not in the standardized/truncated format but I think this should be resolved in the latest TCGA provisional updates to datahub.

@yichaoS @ritikakundra can you confirm whether the missing cnaseq case list for `ov_tcga` is resolved?

[2018-04-13 19:20] adamabeshouse opened #4102 "in oncoprint, hide unaltered columns doesnt interact w hide VUS"
so if you hide VUS, and the result is unaltered columns, those newly-unaltered columns wont be hidden

[2018-04-13 20:39] inodb commented on #4079
@jjgao we should def have ssl for download.cbioportal.org. For this particular issue though, afaik the TCGA pathology slides data is static. We are pointing to an old commit and won't rewrite github history, so it's probably more reliable than our own data server. We could therefore also just remove them from datahub and not upload them to download.cbioportal.org.

If we want to provide a link to

[2018-04-13 21:08] inodb commented on #3733
deployed to production

[2018-04-13 21:08] #3733 closed

[2018-04-13 21:32] adamabeshouse commented on #3945
done, check it out @jjgao http://www.cbioportal.org/index.do?cancer_study_id=msk_impact_2017&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=msk_impact_2017_cnaseq&gene_list=KRAS%2520NRAS%2520BRAF&geneset_list=+&tab_index=tab_visualize&Action=Submit&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=msk_impact_2017_mutations&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=msk_

[2018-04-13 21:32] #3945 closed

[2018-04-13 21:33] adamabeshouse commented on #4073
problem still present :( looks different now, but switch to sample looks fine, then switch back to patient theres an immediate flash, then another one after a delay
http://www.cbioportal.org/index.do?cancer_study_id=msk_impact_2017&Z_SCORE_THRESHOLD=2&RPPA_SCORE_THRESHOLD=2&data_priority=0&case_set_id=msk_impact_2017_cnaseq&gene_list=KRAS%2520NRAS%2520BRAF&geneset_list=%20&tab_index=tab_visualize&

[2018-04-13 22:13] ritikakundra commented on #4100
@angelicaochoa I added a caselist for all samples, still now showing all samples in summary page.

[2018-04-16 15:14] zhx828 commented on #4062
With arrow icon instead
<img width="419" alt="screen shot 2018-04-16 at 11 12 26 am" src="https://user-images.githubusercontent.com/5400599/38817860-4543b46c-4167-11e8-8c4a-06b732781fa3.png">

[2018-04-16 15:48] alisman opened #4104 "Bug in the oncoprint tab when calculating the percentage of altered cases/patients"
From Google Groups:

https://groups.google.com/forum/#!topic/cbioportal/luYgF0D1l3M

It seems like there is a small bug in the oncoprint tab when calculating the percentage of altered cases/patients. This can be reproduced by selecting the TCGA LUAD provisional dataset, selecting the tumour samples with mRNA data (517) and looking at whichever genes of interest.

The percentage of altered cases is

[2018-04-16 18:30] adamabeshouse commented on #4104
this is a known issue, and I'm not sure what the best way to handle it is. We need some product decisions. @jjgao

duplicate of https://github.com/cBioPortal/cbioportal/issues/3251

[2018-04-16 20:42] #3771 closed

[2018-04-16 22:07] #3815 closed

[2018-04-17 00:01] adamabeshouse commented on #3251
@jjgao what should we do about this?

[2018-04-17 02:48] zhx828 commented on #4062
<img width="414" alt="screen shot 2018-04-16 at 10 45 59 pm" src="https://user-images.githubusercontent.com/5400599/38846036-43cbf3a4-41c8-11e8-801a-3b3f1a060709.png">
<img width="416" alt="screen shot 2018-04-16 at 10 46 17 pm" src="https://user-images.githubusercontent.com/5400599/38846037-43db2112-41c8-11e8-9193-38efeb31c7c8.png">
<img width="417" alt="screen shot 2018-04-16 at 10 46 39 pm" src

[2018-04-18 20:01] jjgao commented on #3251
@adamabeshouse is it possible to load gene panel per profile and combine them? It's ok to assume that gene panel only apply to mutations and cna data.

[2018-04-18 20:19] adamabeshouse commented on #3251
thats not going to completely address this https://github.com/cBioPortal/cbioportal/issues/4104 which includes mrna alterations in "unsequenced" samples

[2018-04-18 21:39] adamabeshouse commented on #4104
how is it a different bug :)

[2018-04-18 22:02] jjgao opened #4109 "sample_profile is missing sequenced samples without mutations"
Samples are added to sample_profile when importing the MAF, but only samples with mutated are added.

https://github.com/cBioPortal/cbioportal/blob/master/core/src/main/java/org/mskcc/cbio/portal/scripts/ImportExtendedMutationData.java#L431

- [x] Look for samples in `#sequenced_samples:` line. If available, add these first.
- [x] Is it possible to write a migrations script to fill the missing sam

[2018-04-18 22:07] jjgao commented on #4109
`sample_profile` is now used in the API.

Fixing this is also a step towards refactoring sample list (connecting sample list to profile).

[2018-04-18 22:14] jjgao commented on #4109
cc'ing @ersinciftci and @adamabeshouse. Once that's done, let's

- [ ] have an API to expose the `sample_profile` data
- [ ] use that API for determine whether a sample is profiled (related to https://github.com/cBioPortal/cbioportal/issues/3965)
- [ ] remove `wholeExomeSequenced` from gene_panel end point

[2018-04-19 19:14] jjgao commented on #1615
@angelicaochoa could you please check if this is still a problem?

[2018-04-19 19:47] angelicaochoa commented on #1615
@jjgao I'll investigate

[2018-04-19 19:56] jjgao commented on #1615
It seems like a easy bug to fix -- would be great if you can, so we can close this issue :)

[2018-04-19 20:06] jjgao commented on #4099
Is it b/c there are too many samples? If so, maybe we shouldn't worry about it yet.

I don't see the Page Unresponsive popup, but it took forever to load the data.

[2018-04-19 20:12] jjgao commented on #4031
this is fixed, right?

[2018-04-19 20:12] #4031 closed

[2018-04-19 20:35] adamabeshouse commented on #4104
not fixed yet in frontend ;)

[2018-04-19 21:56] angelicaochoa commented on #1615
@jjgao I made a pr here https://github.com/cBioPortal/cbioportal/pull/4114

[2018-04-20 00:59] angelicaochoa commented on #4100
@jjgao @inodb this issue looks like it's been resolved.
<img width="1150" alt="screen shot 2018-04-19 at 8 59 02 pm" src="https://user-images.githubusercontent.com/15623749/39025363-88a843da-4414-11e8-9007-ffc73c43fa79.png">

[2018-04-20 00:59] #4100 closed

[2018-04-20 15:36] ersinciftci opened #4115 "Modify the tooltip with "Copied!" instead of writing a text next to the copy button"
<img width="474" alt="screen shot 2018-04-20 at 11 26 29 am" src="https://user-images.githubusercontent.com/3595704/39060258-e3cbd9aa-448e-11e8-92a0-53758689fa0b.png">

It breaks the layout when there are other things next the the button. Discussed with @onursumer .

[2018-04-20 22:13] #3774 closed

[2018-04-23 10:57] messersc opened #4120 "Importer bug? (expected: ${db.version}) (found: 2.6.0)"
After enabling authentication, I had to switch the importer from querying localhost for info on the portal to using the `--jar flag`.

My command looks like this:
[code]

Apparently, this worked back in the 1.4 days, but now it breaks with the following error message:

[code]

I get that maven should replace these placeholders with the actual version, but somehow this does not work here.

Is there

[2018-04-23 14:12] tmazor commented on #3251
Related user reported issue:
https://groups.google.com/forum/#!topic/cbioportal/5b417PeVV3c

Sample without mutation profiling but with copy number/expression/protein show up to the right of samples that have mutation profiling but no alterations:
![image](https://user-images.githubusercontent.com/10508276/39131889-8c390364-46de-11e8-9e69-ab3f740873b9.png)

[2018-04-23 15:54] toddcreasy75 opened #4122 "Can't import data (gene panel)"
Hi,

I'm trying to import the gene panel data and I'm getting a permission error on mysql. I have:

- the cbioportal database was created
- the cbio_user mysql user (with password) was created
- the cbio_user credentials entered properly in /root/.m2/settings.xml
- the password is entered correctly in portal.properies
- I restarted catalina

Any ideas on what's going on? Perhaps there's another ar

[2018-04-23 15:56] toddcreasy75 commented on #4122
I should mention that the password does have a special character "!" (exclamation point) in it. Maybe that's causing the issue?

[2018-04-23 18:04] #4077 closed

[2018-04-23 18:04] #4056 closed

[2018-04-23 18:04] #4059 closed

[2018-04-23 18:04] #3996 closed

[2018-04-23 18:04] #3928 closed

[2018-04-23 18:33] toddcreasy75 commented on #4122
Sorry, I needed to do maven rebuild. Everything is fine now.

[2018-04-23 18:33] #4122 closed

[2018-04-23 23:40] adamabeshouse commented on #3251
fixed in https://github.com/cBioPortal/cbioportal-frontend/pull/1110

[2018-04-24 02:24] jjgao opened #4125 "additional parameters to support returning zscores from api"
parameters:
[code]

[2018-04-24 21:08] jjgao commented on #4120
@messersc strange. MVN should replace with the actual version.

@pieterlukasse do you guys have the problem?

[2018-04-25 01:53] jjgao opened #4127 "remove pancan atlas studies under CUP"
![image](https://user-images.githubusercontent.com/840895/39222252-ba9ec488-4809-11e8-8460-32dc13d6dd54.png)

@angelicaochoa please prioritize this. Thanks.

[2018-04-25 12:30] #4127 closed

[2018-04-25 12:30] angelicaochoa commented on #4127
@jjgao resolved

[2018-04-25 18:30] inodb opened #4130 "germline visualization not working for mskcc beta portal"
See: http://bit.ly/2HuHD4P

Mutations tab does show germline mutations

[2018-04-25 20:03] tmazor opened #4131 "enrichments tab should clearly only use q-value for significance"
Currently the Enrichments tab uses a combination of p-value & q-value to determine significance. Values in both the p- and q-value columns are bolded if below 0.05, but a "Significant" badge is only added when both are below 0.05. Even more confusingly, the volcano plot shows p-values and draws a line at p=0.05 to indicate significance and the tooltip says that only p-value is used in determining

[2018-04-26 12:52] jjgao commented on #4131
@tmazor great point! @ersinciftci can we implement them in the new Enrichments tab?

[2018-04-26 13:12] jjgao opened #4133 "discussion: not to use CancerHotspots annotation in OncoPrint by default"
Currently both OncoKB and CancerHotspots are used to annotate OncoPrint by default. For performance reason, can we NOT use CancerHotspots by default? All the hotspots in OncoKB genes would be covered by `predicted oncogenic`. We would lose annotation for non-OncoKB gene hotspots by default.

![image](https://user-images.githubusercontent.com/840895/39307663-74d0c842-4931-11e8-979c-14c648052b54.png

[2018-04-26 13:42] fedde-s commented on #4133
I feel like I have too little experience with the actual use-case of the CancerHotspots annotation to comment on what the best approach would be. What did bother me today was that the Oncoprint tab occasionally displayed nothing beyond a big non-interactive grey rectangle saying ‘Downloading Oncoprint data…’ for over half a minute on end with no information at all that any data had already been do

[2018-04-26 13:44] fedde-s commented on #4133
On the plus side, it looks like [the documentation for server administrators](https://github.com/cBioPortal/cbioportal/blob/v1.12.1/docs/portal.properties-Reference.md#automatic-selection-of-oncokb-annotations) already lists a simple option that can be flipped to turn it off by default, if that's appropriate!

[2018-04-26 13:58] jjgao opened #4134 "investigating virtual study sharing"
On public portal without authentication:
- [x] User H creates a virtual study. User K should be able to open the study.
- [x] H creates a virtual study and query it. K should be able to open the query session.
- [x] H query a combined study w/o creating a virtual study. K should be able to open the query session.

On private portal with authentication (both shared and saved VS):
- [x] All above.
-

[2018-04-26 14:07] jjgao commented on #4133
@fedde-s Thanks for pointed out the documentation. Let's wait for @schultzn's comment.

[2018-04-26 14:20] jjgao opened #4135 "Add pancan studies to Expression tab"
In the current Expression on public portal, it is not possible to add pancancer studies.

In immunotherapy portal, we have the options to select TCGA provisional studies (default), all, or none studies. We can also add TCGA Pancancer Atlas studies.

http://www.cbioportal.org/immunotherapy/index.do?session_id=5ae1df86498eb8b3d565d933

![image](https://user-images.githubusercontent.com/840895/393115

[2018-04-26 14:47] abushoy opened #4137 "Remove table pdb* creation from scripts"
Please remove pdb* tables from the script https://github.com/cBioPortal/cbioportal/blob/master/db-scripts/src/main/resources/cgds.sql, they are not used by the application?

[2018-04-26 18:15] #3777 closed

[2018-04-26 18:15] #4062 closed

[2018-04-26 18:15] #4075 closed

[2018-04-26 18:15] #4080 closed

[2018-04-26 18:15] #4134 closed

[2018-04-26 20:03] n1zea144 commented on #4109
@jjgao @ritikakundra I think I know the answer to this one , but wanted your feedback - there is code in this file that creates samples/patients if they are in the MAF but not in the clinical files.  I could take this out and throw an exception instead.  Do you think its a good time for this (probably not)?

Whatever we decide, I will have to add similar behavior for sample ids that are referenced

[2018-04-27 12:47] jjgao commented on #4109
@n1zea144 I think that's a good idea. Do you think we should throw an exception and stop the import process or continue?

Not sure if others always have all samples in the clinical data file? cc'ing @pieterlukasse

Maybe there should be some rule implemented in validator too?

[2018-04-27 12:51] jjgao commented on #4109
@n1zea144 maybe we could have two pull requests? One for handling `#sequenced_samples` to address this issue.

And the other to take out the code you mentioned. I think this is low priority (since the current code doesn't hurt) and may require some testing.

[2018-04-27 13:25] ritikakundra commented on #4109
@jj validator does fail if it finds a sample in any genomic file but not in clinical sample file.

[2018-04-27 13:26] pieterlukasse commented on #4137
+1 for cleaning this up. Notify @jjgao , @n1zea144

[2018-04-27 14:17] jjgao commented on #4137
duplicate with https://github.com/cBioPortal/cbioportal/issues/2054

[2018-04-27 20:04] zhx828 opened #4140 "Still allow to choose genomic profiles for VS if it only contains one physical study"
The behaviors for querying subset of one physical study should be the same with querying VS
 with same subset

Current Query VS:
![screen shot 2018-04-27 at 4 02 44 pm](https://user-images.githubusercontent.com/5400599/39382740-826d7b22-4a34-11e8-8671-bc71cbf1c923.png)

Current Query Subset Without Saving to VS:
![screen shot 2018-04-27 at 4 02 50 pm](https://user-images.githubusercontent.com/5400

[2018-04-27 20:45] alisman opened #4141 "Expression box plot rules"
Cap values at some minimum.
Do not use zero values when calculating box plot.
10-2 is the lower cap

[2018-04-27 21:01] alisman opened #4142 "Study selection in Expression Tab"
Study groups selection for Expression tab.

Options should be:
TCGA Prov (ends with _tcga)
TCGA Pan Can atlas (ends with tcga_pan_can_atlas_2018)

by default:
1. If Pancan is present, just display those
2. If no pancan, but provisional, display only provisional
3. otherwise, display everything

[2018-04-27 21:43] #4115 closed

[2018-04-30 13:19] jjgao opened #4143 "OncoPrint: add a track when not all samples are profiled in a selected profile"
If there are samples that are not profiled in a selected molecular profile, maybe we can automatically add a track to indicate that?

- Track name: Profiled in <profile name> (this may be too long)
- Track data: Yes, or N/A (same N/A glyph)

[2018-04-30 13:25] kalletlak commented on #4140
It's not easy to just show genomic profile without case-sets. Lets discuss this in the meeting.

[2018-04-30 14:03] jjgao commented on #4140
@kalletlak Good point about case set. Not sure how to solve it...

[2018-04-30 14:32] jjgao commented on #4143
Thanks @schultzn. Added to the backlog.

[2018-04-30 15:09] ersinciftci opened #4144 "Sample Lists API multi-study support"

[2018-04-30 15:35] jjgao commented on #4143
@adamabeshouse when querying from multiple studies, mutation profiles should be merged into one track, and the same with cna profiles.

[2018-04-30 16:51] zhx828 opened #4146 "Integrate First Version Study View Prototype"

[2018-04-30 16:52] zhx828 opened #4147 "Refactoring Study View Summary Tab"

[2018-04-30 16:54] zhx828 opened #4148 "Refactoring Study View Clinical Data Tab"
- [ ] Enhanced Fixed data table, study-view-clinical version
- [ ] Use paginated table (the new endpoint supports pagination)

[2018-04-30 16:54] zhx828 opened #4149 "Refactoring Study View Mutated Genes Tab"

[2018-04-30 16:55] zhx828 opened #4150 "Refactoring Study View CNA Tab"

[2018-04-30 16:58] zhx828 opened #4151 "Refactoring Study View"

[2018-04-30 17:03] zhx828 opened #4152 "SV: Adding loading bars for all charts"

[2018-04-30 17:08] zhx828 opened #4153 "SV: Redesign summary header(Operations && filters)"

[2018-04-30 17:09] zhx828 opened #4154 "SV: Summary Header"
- [x] Show current selected samples/patients
- [x] Virtual study button
- [x] Button to patient view with current selected patients
- [x] Data download button
- [x] Query genes box
- [x] Query button to results page or main page
- [x] Update after https://github.com/cBioPortal/cbioportal-frontend/pull/1379 is merged
- [x] Update after cBioPortal/cbioportal-frontend#1405 is merged
- [x] Selected sa

[2018-04-30 17:09] zhx828 opened #4155 "SV: Chart Header"

[2018-04-30 17:09] zhx828 opened #4156 "SV: Pie Chart"
- [x] Remove `Reset` button
- [x] Support multi-selection
Tooltip after hovering over the chart (Enhanced Fixed data table, - [ ] study-view-summary version)
- [x] Checkbox in tooltip to select pie slices
- [ ] ~~Hover category color rectangle, the pie slice is highlighted~~
- [ ] ~~Hover category color rectangle, an arc will be added beside of pie slice~~
- [x] Download
	- [x] DATA
	- [x] SVG
	-

[2018-04-30 17:09] zhx828 opened #4157 "SV: Bar Chart"

[2018-04-30 17:09] zhx828 opened #4158 "SV: Tables"
- [x] Calculate frequency based on gene panel info (this is done at backend)
- [x] Show # of profiled samples in the header
- [x] Mutated Genes table: MutSig icon in Gene column
- [x] CNA Genes table: Gistic icon in Gene column
- [x] Download
	- [x] DATA
- [x] Use react-virtualized populate table
	- [x] Clinical Table
	- [x] Mutated Genes Table
	- [x] CNA Genes Table
- [x] Shorten the text and giv

[2018-04-30 17:09] zhx828 opened #4159 "SV: Survival Plot"
- [x] Support more than two curves with color option(maybe shape as well?)
    how to reproduce: go to study http://www.cbioportal.org/study?id=lgg_tcga#summary . Hover over bar chart and click on the survival icon on the chart header. The survival ploy will show multiple curves.
- [x] Tooltip showing the current curves, and option to exclude/include NA nodes
- [x] Exclude/include NA nodes on the

[2018-04-30 17:09] zhx828 opened #4160 "SV: Scatter Plot"
- [x] ~~Scatter plot by clinical attribute (it is missing in current production)
	Not tied with mutation count/CNA~~
- [x] Select samples by using the brush
- [x] Shift-click on multi-region selection
- [x] Show scatter plot with multiple groups by coloring the node after clicking the survival icon
- [x] Tooltip when hover over the dot
- [x] Downsampling
- [x] Download
	- [x] DATA
	- [x] SVG
	- [x

[2018-04-30 18:26] kalletlak commented on #4160
@zhx828 are we going to use Plotly scatter or Victory scatter?

[2018-04-30 18:31] kalletlak commented on #4156
@zhx828 existing Enhanced Fixed data table or the new one?

[2018-04-30 18:34] zhx828 commented on #4156
@kalletlak probably the new one in the frontend repo.

[2018-04-30 18:36] kalletlak commented on #4158
@zhx828 any specific reason for two different type of tables?

[2018-04-30 18:36] zhx828 commented on #4160
@kalletlak we are going to do down sampling to check on the performance. Need to discuss the performance again after that.

[2018-04-30 18:38] zhx828 commented on #4158
@kalletlak most the components are the same, but there are customized features for different usecase. So two branches are created.

[2018-04-30 18:39] kalletlak commented on #4153
Is this header specific to Study summary header(current functionality) or should we make it as a shared component even to other tabs in Summary page?

[2018-04-30 20:37] #3092 closed

[2018-04-30 20:37] #3078 closed

[2018-04-30 20:37] #2983 closed

[2018-04-30 20:42] jjgao opened #4161 "arrows in Enrichments tab"
- [ ] find better arrows
- [ ] change the color: red for up and blue for down
- [ ] tooltip: "Higher/lower expression in altered samples comparing to unaltered samples"

[2018-04-30 21:04] jjgao opened #4162 "Negative values in Read Counts"
@ritikakundra commented on [Tue Apr 24 2018](https://github.com/cBioPortal/datahub/issues/199)

This issue was reported by a user:
https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/eER8Y1IzWj0/wga2g53NCAAJ

[2018-04-30 21:13] jjgao commented on #4162
Currently, the read counts (t_ref_count, t_alt_count, n_ref_count, n_alt_count) are defaulted to -1. We should probably change the default to NULL.

- [ ] write a migration script to set read counts to NULL if it's -1.
- [ ] fix import code to change the default to NULL.
- [ ] make sure web API and frontend functionality are working fine.

[2018-04-30 22:31] adamabeshouse commented on #4104
reopening just so we can confirm when its deployed

[2018-05-01 20:42] zhx828 opened #4164 "Study View: Handle scenario if gene panel call is failed"

[2018-05-01 21:51] inodb opened #4165 "Fusion with gene not in gene panel"
Try e.g. TTN which is not copy number or mutation profiled in mskimpact: http://bit.ly/2rbBQHs

Mouseover mentions:
[code]
Should this mention that the other gene was profiled?