[2019-03-14 15:48] alisman commented on #5861
Short answer: you can use NVM (node version manager) to solve this.  Allows you to have multiple node versions and use them simultaneously for different projects as necessary.

The node version is somewhat dictated to us by the different remote env/platforms we use as part of build/deployment.   It might be possible to upgrade, but it will be a chore to constantly keep it in sync and would force e

[2019-03-14 15:54] #5822 closed

[2019-03-14 16:05] schultzn commented on #5716
Good idea!

[2019-03-14 16:09] inodb commented on #5850
Discussed with Hongxin - virtual studies are actually not private if u have the id. So as long as all studies in the session are public, one can access it. So instead will create a virtual study of TCGA pancan under cbioportal account. Then at some point we can show all virtual studies owned by cbioportal on the homepage.

[2019-03-14 16:11] tmazor commented on #5716
I'm a bit worried that having 2 checkboxes with different meanings (add to query vs apply filter) is going to be confusing.

This also changes the meaning of bold in these tables, which could also be confusing for users.

I know I'm jumping into this conversation late, and I don't immediately have any better suggestions, but can we think some more about this?

[2019-03-14 16:27] coderrsid commented on #5106
Thanks @jjgao. Can you review my pull request too please? https://github.com/cBioPortal/cbioportal-frontend/pull/2099

[2019-03-14 16:33] schultzn commented on #5716
Yes, let’s definitely think about it so more.

Changing the meaning of bold might be ok though - users can quickly get used to it, I think.

[2019-03-14 17:18] patidarr opened #5864 "allele frequency rounding factor"
Hi,

Currently the allele frequency is rounded to 2 digits after the decimal but I am planning on uploading a ctDNA project samples to our local instance and in most cases the VAF comes as 0.00, is there a setting I can change round it upto 4 digits after decimal? so that I see a line in patient view when multiple samples are ran from a patient?

Thanks,
Rajesh

[2019-03-14 17:23] brettvanderwerff commented on #5844
@zhx828 OK, I see now it is not as easy as just adding extra padding. I will see if I can identify the root of the problem with that calculation and will open a PR if I have a solution. I think this project is great and would like to be of help. I am still getting familiar, so if time becomes an issue please let me know.

[2019-03-14 18:13] adamabeshouse commented on #5848
So then I find the phrase "Log ratio" very confusing, isn't it? Since the word log doesnt appear in description of mean or stddev. It's unclear to me what's happening, by looking at the table.

[2019-03-14 20:10] Parth910 commented on #5861
I already used NVM for development. but I want to know why we are not upgrading version. Now I got it. Thanks for Reason @jjgao @alisman.

[2019-03-14 20:10] #5861 closed

[2019-03-14 22:16] adamabeshouse commented on #5525
Should we update the single session as each change is made, or make a new session? I think it would be unsettling to make a new session for every change, and see the hash change with every little thing you do. On the other hand, for sharing a session, you might not want someone to get your session with all the changes you made. What do you think?

[2019-03-14 22:18] adamabeshouse commented on #5525
How do these sound for starters?

For the oncoprint, we have:

- [ ] clinical tracks
- [ ] heatmap tracks
- [ ] everything that is represented by a menu, i.e. sort configuration, mutation coloring, various view options, zoom level, minimap state
- [ ] mutation coloring configuration

[2019-03-14 22:26] adamabeshouse commented on #5499
This is now done except for two oversights:

(1) No tab respects "dont show germline"
(2) Mutations tab only respects driver filtering if there is a non-trivial mutation spec in OQL

[2019-03-14 22:27] adamabeshouse commented on #5129
should we close this? @schultzn @tmazor @jjgao

[2019-03-14 22:28] adamabeshouse commented on #4646
should we start thinking about this?

[2019-03-14 22:29] adamabeshouse commented on #1133
Im feeling like there's not enough room on the screen to do this. @jjgao

[2019-03-14 22:30] adamabeshouse commented on #4937
can we close this?

[2019-03-14 22:31] adamabeshouse commented on #5773
this is done for cohort comparison, we just show an error message if the request to the session service fails

[2019-03-14 22:59] jjgao commented on #3843
R package is not using it. It's not documented in the web api page so we don't have to maintain it if we are not using it. I'll close this one.

[2019-03-14 22:59] #3843 closed

[2019-03-15 03:44] jjgao commented on #5716
I was also a little worried about changing the meanings of bold but I think it's just b/c I am used to it and I will probably adjust quickly.

I think a selection icon is actually a more intuitive way to indicate the gene is selected for query, but I agree that the current icon could cause confusion. Maybe a query (e.g. magnifier) would work better?

[2019-03-15 03:48] jjgao commented on #5864
@patidarr good point.

[2019-03-15 03:52] jjgao commented on #5848
I think we use log ratio just to indicate it's `log(X/Y)` or `log(X)-log(Y)`, but maybe it's inappropriate?

[2019-03-15 03:57] jjgao commented on #5525
@adamabeshouse: @alisman and I discussed long time ago and I remember we were thinking of generating a new session only when the user clicks the "link" icon.

[2019-03-15 04:00] jjgao commented on #5129
@adamabeshouse let's leave this open as we are looking more closing at splice mutations now. I have assign it to myself for the moment and will resign to you or someone when we make a decision on this.

[2019-03-15 04:02] jjgao commented on #4646
@adamabeshouse I think it's a good idea. How about we start with a settings icon next to the link icon? (or is there a better place?)

[2019-03-15 04:03] jjgao commented on #1133
I think it would be nice -- we see that in many figures.

@cBioPortal/product comments?

[2019-03-15 04:04] #4937 closed

[2019-03-15 09:42] Sjoerd-van-Hagen commented on #1133
What would be the point of adding the total number of alterations in a bar chart? You can already see that in the oncoprint quite clearly, and there is a percentage number too.

If you look at the first screenshot, it shows how the alterations are divided over two groups. This would be really useful together with the group comparison feature.

@adamabeshouse to make more room we could just shrink

[2019-03-15 13:46] schultzn commented on #5716
I like Hongxin’s proposal to add a checkbox, but only show a checked checkbox after a user clicks on a gene. I think users will get used to this change very quickly, even if we don’t use bold for cancer genes.

[2019-03-15 13:47] tmazor opened #5865 "add link on tutorial page to google drive folder"
In order to allow users to easily download the tutorial slides, let's add a link to the google drive folder where the slides live: https://drive.google.com/drive/u/0/folders/0B9KTQJAGhFhhRi1qaTdUWmpLQTA

[2019-03-15 14:25] pieterlukasse commented on #5816
@khzhu I would rather look at recent spring configuration changes that could be causing this (think of application*context.xml files).

[2019-03-15 14:25] fedde-s commented on #5816
I can't see how that would affect this, no; it seems related more to Batis and/or Spring than to the actual database connection.

[2019-03-15 14:25] pieterlukasse commented on #5816
@khzhu I would rather look at recent spring configuration changes that could be causing this (think of application*context.xml files).

[2019-03-15 14:52] pieterlukasse commented on #5816
@khzhu @n1zea144 my guess is that recent code was introduced that uses PatientRepository indirectly, and this new code is not adding PatientRepository as a workaround, like done here https://github.com/cBioPortal/cbioportal/blame/v2.1.0/security/security-spring/src/main/java/org/cbioportal/security/spring/CancerStudyPermissionEvaluator.java#L68. By the way: I hope another workaround or a solution

[2019-03-15 15:25] jjgao commented on #5532
The oncohistone paper will be out on 3/20 Wed. @inodb could you schedule this for the same day?

[2019-03-15 16:02] khzhu commented on #5816
thanks @pieterlukasse @fedde-s !
For my case, the root cause more likely was the dbcp authentication failure (please see logs below).
There was not any changes made to the database before updating cBioPortal from 2.0.1 to 2.1.0. Thus, user 'cbio_user' should not be denied, right? Only thing I could think of was the DataSource object was not initialized with user 'cbio_user' credential.
In PR #4787

[2019-03-15 16:29] coderrsid commented on #5864
Hey @jigao @patidarr  Can you provide more description with screenshots

[2019-03-15 16:44] patidarr commented on #5864
<img width="1377" alt="Screen Shot 2019-03-15 at 12 40 32 PM" src="https://user-images.githubusercontent.com/4172322/54447427-c8cdce80-471f-11e9-93ce-4ab5d8ff2402.png">
<img width="1391" alt="Screen Shot 2019-03-15 at 12 41 11 PM" src="https://user-images.githubusercontent.com/4172322/54447428-c8cdce80-471f-11e9-941c-dc6971bc7dc1.png">

Here are some examples.

What I think:
Not only we need to ch

[2019-03-15 16:51] coderrsid commented on #5864
Thanks @patidarr. I'll look after this issue for sure.

[2019-03-15 16:59] coderrsid commented on #5864
@patidarr can you provide the link of you sent screenshots?

[2019-03-15 17:38] patidarr commented on #5864
@coderrsid, sorry this is on a instance inside the firewall.

[2019-03-15 18:46] adamabeshouse commented on #5525
@jjgao so we'd be updating the session throughout, and then when you click link it would create a session with your current state? Is that unexpected, would people want to generate a link to the state they encountered when they came into the page?

[2019-03-15 18:47] adamabeshouse commented on #4646
I think I'd prefer to see it next to Modify Query. Thoughts? @jjgao @alisman

[2019-03-15 19:30] figalj opened #5867 "Issue importing sample study"
I have cbioportal up and running and have imported the seed database without issues.  Trying to run the following: ./metaImport.py -s ../../../test/scripts/test_data/study_es_0/ -u http://localhost:8080/cbioportal -v -o

I get the following error:
Error occurred during data loading step. Please fix the problem and run this again to make sure study is completely loaded.
Traceback (most recent call

[2019-03-16 02:54] jjgao commented on #5525
@adamabeshouse not sure if I understand the question. People will still be able to generate a link when they open the session... I think at the moment when they would like to generate a link (for sharing or booking marking), it makes more sense to save the state.

[2019-03-16 02:57] jjgao commented on #4646
Good idea. (wondering if we should just make it part of Modify Query?) I am also thinking of saving the global setting to local storage...

[2019-03-16 02:59] jjgao commented on #5867
@fedde-s @pieterlukasse any insights?

[2019-03-16 09:15] inodb commented on #5532
Sure

On Fri, Mar 15, 2019, 9:25 AM JianJiong Gao <notifications@github.com>
wrote:

[2019-03-16 16:01] coderrsid commented on #5864
@jjgao  Can you provide some link of this query, i can't find allele frequency.

[2019-03-16 21:58] jjgao commented on #3395
Updated

[overlapping_studies_0190316.cys.zip](https://github.com/cBioPortal/cbioportal/files/2974529/overlapping_studies_0190316.cys.zip)
[overlapping_studies_0190316.txt](https://github.com/cBioPortal/cbioportal/files/2974530/overlapping_studies_0190316.txt)
![overlapping_studies_0190316 txt](https://user-images.githubusercontent.com/840895/54482127-052f2680-4815-11e9-9633-a1960aecd0a3.png)

[2019-03-17 02:14] jjgao commented on #5831
@alisman as commented in https://github.com/cBioPortal/cbioportal/issues/3395#issuecomment-473596022, here is a list of 165 studies: [default_studies_list_20190326.txt](https://github.com/cBioPortal/cbioportal/files/2974685/default_studies_list_20190326.txt)

Please:

- [ ] Make it configurable for the "Quick select" buttons, e.g. add to properties or json configuration files including the button

[2019-03-17 02:21] jjgao commented on #5831
@inodb I am wondering if we should use this list for Quick Search too...

[2019-03-17 02:33] jjgao opened #5869 "use the same code for ln and quick search (gene)"
e.g. when search a gene, you can forward to [ln?q=EGFR](https://www.cbioportal.org/ln?q=EGFR)

[2019-03-17 16:01] ayushns9 commented on #5865
I would like to work on this issue.

[2019-03-17 17:21] ayushns9 commented on #5865
@dippindots I've added the PR! Please review: https://github.com/cBioPortal/cbioportal-frontend/pull/2129

[2019-03-17 17:21] ayushns9 commented on #5865
I've added the pull request! Please review: https://github.com/cBioPortal/cbioportal-frontend/pull/2129

[2019-03-17 17:35] agarwalrounak commented on #5754
I guess this issue can be closed now given that [cBioPortal/cbioportal-frontend#2112](https://github.com/cBioPortal/cbioportal-frontend/pull/2112) is merged.

[2019-03-18 09:16] fedde-s commented on #5816
Do you have a file named portal.properties in the folder referenced by the `$PORTAL_HOME` variable of the webserver process? If so, the webserver should now consistently use that as the configuration file instead of defaulting to the one baked into the WAR file.

[2019-03-18 13:53] jjgao commented on #5864
@coderrsid here are two examples:
- https://www.cbioportal.org/patient?studyId=ucec_tcga_pub&caseId=TCGA-BK-A0CC
- https://www.cbioportal.org/results/mutations?session_id=5c8fa291e4b0d20a239993c3

Note that the frequencies in the public portal are usually high (>0.03)

[2019-03-18 13:59] jjgao commented on #5754
@agarwalrounak yes, thanks for the reminder.

[2019-03-18 13:59] #5754 closed

[2019-03-18 14:07] #5859 closed

[2019-03-18 14:57] khzhu commented on #5816
@fedde-s , yes we do have portal.properties file under $PORTAL_HOME. As I mentioned, there was any changes made to the system prior to the upgrading. Plus, portal.properties file was not included in the WAR file, so should not be any issues.

[2019-03-18 15:57] fedde-s commented on #5867
The Python part of the traceback suggest that the step it was executing at the time was [the Java class to add a cancer type](https://github.com/cBioPortal/cbioportal/blob/v2.1.0/core/src/main/java/org/mskcc/cbio/portal/scripts/ImportTypesOfCancers.java#L48). By that point, the importer should have already succesfully connected to the database to [check the schema version](https://github.com/cBioP

[2019-03-18 16:01] fedde-s commented on #5867
I imagine it might be a difference between how the two commands connect to the database. @figalj, which release of the cBioPortal code are you running? The difference in logic [changed](https://github.com/cBioPortal/cbioportal/commit/c8621f0769d6deede4b58075ea989f2546741504) as of v1.18.0.

[2019-03-18 16:29] figalj commented on #5867
The version of the app is 1.10.1.  I believe the DB version is 2.4

[2019-03-18 21:27] #3767 closed

[2019-03-18 23:46] #5845 closed

[2019-03-19 01:25] zhx828 commented on #5716
@tmazor @schultzn @jjgao I have the latest instance running here https://cbioportal-frontend-pr-2109.herokuapp.com/study?id=lgg_tcga, please take a look and let me know what you think.

[2019-03-19 14:16] #5865 closed

[2019-03-19 14:46] zhx828 commented on #5845
@tmazor @jjgao this is now fixed in production.

[2019-03-19 14:58] alisman opened #5872 "restore download tab on homepage in quick search branch"
We need to add back the download tab to quick search branch.

Study how it works in current master and then figure out how to create a new tab in new tab structure introduced in quick search branch.

![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/5a1f3506-2618-4a65-9520-172745b9001d)

[2019-03-19 15:35] #4437 closed

[2019-03-19 17:21] alisman commented on #5831
@jjgao do you think these quick search buttons (pancan and now the curated) are important for other portal instances beside mskcc and public?   the configuration is a little awkward, 1. b/c we have to use structured data to represent the list, 2. because in pan can case, the pan can studies button can really only be shown and defined at run time.

Simplest solution would be to just have a flag tha

[2019-03-19 17:29] kalletlak commented on #5838
`-Ddbconnector=dbcp` is not mandatory. If it's not specified, it should fallback to default value `jndi`. Not sure why it's throwing an error.

[2019-03-19 21:26] zhx828 commented on #5296
@jjgao what do you think?

[2019-03-19 21:46] jjgao commented on #5831
@alisman

1. Maybe we should define them in the frontend config? e.g.

[code]

2. I think we should put the name of the pancan studies as well.

[2019-03-19 21:50] alisman opened #5873 "Mutation driver specification in oql field causes error"
Put this in OQL box "BRAF: MUT=DRIVER"

You will white screen and error in console.  Error doesn't occur until you finish typing "DRIVER" so it seems like it's fine until something is actually recognized and the "unrecognzied" collection is empty.

![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/254239e5-6bed-47b0-9b40-e5229d6422e1)

[2019-03-19 21:58] alisman commented on #5831
@jjgao it is defined in frontend config.  the problem is that on dashi, we could have a json file sitting on disc. in aws we cannot do this as instances are ephemeral.  so we the json configuration needs to live in a repository just as portal.properties.    will discuss with ino tomorrow

[2019-03-19 22:32] #5825 closed

[2019-03-19 22:32] #5826 closed

[2019-03-19 22:33] jjgao commented on #5831
@alisman @ino maybe we can have some public configure files (non private keys) on github?

[2019-03-19 22:33] #5827 closed

[2019-03-20 04:27] AndrewCveklNYUClass commented on #5182
Hey JJ, when I click on the link, is the bug that the load icon keeps going and nothing shows up?

[2019-03-20 09:50] Sjoerd-van-Hagen commented on #5296
_No Data Unknown Other_ should be a neutral color like gray. Not the same as false/negative.
_DiseaseFree TUMOR FREE_ I would use the same as yes/positive
_Recurred/Progressed WITH TUMOR_ I would use the same as false, no negative
I would change the color for female not to be the same as all the bad things...

[2019-03-20 15:49] alisman commented on #5831
@jj do you think the tooltip for the curated set should indicate something about the non-overlapping nature?  i.e. that's what drove the curation of the set?

[2019-03-20 15:50] adamabeshouse commented on #5296
good ideas. for no data, unknown, other, maybe we can use oncoprint default grey? @Sjoerd-van-Hagen @zhx828

[2019-03-20 15:52] zhx828 commented on #5296
@adamabeshouse in study view we have a default NA color `#CCCCCC`

[2019-03-20 15:53] zhx828 commented on #5296
In StudyViewConfig.js

[2019-03-20 16:12] inodb commented on #5532
@jjgao 	it seems like the histone session isn't working anymore http://www.cbioportal.org/results/oncoprint?session_id=5c38ba56e4b09ccddade62ee . Do we need a session id for this one?

[2019-03-20 16:31] sandertan commented on #5296
Good suggestions! Perhaps make give [Other / Unknown ] a different color than [ NA / No data]. Like in OncoPrint: a mutation not found is grey, but no data because gene is not profiled (on gene panel), it's white.

[2019-03-20 16:33] jjgao commented on #5831
@alisman I've updated the name and description above.

[2019-03-20 17:24] #5532 closed

[2019-03-20 17:26] sgspaddy opened #5874 "MySql Version"
Hi Cbioportal Team,

As IT security requirement, we are forced to use Mysql 8.x version instead of 5.x. We got the following error message regarding version conflicts.:

Is there any way that we can locate the file and change the SQL query on our local instance?

20-Mar-2019 08:20:03.393 SEVERE [https-jsse-nio-443-exec-10] org.apache.catalina.core.StandardWrapperValve.invoke Servlet.service() for

[2019-03-20 17:27] jjgao commented on #5182
@AndrewCveklNYUClass yes. There should be message to indicate the study and/or sample do not exist or are not accessible by the user.

[2019-03-20 17:28] inodb opened #5875 "Broken session (histone)"
https://www.cbioportal.org/results/oncoprint?session_id=5c38ba56e4b09ccddade62ee

[2019-03-20 17:29] jjgao commented on #5296
agreed with @sandertan that other should have a different color, but maybe unknown could be the same with NA?

[2019-03-20 17:36] jjgao commented on #5716
Maybe instead of a linkout icon just put the link on the gene name?

![image](https://user-images.githubusercontent.com/840895/54706362-1c239080-4b15-11e9-96a4-cf67ed363af0.png)

[2019-03-20 17:46] khzhu commented on #5874
@sgspaddy, mysql8 does not allow to use any reserved keywords such as rank, group as identifiers without quoting. In org/cbioportal/persistence/mybatis/SignificantlyMutatedGeneMapper.xml file
rank was used without a quote. So, change

to

will solve the issue. Hope this helps!

[2019-03-20 17:49] sgspaddy commented on #5874
@khzhu
Thank you. We are trying to modify the query but we couldn’t find the xml file in our local cbioportal. Could you please help us locate the xml files?

[2019-03-20 17:54] khzhu commented on #5874
@sgspaddy , you will have to build your war file and re-deploy it to the site. Please check this document (https://github.com/cBioPortal/cbioportal/blob/master/docs/Deploying.md) for more details.

[2019-03-20 18:19] zhx828 commented on #5716
On both ATRX in the example?

[2019-03-20 18:56] sgspaddy commented on #5874
@khzhu  Thank you, Kelsey. We have successfully updated the query at our local instance. Thanks!

[2019-03-20 18:57] khzhu commented on #5874
@sgspaddy , glad it worked out. Thanks for the updates!

[2019-03-20 21:13] jjgao commented on #5874
@khzhu maybe we should fix it in our scheme?

[2019-03-20 21:15] khzhu commented on #5874
that is a good idea. should I start a PR for this?

[2019-03-20 21:17] jjgao commented on #5716
@zhx828 no just the one in "ATRX is...".

Maybe we should remove "Click ..." and when hovered over, maybe we should just display a checkbox for people to check? We can also remove the blue box.

[2019-03-20 21:59] jjgao commented on #5874
@khzhu yes, please.

[2019-03-20 22:10] #5873 closed

[2019-03-20 22:23] zhx828 commented on #5716
@jjgao I could remove the blue box. But personally I don't like to add a check box when hover because you need to do the following in order to click on the gene
- hover gene name
- move mouse to the check box
- Click on the checkbox

You can also miss the checkbox if you accidentally moved the mouse else where.

[2019-03-21 09:43] sandertan commented on #5320
@coderrsid Thanks for the update. However, I'm not active in this project anymore, and also not a front-end developer, so perhaps someone else can review this fix.

[2019-03-21 11:12] jjgao commented on #5716
@zhx828 good point, but maybe you can show the checkbox when hovering on the `<td>` instead of the gene name? In general I think it's better to use intuitive/conventional UI elements without hover-over text explanation.

[2019-03-21 11:38] jjgao opened #5878 "structure alignment is not displayed when switching to another gene"
steps to reproduce:
- open https://www.cbioportal.org/results/mutations?session_id=5ba11ce6498eb8b3d567e7ed
- click "view 3d structures"
- switch to BRAF

issue: 3d structure is displayed but not the alignment is not

![image](https://user-images.githubusercontent.com/840895/54749737-e8477a00-4bab-11e9-881b-e99c7baf6346.png)

[2019-03-21 17:49] #5711 closed

[2019-03-21 19:16] sgspaddy opened #5879 "Multiple Instance"
Hi  cBioPortal Team,

 We would like to create one more database schema 'cbioportal_internal'. Could we modify the 'cbioportalImporter.py' to import data into 'cbioportal_internal'?

[2019-03-21 20:45] alisman opened #5880 "Handle invalid query cases in results page"
This has an invalid study id
https://www.cbioportal.org/results/oncoprint?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=crc_msk_2018&case_set_id=crc_msk_2018_cnaseq&data_priority=0&gene_list=RIOX2&geneset_list=%20&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=crc_msk_2018_gistic&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=crc_msk_2018_mutations&tab_index=tab

[2019-03-21 20:53] #5879 closed

[2019-03-21 21:06] alisman opened #5881 "Revive json configuration (frontendOverride) for aws hosted portal"
I think we should be migrating toward json.   Not urgent, but would be nice to figure out a solution to revive frontendOverride so that we can use json configuration for new properties.

[2019-03-21 23:26] onursumer commented on #5878
@jjgao I couldn't reproduce this one, but I suspect that it might be related to some `async` reload behavior of the alignment panel. We might be doing something wrong here: https://github.com/cBioPortal/cbioportal-frontend/blob/fe501529d6951ce98c812a61e5255b2f813d2925/src/shared/components/proteinChainPanel/ProteinChainPanel.tsx#L210

[2019-03-22 04:03] brettvanderwerff commented on #5844
@zhx828 I look into this quite a bit more and opened PR #2147 on the frontend repo to try and resolve it. Thank you.

[2019-03-22 12:51] pieterlukasse commented on #5816
@khzhu the error states:
[code]
Is your DB running on `localhost`?

[2019-03-22 13:21] tmazor opened #5882 "plots tab is broken"
Run a query (e.g. http://bit.ly/2TpXe70)
The plots tab says "No data to plot" even though there is data.

User report bug: https://groups.google.com/forum/#!topic/cbioportal/HH2qNP1H2eU

[2019-03-22 13:42] coderrsid commented on #5864
So @jjgao , How can i test the changes i did?

[2019-03-22 13:59] zhx828 commented on #5844
Thanks Brett. I will take a look.

[2019-03-22 14:22] kcourtet opened #5883 "Overall survival curve, custom visualization ?"
Hi ! I have a question about the Overall Survival curve visualization : for a combined study query, is it possible to get one curve per studies instead of an unique global one ?

Something like this :
![image](https://user-images.githubusercontent.com/36259702/54829216-3648a480-4cb6-11e9-9725-3c6abc028726.png)

[2019-03-22 15:08] zhx828 commented on #5844
@brettvanderwerff I took a look the PR, it works but not fixing the actual issue. It's a bit more complicated but let me know if you still want to continue solving the issue.

Here are few nodes
- the `10`px you pointed out is the reserved height for the tick under the axis, not the text, the small black vertical line. So when you increase to 20, it seems solve the issue, but that's not guaranteed

[2019-03-22 15:23] #5810 closed

[2019-03-22 15:54] khzhu commented on #5816
@pieterlukasse , yes, on the same VM as cbioportal.

[2019-03-22 16:09] brettvanderwerff commented on #5844
@zhx828 That makes sense. I looked at `bottomPadding`, but honestly just wasn't able to see that at first pass. Yes I would like to continue on this issue. Thank for your patience and time.

[2019-03-22 16:55] oplantalech commented on #5816
@khzhu that's weird, I've set up cBioPortal v2.1.0 with Keycloak and I don't have issues. I'm using the `Dauthenticate=saml` option.

[2019-03-22 17:16] khzhu commented on #5816
@oplantalech , our production server is a centos7 VM, with tomcat9, java8, and mysql8 installed. We had no issues with 2.0.1 but 2.1.0.

[2019-03-22 17:18] khzhu commented on #5816
also, keycloak is not running from the same VM.

[2019-03-22 18:08] #5872 closed

[2019-03-22 18:08] #5824 closed

[2019-03-22 19:09] #5828 closed

[2019-03-22 19:09] #5823 closed

[2019-03-22 19:31] adamabeshouse opened #5886 "svg to pdf - legend sometimes broken"
After merging #2094:

https://cbioportal.org/results/oncoprint?Z_SCORE_THRESHOLD=2.0&cancer_study_id=coadread_tcga_pub&cancer_study_list=coadread_tcga_pub&case_ids=&case_set_id=coadread_tcga_pub_nonhypermut&clinicallist=CANCER_TYPE_DETAILED%2CMUTATION_COUNT%2CNO_CONTEXT_MUTATION_SIGNATURE&gene_list=KRAS%20NRAS%20BRAF&gene_set_choice=user-defined-list&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERAT

[2019-03-22 20:43] jjgao commented on #5751
discussed with @dippindots in person: we will use exact what OncoPrint is displaying per track.

[2019-03-22 20:53] alisman commented on #5811
@ino @niki
I think we should leave the text where it is.  When it's left aligned, it's too bunched up and difficult to tell that it applies to what's below.   @niki if you feel strongly about it, i can change it.

[2019-03-23 22:08] MehulGoel1 commented on #5878
![image](https://user-images.githubusercontent.com/35894429/54872162-e7019180-4de5-11e9-84b3-4ca592893e94.png)
I think the annotation is actually present, it is just in a very small part, so requires some looking. I may have got it wrong and assuming something else annotation.

[2019-03-23 22:09] khzhu commented on #5874
Hi @jjgao , checked the latest master branch, someone already made the correction. No PR needed any more.
![Screen Shot 2019-03-23 at 6 06 24 PM](https://user-images.githubusercontent.com/17375786/54872188-9c0c5d80-4d96-11e9-9ee5-07006172b0c5.png)

[2019-03-23 22:24] MehulGoel1 commented on #5864
I think changing this value to 4 might work. Or as @jjgao said most frequencies are usually high (>0.03), we can add a condition if(frequency<0.01) frequency.toFixed(4)

![screenshot (1)](https://user-images.githubusercontent.com/35894429/54872304-f97cca80-4de7-11e9-8934-bab7de66ee47.png)

[2019-03-23 22:26] coderrsid commented on #5864
Thanks @MehulGoel1

[2019-03-23 22:34] coderrsid commented on #5864
But the problem is the database of cbioportal doesn't has allele frequency less than 0.01. So i don't know how to test my results.

[2019-03-23 22:45] jjgao opened #5889 "change to utuc_mskcc_2015 in the default set"
from utuc_mskcc_2013

[2019-03-23 22:46] jjgao commented on #5831
utuc_mskcc_2013 should be utuc_mskcc_2015

https://github.com/cBioPortal/cbioportal/issues/5889

[2019-03-23 22:46] #5831 closed

[2019-03-24 15:34] coderrsid opened #5890 "[OTHERS] Where to send the GSOC proposals for review?"
I have sent @jjgao @inodb my proposal for issue "Mutations tab Improvement" on Slack. But no one is online for quite some time. Can any member please help me?

[2019-03-24 16:46] khzhu commented on #5652
Please find updated schema diagram.
![support-multiple-genomes-2nd-5652](https://user-images.githubusercontent.com/17375786/54882632-5ef5a900-4e32-11e9-8798-43d5840be825.png)

[2019-03-25 01:03] inodb commented on #5890
Hi @coderrsid - sorry for the delay, I replied to you on slack

[2019-03-25 01:03] #5890 closed

[2019-03-25 15:40] fedde-s commented on #5867
In that case I expect that it might have something to do with the value of the [`db.connection_string`](https://github.com/cBioPortal/cbioportal/blob/v1.10.1/src/main/resources/portal.properties.EXAMPLE#L12) setting in your portal.properties file--try comparing it to the `db.host` setting in the same file. Note that, with software versions older than v1.18.0, you have to [rebuild the Java code](ht

[2019-03-25 17:10] jjgao commented on #5883
Hi @kcourtet: could you send the question to cbioportal@googlegroups.com? (please let us know if you asking about the survival curve when you query genes or on the study view page?)

thanks

[2019-03-25 17:10] #5883 closed

[2019-03-25 17:17] jjgao commented on #5811
@alisman : could you paste a mock-up when it's left aligned?

[2019-03-25 17:19] jjgao commented on #5878
strange. now it showed up. Closing.

[2019-03-25 17:19] jjgao commented on #5874
thanks. Closing this.

[2019-03-25 17:19] #5874 closed

[2019-03-25 17:30] dippindots commented on #5811
![image](https://user-images.githubusercontent.com/15748980/54940855-f413a300-4f01-11e9-9ba6-0edc56ef1e57.png)

@jjgao This is the screenshot when it's left aligned. You can also test it out at https://cbioportal-frontend-pr-2126.herokuapp.com/.

[2019-03-25 17:31] jjgao commented on #5652
Thanks, @khzhu . Could you check the checkboxes above for the ones you completed in the pr?

[2019-03-25 17:38] jjgao commented on #5811
hmm... I agree with @alisman -- it looks cluttered. Maybe we could make a section more like a section? e.g. different background?

[2019-03-25 17:49] khzhu commented on #5652
Will do, thanks @jjgao !

[2019-03-25 18:57] kalletlak opened #5892 "SV: Save and reuse UI state for logged in users"
- [x] Save study view state (chart order, visible charts and chart type for this round) for log'ed users
- [x] Use the latest study view state (for particular user and study list) in visualizing page
- [x] Save custom chart

[2019-03-25 19:03] alisman commented on #5811
@jjgao the problem with a different background is, different sections need dedicated background colors. otherwise they need to be alternating, and would be unstable (depending on result set).  we could try adding more padding or putting the label below the dotted line.  i can mock this up later today.

[2019-03-25 19:21] #5738 closed

[2019-03-25 19:33] dippindots commented on #5886
This issue has been solved in https://github.com/cBioPortal/cbioportal-frontend/pull/2094.

[2019-03-25 19:46] adamabeshouse commented on #5886
@dippindots i found the bug with your PR, it was not existing before

[2019-03-25 20:00] tmazor opened #5893 "study view: colors change when filters are applied"
Go to: https://www.cbioportal.org/study?id=hcc_mskimpact_2018&tab=summary

Add chart for HBV

Look at Race chart -- note that "White" is blue and "Asian" is red.

Filter to "Yes" for HBV.

Now look at the Race chart again: "White" is now orange and "Asian" is blue.

This is very confusing to a user. Colors need to be consistent after filters are applied.

[2019-03-25 20:40] #5078 closed

[2019-03-25 21:26] inodb commented on #5875
Fixed in https://github.com/cBioPortal/cbioportal-frontend/pull/2120

[2019-03-25 21:43] #4277 closed

[2019-03-25 21:53] tmazor opened #5894 "oncoprint add clinical tracks shows multiples when multiple studies are queried"
"Cancer Type" and "Cancer Type Detailed" appear once for each study I query:

![image](https://user-images.githubusercontent.com/10508276/54956609-c2f99980-4f26-11e9-856a-5825ba51f8ac.png)
http://bit.ly/2YpJDA7

[2019-03-25 21:59] jjgao commented on #5811
@alisman another idea: instead of displaying a header line, should just just display the message in the line with gene (or study, or sample) when hovered over?

[2019-03-25 22:07] jjgao commented on #5893
I guess the color is assign currently based on the order of Freq. I guess we need to hash the colors based on value. We may need some backend support on this...

[2019-03-25 22:43] zhx828 commented on #5893
@jjgao also the reserved values? These reserved colors also used in oncoprint. They need to be added in the endpoints for oncoprint as well.

[2019-03-25 22:58] #5815 closed

[2019-03-26 15:05] jjgao commented on #5893
@zhx828 I don't understand. For the reserved values (Yes, No, etc), do we have fixed colors? If so, they are fine.

The problem is that the colors of non-reserved values keep changing and the problem becomes more obvious when the colors change after selecting a subset of samples as shown in @tmazor's example.

[2019-03-26 15:06] zhx828 commented on #5893
@jjgao if you move the logic of assigning colors. Then the reserved colors for reserved values should be moved to backend as well. The logics should stay together.

[2019-03-26 15:45] #5812 closed

[2019-03-26 18:02] tmazor commented on #4637
@adamabeshouse @jjgao has there been any progress on this?

[2019-03-26 18:05] tmazor opened #5895 "study view survival tooltip is impossible to click"
There is a checkbox that appears in the survival plot tooltip:

![image](https://user-images.githubusercontent.com/10508276/55021975-0d832080-4fd0-11e9-96a4-c2f361a077f2.png)

I can't get my mouse into the tooltip to click it - the tooltip closes as soon as my mouse approaches it.

[2019-03-26 18:18] adamabeshouse commented on #4637
@tmazor we briefly started talking about the global settings menu, but we're putting it off until group comparison is done

[2019-03-26 18:31] tmazor commented on #4637
Gotcha - thanks for the update @adamabeshouse !

[2019-03-26 19:00] #5869 closed

[2019-03-26 19:00] #5850 closed

[2019-03-26 19:34] tmazor opened #5896 "quick search - pop-up disappears when click in search box"
Type anything (e.g. "lung")
Click with the mouse in the search box.
The pop-up below disappears.

The pop-up should not disappear.

[2019-03-26 19:41] tmazor opened #5897 "quick search doesn't populate modify query"
If I run a query (e.g. EGFR) using quick search, I can't use the Modify Query functionality.

If I click on Modify Query, it brings me back to blank quick search, and if I click to the query tab, it has the gene populated but the studies aren't selected.

[2019-03-26 20:55] jjgao opened #5898 "Comparison: using upset for overlap analysis when there are 4 or more groups"
http://caleydo.org/tools/upset/

Maybe just use this one instead of the full feature:

![image](https://user-images.githubusercontent.com/840895/55032548-7924b800-4fe7-11e9-9924-47b7ea456209.png)

Not sure if we can use [their code](https://github.com/VCG/upset), but may be we can implement it if necessary?

[2019-03-26 21:13] #5724 closed

[2019-03-26 21:14] #5807 closed

[2019-03-26 21:26] adamabeshouse opened #5899 "Mutation Count vs FGA density API broken in rc"
The API seems to be returning empty for coadread_tcga_pub, msk_impact_2017, probably others

![image](https://user-images.githubusercontent.com/636232/55034647-5052f180-4fec-11e9-8cc7-aa1e0b214892.png)

[2019-03-26 22:04] jjgao commented on #5893
@zhx828 I see your point.

Do you think it's possible to remember the colors of values without filtering and apply the same colors after filtering? One challenge might be when the user loads a new chart after filtering?

[2019-03-26 22:07] zhx828 commented on #5893
@zhx828 even for the latter scenario. I can remember the colors too.  Basically have a cache variables to remember the colors for one particular chart. Just need some confirmation from product team what side where this should be done(frontend or backend).

[2019-03-26 22:13] jjgao commented on #4637
@adamabeshouse but maybe we could/should do this for the comparison page?

[2019-03-26 22:14] jjgao commented on #5899
@adamabeshouse is there any update to the related endpoints in RC?

[2019-03-26 22:17] jjgao commented on #5893
@zhx828 let's do it in the frontend and remember the colors (that sounds much easier technically). It's ok that different colors are used in different studies or even different sessions, but at least the same session should stick to the same colors.

[2019-03-26 22:18] zhx828 commented on #5893
@jjgao thanks, will do.

[2019-03-26 22:28] #5601 closed

[2019-03-26 22:29] adamabeshouse commented on #4637
sure, we're about to finish the issues anyway. I can start that tomorrow or the next day.

[2019-03-27 15:08] vipints opened #5901 "cBioPortal SAML implementation - is it federation ready?"
Dear cBioPortal team,

At ETH Zurich, we are deploying a cBioPortal instance which can be accessed by multiple organizations. I thought of configuring SAML authentication for this instance.

I am following the [documentation](https://cbioportal.readthedocs.io/en/latest/Authenticating-Users-via-SAML.html#) about the cBioPortal SAML implementation. Is it restricted to a *single IdP*?

Thanks!
Vipin

[2019-03-27 15:10] #5882 closed

[2019-03-27 15:11] inodb opened #5902 "quick search - add to news"
Add news about quick search to news page

[2019-03-27 16:45] kalletlak opened #5903 "SV: Custom chart pie-to-table conversion doesn't set dimensions correctly"
![Screen Shot 2019-03-27 at 12 45 47 PM](https://user-images.githubusercontent.com/12956870/55095292-497cbb00-508e-11e9-80e9-f71be04d63f9.png)
![Screen Shot 2019-03-27 at 12 45 53 PM](https://user-images.githubusercontent.com/12956870/55095293-497cbb00-508e-11e9-98af-6e9ab929ea81.png)

[2019-03-27 16:52] zhx828 commented on #5903
@kalletlak I do need to get the steps reproducing the issue. I think I solved this issue before.

[2019-03-27 16:54] kalletlak commented on #5903
1. Add a new custom chart
2. Convert pie chart to table

[2019-03-27 17:02] kalletlak opened #5904 "SV: Custom Selection isn't working when there is a Custom Chart"
![Screen Shot 2019-03-27 at 1 00 49 PM](https://user-images.githubusercontent.com/12956870/55096465-5dc1b780-5090-11e9-948d-1111d1122156.png)

Here `Custom Chart 3` has 5 sample and after selecting 3 samples using `Custom Selection` still the selected samples are 5

[2019-03-27 21:44] jjgao commented on #5901
Vipin, keycloak is probably what you are looking for: https://github.com/cBioPortal/cbioportal/blob/master/docs/Authenticating-and-Authorizing-Users-via-keycloak.md

If you need more info, please email cbioportal@googlegroups.com.

[2019-03-27 21:44] #5901 closed

[2019-03-28 12:44] lakhujanivijay opened #5907 "Error encountered while checking out master using git"
Hi,

I am trying to install local cbioportal database on my pc so I am following the instructions provided at [this](https://docs.cbioportal.org/2.1-deployment/system-requirements) and [this](https://docs.cbioportal.org/2.1-deployment/pre-build-steps) link:

This command works fine:

[code]
However, when I run this, I get an error

[code]

Could you please help? I am on ubuntu 16.04 LTS edition.

[2019-03-28 14:30] kalletlak commented on #5892
@zhx828 @jjgao which model should we go with?

1. this is based directly on objects/types present in StudyViewPageStore. with this we can directly set the local variables
[code]

2. A cleaner version with all properties of a chart together. with this there is some overhead in converting/setting it to/from the local variables
[code]

[2019-03-28 14:34] #5902 closed

[2019-03-28 14:36] inodb opened #5908 "react-select-2 breaks react-select-checked"
Adding a clinical attribute track in the oncoprint and then removing it results in a different track being removed then the one that was clicked on.

[2019-03-28 14:36] tmazor opened #5909 "create endpoint for all clinical events in a study"
We have an endpoint for clinical events for individual patients but would be useful to get all clinical events for all patients in a study in a single API request

[2019-03-28 15:42] 1231231312321132 opened #5910 "Pending Session"
I have recently experienced a problem when querying a set of genes (about 300 genes) against few clinical studies. The website just redirects to the main page and I get a webpage link: https://www.cbioportal.org/results/oncoprint?session_id=5c9cb165e4b0d20a23999eb8

Do I just have to access this session id at a later time so that it is complete?

However, when I do the same process with another se

[2019-03-28 15:53] inodb opened #5911 "results view - modify query show loading icon instead of 0 studies"
Use a virtual study as a query e.g. as is the case with quick search:

http://test.cbioportal.org/beta/results/mutations?case_set_id=all&gene_list=EGFR&cancer_study_list=5c8a7d55e4b046111fee2296

After clicking on modify query, it shows 0 studies are selected. Then a few seconds later it shows the actual studies. Would be nice to show a loading icon instead until the studies in the virtual study a

[2019-03-28 16:19] inodb opened #5912 "www.cbioportal.org/tutorials.jsp gives 404 (should redirect to /tutorials/)"

[2019-03-28 22:20] #5897 closed

[2019-03-28 22:20] #5896 closed

[2019-03-29 03:31] onursumer commented on #5878
Confirmed that this bug exists (thanks to @inodb). This occasionally causes some e2e tests fail, reopening for further investigation.

[2019-03-29 13:47] tmazor opened #5915 "stad_tcga_pub has mRNA data but doesn't list mRNA as a genomic profile"
There are samples with mRNA data, and expression data is visible in the Plots tab, but mRNA isn't an available genomic profile for querying:

![image](https://user-images.githubusercontent.com/10508276/55236923-5bce3480-5207-11e9-80b6-fe95a3bed77c.png)

[2019-03-29 18:50] #5894 closed

[2019-03-29 18:51] #5756 closed

[2019-03-29 18:53] #5727 closed

[2019-03-29 18:54] #5720 closed

[2019-03-29 18:56] #5778 closed

[2019-03-29 18:56] #5779 closed

[2019-03-29 18:56] #5558 closed

[2019-03-29 18:57] #5557 closed

[2019-03-29 18:57] #5541 closed

[2019-03-29 18:57] adamabeshouse commented on #5518
now using `react-select 2.0` which doesnt have this problem

[2019-03-29 18:57] #5518 closed

[2019-03-29 18:58] #5226 closed

[2019-03-29 19:05] sgspaddy opened #5916 "pmids error"
Hi Cbioportal Team,

The page is crashed when we hover to the "OncoKB Annotation". This issue happened on only a few mutations. The error message:

react-dom.production.min.js:47 TypeError: Cannot read property 'pmids' of null
    at t.get (OncoKbTooltip.tsx:48)
    at t.value (OncoKbTooltip.tsx:82)
    at Object.C [as allowStateChanges] (mobx.module.js:921)
    at index.js:62
    at lt (mobx.modu

[2019-03-29 20:21] alisman opened #5917 "Group comparison management: Wire up line item buttons with functionality"
Adapt the handlers to delete and add buttons at the group line item level.

[2019-03-30 09:59] lakhujanivijay opened #5918 "Error encountered while executing validateData.py"
Hi,

I am trying to run the following command but I am encountering an issue with this:

[code]

and the output is

[code]

[2019-03-30 11:15] lakhujanivijay opened #5919 "java.io.FileNotFoundException: /logs/public-portal.log (No such file or directory): while executing importGenePanel.pl"
Hi

I am encountering this error while executing `importGenePanel.pl`.

command

[code]
output

[code]

can you please help ?

[2019-03-30 11:20] lakhujanivijay commented on #4743
When you say " Don't use your own username or password", do you mean I should use username "cbio_user" and password "somepassword" ? Like this?

[code]
and then

# open the settings file
gedit ~/.m2/settings.xml

# and edit the file with the username and password like this

[code]

[2019-03-30 12:39] lakhujanivijay commented on #5919
Regarding this error:

`java.io.FileNotFoundException: /logs/public-portal.log (No such file or directory)`

I am wondering if I am following [this](https://docs.cbioportal.org/2.1-deployment/pre-build-steps#prepare-the-log-4-j-properties-file) step correctly.

At above link , it says the following

This file configures logging for the portal. An example file is available within GitHub:
[code]
But

[2019-03-30 15:52] Sjoerd-van-Hagen opened #5920 "Mouse over popup on the wrong survival plot"
When looking at the survival tab in the results page. If I hover over the samples in the bottom survival plot, the pop-up actually appears on the top plot. It seems to be in the right location, just the wrong plot so I expect this to be an easy fix for someone familiar with the code.

Link to reproduce: https://www.cbioportal.org/results/survival?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRE

[2019-04-01 06:00] DarioS opened #5921 "Allow Separate Insertions and Deletions for Oncoprinter"
If the variant annotation has categories such as Inframe Insertion and Inframe Deletion, it would be nice to allow these to be separate categories instead of just `INFRAME`. Also, I'd like splice site variants to be able to be represented as a distinct category.

[2019-04-01 07:53] lakhujanivijay commented on #5918
I think I got one clue here:

when I run the following command, I could see it's a connection issue. Can you please help ?

[code]

[2019-04-01 21:55] #5655 closed

[2019-04-02 15:26] alisman commented on #5886
@adamabeshouse this is fixed, right?

[2019-04-02 15:30] yichaoS commented on #5915
The data file for the RNA exp v2 exp zscore file somehow was missing. We added them back and now the profile is showing up (see screenshot).

![Screen Shot 2019-04-02 at 11 30 10 AM](https://user-images.githubusercontent.com/5973438/55415234-acf96380-553a-11e9-80d7-c0645b560c98.png)

[2019-04-02 15:30] #5915 closed

[2019-04-02 16:52] #5501 closed

[2019-04-02 17:12] adamabeshouse commented on #5886
ah, yeah it is. but now I just found another more minor error - the gradient seems broken
@alisman @dippindots

![image](https://user-images.githubusercontent.com/636232/55422159-02d50800-5549-11e9-8918-f0514895f5c2.png)

[2019-04-02 17:47] #3765 closed

[2019-04-02 17:51] #3808 closed

[2019-04-02 18:47] #5848 closed

[2019-04-02 19:07] dippindots commented on #5886
@adamabeshouse Yes, it is a bug. I just reported this bug to the svg2pdf library repo. Let's see whether they have already had a solution to this issue.

[2019-04-02 19:22] #5886 closed

[2019-04-02 21:06] alisman opened #5924 "In group comparison management UI on study page, enter key should submit new group"
When I am typing name into new group name, if I type enter key, it should have same effect as clicking the "Create" button.

[2019-04-03 09:10] pieterlukasse opened #5925 "Query results page crashes - MSK Impact query for specific set of genes"
See this URL:

https://www.cbioportal.org/results/oncoprint?session_id=5c9f8e23e4b0d20a2399a138&show_samples=false&clinicallist=NUM_SAMPLES_PER_PATIENT

![image](https://user-images.githubusercontent.com/2900303/55467138-f613eb00-5600-11e9-9730-f5683b13f64e.png)

See also https://groups.google.com/forum/#!topic/cbioportal/kcphBgnMGvo

[2019-04-03 09:10] pieterlukasse commented on #5925
Notify: @alisman @inodb

[2019-04-03 09:21] pieterlukasse commented on #5925
Is this one also related https://mail.google.com/mail/u/0/#label/cbio+forum/FMfcgxwBWTFWlHcXHDZVBFVsKVrkNMhR ?

[2019-04-03 13:49] alisman commented on #5925
@pieterlukasse @jjgao, the query has >500 genes.  the browser is throwing a OUT OF MEMORY exception.
1. Do we know that such a query ever worked? (if so, it's possible that a new feature we introduced made it impossible to support)
2. Should we support that many genes?   If not, we should enforce a limit.

[2019-04-03 14:27] timchu90 commented on #5918
I had the same issue.
It seems the -n (no portal mode) command isn't working at the moment.
I was able to get the validation running without it, same as your second command.
Note that the second command requires that you have a running instance of the portal which you should if you followed the previous directions.
If you have it running at another address, you can use the -u flag to specify that.

[2019-04-03 14:46] lemccarthy opened #5926 "Error in documentation: Context.xml resource definition fails to render"
If you look at the following address:

https://docs.cbioportal.org/2.1-deployment/deploying#set-up-the-database-connection-pool

You see that instead of a resource definition, all that appears in that section is `... ...`

The instructions appear to exist in the underlying document:

https://github.com/cBioPortal/cbioportal/blob/master/docs/Deploying.md

but are not rendered properly in the docume

[2019-04-03 16:12] lemccarthy commented on #5428
Hey everyone, .properties files use the Latin-1 encoding, and so any characters outside of that set need to use their unicode escape sequences. Try using `\u00C1` instead of that á. When I do that I get this:

[Image](https://imgur.com/bJBIsbL)

To avoid doing this manually, you can use this: https://docs.oracle.com/javase/7/docs/technotes/tools/solaris/native2ascii.html

And if the project upgrad

[2019-04-03 16:54] #5554 closed

[2019-04-03 16:57] kalletlak commented on #5063
Duplicate https://github.com/cBioPortal/cbioportal/issues/5892.

[2019-04-03 16:57] #5063 closed

[2019-04-03 18:01] alisman commented on #5428
thanks @lemccarthy!  @Sjoerd-van-Hagen i'll let you decide whether to close this or not.

[2019-04-03 18:46] tmazor opened #5928 "quick search - trial order changes"
Type "lung"
Note the order of studies that appears
Click "show more"
The order of studies changes

The order should stay the same when additional trials (or genes or patients) are shown.

[2019-04-03 19:04] #5371 closed

[2019-04-03 19:15] #5436 closed

[2019-04-03 19:17] #5926 closed

[2019-04-03 21:32] jjgao commented on #5925
We used to allow up to 100 genes, but the limit was dropped during refactoring.

@cBioPortal/product does anyone have a use case for using >100 genes?

[2019-04-03 23:47] ecerami commented on #5925
I vote to go back to the 100 gene limit.

[2019-04-04 00:14] ecerami opened #5930 "https://www.cbioportal.org/webAPI still points to old API"
I think it's time we point to the new API :-)

[2019-04-04 04:03] brettvanderwerff commented on #5895
@tmazor @zhx828 I am not sure who to tag, but if someone wants to assign me I can open a PR. I have replicated this issue and I think I have a fix for this.

[2019-04-04 09:06] pieterlukasse commented on #5918
@lakhujanivijay , @timchu90 , thanks for reporting the issue.
Can you please help with some extra details:
- what is the release version you are using?
- can you please try to open the URL http://localhost:8080/cbioportal/api-legacy/cancertypes in a browser (or curl it) on the same machine you are executing the .py script? Please let me know the results.

[2019-04-04 10:32] pieterlukasse commented on #5918
@lakhujanivijay I see you are trying the docker approach now (https://github.com/thehyve/cbioportal-docker/issues/49)

[2019-04-04 10:33] 1231231312321132 commented on #5925
I have done up to 250 genes.

[2019-04-04 12:50] tmazor commented on #5925
I think a 100 gene limit is reasonable

[2019-04-04 13:03] Sjoerd-van-Hagen commented on #5925
Agree with the limit of 100.

--

Sjoerd van Hagen

E.   sjoerd@thehyve.nl

T.   +31(0)30 700 9713

W.  www.thehyve.nl

On Thu, Apr 4, 2019 at 2:50 PM Tali Mazor <notifications@github.com> wrote:

[2019-04-04 13:48] sgspaddy opened #5931 "Customized column name"
Hi Cbioportal Team,

Is there any possible that we could customize the column name in mutation tables?
Ex: Change 'Variant Reads (N)' to 'Variant Reads (Normal)' ?

Thanks

[2019-04-04 14:03] zhx828 commented on #5895
@brettvanderwerff thanks, please feel free to send a pr.

[2019-04-04 14:44] alisman opened #5932 "Do not allow queries with more than 100 genes"
We need to enforce this in two places:

1. In query form (part of validation of gene input).
2. On results page (if someone has an old session with too many genes).  Lets discuss how to do this.

[2019-04-04 14:45] alisman commented on #5925
Ok, I have created a ticket to impose this limit.  Should be done this week.
https://github.com/cBioPortal/cbioportal/issues/5932

[2019-04-04 15:24] timchu90 commented on #5918
The issue I had was in regards to lakhujanivijay's first comment. I was following the tutorial's steps.
I am updated with the master branch.

localhost:8080/cbioportal/api-legacy/cancertypes works fine for me and validation using the portal works.
It is specifically validation using the '-n' flag that is not working for me.

I noticed in the cbioportal/datahub tests that certain studies are also f

[2019-04-04 16:38] brettvanderwerff commented on #5895
@zhx828 No problem, I opened PR 2193 on the frontend repo to try and resolve this

https://github.com/cBioPortal/cbioportal-frontend/pull/2193

[2019-04-04 16:52] alisman opened #5933 "Survival tooltip arrow is mis-aligned"
![image](https://user-images.githubusercontent.com/186521/55573634-75c0b900-56d8-11e9-8287-c27458b5582c.png)

[2019-04-04 17:53] brettvanderwerff commented on #5933
@alisman I'll take a look at this and open a PR if I have a solution. I also want to document that this is somewhat connected to issue  #5920. I think #5920 is a heavier lift and I would like to try and solve this issue (#5933) by itself first. Thank you!

[2019-04-04 20:39] #5917 closed

[2019-04-04 20:40] alisman commented on #5932
The error message should say:

Queries are limited to 100 genes. Please [let us know](cbioportal@googlegroups.com) your use case(s) if you need to query more than 100 genes.

[2019-04-04 22:21] jjgao commented on #4024
@alisman is this done?

[2019-04-04 22:22] jjgao commented on #5613
@khzhu do you think you'll have the bandwidth to handle this one?

[2019-04-05 02:40] khzhu commented on #5613
yes, will start to work on it next week.

[2019-04-05 03:04] #5889 closed

[2019-04-05 09:06] 1231231312321132 commented on #5925
Why such a low limit?

Why not allow user a higher limit?

[2019-04-05 12:31] c4cam opened #5934 "Missing maven dependency in pom.xml"
Hi,
Could you help me out please? I seem to be running into problems building cBioPortal due to a missing dependency (I think)?

Thanks so much for any advice/assistance you can provide.

Cheers,
Calvin

https://repo.maven.apache.org/maven2/com/github/cbioportal/maven-external-version/external-version-strategies/f09c2b9608744881111f24e55d55a91e54e6cb5f/external-version-strategies-f09c2b96087448811

[2019-04-05 14:30] pieterlukasse commented on #5925
@1231231312321132 the differential expression (aka enrichment) analysis done in cBioPortal includes all genes (e.g. do a 1 gene query and then go to "Enrichments">mRNA tab - see screenshot below)

![image](https://user-images.githubusercontent.com/2900303/55634915-c52de480-57bf-11e9-8420-7795f2d256eb.png)

The limit in this page is mainly about how many genes you would like to see in the Oncoprint

[2019-04-05 14:46] pieterlukasse opened #5936 "Error in gene table on cbioportal.org?"
Why do we have a double entry for MIR21? See also here:

http://www.cbioportal.org/results/oncoprint?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=acbc_mskcc_2015%2Cbrca_metabric%2Cbreast_msk_2018%2Cbfn_duke_nus_2015%2Cbrca_bccrc%2Cbrca_broad%2Cbrca_sanger%2Cbrca_tcga_pub2015%2Cbrca_tcga_pub%2Cbrca_tcga_pan_can_atlas_2018%2Cbrca_tcga%2Cbrca_bccrc_xenograft_2014%2Cb

[2019-04-05 14:48] pieterlukasse commented on #5936
notify @sheridancbio , @ritikakundra

[2019-04-05 14:57] khzhu commented on #5652
@jj @pieterlukasse @n1zea144 @sheridancbio @onursumer ,
db schema diagram updated and is final.
![support-multiple-genomes-5652-revised](https://user-images.githubusercontent.com/17375786/55636611-32765100-5791-11e9-841f-9e8dc7b27d99.png)

[2019-04-05 15:02] ersinciftci commented on #5936
Not sure if a hugo symbol ending with asterisk has a special meaning, but
[code]
returns 205 genes, and they all have a corresponding gene without the asterisk at the end in the table as well.

[2019-04-05 19:22] tmazor opened #5937 "study view: add gene panel name to mutations/cna tooltip"
We're adding a tooltip to the Mutations & CNA tables with the denominator for the frequency (#5851). Let's also add a list of which gene panels those samples were sequenced on, ideally with each panel name as a link to a pop-up with the genes on that panel (like in OncoPrint).

[2019-04-05 19:24] tmazor opened #5938 "study view: add mutations/cna denominator to download"
We're adding a tooltip to the Mutations & CNA tables with the denominator for the frequency (#5851). This information should also be included as a column in the table when the table is downloaded.

[2019-04-05 21:12] khzhu commented on #5652
@jjgao @n1zea144 @sheridancbio , frontend/backend all passed CI. Thanks again for all the help!

[2019-04-05 22:11] jjgao commented on #5925
@1231231312321132 please let us know if you have any other use cases that require >100 genes.

[2019-04-05 22:13] jjgao commented on #5936
https://www.cbioportal.org/faq#how-can-i-query-micrornas-in-the-portal

[2019-04-05 22:13] #5936 closed

[2019-04-05 22:14] jjgao commented on #5936
@pieterlukasse it's a hack. We should do it properly when we have the bandwidth.

[2019-04-05 22:18] jjgao commented on #5937
just thinking it loud.

Another useful feature would be allowing users to select samples that are profiled for a set of genes.

It would be useful to have a gene vs panel matrix...

[2019-04-05 22:24] jjgao commented on #5930
@ecerami we should review and decide whether it's ready. Once it's release, we cannot make any breaking changes until next major version.

[2019-04-05 22:26] jjgao commented on #5931
@sgspaddy you would have to do it in the code. I like the idea of changing 'Variant Reads (N)' to 'Variant Reads (Normal)'. Do you have any other column names to change?

[2019-04-05 22:29] jjgao commented on #5916
@sgspaddy is it on public portal or your local cbioportal?

[2019-04-05 22:33] jjgao commented on #5919
@pieterlukasse @sheridancbio could either of you help with this?

I am also wondering why the gene panel data is still imported with the perl code?

[2019-04-05 22:36] jjgao commented on #5921
@DarioS any reason you'd like to have inframe ins and del separate?

We are also considering separating out splice mutations https://github.com/cBioPortal/cbioportal/issues/5129

[2019-04-05 22:39] jjgao commented on #5907
@lakhujanivijay you would need to cd into the folder cbioportal.

[2019-04-05 22:39] #5907 closed

[2019-04-05 22:41] jjgao commented on #5892
I like 2 but it probably make sense to go with 1 -- the same as what we have in store. Unless we change the store?

[2019-04-05 22:41] jjgao commented on #5908
@onursumer is this still an issue?

[2019-04-05 22:43] jjgao commented on #5910
@dippindots could you help look into this?

[2019-04-05 23:25] sgspaddy commented on #5931
@jjgao Thank you for your replying. it will be great if we could also change 'Ref Reads (N)' to 'Ref Reads (Normal)'

[2019-04-05 23:26] sgspaddy commented on #5916
@jjgao. Thank you for your replying. It is on our local cBioportal instance.

[2019-04-06 03:26] onursumer commented on #5908
@jjgao We replaced everything with the latest react-select version, which fixed the problem.

[2019-04-06 04:00] DarioS commented on #5921
The motivation for it is the user might be researching a disease which has already been characterised to have a particular variant (either insertion or deletion in a specific gene) in a number of samples, and it would be more precise if you could draw an oncoprint which specifically shows it's also an inframe insertion in your own data set rather than the less precise INFRAME designation to show a

[2019-04-06 12:46] c4cam opened #5940 "Error upgrading to 2.20 - with SAML - org.cbioportal.persistence.mybatis.PatientMapper.select"
I'm getting a weird error upgrading cbioportal to version 2.2.0

If I turn on my SAML authentication I get this error:
SEVERE [main] org.apache.catalina.core.StandardContext.listenerStart Exception sending context initialized event to listener instance of class [org.springframework.web.context.ContextLoaderListener]
 org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating

[2019-04-06 17:28] #5934 closed

[2019-04-07 21:37] jjgao commented on #5931
Change column names:

- 'Variant Reads (N)' to 'Variant Reads (Normal)'
- 'Ref Reads (N)' to 'Ref Reads (Normal)'

[2019-04-07 21:38] jjgao commented on #5916
@zhx828 any insights?

[2019-04-07 21:39] #5908 closed

[2019-04-07 21:41] jjgao opened #5941 "allow clinical data in oncoprinter"
maybe a separate input box?

[2019-04-07 21:51] jjgao commented on #5921
@DarioS I am still not convinced that we should separate inframe insertions and deletions, considering that we treat nonsense and frameshift the same.

One possibility is giving the option to show different colors for all different types of mutations: missense, inframe ins, inframe del, frameshift ins, frameshift del, nonsense, nonstart, splice site, (and maybe a couple of more). The issue is that

[2019-04-07 21:53] jjgao commented on #5940
@khzhu is this the same issue? https://github.com/cBioPortal/cbioportal/issues/5816

[2019-04-07 22:01] khzhu commented on #5940
HI @jjgao , I think so. Rob and myself are looking into the issue.

[2019-04-08 00:35] sgspaddy commented on #5931
yes, could we do that?

[2019-04-08 02:00] DarioS commented on #5921
I suppose that simplicity is best for the plot. It could be hard to interpret with many colours.

[2019-04-08 02:00] #5921 closed

[2019-04-08 14:08] alisman commented on #5934
@c4cam did you figure this out?

[2019-04-08 14:39] c4cam commented on #5934
Yah, I dunno what I did though! It's building now again ;)

[2019-04-08 15:33] jjgao commented on #3225
This problem seems to sneak back...

[2019-04-08 15:35] jjgao opened #5942 "Move regression equation to the right"
Can we move the equation to the right in the legend, e.g. have a red line and followed by equation and R-square?

![image](https://user-images.githubusercontent.com/840895/55736930-4b317180-59f2-11e9-9e17-35021a186a90.png)

[2019-04-08 15:37] dippindots commented on #5910
@jjgao Sure, I will take a look today!

[2019-04-08 15:42] alisman commented on #5910
@dippindots looks like session service cannot handle that may genes?  surprising but possible.

[2019-04-08 16:10] dippindots commented on #5931
@sgspaddy Yes, will do today.

[2019-04-08 16:27] sheridancbio commented on #5919
First thought : it seems like the property ${catalina.base} is not defined for you. I'm not really familiar with running this perl script, so I don't know what is involved here.

If you just want to see the log message output, I would replace these log paths with a complete, absolute path to a directory on your machine where you have write permission, and would avoid the use of variable substituti

[2019-04-08 17:39] alisman opened #5944 "Patient search fails on private portal"
@jjgao @kalletlak can you think of any reason this endpoint (used by quicksearch) returns 501 error on public portal?

https://cbioportal.mskcc.org/api/patients?keyword=EG&projection=DETAILED&pageSize=3&sortBy=patientId

[2019-04-08 17:43] kalletlak commented on #5944
@alisman seems working fine on public portal https://www.cbioportal.org/api/patients?keyword=EG&projection=DETAILED&pageSize=3&sortBy=patientId. do you mean private mskcc portal?

[2019-04-08 17:46] alisman commented on #5944
@kalletlak oops. yes, i meant private portal.

[2019-04-08 18:47] kalletlak commented on #5944
@alisman that pr should fix the issue

[2019-04-08 19:38] #5944 closed

[2019-04-08 20:05] sheridancbio commented on #5668
Comment: I was looking at the documentation for cBioPortal setup and tracing through the code for the microRNA importing with @yichaoS just now. The functionality described above (in ImportMicroRNAIDs.java) is called by ImportGeneData.java. But I don't see any reference in the current documentation telling users who are installing the portal to run the ImportGeneData functionality. Instead, users

[2019-04-08 21:02] yichaoS commented on #5936
@pieterlukasse @ersinciftci The * indicates a different version of mature sequence for this miRNA. For precursor hsa-mir-21 there is two mature forms: hsa-miR-21 and hsa-miR-21* (Please see here: http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc=hsa-mir-21). In portal we represent them in combined format, this one for example, as mir-21/21* and mir-21/21.
When importing, if the miRNA record appear

[2019-04-08 21:03] yichaoS commented on #5936
@jj how can we do it properly?

[2019-04-08 21:23] dippindots commented on #5910
@alisman In this issue, the problem is we got "InvalidGenes" error. Seems like this "MIA2" gene has been added twice when we fetch the data from our API. Maybe this is a data related issue?

[2019-04-08 21:34] alisman commented on #5910
@jjgao @n1zea144 see @dippindots response.  is this possible?

[2019-04-08 22:49] sheridancbio commented on #5723
@jjgao : we have identified at least one case where two different microrna mature forms will be assigned an alias that is ambiguous.

In the new microrna mapping file from @yichaoS , we have these two rows:
hsa-mir-1292 | hsa-miR-1292-3p | mir-1292/1292-3p
hsa-mir-129b | hsa-miR-129-2-3p | mir-129b/129-2-3p

When deleting all hyphens you can see that the "no-hyphen" alias for the mature form for b

[2019-04-08 22:57] sheridancbio commented on #5723
Here are links to mirbase for this unfortunate nomenclature:
http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc=hsa-mir-129-2
http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc=hsa-mir-1292

[2019-04-09 13:05] c4cam commented on #5940
also, you're right - i tried rolling back to 2.0.1 and it works ok

[2019-04-09 15:56] zhx828 opened #5947 "Study view description overflows when there is no space in it"
In this internal study, the description on the last part does not have any space in it which forces the header stretch out of the page. https://cbioportal.mskcc.org/study?id=mixed_cbe_solitd_MSK_cfDNA_IMPACT

[2019-04-09 16:28] 1231231312321132 commented on #5925
My intended use was for the survival plots and see how many of my differentially expressed genes are altered against a set of clinical studies (total of 500 genes). I've managed to get up to 200 genes at once working. Not sure why creating a higher limit would pose a problem, but it would be lovely if the limit is adjusted higher.

[2019-04-09 16:43] ChrisWakefield commented on #5714
@jjgao @zhx828 Attempting to close this issue.  Please see PR #5948.  Since the PR really only changes the EXAMPLE properties file, can someone on cbioportal.org please make the same changes to their config (only adding "https:" to the URLs)?  Once that's done, there's no reason not to close this.

[2019-04-09 16:46] adamabeshouse commented on #5941
whats the input format?

[2019-04-09 16:47] Sjoerd-van-Hagen commented on #5428
Wow. I assumed everything would be UTF-8 in Java. Silly.

[2019-04-09 16:48] #5428 closed

[2019-04-09 16:48] adamabeshouse commented on #3225
@jjgao only in lollipop?

[2019-04-09 17:10] zhx828 commented on #5714
@ChrisWakefield I will follow up. Sorry about the delay.

[2019-04-09 17:31] zhx828 opened #5949 "OncoKB Card has issue showing PMID link out"
In this particular case, the content is a list of pmids, but the link out is not generated.
https://cbioportal.mskcc.org/patient/summary?caseId=P-0033046&studyId=mskimpact#navCaseIds=mskimpact:P-0033046

![Screen Shot 2019-04-09 at 1 26 47 PM](https://user-images.githubusercontent.com/5400599/55821543-bdc25000-5acb-11e9-8e39-ffc04b4fcdf4.png)

[2019-04-09 17:38] jjgao commented on #5925
@1231231312321132 Thanks for the explanation!

The problem is that when querying hundreds of genes, the browser may not be able to hold so much data. It also creates a burden for our server.

Querying 200 genes for survival analysis is probably a rare use case. We have to make hard decisions to better use our resources for more common use cases.

[2019-04-09 17:40] jjgao commented on #5925
@1231231312321132 please feel free to elaborate with an example (e.g a query), and maybe we can find a workaround.

[2019-04-09 17:52] alisman opened #5950 "Genome nexus performance"
The following genomic nexus request (which is the example data set for Mutationmapper) performs very poorly when concurrent requests are made.

Fired by itself : 13s
Two concurrent: 23s per request
Three concurrent: 52s per request

curl -H "Host: www.genomenexus.org" -H "Accept: application/json" -H "Origin: https://www.cbioportal.org" -H "User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_

[2019-04-09 17:56] Sjoerd-van-Hagen commented on #5925
@1231231312321132 note that you can deploy your own instance of cBioPortal and set the limit to whatever you like. We need to take other users into account who may work with a slower machine than yours, and as JJ mentioned this also impacts the server performance.

[2019-04-09 18:48] #5932 closed

[2019-04-09 19:26] #5931 closed

[2019-04-09 19:26] #5924 closed

[2019-04-09 21:35] adamabeshouse commented on #3898
@sandertan I'm no longer the `unknown.dms` issue, maybe since updating my OS to 10.12.6. Are you still seeing it?

Here's a PR for the pdf download issue https://github.com/cBioPortal/cbioportal-frontend/pull/2211

[2019-04-09 21:37] #5224 closed

[2019-04-09 22:40] jjgao opened #5953 "adding visit statistics to study view page"
Is it possible to pull the visit statistics from GA and display on study view the following information:

- total number of uses of the study data
- when mouse over
  - visits to the study view page
  - visits to Query/results page that utilizing the study
  - visits to patient view of the study
  - time the study data was downloaded

Tasks:

- [ ] Determine if GA allows public access to reporting

[2019-04-10 13:32] ChrisWakefield commented on #5714
@zhx828 I realize now that the code that needs changing is over in cbioportal-frontend, and the PR mentioned above won't help anything (already closed it).  I will submit a new PR to frontend.

[2019-04-10 16:39] Sjoerd-van-Hagen commented on #3898
@adamabeshouse Fedde could not reproduce the issue so I think this is fixed.

[2019-04-10 16:40] #3898 closed

[2019-04-11 15:51] jjgao commented on #5910
why no error was shown in frontend? Could you try to reproduce it with a small set of genes? @dippindots @alisman

[2019-04-11 15:54] jjgao opened #5957 "error message for old sessions with >100 genes"
Currently, we show a message below.

https://www.cbioportal.org/results/oncoprint?session_id=5c9cb165e4b0d20a23999eb8

![image](https://user-images.githubusercontent.com/840895/55971907-626d9a80-5c50-11e9-9768-679777cd358c.png)

I think we should show the query form with the same error message when a user input >100 genes.

[2019-04-11 15:57] jjgao commented on #5941
a matrix file of samples vs attributes?

[2019-04-11 15:59] jjgao commented on #3225
also in plots, haven't test others.

[2019-04-11 16:09] dippindots commented on #5910
@jjgao we can try this [link](http://www.cbioportal.org/results/cancerTypesSummary?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=luad_broad%2Cluad_mskcc_2015%2Cluad_tcga_pub%2Cluad_tcga_pan_can_atlas_2018%2Cluad_tcga%2Cluad_tsp%2Clusc_tcga_pub%2Clusc_tcga_pan_can_atlas_2018%2Clusc_tcga%2Clung_msk_2017%2Cnsclc_pd1_msk_2018%2Cnsclc_unito_2016%2Cnsclc_tcga_broad_2016&

[2019-04-11 16:10] jjgao opened #5958 "change gene quick search to the default tab (cancer types summary) instead of Mutations tab"
The Gene Quick Search is pointing to Mutations tab. I think we should change it to the default tab (cancer types summary for cross cancer). Any objections, @cBioPortal/product?

![image](https://user-images.githubusercontent.com/840895/55972910-6dc1c580-5c52-11e9-9cbc-e63fdbbdaac3.png)

[2019-04-11 16:12] jjgao commented on #5958
One problem is that Mutations tab is slower than Cancer Types Summary tab for large query.

[2019-04-11 16:14] ecerami commented on #5958
I support the change.

[2019-04-11 16:52] Sjoerd-van-Hagen commented on #5958
I am also in favor.

[2019-04-11 16:52] Sjoerd-van-Hagen commented on #5958
I am also in favor.

[2019-04-11 17:25] adamabeshouse commented on #5941
`SAMPLE ID      ATTRIBUTE NAME      ATTRIBUTE VALUE`?

[2019-04-11 18:09] #5912 closed

[2019-04-11 20:11] #5928 closed

[2019-04-11 20:12] #5909 closed

[2019-04-11 20:33] adamabeshouse commented on #5525
@jjgao I think my confusion is/was, I think its intuitive to copy paste a link from the browser address bar. It would be nice if the same link in the link window was also put into the address bar. should we do that?

[2019-04-11 20:51] adamabeshouse commented on #3225
@jjgao it was the result of the recent change made by @dippindots to add `FreeSans` font to our Victory theme. @dippindots could you try to find a different font that would accomplish the same goal, and make sure you test in illustrator to make sure it can open it.

[2019-04-11 21:41] alisman commented on #5953
@jjgao i figured out how to get data from GA.   we need to start tracking download of study data.  could you list all the various places that can happen?  i.e. download tab, charts, etc.  or should we just track at webserice.do?

[2019-04-11 21:42] alisman commented on #5953
@jjgao maybe i could start with visits to study view, queries, then add patient and download later

[2019-04-11 23:19] dippindots commented on #3225
@adamabeshouse Thanks! I will take a look at it.

[2019-04-12 03:36] brettvanderwerff commented on #5933
@alisman I think @adamabeshouse beat me to the punch on this one. Should I close this issue?

https://github.com/cBioPortal/cbioportal-frontend/pull/2214

[2019-04-12 09:03] pieterlukasse opened #5960 "What happened to MIR21?"
From https://groups.google.com/forum/#!msg/cbioportal/mn_f0x1wqFQ/KaT86eMgCAAJ

Apparently MIR21 was present in a previous version of the data and had higher alteration frequency (6%):

![image](https://user-images.githubusercontent.com/2900303/56025063-a5437700-5d11-11e9-9b62-3134b61fdc06.png)

When I query the MIR21 gene in the current version, the portal will present me with 2 options (apparent

[2019-04-12 09:03] pieterlukasse commented on #5960
notify: @jjgao @ritikakundra

[2019-04-12 13:50] alisman commented on #5933
Tnaks @brettvanderwerff, I'll close it.

[2019-04-12 13:50] #5933 closed

[2019-04-12 14:44] jjgao commented on #5788
@alisman I think that sounds fine.

[2019-04-12 15:20] n1zea144 opened #5961 "'0' zero sample count on Query Builder (study selector)"
After getting imported, some studies are labelled as having zero samples despite the data existing in the database.  Further more, this incorrect label only appears in the study selector widget of the Query Builder page.  Elsewhere on this page, the correct number of samples is displayed.

![image](https://user-images.githubusercontent.com/366003/56047770-28fe6300-5d14-11e9-8276-334e1add0da9.png)

[2019-04-12 15:31] oplantalech commented on #5816
@khzhu I get the same error if the portal.properties file is not present at runtime.

cbioportal-container    |  org.springframework.beans.factory.UnsatisfiedDependencyException: Error creating bean with name 'clinicalDataEqualityFilterApplier' defined in URL [jar:file:/usr/local/tomcat/webapps/ROOT/WEB-INF/lib/web-2.1.0-SNAPSHOT.jar!/org/cbioportal/web/util/ClinicalDataEqualityFilterApplier.class

[2019-04-12 15:40] lemccarthy opened #5962 "Use remark on all of the markdown documents"
The first issue I encountered when I joined this project was a missing section in the installation instructions. The section in question was an XML snippet that the GitBooks documentation had chosen to interpret as a hidden block. In the Markdown text, the code block was indicated with a 4 space indentation. While this does work on several Markdown renderers, it is clearly ambiguous. Once replaced

[2019-04-12 15:44] lemccarthy opened #5963 "Use prettier to format TypeScript code"
Currently, the frontend codebase for cBioPortal has no unified formatting settings. Unified formatting settings are important for consistent style across multiple authors and make it easier to maintain a large code base. I recommend we use prettier (https://github.com/prettier/prettier) to format our frontend code. Most IDEs have an extension for it, and it can be configured to run on save, or set

[2019-04-12 16:15] #5920 closed

[2019-04-12 16:18] Sjoerd-van-Hagen commented on #5920
Fixed?

[2019-04-12 16:35] adamabeshouse commented on #5920
yep, see attached pull request

[2019-04-12 16:52] dippindots commented on #5961
@n1zea144 @alisman Quick looked at this ticket, it is because the incorrect label is using the `allSampleCount` of each study as the samples count value. I think this might because of the `allSampleCount` mismatch with the actual count. We can make a quick fix by counting the sample list. But I think it is still a data problem we need to fix.

[2019-04-12 17:23] n1zea144 commented on #5816
@oplantalech If portal.properties is not present, can you show how you are passing db properties to the application?

[2019-04-12 17:39] khzhu commented on #5816
@oplantalech , we had portal.properties file that was not an issues for us. I recently successfully deployed 2.1.0 release with SAML authentication.

[2019-04-12 17:41] #5499 closed

[2019-04-12 17:57] dippindots commented on #5910
This is an issue related to https://github.com/cBioPortal/datahub/issues/540.

[2019-04-12 18:23] alisman commented on #5961
@dippindots @n1zea144 it does seem we should fix allSampleCount because it's used elsewhere in project.  Would be super wasteful to load all samples just to count them.

[2019-04-12 18:47] lemccarthy commented on #5356
Hey @tmazor can you confirm you can replicate this bug? I have tried it both locally and on live and I don't see it.

[2019-04-12 19:32] dippindots commented on #5961
@n1zea144 I found out we simply count the matched samples in our database for each study: [StudyMapper](https://github.com/cBioPortal/cbioportal/blob/master/persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/StudyMapper.xml#L76). Seems it is right, one thing may cause the mismatch is `STABLE_ID` and `CONCAT(cancer_study.CANCER_STUDY_IDENTIFIER,'_all')` mismatch.

[2019-04-12 20:29] adamabeshouse opened #5964 "oncoprint pdf download has weird file name"
I think it's due to the svg2pdf library. Is it possible to change it?

![image](https://user-images.githubusercontent.com/636232/56064466-1b5ed280-5d40-11e9-8f75-7f56d8688ec1.png)

[2019-04-12 20:42] dippindots commented on #5964
@adamabeshouse That's weird, I will take a look. Could you give me the link you are using so that I can reproduce it? Also, just want to make sure, are you using Chrome?

[2019-04-12 21:00] adamabeshouse commented on #5964
@dippindots
https://www.cbioportal.org/results/oncoprint?Z_SCORE_THRESHOLD=2.0&cancer_study_id=coadread_tcga_pub&cancer_study_list=coadread_tcga_pub&case_ids=&case_set_id=coadread_tcga_pub_nonhypermut&gene_list=KRAS%20NRAS%20BRAF&gene_set_choice=user-defined-list&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=coadread_tcga_pub_gistic&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=coadread_tcga_

[2019-04-13 05:40] coderrsid commented on #5958
I can work on this @jjgao and make this route go to cancer types summary

[2019-04-13 05:59] lakhujanivijay opened #5965 "Hyperlink to Gene panels for mutation data is broken"
Hi again!

I am looking at [this](https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md#mutation-data) link to import mutation data into cBioPotal. Under this section, at "Meta File" -> point#9, the [link to gene panel data](https://github.com/cBioPortal/cbioportal/blob/master/docs/gene-panels-for-mutation-data) is broken.

Could you please update the link for us?

[2019-04-13 12:48] Sjoerd-van-Hagen commented on #5920
You mean the one that is attached to issue #5933 ? Looks like that is a different issue altogether.

[2019-04-13 13:26] 1231231312321132 commented on #5925
Fair enough

[2019-04-13 13:37] schultzn commented on #5958
+1

[2019-04-13 14:09] khzhu opened #5966 "enhance methylation data visualization"
Current POETIC study separates gene promoter and gene body measurements as two separate data sets. In POETIC, these are both measured by WGSBS and array.

- [x] Consider new colour scheme to make methylation data distinct from copy number data (keep red/blue for copy number, use orange/green for unmethylated/methylated). Taken from http://colorbrewer2.org diverging 4-colour spectral scheme:
![Scre

[2019-04-13 14:18] khzhu commented on #5966
![Image from iOS](https://user-images.githubusercontent.com/17375786/56080954-755da780-5dd5-11e9-805f-1682be7aa65e.png)

[2019-04-13 18:30] jjgao commented on #5941
@adamabeshouse that would work. Or we could go simply by:

SAMPLE_ID | CANCER_TYPE | AGE
-- | -- | --
S1 | COLORECTAL CANCER | 66
S2 | BREAST CANCER | 76

[2019-04-13 18:34] jjgao commented on #5525
@adamabeshouse I think that makes sense: when a user clicks the link icon, we also update the url? (maybe the browser back/forward button can allow go between the links?)

@alisman what do you think?

[2019-04-13 18:36] jjgao commented on #5953
Starting with visits to study view, queries sounds good.

If you haven't track Download button, please add it to GA. Need to track API or webservice.do for now.

[2019-04-13 18:37] jjgao commented on #3225
Thanks. I guess it may not be easy to make some test out of this?

[2019-04-13 18:38] jjgao commented on #5960
We remapped all miRNA symbols. @yichaoS could you respond to the user by email?

[2019-04-13 18:40] jjgao commented on #5963
Doing this at one shot may create too many conflicts with active pull requests. If we decide to do this, we need to come up with a strategy.

[2019-04-13 21:56] jjgao commented on #5958
@coderrsid that'd be great. Thanks.

notifying @alisman as well.

[2019-04-13 21:58] jjgao commented on #5966
adding @schultzn @ao508

[2019-04-14 05:57] coderrsid commented on #5958
@jjgao Check the PR please.

[2019-04-15 16:02] zhx828 commented on #5716
![Apr-15-2019 11-09-06](https://user-images.githubusercontent.com/5400599/56143806-36fbf000-5f6f-11e9-9e5c-cd320f689d95.gif)

Hi @schultzn @jjgao @cBioPortal/product I have the latest design of this table running here https://filter-cancer-gene-list.herokuapp.com/study?id=lgg_tcga. If you could take a look and give me some feedbacks, that would be awesome. Thanks!

[2019-04-15 16:03] #3800 closed

[2019-04-15 16:04] kalletlak opened #5967 "Validation '@AssertTrue' not working on api's on rc branch"
Example

```curl -X POST "http://test.cbioportal.org/rc/api/clinical-attributes/counts/fetch" -H "accept: application/json" -H "Content-Type: application/json" -d "{ \"sampleIdentifiers\": [ { \"sampleId\": \"TCGA-OR-A5J3-01\", \"studyId\": \"acc_tcga\" }, { \"sampleId\": \"TCGA-OR-A5J4-01\", \"studyId\": \"acc_tcga\" }, { \"sampleId\": \"TCGA-OR-A5J5-01\", \"studyId\": \"acc_tcga\" }, { \"sampleI

[2019-04-15 16:04] zhx828 commented on #5844
@tmazor this issue is solved in production.

[2019-04-15 16:04] #5844 closed

[2019-04-15 16:07] alisman opened #5968 "Bug on venn diagram shape positioning"
http://test.cbioportal.org/rc/comparison/overlap?sessionId=5cb4a768e4b0ab4137873e6f

![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/db0ca1be-55d9-4eca-833b-ad33174db205)

[2019-04-15 16:10] alisman opened #5969 "Hide "scores" column on group comparison clinical data tab"
@schultzn requests that we kill the "scores" column in clinical data tab of group comparison.   cc @jjgao

[2019-04-15 16:15] alisman opened #5970 "Compress bar charts (vertically) to optimize for 13inch lap screen"
![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/e3296e41-e62c-4ae7-9c63-0e3c2ce03aab)

I think this may be true for all of our bar charts, but it does seem like we waste a lot of space vertically.

[2019-04-15 16:28] alisman opened #5971 "Frequencies rather than absolute counts on clinical data tab"
@schultzn requests that on the clinical data tab of group comparison, the bar chart use frequency rather than absolute counts to better allow users compare to compare across group.

This would also allow us to use stacked bar chart for situations like the following:
![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/fa22a40c-6008-4bd0-bded-920191cc3bb2)

[2019-04-15 16:59] Sjoerd-van-Hagen commented on #5716
Why is this limited to oncokb? We also have civic, hotspots and custom driver annotations.

[2019-04-15 17:04] zhx828 commented on #5716
@Sjoerd-van-Hagen this is not for annotation. This is implementation for cancer gene filtering. At the moment, we are using OncoKB Cancer Gene List(https://oncokb.org/cancerGenes). But the implementation can be change to other source if needed.

[2019-04-15 17:10] Sjoerd-van-Hagen commented on #5716
But those are strongly related. If something is marked as a driver  it should be in the list when applying the filter. If it is not marked it should be filtered out. That is the idea, right?

[2019-04-15 17:12] adamabeshouse commented on #5920
No, the pull request that addresses this is attached on github. Can you see it? It should indicate it here on this page.

[2019-04-15 17:13] adamabeshouse commented on #5920
https://github.com/cBioPortal/cbioportal-frontend/pull/2214

[2019-04-15 17:16] Sjoerd-van-Hagen commented on #5920
I do not see any link pointing from here to the PR.

Does not matter. Thanks for fixing this.

[2019-04-15 17:17] zhx828 commented on #5716
@Sjoerd-van-Hagen actually OncoKB Cancer Gene List is generated not based on annotation team but rather base on different gene panels. As you can see in here(https://oncokb.org/cancerGenes) we consider six different gene panels. The purpose of this feature is filtering out noise genes. I'm sure @schultzn  can give more information. Again, this should be a general implementation for cancer genes. I

[2019-04-15 18:03] #4570 closed

[2019-04-15 18:21] alisman opened #5974 "Normalize chart-beside-table layout"
We are currently inconsistent with the way we order chart/table when placed side by side.

Coexpression: table > chart
Enrichments: chart > table

We ended up this way because we wanted the item with fixed or limited horizontal width on the left so as not the push the adjacent item off the right side of the page.

Unfortunately, I think the only really robust way of handling this problem is to int

[2019-04-15 18:23] schultzn commented on #5716
I agree that this could be linked to any cancer gene list - and we discussed this a lot internally. We could also use the Cancer Gene Census, or any other list. We just need one icon to represent that list so that a user can easily toggle. We can also discuss this on the next call.

[2019-04-15 18:32] alisman commented on #5974
I think we should also bump down text size of tables to 11px

[2019-04-15 18:56] alisman opened #5975 "When you log in using social log in, popup shows brief flash of homepage before window closes"
1. Click login on top right
2.  Log in
3. Before the popup window closes you will see a brief flash of the homepage

This is because social login is configured to redirect after authentication to the homepage.  We want to find where this is set and redirect it to a blank route of frontend.

[2019-04-15 19:23] khzhu commented on #5966
Trevor mentioned Niki has a R script that can be used to classify three methylation groups: promoters, gene bodies, other. Would @schultzn or @ao508 please share it with us?
I've adjusted the importer script to load three types of methylation data, and enhanced methylation data visualization (please see attached).
![Screen Shot 2019-04-14 at 5 52 17 PM](https://user-images.githubusercontent.com/17

[2019-04-15 19:30] kalletlak commented on #5898
Done in https://github.com/cBioPortal/cbioportal-frontend/pull/2219

[2019-04-15 19:30] #5898 closed

[2019-04-15 20:18] schultzn commented on #5966
We don’t have a script to separate the probes - we revived the separated data from a collaborator.

[2019-04-15 20:45] #5947 closed

[2019-04-15 21:14] #5957 closed

[2019-04-15 21:40] Sjoerd-van-Hagen commented on #5716
I see.

If we would like to generalize this in the future we should go for a generic filtering icon I think.

[2019-04-15 21:42] schultzn commented on #5716
I agree - but good look finding a federal “cancer genes” icon. :-)

[2019-04-15 21:46] Sjoerd-van-Hagen commented on #5716
I don't know about a federal icon, but I was thinking to just pick the funnel type icon: https://www.google.com/search?tbm=isch&q=filter+icon&chips=q:filter+icon,g_1:transparent:XCW-_vHaJFk%3D&usg=AI4_-kQ8GmMz4jcKtx7t0N9WzWBhOrd8uA&sa=X&ved=0ahUKEwjVhIOLidPhAhVmUN8KHbrADbQQ4lYIJygA&biw=1920&bih=931&dpr=2#imgrc=9tisrLIVLRLEcM:

[2019-04-15 21:55] schultzn commented on #5716
But it would be nice to somehow indicate that the user is filtering by cancer genes..

[2019-04-16 11:02] Sjoerd-van-Hagen commented on #5716
How about using the filter icon which, when clicked, shows a drop down menu with the sort options?

[2019-04-16 13:10] schultzn commented on #5716
That might work -  but I think the goal was to design something that only requires a single click.

[2019-04-16 13:24] kalletlak commented on #5892
Model 1 has redundant data. I considered 2 in all my implementations since its much cleaner, no redundant data and validation can be done easily. there is very little overhead in transformation between those models.

[2019-04-16 13:26] kalletlak commented on #5578
@adamabeshouse its implemented right, should we close this?

[2019-04-16 14:51] #5971 closed

[2019-04-16 14:51] #5969 closed

[2019-04-16 14:53] #5542 closed

[2019-04-16 16:02] alisman opened #5978 "Discuss query hashing issue (view params like sorting) in results view"

[2019-04-16 16:19] #5578 closed

[2019-04-16 16:24] adamabeshouse commented on #3225
@jjgao I don't think so since it still does open in SVG and in PDF.

[2019-04-16 16:25] adamabeshouse commented on #5978
?

[2019-04-16 16:25] adamabeshouse commented on #5970
paging @kalletlak who wrote this component

[2019-04-16 16:41] alisman opened #5979 "Make sure new frontend clr build params are documented"
mvn -DskipTests clean install -Dfrontend.verson=12636hgaasda -Dfrontend.groupId=blabla

[2019-04-16 17:05] Sjoerd-van-Hagen commented on #5716
For now that works but when we want to generalize in the future we will likely need more clicks (two).

[2019-04-16 18:26] alisman opened #5980 "Merge master to rc branch, resolving conflict in coexpressionserviceimp"
hi @oplantalech, @ersinciftci made an optimization to coexpression endpoint to reduce memory consumption.  You can see the changes (now in master) here: https://github.com/cBioPortal/cbioportal/pull/5905

There is a significant conflict between these changes and your [5354](https://github.com/cBioPortal/cbioportal/pull/5354) PR to rc.

We were wondering if you could help resolve these conflicts.

[2019-04-16 18:29] alisman commented on #5953
`    var VIEW_ID = '34065145';

    // Query the API and print the results to the page.
    function queryReports() {
        gapi.client.request({
            path: '/v4/reports:batchGet',
            root: 'https://analyticsreporting.googleapis.com/',
            method: 'POST',
            body: {
                reportRequests: [
                    {
                        viewId: VIEW_ID,

[2019-04-16 18:30] adamabeshouse commented on #5941
@jjgao that's a better idea :+1:

[2019-04-16 20:05] #5958 closed

[2019-04-16 21:41] #5964 closed

[2019-04-16 21:55] ChrisWakefield opened #5981 "MDACC Heatmap on study page is fixed height"
Height is stuck at 700px, hard-coded when creating the iframe.  I have a pull request on cbioportal-frontend to address this.

[2019-04-16 22:07] #5564 closed

[2019-04-17 14:59] coderrsid commented on #5970
Can you provide me direct link for the above query i wanna test it myself. maybe i'll be able to fix this issue.

[2019-04-17 15:40] tmazor commented on #5356
I agree, looks like it's working now - closing the issue

[2019-04-17 15:40] #5356 closed

[2019-04-17 15:43] tmazor commented on #3763
Appears to be fixed

[2019-04-17 15:43] #3763 closed

[2019-04-17 15:45] tmazor commented on #3720
Looks like this has been fixed

[2019-04-17 15:45] #3720 closed

[2019-04-17 15:55] #4234 closed

[2019-04-17 15:59] #2972 closed

[2019-04-17 15:59] #2970 closed

[2019-04-17 16:00] #2747 closed

[2019-04-17 17:38] kalletlak commented on #5970
@coderrsid thanks, but the vertical height of bars is already fixed. anyways here is link http://test.cbioportal.org/rc/comparison/clinical?sessionId=5cb76053e4b0ab4137873e7d, you might not see the changes as the latest code needs to be deployed yet.

This is how it looks
<img width="1671" alt="Screen Shot 2019-04-17 at 1 34 44 PM" src="https://user-images.githubusercontent.com/12956870/56308735-f

[2019-04-17 17:40] kalletlak commented on #5970
@adamabeshouse @alisman I think there is still a problem with vertical height of the table because of the clinical attribute name which gets wrapped if its too long. should we worry about it?

[2019-04-17 18:45] adamabeshouse commented on #5970
We could shorten it with `...` and show full title on tooltip. Thoughts @jjgao @schultzn ?

[2019-04-17 20:47] #5777 closed

[2019-04-17 20:47] #5757 closed

[2019-04-17 20:47] #5857 closed

[2019-04-17 20:47] #5803 closed

[2019-04-17 21:06] alisman commented on #5970
@kalletlak i don't think the table height needs to be constrained.  i mean, it would be nice to truncate them (with shortcut) but what do you mean "problem" with vertical height?

[2019-04-17 21:08] adamabeshouse commented on #5970
@alisman the problem is we'd like the page to fit on a 13" screen

[2019-04-17 21:38] #5970 closed

[2019-04-17 22:06] schultzn commented on #5970
The table can probably be longer -  but the graph should fit.

[2019-04-18 12:56] pieterlukasse opened #5982 "wrong order of portal.properties in web application context files"
The order should be
[code]
but is now the other way around in files like `applicationContext-web.xml`. See
https://github.com/cBioPortal/cbioportal/blob/master/web/src/main/resources/applicationContext-web.xml#L21

I.e. the classpath entry should be the default one, since this is the one built here https://github.com/cBioPortal/cbioportal/blob/master/pom.xml#L101
(`          `)
The entry `<value>f

[2019-04-18 12:58] pieterlukasse commented on #5982
notify @inodb, @fedde-s

[2019-04-18 13:09] fedde-s commented on #5982
There may be two more issues with these lines of code:
- other parts of the portal do not look at the portal.properties file compiled into the classpath at all if `$PORTAL_HOME/portal.properties` exists at runtime: they would use the defaults listed in the code if a property is not listed in the runtime configuration file, even if another value happens to be listed in the build-time portal.propert

[2019-04-18 13:18] pieterlukasse commented on #5982
@fedde-s right, so `file:///${PORTAL_HOME}/portal.properties` should be `file:///#{systemEnvironment['PORTAL_HOME']}/portal.properties` in files such as `applicationContext-web.xml`

Regarding the classpath ("default") one: thinking more about it, I actually think we should try to get rid of this. In other words: a runtime portal.properties should be mandatory, and there should be _no_ default fil

[2019-04-18 13:23] pieterlukasse commented on #4832
@inodb the order should be
1. PORTAL_HOME/portal.properties
2. -D parameters
right? Can we remove the baked in portal.properties altogether? See also discussion in https://github.com/cBioPortal/cbioportal/issues/5982

[2019-04-18 13:25] pieterlukasse commented on #4832
Should `dbcp` be the default? Would be nice if we don't need to set this explicitly.

[2019-04-18 14:24] n1zea144 commented on #5816
For reference to turn on spring framework logging:
log4j.category.org.springframework=ALL

[2019-04-18 14:49] n1zea144 commented on #5919
@lakhujanivijay Have you solved this issue?  I agree with what @sheridancbio commented - I don't think ${catalina.base} is available to the log4j parser.  If you don't replace ${catalina.base} with a full path as @sheridancbio suggests, you should pass a system property to the JVM in your tomcat startup script, like
CATALINA_OPTS='... -Dcatalina.base=$CATALINA_BASE'

see [Setting Environment Varia

[2019-04-18 17:42] kalletlak commented on #5748
Filtering attributes would be an additional step which can consume time. I guess it's ok to leave as it is since response from `clinical-data-bin-counts` seems correct in a way.

[2019-04-18 17:42] #5748 closed

[2019-04-18 18:44] n1zea144 commented on #5816
@pieterlukasse @oplantalech @khzhu I think I have a solution to the " Could not find SQL statement to include with refid 'org.cbioportal.persistence.mybatis.PatientMapper.select'" issue.  Hopefully this will solve the JDBC issue upstream.

I have a general understanding of why this is happening, but I don't understand why we haven't been encountering this issue internally at MSK (more about this b

[2019-04-18 19:29] khzhu commented on #5816
thanks @n1zea144 for looking deeply into the issue and share your work with us! I will test out and let you know if the change you proposed makes any difference in our environment.

[2019-04-18 20:56] #5320 closed

[2019-04-18 21:12] zhx828 opened #5986 "Allow user selects the samples even there are samples are not in the study"
In the current setting, when user uses the `Custom Selection` and use a list with samples not in the study and, the `Select` the button is disabled.

Propose: make the error message a warning message instead, and if the user clicks on the Select button, the unknown samples will be ignored.

[2019-04-18 21:35] n1zea144 commented on #5816
@pieterlukasse @oplantalech @khzhu I think I figured out why, here at MSK we have not been encountering this issue.  It may be because somehow, we've only been deploying code internally using the release (rc) branch.  This branch contains code from a [PR-5344](https://github.com/cBioPortal/cbioportal/pull/5344) from @sheridancbio which breaks a dependency between the security module and the web mo

[2019-04-19 13:28] tmazor commented on #5937
@jjgao I agree, a matrix like that would be a useful feature. But also, what about adding a pie chart to study view with the gene panels - we have this for GENIE, but I think not for any other study - could we make this automatically for all studies?

[2019-04-19 15:00] #5975 closed

[2019-04-19 15:00] ao508 opened #5987 "MutationMapper is not plotting for PLCG2"
Please see this [discussion](https://groups.google.com/forum/#!topic/cbioportal/WrljLR2bMhM) for reference.

[2019-04-19 15:57] tmazor opened #5989 "Tutorials are (sometimes) not accessible behind corporate firewalls"
Tutorials are now in google drive, and this is (sometimes) not accessible behind corporate firewalls. Would be great if a download link can be provided next to the iframes that now host the google docs.

cc: @pieterlukasse

[2019-04-19 19:53] ZakiaSalod commented on #5646
Hi @jjgao , I have forked this repository into my Github.
I cloned it on my computer. Have it opened now on IntelliJ Idea IDE.
I'm trying to find the location of where I need to make this change of sorting the Cytoband column.
I had also simulated from the Front-end side, of where the location of the Cytoband column is, of which the sort-order needs to be changed : here:
https://www.cbioportal.org

[2019-04-19 19:54] ZakiaSalod commented on #5646
@jjgao : what is "results.coexpression"?

[2019-04-19 20:00] alisman opened #5990 "Group comparison: Enable mutation and copy number tabs when we have more than two groups"
@zhx828 can you describe the proposed solution here?

[2019-04-20 05:10] ZakiaSalod commented on #5646
@adamabeshouse  : could you perhaps assist with the above please?

[2019-04-20 13:40] lakhujanivijay opened #5992 "Error removing data from cbioportal"
I am trying to remove data from cbioportal which I have installed using docker container.

I am running below command (not sure if that is the correct command) and it says that it could not find the file; when the fact remains that the file is indeed present at this location.

[code]
I checked that the file is present at this location

[code]

Any help is highly appreciated!

[2019-04-21 11:28] ZakiaSalod commented on #5182
Hi there,
Is this item still available to be worked on?
Or, is any of you currently working on it? Kindly let me know. Thanks.

[2019-04-22 14:15] alisman commented on #5182
@ZakiaSalod you would we welcome to try to fix this. thanks

[2019-04-22 15:41] #5546 closed

[2019-04-22 15:42] #5553 closed

[2019-04-22 17:48] tmazor opened #5995 "study view filtering doesn't always work"
Go to this study: https://www.cbioportal.org/study?id=paad_icgc%2Cpaad_qcmg_uq_2016%2Cpaad_tcga_pan_can_atlas_2018

Click the "quick filter" for 661 samples with mutation data. Study view correctly filters to 661 samples.

Now go to the custom selection and enter these two samples:
paad_icgc:ICGC_0053_TD
paad_icgc:ICGC_0063_TD

Study view should have filtered to just those 2 samples (both have mut

[2019-04-22 17:51] tmazor opened #5996 "study view "filter to CNA samples" count is wrong"
Go to: https://www.cbioportal.org/study?id=paad_icgc%2Cpaad_qcmg_uq_2016%2Cpaad_tcga_pan_can_atlas_2018

Click on "661 samples with CNA data"

Bug 1: Study view filters to 183 patients/samples. This is a different number.
Bug 2: The quick filter now says 178 samples with CNA data, indicating that the filter didn't actually filter to the set of samples with CNA data (or that the number shown is inc

[2019-04-22 17:53] tmazor opened #5997 "mut vs cna plot filter doesn't always work"
Go to: https://www.cbioportal.org/study?id=paad_icgc%2Cpaad_qcmg_uq_2016%2Cpaad_tcga_pan_can_atlas_2018

Select samples on the Mutation Count vs Fraction Genome Altered plot.

Study view filters to 0 samples even though samples were selected on the plot.

[2019-04-22 18:01] adamabeshouse commented on #5646
HI @ZakiaSalod, how can I help?

[2019-04-22 18:06] ZakiaSalod commented on #5646
Hi @adamabeshouse : thanks for this - I will re-look at this again. Thanks. I really do appreciate it!
Am excited to be working on the cBioPortal code-base.

[2019-04-22 18:08] ZakiaSalod commented on #5646
@adamabeshouse : can you give me general guidelines on how you figured out where the change needs to be made so that I can be mindful of this in future as well.
I had been looking for the file of where this change needs to be made the other day, but I wasn't sure about it, hence decided to ask. P.S. Its my first time looking at the cBioPortal code-base. Really appreciate the help!

[2019-04-22 18:16] adamabeshouse commented on #5646
@ZakiaSalod The best way I can think is to install a React devtools plugin to your browser (I know chrome has one) that allows you to inspect React components on the page. Then click on the component in question, find out its name, then search for that file in the code, and go from there. Unfortunately I can't think of anything more specific than that - it will always depend on the task and the co

[2019-04-22 19:40] inodb opened #5998 "Keep scroll position when switching tab on results page"
As reported by @schultzn :

When on small screen and clicking on a tab the page scrolls to the tab. Would be better to keep the scroll position

[2019-04-22 20:15] schultzn opened #5999 "Cohort comparison: Frequencies of mutated genes and copy-number altered genes"
The frequencies for mutated genes and copy-number altered genes seems are no longer calculated correctly, they all show up as <0.1%

![image](https://user-images.githubusercontent.com/11892704/56526029-c7ab7080-6519-11e9-8a0b-7ac0f58a4eec.png)

[2019-04-22 20:19] schultzn opened #6000 "Cohort comparison: Overlapping samples"
I wonder if the overlapping samples should be solved slightly differently:

1 - By default, exclude overlapping samples
2 - But don't change the Venn diagrams - always show the overlap.

So show this:
![image](https://user-images.githubusercontent.com/11892704/56526500-5ae4a600-651a-11e9-8700-ba60fb9499cf.png)

But never this:

![image](https://user-images.githubusercontent.com/11892704/56526544-6

[2019-04-22 20:29] schultzn opened #6001 "Cohort comparison: Tooltips in volcano and scatter plots are very slow"
It takes a long time for the tooltips in the volcano and scatter plots to come up...

[2019-04-22 20:52] schultzn opened #6002 "Cohort comparison: axis label cut off"
http://test.cbioportal.org/beta/comparison/clinical?sessionId=5cbe1704e4b0ab4137873e8b

![image](https://user-images.githubusercontent.com/11892704/56529629-0c85d600-651f-11e9-943e-ae6f7ce550c5.png)

[2019-04-22 21:53] alisman opened #6003 "New tracking for file download"
We want to track the # of times data is downloaded for a given study.  It could be downloaded in different places on the site.  Come up with a good plan to track this with google analytics.  Could be backend or frontend!

This is a sub issue:
https://github.com/cBioPortal/cbioportal/issues/5953

[2019-04-23 14:30] pieterlukasse commented on #5989
👍

[2019-04-23 14:54] oplantalech commented on #5816
The issue @pieterlukasse mentioned when deploying to v2.1.0 is fixed with @n1zea144's solution.

[2019-04-23 15:09] alisman opened #6004 "MKSTabs anchor elements should have href defined to allow open in new tab"
When you right click the nav tabs:
![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/8014301c-1cfa-403b-8919-3bc8b4ade12c)

we should be able to open them in a new window.  Look into setting href attribute on them to allow for this.

[2019-04-23 15:44] inodb opened #6005 "Evaluate session service architecture"
With session service becoming more and more an integral part of cBioPortal, we should re-evaluate its architecture.

Questions to answer:

- Should we combine session service with cbioportal repo?
  - is there any performance benefit to having sessions in the mysql database versus pulling sample lists from session service and then querying them in the mysql database?
  - do cbioportal maintainers

[2019-04-23 17:14] coderrsid commented on #6004
@alisman. Can i work on this?

[2019-04-23 17:17] coderrsid commented on #5998
@inodb how smaller screen are you talking about? Can you give us an example through a video or gif or ss?

[2019-04-23 18:03] dippindots commented on #6004
@coderrsid Yes, thanks for your help! You can find the related code in MSKTabs.tsx.

[2019-04-23 18:57] kalletlak commented on #5999
should be fixed once backend is redeployed to latest code

[2019-04-23 19:04] khzhu commented on #5853
@zhx828 , which study in public portal should I use to reproduce the error? Thanks!

[2019-04-23 20:14] #5965 closed

[2019-04-23 20:17] dippindots commented on #5965
@lakhujanivijay Thanks for reporting this bug to us, the documentation has been updated. Sorry about any inconvenience for you.

[2019-04-23 20:37] kalletlak commented on #5999
fixed after redeploying

[2019-04-23 20:37] #5999 closed

[2019-04-23 22:16] schultzn opened #6009 "Cohort comparison: Clinical data error message for overlapping samples"
The current error message is: "We can only show clinical plots when groups have overlapping samples. Please exclude them by changing dropdown option to 'Exclude overlapping samples'"

We should change this to:
"We can only show clinical plots when groups do not have overlapping samples. Please exclude them by selecting 'Exclude overlapping samples' in the dropdown menu above."

[2019-04-23 22:17] schultzn opened #6010 "Cohort comparison: Survival analysis should not show up when there are overlapping patients"
Survival analysis should not show up when there are overlapping patients - we should have an error message similar to the one from the clinical data tab.

[2019-04-23 22:19] alisman opened #6011 "Revisit loader positioning"
On a 13 screen, for Impact, the loader appears near bottom of screen

[2019-04-24 04:07] coderrsid commented on #6004
Sure.

[2019-04-24 06:59] lakhujanivijay commented on #5965
@dippindots Thanks for the response. Strange though, I still cannot access it. I am looking at an incorrect link? Can you please share the URL of the correct link?

Highly appreciating the  attention.

[2019-04-24 09:04] oplantalech commented on #5816
I have created a PR with the fix that @n1zea144 proposed: https://github.com/cBioPortal/cbioportal/pull/6012

[2019-04-24 13:59] nabeelmerchant1 opened #6013 "Standalone Installer for cBioPortal and other MSKCC Projects"
**Feature Title**: Standalone Installer

**Problem :**
Several potential users and contributors of cBioPortal, OncoKB & Genome Nexus are facing numerous problems in creating/deploying a local instance for several mskcc projects and their components into their machine/Operating Systems.

It can take several days for new/experienced users and contributors to read through and install the several soft

[2019-04-24 14:35] fedde-s commented on #4832
I'd expect the way to specify options that is supplied last, closest to the runtime behaviour itself, to override any properties set earlier, in less flexible ways. So command-line parameters to the server process take precedence over environment variables and runtime configuration files, which in turn override compile-time options (if we continue to support those), which override defaults in the

[2019-04-24 14:51] fedde-s commented on #4832
Also, isn't the first of the four check marks resolved already? Most, if not all, properties that are retrieved by methods of `core/src/main/java/org/mskcc/cbio/portal/util/GlobalProperties.java` should be overridable by `-D`-style Java system properties since the changes we implemented in [commit cbcbd05 of pull request 4787](https://github.com/cBioPortal/cbioportal/pull/4787/commits/cbcbd050ff22

[2019-04-24 15:18] khzhu commented on #5853
Hi @priti88 , I am looking at the issue. Could you please let me know how to reproduce the issue? For instance, which study you were looking at, the type of chart used for grouping/filtering samples? Thanks!

[2019-04-24 15:22] zhx828 commented on #5853
@khzhu I'm trying to reproduce the issue. But seems the all public studies with `Local Recurrence` all have been fixed. But one thing you can do is making the study view filtering insensitive. For instance, http://www.cbioportal.org/study?id=lgg_tcga&filterAttributeId=ONCOTREE_CODE&filterValues=OSAT works but not http://www.cbioportal.org/study?id=lgg_tcga&filterAttributeId=ONCOTREE_CODE&filterVal

[2019-04-24 15:29] khzhu commented on #5853
I see, thanks @zhx828 , will do some debugging.

[2019-04-24 15:41] #5997 closed

[2019-04-24 16:03] kalletlak commented on #6010
@schultzn @adamabeshouse @alisman @jjgao we do not have `exclude overlapping patients` in the dropdown. should we add it as a new option or change `exclude overlapping samples` to  `exclude overlapping samples and patients`

[2019-04-24 16:29] #5996 closed

[2019-04-24 17:19] kalletlak opened #6014 "SV: Cancer Studies chart not showing correctly"
1. Cancer Studies Chart showing as pie chart by default even if it has more than 20 values. example https://www.cbioportal.org/study?id=chol_msk_2018%2Cchol_nccs_2013%2Cchol_nus_2012%2Cchol_tcga%2Cgbc_msk_2018%2Cgbc_shanghai_2014%2Cchol_jhu_2013%2Cblca_mskcc_solit_2014%2Cblca_mskcc_solit_2012%2Cblca_plasmacytoid_mskcc_2016%2Cblca_tcga_pub_2017%2Cblca_bgi%2Cblca_dfarber_mskcc_2014%2Cblca_tcga%2Cblc

[2019-04-24 17:48] schultzn commented on #6010
I think you can just change it to:
exclude overlapping samples and patients

[2019-04-24 20:11] inodb opened #6016 "3d structure of tp53 not showing up"
Might be a problem with multiple genes

[2019-04-24 20:59] tmazor opened #6017 "oncoprint tooltip for RNA/protein needs updating"
We changed the legend text to say hi/low, but the tooltip still says upregulated/downregulated.

We need to update the tooltip to say hi/low like the legend.

[2019-04-24 23:00] nabeelmerchant1 commented on #6014
All the pie charts have problems related to this similar nature.

![image](https://user-images.githubusercontent.com/40885903/56699402-b5465800-670e-11e9-8888-2a4702c10393.png)

[2019-04-24 23:37] nabeelmerchant1 commented on #6014
Most of the other pie chart studies have a problem similar to this nature.

![image](https://user-images.githubusercontent.com/40885903/56700462-c9d91f00-6713-11e9-98c1-83be9727cbcf.png)

[2019-04-25 03:59] QifengOu commented on #3538
could you tell me what's problem about it?

[2019-04-25 08:38] nabeelmerchant1 commented on #6004
We might kill 2 birds with one stone with an alternative option

1.New window tab in to enable JSReact for Navigation Tabs

Example:
<td onClick={()=> window.open("someLink", "_blank")}>text</td>

and

1. A regular link can be used to be styled as a cell for study data

Example :
<a style={{display: "table-cell"}} href="someLink" target="_blank">text</a>

[2019-04-25 10:32] nabeelmerchant1 commented on #6003
1.For the backed a new database tab could be created for all studies which would track each time the download button is clicked. When button is clicked you can increment the counter and serve the file.

2.  Either way we could also use google analytics

Another suggestion could be to also track the number of time a study or genes have been viewed.

Example : <a href="http://www.example.com/files/m

[2019-04-25 13:12] #5903 closed

[2019-04-25 13:15] kalletlak commented on #6014
@nabeelmerchant1 not sure what you are pointing exactly at. do you count(number) on the slices?

[2019-04-25 13:53] #5980 closed

[2019-04-25 14:13] fbrundu opened #6018 "How to define altered only samples with alterations in all query genes"
Hi all,
I'd like to query multiple genes and plot survival between two sets of samples:
1. The samples with alterations in each one of the queried genes
2. The remaining samples

At the moment, the survival curve is computed between the set of samples with at least one query gene mutated and the remaining samples. Is there a way to obtain the former or more complex behaviors?

Thanks

[2019-04-25 15:01] nabeelmerchant1 commented on #6018
@fbrundu Are you perhaps looking for something like this

![image](https://user-images.githubusercontent.com/40885903/56746050-e49fa800-6794-11e9-8282-2412b456c3bb.png)

[2019-04-25 15:20] fbrundu commented on #6018
@nabeelmerchant1 actually, this should be the current behavior. In this case the red line contains samples with at least one query gene altered. I would like the red line to have only samples with one alteration in ALL query genes (more strict subset).

[2019-04-25 16:00] kalletlak commented on #6010
@schultzn if we exclude overlapping patients, then samples with same patient in different groups will be excluded. do we want that?

[2019-04-25 16:07] schultzn commented on #6010
Good question. Probably not. Maybe exclude the patients in the clinical and survival tab but keep the samples in the genomic comparisons?

[2019-04-25 16:31] khzhu opened #6019 "cgdsr R package failed some unit tests"
I am trying to using the cgdsr package but am getting the following error when I test the CGDS endpoint:

getCancerStudies...  OK
getCaseLists (1/2) ...  OK
getCaseLists (2/2) ...  OK
getGeneticProfiles (1/2) ...  OK
getGeneticProfiles (2/2) ...  OK
getClinicalData (1/1) ...  FAILED!
getProfileData (1/6) ...  FAILED!
getProfileData (2/6) ...  FAILED!
getProfileData (3/6) ...  FAILED!
getProfileDat

[2019-04-25 16:59] dippindots commented on #6010
@schultzn After discussed with @kalletlak , we proposed to do the following things:

1. keep the option text: `exclude overlapping samples`
2. add a warning on survival and clinical tab to inform that the overlapping patients are excluded by default
3. change the data fetching method only for these two tabs

is that ok?

[2019-04-25 17:00] kalletlak commented on #5968
fixed!

[2019-04-25 17:00] #5968 closed

[2019-04-25 17:02] nabeelmerchant1 commented on #6018
This process is quite simple.

You could use the oco query language to custom create the particular survival chart here https://www.cbioportal.org/oql  - on OQL modifiers.

1. On the main cBioPortal webpage : https://www.cbioportal.org ( on the **select studies** panel - you should select the relevant studies which includes your targeted gene set )

2.  After selecting  your study you should notic

[2019-04-25 17:45] nabeelmerchant1 commented on #6019
Does this occur after executing this command ?

setRepositories(ind=1:6)
options(repos="http://cran.rstudio.com/")
if(!require(devtools)) { install.packages("devtools") }
library(devtools)

install_github("cBioPortal/cgdsr")

[2019-04-25 17:49] kvaldez commented on #6019
Yes, the error occurs with the github version as well.

[2019-04-25 17:52] nabeelmerchant1 commented on #6019
Please let us know which command did you use to retrieve cgdsr package.

[2019-04-25 17:54] kvaldez commented on #6019
Sure thing, I used

`mycgds = CGDS("http://www.cbioportal.org/")
test(mycgds)`

[2019-04-25 18:09] adamabeshouse commented on #6005
From a development POV of a session service consumer, I think it's better to require session service because otherwise we would have to maintain two parallel systems: using session service, and using localStorage.

[2019-04-25 18:10] adamabeshouse commented on #6011
You mean for oncoprint right?

[2019-04-25 18:11] adamabeshouse commented on #6010
@dippindots @kalletlak It definitely makes sense to me to just exclude and show a warning message considering the plot is not even possible when there is not exclusion. So I think it's a great decision.

[2019-04-25 18:13] nabeelmerchant1 commented on #6019
@khzhu Is your R Version 2.12 or higher ?

[2019-04-25 18:15] khzhu commented on #6019
Here is my R version.

               _
platform       x86_64-apple-darwin15.6.0
arch           x86_64
os             darwin15.6.0
system         x86_64, darwin15.6.0
status
major          3
minor          5.3
year           2019
month          03
day            11
svn rev        76217
language       R
version.string R version 3.5.3 (2019-03-11)
nickname       Great Truth

[2019-04-25 18:16] khzhu commented on #6019
which version were you using, @kvaldez ?

[2019-04-25 18:38] alisman commented on #6011
yes.  lets discuss monday

[2019-04-25 18:58] nabeelmerchant1 commented on #6019
@ritikakundra I guess we are facing some server side issues.

[2019-04-25 19:46] #5995 closed

[2019-04-25 19:46] #5904 closed

[2019-04-25 20:10] schultzn commented on #6010
Sounds good! Thanks.

[2019-04-25 20:26] nabeelmerchant1 commented on #6018
@fbrundu Please let us know if this has resolved your problem.

[2019-04-25 20:34] fbrundu commented on #6018
@nabeelmerchant1
Thanks.
No, the problem is different: I am able to produce plots with at least one gene altered vs no alteration. My objective is to compare samples with alterations ON EACH query gene vs samples with no alterations, or a smaller subset of query genes altered.

[2019-04-25 21:34] nabeelmerchant1 commented on #6014
@kalletlak I have noticed the React Pie Charts with Index / Data Labels placed Inside are not showing properly. The values do show when you place the cursor over the color coded segments.

[2019-04-26 04:01] #3495 closed

[2019-04-26 11:46] schultzn opened #6020 "Cohort comparison: End axis in stacked bar charts at 100%"
Can the axis end at 100% in stacked bar chart? We currently show the last tick there but extend the axis a little further.

![image](https://user-images.githubusercontent.com/11892704/56805539-5e687d80-67f7-11e9-8971-065fdc889f03.png)

[2019-04-26 13:14] schultzn commented on #5990
This will be for the next release. But we should minimally enable bar plots that show frequency differences between groups for each gene. Something like the below.

![image](https://user-images.githubusercontent.com/11892704/56810042-59a9c680-6803-11e9-9bc1-cc15231a180e.png)

Users should be able to define how many genes they want to show and be able to choose a sort order (e.g., decreasing order

[2019-04-26 14:05] tmazor opened #6021 "mutations tab: annotation tracks hovering bug"
When I hover over a dot from one of the annotation tracks under the lollipop plot, the dot expands -- sometimes however, when I move my mouse away, the dot doesn't drop back down in size. This seems to happen most reliably when I move my mouse over the tooltip from top to bottom -- when I exit the tooltip from the bottom, the tooltip closes, but the dot sizes don't reset.

I identified this while

[2019-04-26 14:42] kalletlak commented on #6014
@nabeelmerchant1 looks like a different bug. Feel free to create a new ticket when you are done documenting. Closing this ticket for now. Thanks!

[2019-04-26 14:42] #6014 closed

[2019-04-26 16:08] adamabeshouse commented on #6009
https://github.com/cBioPortal/cbioportal-frontend/pull/2254/files

[2019-04-26 16:08] #6009 closed

[2019-04-26 18:00] #6002 closed

[2019-04-26 18:00] adamabeshouse commented on #6002
https://github.com/cBioPortal/cbioportal-frontend/pull/2243

[2019-04-26 18:00] adamabeshouse commented on #6009
https://github.com/cBioPortal/cbioportal-frontend/pull/2243

[2019-04-26 20:31] tmazor commented on #6018
Hi @fbrundu - Great question! However, this GitHub repo is really meant for technical issues. We prefer to answer questions like this through our google group, so that the answer can be a resource for future users searching those archives. Would you mind sending this question there (cbioportal@googlegroups.com) and I'll help you to do this through that forum.

[2019-04-26 21:03] #5816 closed

[2019-04-26 21:08] #6018 closed

[2019-04-26 21:13] schultzn opened #6023 "Cohort comparison: Divide axes of volcano and scatter plots"
We need to add gaps (or padding) below the zeros of the axes to avoid having dots on the actual axis.

![image](https://user-images.githubusercontent.com/11892704/56836750-2177a780-6846-11e9-9c3f-884061595711.png)

We have it implemented on the Plots tab:
![image](https://user-images.githubusercontent.com/11892704/56836871-803d2100-6846-11e9-9550-076b549f73e2.png)

[2019-04-26 21:16] schultzn opened #6024 "Save group feature is not clear"
I am trying to create a group consisting of overlapping patients...

The first step is intuitive, but I am not sure what the second step (save) is supposed to do.

Also, my saved group does not get saved as a group when I go back to the study view - that would be desirable (users could use the venn diagrams to identify and save interesting groups and then use them in subsequent queries from the st

[2019-04-26 21:30] adamabeshouse opened #6025 "group comparison testing"
screenshots/e2e
- [x] Overlap tab
   - [x] venn diagram @dippindots
   - [x] upset @kalletlak
   - [x] upset create group, use venn tests as template @adamabeshouse
- [x] Clinical data @kalletlak
- [x] Survival @kalletlak
- [x] Enrichments @adamabeshouse
  - [x] Gene selection and bar chart e2e test @kalletlak

unit
- [x] OverlapUtils  @adamabeshouse
- [x] GroupComparisonUtils @adamabeshouse
- [x]

[2019-04-26 21:33] adamabeshouse commented on #6024
The idea is that the original session (i.e. the URL/session id) remains unchanged when you create these groups. When you click save, then it creates a new session which includes these new groups. I guess that's not useful/intuitive?

We can allow saving the group back to the study view but it will require them to be logged in. I guess there's not really an issue with that.

[2019-04-26 23:40] nabeelmerchant1 commented on #5989
@tmazor Just a very minor fix. Click here should be underlined.

![image](https://user-images.githubusercontent.com/40885903/56841321-82cf6300-68a6-11e9-8345-25915b875744.png)

[2019-04-29 15:04] #6010 closed

[2019-04-29 16:57] sheridancbio commented on #5967
Could you explain more about this @kalletlak ?  Is the filter argument that is being passed up invalid? Where is the error?

[2019-04-29 17:29] kalletlak commented on #5967
@sheridancbio main error is validations are skipped.
Example, in main instance
```curl -X POST "https://www.cbioportal.org/api/clinical-attributes/counts/fetch" -H "accept: application/json" -H "Content-Type: application/json" -d "{ \"sampleIdentifiers\": [ { \"sampleId\": \"TCGA-OR-A5J3-01\", \"studyId\": \"acc_tcga\" }, { \"sampleId\": \"TCGA-OR-A5J4-01\", \"studyId\": \"acc_tcga\" }, { \"sample

[2019-04-29 20:07] khzhu commented on #5853
Hi @zhx828 , after some debugging, I would say it is no longer an issue. First of all, the backend queries the clinical data by clinical attributes Ids and sample Ids only. And, there isn't any filters applied to the clinical attribute values being pulled out from the database. The frontend, on the other hand, does a filter only on a user selected option from the Oncotree pie chart.
![Screen Shot

[2019-04-29 21:05] priti88 commented on #5853
@khzhu I don't think we can use the public data to debug this. You might have to to create some fake data and upload the study to your local instance to verify if this works.

[2019-04-29 21:07] priti88 commented on #5853
I would recommend using any tcga study and changing the values for one of the clinical field. Example: make it all lower case or upper case.

[2019-04-29 21:09] #3154 closed

[2019-04-29 21:14] khzhu commented on #5853
@priti88 , no worries, please. I was debugging using my local develop instance with the same public dataset downloaded.

[2019-04-29 21:30] #5789 closed

[2019-04-30 15:12] dippindots commented on #6020
@schultzn Just want to confirm that do we want all stacked bar chart stop at the end of the axis? Or we just want to do this for the percent stacked bar chart. Thanks!

[2019-04-30 15:17] alisman commented on #6020
@schultzn @dippindots i guess with absolute values, you might want to end on a tick value?  But that would usually require padding that axis.

[2019-04-30 15:17] schultzn commented on #6020
Agree with @alisman

[2019-04-30 15:27] jjgao commented on #6024
I think it's a good idea to save back to the study view when the user is logged in.

The second step (save states) is new to our web site. We will have the same need when saving states in results page. If it's not intuitive, we should try to find a better way to do it.

[2019-04-30 15:36] adamabeshouse commented on #6024
we had a long conversation about it yesterday and decided that among all the conflicting needs the current solution is good, except with maybe more explanatory UI for the buttons. and for saving back to study we were going to add a checkbox for that in the "Create Group" box

[2019-04-30 15:38] adamabeshouse opened #6028 "study view group comparison interface changes"
- [x] start checkboxes unchecked on page load, but when a group is created it enters the box checked
- [x] wrapping is messed up [-- fixed by max width + ellipsis for names]
- [ ] ~take out `add selected samples to group` functionality~ lets just leave this for now since its done and unobtrusive
- [x] make dropdown longer and have same look and feel as the "Add Chart" dropdown

[2019-04-30 15:42] adamabeshouse opened #6029 "group comparison page overlap tab changes"
- [x] in "Create new group" from venn diagram modal, add a checkbox to save group to user, if user is logged in
- [x] Upset should have tooltips on the dots beneath as well as the bars
- [x] Upset should more easily show tooltip on bars that are too short to mouseover, maybe a minimum hoverable size
- [x] Upset tooltip should be simpler: `${label}: ${count}` where label is "X", "X and Y", "X, Y, a

[2019-04-30 16:01] schultzn opened #6030 "Charts above table in Mutations and Copy-Number tabs of group comparison"
Can we do something like this for mutations and CNA tabs? This would be similar to the Mutations tab in results. It would be nice if the charts change as a user searches the table below. We can later add the bar chart here as well.

Expression is trickier, since we only have one graph. We can think of adding additional graphs later.

![image](https://user-images.githubusercontent.com/11892704/5697

[2019-04-30 16:14] adamabeshouse opened #6031 "group comparison page bugs"
- [x] Table header control buttons are wrapping badly in enrichments tabs
- [x] There's some kind of bug with group selection/toggling after you save a new group
- [x] Group names in enrichments tabs should be given max length, ellipsis, tooltip to show whole thing
- [x] Make 'Save' interface clearer

[2019-04-30 16:16] adamabeshouse opened #6032 "group comparison changes"
- [x] dont change group selector whatsoever in response to exclude overlapping samples
- [x] improve messages in enrichments tabs when theyre hidden due to selected groups being empty
- [x] survival tab should not auto-exclude. should have a curve for every nonempty ven diagram region, with a checkbox to turn that off and just show a curve per group
- [x] something is going wrong with clinical tab

[2019-04-30 18:37] kalletlak commented on #5899
Fixed in https://github.com/cBioPortal/cbioportal/pull/5954

[2019-04-30 18:37] #5899 closed

[2019-04-30 19:28] #6001 closed

[2019-04-30 20:23] alisman commented on #3697
@dippindots @jjgao is there an obvious format for the download data?

[2019-04-30 20:48] #6000 closed

[2019-04-30 21:19] jjgao commented on #6024
@adamabeshouse sounds good.

[2019-04-30 21:34] tmazor opened #6033 "mutex doesn't respect gene panels"
As best I can tell, MutEx doesn't respect gene panels.

Take this example: http://bit.ly/2XXIA9M

In the OncoPrint we can see clearly that there are:
2 samples with ACVR1 alterations
4 samples with KRAS alterations that are also profiled for ACVR1
5 sample with KRAS alterations that are NOT profiled for ACVR1
5 samples without KRAS alterations that are NOT profiled for ACVR1

Click over to the Mut

[2019-04-30 21:49] jjgao commented on #3697
I think we can define a general format for stacked bar chart, e.g. a matrix of alteration frequencies of cancer type vs alteration types.

![image](https://user-images.githubusercontent.com/840895/56995599-38810700-6b70-11e9-9299-7b84a4017002.png)

[2019-04-30 21:52] jjgao commented on #6030
Once we have the bar plot as defined in #6030, we can have it as one of the plots too.

[2019-04-30 21:53] jjgao commented on #5990
We should have the bar plot when there are two groups as well. Maybe it's also useful when there is only one group? @schultzn

[2019-04-30 21:54] jjgao commented on #5990
@kalletlak maybe you backend code for calculating p-values for the clinical data tab can be used here?

[2019-04-30 21:55] jjgao commented on #5990
@alisman I noticed the milestone is 3.0.0. Are we plan to include this in the first release?

[2019-04-30 21:58] jjgao commented on #6033
@tmazor I think you are right. We never considered gene panel when calculating mutex.

@dippindots it should be easy to fix. If the sample has no date for a gene in all queried profiles, the sample should be excluded when calculating pairs that include the gene.

[2019-04-30 22:16] jjgao commented on #6005
It may be a good idea to do that ultimately, but definitely not this round v3.0.0. We should evaluate the options.

see https://github.com/cBioPortal/cbioportal/issues/5771

Agreed and we have decided to make sessions service a requirement https://github.com/cBioPortal/cbioportal/issues/5773.

We also decide not to use local storage b/c user data cannot be maintained between computers.

??

[2019-04-30 22:49] inodb commented on #6005
Thanks @jjgao !

Regarding testing session service. We currently have no tests of session service standalone. I made an issue of what I think should be doable:

https://github.com/cBioPortal/session-service/issues/23

There's also a known issue with testing review apps. You could still use the localStorage trick to test, but one can't use the review app directly to log in. Maybe not that big of a

[2019-04-30 23:00] schultzn commented on #5990
Maybe it’s worth postponing the release for this? We waited this long for this feature, so we can wait a little longer. I think it would be nice to come out with a (mostly) fully functional feature.

[2019-05-01 05:33] lakhujanivijay opened #6035 "The hyperlink to "Gene Panel Matrix file" under Fusion data is broken"
The hyperlink to "[Gene Panel Matrix file](https://github.com/cBioPortal/cbioportal/blob/master/docs/gene-panel-matrix-file)" under [Fusion data](https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md#gene-panels-for-fusion-data) is broken.

Similar Issue: https://github.com/cBioPortal/cbioportal/issues/5965

[2019-05-01 05:33] lakhujanivijay commented on #5965
Hi again,

Is this fixed?

[2019-05-01 05:37] lakhujanivijay commented on #5992
So, I figured it out. The correct way to do that is :

[code]

[2019-05-01 05:37] #5992 closed

[2019-05-01 11:55] jjgao commented on #5992
@lakhujanivijay thanks for the update. Would it make sense to add your solution to documentation?

[2019-05-01 12:01] jjgao commented on #6013
I am not sure about this. Maybe we should just improve our documentation and simplify the deployment process?

[2019-05-01 12:01] lakhujanivijay commented on #5992
@jjgao Yes, please do that. It would be really helpful for others. Thank you :smile:

[2019-05-01 12:04] jjgao commented on #6016
@onursumer any update?

[2019-05-01 12:09] jjgao commented on #5992
@lakhujanivijay would you like to update the documentation and send a pull request to us? :)

[2019-05-01 12:13] jjgao commented on #5937
@tmazor it may not be easy to do -- a sample may have different gene panels for different profiles. Maybe we should just curate the clinical attribute gene_panel? What are the studies that are missing the gene_panel attribute?

[2019-05-01 12:30] #5981 closed

[2019-05-01 13:14] tmazor commented on #5937
@jjgao is the clinical attribute gene_panel derived from the data in the data_gene_matrix.txt file during upload? i think that would work well - we could have a mutations gene panel chart and a CNA gene panel chart.

[2019-05-01 14:10] dippindots commented on #5965
@lakhujanivijay Hi, sorry for the late response. For this issue: it is not an external link, just redirect to the other section([gene panel data](https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md#gene-panels-for-mutation-data)). Thanks for pointing out another broken redirection, looking at it.

[2019-05-01 14:41] tmazor commented on #6033
@jjgao @schultzn Actually, this is a much bigger issue: what about every other tab? At first glance, OncoPrint, Plots & Download might be the only tabs that acknowledge a sample as not profiled. For some tabs it may not matter (e.g. Mutations might be fine as is), but for many tabs this could significantly impact the analysis.

For example: http://bit.ly/2UVaVeI
- The cancer types summary alterati

[2019-05-01 18:18] inodb opened #6038 "PTM make track expanded by default"

[2019-05-01 18:20] inodb opened #6039 "PTM in mutation table"
PTM column in mutation table. Exact match with location (and come up with some allowed customizable range e.g. 10 AAs + upstream/downstream can be different)

[2019-05-01 18:25] inodb opened #6040 "Mutations tab show all cancerhotspots for a gene"
Not just the ones with a mutation

[2019-05-01 18:26] inodb opened #6041 "Mutations tab show all oncokb annotations for a gene"
not just the ones with a mutations

[2019-05-01 18:39] tmazor opened #6042 "PTM: clicking the link to dbPTM in the info pop-up toggles the expansion of the PTM tracks"
If I click the dbPTM link, the link opens in a new tab, which is great, but when I click back over the cBioPortal tab, then the PTM sites have toggled open (if previously closed) or closed (if previously expanded)

[2019-05-01 18:40] tmazor opened #6043 "PTM: use full words in dropdown menu"
I think it's clearer to say "Post Translational Modifications" rather than "PTM sites" in the "Add annotation tracks" menu.

[2019-05-01 18:45] tmazor opened #6044 "annotation tracks should download with lollipop plot"
If annotation tracks are added, and I download the lollipop plot, those tracks should be in the downloaded image also. Currently the downloaded image is just the lollipop plot.

[2019-05-01 18:51] tmazor opened #6045 "PTM: add to mutations table"
Let's add a new column to the Mutations table to provide the PTM annotation just like the OncoKB/CIVIC/etc annotations. This should also be included in the download of the table.

[2019-05-01 19:17] inodb commented on #6045
duplicate of #6039

[2019-05-01 19:23] tmazor commented on #6045
d'oh!

[2019-05-01 19:23] #6045 closed

[2019-05-01 21:19] jjgao commented on #5937
@tmazor I don't think the gene_panel data was derived from data_gene_matrix.txt, but that would work. Having two gene panel charts may work well too.

[2019-05-01 21:23] jjgao commented on #6033
@tmazor other tabs would be more difficult to do when querying 2 or more genes. Maybe we should add some warning to start?

[2019-05-01 23:02] inodb commented on #4832
@fedde-s @pieterlukasse made a PR here: https://github.com/cBioPortal/cbioportal/pull/6046. We can discuss further

[2019-05-02 14:47] rdistefano opened #6047 "No case lists available for all brca_tcga"
It seems there are no cases available for all brca_tcga*

[code]

[2019-05-02 15:14] jjgao commented on #6047
it's confirmed: https://www.cbioportal.org/webservice.do?cmd=getCaseLists&cancer_study_id=brca_tcga

@n1zea144 @ritikakundra @yichaoS could you look into this?

[2019-05-02 15:29] tmazor commented on #6033
@jjgao agree! let's add a warning to the other tabs, and then let's think about how to deal with this for multi-gene queries. I'll make issues for both of those and leave this one as just a fix to MutEx.

[2019-05-02 15:41] tmazor opened #6049 "add warning to results view tabs that don't respect gene panels"
Only some tabs on results view respect gene panels. We need to provide a warning to users on the tabs that don't.

The tabs that need warnings are:
Cancer Type Summary
Survival
Enrichments (I think?)

Tabs that respect gene panels are:
OncoPrint
MutEx (once #6033 is fixed)
Plots
Download
Co-expression

Tabs where I think it doesn't matter:
Mutations
CN Segments

@jjgao can you confirm my lists abo

[2019-05-02 16:01] jjgao commented on #6049
@tmazor Thanks for the list. I think co-expression should be moved to the last category. Others look good.

We should only display the message when there are "not profiled" samples in any of the query genes.

[2019-05-02 16:23] ritikakundra commented on #6047
@jj Not sure of the issue. @rmadupuri confirmed that all caselists for this study were added in datahub as well as reimported to public portal

[2019-05-02 17:40] adamabeshouse commented on #6049
Co-expression definitely shows not profiled when youre displaying mutations

[2019-05-02 18:51] yichaoS commented on #6047
@jjgao The data itself and the data in the database are both fine I believe. Because:
1) The same API works for the private portal (https://cbioportal.mskcc.org/webservice.do?cmd=getCaseLists&cancer_study_id=brca_tcga). I doubled checked both the private and public database, the case lists there for brca_tcga are identical.
2) The newer version of our API also works fine for this study on both pri

[2019-05-02 19:29] jjgao commented on #6049
@adamabeshouse that's true. Forgot about the plot in the coexp tab.

[2019-05-02 19:50] adamabeshouse opened #6050 "support germline and driver annotation in oncoprinter"

[2019-05-02 21:08] #6031 closed

[2019-05-02 21:09] #6028 closed

[2019-05-02 21:18] tmazor commented on #6049
Thanks @adamabeshouse! I will update the list.

[2019-05-02 21:19] tmazor commented on #6049
@jjgao agree about only showing this when it is relevant - I've added your comment to my original one ot keep everything together

[2019-05-02 21:21] tmazor opened #6051 "plan to add gene panel to all results view tabs"
Currently only some tabs incorporate gene panel data (see #6049).

We need to come up with a plan for how to properly include gene panels on all other tabs (cancer type summary, survival & enrichments).

For a single gene query, I think there is a relatively simple solution: sample that were not profiled for that gene should be excluded from the analysis.

However, with queries for multiple genes

[2019-05-02 22:01] nabeelmerchant1 commented on #6013
@jjgao Ino had also suggested the same. Currently implementing  a plan to simplify the documentation and deployment procedure.

[2019-05-02 23:54] #6013 closed

[2019-05-03 07:12] lakhujanivijay opened #6052 "Cannot find skin.custom_header_tabs in portal.properties file."
Hi

I want to add `Pathology Report` and `Tissue Image` tab into local cbioportal instance; just as shown [here](http://www.cbioportal.org/patient/pathologyReport?caseId=TCGA-D5-6530&studyId=coadread_tcga)

I looked at the [documentation](https://docs.cbioportal.org/2.3-customization/customizing-your-instance-of-cbioportal) and I can see that it is possible by modifying `portal.properties` file ,

[2019-05-03 07:12] Sjoerd-van-Hagen commented on #6051
I think it makes sense. My only concern is that we cannot keep adding toggles and switches. I think at some point we need to have an advanced user mode that allows you to do things that are 'dangerous', while the 'normal' mode only allows things that are safe. In that mode you would always ignore samples that are not profiled.

[2019-05-03 10:25] pieterlukasse opened #6053 "Simplify authentication documentation"
Authentication documentation is currently unnecessarily complicated at
https://docs.cbioportal.org/2.2-authorization-and-authentication/authenticating-and-authorizing-users-via-keycloak#modifying-configuration
and
https://docs.cbioportal.org/2.2-authorization-and-authentication/authenticating-and-authorizing-users-via-keycloak#doing-a-test-run
since it assumes the configuration still needs to be b

[2019-05-03 12:47] jjgao commented on #6052
I don't think the tabs in patient view are configurable. @alisman @inodb could you confirm?

@lakhujanivijay is this for your own local samples? Where are the path reports and tissue images stored?

[2019-05-03 15:05] arnaudceol commented on #4266
@priti88 we have the exact same issue, did you solve it?

http://localhost:8080/oncokb/api/v1/genes is working, but if I set oncokb.public_api.url=localhost:8080/oncokb/api/v1/ , it make a query to http://localhost:8080/cbioportal/proxy/localhost:8080/oncokb/api/v1/genes which returns org.springframework.web.util.NestedServletException: Request processing failed; nested exception is org.springfram

[2019-05-03 15:24] dippindots commented on #6033
Hi @tmazor @jjgao I want to confirm that for the merged group oql, if we have some samples are not profiled in one gene but profiled in other genes, should we exclude these samples? In this sample [link](http://www.cbioportal.org/results/oncoprint?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=msk_impact_2017&case_ids=msk_impact_2017%3AP-0000192-T02-IM3%2Bmsk_impact

[2019-05-03 15:50] arnaudceol commented on #4266
Ok, I figured it out. I'm working with containers (docker-compose), so I had to use `oncokb.public_api.url=oncokb:8080/oncokb/api/v1/` , where oncokb is the name of the container.

[2019-05-03 16:01] jjgao commented on #5525
There is some discussion about coding states into URL in #2212, which made me think of adding state into url as json format.

- [ ] define the UI states in a json
- [ ] add the state json to url, e.g. `#state=...`
- [ ] UI change will trigger url change
- [ ] click on the link icon will generate a new session with the state

[2019-05-03 16:57] jjgao commented on #5525
@adamabeshouse @alisman what do you think? Maybe we can also use the same approach for comparison page?

[2019-05-03 17:05] Sjoerd-van-Hagen commented on #5525
We could actually use the same JSON format for defining defaults in the portal properties (but allow users to supply them as YAML). This way the code and documentation to parse from URL, session service and portal properties can be the same.

[2019-05-03 17:16] jjgao commented on #6033
@dippindots If the sample has no date for a gene in all queried profiles, the sample should be excluded when calculating pairs that include that gene. For example, in [this query](http://bit.ly/2ZTUNOv), only the first 6 samples will be used for calculating ACVR1-KRAS and ACVR1-EGFR, but all 14 samples will be used for calculating KRAS-EGFR.

![image](https://user-images.githubusercontent.com/8408

[2019-05-03 17:28] dippindots commented on #6033
Thanks @jjgao! Yes, this is my implementation now, but for gene groups:  http://bit.ly/2VDxwkD. If you expand the `TEST` group, you can see some of the samples are not profiled, but for the whole group, the alteration rate is 2/14 which means we think all the samples are profiled. Should we follow the same rules for mutex?
![image](https://user-images.githubusercontent.com/15748980/57154604-52585f

[2019-05-03 17:52] jjgao commented on #6033
@dippindots yes, you can follow the same logic, ie. a sample should be excluded only if it's not profiled in all genes.

[2019-05-03 18:23] adamabeshouse commented on #5525
man that could get long and ugly. is it important for it to be easily readable by the user? if not maybe we can base64 encode json in the URL

[2019-05-03 20:52] jjgao commented on #5525
@adamabeshouse I think it should be readable (not necessary easily) so that people can customize the URL for links.

[2019-05-03 21:04] adamabeshouse commented on #5525
@jjgao what do you mean customize? you mean hand-change parameters?

[2019-05-06 09:23] lakhujanivijay commented on #6053
Thanks @pieterlukasse for that

[2019-05-06 12:14] nabeelmerchant1 commented on #6053
@pieterlukasse We should ideally pass this to GSDOC

[2019-05-06 12:26] j-hudecek opened #6056 "Z-score normalization script breaks down without EntrezIDs"
The [z-score normalization script](https://cbioportal.readthedocs.io/en/latest/Z-Score-normalization-script.html) requires Hugo symbol OR Entrez_gene_id (just like the copy number import pipeline) at the start of each line of the discrete copy number data file.
However, if the data file contains only Hugo symbols the script breaks down, printing this message for each line:

    NormalizeExpression

[2019-05-06 12:37] pieterlukasse commented on #6053
@nabeelmerchant1 did we get a GSDOC project?

[2019-05-06 13:41] jjgao commented on #5525
@adamabeshouse yes, or assemble a url by themselves.

[2019-05-06 13:44] jjgao commented on #6053
Our Google Season of Docs application was turned by Google, unfortunately.

[2019-05-06 14:06] nabeelmerchant1 commented on #6053
@jjgao @pieterlukasse  Willing to work on this even though the organisation didn't get selected. I have put multiple proposals forward working on several documentation issues with MSKCC open projects. Will be updating my proposal to include this issue to.  Will be sending my proposal out shortly.

[2019-05-06 14:27] alisman opened #6058 "Create new config property for google analytics reporting feature"
Study the way we handle google analytics key "google_analytics_profile_id"

Namely, it needs to be added to list in this jsp, which is what communicates the config data to frontend.

/Users/aaronlisman/IntelJProjects/portal/src/main/webapp/config_service.jsp

[2019-05-06 14:34] inodb opened #6059 "change oql text banner"
1. ![Screen Shot 2020-06-22 at 3.40.38 PM.png](https://images.zenhubusercontent.com/58337ef1b9dc3c622022519c/4044bb9c-2bf0-48ad-80c0-8812ad8c2fe9)

2. ![Screen Shot 2020-06-22 at 3.40.43 PM.png](https://images.zenhubusercontent.com/58337ef1b9dc3c622022519c/0d2cf306-9f4f-4298-8ad0-f3ecdce1f129)

4. ![Screen Shot 2020-06-22 at 3.43.43 PM.png](https://images.zenhubusercontent.com/58337ef1b9dc3c622022

[2019-05-06 14:54] inodb commented on #6052
@jjgao @lakhujanivijay This is is indeed not supported currently. The pathology report and tissue images are hardcoded for TCGA.

We are planning to allow adding any type of PDF to a patient in a specific "Files" tab which might work for your use case? Could you elaborate a bit on your use case? Thanks!

[2019-05-06 15:02] inodb commented on #6047
This is fixed (the portal wasn't restarted after data import)

[2019-05-06 15:02] #6047 closed

[2019-05-06 15:09] kalletlak commented on #5990
@schultzn @jjgao could you come up with some mock UI design on where to show the plot and all filtering options

[2019-05-06 15:20] #6058 closed

[2019-05-06 16:10] dippindots commented on #6035
Hi @lakhujanivijay, this link has been fixed to redirect to the right position "[Gene panel Matrix file](https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md#gene-panel-matrix-file)". If you have other questions regarding this, please let me know!

[2019-05-06 16:25] dippindots commented on #3242
same issue with the https://github.com/cBioPortal/cbioportal/issues/6033

[2019-05-06 16:25] #3242 closed

[2019-05-06 16:52] jjgao commented on #6047
@yichaoS: curious what was the issue?

[2019-05-06 17:02] jjgao commented on #5990
@kalletlak you can add the chart on top as the third chart once #6030 is done. Maybe you can take #6030 as well?

![image](https://user-images.githubusercontent.com/11892704/56975605-29359580-6b3f-11e9-9eaa-eaac71d1d906.png)

[2019-05-06 17:08] jjgao commented on #5990
For sorting, let's give three options:

1) decreasing order by max frequency in any cancer type (default)
2) decreasing order of average frequency
3) decreasing order of p value

Can we add a star when q is significant (<=0.05)?

[2019-05-06 17:09] #6035 closed

[2019-05-06 17:09] kalletlak commented on #5990
@jjgao do we want the table if there are more than 2 groups?

[2019-05-06 17:40] inodb commented on #6047
@jjgao it was b/c the aws tomcat wasn't being restarted after study import

[2019-05-06 18:12] jjgao commented on #5990
@kalletlak I think so. I can be similar to `Clinical` tab. I guess `Chi-square Test` will be used?

If we do that, `Mutations` and `CNAs` tab will have different tests based on the number of groups. Should we do the same for `Clinical` tab?

[2019-05-06 18:13] jjgao commented on #6047
@inodb got it. Thanks! I assume now we have fixed the process.

[2019-05-06 18:16] onursumer opened #6994 "Improve react-mutation-mapper readme"
Add better usage examples for available components

[2019-05-06 18:36] adamabeshouse commented on #5525
but is it really preferable to have giant json encoded parameter strings? how often is that really done vs building a state within the app then linking to it?

[2019-05-06 18:38] inodb commented on #6047
@sheridancbio @n1zea144 do u know if this is the case? The restart script gets executed after import now?

[2019-05-06 18:45] jjgao commented on #5525
@adamabeshouse I think we should just support a selected core set of states instead of adding everything in the store. As whether we should use json or yaml or another format, it's up to discussion.

Here are some requirements I can think of - it's repeating what's up there:

* A core set of states should be supported and documented
* A non-core set of states can be passed in, but if the applicati

[2019-05-06 18:54] alisman commented on #5525
Just wanted to float the idea of both having a "session" stored by session service, and then also so url parameters in which a user can deep link particular view parameters (e.g. sorting, maybe even group on/off).  This way we don't want to update the persistant sessions every time the user makes a small change.  So, it would look something like this:

comparison/?sessionId=xxxxx&hiddenGroups=grou

[2019-05-06 19:04] jjgao commented on #5525
@alisman yes, good idea. (I proposed that above too :)

I guess we are more comfortable with &-delimited parameters in the url? If so, let's move forward with that.

[2019-05-06 19:09] alisman commented on #5525
@jjgao sorry for repeating you!  so, when a user first clicks "compare," do we create a session?  if not how do we store the spec?  could be localstorage or url hash or even js memory.  we just have to decide if user needs to be able to refresh (devs want to refresh!)
then, once user gets to comparison session, what are the actions which would result in a new session (as opposed to just altered ur

[2019-05-06 19:23] jjgao commented on #5525
@alisman this ticket was originally for the Results page, but it can apply to Comparison page too.

Session service will be required, so we will always create a session for Comparision page. A new session will be created when the user click the link icon. (@adamabeshouse I think we don't need to save concept with parameters in url)

[2019-05-06 19:34] onursumer opened #6062 "cbioportal-frontend-commons package"
Expose certain shared components of `cbioportal-frontend` repo as a standalone library `cbioportal-frontend-commons`, so that we can include them as dependencies in separate projects like https://github.com/cBioPortal/react-mutation-mapper.

[2019-05-06 20:57] tmazor opened #6064 "beta: prevent scrolling of study view by gene panel tooltip"
Mutations & CNA tables in study view now have a tooltip for the frequency which provides the denominator and list of gene panels on which the gene was present. This is great!

However, clicking on a gene panel name opens a pop-up, and when that opens, it scrolls the study view page to the top. Opening that gene panel gene list should not scroll the study view window.

[2019-05-06 21:29] mrswagbhinav commented on #6059
I want to help out. Did you want them to both be styled the same?

[2019-05-07 14:04] jjgao commented on #5990
For two groups:

- keep the current table
- Change "Enriched in group x" into a dropdown
- add bar plot to the top

For three groups or more:
- add bar plot to the top

In the table:
- Gene
- Cytoband
- Freq per group
- Static score (chi-square score?)
- p
- q
- if possible, `Enriched in`

For filter:
- Significant only
- Change "Enriched in group x" into a dropdown

[2019-05-07 14:40] jjgao opened #6065 "tracking web api usage in GA"
We want to send google analytics custom events from the server in order to track usage of webservice.do endpoint that is consumed directly by the r-client or even direct api requests from scripts.

https://www.cbioportal.org/api

We should differentiate the traffic from web api and from other clients if possible.

[2019-05-07 16:06] timchu90 opened #6066 "unable to hide by default clinical data for study view"
As described here (https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md#data-files), attribute charts should be able to be hidden in the study view when given a priority value of 0.

This currently isn't working in a local build of cbioportal release 2.2.0

[2019-05-07 17:24] n1zea144 commented on #5613
Hi @khzhu Any progress on this?  It was reported by another GENIE user recently.

[2019-05-07 17:36] jjgao commented on #4882
@inodb is this still an issue?

[2019-05-07 17:39] khzhu commented on #5613
Hi @n1zea144 , was told to hold till JJ came back. Hongxin and myself had some discussion on how to implement web APIs to retrieve the Fusion data from the database. Fusion currently is stored in the mutation/mation_event table, so it does not has it own business models, web services would still have to use those mutation repositories.
I will ask @jjgao if we could schedule a meeting to discuss th

[2019-05-07 19:20] #6029 closed

[2019-05-07 19:52] #6024 closed

[2019-05-07 20:07] onursumer commented on #6016
@jjgao @inodb Looks like we rank `5XZC` as the highest PDB structure to load. However, 3Dmol cannot download any structure for this PDB: http://3dmol.csb.pitt.edu/viewer.html?pdb=5XZC.

[2019-05-07 20:26] onursumer commented on #6016
NGL has no problem loading it: https://www.rcsb.org/3d-view/5XZC/1, maybe we should switch to NGL :)

[2019-05-07 20:51] #6032 closed

[2019-05-07 21:07] onursumer commented on #6016
Opened a ticket at 3dmol.js issue tracker: https://github.com/3dmol/3Dmol.js/issues/415

[2019-05-07 21:10] inodb commented on #6016
@onursumer

- might be an option. Im not too familiar with either. If the general consensus is that NGL works better these days it could be worth switching. Does seem like it could potentially cause other issues
- how does the current ranking of PDB structures work? What is it based on?

[2019-05-07 21:15] onursumer commented on #6016
@inodb ranking is based on the `identity` value and the alignment length returned by `g2s` service. Here you can find the full sort metric: https://github.com/cBioPortal/cbioportal-frontend/blob/9c5b2e874d5d08a9a46a10521c2b5d8918dea6d8/src/shared/components/mutationMapper/MutationMapperStore.ts#L371

[2019-05-07 21:21] inodb commented on #6016
@onursumer Thanks! If there's no quick response to the 3d mol issue tracker bug: maybe a temporary fix could be to have a list of ignored structures?

[2019-05-07 21:32] onursumer commented on #6016
@inodb that may work, but detecting empty structures might be tricky/hacky. The only indication is this webGL warning message in the console: `[.WebGL-0x3c66aae86000]RENDER WARNING: Render count or primcount is 0.`

[2019-05-07 21:43] inodb commented on #6016
@onursumer good point - i thought maybe we only hardcode the TP53 structure 5XZC. Then add more if any other broken ones are reported. Until we find a proper fix. But yeah let's see if it's an easy fix on their end

[2019-05-08 04:46] #5911 closed

[2019-05-08 08:29] pieterlukasse commented on #5960
hi @jjgao, @yichaoS : I couldn't find a reply in the email thread. Can we please still do this before closing the issue?

[2019-05-08 08:59] pvannierop opened #6069 "Icon elements not showing in PlotsTab"
In rc branch there seems to be a problem with buttons/icons that use font awesome icons. The information hover-over icons for datasources are not showing in PlotsTab. Same for the download icon in the plots.

![Screenshot from 2019-05-08 09-21-00](https://user-images.githubusercontent.com/745885/57362935-2e6a9400-7180-11e9-9836-03dd929eb75a.png)

[2019-05-08 15:36] alisman commented on #6069
fixed by https://github.com/cBioPortal/cbioportal/pull/6055

[2019-05-08 16:48] #6038 closed

[2019-05-08 16:51] #5837 closed

[2019-05-08 16:51] #6042 closed

[2019-05-08 16:51] #6043 closed

[2019-05-08 17:38] AndyBlake commented on #6066
Also the order of fields is being completely ignored on my version of 2.2.0 but 2.1.0 works fine with the same data.

[2019-05-08 18:58] zhx828 commented on #5613
- Make sure `https://www.cbioportal.org/api/swagger-ui.html#/Study_View/fetchMutatedGenesUsingPOST` will only return mutations (it's under internal set of endpoints)
- Add an new endpoint  `/fusions/fetch` under internal study view returning the fusion data
- The sql query should support the filtering, by default, returning everything(this is important for other pages)
- Follow the data stream of

[2019-05-08 18:59] zhx828 commented on #5613
@khzhu let me know if you have more questions

[2019-05-08 19:00] khzhu commented on #5613
thanks, @zhx828! will take a look and get back to you.

[2019-05-08 19:22] jjgao commented on #5613
A tricky one is gene panel. We don't have proper gene panel for fusions because the gene panel for mutations are not the same as fusions. And also fusion partners are everywhere.

One option is ignore gene panels. The problem will be that the frequencies will be lower than the actual number.

Moveover, in GENIE, only a subset has fusion data. Maybe we can create a fusion case list and use that as

[2019-05-08 19:26] khzhu commented on #5613
thanks, @jjgao ! agree. it might be a good idea to set gene panel aside and see if the new fusion api will resolve the issue Niki reported first.

[2019-05-08 19:28] n1zea144 commented on #5613
It would be relatively easy for us to create a fusion case list for IMPACT samples.  Seems like a good way to restrict the mutation frequency to a pool of samples where fusion calls were attempted to be made.

[2019-05-08 20:24] tmazor commented on #5665
Exciting!! So glad this is happening @dippindots !

First, what happened to adding a link to study view for the altered/unaltered samples?

Second, while I love the idea of these Query buttons, I'm not sure about this specific implementation. Right now you essentially can run a query in which either 100% of samples are altered or 0% of samples are altered. What about allowing the user to define th

[2019-05-09 14:38] alisman opened #6074 "On enrichments tab, table checkboxes don't work"
Click on checbox and checkbox does not become checked. (It does work on production)

https://beta.cbioportal.org/results/enrichments?Z_SCORE_THRESHOLD=2.0&cancer_study_id=coadread_tcga_pub&cancer_study_list=coadread_tcga_pub&case_ids=&case_set_id=coadread_tcga_pub_nonhypermut&gene_list=KRAS%20NRAS%20BRAF&gene_set_choice=user-defined-list&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=coadread_

[2019-05-09 14:39] khzhu commented on #5613
Hi @jjgao @zhx828 , here is my plan:
1. backend:
- [ ] modify existing myBatis query **getSampleCountInMultipleMolecularProfiles** and filter out fusions
- [ ] add a new myBatis query **getSampleCountInMultipleMolecularProfilesForFusion** to pull only Fusions out from the **_mutation_** table.
- [ ] add a new web service **_getSampleCountInMultipleMolecularProfilesForFusion_**
- [ ] add a new API

[2019-05-09 14:59] jjgao commented on #5613
@n1zea144 it would be great if you can priotize that. The case list ID can probably be `[study_id]_fusion`.

@khzhu if the fusion case list exists, please use it (its overlapping samples with selected samples) as the denominator; otherwise, use all selected samples.

[2019-05-09 15:09] khzhu commented on #5613
@jj, will work on fusion case list with @n1zea144 . thanks!

[2019-05-09 15:36] jjgao commented on #6066
@zhx828 @kalletlak thoughts?

[2019-05-09 15:39] jjgao commented on #5665
@tmazor It may be tricky to handle all these scenarios in the Download tab. Maybe we should only add the link to study view of these samples and let the user start query from there?

[2019-05-09 15:47] jjgao commented on #5665
Or we could address "Modify Genes" for now and leave gene panel for later when we have a solution for #6051?

I think it's a good idea to modify genes. One simple option would be: instead of submitting the query directly, we could just open "Modify Query" interface and change the querying sample list (and highlight and put some text to tell the user it's changed). Then we can leave the user to mod

[2019-05-09 17:12] jjgao opened #6075 "order of custom groups"
The order seems random. Maybe we can order them alphabetically?

![image](https://user-images.githubusercontent.com/840895/57472650-fa64a100-725b-11e9-94aa-f18970970878.png)

[2019-05-09 17:14] jjgao opened #6076 "comparison from pie chart not working"

[2019-05-09 17:30] adamabeshouse commented on #6076
more details please? looks working to me

[2019-05-09 17:31] adamabeshouse commented on #6075
good idea

[2019-05-09 17:32] alisman opened #6077 "tooltip position for button on homepage (Curated set of ...)"
![image](https://user-images.githubusercontent.com/186521/57473818-b8892a00-725e-11e9-89ef-0e83b189b40b.png)

This tooltip is improperly positioned.  We should think about forcing text in this particular tooltip to wrap (set a fixed width)

[2019-05-09 17:51] adamabeshouse opened #6078 "feedback from knowledge systems meeting"
- [x] what to do when group names too long?
- [x] create new group button should be blue

[2019-05-09 18:15] alisman opened #6079 "Patient view e2e failure"
Please diagnose problem with this:

new sorted patient order correct - 1

https://circleci.com/gh/cBioPortal/cbioportal-frontend/35399

[2019-05-09 18:20] priti88 opened #6080 "Expand the Gene list to include additional pathway"
User request: https://groups.google.com/forum/#!topic/cbioportal/aYQssXggM-Q

[2019-05-09 18:32] jjgao commented on #5613
@khzhu I think you can assume _fusion case list may exist. Once @n1zea144 creates the case list, it'll work.

[2019-05-09 18:33] khzhu commented on #5613
@jjgao , okay, thanks!

[2019-05-09 18:35] zhx828 commented on #6066
@timchu90 @AndyBlake  I do need some more information about the issue. Could you tell me the following
- which db schema version you are using?
- In the endpoint `api/clinical-attributes/fetch`, does it return proper priority?
- Do you have a testing instance anywhere that I can take a look?

[2019-05-09 18:50] timchu90 commented on #6066
- 2.8.2
- yes it is the proper priority.
- sorry unfortunately no.

A little more information, I encountered this when building a new combo type chart for the study view in cbioportal-frontend. My input had multiple new values for a patient that were combined to make a new chart similar to the survival chart. So the idea was to hide the default bar/pie charts that show up as a result of adding cus

[2019-05-09 19:10] dippindots commented on #6079
@alisman This is a data related issue. Those oncoprint tests have been turned into screenshot tests in @adamabeshouse 's pr: https://github.com/cBioPortal/cbioportal-frontend/pull/2295. So that will be easier to debug.

[2019-05-09 19:19] adamabeshouse opened #6081 "coexpression API correlation bug"
if you use two of the same profile, it seems like the correlation and p-values are wrong, as measured by agreement with the independent frontend calculations in the chart.

when using two different profiles, the correlation and p-values are right

right:
![image](https://user-images.githubusercontent.com/636232/57480454-c2fef000-726d-11e9-9926-8255224782f9.png)

wrong:
![image](https://user-images

[2019-05-09 19:27] adamabeshouse opened #6082 "put study view chart buttons in context menu"

[2019-05-09 19:43] jjgao commented on #6076
working after clearing heroku local storage.

[2019-05-09 19:43] #6076 closed

[2019-05-09 19:49] #6079 closed

[2019-05-09 19:57] dippindots commented on #5665
Thanks for your comments, @jjgao @tmazor.

Could you confirm that we want to make the following change:
- [ ] Update download tab texts(Altered samples, Unaltered samples, and Sample matrix)
- [ ] When the user clicked the "Query" button. Open "Modify Query" interface and change the querying sample list
- [ ]  Show a highlight alert "altered/ unaltered samples has been added" to tell the user it's

[2019-05-09 21:14] zhx828 commented on #5296
@jjgao @Sjoerd-van-Hagen @adamabeshouse the colors will be updated to:
true/yes/positive/diseasefree/tumorfree: `#109618`
false/no/negative/recurred-progressed/withtumor: `#DC3912`
female: `#E0699E`
male: `#2986E2`
unknown/other: `#A9A9A9`
na: `#D3D3D3`

Please let me know whether you wanna make any changes

[2019-05-09 21:37] #5834 closed

[2019-05-09 21:39] zhx828 commented on #6066
@timchu90 sounds like you are trying to debug in the frontend? Did you modify both `serverConfigDefaults` and `StudyViewConfig`?

[2019-05-09 21:49] #3568 closed

[2019-05-09 21:53] zhx828 commented on #5916
@sgspaddy I believe this is due to oncokb would not return any mutation effect for this alteration and in the implementation of oncokb, the mutationEffect filed will return null. Let me double check the case, could you give me the gene/alteration/tumor type you are looking at?

[2019-05-09 21:53] zhx828 commented on #5716
@schultzn @jjgao @Sjoerd-van-Hagen do we have a conclusion yet?

[2019-05-10 08:19] AndyBlake commented on #6066
Hiya

2.8.2
Yes and response is the same between versions
sorry behind basic auth and keycloak auth

Can send api response data via email if that is of any help?

[2019-05-10 08:46] AndyBlake commented on #6066
![2 2 0_Version](https://user-images.githubusercontent.com/1448122/57513574-79161880-7306-11e9-99a3-354f0c78e800.png)
![2 1 0_Version](https://user-images.githubusercontent.com/1448122/57513575-79161880-7306-11e9-9ce4-4f33b5449e05.png)
[clin_api_reteurn_edited.txt](https://github.com/cBioPortal/cbioportal/files/3165572/clin_api_reteurn_edited.txt)

json response with study id changed but which dat

[2019-05-10 15:10] inodb opened #6083 "FAQ header links don't seem to be working"
e.g.

https://www.cbioportal.org/faq#does-the-portal-work-on-all-browsers-and-operating-systems

[2019-05-10 15:28] alisman opened #6084 "Update tooltips in group columns in Enrichment tables"
Tooltip for group alteration columns in Enrichments tables should read:

“###GroupName###: Number (percentage) of samples that have a mutation in the listed gene.”

Niki wants to make sure that when the table header <tr> is truncated (...), the tooltip prints the whole name in addition to description.

[2019-05-10 15:38] alisman opened #6085 "Comparison UI: Venn diagram new group buttons should be btn-primary"

[2019-05-10 16:03] #6016 closed

[2019-05-10 16:36] #6021 closed

[2019-05-10 17:52] jjgao opened #6086 "Groups button not working on msk portal"
![image](https://user-images.githubusercontent.com/840895/57546477-cf954e00-732a-11e9-8812-d22a94bc4af9.png)

[2019-05-10 18:15] alisman commented on #6078
@adamabeshouse #2 is done

[2019-05-10 20:24] alisman opened #6087 "Fix loading behavior of group comparison (study name at top of page)"
![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/a7de7ac0-28d9-4b5c-93f5-6c8cab96e6e8)

[2019-05-10 20:32] jjgao commented on #5665
Thanks, @dippindots.

I would postpone this until we have a solution for #6051

Yes, we need.

[2019-05-10 20:33] jjgao commented on #5296
should unknown and na have the same color?

[2019-05-10 20:35] sandertan commented on #5296
Nice colors!

[2019-05-10 20:36] jjgao commented on #5716
@zhx828 based on the discussion above, we can go ahead with the oncokb icon, I think.

[2019-05-10 20:48] zhx828 commented on #5296
@jjgao yeah, it makes more sense to me unknown is the same as NA. I can change that.

[2019-05-10 21:06] tmazor commented on #5665
Thanks for the summary @dippindots - I agree with all of the above. Nice idea @jjgao about jumping straight to modify query!

[2019-05-10 21:21] khzhu commented on #5613
@jjgao @zhx828 , quick updates on this. I got backend part done, now working on the frontend, adding the new fusion table.
Have a quick question: since we filter out fusions from muteded_genes, those fusions will not show up in the oncoprint is that okay?

[2019-05-10 21:22] zhx828 commented on #5613
I think the decision is leave other pages unaffected, only filter out
fusions out of mutated genes table in study view.

On Fri, May 10, 2019 at 5:21 PM Kelsey Zhu <notifications@github.com> wrote:

[2019-05-10 21:24] khzhu commented on #5613
seems that query is used by oncoprint as well.

[2019-05-10 21:36] #6086 closed

[2019-05-10 21:37] adamabeshouse commented on #6025
unit tests done here https://github.com/cBioPortal/cbioportal-frontend/pull/2309

[2019-05-10 21:57] inodb opened #6088 "Group comparison error for cna when data >90"
https://cbioportal.mskcc.org/beta/comparison/cna?sessionId=5cd5cbf9e4b0ab4137873fcd

`java.lang.NumberFormatException: For input string: ">90"`

[2019-05-11 17:20] khzhu commented on #5613
@jjgao @zhx828 , I've completed all tasks as planned. Now, the **_Mutated Gene_**s table excludes all fusions (please see attached, the one on the left is the one excluding all fusions. I used [breast_msk_2018](https://www.cbioportal.org/study/summary?id=breast_msk_2018) dataset for testing), while new Fusion Genes table lists all fusions (please see attached). No other pages such as oncoprint are

[2019-05-12 16:04] Sjoerd-van-Hagen commented on #5296
Nice work!

This is regardless of the attribute name, right?

I think maybe the positive and negative should have different colors. Testing positive for a disease is usually not good. On the other hand if deceased is yes or true, that is also not good. Maybe a bit too hard to take those scenarios into account. Neutral colors could be better. Green suggests good, red bad.

[2019-05-12 16:09] Sjoerd-van-Hagen commented on #5716
I am fine with it but have a personal preference for a filter icon. Mainly because it is a filter. A hover over could show 'filter by oncokb cancer genes. That would still be one click but it is clear that a filter is set, and can be extended in the future. @schultzn what do you think?

[2019-05-12 20:01] zhx828 commented on #5296
@Sjoerd-van-Hagen this is regardless of the attribute name.
The meaning of positive is arbitrary among attributes. I think I would do a quick stats of current data usage to see what fits the best.

[2019-05-12 20:49] Sjoerd-van-Hagen commented on #5296
But there will always be situations in which it will be the other way around, regardless of which decision we make now. With neutral colors we won't have that problem.

What do you think? @schultzn @jjgao

[2019-05-13 09:24] AndyBlake commented on #6066
Shall I open an new issue as it looks like we have different problems? I'll await your input @zhx828  @kalletlak

[2019-05-13 12:59] paulcwvandijk commented on #3395
I was wondering whether the warning message, when selecting two or more studies, can be improved. The current warning "This study _may_ share...." may be a bit vague for end-users. I understand this may be complex and probably (performance wise) an expensive query but as an end-user I would prefer to receive a warning that the selected studies do share samples with another study when this is actua

[2019-05-13 13:10] paulcwvandijk commented on #6025
When selecting studies with overlapping patient+sample IDs I would expect this to be shown in the Venn diagram. When doing this:
<img width="733" alt="TCGA studies with overlapping patients samples" src="https://user-images.githubusercontent.com/44695112/57623941-256b2f80-7591-11e9-8e83-0ec539d01322.png">

Creating groups:
<img width="380" alt="creating groups" src="https://user-images.githubuserc

[2019-05-13 13:58] zhx828 commented on #6066
@AndyBlake @timchu90 I do want to let you know we updated the sorting method in this pr, so the charts layout will be different comparing to 2.1.0 but priority should be respected though. I do want to get the bottom of this issue, so @AndyBlake I'm going to setup a seed database and mock your data to see whether I can produce the expected layout or the layout I think it should be.

@timchu90 I do

[2019-05-13 14:31] timchu90 commented on #6066
@zhx828 Sorry for the delay in response. While I am debugging cbioportal-frontend, this is something that i observe in a fresh install of cbioportal-frontend 2.2.0.

[2019-05-13 15:03] #6017 closed

[2019-05-13 15:04] #6020 closed

[2019-05-13 15:17] ao508 opened #6090 "MutationMapper not mapping for gene PLCG2"
See cbioportal discussion here: https://groups.google.com/forum/#!topic/cbioportal/WrljLR2bMhM

[2019-05-13 15:39] dippindots commented on #6004
Hi @coderrsid, any news for this ticket? Are you still working on it?

[2019-05-13 16:25] inodb opened #6092 "Browser Performance Overload with many groups"
Try https://beta.cbioportal.org/study/?id=prad_p1000

Then compare samples of metastatic site:

![Screen Shot 2019-05-13 at 12 20 59 PM](https://user-images.githubusercontent.com/1334004/57637521-a1f21400-7579-11e9-8ab2-4b23cb5c71be.png)

Then
![Screen Shot 2019-05-13 at 12 24 49 PM](https://user-images.githubusercontent.com/1334004/57637735-23e23d00-757a-11e9-81b8-a0d1f394d8c9.png)

Note: sometim

[2019-05-13 18:08] #6077 closed

[2019-05-13 18:11] adamabeshouse opened #6094 "the "Cancer Studies" pie chart in multiple study study view doesnt have a comparison shortcut"
also doesnt autofill a name when creating a group

[2019-05-13 18:16] adamabeshouse opened #6095 "fetch groups fails for multiple studies?"
steps to reproduce:

(1) https://beta.cbioportal.org/study?id=brca_tcga_pub2015%2Cbrca_tcga
(2) try to create a group
(3) after clicking "Create", the pane will show the loading indicator, but no groups will be loaded. Going into the network tab it seems the fetch groups call returned an empty array, even though the submit group call seemed to succeed and return an id.

[2019-05-13 19:30] jjgao commented on #6090
The user reported for PLCG2, MutationMapper tool was not able to show the mutation diagram for [their data]()(https://github.com/cBioPortal/cbioportal/files/3174448/Mutation_Mapper_Romain.xlsx).

After some digging we found that the canonical trascript ID (ENST00000564138) is only correct for [grch38](https://useast.ensembl.org/Homo_sapiens/Transcript/Summary?g=ENSG00000197943;r=16:81779291-819626

[2019-05-13 19:51] adamabeshouse commented on #6025
I'll move this discussion to a new issue:

[2019-05-13 19:52] adamabeshouse opened #6096 "issue when handling samples shared between studies"
https://github.com/cBioPortal/cbioportal/issues/6025#issuecomment-491815688

![image](https://user-images.githubusercontent.com/636232/57649837-361ea400-7597-11e9-9475-ad0379becf1c.png)

this is a case we had not considered... we identify samples by study id + sample id.

@jjgao @alisman please advise?

[2019-05-13 20:15] schultzn commented on #5296
I don't have a strong opinion on the colors for positive vs negative. Any suggestions for a better color scheme?

[2019-05-13 20:34] alisman opened #6097 "3.0.0 doesnt work in IE11"

[2019-05-13 20:58] inodb commented on #6088
seems fixed now

[2019-05-13 20:58] #6088 closed

[2019-05-13 21:04] Sjoerd-van-Hagen commented on #5296
Let's leave it as it is and see how people respond then. It is not a big deal.

[2019-05-13 22:02] ritikakundra opened #6098 "Remove Cancer Study ID from Single Studies"
Remove the cancer study ID column in the clinical tab (maybe from all tabs) from single studies since those are not helpful except in studies like a virtual cohort.

[2019-05-14 12:42] pieterlukasse commented on #4832
@inodb just a quick comment on the PR #6046 linked here: I don't think it solves the current issue, i.e. it does not "make all properties in GlobalProperties configurable in the same manner", since it leaves one or more of them to be configured via -D only. Are you planning to do a follow-up PR?

[2019-05-14 13:03] fedde-s commented on #4832
In addition, I believe that the current implementation leaves another inconsistency regarding properties that are not listed in the portal.properties file. For most properties, this will cause cBioPortal to use the default value listed in the code. However, for _some_ properties (ones that are read from the file by one of the various Spring applicationContext configurations instead of by the logic

[2019-05-14 13:36] pieterlukasse commented on #4832
good point by @fedde-s . I think we should also try to get rid of the "baked in portal.properties" (item 3 in @inodb's list above).

[2019-05-14 14:48] inodb opened #6099 "-Ddat.method has no default value"
Running without adding `-Ddat.method` gives runtime error:

[code]

[2019-05-14 14:56] inodb commented on #6099
Lol github doesn't understand `"needs to be fixed"` vs `"fixed"`

[2019-05-14 15:50] #5967 closed

[2019-05-14 16:01] zhx828 opened #6101 "Allow user uses custom selection for CN Segments tab"
Niki suggested to add this feature to allow filtering the segments

[2019-05-14 16:34] #6095 closed

[2019-05-14 17:50] ao508 commented on #6099
@n1zea144 @inodb when you ran this, did your properties contain `dat.method` with no value set for it or did `dat.method` not exist at all in your properties

[2019-05-14 19:15] jjgao opened #6103 "changing warning message for overlapping studies"
Change to "This study may share samples with another selected study" to "This study has overlapping data with another selected study."

![image](https://user-images.githubusercontent.com/840895/57725146-73983580-765a-11e9-86f5-ae21e5438884.png)

[2019-05-14 19:25] jjgao commented on #3395
@paulcwvandijk good point. We will change the tooltip: #6103 .

We would like to model study versions and do not duplicate samples. Comparison feature could be supported at that time.

[2019-05-14 20:37] jjgao commented on #6096
We will not be able to handle this in this round since we are importing the samples in different studies as different samples. We have some plan to model study versions. We could do the venn diagram once we finish that.

[2019-05-14 20:37] #6096 closed

[2019-05-14 20:42] jjgao commented on #6098
![image](https://user-images.githubusercontent.com/840895/57730780-34241600-7667-11e9-954f-2eb20f5a9216.png)

[2019-05-14 20:42] jjgao commented on #6098
@zhx828 please prioritize this if it's easy.

[2019-05-14 20:48] #6092 closed

[2019-05-14 21:02] jjgao commented on #6101
That'd be a great feature. I am wondering if igv.js supports that. @onursumer

[2019-05-14 21:06] alisman opened #6104 "Frontend doesn't report api failure to user"
https://cbioportal.mskcc.org/results/cancerTypesSummary?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=mixed_lymphoma_filtered_mskcc_foundation%2Cpi_5e_95_09577_B%2Cset_ad_follym%2Call_stjude_2015%2Call_stjude_2016%2Ccgci_blgsp_2017%2Clcll_broad_2013%2Ccll_iuopa_2015%2Ccllsll_icgc_2011%2Cmixed_lymphoma_mskcc_foundation%2Cmixed_lymphoma_merged_filtered_mskcc_foundati

[2019-05-14 21:30] jjgao opened #6105 "support mRNA and Protein tab with >2 groups"
Before we come up with some plot, we can display the table of results with the same table format as outlined here: https://github.com/cBioPortal/cbioportal/issues/5990#issuecomment-490094061

[2019-05-14 21:37] zhx828 commented on #6098
@ritikakundra @jjgao will do

[2019-05-14 22:09] schultzn commented on #5716
How about a cancer ribbon instead of the OncoKB icon?

[2019-05-14 22:34] adamabeshouse commented on #6078
#1 is handled by https://github.com/cBioPortal/cbioportal-frontend/pull/2321

[2019-05-15 07:41] Sjoerd-van-Hagen commented on #5716
I would like to make explicit that the list is filtered and the user is not seeing all the genes. How would you do that with the ribbon?

[2019-05-15 10:56] AndyBlake commented on #6066
@zhx828 Thanks - It looks as if it's ignoring the priorities and just doing the default load as if they were all 1 hence the reduced number of plots displayed and default ordering. Just a guess but perhaps there is something in the "has custom priorities or not" logic that is getting tripped incorrectly? If there is anything else I can do to help just let me know.

[2019-05-15 13:41] schultzn commented on #5716
The same as with the OncoKB symbol - there will be two versions, one to indicate “selected”, the other to indicate “not selected”.

[2019-05-15 13:53] Sjoerd-van-Hagen commented on #5716
I think I would still prefer the funnel symbol that is typically used to signify filters, but have no strong objections to using the ribbon.

[2019-05-15 14:23] zhx828 commented on #6066
@AndyBlake thanks for the info. If it's true like you said, the priorities are ignored, that explains the different layout. But like you mentioned before, the clinical attributes list does have the updated priority though. If you already have the frontend setup, that would be supper help for since you have all the data. I just haven't gotten a chance to take a look at yet.

[2019-05-15 14:25] Sjoerd-van-Hagen commented on #4344
@jjgao who will have some time to implement this?

[2019-05-15 14:31] inodb commented on #6090
Mutation mapper part is fixed - but other issues of https://github.com/genome-nexus/genome-nexus/issues/272 still need to be addressed

[2019-05-15 14:31] #6090 closed

[2019-05-15 16:21] jjgao opened #6106 "Mini-boxplots in Enrichment: mrna/protein"
Now that we will move the mini-oncoprint into the rows. We should consider moving the boxplot into each row too.

[2019-05-15 16:22] jjgao opened #6107 "adding per-row mini oncoprint to Mutex tab"
the same as Enrichments

[2019-05-15 17:34] #6075 closed

[2019-05-15 17:35] #6074 closed

[2019-05-15 19:30] #6082 closed

[2019-05-15 19:36] #6094 closed

[2019-05-15 19:54] yichaoS commented on #5960
@jjgao @pieterlukasse
(I'm replying the google group email w/ this msg below as well, closing the issue here)

We recently remapped all miRNAs in our database to their correct precursor/mature forms, based on mirbase.org.

In expression profiles, mature form-ed symbol is now used instead, and in CNA, precursor form-ed symbols are used. If only the simplified symbols are provided in the original ex

[2019-05-15 19:54] #5960 closed

[2019-05-15 20:21] #6078 closed

[2019-05-15 20:41] inodb opened #6109 "Make auth configurable without `-D`"
Auth currently requires setting a java system property `-Dauthenticate=`. It should be possible to pull this info from the properties file

See: https://github.com/cBioPortal/cbioportal/issues/4832

[2019-05-15 20:43] inodb opened #6110 "Make all properties configurable in the same manner"
[code]

Get rid of baked in portal.properties

Blocked by: https://github.com/cBioPortal/cbioportal/issues/6109

See: https://github.com/cBioPortal/cbioportal/issues/4832

[2019-05-15 20:50] inodb commented on #4832
@pieterlukasse @fedde-s thanks for reviewing! You are right that not all issues are solved. I created two follow up issues. First I believe auth can only be configured with `-D` atm: https://github.com/cBioPortal/cbioportal/issues/6109. Then there's the issue that not all properties are configured in the same way: https://github.com/cBioPortal/cbioportal/issues/6110. I think both of these are outs

[2019-05-15 20:57] zhx828 commented on #6101
@jjgao it's already supported. So if you select some samples in the summary tab and go to segments tab, it will only show selected samples info. I'm going to just enable the Custom Selection for Segments tab.

[2019-05-15 21:14] tmazor opened #6111 "remove gnomAD link in tooltip"
In the tooltip for a variant, it says:
Source: genomenexus.org, which serves myvariant.info's gnomAD data.
Latest gnomAD data may differ.

Both "gnomAD"s are links to the same place but the way this is written I expected the first "gnomAD" to be a link to the gnomAD data in myvariant.info. Since I think that page doesn't exist, I would remove that first link and just keep the second link to the of

[2019-05-15 21:19] tmazor opened #6112 "expand gnomAD column header tooltip"
I think this tooltip could be more descriptive -- something like:

gnomAD population allele frequencies. Overall population allele frequency is shown. Hover over a frequency to see the frequency for each specific population.

[2019-05-15 21:23] tmazor opened #6113 "missing gnomAD data"
BRCA1 E23Vfs*17 is a highly recurrent germline variant which is present in gnomAD (https://gnomad.broadinstitute.org/variant/17-41276044-ACT-A) but has no gnomAD frequency in this query:

https://cbioportal-frontend-pr-2064.herokuapp.com/results/mutations?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=ov_tcga_pub&case_set_id=ov_tcga_pub_cna_seq&data_priority=0&gene_

[2019-05-15 21:58] jjgao commented on #5716
@schultzn and I had some discussion and agreed that we can use a filter icon with a tooltip as @Sjoerd-van-Hagen suggested.

tooltip:
- "Filtered by OncoKB Cancer Gene List. Click to show all genes."
- "Showing all genes. Click to filter by OncoKB Cancer Gene List"

[2019-05-15 22:08] leexgh opened #6114 "show N/A for unknown gnomAD data"
show N/A in gnomAD column for unknown, instead of no entry. Adding tooltip says “Variant has no data in gnomAD”

[2019-05-15 22:09] jjgao commented on #4344
I think replacing the schema with another one should be really easy to do. Adding an option for different schema may require some more work.

@adamabeshouse thoughts?

[2019-05-15 22:10] jjgao commented on #6080
@priti88 we will need to get a well-defined gene list so that we can add.

[2019-05-15 22:14] jjgao commented on #6101
ah, I misunderstood. I thought it was about select samples in the igv view -- that would be really cool.

[2019-05-15 22:18] jjgao commented on #6113
This is strange. Maybe after all, myvariantinfo won't work? @leexgh please investigate.

[2019-05-16 01:09] zhx828 commented on #6101
They might have the feature though lol @onur?

On Wed, May 15, 2019 at 6:14 PM JianJiong Gao <notifications@github.com>
wrote:

[2019-05-16 01:09] zhx828 commented on #5716
Thank you everyone.

On Wed, May 15, 2019 at 5:58 PM JianJiong Gao <notifications@github.com>
wrote:

[2019-05-16 01:25] leexgh commented on #6113
@inodb i can't find it on myVariantInfo, could you check please?

[2019-05-16 02:34] zhx828 commented on #5716
@schultzn @jjgao @Sjoerd-van-Hagen  the interface will be the following. I will send out a testing interface soon.

## After filtering
<img width="428" alt="Screen Shot 2019-05-15 at 10 32 48 PM" src="https://user-images.githubusercontent.com/5400599/57822252-69ad2a00-7761-11e9-948b-ba45872fc86f.png">

## Before filtering
<img width="431" alt="Screen Shot 2019-05-15 at 10 32 56 PM" src="https://us

[2019-05-16 04:01] zhx828 commented on #5716
@schultzn @jjgao @Sjoerd-van-Hagen here is the testing instance https://cbioportal-frontend-pr-2109.herokuapp.com/study/summary?id=acc_tcga

[2019-05-16 08:19] pieterlukasse commented on #6110
+1 for "Get rid of baked in portal.properties". YES!

[2019-05-16 08:22] pieterlukasse commented on #5960
Thanks @yichaoS!

[2019-05-16 09:49] Sjoerd-van-Hagen commented on #5716
The filter should be disabled by default imo.

For instance, in the example, MUC16 has a higher number of mutated samples than MUC4 but is not shown by default, even though it is associated with ovarian cancer (enough to spend money on trying to create a drug for it that targets this gene (OREGOVOMAB)) where CA-125 is also used as a biomarker, and has a very high occurrence in melanoma. I think pe

[2019-05-16 09:51] Sjoerd-van-Hagen commented on #5716
Wait, disregard the last comment. There seems to be a bug. If I follow the link I see the icon is enabled and the text says it is filtered, but it is actually not. The behaviour of the switch mirrored.

[2019-05-16 14:08] #5986 closed

[2019-05-16 14:39] inodb commented on #6113
@tmazor yikes - excellent catch.

It is in VEP:

http://grch37.rest.ensembl.org/vep/human/hgvs/chr17:g.41276045_41276046delCT?content-type=application/json

but not in myvariant.info:

http://myvariant.info/v1/variant/chr17:g.41276045_41276046delCT

@leexgh could you report to the myvariant.info issue tracker that this variant is missing from their gnomad data? Maybe it's an easy fix for them

htt

[2019-05-16 15:22] schultzn commented on #5716
We can debate whether enabling or disabling is the best route - I am ok with disabling, but would personally always enable it right away. :-)

While CA125 is an ovarian cancer biomarker, MUC16, which encodes it, is one of the largest genes in the genome and notorious for its high background mutation rate. So the high frequency of mutations is very misleading for those who don’t know…

[2019-05-16 15:26] jjgao commented on #6113
I am wondering if this is not just one of the many. Can we check all brca1 and brca2 variants in gnomad and see how many are missing i myvariant.info?

[2019-05-16 15:28] leexgh commented on #6113
I report the issue to myVariantInfo (https://github.com/biothings/myvariant.info/issues/75)

[2019-05-16 15:31] jjgao commented on #5716
@zhx828 maybe this setting can be saved into local storage so that people can have their own preference?

[2019-05-16 15:33] tmazor commented on #6113
I second @jjgao 's concern that this could be indicative of a large problem of missing data. Might be worth checking a few other genes also (in addition to BRCA1/2).

[2019-05-16 15:35] Sjoerd-van-Hagen commented on #5716
I think we really need to have user preferences at some point. Or perhaps advanced and beginner modes or something. So many bells and whistles...

Problem is then that the solution space for the inputs will become even larger, which will make testing more difficult.

[2019-05-16 16:46] Sjoerd-van-Hagen commented on #5716
Before it is hidden by the more recent posts. @zhx828

[2019-05-16 16:55] zhx828 commented on #5716
@Sjoerd-van-Hagen I don's see the issue though. Could you give me more info which gene is showing up which should not be?

[2019-05-16 16:57] leexgh commented on #6113
@tmazor @jjgao @inodb the myVariantInfo team replays me with this:

Hi Xiang,

We have this variant in MyVariant.info. You could access it by: http://myvariant.info/v1/variant/chr17:g.41276045_41276046del. We normally remove the deleted nucleotides when representing a variant in HGVS id.

[2019-05-16 17:24] Sjoerd-van-Hagen commented on #5716
Ah, my mistake. I somehow assumed that the genes with the small icon behind it were in the OncoKB list but it is just a coincidence that if I click the filter the top genes all have the icon...

@schultzn I now see that MUC16 is actually in the list too...

[2019-05-16 18:14] schultzn opened #6115 "Need info icon on Survival Analysis tab to indicate survival data source"
Next to "Overall Survival Kaplan-Meier Estimate", add an info icon which upon mouse-over shows the description of the OS_MONTHS (or OS_STATUS?) field, e.g. "Overall survival since time of diagnosis" or "Overall survival since time of sequencing".

Need the same for DFS.

![image](https://user-images.githubusercontent.com/11892704/57876987-af5f0680-77e4-11e9-9e3c-98007b000623.png)

[2019-05-17 00:44] alisman opened #6116 "groups bar chart needs clarification"
![image](https://user-images.githubusercontent.com/186521/57895708-14cdea00-781b-11e9-9ae0-d632182ebf44.png)

Chart is too wide (can each bar be 2 pixels wide?)   Maybe we just but bars for those colors are actually mutated for a given gene?

Also, @jjgao  it's not super clear to me what the various color categories are.  And same for why these genes are displayed.  I think they are top mutated, y

[2019-05-17 15:29] jjgao commented on #6113
Thanks, @leexgh. Let's use change it on our end when calling myvariant then.

@leexgh @inodb : please make sure we code them correctly for other mutation types.

[2019-05-17 15:34] jjgao commented on #6115
I don't think we are curating the information. @ritikakundra please correct me if I am wrong.

One option is to curate it in the description of OS_STATUS clinical attribute per study. @ritikakundra: can we do that?

Once the data is curated, we can make them into the frontend. @dippindots can probably help with that.

[2019-05-17 16:22] #6101 closed

[2019-05-17 17:07] #6069 closed

[2019-05-17 17:11] ritikakundra commented on #6115
@jjgao  @schultzn: most of our OS is from date of initial dx. But for some cases we might have PIs send us a different time 0. For public, we can go check publications for confirmation.

We can add overrides for each study for OS_STATUS (hopefully there wont be many different timepoint 0s). Just need to find a better way of maintaining it.

[2019-05-17 18:22] schultzn commented on #6115
Can't we just use the description for OS_MONTHS? We can customize that whenever needed.

![image](https://user-images.githubusercontent.com/11892704/57948233-16e18880-78af-11e9-9f54-1593e9ae564c.png)

[2019-05-17 18:27] leexgh opened #6117 "The total allele number not equals to the sum of allele number from all population in gnomAD table"
For example:
![image](https://user-images.githubusercontent.com/16869603/57947980-6b383880-78ae-11e9-94f2-6197359f81de.png)
The sum of the allele number is 215426, but the total allele number is 246198. The total allele number is supposed to be the sum of the allele number.

[2019-05-17 18:32] #6098 closed

[2019-05-17 18:33] ritikakundra commented on #6115
@schultzn @n1zea144 : Ya i just updated os_montsh for impact to: Overall survival in months since date of sequencing. If patient died before sequencing overall survival in months is set to ‘0’. If patient is alive and last contact date is before date of sequencing, overall survival in months is set to ‘NA’

[2019-05-17 19:15] leexgh commented on #6117
Problem solved - missing one line because of sorting and slice. Close issue.

[2019-05-17 19:15] #6117 closed

[2019-05-17 19:19] dippindots commented on #5665
Hi @jjgao @tmazor , @alisman gave me some advice on how to implement the button(go to study view with selected samples). But there are many ways can accomplish this so we may want to get some advice from the production side.

**Problem description:**
Our study view page doesn't support the custom samples (we need to use `custom selection` to add a filter for the custom samples);

**Solutions:**
1.

[2019-05-17 20:30] inodb opened #6118 "Make dbcp database parameters configurable"
We now have hardcoded them here: cbioportal/core/src/main/java/org/mskcc/cbio/portal/dao/JdbcDataSource.java. Would be good if they were configurable

[2019-05-17 20:58] leexgh commented on #6113
@jjgao Sure I'm working on it

[2019-05-20 11:11] pvannierop opened #6119 "Orientation of vertical and horizontal axis labels in PlotsTab"
The change in orientation of the vertical and horizontal axis labels in PlotsTab does not improve readability nor aesthetic appeal. At least the 90deg. clock-wise rotation should be a 90deg. counter clock-wise rotation. It may also good to consider reverting to a horizontal orientation of the text.
![Screenshot from 2019-05-20 13-10-18](https://user-images.githubusercontent.com/745885/58017492-aaf