[2019-05-20 14:54] #6081 closed

[2019-05-20 14:56] #6084 closed

[2019-05-20 15:48] inodb opened #6120 "update docs deploy w/o docker (no need to compile)"
It's no longer necessary to compile the source code. We could simply download the latest tagged war/jar from jitpack both for cBioPortal and session service. Update the docs to reflect that

[2019-05-20 16:10] #5990 closed

[2019-05-20 16:18] kalletlak opened #6121 "Support multi-study mutation and copy number enrichment analysis in results and comparison page"

[2019-05-20 21:25] onursumer opened #6122 "Mutations tab completely rerenders after table data load"
https://www.cbioportal.org/results/mutations?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=msk_impact_2017&case_set_id=msk_impact_2017_cnaseq&clinicallist=NUM_SAMPLES_PER_PATIENT&data_priority=0&gene_list=TP53&geneset_list=%20&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=msk_impact_2017_cna&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=msk_impact_2017_mutatio

[2019-05-21 13:08] fedde-s opened #6123 "Side-data loading scripts needlessly require setting the working directory"
The .pl (Perl) entrypoints that form the documented ways to load data outside of studies, such as gene symbols and aliases and gene sets, only work if you change the working directory to `cbioportal_source/core/src/main/scripts`, the folder containing those scripts.

Removing this requirement, either by changing the way they find `env.pl` or replacing these one-line wrappers altogether, would impr

[2019-05-21 13:08] fedde-s opened #7926 "Side-data loading scripts needlessly require setting the working directory"
The .pl (Perl) entrypoints that form the documented ways to load data outside of studies, such as gene symbols and aliases and gene sets, only work if you change the working directory to `cbioportal_source/core/src/main/scripts`, the folder containing those scripts.

Removing this requirement, either by changing the way they find `env.pl` or replacing these one-line wrappers altogether, would impr

[2019-05-21 18:03] jjgao opened #6126 "order of groups in comparison page"
- [x] by default, it should be alphabetical
- [x] allow user to reorder them manually (by drag & drop)
- [x] the new order can be saved to a new session

[2019-05-21 18:58] jjgao commented on #6115
@dippindots please help the frontend when you have a chance.

[2019-05-21 19:04] dippindots commented on #6115
@jjgao Ok! Will do soon.

[2019-05-21 19:12] jjgao commented on #5665
@dippindots Solution #-1 creating a virtual study sounds good. Let's open a new tab.

[2019-05-21 19:18] jjgao commented on #6119
I think I agree with @pvannierop. The current production looks better. Not sure when this change was merged into rc. Is it for reducing the height of the menu?

![image](https://user-images.githubusercontent.com/840895/58124119-70152900-7bdb-11e9-8729-54c457bd98aa.png)

[2019-05-21 19:25] jjgao opened #6127 ""Color Sample By" section not placed correctly"
Move it under the legend.

https://beta.cbioportal.org/results/plots?session_id=5ba11ce6498eb8b3d567e7ed

![image](https://user-images.githubusercontent.com/840895/58124639-b28b3580-7bdc-11e9-85d2-12fcf29ef9b0.png)

[2019-05-21 19:25] alisman commented on #6119
This was specifically requested by @schultzn in order to condense the layout so that controls below could be seen on 13inch screen.   We all agree that the text should at least read bottom to top and it's possible that can be achieved.

[2019-05-21 19:27] alisman commented on #6119
@adamabeshouse lets hold off until we get agreement from everyone.

[2019-05-21 20:46] alisman commented on #6023
@adamabeshouse did you handle this?

[2019-05-21 20:47] jjgao commented on #6123
I don't really understand why we still need the Perl code. It is possible to let the Python code to handle everything?

[2019-05-21 20:47] adamabeshouse commented on #6023
no Ive been putting it off because I gave it a shot and it's one of those situations where victory just makes things way harder than they need to be

[2019-05-21 20:56] alisman commented on #5556
@jjgao i think the second checkbox of this is followup?

[2019-05-21 20:59] #6099 closed

[2019-05-21 21:02] #6030 closed

[2019-05-21 21:05] jjgao commented on #5556
yes: https://github.com/cBioPortal/cbioportal/issues/5680

[2019-05-21 21:05] #5556 closed

[2019-05-21 21:13] #6087 closed

[2019-05-21 21:35] jjgao opened #6128 "Remove survival charts from study view"

[2019-05-21 21:42] schultzn commented on #6119
Yes, it was an idea to save space, as the controls below the horizontal and vertical controls often fall below the fold. Was supposed to run bottom to top.

[2019-05-21 21:51] jjgao opened #6129 "comparison gene barplot tweaks"
- [x] Remove x-axis label "Genes"
- [x] Add an way to allow user to specify the nubmer of genes to show, e.g.
- [x] Change the options to:
  - Genes with highest frequency in any group
  - Genes with highest average frequency
  - Genes with most significant p-values
- [x] Show the current selection before "Select Genes" button so that one would know how the genes are selected
- [x] in comparison p

[2019-05-21 21:53] alisman commented on #6127
@jjgao it's problematic to put it below legend b/c legend is of variable length.   this might fit at top of chart.  would that be alright?

[2019-05-21 21:57] dippindots commented on #6127
@jjgao Like what we did in the co-expression tab:
![image](https://user-images.githubusercontent.com/15748980/58133442-d2792400-7bf1-11e9-8aad-bba62fb428a0.png)

[2019-05-21 22:25] jjgao commented on #6127
That may work as long as we don't push the plots out of a 13" screen.

[2019-05-21 22:41] jjgao opened #6130 "handling gene panels for enrichments analysis"
- [x] Backend: for each row, only samples for which the gene is profiled should be included as the denominator
- [x] API: return the denominators for each group
- [x] Frontend: Visualize the denominators

[2019-05-22 10:38] fedde-s commented on #6123
It would be, if we add a few lines of Python code and change the documentation that refers to the Perl scripts. The Perl scripts do very little except check some environment variables and start the JVM with the right arguments.

[2019-05-22 15:09] alisman commented on #6129
@jjgao @schultzn i think the gene # selector needs to be it's own UI element (not inside of dropdown).   like, next to dropdown.  what do you think?

[2019-05-22 15:49] inodb opened #6131 "docker docs for developers"
We currently only provide documentation on how to run existing images. Not how to compile your own with your own source code. That could be useful for developers

[2019-05-22 16:09] schultzn opened #6132 "New default for # of cancer types in Cancer Type Summary tab"
I propose to make the minimum # of cases 10 for the Cancer Type Summary tab. This should apply to Cancer Study, Cancer Type, and Cancer Type Detailed

![image](https://user-images.githubusercontent.com/11892704/58190262-1fa8d480-7c8a-11e9-8094-a95934bb4cad.png)

[2019-05-22 16:12] kalletlak commented on #6129
true. it is hard to maintain sync between dropdown, number of genes and gene inputs box

[2019-05-22 16:20] schultzn opened #6133 "Show VUS Filter in OncoPrint Mutations menu should trigger filter warning"
The Show VUS Filter in the OncoPrint Mutations menu does not revert to default after modifying a query, while the germline filter does.

We should make it consistent for these two settings.

It might be best to keep both filter settings as last set by the user, but we should add a warning message in the header of the page that filtering has occurred. This warning message should show up right after

[2019-05-22 16:23] alisman commented on #6133
@adamabeshouse lets discuss

[2019-05-22 16:27] schultzn commented on #6129
Not sure.

I just had another thought: It is confusing that you can make a selection and are then able to modify the gene list. Would it be better to have a fourth option: Custom Gene List?

[2019-05-22 16:42] schultzn commented on #6129
I see we have that.. sorry…

[2019-05-22 17:21] jjgao opened #6134 "expose the curated set of studies via API"
[A user](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/7-qIw4RlilI/3u34TpLxAQAJ) is asking for the curated list of studies. It would be good if we can serve them through API.

Currently, we have a separate setting in portal.properties to specify the studies. Maybe we can use the [study tags](https://github.com/cBioPortal/datahub/issues/721) to tag these studie

[2019-05-22 17:51] jjgao commented on #6123
@fedde-s I think we should do that and get rid of the Perl package. Would you or someone at Hyve be able to take of that? @Sjoerd-van-Hagen

[2019-05-22 17:56] jjgao commented on #6129
@alisman agreed - gene # selector needs to be it's own UI element (not inside of dropdown)

[2019-05-22 19:39] dippindots commented on #6132
@schultzn If the # of cases less than 10, do we want to show a warning alert rather than show those content?

[2019-05-22 19:51] jjgao commented on #6132
@dippindots I think you just need to set the `Min. # of Total Cases` to 10, and the bars with <10 samples will become hidden.

![image](https://user-images.githubusercontent.com/840895/58203862-1a0eb700-7ca9-11e9-95fb-83b1aae2a86a.png)

I am wondering if we should highlight the input box when it's greater than 0, e.g. make the border blue?

[2019-05-22 19:52] schultzn commented on #6132
Yes, good idea…

[2019-05-22 21:18] onursumer opened #6997 "Make react-mutation-mapper styles compatible with bootstrap 4"
Currently the library is designed to work best with bootstrap 3.

For projects using bootstrap 4, for example, styles like `btn-xs` has no effect.

[2019-05-23 13:35] oplantalech opened #6136 "Adding a new cancer type: type of cancer ID is not validated"
Currently, it is possible to load a study with a new cancer type that contains an ID with spaces (e.g. `other breast cancers`). The validation step does not raise any warnings or errors and the loader allows to load a study with spaces in the cancer type ID. However, the study then breaks the cBioPortal instance.

Therefore, if a study with contains a wrong format of type of cancer ID is attempted

[2019-05-23 18:03] inodb opened #6137 "Set up automated builds of production image"
We currently manually build the image we deploy on AWS. After merging: https://github.com/cBioPortal/cbioportal/pull/6063. We can

- [ ] automatically push the image on each tag to docker hub or github's docker image registry
- [ ] push release branches automatically
- [ ] bonus points: continuous deploy of backend to beta

[2019-05-23 19:20] onursumer opened #6993 "EllipsisTextTooltip doesn't work as expected on Level column of OncoKbSummaryTable"
Currently there is a workaround on the higher level component (div) to enable ellipsis, but the tooltip is not working.

[2019-05-23 19:25] inodb opened #6139 "Gene sets in plots tab keeps showing loading icon when not querying gene set"
https://beta.cbioportal.org/results/plots?Action=Submit&cancer_study_list=gbm_tcga&case_set_id=gbm_tcga_all&clinicallist=NUM_SAMPLES_PER_PATIENT%2CPROFILED_IN_gbm_tcga_mutations%2CPROFILED_IN_gbm_tcga_gistic&gene_list=TP53&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=gbm_tcga_gistic&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=gbm_tcga_mutations&show_samples=false&tab_index=tab_visualize

!

[2019-05-23 19:27] alisman opened #6140 "loading animation is broken for bookmark UI"

[2019-05-23 20:28] jjgao opened #6142 "Comparison copy-number tab: barplot should only show the more frequent alteration"
Currently, the barplot shows both AMP and DEL. For example, in [this session](https://beta.cbioportal.org/comparison/cna?sessionId=5ce6f37ae4b0ab41378740b9), if you order by p-value, `AR del` appears as the second one even though it's not significant.

![image](https://user-images.githubusercontent.com/840895/58280674-307f4600-7d6f-11e9-9406-b89d3b3a8df0.png)

I think we should change the options

[2019-05-23 20:33] jjgao opened #6143 "comparison: sync bar plot with table"
Add one more option to use genes based on the table below so that when we sort, filter, and expand the table below, the chart can change (should we use this as the default option?)

[2019-05-23 20:40] onursumer opened #6144 "Migrate to the latest mobx and mobx-react versions"
We first need to migrate the `mobxpromise` package. `mobxpromise` uses some advanced features of mobx 3, which is not backward compatible in the latest version but seems possible to migrate: https://github.com/mobxjs/mobx/wiki/Migrating-from-mobx-3-to-mobx-4

The rest of the `cbioportal-frontend` should be straightforward to deal with.

[2019-05-23 22:38] #6023 closed

[2019-05-24 14:28] tmazor opened #6145 "group comparison: extra period in loading message"
![image](https://user-images.githubusercontent.com/10508276/58334876-64f60f00-7e0e-11e9-85f7-8426c75286e3.png)

Looks like there are 2 periods after "sex"

Also, as long as this message is getting updated, can "Do not close the window you came from." be one line rather than having "from" all by itself on a second line?

[2019-05-24 14:37] tmazor opened #6146 "group comparison: issue with adding new group from overlap page"
Create a new group on the Overlap page, then a warning box appears at the top of the page. This is good.

However, if I click "Save to new comparison session", there is no clear visual indication that anything has happened. I do see that the URL updates to a new session, but this is not obvious unless a user is paying super close attention.

I would expect the warning box to disappear at this poin

[2019-05-24 14:38] tmazor opened #6147 "group comparison: add whitespace before new group warning"
When I add a new group from the Overlap tab, the warning message that appears is directly on top of the "Groups from Sample Type" text. Can we add a small amount of white space between those words and the warning box?

![image](https://user-images.githubusercontent.com/10508276/58335656-0c277600-7e10-11e9-97ad-c6203d0cb63b.png)

[2019-05-24 14:51] inodb opened #6148 "jndi only works as CATALINA_OPTS not in properties file"
Unfortunately when setting the default dbconnector to dbcp: https://github.com/cBioPortal/cbioportal/pull/6046. It doesn't work to set jndi in the properties file as shown in the EXAMPLE:

https://github.com/cBioPortal/cbioportal/blob/release-3.0.0/src/main/resources/portal.properties.EXAMPLE#L11-L13

Either needs to be supplied as command line parameter to `webapp-runner` or as `CATALINA_OPTS` wh

[2019-05-24 15:23] tmazor opened #6149 "group comparison: overlap tab with overlapping patients"
In this session, I created groups based on sex, and then made new groups of male & female from the Overlap tab:
https://beta.cbioportal.org/comparison/overlap?sessionId=5ce8030ce4b0ab41378740f4

Every case is included in 2 groups, so all cases overlap. I find the way that this is dealt with slightly confusing.

With all 4 groups selected, I don't even see the tab headers, I just see text telling m

[2019-05-24 15:29] tmazor opened #6150 "group comparison: update overlap inclusion/exclusion warning messages"
The message currently says: "Overlapping 249 patients have been excluded from analysis."

Let's change that slightly to:
- [x] 249 overlapping patients are excluded from this analysis.

Or:
Overlapping patients (n=249) and samples (n=0) are excluded from this analysis.

On the survival tab, can we change the overlap included text from:
Overlapping patients are graphed in multiple-group curves belo

[2019-05-24 15:47] tmazor opened #6151 "group comparison: alignment issue on rna & protein tabs"
![image](https://user-images.githubusercontent.com/10508276/58340316-8c9ea480-7e19-11e9-881f-98350e446be6.png)

https://beta.cbioportal.org/comparison/mrna?sessionId=5ce810d4e4b0ab4137874102

The same alignment weirdness happens on the Protein tab also.

[2019-05-24 15:52] tmazor opened #6152 "group comparison: legend overlap"
![image](https://user-images.githubusercontent.com/10508276/58340624-45fd7a00-7e1a-11e9-9692-850c10c6f01d.png)

In the legend, the end of the B. Black or African American text overlaps the color box for the C. NA text

https://beta.cbioportal.org/comparison/cna?sessionId=5ce810d4e4b0ab4137874102

[2019-05-24 15:55] tmazor opened #6153 "group comparison: make plot larger to accommodate legend"
![image](https://user-images.githubusercontent.com/10508276/58340750-8b21ac00-7e1a-11e9-8e67-726166110a35.png)

This one is minor, but when there are multiple groups selected, there's just one plot shown for mutations/CNA, so when there is a long group name, can the plot be made wider so the whole legend text is visible? I know I can scroll to see it, but there's also just so much white space to t

[2019-05-24 16:02] tmazor opened #6154 "group comparison: user-defined genes allows OQL but ignores it"
If I enter my own list of genes on the mutations or CNA tab, the input box allows OQL, but the tab ignores it.

We need to either respect the OQL, or not allow it to be entered in the gene box, or notice when it is entered in the gene box and add a warning to the page saying that OQL is ignored.

For this first release, I'm fine with whichever of those options is easiest to implement, and we can d

[2019-05-24 16:07] tmazor opened #6155 "group comparison: overlap tab color scheme"
The grey used to denote a group is the same grey used as the default color in the overlap diagram:
![image](https://user-images.githubusercontent.com/10508276/58341499-5d3d6700-7e1c-11e9-8dbc-81cf7b903eba.png)

It's impossible to find which circles correspond to the NA group because both are grey.

[2019-05-24 16:12] tmazor opened #6156 "group comparison: error when deselect all groups"
I clicked over to the RNA tab with too many groups selected, so I used the "Deselect all" button to clear my selections, with the intention of just selecting 2 groups after that.

However, when I clicked "Deselect all" I got this error message:
![image](https://user-images.githubusercontent.com/10508276/58341777-08e6b700-7e1d-11e9-8847-f1ed80474007.png)

Instead, all the tabs should be there with

[2019-05-24 16:38] tmazor opened #6157 "group comparison: missing tickmarks on plot"
![image](https://user-images.githubusercontent.com/10508276/58343331-b8715880-7e20-11e9-902b-9e4a03dccd1d.png)

There are no tickmarks on the frequency plot on the mutations tab.

[2019-05-24 16:41] tmazor commented on #6157
Weirdly, if I select a different group, then the tickmarks appear:
![image](https://user-images.githubusercontent.com/10508276/58343512-3170b000-7e21-11e9-803b-6062d0c37328.png)

https://beta.cbioportal.org/comparison/mutations?sessionId=5ce8164be4b0ab4137874107

[2019-05-24 16:44] tmazor opened #6158 "group comparison: change text color of variable used to create groups?"
![image](https://user-images.githubusercontent.com/10508276/58343603-7268c480-7e21-11e9-94f7-fd1307dc14bf.png)

This is a very minor issue.

I appreciate that "First Pathologic Diagnosis..." is colored to highlight it. But it's colored blue, and every other text that is blue is a clickable link or button. Can we highlight the text in some other way so it looks less like a link?

[2019-05-24 18:05] alisman commented on #6145
@adamabeshouse i think we can get rid of that "do not close the window you came from" message.  It is very strange.  It's highly unlikely that someone would do that anyway.  Like, switch back to old window, close it, then return to the new one?  Seems unlikely.

[2019-05-24 18:06] alisman commented on #6146
@tmazor @adamabeshouse i agree that the warning should disappear and this would be good confirmation

[2019-05-24 18:13] alisman commented on #6149
@jjgao @adamabeshouse it does seem we could do a better job in explaining the situation.  @adamabeshouse i'm guessing the reason we don't show the overlap is because then we would have to disable everything?

[2019-05-24 18:14] alisman commented on #6150
@jjgao can you confirm this messaging change and assign to @adamabeshouse

[2019-05-24 18:18] alisman commented on #6151
@dippindots this is a strange layout issue. please see if you can figure it out!

[2019-05-24 18:22] alisman commented on #6154
@jjgao i think you had the idea that we should actually be able to respect the oql.  shall we put this in for 3.1.0?

[2019-05-24 18:34] tmazor opened #6160 "group comparison: mrna/protein tooltip update"
The tooltip for "Enriched in" for mRNA/protein tabs says:
![image](https://user-images.githubusercontent.com/10508276/58349296-e494d580-7e30-11e9-85ba-e96243c61333.png)

Can we change it to say that <=0 is "Enriched in [other group name]", the same way the Mutations & Copy-Number tabs do:
![image](https://user-images.githubusercontent.com/10508276/58349347-ffffe080-7e30-11e9-8b34-eebc29851ba6.png)

[2019-05-24 19:23] adamabeshouse commented on #6145
@alisman I do it all the time :p

[2019-05-24 19:25] tmazor opened #6161 "group comparison: update google authentication text"
![image](https://user-images.githubusercontent.com/10508276/58351879-034a9a80-7e38-11e9-9338-5854c59e5ce8.png)

Login is not just for virtual studies anymore! Let's update this text!

[2019-05-24 19:35] adamabeshouse commented on #6158
how about bold and italic?

![image](https://user-images.githubusercontent.com/636232/58352430-815b7100-7e39-11e9-8b70-409bff2db7aa.png)

[2019-05-24 20:41] tmazor opened #6162 "group comparison: upset only for samples but not patients?"
There's a sample intersection, but no patient intersection plot:
![image](https://user-images.githubusercontent.com/10508276/58355575-cf28a700-7e42-11e9-902e-aff4cf541774.png)

https://beta.cbioportal.org/comparison?sessionId=5ce856d5e4b0ab4137874182

[2019-05-24 21:12] jjgao commented on #6139
@Sjoerd-van-Hagen @oplantalech maybe we should have a setting in portal.properties or frontend config to turn on GSVA features (off by default)? That way, we can set `show_profile_in_analysis_tab` to `true` so that we will be able to use the data for screenshot tests and at the same time they will not show up in the public portal.

Would you please prioritize this since it's already in production?

[2019-05-24 21:12] tmazor opened #6163 "group comparison: move new group popup?"
If I decide to make a new group from a selection in the Overlap tab, the "group name" pop-up blocks the text telling me what I clicked on. Can we keep that text visible while entering the group name?

![image](https://user-images.githubusercontent.com/10508276/58356968-0bf69d00-7e47-11e9-85b2-5b6555b05554.png)

[2019-05-24 21:13] jjgao commented on #6139
@oplantalech please send pr to master.

[2019-05-24 21:14] jjgao commented on #6139
@oplantalech you may want to sent pr to master since it's broken in production.

[2019-05-24 21:19] jjgao commented on #6153
And maybe we should truncating the name if it's too long...

[2019-05-24 21:23] Sjoerd-van-Hagen commented on #6139
@jjgao I was actually thinking that now we have a simplified query page for the non-technical users, perhaps we can now include the GSVA on the query page. It is only one checkbox after all, and only when clicked it will show the additional components to select genesets. Currently, the only way to look at the genesets in the public portal is to copy paste them to the URL, which is clearly not idea

[2019-05-24 21:25] jjgao commented on #6146
@alisman @adamabeshouse this remind me that we also discussed about adding parameters to the url: https://github.com/cBioPortal/cbioportal/issues/5525#issuecomment-489733778. I guess we can do it with a follow up? Or is it easy enough that we should do it now?

[2019-05-24 21:44] adamabeshouse commented on #6146
which url parameters are you proposing @jjgao , I don't see the relevance

I can't repro this issue - I do see the warning disappear. Can you give a link and which steps to follow to reproduce this?

[2019-05-24 21:46] adamabeshouse commented on #6149
@alisman actually I think it is possible to show the overlap tab. I think we should show an informative message in every tab instead of hiding them as we do.. it would be confusing. I'll do that

[2019-05-24 21:47] jjgao commented on #6149
I think:

- We should show all samples (including the overlapping samples) in the `Overlap` tab, even if "Exclude overlapping samples and patients" are selected
- Hopefully, by doing that, we will always show the other tabs (some could be in gray)?
- When a group is a subset of another group, we are excluding it from analysis - that's good. But we should better explain it. E.g. in [this session](h

[2019-05-24 21:52] jjgao opened #6164 "allow user to delete a group on comparison page"
Can we allow the user to delete a group on comparison page. After deletion, the user should be able to save it as a new session.

[2019-05-24 21:57] jjgao opened #6165 "saving state of comparison page to url"
comparison/?sessionId=xxxxx&unselectedGroups=group1,group2&deletedGroups=group3,group4&addedGroups=group5&groupOrder=group5,group6

[2019-05-24 21:57] jjgao commented on #6165
Ok to do delay it until after 3.0.0.

[2019-05-24 21:58] jjgao commented on #6165
based on discussion in https://github.com/cBioPortal/cbioportal/issues/5525#issuecomment-489733778

[2019-05-24 22:01] jjgao commented on #6149
@adamabeshouse please modify according to the language @Tamba32 proposed https://github.com/cBioPortal/cbioportal/issues/6150

[2019-05-24 22:02] adamabeshouse commented on #6165
ohhh i see

would the groupOrder parameter replace our strategy of saving it into the session?

[2019-05-24 22:02] jjgao commented on #6150
yes, please modify. "samples (n=0)" may be confusing, so maybe just use the first option.

[2019-05-24 22:07] jjgao commented on #6154
@alisman it's very hard to fully respect OQL. You would have to do it in the backend and we don't have backend OQL anymore.

For Mutations, we should only stick to genes.

For CNAs, OQL was added to fix #6142 so that we can order AMP and DEL separately. Is it poissible to support AMP and DEL only? Or maybe we should just show the more frequent event per gene?

[2019-05-24 22:09] jjgao commented on #6160
Not sure if we can use `enriched` for mRNA. Maybe we should just say Higher expression in...?

[2019-05-24 22:12] adamabeshouse commented on #6164
now that we have dragging maybe we can show a trash can that they can drag it to, to save UI space? or we can just keep it simple and add little x's to the group buttons?

[2019-05-24 22:12] adamabeshouse commented on #6163
yes, Ill just pop it up

[2019-05-24 22:17] jjgao commented on #6139
Thanks, @Sjoerd-van-Hagen. It may be worth another discussion on Friday call about the interface and plan on gsva. We would also need to have more data e.g on tcga pancan studies in order to turn this one for public portal.

[2019-05-24 22:19] jjgao commented on #6146
@adamabeshouse let's keep the url change a separate discussion: https://github.com/cBioPortal/cbioportal/issues/6165

[2019-05-24 22:20] jjgao commented on #6165
@adamabeshouse I think we can keep them in the url and at the same time can also save them into session.

[2019-05-24 22:35] adamabeshouse commented on #6165
@jjgao I think what you're saying is that when the order is unsaved, we keep it in the URL. when they save it to the session, we remove the order parameter. so then we should also adjust the warning to be less urgent

[2019-05-27 06:54] pvannierop opened #6167 "PlotsTabUilts.ts: redundant functionality getCnaQueries() and getMutationQueries()"
During rebasing I have to integrate my code with rc branch. I came across the getCnaQueries() and getMutationQueries() functions in PlotsTabUtils.ts AFAIKS these methods are 100% identical functionally. Can someone else verify if this is indeed the case? Then, I will submit a PR with a cleanup of the code.

[2019-05-27 13:09] Sjoerd-van-Hagen commented on #6139
@jjgao for PanCan we would first need the expression data, but yes, if we have that we can compute scores for every study.

Perhaps we can enable the GSVA check box on the query page on beta, so @cBioPortal/product can test how it works?

[2019-05-27 18:19] schultzn opened #6168 "Need more colors with better contrast for 3+ groups in group comparison"
It is very hard to see the difference in color here:

https://beta.cbioportal.org/comparison/survival?sessionId=5cec2948e4b0ab41378741c6

Can color brewer help?
http://colorbrewer2.org/#type=diverging&scheme=RdYlBu&n=7

![image](https://user-images.githubusercontent.com/11892704/58434545-3b491c00-808a-11e9-9c61-ad30bd93432d.png)

[2019-05-28 13:14] tmazor commented on #6160
That makes sense to me - how about:

<=0: Higher expression in B. Incisional Biopsy

[2019-05-28 13:21] tmazor commented on #6146
@adamabeshouse I can't replicate it anymore either... either someone already fixed it or there was just something weird happening when I tested on Friday. Either way, it's fine now!

[2019-05-28 13:21] #6146 closed

[2019-05-28 14:54] alisman opened #6169 "Apply bootstrap popover style to 3D structure popup"
Apply bootstrap popover style to this popup

![image](https://user-images.githubusercontent.com/186521/58488081-bec04700-8136-11e9-88ac-dc28907e0437.png)

[2019-05-28 15:02] alisman commented on #6132
@dippindots There's some confusion above.  I think what we want is for the range to still be be 0 to xx, but the default SETTING to be 10.  So, then a user can come along and take it down to whatever they want.   I think what @schultzn doesn't like is that by default, we include types which are less than 10 and are really not significant.

So, the following would be the initial state of the UI:
![

[2019-05-28 15:02] alisman commented on #6132
@jjgao @schultzn can you confirm the above is desired?

[2019-05-28 15:24] kalletlak commented on #6161
@jjgao its a property setting. @inodb could you update `authorization_message` property

[2019-05-28 15:31] kalletlak commented on #6155
@tmazor @jjgao @alisman how about this?
![Screen Shot 2019-05-28 at 11 29 54 AM](https://user-images.githubusercontent.com/12956870/58490918-03021600-813c-11e9-8e06-1c18f4a08936.png)

[2019-05-28 15:31] kalletlak commented on #6162
@jjgao @tmazor how about this?
![Screen Shot 2019-05-28 at 11 30 06 AM](https://user-images.githubusercontent.com/12956870/58491006-2af17980-813c-11e9-987f-7b99ee1634dd.png)

[2019-05-28 15:44] schultzn commented on #6132
yes, exactly that!

[2019-05-28 15:53] alisman commented on #6132
@dippindots, per conversation with JJ, we will include an info alert with this messaging:
![image](https://user-images.githubusercontent.com/186521/58492571-2d090780-813f-11e9-8f9c-192cd9177718.png)

[2019-05-28 15:55] dippindots commented on #6132
Thanks @alisman. I will make the change soon.

[2019-05-28 15:56] kalletlak commented on #6153
looks like sometimes legend is not visible

![Screen Shot 2019-05-28 at 11 55 44 AM](https://user-images.githubusercontent.com/12956870/58492803-a6085f00-813f-11e9-89e1-e96c45432278.png)

[2019-05-28 16:26] kalletlak commented on #6152
Looks like an issue with `<VictoryLegend>` @adamabeshouse any idea of how to fix it?

[2019-05-28 16:47] kalletlak commented on #6154
@jjgao currently it supports `AMP` and `HOMDEL`

[2019-05-28 17:11] schultzn opened #6170 "Cancer Type table cannot be sorted alphabetically"
After the change, cancer type and cancer type detailed tables cannot be sorted alphabetically anymore. Can we bring that functionality back?

![image](https://user-images.githubusercontent.com/11892704/58497403-de149f80-8149-11e9-9796-611fb9f119dc.png)

[2019-05-28 17:22] jjgao commented on #6165
@adamabeshouse sounds good!

[2019-05-28 17:25] adamabeshouse commented on #6168
so in general if we allow N groups then we have at most 2^N curves, so if we have a maximum of 5, as started to be discussed, then we'd need 32 distinguishable colors. I'm not sure it's entirely possible. but we can definitely choose a smaller set of more easily distinguishable colors.

[2019-05-28 17:25] adamabeshouse commented on #6168
the way it's done now is to have each curve be the color obtained by mixing together all the colors of the groups in the curve. I see that's not really useful here.

[2019-05-28 17:30] #6142 closed

[2019-05-28 17:32] adamabeshouse commented on #6167
yes, very weird, good catch

[2019-05-28 17:43] alisman commented on #6168
what about:

1. highlighting the legend items when you hover over a curve
AND/OR
2. putting the group name in the tooltip

I realize his wouldn't help in exported chart.

[2019-05-28 17:45] adamabeshouse commented on #6168
oh, yeah Im surprised the group isnt already in the tooltip

[2019-05-28 17:48] alisman commented on #6149
i'm pretty sure it was @tmazor not @Tamba32 !

[2019-05-28 17:52] #6140 closed

[2019-05-28 17:55] alisman opened #6171 "Need some way to indicate orderability/draggability of groups"
Convention would be to use the "move cursor", but we also use these things as clickeable buttons.   Maybe we add an instruction or a "move icon" after the checkbox (or after the name)

[2019-05-28 17:59] jjgao commented on #6139
@Sjoerd-van-Hagen good idea! Could you help prioritize adding a setting in portal.properties or frontend config to turn on GSVA features (off by default)? It would solve this issue here and allow us to turn it on in beta (and screenshot testing) without changing the metafiles. After releasing 3.0, we can get more feedback on GSVA from others.

[2019-05-28 18:09] Sjoerd-van-Hagen commented on #6171
I think it is also not very clear that the user can click to select/deselect the groups. Perhaps by replacing the little check mark with an actual checkbox that could be resolved.

[2019-05-28 18:13] tmazor opened #6172 "group comparison: reordering groups should reorder legend"
If I swap the order of male & female groups, the groups names change (A. Female B.Male --> A. Male B. Female) but the legend order on Overlap & Survival does not change:

![image](https://user-images.githubusercontent.com/10508276/58501360-394a9000-8152-11e9-9109-3110b3f6e915.png)

![image](https://user-images.githubusercontent.com/10508276/58501484-86c6fd00-8152-11e9-9d94-32f6ea4b4eb0.png)

https

[2019-05-28 18:31] tmazor commented on #6155
@kalletlak looks good to me!

[2019-05-28 18:33] tmazor commented on #6162
@kalletlak looks good! will the two plots be on top of each other like this? or can we make them side-by-side like the venn diagrams are?

[2019-05-28 18:53] adamabeshouse opened #6173 "maximum 5 groups in a comparison"
when tons of groups, only show 5, then have a link that says "75 more..", opens a modal where you can select with checkboxes up to 5 groups to have in the workspace

[2019-05-28 18:54] adamabeshouse opened #6174 "different way of handling the window close issue"
dont show confusing text

just have a ping timeout to see if study view has been closed, and show an error if it happens

[2019-05-28 18:56] kalletlak commented on #6162
@tmazor number of bars could grow a lot if they’re lot of groups and intersections between them

[2019-05-28 19:01] tmazor commented on #6162
good point @kalletlak. can we do side-by-side if the plots are small enough to fit that way? and then on top of each other if they are big? or would that be very complicated to encode?

[2019-05-28 19:03] Sjoerd-van-Hagen commented on #6139
Right, because both beta and the main portal feed of the same database... forgot about that.

Tbh I do not see this fitting into this week. We have a public holiday on Thursday and a lot of work. I will see what I can do.

[2019-05-28 19:06] alisman opened #6175 "In study view table chart, items should be DE-selectable by clicking on checkbox"
![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/056e66fe-ef99-471f-811d-fca28a4db5f6)

Discussed this with @jjgao.  Since it's possible to deselect a term that's part of the filter tokens, it should also be possible to do so at the checkbox level.

[2019-05-28 19:53] adamabeshouse opened #6176 "upset changes"
- [x] use only color black
- [x] make dots smaller
- [x] use partition

[2019-05-28 20:45] jjgao commented on #6154
@kalletlak let's show some warning when OQL is used in Mutations tab or OQL except AMP and DEL is used in Copy-Number tab.

[2019-05-28 21:03] #6170 closed

[2019-05-28 21:09] adamabeshouse commented on #6173
@jjgao @alisman how do we handle the situation of clicking on a pie chart with more than 5 categories? do we need a new interface to select which ones will make it through to the comparison page?

[2019-05-28 21:12] jjgao commented on #6149
yes, I should start to search @tmazor's last name :)

[2019-05-28 21:13] adamabeshouse opened #6177 "colored ordinals"

[2019-05-28 21:21] jjgao commented on #6171
Maybe we can do something similar to Gmail: when hovering, display a few dots to indicate draggability?

![image](https://user-images.githubusercontent.com/840895/58513121-c3075700-816c-11e9-89b3-6e09cb505933.png)

[2019-05-28 21:24] jjgao commented on #6139
@Sjoerd-van-Hagen thanks! It's not a blocker for 3.0 because it's already out there in the production. I'll ask @cbioportalpipelines to remove the data for now and we can bring it back once the issue is fixed.

[2019-05-28 21:53] tmazor opened #6178 "group comparison: extra row in OS table?"
I'm not sure what's happening, but there's an extra row in the OS table with certain combinations of groups selected:

![image](https://user-images.githubusercontent.com/10508276/58514953-5e9ac680-8171-11e9-8291-d2653a73e83a.png)

![image](https://user-images.githubusercontent.com/10508276/58514997-825e0c80-8171-11e9-9638-5d3570a94ec4.png)

https://beta.cbioportal.org/comparison/survival?sessionId

[2019-05-28 22:34] #6157 closed

[2019-05-28 22:35] #6158 closed

[2019-05-28 22:35] #6147 closed

[2019-05-28 22:35] #6145 closed

[2019-05-28 22:35] #6156 closed

[2019-05-28 22:35] #6163 closed

[2019-05-28 23:51] jjgao commented on #6139
@rmadupuri will remove the data files.

[2019-05-29 09:52] pieterlukasse opened #6180 "documentation missing on db.use_ssl"
`db.use_ssl` was introduced in https://github.com/cBioPortal/cbioportal/commit/60e1d41db3acaaf8fa7138be1173e4496e6a03d3, without supporting documentation. Would be good to have some explanation of what this does and how to get it working. E.g. should the DB certificate be added to the tomcat keystore?

[2019-05-29 09:53] pieterlukasse commented on #6180
Notify @averyniceday

[2019-05-29 14:44] tmazor opened #6182 "group comparison: save session resets group selections"
I add new groups on the Overlap tab, I click "save to new session", and when the page reloads, all groups are selected.

Is it possible to remember which groups were originally selected and retain that after that page reloads?

[2019-05-29 14:46] tmazor opened #6183 "group comparison: header extends beyond the window size"
When I have many groups, which create an upset diagram that extends beyond the window size, the header also extends beyond the window size.

The header should remain visible within the window width.

![image](https://user-images.githubusercontent.com/10508276/58566586-e7ac0f00-81fe-11e9-99cc-012e6ca978cb.png)

https://beta.cbioportal.org/comparison/overlap?sessionId=5cee9a53e4b0ab4137874211

[2019-05-29 15:02] tmazor opened #6184 "group comparison: update error messages when all samples overlap"
![image](https://user-images.githubusercontent.com/10508276/58566726-20e47f00-81ff-11e9-8704-302ab433642e.png)

This error message makes no sense when I clearly have more than 2 groups selected.

I think the real issue is that overlapping samples are excluded, and given the groups that I have defined, probably every sample overlaps.

The error message should be more accurate -- something like:
Ove

[2019-05-29 15:23] Sjoerd-van-Hagen commented on #6123
@jjgao we are swamped. Who included this Perl package?

[2019-05-29 15:46] #6168 closed

[2019-05-29 16:05] schultzn commented on #6173
Maybe grey out the VS button and ask users to manually store the groups they want to compare?

[2019-05-29 16:06] #6162 closed

[2019-05-29 16:06] #6155 closed

[2019-05-29 16:06] #6152 closed

[2019-05-29 16:06] jjgao commented on #6173
Or we can still send all groups over to the comparison page. On the comparison page, we can select the first 5 groups by default. And the user would have the option to change.

[2019-05-29 16:07] schultzn commented on #6173
That might work too

[2019-05-29 16:13] adamabeshouse commented on #6173
@schultzn I remember you had originally said the block of 80 groups for eg impact cancer type detailed was one of the reasons you wanted to cap the # groups. so if we send them all over we'll still see that. is that okay?

@jjgao

[2019-05-29 16:40] alisman commented on #6173
@adamabeshouse seems like we need to impose a limit on horizontal extend of group buttons either way because they impinge on the dropdown to the right.    maybe we put them in a scroll:auto div to deal with this situation.

[2019-05-29 16:44] #6174 closed

[2019-05-29 19:22] tmazor opened #6185 "group comparison page forgets that I am logged in"
If I am logged in on study view, and then run a comparison, the group comparison page loads with the Login button visible. It's like it forgets that I'm logged in?

[2019-05-29 19:24] tmazor commented on #6185
In fact, I believe it is actually logged out. If I create a new group when the Login button is visible, it doesn't get saved back to the study view page.

If I login, and then create a new group, then it does save the new group back to study view.

[2019-05-29 19:43] tmazor opened #6186 "faq headers are lost"
The highest level headers in the FAQ hierarchy appear in the TOC at the top, but not on the page below.

This is particularly an issue for the last entry in the TOC (what if I have other questions?):
![image](https://user-images.githubusercontent.com/10508276/58586020-286c4e00-8228-11e9-818b-10179205f29b.png)

The text for the answer to this gets lost in the answer to the previous question, becaus

[2019-05-29 19:57] schultzn opened #6187 "OncoPrint tooltip sometimes not wide enough to show all text"
Example - cancer type detailed protrudes out of the tooltip box:
![image](https://user-images.githubusercontent.com/11892704/58587040-666a7180-822a-11e9-80ae-74b747577e44.png)

[2019-05-29 20:16] inodb opened #6189 "Normalize Reference Information for Genes"
Currently we have a gene to transcript mapping in cBioPortal and there is one in Genome Nexus (https://github.com/genome-nexus/genome-nexus-importer/blob/master/data/grch37_ensembl92/export/ensembl_biomart_canonical_transcripts_per_hgnc.txt). We should try to have a single one.

- [ ] Check if the Genome Nexus mappings work for cBioPortal
- [ ] Check if the Genome Nexus mappings work for OncoKB
-

[2019-05-29 20:30] inodb opened #6190 "gnomad column tooltip"
- `Allele Number: Number of times any allele has been observed at this position in the population`

- `Number of Homozygotes: Number of individuals carrying this allele in both copies`
- `Allele Frequency: Proportion of the population with this allele`

[2019-05-29 20:40] alisman commented on #6115
@schultzn @jjgao in working on this we realized that in group comparison, there can be samples from multiple studies in the same curve.  When we fetch the meta data for the clinical data (survival time), we have to fetch for all studies.  We were going to list them all in this tooltip, but then it occured to us that if these are meaningfully different, doesn't it call into question the whole idea

[2019-05-29 21:14] schultzn commented on #6115
Maybe that is a good idea. Maybe an info or alert icon somewhere that explains that the survival data on patients from different cohorts may have been defined by different criteria.

[2019-05-29 21:45] alisman commented on #6115
@schultzn so new plan is, when we detect more than one description (among descriptions for all represented studies) we show an alert message saying so.   Otherwise, we show the info icon? Could we just put the description text in the title?  Seems like it's important enough to warrant display without user interaction?

[2019-05-29 23:28] schultzn commented on #6115
Sounds good. We can maybe evolve that feature over time once we see all the use cases.

[2019-05-30 15:01] tmazor opened #6192 "group comparison: multiple study messages all reference protein"
All 4 tabs (Mutations, Copy-number, mRNA and Protein) show this same message that specifically mentions protein:

![image](https://user-images.githubusercontent.com/10508276/58641917-2bb81600-82ca-11e9-9e3a-62bc1b94e0f9.png)

[2019-05-30 15:54] #6153 closed

[2019-05-30 17:40] adamabeshouse commented on #6149
after discussion with @jjgao we decided that for handling the case of one group being a subset of the other, we're going to do the following:

if a group A is completely covered by other groups B1,...,Bn, then we will just exclude A from the analysis completely, show some indicator of this with tooltip in the group selector interface, and also not exclude A's samples from B1,...,Bn analysis, as on

[2019-05-30 17:41] #6150 closed

[2019-05-30 18:29] #6177 closed

[2019-05-30 19:07] jjgao commented on #6189
Thanks, @inodb.

Just copied all the columns below and let's discuss which ones to keep or add.

hgnc_symbol | A1BG
-- | --
ensembl_canonical_gene | ENSG00000121410
ensembl_canonical_transcript | ENST00000263100
genome_nexus_canonical_transcript | ENST00000263100
uniprot_canonical_transcript | ENST00000263100
mskcc_canonical_transcript | ENST00000263100
hgnc_id | HGNC:5
approved_name | alpha-1-B g

[2019-05-30 19:36] #6116 closed

[2019-05-30 19:40] jjgao commented on #6189
I looked at our cbioportal database, I think the data above covers everything we need. (We don't have length, but I think we can remove the LENGTH COLUMN in the GENE table now - it was previously used in the Mutated Genes tab).

@n1zea144 could someone in your group also take a look, e.g. check all genes in the current portal database are covered.

@zhx828 could you check if all genes in oncokb ar

[2019-05-30 19:52] jjgao commented on #6123
The Perl package is old than me... I don't think it's urgent to get rid of it. Maybe put it on your back burner?

[2019-05-30 21:12] #6176 closed

[2019-05-30 21:20] adamabeshouse opened #6193 "more upset changes"
![image](https://user-images.githubusercontent.com/636232/58665602-3f31a400-82ff-11e9-9df6-7c4d2b9395b5.png)

[2019-05-30 22:43] jjgao commented on #6193
We should write a slack bot to create issues :)

[2019-05-31 00:02] adamabeshouse commented on #6164
@jjgao @alisman at this point we have warnings/banners for unsaved order, unsaved new groups, unsaved deleted groups. each has its own save and reset buttons. is it getting too much? should we consolidate them? or is it okay to have them separate?

[2019-05-31 13:41] #6154 closed

[2019-05-31 14:21] #6172 closed

[2019-05-31 14:23] #5296 closed

[2019-05-31 14:27] tmazor opened #6195 "group comparison: show all tabs when deselect all groups"
If I deselect all groups, I see just 2 tabs:
![image](https://user-images.githubusercontent.com/10508276/58712433-83b85080-838e-11e9-8e04-8b4e7a9b54f9.png)

If I select just one group, all tabs are visible, even though most are disabled:
![image](https://user-images.githubusercontent.com/10508276/58712454-8fa41280-838e-11e9-96c0-159b4280eea3.png)

Can we show all tabs when no groups are selected?

[2019-05-31 14:30] tmazor opened #6196 "group comparison: order NA as the last group"
This is a very minor one...

It looks like groups are ordered alphabetically by default? I think that's reasonable, but can we add an exception to put NA as the last group?

![image](https://user-images.githubusercontent.com/10508276/58712656-fa554e00-838e-11e9-908c-924e20f12031.png)

https://beta.cbioportal.org/comparison?sessionId=5ce8164be4b0ab4137874107

[2019-05-31 14:38] alisman commented on #6196
@adamabeshouse i think we could push this to 3.1.0 if necessary

[2019-05-31 14:41] alisman commented on #6195
@adamabeshouse i think we already planned to address this, right?  lets chat when you get in, someone else could take this

[2019-05-31 15:02] #6183 closed

[2019-05-31 15:02] #6178 closed

[2019-05-31 15:16] #6129 closed

[2019-05-31 15:18] alisman opened #6197 "Change alignment of title in genes bar chart on comparison page"
In genes bar chart on comparison page, move "Genes with highest freq" and Select Genes button to be left aligned, leaving download button on right.  Like so:

![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/e0084ac2-fea9-4744-9ca4-3076ed37ec19)

If click "Select Genes" and change number to 50, you will see that it becomes scrollable.  We want to make sure that message co

[2019-05-31 15:25] tmazor opened #6198 "group comparison: legends on Survival tab are cutoff"
The legends for the group-combination lines are cutoff:

![image](https://user-images.githubusercontent.com/10508276/58716284-b23a2980-8396-11e9-8a7d-5bf485f02d88.png)

https://beta.cbioportal.org/comparison/survival?sessionId=5cf13d70e4b0ab4137874293

[2019-05-31 15:33] tmazor opened #6199 "group comparison: overlap tab typo"
The patient intersection plot is labeled samples:
![image](https://user-images.githubusercontent.com/10508276/58716807-dba78500-8397-11e9-82c2-03c48913cdc1.png)
https://beta.cbioportal.org/comparison/overlap?sessionId=5cee9a53e4b0ab4137874211

[2019-05-31 15:42] tmazor opened #6200 "group comparison: upset plot shows different data now"
This is a screenshot from a few days ago (#6183)

![image](https://user-images.githubusercontent.com/10508276/58717190-a8b1c100-8398-11e9-9b2f-9ee8e14e7140.png)

This is the same data today:
![image](https://user-images.githubusercontent.com/10508276/58717207-b23b2900-8398-11e9-8ad1-c6d403fc88bf.png)
https://beta.cbioportal.org/comparison/overlap?sessionId=5cf14a3ce4b0ab4137874295

The plot is muc

[2019-05-31 15:46] tmazor commented on #6185
This is still happening. While the URL is https://beta.cbioportal.org/loading/comparison?phase=creating_session, I can briefly see the header which shows that I am still logged in. But then it reloads to the comparison session URL and when that loads I am logged out.

[2019-05-31 15:56] alisman commented on #6200
@tmazor yes, we did change how we handle overlap.  i'm not the best person to articulate it exactly so I will get someone else to do so.

[2019-05-31 16:08] adamabeshouse commented on #6182
lets address this together with https://github.com/cBioPortal/cbioportal/issues/6165

[2019-05-31 16:08] alisman commented on #6182
@jjgao we could accomplish this with url params.  or @kalletlak suggested we just not include inactive groups in new session.  would that be too aggressive (@tali)?

[2019-05-31 16:11] alisman commented on #6198
@jjgao is this a useful chart?  should we go ahead and handle the width issue?

[2019-05-31 16:12] adamabeshouse commented on #6200
@tmazor
lets say the session is groups A,B,C

previously, the bar corresponding to groups A and B would have all samples in A and B, regardless of whether they're in C

now, the bar corresponding to groups A and B would have all samples in A and B that are also NOT in C

so the numbers have changed

[2019-05-31 16:12] #6200 closed

[2019-05-31 16:16] kalletlak commented on #6185
Looks like backend changes are not deployed. @inodb @alisman could you check if the latest(3.0.0) backend is deployed to beta?

[2019-05-31 16:16] jjgao commented on #6164
@adamabeshouse I think we should consolidate. We definitely don't need multiple Save and Reset buttons.

[2019-05-31 16:26] jjgao opened #6201 "Create group from Upset diagram"
The user should be able to select a bar and create a group, similar to Venn diagram

[2019-05-31 16:34] jjgao opened #6202 "use the group color in barplot"
![image](https://user-images.githubusercontent.com/840895/58720515-60969c80-83a0-11e9-867a-dc06a3544217.png)

[2019-05-31 16:37] adamabeshouse commented on #6195
@tmazor theres a bit of a subtlety here that makes this hard

We decide whether to show survival and the enrichments tabs based on whether the selected groups have data for it. So technically we really don't know whether we can show those tabs until we know which groups are selected. I think that for a single study there are ways we could get around it, and special cases for multiple study, but fo

[2019-05-31 16:37] jjgao opened #6203 "Add "Most enriched in" column in Mutations and Copy-number when there 3 or more groups"
Currently, we only have the `Enriched in` when there are two groups. When there are 3 or more groups, can we add a column `Most enriched in`?

[2019-05-31 16:47] jjgao opened #6204 "Comparison page: color code CNA in Alteration column in Copy-number tab"
... similar to patient view

![image](https://user-images.githubusercontent.com/840895/58721073-f0891600-83a1-11e9-81fb-bf467e2e9d4f.png)

https://www.cbioportal.org/patient?caseId=TCGA-DI-A1NN&studyId=ucec_tcga_pub

Currently on Comparison page:
![image](https://user-images.githubusercontent.com/840895/58721197-4d84cc00-83a2-11e9-9e52-096cf9db8d3b.png)

[2019-05-31 16:53] jjgao opened #6205 "use groups colors in comparison page"
Overlap tab
- [x] Venn diagrams
- [x] Upset diagrams: first try - https://github.com/cBioPortal/cbioportal-frontend/pull/2382

Survival tab
- [x] Survival curves

Clinical tab
~- [ ] axis label of the plot (optional) -- no worries if too hard to do~ - skipping according to https://github.com/cBioPortal/cbioportal-frontend/pull/2526#issuecomment-509885427

Mutations and Copy-number columns
- [x] ba

[2019-05-31 16:54] adamabeshouse commented on #6205
CC @alisman

[2019-05-31 17:50] #6192 closed

[2019-05-31 18:04] tmazor commented on #6195
@adamabeshouse thanks for the explanation.

I think overall my preference would be to always show all tabs for which any group has data. Then selecting or de-selecting groups would not change which tabs are visible, it would just change which are greyed out. We can then show an appropriate message on those tabs for which is there is no data telling the user to select different groups. Does that se

[2019-05-31 18:05] leexgh commented on #6114
We decide to keep blank but has a tooltip `"Variant has no data in gnomAD"`

[2019-05-31 18:05] tmazor commented on #6201
Agree! I was going to make this same issue :)  I would just add that the user should be able to select multiple bars, just like with the Venn diagram.

[2019-05-31 18:07] kalletlak commented on #6203
@jjgao what should the tooltip be for the column be?

currently we have
<img width="281" alt="Screen Shot 2019-05-31 at 2 06 08 PM" src="https://user-images.githubusercontent.com/12956870/58725482-41ead280-83ad-11e9-9a39-2f5cc77a0732.png">

<img width="293" alt="Screen Shot 2019-05-31 at 2 06 35 PM" src="https://user-images.githubusercontent.com/12956870/58725509-55963900-83ad-11e9-959e-bdd1ac6e4c

[2019-05-31 18:10] adamabeshouse commented on #6195
yeah, that sounds like a good idea to me @tmazor

[2019-05-31 18:11] adamabeshouse commented on #6201
where should we put it when the samples and patients upsets are stacked vertically?

[2019-05-31 18:12] adamabeshouse commented on #6199
https://github.com/cBioPortal/cbioportal-frontend/pull/2386

[2019-05-31 18:12] #6199 closed

[2019-05-31 18:13] tmazor commented on #6182
@alisman I think we need to include unselected groups in the new session.

My actions when I logged this issue are (I think) something many users will do: I deselected several groups in order to have a simple venn diagram from which I could define a new group. I then wanted to compare that new group to some of the other groups which I had deselected.

[2019-05-31 18:14] tmazor commented on #6200
Gotcha! Thanks @adamabeshouse, that makes sense!

[2019-05-31 18:18] adamabeshouse commented on #6182
I think the best way to handle this is store it in the url. I don't think it makes sense to save this to a new session, and we've already decided we're never changing sessions once theyve been created.

[2019-05-31 18:42] tmazor opened #6206 "group comparison: add color to co-occurrence pattern plot"
I find the co-occurrence pattern mini-oncoprint to be hard to understand.

1) Can the upper bar be colored the same colors as the groups list in the header? I think that will help a lot with the interpretation of the plot.

2) Let's add a tooltip:
Upper row: Samples colored according to group.
Lower row: Samples with [a mutation (mutations tab); the listed alteration (copy-number tab)] in the list

[2019-05-31 18:52] kalletlak commented on #6185
@tmazor its should be working now

[2019-05-31 18:52] #6185 closed

[2019-05-31 19:04] tmazor opened #6207 "group comparison: add tutorial slides"
Making an issue so we don't forget about this. I still need to finalize the tutorial slides, but I think we want to have this added to the Tutorials page together with the group comparison release.

[2019-05-31 19:06] tmazor commented on #6185
Yes it is! Thanks @kalletlak !

[2019-05-31 19:13] tmazor opened #6208 "functional impact tooltip doesn't have definitions for mutation assessor"
The tooltip nicely defines how SIFT and PolyPhen predictions are color-coded, but Mutation Assessor isn't included:

![image](https://user-images.githubusercontent.com/10508276/58729077-6c8d5900-83b6-11e9-9741-31755404660b.png)

[2019-05-31 20:03] jjgao commented on #6195
@adamabeshouse thanks for the explanation.

Give the technical complexity, it may not worth the effort. Should we just keep it as is? @tmazor

[2019-05-31 20:07] jjgao commented on #6198
For interactions, should we just do `A & B only`, `A & C only`, etc? I think we should also change "(A) CDKN2AB del" to "(A) CDKN2AB del only".

[2019-05-31 20:15] jjgao commented on #6182
@alisman @kalletlak I think it may make sense to keep the inactive groups in the session. Using url params makes sense to me. @tmazor what do you think?

Deleting a group will be handled here: https://github.com/cBioPortal/cbioportal/issues/6164

[2019-05-31 20:18] jjgao commented on #6203
"The group with the highest alteration frequency"

[2019-05-31 20:24] jjgao commented on #6201
@adamabeshouse can we add it under the plot, the same as venn diagram?

BTW, maybe it's better to hide the button before selection? And also swap the position of button and text?

![image](https://user-images.githubusercontent.com/840895/58732697-45d42000-83c0-11e9-82a4-ad5f19264fc7.png)

[2019-05-31 20:26] jjgao commented on #6207
@tmazor maybe we can already include it while you are still finalizing it?

[2019-05-31 20:27] jjgao commented on #6206
Good idea!

[2019-05-31 20:44] tmazor commented on #6201
I would argue for keeping the button because it is an indication to the user that they can create a group. Otherwise that functionality might be too hidden?

[2019-05-31 20:46] tmazor commented on #6207
haha yes, great point.

Link to the tutorial is: https://docs.google.com/presentation/d/1P2boDph8IfpvjxoxDj_496CLHGtshzJnbbZhszPsmf4/edit#slide=id.p

[2019-05-31 20:46] jjgao commented on #6201
@tmazor good point. Then let's keep it as is.

[2019-05-31 20:49] tmazor commented on #6182
I agree -- let's keep inactive groups in the session. Recording the selection status of each group as a URL parameter makes sense to me.

[2019-05-31 20:51] tmazor commented on #6201
Swapping the button and text might make sense though. Although then we would need to revert the change that @adamabeshouse made to make the new group pop-up not block the text... (sorry @adamabeshouse!)

[2019-05-31 20:54] jjgao commented on #6201
@tmazor not sure if we should swap the button and text if we always show the button but not the text. There would be too much space between the plot and button when nothing is selected.

[2019-05-31 20:56] tmazor commented on #6201
Oh good point - I wasn't thinking about that. Ok let's leave it as is.

[2019-05-31 21:21] alisman opened #6209 "Group comparison tracking"
Comparison page and tabs will be tracked as per usual by ga page events.

Fire GA events for the following interactions:

Create custom group
Create custom comparison session
Create comparison session from chart
Open group management popover

[2019-05-31 21:28] jjgao commented on #6209
On Comparison page:

- tab visits
- number of groups in session
- the studies (if virtual study, break them into real studies)

[2019-05-31 21:36] jjgao commented on #6209
Some of the interactions may be worth capturing so that we know whether they are used, e.g. "Create Group from selected diagram" clicked and Exclude/Include selection,

[2019-05-31 22:52] #6196 closed

[2019-05-31 22:55] adamabeshouse commented on #6195
I would vote do it for 3.1 but not 3.0

[2019-05-31 22:56] adamabeshouse commented on #6201
my favorite outcome!

[2019-05-31 22:57] adamabeshouse commented on #6198
@jjgao thats a great way to improve the overlap tooltips actually. I will make that change

[2019-06-03 01:29] zhx828 commented on #5296
@jjgao I don't think the color should be this way, at least should be reversed? https://www.cbioportal.org/study/summary?id=mbn_mdacc_2013

<img width="547" alt="Screen Shot 2019-06-02 at 9 27 49 PM" src="https://user-images.githubusercontent.com/5400599/58770511-5d0c3c80-857d-11e9-823b-32799676c4f5.png">

[2019-06-03 07:45] Sjoerd-van-Hagen commented on #5296
@zhx828 Yes, that would be better imo.

[2019-06-03 14:29] #6203 closed

[2019-06-03 15:45] tmazor commented on #6195
I think it's important to do, but I'm fine with pushing it back to 3.1 @jjgao @adamabeshouse

[2019-06-03 16:12] schultzn opened #6210 "Search box on Data Sets page needs to be improved"
The search box on the query page works well to find studies. Can the one on the Data Sets page have the same functionality. See the example below:

![image](https://user-images.githubusercontent.com/11892704/58817063-dbf28b00-85f8-11e9-9ea2-d9e5b8cd5d19.png)

![image](https://user-images.githubusercontent.com/11892704/58817077-e6ad2000-85f8-11e9-8345-3cb14cfa5fd3.png)

[2019-06-03 17:59] jjgao commented on #6209
Some discussion from Slack.

Aaron Lisman [12:18 PM]
JJ, working on tracking.  when someone does a comparison from a virtual study, how important is it to know the underlying physical studies?

Aaron Lisman [12:24 PM]
actually, i just figured out a pretty easy way

JJ Gao [1:07 PM]
ok. It’s important to track the physical studies.

Aaron Lisman [1:40 PM]
ok.  figured out away to do it pretty simpl

[2019-06-03 17:59] adamabeshouse commented on #6193
first part done, second part duplicate https://github.com/cBioPortal/cbioportal/issues/6205

[2019-06-03 17:59] #6193 closed

[2019-06-03 18:05] jjgao commented on #5296
@zheins agreed.

[2019-06-03 18:10] adamabeshouse opened #6211 "GC Changes"
~~- [ ] Instead of the dropdown for overlap exclusion, use a button thats inside the alert to toggle
(note to self: put survival tab one into the overlap exclusion indicator with a prop survival tab mode)~~

- [x] Enrichments table: Add color to the winning column in most enriched/tendency
![image](https://user-images.githubusercontent.com/636232/58824140-617e3700-8609-11e9-868e-96f3569279e8.png)

[2019-06-03 20:00] alisman opened #6212 "Direct users to new tutorial on group comparison"

[2019-06-03 20:12] zhx828 commented on #5296
@Sjoerd-van-Hagen @jjgao standard green/red?

<img width="551" alt="Screen Shot 2019-06-03 at 4 11 56 PM" src="https://user-images.githubusercontent.com/5400599/58831275-57b0ff80-861a-11e9-9f31-7c816aef158f.png">

[2019-06-03 20:21] inodb commented on #6161
@tmazor Good point! What should the text be?

How about:

[code]

?

[2019-06-03 21:30] adamabeshouse opened #6213 "blank white, with no mouse interaction, zero areas in venn diagram"

[2019-06-03 21:32] #6126 closed

[2019-06-03 22:45] jjgao opened #6214 "Support allele frequencies in MAF"
Currently we support `t_alt_count` and `t_ref_count` (and `n_alt_count`/`n_ref_count`) in the MAF and calculate allele frequencies based on these columns. But often time, we only have allele frequencies in supplemental data of published studies. It would be useful to support allele frequencies in MAF directly as requested by @ritikakundra .

- [ ] 1. backfill `t_allele_freq` and `n_allele_freq` in

[2019-06-04 15:08] tmazor commented on #6161
sounds good to me @inodb !

[2019-06-04 15:21] sheridancbio opened #6215 "Deletion of Cancer Study via FKC cascade can fail"
With the addition of table genetic_profile_link, records in this table represent references/relationships between genetic profiles. There is a foreign key constraint:
FOREIGN KEY (`REFERRED_GENETIC_PROFILE_ID` ) REFERENCES `genetic_profile` (`GENETIC_PROFILE_ID`) ON DELETE NO ACTION ON UPDATE NO ACTION

When deleting a cancer_study record, at attempt to delete all genetic_profiles will occur throu

[2019-06-04 15:42] jjgao commented on #6161
@inodb @tmazor Maybe add links to the tutorials of virtual studies and custom groups?

[2019-06-04 15:44] sheridancbio commented on #6215
We do need to fix this, because we rely on the cascade deletion of cancer studies currently in the method DaoCancerStudy.deleteCancerStudyByCascade(String cancerStudyStableId).

Re-ordering the deletion of genetic profiles may not solve this problem ... I do not see anything preventing records in genetic_profile_link from having a "A refers to B" and also "B refers to A" records both in the table,

[2019-06-04 15:45] jjgao opened #6216 "GA: track specific tabs instead of /results"
currently, it's still tracking /results after submission. Can we change that?

[2019-06-04 15:51] inodb commented on #6161
@jjgao good idea - i can update it once the tutorial for group comparison is there (I think @alisman has a PR)

[2019-06-04 15:56] alisman commented on #6216
Correct me if I'm wrong but I think the only new data we would obtain from this is whether we went to oncoprint or cancer type summary as default.   I believe I would need to determine this in the query selector prior to submission so that I could choose the route at that point.   I don't remember quite why but this proved problematic.  I can look into it again.

Doing this would also mask the dif

[2019-06-04 16:18] jjgao commented on #6216
One piece of new information is the exact number of visits to each tab.

Some other information that could be useful:
- number of results sessions (newly created or load from old sessions)
- number of newly created sessions
- number of old sessions

Would it be possible to fire the GA event after the page is fully loaded so it can get the redirected url?

[2019-06-04 16:40] jjgao opened #6217 "SSO logon for users in China"
Since users in China cannot use Google login, we should support an additional SSO logon service, e.g. microsoft login.

[2019-06-04 16:58] #6149 closed

[2019-06-04 18:24] #6202 closed

[2019-06-04 18:57] adamabeshouse opened #6218 "style group names and ordinals everywhere in group comparison page"
we want `(<strong>{group.ordinal}</strong) {group.name}`

- [x] chart ticks
- [x] chart legend
~- [ ] enrichments table header~ leave as-is for now
~- [ ] enrichments table "most enriched" column~ leave as-is for now

[2019-06-04 19:14] tmazor opened #6219 "group comparison: expand group labels in upset plot"
I understand that group names can be long and we need to truncate them. However, I think we can do this a little better.

- In the image below, there is an abundance of white space to the left of the samples plot, and between the sample & patient plots. I think there is plenty of room to show more of the group name before truncation.

- The first group listed is (A) Bladder Cancer, but it is trunc

[2019-06-04 19:15] tmazor opened #6220 "upset tooltip extends off screen"
![image](https://user-images.githubusercontent.com/10508276/58907151-80e59480-86db-11e9-8499-f9322c1be710.png)

https://beta.cbioportal.org/comparison?sessionId=5cf6aa24e4b0ab4137874305

[2019-06-04 19:21] tmazor opened #6221 "group comparison: update text for "limit 20 groups" message"
Current text:
Group comparisons are limited to 20. Click OK to create a comparison of the 20 largest groups. Or, you can click to select fewer groups in this chart to compare.

Other options:
Group comparisons are limited to 20 groups. Click OK to compare the 20 largest groups in this chart. Or, select up to 20 specific groups in the chart to compare.

Group comparisons are limited to 20 groups. C

[2019-06-04 19:31] tmazor opened #6222 "group comparison: updates to text in group labels"
I'm not sure what the right solution to this is, but here's the issue.

Looking at the buttons for each of these groups, the text is essentially split 50/50 between the group name and the parenthetical with the number of samples/patients. The problem is that the words "samples" and "patients" take up a whole lot of space and are repetitive across all the groups, whereas the group name is more info

[2019-06-04 19:36] adamabeshouse commented on #6222
just had what I (humbly) think is a great idea - show "s/p" and then on mouseover the button expand the text out

[2019-06-04 19:37] adamabeshouse commented on #6221
I like the first one. If I was a user Id be confused by more abstract terms like "filter", and clarified by a the concrete term of "select"

[2019-06-04 19:43] tmazor opened #6223 "group comparison: comparisons from histograms"
If I click "vs" for a histogram, I expected that the groups in the group comparison would be based on the bins in the histogram.

So for MSK-IMPACT Mutation Count, I expected groups of samples that had <=1 mutation, 2 mutations, 3 mutations, etc:
![image](https://user-images.githubusercontent.com/10508276/58908655-1fbfc000-86df-11e9-8afb-2fdd4a9cda54.png)

Instead I get 4 groups that are defined i

[2019-06-04 19:51] tmazor opened #6224 "group comparison: extra (i) icon when groups overlap"
![image](https://user-images.githubusercontent.com/10508276/58909119-50542980-86e0-11e9-958b-b0a60a79c251.png)
https://beta.cbioportal.org/comparison/survival?sessionId=5ce8030ce4b0ab41378740f4

[2019-06-04 19:55] adamabeshouse commented on #6224
fixed in upcoming PR

[2019-06-04 19:55] #6224 closed

[2019-06-04 20:42] alisman opened #6225 "Need to add metric for groupcount to production ga"

[2019-06-04 20:49] adamabeshouse commented on #6221
integrated into https://github.com/cBioPortal/cbioportal-frontend/pull/2399

[2019-06-04 20:49] #6221 closed

[2019-06-04 21:02] alisman commented on #6206
@adamabeshouse JJ wants the lower bar in the MiniOncoprint to reflect the color of the alteration type (mutation, copy number del or amp)

[2019-06-04 21:20] #6173 closed

[2019-06-04 21:20] #6171 closed

[2019-06-04 21:29] zhx828 commented on #6189
@inodb @jjgao I think due to recent gene updates in portal, some genes in OncoKB are no longer match with GN and portal. I will need to update the genes in the next release.
 https://docs.google.com/spreadsheets/d/1mqmH1ccKWli7te7L8v0lIQh6uWbnSf2gu07l76RL-gI/edit?usp=sharing

[2019-06-04 22:03] jjgao commented on #6222
Good point. I like the last option the best but I think any of them would work.

[2019-06-04 22:27] adamabeshouse commented on #6223
we discussed this before. I think we had decided that in order to do this properly we'd need to update the API to be able to return the bin contents, that we didn't want to redo the slightly complicated bin computation on the frontend.

as-is, the groups are quartiles. maybe we can make that clearer in the group names?

[2019-06-05 01:14] adamabeshouse opened #6226 "enriched-in column shouldnt show colored background for non-significant genes"
![image.png](https://images.zenhubusercontent.com/5949893351aa2c305782470e/56b5a99e-9166-44c4-9365-4f96feeae54e)

[2019-06-05 02:10] alisman commented on #6164
@adamabeshouse i think we should just do this in 3.1.0, no?

[2019-06-05 02:16] alisman commented on #6206
@jjgao @tmazor, I've take care of the colors per this ticket, however there are two outstanding changes unfinished:
1. the tooltip. Tali, there is already a tooltip.  Should we combine the explanatory and data content?
2. @jjgao you asked for the color of the bottom bar to reflect alteration type color from oncoprint.  Adam and I feel this would really make the whole thing ever harder to understan

[2019-06-05 12:30] Sjoerd-van-Hagen commented on #6222
With the third option the name of the first study will still be abbreviated. The s and p in the second option will not mean anything to the user unless they already suspect that it is sample and patient.

I like the first option best. Perhaps we can do better if we can find a good icon for sample? That would be really nice because we can use it consistently across the portal so users will learn wh

[2019-06-05 12:52] Sjoerd-van-Hagen commented on #6222
Perhaps for the patient we can use a 'person' icon with a colored, irregular spot to denote the tumor. Sample would then just be that spot, in the same color and shape. They will be next to each other so people will probably understand, especially if we use them consistently in the whole portal.

In the same fashion, perhaps we can use icons for many other things as well. For instance, now we have

[2019-06-05 14:04] n1zea144 commented on #6189
I will ask one of the curators (probably @rmadupuri) to take a look at gene coverage.

[2019-06-05 14:09] tmazor commented on #6206
@alisman I don't see a tooltip on the "Co-occurence Pattern" column header - or at least I can't get it to appear.

[2019-06-05 14:12] tmazor commented on #6206
@alisman oh do you mean there is a tooltip for each mini-oncoprint? That one is good, but I wanted to add a tooltip to the column name.

[2019-06-05 14:18] #6207 closed

[2019-06-05 14:21] tmazor commented on #6161
One small change: can it say "This will allow you to access your studies and groups from any computer." (add "and groups" to the existing text)

![image](https://user-images.githubusercontent.com/10508276/58963688-9f02d180-877b-11e9-8406-df17dd7da5ce.png)

[2019-06-05 14:29] tmazor opened #6227 "group name tooltip should appear over when hovering over any text"
Currently if a group name is truncated, hovering over the group name will bring up a tooltip with the full name. However, hovering over the sample/patient counts does not bring up the tooltip.

![image](https://user-images.githubusercontent.com/10508276/58964252-94950780-877c-11e9-8a13-e45b829b6803.png)
(D) EGFR mut n... --> tooltip
(25 samples/24 patients) --> no tooltip

Tooltip should appear wh

[2019-06-05 14:32] tmazor commented on #6160
@jjgao we still use "Enriched in" for the column header. Should that also be changed to "Higher expression in" ?

[2019-06-05 14:32] alisman commented on #6115
Gaofei, can you make the "differing criteria" a link tag with href="javascript:void(0)" so that it will appear link a link.  Thanks
![image](https://user-images.githubusercontent.com/186521/58964570-23a21f80-877d-11e9-9ed8-1d5d136c3073.png)

[2019-06-05 14:33] #6151 closed

[2019-06-05 15:07] #6211 closed

[2019-06-05 15:10] alisman commented on #6220
@kalletlak would be great if we could use same solution as you came up with for bar chart

[2019-06-05 15:27] zhx828 opened #6228 "This clinical tab causes error page"
https://cbioportal.mskcc.org/beta/comparison/clinical?sessionId=5cf7dd9ce4b0ab413787434a

[2019-06-05 15:41] adamabeshouse commented on #6220
@alisman I think the problem here is different - its not that the tooltip is bounded by its container, its that the tooltip is going offscreen. what we need is to flip its orientation. i was in the middle of trying as i couldnt figure out how to position the popover relative to its top right corner instead of its top left corner - changing its placement prop only changes the way its displayed ie w

[2019-06-05 16:45] kalletlak commented on #6220
@adamabeshouse  we have the same issue even with gene bar plot. and @alisman suggested to flip the orientation.

[2019-06-05 17:47] kalletlak commented on #6228
@zhx828 could you give more information about it. I Don't have access to mskcc portal

[2019-06-05 18:04] zhx828 commented on #6228
@kalletlak It's the `api/clinical-data-enrichments/fetch` endpoint returns 500. You probably just need to handle the error.

[2019-06-05 18:57] adamabeshouse commented on #6223
temporary fix until 3.1 https://github.com/cBioPortal/cbioportal-frontend/pull/2414

[2019-06-05 18:57] #6220 closed

[2019-06-05 18:58] #6226 closed

[2019-06-05 19:25] kalletlak commented on #6228
Looks like data is string(example `<18` or `>60`) for some attributes of NUMBER datatype. which throws an error while converting them to number when calculating Kruskal-wallis test.

@jjgao how should we handle such special cases?

possible options
1. ignore(filter) such data before doing Kruskal-wallis test
2. update study change datatype to STRING
3. ignore attribute (don't show it in table)

[2019-06-05 19:36] zhx828 commented on #6189
These two genes in GN use different uniport isoforms comparing to the [vcf2mac uniport file](https://raw.githubusercontent.com/mskcc/vcf2maf/master/data/isoform_overrides_uniprot)

gene | isoform
-- | --
HIST1H2BO | ENST00000616182
ARID3B | ENST00000622429

[2019-06-05 19:49] jjgao commented on #6223
@adamabeshouse I am wondering why the sizes of the groups are so different if they are quartiles?

![image](https://user-images.githubusercontent.com/840895/58985465-5c57ee00-87a9-11e9-8f8f-cb08a77a6dea.png)

[2019-06-05 19:58] adamabeshouse commented on #6223
@jjgao ah okay so that's because we do the quartile splitting based on distinct values. so even if there are 10000 samples with 30 mutations, for the quartile calculation we're only considering 30 once. maybe not the best way to do it. But if we don't do it like that then different samples with the same value will fall into different bins.

also I just realized we have a bit of an issue with these

[2019-06-05 20:12] schultzn commented on #6223
I think actual quartiles would be better. So in this example, the 25% of samples with the highest mutation number should be in the first quartile, and so on. Can you do that?

[2019-06-05 20:15] adamabeshouse commented on #6223
I'll paste my reasoning from slack:

[code]

[2019-06-05 20:20] alisman commented on #6228
@kalletlak lets at least handle this error in the sub tag so that the whole comparison session isn't destroyed.  this is easy enough to do by adding an error handler to the mobxpromise and showing a message in the tab

[2019-06-05 20:23] alisman commented on #6228
@zhx828 can you tell how prevalent this is?  i actually remember this coming up before

[2019-06-05 20:29] zhx828 commented on #6228
@alisman @kalletlak  this happens not really frequently but mainly requested by the GENIE community. Some institutions would not want to release the actual age especially for pediatric patient. We need to handle the case in the group comparison. I suggest to ignore the enrichment analysis for clinical attribute that does no qualify the data requirement. So in the GENIE case, we would not perform s

[2019-06-05 20:31] jjgao commented on #6223
@adamabeshouse We can probably write a paper to compare the two methods. Your way of calculating quartiles based on unique values had never occurred to me (and I hadn't seen this way in other places). Do you have a reference for that?

[2019-06-05 20:31] schultzn commented on #6223
I was thinking in terms of quartiles of populations. The top quartile has 25% of the population in it, and each quartile should have the same number of subjects. I think that is the right way to do this for a continuous value.

[2019-06-05 20:59] jjgao commented on #6228
@kalletlak let do option 1 "ignore(filter) such data before doing Kruskal-wallis test".

Let's not block the 3.0 release but please prioritize the fix.

[2019-06-05 21:05] adamabeshouse commented on #6228
@alisman In addition to adding an error screen for the clinical tab, we also need to take off the code in AppStore.ts that makes the error screen come up on every unhandled error. Any server error from a client that results in Promise.reject will be an unhandled error.

[2019-06-05 21:05] adamabeshouse commented on #6228
line 26: siteErrors.push(...)

[2019-06-06 10:32] pieterlukasse opened #6231 "Filter option broken for clinical tracks selection component"
Steps to reproduce:

1. go to http://www.cbioportal.org/results/oncoprint?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=brca_tcga&case_set_id=brca_tcga_cnaseq&data_priority=0&gene_list=SOX9%2520RAN%2520TNK2%2520EP300%2520PXN%2520NCOA2%2520AR%2520NRIP1%2520NCOR1%2520NCOR2&geneset_list=%20&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=brca_tcga_gistic&genetic_pr

[2019-06-06 10:32] pieterlukasse commented on #6231
notify @jjgao, @alisman

[2019-06-06 11:34] paulcwvandijk opened #6233 "Selection of gene in volcano plot for mini onco print broken"
Steps to reproduce:

go to https://www.cbioportal.org/results/enrichments?Action=Submit&cancer_study_list=msk_impact_2017&case_set_id=msk_impact_2017_all&gene_list=TP53&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=msk_impact_2017_cna&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=msk_impact_2017_mutations&tab_index=tab_visualize&show_samples=false&clinicallist=NUM_SAMPLES_PER_PATIENT

The ins

[2019-06-06 11:41] paulcwvandijk commented on #6233
notify @jjgao, @alisman

[2019-06-06 15:06] alisman commented on #6233
thanks @paulcwvandijk.  We are replacing this feature in release-3.0.0, which should be released this week.  so i think we should just leave this be.  (the mini oncoprint will now appear in each row the gene table and won't require user interaction to see)

[2019-06-06 15:06] #6233 closed

[2019-06-06 15:08] jjgao opened #6236 "group comparison: save session resets the page"
For example, when I look at the Mutations tab and decide to reorder the groups. After saving, it reload the page and just back to Overlap tab.

I am wondering if it is possible just to reset the URL without reloading the page?

[2019-06-06 15:09] jjgao commented on #6182
closing this one. We should not reload the page after saving as logged in #6236

[2019-06-06 15:09] #6182 closed

[2019-06-06 15:22] tmazor opened #6237 "update labels on enrichments tab"
![image](https://user-images.githubusercontent.com/10508276/59044752-b1990b80-884c-11e9-8072-f9c72cb47c1d.png)

The frequency plot is confusingly labeled on the enrichments tab. Both the tooltip & axis labels refer to "Alteration Frequency in Co-occurence/Mututal Exclusivity". However, what is being plotted is the "Alteration Frequency in Altered/Unaltered group".

Let's update the tooltip text &

[2019-06-06 15:23] tmazor opened #6238 "update enrichments mrna/protein text"
The text here should be singular. Let's change it to: "Click on a gene in the table to render this plot."

This applies to mRNA & Protein tabs

![image](https://user-images.githubusercontent.com/10508276/59045131-70edc200-884d-11e9-893e-9d6634a79a76.png)

[2019-06-06 15:25] tmazor opened #6239 "enrichments: text & checkbox are mis-aligned"
![image](https://user-images.githubusercontent.com/10508276/59045243-ad212280-884d-11e9-83dc-677728665662.png)

On both Mutations & Copy-number tabs, the "Significant only" text isn't aligned quite right with the checkbox.

[2019-06-06 16:14] kalletlak commented on #6237
even dropdown contains Co-occurence, Mututal Exclusivity. should we even change this?
![Screen Shot 2019-06-06 at 12 12 47 PM](https://user-images.githubusercontent.com/12956870/59048770-8dd9c380-8854-11e9-9147-c96af9d21226.png)

[2019-06-06 16:30] jjgao opened #6240 "Comparison Clinical tab: the group order in chart"
... should follow the the same order as in the header.

https://beta.cbioportal.org/comparison/clinical?sessionId=5cf92520e4b0ab4137874376

![image](https://user-images.githubusercontent.com/840895/59049719-a34fed00-8856-11e9-81a3-dd58c99b5eef.png)

[2019-06-06 16:37] jjgao commented on #3225
@dippindots I just wanted to make sure this is still on your to-do list? FYI - the svg on comparison page does not work either.

[2019-06-06 16:40] jjgao opened #6241 "PDF button returns svg file"
... in beta

[2019-06-06 18:14] dippindots commented on #3225
@jjgao It is not on the top of my list, but I can prioritize this.

[2019-06-06 18:23] jjgao commented on #6160
@tmazor I think that makes sense.

[2019-06-06 19:02] adamabeshouse commented on #6025
https://github.com/cBioPortal/cbioportal-frontend/pull/2429

[2019-06-06 19:07] jjgao commented on #3225
@dippindots it'd be good to prioritize and see if there is an easy solution.

[2019-06-06 19:17] jjgao commented on #6222
@Sjoerd-van-Hagen good idea about have icons consistently across the portal, but I am not sure having icons in the button here would look good - it could be.

Before we can decide on icons, maybe we can go with option 1? @tmazor @Sjoerd-van-Hagen @adamabeshouse

[2019-06-06 19:18] jjgao commented on #6206
@alisman I get your point, let's not worry about # 2.

[2019-06-06 19:39] #6240 closed

[2019-06-06 19:39] #6239 closed

[2019-06-06 19:40] #6238 closed

[2019-06-06 19:52] adamabeshouse commented on #6025
https://github.com/cBioPortal/cbioportal-frontend/pull/2431

[2019-06-06 20:06] #6237 closed

[2019-06-07 17:44] #6212 closed

[2019-06-07 17:44] #6209 closed

[2019-06-07 17:44] #6225 closed

[2019-06-07 17:47] jjgao commented on #6115
@dippindots @alisman can this be closed?

[2019-06-07 17:47] #6241 closed

[2019-06-07 17:47] #6128 closed

[2019-06-07 17:50] #6184 closed

[2019-06-07 17:51] #6119 closed

[2019-06-07 17:51] #6097 closed

[2019-06-07 17:51] #6127 closed

[2019-06-07 17:52] #5771 closed

[2019-06-07 17:54] dippindots commented on #6115
@jjgao Yes, it is merged and ok to close.

[2019-06-07 17:56] jjgao commented on #5716
@zhx828 anything left for this?

[2019-06-07 18:05] zhx828 commented on #5716
@jjgao nope. Just need to verify everything looks good. Then I will schedule the release.

[2019-06-07 18:52] jjgao opened #6246 "clean up survival analysis code on study view page"
Survival analysis is moved from study view page to comparison page, but most of the code remains. We should clean them up.

https://github.com/cBioPortal/cbioportal-frontend/pull/2388

[2019-06-07 18:55] #6197 closed

[2019-06-07 20:37] #5925 closed

[2019-06-07 20:38] pieterlukasse commented on #5925
the portal now displays a clear error message:
<img width="909" alt="Screen Shot 2019-06-07 at 22 37 31" src="https://user-images.githubusercontent.com/2900303/59132236-f1f3a900-8974-11e9-81b1-5cc52e1f5c08.png">

[2019-06-07 20:46] adamabeshouse commented on #6204
should it say DeepDel as well?

[2019-06-07 23:35] #5851 closed

[2019-06-07 23:35] #6115 closed

[2019-06-08 05:36] zhx828 opened #6247 "The backend keeps printing data"
Since the release(or maybe existed before I never noticed), the backend keeps printing the following format data
0.1184902054467221   0.11849020544672210497605391310571576468646526336669921875
59  1  32  0
0.6521739130434646   0.65217391304346461478047558557591401040554046630859375
60  0  31  1
0.34782608695650147   0.347826086956501467906122115891776047646999359130859375
59  1  32  0
0.6521739130

[2019-06-10 13:51] #5895 closed

[2019-06-10 13:52] #5544 closed

[2019-06-10 13:52] #5543 closed

[2019-06-10 13:53] #4363 closed

[2019-06-10 13:58] jjgao opened #6249 "group comparison - mutations page with multiple studies involved"

[2019-06-10 13:58] jjgao commented on #5555
multi-study support logged https://github.com/cBioPortal/cbioportal/issues/6249

[2019-06-10 13:58] #5555 closed

[2019-06-10 13:58] #5545 closed

[2019-06-10 13:59] #6085 closed

[2019-06-10 14:03] jjgao commented on #6228
hmm. still not work...
![image](https://user-images.githubusercontent.com/840895/59200764-f7184a00-8b66-11e9-8107-73dbd2ad4349.png)

[2019-06-10 14:07] jjgao opened #6250 "Group comparison - Phase 2"
- [ ] Methylation tab
- [ ] Should we support continuous CNA data?
- [ ] Support patient level enrichments analysis #4637
- [ ] treat overlapping part as a separate group #5803
- [ ] Integrate the Comparison component with Results page #5802
- [ ] Comparison tab in Results: allow group samples by gene/track #5804

[2019-06-10 14:07] jjgao commented on #5548
created https://github.com/cBioPortal/cbioportal/issues/6250 for phase 2 and future work.

[2019-06-10 14:07] #5548 closed

[2019-06-10 14:08] jjgao commented on #6161
@inodb please update and close this issue (last issue in 3.0.0 :))

[2019-06-10 14:18] jjgao commented on #6204
@adamabeshouse yes.

[2019-06-10 14:22] #6206 closed

[2019-06-10 14:23] kalletlak commented on #6249
duplicate of https://github.com/cBioPortal/cbioportal/issues/6121

[2019-06-10 14:23] #6249 closed

[2019-06-10 14:24] jjgao opened #6251 "group comparison: add tooltip to co-occurrence pattern column header"
left over from https://github.com/cBioPortal/cbioportal/issues/6206

[2019-06-10 14:25] jjgao commented on #6206
tooltip issue: https://github.com/cBioPortal/cbioportal/issues/6251

[2019-06-10 14:37] jjgao opened #6252 "More options for comparing groups based on numerical attribute"
e.g.

- allow user input percentiles
- allow user defined rage: #5819
- should we allow change of range in Comparison page?

[2019-06-10 14:40] jjgao commented on #5819
@zhx828 would you have time to work on this soon?

[2019-06-10 14:41] jjgao commented on #5819
It would be good to do some mockup or brainstorm first.

[2019-06-10 14:42] jjgao commented on #6223
future improvement logged https://github.com/cBioPortal/cbioportal/issues/6252

[2019-06-10 14:42] #6223 closed

[2019-06-10 14:45] jjgao commented on #6201
@adamabeshouse Let's implement the button under each chart?

[2019-06-10 14:54] #6247 closed

[2019-06-10 14:55] jjgao commented on #4637
@adamabeshouse maybe we can implement this option for comparison page? I think we can prioritize implementing this for the Mutations and Copy-number tabs locally since it's easy to merge mutation and copy number events on the patiennt level.

[2019-06-10 14:59] alisman commented on #6206
@tmazor ok, column header.  got it

[2019-06-10 15:00] #6161 closed

[2019-06-10 15:00] jjgao commented on #5680
duplicate: https://github.com/cBioPortal/cbioportal/issues/6121

[2019-06-10 15:00] #5680 closed

[2019-06-10 15:02] jjgao commented on #6218
related: https://github.com/cBioPortal/cbioportal/issues/6205

[2019-06-10 18:23] schultzn opened #6253 "New example link for group comparison"
Can we add this link to the list of examples:
https://www.cbioportal.org/comparison/mutations?sessionId=5cf89323e4b0ab413787436c

We can call it "Comparison of primary and metastatic prostate cancer"

[2019-06-10 20:39] #6160 closed

[2019-06-10 20:39] #6103 closed

[2019-06-10 20:45] zhx828 commented on #6228
@jjgao the issue has been addressed in production portal if you look at this link with same session id https://cbioportal.mskcc.org/comparison/clinical?sessionId=5cf7dd9ce4b0ab413787434a The beta portal is not up to date.

[2019-06-10 20:45] #6228 closed

[2019-06-10 20:51] khzhu opened #6254 "multiple genome support part II: validation of CHR and ENTREZ_GENE_ID combinations"
A task left from multiple genome support PR #5891:
- [ ] validation of CHR and ENTREZ_GENE_ID combinations before loading into mutation_event and cosmic_mutation tables

[2019-06-10 21:58] alisman opened #6255 "When in pie chart tooltip, show column name in table"
![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/f3981836-8468-49a8-ac00-5e043d6a5f3f)

The first column in this table used to have header "Sex."   We took that away because it was redundant when table was shown as top level chart. But when the table is shown inside tooltip, one can see we need the column name.

[2019-06-10 22:02] alisman opened #6256 "Prototype: fork the homepage experience to give equal emphasis to query and study summary paths"
Beneath the study selector, hide the subsequent steps (initially).  Instead, in some fashion TBD, show two "forks":
1. Query by gene
2. Explore cohorts

[2019-06-11 15:13] jjgao commented on #5716
@zhx828 thanks, please prioritize.

[2019-06-11 15:15] jjgao commented on #3635
@inodb who's going to work on this?

[2019-06-11 19:31] zhx828 opened #6260 "Gene panel tooltip in Study View stretches too wide when lots of text in it"
http://genie.cbioportal.org/study/summary?id=genie_public

![Screen Shot 2019-06-11 at 3.30.27 PM.png](https://images.zenhubusercontent.com/568a9ed4638e718c995fc581/c53c346b-2cec-475d-ab19-f75a580de816)

[2019-06-11 21:08] alisman commented on #6033
@tmazor could you test the fix here: https://cbioportal-frontend-pr-2288.herokuapp.com/

[2019-06-11 21:37] zhx828 commented on #5819
@jjgao just had a discussion with Onur. It may turn out to be easier than we thought. I will prioritize the ticket.

[2019-06-11 21:42] zhx828 commented on #5716
@jjgao could you take a final look at this feature? https://cbioportal-frontend-pr-2109.herokuapp.com/study/summary?id=lgg_tcga

[2019-06-11 21:45] kalletlak opened #6261 "Error while importing gene panel data from study_es_0 study"
https://groups.google.com/forum/#!topic/cbioportal/07Qwl_LYTvI

[2019-06-12 07:00] DarioS opened #6262 "Oncoprint Mutation Representation When RNA-seq Available"
Many data sets hosted by cBioPortal have both exome sequencing and RNA sequencing available. If a gene is not transcribed, its mutation might still be described as missense because the data types are treated independently. Could there be a new category of annotation, Not Expressed that represents mutations differently for unexpressed genes (a category such as missense would not be shown for such a

[2019-06-12 14:47] zhx828 commented on #6255
@dippindots just want to give you a heads-up, there are some minor changes introduced in this pr https://github.com/cBioPortal/cbioportal-frontend/pull/2109/files are related to this ticket.  Let me know when you finished the fix, it may create conflict in yours if mine is merged first.

[2019-06-12 17:09] jjgao commented on #6261
@Sjoerd-van-Hagen would anyone from your team help with this?

[2019-06-12 17:11] jjgao commented on #5716
@zhx828 It looks great! Thanks.

[2019-06-12 17:13] Sjoerd-van-Hagen commented on #6261
@pvannierop can you have a look?

[2019-06-12 17:15] jjgao commented on #6262
@DarioS it's a good idea but we don't actually have such data (whether a mutation is expressed). In order to do that, we would need to build a pipeline to generate the data. Please let us know if you know that such dataset is already available somewhere.

[2019-06-12 17:15] #6262 closed

[2019-06-12 17:16] jjgao commented on #6261
Thanks

[2019-06-12 18:02] tmazor commented on #6033
Looks good overall, but I think we need to figure out how to deal with the scenario where no samples are profiled for one of the query genes, e.g. https://cbioportal-frontend-pr-2288.herokuapp.com/results/oncoprint?session_id=5d013db4e4b0ab413787508e

ACVR1 isn't profiled in any queried samples, but the MutEx page still runs a calculation:
![image](https://user-images.githubusercontent.com/1050827

[2019-06-12 18:21] alisman commented on #6033
@tmazor @jjgao, while we're at it, seems like maybe we should even raise a flag if some percentage of samples are not profiled in a certain gene?   it seems wrong to treat any significant portion of samples that are not profiled as negative.

[2019-06-12 20:06] dippindots commented on #6255
@zhx828 Thanks! It is just a one-line fix, and fortunately, we don't have overlap!

[2019-06-12 20:37] jjgao commented on #6033
@dippindots @tmazor: I think we should exclude genes that are not profiled in any samples. We can add a message: "ACVR1 is not profiled in any queried samples and therefore excluded in this analysis."

@alisman this issue is about excluding "not profiled" samples and not treat them as negative.

[2019-06-12 20:48] tmazor commented on #6033
@jjgao that sounds good to me

[2019-06-12 20:49] tmazor commented on #6049
@jjgao can we prioritize this one? I think it's important to be clear about this.

[2019-06-12 20:54] dippindots commented on #6033
@jjgao @tmazor Thanks for your comments, I will update this pr to add the warning message.

[2019-06-12 20:58] jjgao opened #6265 "A earlier session is no longer working"
reported by [a user](https://groups.google.com/forum/#!msg/cbioportal/1murYSTdY-g/-25ufVQOBgAJ)

http://bit.ly/2WgIFYK

[2019-06-12 21:02] #6132 closed

[2019-06-12 21:03] #6251 closed

[2019-06-12 21:04] #6255 closed

[2019-06-12 21:08] jjgao commented on #5853
@khzhu any update on this?

[2019-06-12 21:10] jjgao commented on #4465
@n1zea144 I am closing this one. Please create separate issues for caching improvement you are working on.

[2019-06-12 21:10] #4465 closed

[2019-06-12 21:11] jjgao commented on #4882
@inodb do we need to keep this open?

[2019-06-12 21:13] jjgao commented on #5167
@zhx828 @onursumer: how hard is it to do the above?

[2019-06-12 21:14] jjgao commented on #4983
@zhx828 could you prioritize this one?

[2019-06-12 21:16] jjgao commented on #5892
@kalletlak could you prioritize this one?

[2019-06-12 21:19] jjgao commented on #4024
@alisman I tried to search a couple of TCGA patients. Google doesn't return cBioPortal link on this...

[2019-06-12 21:27] jjgao commented on #1699
@onursumer has this been resolved?

[2019-06-12 21:35] jjgao commented on #5961
@n1zea144 @sheridancbio somehow this study is `set_oa_gct` but the case id is `pi_8a_d6_set_oa_gct_all`. I think we should fix the data.

[2019-06-12 21:40] tmazor opened #6266 "query interface info tooltip sometimes jumps around"
This one is not consistent so a little hard to reproduce, but sometimes when I hover over the (i) for a study in the query interface, the tooltip appears in the wrong location.

For example, here I hovered on the (i) for CCLE, but the tooltip appears to be pointing at the study below it:
![image](https://user-images.githubusercontent.com/10508276/59388016-a3f5f100-8d38-11e9-836c-9491609ac97c.png)

[2019-06-12 21:45] jjgao commented on #6189
@inodb @zhx828 @n1zea144 @rmadupuri please prioritize this one. This will fix a couple of existing issues, e.g. #5910 and cBioPortal/datahub#540 and will give us a clean start to re-import all studies.

[2019-06-12 21:49] khzhu commented on #5853
@jjgao , I do not think this is a problem any more. Repaste my comments on April 29.

after some debugging, I would say this is no longer an issue. First of all, the backend queries the clinical data by clinical attributes Ids and sample Ids only. And, there isn't any filters applied to the clinical attribute values being pulled out from the database. The frontend, on the other hand, is filtering

[2019-06-12 21:54] jjgao commented on #4791
@inodb should this be closed?

[2019-06-12 22:00] #4165 closed

[2019-06-12 22:07] #5683 closed

[2019-06-12 22:12] #5739 closed

[2019-06-12 22:17] jjgao commented on #5751
@dippindots any reason this was moved from Review back to Backlog?

[2019-06-12 22:21] dippindots commented on #5751
@jjgao My previous implementation is not very generic, so I closed that pr and will try to come up a generic way to implement this which can also use for other tabs.

[2019-06-13 10:28] inodb commented on #4791
yes

[2019-06-13 10:28] #4791 closed

[2019-06-13 14:34] Sjoerd-van-Hagen opened #6268 "Menu for adding clinical tracks not working as intended"
The menu for adding clinical tracks was created with the intention to make it easier to quickly add multiple clinical tracks to the oncoprint. The idea was to keep the menu open while the user would click the tracks. However, when I click on one menuitem the oncoprint will rerender and the menu will temporarily disappear. This gives a clunky feel to it and I think this was working better before. C

[2019-06-13 14:35] Sjoerd-van-Hagen commented on #6268
@jjgao @adamabeshouse ^

[2019-06-13 14:38] alisman opened #6269 "Missing "other data" in oncoprint according to e2e test"
There's a test ("should have Other mutations in oncoprint") for this oncoprint which asserts that there should be "other mutations" present.   There aren't currently.   @adamabeshouse @jjgao @ritikakundra can we update this test or is their likely missing data?

https://www.cbioportal.org/results/oncoprint?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=prad_fhcrc&ca

[2019-06-13 14:49] #6253 closed

[2019-06-13 16:22] #5716 closed

[2019-06-13 16:24] zhx828 commented on #5504
The issue has been addressed by not rerendering the wrapper of the fixedheadertable but rerender the component.

[2019-06-13 16:24] #5504 closed

[2019-06-13 16:33] zhx828 commented on #5716
@jjgao @schultzn @Sjoerd-van-Hagen this feature is not released.

[2019-06-13 17:15] tmazor opened #6270 "CNA table frequency tooltip references mutations"
![image](https://user-images.githubusercontent.com/10508276/59453099-27691e00-8ddd-11e9-957f-436601d25025.png)

Tooltip should say "copy number alterations" instead of "mutations"

[2019-06-13 17:30] n1zea144 commented on #5961
Hi @dippindots @alisman @jjgao Sorry for not following up sooner.  We did go back to roslin and ask them to update the data.  I'll remind them and also close this ticket.

[2019-06-13 17:30] #5961 closed

[2019-06-13 17:41] jjgao commented on #5296
@zhx828 looks good.

[2019-06-13 17:46] dippindots commented on #6033
@tmazor @jjgao This pr has been updated, could you help to test it one more time? Thanks! https://cbioportal-frontend-pr-2288.herokuapp.com/

[2019-06-13 18:01] tmazor commented on #6033
Look better @dippindots ! I found one edge case that isn't accounted for, and also I'd like to update the warning text:

If I run a query with two genes that are not profiled in any of the queried samples, clicking on the MutEx tab breaks the site. The page goes blank and this error appears in the console:
![image](https://user-images.githubusercontent.com/10508276/59456023-669a6d80-8de3-11e9-8970

[2019-06-13 18:14] schultzn commented on #6133
I also just noticed that the VUS filter propagates to the mutations tab. Is that intended? Does it also apply to other tabs? If so, we definitely need the filter info message.

[2019-06-13 19:03] #6204 closed

[2019-06-13 19:11] #6260 closed

[2019-06-13 19:18] zhx828 commented on #5296
@jjgao @schultzn @Sjoerd-van-Hagen just got some feedback from Aaron about the green/red combination especially in the following screenshots. The combination is not really friendly to color weakness/blindness users, especially when we start to apply the color in oncoprint. Should we reconsider the color for YES/POSITIVE?

## After applying green/red
![oncoprint_sorts_through_a_flow_with_clinical_t

[2019-06-13 19:23] zhx828 commented on #6270
@tmazor this issues is fixed in production portals.

[2019-06-13 19:23] #6270 closed

[2019-06-13 19:48] jjgao commented on #5296
@zhx828 I think it's ok to use blue (living) and red (deceased).

[2019-06-13 22:01] jjgao commented on #6049
@tmazor prioritized :) @adamabeshouse please work on this soon.

[2019-06-13 22:09] jjgao commented on #6133
@adamabeshouse @alisman please prioritize this one.

[2019-06-13 22:18] jjgao commented on #5853
@khzhu I don't think I got it.

So when we have both `Local Recurrence` and `Local recurrence`, is our API pull both samples out when we query for `Local Recurrence`, ie. case insensitive? @khzhu @zhx828

[2019-06-13 22:20] jjgao commented on #6268
@adamabeshouse maybe it's time to replace it with the Add Chart interface @zhx828 implemented in study view?

[2019-06-13 22:22] jjgao commented on #6269
@alisman could you paste the previous screenshot?

[2019-06-13 22:28] jjgao commented on #5716
@Sjoerd-van-Hagen @schultzn should we try to remember user's preference in local storage / cookie?

[2019-06-14 01:05] khzhu commented on #5853
@jjgao , the API will only return those **_Local Recurrence_** samples. Is that a desirable behavior? If we have both **_Local Recurrence_** and **_Local recurrence_** samples, then we would have two different sample types listed on the pie chart. So, If we want to treat "Local Recurrence" and "Local recurrence" as one sample type, then we should do the mapping before importing/loading into the da

[2019-06-14 10:10] Sjoerd-van-Hagen commented on #5716
If it is not too much effort and you are willing to do that, I would say yes.

[2019-06-14 10:14] Sjoerd-van-Hagen commented on #6268
@jjgao I actually just found a funny bug in that one. Let me see if I can reproduce it with a few steps.

[2019-06-14 10:18] Sjoerd-van-Hagen commented on #6268
Ah yes, got it.

- Select a small study, I used https://www.cbioportal.org/study/summary?id=mixed_pipseq_2017
- Open the Add chart menu
- Make a selection that creates bread crumbs, for instance click on a pie slice

Now the appearance of the breadcrumbs will push the 'add chart' button behind the 'add chart' menu and you cannot close the menu any more.

The same can actually be achieved from with

[2019-06-14 10:20] Sjoerd-van-Hagen opened #6272 "Add chart menu in study view hiding the add chart button preventing user from closing the menu"
- Select a small study, I used https://www.cbioportal.org/study/summary?id=mixed_pipseq_2017
- Open the Add chart menu
- Make a selection that creates bread crumbs, for instance click on a pie slice

Now the appearance of the breadcrumbs will push the 'add chart' button behind the 'add chart' menu and you cannot close the menu any more.

The same can actually be achieved from within the menu by cl

[2019-06-14 10:20] Sjoerd-van-Hagen commented on #6272
@jjgao @zhx828

[2019-06-14 10:20] Sjoerd-van-Hagen commented on #5716
It is probably not so much a bug in the menu itself but in the way it is used.

[2019-06-14 10:22] Sjoerd-van-Hagen commented on #6268
Is this 'add chart' menu based on Riza's code? I am a bit surprised that we have two different menu's here. I thought we would reuse the one Riza built for the oncoprint.

[2019-06-14 11:10] Sjoerd-van-Hagen commented on #5296
When in doubt use: http://colorbrewer2.org/#type=qualitative&scheme=Dark2&n=3

Check the box for 'colorblind safe'

[2019-06-14 14:22] zhx828 commented on #6272
@Sjoerd-van-Hagen I will fix.

[2019-06-14 14:24] zhx828 opened #6274 "Remember user preference whether filter the tables in SV by cancer gene list"

[2019-06-14 14:25] zhx828 commented on #5716
@jjgao @Sjoerd-van-Hagen created an issue https://github.com/cBioPortal/cbioportal/issues/6274

[2019-06-14 14:29] zhx828 commented on #5296
It will look like this in production based on @Sjoerd-van-Hagen recommendation.
![Screen Shot 2019-06-14 at 10 28 20 AM](https://user-images.githubusercontent.com/5400599/59516417-4b853780-8e8f-11e9-8e87-1c5d16f57289.png)
![Screen Shot 2019-06-14 at 10 28 45 AM](https://user-images.githubusercontent.com/5400599/59516418-4b853780-8e8f-11e9-990c-d4d3df4984ce.png)

[2019-06-14 14:47] Sjoerd-van-Hagen commented on #5296
Nice! The 8% of the men and 0.5% of the women who are colorblind will be happy.

[2019-06-14 15:23] alisman commented on #6269
@jjgao it's actually a logical test, so no screenshot available

[2019-06-14 17:31] jjgao commented on #5853
@khzhu I think one option is to make the web api case insensitive.

For example, currently this link works: https://www.cbioportal.org/study/summary?filterAttributeId=SEX&filterValues=Male&id=msk_impact_2017

but not this: https://www.cbioportal.org/study/summary?filterAttributeId=SEX&filterValues=MALE&id=msk_impact_2017

[2019-06-14 17:35] jjgao commented on #5853
Another reason we should make filter case insensitive is b/c the API for counting (pie chart) is case insensitive.

[2019-06-14 17:43] jjgao commented on #6268
@Sjoerd-van-Hagen The "add chart" menu is not based on Riza's code. Could you file a bug for what you found?

[2019-06-14 17:45] jjgao commented on #6268
Just saw it: https://github.com/cBioPortal/cbioportal/issues/6272

[2019-06-14 21:17] khzhu commented on #5853
@jjgao , here are sql queries for counting clinical attributes, seems are case sensitive though.
[code]

[2019-06-14 21:33] jjgao commented on #5853
@khzhu "group by" is case insensitive :)

https://stackoverflow.com/questions/10952696/how-to-do-a-case-sensitive-group-by

[2019-06-14 21:48] alisman commented on #6265
@ritikakundra @jjgao the name of the study "all_phase2_target_2018_pub" appears to have changed.  We get the following 404 response:
{"message":"Study not found: all_phase2_target_2018_pub"}
(We need to handle this better. )

[2019-06-14 21:48] khzhu commented on #5853
@jjgao , but all queries are based on clinicalAttribute IDs sent from the view not text (clinical attributes)
[code]

[2019-06-17 19:26] rmadupuri commented on #6189
Hi @jjgao, the following genes in database did not have matches in GN. Divided them to 4 sheets.
https://docs.google.com/spreadsheets/d/1JCx12E86TGbMydRuzwFSUVgJ2HwlGAvKFViDfgaEK2U/edit?usp=sharing

1. 76 Protein coding genes (Sheet 1)
2. 1820 genes of other types (ncRNA, pseudo, rRNA, scRNA, tRNA, biological-region) (Sheet 2)
3. 24,925 genes whose name starts with LOC.. (Sheet 3) (not sure if nee

[2019-06-17 19:30] alisman opened #6277 "Rewrite mutation table tests as screenshot tests"
Please rewrite these three tests as screenshot tests.

![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/45d6ef7a-3ee2-4794-a1c0-1825df01893d)

[2019-06-17 19:54] alisman commented on #6133
@jjgao @schultzn, adam and I discussed this one.  As far as showing current filtering in a header message, one question is the "sign" of the filters.   Right now we show VUS by default.  So the header message would have to read "_**Hiding**_ VUS".    Alternatively, we could change the checkbox to read "hide VUS ..." and have it unchecked by default.   What do you guys think?

![image](https://user

[2019-06-17 19:55] adamabeshouse commented on #6133
To add to that, there's also a question of what we should show in the alert - just filtering, of germline/VUS, or also annotating?

[2019-06-17 20:09] jjgao commented on #5528
Another user inquiry: https://groups.google.com/forum/#!topic/cbioportal/kGNyVgOeutQ

[2019-06-17 20:31] jjgao opened #6278 "pull mrna, protein, continuous cna, and methylation data in study view"
- [x] add a new tab "Gene level" (next to Genomics tab) in the "Add Chart" dialog
- [x] UI for pulling data for a single gene and a single profile (mrna, protein, continuous cna, and methylation data)
- [x] display the data in bar plot
- [x] support group comparison, similar to other bar plot
- [x] save the chart in user-specific data so that it'll load up next time

[2019-06-17 20:41] jjgao opened #6279 "adding custom groups into oncoprint"
It would be useful to support adding custom groups to oncoprint. Maybe we can just add the custom groups into the clinical data menu with a prefix, e.g. "Custom Group: "?

[2019-06-17 21:47] adamabeshouse commented on #6279
and the clinical track value would be in group/not in group?

[2019-06-17 22:00] schultzn commented on #6133
I like his:

"hide VUS ..." and have it unchecked by default.

[2019-06-17 23:02] ritikakundra commented on #6265
@alisman waiting for this to be merged https://github.com/cBioPortal/cbioportal/pull/6271 and then we will import this back in

[2019-06-17 23:13] ritikakundra commented on #6269
@alisman @jjgao I don't know if this matters but in this query, the oncoprint is not showing the amp for sample 06-047QQ1_BONE:
![Screen Shot 2019-06-17 at 7 10 36 PM](https://user-images.githubusercontent.com/12007862/59642676-003f8300-9134-11e9-983d-113c07fa2a8a.png)

[2019-06-18 05:17] brainstorm opened #6280 "Deprecated DB seed docs for PDB and drug targeting"
@inodb Since you seem to be updating the docs lately, would you mind helping me out with a couple of cbioportal db seeding doc issues? ;)

I'm working from `master`, so presumably close to version`3.0.1` at the time of writing this and putting together an AWS Aurora RDS serverless install of cbio-db, later on Fargate for the web container. I'm happy to see that the docker work by the Hyve was adop

[2019-06-18 14:05] inodb opened #6282 "Describe genome nexus and oncokb services in docs"
We should prolly add something to the `docs/Architecture-Overview.md` about the external services that we're using

[2019-06-18 14:13] inodb commented on #6280
Hey @brainstorm ! Glad to see you're using cBioPortal as well 😄 !

Sorry the documentation isn't up to par. I sent a PR to address your issues:

https://github.com/cBioPortal/cbioportal/pull/6281

To answer your questions:

1. That PDB step has been removed. This is now all contained in a separate web service called genome nexus (https://www.genomenexus.org, https://github.com/genome-nexus/genome-

[2019-06-18 14:58] adamabeshouse commented on #6165
addedGroup would have to contain a JSON stringified entire group data. I think it would be clunky. I'll implement the others

[2019-06-18 17:26] sheridancbio opened #6284 "Importer fails to create sample_cna_event records for microRNA"
In #6271 @pieterlukasse identified that when importing profiles for "combination form" microRNA genes such as "MIR-100/100*" and "MIR-100/100", where a precursor alias such as "hsa-mir-100" will resolve to two (or more) records in the gene table, no sample_cna_event records are created for discretizedCnaProfile files.

We should add logic into the section which handles these cases within the parse

[2019-06-18 18:00] jjgao commented on #6165
@adamabeshouse I though the added group is saved back to the study? If so, would it work tot add the group ID to the url?

[2019-06-18 18:01] inodb opened #6285 "Info icon error for virtual studies when auth enabled"
As reported by @marriott-er

The info icon of virtual studies shows an error on hover for authenticated portals

![image (8)](https://user-images.githubusercontent.com/1334004/59707806-63cbbe00-91d1-11e9-8d92-920de1847258.png)

There's a 403: Forbidden at the /api/studies/study_id/tags endpoint

[2019-06-18 18:05] inodb commented on #6285
@oplantalech do you have an idea? The study tags wouldn't exist for a virtual study

[2019-06-18 18:24] adamabeshouse commented on #6165
@jjgao yes that would be okay in the case that the added group is saved back to the study. but if the user isnt logged in that wouldn't be an option. in my opinion its a bit confusing but it's doable

[2019-06-18 18:33] alisman commented on #6279
@adamabeshouse i test this.  As @jjgao suggested, I think we need a prefix before group name is possible.  Otherwise, it's card to understand what these items are.
![image](https://user-images.githubusercontent.com/186521/59710008-13a32a80-91d6-11e9-856f-991f22039b70.png)

[2019-06-18 18:38] jjgao commented on #6165
@adamabeshouse I see. Maybe we don't have to support `addedGroups` when a user is not logged in. I think the "create group" functionality is not so useful anyway if a user is not logged in - they can only do comparisons with non-overlapping groups of samples from pie chart or bar chart.

[2019-06-18 18:42] jjgao opened #6286 "Change the Add Clinical Attribute dropdown in OncoPrint tab"
using the "Add Chart" component with two tabs: "Clinical" and "Groups".

[2019-06-18 18:42] jjgao commented on #6268
Logged about changing the component: https://github.com/cBioPortal/cbioportal/issues/6286

[2019-06-18 21:18] adamabeshouse commented on #6165
In discussion with @jjgao and @alisman we decided that it was confusing to have two sources of truth - session and URL. So we decided that

(1) Adding and deleting a group will instantly save to a new session. Wasted sessions not a big deal since this doesn't happen that much anyway.
(2) Drag group order and selection will be stored only in the URL, never in the session.
(3) So the "unsaved change

[2019-06-18 21:24] tmazor opened #6287 "chol_msk_2018 has CNA data for genes that aren't on the gene panel"
SOS1 is not on IMAPCT410, but is presented here as if it has CNA but not mutations data.

![image](https://user-images.githubusercontent.com/10508276/59720778-af8c6080-91ed-11e9-98e2-f6eeab07c922.png)

https://www.cbioportal.org/results/oncoprint?session_id=5d095656e4b0ab4137876469

[2019-06-18 22:06] jjgao commented on #5853
@khzhu what is the query when you click a slice on the pie?

[2019-06-19 07:20] oplantalech commented on #6285
@inodb my guess is that the endpoint only accepts `study_id` and not the id of the virtual study. This needs to be fixed. I will try to prioritize this.

[2019-06-19 17:07] jjgao commented on #6189
I looked a few protein-coding genes:

- GAGE3 was withdrawn: https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/HGNC:4100
- FAM240C is a placeholder symbol (not sure what that means): https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/HGNC:54200
- ZNF765-ZNF761 does not seem to have a hugo symbol: https://www.ncbi.nlm.nih.gov/gene/110116772
- LITAFD seems regular: https://www.g

[2019-06-19 17:13] jjgao commented on #5570
duplicate with #6133

[2019-06-19 17:13] #5570 closed

[2019-06-19 17:20] jjgao commented on #6133
@adamabeshouse @alisman and I had a discussion on the filter settings and will do the followings (I added a couple more based on discussion here):

- [ ] keep both filter settings after resubmission (I think we should keep as much state as possible)
- [ ] both filter should propagate to other tabs
- [ ] a message should be displayed in all tabs if any of the filters are effective - at least 1 even

[2019-06-19 17:50] jjgao commented on #6265
@alisman we should handle the case when a study or sample does not exist any more in the frontend.

[2019-06-19 17:56] jjgao commented on #6269
@ritikakundra that was b/c this sample is not in the seqcna case list.

Has this study been updated recently?

[2019-06-19 19:32] alisman opened #6291 "Co-expression service performance"
Following request can take 20-60 seconds to complete.  It's causing some tests to fail.
/api/molecular-profiles/co-expressions/fetch?molecularProfileIdA=coadread_tcga_pub_rna_seq_mrna&molecularProfileIdB=coadread_tcga_pub_rna_seq_mrna&threshold=0

Odd that after our first round of optimization, I don't remember it taking so long.  perhaps something else happened since then?

[2019-06-19 19:49] tmazor opened #6292 "use same color for "living" & "alive""
"LIVING" and "ALIVE" should be the same color:
![image](https://user-images.githubusercontent.com/10508276/59795646-b082c800-92a9-11e9-8b20-259fe59e1b50.png)

![image](https://user-images.githubusercontent.com/10508276/59795657-b678a900-92a9-11e9-8293-a9d09aa9b9eb.png)

https://www.cbioportal.org/study/summary?id=msk_impact_2017

[2019-06-19 19:49] alisman commented on #5788
@jjgao sorry i let this go.  my feeling is that we would have to go back to

[2019-06-19 19:49] #5788 closed

[2019-06-19 20:00] #6213 closed

[2019-06-19 20:09] inodb commented on #6285
Thanks @oplantalech

[2019-06-19 21:07] #6292 closed

[2019-06-19 22:06] ndfriedman opened #6293 "feature request: highlight multiple mutations in the same sample in mutation view"
When you query a gene in cbio portal and then click the mutations tab, then sort by patient ID, it would be quite helpful if then patient name were shaded to highlight cases that have two or more mutations.
Ie in the image below, the two lines for patient 448 would be both shaded dark gray to highlight that they have multiple mutations in the same gene in the same case
<img width="454" alt="Screen

[2019-06-19 22:16] adamabeshouse commented on #5525
@jjgao I think I am confused about the final list of tasks for this. Could you please summarize/consolidate? Is this still a priority?

[2019-06-19 22:17] jjgao commented on #6293
@ndfriedman thanks for the feature request. Instead of shading the patient name, maybe we can add some information, e.g. an icon or the text "multiple", in the Protein Change column?

![image](https://user-images.githubusercontent.com/840895/59805139-6eb04c80-92be-11e9-9c51-6d150260040e.png)

[2019-06-19 22:19] jjgao commented on #5525
@adamabeshouse let me think it over.

[2019-06-20 10:47] pieterlukasse commented on #497
@inodb: our Docker setup takes care of this here: https://github.com/thehyve/cbioportal-docker/blob/master/catalina_server.xml.patch#L7
How is this done in the recent one you made using webapp runner (https://github.com/cBioPortal/cbioportal/blob/master/docker/web/Dockerfile#L28)?

[2019-06-20 10:55] pieterlukasse commented on #543
@paulcwvandijk is this still an actual issue in your recent experience?

[2019-06-20 10:59] pieterlukasse commented on #713
this has been since documented in https://github.com/cBioPortal/cbioportal/blob/master/docs/Updating-gene-and-gene_alias-tables.md and linked in https://github.com/cBioPortal/datahub/blob/master/seedDB/Update-Seed-Database.md

[2019-06-20 10:59] #713 closed

[2019-06-20 11:00] pieterlukasse commented on #768
@jjgao any updates on this one?

[2019-06-20 13:52] inodb commented on #497
@pieterlukasse good point - these are command line arguments to webapp-runner:

https://github.com/knowledgesystems/knowledgesystems-k8s-deployment/blob/master/cbioportal/cbioportal_spring_boot.yaml#L117-L134

Should probably be the default for the image

[2019-06-20 13:56] inodb commented on #1631
we're not using readthedocs anymore

[2019-06-20 13:56] #1631 closed

[2019-06-20 14:57] jjgao commented on #768
@pieterlukasse I think there are still some such as the old web api page. I added it to #4837 -- we'll definitely need to get it down when we retire portal module.

[2019-06-20 15:08] tmazor opened #6294 "expression tab appears for studies without expression data"
Let's hide the Expression tab for queries where no studies have expression data -- similar to how we hide Co-Expression in a single-study query without expression data.

![image](https://user-images.githubusercontent.com/10508276/59859935-b204cc80-934b-11e9-86df-d0ab667b2d2e.png)

https://www.cbioportal.org/results/expression?session_id=5d0ba114e4b0ab4137876b19

[2019-06-20 15:18] inodb opened #6295 "Some links in the docs go to github"
e.g. in this section:

https://docs.cbioportal.org/#2-1-1-docker

The links go to github instead of to docs.cbioportal.org. Not sure what the cause is

[2019-06-20 15:24] ndfriedman commented on #6293
yeah that would be another good solution, as long as it pops off the page

[2019-06-20 15:39] jjgao opened #6296 "allow sharing session with group tracks in oncoprint"
As commented [here](https://github.com/cBioPortal/cbioportal-frontend/pull/2466#issuecomment-503634103), if I share a session including "in group" tracks with another person, that person will be able to render the "in group" tracks.

https://www.cbioportal.org/results/oncoprint?clinicallist=NUM_SAMPLES_PER_PATIENT%2CIN_COMPARISON_GROUP_Non-Small%20Cell%20Lung%20Cancer&session_id=5d0a6174e4b0ab4137

[2019-06-20 15:58] jjgao opened #6297 "not all url parameters saved in the Share link"
![image](https://user-images.githubusercontent.com/840895/59862417-bed7ef00-9350-11e9-922a-c262202ab89a.png)

When bookmarking query, only the initial query parameters are saved in the session. For example when saving [this query](https://www.cbioportal.org/results/oncoprint?Z_SCORE_THRESHOLD=2.0&cancer_study_id=coadread_tcga_pub&cancer_study_list=coadread_tcga_pub&case_ids=&case_set_id=coadread_t

[2019-06-20 16:05] adamabeshouse commented on #6296
@jjgao I already did the first item in my PR. and yes Im not familiar with the backend. it will still take some frontend changes once thats implemented

[2019-06-20 17:03] alisman commented on #6297
There's a lot of layers here.
First, we actually DO save the clinicallist setting into the session.  The problem is, it's not being READ from the retrieved session.  I think it's just looking for param in url.
But if we were to fix this, it would cause another strange situation where if user updated clinicallist (using dropdown), the they would have both a url param AND the parameter from session.

[2019-06-20 17:07] adamabeshouse commented on #6297
oh jeez

[2019-06-20 17:16] jjgao opened #6298 "favorite studies for logged in users"
Now that we support log in on all portals including public portal, it may be useful to allow users to "star" their favorite studies.

- [ ] save the list of favorite studies in session service
- [ ] UI change

![image](https://user-images.githubusercontent.com/840895/59864538-ff396c00-9354-11e9-8939-3fccadc5c2b2.png)

@cBioPortal/product

[2019-06-20 17:35] schultzn commented on #6298
It should be “Favorite Studies"

[2019-06-20 17:48] inodb commented on #6295
for whatever reason this is working as expected now (I made some changes to README and SUMMARY

[2019-06-20 17:48] #6295 closed

[2019-06-20 18:30] jjgao opened #6300 "prototype left panel for results page"
Replace the current "Modify Query" interface with a left panel (similar to Amazon search results), including sections of

- queried genes
- selected studies
- samples? with a link to cohort builder/study view
- additional settings, e.g. driver annotation, hide germline, etc

[2019-06-20 19:22] adamabeshouse commented on #6025
https://github.com/cBioPortal/cbioportal-frontend/pull/2478

[2019-06-20 19:46] pieterlukasse commented on #768
ok. I'll close this one since it is tracked in #4837 now

[2019-06-20 19:48] pieterlukasse commented on #497
Thanks @inodb. I agree it should be the default. Feel free to close this issue once the image is adjusted.

[2019-06-20 20:00] pieterlukasse commented on #929
Ok, answer for _example1_ makes sense, although I think a warning message in the lollipop view would be nice.  _example2_ 3 and 4 are solved!
Nice @jjgao !

[2019-06-20 20:00] #929 closed

[2019-06-20 20:01] pieterlukasse commented on #929
@awernibi just to let you know this is solved now :)

[2019-06-20 20:06] pieterlukasse commented on #989
I think this is very minor...and no new issues came out of this...so closing for now.
@ritikakundra: if you disagree, or have a more recent update, feel free to update here or reopen.

[2019-06-20 20:06] #989 closed

[2019-06-20 20:09] pieterlukasse commented on #1055
method does not exist anymore.

[2019-06-20 20:09] #1055 closed

[2019-06-20 20:13] pieterlukasse commented on #1055
methods in DaoGene are deprecated.

[2019-06-20 20:14] pieterlukasse commented on #1055
@sheridancbio I think there are many calls to `TRUNCATE TABLE ...` in the java code that can be cleaned up since they are probably not used.

[2019-06-20 20:17] pieterlukasse commented on #1083
@jjgao the code is still there in `rc`. @n1zea144 can you please check?

[2019-06-20 20:20] pieterlukasse commented on #1088
@inodb , @fedde-s I know you guys have made some progress since last year. Can we close this issue? What is the current status?

[2019-06-20 20:23] pieterlukasse commented on #1266
assigning to @sheridancbio since he is also reviewing the related PR https://github.com/cBioPortal/cbioportal/pull/1807

[2019-06-20 20:23] kalletlak commented on #6296
@adamabeshouse you can always pull ID. example https://www.cbioportal.org/api-legacy/proxy/session/group/5ce4119fe4b0ab4137874072

[2019-06-20 20:28] pieterlukasse commented on #1314
this is solved by the validation script already. validateData.py:
[code]

[2019-06-20 20:28] #1314 closed

[2019-06-20 20:43] pieterlukasse commented on #1378
@jjgao this issue is still present. See

https://www.cbioportal.org/results/mutations?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=brca_tcga&case_set_id=brca_tcga_cnaseq&data_priority=0&gene_list=TBC1D3K%2520TBC1D3D&geneset_list=%20&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=brca_tcga_gistic&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=brca_tcga_mutations

[2019-06-20 20:58] pieterlukasse commented on #1514
the issue is different now...the studies will be listed in the cross cancer histogram as if they have no alterations for the selected gene, while in reality there is no CNA data... Will close the current ticket, which is solved, and open a new one.

[2019-06-20 20:58] #1514 closed

[2019-06-20 21:00] pieterlukasse opened #6301 "Cancer types summary misleading"
See https://www.cbioportal.org/results/cancerTypesSummary?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=paac_jhu_2014%2Cblca_bgi%2Cbrca_tcga&case_set_id=all&clinicallist=CANCER_STUDY%2CNUM_SAMPLES_PER_PATIENT%2CPROFILED_IN_COPY_NUMBER_ALTERATION&data_priority=2&gene_list=SOX9%2520RAN%2520TNK2%2520EP300%2520PXN%2520NCOA2%2520AR%2520NRIP1%2520NCOR1%2520NCOR2&geneset_

[2019-06-20 21:01] pieterlukasse commented on #6301
notify @jjgao

[2019-06-20 21:02] pieterlukasse commented on #1649
I now think we all should be using the docker based installation...so closing this issue.

[2019-06-20 21:02] #1649 closed

[2019-06-20 21:35] jjgao commented on #6297
Ah, got it - that makes sense. I think URL should win.

[2019-06-20 21:45] jjgao commented on #768
I'll keep it open since #4837 refers to this one.

[2019-06-20 21:52] #5987 closed

[2019-06-20 21:57] jjgao commented on #6301
Good catch. At least we should add a note (under the plot), e.g.

Missing mutations data: study a
Missing copy number alterations data: study a, studyb

[2019-06-20 22:08] alisman commented on #6301
I think the alert at the top of this screenshot was an attempt to address this in a general way.  Is this insufficient?

![image](https://user-images.githubusercontent.com/186521/59884420-4724b700-9386-11e9-8db3-dd9fb8db79e5.png)

[2019-06-20 22:17] jjgao commented on #6301
I think it's not specific. We should say "Bladder (BGI 2013) and PAAC (JHU) has no CNA data". And a message on top is not noticeable enough in this case.

I remember we had tracks per study to indicate whether mutations and cna data exist. Maybe we need that back...

[2019-06-20 22:20] #6190 closed

[2019-06-20 22:26] #6114 closed

[2019-06-21 03:57] brainstorm commented on #6280
Thanks a ton Ino! Since I read the kubernetes definitions, we are currently holding it off a bit since we're not sure a fully serverless approach (as in [Aurora Serverless](https://aws.amazon.com/rds/aurora/serverless/) plus [Fargate](https://aws.amazon.com/fargate/)) would be something you guys would support/maintain in the future if we put effort into it?

We are interested in a fully managed an

[2019-06-21 10:41] pieterlukasse commented on #1870
hey @sheridancbio , given your recent efforts on gene symbols and disambiguation, I thought of sharing this issue with you ;)  Did you know we had this file? Do you think it could be useful? Or should we remove it?

[2019-06-21 10:49] pieterlukasse commented on #2107
@inodb any thoughts on this one? For us it is not a big priority, as long as the default is to have _no_ analytics.

[2019-06-21 10:59] pieterlukasse commented on #6301
The current message also only talks about "profiled for some ...genes" while this is about a study not having a CNA profile at all. The current message does not cover this well.

[2019-06-21 11:02] pieterlukasse commented on #6301
The UI @jjgao is referring to can be seen here https://github.com/cBioPortal/cbioportal/issues/1514...although only partly since in this issue it is not working completely.

[2019-06-21 12:36] pieterlukasse commented on #2111
first point is solved for studies that don't have an expression profile. @jjgao closing this issue based on the assumption that this is sufficient for 1st point.

[2019-06-21 12:36] #2111 closed

[2019-06-21 12:58] pieterlukasse commented on #2237
solved by pending PR. Closing here...

[2019-06-21 12:58] #2237 closed

[2019-06-21 13:09] pieterlukasse commented on #2376
Cannot reproduce anymore.

[2019-06-21 13:09] #2376 closed

[2019-06-21 13:09] pieterlukasse commented on #2376
@jjgao the pie chart "with mutation" is gone. Is this expected?

[2019-06-21 13:22] pieterlukasse commented on #2672
The column is not empty anymore, but contains the sample id. In case of multiple samples, the rows are duplicated and only sample id is different (see screenshot below). I would like to hereby close this issue and propose to reopen this issue, or perhaps a new one if there is a need to change the current implementation.
@ecerami , @jjgao please feel free to reopen if you disagree.

![image](https:

[2019-06-21 13:22] #2672 closed

[2019-06-21 14:42] alisman commented on #6301
Putting this here for record
![image](https://user-images.githubusercontent.com/186521/59930652-47b65f80-9411-11e9-9c87-6704a81471a1.png)

[2019-06-21 14:48] alisman commented on #6301
@jjgao it seems like bringing back tracks is safest best.
I think track labels should say "Has mutation data" and we should figure out how best to call attention to the negative case.

[2019-06-21 15:14] oplantalech opened #6305 "Dauthenticate flag causes failure in deploying cBioPortal"
I am trying to deploy cBioPortal with Keycloak (without Docker) and I run to this exception: `org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'cacheMapUtil': Invocation of init method failed; nested exception is org.apache.ibatis.builder.IncompleteElementException: Could not find SQL statement to include with refid 'org.cbioportal.persistence.mybatis.GeneMapp

[2019-06-21 15:26] Sjoerd-van-Hagen commented on #6305
@inodb we would like to work on the fix for the metadata tags issue but this is blocking us. Can you have a look?

[2019-06-21 15:42] ChrisWakefield opened #6306 "Add link to NG-CHM Compendium on Heatmap tab"
(Based on conversation with Rehan Akbani and Niki Schultz:)
insert a fourth button in the Heatmap drop-down. Clicking on the button would show a disclaimer that the user is linking out to an external website and their gene and sample selections may not be the only ones represented in the map. Once the user acknowledges the disclaimer, NG-CHM would open up (perhaps in a new browser tab).

[2019-06-21 15:43] ChrisWakefield commented on #6306
You can assign this to me.

[2019-06-21 16:28] alisman commented on #6301
@kalletlak lets bring back the "tracks" on cancer type summary (implement them in Victory).

[2019-06-21 18:30] inodb commented on #6280
@brainstorm My pleasure!

We don't have much experience with serverless on our end. We moved our internal public version of cBioPortal (www.cbioportal.org) recently from internal hardware to kubernetes on AWS. We used kops to deploy a k8s cluster on AWS, EKS wasn't available then (https://github.com/knowledgesystems/knowledgesystems-k8s-deployment/tree/master/kops). Uptime is much better now. A ma

[2019-06-21 20:35] jjgao opened #6308 "remove LENGTH in gene table"
- [x] Verify that it is no longer used in frontend? (it was used in Mutated Genes tab of study view)
- [x] Remove LENGTH in gene table
- [x] Remove it from API
- [x] Remove it from import code

[2019-06-21 20:35] jjgao commented on #6307
logged in #6308

[2019-06-21 20:35] #6307 closed

[2019-06-21 20:44] jjgao opened #6309 "load phosphoproteomics data as generic assay"
after finishinng generic assay and mutational signature.

[2019-06-21 20:45] jjgao opened #6310 "load mirna data as generic assay"
after finishinng generic assay and mutational signature.

[2019-06-21 20:53] jjgao opened #6311 "using cursor for the Enrichments endpoints"
after #6302 is done.

[2019-06-21 20:54] inodb commented on #6308
I checked all references for `length` field of the `Gene` model in the frontend. Doesn't seem to be in use

[2019-06-22 11:52] pvannierop opened #6313 "'Three dots' icons of oncoprint vary in size depending on heatmap tracks [backlog]"
The 'three dots' icons to the right of track names in oncoprint are 17x17px or 24x24px depending on whether there are or are not heatmap tracks present, respectively.
![Screenshot from 2019-06-22 13-46-57](https://user-images.githubusercontent.com/745885/59963541-9a1c7c80-94f4-11e9-9feb-8b1fda114040.png)
![Screenshot from 2019-06-22 13-50-02](https://user-images.githubusercontent.com/745885/599635

[2019-06-24 10:11] pieterlukasse commented on #6308
@inodb , @jjgao one scenario I can think of: what happens when the gene does not have pfam info but we want the lollipop view in mutation mapper? What is the length of the "protein model" in this case?

[2019-06-24 10:13] pieterlukasse commented on #6308
Maybe also add a checkbox to remove it from backend / import scripts like /cbioportal/core/src/main/java/org/mskcc/cbio/portal/scripts/ImportGeneData.java. Quite some complex code there to get the length right.

[2019-06-24 11:26] pieterlukasse commented on #3252
the original issue does not seem to be present anymore. The tooltip simply displays other information now:

![image](https://user-images.githubusercontent.com/2900303/60015369-9a974d80-9683-11e9-9abc-c45196e03dd4.png)

[2019-06-24 11:26] #3252 closed

[2019-06-24 11:28] pieterlukasse commented on #3252
@jjgao there is a new issue though (small one): the home page states "Select Genomic Profiles" and the tooltip talks about "molecular profiles". Would be nice if the wording could be the same.

[2019-06-24 11:43] pieterlukasse commented on #3456
@SRodenburg can you please retest this issue in a portal with authentication?

[2019-06-24 11:52] pieterlukasse commented on #3456
@jjgao was there a plan to stop using case lists?

[2019-06-24 13:39] jjgao commented on #6308
@pieterlukasse I think we should fix the protein length data in genome nexus (e.g. https://github.com/cBioPortal/cbioportal/issues/1378). Gene length is not reliable anyway.

Good point about the import scripts.

[2019-06-24 13:41] jjgao commented on #3456
We have fully capture the data in `sample_profile`, but refactoring case lists is still on the back burner.

[2019-06-24 14:28] jjgao opened #6315 "Some attribute is 0% freq before filtering"
Two issues:

-  `Initial Patient Weight` duplicated
- One of them is 0%

https://www.cbioportal.org/study/summary?id=laml_tcga_pub%2Csarc_tcga_pub%2Cblca_tcga_pub_2017%2Cblca_tcga_pub%2Cbrca_tcga_pub2015%2Cbrca_tcga_pub%2Ccoadread_tcga_pub%2Cstes_tcga_pub%2Cgbm_tcga_pub2013%2Cgbm_tcga_pub%2Chnsc_tcga_pub%2Ckich_tcga_pub%2Ckirc_tcga_pub%2Cluad_tcga_pub%2Clusc_tcga_pub%2Clgggbm_tcga_pub%2Cov_tcga_pu

[2019-06-24 18:16] alisman commented on #6294
@jjgao @tmazor, in process of handling this ticket, i noticed that we show expression tab for a multi-study query when only a single study has expression data.    why is it that we don't show it when there's only one study in the query?

[2019-06-24 18:18] alisman opened #6316 "Error when opening modify query"
If you go to results page, then click modify query, we get an error in console.  Doesn't seem to have any impact, but we should figure it out.

![image](https://user-images.githubusercontent.com/186521/60042083-e00b4900-968a-11e9-9304-86c28318beef.png)

[2019-06-24 18:23] ugurdogrusoz commented on #1095
I think this is obsolete, now that we plan to migrate the network views to React.

[2019-06-24 18:51] kalletlak commented on #6301
@jjgao @alisman do we want to support all data types or is it just `Mutation Data` and `CNA data` as. shown in above image?
And do we also want to show `Cancer type`?

[2019-06-24 19:10] alisman commented on #6301
@kalletlak not sure what you mean "show Cancer Type"?  you did get me to thinking about what happens when user chooses to group by cancer type (maybe that's what you meant?).   In this case, it possible that a some of the studies in a single bucket would have profiles and others not, so the "tracks" approach doesn't work.  @jjgao @pieterlukasse do you remember how the old feature handled this?  an

[2019-06-24 19:33] alisman commented on #6133
@adamabeshouse i'm not wild about the info icon.  maybe a filter icon?  also:
1. can we put the setting in the url?  forgot what we decided on
2. Can we make it clearable from the alert message?

[2019-06-24 19:40] adamabeshouse commented on #6133
filter icon is a good idea.

we're not currently putting it in the URL, can it wait for a different PR?

yes we can :+1:

[2019-06-24 19:51] #2964 closed

[2019-06-24 20:23] #6286 closed

[2019-06-24 21:23] alisman opened #6317 "Fix css style of header on patient page"

[2019-06-25 05:39] pieterlukasse commented on #6301
@alisman good question....I'm not sure. Anyway, I think the exact same banner could be shown. It just makes it clear that some studies are not contributing to the plot because they don't have the selected profile data.

[2019-06-25 08:59] paulcwvandijk commented on #543
@pieterlukasse I haven't come across this problem yet. I will re-open this issue if such a situation arises

[2019-06-25 10:45] paulcwvandijk opened #6319 "Merged gene track in OncoPrint not shown"
When  creating a merged gene track in OncoPrint with OQL in the public portal and you click "add genes" the result is not shown in OncoPrint (see screenshot):
http://bit.ly/2X6nslv

![Screenshot 2019-06-25 at 12 37 09](https://user-images.githubusercontent.com/44695112/60092115-7a7c9280-9746-11e9-8bc7-1f904ebf19d4.png)

Desired solution:
- Oncoprint should show the merged gene track like expected

[2019-06-25 10:45] paulcwvandijk commented on #6319
@jjgao @adamabeshouse

[2019-06-25 14:13] adamabeshouse commented on #6319
AFAIK we don’t currently support that for heatmap tracks

[2019-06-25 14:53] zhx828 commented on #5819
@jjgao  When a user particularly wants to modify the range of the filter, we think it makes sense just group all samples into three groups(numbers), one for defined ranges, one for any samples before the start of the range, one for the rest.
For instance, if user selects 10-20, the following bar chart will be rendered
![Screen Shot 2019-06-25 at 10 52 17 AM](https://user-images.githubusercontent.c

[2019-06-25 14:56] zhx828 commented on #5819
And we also want to support multiple selections?

[2019-06-25 15:10] zhx828 commented on #2376
@pieterlukasse yes. It has been transformed to a the quick filter
![Screen Shot 2019-06-25 at 11 10 09 AM](https://user-images.githubusercontent.com/5400599/60110289-ddb3f800-9739-11e9-8e96-b704d8b9b63d.png)

[2019-06-25 17:37] alisman commented on #6301
@pieterlukasse we discussed this issue yesterday.  @kalletlak, add any detail i'm missing but the solution, when cancer type is selected, is to adjust the denominator so that un profiled samples do not count as unaltered.

[2019-06-25 17:45] jjgao commented on #6294
@alisman and  I had a discussion and we will always show the expression tab when there is data.

[2019-06-25 17:49] #1095 closed

[2019-06-25 17:58] pieterlukasse commented on #3457
hi @jjgao, any updates on this one? Were the documentation and/or the tests updated?

[2019-06-25 17:59] alisman commented on #6294
This is now merged

[2019-06-25 17:59] #6294 closed

[2019-06-25 18:01] jjgao commented on #6301
@kalletlak @alisman and I had a call. We will recalculate the denominator based on whether a sample is profiled as well as the gene panel information. When the denominator is 0, we will indicate that.

[2019-06-25 18:02] #543 closed

[2019-06-25 18:12] jjgao commented on #6319
Maybe we should just extract the genes for the heatmap tracks.

[2019-06-25 18:17] jjgao commented on #5819
@zhx828 I think your proposed solution is fine. We should also be able to support one side selection and in that case, there are going to be two groups?

Not sure if I understand. I don't think we need to support selection of unconnected data (a.g. age<18 or 30<age<40) if that's what you are asking.

[2019-06-25 18:37] #6316 closed

[2019-06-25 18:39] adamabeshouse commented on #6319
yeah that makes sense

[2019-06-25 19:59] adamabeshouse opened #6321 "Always show circle borders in overlap venn"
Otherwise we get this monstrosity in edge cases
https://www.cbioportal.org/comparison/overlap?sessionId=5d127ba7e4b0ab41378778e1

![image.png](https://images.zenhubusercontent.com/5949893351aa2c305782470e/a061001b-779d-4502-ab21-271b36648f35)

[2019-06-25 21:55] #6236 closed

[2019-06-25 21:55] #6164 closed

[2019-06-25 21:55] #6279 closed

[2019-06-25 21:55] #6201 closed

[2019-06-25 21:55] #6165 closed

[2019-06-25 21:55] #6025 closed

[2019-06-25 22:54] adamabeshouse opened #6322 "Add overlap strategy to URL"

[2019-06-25 23:30] adamabeshouse commented on #6218
for chart ticks and legend, we can use the strategy implemented in https://github.com/cBioPortal/cbioportal-frontend/pull/2499 for the upset ticks

[2019-06-26 00:43] khzhu opened #6323 "assign multiple studies and a user to a group does not work"
[code]

[2019-06-26 07:29] pvannierop commented on #6305
@inodb
I in parallel encountered this problem. The setting -Dauthenticate= *noauthsessionservice* also results in this error.

[2019-06-26 09:11] pieterlukasse commented on #2376
Ok, thanks. Seems to be working fine :+1:

[2019-06-26 09:20] pieterlukasse commented on #543
@jjgao what about

Glioblastoma (TCGA, Nature 2008)
TCGA, Nature 2008	206	91	206	0

why does it report 0 samples for RNA-Seq? From the heatmap it looks like it has data:

![image](https://user-images.githubusercontent.com/2900303/60167925-5aaba400-9804-11e9-8b6e-f9ed2556a614.png)

[2019-06-26 10:27] pieterlukasse commented on #4385
hi @jjgao, @alisman,  any updates?

[2019-06-26 10:29] pieterlukasse commented on #4696
Hi @sheridancbio, maybe you could be interested in picking this one up, since I think you already have good experience with the DB data model.

[2019-06-26 10:30] pieterlukasse commented on #4696
It would also be nice to cleanup the tables colored in red at the bottom of the diagram...but perhaps that is a separate issue...

[2019-06-26 14:35] alisman commented on #5634
@dippindots please confirm that this is still an issue first (and fix if is!)

[2019-06-26 14:40] alisman opened #6325 "Oncoprint has a mouseover effect that sometimes breaks screenshot tests"
See yellow on track name.  We need to figure out a way to stop this from happening.  Unfortunately, i believe it's in SVG.   Come up with a way to disable this in e2e tests.  @adamabeshouse can advise.

![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/0d38d0b6-b503-4fb9-aba6-fe76dd6c2d50)

https://41339-66571349-gh.circle-artifacts.com/0/imageCompare.html

[2019-06-26 14:56] inodb opened #6326 "Mouse Support no longer working for Mutations tab / table"
We are relying on Genome Nexus to draw the lollipop on the mutations tab. Various annotations are also coming from Genome Nexus, which are all human based.

To support using cBioPortal for mouse genomes we'll have to set add some documentation to set up a mouse instance of genome nexus:

https://github.com/genome-nexus/genome-nexus-importer/issues/22

[2019-06-26 15:04] #3225 closed

[2019-06-26 15:32] inodb opened #6327 "Remove tables no longer used"
These are all the tables in the public db:
[code]

@jjgao Is it ok to remove the following?

[code]

Maybe interaction is used by network tab?

[2019-06-26 15:53] pieterlukasse commented on #6326
CC @Sjoerd-van-Hagen , @oplantalech

[2019-06-26 15:54] pieterlukasse commented on #6326
@inodb was @sandertan 's work to support hg38 already merged? This would be a similar effort, right?

[2019-06-26 16:07] pieterlukasse commented on #5326
@inodb any ideas for this one? I'm guessing you already have a solution since you have recently moved all deployments to the cloud. Please let us know.

[2019-06-26 16:12] pieterlukasse commented on #5327
@alisman @jjgao, here a quick update on this one: apparently the download link is not working at all anymore. See screenshot below (it tries to fetch something from /beta via http):

![image](https://user-images.githubusercontent.com/2900303/60196627-dd9d2080-983d-11e9-9171-ea005b6717a7.png)

[2019-06-26 16:23] alisman commented on #5327
looking

On Wed, Jun 26, 2019 at 12:12 PM pieterlukasse <notifications@github.com>
wrote:

[2019-06-26 16:30] onursumer opened #6995 "Improve react-mutation-mapper track options"
Now we have 3 track related options: track visibility, track data status, tracks

We should probably combine all these into one option.

[2019-06-26 17:05] inodb commented on #6326
@pieterlukasse 	yes @sandertan 's excellent work on hg38 has been merged ✅  - supporting mm10 would be a similar effort. That would fix the lollipop plots

I guess annotations for oncokb, hotspots and most other annotations coming through genome nexus won't work. The VEP annotations might work if you would run a local VEP with mouse genome: https://github.com/genome-nexus/genome-nexus-vep

[2019-06-26 17:12] pieterlukasse commented on #5661
@inodb, @onursumer , was this solved?

[2019-06-26 17:38] inodb commented on #5661
@pieterlukasse 	looks like it wasn't, sorry for the delay - we'll look into it

[2019-06-26 17:52] alisman commented on #5327
Thanks for finding this Pieter,

PR made:

https://github.com/cBioPortal/cbioportal-frontend/pull/2504/files

On Wed, Jun 26, 2019 at 12:22 PM Aaron Lisman <lisman.aaron@gmail.com>
wrote:

[2019-06-26 17:55] alisman opened #6329 "Legend items on cancer type summary are not well spaced"
![image.png](https://images.zenhubusercontent.com/597f3b48f8b79f8376e15c84/5c981f3c-f60e-4e48-89c4-1733c812040d)

See how the dot for last legend item is actually closer to preceding text?  Lets see if we can improve this.
@adamabeshouse can you advise @dippindots.  Maybe your new component would help?

https://www.cbioportal.org/results/cancerTypesSummary?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_

[2019-06-26 17:59] alisman commented on #6329
This own is even worse:

https://cbioportal.org/results/cancerTypesSummary?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=.1&cancer_study_list=coadread_tcga_pub&case_set_id=coadread_tcga_pub_nonhypermut&clinicallist=PROFILED_IN_coadread_tcga_pub_rna_seq_mrna_median_Zscores&data_priority=0&gene_list=KRAS%2520NRAS%2520BRAF&geneset_list=%20&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION

[2019-06-26 18:31] adamabeshouse commented on #6329
luckily this is something victory does handle :D https://formidable.com/open-source/victory/docs/victory-legend/#gutter

[2019-06-26 18:40] zhx828 opened #6330 "Custom Selection does not work for one study"
If you put `laml_tcga:TCGA-AB-28asdf2` in the custom selection, it does not give Error.

Also if you use `laml_tcga:TCGA-AB-2802-03`, it should give Error when switch back to By sample ID

[2019-06-26 18:41] dippindots commented on #6329
Oh, that's perfect, thanks @adamabeshouse !

[2019-06-26 20:03] tmazor commented on #5989
@inodb @alisman I've just uploaded PDFs to GitHub. Could one of you update the tutorial page to link to those?

[2019-06-26 20:05] alisman opened #6333 "Add tutorial slide urls to github (in addition to gdrive)"

[2019-06-26 20:05] alisman commented on #5989
https://github.com/cBioPortal/cbioportal/issues/6333
will do

On Wed, Jun 26, 2019 at 4:03 PM Tali Mazor <notifications@github.com> wrote:

[2019-06-26 20:06] alisman commented on #6333
@tmazor what are the urls for the slides on github?

[2019-06-26 20:07] tmazor commented on #6333
@alisman i just added you the PR -- it's still open. can you approve?
https://github.com/cBioPortal/cbioportal/pull/6332

[2019-06-26 20:10] tmazor commented on #6333
I'd like to keep the embedded tutorial slides still pointing to google slides, because those are easier to keep up to date. Can we just add this as a second link at the top of the page, next to the link to the google drive folder?

[2019-06-26 20:15] tmazor commented on #6333
Let's change:
View tutorial slides below or download slides here (link to google drive folder).

To:
View tutorial slides below or download from google drive (existing link to google drive folder) or GitHub (link to new folder).

[2019-06-26 20:32] #5989 closed

[2019-06-26 20:44] #6272 closed

[2019-06-26 20:50] inodb commented on #5661
it's a bit tricky to provide more detailed feedback about why the mutations are failing b/c the current annotation model in genome nexus doesn't provide a way to retrieve error messages from external services (e.g. VEP) in the response. We'll first have to fix that. I assume this is indeed b/c of hg38 coordinates

[2019-06-26 20:54] #4792 closed

[2019-06-26 21:16] dippindots commented on #6329
@alisman @adamabeshouse There is a ticket in victory's repo describes the same issue: https://github.com/FormidableLabs/victory/issues/864. Seems like it is not their priority issue and it is not easy to fix. Should we just add more space between the legend items for now?

[2019-06-26 21:20] #6330 closed

[2019-06-26 21:23] adamabeshouse commented on #6329
so gutter isnt doing the trick?

[2019-06-26 21:26] dippindots commented on #6329
@adamabeshouse actually every legend has a default gutter value as 10; But the length of the item is not correct, so the gutter cannot help with that, can only increase the space between two items.

[2019-06-26 21:43] alisman commented on #6333
@dippindots you can use the config property "skin_documentation_baseurl".  tutorials are inside "docs/tutorials" folder at that root.

[2019-06-27 07:33] oplantalech commented on #6305
I also have the same error when loading a study with `cbioportalImporter.py` and using `-Dauthenticate=false`.

[2019-06-27 10:38] pieterlukasse commented on #6305
CC @n1zea144

[2019-06-27 10:44] pieterlukasse commented on #5327
thanks for the fix @alisman .
The original issue of this ticket still exists though. I get this when opening the link in a new tab:
[code]

[2019-06-27 13:41] tmazor commented on #6333
@dippindots one small request - can you also add an underline to the words that are links? because the text is already blue, the links don't really stand out, and I think an underline might help. thanks!

[2019-06-27 14:44] Sjoerd-van-Hagen commented on #6326
I think this would be a nice job for @SRodenburg !

[2019-06-27 15:47] inodb commented on #6333
Maybe good to have a link below each slidedeck as well? So a link that links directly to that particular tutorial. The link at the top is a little hidden imo

[2019-06-27 15:56] tmazor commented on #6333
good idea @inodb  -- let's do that!

[2019-06-27 17:04] adamabeshouse commented on #6329
oh i see

[2019-06-27 17:53] dippindots commented on #6333
Thanks @tmazor @inodb ! All good ideas! I will do that.

[2019-06-27 20:37] alisman commented on #5327
Open in new tab is now fixed.

[2019-06-27 20:37] #5327 closed

[2019-06-27 21:26] zhx828 opened #6336 "Add an exclude option when caching API data"
In this study, https://www.cbioportal.org/study/summary?id=cellline_ccle_broad%2Ccellline_nci60%2Cacc_tcga_pan_can_atlas_2018 the mutated-gene endpoint returns so much data and once we make any interaction with the page, it will soon kill  the page.

[2019-06-28 14:47] n1zea144 commented on #6305
@Sjoerd-van-Hagen @inodb
As @oplantalech points out, this looks like the "old issue back again".

I don't understand why this is cropping up now, but the problem may be that applicationContext-web.xml is being loaded before applicationContext-business.xml.

Inside [applicationContext-web.xml](https://github.com/cBioPortal/cbioportal/blob/master/web/src/main/resources/applicationContext-web.xml#L68

[2019-06-28 15:04] zhx828 opened #6337 "mutated-genes/cna-genes endpoints return too much data when study has panels"
This is a new feature introduced in https://github.com/cBioPortal/cbioportal/pull/5994/files.

But when gene panel has long list of genes, the data can easily goes up to hundred megabytes. For instance in this cell line study, the panel has around 5000 genes. https://www.cbioportal.org/study/summary?id=cellline_ccle_broad

Proposed solution:
The matchingGenePanels does not return the full list of

[2019-06-28 18:26] jjgao commented on #6327
the first three are used by network tab. The rest can be removed.

Please keep track in #2054

[2019-06-28 18:26] #6327 closed

[2019-06-28 18:31] #6336 closed

[2019-06-28 18:31] jjgao commented on #6323
@khzhu have you asked anyone to help with this?

[2019-06-28 18:42] jjgao commented on #4385
@Sjoerd-van-Hagen I am wondering if anyone at Hyve would be interested in taking this?

[2019-06-28 18:47] jjgao commented on #543
that's microarray data, not rnaseq.

[2019-06-28 18:50] dippindots commented on #5634
@jjgao We do not support the custom list on query page for virtual study right now, but we think the virtual study is already done the custom case selection when creating the virtual study. Also, if users go to study view page, they can select the case and create a new virtual study by doing so. Do we really need to support here?

[2019-06-28 18:51] jjgao commented on #6323
I am closing this. We will need to email the users for more information.

[2019-06-28 18:51] #6323 closed

[2019-06-28 19:02] jjgao commented on #5634
We have two options:

1. Removing the whole Case Set section. Currently, this dropdown is ignored completely in the query above.

![image](https://user-images.githubusercontent.com/840895/60364867-3cd17100-99b5-11e9-86c0-29ac3eda1f07.png)

2. Keep the section, then it should not be ignored.

I am leaning towards # 2. LMK if it's too complex.

@alisman @dippindots

[2019-06-28 19:46] khzhu opened #6338 "Test on import structure variants failed"
got this error. can you please take a look?
[code]

[2019-06-28 20:25] alisman opened #6340 "When you go to study view from query page, you have to click back button twice to return to query page"
This is because when we default to summary tab, should be using history's replace state instead of push.  When we use push, we add a new history entry instead of replacing the first one.

[2019-06-28 20:47] jjgao commented on #6338
related to https://github.com/cBioPortal/cbioportal/pull/4057

@khzhu does this happen in the current rc? Or only when you merge it to your branch?

[2019-06-28 21:41] khzhu commented on #6338
yes. @JJ. @inodb sent me this link which is exactly the same error I got.
https://travis-ci.org/cBioPortal/cbioportal/jobs/551949140#L2491-L2492

[2019-06-28 22:27] adamabeshouse commented on #6218
use React.FunctionComponent for the types of the label components

[2019-06-28 22:32] inodb commented on #6338
This is fixed now, see test rebase PR:

https://github.com/cBioPortal/cbioportal/pull/6339

Seems like something went haywire with merging the seed_mini.sql

[2019-06-28 22:32] #6338 closed

[2019-07-01 09:32] Sjoerd-van-Hagen commented on #4385
@jjgao I might have a client that would like to have this fixed but it would take some time to set that up.

[2019-07-01 13:54] #5549 closed

[2019-07-01 18:01] inodb opened #6342 "Auth: make redirect_uri use https if connected over https"
Right now redirect_uri always uses http. This causes issues when using e.g. microsoft authentication. One needs to then specifically set `--proxy-base-url` to https e.g. https://github.com/knowledgesystems/knowledgesystems-k8s-deployment/blob/master/cbioportal/cbioportal_spring_boot.yaml#L120-L124

The logic should be:

- redirect to http when coming from http
- redirect to https when coming from

[2019-07-01 18:39] tmazor opened #6343 "group comparison header extends wider than browser window"
When the data on group comparison tabs extends wider than the screen, the header also extends and goes off screen.

See clinical or mutations or copy-number in this session:
https://www.cbioportal.org/comparison/mutations?sessionId=5cf6aa24e4b0ab4137874305

The header should remain fixed to the width of the screen and the figures/tables below should scroll separately.

[2019-07-01 18:43] tmazor opened #6344 "tweaks to list of groups"
Two thoughts to perhaps improve the layout of the list of groups.

- Move "Select All | Deselect All" to directly follow the last group, rather than appearing as a separate column of text. This would leave more horizontal space for the group names, which would enable...

- Allow group names to be longer before truncation. We gained back lots of space by removing the words "patient" and "sample", s

[2019-07-01 19:52] jjgao commented on #4385
@Sjoerd-van-Hagen we can wait. thanks.

[2019-07-01 19:54] jjgao commented on #6342
should we always use https? What's the benefit of supporting both http and https?

[2019-07-01 20:32] inodb commented on #6342
I think the logic should be:

- redirect to http when coming from http
- redirect to https when coming from https

[2019-07-01 21:42] jjgao commented on #6344
related to https://github.com/cBioPortal/cbioportal/issues/6222

[2019-07-02 10:34] pvannierop commented on #6305
@n1zea144

My knowledge on Spring is not sufficient to solve this issue. What I noticed based on your explanation is that the problem can be located in CacheMapUtil. In CacheMapUtil there is this `@PostConstruct` method:
[code]

What strikes me here is that no errors occur when using `-Dauthenticate=false` or `-Dauthenticate=social_auth`. This means that the `if (cacheEnabled) {...}` block with me

[2019-07-02 15:18] zhx828 opened #6346 "clinical-data-bin-counts has the precision of floating issue"
The endpoint returns `end: 0.8999999999999999 ` when it should be 0.9 Issue found in https://www.cbioportal.org/study/summary?id=acc_tcga Fraction Genome Altered

Solution: https://stackoverflow.com/questions/179427/how-to-resolve-a-java-rounding-double-issue

[2019-07-02 15:20] zhx828 opened #6347 "The tooltip of the information icon in study view chart needs a delay to let the mouse enter"

[2019-07-02 15:31] #561 closed

[2019-07-02 19:13] zhx828 commented on #5819
@jjgao I have the Custom Bins running here, could you take a look? Any feedback would be appreciated. Thanks! https://cbioportal-frontend-pr-2518.herokuapp.com/study/summary?id=acc_tcga_pan_can_atlas_2018

[2019-07-02 21:29] #6217 closed

[2019-07-03 16:15] inodb opened #6351 "Add clinvar to annotation column"
- [x] add clinvar to annotation column
- [x] sort by Pathogenic/Likely pathogenic, drug response​ (note that this might not be cancer specific, will have to think of a solution)

[2019-07-03 17:07] Dharmesh-Poddar commented on #6347
@zhx828 are you working on it?

[2019-07-03 17:08] zhx828 commented on #6347
@Dharmesh-Poddar not yet

[2019-07-03 17:08] Dharmesh-Poddar commented on #6344
@jjgao @tmazor can I work on it?

[2019-07-03 17:09] Dharmesh-Poddar commented on #6343
@tmazor  can I work on it?

[2019-07-03 17:30] jjgao opened #6352 "change the login button"
Currently:
![image](https://user-images.githubusercontent.com/840895/60612442-9f03ea80-9d96-11e9-9727-a9da4533d422.png)

Desired:
![image](https://user-images.githubusercontent.com/840895/60612455-a4613500-9d96-11e9-86c0-08c32554ad6b.png)

... only if it's easy to do.

[2019-07-03 17:37] Dharmesh-Poddar commented on #6352
@jjgao can I work on it

[2019-07-03 17:55] jjgao opened #6353 "ClinVar column tweaks"
- [x] Change the head from "ClinVar ID" to "ClinVar"
- [x] Instead of displaying the ID, is it possible to display "Interpretation"?
https://www.ncbi.nlm.nih.gov/clinvar/variation/163380/
![image](https://user-images.githubusercontent.com/840895/60351019-d8051f00-9992-11e9-836c-36da8944bfdc.png)
- [x] make it available in patient view

cc'ing @inodb

[2019-07-03 18:09] jjgao commented on #6343
@Dharmesh-Poddar sure, thanks for volunteering!

[2019-07-03 18:12] jjgao commented on #6344
@Dharmesh-Poddar sure. Thanks.

Let's also move the "Exclude..." dropdown to the right of the same row as the study name "MSK-IMPACT..." so that we have more space for the groups.

[2019-07-03 18:20] jjgao commented on #5819
- I don't think the settings icon is intuitive. We need a binning icon. The tooltip should also change to "Custom bins"
- make the window bigger
- after change the bins, the whole page refresh. is it possible to only refresh the barchart in question?

[2019-07-03 18:21] jjgao commented on #6352
@Dharmesh-Poddar yes, I assigned this to you :)

[2019-07-03 18:34] zhx828 opened #6354 "Show attribute ID in the information tooltip of the chart also in clinical tab header tooltip"
- [x] Update tooltip of chart information tooltip
- [x] Update tooltip of column header in Clinical Tab
- [x] Update description of the FAQ to include how to get the attribute ID

[2019-07-03 18:42] kalletlak opened #6355 "Study view: Issue with CNA data checkbox button"
Unchecking `samples with CNA data` checkbox isn't clearing filters

![Screen Shot 2019-07-03 at 2 40 26 PM](https://user-images.githubusercontent.com/12956870/60616951-9c0df780-9da0-11e9-9ac9-e0d0104fe2f8.png)

[2019-07-03 19:01] inodb commented on #6353
@jjgao: for the interpretation one caveat is that ClinVar is not cancer specific. Is that an issue you think?

[2019-07-03 19:13] zhx828 commented on #5819
@jjgao

I was hoping to introduce the setting icon for later usage including changing the bar filter. But maybe a bit over kill for this pr?

This is an overall issue of the study view, similar to the [log issue](https://github.com/cBioPortal/cbioportal/issues/5468). Should we solve the log issue before releasing the feature?

[2019-07-03 21:12] jjgao commented on #6353
@inodb I think that's fine and the interpretation is still useful.

Maybe it's better to keep it in a separate column (instead of adding to Annotation) because of that.

[2019-07-03 21:20] jjgao opened #6356 "should we reconsider the hamburger icon?"
I find it confusing to duplicate the actions in icon and dropdown of the hamburger icons.

![image](https://user-images.githubusercontent.com/840895/60625618-54926600-9db6-11e9-9afd-5a04c18ced2c.png)

I think I have seen other website doing this but only list additional items in the hamburger. Maybe we should do the same, ie. having infrequently used items in the hamburger only, e.g. for [this](ht

[2019-07-03 21:23] jjgao commented on #5819
@zhx828 for the icon, it's confusing to have both setting and hamburger icons. Maybe we can add "Customize bins" under the hamburger icon? I don't expect this function to be frequently used so it's perfect to hide it by default. And maybe we don't need an icon in that case? Also related to discussion here: https://github.com/cBioPortal/cbioportal/issues/6356

For the refreshing issue, let's solve

[2019-07-03 21:25] schultzn commented on #6356
Good idea… I agree.

[2019-07-06 07:25] Dharmesh-Poddar commented on #6352
@jjgao is there any community channel(like gitter) for cbioportal to discuss issues?

[2019-07-06 17:43] adamabeshouse commented on #6356
how about using a question mark icon instead?

[2019-07-08 15:11] zhx828 commented on #6356
I have a running instance to elaborate JJ's suggestion, the hamburger icon is removed for pie chart but kept for bar chart to include the Custom bins feature.
https://cbioportal-frontend-pr-2518.herokuapp.com/study/summary?id=acc_tcga_pan_can_atlas_2018

[2019-07-08 15:31] adamabeshouse commented on #6356
how about we run a google analytics experiment to settle it once and for all?

[2019-07-08 16:06] zhx828 opened #6357 "Download of the pie chart should list the categories and frequency instead of the full clinical data"

[2019-07-08 19:01] pvannierop opened #6359 "Webapp-runner deployment does not allow docker volume file mounts"
While using the new docker solution for portal deployment we came across the limitation of  that the new solution, that runs the .war file with webapp-runner is not compatible with file mounts in docker. Placing a custom logo in the /image directory of the expanded webapp-runner source dir prior to running webapp-runner interferes with server startup.
[code]
Is there an alternative way of deployme

[2019-07-08 19:19] alisman commented on #6297
@adamabeshouse lets meet to chat about this one

[2019-07-08 19:39] alisman commented on #5328
@jjgao in case where session or url has studies which are missing, do we want to attempt to show results and just have a warning?
my preference would just be to have total error state (show no data).  otherwise, we have to handle case where there are samples in custom list which correspond to missing studies, etc.

[2019-07-08 20:37] adamabeshouse commented on #6195
we'll just save which tabs have existed, and show those greyed out

[2019-07-08 20:39] alisman commented on #6105
should we wait for optimization or finish and then optimize? talk to @n1zea144

[2019-07-08 20:47] adamabeshouse commented on #6344
Thanks for your interest @Dharmesh-Poddar , since this issue is an internal priority we're going to take it, but we encourage you to contribute on other issues.

[2019-07-08 21:30] #6340 closed

[2019-07-08 21:47] inodb opened #6360 "Beanwiring error when using social_auth_microsoft on 3.1.0"
[code]
Works fine when using:

`authenticate=social_auth`

but not when using

`authenticate=social_auth_microsoft`

or

`authenticate=social_auth_google`

[2019-07-08 21:55] jjgao opened #6361 "a quick way to invert select in study view"
It may be useful to invert selection sometimes, e.g. inverting TP53 mutant to TP53 WT samples. One quick way to support that is to add another link under Custom Selection.

- [x] change "Use currently selected samples/patients" to "currently selected"
- [x] add "unselected"

![image](https://user-images.githubusercontent.com/840895/60845115-4e7ef980-a1a9-11e9-8b12-78cb9ba591af.png)

[2019-07-08 22:30] jjgao commented on #4024
It seems hard to fully fix this after a few tries and now that we have quick search, let's close this for now.

[2019-07-08 22:30] #4024 closed

[2019-07-09 02:48] jjgao commented on #6352
@Dharmesh-Poddar we use slack: https://slack.cbioportal.org/

[2019-07-09 02:56] jjgao opened #6362 "disable banner and the green dot by default"
It's a bit annoying to have the banner and dots in every heroku instance. Can we do the followings?

- [ ] add a boolean property for banner and disable it by default
- [ ] set an expiration date?

Alternatively (maybe better):

The content of the banner can be read from another place that we can edit, e.g. a github file or google drive file that is specific to each instance.

[2019-07-09 03:13] jjgao commented on #6356
@zhx828 thanks for the implementation.

@adamabeshouse I don't think we need a Help icon since we already have a tooltip on each icon. I am also not sure if running analytics would help -- say if we found 50% (or even more) users uses the hamburger icon, does that mean it's a good choice? I think providing two entries for each of the options in a small interface is confusing. Annd I think the user

[2019-07-09 03:17] jjgao commented on #6357
@zhx828 I don't know if I agree. I think downloading the full clinical data for an attribute is useful too (it may be more useful). Maybe we could provide both options: `summary data` and `full data`?

[2019-07-09 03:26] jjgao commented on #5328
@alisman I think we should attempt to show results and show warning about the missing studies/samples.

It is not unusual that a sample and sometimes study is dropped or renamed from time to time. If I query for all curated 155 studies and saved a session, that session would very likely contain some dropped samples/studies. A session with a few missing samples/studies is still useful. It would be

[2019-07-09 03:27] jjgao commented on #5328
Maybe we can discuss the issue with the custom list and see if we can find a good solution?

[2019-07-09 04:56] zhx828 commented on #6357
I think Niki's argue is that we keep the consistency. We do only download
the summary data for mutated genes table. But let me know how you think.
Offer both options are easy to do as well.

On Mon, Jul 8, 2019 at 11:17 PM JianJiong Gao <notifications@github.com>
wrote:

[2019-07-09 07:40] Dharmesh-Poddar commented on #6352
Thanks @jjgao  for the response..

[2019-07-09 13:01] adamabeshouse commented on #6356
if we found users overwhelmingly prefer the hamburger then we would keep it there. Also its not two clicks its one click, the menu opens on rollover.

[2019-07-09 14:03] kalletlak commented on #6360
Seems working when I tested locally. May be could you check whether the database schema is upto date

[2019-07-09 14:03] tmazor opened #6363 "adjust text in study selector"
When one study is selected, the text at the top of the box says "1 studies selected", and the tooltip for the View Summary button also says "studies":

![image](https://user-images.githubusercontent.com/10508276/60894390-8f6e2100-a230-11e9-9362-e4dda599013d.png)

Let's make the text in both locations singular when only one study is selected.

[2019-07-09 14:33] #6195 closed

[2019-07-09 15:04] jjgao opened #6366 "making all treatments available in Plots tab"
change the implementation of  treatment data in Plots tab so that it does not depend on oncoprint tab, ie. making all treatments available in Plots tab.

[2019-07-09 15:32] #6222 closed

[2019-07-09 15:39] #6333 closed

[2019-07-09 15:57] tmazor commented on #6356
I agree that its confusing to have buttons shown twice.

I think I also prefer the hamburger menu over individual buttons in general, although I wonder how well that will work for something like the download button, which currently brings up a menu of its own. That said, I don't feel super strongly about the hamburger menu vs individual buttons as the ultimate solution. I would also be fine with u

[2019-07-09 17:09] caaespin commented on #6305
Hi, can anyone let me know if this ticket will be addressed at the next release? we are unable to upgrade from v 1.18.1 to the latest (>3.0.x) because of this bug.

What is your time frame?

thanks!

[2019-07-09 19:00] adamabeshouse commented on #4637
@jjgao @kalletlak looks like its not working for the copy number endpoint, only for mutation endpoint

[2019-07-09 19:00] n1zea144 commented on #6305
@pvannierop @oplantalech After spending time in the debugger, what appears to be causing this issue is an interdependency between two MyBatis mappers.  One mapper, [GenesetMapper.xml](https://github.com/cBioPortal/cbioportal/blob/master/persistence/persistence-mybatis/src/main/resources/org/cbioportal/persistence/mybatis/GenesetMapper.xml#L62) has a dependency on [GeneMapper.xml](https://github.co

[2019-07-09 19:02] n1zea144 commented on #6360
@inodb I think this [PR 6367](https://github.com/cBioPortal/cbioportal/pull/6367) will address this issue.

[2019-07-09 19:38] inodb commented on #6360
Thanks @n1zea144 ! Will take a look. This particular issue was actually a classic oversight, forgot to merge master to release branch 🤦‍♂ : https://github.com/cBioPortal/cbioportal/commit/bd836fbdcec8d1b6602e77f06d9083474355d47a

[2019-07-09 19:38] #6360 closed

[2019-07-09 20:23] #6219 closed

[2019-07-09 20:23] #6198 closed

[2019-07-09 20:24] #6227 closed

[2019-07-09 21:15] jjgao commented on #6357
I think we should offer both options. I have used it a couple of time. It's convenient.

@schultzn do you think that'd be ok?

(for mutated genes, let's only provide summary data.)

[2019-07-09 21:32] schultzn commented on #6357
Both is fine!

[2019-07-09 21:48] inodb opened #6368 "hrrs configuration crashes with properties.EXAMPLE"
- [ ] Would be good to have the default for hrrs be:

    `hrrs.enable.logging=false`

    it should work when all these properties are missing from the properties file:

[code]

    This is useful for people deploying a new version of the portal. They won't have to update their properties file

- [ ] In the EXAMPLE properties file good to mention what hrrs is. Mention that it is for debugging and

[2019-07-09 23:15] Sjoerd-van-Hagen commented on #6305
Thanks Ben!

On Wed, Jul 10, 2019, 05:00 n1zea144 <notifications@github.com> wrote:

[2019-07-10 02:28] jjgao commented on #4637
@kalletlak could you help with this?

I am wondering how we can handle CNA in case there are conflicts?

[2019-07-10 06:51] pvannierop commented on #6305
@n1zea144 Thanks a lot for diving into this issue.

[2019-07-10 12:15] pvannierop commented on #6359
@inodb @n1zea144 @fedde-s
I have solved this issue in [PR #6369](https://github.com/cBioPortal/cbioportal/pull/6369). Please review and merge :)

[2019-07-10 13:50] jjgao commented on #6356
Let's try to see how it look like when we have all in the dropdown. @adamabeshouse @zhx828 could you mock it up. Maybe @zhx828 can modify it in your PR? For download, is it possible to have a submenu for the different options?

[2019-07-10 14:25] jjgao commented on #6356
Actually, let's leave `info`, `reset filter`, and `close` buttons and try to move all others into the dropdown? @zhx828

[2019-07-10 14:27] zhx828 commented on #6356
@jjgao will do in my pr.

[2019-07-10 15:50] #6337 closed

[2019-07-10 15:53] zhx828 commented on #6356
@jjgao @adamabeshouse @tmazor @schultzn I have updated the instance base on JJ's suggestion. Now only info/reset/delete icons are in the header, the rest icons are moved to hamburger icon. The download also has a submenu but the functionality hasn't been implemented yet. Please take a look and give us some feedbacks. https://cbioportal-frontend-pr-2518.herokuapp.com/study/summary?id=acc_tcga_pan_c

[2019-07-10 15:58] adamabeshouse commented on #6356
@zhx828 i think it looks great!

[2019-07-10 16:25] alisman commented on #6265
@jjgao if we have an invalid study ID in query, my preference would be to NOT show any results and show a message citing the invalid IDs.  User would have to correct URL.  Is this reasonable?

[2019-07-10 16:45] jjgao commented on #6265
@alisman Maybe we can show the error message and also the Query interface so that the user can correct the query in the interface (not URL)?

[2019-07-10 17:02] alisman opened #6370 "Fork study query experience to make study view vs results page more clear"
Break homepage experience into two steps: 1. choose study, 2. if query by gene, show query criteria UI
(hidden by default)

This will help users see the study page as a first-class citizen, sibling of results view.  Right now, most users submit queries and don't visit study view, suggesting that perhaps they don't know how to navigate to it.

![image.png](https://images.zenhubusercontent.com/597f3

[2019-07-10 17:10] alisman commented on #6256
duplicates https://github.com/cBioPortal/cbioportal/issues/6370

[2019-07-10 17:10] #6256 closed

[2019-07-10 17:45] tmazor opened #6372 "oncoprint add tracks menu shows duplicates in multi-study query"
![image](https://user-images.githubusercontent.com/10508276/60991577-c7e92a00-a318-11e9-8046-19f766c5e1af.png)

https://www.cbioportal.org/results/oncoprint?session_id=5d2623aee4b0ab413787aa5e

[2019-07-10 17:52] #6033 closed

[2019-07-10 17:52] #6325 closed

[2019-07-10 19:04] #6301 closed

[2019-07-10 20:31] jjgao opened #6373 "remove prad_su2c_2015 from the curated set of studies"
... since it's a subset of prad_su2c_2019. It's in portal.properties.

@cBioPortal/curation when adding to the curated set, please remove the previous version.

[2019-07-10 20:38] jjgao opened #6375 "Get rid of cancer study short names"
Currently the short names are used only in Cancer Type Summary and Expression tabs, but they are not consistently curated. Also, we are not using the short names in other places. Should we switch to the full names (use ... if too long) and get rid of the short name? This will reduce some burden for curation... @cBioPortal/product

- [ ] remove from db
- [ ] remove from api
- [x] remove from src/pa

[2019-07-10 20:46] tmazor commented on #6356
I like it!

@zhx828 one thing I noticed is that the download menu always opens to the right, which doesn't really work for charts on the right side of the window.

[2019-07-10 20:46] n1zea144 commented on #6305
Happy to help.  I've seen that @pvannierop has approved the PR, so I'm assuming its fixed on your end too.   Is this true?  Can I merge the PR and close this issue?

[2019-07-10 20:49] zhx828 commented on #6356
@tmazor yeah, I noticed too. There are few more things need to be considered when the actual implementation is done. I didn't do any of that just in case we want to change the prototype.

[2019-07-10 22:22] schultzn commented on #6356
I like it this way. Thanks!

[2019-07-11 00:34] #6305 closed

[2019-07-11 02:18] onursumer commented on #6062
fixed by cBioPortal/cbioportal-frontend/pull/2195

[2019-07-11 02:18] #6062 closed

[2019-07-11 02:20] onursumer opened #6376 "cbioportal-frontend-commons build is broken"
`yarn buildPublicLib` is failing due to an internal dependency from `shared` in https://github.com/cBioPortal/cbioportal-frontend/blob/3c26463e535ddda82e575eaa35c9ede699ee095d/src/public-lib/lib/svgToPdfDownload.ts#L4.

[2019-07-11 15:01] pvannierop opened #6377 "HRRS filter PR breaks cbioportal deployment"
Fix for bug caused by https://github.com/cBioPortal/cbioportal/pull/5806/files.

The recent implementation of HRRS filter introduced new portal.properties params that are mandatory to set.
[code]
If not set, the portal throws an error and terminates.

1. It would be better to define default values for both params so the portal always runs.
2. When setting `hrrs.enable.logging=false` the property `

[2019-07-11 15:02] inodb commented on #6377
Seems like duplicate of: https://github.com/cBioPortal/cbioportal/issues/6368

[2019-07-11 15:03] inodb commented on #6377
GitHub gives recommended similar issues btw:

<img width="668" alt="Screen Shot 2019-07-11 at 11 02 46 AM" src="https://user-images.githubusercontent.com/1334004/61062052-7ea5e280-a3cb-11e9-945e-ed128c180a1e.png">

[2019-07-11 16:14] pvannierop commented on #6377
@Ino ah ha ha thnx

[2019-07-11 16:16] pvannierop commented on #6368
As I stated in my duplicate issue report there is also this issue:

[2019-07-11 20:03] inodb opened #6379 "network tab does not load on mskcc portal?"
Keeps showing loading icon:

https://cbioportal.mskcc.org/results/network?session_id=5d2795a1e4b0ab413787ae17

[2019-07-11 21:34] zhx828 commented on #6274
@kalletlak this is will be part of the user customization.

[2019-07-11 21:36] zhx828 commented on #5425
@Parth910 do you still have the fix available? I saw there were two attempts but all closed.

[2019-07-11 22:02] zhx828 opened #6382 "Update deployment document"
Base on the experience we got from a GSoC project, cBioPortal deployment does not work in java 12 and not mysql 8.

javax.annotation was removed from java 11.
you will run into mysql connector issue in mysql 8.

We should update our document to reflect that until we full support higher version.

[2019-07-11 22:05] #6376 closed

[2019-07-12 03:32] jjgao commented on #6274
@zhx828 are you planning to make it a global setting or cancer study specific setting?

[2019-07-12 04:37] zhx828 commented on #6274
I thinks this should be global? But up for discussion.

On Thu, Jul 11, 2019 at 11:32 PM JianJiong Gao <notifications@github.com>
wrote:

[2019-07-12 14:03] #6355 closed

[2019-07-12 14:16] jjgao opened #6383 "rendering markdown for clinical attributes"
@PichaiRaman requested that we support linkout for any URLs in the Clinical Data tab on Study View. To generalize it, it would be good to support markdown. Let's do it for both Study View and Patient View.

cc'ing @alisman

[2019-07-12 14:19] tmazor commented on #4637
@adamabeshouse @kalletlak is this done?

[2019-07-12 14:23] alisman commented on #6379
@n1zea144 @sheridancbio this is security issue which appears to be specific to network.do endpoint.  network.do is trying to redirect to login page.
![image](https://user-images.githubusercontent.com/186521/61134892-92fee380-a48e-11e9-9b8d-25cc32b62b96.png)

[2019-07-12 15:17] adamabeshouse commented on #4637
no the frontend isnt done

[2019-07-12 15:32] tmazor commented on #4637
gotcha - i got confused when this closed :)

[2019-07-12 15:33] adamabeshouse commented on #4637
yeah im not sure how that happened. some automatic github thing I guess 😛

[2019-07-12 15:44] zhx828 commented on #6347
@Dharmesh-Poddar no need to work on this ticket. I'm sending a PR due to urgency.

[2019-07-12 15:58] alisman commented on #6383
@PichaiRaman @jjgao could we see an example of existing data that has urls in it?

[2019-07-12 16:52] jjgao opened #6384 "tweaks the limit of number of query genes"
A recurrent question in our support group is how to query for more than 100 genes. We have discussed in the steering meeting and are thinking of relaxing it a little, e.g. we can support a query if

- it has 100 or fewer genes (the current criterion)

or

- genes x samples are 1 million (TBD) or fewer.

@cBioPortal/product @alisman @inodb

[2019-07-12 16:53] jjgao commented on #6384
@inodb if you will do the analysis of the current email requests for >100 genes, may add them to this thread. thanks

[2019-07-12 17:20] #6347 closed

[2019-07-12 18:21] inodb commented on #6384
@jjgao

i did a search for gene limit and found that the majority is roughly one of these cases:

1. Potentially legitimate 100-1000 range queries. But not clear always why they need it.
2. Comparing expression of large gene sets
3. They want all the data

(1) can be addressed by the newly proposed limit

Maybe for (2) and (3) we can have some configurable message that points people to the data se

[2019-07-12 19:42] zhx828 commented on #6278
BREAST-TCGA-PROVISIONAL(brca_tcga) has methylation, protein data
how to handle cross study page, multiple profile, same type? Give dropdown for each study to select the profile(select one by default)

[2019-07-14 22:49] jjgao commented on #6083
@alisman could you prioritize this? Thanks.

[2019-07-14 23:05] jjgao commented on #6274
I think this should be global too. Do we have a global setting for user? If not yet, I think it's ok to save it to local storage since it's not a critical parameter.

[2019-07-14 23:08] jjgao commented on #6383
@alisman we don't have that on public portal. I thinnk we may have to build this feature first and data will come.

[2019-07-14 23:15] jjgao commented on #6384
+1

Aaron's forked button might bring more awareness of study view.

I think it's a good idea to mention that. It's also problematic to use oncoprint to derive binary conclusions about expression data as discussed in #5528.

[2019-07-14 23:21] jjgao commented on #6383
I am wondering if we can "customize" markdown so that we can embed some more meta data, e.g. whether the url should be rendered as an i-frame. If we can do that, then we can provide a general solution for i-frame tabs (we can remove some of our code for msk slide viewer).

[2019-07-15 14:08] alisman commented on #6383
Lets discuss live, b/c i'm still not totally understanding

[2019-07-15 14:15] inodb commented on #6342
@pvannierop and @oplantalech ran into the same issue with saml

[2019-07-15 15:17] pvannierop commented on #6342
Yes, we run our container this way now (configured via .env file):
[code]

[2019-07-15 15:23] inodb commented on #6342
For reference. We use the same solution on our production machine on AWS: https://github.com/knowledgesystems/knowledgesystems-k8s-deployment/blob/master/cbioportal/cbioportal_spring_boot.yaml#L125-L126

[2019-07-15 18:27] jjgao commented on #6383
Here are a few examples:

- `[example](https://example.com)` -> [example](https://example.com)
- `https://example.com` -> https://example.com
- `[example|i-frame](https://example.com)` -> this will generate a new tab named example to iframe https://example.com

[2019-07-15 19:15] alisman commented on #6004
@adamabeshouse i think we have to introduce a mode for this in which tabId is appended to url.  let me know your thoughts

[2019-07-15 22:12] #6356 closed

[2019-07-15 22:22] zhx828 commented on #6356
@jjgao @tmazor @schultzn @adamabeshouse this is now deployed in production.

[2019-07-16 14:45] n1zea144 commented on #6379
Hi @alisman I made a change to allow all requests through to network.do (like we do for case.do and patient.do).  Further progress is made, but there is still an error loading the page.  I see the following in the browser debugger:

![image](https://user-images.githubusercontent.com/366003/61304062-8fcd6580-a7b6-11e9-8528-03fef9466322.png)

Is this due to an erroneous response from the backend (it

[2019-07-16 17:26] #6363 closed

[2019-07-16 18:24] #6083 closed

[2019-07-16 18:34] alisman commented on #4984
@schultzn I think we've improve the situation here.  It's still not perfect.  It's difficult probleem

[2019-07-16 18:34] #4984 closed

[2019-07-16 19:33] #6322 closed

[2019-07-16 19:37] adamabeshouse commented on #6231
fixed by new component

[2019-07-16 19:37] #6231 closed

[2019-07-16 19:38] #6049 closed

[2019-07-16 19:45] onursumer opened #6992 "Move 3D structure viewer into react-mutation-mapper"
It would be great if we can implement a new viewer built on [ngl](https://www.npmjs.com/package/ngl)

[2019-07-16 19:57] adamabeshouse commented on #2545
apparently fixed by new oncoprinter

[2019-07-16 19:57] #2545 closed

[2019-07-16 20:42] #6296 closed

[2019-07-16 20:43] #6205 closed

[2019-07-16 20:45] alisman commented on #5693
@jjgao @inodb
If we continue to think this is really important, we try using https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Credentials to enable login on heroku instances.  "Access-Control-Allow-Credentials" is setting of CORS which allows the browser to include cookies (JSESSIONID) when making cross domain requests (cookies associated with request domain instead o

[2019-07-16 20:50] #6344 closed

[2019-07-16 21:50] zhx828 commented on #5819
@jjgao could you take another look of this mockup? If it looks good, I will send it to do code review. Thanks. https://cbioportal-frontend-pr-2518.herokuapp.com/study/summary?id=acc_tcga_pan_can_atlas_2018

[2019-07-17 11:26] pvannierop opened #6391 "Failing co-expression endpoint (related to refactoring of CoExpressionServiceImpl)"
In `release-3.1.0` branch localdb e2e-test show that co-expression functionality is broken when using gene/gene set cross comparisons. We suspect it is related to refactoring to introduce use of `Iterable` for _MolecularDataService_ (done in [commit a645fbec15](https://github.com/cBioPortal/cbioportal/blob/a645fbec15dd52036a5f55e0ee2f569c85d5cc34/service/src/main/java/org/cbioportal/service/impl/C

[2019-07-17 14:31] BigBallerDan23 opened #6392 "Dockerized cbioportal does not work when run with -Dauthenticate=saml to connect with Keycloak Authentication"
Hi all,

I have used docker to successfully deploy cbioportal on -p 8081:8080. I am now trying to secure it with Keycloak. So far I have set up Keycloak and can access its admin console on -p 8180:8080. I have modified all the admin settings according to the documentation as well as the saml setting in portal.properties. It is important to note that running cbiokc container did not work using the

[2019-07-17 20:14] tmazor opened #6393 "oncoprint clinical track tooltip extends offscreen"
![image](https://user-images.githubusercontent.com/10508276/61408310-be7a3780-a8ad-11e9-8c06-b8407c0a0f54.png)

To replicate, add "International Classification of Diseases for On..." in this session:
https://www.cbioportal.org/results/oncoprint?session_id=5d2f80d9e4b0ab413787bf78

[2019-07-17 20:16] tmazor opened #6394 "oncoprint add clinical track menu doesn't have tooltips for truncated names"
Variable names can be truncated in the Add Clinical Track menu, but there is no way to see the full name. Let's show the complete name on hover. See example below where two tracks are indistinguishable based on the text that is shown.

![image](https://user-images.githubusercontent.com/10508276/61408435-013c0f80-a8ae-11e9-9c0a-04eef582af0b.png)
https://www.cbioportal.org/results/oncoprint?session_

[2019-07-17 20:28] tmazor opened #6395 "group comparison mutations tab shows an error"
Some group comparison sessions are loading fine, so this isn't a universal issue, but I don't know how widespread it is.

![image](https://user-images.githubusercontent.com/10508276/61409075-722ff700-a8af-11e9-96c6-9afde0702c37.png)

![image](https://user-images.githubusercontent.com/10508276/61409089-7c51f580-a8af-11e9-88a8-7dc70a209fbd.png)

https://www.cbioportal.org/comparison/mutations?sessio

[2019-07-17 20:35] #6372 closed

[2019-07-17 20:45] n1zea144 commented on #6379
@jjgao @alisman Here is the fix (I've deployed to MSK portal already):

[PR-6396](https://github.com/cBioPortal/cbioportal/pull/6396)

[2019-07-17 20:52] #6379 closed

[2019-07-17 20:53] alisman commented on #6395
@kalletlak this CURL returns 500.  NumberFormatException.  Can you take a look?

curl 'https://www.cbioportal.org/api/mutation-enrichments/fetch?enrichmentType=SAMPLE' -H 'origin: https://www.cbioportal.org' -H 'accept-encoding: gzip, deflate, br' -H 'accept-language: en-US,en;q=0.9' -H 'user-agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/75.0.

[2019-07-17 21:22] n1zea144 commented on #6391
@pvannierop Can you provide me the query that was being executed?

[2019-07-18 01:36] inodb opened #6398 "show all samples button on patient view is not working"
Before there would be a button to show all samples when looking at a sample where the patient has more than one sample:

https://www.cbioportal.org/patient?studyId=lgg_ucsf_2014&tab=summaryTab&sampleId=P04_Pri

[2019-07-18 03:12] schultzn opened #6399 "Quick search should be able to find samples, not just patients"
When finding a sample, maybe Quick Search can suggest the associated patient as a match?

![image](https://user-images.githubusercontent.com/11892704/61422261-f0ed5a00-a8d8-11e9-9bd2-bfcd7f3c4094.png)

![image](https://user-images.githubusercontent.com/11892704/61422247-dd41f380-a8d8-11e9-9612-b19da1ee8309.png)

EDIT from @inodb:
- [ ]  search for a sample and suggest associated patient e.g. searc

[2019-07-18 18:21] jjgao commented on #5693
let's close this for now and see if it comes back again.

[2019-07-18 18:21] #5693 closed

[2019-07-18 18:22] jjgao commented on #5819
@zhx828 looks great! Thanks.

[2019-07-18 19:26] jjgao commented on #6395
Karthik Kalletla [3:21 PM]
@jj regarding https://github.com/cBioPortal/cbioportal/issues/6395. looks like all samples are altered. this is throwing error while calculating p-values. should I ignore genes where either all cases are altered or unaltered?

[2019-07-18 19:27] jjgao commented on #6395
@kalletlak is it possible to return na for these genes?

[2019-07-18 22:05] adamabeshouse commented on #6394
@alisman I gave this one some work and I'm stumped. I think it needs your CSS expertise. could you give it a shot?

[2019-07-19 01:46] jjgao opened #6401 "Improve the current patient view to incorporate cfDNA"
cfDNA provides an approach for real-time noninvasive monitoring of treatment response and cancer progression. For example, MSK-ACCESS has received New York State approval as a clinical assay. There is a need to visualize cfDNA data (which are oftentimes put side-by-side with tumor sequencing data. We have been using cBioPortal to show cfDNA data, but there are a few challenges.

1. There may be ma

[2019-07-19 01:47] jjgao opened #6402 "Adding oncoprint-like heatmap in patient view for multi-samples"
It was prototyped early in [one of the GSoC project](https://pambot.github.io/posts/gsoc2017-cbioportal).

![image](https://user-images.githubusercontent.com/840895/61502332-8d7b2f00-a9a1-11e9-8ec0-0675ef19f288.png)

We can implement it as an alternative visualization of the mutations table.

[2019-07-19 01:48] jjgao commented on #6401
logged separately for the heatmap view: https://github.com/cBioPortal/cbioportal/issues/6402

[2019-07-19 02:49] jjgao opened #6403 "Combined Study link in Result page always open all samples in study view"
Link to the Combined Study does not open the queried samples but open all samples in the study.

http://bit.ly/30MEaE9

![image](https://user-images.githubusercontent.com/840895/61505722-c4efd880-a9ad-11e9-9b06-ff2dd49cd952.png)

If not all samples were selected for query, we should only open the selected samples. An easy solution may be create a virtual study and open the virtual study? Alternati

[2019-07-19 02:53] jjgao opened #6404 "overlapping not highlighted"
Esophageal Carcinoma (TCGA, Nature 2017) overlaps with both Esophageal and Stomach studies, but the overlapping is not highlighted.

![image](https://user-images.githubusercontent.com/840895/61505913-7989fa00-a9ae-11e9-83e1-da2b8c401243.png)

[2019-07-19 05:44] pvannierop commented on #6391
I do not know the SQL query that triggered the error. I do know that call
[code]
fails. When study_es_0 is loaded this call comes from the co-expression tab reached via URL:
[http://localhost:8081/results/coexpression?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=study_es_0&case_set_id=study_es_0_all&clinicallist=NUM_SAMPLES_PER_PATIENT%2CPROFILED_IN_study_es_0_gsv

[2019-07-19 14:55] jjgao opened #6405 "queried cases with Mutations and CNAs data but oncoprint indicates some of them are not profiled for muations"
In [this query](https://www.cbioportal.org/results/oncoprint?session_id=5d31d922e4b0ab413787c596), I selected cases with Mutations and CNAs data as the case list, why are there 4 samples that are not profiled for mutations?

![image](https://user-images.githubusercontent.com/840895/61544459-83921400-aa13-11e9-9f22-c872ce12df8c.png)

[2019-07-19 15:52] kalletlak commented on #6105
@jjgao what should be the y for gene bar plot in mRNA and protein enrichment tabs

[2019-07-19 16:05] kalletlak commented on #6405
@jjgao looks like selected case list is `Cases with copy number alterations data`

[2019-07-19 17:37] adamabeshouse commented on #6405
yes and when I select cases with mutations and cna, it seems like everything is profiled.

[2019-07-19 17:37] #6405 closed

[2019-07-19 22:21] adamabeshouse commented on #6393
there are still issues with tooltip placement when scrolling down the page

[2019-07-20 14:04] jjgao commented on #6105
per Slack discussion, we will not have a bar plot for mrnna and protein tabs.

[2019-07-20 14:05] jjgao commented on #6405
sorry, my mistake.

[2019-07-20 15:37] #703 closed

[2019-07-20 15:37] #701 closed

[2019-07-20 15:39] #2668 closed

[2019-07-20 15:41] #2771 closed

[2019-07-20 15:44] #2873 closed

[2019-07-20 15:44] #2850 closed

[2019-07-20 15:45] #2810 closed

[2019-07-20 15:46] #2876 closed

[2019-07-20 15:46] #2796 closed

[2019-07-20 15:49] #2663 closed

[2019-07-20 15:49] #1237 closed

[2019-07-20 15:49] #1071 closed

[2019-07-20 15:49] #1019 closed

[2019-07-20 15:50] jjgao commented on #3114
we should probably do an rfc or hackathon on this.

[2019-07-20 15:50] #3114 closed

[2019-07-20 15:51] #3358 closed

[2019-07-20 15:53] #869 closed

[2019-07-20 15:54] #907 closed

[2019-07-20 15:54] #908 closed

[2019-07-20 15:55] #1198 closed

[2019-07-20 15:56] #1280 closed

[2019-07-20 15:58] jjgao opened #6407 "minor issue with oncoprint progress message"
Can we make Canncer Hotspots in the same line?

![image](https://user-images.githubusercontent.com/840895/61580926-83fadf80-aae5-11e9-9d5f-ca56346373e4.png)

[2019-07-20 16:00] jjgao commented on #3789
The problem is still there? Are we annotating splice mutations now?

[2019-07-20 16:01] #3818 closed

[2019-07-20 16:04] jjgao commented on #3887
This should be implemented in the table component we are using - lazy-mobex table

[2019-07-20 16:05] #4041 closed

[2019-07-20 16:06] #4093 closed

[2019-07-20 16:07] #4099 closed

[2019-07-20 16:09] jjgao commented on #4186
It was due to batch correction.

Here are the methods we had put in our pancan paper.

RNA Data Batch Correction

The expression data for mRNA and miRNA were batch-corrected to adjust for platform differences between the GAII and HiSeq Illumina sequencers. For mRNA, additional adjustments were made for different sequencing centers (The University of North Carolina [UNC] and British Columbia Cancer