[2018-11-12 16:06] alisman commented on #2176
@jjgao @zhx828 would this be a good project for @dippindots ?

[2018-11-12 16:13] jjgao commented on #4610
@alisman @dippindots

1. yes
2. ok to add PDF/PNG/SVG to plots.

For data, is there any js lib to do json to tsv?

https://codebeautify.org/json-to-tsv-converter

[2018-11-12 17:03] jjgao opened #5230 "improving performance of /api/clinical-attributes/counts/"

[2018-11-12 17:36] jjgao commented on #2176
@alisman I think this is a good one.

[2018-11-12 17:39] jjgao commented on #5130
@alisman I see. We can fix the backend link. Mabye @onursumer can help?

[2018-11-12 17:42] jjgao opened #5231 "error when loading virtual study"
http://www.cbioportal.org/beta/newstudy?id=5bdb7171498eb8b3d5689a32

[2018-11-12 17:48] alisman commented on #5130
@jjgao I actually don't think it can be handled in backend because it needs to initiate a post (not a GET) to handle custom case lists.    So, really need to be done on frontend.   Not too nasty.

[2018-11-12 17:49] jjgao opened #5232 "tweaks on the new study view suggested by Chris"
- [ ] change to lower case "with"
![image](https://user-images.githubusercontent.com/840895/48365396-cf1c4300-e678-11e8-975b-36a2f65cddb8.png)
- [ ] change to "Use currently selected samples/patients"
![image](https://user-images.githubusercontent.com/840895/48365563-4651d700-e679-11e8-8e18-845e14f216d5.png)

[2018-11-12 17:53] ersinciftci commented on #5194
@jjgao @adamabeshouse If the frontend doesn't send `mutationCountVsCNASelection` field in the filter when calling `/clinical-data-density-plot/fetch`, the unselected bins would still be visible, so I think still no need to change the API for that one.

[2018-11-12 18:33] adamabeshouse commented on #5226
Im not sure if number of samples would be very useful, because it would be the same number of samples for every pixel, theres no density difference. But showing all the samples in the tooltip maybe? I dont think it would be too much work.

[2018-11-12 18:34] adamabeshouse commented on #5137
same questions as for driver

[2018-11-12 19:06] #4887 closed

[2018-11-12 19:06] #4824 closed

[2018-11-12 19:06] #4751 closed

[2018-11-12 19:06] #4828 closed

[2018-11-12 19:07] #4838 closed

[2018-11-12 19:21] ersinciftci commented on #5194
Just for the record, we discussed this during the planning meeting, there was some confusion about how the filter applies to bins, but now on the same page that no API change is needed for showing the unselected bins.

[2018-11-12 19:49] adamabeshouse commented on #5227
the real error is "Not enough storage is available to complete this operation."

[2018-11-12 19:49] #3967 closed

[2018-11-12 19:53] zhx828 opened #5233 "SV: the loading status is not properly reflected on the page"
From Ersin:

[code]

[2018-11-12 19:56] zhx828 opened #5234 "Clinical value is not properly reflected in combined virtual studies"
There's this clinical attribute "MYB or MYBL1 Fusion" (`MYB_MYBL1_FUSION`) that exists in 3 of these studies as a sample level clinical attribute. In the fourth study (`acyc_fmi_2014`) it doesn't exist at all. If you look at the other 3 studies the clinical attribute has a bunch of values populated but the combined cohort page seems to only represent the values in `accrf_mskimpact`, making the val

[2018-11-12 20:08] zhx828 opened #5235 "clinical-data-bin-counts returns duplicate groups"
In this multi studies query, both Mutation Cound and FGA groups have been duplicated. http://www.cbioportal.org/beta/newstudy?id=acc_tcga%2Clgg_tcga

[2018-11-12 21:16] zhx828 commented on #5234
Data issue and has been addressed.

[2018-11-12 21:16] #5234 closed

[2018-11-12 21:55] ersinciftci commented on #5235
@zhx828 if you look at the request, the frontend sends duplicate attribute ids.

[2018-11-12 22:32] jjgao commented on #5130
@alisman oh, I see. Please make change in the frontend then.

[2018-11-12 22:33] jjgao commented on #5226
@adamabeshouse let's show all samples then.

[2018-11-12 22:44] jjgao commented on #5136
@adamabeshouse

since everything in the OQL is OR logic. Maybe we should do that too? ie.  `MISSENSE DRIVER` means union of missense and drivers of any type.

I remember you have implemented AND/OR logic. What would it look like if we use that?

Can we also apply drivers to CNA and fusions?

[2018-11-12 22:46] jjgao commented on #5227
@adamabeshouse what's next for this?

[2018-11-12 23:03] adamabeshouse commented on #5136
i did implement AND/OR but that was a while ago I think it may be in old project. I can try to track it down.

An idea I just thought of is to use . to chain together, its more readable than the words "AND" and "OR". So it could be like

EGFR: MISSENSE.DRIVER INFRAME.GERMLINE which would get driver missense and germline frame mutations. or MISSENSE.DRIVER.GERMLINE. what do you think?

[2018-11-12 23:05] adamabeshouse commented on #5227
@jjgao I'll look closer into it, I think the problem is that sometimes queries return data that is too big for a browser to allocate into a single array. So we'll need to actually start using pagesize

[2018-11-12 23:07] jjgao commented on #5136
@adamabeshouse I think it's a great idea!

@tmazor @schultzn what do you think?

[2018-11-12 23:17] adamabeshouse commented on #5227
nvm, I just went to the link myself, my browser handled it fine, so I dont think array size issue is the problem. seems this is just a standard memory issue, running out of memory. I guess we should close this for now and see what happens after we merge our memory management attempt https://github.com/cBioPortal/cbioportal-frontend/pull/1664

[2018-11-12 23:30] adamabeshouse commented on #5222
i cant reproduce this anymore

[2018-11-12 23:30] #5222 closed

[2018-11-12 23:41] #4959 closed

[2018-11-13 02:21] schultzn commented on #5136
I like the idea!

[2018-11-13 03:41] sentry-io[bot] opened #5237 "Error: Failed to fetch all transcripts"
Sentry Issue: [SPA-PROD-9T](https://sentry.io/memorial-sloan-kettering/spa-prod/issues/749225265/)

[code]

[2018-11-13 05:20] jjgao commented on #5136
@tmazor Good point -- not sure what's the best option here.

Maybe it's OK to allow the user to define them after the query is submitted? We should remember the "driver" sources in the query state @adamabeshouse.

We are thinking about adding a global (instead of oncoprint-specific) setting for results page to set "driver" sources.

[2018-11-13 17:30] jjgao commented on #4183
Gaofei Zhao [11:55 AM]
@product Onur and I discussed about how to fix issue 4183: https://github.com/cBioPortal/cbioportal/issues/4183. We proposed one solution which shows in this screenshot. Can I ask your opinions about this?

![image](https://user-images.githubusercontent.com/840895/48431485-d3f7fa00-e73f-11e8-9e98-d02dc9c7bd7d.png)

[2018-11-13 17:30] jjgao commented on #4183
@dippindots @onursumer maybe we should use different columns for different profile type and put `no alteration` and `not profiled`.

@tali thoughts?

[2018-11-13 20:15] tmazor commented on #4183
Definitely agree we should use "Not Profiled" rather than "NP", that will be much clearer to a user. Writing "No alteration" rather than leaving those cells blank is probably also a good idea since that makes everything explicit. So yes, I agree, good plan!

[2018-11-13 20:46] zhx828 opened #5238 "Include OncoKB level R2 data"

[2018-11-13 23:11] jjgao commented on #4183
Thanks, @tmazor!

@dippindots @onursumer please go head and implement or make a mock-up.

- [ ] separate columm for each profile, e.g. `IDH1 MUT`, `IDH1 CNA`
- [ ] support `no alteration` and `not profiled`.

[2018-11-13 23:14] jjgao commented on #4589
@ersinciftci do you have a new sql just for records? Just in case it's useful for other optimization.

[2018-11-13 23:27] jjgao opened #5241 "making it obvious that a gene can be selected on study view"
Chris suggested that the current functionality of selecting a gene is not obvious. Maybe we can change the text in the gene input box and also add an info icon in the header of gene column. We could also add a selection icon before the gene symbol (if we can find a good icon).

[2018-11-14 00:12] ersinciftci commented on #4589
@jjgao
[code]

[2018-11-14 00:18] #5230 closed

[2018-11-14 00:19] ersinciftci commented on #5230
The change is merged, we can reopen the issue if the performance is still not satisfactory.

[2018-11-14 12:56] pieterlukasse opened #5242 "cgds and migration.sql mismatch"
see https://github.com/cBioPortal/cbioportal/pull/3012/files#r233434163

[2018-11-14 14:48] pieterlukasse opened #5243 "Copy Number Alterations tab will not load for some studies"
Steps to reproduce:
1. go to http://www.cbioportal.org/study?id=prad_mskcc_2014#summary
2. click on "Copy Number Alterations tab". This will not work and the error below appears:

<img width="1416" alt="screen shot 2018-11-14 at 15 47 41" src="https://user-images.githubusercontent.com/2900303/48490004-b5b7fa00-e824-11e8-98b0-a9f09ebf9e1f.png">

[code]

[2018-11-14 14:49] pieterlukasse commented on #5243
Notify: @zhx828

[2018-11-14 14:57] pieterlukasse commented on #5243
could it be related to https://github.com/cBioPortal/cbioportal/issues/5105?

[2018-11-14 14:58] zhx828 opened #5244 "HTTP:500 MYSQL exception related to GenePanel"
Reproduce:
1. Go to http://www.cbioportal.org/beta/newstudy?id=prad_mskcc_2014#summary
2. Open the developer tool and check the network tab
3. The sample-counts endpoint is failing

[code]

[2018-11-14 14:59] pieterlukasse commented on #5105
@jjgao we found another bug that is potentially related https://github.com/cBioPortal/cbioportal/issues/5243. Maybe @zhx828 can see if he can fix both at once if they are indeed related?

[2018-11-14 15:10] angelicaochoa commented on #5242
@pieterlukasse thanks! here is the PR for this https://github.com/cBioPortal/cbioportal/pull/5245

[2018-11-14 15:14] ersinciftci commented on #5244
This should already be fixed by https://github.com/cBioPortal/cbioportal/pull/5236, `/beta` might need to be updated.

[2018-11-14 16:13] ersinciftci commented on #5194
@jjgao I just realized that you wanted `min` and `max` values to display them for every bin, not only 1-sample bins. So we will use the bin coordinates only for drawing the chart, and will use min-max values in the tooltip. That sounds good to me, let me see how it affects the performance of the API, shouldn't affect much in terms if big O notation.

[2018-11-14 16:57] zhx828 commented on #5167
For things need to do:
- [ ] For oncoprint, we should only get Oncogenic evidence
- [ ] For mutations tab, we should fetch oncokb service by gene, not all genes together in one call
- [ ] OncoKB performance improvement

[2018-11-14 18:12] jjgao commented on #5243
@pieterlukasse we have decided to remove the tab in the new study view page since most of it is covered by CNA Genes table.

[2018-11-14 18:12] #5243 closed

[2018-11-14 18:14] jjgao commented on #5105
We will also reimplement the Genomic Overview with igv.js https://github.com/cBioPortal/cbioportal/issues/4390. Hopefully this issue will be fixed once that's done.

[2018-11-14 18:55] jjgao opened #5246 "download values (median, 25%, etc) of boxplot + sample level values of scatter plot"
For all boxplot + scatter plots, it would be useful to have options to download data

- values (median, 25%, etc) of boxplot
- sample level values of scatter plot

tabs:
- plots
- expression
- enrichments
- any other tabs?

[2018-11-14 18:57] jjgao commented on #5246
related to [a user question](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/VRIe-_7El2c/C5ekl0LgBQAJ)

[2018-11-14 21:13] ersinciftci commented on #5194
Merged the PR, so the new bin object looks like:
[code]
max-min fields won't be present if the count is 0.

[2018-11-14 22:13] zhx828 opened #5249 "Use e.preventDefault() over modifying the component"

[2018-11-14 22:44] dippindots commented on #4183
@jjgao @tmazor
I finished the demo version of the proposal based on new requirements. Here is the screenshot of the new table.
![image](https://user-images.githubusercontent.com/15748980/48517440-5366f580-e834-11e8-81e2-330d94ee21c7.png)

Does it match your requirements?

[2018-11-14 23:07] jjgao commented on #4183
Thanks, @dippindots.

@tmazor should we use gray color for `no alteration`? Or bold any alterations?

[2018-11-15 13:58] #5223 closed

[2018-11-15 13:58] #5235 closed

[2018-11-15 14:04] sandertan opened #5252 "Mutation data on gene panel, CNA whole exome"
When mutations are profiled on a gene panel, while CNA data is not panel profiled, this results in incorrectly labeling of the OncoPrint samples when selecting only the CNA profile.

When selecting CNA mutation profile, querying all samples, this should result in all samples being either altered or not altered. Instead, the **mutation** sample that is not profiled on the panel, will be white and s

[2018-11-15 15:00] sheridancbio commented on #4345
I do not disagree. (and I agree ... at least I think I would prefer this option rather than trying to manage the character encoding in the migration scripts). We could maybe also add code to the DaoMutation class (and/or the bulk loader) to check for collisions on these index fields before records get imported. We might speed that up by using the existing key for ENTREZ_GENE_ID, subsetting the exi

[2018-11-15 16:04] tmazor opened #5253 "mutations tab: "show all mutations" doesn't work"
If I filter the table on the mutations tab and then click "show all mutations" to remove the filter, nothing happens.

[2018-11-15 16:13] tmazor commented on #5253
After testing in additional studies, this one query is the only one where this button doesn't work: http://www.cbioportal.org/results/mutations?session_id=5bed9b07e4b0776ef5b26507

[2018-11-15 16:21] ersinciftci commented on #5253
And it doesn't always fail, it fails when you search for `endo` for that url, but works when you search `missense`.

[2018-11-15 17:30] zhx828 opened #5254 "Add tests for study view"
At least few e2e tests need to be added:
-  backend
    - [x] Add two e2e tests to govern summary tab and clinical data tab. We could use lgg_ucsf_2014 study
-  frontend
	- [x] Test custom range. MSI_SCORE
    - [x] Test tabs synchronization by adding a new chart to see whether the same column has been added in clinical data tab
    - [x] Test add Custom Selection
    - Test Add Custom Chart

[2018-11-15 19:17] ersinciftci commented on #5253
Most likely duplicate of https://github.com/cBioPortal/cbioportal/issues/4549

[2018-11-15 20:37] onursumer opened #5255 "Reset filters UI is not showing up for the standalone mutation mapper"
Reset filter option is missing for the standalone mutation mapper.

Seems like a bug introduced with https://github.com/cBioPortal/cbioportal-frontend/pull/1700

[2018-11-15 21:15] jjgao opened #5256 "filtering banner issues"
- move filtering banner within a gene
- clicking on a dot in lollipop does not update the number correctly

[2018-11-15 21:18] #5193 closed

[2018-11-15 21:22] jjgao opened #5257 "Co-exp & Enrichments: move the Data Set dropdown"
Can we move the Data Set drop down under the gene tabs? Maybe above the scatter plot section?

Similarly for Enrichments, move it above the table on the right side.

Can we also change "Data Set" to "Profile"?

![image](https://user-images.githubusercontent.com/840895/48582263-05b0c280-e8f2-11e8-9f57-7b88bce700bd.png)

![image](https://user-images.githubusercontent.com/840895/48582400-6b9d4a00-e8f

[2018-11-16 03:30] zhx828 opened #5258 "CustomChart and two special charts can be merged together"

[2018-11-16 03:42] zhx828 opened #5259 "Null Pointer Exception for density plot when in multi studies"
@ersinciftci could you take a quick look on this study? If you make any selection on the density plot and check the network tab, the endpoints are failing.

http://www.cbioportal.org/beta/newstudy?id=5bc65dde498eb8b3d5685b56

[2018-11-16 15:33] jjgao commented on #3191
@sandertan that's odd, b/c gene panel seems work on public portal: http://www.cbioportal.org/results?session_id=5beee30fe4b06273341189c1

I am adding @n1zea144 and @sheridancbio on this.

[2018-11-16 15:34] jjgao commented on #5007
@fedde-s agreed. I am closing this one.

[2018-11-16 15:34] #5007 closed

[2018-11-16 15:37] jjgao commented on #4345
@sheridancbio Thanks! Could you add this to your backlog? Adding keys is also a good idea.

[2018-11-16 15:39] jjgao commented on #5194
@adamabeshouse let's use one color for gray.

[2018-11-16 17:35] zhx828 opened #5261 "Virtual Study does not show any clinical data charts"
http://www.cbioportal.org/beta/newstudy?id=5bc65dde498eb8b3d5685b56&tab=summary

[2018-11-16 18:54] adamabeshouse commented on #5194
@jjgao ah okay

[2018-11-16 20:34] n1zea144 opened #5263 "broken link on File-Formats page"
There is a broken link on [File-Formats.html](https://cbioportal.readthedocs.io/en/latest/File-Formats.html):

[few rules documented at the Data Loading page.](https://cbioportal.readthedocs.io/Data-Loading.html#preparing-study-data) I think should be:

[ Data Loading tool](https://cbioportal.readthedocs.io/en/latest/Data-Loading.html) which exists under the Cancer Study section.

[2018-11-16 21:56] #5255 closed

[2018-11-16 21:56] #5256 closed

[2018-11-16 22:52] #5259 closed

[2018-11-16 23:23] #5185 closed, assigned to zhx828

[2018-11-16 23:24] #5194 closed, assigned to adamabeshouse, ersinciftci, zhx828

[2018-11-16 23:26] #4946 closed, assigned to zhx828

[2018-11-17 03:59] zhx828 opened #5265 "The filters of # Sample Per Patient Pie Chart/Cancer Studies are missing"
We need to show the special charts' filters

[2018-11-17 18:03] kalletlak opened #5266 "SV: Unable to remove filter the filters section"

[2018-11-18 03:46] schultzn opened #5267 "Bookmark, Twitter and email links very slow"
It takes a good 10-30 seconds for the bookmark, email and Twitter links to result in the desired action after the click, at least in my Chrome browser.

[2018-11-18 04:33] jjgao commented on #5267
The session service seems very slow at the moment.

[2018-11-19 01:56] zhx828 opened #5268 "Cannot delete virtual study at the query page"

[2018-11-19 12:21] sandertan opened #5269 "Missing clinical tracks in Study Summary"
When I query BRCA TCGA (Prov) I can only add 31 out of 112 clinical profiles to the study summary page.

### Study Summary of brca_tcga
![screenshot 2018-11-19 at 12 39 58](https://user-images.githubusercontent.com/9624990/48706872-d950bb00-ebfd-11e8-841f-7b6a585b7a33.png)

### OncoPrint of brca_tcga
![screenshot 2018-11-19 at 12 40 26](https://user-images.githubusercontent.com/9624990/48706878-df

[2018-11-19 13:57] kalletlak commented on #5268
May be its session-service issue. @inodb were there any updates to session-service api?

[2018-11-19 15:38] tmazor opened #5270 "SV: add commas to number of samples/patients"
Let's add commas when the number of patients/samples extends to 4 digits

![image](https://user-images.githubusercontent.com/10508276/48717292-178eb000-ebe7-11e8-98ba-313f234fb460.png)

[2018-11-19 15:40] #5163 closed

[2018-11-19 15:47] tmazor opened #5271 "SV: density plot tooltip updates"
I think the tooltip will be clearer with the following 2 updates:
1) Change "count" to "number of samples"
2) Show the min/max of # of mutations/fraction altered rather than "~xx"

For example:
Number of samples: 6
Number of mutations: 50-60
Fraction of copy number altered genome: 0.02-0.07

![image](https://user-images.githubusercontent.com/10508276/48717417-5f153c00-ebe7-11e8-9353-b3545df759f5.p

[2018-11-19 16:04] tmazor opened #5272 "SV: gene names from CNA table show up as entrez gene IDs"
This is fun - gene symbols sometimes appear as entrez gene IDs when used as a filter. See example below. The first time I select a gene to filter in the CNA table, it appears as an entrez gene ID. If I add a gene from the mutations table, both genes appear as hugo symbols. If I then clear that and select the same CNA gene, it appears as a hugo symbol, but any other gene from the CNA table appears

[2018-11-19 16:07] tmazor opened #5273 "SV: add chart order"
Can we swap genomic and custom groups? I think it makes more sense to have clinical & genomic next to each other.

![image](https://user-images.githubusercontent.com/10508276/48719300-26776180-ebeb-11e8-9155-8991dcaf5f98.png)

[2018-11-19 16:15] tmazor opened #5274 "SV: pie chart labels"
Pie chart labels sometimes overlap other slices/other text:

MSK-IMPACT:
![image](https://user-images.githubusercontent.com/10508276/48719704-1f9d1e80-ebec-11e8-97bd-48ca9e0493a1.png)

lgg_tcga:
![image](https://user-images.githubusercontent.com/10508276/48719868-74409980-ebec-11e8-82ae-4eabbabac35a.png)

[2018-11-19 16:19] tmazor opened #5275 "SV: mutsig & gistic labels are offset"
The "M" for mutsig is a bit low and the "G" for gistic is a bit high. Can they both appear at the same high relative to the text, and ideally at the center of the row?

![image](https://user-images.githubusercontent.com/10508276/48719969-b4a01780-ebec-11e8-83b4-5eb613ceb9bc.png)

[2018-11-19 16:20] tmazor opened #5276 "SV: tooltip text for gene names"
Tooltip should say "to your query" not "from your query"

![image](https://user-images.githubusercontent.com/10508276/48720131-0ea0dd00-ebed-11e8-84d4-498397629b81.png)

[2018-11-19 16:26] tmazor opened #5277 "SV: mutations & CNA table tooltips"
Let's have more informative tooltips for these tables:

Gene: Gene
\# Mut: Total number of mutations
#: Number of samples with one or more mutations
Freq: Percentage of samples with one or more mutations

Gene: Gene
Cytoband: Cytoband
CNA: Copy number alteration, only amplifications and deep deletions are shown
#: Number of samples with the listed copy number alteration
Freq: Percentage of samples

[2018-11-19 16:40] tmazor opened #5278 "SV: rename "Freq" in add chart"
In the "add chart" interfaces, I think the "Freq" column could have a more informative name - maybe
% Samples with Data or % Data Availability

[2018-11-19 16:46] tmazor opened #5279 "SV: convert pie chart to table in place"
On production, when I convert a pie chart to a table, it pushes charts that come after it out of the way so that the table appears in the same location as the pie chart. On beta, this doesn't happen and the table appears at the bottom of the screen. This is often off-screen and requires scrolling to find it, so the chart seems to disappear. Let's make new study view behave more like old study view

[2018-11-19 16:54] tmazor opened #5280 "# samples missing in results view header"
![image](https://user-images.githubusercontent.com/10508276/48722329-bf10e000-ebf1-11e8-9a3d-cf2b8c7af7c9.png)

Note this a production bug

[2018-11-19 16:56] tmazor opened #5281 "oncoprint - updates to tooltip for "profiled in...""
When a sample isn't profiled, let's explicitly say that -- the tooltip should look like the second screenshot, except that it will say "No" instead of "Yes"

![image](https://user-images.githubusercontent.com/10508276/48722438-06976c00-ebf2-11e8-899c-ad095401c371.png)

![image](https://user-images.githubusercontent.com/10508276/48722425-01d2b800-ebf2-11e8-924c-8c8ca035826e.png)

[2018-11-19 16:59] tmazor opened #5282 "link to study view from results view is missing"
Production:
![image](https://user-images.githubusercontent.com/10508276/48722633-7c033c80-ebf2-11e8-9b6b-acc2e47741ec.png)

Beta:
![image](https://user-images.githubusercontent.com/10508276/48722625-77d71f00-ebf2-11e8-86f4-066e8b05b4c1.png)

[2018-11-19 17:02] tmazor opened #5283 "SV: OQL error text"
The error text runs offscreen. Also, the second sentence doesn't make sense: there is no "Submit" button & the query button is un-clickable.

![image](https://user-images.githubusercontent.com/10508276/48722795-e61be180-ebf2-11e8-9da8-322a2c79cf2b.png)

[2018-11-19 17:16] tmazor opened #5284 "buttons in study view vs results view"
Both study view & results view have 3 buttons in the upper right corner of the screen, in the same style. The problem is that these 3 buttons are completely different from each other, and I worry that this will be confusing to users who get used to one set of buttons and then suddenly find a different set of buttons.

I don't have a proposed solution at the moment, but I wanted to raise this issue

[2018-11-19 17:40] ersinciftci commented on #5280
@tmazor @jjgao @alisman I remember bringing up this issue on slack, and @adamabeshouse said it's fixed as part of https://github.com/cBioPortal/cbioportal/issues/4976, but probably not deployed yet.

[2018-11-19 17:50] alisman commented on #5280
ok will verify that

[2018-11-19 17:54] ugurdogrusoz opened #5285 "Node inspector not working in Network view"
When you click on a node to show details (alteration values), you get nothing (it keeps saying "loading"):
<img width="1177" alt="screenshot 2018-11-19 at 20 48 16" src="https://user-images.githubusercontent.com/3874988/48725442-46377580-ec3d-11e8-99a0-fc6b8a1357aa.png">

[2018-11-19 17:56] schultzn commented on #5271
+1

[2018-11-19 17:59] adamabeshouse commented on #5280
thats correct

[2018-11-19 18:30] alisman commented on #5280
lets discuss at standup today whether we should deploy this sooner of cherry-pick

[2018-11-19 18:33] #5253 closed

[2018-11-19 18:33] alisman commented on #5211
@inodb can you verify and close?

[2018-11-19 18:34] #5175 closed

[2018-11-19 18:36] #4549 closed

[2018-11-19 18:37] #5211 closed

[2018-11-19 18:44] adamabeshouse commented on #5280
cherry pick wont be possible, the changes are more comprehensive

[2018-11-19 18:46] tmazor opened #5286 "weird barchart in genie"
GENIE beta portal has this plot:
![image](https://user-images.githubusercontent.com/10508276/48727888-77925000-ec01-11e8-8a21-046df374d1f4.png)

[2018-11-19 18:48] tmazor opened #5287 "console error for NGCHM"
Study view on beta consistently shows an error for NGCHM:
![image](https://user-images.githubusercontent.com/10508276/48727928-95f84b80-ec01-11e8-8340-71ad66357099.png)

This also happens for non-TCGA studies like MSK-IMPACT:
![image](https://user-images.githubusercontent.com/10508276/48727973-b0322980-ec01-11e8-9ef8-7ec422e552bb.png)

I thought we dropped these heatmaps? Why are we showing an err

[2018-11-19 18:53] onursumer commented on #5086
cBioPortal/cbioportal-frontend/pull/1713 should also fix this issue since we are now fetching the segment data for the whole genome.

[2018-11-19 18:53] onursumer commented on #4669
switched to the new API with https://github.com/cBioPortal/cbioportal-frontend/pull/1713

[2018-11-19 19:40] #3903 closed

[2018-11-19 20:28] alisman opened #5288 "custom tabs framework needs unmount callback"
Custom tab code sets up reactions on stores it consumes.  but it has no way of disposing those reactions.  needs a unmount callback to do so

[2018-11-19 21:30] zhx828 commented on #5270
@tmazor should we add for all places in study view, also in the mutated genes/cna genes tables?

[2018-11-19 21:30] #5271 closed

[2018-11-19 22:18] tmazor commented on #5270
yes that would be great @zhx828 !

[2018-11-20 02:37] zhx828 commented on #4833
@ChrisWakefield is the http no longer supported? The browser will redirect http call to https, but if you curl the link `http://bioinformatics.mdanderson.org/study2url?studyid=brca_tcga_pub`, it no longer returns any info.

[2018-11-20 02:40] zhx828 commented on #5287
I will fix the issue. @tmazor . We will remove the heatmap in the patient view, but would still support it in the study view.

[2018-11-20 02:58] schultzn opened #5289 "New study view: clean up language "with mutation data" vs "with mutations""
This should read: "With mutation data", and "with CNA data"

![image](https://user-images.githubusercontent.com/11892704/48748725-cfeb4100-ec45-11e8-8478-4266d2343045.png)

This should be "Samples with mutation data". What we try to say is "Only samples with mutation data" instead of "Samples with mutation data only". We can skip the word "only". Same goes for CNA data.

![image](https://user-imag

[2018-11-20 04:40] schultzn opened #5290 "New study view: Spacing in tables could be slightly better"
The spacing in tables used to be better... it looks like the font was just slightly smaller, which was more aesthetically pleasing. Also, the search box seems a little big now.

![image](https://user-images.githubusercontent.com/11892704/48751816-5ad33800-ec54-11e8-8341-6f292a091224.png)

[2018-11-20 05:43] zhx828 commented on #5284
@tmazor  we are planning to add a share button(v1.19.1), not sure this will affect anything.
<img width="1266" alt="screen shot 2018-11-20 at 12 39 31 am" src="https://user-images.githubusercontent.com/5400599/48753670-dd5ff580-ec5c-11e8-9799-4ac1a2a9c4da.png">

And potentially add all these buttons?(Maybe too many)
<img width="1256" alt="screen shot 2018-11-20 at 12 42 43 am" src="https://user-im

[2018-11-20 11:31] Sjoerd-van-Hagen commented on #4643
How was this introduced? It was not there before.

[2018-11-20 11:46] sandertan commented on #5026
This would be nice to have! Could you also assign fixed colors for other common used values? Such as:
- Positive/Negative (case insensitive)
- True/False (case insensitive)
- No data
- Unknown
- Other

I got most of these from querying BRCA TCGA (Prov) and adding all clinical data as tracks.

[2018-11-20 16:11] adamabeshouse commented on #5026
sure, just let me know what the colors should be. we already have True #66AA00 and False #666666

[2018-11-20 16:12] adamabeshouse commented on #4643
@Sjoerd-van-Hagen it's been there since some changes made to react-select-checked, since around August 14 :)

[2018-11-20 16:26] jjgao opened #5292 "[new study view] View Patients button goes to sample view instead of patient view"

[2018-11-20 16:30] zhx828 commented on #5270
@tmazor this is now updated. Please let me know if you want to make any adjustment http://www.cbioportal.org/beta/study?id=msk_impact_2017

[2018-11-20 16:30] #5261 closed

[2018-11-20 16:30] jjgao opened #5293 "[new study view] pie chart tooltip"
- [ ] you have to move *very* fast in order to move your mouse into the tooltip. (I guess this will be fixed if we use @alisman's design?)
- [ ] add some delay before we show the tooltip

[2018-11-20 16:34] zhx828 opened #5294 "Calculating data availability causes the page freeze"

[2018-11-20 16:34] zhx828 commented on #5286
@tmazor this is now fixed. But this bar chart does have some data in string that makes the tick too long. @ritikakundra maybe we need to fix the text? Or is it designed this way?  http://www.cbioportal.org/genie-beta/study?id=genie_private
![screen shot 2018-11-20 at 11 34 24 am](https://user-images.githubusercontent.com/5400599/48788162-3dd05080-ecb8-11e8-8157-b10b6ca95c74.png)

[2018-11-20 16:34] ChrisWakefield commented on #4833
@zhx828 http is now automatically redirected to https (at the router).  You'll see this if you add the -v option to curl.  Please also refer back to the Sep 28 message above (though that says it will send 301, and instead we see 302).

curl -v http://bioinformatics.mdanderson.org/study2url?studyid=brca_tcga_pub
*   Trying 143.111.2.220...
* TCP_NODELAY set
* Connected to bioinformatics.mdanderson.

[2018-11-20 16:35] zhx828 commented on #5277
@tmazor this is now updated, just wondering whether we also need some tooltips for the clinical table(after converting pie chart, also the table in the pie chart tooltip)

[2018-11-20 16:36] zhx828 commented on #5276
@tmazor this is fixed.

[2018-11-20 16:36] #5276 closed

[2018-11-20 16:36] zhx828 commented on #5289
@schultzn this is now updated.

[2018-11-20 16:37] zhx828 commented on #5275
@tmazor I tweaked the style a bit. They should look the same and center aligned now. http://www.cbioportal.org/beta/study?id=lgg_tcga

[2018-11-20 16:37] #5266 closed

[2018-11-20 16:38] zhx828 commented on #5015
@jjgao @ersinciftci @n1zea144 is this done?

[2018-11-20 16:38] zhx828 commented on #4826
@ersinciftci are you still working on this ticket? If no, should we move it to 1.19.x?

[2018-11-20 16:45] zhx828 commented on #4833
@ChrisWakefield awesome, we will just point all calls to https. Thanks for the information.

[2018-11-20 17:14] alisman commented on #5293
I can try to re-do that feature.  might not be too hard

[2018-11-20 17:15] Sjoerd-van-Hagen commented on #4643
@adamabeshouse right, it was recently brought to my attention then. We will have a look to see if it is an easy fix but we are really busy atm so it is hard to say when we will have time to fix it.

[2018-11-20 17:16] #5130 closed

[2018-11-20 17:21] jjgao commented on #4643
@Sjoerd-van-Hagen thanks for looking into this. It's a critical issue in production so my goal is to fix it ASAP. Please keep us posted.

[2018-11-20 17:58] ChrisWakefield commented on #4833
@zhx828 Thank you!
I remember this seemed to work in the rc branch even with http (redirected in the browser).  Are you now changing the mechanism?

[2018-11-20 18:22] #5026 closed

[2018-11-20 18:23] adamabeshouse opened #5296 "Oncoprint clinical attribute coloring"
From @sandertan 's comment https://github.com/cBioPortal/cbioportal/issues/5026#issuecomment-440245228

Also looping @jjgao in, to decide what the colors should be

[2018-11-20 19:16] tmazor commented on #5275
looks good!

[2018-11-20 19:16] #5275 closed

[2018-11-20 19:23] zhx828 commented on #4833
@ChrisWakefield No sure what changed, but since http/https portal instances can access https service, it's find to update to that.

[2018-11-20 19:32] tmazor commented on #5270
This looks great! The only other place I'm noticing is the legend on the mutations vs cna density plot - can you also add the comma there?
![image](https://user-images.githubusercontent.com/10508276/48797760-0e7a0d80-ecd1-11e8-8fe0-974f1898099f.png)

[2018-11-20 19:32] #5268 closed

[2018-11-20 20:16] zhx828 commented on #5278
@jjgao @schultzn @tmazor can we finalize the name?

[2018-11-20 20:17] zhx828 commented on #5273
@jjgao @schultzn any thoughts?

[2018-11-20 20:26] tmazor opened #5298 "compact oncoprint: tooltip text updates"
Let's change the tooltip text to say:
\# Samples per Patient
Number of queried samples for each patient.

![image](https://user-images.githubusercontent.com/10508276/48800672-754ef500-ecd8-11e8-8162-7805190f0337.png)

![image](https://user-images.githubusercontent.com/10508276/48800683-7b44d600-ecd8-11e8-9a23-ce36830d35e3.png)

[2018-11-20 20:34] tmazor opened #5299 "compact oncoprint: right side of header is missing on cancer types summary"
![image](https://user-images.githubusercontent.com/10508276/48801170-ae3b9980-ecd9-11e8-978b-ad943d3dacf3.png)

[2018-11-20 20:36] tmazor commented on #5299
Weird. It appears in this query:
![image](https://user-images.githubusercontent.com/10508276/48801331-0ffc0380-ecda-11e8-8a77-e03f004e6453.png)
http://cbioportal-frontend-pr-1667.herokuapp.com/results/cancerTypesSummary?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=lgg_ucsf_2014&case_set_id=lgg_ucsf_2014_sequenced&data_priority=0&gene_list=TP53%2520CIC%2520ATRX%252

[2018-11-20 20:49] tmazor opened #5300 "enrichments: confusing "no calculation" message"
The enrichments tab can't show a calculation if all samples are altered, or if no samples are altered. However, we need to show a different message in those 2 scenarios.

I ran a query with alterations in all samples, but got this message:
![image](https://user-images.githubusercontent.com/10508276/48801409-52254500-ecda-11e8-9c0e-86de966c1a2d.png)

The message should be "All queried samples are a

[2018-11-20 20:56] tmazor opened #5301 "compact oncoprint: left header for combined study is different than for single study"
1) The text on the first line is much bigger for the combined study
2) The genes included in the query aren't included for the combined study

![image](https://user-images.githubusercontent.com/10508276/48802267-bf39da00-ecdc-11e8-9724-cc89bceef826.png)

vs

![image](https://user-images.githubusercontent.com/10508276/48802275-c6f97e80-ecdc-11e8-944f-112c479543c6.png)

[2018-11-20 21:01] tmazor opened #5303 "compact oncoprint: formatting of right header"
The "queried genes are altered in..." line gets very long. What about splitting the text into 2 lines, e.g.:
Queried genes are altered in: 785 (71%) of queried patients
791 (72%) of queried samples
(but with the second line right justified under the patient numbers... I can't make github do this)

[2018-11-20 21:06] tmazor opened #5304 "compact oncoprint: add patients to header when #samples=#patients"
![image](https://user-images.githubusercontent.com/10508276/48802763-2c9a3a80-ecde-11e8-977b-460a1343f5d2.png)

Can the header be updated on both the left & right sides to say "samples/patients"?
I think it's clearer if we are explicit that those 2 numbers are the same.

[2018-11-20 21:17] tmazor commented on #5299
Oh never mind, I'm stupid. The bar plot with MSK-IMPACT is so wide that it goes off-screen, and takes the header with it.

I'm pretty sure I have already created an issue about this. So I'll close this one.

[2018-11-20 21:17] #5299 closed

[2018-11-20 21:19] tmazor commented on #5115
This also leads to the the header content extending off the page:
![image](https://user-images.githubusercontent.com/10508276/48803455-fb226e80-ecdf-11e8-8661-9666f23b44dc.png)

[2018-11-20 22:30] adamabeshouse commented on #5298
https://github.com/cBioPortal/cbioportal-frontend/pull/1667/commits/e7d6429cef23038fb2d42564119a8396a52e8d60

[2018-11-20 22:30] #5298 closed

[2018-11-20 22:36] adamabeshouse commented on #5304
https://github.com/cBioPortal/cbioportal-frontend/pull/1667/commits/b84db01bd3ece8a3e8e33cd51d98cf02d0557256

[2018-11-20 22:36] #5304 closed

[2018-11-20 22:45] adamabeshouse commented on #5301
https://github.com/cBioPortal/cbioportal-frontend/pull/1667/commits/b2e8e1d771d3ad197b5618fc48929f2345fbd0f4

[2018-11-20 22:45] #5301 closed

[2018-11-20 23:07] adamabeshouse commented on #5303
![image](https://user-images.githubusercontent.com/636232/48808500-0c26ac00-ecef-11e8-9ecb-7c18562e0ef8.png)

or

![image](https://user-images.githubusercontent.com/636232/48808510-15177d80-ecef-11e8-8e56-43ca8f90ca29.png)

?

[2018-11-20 23:08] adamabeshouse commented on #5303
https://github.com/cBioPortal/cbioportal-frontend/pull/1667/commits/0c134712d60e7627558f2027a3b539fdda6e6278

[2018-11-20 23:32] zhx828 opened #5307 "Switch all production heatmap link to https"
I updated the all beta portals.

[2018-11-21 13:17] sandertan opened #5308 "Gene "Not profiled in selected molecular profiles." only based on mutation profile"
In the following example, the study contains:
- mutation data that is sequenced on a panel
- discrete CNA data that is sequenced with whole exome seq

In the first screenshot:
- Of the 4 genes, only OR11H1 is on the panel
- Of the queried samples, only the first sample is in the gene panel matrix file.
- Both the mutation and discrete CNA profile are selected.
- The white boxes for BRCA2, TP53 and

[2018-11-21 15:04] sandertan opened #5309 "When does the "Profiled in" track appear in OncoPrint?"
The "Profiled in" track is a great addition to the OncoPrint to get a quick overview of the profiled samples in specific datatypes. I was wondering when this track appears. Is it depending on whether a subset of the samples is not profiled?

For example, this query showed me the "Profiled in" track for CNA but not for mutations.

<img width="711" alt="screenshot 2018-11-21 at 15 50 34" src="https:

[2018-11-21 15:59] jjgao commented on #5015
I have removed this from 1.19.0, but let's keep it open - there is still room to improve.

[2018-11-21 16:00] jjgao commented on #5293
@alisman that'd be great! Thanks

[2018-11-21 16:03] jjgao commented on #4826
These two tables, esp CNA table, are still slow comparing to other charts. It'd be great if we can further improve them.

[2018-11-21 16:05] jjgao commented on #5296
coping @sandertan's comments here:

This would be nice to have! Could you also assign fixed colors for other common used values? Such as:
- Positive/Negative (case insensitive)
- True/False (case insensitive)
- No data
- Unknown
- Other

I got most of these from querying BRCA TCGA (Prov) and adding all clinical data as tracks.

[2018-11-21 16:09] jjgao commented on #5296
We should have some color util code to handle colors the same way for everywhere, e.g. oncoprint and study view.

Can we list the special values we have assigned or plan to assign colors?

- Yes vs No
- True #66AA00 and False #666666
- No data, Unknown, NA, N/A should have the same color
- ...

[2018-11-21 16:16] jjgao commented on #5278
I like `% samples with data`.

[2018-11-21 16:17] #5183 closed

[2018-11-21 16:17] #5108 closed

[2018-11-21 16:18] alisman commented on #5060
@zhx828 this is a database issue?  is it being dealt with? can we close?

[2018-11-21 16:19] alisman commented on #4610
@jjgao shall we close this ticket and open a new one for data download?  can you prioritize that?

[2018-11-21 16:21] zhx828 commented on #5060
@alisman This is a data issue, but should still be handled in the frontend. If the sample does not have tumor type, then the query should use the study tumor type unless it is a mixed. I think Gaofei is working on this ticket? We discussed about this ticket last week.

[2018-11-21 16:21] zhx828 commented on #5060
ccing @dippindots

[2018-11-21 16:21] #4873 closed

[2018-11-21 16:21] jjgao opened #5310 "[new sv]: Add chart dialog improvement"
- [x] sort by data availibility by default
- [x] move search box to bottom left
- [x] chang buttons to `Add all` and `Remove all` and only apply to the filtered attributes
- [x] can we make the table rows more compact and show more rows (20) by default?
- [x] highlight the chart after added

@cBioPortal/product: anything else?

![image](https://user-images.githubusercontent.com/840895/48854114-100

[2018-11-21 16:22] jjgao commented on #5273
@zhx828 I agree with @tmazor.

[2018-11-21 16:30] zhx828 commented on #5310
@jjgao also highlight the chart after added?

[2018-11-21 16:31] jjgao commented on #5267
@inodb I remember we had a checksum in the json. Maybe we can use that to query. If we worry about checksum collision, we can then compare the json once it's loaded out.

[2018-11-21 16:33] zhx828 opened #5311 "SV: Seems the gene frequency is not really matched with the current production"

[2018-11-21 16:35] sandertan commented on #5296
It would be nice if True/Yes/Positive all are the same color and the same goes for False/No/Negative.

Also
- DiseaseFree vs Recurred/Progressed
- WITH TUMOR vs TUMOR FREE
- Male vs Female

could be added to those sets.

[2018-11-21 16:50] jjgao commented on #5308
@sandertan as discussed, it'd be good if you can find examples on the public portal.

[2018-11-21 16:54] jjgao commented on #5309
Good idea to enable the option to select/deselect them just like other attributes.

[2018-11-21 17:03] zhx828 opened #5312 "Update the current study view screenshot tests, 1.19.0 e2e is failing"

[2018-11-21 17:17] jjgao commented on #5210
@adamabeshouse @alisman The status bar in OncoPrint looks great! Can we generalize it and put it in all tabs?

- [ ] change "Loading genomic data" to "Loading data" (since we use the same message when we have clinical data too)
- [ ] adding one more line before "Loading data": "Querying xxx samples for xx genes"
- [ ] When the query is big (e.g. #genes x #samples > 10k), show something like (above

[2018-11-21 17:19] zhx828 commented on #4826
@ersinciftci @jjgao i possible, could we do in 1.19.0? The current production is faster in msk_impact_2017

Current production: http://www.cbioportal.org/study?id=msk_impact_2017
mutations.json(loading 570 genes): 2.11s + gene panel:3s
cna.json(loading 784 gene-alteration): 2.27s + gene panel:3s

Beta study view: http://www.cbioportal.org/beta/study?id=msk_impact_2017
mutated-genes(loading 1168 ge

[2018-11-21 17:20] #5294 closed

[2018-11-21 17:21] #5292 closed

[2018-11-21 17:21] #5290 closed

[2018-11-21 17:21] zhx828 commented on #5290
@schultzn this is now updated

[2018-11-21 17:22] #5277 closed

[2018-11-21 17:22] #5274 closed

[2018-11-21 17:22] #5272 closed

[2018-11-21 17:22] zhx828 commented on #5272
@tmazor this is now fixed.

[2018-11-21 17:23] zhx828 commented on #5270
@tmazor all done

[2018-11-21 17:23] #5270 closed

[2018-11-21 17:23] jjgao opened #5313 "always add tab name in url"
When a query is submitted, the url is `http://www.cbioportal.org/results?`, which can go to either `OncoPrint` tab or `Caner Types Summary` (when querying one gene in multiple studies.).

Let's always use the full URL, ie. `results/oncoprint?` or `results/cancerTypesSummary?` when a query is submitted. This way, the tabs can be properly tracked.

[2018-11-21 17:23] zhx828 commented on #5269
@sandertan this is now fixed.

[2018-11-21 17:23] #5269 closed

[2018-11-21 17:50] sandertan commented on #4391
Thanks for the fix!

[2018-11-21 17:50] #4391 closed

[2018-11-21 18:04] adamabeshouse commented on #5309
@jjgao this is a possibility, its just that the track doesnt exist at all unless at least one sample is not profiled

[2018-11-21 18:07] jjgao commented on #5310
@zhx828 updated.

[2018-11-21 18:08] adamabeshouse commented on #5210
What about "Loading genomic and clinical data"? I think its more satisfying to see more specifically what's happening.

I don't get the difference between Loading data and Querying

[2018-11-21 18:09] ersinciftci commented on #4826
@jjgao @zhx828 For genie http://www.cbioportal.org/genie-beta/study?id=genie_private they both take 3 seconds, and there are 1397 mutated genes and 1433 CNA genes for around 60.000 samples. So it feels like there might be something else going on, maybe some memory related problems with the beta server? or MySQL cache size or something?

[2018-11-21 18:16] jjgao opened #5314 "add data download option to all charts"
Is it possible to have a generic solution to just convert the json underlying the chart to tsv? e.g. codebeautify.org/json-to-tsv-converter

- [x] oncoprint
- [ ] cancer type summary
- [ ] mutations
- [ ] plots
- [ ] expression
- [ ] co-expression
- [ ] enrichments
- [ ] survival
- [ ] timeline in patient view
- [ ] study view charts (as part of refactoring effort)

related: #5246

[2018-11-21 18:17] schultzn opened #5315 "Compact OncoPrint: Show unaltered columns not working correctly"
Many columns are hidden, but not all, for some reason.

http://cbioportal-frontend-pr-1667.herokuapp.com/results?Z_SCORE_THRESHOLD=2.0&RPPA_SCORE_THRESHOLD=2.0&data_priority=0&case_set_id=msk_impact_2017_cnaseq&gene_list=BRAF%253A%2520V600%250AKRAS%250AEGFR&geneset_list=%20&tab_index=tab_visualize&Action=Submit&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=msk_impact_2017_mutations&genetic_profile

[2018-11-21 18:17] jjgao commented on #4610
data download logged here: https://github.com/cBioPortal/cbioportal/issues/5314

[2018-11-21 18:17] #4610 closed

[2018-11-21 18:18] ersinciftci commented on #4826
And I remember that for msk_impact_2017 on beta, before we did any performance improvements, cna-genes used to take around 13 seconds. So 20 seconds doesn't make any sense. And I found this conversation on slack from 2 months ago :)
[code]

[2018-11-21 18:20] schultzn commented on #5210
+1 on loading genomic and clinical data

The idea about the “querying” line is to indicate to the user how large the query is (number of samples x number of genes). We would like to to use this to give the user an idea of how long it could take.

We could have:

Querying 3 genes in 27 samples - this should be quick
Querying 30 genes in 2700 samples - this might take a minute
And so forth … not sur

[2018-11-21 18:23] jjgao commented on #4826
It might be b/c of caching that genie is loaded fast. (we use caching on private portals but not on public portal.)

It is strange that the current production is much faster than beta. We should improve it before release.

[2018-11-21 18:36] jjgao commented on #4826
@ersinciftci it wasn't turned off for genie-beta in the configuration. I think the cache is on. Is that right, @zhx828 @inodb?

[2018-11-21 18:37] adamabeshouse commented on #5210
Oh i see, so it's like an info message, it's not a loading item like the others.

[2018-11-21 18:38] jjgao commented on #4826
And for public portal production and beta, they are both not cached, but the performance of the two tables are different. So in any case, we should improve that.

[2018-11-21 18:43] jjgao commented on #5086
@onursumer we should fetch only the necessary chromosomes as discussed.

[2018-11-21 18:49] jjgao commented on #5309
@adamabeshouse but in [this query](http://www.cbioportal.org/results?session_id=5bf5a859e4b0627334119046), I cannot turn them back on if I remove them...

I guess it's b/c of the 0%, but the 0% is wrong.

![image](https://user-images.githubusercontent.com/840895/48862363-28305900-ed94-11e8-848e-c5c7322cbdbc.png)

[2018-11-21 18:51] adamabeshouse commented on #5309
ah okay

[2018-11-21 18:53] adamabeshouse commented on #5315
not sure why but I can't reproduce this in your link

[2018-11-21 18:54] jjgao commented on #5315
@schultzn I cannot reproduce it either... strange.

[2018-11-21 18:54] onursumer commented on #5086
@jjgao in that case built-in igv browser search functionality won't load additional data for other chromosomes. We will need to somehow detect the search event within the igv browser and load the data for every new search.

Or maybe we start downloading the whole genome data as soon as the page loads, and the search will be fully functional when the whole genome data finish loading.

[2018-11-21 18:56] jjgao commented on #5210
@adamabeshouse that's right.

[2018-11-21 19:02] #3670 closed

[2018-11-21 19:04] jjgao commented on #5285
@ugurdogrusoz I think we should do a proper isolation of the network tab from the code base and maybe make it more like a library (similar to oncoprint.js). Do you think you would have resource to do that?

[2018-11-21 19:05] jjgao commented on #5086
@onursumer maybe we can discuss with Jim and see what's the best option here. Not a priority. Let's do this later.

[2018-11-21 19:07] jjgao commented on #5315
@alisman cannot reproduce it either.

@schultzn can you see this error in production as well?

[2018-11-21 19:08] ersinciftci commented on #4826
@jjgao I just checked what is done differently, as far as I can see the biggest difference is the old API caches all the samples and patients in the systems in a Map, so stable_id -> internal_id conversion doesn't happen in the SQL, they convert it before sending to DB, so the SQL is a bit simpler. So I will try that and see.

And as for caching on `genie-beta`, we did most of the performance test

[2018-11-21 19:17] jjgao commented on #4826
@ersinciftci I remember that too, but maybe it was fast on `gene-beta`.

@n1zea144 and I would like to do a redis-based caching (not in memory). Once we have that, we can turn caching back on.

[2018-11-21 19:17] jjgao commented on #4826
@ersinciftci do you have an example sql?

[2018-11-21 19:30] zhx828 commented on #5310
After discussing with JJ, we also want to use the fixed header table instead. So the Add All/Remove all buttons will be shown at the bottom right corner and the search will be shown as the bottom left corner. The same as Mutated Genes Table.

[2018-11-21 19:39] ersinciftci commented on #4826
@jjgao They still have some mybatis syntax but basically:
The new API
[code]
The old API
[code]

[2018-11-21 19:57] jjgao commented on #4826
thanks @ersinciftci

[2018-11-22 04:00] ugurdogrusoz commented on #5285
@jjgao this sounds like a good idea. I am not sure about the work involved for this but we don't have any resources at the moment unless it is more or less trivial. Might have some in the Spring though. @onursumer can you comment on the amount of work needed for this?

[2018-11-22 10:43] rnugraha commented on #4643
I will look into it. It's a very strange bug.

[2018-11-22 14:43] rnugraha commented on #4643
Hi all.

I just released new version of [react-select-checked](https://github.com/thehyve/react-select-checked). This issue should be fixed in the latest version of react-select-checked (v.0.1.11). Could you upgrade your dependencies and let us know for any further issues.

User should be able to filter disabled options now.

![schermafbeelding 2018-11-22 om 15 33 39](https://user-images.githubuse

[2018-11-23 10:02] sandertan opened #5320 "Tooltip too small for profile description"
The profile description contains a very long word, perhaps that's causing issues with the box size.

<img width="951" alt="screenshot 2018-11-23 at 10 53 46" src="https://user-images.githubusercontent.com/9624990/48937632-0a3b3380-ef0f-11e8-88ba-871c76e79dab.png">

[2018-11-23 11:41] rnugraha commented on #4643
@adamabeshouse @jjgao  I added one use case, for disabled options. Please use v0.1.12 instead.

![schermafbeelding 2018-11-23 om 12 37 17](https://user-images.githubusercontent.com/2835281/48941743-129a6b00-ef1d-11e8-88bb-7fa8d4f3a4eb.png)

[2018-11-26 15:56] dippindots commented on #5047
@jjgao Should we keep the NaN rows at the bottom all the times? Or do we want to place them at the top when we are sorting from low to high?

[2018-11-26 16:09] alisman commented on #5257
@jjgao
In coexpression tab, the Profile dropdown is now "sticky."   As is the show mutations checkbox.  Stays the same as you switch genes.  But the correlation chooser is not.  Is this desirable?

http://cbioportal-frontend-pr-1747.herokuapp.com/results/coexpression?Z_SCORE_THRESHOLD=2.0&cancer_study_id=coadread_tcga_pub&cancer_study_list=coadread_tcga_pub&case_ids=&case_set_id=coadread_tcga_pub_

[2018-11-26 18:29] adamabeshouse commented on #4643
thanks @rnugraha it seems to be working great

[2018-11-26 18:31] inodb commented on #5267
@jjgao 	there is a unique constraint on source,type and checksum so querying by those now: https://github.com/cBioPortal/session-service/pull/18

[2018-11-26 18:34] jjgao commented on #5285
@ugurdogrusoz thanks. It's not urgent.

[2018-11-26 18:38] jjgao commented on #5047
@dippindots good question. Maybe place them at the bottom all the time.

[2018-11-26 18:44] jjgao commented on #5257
@alisman yes, that's desirable.

[2018-11-26 18:51] adamabeshouse commented on #5227
seems like the error is not fixed

[2018-11-26 18:54] #5267 closed

[2018-11-26 18:58] adamabeshouse commented on #5315
seems like maybe the issue is just that it was taking a very long time, maybe even errored out. in any case, I just made a fix that hopefully should reduce this issue. https://github.com/cBioPortal/cbioportal-frontend/pull/1753

[2018-11-26 18:59] adamabeshouse commented on #5136
ill start with this one https://github.com/cBioPortal/cbioportal/issues/5137 bc it will establish a lot of the related code while avoiding the issue of defining drivers, so we can have some time to talk about that

[2018-11-26 19:03] #4802 closed

[2018-11-26 19:48] ersinciftci commented on #3955
Seems like https://github.com/cBioPortal/cbioportal/pull/5322 solved this, http://www.cbioportal.org/beta/study?id=msk_impact_2017 both mutated and cna genes take around 2 seconds for single study queries and http://www.cbioportal.org/beta/study?id=acc_tcga%2Cmsk_impact_2017 around 5 seconds for multi-study. So closing the ticket.

[2018-11-26 19:48] #3955 closed

[2018-11-26 19:48] #4803 closed

[2018-11-26 19:51] ersinciftci commented on #4826
Fixed by https://github.com/cBioPortal/cbioportal/pull/5322

[2018-11-26 19:52] #4826 closed

[2018-11-26 20:44] jjgao opened #5324 "ESR1-intragenic is annotated as oncogenic"
We should not link intregenic SVs to fusion annotations. Linking them to deletion is probably appropriate.

https://cbioportal.mskcc.org/patient?studyId=mskimpact&sampleId=P-0035290-T01-IM6

![image](https://user-images.githubusercontent.com/840895/49041022-197de380-f192-11e8-8576-d40bd5ee5cf8.png)

http://oncokb.org/#/gene/ESR1/alteration/Fusions

[2018-11-26 20:48] ersinciftci commented on #5311
For Mutated and CNA Genes tables? They look same to me.

[2018-11-26 20:49] #4818 closed

[2018-11-26 20:49] #4839 closed

[2018-11-26 20:50] #4926 closed

[2018-11-26 20:50] #3000 closed

[2018-11-26 20:50] #5082 closed

[2018-11-26 20:51] #5020 closed

[2018-11-26 20:51] #4987 closed

[2018-11-26 20:51] ersinciftci commented on #5311
Nevermind, CNA Genes look different for `acc_tcga`. Mutated genes look same though, and both mutated and cna genes look same for `msk_impact_2017`. I'll look into it, since it comes from the API.

[2018-11-26 20:51] #4862 closed

[2018-11-26 20:52] #4954 closed

[2018-11-26 20:52] #4858 closed

[2018-11-26 20:53] #4834 closed

[2018-11-26 20:53] #4860 closed

[2018-11-26 20:53] #4748 closed

[2018-11-26 20:53] #4749 closed

[2018-11-26 20:54] #4747 closed

[2018-11-26 20:54] #4785 closed

[2018-11-26 21:06] rnugraha commented on #4643
Good to hear @adamabeshouse. Could you pls close this issue if you think everything is as expected? Cheers.

[2018-11-26 21:41] #3667 closed

[2018-11-26 21:41] inodb opened #5325 "4x errors in session-service logs"
There are several 4x errors showing up in session service, figure out where they are coming from.

https://snapshot.raintank.io/dashboard/snapshot/cCTUZdDT70Q5182s520A8SXHbko4j8is?refresh=5s&orgId=2

Example query:

http://www.cbioportal.org/results/cancerTypesSummary?session_id=5bd240d0498eb8b3d5688318

[2018-11-26 21:41] #4081 closed

[2018-11-26 21:43] #3672 closed

[2018-11-26 21:59] adamabeshouse commented on #4643
yes, I will when the PR is closed :+1:

[2018-11-26 23:13] #4643 closed

[2018-11-26 23:56] #5126 closed

[2018-11-27 00:37] inodb commented on #5208
seems to only be in dashi2 - i think this might have been created during the move to aws. Unfortunately we don't store when a session is created. But this seems to be the case. @jjgao ok to close? Or do you want to more systematically move over all sessions that were created during the move?

[2018-11-27 00:38] inodb commented on #3325
basic auth has been added and we are using this on AWS

[2018-11-27 00:38] #3325 closed

[2018-11-27 09:05] pieterlukasse opened #5326 "No readiness/liveness probe endpoints available when authentication is turned on"
When authentication is turned on, there are no readiness/ liveness probe endpoints available.

Desired solution:
- add specific webservice that is always open
or
- open up `api/info` (e.g. http://www.cbioportal.org/api/info) in `security/security-spring/src/main/resources/applicationContext-security.xml`

[2018-11-27 09:41] abessifi commented on #5326
Something like `http://www.cbioportal.org/healthz` would be great too.

[2018-11-27 13:25] pieterlukasse opened #5327 "Network tab download options result in NullPointerException if opened in separate browser tab"
Steps to reproduce:
1. go to http://www.cbioportal.org/results/network?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=brca_metabric&case_set_id=brca_metabric_cnaseq&data_priority=0&gene_list=ROR1%250ASORT1%250AFMOD&geneset_list=%20&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=brca_metabric_cna&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=brca_metabric_mutatio

[2018-11-27 15:11] ersinciftci commented on #5311
Found out why, because in the new study view, we show all the genes in CNA table, not only the cancer genes, so it looks different, but it's not actually. Closing the issue.

[2018-11-27 15:11] #5311 closed

[2018-11-27 15:14] #5208 closed

[2018-11-27 15:18] jjgao commented on #5327
@pieterlukasse there is not an easy solution to fix this. Please click the link directly to download.

@alisman maybe we can make the two links into buttons so that right click is disabled?

[2018-11-27 16:36] inodb opened #5328 "Display missing study ids in session on results page"
- [ ] When querying an old session that includes missing studies e.g.

    http://www.cbioportal.org/results/cancerTypesSummary?session_id=5bd240d0498eb8b3d5688318

    It should show some warning which study ids are missing.

- [ ] If the session only includes missing studies another message should appear and probably none of the tabs should be initialized

- [ ] ResultsViewPageStoreUtils and Res

[2018-11-27 18:07] tmazor opened #5331 "SV: filtering by some charts doesn't populate the filter bar at the top"
Filtering from either "# of Samples Per Patient" or "Cancer Studies" chart leads to the filter being applied, but the status bar at the top doesn't list it:

![image](https://user-images.githubusercontent.com/10508276/49101784-0aa43900-f245-11e8-9092-d09d5d6d9c67.png)

![image](https://user-images.githubusercontent.com/10508276/49101931-6c64a300-f245-11e8-8132-a2334d1af0ba.png)

[2018-11-27 18:12] tmazor opened #5332 "SV: changes to which charts appear by default?"
On new study view for MSK-IMPACT, the survival chart doesn't appear by default.

We now are always showing the "Cancer Studies" chart, which is not meaningful when looking at a single study.

Are there reasons for these changes?

[2018-11-27 18:19] inodb commented on #5214
Seems to be a known issue with the docs parser: https://github.com/rtfd/recommonmark/issues/8 . Looks like someone wrote a hacky fix, might be worth trying.

[2018-11-27 18:30] tmazor opened #5333 "SV: update text when filtering from barcharts"
![image](https://user-images.githubusercontent.com/10508276/49103055-602e1500-f248-11e8-950c-8dfdb0e01aeb.png)

When I filter from a barchart, e.g. Diagnosis Age, the label at the top says "20 < ~ < 60". This is confusing. I find the tilde very confusing, since that generally refers to an approximate, and should be replaced by "x". Or, even better, let's use the same text as when filtering on the

[2018-11-27 18:36] ersinciftci commented on #5331
Duplicate of https://github.com/cBioPortal/cbioportal/issues/5265

[2018-11-27 18:41] tmazor opened #5334 "SV: survival chart NA toggle doesn't do anything"
On production, un-checking the "NA" flag in the survival charts changes the chart. On beta, it does nothing.

Below I have taken the lgg_tcga study and filtered to ethnicity = not hispanic or latino. On production, you can see a clear difference in the disease free survival plot when I uncheck the box. On beta, there is no difference - both plots look like the second production screenshot.

Produc

[2018-11-27 18:44] tmazor opened #5335 "SV: survival chart NA toggle should only be present when relevant"
Currently the "exclude patients with NA" toggle is always present in the tooltip for the survival chart. However, this is confusing when (1) no filter is applied or (2) a filter is applied that doesn't have any NA values - in both scenarios, that toggle does nothing.

Can we update the tooltip to only show the NA toggle when it is relevant - ie when a filter has been applied for which some samples

[2018-11-27 18:57] tmazor opened #5336 "query from new study view leads to error in results view header"
Below are screenshots of the header of results view when running a query from study view.

The missing number of samples I presume will be fixed when compact oncoprint gets included in beta. But the name of the study is also missing, and I'm not sure if that one is related or not.

Query in all samples:
![image](https://user-images.githubusercontent.com/10508276/49104117-332f3180-f24b-11e8-8d3b-4d

[2018-11-27 19:30] ersinciftci commented on #5335
Or we can disable it with an explanatory tooltip instead of hiding it.

[2018-11-27 19:41] ersinciftci commented on #5335
I just realized that it would mean a tooltip in a tooltip, so maybe we can just disable without a tooltip :)

[2018-11-27 20:23] adamabeshouse commented on #5336
I'll merge master to rc and see if that fixes it

[2018-11-27 20:36] #4030 closed

[2018-11-27 20:44] alisman commented on #4570
@ersinciftci what's status of this?

[2018-11-27 20:54] #5115 closed

[2018-11-27 21:17] #5315 closed

[2018-11-27 21:56] adamabeshouse commented on #5336
yes, it does

[2018-11-27 21:56] #5336 closed

[2018-11-27 22:00] #5309 closed

[2018-11-27 22:00] #4976 closed

[2018-11-27 22:01] #4456 closed

[2018-11-27 22:02] #4588 closed

[2018-11-27 22:02] #3048 closed

[2018-11-27 22:03] adamabeshouse commented on #5114
@tmazor can we close this? have you seen this issue recently?

[2018-11-27 22:03] #5209 closed

[2018-11-27 22:04] #5150 closed

[2018-11-27 22:04] #5151 closed

[2018-11-27 22:05] #5113 closed

[2018-11-27 22:07] #2779 closed

[2018-11-27 22:08] #4399 closed

[2018-11-28 02:43] jjgao opened #5338 "support multiple filters in Mutations tab"
Currently if one select Missense mutations first and then search in the table, the Missense mutations filter will not be applied.

[2018-11-28 03:00] jjgao commented on #5332
We decided not to show survival chart for pancan studies (similiar to genie).

We should not show `Cancer Studies` chart when there is only one study -- we should apply the same rule that hide a chart if there is only one value.

[2018-11-28 03:04] jjgao commented on #5333
I like the idea to use `20 < Diagnosis Age < 60`.

For Mutation Count vs FGA, is it possible to split it into two filters, i.e. `7 < Mutation Count < 71` and `0.06 < FGA < 0.38`? @zhx828

[2018-11-28 03:09] jjgao commented on #5265
closing this as it's duplicated with #5331 and #5331 is more clear.

[2018-11-28 03:09] #5265 closed

[2018-11-28 03:14] jjgao commented on #4976
@schultzn we are now always showing the oncoprint menu as it's not so neat or useful to hide it and leave a blank space. Please comment if you'd like to hide it.

[2018-11-28 03:20] jjgao commented on #5313
@alisman could you prioritize this one as this will give us more accurate tracking. Maybe @dippindots can help?

[2018-11-28 04:08] tmazor commented on #5114
No, I haven't seen this since reporting it. I think we can close this.

[2018-11-28 04:08] #5114 closed

[2018-11-28 04:10] tmazor commented on #5332
Oh not showing survival for pancan studies makes lots of sense - I like that change :)

Yes, let's hide the "Cancer Studies" chart when there is only one study.

[2018-11-28 13:43] schultzn commented on #4976
Yes, looks good.

[2018-11-28 16:15] alisman commented on #5116
@jjgao does this still happen in new study view?

[2018-11-28 16:49] pieterlukasse commented on #5327
related to https://github.com/cBioPortal/cbioportal/issues/5130?

[2018-11-28 16:58] alisman opened #5339 "Write a preliminary test for new study view"
Create a new spec modeled on screenshot.spec.js and write two tests:
1. opens page and takes screenshot once all charts are loaded.  You can use "waitForNetworkQuiet" method to wait for all ajax to finish before taking screenshot
2. Click clinical data tab and then take a screenshot of the page with that tab open

[2018-11-28 17:11] ritikakundra opened #5340 "Timeline download option generates a covered scale on PDF version"
A black bar covers the scale of the PDF version if we extend the timeline
http://www.cbioportal.org/patient?studyId=lgg_ucsf_2014&caseId=P26

[2018-11-28 17:11] ritikakundra commented on #5340
[timeline (5).pdf](https://github.com/cBioPortal/cbioportal/files/2625898/timeline.5.pdf)

[2018-11-28 18:50] jjgao commented on #5116
I don't think so. Closing now.

[2018-11-28 18:50] #5116 closed

[2018-11-28 18:51] jjgao commented on #5327
@pieterlukasse yes, the same problem.

[2018-11-28 21:27] schultzn opened #5342 "Mutation count sorting in Mutations tab not working properly"
Sorting seems to be alphabetic instead of numerical.

http://bit.ly/2AufhRR

![image](https://user-images.githubusercontent.com/11892704/49183262-714f5280-f32a-11e8-9759-befb1d4ffe72.png)

[2018-11-28 21:30] schultzn commented on #5342
See the last column in the screenshot above

[2018-11-28 22:33] jjgao commented on #1527
@adamabeshouse

(1) I think it'd be nice to show in different style. Could you make a screenshot with the same font and we can decide whether that looks fine.

(2) good idea.

[2018-11-29 03:00] schultzn commented on #1527
I agree with JJ.

[2018-11-29 13:13] fedde-s commented on #4862
For reference: from what I can find, the bookmark tab has been replaced by [sharing widgets](https://github.com/cBioPortal/cbioportal/issues/3000) in the top-right corner of the results page for 1.18, even if there are no references to the pull request in which those were built and reviewed. I presume that hiding them when not available was taken into account when building them.

[2018-11-29 14:48] jjgao opened #5346 "Coexp tab: pvalue in table and figure are different"
http://www.cbioportal.org/results/coexpression?session_id=5ba11ce6498eb8b3d567e7ed

![image](https://user-images.githubusercontent.com/840895/49229524-b5d6fe80-f3bb-11e8-98c5-d7a86ad76984.png)

[reported by user](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/ouK7YzawUek/becrUY8TCwAJ)

[2018-11-29 14:49] sandertan opened #5347 "Alternative Patient / Sample name functionality"
@jjgao I was wondering whether PATIENT_DISPLAY_NAME  and SAMPLE_DISPLAY_NAME functionality is working as expected. I assumed they have specific functionality such as alternative naming in the front-end. But currently using PATIENT_DISPLAY_NAME and SAMPLE_DISPLAY_NAME in clinical data does not show any specific functionality.

Current documentation:
SAMPLE_DISPLAY_NAME: displayed in addition to the

[2018-11-29 17:55] ersinciftci commented on #5346
Compared with https://www.wessa.net/rwasp_spearman.wasp, for the example values in that website, frontend produces `0.28`, backend produces the same value with the web tool, `0.044`, so it seems like frontend is calculating the pValue wrong in both Plots and Co-Expressions.

[2018-11-29 20:08] #4949 closed

[2018-11-29 20:09] #5162 closed

[2018-11-29 20:30] #3153 closed

[2018-11-29 20:31] alisman commented on #5227
@adamabeshouse i also see this issue when network goes down in the middle of requests.  again, not an actual bug.  i think can close this

[2018-11-29 20:31] #5227 closed

[2018-11-29 20:32] #5228 closed

[2018-11-29 20:43] jjgao commented on #5347
Actually, I am not sure. @ritikakundra @n1zea144 are you aware of PATIENT_DISPLAY_NAME and SAMPLE_DISPLAY_NAME?

[2018-11-29 21:19] inodb commented on #5347
@sandertan 	looks like a bug: https://github.com/cBioPortal/cbioportal-frontend/blob/ad8769543e3642f3d15715305d47b7924043c146/src/pages/patientView/patientHeader/style/clinicalAttributes.scss#L57-L61. There's no `display: inline` on those attributes.

[2018-11-29 21:38] onursumer opened #5348 "MSKTab unmountOnHide prop should have priority over parent prop"
`unmountOnHide` property of `MSKTab` (child) component should always have priority over `unmountOnHide` property of `MSKTabs` (parent).

Changing this line

https://github.com/cBioPortal/cbioportal-frontend/blob/d635d95a416725a98f1ef1f628fe2c29a55ea88f/src/shared/components/MSKTabs/MSKTabs.tsx#L204

to this

[code]

should fix it.

[2018-11-29 22:00] #5346 closed

[2018-11-29 22:01] adamabeshouse commented on #5346
https://github.com/cBioPortal/cbioportal-frontend/pull/1769

[2018-11-30 13:10] jjgao commented on #5346
Discussion on Slack.

JJ Gao [9:50 AM]
@ersin do you know the p-value in the figure was generated in frotnend or backend?

Ersin Ciftci [9:53 AM]
@jj not sure, but how come the figure still has Pearson? the API doesn't return it anymore

JJ Gao [9:55 AM]
I think the same component as in Plots tab is being used and both Pearson and Spearman are included there.

Ersin Ciftci [10:05 AM]
@jj yeah as f

[2018-11-30 15:01] jjgao opened #5349 "New SV: CNA Genes table issues"
- [ ] Search for Cytoband does not work
- [ ] Gistic is specific to AMP or DEL. In the [example](http://www.cbioportal.org/beta/study?id=brca_tcga) below we should have the gistic icon on AMP only.
![image](https://user-images.githubusercontent.com/840895/49296603-c30cef80-f486-11e8-9fea-3a9e479b76a5.png)

[2018-11-30 18:29] onursumer commented on #4411
New version of igv supports whole genome view, so cBioPortal/cbioportal-frontend/pull/1713 also fixes this issue

[2018-11-30 19:51] #5348 closed

[2018-11-30 20:08] ersinciftci commented on #5349
https://github.com/cBioPortal/cbioportal/pull/5350 should fix the second item.

[2018-12-03 17:48] jjgao opened #5355 "use full screen for lollipop diagram"
now that we are using full screen for the result page, let make the lollipop diagram wider / responsive.

[2018-12-03 18:57] tmazor opened #5356 "gene panel API returns "API not implemented yet""
Using the swagger page to test:
/molecular-profiles/{molecularProfileId}/gene-panel-data/fetch

I get "Requested API is not implemented yet":
![image](https://user-images.githubusercontent.com/10508276/49395007-52bed200-f703-11e8-93b2-458a2c74bc04.png)

[2018-12-03 19:00] zhx828 opened #5357 "Patient view needs to handle scenario that when sample is not available"
When the sample is not available, the page should give some messages instead of currently showing loading bar
http://www.cbioportal.org/patient?sampleId=P-0035148-T01-IM6&studyId=msk_impact_2017

[2018-12-03 19:51] zhx828 opened #5358 "Use ProgressIndicator when initialize study view"

[2018-12-03 22:41] tmazor opened #5360 "OQL page internal links don't work"
None of the links within the OQL page work anymore -- for example, http://www.cbioportal.org/oql#mutations doesn't jump to the Mutations section

[2018-12-03 22:46] tmazor opened #5361 "make OQL link more obvious (and less scary)"
When I run training sessions I always demo OQL, and I frequently hear from existing users that they had no idea OQL existed and that they are super excited to use it going forward.

One thing that I think would help is to change the text for the link -- calling it "Advanced" may scare people away from clicking on it. How about calling the link "Refine your query with OQL"? Or something along those

[2018-12-03 22:49] tmazor opened #5362 "OQL syntax error doesn't move the cursor"
If I submit this:
![image](https://user-images.githubusercontent.com/10508276/49406491-bfe25f80-f723-11e8-9d1f-a5ba005899d2.png)

The cursor just appears at the beginning of the text box - it doesn't move to the location of the syntax error:
![image](https://user-images.githubusercontent.com/10508276/49406526-ccff4e80-f723-11e8-9b0c-e9fda677d86d.png)

[2018-12-03 22:53] jjgao opened #5364 "Move the add button above the footer"
![image](https://user-images.githubusercontent.com/840895/49406679-40a15b80-f724-11e8-8886-2cecefce0629.png)

[2018-12-03 22:55] jjgao opened #5365 "remove the add button in Clinical Data tab"
or is it intended?

![image](https://user-images.githubusercontent.com/840895/49406736-6b8baf80-f724-11e8-8be6-d90b959f14aa.png)

[2018-12-03 22:57] jjgao opened #5366 "search attributes and add all"
We need a way to search attributes and add all matching attributes in Clinical Data tab

![image](https://user-images.githubusercontent.com/840895/49406884-d4732780-f724-11e8-8c6f-cec6cc86fa58.png)

[2018-12-03 23:02] adamabeshouse commented on #5362
reassigning to @kalletlak because he'd be more familiar with this code

[2018-12-03 23:10] jjgao commented on #5361
@tmazor good point. Calling it a language is also intimidating. I like "Refine your query with OQL"!

[2018-12-04 00:13] adamabeshouse commented on #3986
@ersinciftci you're not using any legacy OQL at this point in enrichments right?

[2018-12-04 00:13] adamabeshouse commented on #4363
report scores for every pair of tracks?

[2018-12-04 00:14] adamabeshouse commented on #2422
this isn't really "filtering", its coloring, right?

[2018-12-04 00:17] adamabeshouse commented on #5066
I think the best way to handle this is just throw a console error when mobxpromises are used outside a reaction - when they dont have an observer.

[2018-12-04 03:41] ersinciftci commented on #3986
@adamabeshouse I don't think I have used any OQL related code in enrichments.

[2018-12-04 03:50] ersinciftci commented on #3972
@adamabeshouse @jjgao I had to revert the `includeNonMutated` feature I made to Mutations API because it was depending on the Gene Panel Data logic that we changed later https://github.com/cBioPortal/cbioportal/pull/4020#discussion_r176571198, so if someone is going to work on this, I need to re-implement it.

[2018-12-04 05:09] dippindots commented on #3972
@adamabeshouse No, I am not working on this one, I am working on the issue #4514 . Thanks for the mention.

[2018-12-04 16:24] adamabeshouse commented on #2422
sure. so that would be instead of by type? so radio: type, germline vs somatic, none

[2018-12-04 16:54] alisman opened #5370 "Upgrade React and Typescript"

[2018-12-04 16:57] ersinciftci opened #5371 "Quick Search on home page"

[2018-12-04 17:01] zhx828 commented on #4968
This is a duplicate issue of https://github.com/cBioPortal/cbioportal/issues/4968

[2018-12-04 17:01] #4968 closed

[2018-12-04 17:02] inodb opened #5372 "move public oncoKB to AWS"
- [x] Test kubernetes instance on public portal
- [x] Point www.oncokb.org DNS to AWS

[2018-12-04 17:04] inodb commented on #5325
The current ones come from idp_probe, some cronjob on dashi/dashi2 to check saml is working (?) - will file new issue

[2018-12-04 17:04] #5325 closed

[2018-12-04 17:18] jjgao opened #5373 "improvement to scatter plot component"
Can we add p for pearson as well?

![image](https://user-images.githubusercontent.com/840895/49459704-a988e200-f7bd-11e8-95b4-646edb52dc2b.png)

It would be also nice to add a regression line.
![image](https://user-images.githubusercontent.com/840895/49459832-f53b8b80-f7bd-11e8-9be8-7a87833e11f9.png)

Good to have but not a priority.

[2018-12-04 17:57] alisman opened #5374 "Upgrade oncoprint.js jQuery to same version as portal"
This is to get rid of XSS vulnerability

[2018-12-04 18:29] zhx828 opened #5375 "Merge the density filter with bar chart filters"
In current implementation, we use separate filters for density plot and clinical attributes which compose the density plot. For instance, the `Mutation Count vs Fraction of Genome Altered` density plot has its own filter and at the same time, user can make selection separately on the `Mutation Count` and `Fraction Genome Altered` bar charts.

[2018-12-04 18:43] zhx828 commented on #5364
@alisman do you have any suggestion on how to do this? We currently have the component absolute to the page.

[2018-12-04 18:49] adamabeshouse commented on #5107
I cant replicate the original error on my machine, can someone who can test it with the new PR: https://cbioportal-frontend-pr-1788.herokuapp.com/

[2018-12-04 19:21] jjgao commented on #4363
@adamabeshouse yes. Maybe @dippindots can help with this later once he finishes https://github.com/cBioPortal/cbioportal/issues/4514. Ideally the same mutex components can be used here?

[2018-12-04 19:23] jjgao commented on #3986
I think it's fixed. Otherwise the frontend won't work.

[2018-12-04 19:35] inodb opened #5376 "backboneJS XSS mitigation"
Make sure all fields on network tab are properly escaped:

https://nvisium.com/blog/2015/05/21/dont-break-your-backbone-xss-mitigation.html

[2018-12-04 19:57] jjgao commented on #3972
@dippindots was working on https://github.com/cBioPortal/cbioportal-frontend/pull/1729 to fix https://github.com/cbioportal/cbioportal/issues/4183, which is related to this issue.

@ersinciftci maybe we can wait for the `is-profiled` endpoint https://github.com/cBioPortal/cbioportal/issues/4225? It's probably time to do it.

[2018-12-04 21:23] jjgao commented on #2422
Maybe we can add another option in addition to `Type` and `Putative drivers based on`.

"Mutation status" => by default, select both "Somatic" and "Germline". And provide an option to "Hide germline"?

Or maybe we don't need this any more once we have germline/somatic in oql? @schultzn

[2018-12-04 21:42] jjgao commented on #5373
@adamabeshouse maybe the regression line can be turned off by default and give the option to turn it on?

[2018-12-04 21:48] jjgao commented on #5107
scrollbar show up in the pr.

![image](https://user-images.githubusercontent.com/840895/49475062-43638580-f7e4-11e8-8c03-96d6a4246a10.png)

Is it possible to make it less predomiment, e.g. thinner and maybe lighter?

[2018-12-04 22:10] adamabeshouse commented on #5107
lmao... yeah

[2018-12-04 22:10] adamabeshouse commented on #5107
lmao... yeah

[2018-12-04 22:12] schultzn commented on #2422
I think a user should be able to show either germline, or somatic, or both.

[2018-12-04 22:16] adamabeshouse commented on #2422
Im confused - do we want to be able to not see/sort by germline status? or just to be able to hide by germline status? or both?

[2018-12-04 22:26] inodb opened #5377 "Update all docs links to point to gitbook"
Remove readthedocs links and point to gitbook

[2018-12-04 22:44] #5374 closed

[2018-12-04 22:44] adamabeshouse commented on #5107
@jjgao update pushed

[2018-12-05 16:09] zhx828 commented on #5064
@ersinciftci @onursumer I think this can be closed?

[2018-12-05 16:10] #5025 closed

[2018-12-05 16:10] #5009 closed

[2018-12-05 16:11] zhx828 commented on #4353
@jjgao is this still for 1.19.0?

[2018-12-05 16:13] #4590 closed

[2018-12-05 16:13] #4902 closed

[2018-12-05 16:15] zhx828 commented on #5282
@tmazor I would not be able to reproduce the issue, could you give more information?

[2018-12-05 16:40] zhx828 commented on #5335
@tmazor @ersinciftci this issue is now fixed.

[2018-12-05 16:41] zhx828 commented on #5334
@tmazor this issue is now fixed. http://www.cbioportal.org/beta/study?id=lgg_tcga

[2018-12-05 17:28] zhx828 opened #5378 "Consolidate GeneSelectionBox and GeneSetSelector"
GeneSelectionBox should be reused in GeneSetSelector.

[2018-12-05 17:30] zhx828 commented on #5378
Related PR and issues
https://github.com/cBioPortal/cbioportal/issues/5283
https://github.com/cBioPortal/cbioportal-frontend/pull/1283

[2018-12-05 17:51] zhx828 opened #5379 "# of NA is wrong in beta"
There are 5557 NA cases for Metastatic Site for msk_impact_2017 in beta, but 6166 in production. I think this is the miscalculation between sample/patient group. 5557 adds rest of categories = # of patients. 6166 adds up = # of samples. But this is a sample attribute.

http://www.cbioportal.org/beta/study?id=msk_impact_2017
http://www.cbioportal.org/study?id=msk_impact_2017#summary

[2018-12-05 17:54] zhx828 opened #5380 "NullPointerException for clinical-data-bin-counts"
After adding all charts in http://www.cbioportal.org/beta/study?id=acc_tcga, the `http://www.cbioportal.org/beta/api/clinical-data-bin-counts/fetch?dataBinMethod=STATIC` endpoint returns 500 NullPointerException

[2018-12-05 18:26] inodb opened #5381 "Allow querying VEP by region"
When using genomicLocation, query VEP by region instead so we can use the genome nexus vep wrapper (this only supports query by region, not by hgvs).

[2018-12-05 18:31] tmazor opened #5382 "SV beta: weird interaction between sample type & survival in tcga_lgg"
For tcga_lgg, the sample type chart says there are 516 Primary samples and 14 Recurrent samples and no N/A.

If I select the recurrent samples, the survival charts updates but include the N/A toggle, indicating that the survival chart thinks there are N/A samples.
![image](https://user-images.githubusercontent.com/10508276/49535084-449ebc00-f891-11e8-82a5-4f78ed5f9703.png)

If I select the primary

[2018-12-05 18:37] tmazor opened #5383 "SV beta - # samples per patient shouldn't be recalculated after filtering"
The # of samples per patient is a patient level attribute that should not be affected by any filters that are applied, but that doesn't seem to be true on beta.

In tcga_lgg there are 16 patients with 2 samples.
![image](https://user-images.githubusercontent.com/10508276/49535561-79f7d980-f892-11e8-8b62-023aa61c4044.png)

If I select those 16 patients, then the sample type chart shows me 16 primar

[2018-12-05 18:48] schultzn opened #5384 "Study view tables don't retain sort order after a selection"
In the new study view (in beta), the tables don't retain sort order after a selection.

After making a selection, they always go back to the default sort order.

[2018-12-05 18:57] ersinciftci commented on #5383
This is one related to API, will look at it.

[2018-12-05 18:58] tmazor commented on #5382
This is caused by #5383

[2018-12-05 18:58] #5382 closed

[2018-12-05 19:00] tmazor opened #5385 "study view beta: missing NA"
In sample type chart for tcga_lgg, there are 2 samples with N/A on production but those don't show up on beta.

Possibly this is related to #5379 ?

[2018-12-05 19:01] jjgao commented on #5107
@adamabeshouse it looks still the same...

[2018-12-05 19:14] #5335 closed

[2018-12-05 19:23] tmazor opened #5386 "study view beta: clicking query without any genes goes to homepage"
The query button on study view should be disabled if no genes are entered. Currently it is always enabled and goes to the homepage.

[2018-12-05 20:04] zhx828 commented on #5386
@tmazor this is what we have in the production study view. @jjgao @schultzn any comments?

[2018-12-05 20:58] zhx828 commented on #5364
We decided to remove the footer in study view.

[2018-12-05 20:58] #5364 closed

[2018-12-05 21:37] zhx828 opened #5388 "Cancer Type/Cancer Type Details should use predefined colors"
The color of the cancer type is available through API `/api/cancer-types`.
In the query page, we have the Cancer Studies stack bar charts programmed using the color. You can check it out, the component is in RightBar.tsx

[2018-12-05 21:39] zhx828 commented on #5333
@tmazor  this one is now updated. http://www.cbioportal.org/beta/newstudy?id=lgg_tcga

[2018-12-05 21:40] zhx828 commented on #5365
@jjgao this one is now updated. http://www.cbioportal.org/beta/newstudy?id=lgg_tcga

[2018-12-05 21:40] #5358 closed

[2018-12-05 21:41] zhx828 commented on #5332
@tmazor  this one is now updated. http://www.cbioportal.org/beta/newstudy?id=lgg_tcga

[2018-12-05 21:47] jjgao commented on #2422
@adamabeshouse: I had some discussion with Niki. We would like to make some change to the Mutation Color menu.

- [ ] change "Mutation Color" to "Mutations"
- [ ] have two section in the dropdown: "Color by" and "Filter"
- [ ] have three options in "Color by" section: "Type", "Somatic vs Germline", "Putative drivers vs VUS", all selected by default.
- [ ] have two options in "Filter" section: "Sho

[2018-12-05 22:11] jjgao opened #5389 "footer"
I propose to keep footer only on the front/query page and other static pages, but remove it from the results page, study view, and patient view. The reason is that removing it will make it easier for us to utilize the whole space.

All the links will be available in the new header that @inodb designed. (@inodb do we have an issue for that? If not, could you create one?)

@schultzn @tmazor: objecti

[2018-12-05 22:37] inodb commented on #5381
Moved to genome nexus repo: https://github.com/genome-nexus/genome-nexus/issues/235

[2018-12-05 22:37] #5381 closed

[2018-12-05 23:07] onursumer opened #5390 "IGV broswer locus search cannot recognize certaion genes"
Examples: AGO2, ZUP1, PRKN

[2018-12-05 23:09] onursumer opened #5391 "IGV 2.0"
Customize IGV 2.0 to meet Patient and Study pages' needs

[2018-12-05 23:14] onursumer opened #5392 "Support whole genome mutation track in IGV 2.0"
Support whole genome mutation track in IGV 2.0, similar to the one we currently have in genomic overview tracks.

![mutation_track.png](https://images.zenhubusercontent.com/5841b10ab9dc3c622022dd36/0d85fed2-0e81-4bd3-b471-ecd3826fd0c2)

[2018-12-05 23:18] onursumer opened #5393 "Add sample labels next to CNA track rows in IGV browser"
Display a sample label next to each CNA track row, similar to the current tracks view:

![sample_labels_next_to_cn_rows](https://user-images.githubusercontent.com/3604198/49550553-02d63b80-f8ba-11e8-8c82-6eaf1ff02ed9.png)

[2018-12-06 00:10] zhx828 opened #5395 "Do not add charts when all data are NA"

[2018-12-06 02:43] jjgao opened #5396 "Add chart button not showing up any more..."
I only shows up after I switch to Clinical Data and switch back

[2018-12-06 02:50] jjgao opened #5397 ""Add a chart" still loading multiple attributes sometimes"
Is it still loading all the newly added attributes?

![](https://media.giphy.com/media/BpDsLlNjtEiUqB4x4q/giphy.gif)

[2018-12-06 10:35] LiMin1992 opened #5398 "hide the "Download Data" function of the localized cbioportal"
I want to hide the "Download Data" function of the localized cbioportal, but I don't know where to modify the source code.

[2018-12-06 14:42] sandertan commented on #4894
@inodb @pieterlukasse I created test data for GSVA in this PR: https://github.com/cBioPortal/datahub/pull/492

It includes documentation on how to load the data, as well as how to use the functionality.

[2018-12-06 15:56] jjgao commented on #5398
@LiMin1992 we'll see if it's easy to add a configuration to turn it off.

[2018-12-06 16:11] tmazor opened #5399 "study view beta: pie chart labels need adjustment"
Some labels on pie charts look wonky. I think in general they may be improved by putting the labels a bit father from the center where the slices are wider and the text may fit more easily, but there are also issue with spacing within a slice, or putting labels on slices that are probably too small to fit text.

These screenshots come from acc_tcga_pan_can_atlas_2018
![image](https://user-images.g

[2018-12-06 16:14] #5333 closed

[2018-12-06 16:16] #5332 closed

[2018-12-06 16:53] zhx828 opened #5401 "Nullpointer exception for acc_tcga clinical-data-bin-counts endpoint"
It only fails on this study http://www.cbioportal.org/beta/study?id=acc_tcga

[2018-12-06 17:33] #5379 closed

[2018-12-06 17:34] #5385 closed

[2018-12-06 17:35] zhx828 commented on #5401
Issue has been addressed in https://github.com/cBioPortal/cbioportal/pull/5387

[2018-12-06 17:35] #5401 closed

[2018-12-06 17:36] #5380 closed

[2018-12-06 17:50] adamabeshouse commented on #2422
sounds good. so dont add "Somatic vs Germline" to the Sort menu?

[2018-12-06 18:00] adamabeshouse opened #5404 "something wrong with browser history"
steps to reproduce:
(1) go to cbioportal.org
(2) click on first example: RAS/RAF alterations etc
(3) Wait for page to load, and try to click back button - it won't let you

could have something to do with oncoprint URL management?

[2018-12-06 19:46] #5210 closed

[2018-12-06 20:17] schultzn opened #5406 "Tooltip for segmented copy-number in patient gets clipped"
![image](https://user-images.githubusercontent.com/11892704/49609590-f90c1100-f969-11e8-863a-cf85083bcf34.png)

[2018-12-06 20:58] ersinciftci commented on #5383
We will most likely fix this by adding a new patient clinical attribute called `SAMPLE_COUNT`.

[2018-12-06 21:33] jrobinso commented on #5390
This is likely to always be the case (some genes you are interested in won't be found).

To insure that all genes you are interested in are found you should provide your own webservice as documented here (scroll down to "search object"):  https://github.com/igvteam/igv.js/wiki/Browser-Configuration-2.0.   This is, for example, what GTEX does.

[2018-12-06 21:35] jrobinso commented on #5392
@onursumer  Could you provide me with the webservice details for fetching the mutations,  or an IGV track configuration for the mutation track if you have one?

[2018-12-06 21:52] onursumer commented on #5393
Seems like IGV browser supports only one label per track. Would it be possible to have separate labels (not only text labels but preferable any html or svg content) per row, aligned right next to the row, but not overlapping the actual track content?

I think a generic feature like "vertical tracks with custom content" would also work in this case.

[2018-12-06 21:59] angelicaochoa opened #5407 "Allele frequencies and Copy # not downloading from mutations table"
Allele frequencies and Copy # not downloading from mutations table
[Example: NOTCH1 query TCGA-ACC](http://www.cbioportal.org/results/mutations?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=acc_tcga&case_set_id=acc_tcga_cnaseq&data_priority=0&gene_list=NOTCH1&geneset_list=%20&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=acc_tcga_gistic&genetic_profile_ids_PRO

[2018-12-06 22:06] onursumer commented on #5392
@jrobinso I am not really sure which track type I should use to get a mutation track visible for the whole genome (`all`), I tried the annotation track but I don't think that's the right one for mutations.

The webservice to get the mutation data is this one: http://www.cbioportal.org/api/molecular-profiles/ov_tcga_pub_mutations/mutations/fetch?projection=DETAILED. You can `POST` query it with dat

[2018-12-06 23:12] jrobinso commented on #5392
I see, we have a track for CIViC variants that might be similar,  see http://bit.ly/2E5gRx4.

Open an issue in igv.js for this.

[2018-12-06 23:16] jjgao commented on #2422
@schultzn do you see any use case to sort by "Somatic vs Germline"?

![image](https://user-images.githubusercontent.com/840895/49617550-0e416980-f983-11e8-9311-fa10e8c32b6e.png)

[2018-12-06 23:17] jjgao commented on #5404
I noticed that too.

[2018-12-06 23:19] jjgao commented on #5406
Maybe we should just wait for @onursumer's IGV.js integration for this?

[2018-12-07 03:00] schultzn commented on #5406
Yes, probably a good idea.

Would like to see that implementation - my first impression based on tomorrow’s slides was that it took up a little too much space.

[2018-12-07 03:01] schultzn commented on #2422
Hmm… maybe. We could prioritize germline vs somatic (spot by germline first, then somatic), vs mix them (sort by alterations in other genes and ignore mutation status).

[2018-12-07 14:23] n1zea144 opened #5409 "Archer fusions truncated under Protein Change Column"
I noticed the "Archer" annotation on fusions called by Archer gets truncated.  Is it possible to give this column a little more real estate?

![image](https://user-images.githubusercontent.com/366003/49652952-8b132880-fa01-11e8-814f-a4d0cd5d28f0.png)

[2018-12-07 14:37] adamabeshouse commented on #2422
is it starting to be weird to have sort and color completely parallel in different menus? now that theres 3 items its starting to seem a lot to me

[2018-12-07 16:40] jjgao commented on #5406
@schultzn agreed. We need to make it more compact in patient view.

[2018-12-07 16:47] jjgao commented on #5409
@n1zea144 that's doable. But I am not sure if creating a `- archer` fusion event is the best option. There is actually just one fusion event in the patient, but now we have four entries, which is confusing. Another confusing part is that the archer one has it's own row which only associates with sample 3, but it is very likely that the event occurred in all samples as they were detected in sample

[2018-12-07 18:03] schultzn opened #5410 "Study view: Improve histogram"
The histogram would look better if the blue bars were slightly wider - make the bars wider and reduce the white space in between.

Also, the second category of the histogram never has any values. The first category's logic has to be changed from "<=" to just "<".

![image](https://user-images.githubusercontent.com/11892704/49664559-40ed6f80-fa20-11e8-8ead-07d3f77023e5.png)

[2018-12-07 18:06] zhx828 commented on #5399
@tmazor this is a tricky one. I will try to solve it before the release, but do you think it has to be done before the release?

[2018-12-07 18:07] schultzn opened #5411 "Study view: make it more obvious how many samples are selected"
In the new study view it is difficult to notice the number of samples that was selected - can we make that slightly clearer? Through color, bolding, or some other way?

[2018-12-07 18:11] schultzn opened #5412 "Study view: columns in frequency tables should be right justified"
Columns in frequency tables in the new study view should be right justified. This should apply to The "#" and "%" columns. Percentages should always show one decimal, e.g. 10.0%.

[2018-12-07 18:33] adamabeshouse commented on #3104
this might take more work than is worth for us, work refactoring the oncoprint library, because webworkers means we're adding asynchronous stuff and that isnt trivial to do in oncoprint the way its written. should we move to icebox?

[2018-12-07 18:52] zhx828 commented on #5410
@schultzn the first bar represents anything below or equal to 2. The second bar is 2 < x <= 3. The location of the bar is a bit different.

[2018-12-07 19:02] zhx828 commented on #5412
@schultzn I can do a alignment for the frequency column, but the # is tricky because of that checkbox. Do you think we need the right alignment for that column?
![screen shot 2018-12-07 at 2 02 28 pm](https://user-images.githubusercontent.com/5400599/49667344-be1ce280-fa28-11e8-8769-f451513853dd.png)

[2018-12-07 19:12] schultzn commented on #5412
Thanks. It would look a lot better with alignment, but only if easy to do…

The Freq column looks much better already!

[2018-12-07 20:41] jjgao commented on #5409
@alisman maybe you or @dippindots can do a quick fix to support more text in the `Protein Change` column?

At the same time, @n1zea144 and @schultzn I think we should reconsider this implementation. If using a different sample IDs for archer samples is not an option, we could also use the validation column to indicate a fusion is validated by Archer.

[2018-12-07 21:19] jjgao commented on #3104
yes, ice-boxed.

[2018-12-07 21:45] inodb opened #5413 "Sample labels on timeline don't show up when the specimen's are on the same day"
We have an internal study that shows this, DM for details

[2018-12-07 21:55] tmazor opened #5414 "oncoprinter page text update"
![image](https://user-images.githubusercontent.com/10508276/49674664-c41ebd80-fa40-11e8-99b8-1b95f4842e1d.png)

I think that first sentence should say "four tab-delimited columns", not "three", right?

[2018-12-07 21:59] tmazor commented on #5414
Also, these should probably say "Molecular Data" rather than "Mutation Data"
![image](https://user-images.githubusercontent.com/10508276/49674886-6d65b380-fa41-11e8-8760-b37807d79189.png)

[2018-12-08 00:03] zhx828 commented on #5410
This issue is solved in https://github.com/cBioPortal/cbioportal-frontend/pull/1806

[2018-12-08 15:08] schultzn commented on #5409
Or maybe we can tackle this when we have fusions / rearrangements as a separate data type and then implement everything properly?

[2018-12-09 03:31] jjgao commented on #5409
@alisman and @dippindots please allow more text in the `Protein Change` column so that the current implementation can work.

@schultzn I think we'll have the same issue (msk-impact based and archer based) after we have SVs as a separate data type. I think it's probably worth some more discussion and see if we can solve it now. I also realized that the Archer samples were named differently initiall

[2018-12-09 04:36] khzhu opened #5415 "Missing Enrichment for RPPA signals"
Matthew J. Sikora, PhD
Assistant Professor
Department of Pathology
University of Colorado Denver|Anschutz Medical Campus
![tcga enrich screenshots](https://user-images.githubusercontent.com/17375786/49693469-cf0d4700-fb41-11e8-963a-4dbd12a9b51b.png)

[2018-12-09 05:10] khzhu opened #5416 "missing mRNA profile from genomic profiles checklist"
METABRIC study has mRNA expression data. However, users can not select the mRNA profile since it is not included in the genomic profiles checklist on query page.
![screen shot 2018-12-08 at 11 53 48 pm](https://user-images.githubusercontent.com/17375786/49693639-beab9b00-fb46-11e8-92d6-d111ba15403b.png)
![screen shot 2018-12-08 at 11 54 44 pm](https://user-images.githubusercontent.com/17375786/496

[2018-12-10 12:44] pieterlukasse opened #5417 "Importer crashes when gene panel data is not yet loaded"
If you follow documentation here https://github.com/cBioPortal/cbioportal/blob/master/docs/Load-Sample-Cancer-Study.md, then the data loading works fine. The problem however, is that the validation script does not enforce this order.

Steps to reproduce:
- load new seed DB
- try to load study_es_0 with metaImport. Data loading step will crash. @pvannierop has more details.

Desired solution:
- val

[2018-12-10 12:45] pieterlukasse commented on #5417
@sandertan have you perhaps worked on this one? I couldn't find any issues or PRs

[2018-12-10 12:59] pvannierop commented on #5417
This is the stacktrace of the Exception:

[2018-12-10 16:06] #5258 closed

[2018-12-10 17:10] jjgao commented on #5415
I couldn't reproduce this. Closing for now.

[2018-12-10 17:11] jjgao commented on #5416
duplicate with https://github.com/cBioPortal/datahub/issues/485

[2018-12-10 17:11] #5416 closed

[2018-12-10 17:42] khzhu commented on #5415
Hi @jjgao, thank you for looking into this.
how about you query gene WNT4 only then you will not see the Protein tab on the study view.

[2018-12-10 17:42] jjgao commented on #5415
from jeffpbruce@gmail.com, see [post](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/cbioportal/dOXMYoOHgcc/mfdqZKloDwAJ)

"Kelsey and I may have identified the issue.  It looks like if you don't include a gene with a linked antibody on the RPPA in your query, the protein enrichment tab does not appear.  So when you query only WNT4, which has no associated antibody on the

[2018-12-10 17:47] jjgao commented on #5415
@ersinciftci would you please look into this?

When search EGFR, we can see the Protein tab under Enrichments: http://www.cbioportal.org/results/enrichments?session_id=5c0ea618e4b024a8f3efa981

But when search WNT4, there is no Protein tab: http://www.cbioportal.org/results/enrichments?session_id=5c0ea5d3e4b0264c0d23c2bd

Could you check the reason? Maybe it's b/c none of the altered samples have

[2018-12-10 18:14] inodb commented on #5214
moved to gitbook instead

[2018-12-10 18:14] #5214 closed

[2018-12-10 18:35] ersinciftci commented on #5415
@jjgao It's done as part of @adamabeshouse 's https://github.com/cBioPortal/cbioportal-frontend/pull/1510 PR. If all the Protein profiles in the study has 0 alterations for that gene, it doesn't show the Protein tab (same for other types of profiles, too).

[2018-12-10 19:04] adamabeshouse commented on #5415
@jjgao isn't that desired behavior? how can you do an enrichment analysis between two groups when one of the groups is empty?

[2018-12-10 19:30] #5377 closed

[2018-12-10 19:36] alisman opened #5419 "On small screens the results view header has too much text wrapping"
On small screens, the results view header has too much wrapping
![image 1](https://user-images.githubusercontent.com/186521/49756823-e145cd00-fc88-11e8-96f8-178f6c6b4c7f.png)

[2018-12-10 20:06] #5404 closed

[2018-12-10 20:13] alisman commented on #4183
@dippindots seems consensus is that we should always show all columns

[2018-12-10 20:18] #5132 closed

[2018-12-10 20:31] jjgao commented on #5415
@adamabeshouse @ersinciftci I agree that it's the right results, but I think it's creating some confusion as the subtabs (Mutations, CNAs, mRNA, Protein) changes when different genes are queried. Ideally, if there is protein data and there are two groups in oncoprint, we should always display the Protein tab. But in case that all protein-profiled samples are only in one group (e.g. unaltered group

[2018-12-10 20:32] #4709 closed

[2018-12-10 20:32] #4713 closed

[2018-12-10 20:33] adamabeshouse commented on #5415
ah okay. so I dont think we need to modify my changes from that PR, just add to the enrichments tab component

[2018-12-10 20:55] #5376 closed

[2018-12-11 01:30] zhx828 commented on #5331
@tmazor this issue has been solved.

[2018-12-11 01:30] #5331 closed

[2018-12-11 01:43] zhx828 opened #5420 "No data returned after selecting the top bin in density plot"
This seems apply to all combination study. http://www.cbioportal.org/beta/study?id=acc_tcga,lgg_tcga

If you select any dot on the density plot, no data returned for other charts

[2018-12-11 01:51] zhx828 commented on #5420
Well seems like this issue is for some dots only. And the filter shows as < 1677 for mutation count, but the dot actually represents 1677

![dec-10-2018 20-50-29](https://user-images.githubusercontent.com/5400599/49772988-44e9ed80-fcbd-11e8-9196-a6fe310f10c6.gif)

[2018-12-11 02:10] ersinciftci commented on #5420
Yeah it happens only with the dots on the very top, because it's the only time a sample's mutation count is the same with the bin's yEnd, because it's the only open ended side of the plot, and normally bin's yEnd is not inclusive. It's a bit hacky but we can do something like: if it's the top bin, add +1 to the yEnd in mutationCountVsCNASelection filter in the frontend. (It won't affect any other

[2018-12-11 10:18] #5417 closed

[2018-12-11 15:54] #5419 closed

[2018-12-11 16:08] alisman commented on #4507
Study page: /study
Results page: /results/:tab
Patient: /patient

Old routes are rerouted as appropriate:
ln, index.do, case.do, etc.

[2018-12-11 16:08] #4507 closed

[2018-12-11 16:16] alisman commented on #4277
@jjgao @zhx828 currently, in release-1.19.0, we are only using oncokb.public_api.url.  I find no reference to the other one.  It is not returned in our app configuration service.  @zhx828 can we do away with it?

[2018-12-11 16:19] zhx828 commented on #4277
@alisman I believe that was a legacy settings. Now we only use one url, in this case oncokb.public_api.url. I haven't got a chance to clean up the properties file at the backend yet.

[2018-12-11 16:32] alisman commented on #5390
@onursumer are we going to do this?

[2018-12-11 16:33] #5406 closed

[2018-12-11 16:56] onursumer commented on #5390
@alisman This is not urgent, but eventually we will need a custom gene to locus mapping for cBioPortal genes.

[2018-12-11 17:19] inodb commented on #5413
Looks like this issue actually occurs because there are some duplicate data points: `window.pvTimeline.data()`. So looks like a data issue - closing

[2018-12-11 17:19] #5413 closed

[2018-12-11 19:20] adamabeshouse commented on #5137
@tmazor just realized we forgot to update the documentation

[2018-12-11 20:56] jjgao commented on #5383
- calculate SAMPLE_COUNT (for each patient) after a sample clinical data file is imported
- override SAMPLE_COUNT for a patient if the data already exists

[2018-12-11 21:07] zhx828 commented on #5420
Issue has been addressed https://github.com/cBioPortal/cbioportal-frontend/pull/1821

[2018-12-11 21:07] #5420 closed

[2018-12-11 21:08] #5412 closed

[2018-12-11 21:39] alisman commented on #4457
@jjgao yes this has been solved.

[2018-12-11 21:39] #4457 closed

[2018-12-11 22:55] zhx828 opened #5425 "SV: Show tooltip when mouse over the bar"
Add a tooltip when hover over each bar in the study view bar chart indicating how many samples in this group and what the range is. You can follow the .

Forgive my simple mockup. But it should be similar as the one in density plot ![Screen Shot 2019-03-11 at 10 29 40 AM](https://user-images.githubusercontent.com/5400599/54131918-b1be7200-43e9-11e9-9bc6-6502a2a18b48.png)

![Screen Shot 2019-03-11

[2018-12-11 22:56] zhx828 opened #5426 "Show add chart in clinical data table and enable add/remove clinical data"

[2018-12-11 22:59] zhx828 opened #5427 "Add tooltip for table when the text is shortened due to the width of the cell"

[2018-12-12 03:19] zhx828 commented on #5399
@tmazor this issue is now addressed. http://www.cbioportal.org/beta/study?id=acc_tcga_pan_can_atlas_2018

[2018-12-12 03:19] #5399 closed

[2018-12-12 11:03] sandertan opened #5428 "'á' (UTF-8) not correctly displayed"
@jjgao @alisman I noticed that 'á' is not correctly displayed on the query page in a custom instance. My `portal.properties` is saved as UTF-8.

![screenshot 2018-12-12 at 11 55 55](https://user-images.githubusercontent.com/9624990/49865518-740b7680-fe05-11e8-85f9-1cccab956d28.png)

[code]

[2018-12-12 16:29] ersinciftci opened #5429 "SV: Toggling the Log Scale in bar chart reloads all the charts even though it's not filtered"
If you go to http://www.cbioportal.org/beta/study?id=msk_impact_2017 and unselect the Log Scale checkbox of `Sample coverage`, it will reload all the other charts, even though there is no filter applied to the `Sample coverage`.

[2018-12-12 19:14] dippindots commented on #5409
@n1zea144 Could you provide me the link to reproduce this issue? Thank you so much!

[2018-12-12 20:00] zhx828 commented on #5241
This is solved in https://github.com/cBioPortal/cbioportal-frontend/pull/1824/files

[2018-12-12 20:00] #5241 closed

[2018-12-12 20:45] jjgao opened #5432 "Add custom groups change format"
Currently:

[code]

Can we change it to:
[code]
Space or tab can be used as delimiters.

We should also support one column of sample IDs only
[code]

For chart name, let's make it a separate input field.

[2018-12-12 20:47] jjgao opened #5433 "SV: remove warnings when adding custom groups"
![image](https://user-images.githubusercontent.com/840895/49897795-1f77f380-fe25-11e8-99c2-1cbfe5c2ebf6.png)

[2018-12-12 20:49] jjgao opened #5434 "SV: if there is only one custom group, select the samples after adding"

[2018-12-12 21:15] #2422 closed

[2018-12-13 12:44] sandertan commented on #5428
@jjgao It's currently not critical. I'll try look into this at a later time.

[2018-12-13 15:04] sandertan opened #5436 "Missing profile description in the Plots tab"
In the old Plots tab view, I think there was a "?"-icon on each axis. When hovering over the item, you would see the description of that profile. In the new Plots tab, this icon is missing and there is no alternative.

<img width="1186" alt="screenshot 2018-12-13 at 16 01 30" src="https://user-images.githubusercontent.com/9624990/49946991-6c74cc00-fef0-11e8-8499-d80510e4c841.png">

[2018-12-13 15:10] paulcwvandijk opened #5437 "Study view: Number of samples incorrect in various pie charts"
Steps to reproduce:
Go to url: http://www.cbioportal.org/beta/study?id=brca_tcga

Look at Pie Chart "Sample Type"

Look at sample and patient size at the header

Total of both (1,105 vs 1,108) don't add up to same amount.

![screenshot 2018-12-13 at 16 06 48](https://user-images.githubusercontent.com/44695112/49947393-70edb480-fef1-11e8-8fe9-69daeea0672c.png)
![screenshot 2018-12-13 at 16 09 25](h

[2018-12-13 15:11] pieterlukasse commented on #5437
notify: @jjgao @zhx828

[2018-12-13 15:26] paulcwvandijk opened #5438 "Study view: x-axis value labels in Survival plots too dense"
Steps to reproduce:
Go to study view: http://www.cbioportal.org/beta/study?id=brca_tcga
Look at Survival plots

![screenshot 2018-12-13 at 16 24 03](https://user-images.githubusercontent.com/44695112/49948331-8663de00-fef3-11e8-82d8-0e95858545b4.png)

- desired solution: only major tick mark labels (?)

[2018-12-13 15:46] paulcwvandijk opened #5439 "Clinical data: downloaded file does not contain study name"
Steps to reproduce:
Go to study view --> clinical data: <http://www.cbioportal.org/beta/study?id=brca_tcga&tab=clinicalData>

Downloading the data results in a file with the generic name "data.tsv"
![screenshot 2018-12-13 at 16 45 38](https://user-images.githubusercontent.com/44695112/49949695-93ce9780-fef6-11e8-850e-26b54d70769c.png)

desired solution: the study name is included as in previous ve

[2018-12-13 15:46] paulcwvandijk commented on #5439
notify: @jjgao @zhx828

[2018-12-13 15:56] jjgao commented on #5436
We can show the info icon next to the Profile dropdown. If we do that, we should do it in other places, such as Co-expression and Enrichments.

@adamabeshouse I remember we had the icon in other tabs. Did we remove it b/c the description was confusing?

[2018-12-13 16:00] paulcwvandijk opened #5440 "Clinical data tab: COPY does not work (always)"
Related to issue #3073

Steps to reproduce:
Go to study view --> clinical data tab: <http://www.cbioportal.org/beta/study?id=brca_tcga&tab=clinicalData>

Clicking on copy does not work for this study.
Tested for other studies as well and then it worked so behaviour seems inconsistent.

desired solution: consistent behaviour when clicking on copy.

[2018-12-13 16:01] paulcwvandijk commented on #5440
notify: @jjgao @zhx828

[2018-12-13 16:08] jjgao commented on #5436
found it: https://github.com/cBioPortal/cbioportal/issues/4482

We will not add it back until https://github.com/cBioPortal/datahub/issues/238 is fixed.

[2018-12-13 16:10] ersinciftci commented on #5437
The reason is, this query:
[code]
returns 1108 patients but this query:
[code]
return 1105. So `brca_tcga_all` list doesn't have all the samples in `brca_tcga` for some reason. Seems like a data issue.

[2018-12-13 16:11] jjgao commented on #5438
@zhx828 we should also rotate the text for survival and density plot, or use fewer ticks.

[2018-12-13 16:14] jjgao commented on #5437
@ersinciftci @zhx828 instead of loading all samples, should we load a list, by default case_all? Frontend can pass this list to backend.

[2018-12-13 16:45] ersinciftci commented on #5437
I think short term solution can be calling the `/filtered-samples/fetch` endpoint instead of `/samples/fetch` in the first page load (it's better to do that in terms of consistency anyways, we already call `/filtered-samples/fetch` for every subsequent filter). We can talk about getting rid of the case lists concept after the release.

[2018-12-13 16:45] zhx828 opened #5442 "Duplicate data bin groups"
http://www.cbioportal.org/beta/study?id=blca_tcga_pan_can_atlas_2018,blca_tcga

If you add Last Alive Less Initial Pathologic Diagnosis Date

[2018-12-13 16:48] zhx828 opened #5443 "If Mutated/CNA Genes table are disabled, the data fetching for them should not be triggered"

[2018-12-13 17:45] pieterlukasse commented on #5437
Getting rid of case lists could prove difficult,  since they are used to keep track of what has been sequenced for example. But perhaps this has been mostly made redundant by the gene panel implementation...not sure.

[2018-12-13 17:47] pieterlukasse commented on #5437
If case lists remain, there should be a validation rule that checks that _all contains at least all samples used in other files (it should be allowed to contain more, but not less). @sandertan

[2018-12-13 18:04] zhx828 opened #5445 "Table headers are duplicated in clinical data tab"
http://www.cbioportal.org/beta/study?id=brca_tcga%2Clgg_tcga&tab=clinicalData

The table has two Cancer Type and Cancer Type Detailed

[2018-12-13 18:06] ersinciftci commented on #5437
I think `sample_profile` table already has the information of what has been sequenced.

[2018-12-13 18:46] alisman commented on #5428
@sandertan when you are in dev server mode (localhost:3000), the config reaches the page via a service (see screenshot).  can you look at the response of the service to see if the character is corrupted in the response?

![image](https://user-images.githubusercontent.com/186521/49960074-4e51a080-fedd-11e8-948e-5b4a46312000.png)

[2018-12-13 18:47] alisman commented on #5428
config_service.jsp is the endpoint.

[2018-12-13 19:31] #5312 closed

[2018-12-13 19:38] #5426 closed

[2018-12-13 20:41] pieterlukasse commented on #5437
@ersinciftci looking at the code, `sample_profile` only seems to be filled when there is gene panel data or if the MAF file contains a special header row with a list of samples (which is actually legacy stuff and something not documented as far as I can see in https://github.com/cBioPortal/cbioportal/blob/master/docs/File-Formats.md#mutation-data). Looking at datahub, I also don't see this extra r

[2018-12-13 20:55] jjgao commented on #5437
`sample_profile` should be filled for all profiles. It'll be used to populate the profile-related case lists on the fly: https://docs.google.com/document/d/1aBbkTAFv5nCqBv66BOgwvlt5kymgt0lQ7l_pqaFrupc/edit#h

[2018-12-13 20:57] jjgao commented on #5437
I checked with database, brca_tcga_mutations has 981 samples in `sample_profile`

[2018-12-13 21:02] pieterlukasse commented on #5437
hm..apparently there is also `addSampleProfile` in the deprecated class ImportDataUtil...

[2018-12-13 21:06] adamabeshouse opened #5446 "Add OQL GERMLINE, SOMATIC, and DRIVER keywords to documentation"
Note that

(1) GERMLINE and SOMATIC can be used with mutations, DRIVER can be used with mutations, cna, and fusions
(2) they can be combined, in any order, e.g. `GERMLINE_DRIVER` or `DRIVER_SOMATIC`
(3) they can be used alone (as above) or with another alteration e.g. `GERMLINE_DRIVER_TRUNC`, `AMP_DRIVER`, `DRIVER_FUSION`

[2018-12-13 21:10] jjgao commented on #5437
hmm.. there are 982 (somehow nto 981) samples in the MAF. I guess some of the samples may not have any mutations and when we converted the data from firehose, we created the cases_sequenced list, but didn't add the `#sequenced_samples:` header...

[2018-12-13 21:10] pieterlukasse commented on #5437
I think the case lists should remain as a file format, but they could be removed from the DB schema, meaning we should use only `sample_profile` table for queries. The case list tables could be dropped. But the data loading code needs to be adjusted to fill the `sample_profile` table.

[2018-12-13 22:13] schultzn opened #5447 "New study view: Sort all tables by frequency, not number"

[2018-12-13 22:21] schultzn opened #5448 "Study view: Change "no" to red in pie charts"
Green vs red seems to be most commonly used for yes vs no

[2018-12-13 22:52] schultzn opened #5449 "Add negative / positive to predefined study view color list"
Positive: green
Negative: red
(like yes / no)

[2018-12-13 22:57] schultzn opened #5450 "Study view: change position of add chart icons"
JJ will explain in person

Goal is to reduce mouse travel distance

[2018-12-14 00:34] zhx828 commented on #5450
- [ ] Move the plus icon next to Select **/sample box
- [ ] Using same style as the buttons above
- [ ] When the button is clicked, a tooltip will be shown with three tabs showing to replace the current `Select clinical data`, `Select genomic data`, `Add Custom Charts` buttons

cc @cBioPortal/product  please take a look this ticket and update anything if you want to. This is the mock up I have bas

[2018-12-14 00:36] schultzn commented on #5450
Nice!

One more: move search box above the table to allow for quicker interaction (less mouse movement).

[2018-12-14 00:37] zhx828 commented on #5450
@schultzn just one concern: we may already have the expectation at the bottom since all other tables have search at the bottom left.

[2018-12-14 03:30] #5438 closed

[2018-12-14 03:31] zhx828 commented on #5450
@schultzn sure, I will update the component.

[2018-12-14 03:34] zhx828 commented on #5439
@paulcwvandijk the copy to clipboard has limitation on the size of data. We decided to remove copy button for clinical data table since the download would serve the functionality pretty well, also keep the  consistency instead of the current production study view, show copy for small study(the logic is not well designed, have potential issue anyway).

[2018-12-14 03:35] zhx828 commented on #5440
@paulcwvandijk the copy to clipboard has limitation on the size of data. We decided to remove copy button for clinical data table since the download would serve the functionality pretty well, also keep the consistency instead of the current production study view, show copy for small study(the logic is not well designed, have potential issue anyway).

[2018-12-14 03:36] #5284 closed

[2018-12-14 03:36] #5339 closed

[2018-12-14 03:39] zhx828 commented on #5366
This will no longer needed since we are going to use the AddChart button in the summary tab

[2018-12-14 03:39] #5366 closed

[2018-12-14 03:42] #5191 closed

[2018-12-14 03:42] #5192 closed

[2018-12-14 14:37] fedde-s commented on #4916
@alisman: the issue I reported was about a need to refactor to avoid growing some technical debt across modules of the backend, written in Java and in Spring XML. Could you explain how that's now about the frontend? Or was that a misclick?

[2018-12-14 14:51] fedde-s commented on #4916
@jjgao: I think that ensuring that the various configuration files are clearly documented is better handled as a separate issue; more closely related to #4774. I reported this issue here just to keep track of some technical debt in how the logic to locate `portal.properties` is implemented.

[2018-12-14 15:10] alisman commented on #4916
I don't think this ticket is frontend related.   We do of course use portal.properties for frontend configuration properties but it doesn't sound like that's what's at issue.

[2018-12-14 15:11] sandertan commented on #5428
@alisman Thanks for the explanation on running it in DEV mode. It seems that it's already corrupted in the response:

<img width="1138" alt="screenshot 2018-12-14 at 16 10 47" src="https://user-images.githubusercontent.com/9624990/50010887-e1143d00-ffba-11e8-8d1e-8768239a4b13.png">

[2018-12-14 15:22] alisman commented on #5428
@sandertan woud you mind looking at the jsp that produces this file? You might know better than me how it can be fixed/debugged at there.

portal/src/main/webapp/WEB-INF/jsp/global/frontend_config.jsp

[2018-12-14 15:35] alisman commented on #5284
We got rid of the twitter and email buttons.   We will add a link button to the study view which should then "normalize" the button experience.

[2018-12-14 15:43] sandertan commented on #5428
@alisman I'll look at it next week. I don't know how to set a debugger here, so I need some help from the Oleguer.

[2018-12-14 16:37] alisman commented on #5443
@zhx828 @adamabeshouse i think that accomplishing this will require destroying the promises which sit in the clinicalDataCountPromises collection.   Right now they sit there and react even if the chart which requires them has been "deleted".  So we need to have a way of discarding them from the collection and calling a destroy method on them.   Right now mobxPromise doesn't have a way of disposing

[2018-12-14 16:42] zhx828 commented on #5448
@cBioPortal/product could you confirm this is the color scheme for Yes/No,  Positive/Negative
![screen shot 2018-12-14 at 11 34 10 am](https://user-images.githubusercontent.com/5400599/50015704-33426780-ff95-11e8-9dc8-755c528618a4.png)

Or the green we always use in the study view? The only downside of using this green is in other chart we will have expectation that green represents Yes even it do

[2018-12-14 16:45] #5307 closed

[2018-12-14 16:53] #5360 closed

[2018-12-14 16:55] #5107 closed

[2018-12-14 16:56] #4894 closed

[2018-12-14 16:56] #5141 closed

[2018-12-14 16:56] #5342 closed

[2018-12-14 16:57] #5257 closed

[2018-12-14 16:57] #5047 closed

[2018-12-14 16:57] #5411 closed

[2018-12-14 16:58] #5104 closed

[2018-12-14 16:59] #5135 closed

[2018-12-14 17:11] zhx828 commented on #5442
This was solved in https://github.com/cBioPortal/cbioportal-frontend/pull/1708/files
But I removed the code while cleaning up. The solution should be removing the duplicates in defaultVisibleAttributes

[2018-12-14 18:43] adamabeshouse commented on #5443
mobxpromise doesnt need to dispose, it doesnt have reactions

[2018-12-14 19:13] tmazor opened #5452 "sv: charts on edge of page have tooltip problems"
It's very difficult to use the control buttons (e.g. convert pie chart to table) on a chart thats on the edge of the screen. As soon as I hover over a button, the tooltip appears, and because of the location on the edge of the screen, the tooltip appears directly under the mouse, which then makes the control bar disappear before I can actually click on a button.

![dec-14-2018 14-13-03](https://us

[2018-12-14 19:43] tmazor opened #5453 "sv: layout of charts includes gaps"
When I load this combined study (http://www.cbioportal.org/beta/study?id=lgg_tcga%2Cgbm_tcga), the starting layout includes gaps at the bottom. The Disease Free chart can move to the left and that would leave room for the Overall Survival plot to fit next to it.
![image](https://user-images.githubusercontent.com/10508276/50023749-25e5a700-ffae-11e8-9937-5d3add4c89ea.png)

If I then move "Disease F

[2018-12-14 19:48] zhx828 commented on #5453
@tmazor this is the design from the library we are using. I can take a look whether there is a way to fix that. But probably will fix in 1.19.x

[2018-12-14 19:54] tmazor opened #5454 "sv: make # of samples per patient a pie chart"
I know the default is now a barchart because it's a numeric clinical attribute, but I think this is better as a pie chart. Can we do that?

[2018-12-14 20:01] jjgao commented on #5454
@inodb do you think you can change the attribute type to STRING when you update the PRIORITY? We will also need to update the migration script and thr jar files (if already updated)...

[2018-12-14 20:11] ersinciftci opened #5455 "SV: Two survival plot tooltips are visible at the same time"
<img width="1680" alt="screen shot 2018-12-12 at 2 10 03 pm" src="https://user-images.githubusercontent.com/3595704/50025000-254f0f80-ffb2-11e8-9fb7-f396354c2bbb.png">
So maybe we can add the same amount of delay  with the pie chart tooltips to them.

[2018-12-14 20:16] ersinciftci opened #5456 "SV: If you add a chart after the first load, >20 value clinical attributes still shown as pie charts"
They should be shown as tables.

[2018-12-14 20:25] ersinciftci opened #5457 "SV: Survival p-Value sometimes doesn't fit inside the plot"
<img width="486" alt="screen shot 2018-12-14 at 10 23 50 am" src="https://user-images.githubusercontent.com/3595704/50025729-76f89980-ffb4-11e8-8cd0-65151f3dcd8f.png">
for example http://www.cbioportal.org/beta/study?id=acc_tcga if you select `Bone|Liver` in `Metastatic Site` pie chart

[2018-12-14 21:15] alisman commented on #5455
@ersinciftci i can't reproduce this.  any trick?

[2018-12-14 22:05] #5457 closed

[2018-12-15 00:37] #5137 closed

[2018-12-15 00:41] adamabeshouse commented on #5443
there seems to be something specific about mutated and cna genes table because other charts ive checked, other mobxpromises, dont seem to have the same problem. I believe this indicates this isn't a mobxpromise bug

[2018-12-15 00:44] adamabeshouse commented on #5443
oh okay here we go lol

in MutatedGenesTable
[code]

[2018-12-15 21:55] #5454 closed

[2018-12-17 19:20] tmazor opened #5462 "logo for private portals is faded and tiny"
Private portals like GENIE or DFCI can include a logo in the upper right corner, but the icon is tiny and appears faded. Can this be made bigger & easier to see?

![image](https://user-images.githubusercontent.com/10508276/50109562-31cba600-0206-11e9-8b6a-5582468fbe4f.png)

[2018-12-17 20:32] alisman commented on #5184
Duplicate. Fixed

[2018-12-17 20:32] #5184 closed

[2018-12-17 20:34] #5313 closed

[2018-12-17 20:53] #5288 closed

[2018-12-17 20:56] #5004 closed

[2018-12-17 21:15] #5432 closed

[2018-12-17 21:15] #5433 closed

[2018-12-17 21:15] #5434 closed

[2018-12-17 21:15] #5450 closed

[2018-12-17 21:15] #5383 closed

[2018-12-17 21:16] #5449 closed

[2018-12-17 21:16] #5447 closed

[2018-12-17 21:16] #5439 closed

[2018-12-17 21:16] #5443 closed

[2018-12-17 21:16] #5440 closed

[2018-12-17 21:16] #5448 closed

[2018-12-17 21:16] #5442 closed

[2018-12-17 21:16] #5445 closed

[2018-12-17 21:38] zhx828 opened #5464 "Add With Mutation Data/ With CNA Data as optional pie charts"

[2018-12-17 21:58] alisman commented on #5361
@tmazor @jjgao

is this prominent enough?

![image](https://user-images.githubusercontent.com/186521/50118181-ef619380-021c-11e9-85c4-8802584841cb.png)

[2018-12-17 21:59] alisman commented on #5361
I also kind of think the text box itself needs to say in the label that it accepts oql.   A way to inject sample queries?

[2018-12-17 23:04] jjgao commented on #5361
@alisman good idea.

[2018-12-17 23:07] tmazor opened #5467 "TCGA provisional datasets have a patient_weight field which is not actually patient weight"
I suspect this is sample weight in mg, rather than patient weight in kg, but that should be confirmed against the original data source.

lgg_tcga
![image](https://user-images.githubusercontent.com/10508276/50121177-e7f2b800-0225-11e9-9c46-0ef634596be6.png)

chol_tcga
![image](https://user-images.githubusercontent.com/10508276/50121238-1a9cb080-0226-11e9-8acb-fbc66fd3087d.png)

[2018-12-17 23:10] tmazor opened #5468 "sv: toggling log scale on one chart should not reload all other charts"
If I toggle log scale on the Days to Sample Collection chart, the entire page re-renders. All other charts should remain and only this one chart should need to re-render.
http://www.cbioportal.org/beta/study?id=lgg_tcga

[2018-12-17 23:12] tmazor opened #5469 "sv: missing "or" in filter list"
If I select more than 2 values in one chart, there is only one "or":
![image](https://user-images.githubusercontent.com/10508276/50121609-49ffed00-0227-11e9-8eac-7e9227a317ed.png)

There should be an "or" between all values.

[2018-12-17 23:15] tmazor opened #5471 "lgg tcga provisional mutsig results are weird"
NRAS has one mutation but appears with a mutsig icon:
![image](https://user-images.githubusercontent.com/10508276/50121708-921f0f80-0227-11e9-8ce0-822d0e389eb6.png)

[2018-12-17 23:20] tmazor opened #5472 "sv: un-necessary re-rendering when adding charts"
When I add a chart, all of the existing data re-renders, as does this bar:
![image](https://user-images.githubusercontent.com/10508276/50121863-28ebcc00-0228-11e9-8e07-b02fa7622d28.png)

There aren't any new filters being applied, so other charts & that "selected" bar shouldn't re-render.

This also applies when viewing the clinical data table - I understand that the table may need to re-render wi

[2018-12-17 23:22] #5467 closed

[2018-12-17 23:22] jjgao commented on #5467
Issue moved to [cBioPortal/datahub #505](https://github.com/cBioPortal/datahub/issues/505) via [**ZenHub**](https://www.zenhub.com/)

[2018-12-17 23:39] zhx828 opened #5474 "Clinical Data Table is not sorted numerically"

[2018-12-17 23:43] jjgao opened #5475 "can we further improve the loading time of Mutated Genes and CNA genes?"
The performance of the new study view page is really great. It can show all charts really quickly when loading 32 pancan studies. However, Mutated Genes and CNA tables are still the slowest. @ersinciftci maybe there is still room to improve for multi-study query?

http://www.cbioportal.org/study?id=laml_tcga_pan_can_atlas_2018%2Cacc_tcga_pan_can_atlas_2018%2Cblca_tcga_pan_can_atlas_2018%2Clgg_tcga

[2018-12-18 02:21] alisman opened #5476 "Study view link from results page doesn't work"

[2018-12-18 03:47] zhx828 opened #5477 "Bar chart tick format needs to be updated"
- [x] In this study http://www.cbioportal.org/study?id=mixed_allen_2018#summary, Fraction Genome Altered ticks need to be updated.
- [x] In this study, http://www.cbioportal.org/study?id=prad_p1000, the Ploidy shows 2.000000

[2018-12-18 04:03] zhx828 opened #5478 "Error when loading four small cell lung cancer studies"
This url returns error
http://www.cbioportal.org/study?id=sclc_clcgp%2Csclc_jhu%2Csclc_ucologne_2015%2Csclc_cancercell_gardner_2017
Error: 500

[2018-12-18 04:22] zhx828 opened #5479 "Add Chart (Add all) does not work for this study"
https://cbioportal.mskcc.org/study?id=mskraindance

[2018-12-18 04:36] zhx828 opened #5480 "Filters are still applicable from one study to another"
- If you go to this link http://www.cbioportal.org/study?id=prad_mskcc_2017%2Cprad_mskcc%2Cprad_p1000%2Cprad_mskcc_2014%2Cprad_mskcc_cheny1_organoids_2014
- then select anything
- click on the plus icon next to Combined study
- Select any hyperlink to study
- bomb... the filter is still there

@jjgao LOL no sure whether this should be a feature?

[2018-12-18 04:37] zhx828 opened #5481 "Data issue for Prostate Adenocarcinoma (MSKCC, Cancer Cell 2010)"
This study returns 216 samples, but has 234 count for prostate cancer cases under Cancer Type

http://www.cbioportal.org/study?id=prad_mskcc

[2018-12-18 15:01] tmazor commented on #5462
Yes, I believe so

[2018-12-18 16:16] zhx828 opened #5483 "To Patient View button does not always work"
I have to click on the button in certain spot in order to go to the page

[2018-12-18 17:13] zhx828 opened #5484 "Custom Group issue"
- paste a list of ids
- click on the add chart
- and remove some ids from the list
- then click on the add chart again

[2018-12-18 19:00] dippindots commented on #5409
@jjgao I can do a quick fix by changing the max length of the text. We are now allowed to display up to 20 letters. How many do we need to display?

[2018-12-18 21:46] onursumer opened #5486 "PDF download is broken for all study view charts"

[2018-12-18 21:51] adamabeshouse commented on #5479
it seems to work for me?

[2018-12-18 21:52] adamabeshouse commented on #5478
I cant see the bug for this one either :D what are the steps to reproduce it?

[2018-12-18 21:55] adamabeshouse commented on #5478
cant repro

[2018-12-18 21:57] adamabeshouse commented on #5484
cannot reproduce

[2018-12-19 05:12] #5486 closed

[2018-12-19 15:53] #4228 closed

[2018-12-19 15:53] alisman commented on #4228
This has been fixed

[2018-12-19 15:55] #4638 closed

[2018-12-19 15:56] alisman commented on #4669
this will be fixed

[2018-12-19 15:56] #4669 closed

[2018-12-19 16:12] jjgao commented on #5409
@dippindots could you increase it to 40?

[2018-12-19 16:23] zhx828 opened #5487 "Clinical data bin count Invalid range issue"
Sentry reported it here https://sentry.io/memorial-sloan-kettering/cbioportal-backend/issues/812084509/?referrer=slack

This issue will cause 500 error page

With following request:
data binning method: STATIC

[code]

[2018-12-19 16:31] zhx828 commented on #5484
This is potentially caused by the 500 error code while interacting with the page. It may be related to https://github.com/cBioPortal/cbioportal/issues/5484. But definitely not the custom group chart issue.  Closing for now.

[2018-12-19 16:31] #5484 closed

[2018-12-19 16:32] zhx828 commented on #5479
This is caused by the 500 error code. The endpoint seems working properly now. Need to handle the error code on the promise level. It may be related to https://github.com/cBioPortal/cbioportal/issues/5484. But definitely not the add chart issue.  Closing for now.

[2018-12-19 16:34] zhx828 opened #5488 "Clinical data bin count endpoint issue: NumberFormatException: For input string: "10PY""
This is related to https://sentry.io/memorial-sloan-kettering/cbioportal-backend/issues/812661627/?referrer=slack

Issue study: http://www.cbioportal.org/study?id=sclc_clcgp%2Csclc_jhu%2Csclc_ucologne_2015%2Csclc_cancercell_gardner_2017

Request: STATIC
{"attributes":[{"attributeId":"MUTATION_COUNT","clinicalDataType":"SAMPLE","disableLogScale":false},{"attributeId":"FRACTION_GENOME_ALTERED","clin

[2018-12-19 16:35] zhx828 commented on #5478
This is caused by the 500 error code. Need to handle the error code on the promise level. It is related to https://github.com/cBioPortal/cbioportal/issues/5488.

[2018-12-19 16:50] alisman commented on #5462
@jjgao @tmazor
Right now there is a 50% opacity on the logo, which accounts for the fading.  I will change that to 100%.
The size though is tricker.  Is it reasonable to require that the logo not be larger than the portal logo?  The AACR logo has three seperate lines of text which is going to require a pretty big size to be legible.  Ideally the institution would crop of the logo to the right size

[2018-12-19 18:27] jjgao opened #5489 "error on study view"
1. http://www.cbioportal.org/study?id=lung_msk_2017
2. Add Chart
3. Select All(30)

![image](https://user-images.githubusercontent.com/840895/50240048-c9113480-0391-11e9-8f2f-9a84fedad54c.png)

[2018-12-19 18:31] jjgao opened #5490 "Another study view error"
1. http://www.cbioportal.org/study?id=msk_impact_2017
2. Add Chat
3. Custom Groups
4. Type P-0003900 and Add Chart

![image](https://user-images.githubusercontent.com/840895/50240211-2ad19e80-0392-11e9-8db6-c62ac8b64c8d.png)

[2018-12-19 18:33] jjgao opened #5491 "error message box in study view"
Are we showing the message below for all js error that happens on the page? Maybe we can find a less disruptive way to do that?

![image](https://user-images.githubusercontent.com/840895/50240211-2ad19e80-0392-11e9-8db6-c62ac8b64c8d.png)

e.g. #5489, #5490

[2018-12-19 18:45] jjgao opened #5492 "adding Select button back"
Since several ppl have complained about missing "select Sample" button, I think we should add it back.

- Add "Custom Selection" button before "+ Add Chart" button
- the button will lead to the "Custom Groups" tab
- Change "Custom Groups" to "Custom"
- Change "Add Chart" button in "Custom" tab to "Select / Add Chart"

[2018-12-19 19:07] schultzn opened #5493 "When adding multiple charts to the study view at the same time, one often remains empty"
It seems to often be the last one added. This happens when I select multiple charts at the same time...

![image](https://user-images.githubusercontent.com/11892704/50242117-602cbb00-0397-11e9-8a87-2a5b4810b725.png)

[2018-12-19 19:12] jjgao commented on #5478
Can we keep this open since the error is still happening.

[2018-12-19 19:15] jjgao commented on #5479
Select "Overall Survival" does not work for me.

[2018-12-19 19:19] jjgao commented on #5481
@zhx828 how is this possible?

[2018-12-19 19:21] jjgao commented on #5480
@zhx828 I think we should open a new tab for these links.

[2018-12-19 19:34] sentry-io[bot] opened #5494 "Error: ERROR DIALOG SHOWN:Error: 500"
Sentry Issue: [SPA-PROD-27W](https://sentry.io/memorial-sloan-kettering/spa-prod/issues/815023015/?referrer=github_integration)

[code]

[2018-12-19 20:35] jjgao commented on #4601
@n1zea144 @sheridancbio could you help on this one? It's it's mostly database schema change.

[2018-12-19 20:47] tmazor opened #5496 "problems with OQL error submission in modify query interface"
On the homepage, if I type invalid OQL, I can click the Submit button to see the location of the OQL error.

The same option is available through the Modify Query interface. However, if I click submit there, it closes the modify query interface and when I open it up again, the previous query is still there -- so the bad OQL is lost and as a user I'm just confused about what happened.

I did this a

[2018-12-19 21:00] sheridancbio commented on #4601
@jjgao ok, I will put together a PR for this. Let's do 255 characters though .. so we don't need to increase it again when we make a study that references 11 papers.

[2018-12-19 21:08] tmazor commented on #5462
@alisman  I think it's reasonable to require that the logo not be taller than the portal logo so as to not mess with the overall height of that header bar (wider should be ok though). I think that, combined with the 100% opacity, will help a lot in terms of legibility.

[2018-12-19 21:14] schultzn opened #5497 "Study view: Error when trying to add chart"
I get an error when trying to add a particular chart to a particular study

http://www.cbioportal.org/study?id=lung_msk_2017#summary
Chart: Number Treatment Lines Prior To Receiving...

Error: 500

[2018-12-19 21:16] ritikakundra opened #5498 "Study Summary: Selecting a 10K patient list takes time to load"
Tried selecting 10k patients in the portal for MSK-IMPACT and it took 20-30 seconds for the summary to read those patients and enable me to click the add chart button.

[2018-12-19 21:17] jjgao opened #5499 "propagate filtering from oncoprint to other tabs"
When filtering changes in oncoprint, we should propagate the change to other relevant tabs, e.g. `Mutual Exclusivity`, `Mutations`, `Enrichments`, `Survival`.

Changes include

- Anything in the Filter menu, Show VUS, Show Germline
- Change of sources for driver when not showing VUS or DRIVER is used in OQL

[2018-12-19 21:24] jjgao commented on #4601
@jjgao good idea.

[2018-12-19 21:30] jjgao commented on #5498
@zhx828 maybe there is room to improve in the frontend code? using hashmap might help if you are not using it.

[2018-12-19 21:44] sheridancbio commented on #4601
Actually, I see there are already fields for lists of PMIDs in tables interaction and drug_interaction, and these are both sized varchar(1024), so I will stick with that standard.

[2018-12-19 21:48] ersinciftci opened #5500 "SV: Pie chart filtering doesn't work when you click on the number in the slice"
<img width="195" alt="screen shot 2018-12-19 at 4 46 57 pm" src="https://user-images.githubusercontent.com/3595704/50250029-bc9ad500-03ad-11e9-8ae0-3a824fc12bd0.png">
If I click on anywhere on those two numbers, the filtering doesn't happen. So those labels should also catch mouse click events.

[2018-12-19 21:50] ersinciftci commented on #5468
Duplicate of https://github.com/cBioPortal/cbioportal/issues/5429

[2018-12-19 21:50] jjgao commented on #4601
@sheridancbio I think 255 would be sufficient -- I cannot image we associate 100 papers with one study, but I don't feel strongly about it. As for the field name, are you going to change it to pmids in the files and API endpoints too (it would become a big pull request)?  I think it's ok to use `pmid` to minimize the effort.

[2018-12-19 21:52] jjgao commented on #5429
duplicate

[2018-12-19 21:52] #5429 closed

[2018-12-19 21:56] adamabeshouse opened #5501 "oncoprint loading indicator overlays on modify query form if you open it"
![image](https://user-images.githubusercontent.com/636232/50250509-00daa500-03af-11e9-9584-0fd3c1657474.png)

[2018-12-19 21:58] zhx828 commented on #5500
Issue has been solved in https://github.com/cBioPortal/cbioportal-frontend/pull/1860

[2018-12-19 22:02] schultzn commented on #5489
The following chart appears to be the reason for the error:
Number Treatment Lines Prior To Receiving...

[2018-12-19 22:02] sheridancbio commented on #4601
I was just thinking about that @jjgao ... if this field is going to hold a list of pubmed ids now, I think would be best to model that in the API. The model for cancer_study should return a list of strings for PMID rather than a comma separated string that needs to be parsed by the frontend / other clients. That would be cleaner and more semantically correct. We could separate this into two steps

[2018-12-19 22:03] zhx828 commented on #5489
@schultzn @jjgao we are working on it, will update the system tonight.

[2018-12-19 22:04] zhx828 commented on #5498
@jjgao I'm already using it. I will take a look which other parts I can improve.

[2018-12-19 22:05] zhx828 commented on #5481
@ersinciftci will do. Sorry to bother you during the vacation.

[2018-12-19 22:13] ersinciftci commented on #5481
@zhx828 No worries :)

[2018-12-19 23:33] #5487 closed

[2018-12-19 23:33] #5488 closed

[2018-12-19 23:33] #5489 closed

[2018-12-20 00:54] zhx828 commented on #5478
This is now fixed on production.

[2018-12-20 00:54] #5478 closed

[2018-12-20 00:54] zhx828 commented on #5490
This is now fixed on production.

[2018-12-20 00:54] #5490 closed

[2018-12-20 00:55] zhx828 commented on #5481
@ersinciftci @jjgao this is now fixed on production.

[2018-12-20 00:55] #5481 closed

[2018-12-20 00:55] zhx828 commented on #5469
@tmazor this is now fixed on production.

[2018-12-20 00:55] #5469 closed

[2018-12-20 00:56] zhx828 commented on #5437
@pieterlukasse @ersinciftci @jjgao @paulcwvandijk hi guys this is now fixed on production.

[2018-12-20 00:56] #5437 closed

[2018-12-20 00:58] zhx828 commented on #5491
@jjgao we now only show this box when critical issue happens.

[2018-12-20 00:58] #5491 closed

[2018-12-20 00:58] zhx828 commented on #5476
@jjgao I believe this was a temporary issue. Both Aaron and I tested later and could not reproduce the issue.

[2018-12-20 00:59] zhx828 commented on #5500
@ersinciftci this issue has been solved.

[2018-12-20 00:59] #5500 closed

[2018-12-20 01:17] zhx828 opened #5503 "This VS does not work"
http://www.cbioportal.org/genie/study?id=5af36efd498eb8b3d5660e24

The summary endpoint returns 403

[2018-12-20 02:46] zhx828 opened #5504 "Study view tables no longer remember last sort by"
The table is sorted by Freq by default, but user could change that behavior. After changing and data of the table is changed, then the last sort by is gone.

Due to the recent change that we want to empty the search box if there is any data change to the table, then we ask the table component to rerender. But Niki also asked to remember the last sort by.

We don't rerender other charts when data c

[2018-12-20 02:55] zhx828 opened #5505 "EllipsisTextTooltip is not working in AddChartButton"
I found the issue before the release, but didn't not get a chance to solve yet.
The quick dig in, seems like `this.el.scrollWidth` is 0 in AddChartButton

- Go to http://www.cbioportal.org/study?id=lgg_tcga
- Click on Add Chart
- Hover any row with long text
- You don't see the tooltip

[2018-12-20 05:14] zhx828 opened #5506 "Server give unknown issue related to style from frontend"
I saw lots of errors thrown by the server side complaining the css style is not properly setup. Maybe related to PDF download.
The error message:
[code]

[2018-12-20 15:30] sentry-io[bot] opened #5507 "molecular data endpoint 500 Error: ERROR DIALOG SHOWN:Error: 500"
Sentry Issue: [SPA-PROD-28T](https://sentry.io/memorial-sloan-kettering/spa-prod/issues/815331489/?referrer=github_integration)

on this query, we see a 500 on molecular data endpoint

http://www.cbioportal.org/results/cancerTypesSummary?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=acbc_mskcc_2015%2Cbrca_metabric%2Cbreast_msk_2018%2Cbfn_duke_nus_2015%2Cbrca_bccrc%

[2018-12-20 15:31] jjgao commented on #5415
@ersinciftci @adamabeshouse I looked into this more and found that when querying WNT4, even if we have RPPA data in both groups, the Enrichments/Protein tab still does not show up.

http://bit.ly/2V31JGL

![image](https://user-images.githubusercontent.com/840895/50293493-b6eecf00-0441-11e9-9da2-3df7b0fc918d.png)

@adamabeshouse could you look into this as @ersinciftci is on vacation?

[2018-12-20 16:06] jjgao opened #5508 "Add Chart / Custom Group issue"
1. go to: http://www.cbioportal.org/study?id=msk_impact_2017
2. select Breast Cancer
3. Add Chart / Custom Groups
4. type "P-0000030" and "P-0000036" (both are NSCLC samples hence not selected)
5. error:
![image](https://user-images.githubusercontent.com/840895/50295899-21563e00-0447-11e9-84d2-6f64792ff350.png)

It looks like the IDs are compared to the currently selected list. We should compare t

[2018-12-20 16:20] jjgao commented on #4601
@sheridancbio it's not necessary to separate them into separate IDs. In the frontend, we are going to use it as one string, e.g. https://www.ncbi.nlm.nih.gov/pubmed/27158780,22802077,26804919.

[2018-12-20 17:09] zhx828 opened #5509 "Many we_api.ProtocolException"
This following error has been thrown many times
[code]

[2018-12-20 18:18] jjgao commented on #5507
Is it because of the the MIR-xx gene? @alisman

[2018-12-20 18:32] jjgao commented on #5492
After discussion, we will not do the list above. Instead:

- Add "Custom Selection" button before "+ Add Chart" button
- The button will lead to a dialog below

![image](https://user-images.githubusercontent.com/840895/50303621-a9464300-045b-11e9-8797-3185fec2364e.png)

[2018-12-20 18:38] dippindots commented on #5179
@jjgao Just want to confirm what do we want. When we click the "query" button, the page will redirect to the home page, and the visual study will be selected. And about the URL, do we want to keep it as "http://www.cbioportal.org/?cancer_study_id=5bdc9f43498eb8b3d5689cc9" or just "http://www.cbioportal.org/"?

[2018-12-20 19:56] #5477 closed

[2018-12-20 19:59] zhx828 commented on #5494
I think this issue has been solved after deploying the backend fix. https://github.com/cBioPortal/cbioportal/pull/5495 Close for now

[2018-12-20 19:59] #5494 closed

[2018-12-20 20:04] adamabeshouse commented on #5415
there seems to be a bug in the API where it's returning 0 samples with data for the RPPA profiles

[2018-12-20 21:09] dippindots commented on #5300
@tmazor Thanks for the perfect example and detailed explanation!

[2018-12-20 21:14] jjgao commented on #5415
@adamabeshouse are you looking into the api? Or maybe @onursumer can help look together?

[2018-12-20 21:48] ersinciftci commented on #5415
@jjgao Because `brca_tcga_rppa` profile doesn't have data for `WNT4` gene
[code]

[2018-12-20 21:49] jjgao opened #5513 "not to use oncokb when oncokb is deselected"
currently OncoKB is still shown when oncokb is deselected.

[2018-12-20 21:51] adamabeshouse commented on #5415
@ersinciftci so then looking at the oncoprint screenshot (and confirmed with the data in resultsViewPageStore) there must be a data inconsistency, or an inconsistency with the gene panel API?

[2018-12-20 21:51] jjgao commented on #5179
just http://www.cbioportal.org is fine.

[2018-12-20 21:52] adamabeshouse commented on #5513
* this is only true for CNA

[2018-12-20 21:58] dippindots commented on #5179
@jjgao Ok thanks! Will do.

[2018-12-20 22:01] jjgao commented on #5415
@ersinciftci it's not necessary for the RPPA profile to have WNT4 gene in order to test for enrichments. The idea is to test whether other genes are significantly different between the two groups. For example, there may be differently expressed proteins between the WNT4 mutant cases and wildtype cases even if WNT4 was not profiled by RPPA.

I just noticed that queryGenes were used in the query in

[2018-12-20 22:05] ersinciftci commented on #5415
@jjgao I think it works the way you described, Protein tab is just not visible due to https://github.com/cBioPortal/cbioportal/issues/5415#issuecomment-445923144 because as I said it checks if there is any molecular data for that gene in that profile and hides the tab if there is none.

[2018-12-20 22:09] ersinciftci commented on #5415
And the queryGenes is not there to check if it's altered or not, it's there to exclude it from the results so that the table in the frontend wouldn't show it. None of the enrichment endpoints had query genes parameters in the beginning, but I remember that I was requested to add it because we didn't want to see them in the table.

[2018-12-20 22:11] adamabeshouse commented on #5415
i think `queryGenes` is a confusing name then, it should be `excludeGenes` or something.

so then under what conditions *should* we hide the protein tab, if ever?

and there still seems to be a data inconsistency, as evident in the oncoprint screenshot..

[2018-12-20 22:13] jjgao commented on #5415
@ersinciftci ah. got it. Agreed with @adamabeshouse -- better to change it to excludeGenes.

@ersinciftci how do you explain in this query (http://bit.ly/2V31JGL), there is no Protein tab?

![image](https://user-images.githubusercontent.com/840895/50293493-b6eecf00-0441-11e9-9da2-3df7b0fc918d.png)

[2018-12-20 22:18] adamabeshouse commented on #5415
@ersinciftci i dont understand why it matters whether theres molecular data for the query genes in that profile, because it seems like all that matters would be having any molecular data at all in order to define the altered/unaltered groups? and then the enrichments are calculated for *other* genes in that profile w.r.t. those groups, right?

[2018-12-20 22:23] jjgao commented on #5415
@adamabeshouse right, I missed that "check if there is any molecular data for that gene in that profile." It shouldn't matter.

[2018-12-20 22:38] adamabeshouse commented on #5415
@ersinciftci oh I see. yeah you're right, that PR messed up the calculation of ...EnrichmentProfiles. I'll fix that

[2018-12-20 22:39] zhx828 commented on #5498
@ritikakundra @jjgao so I misunderstanding the meaning of this ticket. Are you saying after selecting 10k samples, the portal is slow to generate all charts? Or pasting sample ids into that box is slow before clicking on `add chart button`?

[2018-12-20 22:39] jjgao commented on #5415
@adamabeshouse I don't think we added gene panels for RPPA. We should do that. Will create a ticket.

[2018-12-20 22:42] jjgao commented on #5415
I guess all mysteries solved?

@ersinciftci you should turn off network for vaca :)

[2018-12-20 23:06] tmazor opened #5514 "gene tracks cannot be expanded"
If I click "expand" on a gene track, the page reloads but the OncoPrint never appears:
![image](https://user-images.githubusercontent.com/10508276/50315748-f2a98900-0481-11e9-88a7-d869410f1ee9.png)

http://www.cbioportal.org/results/oncoprint?session_id=5c1c206de4b09ccddade4ba7

[2018-12-20 23:36] jjgao opened #5515 "Move the logic of excluding query genes to frontend"
- [x] Remove `queryGenes` parameter from the three `Enrichments` endpoints
- [x] Move the logic to frontend: exclude a gene when it is queried and the enrichments result is from a queried profile -- [done in PR - Adam]
- [x] Remove q-value from api
- [x] Move q-value calculation to frontend (related: https://github.com/cBioPortal/cbioportal-frontend/pull/1852) - excluded genes should be excluded f

[2018-12-20 23:39] jjgao commented on #5415
@ersinciftci @adamabeshouse logged here (https://github.com/cBioPortal/cbioportal/issues/5515) about moving the exclusion logic to frontend.

@adamabeshouse please feel free to fix it together. (also ok to leave changes to the API later.)

[2018-12-21 15:25] alisman opened #5516 "Make sure studyview code does not directly observe router location"
This is important once we start adding more parameters to route.

[2018-12-21 15:58] jjgao commented on #5498
@zhx828 it's slow to generate the chart after you click "Add Chart". But I found that if you click "Use current select samples/patients" and click "Add Chart", it's not slow.

[2018-12-21 15:59] jjgao opened #5517 "typo"
"Use current selected samples/patients" => should be `currently`

[2018-12-21 18:33] tmazor opened #5518 "oncoprint add clinical track text disappears after adding"
The menu to add a clinical track normally has text saying "Add clinical tracks..."

If I open the menu and click a track, that text remains. But if I search to select a track, then the text goes away.
![dec-21-2018 13-31-00](https://user-images.githubusercontent.com/10508276/50357676-cb57c800-0524-11e9-86fe-1e714e95854b.gif)

[2018-12-21 19:05] adamabeshouse commented on #5518
paging @rnugraha @fedde-s

[2018-12-21 19:38] ersinciftci commented on #5455
Seems like this is fixed.

[2018-12-21 19:39] #5455 closed

[2018-12-21 20:53] #5414 closed

[2018-12-21 20:54] #5093 closed

[2018-12-22 00:53] #5206 closed

[2018-12-22 00:54] #5493 closed

[2018-12-22 00:56] #5508 closed

[2018-12-22 00:56] #5479 closed

[2018-12-22 00:56] #5492 closed

[2018-12-23 02:00] DarioS opened #5520 "Overlay a Mutation Signature on OncoPrint"
It would be beneficial to be able to choose a particular mutation type and add a symbol such as a vertical bar to the OncoPrint wherever it occurs. For example, being able to plot presence of C to A mutations in genes, a [somatic signature of tobacco smoking](http://science.sciencemag.org/content/354/6312/618), might be useful to head and neck cancer researchers. Someone researching melanoma might

[2018-12-26 15:30] kalletlak opened #5522 "Footer missing on study view page"

[2018-12-26 15:39] ersinciftci commented on #5515
I'll remove the `queryGenes` parameters from Enrichments endpoints and qValue field from enrichment and co-expression return types, and will delete `BenjaminiHochbergFDRCalculator.java` so only frontend will have the calculation code.

[2018-12-26 16:45] jjgao commented on #5515
@adamabeshouse: @ersinciftci's PR to remove queryGenes and q-values has been merged, let's work on the frontend soon.

[2018-12-26 17:00] tmazor opened #5524 "missing tooltip on homepage"
There used to be a tooltip on the pie chart icon that said "View study summary" but that seems to have disappeared in the latest version. Let's add that back.

[2018-12-26 17:02] jjgao commented on #5520
Hi @DarioS,

Thank you for the feature request. Visualization of mutational signatures is an area we would like to improve.

Currently, we have NT changes visualized in OncoPrint:

![image](https://user-images.githubusercontent.com/840895/50451938-1860e300-0905-11e9-9ea4-fc4200d9785e.png)

We also plan to integrate mutational signatures per sample:

https://github.com/cBioPortal/GSoC/issues/40

Fo

[2018-12-26 17:21] jjgao opened #5525 "save frontend states into session"
We have discussed saving frontend states into session and URL. We can start with OncoPrint.

In general, there are two sets of states we would like to save to the session.

1. core states that are essential, ie. currently the query parameters
2. optional states

For the core states in a session, we commit to them and should be backward compatible. For optional states, if we cannot understand them,

[2018-12-26 19:56] tmazor commented on #4737
All the screenshots are now up-to-date! And will immediately begin to fall out-of-date as we update more things :)

[2018-12-26 19:56] #4737 closed

[2018-12-26 19:56] jjgao opened #5526 "support Survival tab in cross-study query"

[2018-12-26 19:57] jjgao opened #5527 "support CN Segments tab in cross-study query"

[2018-12-26 20:05] jjgao commented on #5189
@alisman I think this is the last dependency to QueryBuilder. Let's prioritize this one.

[2018-12-26 20:05] jjgao commented on #2
I'll be fixed by https://github.com/cBioPortal/cbioportal/issues/5189

[2018-12-26 20:05] #2 closed

[2018-12-26 20:11] zhx828 commented on #5503
@jjgao this study contains two public studies(nsclc_tcga_broad_2016, lusc_tcga_pub) which are not presented in the genie portal. Need to follow up with Ino why this VS is even showing up in the genie portal. But in the similar scenario, what's the expected study view behavior? Showing some error message saying the study is not accessible?

[2018-12-26 20:15] jjgao commented on #5503
@zhx828 the problem is that we don't have a way to know where a virtual study is created and if I save a virtual study in private portal, it'll show up in genie portal. Let's discuss when @inodb is back.

[2018-12-26 23:00] DarioS commented on #5520
It would solve my analysis issue once it's released in a future version.

[2018-12-27 17:28] jjgao opened #5528 "discussion about mRNA data query"
This discussion was inspired by [a question from a user about inconsistency of mRNA data from different prostate studies](https://groups.google.com/d/msgid/cbioportal/c4fdbeb94812f59337870a4bb2607c88%40mail.irb.hr). Here is part of the discussion copied from emails.

JJ:
This type of question has come often. I think the term up/down-regulation is especially confusing as it indicates that the gene

[2018-12-27 17:59] jjgao opened #5529 "change up/down-regulation to high/low"
mRNA and protein up/down-regulation is confusing as it indicates that the gene is dysregulated in the sample (discussed in #5528).

![image](https://user-images.githubusercontent.com/840895/50489453-bcb25a80-09d5-11e9-980a-bcd7a01d9aa5.png)

Let's change them to high/low in the following tabs: OncoPrint, Cancer Types Summary, and Download.

@schultzn

[2018-12-27 17:59] jjgao commented on #5528
https://github.com/cBioPortal/cbioportal/issues/5529 for # 1.

[2018-12-27 18:30] #5520 closed

[2018-12-27 18:30] jjgao commented on #5520
Thanks again. Closing this for now.

[2018-12-27 18:39] jjgao commented on #34
closing this as it's too old.

[2018-12-27 18:39] #34 closed

[2018-12-27 18:41] #163 closed

[2018-12-27 21:08] tmazor commented on #5528
I think these are all great ideas - in particular highlighting the distribution and letting the user define the thresholds directly on the distribution seems helpful for putting the high/low calls in context.

[2018-12-27 23:25] jjgao opened #5532 "example links"
- [All TCGA Pan-Cancer](http://www.cbioportal.org/study?id=laml_tcga_pan_can_atlas_2018%2Cacc_tcga_pan_can_atlas_2018%2Cblca_tcga_pan_can_atlas_2018%2Clgg_tcga_pan_can_atlas_2018%2Cbrca_tcga_pan_can_atlas_2018%2Ccesc_tcga_pan_can_atlas_2018%2Cchol_tcga_pan_can_atlas_2018%2Ccoadread_tcga_pan_can_atlas_2018%2Cdlbc_tcga_pan_can_atlas_2018%2Cesca_tcga_pan_can_atlas_2018%2Cgbm_tcga_pan_can_atlas_2018%2

[2018-12-28 15:16] jjgao opened #5533 "virtual study not work"
It was a virtual study I previously saved in public portal.

http://www.cbioportal.org/study?id=5b5e3272498eb8b3d5672653

![image](https://user-images.githubusercontent.com/840895/50519560-81716380-0a89-11e9-889b-fcf01ea4c746.png)

[2018-12-28 15:41] zhx828 opened #5534 "SV should give user option when some sample are not available in the virtual study"
Often time, after user created the virtual study, some samples maybe removed, updated from origin studies. In current implementation, we only say they are no longer available anymore. But it would be nice to give an option to update the study.

There are two solutions here:
1. Allow user remove all unavailable samples
2. Apply original filters on selected studies and update the sample list

[2018-12-28 15:58] jjgao commented on #5534
We may want to provide both options.

1. If studies do not exist, warn user: "We were not able to find the studies xxx and yyy. It is possible that they were removed or renamed, or that you don't have access to them" and give the option to remove the study from the virtual study _if they are the owner_ of the VS.
2. If samples are updated, let user know "xx smaples were missing and yy new samples

[2018-12-28 16:39] #5456 closed

[2018-12-28 17:10] dippindots commented on #5526
@jjgao Seems like we have already support the survival tab in the cross-study query, so maybe the task is to add a warning message (data from multiple studies)?

[2018-12-28 17:32] zhx828 commented on #5533
@jjgao this issue is now fixed and deployed.

[2018-12-28 17:32] #5533 closed

[2018-12-28 17:32] #5474 closed

[2018-12-28 18:39] jjgao commented on #5533
It was because of renaming of study, the coad and rect tcga pancan study were merged into one.

[2018-12-28 18:50] jjgao opened #5535 "custom selection only work for the first study"
1. http://www.cbioportal.org/study?id=chol_nccs_2013%2Cchol_nus_2012
2. Custom Selection (or Add Chart -> Custom Groups):
[code]
3. only one sample is selected
![image](https://user-images.githubusercontent.com/840895/50525100-631a6080-0aa7-11e9-83a0-ed3e2ae03c51.png)

[2018-12-28 20:00] #5535 closed

[2018-12-28 21:08] zhx828 commented on #5535
@jjgao this issue is solved and deployed.

[2018-12-28 22:16] jjgao commented on #5526
@dippindots ah, I didn't realize we have enabled survival tab in cross-study analysis. I am closing this.

[2018-12-28 22:16] #5526 closed

[2018-12-28 22:47] ersinciftci opened #5536 "Add icons to the Results View tabs"
Something like:
<img width="1670" alt="screen shot 2018-12-28 at 5 12 25 pm" src="https://user-images.githubusercontent.com/3595704/50530089-873a6980-0ac8-11e9-8698-29727911c214.png">

Needs to be discussed further. These are the icons in font family that we are using:
https://fontawesome.com/v4.7.0/icons/

[2018-12-28 22:51] jjgao commented on #5536
notifying @cBioPortal/product @cBioPortal/frontend

[2018-12-29 14:03] jjgao opened #5537 "login directly on study view page does not enable saving virtual study"
refresh the page will show the save button.

![image](https://user-images.githubusercontent.com/840895/50539093-73364c80-0b48-11e9-9c3a-5ef6f4a16d68.png)

[2018-12-31 17:45] jjgao opened #5538 "Broken OQL for protein change with underscore"
e.g. `EGFR:E746_A750del` and `MET:X1010_splice`

This bug was introduced by https://github.com/cBioPortal/cbioportal-frontend/pull/1755 where underscore is used as a special character to support germline, e.g. `germline_missense`.

@adamabeshouse Is it still possible to use `_` for germline and driver while supporting it for protein change as well? If not easy, we might want to find another way to

[2019-01-02 18:51] adamabeshouse commented on #5536
To me, it feels a little cluttered, but I do like it. Maybe we can reduce the icon opacity?

[2019-01-02 20:17] adamabeshouse commented on #5538
fixed in https://github.com/cBioPortal/cbioportal-frontend/pull/1877/commits/216f13188c874164f7f9ae5dd5f3d8d5873865c3

[2019-01-02 21:10] adamabeshouse commented on #5415
fixed in `master`

[2019-01-02 21:10] #5415 closed

[2019-01-02 21:12] adamabeshouse commented on #5513
fixed in `master`

[2019-01-02 21:12] #5513 closed

[2019-01-03 01:04] schultzn opened #5539 "Sort by case list order not working in OncoPrint"
The Oncoprints seem to only be sortable by data, not by the case list oder.

[2019-01-03 01:08] schultzn commented on #5539
Never mind, I refreshed and tried again, and then it worked.

[2019-01-03 13:47] fedde-s opened #5540 "Connection pool config block does not show up in GitBook manual"
The section on [setting up the database connection pool](https://docs.cbioportal.org/2.1-deployment/deploying#set-up-the-database-connection-pool) doesn't show any of the XML tags you can see there [on GitHub](https://github.com/cBioPortal/cbioportal/blob/v1.18.1/docs/Deploying.md#set-up-the-database-connection-pool); only the ellipses show up.

I suspect that GitBook does not recognise the [inden

[2019-01-03 14:47] jjgao commented on #5220
![image](https://user-images.githubusercontent.com/840895/50643580-88dab600-0f3c-11e9-8444-e3ac52e94c84.png)

"Show labels for" can be added after the "Y-Axis Max" input box and a dropdown with "Most frequently mutated residue" selected by default. Let's give two more options: "All mutated residues" and "Residues with x or more mutations". When "residues with x or more mutations" is selected, add

[2019-01-03 14:50] sandertan commented on #3191
@n1zea144 @jjgao I fixed the importer for gene panels in a local branch. I'm currently adding some gene panel data validation. A PR should be ready early next week.

[2019-01-03 17:50] #5539 closed

[2019-01-03 21:51] adamabeshouse commented on #5496
merged in `master`

[2019-01-03 21:51] #5496 closed

[2019-01-03 21:52] adamabeshouse commented on #5514
fixed in `master`

[2019-01-03 21:52] #5514 closed

[2019-01-03 22:20] jjgao opened #5541 "define the data structure of a custom group"
the data structure of a custom group could be very similar to virtual study). A custom group should have it's own document in mongodb with a field linking to its parent study.

Note a custom group will always belong to one study or virtual study.

[2019-01-03 22:21] jjgao opened #5542 "support custom groups in session service"
data model defined in #5541

- [x] save
- [x] load by study ID and user email
- [x] update (name, sample list)

[2019-01-03 22:25] jjgao opened #5543 "Add a new custom group"
- [x] UI for adding currently selected samples as a new custom group

![image](https://user-images.githubusercontent.com/840895/50664813-61a3d900-0f7c-11e9-8388-739a592be6ae.png)

[2019-01-03 22:31] jjgao opened #5544 "custom group management"
- [x] UI for managing the custom groups
  - `Select` Button will select all samples in the selected groups in the study view page
  - `Compare` button will lead to the Comparison page
  - `Delete` button will delete the groups and a restore button should show once.
- [x] Only groups matching the study and user email will be listed

![image](https://user-images.githubusercontent.com/840895/50664920

[2019-01-03 22:31] jjgao opened #5545 "support custom groups within a study"
This is for Part 1 for the [Cohort/Group Comparison project](https://docs.google.com/document/d/1gkHJ6LQYpM5eoT7ROjA8tChgG0kndaw3iyBqnlx0iPU/edit#).

A custom group contains a list of samples within a study or virtual study.

- [x] define the data structure of a custom group #5541
- [x] support custom groups in session service #5542
- [x] add a new custom group #5543
- [x] custom group management

[2019-01-03 22:58] jjgao opened #5546 "Comparison button for pie chart"
A user can also go to the Comparison page from a pie chart and in that case, the groups are defined by the clinical attribute of the pie chart. Let's just use selected pies (or all pie charts if none selected) for comparison since a user can enable/disable groups in the comparison page.

- [x] add a `Compare` button to the bottom right of Piechart in study view

[2019-01-03 23:07] jjgao opened #5547 "access which store should be used to host the data for comparison page"
which store should be used to host the data for comparison page?
  - New store?
  - Study view store? There are some overlapping data, e.g. survival
  - Results page store? Mabye this is a good option since we could make all Comparison tabs avaialbe in Results page too in addition to the comparison page.

[2019-01-03 23:13] jjgao opened #5548 "group/cohort comparison"
This is for Part 2 for the [Cohort/Group Comparison project](https://docs.google.com/document/d/1gkHJ6LQYpM5eoT7ROjA8tChgG0kndaw3iyBqnlx0iPU/edit#).

Phase 1:
- [x] support custom groups within a study #5545
- [x] entry point to comparison page
  - [x] For custom groups: #5544
  - [x] For an existing attribute (pie chart) #5546
- [x] which store should be used to host the data for comparison page

[2019-01-03 23:18] jjgao commented on #5548
Once we have the Comparison page, we may want to rename the Enrichments tab in Results page to Comparison tab, which can include the Comparison subtabs to compare altered vs unaltered.

For Comparing without querying genes, we should go to the Comparison page.

[2019-01-04 14:31] kalletlak opened #5549 "sv: charts re-render when toggling between pie and table view when there are filters"

[2019-01-04 17:18] #5254 closed

[2019-01-04 18:41] jjgao commented on #5476
The issue is back. http://www.cbioportal.org/results/cancerTypesSummary?session_id=5c2fa8a8e4b05228701fa5d7

[2019-01-04 18:41] kalletlak opened #5550 "Support downloading of complete virtual study"

[2019-01-04 19:03] jjgao opened #5551 "Comparison page framework"
The framework of Comparison page could be similar to Results page.

We can have a display the Study with the groups on top and comparison tabs below. #5579

Let's use `/comparison` as the url.

[2019-01-04 19:11] jjgao opened #5552 "Group Overlap tab"
- [ ] API support
- [ ] When group <= 3: Venn diagram to show sample overlap between groups
- [ ] When groups >= 4: Stacked bar chart for each group and overlapping samples.
  - or bar charts of different combinations?

[2019-01-04 19:13] jjgao opened #5553 "Survival tab in Comparison page"
We should reused the component in Results and Study View.

[2019-01-04 19:16] jjgao opened #5554 "Clinical Data tab in Comparison page"
- [ ] API to support multiple groups
- [ ] Grouped Bar chart

![image](https://user-images.githubusercontent.com/840895/50706222-30cead00-102b-11e9-96f3-e2e68e536303.png)

- [ ] Stacked bar chart
![image](https://user-images.githubusercontent.com/840895/50706256-4c39b800-102b-11e9-98f1-460fa58b59fc.png)

- [ ] Statistical way to rank clinical attributes

[2019-01-04 19:19] jjgao opened #5555 "Mutations tab in Comparison page"
We will only display results in this tab when there are two groups to compare. We can still display the tab with a different style and some information to explain.

- [x] use the same component as Enrichments/Mutations tab in Results page
- [ ] support this tab when querying multiple physical studies

Should we call this tab "Enriched Mutations" in order to avoid the confusion with the Results tab

[2019-01-04 19:21] jjgao opened #5556 "Copy-Number tab in Comparison page"
We will only display results in this tab when there are two groups to compare. We can still display the tab with a different style and some information to explain.

- [x] use the same component as Enrichments/Copy-number tab in Results page
- [ ] support this tab when querying multiple physical studies

[2019-01-04 19:23] jjgao opened #5557 "mRNA in Comparison page"
We will only display results in this tab when there are two groups to compare. We can still display the tab with a different style and some information to explain.

- [x] use the same component as Enrichments/mRNA tab in Results page

[2019-01-04 19:24] jjgao opened #5558 "Protein tab in Comparison page"
We will only display results in this tab when there are two groups to compare. We can still display the tab with a different style and some information to explain.

- [x] use the same component as Enrichments/Protein tab in Results page

[2019-01-04 19:40] n1zea144 opened #5559 "clinical attribute type handling"
I was recently asked by GENIE folks if the cBioPortal could support "Unknown" and "Not Collected" values across all clinical attributes.  In parallel I was tracking down an issue with an incorrectly computed "Patient Current Age" and "Age at Which Sequencing was Reported" for a PEDs case (in PEDs cases we typically display ages as "<18" although we are going to lift this restriction soon - but tha

[2019-01-04 21:54] onursumer commented on #5220
Instead of a multi item menu, should we just add another simple slider with an input box (same UI with the Y-Axis Max) to control the number of visible labels? For example if the number is 3, it would show labels for the top 3 most frequently mutated positions? @jjgao @evanbiederstedt what do you think?

[2019-01-04 22:43] jjgao commented on #5547
Note that the Comparison page could be a subcomponent in the Results page later -- not sure if this makes any difference on this.

[2019-01-04 22:47] jjgao commented on #5220
@onursumer I like your idea!

[2019-01-04 23:22] onursumer commented on #4233
After merging cBioPortal/cbioportal-frontend/pull/1847, we can delay the loading of 3D alignment data until the user clicks on the "Add tracks" pulldown menu.

[2019-01-05 00:09] adamabeshouse commented on #5498
should be fixed in `master` now

[2019-01-05 00:09] #5498 closed

[2019-01-05 00:37] adamabeshouse commented on #4844
in `master`

[2019-01-05 00:37] #4844 closed

[2019-01-07 14:50] n1zea144 opened #5560 "whole slide viewer clinical attribute (msk)"
We've recently introduced a whole slide viewer (computational pathology slide viewer) url for msk-impact samples.  We are working with the CVR team to clean some of the data, but there are samples with valid URLs:
[P-0035379-cbioportal](https://cbioportal.mskcc.org/patient?studyId=mskimpact&caseId=P-0035379#navCaseIds=mskimpact:P-0035379)
[P-0035379-whole-slide-viewer](https://slides-res.mskcc.org

[2019-01-07 19:18] tmazor opened #5562 "study view - bugs when adding/removing charts while filter is applied"
Go to MSK Impact study view: http://www.cbioportal.org/study?id=msk_impact_2017
Select Breast Cancer
Add "Metastatic Site" chart
--> problem 1: it adds as a pie chart, but should add as a table since there are >20 values
Click the "x" on the Metastatic Site pie chart to remove it.
Click "Clear All Filters"
--> problem 2: when the page reloads without the filter, the Metastatic Site chart appears

[2019-01-07 19:31] evanbiederstedt commented on #5220
@jjgao @onursumer

I'm curious how you would best deal with ties. In the current plot, `Q1756Pfs*74` is labeled----I think this denotes it as important. But I don't think this is the most frequently mutated residue---`Q1756Pfs*74` is tied with the lollipop on the left. I don't think there's any biological significance here, right? `Q1756Pfs*74` is chosen for algorithmic reasons, e.g. it's sorted f

[2019-01-07 20:40] jjgao commented on #5220
@evanbiederstedt Good point. I would label both.

Maybe instead of pick top n amino acids, we could pick amino acids mutated in >=x samples?

[2019-01-07 20:49] tmazor opened #5564 "study view shows different charts in different browsers"
Viewing any study in Chrome vs Safari show different charts:
Example: http://www.cbioportal.org/study?id=blca_tcga_pan_can_atlas_2018

Chrome:
![image](https://user-images.githubusercontent.com/10508276/50792594-8dcc9c00-1293-11e9-98a5-dc25aef87820.png)

Safari:
![image](https://user-images.githubusercontent.com/10508276/50792564-71c8fa80-1293-11e9-876a-693449ce6b20.png)

Firefox:
![image](https:/

[2019-01-07 20:50] jjgao commented on #4233
@onursumer do you check if 3D structures available before adding it to the drop down?

[2019-01-07 20:51] jjgao commented on #5498
@ritikakundra please verify.

[2019-01-07 20:53] jjgao commented on #5560
@alisman please prioritize this one.

[2019-01-07 20:55] onursumer commented on #5220
@jjgao if we pick amino acids mutated in >=x samples, then we have less granular control over the exact number of labels displayed in case of a tie. But maybe we don't need that level of granularity anyway.

[2019-01-07 20:56] jjgao commented on #5562
@zhx828 I think both issues were reported. Could you link them?

[2019-01-07 20:56] jjgao commented on #5562
... and fix them :)

[2019-01-07 20:58] jjgao commented on #5220
@onursumer I don't we need that. The idea is to allow users to add the labels and later can be modified in Illustrator.

[2019-01-07 21:00] tmazor opened #5565 "study view - combined study view shows blank charts"
Go to http://www.cbioportal.org/study?id=brca_mbcproject_wagle_2017%2Cbrca_tcga_pan_can_atlas_2018

Click the plus sign to view the studies that are present. Click on the TCGA study. It will open in the same page. Then click the back button. Scroll down, and there are now many empty plots, which represent the charts that were visible in the TCGA study view but were not shown in the original combin

[2019-01-07 21:03] tmazor opened #5566 "combined study header links extend too far"
In a combined study, after clicking the plus sign to view the individual studies, I can have my mouse very far to the right and still select the individual study:
![image](https://user-images.githubusercontent.com/10508276/50793259-97ef9a00-1295-11e9-8934-4da05d6e7393.png)

The valid link area should only be where the text is.

[2019-01-07 21:14] tmazor opened #5567 "study view - chart priority in combined study"
Combined/virtual studies appear to respect the priority of specific charts from each study. While overall I think this is reasonable, I think we should consider some additional metrics, including data availability.

Go here: http://www.cbioportal.org/study?id=5c33c0a1e4b09ccddade5b4f

The majority of visible charts are N/A for ~95% of samples. These charts all come from the MBC project which has a

[2019-01-07 21:17] zhx828 commented on #5567
@tmazor we did have the conversation, and it was exactly you want to implement. But for bigger studies, the data availability cannot be retrieved in a desired amount of time. So we decided to only calculate the availability when user tries to add a new chart.

[2019-01-07 21:30] tmazor opened #5568 "virtual study description doesn't capture w/ mutations/CNA filters"
If I apply filters for "w/ mutations" and "w/ CNA" and then create a virtual study, the description doesn't mention those filters (although the same number included does reflect the filters)

![image](https://user-images.githubusercontent.com/10508276/50794582-801a1500-1299-11e9-9ea2-ad39e72e95a3.png)

[2019-01-07 22:00] adamabeshouse opened #5569 "plots stacked bar - not enough room for legend labels"
![image](https://user-images.githubusercontent.com/636232/50795902-c1acbf00-129d-11e9-8d06-fdbfb2cc34e8.png)

[2019-01-07 22:56] jjgao opened #5570 ""Show VUS" is not reset after Modify Query"
- http://bit.ly/2VB5Da0
- Mutations -> uncheck "Show UVS"
- Modify Query
- Submit Query
- "Show VUS" is still unchecked.

Other menu items will be reset after Modify Query. Let's do it consistently

[2019-01-07 23:04] jjgao commented on #5567
@zhx828 I am wondering if we should reorganize charts once we load up all data?

[2019-01-07 23:06] zhx828 commented on #5567
@jjgao I think depends on whether user has looked at charts yet. If will create confusion when we reshuffling the charts. Or we could add a button to allow user reshuffles the charts. Or automatically reshuffling but give a message if did so.

[2019-01-07 23:09] jjgao commented on #5567
@zhx828 I usually don't do anything before all the data are loaded. Maybe we can have another step to reshuffle the data once they are loaded. We can actually tell the user we are doing that in the message.

@tmazor what do you think?

[2019-01-07 23:14] zhx828 commented on #5567
@jjgao @tmazor quick note here, we are not loading data availability by default in the initial loading. Only after user clicks the `Add Chart` button

[2019-01-07 23:22] zhx828 commented on #5562
Hm I can't reproduce the issue though. @jjgao can you?

[2019-01-07 23:23] zhx828 commented on #5562
The first issue was solved a while ago.

[2019-01-07 23:30] jjgao commented on #5567
Ideally, we further improve the performance of "data availibility" api and then we can take that into consideration too. Maybe that should be the way to go.

cc'ing @ersinciftci @n1zea144

[2019-01-07 23:33] jjgao commented on #5562
both seem fixed. I was able to reproduce a few hours ago... closing

[2019-01-08 00:36] ersinciftci commented on #5567
Not sure if there is much wiggle room in the data availability API, I already rewrote it in an optimized way and now MSK-IMPACT takes around 1 sec and Genie takes 5 secs.

[2019-01-08 02:20] jjgao commented on #5567
It may require some fundamental change to db or caching. @n1zea144 and I are thinking of caching all json results from api (buying a lot of disk space).

[2019-01-08 15:32] tmazor commented on #5562
This is still happening for me - I've tested chrome & safari and both issues happen in both browsers

[2019-01-08 16:11] jjgao commented on #5562
hmm.. strange. I tried again and had the same issues. But after refreshing, the issues were gone.

[2019-01-08 16:32] jjgao commented on #5541
@kalletlak could you add a mock data for the current virtual study and we can start from there?

[2019-01-08 16:36] jjgao opened #5574 "define the input for the comparison page"
In the most generic form, it can be a list of groups of samples. The data format of a "group of sample" can be a simplified version of as [custom group](https://github.com/cBioPortal/cbioportal/issues/5541), e.g.

[code]

In the future, we can also support filters to define groups of samples.

[2019-01-08 16:39] zhx828 commented on #5324
@jjgao I can update this to Deletion in OncoKB. But portal also annotates this variant on Mutation Type as Fusion.

[2019-01-08 16:54] tmazor commented on #5562
weird... even with a hard refresh, it happens consistently for me.

[2019-01-08 17:47] kalletlak commented on #5541
This is how it looks in mongoDB. And seems like filter object is outdated, need to replace it with new StudyView filter object
[code]

[2019-01-08 18:02] kalletlak commented on #5541
@jjgao I have couple of questions

1. does user needs to be logged in to save group (I mean is this feature only for authenticated portal)?
2. about `Note a custom group will always belong to one study or virtual study.`, what if user tries to query multiple studies( without saving it as a virtual study) and save a new group -> to which study is this group mapped to?

[2019-01-08 19:18] jjgao commented on #5562
hmm.. I am wondering if we have some inconsistency between the two servers. @inodb is deploying the new version. Let's try after that.

[2019-01-08 20:00] tmazor commented on #5562
I just tried and I still see both issues

[2019-01-08 20:27] sentry-io[bot] opened #5576 "Error: ERRORHANDLER:TypeError: e.props.store.geneCache.get(...).data is null"
Sentry Issue: [SPA-PROD-291](https://sentry.io/memorial-sloan-kettering/spa-prod/issues/815437416/?referrer=github_integration)

[code]

[2019-01-08 21:02] onursumer commented on #4233
@jjgao currently if 3D data is not available, we still show the 3D option in the menu, but it is disabled.

[2019-01-08 21:55] #5515 closed

[2019-01-08 22:02] jjgao commented on #5562
@tmazor could you try in another browser or in incognito? Trying to figure out if it's caching issue.

[2019-01-08 22:21] tmazor commented on #5562
I just tried incognito mode in chrome & safari and it happens in both

[2019-01-08 22:35] jjgao commented on #5562
This is very strange. @zhx828 any thoughts?

[2019-01-08 22:45] jjgao commented on #5541
Yes

I don't have a good solution for that. I could think of three options when multiple studies/virtual studies are present:

1. Allow associate a custom group with multiple studies.
2. Allow saving groups but only temporarily (not saving to session service) -- it won't load up next time the the same studies are opened.
3. Don't give the option for saving groups at all.

# 1 can be confusing. For

[2019-01-08 22:47] jjgao commented on #5541
@kalletlak could you also add an example file for a query session?

[2019-01-08 22:49] jjgao opened #5578 "save comparison sessions into session service"
Similar to query sessions, we should save a comparison session (#5574) to session service.

http://cbioportal.org/comparison?session_id=xxxxdkdkekkk

[2019-01-08 22:55] jjgao opened #5579 "toggle groups to compare in comparison page"
We can use the part above the tab to do this.

- Study name with a link to the study (similar to results page)
- Group names (with number of samples in each group) which can be toggled on/off for comparison

![image](https://user-images.githubusercontent.com/840895/51342776-c07c4e80-1a62-11e9-808e-25761fb3ad6c.png)

[2019-01-08 23:08] jjgao commented on #4233
@onursumer I see. I think we should add an api in g2s that allow us to ask whether there is data at all for a transcript.

[2019-01-08 23:14] jjgao commented on #4233
@onursumer https://github.com/genome-nexus/g2s/issues/53.

[2019-01-09 15:51] alisman opened #5580 "Add link to oql tutorial from oql doc page (and a page title)"
The link needs to be added to the oql documentation markdown on github

link: (make sure it's relative)
http://www.cbioportal.org/tutorials#oql

[2019-01-09 16:18] #5516 closed

[2019-01-09 16:22] zhx828 commented on #5565
@tmazor @jjgao just cross referencing another issue related to this. If we open a new tab when click on the study link, this issue will go away.
Questions here:
- Should I open a new tab? @tmazor please see discussion here https://github.com/cBioPortal/cbioportal/issues/5480
- If yes, do I still need to fix this issue?

[2019-01-09 16:51] zhx828 commented on #5562
@jjgao I was thinking the same thing. The latest code was not deployed to both servers. But at the time Tali tested yesterday 3pm. We have redeployed all wars to both servers. And the second issue on this ticket, it looks like a side effect of the first issue. But the thing is I tried both Chrome and Safari several times. I can't reproduce the issue.

[2019-01-09 20:09] tmazor opened #5583 "genie samples are mislabeled as "not profiled in mutations""
I don't know if this is a data issue or an OncoPrint issue, but something is definitely wrong:

Go to this link, zoom in, and take a look at the first case in the OncoPrint:
http://www.cbioportal.org/genie/results/oncoprint?clinicallist=NUM_SAMPLES_PER_PATIENT%2CPROFILED_IN_genie_public_cna&session_id=5c36516be4b09ccddade5f14&show_samples=true

Hover over SOS1 for the first sample - it says "Not P

[2019-01-09 20:13] kalletlak opened #5584 "SV: StudyViewFilter object not saved into Virtual study"

[2019-01-09 20:47] zhx828 commented on #5584
This issue is related to https://github.com/cBioPortal/cbioportal/issues/5568

[2019-01-09 21:24] zhx828 opened #5585 "Chart download TSV data should only contain the current selected samples"
When you use the download of pie chart, bar chart, the current selected samples' data should be downloaded

[2019-01-09 21:38] ritikakundra commented on #5583
@tmazor: In 4.1 the CNA profiling in the matrix file was not part of the file coming in from SAGE. Therefore it was using WXS as default and stating it is profiled in CNA. But Sage has now added the CNA profiling data in the matrix file so with 5.0 update, this will be rectified.

[2019-01-09 21:57] #5562 closed

[2019-01-09 21:59] tmazor commented on #5583
Thanks for the explanation @ritikakundra. When will the 5.0 update be released? Is it possible to update this sooner? Until that point, we're showing incorrect data to our users.

[2019-01-09 23:17] jjgao opened #5586 "querying a virtual study in study view page will query all samples in the patient studies"
-http://www.cbioportal.org/study?id=5bdb7171498eb8b3d5689a32
-submit a query

[2019-01-09 23:46] jjgao commented on #5580
@tmazor could you take this one?

[2019-01-09 23:46] jjgao commented on #5580
@tmazor maybe also add it to News.

[2019-01-09 23:55] jjgao opened #5587 "why the origin of virtual study is the list of studies?"
wy do we need it if we already encoded them in the `studies` field?

![image](https://user-images.githubusercontent.com/840895/50844405-a80c8580-1338-11e9-8eea-a666a5305830.png)

[2019-01-09 23:55] jjgao commented on #5587
What do we store in orgin for query sessions?

[2019-01-10 03:09] jjgao opened #5588 "always show germline note and glyph for germline mutations"
When a patient have both germline and somatic mutation in the same gene, sometimes we don't show the germline glyph and the "germline" note in tooltip. We should show both.

https://cbioportal.mskcc.org/results/oncoprint?session_id=5c3643a2e4b09ccddade5ec4

[2019-01-10 03:12] jjgao opened #5589 "separate session services / collections for different portals"
Currently, they are all together for private portals leading to virtual studies listed in wrong portal.

[2019-01-10 03:25] schultzn opened #5590 "Study view gene query box: can we eliminate the automatically added semi-colons?"
This applies only when a user selects genes from the tables.

This looks nice:
![image](https://user-images.githubusercontent.com/11892704/50944034-d1263680-145c-11e9-9a0c-40c64c887fe7.png)

But once you want to edit it and click into the box, it converts to one gene per row with a semi-colon.

![image](https://user-images.githubusercontent.com/11892704/50944087-06cb1f80-145d-11e9-9443-991f7f9ec96

[2019-01-10 14:02] tmazor commented on #5580
I updated the documentation page yesterday but it appears the links to the Tutorials page didn't work. @alisman could you take a look and see why the links don't come through from the markdown?

@jjgao once we have the documentation page sorted, then I will write up a blurb for the News page about all the new OQL features!

[2019-01-10 14:22] kalletlak commented on #5587
`studies` represent physical studies in that virtual study. We need origin to track on how a virtual study is created(if its created from another virtual study)

[2019-01-10 15:13] alisman commented on #5580
@tmazor you need to use the github flavored markdown for links.  E.g.:

`Additional explanation and examples using OQL are available in the [OQL tutorial](http://www.cbioportal.org/tutorials#oql).`

[2019-01-10 15:22] tmazor commented on #5580
Thanks @alisman - I've created an updated PR with that fixed.

Also I think you said adding the title to the page is a non-markdown fix, right? Could you add that?

[2019-01-10 16:39] kalletlak commented on #5541
query session objects can contain any fields(no validation)
here are couple of examples
1. for single-study query
[code]
2. for multi-study query
[code]

[2019-01-10 16:48] jjgao commented on #5560
@dippindots please add it as an i-frame to patient view similar to http://www.cbioportal.org/patient?studyId=ucec_tcga_pub&caseId=TCGA-BK-A0CC. We only need it for the mskimpact study on the msk portal.

[2019-01-10 17:32] jjgao commented on #5587
@kalletlak I see. I was confused and thought was was meant to be the Origin in the html request header.

[2019-01-10 17:32] #5587 closed

[2019-01-10 17:42] jjgao commented on #5541
I think the virtual study format is exact what we need here too. Comments?

[code]

[2019-01-10 19:40] zhx828 commented on #5590
@schultzn @jjgao I can change to one line separate by space. But base on our design, after validating the query fragment, we always attach a semicolon afterward. Is it ok showing as `APC; TP53; BRAF:600E;`?

[2019-01-10 19:45] jjgao commented on #4983
@zhx828 let's prioritize this. I am thinking that maybe we shouldn't use the json directly and instead, come up with a human-readable format for the url.

[2019-01-10 19:56] schultzn commented on #5590
But we don’t do that on the main query page, do we?

[2019-01-10 20:30] zhx828 commented on #5590
@schultzn the box is inline with the query box in the query page. Just consulted with @adamabeshouse : that semicolon is essential when you have a mutation for the gene. So we can do here is to remove the semicolon when there is no mutation attached. The query will look like `APC TP53 BRAF:V600E; EGFR`

[2019-01-10 20:46] adamabeshouse commented on #5590
not just mutation but any alteration - if you have the form `GENE:` with the colon, you'll need a semicolon to do another gene on the same line

[2019-01-10 21:06] schultzn commented on #5590
Thanks!

[2019-01-10 22:46] zhx828 commented on #5562
@tmazor @jjgao this issue is now solved and deployed.

[2019-01-10 22:48] zhx828 commented on #5324
@jjgao this issue is now solved and deployed.

[2019-01-10 22:48] #5324 closed

[2019-01-10 23:10] jjgao commented on #5532
@inodb let's hold off adding the oncohistone links since the paper of the dataset is still being finalized.

[2019-01-11 00:33] #5242 closed

[2019-01-11 13:51] tmazor opened #5594 "make deep links work with SPA"
Links directly to questions/answers on the FAQ page don't work now that we've switched to SPA (e.g. this link http://www.cbioportal.org/faq#what-data-types-are-in-the-portal doesn't go to that question).

@alisman could you look into possible solutions for this?

[2019-01-11 14:04] ecerami opened #5595 "Graph ML comments are out of date"
If I navigate to:  http://www.cbioportal.org/results/network?Action=Submit&RPPA_SCORE_THRESHOLD=2.0&Z_SCORE_THRESHOLD=2.0&cancer_study_list=gbm_tcga&case_set_id=gbm_tcga_cnaseq&data_priority=0&gene_list=EGFR&geneset_list=%20&genetic_profile_ids_PROFILE_COPY_NUMBER_ALTERATION=gbm_tcga_gistic&genetic_profile_ids_PROFILE_MUTATION_EXTENDED=gbm_tcga_mutations&tab_index=tab_visualize

and click the netw

[2019-01-11 14:56] jjgao commented on #5595
@alisman not high priority if tricky to fix.

[2019-01-11 15:57] jjgao opened #5596 "duplicate genes are now not allowed"
For example, when querying `EGFR:AMP;EGFR:MUT;`, it keeps redirecting me to the query page.

I think it was introduced by https://github.com/cBioPortal/cbioportal-frontend/pull/1894

[2019-01-11 16:11] tmazor opened #5597 "provide user feedback if oncoprinter input data is space-delimited"
OncoPrinter requires tab-delimited data. However, it will accept space-delimited data without any error message or feedback to the user.

Try submitting this data:
TCGA-25-2392-01 TP53 FUSION FUSION
TCGA-25-2393-01 TP53 FUSION FUSION

The submission goes through and a blank OncoPrint loads:
![image](https://user-images.githubusercontent.com/10508276/51045401-7c380c80-1591-11e9-8a4a-95f96252ea41.pn

[2019-01-11 16:18] inodb opened #5598 "Running database on non 3306 port doesn't work anymore"
When using the non default port e.g. 3304 the app fails to start:

[code]

[2019-01-11 18:43] tmazor commented on #5583
@jjgao @schultzn do you know when the next GENIE data will be released? I'm concerned about the consequences of not having correct gene panel data for CNAs in the current public release.

[2019-01-11 18:50] tmazor opened #5599 "profiled in mutations/copy number tracks don't always appear"
Start in a combined study like this one: http://www.cbioportal.org/study?id=paad_icgc,paad_qcmg_uq_2016,paad_tcga_pan_can_atlas_2018

Run a query from study view, and there will be a "Profile in..." track:
![image](https://user-images.githubusercontent.com/10508276/51053248-28382280-15a7-11e9-9cf3-b205377db0ea.png)

Return to study view and apply a filter (e.g. TP53 mutations) and then run a query

[2019-01-11 19:02] tmazor opened #5600 "some filters break study view"
Go here: http://www.cbioportal.org/study?id=paad_icgc,paad_qcmg_uq_2016,paad_tcga_pan_can_atlas_2018

Select Sex = Male

Watch the page fail to reload and go blank.

This only happens for certain filters. Filtering for Person Gender = Male works but Person Gender = NA fails.

[2019-01-11 19:31] jjgao commented on #5598
@inodb any insights about what change has caused this? (trying to figure out whom this should be assigned to.)

[2019-01-11 19:32] ritikakundra commented on #5583
@tmazor 5.0 is out now. Can you check your link again? (I think its fixed now)

[2019-01-11 19:38] tmazor commented on #5583
yup, it is fixed now! thanks @ritikakundra

[2019-01-11 19:38] #5583 closed

[2019-01-11 20:09] jjgao commented on #5560
@n1zea144 @angelicaochoa : @dippindots is almost done with the frontend part. We have a small issue. For patients with multiple samples and multiple slides, we will need to need to change the URL to have all the IDs. We are wondering if it makes sense to change the attribute to path_slide_ids instead of url and we can assemble the url in the frontend?

[2019-01-11 20:21] angelicaochoa commented on #5560
@jjgao I would be fine with that. I'll wait for @n1zea144 to comment

[2019-01-11 21:30] inodb commented on #5598
Discussed in person. I can't remember last time i tested this functionality. So could be quite a while ago unf. But it's prolly not that urgent, not sure who's using a non-default port

[2019-01-11 22:40] jjgao commented on #5560
@angelicaochoa thanks, let's wait for @n1zea144's comment.

[2019-01-11 22:53] zhx828 commented on #5600
In this case, study `paad_tcga_pan_can_atlas_2018` has CNA data but not the rest of two.
`paad_tcga_pan_can_atlas_2018` uses `Person Gender`
`paad_icgc,paad_qcmg_uq_2016` `paad_tcga_pan_can_atlas_2018` use `Sex`

So when you chose `Male` from `Sex` attribute, the page wants to load CNA data but not available.

I will schedule a fix. @tmazor @jjgao I will show `0 w/ CNA data` on the top.

[2019-01-14 15:47] tmazor commented on #2996
We have another user request for this: https://groups.google.com/forum/#!topic/cbioportal/XDhP9JNpbwU

@jjgao can we prioritize this?

[2019-01-14 16:08] #5600 closed

[2019-01-14 16:43] inodb opened #5601 "quick search metrics"
Tracking:

For search result that was clicked on:

- [ ] category (gene, study or patient)
- [ ] search term at time of click
- [ ] length of search term at time of click
- [ ] position of hit in list (like is it the 1st or middle, or last item?)

Total usage:

- [ ] how many users are using this feature?

[2019-01-14 16:47] #5409 closed

[2019-01-14 16:50] #5300 closed

[2019-01-14 16:53] #4183 closed

[2019-01-14 21:08] #5537 closed

[2019-01-14 21:45] #5136 closed

[2019-01-14 21:46] #1527 closed

[2019-01-14 21:46] #5355 closed

[2019-01-14 21:46] #5462 closed

[2019-01-14 21:46] #5361 closed

[2019-01-14 21:49] #4991 closed

[2019-01-14 21:49] #4514 closed

[2019-01-14 21:50] #4335 closed

[2019-01-14 22:04] #4940 closed

[2019-01-14 22:06] #5153 closed

[2019-01-15 14:51] kalletlak commented on #5550
1. Show virtual studies in dataset page(http://www.cbioportal.org/datasets)
2. Download virtual studies same as physical studies, which includes all clinical and genomic data.

Limitations
Gathering genomic data would be tricky. Most of the data is in csv format, which requires lot of processing.

[2019-01-15 15:57] zhx828 opened #5603 "API 500 in study view"
After fixing issue(https://github.com/cBioPortal/cbioportal/issues/5600), I notice the `api/cna-genes/fetch` returns 500 after selecting `Male`

Reproduce:
- Go here: http://www.cbioportal.org/study?id=paad_icgc,paad_qcmg_uq_2016,paad_tcga_pan_can_atlas_2018
- Select Sex = Male
- Take a look the Network

[2019-01-15 15:58] zhx828 commented on #5600
@tmazor @jjgao the issue has been fixed and deployed, but fount another backend related issue(https://github.com/cBioPortal/cbioportal/issues/5603)